---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=888&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 41CD2184316D4F3CB1E0091188076EE3
      X-Msedge-Clientid:
      - 1E1053E76C99673F2B1D5FC76D4E6665
      X-Msapi-Userstate:
      - 454e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=092E990ADA134BB49C29DFB5837749C8&CID=1E1053E76C99673F2B1D5FC76D4E6665&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=092E990ADA134BB49C29DFB5837749C8&CID=1E1053E76C99673F2B1D5FC76D4E6665&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5540.1", "totalEstimatedMatches": 63, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Farming,
        Fishing and Forestry Careers | USAGov", "url": "https:\/\/www.usa.gov\/farming-fishing-forestry-careers",
        "urlPingSuffix": "DevEx,5081.1", "displayUrl": "https:\/\/www.usa.gov\/farming-fishing-forestry-careers",
        "snippet": "Learn about the careers in farming, fishing and forestry. ...
        (toys and food treats, ... Find out how to start working with animals and
        why your dog''s needs healthy ...", "dateLastCrawled": "2018-06-28T04:10:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Personal
        Insurance | USAGov", "url": "https:\/\/www.usa.gov\/personal-insurance",
        "urlPingSuffix": "DevEx,5099.1", "displayUrl": "https:\/\/www.usa.gov\/personal-insurance",
        "snippet": "Learn about different types of personal insurance, such as health
        and disability insurance.", "dateLastCrawled": "2018-06-22T18:26:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "A-Z Index
        of U.S. Government Departments and Agencies", "url": "https:\/\/www.usa.gov\/federal-agencies\/a",
        "urlPingSuffix": "DevEx,5117.1", "about": [{"name": "Federal government of
        the United States"}], "displayUrl": "https:\/\/www.usa.gov\/federal-agencies",
        "snippet": "Directory listing for federal agencies and departments: A", "dateLastCrawled":
        "2018-06-27T23:24:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3",
        "name": "Animal Care and Science | USAGov", "url": "https:\/\/www.usa.gov\/animal-science-careers",
        "urlPingSuffix": "DevEx,5136.1", "displayUrl": "https:\/\/w[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=888&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      B[...]
