---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=888&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 180DE124DEBA4B2E9100C2FBC46457F9
      X-Msedge-Clientid:
      - 0ED82670C50C61572C4E2A90C4DB60D5
      X-Msapi-Userstate:
      - 5aba
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=7630F6ACCBAB4351B9CFECB7001F8EC5&CID=0ED82670C50C61572C4E2A90C4DB60D5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=7630F6ACCBAB4351B9CFECB7001F8EC5&CID=0ED82670C50C61572C4E2A90C4DB60D5&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5207.1", "totalEstimatedMatches": 76, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Links
        | Go.USA.gov", "url": "https:\/\/go.usa.gov\/shorturl\/user\/32?page=6&sort=asc&order=Date",
        "urlPingSuffix": "DevEx,5044.1", "displayUrl": "https:\/\/go.usa.gov\/shorturl\/user\/32?page=6&sort=asc&order=Date",
        "snippet": "Consumer Focus: Sports Health and Safety - Sports are a good way
        to exercise and stay healthy and fit. To make sure you can enjoy sports
        for a long time, you need to take care of yourself 994"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Links | Go.USA.gov", "url": "https:\/\/go.usa.gov\/shorturl\/user\/6?page=12&sort=asc&order=Clicks",
        "urlPingSuffix": "DevEx,5056.1", "displayUrl": "https:\/\/go.usa.gov\/shorturl\/user\/6?page=12&sort=asc&order=Clicks",
        "snippet": "WhiteHouse.gov is the official web site for the White House and
        President Barack Obama, the 44th President of the United States. This site
        is a source for information about the President, White House news and policies,
        White House history, and the federal"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "Links | Go.USA.gov", "url": "https:\/\/go.usa.gov\/shorturl\/user\/6?page=7&sort=asc&order=Info",
        "urlPingSuffix": "DevEx,5068.1", "displayUrl": "https:\/\/go.usa.gov\/shorturl\/user\/6?page=7&sort=asc&order=Info",
        "snippet": "Breast Cancer Awareness. The best way to find breast cancer early
        is with a mammogram. If you are a woman age 40 years or older, be sure to
        have a screening mammogram every one to two years.", "dateLastCrawled": "2018-12-19T09:01:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "Links
        | Go.USA.gov", "url": "https:\/\/go.usa.gov\/shorturl\/user\/32?page=22&sort=asc&order=Info",
        "urlPingSuffix": "DevEx,5080.1", "displayUrl": "https:\/\/go.usa.gov\/shorturl\/user\/32?page=22&sort=asc&order=Info",
        "snippet": "This is a great booklet that has practical ways to cut everyday
        costs on insurance, credit, utilities, food, and more. 79[...]
