---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=hello%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3BA2667F4EFD4651BF1428003724817B
      Bingapis-Sessionid:
      - F9DA6E675CB147BBBEDC4AD8DACE0686
      X-Msedge-Clientid:
      - 371CFB3EC63F67EF0528F5C1C7C266B6
      X-Msapi-Userstate:
      - 5c8d
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=163,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "hello
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hello+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 3470000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Print Out Your VA Welcome Kit | Veterans Affairs", "url": "https:\/\/www.va.gov\/welcome-kit\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.va.gov\/welcome-kit",
        "snippet": "Whether you’re just getting out of the service or you’ve been
        a civilian for years now, the VA Welcome Kit can help guide you to the benefits
        and services you’ve earned. Based on where you are in life, your VA benefits
        and services can support you in different ways. Keep your welcome kit handy
        ...", "dateLastCrawled": "2020-07-03T18:04:00.0000000Z", "language": "en",
        "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Volunteer- Rhode Island -Office of Healthy Aging", "url": "http:\/\/oha.ri.gov\/get-involved\/volunteering\/",
        "isFamilyFriendly": true, "displayUrl": "oha.ri.gov\/get-involved\/volunteering",
        "snippet": "In the wake of COVID-19 we have developed Project HELLO, a volunteer
        based effort that connects isolated older adults who are in need of socialization
        to friendly vo[...]
