= analytics_center_breadcrumbs @page_title

.span-24
  %h2= display_most_recent_daily_search_module_stats_date_available(@day_being_shown)

  = render :partial => "analytics/shared/search_modules_stats", :locals => { :search_module_stats => @search_module_stats }
