%h2
  Contact information
- form_for @user, :url => {:action => "update_contact_information"}, :html => {:class=>"bordered"} do |f|
  = f.error_messages(:header_message => nil, :class => "error")
  = render :partial => 'edit_contact_information_form', :object => f
  = f.submit "Next"
