%textarea{ :readonly => true, :id => "embed_stats_code_textarea" }
  :escaped
    <script type="text/javascript">
      //<![CDATA[
        var aid = "#{@affiliate.name}";
      //]]>
    </script>
    #{javascript_include_tag_with_full_path 'stats.js'}
