.get-the-code
  %h2.sub-title Get the code
  %ol
    %li
      %strong
        CUSTOMIZE YOUR SEARCH
      %p
        Use the options on the left to further customize the search experience for your site's visitors.
    %li
      %strong
        INDEX YOUR CONTENT
      %p
        We recommend that you place this snippet of code before the closing </body> tag on all your sites' pages to make it easier for us to discover and index your content.
      = find_and_preserve do
        #embed_code_english.span-24
          = render :partial => 'embed_stats_code_text_area'
    %li
      %strong
        UPDATE YOUR SEARCH FORM CODE
      %p
        Copy and paste this code into your page(s) where the search box should appear.
      = find_and_preserve do
        #embed_code_english.span-24
          = render :partial => 'embed_code_text_area', :locals => { :locale => @affiliate.locale }