%h2
  Site information
- form_for @affiliate, :html => {:class=>"bordered"} do |f|
  = f.error_messages(:header_message => nil, :class => "error")
  = render :partial => "new_site_information_form", :object => f
  = f.submit "Next"