= affiliate_center_breadcrumbs('Add New Affiliate')

%h1 New Affiliate
.span-20
  - form_for @affiliate, :html => {:class=>"bordered"} do |f|
    = f.error_messages(:header_message => nil, :class => "error")
    = render :partial => "form", :object => f
    = f.submit "Create"
