- now = Time.now.to_i
= fields_for "affiliate[connections_attributes][#{now}]", Connection.new do |f|
  :plain
    jQuery('.connections-items table').append("#{escape_javascript(render('connection_fields', :f => f, :index => now))}");
    setupConnections();
