- now = Time.now.to_i
:plain
  jQuery('.youtube table tbody').append("#{escape_javascript(render('youtube_handle_fields', :youtube_handle => '', :index => now))}");
  jQuery('.youtube table tbody input').last().focus();

