.site-specific
  = affiliate_center_breadcrumbs([link_to(@affiliate.display_name, affiliate_path(@affiliate)), link_to('Edit Social Media', edit_social_media_affiliate_path(@affiliate)), "Social Media Preview"])
  %h1
    = render_title_for_social_media_preview(params[:profile_type])
  = render_help_link(@help_link)
  - if @recent_social_media.nil?
    We could not find the profile specified.  Please try again.
  - elsif @recent_social_media.empty?
    There are no social media associated with this profile.  If you just added this profile to your account, we might still be indexing them; please check back soon.
  - else
    = render_social_media_preview(@recent_social_media)
