---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=<GOOGLE_SEARCH_CX>&key=<GOOGLE_API_KEY>&lr=lang_en&q=pdf%20site:nps.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "usageLimits",
            "reason": "accessNotConfigured",
            "message": "Access Not Configured. CustomSearch API has not been used in project 913155601333 before or it is disabled. Enable it by visiting https://console.developers.google.com/apis/api/customsearch.googleapis.com/overview?project=913155601333 then retry. If you enabled this API recently, wait a few minutes for the action to propagate to our systems and retry.",
            "extendedHelp": "https://console.developers.google.com/apis/api/customsearch.googleapis.com/overview?project=913155601333"
           }
          ],
          "code": 403,
          "message": "Access Not Configured. CustomSearch API has not been used in project 913155601333 before or it is disabled. Enable it by visiting https://console.developers.google.com/apis/api/customsearch.googleapis.com/overview?project=913155601333 then retry. If you enabled this API recently, wait a few minutes for the action to propagate to our systems and retry."
         }
        }
  recorded_at: Thu, 26 Apr 2018 23:56:51 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=pdf%20(site:nps.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B08C50697E854D39A5B9BC50D761FF9B
      X-Msedge-Clientid:
      - 1A61BB564CA26824024DB0884D3569E8
      X-Msapi-Userstate:
      - f484
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=739907940EFE49B19BA204E26E982636&CID=1A61BB564CA26824024DB0884D3569E8&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=739907940EFE49B19BA204E26E982636&CID=1A61BB564CA26824024DB0884D3569E8&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=pdf+(site%3anps.gov)",
        "webSearchUrlPingSuffix": "DevEx,5449.1", "totalEstimatedMatches": 2040000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "www.nps.gov", "url": "https:\/\/www.nps.gov\/transportation\/pdfs\/NPS-CMS_Toolkit.pdf",
        "urlPingSuffix": "DevEx,5087.1", "displayUrl": "https:\/\/www.nps.gov\/transportation\/pdfs\/NPS-CMS_Toolkit.pdf",
        "snippet": "www.nps.gov", "dateLastCrawled": "2018-04-19T11:54:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "CONNECTICUT",
        "url": "https:\/\/www.nps.gov\/appa\/planyourvisit\/upload\/APPA%20Map.pdf",
        "urlPingSuffix": "DevEx,5100.1", "displayUrl": "https:\/\/www.nps.gov\/appa\/planyourvisit\/upload\/APPA
        Map.pdf", "snippet": "georgia appalachian trail club outdoor club at virginia
        tech delaware valley chapter appalachian mountain club new york–new jersey
     [...]
