---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=pdf%20site:nps.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/Opw8SQrSJ-GoIGS3Q07y2Rx5dSg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - pdf site:nps.gov",
            "totalResults": "578",
            "searchTerms": "pdf site:nps.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - pdf site:nps.gov",
            "totalResults": "578",
            "searchTerms": "pdf site:nps.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.215232,
          "formattedSearchTime": "0.22",
          "totalResults": "578",
          "formattedTotalResults": "578"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Vegetation Classification and Mapping Project Report",
           "htmlTitle": "Vegetation Classification and Mapping Project Report",
           "link": "https://www1.usgs.gov/vip/waca/wacarpt.pdf",
           "displayLink": "www1.usgs.gov",
           "snippet": "logy.usgs.gov/npsveg/agfo/descript.pdf. Vegetation Classification. The process of \ncategorizing vegetation into recognizable and consistent elements. Also a ...",
           "htmlSnippet": "logy.usgs.gov/npsveg/agfo/descript.\u003cb\u003epdf\u003c/b\u003e. Vegetation Classification. The process of \u003cbr\u003e\ncategorizing vegetation into recognizable and consistent elements. Also a&nbsp;...",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://www1.usgs.gov/vip/waca/wacarpt.pdf",
           "htmlFormattedUrl": "https://www1.usgs.gov/vip/waca/wacarpt.\u003cb\u003epdf\u003c/b\u003e",
           "pagemap": {
            "metatags": [
             {
              "creationdate": "D:20050614154309-06'00'",
              "subject": "Walnut Canyon NM Vegetation Mapping Project",
              "author": "Heather Nelson",
              "creator": "Acrobat PDFMaker 7.0 for Word",
              "producer": "Acrobat Distiller 7.0 (Windows)",
              "moddate": "D:20090519134640-05'00'",
              "company": "USGS-CPFS",
              "sourcemodified": "D:20050614213224",
              "title": "Vegetation Classification and Mapping Project Report"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Stratigraphy and Lithocorrelation of the Snowslip Formation",
           "htmlTitle": "Stratigraphy and Lithocorrelation of the Snowslip Formation",
           "link": "https://pubs.usgs.gov/bul/1833/report.pdf",
           "displayLink": "pubs.usgs.gov",
           "snippet": "Page 1. (.2oD). E. /140. I~. Stratigraphy and Lithocorrelation of the. Snowslip \nFormation. (Middle Proterozoic Belt Supergroup),. Glacier National Park ...",
           "htmlSnippet": "Page 1. (.2oD). E. /140. I~. Stratigraphy and Lithocorrelation of the. Snowslip \u003cbr\u003e\nFormation. (Middle Proterozoic Belt Supergroup),. Glacier National Park&nbsp;...",
           "cacheId": "A95V8eLB7lkJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://pubs.usgs.gov/bul/1833/report.pdf",
           "htmlFormattedUrl": "https://pubs.usgs.gov/bul/1833/report.\u003cb\u003epdf\u003c/b\u003e",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "120",
              "height": "158",
              "src": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_1a1LFrriep23xa-TfSH55N0MALzx6IRLocVMdfm1P8FlP80FRBTUDQ"
             }
            ],
            "metatags": [
             {
              "creationdate": "D:20120222003103-06'00'",
              "creator": "Adobe Acrobat 10.0",
              "moddate": "D:20120724190841-05'00'",
              "producer": "Adobe Acrobat 10.1 Paper Capture Plug-in"
             }
            ],
            "cse_image": [
             {
              "src": "https://pubs.er.usgs.gov/imgsizer/_?u=https%3A%2F%2Fpubs.usgs.gov%2Fbul%2F1833%2Freport-thumb.jpg&w=200&s=uHR3SPQAvTqb6NcdPay4QaqWb5A"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Water-Quality Data for Selected National Park Units, Southern and ...",
           "htmlTitle": "Water-Quality Data for Selected National Park Units, Southern and ...",
           "link": "https:[...]
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=pdf%20site:nps.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/HsZLEyBHHGqwvDB7hGh1H0VPmaA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
     [...]
