---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=pdf%20site:nps.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/-3aoEslnlxJK8-X1ENlKZkYameU"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - pdf site:nps.gov",
            "totalResults": "1450",
            "searchTerms": "pdf site:nps.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - pdf site:nps.gov",
            "totalResults": "1450",
            "searchTerms": "pdf site:nps.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.589029,
          "formattedSearchTime": "0.59",
          "totalResults": "1450",
          "formattedTotalResults": "1,450"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Old Iceberg Gouges and Their Relation",
           "htmlTitle": "Old Iceberg Gouges and Their Relation",
           "link": "https://walrus.wr.usgs.gov/nearshorehab/Carlson_Hooge_Cochrane.pdf",
           "displayLink": "walrus.wr.usgs.gov",
           "snippet": "Abstract.—Side-scan sonar and multibeam imagery of Glacier Bay, Alaska, \nrevealed complex iceberg gouge patterns at water depths to 135 m on the floor of\n ...",
           "htmlSnippet": "Abstract.—Side-scan sonar and multibeam imagery of Glacier Bay, Alaska, \u003cbr\u003e\nrevealed complex iceberg gouge patterns at water depths to 135 m on the floor of\u003cbr\u003e\n&nbsp;...",
           "cacheId": "YhTMStZB9HkJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://walrus.wr.usgs.gov/.../Carlson_Hooge_Cochrane.pdf",
           "htmlFormattedUrl": "https://walrus.wr.usgs.gov/.../Carlson_Hooge_Cochrane.\u003cb\u003epdf\u003c/b\u003e",
           "pagemap": {
            "metatags": [
             {
              "moddate": "D:20050926115938-07'00'",
              "creationdate": "D:20050926143114Z",
              "title": "235-244_BH_Carlson",
              "creator": "Adobe PageMaker 7.0",
              "author": "dlehman",
              "subject": "235-244_BH_Carlson",
              "producer": "Acrobat Distiller 5.0.5 (Windows)"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "P1619 Cover",
           "htmlTitle": "P1619 Cover",
           "link": "https://pubs.usgs.gov/pp/p1619/p1619so.pdf",
           "displayLink": "pubs.usgs.gov",
           "snippet": "Cover photographs. Lower right: Altered bedrock in the Orange Hill area, Alaska. \nOrange, red, and yellow hues are principally the result of oxidati[...]
