---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=pdf%20(site:nps.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 317150EEFD4A4F1E95FB15D164BEDEEB
      Bingapis-Sessionid:
      - 41AD08A546474DDA99B69095E365D66B
      X-Msedge-Clientid:
      - 1531E5CBA1856A301A24F59AA0976B7F
      X-Msapi-Userstate:
      - '4641'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=265,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "pdf
        (site:nps.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=pdf+(site%3anps.gov)",
        "totalEstimatedMatches": 3960000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Civil Rights in America - nps.gov", "url": "https:\/\/www.nps.gov\/subjects\/tellingallamericansstories\/upload\/CivilRights_Framework.pdf",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.nps.gov\/subjects\/tellingallamericansstories\/upload\/CivilRights_Framework.pdf",
        "snippet": "EXECUTIVE SUMMARY Introduction In November 1999, the U.S. Congress
        passed the National Park System New Area Study Act of 2000 (S. 1349) as contained
        in Public Law 106-113, Appendix C, “National Park Service Studies", "dateLastCrawled":
        "2020-11-27T15:38:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "The Emancipation Proclamation January 1, 1863", "url": "https:\/\/www.nps.gov\/museum\/tmc\/Antietam\/Lesson3\/The%20Emancipation%20Proclamation%20text%20copy.pdf",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.nps.gov\/museum\/tmc\/Antietam\/Lesson3\/The
        Emancipation Proclamation text copy...", "snippet": "The Emancipation Proclamation
        January 1, 1863. A Transcription. By the President of the United States of
        America: A Proclamation. Whereas, on the twenty -second day of September,
        in the year of our Lord one thousand eight hundred", "dateLastCrawled": "2021-06-06T12:03:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.2",
        "name": "GRAND TETON NATIONAL PARK - nps.gov", "url": "https:\/\/www.nps.gov\/carto\/hfc\/carto\/media\/GRTEmap2.pdf",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.nps.g[...]
