---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=pdf%20site:nps.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"W18CoImQKYKeZ22usPfNI43IHMc/_atqlSafrmHP7vkuE74NkO47RIs"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - pdf site:nps.gov",
            "totalResults": "7360",
            "searchTerms": "pdf site:nps.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - pdf site:nps.gov",
            "totalResults": "7360",
            "searchTerms": "pdf site:nps.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.19156,
          "formattedSearchTime": "0.19",
          "totalResults": "7360",
          "formattedTotalResults": "7,360"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Science Plan in Support of Ecosystem Restoration, Preservation ...",
           "htmlTitle": "Science Plan in Support of Ecosystem Restoration, Preservation ...",
           "link": "https://sofia.usgs.gov/publications/reports/doi-science-plan/2005-DOI-Science-Plan-final.pdf",
           "displayLink": "sofia.usgs.gov",
           "snippet": "The Florida Everglades is a complex ecosystem of diverse, interconnected \nsubtropical habitats. Once comprised of over 4 million acres, today the historic \nEverglades have been reduced by half. The conflict of human versus natural \nelements in South Florida began in earnest in the early 1900s, when the control \nof water and ...",
           "htmlSnippet": "The Florida Everglades is a complex ecosystem of diverse, interconnected \u003cbr\u003e\nsubtropical habitats. Once comprised of over 4 million acres, today the historic \u003cbr\u003e\nEverglades have been reduced by half. The conflict of human versus natural \u003cbr\u003e\nelements in South Florida began in earnest in the early 1900s, when the control \u003cbr\u003e\nof water and&nbsp;...",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://sofia.usgs.gov/publications/.../doi.../2005-DOI-Science-Plan-final.pdf",
           "htmlFormattedUrl": "https://sofia.usgs.gov/publications/.../doi.../2005-DOI-Science-Plan-final.\u003cb\u003epdf\u003c/b\u003e",
           "pagemap": {
            "metatags": [
             {
              "moddate": "D:20060426203640-04'00'",
              "creationdate": "D:20060426202812-04'00'",
              "title": "U",
              "creator": "Acrobat PDFMaker 6.0 for Word",
              "author": "Linda Friar",
              "producer": "Acrobat Distiller 6.0 (Windows)"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "PDF version of this fact sheet",
           "htmlTitle": "\u003cb\u003ePDF\u003c/b\u003e version of this fact sheet",
           "link": "https://pubs.usgs.gov/fs/2000/fs023-00/fs023-00.pdf",
           "displayLink": "pubs.usgs.gov",
           "snippet": "This striking view to the southeast across the summit of Cinder Cone shows the \ndouble-rimmed crater at the top of the 700-foot-high volcanic cone of loose scoria\n. The inset photo shows an aerial view, looking to the northwest, of the cone and \nits surrounding lava flows and ash deposits. Many people were misled by the ...",
           "htmlSnippet": "This striking view to the southeast across the summit of Cinder Cone shows the \u003cbr\u003e\ndouble-rimmed crater at the top of the 700-foot-high volcanic cone of loose scoria\u003cbr\u003e\n. The inset photo shows an aerial view, looking to the northwest, of the cone and \u003cbr\u003e\nits surrounding lava flows and ash deposits. Many people were misled by the&nbsp;...",
           "cacheId": "RtDD8bYoYKcJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://pubs.usgs.gov/fs/2000/fs023-00/fs023-00.pdf",
           "htmlFormattedUrl": "https://pubs.usgs.gov/fs/2000/fs023-00/fs023-00.\u003cb\u003epdf\u003c/b\u003e",
           "pagemap": {
            "metatags": [
             {
              "creationdate": "D:20000421113703",
              "producer": "Acrobat Distiller 4.05 for Macintosh",
              "subject": "2 with white ID.pm6.5",
              "creator": "Adobe PageMaker 6.52",
              "title": "2 with white ID.pm6.5",
              "moddate": "D:20000421113858-07'00'"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Glacier National Park, Montana",
           "htmlTitle": "Glacier National Park, Montana",
           "link": "https://pubs.usgs.gov/bul/1833/report.pdf",
           "displayLink": "pubs.usgs.gov"[...]
