---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=<GOOGLE_SEARCH_CX>&key=<GOOGLE_API_KEY>&lr=lang_en&q=pdf%20site:nps.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"W18CoImQKYKeZ22usPfNI43IHMc/_2YqbAT8oZ7F6IETJz9j00_2jKQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - pdf site:nps.gov",
            "totalResults": "2190",
            "searchTerms": "pdf site:nps.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "<GOOGLE_SEARCH_CX>"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - pdf site:nps.gov",
            "totalResults": "2190",
            "searchTerms": "pdf site:nps.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "<GOOGLE_SEARCH_CX>"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.163111,
          "formattedSearchTime": "0.16",
          "totalResults": "2190",
          "formattedTotalResults": "2,190"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Level 1 Water-Quality Inventory of Baseline Levels of Pesticides in ...",
           "htmlTitle": "Level 1 Water-Quality Inventory of Baseline Levels of Pesticides in ...",
           "link": "https://pubs.usgs.gov/ds/338/pdf/ds_338.pdf",
           "displayLink": "pubs.usgs.gov",
           "snippet": "Front cover; clockwise from top left: Hydrologist sampling Redwood Creek in the \nnorthern portion of Golden Gate Recreation Area (photo credit: Michelle Hladik, \nUSGS). Chemist sampling Tennessee Hollow Creek in the Presidio of San \nFrancisco (photo credit: James Orlando, USGS). Nyhan Creek located in the \nnorthern ...",
           "htmlSnippet": "Front cover; clockwise from top left: Hydrologist sampling Redwood Creek in the \u003cbr\u003e\nnorthern portion of Golden Gate Recreation Area (photo credit: Michelle Hladik, \u003cbr\u003e\nUSGS). Chemist sampling Tennessee Hollow Creek in the Presidio of San \u003cbr\u003e\nFrancisco (photo credit: James Orlando, USGS). Nyhan Creek located in the \u003cbr\u003e\nnorthern&nbsp;...",
           "cacheId": "gSOU0gt-Y4AJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://pubs.usgs.gov/ds/338/pdf/ds_338.pdf",
           "htmlFormattedUrl": "https://pubs.usgs.gov/ds/338/\u003cb\u003epdf\u003c/b\u003e/ds_338.\u003cb\u003epdf\u003c/b\u003e",
           "pagemap": {
            "metatags": [
             {
              "creationdate": "D:20080521160517-07'00'",
              "subject": "Template Version 1.0",
              "author": "Michelle L. Hladik and James L. Orlando",
              "creator": "Adobe InDesign CS3 (5.0.2)",
              "producer": "Adobe PDF Library 8.0",
              "moddate": "D:20080602115440-07'00'",
              "title": "Level 1 Water-Quality Inventory of Baseline Levels of Pesticides in Urban Creeks—Golden Gate National Recreation Area and the Presidio of San Francisco, California"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Pamphlet PDF",
           "htmlTitle": "Pamphlet \u003cb\u003ePDF\u003c/b\u003e",
           "link": "https://pubs.usgs.gov/sim/3253/sim3253_pamphlet.pdf[...]
