---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='food%20nutrition%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 6592968c-d848-4b5c-8923-f6ea0a8681f8
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027food
        nutrition (site:usa.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"f55a19e7-1109-4c95-a427-5958faff6666","Title":"Consumer
        Info. Catalog - Food & Nutrition","Description":"Food Publications. Learn
        more about making healthy food choices and nutrition for better health,
        safe food handling practices and preparation, and healthy food recipes.","DisplayUrl":"publications.usa.gov/USAPubs.php?CatID=6","Url":"http://publications.usa.gov/USAPubs.php?CatID=6"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027food
        nutrition (site:usa.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"a7a13c8f-5d57-4aeb-91f4-2d66500163ef","Title":"Nutritionist
        | Videos | Kids.gov | USAGov","Description":"What does a nutritionist do?
        A nutritionist or a dietician is an expert in foo[...]
