---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=building&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - B35617D8FC01491D868E7FC98E9D42D9
      Bingapis-Sessionid:
      - CB3B8CDAB7FD4EDCAB6BF795DF5802FB
      X-Msedge-Clientid:
      - 370651A18F236AC337F641698E936B4B
      X-Msapi-Userstate:
      - 6cb9
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=178,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "building"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=building",
        "totalEstimatedMatches": 119000000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Building | Definition of Building by Merriam-Webster", "url": "https:\/\/www.merriam-webster.com\/dictionary\/building",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.merriam-webster.com\/dictionary\/building",
        "snippet": "Building definition is - a usually roofed and walled structure
        built for permanent use (as for a dwelling). How to use building in a sentence.",
        "dateLastCrawled": "2021-10-03T16:24:00.0000000Z", "language": "en", "isNavigational":
        false}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "Building - definition of building by The Free Dictionary", "url": "https:\/\/www.thefreedictionary.com\/building",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.thefreedictionary.com\/building",
        "snippet": "Define building. building synonyms, building pronunciation, building
        translation, English dictionary definition of building. n. 1. Something that
        is built, as for human habitation; a structure. 2. The act, process, art,
        or occupation of constructing. American Heritage® Dictionary...", "dateLastCrawled":
        "2021-10-03T08:06:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.2", "name": "Building
        Synonyms, Building Antonyms | Merriam-Webster ...", "url": "https:\/\/www.merriam-webster.com\/thesaurus\/building",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.merriam-webster.com\/thesaurus\/building",
        "snippet": "14 synonyms of building from the Merriam-Webster Thesaurus, plus
        71 related words, definitions, and antonyms. Find another word for building.
        Building: something built as a dwelling, shelter, or place for human activity.",
        "dateLastCrawled": "2021-10-02T13:13:00.0000000Z", "language": "en", "isNavigational":
        false}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.3", "contractualRules":
        [{"_type": "ContractualRules\/LicenseAttribution", "targetPropertyName": "snippet",
        "targetPropertyIndex": 3, "mustBeCloseToContent": true, "license": {"name":
        "CC-BY-SA", "url": "http:\/\/creativecommons.org\/licenses\/by-sa\/3.0\/"},
        "licenseNotice": "Text under CC-BY-SA license"}], "name": "Building - Wikipedia",
        "url": "https:\/\/en.wikipedia.org\/wiki\/Building", "isFamilyFriendly": true,
        "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/Building", "snippet": "A
        building, or edifice, is a structure with a roof and walls standing more or
        less permanently in one place, such as a house or factory. Buildings come
        in a variety of sizes, shapes, and functions, and have been adapted throughout
        hist[...]
