---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/search?count=20&mkt=en-US&offset=0&q=book&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_IMAGE_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 96E50D4663C841B69FF08F8E91333212
      X-Msedge-Clientid:
      - 07ED0FF2EA266159162D1F3AEB916078
      X-Msapi-Userstate:
      - cc89
      X-Search-Responseinfo:
      - InternalResponseTime=115,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/images\/search?q=book",
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=book&FORM=OIIARP",
        "queryContext": {"originalQuery": "book", "alterationDisplayQuery": "book",
        "alterationOverrideQuery": "+book", "alterationMethod": "AM_JustChangeIt",
        "alterationType": "CombinedAlterationsChained"}, "totalEstimatedMatches":
        200, "nextOffset": 20, "currentOffset": 0, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=book&id=5F94F913B2CE58856ED8F55AD8B4C7E746F7346A&simid=608047458069343823",
        "name": "The longest overdue library book was finally returned and ...", "thumbnailUrl":
        "https:\/\/tse4.mm.bing.net\/th?id=OIP.96S9BP-xatg3q0JXnJydDwHaE7&pid=Api",
        "datePublished": "2016-12-18T20:44:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "http:\/\/images.hellogiggles.com\/uploads\/2016\/12\/18043538\/shutterstock_91553819.jpg",
        "hostPageUrl": "http:\/\/hellogiggles.com\/the-longest-overdue-library-book-was-finally-returned-and-will-make-you-feel-much-better-about-that-one-you-lost-in-college\/",
        "contentSize": "5021725 B", "encodingFormat": "jpeg", "hostPageDisplayUrl":
        "hellogiggles.com\/the-longest-overdue-library-book-was-finally-returned-and-will-make...",
        "width": 4256, "height": 2832, "hostPageFavIconUrl": "https:\/\/www.bing.com\/th?id=ODF.WdwM5r95QIuhb4HZRNE7Nw&pid=Api",
        "hostPageDomainFriendlyName": "HelloGiggles", "hostPageDiscoveredDate": "2016-12-18T20:44:00.0000000Z",
        "thumbnail": {"width": 474, "height": 315}, "imageInsightsToken": "ccid_96S9BP+x*cp_1E7F23F1ACCFCD17E9E6E56662947ED0*mid_5F94F913B2CE58856ED8F55AD8B4C7E746F7346A*simid_608047458069343823*thid_OIP.96S9BP-xatg3q0JXnJydDwHaE7",
        "insightsMetadata": {"recipeSourcesCount": 0, "pagesIncludingCount": 7, "availableSizesCount":
        4}, "imageId": "5F94F913B2CE58856ED8F55AD8B4C7E746F7346A", "accentColor":
        "744322"}, {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=book&id=C94F14B6630FA433776B543B486CB32C7B2DE21C&simid=608006870637760720",
        "name": "10 Things NOT to do When Writing a Picture Book - Art Starts", "thumbnailUrl":
        "https:\/\/tse1.mm.bing.net\/th?id=OIP.8XqpccrJbF56ChrcBXnw_gHaEo&pid=Api",
        "datePublished": "2021-06-12T17:11:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "https:\/\/www.samanthasbell.com\/[...]
