.search-jobs-item-wrapper .usa-nav__primary button[aria-expanded=false] span::after {
  background: none;
  background-color: #005EA2;
  -webkit-mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTE2LjU5IDguNTlMMTIgMTMuMTcgNy40MSA4LjU5IDYgMTBsNiA2IDYtNnoiLz48L3N2Zz4=) no-repeat center/contain;
  mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTE2LjU5IDguNTlMMTIgMTMuMTcgNy40MSA4LjU5IDYgMTBsNiA2IDYtNnoiLz48L3N2Zz4=) no-repeat center/contain;
}

.search-jobs-item-wrapper .usa-nav__primary button[aria-expanded=true] span::after {
  background: none;
  background-color: #005EA2;
  -webkit-mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTEyIDhsLTYgNiAxLjQxIDEuNDFMMTIgMTAuODNsNC41OSA0LjU4TDE4IDE0eiIvPjwvc3ZnPg==) no-repeat center/contain;
  mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTEyIDhsLTYgNiAxLjQxIDEuNDFMMTIgMTAuODNsNC41OSA0LjU4TDE4IDE0eiIvPjwvc3ZnPg==) no-repeat center/contain;
}

.search-jobs-item-wrapper .usa-nav__primary .usa-accordion__button{
  background: none;
  padding: 7px;
}

.search-jobs-item-wrapper .usa-nav__primary .usa-accordion__button span{
  color: #005EA2;
  font-weight: 400;
}

.search-jobs-item-wrapper .usa-nav__primary .usa-accordion__button span::after {
  background-color: #005EA2;
  right: 4px;
  top: 6px;
  transform: scale(1.25);
}

.list-horizontal{
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.list-horizontal li {
	display:inline-block;
}

.list-horizontal li:before {
  color:#000;
	content: '\00a0\2022\00a0\00a0';
	font-size: 14px;
  padding-left: 10px;
  padding-right: 5px;
}

.list-horizontal li:first-child:before {
	content: '';
  padding-left: 0;
  padding-right: 0;
}

/* Media Queries */
@media (max-width: 767.98px) {
  .view_more_less_jobs{
    margin-bottom: 1rem;
    margin-top: 0;
     
  }

  .view_more_less_jobs .usa-nav__primary-item{
    border-top: none;
  }

  .search-jobs-item-wrapper .usa-nav__primary .usa-accordion__button{
    padding-right: 25px;
  }

  .search-jobs-item-wrapper .usa-nav__primary .usa-accordion__button span::after{
    right: 4px;
  }

  .search-jobs-item-wrapper .collapsed-jobs-wrapper .search-result-item:nth-last-child(2) .row-mobile-divider{
    margin-top: 0.5rem;
    visibility: hidden;
  }
}

@media (max-width: 1023.98px) {
  .view_more_less_jobs{
    margin-bottom: 1rem;
    margin-top: 0;
  }

  .view_more_less_jobs .usa-nav__primary-item{
    border-top: none;
  }

  .search-jobs-item-wrapper .usa-nav__primary .usa-accordion__button{
    padding-right: 25px;
  }

  .search-jobs-item-wrapper .usa-nav__primary .usa-accordion__button span::after{
    right: 4px;
  }
}
