---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(sunset)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028sunset\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":2330000,"Offset":0,"Results":[{"Title":"Table
        of Sunrise\u002fSunset, Moonrise\u002fMoonset, or Twilight ...","Description":"Obtain
        a table of the times of sunrise\u002fsunset, moonrise\u002fmoonset, or the
        beginning and end of twilight, for one year.","Url":"http\u003a\u002f\u002faa.usno.navy.mil\u002fdata\u002fdocs\u002fRS_OneYear.php","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dsunset\u0026d\u003d4769519872312096\u0026w\u003dKuA_YTuU5mJ47R3CTf2BIgOjov66RWWi","DisplayUrl":"aa.usno.navy.mil\u002fdata\u002fdocs\u002fRS_OneYear.php","DateTime":"2016-12-02T15\u003a11\u003a00Z"},{"Title":"Sunset
        SB","Description":"Visiting Sunset State Beach. The beach features pine
        trees, mountainous sand dunes, and ocean side picnic spots. Bordered by large
        agricultural fields west of the ...","Url":"http\u003a\u002f\u002fwww.parks.ca.gov\u002f\u003fpage_id\u003d544","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dsunset\u0026d\u003d4870455891985501\u0026w\u003dYJZEIvdzgeem06nfeTLIREFP1EfU1Nyr","D[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&image.count=20&query=(sunset)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028sunset\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Image":{"Total":10300,"Offset":0,"Results":[{"Title":"sunset
        photo","MediaUrl":"http\u003a\u002f\u002fwww.crh.noaa.gov\u002fimages\u002fsgf\u002fwxphotos\u002fsunsets\u002fsunset3.jpg","Url":"http\u003a\u002f\u002fwww.crh.noaa.gov\u002fsgf\u002f\u003fn\u003dphotos_sunsets","DisplayUrl":"www.crh.noaa.gov\u002fsgf\u002f\u003fn\u003dphotos_sunsets","Width":761,"Height":577,"FileSize":26315,"ContentType":"image\u002fjpeg","Thumbnail":{"Url":"http\u003a\u002f\u002fts3.mm.bing.net\u002fth\u003fid\u003dOIP.M32f8bf7821f169dfa764cfd72eba4dfbo0\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":300,"Height":227,"FileSize":3122}},{"Title":"THE
        COLORS OF TWILIGHT AND SUNSET - Stephen F. Corfidi","MediaUrl":"http\u003a\u002f\u002fwww.spc.noaa.gov\u002fpublications\u002fcorfidi\u002fsunset\u002fpicss1990nov7gjpgmedLABEL.jpg","Url":"http\u003a\u002f\u002fwww.spc.noaa.gov\u002fpublications\u002fcorfidi\u002fsunset\u002f"[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - FCBC371E26544D1D8FB98063C2CE13E3
      X-Msedge-Clientid:
      - 36260281494364F121080B7E48D46557
      X-Msapi-Userstate:
      - 9dcb
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=4F9FB42084DD4DA0B883B59823DFBA78&CID=36260281494364F121080B7E48D46557&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=4F9FB42084DD4DA0B883B59823DFBA78&CID=36260281494364F121080B7E48D46557&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sunset+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5480.1", "totalEstimatedMatches": 1170000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Complete Sun and Moon Data for One Day", "url": "http:\/\/aa.usno.navy.mil\/data\/docs\/RS_OneDay.php",
        "urlPingSuffix": "DevEx,5103.1", "displayUrl": "aa.usno.navy.mil\/data\/docs\/RS_OneDay.php",
        "snippet": "Calculates the times of sunrise, sunset, moonrise, moonset,
        transits, and the beginning and end of civil twilight, along with information
        on the Moon''s phase by ...", "dateLastCrawled": "2016-12-29T04:19:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Sunset
        Campground - Recreation.gov", "url": "https:\/\/www.recreation.gov\/camping\/sunset-campground\/r\/campgroundDetails.do?contractCode=NRSO&parkId=74088",
        "urlPingSuffix": "DevEx,5118.1", "displayUrl": "https:\/\/www.recreation.gov\/camping\/sunset-campground\/r\/campground...",
        "snippet": "Sunset Campground is located in beautiful and unique Bryce [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3FB51F86F14846D5BF5499C2AA938915
      X-Msedge-Clientid:
      - 184D9ADAE3BC6C52307C9325E22B6D62
      X-Msapi-Userstate:
      - 031c
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B878DAD89C3B4A8D98ACF75C4370231D&CID=184D9ADAE3BC6C52307C9325E22B6D62&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B878DAD89C3B4A8D98ACF75C4370231D&CID=184D9ADAE3BC6C52307C9325E22B6D62&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=sunset%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5165.1", "totalEstimatedMatches": 122, "nextOffset":
        23, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=2449F6C57A83658554188A07022E2B734791A1AD&simid=608034046033005104",
        "webSearchUrlPingSuffix": "DevEx,5006.1", "name": "Meade County sunset. Ron
        Hicks", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.M95a5977ef939b202d484dcd26c470f22o0&pid=Api",
        "datePublished": "2009-12-22T12:00:00.0000000Z", "contentUrl": "http:\/\/www.crh.noaa.gov\/images\/lmk\/photo_album\/sunsets\/MeadeCo1.jpg",
        "contentUrlPingSuffix": "DevEx,5008.1", "hostPageUrl": "http:\/\/www.crh.noaa.gov\/lmk\/?n=photoalbum_sunsets_2006",
        "hostPageUrlPingSuffix": "DevEx,5007.1", "contentSize": "1559477 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.crh.noaa.gov\/lmk\/?n=photoalbum_sunsets_2006",
        "width": 2592, "height": 1944, "thumbnail": {"width": 300, "height": 225},
        "imageInsightsToken": "ccid_laWXfvk5*mid_2449F6C57A83658554188A07022E2B734791A1AD*simid_608034046033005104",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "2449F6C57A83658554188A07022E2B734791A1AD", "accentColor": "CB9A00"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=E17C2414DC271DE3C330CB80E086EE4CDA94EBA7&simid=608005029252040550",
        "webSearchUrlPingSuffix": "DevEx,5012.1", "name": "sunset photo", "thumbnailUrl":
        "https:\/\/tse4.mm.bing.net\/th?id=OIP.M32f8bf7821f169dfa764cfd72eba4dfbo0&pid=Api",
        "datePublished": "2005-01-19T12:00:00.0000000Z", "contentUrl": "http:\/\/www.crh.noaa.gov\/images\/[...]
