---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B7B01C6D22044954A3169BFA29DEE8A7
      X-Msedge-Clientid:
      - 39BDE5D4C95567E63530EE52C8FA6613
      X-Msapi-Userstate:
      - 93a8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F7AB72BB9356404196462E4920F1FB89&CID=39BDE5D4C95567E63530EE52C8FA6613&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F7AB72BB9356404196462E4920F1FB89&CID=39BDE5D4C95567E63530EE52C8FA6613&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sunset+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5525.1", "totalEstimatedMatches": 9900000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "DEEP: Sunrise - Sunset Times", "url": "http:\/\/www.ct.gov\/deep\/cwp\/view.asp?A=2700&Q=323422",
        "urlPingSuffix": "DevEx,5095.1", "displayUrl": "www.ct.gov\/deep\/cwp\/view.asp?A=2700&Q=323422",
        "snippet": "Sunrise - Sunset Times Abstract: Description: Sunrise - Sunset
        Times for Connecticut", "deepLinks": [{"name": "DEP", "url": "http:\/\/www.ct.gov\/dep\/cwp\/view.asp?a=2700&q=323422&depNav_GID=1633",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Hunting & Trapping", "url": "http:\/\/www.ct.gov\/deep\/cwp\/browse.asp?A=2700",
        "urlPingSuffix": "DevEx,5090.1"}], "dateLastCrawled": "2018-01-18T02:04:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Sun or
        Moon Rise\/Set Table for One Year", "url": "http:\/\/aa.usno.navy.mil\/data\/docs\/RS_OneYear.php",
        "urlPingSuffix": "DevEx,5109.1", "displayUrl": "aa.usno.navy.mil\/data\/docs\/RS_OneYear.php",
        "snippet": "This data service provides a table of Sunrise\/Sunset, Moonrise\/Moonset,
        or beginning and end of twilight times for a year.", "dateLastCrawled": "2018-01-17T23:50:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Sunset
        Advisory Commission - Official Site", "url": "https:\/\/www.sunset.texas.gov\/",
        "urlPingSuffix": "DevEx,5135.1", "about": [{"name": "Sunset Advisory Commission"},
        {"name": "Sunset Advisory Commission"}], "displayUrl": "https:\/\/www.sunset.texas.gov",
        "snippet": "Sunset in Texas. Through Sunset, the Legislature looks closely
        at the need for and performance of state agencies. About 130 entities are
        subject to Sunset review ...", "dateLastCrawled": "2018-01-21T13:09:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "Sunset
        Beach[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 46091932D696400A8D9CE03DF83273B4
      X-Msedge-Clientid:
      - 12E0520B744C65670E9B598D75E364D3
      X-Msapi-Userstate:
      - 7c54
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=11DE1BD234714DF4AB9F884E1F0DE5E2&CID=12E0520B744C65670E9B598D75E364D3&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=11DE1BD234714DF4AB9F884E1F0DE5E2&CID=12E0520B744C65670E9B598D75E364D3&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=sunset%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5188.1", "totalEstimatedMatches": 101, "nextOffset":
        25, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=2449F6C57A83658554188A07022E2B734791A1AD&simid=608034046790208470",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "301 Moved Permanently",
        "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.laWXfvk5sgLUhNzSbEcPIgHaFj&pid=Api",
        "datePublished": "2009-12-22T12:00:00.0000000Z", "contentUrl": "http:\/\/www.crh.noaa.gov\/images\/lmk\/photo_album\/sunsets\/MeadeCo1.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/www.crh.noaa.gov\/lmk\/?n=photoalbum_sunsets_2006",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "1559477 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.crh.noaa.gov\/lmk\/?n=photoalbum_sunsets_2006",
        "width": 2592, "height": 1944, "thumbnail": {"width": 474, "height": 355},
        "imageInsightsToken": "ccid_laWXfvk5*mid_2449F6C57A83658554188A07022E2B734791A1AD*simid_608034046790208470",
        "imageId": "2449F6C57A83658554188A07022E2B734791A1AD", "accentColor": "CB9A00"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=1CD874581CE673B1C6A8DCACBB4DDAC2E59E0E55&simid=608029910719073751",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "Climate Change: Climate
        Resource Center - Vivid sunset", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.piHtEgZoIOz1lwBHubyGPQDIEs&pid=Api",
        "datePublished": "2017-12-25T22:59:00.0000000Z", "contentUrl": "https:\/\/climate.nasa.gov\/system\/resources\/detail_files\/87_Vivid-sunset-1000x1500.jpg",
        "contentUrlPingSuffix": "DevEx,5033.1", "hostPageUrl": "https:\/\/climate.nasa.gov\/climate_resources\/87",
        "hostPageUrlPingSuffix": "DevEx,5032.1", "contentSize": "390952 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/climate.nasa.gov\/climate_resources\/87",
        "width": 1000, "height": 1500, "thumbnail": {"width": 204, "height": 306},
        "imageInsightsToken": "ccid_piHtEgZo*mid_1CD874581CE673B1C6A8DCACBB4DDAC2E59E0E55*simid_608029910719073751",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "1CD874581CE673B1C6A8DCACBB4DDAC2E59E0E55", "accentColor": "CBBA00"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=2EDC8A9F2F70D31D9B446E09BA1B168C06EF4A99&simid=608026217048376725",
        "webSearchUrlPingSuffix": "DevEx,5037.1", "name": "THE COLORS OF TWILIGHT
        AND SUNSET - Stephen F. Corfidi", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.YdZi71syj6KLgIm5FogWygHaE8&pi[...]
