---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 37F130C43C7D4F76BD52B340C3F3B874
      X-Msedge-Clientid:
      - 3DC5A1CF428161BB13DEAB7043166047
      X-Msapi-Userstate:
      - 12f8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=97E5781343904076B3F5B120DF889D01&CID=3DC5A1CF428161BB13DEAB7043166047&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=97E5781343904076B3F5B120DF889D01&CID=3DC5A1CF428161BB13DEAB7043166047&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sunset+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5506.1", "totalEstimatedMatches": 7570000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Sunset Advisory Commission - Official Site", "url": "https:\/\/www.sunset.texas.gov\/",
        "urlPingSuffix": "DevEx,5088.1", "about": [{"name": "Sunset Advisory Commission"}],
        "displayUrl": "https:\/\/www.sunset.texas.gov", "snippet": "The Sunset
        Commission is seeking energetic, motivated, analytical, and innovative individuals
        with a desire to help government work smarter as a policy analyst.", "deepLinks":
        [{"name": "Reviews & Reports", "url": "https:\/\/www.sunset.texas.gov\/reviews-and-reports",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Commission Members", "url": "https:\/\/www.sunset.texas.gov\/about-us\/sunset-commission-members",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Meetings", "url": "https:\/\/www.sunset.texas.gov\/meetings",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Sunset Staff", "url": "https:\/\/www.sunset.texas.gov\/about-us\/sunset-staff",
        "urlPingSuffix": "DevEx,5081.1"}], "dateLastCrawled": "2017-07-10T07:40:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "DEEP:
        Sunrise - Sunset Times", "url": "http:\/\/www.ct.gov\/deep\/cwp\/view.asp?A=2700&Q=323422",
        "urlPingSuffix": "DevEx,5102.1", "displayUrl": "www.ct.gov\/deep\/cwp\/view.asp?A=2700&Q=323422",
        "snippet": "Sunrise - Sunset Eastern Standard Time: Sunrise and sunset
        times are approximate for central Connecticut. Add 1 hour for Daylight Saving
   [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2B9D50A416E24C7DBAC8D1E0A86B05A7
      X-Msedge-Clientid:
      - 3482A5BE6F236188161EAF016EB4603C
      X-Msapi-Userstate:
      - 0eb0
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=6FC41D12FA8E4D66877A7BE1E68ABF64&CID=3482A5BE6F236188161EAF016EB4603C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=6FC41D12FA8E4D66877A7BE1E68ABF64&CID=3482A5BE6F236188161EAF016EB4603C&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=sunset%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5183.1", "totalEstimatedMatches": 106, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=2449F6C57A83658554188A07022E2B734791A1AD&simid=608034046339713868",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "Meade County sunset. Ron
        Hicks", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.laWXfvk5sgLUhNzSbEcPIgEsDh&pid=Api",
        "datePublished": "2009-12-22T12:00:00.0000000Z", "contentUrl": "http:\/\/www.crh.noaa.gov\/images\/lmk\/photo_album\/sunsets\/MeadeCo1.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/www.crh.noaa.gov\/lmk\/?n=photoalbum_sunsets_2006",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "1559477 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.crh.noaa.gov\/lmk\/?n=photoalbum_sunsets_2006",
        "width": 2592, "height": 1944, "thumbnail": {"width": 300, "height": 225},
        "imageInsightsToken": "ccid_laWXfvk5*mid_2449F6C57A83658554188A07022E2B734791A1AD*simid_608034046339713868",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "2449F6C57A83658554188A07022E2B734791A1AD", "accentColor": "CB9A00"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=00BB4770CDD618EA165882BBD552B45913F45783&simid=608051007170678698",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "Summer sunset.", "thumbnailUrl":
        "https:\/\/tse2.mm.bing.net\/th?id=OIP.ZlE6YoCyXRT1Y2sLB_56JAEsDh&pid=Api",
        "datePublished": "2010-02-03T18:16:00.0000000Z", "contentUrl": "http:\/\/www.crh.noaa.gov\/images\/arx\/ph[...]
