---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(sunset)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028sunset\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":2330000,"Offset":0,"Results":[{"Title":"Table
        of Sunrise\u002fSunset, Moonrise\u002fMoonset, or Twilight ...","Description":"Obtain
        a table of the times of sunrise\u002fsunset, moonrise\u002fmoonset, or the
        beginning and end of twilight, for one year.","Url":"http\u003a\u002f\u002faa.usno.navy.mil\u002fdata\u002fdocs\u002fRS_OneYear.php","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dsunset\u0026d\u003d4769519872312096\u0026w\u003dKuA_YTuU5mJ47R3CTf2BIgOjov66RWWi","DisplayUrl":"aa.usno.navy.mil\u002fdata\u002fdocs\u002fRS_OneYear.php","DateTime":"2016-12-02T15\u003a11\u003a00Z"},{"Title":"Sunset
        SB","Description":"Visiting Sunset State Beach. The beach features pine
        trees, mountainous sand dunes, and ocean side picnic spots. Bordered by large
        agricultural fields west of the ...","Url":"http\u003a\u002f\u002fwww.parks.ca.gov\u002f\u003fpage_id\u003d544","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dsunset\u0026d\u003d4870455891985501\u0026w\u003dYJZEIvdzgeem06nfeTLIREFP1EfU1Nyr","D[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&image.count=20&query=(sunset)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028sunset\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Image":{"Total":10300,"Offset":0,"Results":[{"Title":"sunset
        photo","MediaUrl":"http\u003a\u002f\u002fwww.crh.noaa.gov\u002fimages\u002fsgf\u002fwxphotos\u002fsunsets\u002fsunset3.jpg","Url":"http\u003a\u002f\u002fwww.crh.noaa.gov\u002fsgf\u002f\u003fn\u003dphotos_sunsets","DisplayUrl":"www.crh.noaa.gov\u002fsgf\u002f\u003fn\u003dphotos_sunsets","Width":761,"Height":577,"FileSize":26315,"ContentType":"image\u002fjpeg","Thumbnail":{"Url":"http\u003a\u002f\u002fts3.mm.bing.net\u002fth\u003fid\u003dOIP.M32f8bf7821f169dfa764cfd72eba4dfbo0\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":300,"Height":227,"FileSize":3122}},{"Title":"THE
        COLORS OF TWILIGHT AND SUNSET - Stephen F. Corfidi","MediaUrl":"http\u003a\u002f\u002fwww.spc.noaa.gov\u002fpublications\u002fcorfidi\u002fsunset\u002fpicss1990nov7gjpgmedLABEL.jpg","Url":"http\u003a\u002f\u002fwww.spc.noaa.gov\u002fpublications\u002fcorfidi\u002fsunset\u002f"[...]
