---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6D27D4D47AE145C1B8C7D784686F2312
      X-Msedge-Clientid:
      - '026429333889685E3912256B39866931'
      X-Msapi-Userstate:
      - 418c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C4B353A0D0214E3B8A8E96BD374C9CDB&CID=026429333889685E3912256B39866931&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C4B353A0D0214E3B8A8E96BD374C9CDB&CID=026429333889685E3912256B39866931&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sunset+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5423.1", "totalEstimatedMatches": 8470000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Town of Sunset Beach", "url": "https:\/\/www.sunsetbeachnc.gov\/", "urlPingSuffix":
        "DevEx,5058.1", "about": [{"name": "Sunset Beach"}], "displayUrl": "https:\/\/www.sunsetbeachnc.gov",
        "snippet": "Sunset Beach Public Boat Ramp on Sunset Blvd. North. At the
        end of Park Road off of Sunset Blvd. North. Near the sharp curve on Shoreline
        Drive West and Beach Drive beside the Regency. Town Council Information -
        Click below to view previous and upcoming Meetings information and Meeting
        Minutes.", "dateLastCrawled": "2018-08-21T00:19:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Facility Details - SUNSET, OR - Recreation.gov", "url": "https:\/\/www.recreation.gov\/campgroundDetails.do?contractCode=NRSO&parkId=73538",
        "urlPingSuffix": "DevEx,5070.1", "displayUrl": "https:\/\/www.recreation.gov\/campgroundDetails.do?contractCode=NRSO&...",
        "snippet": "Overview Sunset Campground is located on the banks of scenic
        Lake of the Woods, in[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - '0446598F8531480CB9815B91DF8F43AC'
      X-Msedge-Clientid:
      - 0A5912A4BED56A080C581EFCBFDA6B92
      X-Msapi-Userstate:
      - '6537'
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C4E8E4BEDF7648ED98B29AD688133D9C&CID=0A5912A4BED56A080C581EFCBFDA6B92&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C4E8E4BEDF7648ED98B29AD688133D9C&CID=0A5912A4BED56A080C581EFCBFDA6B92&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=sunset%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5188.1", "totalEstimatedMatches": 105, "nextOffset":
        25, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=1CD874581CE673B1C6A8217932E7E2F7B021C1EE&simid=608002191484912941",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "Vivid sunset – Climate
        Change: Vital Signs of the Planet", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.haznlO4Be9lJI3albl39DwHaEo&pid=Api",
        "datePublished": "2018-07-02T08:59:00.0000000Z", "contentUrl": "https:\/\/climate.nasa.gov\/system\/downloadable_items\/139_sunset-1920.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "https:\/\/climate.nasa.gov\/climate_resources\/87\/",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "697394 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/climate.nasa.gov\/climate_resources\/87",
        "width": 1920, "height": 1200, "thumbnail": {"width": 474, "height": 296},
        "imageInsightsToken": "ccid_haznlO4B*mid_1CD874581CE673B1C6A8217932E7E2F7B021C1EE*simid_608002191484912941",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "1CD874581CE673B1C6A8217932E7E2F7B021C1EE", "accentColor": "CBBC00"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=2EDC8A9F2F70D31D9B446E09BA1B168C06EF4A99&simid=608026217519058872",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "THE COLORS OF TWILIGHT
        AND SUNSET - Stephen F. Corfidi", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.YdZi71syj6KLgIm5FogWygHaE8&pid=Api",
        "datePublished": "2018-08-13T19:51:00.0000000Z", "contentUrl": "ht[...]
