---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2DA52C1E938640329E6873C18DE6EDDC
      X-Msedge-Clientid:
      - 3E8EBA54E7F46FE90A4CB15CE6636E46
      X-Msapi-Userstate:
      - b9d1
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=036853C9336D49F8BD21EF37EDADDE90&CID=3E8EBA54E7F46FE90A4CB15CE6636E46&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=036853C9336D49F8BD21EF37EDADDE90&CID=3E8EBA54E7F46FE90A4CB15CE6636E46&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sunset+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5556.1", "totalEstimatedMatches": 6070000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Sun or Moon Rise\/Set Table for One Year", "url": "http:\/\/aa.usno.navy.mil\/data\/docs\/RS_OneYear.php",
        "urlPingSuffix": "DevEx,5086.1", "displayUrl": "aa.usno.navy.mil\/data\/docs\/RS_OneYear.php",
        "snippet": "This data service provides a table of Sunrise\/Sunset, Moonrise\/Moonset,
        or beginning and end of twilight times for a year.", "dateLastCrawled": "2017-09-21T02:42:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Sunset
        SB - CA State Parks", "url": "http:\/\/www.parks.ca.gov\/?page_id=544",
        "urlPingSuffix": "DevEx,5105.1", "about": [{"name": "Sunset State Beach"},
        {"name": "Sunset State Beach"}], "displayUrl": "www.parks.ca.gov\/?page_id=544",
        "snippet": "Visiting Sunset State Beach. A peaceful campground under the
        pines, picnicking on the beach, and unmatched views of Monterey Bay make Sunset
        State Beach a favorite ...", "deepLinks": [{"name": "Visit a Park", "url":
        "http:\/\/www.parks.ca.gov\/ParkIndex", "urlPingSuffix": "DevEx,5100.1"},
        {"name": "Job Postings", "url": "http:\/\/www.parks.ca.gov\/parkjobs\/", "urlPingSuffix":
        "DevEx,5101.1"}], "dateLastCrawled": "2017-09-17T05:25:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "NOAA Improved
        Sunrise\/Sunset Calculation", "url": "https:\/\/www.esrl.noaa.gov\/gmd\/grad\/solcalc\/sunrise.html",
      [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A905A70F4FE8432CB86BB851F38B0F09
      X-Msedge-Clientid:
      - 1C0D2E4111486D09376D254910DF6C97
      X-Msapi-Userstate:
      - dbc7
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A18A649682414CDE91349B5674FF156A&CID=1C0D2E4111486D09376D254910DF6C97&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A18A649682414CDE91349B5674FF156A&CID=1C0D2E4111486D09376D254910DF6C97&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=sunset%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5184.1", "totalEstimatedMatches": 121, "nextOffset":
        22, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=2EDC8A9F2F70D31D9B446E09BA1B168C06EF4A99&simid=608026216760282554",
        "webSearchUrlPingSuffix": "DevEx,5023.1", "name": "THE COLORS OF TWILIGHT
        AND SUNSET - Stephen F. Corfidi", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.YdZi71syj6KLgIm5FogWygEsDI&pid=Api",
        "datePublished": "2017-08-31T23:51:00.0000000Z", "contentUrl": "http:\/\/www.spc.noaa.gov\/publications\/corfidi\/sunset\/picss1990nov7gjpgmedLABEL.jpg",
        "contentUrlPingSuffix": "DevEx,5025.1", "hostPageUrl": "http:\/\/www.spc.noaa.gov\/publications\/corfidi\/sunset\/",
        "hostPageUrlPingSuffix": "DevEx,5024.1", "contentSize": "474326 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.spc.noaa.gov\/publications\/corfidi\/sunset",
        "width": 1737, "height": 1161, "thumbnail": {"width": 300, "height": 200},
        "imageInsightsToken": "ccid_YdZi71sy*mid_2EDC8A9F2F70D31D9B446E09BA1B168C06EF4A99*simid_608026216760282554",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "2EDC8A9F2F70D31D9B446E09BA1B168C06EF4A99", "accentColor": "C78F04"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=2449F6C57A83658554188A07022E2B734791A1AD&simid=608034046504995635",
        "webSearchUrlPingSuffix": "DevEx,5029.1", "name": "301 Moved Permanently",
        "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.laWXfvk5sgLUhNzSbEcPIgEsDh&pid=Api",
        "datePublished": "2009-12-22T12:00:00.0000000Z", "contentUrl": "http:\/\/www.crh.noaa.gov\/images\/[...]
