---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7E6B6DA7C50F48A99D84F9AE8ACECC56
      X-Msedge-Clientid:
      - 30DA8D4FE76D6C83309F86C3E6C26D35
      X-Msapi-Userstate:
      - a864
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=7F3B885D1F764B02B96A55127A3AD4D7&CID=30DA8D4FE76D6C83309F86C3E6C26D35&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=7F3B885D1F764B02B96A55127A3AD4D7&CID=30DA8D4FE76D6C83309F86C3E6C26D35&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sunset+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5565.1", "totalEstimatedMatches": 9830000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Sun or Moon Rise\/Set Table for One Year", "url": "http:\/\/aa.usno.navy.mil\/data\/docs\/RS_OneYear.php",
        "urlPingSuffix": "DevEx,5095.1", "displayUrl": "aa.usno.navy.mil\/data\/docs\/RS_OneYear.php",
        "snippet": "This data service provides a table of Sunrise\/Sunset, Moonrise\/Moonset,
        or beginning and end of twilight times for a year.", "dateLastCrawled": "2018-02-01T13:34:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Sunset
        Advisory Commission - Official Site", "url": "https:\/\/www.sunset.texas.gov\/",
        "urlPingSuffix": "DevEx,5119.1", "about": [{"name": "Sunset Advisory Commission"},
        {"name": "Sunset Advisory Commission"}], "displayUrl": "https:\/\/www.sunset.texas.gov",
        "snippet": "Sunset in Texas. Through Sunset, the Legislature looks closely
        at the need for and performance of state agencies. About 130 entities are
        subject to Sunset review ...", "deepLinks": [{"name": "Reviews & Reports",
        "url": "https:\/\/www.sunset.texas.gov\/reviews-and-reports", "urlPingSuffix":
        "DevEx,5110.1"}, {"name": "Commission Members", "url": "https:\/\/www.sunset.texas.gov\/about-us\/sunset-commission-members",
        "urlPingSuffix": "DevEx,5111.1"}, {"name": "Meetings", "url": "https:\/\/www.sunset.texas.gov\/meetings",
        "urlPingSuffix": "DevEx,5112.1"}, {"name": "How Sunset Works", "url": "https:\/\/www.sunset.texas.gov\/how-sunset-works",
   [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 02E7FB408A684ECCA2768795F5CE6CD5
      X-Msedge-Clientid:
      - 294D42F6F92B69B823C3497AF884686B
      X-Msapi-Userstate:
      - 06f1
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D155025810F849DA89E6DD2F193B7B73&CID=294D42F6F92B69B823C3497AF884686B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D155025810F849DA89E6DD2F193B7B73&CID=294D42F6F92B69B823C3497AF884686B&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=sunset%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5188.1", "totalEstimatedMatches": 101, "nextOffset":
        23, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=2449F6C57A83658554188A07022E2B734791A1AD&simid=608034046803643637",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "301 Moved Permanently",
        "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.laWXfvk5sgLUhNzSbEcPIgHaFj&pid=Api",
        "datePublished": "2009-12-22T12:00:00.0000000Z", "contentUrl": "http:\/\/www.crh.noaa.gov\/images\/lmk\/photo_album\/sunsets\/MeadeCo1.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/www.crh.noaa.gov\/lmk\/?n=photoalbum_sunsets_2006",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "1559477 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.crh.noaa.gov\/lmk\/?n=photoalbum_sunsets_2006",
        "width": 2592, "height": 1944, "thumbnail": {"width": 474, "height": 355},
        "imageInsightsToken": "ccid_laWXfvk5*mid_2449F6C57A83658554188A07022E2B734791A1AD*simid_608034046803643637",
        "imageId": "2449F6C57A83658554188A07022E2B734791A1AD", "accentColor": "CB9A00"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=39C228B4F55CCAE20F1FE8BEF132EEFD0FA12D0D&simid=607999133023275195",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "APOD: 2006 June 20 - Hideaway",
        "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.Ji9nN6mzlxMUPFk-udNP4wHaFj&pid=Api",
        "datePublished": "2016-11-11T10:41:00.0000000Z", "contentUrl": "https:\/\/apod.nasa.gov\/apod\/image\/0606\/hideaway_nielsen_big.jpg",
        "contentUrlPingSuffix": "DevEx,5033.1", "hostPageUrl": "https:\/\/apod.nasa.gov\/apod\/ap060620.html",
        "hostPageUrlPingSuffix": "DevEx,5032.1", "contentSize": "153268 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/apod.nasa.gov\/apod\/ap060620.html",
        "width": 1024, "height": 768, "thumbnail": {"width": 474, "height": 355},
        "imageInsightsToken": "ccid_Ji9nN6mz*mid_39C228B4F55CCAE20F1FE8BEF132EEFD0FA12D0D*simid_607999133023275195",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "39C228B4F55CCAE20F1FE8BEF132EEFD0FA12D0D", "accentColor": "8C6C3F"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=EC4901EF6B30753FA8E311BE9FA847A545EE7409&simid=608014165474476462",
        "webSearchUrlPingSuffix": "DevEx,5037.1", "name": "APOD: 2008 January 12 -
        Mercury Chases the Sunset", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.A5fbVZs58NhWbARIY29vowHaEa&pid=Api[...]
