---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3D9F211803ED4A0FB2D322E3069DE430
      X-Msedge-Clientid:
      - 28D0A506185D63C12FAAAE4119CA6269
      X-Msapi-Userstate:
      - 8a83
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C73FC2EB30224F399AC933E99B193581&CID=28D0A506185D63C12FAAAE4119CA6269&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C73FC2EB30224F399AC933E99B193581&CID=28D0A506185D63C12FAAAE4119CA6269&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sunset+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5581.1", "totalEstimatedMatches": 4320000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Sun or Moon Rise\/Set Table for One Year", "url": "http:\/\/aa.usno.navy.mil\/data\/docs\/RS_OneYear.php",
        "urlPingSuffix": "DevEx,5098.1", "displayUrl": "aa.usno.navy.mil\/data\/docs\/RS_OneYear.php",
        "snippet": "This data service provides a table of Sunrise\/Sunset, Moonrise\/Moonset,
        or beginning and end of twilight times for a year.", "dateLastCrawled": "2017-11-21T18:54:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Sunset
        SB - CA State Parks", "url": "http:\/\/www.parks.ca.gov\/?page_id=544",
        "urlPingSuffix": "DevEx,5117.1", "about": [{"name": "Sunset State Beach"},
        {"name": "Sunset State Beach"}], "displayUrl": "www.parks.ca.gov\/?page_id=544",
        "snippet": "Visiting Sunset. A peaceful campground under the pines, picnicking
        on the beach, and unmatched views of Monterey Bay make Sunset State Beach
        a favorite year-round ...", "deepLinks": [{"name": "Visit a Park", "url":
        "http:\/\/www.parks.ca.gov\/ParkIndex", "urlPingSuffix": "DevEx,5112.1"},
        {"name": "Job Postings", "url": "http:\/\/www.parks.ca.gov\/parkjobs\/", "urlPingSuffix":
        "DevEx,5113.1"}], "dateLastCrawled": "2017-11-22T02:35:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Sunset Advisory
        Commission - Official Site", "url": "https:\/\/www.sunset.texas.gov\/", "urlPingSuffix":
        "DevEx,51[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 73D8746234394F68BFD00922EAB2BBF4
      X-Msedge-Clientid:
      - '0119F13FF82069EE218BFA78F9B768B8'
      X-Msapi-Userstate:
      - a71b
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=22BE2211E3F14CA6A000A2DF638A2A26&CID=0119F13FF82069EE218BFA78F9B768B8&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=22BE2211E3F14CA6A000A2DF638A2A26&CID=0119F13FF82069EE218BFA78F9B768B8&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=sunset%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5186.1", "totalEstimatedMatches": 100, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=39864F9A3E1CA4916687722F26B51552F48C4085&simid=608004883831000669",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "APOD: 2006 June 20 - Hideaway",
        "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.Ji9nN6mzlxMUPFk-udNP4wEsDh&pid=Api",
        "datePublished": "2010-02-06T07:28:00.0000000Z", "contentUrl": "http:\/\/apod.nasa.gov\/apod\/image\/0606\/hideaway_nielsen_big.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/apod.nasa.gov\/apod\/ap060620.html",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "153268 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "apod.nasa.gov\/apod\/ap060620.html", "width":
        1024, "height": 768, "thumbnail": {"width": 300, "height": 225}, "imageInsightsToken":
        "ccid_Ji9nN6mz*mid_39864F9A3E1CA4916687722F26B51552F48C4085*simid_608004883831000669",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "39864F9A3E1CA4916687722F26B51552F48C4085", "accentColor": "8C6C3F"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=6E3C50FF394BB7B0C641217932E7E2F7B021C1EE&simid=608007057084384633",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "Climate Change: Climate
        Resource Center - Vivid sunset", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.haznlO4Be9lJI3albl39DwE8DF&pid=Api",
        "datePublished": "2017-08-28T12:56:00.0000000Z", "contentUrl": "ht[...]
