---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E9D21F5ADA764E50A96EA456D8E4D690
      X-Msedge-Clientid:
      - 00F3A722C5B8648E2E20AD1FC42F6582
      X-Msapi-Userstate:
      - 8c15
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=0FB32D8ECAA94D15B591A34B90547AFE&CID=00F3A722C5B8648E2E20AD1FC42F6582&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=0FB32D8ECAA94D15B591A34B90547AFE&CID=00F3A722C5B8648E2E20AD1FC42F6582&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sunset+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5497.1", "totalEstimatedMatches": 560000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "NOAA Improved Sunrise\/Sunset Calculation", "url": "https:\/\/www.esrl.noaa.gov\/gmd\/grad\/solcalc\/sunrise.html",
        "urlPingSuffix": "DevEx,5078.1", "displayUrl": "https:\/\/www.esrl.noaa.gov\/gmd\/grad\/solcalc\/sunrise.html",
        "snippet": "Selecting \"Yes\" in the Daylight Saving field will cause the
        resulting sunrise, sunset and solar noon times to be adjusted forward one
        hour.", "dateLastCrawled": "2017-02-25T02:19:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Facility Details - SUNSET, OR - Recreation.gov", "url": "https:\/\/www.recreation.gov\/camping\/sunset\/r\/campgroundDetails.do?contractCode=NRSO&parkId=73538",
        "urlPingSuffix": "DevEx,5099.1", "displayUrl": "https:\/\/www.recreation.gov\/camping\/sunset\/r\/campgroundDetails.do?...",
        "snippet": "Sunset Campground is located on the banks of scenic Lake of
        the Woods, in close proximity to several wilderness areas, offering visitors
        opportunities to experience ...", "dateLastCrawled": "2017-03-03T13:04:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Sunset
        SB", "url": "http:\/\/www.parks.ca.gov\/?page_id=544", "urlPingSuffix": "DevEx,5114.1",
        "about": [{"name": "Sunset State Beach"}, {"name": "Sunset State Beach"}],
        "displayUrl": "www.parks.ca.gov\/?page_id=544", "snippet": "Visiting Sunset
        State Beach. The beach features pine trees, mountainous sand dunes, and ocean
        side picnic spots. Bordered by large agricultural fields west of the ...",
        "dateLastCrawled": "2017-03-02T15:26:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3",
        "name": "Complete Sun and Moon Data for One Day[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - BFD4AD434676411FA72035FA32E10B5D
      X-Msedge-Clientid:
      - 0F85A3FF55DB65A72C7CA9C2544C64C9
      X-Msapi-Userstate:
      - a35e
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=4BCD39BB5E884294BF2C889ED654BE6C&CID=0F85A3FF55DB65A72C7CA9C2544C64C9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=4BCD39BB5E884294BF2C889ED654BE6C&CID=0F85A3FF55DB65A72C7CA9C2544C64C9&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=sunset%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5179.1", "totalEstimatedMatches": 109, "nextOffset":
        23, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=E17C2414DC271DE3C330CB80E086EE4CDA94EBA7&simid=608005029326753625",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "sunset photo", "thumbnailUrl":
        "https:\/\/tse2.mm.bing.net\/th?id=OIP.Mvi_eCHxad-nZM_XLrpN-wEsDj&pid=Api",
        "datePublished": "2005-01-19T12:00:00.0000000Z", "contentUrl": "http:\/\/www.crh.noaa.gov\/images\/sgf\/wxphotos\/sunsets\/sunset3.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/www.crh.noaa.gov\/sgf\/?n=photos_sunsets",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "26315 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.crh.noaa.gov\/sgf\/?n=photos_sunsets",
        "width": 761, "height": 577, "thumbnail": {"width": 300, "height": 227}, "imageInsightsToken":
        "ccid_Mvi\/eCHx*mid_E17C2414DC271DE3C330CB80E086EE4CDA94EBA7*simid_608005029326753625",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "E17C2414DC271DE3C330CB80E086EE4CDA94EBA7", "accentColor": "C17E0A"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=2EDC8A9F2F70D31D9B4445FB3C821E378E291B47&simid=608012210511743991",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "THE COLORS OF TWILIGHT
        AND SUNSET - Stephen F. Corfidi", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.LyNEwJHh24LZ7E2U38pWzQEsDI&pid=Api",
        "datePublished": "2017-02-20T22:23:00.0000000Z", "contentUrl": "ht[...]
