---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 28710F6E739845AFA730E28001E373E5
      X-Msedge-Clientid:
      - 3757A85CB9E86F2C1DD3A23EB87F6EAD
      X-Msapi-Userstate:
      - c4de
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=BB8F21C1234E44D6862DC22DE194FEB8&CID=3757A85CB9E86F2C1DD3A23EB87F6EAD&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=BB8F21C1234E44D6862DC22DE194FEB8&CID=3757A85CB9E86F2C1DD3A23EB87F6EAD&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sunset+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5500.1", "totalEstimatedMatches": 1510000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Sunset SB - CA State Parks", "url": "http:\/\/www.parks.ca.gov\/?page_id=544",
        "urlPingSuffix": "DevEx,5084.1", "about": [{"name": "Sunset State Beach"},
        {"name": "Sunset State Beach"}], "displayUrl": "www.parks.ca.gov\/?page_id=544",
        "snippet": "Visiting Sunset State Beach. The beach features pine trees,
        mountainous sand dunes, and ocean side picnic spots. Bordered by large agricultural
        fields west of the ...", "dateLastCrawled": "2017-04-05T17:09:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Complete
        Sun and Moon Data for One Day", "url": "http:\/\/aa.usno.navy.mil\/data\/docs\/RS_OneDay.php",
        "urlPingSuffix": "DevEx,5097.1", "displayUrl": "aa.usno.navy.mil\/data\/docs\/RS_OneDay.php",
        "snippet": "Calculates the times of sunrise, sunset, moonrise, moonset,
        transits, and the beginning and end of civil twilight, along with information
    [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8B6C116311D54524851EB2993872A935
      X-Msedge-Clientid:
      - 338242A1440168A0089748C34596699A
      X-Msapi-Userstate:
      - 0b29
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5BD01DEA925148BB8EEBEED5F0A0420E&CID=338242A1440168A0089748C34596699A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5BD01DEA925148BB8EEBEED5F0A0420E&CID=338242A1440168A0089748C34596699A&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=sunset%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5181.1", "totalEstimatedMatches": 107, "nextOffset":
        23, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=2EDC8A9F2F70D31D9B446E09BA1B168C06EF4A99&simid=608026216446230803",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "THE COLORS OF TWILIGHT
        AND SUNSET - Stephen F. Corfidi", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.YdZi71syj6KLgIm5FogWygEsDI&pid=Api",
        "datePublished": "2017-03-29T03:31:00.0000000Z", "contentUrl": "http:\/\/www.spc.noaa.gov\/publications\/corfidi\/sunset\/picss1990nov7gjpgmedLABEL.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/www.spc.noaa.gov\/publications\/corfidi\/sunset\/",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "474326 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.spc.noaa.gov\/publications\/corfidi\/sunset",
        "width": 1737, "height": 1161, "thumbnail": {"width": 300, "height": 200},
        "imageInsightsToken": "ccid_YdZi71sy*mid_2EDC8A9F2F70D31D9B446E09BA1B168C06EF4A99*simid_608026216446230803",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "2EDC8A9F2F70D31D9B446E09BA1B168C06EF4A99", "accentColor": "C78F04"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=2EDC8A9F2F70D31D9B4445FB3C821E378E291B47&simid=608012210564173107",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "THE COLORS OF TWILIGHT
        AND SUNSET - Stephen F. Corfidi", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.LyNEwJHh24LZ7E2U38pWzQEsDI&pid=Api",
        "datePublished": "2017-03-24T00:45:00.0000000Z", "contentUrl": "ht[...]
