---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(sunset)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028sunset\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":2330000,"Offset":0,"Results":[{"Title":"Table
        of Sunrise\u002fSunset, Moonrise\u002fMoonset, or Twilight ...","Description":"Obtain
        a table of the times of sunrise\u002fsunset, moonrise\u002fmoonset, or the
        beginning and end of twilight, for one year.","Url":"http\u003a\u002f\u002faa.usno.navy.mil\u002fdata\u002fdocs\u002fRS_OneYear.php","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dsunset\u0026d\u003d4769519872312096\u0026w\u003dKuA_YTuU5mJ47R3CTf2BIgOjov66RWWi","DisplayUrl":"aa.usno.navy.mil\u002fdata\u002fdocs\u002fRS_OneYear.php","DateTime":"2016-12-02T15\u003a11\u003a00Z"},{"Title":"Sunset
        SB","Description":"Visiting Sunset State Beach. The beach features pine
        trees, mountainous sand dunes, and ocean side picnic spots. Bordered by large
        agricultural fields west of the ...","Url":"http\u003a\u002f\u002fwww.parks.ca.gov\u002f\u003fpage_id\u003d544","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dsunset\u0026d\u003d4870455891985501\u0026w\u003dYJZEIvdzgeem06nfeTLIREFP1EfU1Nyr","D[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&image.count=20&query=(sunset)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028sunset\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Image":{"Total":10300,"Offset":0,"Results":[{"Title":"sunset
        photo","MediaUrl":"http\u003a\u002f\u002fwww.crh.noaa.gov\u002fimages\u002fsgf\u002fwxphotos\u002fsunsets\u002fsunset3.jpg","Url":"http\u003a\u002f\u002fwww.crh.noaa.gov\u002fsgf\u002f\u003fn\u003dphotos_sunsets","DisplayUrl":"www.crh.noaa.gov\u002fsgf\u002f\u003fn\u003dphotos_sunsets","Width":761,"Height":577,"FileSize":26315,"ContentType":"image\u002fjpeg","Thumbnail":{"Url":"http\u003a\u002f\u002fts3.mm.bing.net\u002fth\u003fid\u003dOIP.M32f8bf7821f169dfa764cfd72eba4dfbo0\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":300,"Height":227,"FileSize":3122}},{"Title":"THE
        COLORS OF TWILIGHT AND SUNSET - Stephen F. Corfidi","MediaUrl":"http\u003a\u002f\u002fwww.spc.noaa.gov\u002fpublications\u002fcorfidi\u002fsunset\u002fpicss1990nov7gjpgmedLABEL.jpg","Url":"http\u003a\u002f\u002fwww.spc.noaa.gov\u002fpublications\u002fcorfidi\u002fsunset\u002f"[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5D37244C11FD4832AEBE34B06E180BBC
      X-Msedge-Clientid:
      - 1FC22BF3F5E068B6311D21EDF4776976
      X-Msapi-Userstate:
      - 0e88
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C884930ACD294516AB490C88E5FF42DC&CID=1FC22BF3F5E068B6311D21EDF4776976&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C884930ACD294516AB490C88E5FF42DC&CID=1FC22BF3F5E068B6311D21EDF4776976&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sunset+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5517.1", "totalEstimatedMatches": 955000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Sunset Campground - Recreation.gov", "url": "https:\/\/www.recreation.gov\/camping\/sunset-campground\/r\/campgroundDetails.do?contractCode=NRSO&parkId=74088",
        "urlPingSuffix": "DevEx,5108.1", "displayUrl": "https:\/\/www.recreation.gov\/camping\/sunset-campground\/r\/campground...",
        "snippet": "Sunset Campground is located in beautiful and unique Bryce Canyon
        National Park. Known for its colorful rock spires and grand vistas that sweep
        out over the High ...", "dateLastCrawled": "2017-01-26T17:50:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "DEEP:
        Sunrise - Sunset Times", "url": "http:\/\/www.ct.gov\/deep\/cwp\/view.asp?A=2700&Q=323422",
        "urlPingSuffix": "DevEx,5121.1", "displayUrl": "www.ct.gov\/deep\/cwp\/view.asp?A=2700&Q=323422",
        "snippet": "Sunrise - Sunset Eastern Standard Time: Sunrise and sunset
        times are approximate for central Connecticut. Add 1 hour for Daylight Saving
   [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6A3B937A80364556A6F07EA9EAA7E34B
      X-Msedge-Clientid:
      - 2B7B3E68977D687B02D6347696EA69A1
      X-Msapi-Userstate:
      - dbfd
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F30622FBEDFB4D4E9C36022A03A36604&CID=2B7B3E68977D687B02D6347696EA69A1&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F30622FBEDFB4D4E9C36022A03A36604&CID=2B7B3E68977D687B02D6347696EA69A1&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=sunset%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5163.1", "totalEstimatedMatches": 107, "nextOffset":
        23, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=2EDC8A9F2F70D31D9B4445FB3C821E378E291B47&simid=608012210469605002",
        "webSearchUrlPingSuffix": "DevEx,5006.1", "name": "THE COLORS OF TWILIGHT
        AND SUNSET - Stephen F. Corfidi", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.LyNEwJHh24LZ7E2U38pWzQEsDI&pid=Api",
        "datePublished": "2017-01-20T23:29:00.0000000Z", "contentUrl": "http:\/\/www.spc.noaa.gov\/publications\/corfidi\/sunset\/picss1990nov7ejpgmedLABEL.jpg",
        "contentUrlPingSuffix": "DevEx,5008.1", "hostPageUrl": "http:\/\/www.spc.noaa.gov\/publications\/corfidi\/sunset\/",
        "hostPageUrlPingSuffix": "DevEx,5007.1", "contentSize": "361562 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.spc.noaa.gov\/publications\/corfidi\/sunset",
        "width": 1737, "height": 1161, "thumbnail": {"width": 300, "height": 200},
        "imageInsightsToken": "ccid_LyNEwJHh*mid_2EDC8A9F2F70D31D9B4445FB3C821E378E291B47*simid_608012210469605002",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "2EDC8A9F2F70D31D9B4445FB3C821E378E291B47", "accentColor": "C77D04"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=2EDC8A9F2F70D31D9B446E09BA1B168C06EF4A99&simid=608026216358215739",
        "webSearchUrlPingSuffix": "DevEx,5012.1", "name": "THE COLORS OF TWILIGHT
        AND SUNSET - Stephen F. Corfidi", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.YdZi71syj6KLgIm5FogWygEsDI&pid=Api",
        "datePublished": "2017-01-15T22:44:00.0000000Z", "contentUrl": "ht[...]
