---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D971F6ED872B40B2BC40A5C65FDF53BF
      X-Msedge-Clientid:
      - 31C9E9CDD81E63411268E34DD9896270
      X-Msapi-Userstate:
      - 6adb
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=054F3A23FF744BB6B93F347231248850&CID=31C9E9CDD81E63411268E34DD9896270&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=054F3A23FF744BB6B93F347231248850&CID=31C9E9CDD81E63411268E34DD9896270&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sunset+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5545.1", "totalEstimatedMatches": 1400000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Sunset SB - CA State Parks", "url": "http:\/\/www.parks.ca.gov\/?page_id=544",
        "urlPingSuffix": "DevEx,5089.1", "about": [{"name": "Sunset State Beach"},
        {"name": "Sunset State Beach"}], "displayUrl": "www.parks.ca.gov\/?page_id=544",
        "snippet": "Visiting Sunset State Beach. The beach features pine trees,
        mountainous sand dunes, and ocean side picnic spots. Bordered by large agricultural
        fields west of the ...", "dateLastCrawled": "2017-05-07T00:15:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "NOAA Improved
        Sunrise\/Sunset Calculation", "url": "https:\/\/www.esrl.noaa.gov\/gmd\/grad\/solcalc\/sunrise.html",
        "urlPingSuffix": "DevEx,5101.1", "displayUrl": "https:\/\/www.esrl.noaa.gov\/gmd\/grad\/solcalc\/sunrise.html",
        "snippet": "Sunrise\/Sunset Calculator: Earth System Research Lab: Please
        note that this web page is the old version of the NO[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0390744B8FB44AB3BB492DC3107ED35A
      X-Msedge-Clientid:
      - 066D31BFD7F1657D137C3B3FD666642B
      X-Msapi-Userstate:
      - 941e
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1DC74C94DA7F4645AF90D6014B51F042&CID=066D31BFD7F1657D137C3B3FD666642B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1DC74C94DA7F4645AF90D6014B51F042&CID=066D31BFD7F1657D137C3B3FD666642B&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=sunset%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5181.1", "totalEstimatedMatches": 107, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=00BB4770CDD618EA165882BBD552B45913F45783&simid=608051007034034423",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "Summer sunset.", "thumbnailUrl":
        "https:\/\/tse2.mm.bing.net\/th?id=OIP.ZlE6YoCyXRT1Y2sLB_56JAEsDh&pid=Api",
        "datePublished": "2010-02-03T18:16:00.0000000Z", "contentUrl": "http:\/\/www.crh.noaa.gov\/images\/arx\/photos\/sunset.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/www.crh.noaa.gov\/arx\/photos.php",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "38547 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.crh.noaa.gov\/arx\/photos.php", "width":
        640, "height": 480, "thumbnail": {"width": 300, "height": 225}, "imageInsightsToken":
        "ccid_ZlE6YoCy*mid_00BB4770CDD618EA165882BBD552B45913F45783*simid_608051007034034423",
        "imageId": "00BB4770CDD618EA165882BBD552B45913F45783", "accentColor": "CA4901"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=2EDC8A9F2F70D31D9B4445FB3C821E378E291B47&simid=608012210605460663",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "THE COLORS OF TWILIGHT
        AND SUNSET - Stephen F. Corfidi", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.LyNEwJHh24LZ7E2U38pWzQEsDI&pid=Api",
        "datePublished": "2017-04-23T20:34:00.0000000Z", "contentUrl": "http:\/\/www.spc.noaa.gov\/publications\/corfidi\/sunset\/picss1990nov7ejpgmedLABEL.jpg",
        "contentUrlPingSuffix": "DevEx,5030.1", "hostPageUrl": "http:\/\/www.spc.noaa.gov\/publications\/corfidi\/sunset\/",
        "hostPageUrlPingSuffix": "DevEx,5029.1", "contentSize": "361562 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.spc.noaa.gov\/publications\/corfidi\/sunset",
        "width": 1737, "height": 1161, "thumbnail": {"width": 300, "height": 200},
        "imageInsightsToken": "ccid_LyNEwJHh*mid_2EDC8A9F2F70D31D9B4445FB3C821E378E291B47*simid_608012210605460663",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "2EDC8A9F2F70D31D9B4445FB3C821E378E291B47", "accentColor": "C77D04"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=4B347ACDB344FBD308A0051D41B6A54DC6E4634A&simid=607998144574851494",
        "webSearchUrlPingSuffix": "DevEx,5034.1", "name": "... of Environmental Protection
        -- Nevada Photos, Lake Tahoe Sunset", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.YZzfpvxFPJF5LtkT[...]
