---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28sunset%29+language%3Aen+%28scopeid%3Ausagovall+OR+site%3Agov+OR+site%3Amil%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028sunset\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":3600000,"Offset":0,"Results":[{"Title":"DEEP\u003a
        Sunrise - Sunset Times","Description":"Sunrise - Sunset Eastern Standard
        Time\u003a Sunrise and sunset times are approximate for central Connecticut.
        Add 1 hour for Daylight Saving Time when in effect from ...","Url":"http\u003a\u002f\u002fwww.ct.gov\u002fdeep\u002fcwp\u002fview.asp\u003fA\u003d2700\u0026Q\u003d323422","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dsunset\u0026d\u003d4988176559048063\u0026w\u003dhXLZbektwAbcXHGyHFxVUMbRIYK0IJys","DisplayUrl":"www.ct.gov\u002fdeep\u002fcwp\u002fview.asp\u003fA\u003d2700\u0026Q\u003d323422","DateTime":"2016-05-30T23\u003a40\u003a00Z"},{"Title":"Complete
        Sun and Moon Data for One Day","Description":"Calculates the times of sunrise,
        sunset, moonrise, moonset, transits, and the beginning and end of civil
        twilight, along with information on the Moon\u0027s phase by ...","Url":"http\u003a\u002f\u002faa.usno.navy.mil\u002fdata\u002fdocs\u002fRS_OneDay.php","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dsunset\u0026d\u003d4970597266751909\u0026w\[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&image.count=20&query=%28sunset%29+language%3Aen+%28scopeid%3Ausagovall+OR+site%3Agov+OR+site%3Amil%29&sources=Spell+Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028sunset\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Image":{"Total":10300,"Offset":0,"Results":[{"Title":"Summer
        sunset.","MediaUrl":"http\u003a\u002f\u002fwww.crh.noaa.gov\u002fimages\u002farx\u002fphotos\u002fsunset.jpg","Url":"http\u003a\u002f\u002fwww.crh.noaa.gov\u002farx\u002fphotos.php","DisplayUrl":"www.crh.noaa.gov\u002farx\u002fphotos.php","Width":640,"Height":480,"FileSize":38547,"ContentType":"image\u002fjpeg","Thumbnail":{"Url":"http\u003a\u002f\u002fts3.mm.bing.net\u002fth\u003fid\u003dOIP.M66513a6280b25d14f5636b0b07fe7a24o0\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":300,"Height":225,"FileSize":5577}},{"Title":"Sunset
        Comet - NASA Science","MediaUrl":"http\u003a\u002f\u002fscience.nasa.gov\u002fmedia\u002fmedialibrary\u002f2013\u002f03\u002f15\u002fsplash.jpg\u002fimage_full","Url":"http\u003a\u002f\u002fscience.nasa.gov\u002fscience-news\u002fscience-at-nasa\u002f2013\u002f15mar_sunsetc[...]
