---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B64E58CD073346E9A49456A714094102
      X-Msedge-Clientid:
      - 03E77DC66A5664DE2F0177056BC16579
      X-Msapi-Userstate:
      - 249b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E51C0A42D4DE43B881441640D3DD58C8&CID=03E77DC66A5664DE2F0177056BC16579&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E51C0A42D4DE43B881441640D3DD58C8&CID=03E77DC66A5664DE2F0177056BC16579&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sunset+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5550.1", "totalEstimatedMatches": 7300000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Sun or Moon Rise\/Set Table for One Year", "url": "http:\/\/aa.usno.navy.mil\/data\/docs\/RS_OneYear.php",
        "urlPingSuffix": "DevEx,5086.1", "displayUrl": "aa.usno.navy.mil\/data\/docs\/RS_OneYear.php",
        "snippet": "This data service provides a table of Sunrise\/Sunset, Moonrise\/Moonset,
        or beginning and end of twilight times for a year.", "dateLastCrawled": "2017-07-13T02:46:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Sunset
        SB - CA State Parks", "url": "http:\/\/www.parks.ca.gov\/?page_id=544",
        "urlPingSuffix": "DevEx,5102.1", "about": [{"name": "Sunset State Beach"},
        {"name": "Sunset State Beach"}], "displayUrl": "www.parks.ca.gov\/?page_id=544",
        "snippet": "Visiting Sunset State Beach. A peaceful campground under the
        pines, picnicking on the beach, and unmatched views of Monterey Bay make Sunset
        State Beach a favorite ...", "dateLastCrawled": "2017-07-13T17:47:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "THE COLORS
        OF TWILIGHT AND S[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 17F00A65605D40129C4DDB2881F9984A
      X-Msedge-Clientid:
      - 060C15B186816D783E011F7287166C17
      X-Msapi-Userstate:
      - 9cea
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=579674FC59644C4881E43BE699B3F497&CID=060C15B186816D783E011F7287166C17&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=579674FC59644C4881E43BE699B3F497&CID=060C15B186816D783E011F7287166C17&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=sunset%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5183.1", "totalEstimatedMatches": 107, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=2449F6C57A83658554188A07022E2B734791A1AD&simid=608034046359768399",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "Meade County sunset. Ron
        Hicks", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.laWXfvk5sgLUhNzSbEcPIgEsDh&pid=Api",
        "datePublished": "2009-12-22T12:00:00.0000000Z", "contentUrl": "http:\/\/www.crh.noaa.gov\/images\/lmk\/photo_album\/sunsets\/MeadeCo1.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/www.crh.noaa.gov\/lmk\/?n=photoalbum_sunsets_2006",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "1559477 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.crh.noaa.gov\/lmk\/?n=photoalbum_sunsets_2006",
        "width": 2592, "height": 1944, "thumbnail": {"width": 300, "height": 225},
        "imageInsightsToken": "ccid_laWXfvk5*mid_2449F6C57A83658554188A07022E2B734791A1AD*simid_608034046359768399",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "2449F6C57A83658554188A07022E2B734791A1AD", "accentColor": "CB9A00"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=2EDC8A9F2F70D31D9B4445FB3C821E378E291B47&simid=608012210743938334",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "THE COLORS OF TWILIGHT
        AND SUNSET - Stephen F. Corfidi", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.LyNEwJHh24LZ7E2U38pWzQEsDI&pid=Api",
        "datePublished": "2017-07-03T05:12:00.0000000Z", "contentUrl": "ht[...]
