---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1EB351807A0E4DDEACCD92079DA8FC06
      X-Msedge-Clientid:
      - 12A305E7C36564330DA70E79C2806520
      X-Msapi-Userstate:
      - f778
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5B7289F8C2AC4F98BD510EC1B88DF7E5&CID=12A305E7C36564330DA70E79C2806520&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5B7289F8C2AC4F98BD510EC1B88DF7E5&CID=12A305E7C36564330DA70E79C2806520&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=sunset%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5188.1", "totalEstimatedMatches": 102, "nextOffset":
        23, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=2449F6C57A83658554188A07022E2B734791A1AD&simid=608034046865640721",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "301 Moved Permanently",
        "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.laWXfvk5sgLUhNzSbEcPIgHaFj&pid=Api",
        "datePublished": "2009-12-22T12:00:00.0000000Z", "contentUrl": "http:\/\/www.crh.noaa.gov\/images\/lmk\/photo_album\/sunsets\/MeadeCo1.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/www.crh.noaa.gov\/lmk\/?n=photoalbum_sunsets_2006",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "1559477 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.crh.noaa.gov\/lmk\/?n=photoalbum_sunsets_2006",
        "width": 2592, "height": 1944, "thumbnail": {"width": 474, "height": 355},
        "imageInsightsToken": "ccid_laWXfvk5*mid_2449F6C57A83658554188A07022E2B734791A1AD*simid_608034046865640721",
        "imageId": "2449F6C57A83658554188A07022E2B734791A1AD", "accentColor": "CB9A00"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=2EDC8A9F2F70D31D9B446E09BA1B168C06EF4A99&simid=608026217123745329",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "THE COLORS OF TWILIGHT
        AND SUNSET - Stephen F. Corfidi", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.YdZi71syj6KLgIm5FogWygHaE8&pid=Api",
        "datePublished": "2018-02-09T22:04:00.0000000Z", "contentUrl": "http:\/\/www.spc.noaa.gov\/publications\/corfidi\/sunset\/picss1990nov7gjpgmedLABEL.jpg",
        "contentUrlPingSuffix": "DevEx,5033.1", "hostPageUrl": "http:\/\/www.spc.noaa.gov\/publications\/corfidi\/sunset\/",
        "hostPageUrlPingSuffix": "DevEx,5032.1", "contentSize": "474326 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.spc.noaa.gov\/publications\/corfidi\/sunset",
        "width": 1737, "height": 1161, "thumbnail": {"width": 474, "height": 316},
        "imageInsightsToken": "ccid_YdZi71sy*mid_2EDC8A9F2F70D31D9B446E09BA1B168C06EF4A99*simid_608026217123745329",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "2EDC8A9F2F70D31D9B446E09BA1B168C06EF4A99", "accentColor": "C78F04"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=EC4901EF6B30753FA8E311BE9FA847A545EE7409&simid=608014165531755022",
        "webSearchUrlPingSuffix": "DevEx,5037.1", "name": "APOD: 2008 January 12 -
        Mercury Chases the Sunset", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.A5fbVZs58NhWbARIY29vowHaEa&pid=Api[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C4D21976713D411FAC8F277617694DD5
      X-Msedge-Clientid:
      - 367AE73D31CF6BC20925ECA3302A6AED
      X-Msapi-Userstate:
      - '9488'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=184DB326574843EDBBB5B2FD52E1FDAF&CID=367AE73D31CF6BC20925ECA3302A6AED&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=184DB326574843EDBBB5B2FD52E1FDAF&CID=367AE73D31CF6BC20925ECA3302A6AED&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sunset+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5560.1", "totalEstimatedMatches": 4230000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Sun or Moon Rise\/Set Table for One Year", "url": "http:\/\/aa.usno.navy.mil\/data\/docs\/RS_OneYear.php",
        "urlPingSuffix": "DevEx,5094.1", "displayUrl": "aa.usno.navy.mil\/data\/docs\/RS_OneYear.php",
        "snippet": "This data service provides a table of Sunrise\/Sunset, Moonrise\/Moonset,
        or beginning and end of twilight times for a year.", "dateLastCrawled": "2018-02-16T16:31:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Sunset
        SB - CA State Parks", "url": "http:\/\/www.parks.ca.gov\/?page_id=544",
        "urlPingSuffix": "DevEx,5113.1", "about": [{"name": "Sunset State Beach"}],
        "displayUrl": "www.parks.ca.gov\/?page_id=544", "snippet": "Visiting Sunset.
        A peaceful campground under the pines, picnicking on the beach, and unmatched
        views of Monterey Bay make Sunset State Beach a favorite year-round ...",
        "deepLinks": [{"name": "Visit a Park", "url": "http:\/\/www.parks.ca.gov\/ParkIndex",
        "urlPingSuffix": "DevEx,5108.1"}, {"name": "Job Postings", "url": "http:\/\/www.parks.ca.gov\/ParkJobs",
        "urlPingSuffix": "DevEx,5109.1"}], "dateLastCrawled": "2018-02-14T16:26:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Sunset
        Advisory Commission - Official Site", "url": "https:\/\/www.sunset.texas.gov\/",
        "urlPingSuffix": "DevEx,5139.1", "ab[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0A904BD95CD9453FBFC38C31EF[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1E6CA9D81AF84F54BD[...]
