---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4ECFC17840E049F0A871391A49AD3094
      X-Msedge-Clientid:
      - 3FE4FB93692568353F10F1A26814690B
      X-Msapi-Userstate:
      - b166
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=4E6B2C806D8F4D5AA46F3EB0CE4930F5&CID=3FE4FB93692568353F10F1A26814690B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=4E6B2C806D8F4D5AA46F3EB0CE4930F5&CID=3FE4FB93692568353F10F1A26814690B&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sunset+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5492.1", "totalEstimatedMatches": 771000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Sunset Campground - Recreation.gov", "url": "https:\/\/www.recreation.gov\/camping\/sunset-campground\/r\/campgroundDetails.do?contractCode=NRSO&parkId=74088",
        "urlPingSuffix": "DevEx,5088.1", "displayUrl": "https:\/\/www.recreation.gov\/camping\/sunset-campground\/r\/campground...",
        "snippet": "Sunset Campground is located in beautiful and unique Bryce Canyon
        National Park. Known for its colorful rock spires and grand vistas that sweep
        out over the High ...", "dateLastCrawled": "2017-02-11T12:58:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Facility
        Details - SUNSET, OR - Recreation.gov", "url": "https:\/\/www.recreation.gov\/camping\/sunset\/r\/campgroundDetails.do?contractCode=NRSO&parkId=73538",
        "urlPingSuffix": "DevEx,5109.1", "displayUrl": "https:\/\/www.recreation.gov\/camping\/sunset\/r\/campgroundDetails.do?...",
        "snippet": "Sunset Campground is located on the banks of scenic Lake o[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 15C5A7848DB9449BB00FE45A95E3F630
      X-Msedge-Clientid:
      - 2063E63AD4476E51349EEC0BD5766FAD
      X-Msapi-Userstate:
      - 086e
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=0A96DABCE1824150B9E76AB6DCB63E99&CID=2063E63AD4476E51349EEC0BD5766FAD&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=0A96DABCE1824150B9E76AB6DCB63E99&CID=2063E63AD4476E51349EEC0BD5766FAD&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=sunset%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5163.1", "totalEstimatedMatches": 100, "nextOffset":
        22, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=2EDC8A9F2F70D31D9B4445FB3C821E378E291B47&simid=608012210501258828",
        "webSearchUrlPingSuffix": "DevEx,5006.1", "name": "THE COLORS OF TWILIGHT
        AND SUNSET - Stephen F. Corfidi", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.LyNEwJHh24LZ7E2U38pWzQEsDI&pid=Api",
        "datePublished": "2017-02-04T23:25:00.0000000Z", "contentUrl": "http:\/\/www.spc.noaa.gov\/publications\/corfidi\/sunset\/picss1990nov7ejpgmedLABEL.jpg",
        "contentUrlPingSuffix": "DevEx,5008.1", "hostPageUrl": "http:\/\/www.spc.noaa.gov\/publications\/corfidi\/sunset\/",
        "hostPageUrlPingSuffix": "DevEx,5007.1", "contentSize": "361562 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.spc.noaa.gov\/publications\/corfidi\/sunset",
        "width": 1737, "height": 1161, "thumbnail": {"width": 300, "height": 200},
        "imageInsightsToken": "ccid_LyNEwJHh*mid_2EDC8A9F2F70D31D9B4445FB3C821E378E291B47*simid_608012210501258828",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "2EDC8A9F2F70D31D9B4445FB3C821E378E291B47", "accentColor": "C77D04"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=2EDC8A9F2F70D31D9B446E09BA1B168C06EF4A99&simid=608026216379253312",
        "webSearchUrlPingSuffix": "DevEx,5012.1", "name": "THE COLORS OF TWILIGHT
        AND SUNSET - Stephen F. Corfidi", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.YdZi71syj6KLgIm5FogWygEsDI&pid=Api",
        "datePublished": "2017-02-10T02:33:00.0000000Z", "contentUrl": "ht[...]
