---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1EB351807A0E4DDEACCD92079DA8FC06
      X-Msedge-Clientid:
      - 12A305E7C36564330DA70E79C2806520
      X-Msapi-Userstate:
      - f778
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5B7289F8C2AC4F98BD510EC1B88DF7E5&CID=12A305E7C36564330DA70E79C2806520&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5B7289F8C2AC4F98BD510EC1B88DF7E5&CID=12A305E7C36564330DA70E79C2806520&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=sunset%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5188.1", "totalEstimatedMatches": 102, "nextOffset":
        23, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=2449F6C57A83658554188A07022E2B734791A1AD&simid=608034046865640721",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "301 Moved Permanently",
        "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.laWXfvk5sgLUhNzSbEcPIgHaFj&pid=Api",
        "datePublished": "2009-12-22T12:00:00.0000000Z", "contentUrl": "http:\/\/www.crh.noaa.gov\/images\/lmk\/photo_album\/sunsets\/MeadeCo1.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/www.crh.noaa.gov\/lmk\/?n=photoalbum_sunsets_2006",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "1559477 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.crh.noaa.gov\/lmk\/?n=photoalbum_sunsets_2006",
        "width": 2592, "height": 1944, "thumbnail": {"width": 474, "height": 355},
        "imageInsightsToken": "ccid_laWXfvk5*mid_2449F6C57A83658554188A07022E2B734791A1AD*simid_608034046865640721",
        "imageId": "2449F6C57A83658554188A07022E2B734791A1AD", "accentColor": "CB9A00"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=2EDC8A9F2F70D31D9B446E09BA1B168C06EF4A99&simid=608026217123745329",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "THE COLORS OF TWILIGHT
        AND SUNSET - Stephen F. Corfidi", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.YdZi71syj6KLgIm5FogWygHaE8&pid=Api",
        "datePublished": "2018-02-09T22:04:00.0000000Z", "contentUrl": "http:\/\/www.spc.noaa.gov\/publications\/corfidi\/sunset\/picss1990nov7gjpgmedLABEL.jpg",
        "contentUrlPingSuffix": "DevEx,5033.1", "hostPageUrl": "http:\/\/www.spc.noaa.gov\/publications\/corfidi\/sunset\/",
        "hostPageUrlPingSuffix": "DevEx,5032.1", "contentSize": "474326 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.spc.noaa.gov\/publications\/corfidi\/sunset",
        "width": 1737, "height": 1161, "thumbnail": {"width": 474, "height": 316},
        "imageInsightsToken": "ccid_YdZi71sy*mid_2EDC8A9F2F70D31D9B446E09BA1B168C06EF4A99*simid_608026217123745329",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "2EDC8A9F2F70D31D9B446E09BA1B168C06EF4A99", "accentColor": "C78F04"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=EC4901EF6B30753FA8E311BE9FA847A545EE7409&simid=608014165531755022",
        "webSearchUrlPingSuffix": "DevEx,5037.1", "name": "APOD: 2008 January 12 -
        Mercury Chases the Sunset", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.A5fbVZs58NhWbARIY29vowHaEa&pid=Api[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C4D21976713D411FAC8F277617694DD5
      X-Msedge-Clientid:
      - 367AE73D31CF6BC20925ECA3302A6AED
      X-Msapi-Userstate:
      - '9488'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=184DB326574843EDBBB5B2FD52E1FDAF&CID=367AE73D31CF6BC20925ECA3302A6AED&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=184DB326574843EDBBB5B2FD52E1FDAF&CID=367AE73D31CF6BC20925ECA3302A6AED&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sunset+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5560.1", "totalEstimatedMatches": 4230000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Sun or Moon Rise\/Set Table for One Year", "url": "http:\/\/aa.usno.navy.mil\/data\/docs\/RS_OneYear.php",
        "urlPingSuffix": "DevEx,5094.1", "displayUrl": "aa.usno.navy.mil\/data\/docs\/RS_OneYear.php",
        "snippet": "This data service provides a table of Sunrise\/Sunset, Moonrise\/Moonset,
        or beginning and end of twilight times for a year.", "dateLastCrawled": "2018-02-16T16:31:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Sunset
        SB - CA State Parks", "url": "http:\/\/www.parks.ca.gov\/?page_id=544",
        "urlPingSuffix": "DevEx,5113.1", "about": [{"name": "Sunset State Beach"}],
        "displayUrl": "www.parks.ca.gov\/?page_id=544", "snippet": "Visiting Sunset.
        A peaceful campground under the pines, picnicking on the beach, and unmatched
        views of Monterey Bay make Sunset State Beach a favorite year-round ...",
        "deepLinks": [{"name": "Visit a Park", "url": "http:\/\/www.parks.ca.gov\/ParkIndex",
        "urlPingSuffix": "DevEx,5108.1"}, {"name": "Job Postings", "url": "http:\/\/www.parks.ca.gov\/ParkJobs",
        "urlPingSuffix": "DevEx,5109.1"}], "dateLastCrawled": "2018-02-14T16:26:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Sunset
        Advisory Commission - Official Site", "url": "https:\/\/www.sunset.texas.gov\/",
        "urlPingSuffix": "DevEx,5139.1", "ab[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0A904BD95CD9453FBFC38C31EF[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1E6CA9D81AF84F54BD[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A369B12C24734AB6A2778D8EBCFC544B
      Bingapis-Sessionid:
      - FBE0758542A94E509F4D21A5F1D7EBAA
      X-Msedge-Clientid:
      - '0595A77DEEDA61CC040EAB87EF96606F'
      X-Msapi-Userstate:
      - 0a59
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=218,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "sunset
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sunset+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 8730000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Town of Sunset Beach", "url": "https:\/\/www.sunsetbeachnc.gov\/",
        "about": [{"name": "Sunset Beach"}], "isFamilyFriendly": true, "displayUrl":
        "https:\/\/www.sunsetbeachnc.gov", "snippet": "Sunset Beach Public Boat
        Ramp on Sunset Blvd. North. At the end of Park Road off of Sunset Blvd.
        North. Near the sharp curve on Shoreline Drive West and Beach Drive beside
        the Regency. Town Council Information - Click below to view previous and upcoming
        Meetings information and Meeting Minutes.", "dateLastCrawled": "2019-01-31T22:41:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Sunrise and Sunset Information", "url": "https:\/\/www.weather.gov\/mrx\/sr_ss",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.weather.gov\/mrx\/sr_ss",
        "snippet": "sunrise and sunset information chattanooga january 29 2019.....sunrise
        742 am est sunset 606 pm est january 30 2019.....sunrise 741 am est sunset
        607 pm est knoxville january 29 2019.....s[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/search?count=20&mkt=en-US&offset=0&q=sunset%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 940E0B7AE6394B258A7A2BFBED9FC262
      X-Msedge-Clientid:
      - 1DC9D2A1661669CF24A8DE5B675A6834
      X-Msapi-Userstate:
      - c7b9
      X-Search-Responseinfo:
      - InternalResponseTime=242,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "images\/search?q=sunset (site:gov OR site:mil)", "webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?q=sunset (site:gov OR site:mil)&FORM=OIIARP",
        "queryContext": {"originalQuery": "sunset (site:gov OR site:mil)", "alterationDisplayQuery":
        "sunset (site:gov OR site:mil)", "alterationOverrideQuery": "+sunset (site:gov
        OR site:mil)", "alterationMethod": "AM_JustChangeIt", "alterationType": "CombinedAlterationsChained"},
        "totalEstimatedMatches": 104, "nextOffset": 21, "value": [{"webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=2435B7529C13244AD8D9EE272DE0A6507A609047&simid=607990427958904735",
        "name": "Sunsets on the Susquehanna River | City of Harrisburg", "thumbnailUrl":
        "https:\/\/tse4.mm.bing.net\/th?id=OIP.CSxfRKGMIapw349Ri6anEAHaJ4&pid=Api",
        "datePublished": "2018-11-09T05:35:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "http:\/\/s3.amazonaws.com\/harrisburgpa.gov\/wp-content\/uploads\/2017\/12\/27132301\/Sunsets-on-the-Susquehanna-3.jpg",
        "hostPageUrl": "http:\/\/harrisburgpa.gov\/sunsets-susquehanna-river\/", "contentSize":
        "5053301 B", "encodingFormat": "jpeg", "hostPageDisplayUrl": "harrisburgpa.gov\/sunsets-susquehanna-river",
        "width": 3024, "height": 4032, "hostPageFavIconUrl": "\/th?id=AR_b0c999c53ae418d98679c7e60f7628cb&pid=Api",
        "thumbnail": {"width": 474, "height": 632}, "imageInsightsToken": "ccid_CSxfRKGM*mid_2435B7529C13244AD8D9EE272DE0A6507A609047*simid_607990427958904735*thid_OIP.CSxfRKGMIapw349Ri6anEAHaJ4",
        "insightsMetadata": {"bestRepresentativeQuery": {"text": "Susquehanna River
        Sunset", "displayText": "Susquehanna River Sunset", "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=Susquehanna+River+Sunset&id=2435B7529C13244AD8D9EE272DE0A6507A609047&FORM=IDBQDM"},
        "pagesIncludingCount": 2, "availableSizesCount": 2}, "imageId": "2435B7529C13244AD8D9EE272DE0A6507A609047",
        "accentColor": "9E752D"}, {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=sunset+(site%3agov+OR+site%3amil)&id=2435B7529C13244AD8D95917B38A1B96498746E7&simid=608019852753111340",
        "name": "Sunsets on the Susquehanna River | City of Harrisburg", "thumbnailUrl":
        "https:\/\/tse3.mm.bing.net\/th?id=OIP.hgglj_yngoaByJKpg3YS5QHaJ4&pid=Api",
        "datePublished": "2018-11-09T05:35:[...]
