---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(agncy)%20language:en%20(site:.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028agncy\u0029
        language\u003aen \u0028site\u003a.gov\u0029"},"Spell":{"Total":1,"Results":[{"Value":"agency"}]},"Web":{"Total":19200,"Offset":0,"Results":[{"Title":"The
        Texas Education Agency","Description":"The latest news from the Texas Education
        Agency is available through news releases, online correspondence, mailing
        lists, and other posted information. Texas Schools.","Url":"http\u003a\u002f\u002ftea.texas.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dagncy\u0026d\u003d4642431780785110\u0026w\u003dC9xUMmTs7Mo_InaJzfnixVHSMqUyBzhH","DisplayUrl":"tea.texas.gov","DateTime":"2016-12-04T03\u003a45\u003a00Z"},{"Title":"USDA-Farm
        Service Agency Home Page","Description":"Farm Service Agency Landing Page
        About FSA\u003b Ask FSA\u003b Contact Us\u003b En Espa\u00f1ol\u003b United
        States Department of Agriculture Farm Service Agency. United States Department
        of ...","Url":"https\u003a\u002f\u002fwww.fsa.usda.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dagncy\u0026d\u003d4595127037067687\u0026w\u003dX[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&image.count=20&query=(agncy)%20language:en%20(site:.gov)&sources=Spell%20Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028agncy\u0029
        language\u003aen \u0028site\u003a.gov\u0029"},"Spell":{"Total":1,"Results":[{"Value":"agency"}]},"Image":{"Total":19500,"Offset":0,"Results":[{"Title":"AGENCY
        INFORMATION","MediaUrl":"https\u003a\u002f\u002fwww.ok.gov\u002fodc\u002fimages\u002fagency1.jpg","Url":"https\u003a\u002f\u002fwww.ok.gov\u002fodc\u002fAbout_ODC\u002f","DisplayUrl":"https\u003a\u002f\u002fwww.ok.gov\u002fodc\u002fAbout_ODC","Width":490,"Height":406,"FileSize":16774,"ContentType":"image\u002fjpeg","Thumbnail":{"Url":"http\u003a\u002f\u002fts3.mm.bing.net\u002fth\u003fid\u003dOIP.Mfa39285fb46b4874ee69510475706e01o0\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":300,"Height":248,"FileSize":6006}},{"Title":"Home
        \u007c Agency of Agriculture Food \u0026 Markets","MediaUrl":"http\u003a\u002f\u002fagriculture.vermont.gov\u002fsites\u002fall\u002fimages\u002flogo.png","Url":"http\u003a\u002f\u002fagriculture.vermont.gov\u002f","DisplayUrl":"agriculture.vermont.gov","Width":640,"Height":3[...]
