---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28agncy%29+language%3Aen+%28site%3A.gov%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028agncy\u0029
        language\u003aen \u0028site\u003a.gov\u0029","AlteredQuery":"agency","AlterationOverrideQuery":"\u002b\u0028agncy\u0029
        language\u003aen \u0028site\u003a.gov\u0029"},"Spell":{"Total":1,"Results":[{"Value":"agency"}]},"Web":{"Total":11700000,"Offset":0,"Results":[{"Title":"Agency
        - Home DODD","Description":"An agency provider is a person employed by an
        entity for the purpose of providing services to people with developmental
        disabilities. Agency Providers must be ...","Url":"http\u003a\u002f\u002fdodd.ohio.gov\u002fProviders\u002fBecomeAProvider\u002fPages\u002fAgency.aspx","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dagncy\u0026d\u003d4650381672645112\u0026w\u003dN1S68mCZMcVCv6pR38EtXUj008hj3Gbs","DisplayUrl":"dodd.ohio.gov\u002fProviders\u002fBecomeAProvider\u002fPages\u002fAgency.aspx","DateTime":"2016-06-04T00\u003a45\u003a00Z"},{"Title":"Agency
        \u007c Department of Insurance, SC - Official Website","Description":"The
        agency must have at least one South Carolina licensed producer, the agency
        can then submit the following documentation to the South Carolina Department
        of Insurance\u003a","Url":"http\u003a\u002f\u002fdoi.sc.gov\u002f364\u002fAgency","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dagncy\u0026d\u003d4861599596[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&image.count=20&query=%28agncy%29+language%3Aen+%28site%3A.gov%29&sources=Spell+Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028agncy\u0029
        language\u003aen \u0028site\u003a.gov\u0029"},"Spell":{"Total":1,"Results":[{"Value":"agency"}]},"Image":{"Total":16200,"Offset":0,"Results":[{"Title":"AGENCY
        INFORMATION","MediaUrl":"http\u003a\u002f\u002fwww.ok.gov\u002fodc\u002fimages\u002fagency1.jpg","Url":"http\u003a\u002f\u002fok.gov\u002fodc\u002fabout_odc","DisplayUrl":"ok.gov\u002fodc\u002fabout_odc","Width":490,"Height":406,"FileSize":16774,"ContentType":"image\u002fjpeg","Thumbnail":{"Url":"http\u003a\u002f\u002fts2.mm.bing.net\u002fth\u003fid\u003dOIP.Mfa39285fb46b4874ee69510475706e01o0\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":300,"Height":248,"FileSize":6006}},{"Title":"Environmental
        Protection Agency \u007c Challenge.gov","MediaUrl":"https\u003a\u002f\u002fwww.challenge.gov\u002ffiles\u002f2013\u002f12\u002fepa_seal_large_trim_1_.jpg","Url":"https\u003a\u002f\u002fwww.challenge.gov\u002fagency\u002fenvironmental-protection-agency\u002f","Display[...]
