.span-15
  - form_for @user, :url => developers_path, :html => {:class=>"bordered"} do |f|
    %h1
      Sign up #{link_to "(log in)", new_user_session_path, :class => "small"}
    = f.error_messages(:header_message => nil, :class => "error")
    = render :partial => "users/form", :object => f
    = f.submit "Register"