.health-topic-wrapper .health-med-topic-image {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
  border-radius: 15px;
  height: 25px;
  margin-left: 12px;
  position: absolute;
  text-align: center;
  top: 12px;
  width: 25px;
}
