@media (min-width: 30em){
  .search-result-video-item .result-thumbnail {
    height: 125px;
    width: 25%;
  }
}

.result-thumbnail .result-youtube-thumbnail{
  clip-path: inset(17px 0 21px 0);
  height: 100%;
  margin-top: -12px;
  width: 100%;
}

.video-duration{
  background: #000;
  bottom: 27px;
  color: #fff;
  font-size: .95rem;
  margin-bottom: 0.5rem;
  margin-right: 0.75rem;
  padding: 5px 7px 3px 10px;
  position: absolute;
  right: -1px;
}

.tri-icon{
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  display: inline-block;
  margin-right: 7px;
}
