%h3 Advanced Search
%table#collections.table
  %thead
    %tr
      %th Collections to offer as search limiters
      %th Setting
  %tbody
    - @site.document_collections.each do |collection|
      = f.fields_for :document_collections, collection do |connection_form|
        %tr
          %td= collection.name
          = switch_cell connection_form, :advanced_search_enabled, "#{collection.name}_advanced_search"
