---
http_interactions:
- request:
    method: get
    uri: http://www.fda.gov/AboutFDA/ContactFDA/StayInformed/RSSFeeds/HealthFraud/rss.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\r\n\r\n\t\r\n\r\n<rss version=\"2.0\">\r\n<channel>\r\n\t<title>Health
        Fraud RSS Feed</title>\r\n\t<description>Aggregates all Health Fraud related
        content across FDA</description>\r\n\t<link>http://www.fda.gov/AboutFDA/ContactFDA/StayInformed/RSSFeeds/HealthFraud/rss.xml</link>\r\n\t<language>en-us</language>\r\n\t<lastBuildDate></lastBuildDate>\r\n\t
        \r\n\t<webMaster></webMaster>\r\n</channel>\r\n</rss>\r\n<!-- the HEAD element
        is required by SiteStudio\r\n\t\r\n\t\r\n--> \r\n"
  recorded_at: Tue, 08 Nov 2016 21:09:56 GMT
- request:
    method: get
    uri: http://www.fda.gov/AboutFDA/ContactFDA/StayInformed/RSSFeeds/FoodAllergies/rss.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\r\n\r\n\t\r\n\r\n<rss version=\"2.0\">\r\n<channel>\r\n\t<title>FDA
        Food Allergies Feed</title>\r\n\t<description>FDA Food Allergies Feed</description>\r\n\t<link>http://www.fda.gov/AboutFDA/ContactFDA/StayInformed/RSSFeeds/FoodAllergies/rss.xml</link>\r\n\t<language>en-us</language>\r\n\t<lastBuildDate>Sat,
        05 Nov 2016 10:17:00 -0400</lastBuildDate>\r\n\t \r\n\t<webMaster>tina.gilliam@fda.hhs.gov</webMaster>\r\n\t<item>\r\n\t
        <title>Crescent Vending Co. Issues Allergy Alert on Undeclared (Wheat, Soy,
        Milk, And Egg) in Product</title>\r\n\t <description>Crescent Vending Company
        of Oreland, PA is recalling because they may contain an undeclared specific
        type of allergen because they may contain an undeclared specific type of allergen.</description>\r\n\t
        <pubDate>Sat, 05 Nov 2016 10:17:00 -0400</pubDate>\r\n\t <link>http://www.fda.gov/Safety/Recalls/ucm528146.htm</link>\r\n\t
        <guid isPermaLink=\"true\">http://www.fda.gov/Safety/Recalls/ucm528146.htm</guid>\r\n\t</item>\r\n\t<item>\r\n\t
        <title>Select Whole Foods Market Stores in Mid-Atlantic Region Issues Allergy
        Alert Due to Undeclared Eggs</title>\r\n\t <description>Select Whole Foods
        Market stores in Pennsylvania, Maryland, Ohio, Kentucky, New Jersey, Virginia
        and Washington D.C. are voluntarily recalling batches of its Chocolate Croissants
        because the product contains eggs and th[...]
[...]
- request:
    method: get
    uri: http://www.fda.gov/AboutFDA/ContactFDA/StayInformed/RSSFeeds/PetHealth/rss.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\r\n\r\n\t\r\n\r\n<rss version=\"2.0\">\r\n<channel>\r\n\t<title>Pet
        Health RSS Feed</title>\r\n\t<description>Animal and Veterinary Pet Health
        Information</description>\r\n\t<link>http://www.fda.gov/AboutFDA/ContactFDA/StayInformed/RSSFeeds/PetHealth/rss.xml</link>\r\n\t<language>en-us</language>\r\n\t<lastBuildDate></lastBuildDate>\r\n\t
        \r\n\t<webMaster>AskCVM@fda.hhs.gov</webMaster>\r\n</channel>\r\n</rss>\r\n<!--
        the HEAD element is required by SiteStudio\r\n\t\r\n\t\r\n--> \r\n"
  recorded_at: Tue, 08 Nov 2016 21:09:57 GMT
- request:
    method: get
    uri: http://www.fda.gov/AboutFDA/ContactFDA/StayInformed/RSSFeeds/PetHealth/rss.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\r\n\r\n\t\r\n\r\n<rss version=\"2.0\">\r\n<channel>\r\n\t<title>Pet
        Health RSS Feed</title>\r\n\t<description>Animal and Veterinary Pet Health
        Information</description>\r\n\t<link>http://www.fda.gov/AboutFDA/ContactFDA/StayInformed/RSSFeeds/PetHealth/rss.xml</link>\r\n\t<language>en-us</language>\r\n\t<lastBuildDate></lastBuildDate>\r\n\t
        \r\n\t<webMaster>AskCVM@fda.hhs.gov</webMaster>\r\n</channel>\r\n</rss>\r\n<!--
        the HEAD element is required by SiteStudio\r\n\t\r\n\t\r\n--> \r\n"
  recorded_at: Tue, 08 Nov 2016 21:09:57 GMT
recorded_with: VCR 3.0.3
