---
http_interactions:
- request:
    method: get
    uri: http://www.fda.gov/AboutFDA/ContactFDA/StayInformed/RSSFeeds/PetHealth/rss.xml
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Location:
      - https://www.fda.gov/AboutFDA/ContactFDA/StayInformed/RSSFeeds/PetHealth/rss.xml
      X-Drupal-Dynamic-Cache:
      - UNCACHEABLE
      Link:
      - </about-fda/page-not-found>; rel="canonical"
      - </about-fda/page-not-found>; rel="canonical"
      - </about-fda/page-not-found>; rel="revision"
      - </about-fda/page-not-found>; rel="revision"
      - </node/388334>; rel="shortlink"
      - </node/388334>; rel="shortlink"
      - <http://www.fda.gov/about-fda/page-not-found>; rel="alternate"; hreflang="en"
      - <http://www.fda.gov/about-fda/page-not-found>; rel="alternate"; hreflang="en"
      Content-Language:
      - en
      Last-Modified:
      - Wed, 08 May 2019 20:15:48 GMT
      Etag:
      - '"1557346548"'
      X-Generator:
      - Drupal 8 (https://www.drupal.org)
      X-Drupal-Cache:
      - HIT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html  lang=\"en\" dir=\"ltr\" prefix=\"content: http://purl.org/rss/1.0/modules/content/
        \ dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#
        \ rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/
        \ sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos:
        http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema#
        \">\n  <head>\n    <meta charset=\"utf-8\" />\n<script>(function(i,s,o,g,r,a,m){i[\"GoogleAnalyticsObject\"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
        Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,\"script\",\"https://www.google-analytics.com/analytics.js\",\"ga\");ga(\"create\",
        \"UA-22737364-1\", {\"cookieDomain\":\"auto\"});ga(\"set\", \"anonymizeIp\",
        true);ga(\"set\", \"page\", \"/404.html?page=\" + document.location.pathname
        + document.location.search + \"&from=\" + document.referrer);ga(\"send\",
        \"pageview\");</script>\n<meta name=\"title\" content=\"Page Not Found\" />\n<meta
        name=\"dcterms.title\" content=\"Page Not Found\" />\n<meta name=\"twitter:card\"
        content=\"summary_large_image\" />\n<meta property=\"og:type\" content=\"Article\"
        />\n<meta nam[...]
