---
http_interactions:
- request:
    method: get
    uri: http://www.fda.gov/AboutFDA/ContactFDA/StayInformed/RSSFeeds/HealthFraud/rss.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\r\n\r\n\t\r\n\r\n<rss version=\"2.0\">\r\n<channel>\r\n\t<title>Health
        Fraud RSS Feed</title>\r\n\t<description>Aggregates all Health Fraud related
        content across FDA</description>\r\n\t<link>http://www.fda.gov/AboutFDA/ContactFDA/StayInformed/RSSFeeds/HealthFraud/rss.xml</link>\r\n\t<language>en-us</language>\r\n\t<lastBuildDate>Wed,
        30 Nov 2016 18:35:00 -0500</lastBuildDate>\r\n\t \r\n\t<webMaster></webMaster>\r\n\t<item>\r\n\t
        <title>Ultimate Body-Tox Issues a Nationwide Voluntary Recall of Ultimate
        Body Tox PRO Found to Contain Undeclared Sibutramine</title>\r\n\t <description>High
        Point, NC, Ultimate Body-Tox is voluntarily recalling all lots of Ultimate
        Body Tox PRO capsules to the consumer level. FDA analyses of this product
        found it to contain undeclared sibutramine. Sibutramine is a controlled substance
        that was removed from the U.S. market in October 2010 for safety reasons.</description>\r\n\t
        <pubDate>Wed, 30 Nov 2016 18:35:00 -0500</pubDate>\r\n\t <link>http://www.fda.gov/Safety/Recalls/ucm531190.htm</link>\r\n\t
        <guid isPermaLink=\"true\">http://www.fda.gov/Safety/Recalls/ucm531190.htm</guid>\r\n\t</item>\r\n\t<item>\r\n\t
        <title>MS Bionic, Inc. Issues a Voluntary Nationwide Recall of All Lots of
        Megajex Natural Male Sex Enhancer Dietary Supplement</title>\r\n\t <description>MS
        Bionic, Inc. announced today that it is conducting a voluntary nationwide
        recall of all lots of Megajex Natural Male Sex Enhancer capsules. FDA analysis
        has found the product to contain Tadalafil and Sildenafil.</description>\r\n\t
        <pubDate>Wed, 30 Nov 2016 16:35:00 -0500</pubDate>\r\n\t <link>http://www.fda.gov/Safety/Recalls/ucm531176.htm</link>\r\n\t
        <guid isPermaLink=\"true\">http://www.fda.gov/Safety/Recalls/ucm531176.htm</guid>\r\n\t</item>\r\n</channel>\r\n</rss>\r\n<!--
        the HEAD element is required by SiteStudio\r\n\t\r\n\t\r\n--> \r\n"
  recorded_at: Thu, 08 Dec 2016 22:58:24 GMT
- request:
    method: get
    uri: http://www.fda.gov/AboutFDA/ContactFDA/StayInformed/RSSFeeds/FoodAllergies/rss.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\r\n\r\n\t\r\n\r\n<rss version=\"2.0\">\r\n<channel>\r\n\t<title>FDA
        Food Allergies Feed</title>\r\n\t<descrip[...]
[...]
- request:
    method: get
    uri: http://www.fda.gov/AboutFDA/ContactFDA/StayInformed/RSSFeeds/PetHealth/rss.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\r\n\r\n\t\r\n\r\n<rss version=\"2.0\">\r\n<channel>\r\n\t<title>Pet
        Health RSS Feed</title>\r\n\t<description>Ani[...]
[...]
