---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=5&ImageFilters=''&Market='en-US'&Query='survy'&Sources='web%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - eeb4d000-ce4e-438e-8707-20fb9b9040c8
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027\u0027&Market=\u0027en-US\u0027&Query=\u0027survy\u0027&Sources=\u0027web+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"bc36a203-612e-40f4-a538-94d4d940d3c0","WebTotal":"65800","WebOffset":"0","ImageTotal":"","ImageOffset":"","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"1","AlteredQuery":"","AlterationOverrideQuery":"","Web":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027bc36a203-612e-40f4-a538-94d4d940d3c0\u0027)/Web?$skip=0&$top=1","type":"WebResult"},"ID":"35c273ba-dd10-424c-9110-af086b342cc7","Title":"SurveyMonkey:
        Free online survey software & questionnaire tool","Description":"Create and
        publish online surveys in minutes, and view results graphically and in real
        time. SurveyMonkey provides free online questionnaire and survey software.","DisplayUrl":"https://www.surveymonkey.com","Url":"https://www.surveymonkey.com/"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027bc36a203-612e-40f4-a538-94d4d940d3c0\u0027)/Web?$skip=1&$top=1","type":"WebResult"},"ID":"d9b43cb8-2c98-4a71-bc48-106b90412283","Title":"SurveyMonkey
        - Log in","Description":"Create and publish online surveys in minutes, and
        view results graphically and in real time. SurveyMonkey provides free online
        questionnaire and survey [...]
