---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=5&ImageFilters=''&Market='en-US'&Query='survy%20(site:www.census.gov)'&Sources='web%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - bdfff247-e18b-4627-b5a9-4d66b0bec791
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027\u0027&Market=\u0027en-US\u0027&Query=\u0027survy
        (site:www.census.gov)\u0027&Sources=\u0027web+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"b0b94c0b-5efc-4b01-912b-bbab3e799145","WebTotal":"46","WebOffset":"0","ImageTotal":"","ImageOffset":"","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"1","AlteredQuery":"","AlterationOverrideQuery":"","Web":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027b0b94c0b-5efc-4b01-912b-bbab3e799145\u0027)/Web?$skip=0&$top=1","type":"WebResult"},"ID":"399c8108-a939-4d53-a980-4d0228825192","Title":"Are
        You in a Survey? - Census.gov","Description":"Are You in a Survey? Menu .
        About this Section Contact Us How We Protect Your Information List of All
        Surveys Close Menu. Skip to looking for section. About this ...","DisplayUrl":"https://www.census.gov/programs-surveys/are-you-in-a-survey.html","Url":"https://www.census.gov/programs-surveys/are-you-in-a-survey.html"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027b0b94c0b-5efc-4b01-912b-bbab3e799145\u0027)/Web?$skip=1&$top=1","type":"WebResult"},"ID":"1c1bc01a-fd85-468f-9d95-aaf628d3c4b1","Title":"American
        Community Survey (ACS) - Census.gov","Description":"The American Community
        Survey, Current Population Survey, Survey of Income and Program Participation,
[...]
