---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=5&ImageFilters=''&Market='en-US'&Query='survy'&Sources='web%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 6ec56643-6450-46ad-9de9-1d172e996943
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027\u0027&Market=\u0027en-US\u0027&Query=\u0027survy\u0027&Sources=\u0027web+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"46623842-fc29-4c98-8952-be27157285f2","WebTotal":"61100","WebOffset":"0","ImageTotal":"","ImageOffset":"","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"1","AlteredQuery":"","AlterationOverrideQuery":"","Web":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u002746623842-fc29-4c98-8952-be27157285f2\u0027)/Web?$skip=0&$top=1","type":"WebResult"},"ID":"1b2be563-b57b-42ac-bc2a-e6272da77427","Title":"SurveyMonkey:
        Free online survey software & questionnaire tool","Description":"Create and
        publish online surveys in minutes, and view results graphically and in real
        time. SurveyMonkey provides free online questionnaire and survey software.","DisplayUrl":"https://www.surveymonkey.com","Url":"https://www.surveymonkey.com/"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u002746623842-fc29-4c98-8952-be27157285f2\u0027)/Web?$skip=1&$top=1","type":"WebResult"},"ID":"719643a9-8313-4f03-922b-4e251121fbac","Title":"SurveyMonkey
        - Log in","Description":"Create and publish online surveys in minutes, and
        view results graphically and in real time. SurveyMonkey provides free online
        questionnaire and survey [...]
