---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=5&ImageFilters=''&Market='en-US'&Query='survy%20(site:www.census.gov)'&Sources='web%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - daa077f2-b3bc-4ade-8055-49f94394c09f
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027\u0027&Market=\u0027en-US\u0027&Query=\u0027survy
        (site:www.census.gov)\u0027&Sources=\u0027web+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"959ab2b8-b6f2-4e18-9b11-bc43faa86a74","WebTotal":"45","WebOffset":"0","ImageTotal":"","ImageOffset":"","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"1","AlteredQuery":"","AlterationOverrideQuery":"","Web":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027959ab2b8-b6f2-4e18-9b11-bc43faa86a74\u0027)/Web?$skip=0&$top=1","type":"WebResult"},"ID":"a10956d9-b527-46de-9f0c-1c455bd5640c","Title":"Are
        You in a Survey? - Census.gov","Description":"Are You in a Survey? Menu .
        About this Section Contact Us How We Protect Your Information List of All
        Surveys Close Menu. Skip to looking for section. About this ...","DisplayUrl":"https://www.census.gov/programs-surveys/are-you-in-a-survey.html","Url":"https://www.census.gov/programs-surveys/are-you-in-a-survey.html"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027959ab2b8-b6f2-4e18-9b11-bc43faa86a74\u0027)/Web?$skip=1&$top=1","type":"WebResult"},"ID":"dbf4412e-57ee-47cf-96bc-8eb31443f717","Title":"American
        Community Survey (ACS) - Census.gov","Description":"The American Community
        Survey is the premier source for information about America\u0027s changing
    [...]
