---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=5&ImageFilters=''&Market='en-US'&Query='survy%20(site:www.census.gov)'&Sources='web%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 4e49648a-40cf-4735-bc94-07f084e7da51
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027\u0027&Market=\u0027en-US\u0027&Query=\u0027survy
        (site:www.census.gov)\u0027&Sources=\u0027web+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"0e19f07b-2124-48fe-921e-62822424ad2d","WebTotal":"45","WebOffset":"0","ImageTotal":"","ImageOffset":"","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"1","AlteredQuery":"","AlterationOverrideQuery":"","Web":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u00270e19f07b-2124-48fe-921e-62822424ad2d\u0027)/Web?$skip=0&$top=1","type":"WebResult"},"ID":"d881e565-d8c0-4238-b3cf-0186bcfbd416","Title":"Are
        You in a Survey? - Census.gov","Description":"Are You in a Survey? Menu .
        About this Section Contact Us How We Protect Your Information List of All
        Surveys Close Menu. Skip to looking for section. About this ...","DisplayUrl":"https://www.census.gov/programs-surveys/are-you-in-a-survey.html","Url":"https://www.census.gov/programs-surveys/are-you-in-a-survey.html"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u00270e19f07b-2124-48fe-921e-62822424ad2d\u0027)/Web?$skip=1&$top=1","type":"WebResult"},"ID":"3eee86a5-6224-4bb4-8101-7a8da0a82813","Title":"American
        Community Survey (ACS) - Census.gov","Description":"The American Community
        Survey is the premier source for information about America\u0027s changing
    [...]
