---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=5&ImageFilters=''&Market='en-US'&Query='survy'&Sources='web%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - c6113fb3-9fae-4b17-b665-88fe97a8c3a7
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027\u0027&Market=\u0027en-US\u0027&Query=\u0027survy\u0027&Sources=\u0027web+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"e35bbc4f-d181-4600-82af-a0c75c59f7b9","WebTotal":"33600000","WebOffset":"0","ImageTotal":"","ImageOffset":"","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"1","AlteredQuery":"","AlterationOverrideQuery":"","Web":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027e35bbc4f-d181-4600-82af-a0c75c59f7b9\u0027)/Web?$skip=0&$top=1","type":"WebResult"},"ID":"5cdaf669-d0e1-4001-b020-7b5383597063","Title":"SurveyMonkey:
        Free online survey software & questionnaire tool","Description":"Create and
        publish online surveys in minutes, and view results graphically and in real
        time. SurveyMonkey provides free online questionnaire and survey software.","DisplayUrl":"https://www.surveymonkey.com","Url":"https://www.surveymonkey.com/"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027e35bbc4f-d181-4600-82af-a0c75c59f7b9\u0027)/Web?$skip=1&$top=1","type":"WebResult"},"ID":"388227ef-2429-4e5c-82c3-aabe7847ed51","Title":"Survey
        | Define Survey at Dictionary.com","Description":"Survey definition, to take
        a general or comprehensive view of or appraise, as a situation, area of study,
        etc. See more.","DisplayUrl[...]
