---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=5&ImageFilters='Aspect:Square'&Market='en-US'&Query='white%20house'&Sources='image%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 92dfabfd-e11c-4d1e-bc18-aa02034879ff
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027Aspect:Square\u0027&Market=\u0027en-US\u0027&Query=\u0027white
        house\u0027&Sources=\u0027image+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"365a89d2-f8db-45bf-af60-d1c6fbcfc776","WebTotal":"","WebOffset":"","ImageTotal":"20000","ImageOffset":"0","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"","AlteredQuery":"","AlterationOverrideQuery":"","Web":[],"Image":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027365a89d2-f8db-45bf-af60-d1c6fbcfc776\u0027)/Image?$skip=0&$top=1","type":"ImageResult"},"ID":"0b84d9df-632e-47bd-8524-5d73c63be7ef","Title":"The
        White House - YouTube","MediaUrl":"https://yt3.ggpht.com/-E1SyZ9q7Z9E/AAAAAAAAAAI/AAAAAAAAAAA/iAkRlx2F-E0/s900-c-k-no/photo.jpg","SourceUrl":"http://www.youtube.com/user/whitehouse","DisplayUrl":"www.youtube.com/user/whitehouse","Width":"900","Height":"900","FileSize":"102546","ContentType":"image/jpeg","Thumbnail":{"__metadata":{"type":"Bing.Thumbnail"},"MediaUrl":"http://ts3.mm.bing.net/th?id=OIP.Me96af496f633f56dbdc500bb5edfa1a7o0&pid=15.1","ContentType":"image/jpg","Width":"300","Height":"300","FileSize":"11828"}},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027365a89d2-f8db-45bf-af60-d1c6fbcfc776\u0027)/Image?$skip=1&$top=1","type":"ImageResult"},"ID":"aba9c85f-5592-4d52-bb4b-a5380ea74609","Title":"white-house-map-white
        house"[...]
