---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=1000&$top=5&ImageFilters=''&Market='en-US'&Query='survy%20(site:www.census.gov)'&Sources='web%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 2e8538b0-f02b-4fd8-83c7-02e2ad18004b
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027\u0027&Market=\u0027en-US\u0027&Query=\u0027survy
        (site:www.census.gov)\u0027&Sources=\u0027web+spell\u0027&$skip=1000&$top=1","type":"ExpandableSearchResult"},"ID":"efdbfe55-116f-4bbf-8fcc-e62f8c5384e4","WebTotal":"39","WebOffset":"35","ImageTotal":"","ImageOffset":"","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"1","AlteredQuery":"","AlterationOverrideQuery":"","Web":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027efdbfe55-116f-4bbf-8fcc-e62f8c5384e4\u0027)/Web?$skip=0&$top=1","type":"WebResult"},"ID":"18e74edc-4fd8-4207-8a80-d4fa3441f1a5","Title":"Research
        Data - U.S. Census Bureau","Description":"Research Data. The Census Bureau
        offers a wide variety of data resources, largely microdata, for applied social
        science research. Research Data Products","DisplayUrl":"www.census.gov/research/data","Url":"http://www.census.gov/research/data/"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027efdbfe55-116f-4bbf-8fcc-e62f8c5384e4\u0027)/Web?$skip=1&$top=1","type":"WebResult"},"ID":"b738e3cd-152c-45d3-bf70-f3bafc18b906","Title":"Frequently
        Asked Questions - U.S. Census Bureau","Description":"Frequently asked questions
        about the 2012 Economic Census","DisplayUrl":"www.census.gov/econ/census/faqs.html","Url":"http://ww[...]
