---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=5&ImageFilters='Aspect:Square'&Market='en-US'&Query='white%20house'&Sources='image%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 88e3d1d3-3f1e-43ac-b58d-5a26e586b292
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027Aspect:Square\u0027&Market=\u0027en-US\u0027&Query=\u0027white
        house\u0027&Sources=\u0027image+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"cae3d6a7-0398-4536-850a-a6efca161e7f","WebTotal":"","WebOffset":"","ImageTotal":"25900","ImageOffset":"0","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"","AlteredQuery":"","AlterationOverrideQuery":"","Web":[],"Image":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027cae3d6a7-0398-4536-850a-a6efca161e7f\u0027)/Image?$skip=0&$top=1","type":"ImageResult"},"ID":"7d93666b-ff41-43f9-a37b-4672d5802618","Title":"The
        White House - YouTube","MediaUrl":"https://yt3.ggpht.com/-E1SyZ9q7Z9E/AAAAAAAAAAI/AAAAAAAAAAA/iAkRlx2F-E0/s900-c-k-no/photo.jpg","SourceUrl":"http://www.youtube.com/user/whitehouse","DisplayUrl":"www.youtube.com/user/whitehouse","Width":"900","Height":"900","FileSize":"102546","ContentType":"image/jpeg","Thumbnail":{"__metadata":{"type":"Bing.Thumbnail"},"MediaUrl":"http://ts3.mm.bing.net/th?id=OIP.Me96af496f633f56dbdc500bb5edfa1a7o0&pid=15.1","ContentType":"image/jpg","Width":"300","Height":"300","FileSize":"11828"}},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027cae3d6a7-0398-4536-850a-a6efca161e7f\u0027)/Image?$skip=1&$top=1","type":"ImageResult"},"ID":"270ebf4b-1206-4bee-827f-3f8e5176b46a","Title":"Do
        you want to ask the White[...]
