---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=5&ImageFilters=''&Market='en-US'&Query='survy%20(site:www.census.gov)'&Sources='web%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - f581c099-e646-404e-8ec4-e8225cdcd0a4
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027\u0027&Market=\u0027en-US\u0027&Query=\u0027survy
        (site:www.census.gov)\u0027&Sources=\u0027web+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"730b3541-6303-43c8-82e7-2f31a6d98f0c","WebTotal":"39","WebOffset":"0","ImageTotal":"","ImageOffset":"","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"1","AlteredQuery":"","AlterationOverrideQuery":"","Web":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027730b3541-6303-43c8-82e7-2f31a6d98f0c\u0027)/Web?$skip=0&$top=1","type":"WebResult"},"ID":"faa395a0-874c-4816-9b02-a575acfb8c0c","Title":"Current
        Population Survey (CPS) - Census.gov","Description":"The Current Population
        Survey is a joint effort between the Bureau of Labor Statistics and the Census
        Bureau. Current Population Survey Tables for Personal Income","DisplayUrl":"www.census.gov/programs-surveys/cps.html","Url":"http://www.census.gov/programs-surveys/cps.html"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027730b3541-6303-43c8-82e7-2f31a6d98f0c\u0027)/Web?$skip=1&$top=1","type":"WebResult"},"ID":"62fa007f-7e9f-4206-b446-7540fb30e356","Title":"American
        Community Survey (ACS) - Census.gov","Description":"The American Community
        Survey is the premier source for information about America\u0027s changing
        population, h[...]
