---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=5&ImageFilters='Aspect:Square'&Market='en-US'&Query='white%20house'&Sources='image%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - f46a80cc-7afa-449b-b19e-307ec7b8dfac
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027Aspect:Square\u0027&Market=\u0027en-US\u0027&Query=\u0027white
        house\u0027&Sources=\u0027image+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"eef67de8-3089-43c9-b437-eb47d3ccec9b","WebTotal":"","WebOffset":"","ImageTotal":"20300","ImageOffset":"0","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"","AlteredQuery":"","AlterationOverrideQuery":"","Web":[],"Image":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027eef67de8-3089-43c9-b437-eb47d3ccec9b\u0027)/Image?$skip=0&$top=1","type":"ImageResult"},"ID":"7719c4f5-8cc0-49ce-a0b4-c035e4d2114e","Title":"...
        Korean President Park Geun-hye to White House on June 16 - @NSCPress","MediaUrl":"http://upload.wikimedia.org/wikipedia/commons/1/1d/White_House_north_and_south_sides.jpg","SourceUrl":"http://www.breakingnews.com/topic/the-white-house-washington-dc-us/","DisplayUrl":"www.breakingnews.com/topic/the-white-house-washington-dc-us","Width":"4418","Height":"5056","FileSize":"3180149","ContentType":"image/jpeg","Thumbnail":{"__metadata":{"type":"Bing.Thumbnail"},"MediaUrl":"http://ts4.mm.bing.net/th?id=OIP.Mc3d4851cc3c7d65e637c4b80696c231ao0&pid=15.1","ContentType":"image/jpg","Width":"262","Height":"300","FileSize":"20679"}},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027eef67de8-3089-43c9-b437-eb47d3ccec9b\u0027)/Image?$skip=1&$top=1","type":"ImageResult"},"ID":"4108526c-91c9-4c4e-8752-b7c838813be4","Title":"white-house-map-white
        house"[...]
