---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=5&ImageFilters=''&Market='en-US'&Query='survy%20(site:www.census.gov)'&Sources='web%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 694f0cab-ae28-4274-93b9-29e46eb905b9
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027\u0027&Market=\u0027en-US\u0027&Query=\u0027survy
        (site:www.census.gov)\u0027&Sources=\u0027web+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"b136bbe3-fd87-4d25-ad8a-405d9e630346","WebTotal":"388000","WebOffset":"0","ImageTotal":"","ImageOffset":"","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"1","AlteredQuery":"survey","AlterationOverrideQuery":"+survy
        (site:www.census.gov)","Web":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027b136bbe3-fd87-4d25-ad8a-405d9e630346\u0027)/Web?$skip=0&$top=1","type":"WebResult"},"ID":"3aeca423-3578-4f1e-bd1d-9aa301db700f","Title":"American
        Community Survey (ACS) - Census.gov","Description":"The American Community
        Survey (ACS) is a mandatory, ongoing statistical survey that samples a small
        percentage of the population every year.","DisplayUrl":"https://www.census.gov/programs-surveys/acs","Url":"https://www.census.gov/programs-surveys/acs/"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027b136bbe3-fd87-4d25-ad8a-405d9e630346\u0027)/Web?$skip=1&$top=1","type":"WebResult"},"ID":"a4b7733d-c886-4082-b310-a5d6c7596d4f","Title":"Surveys
        & Programs - Census.gov","Description":"The U.S. Census Bureau conducts more
        than 130 surveys each year, including our nation\u0027s largest: • household
        survey, the A[...]
