---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=5&ImageFilters='Aspect:Square'&Market='en-US'&Query='white%20house'&Sources='image%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 5d197df3-a5b6-46fc-a61c-d234040d4b4f
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027Aspect:Square\u0027&Market=\u0027en-US\u0027&Query=\u0027white
        house\u0027&Sources=\u0027image+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"8d5e43d7-8f07-4a1a-9cb6-7242642398c6","WebTotal":"","WebOffset":"","ImageTotal":"25200","ImageOffset":"0","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"","AlteredQuery":"","AlterationOverrideQuery":"","Web":[],"Image":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u00278d5e43d7-8f07-4a1a-9cb6-7242642398c6\u0027)/Image?$skip=0&$top=1","type":"ImageResult"},"ID":"5e905e1a-c7b4-4222-8298-1a87b64ff997","Title":"The
        White House - YouTube","MediaUrl":"https://yt3.ggpht.com/-E1SyZ9q7Z9E/AAAAAAAAAAI/AAAAAAAAAAA/iAkRlx2F-E0/s900-c-k-no/photo.jpg","SourceUrl":"http://youtube.com/user/whitehouse","DisplayUrl":"youtube.com/user/whitehouse","Width":"900","Height":"900","FileSize":"902679","ContentType":"image/png","Thumbnail":{"__metadata":{"type":"Bing.Thumbnail"},"MediaUrl":"http://ts4.mm.bing.net/th?id=OIP.M3144c11d8a260e616e3105a9dd7848d0o0&pid=15.1","ContentType":"image/jpg","Width":"300","Height":"300","FileSize":"12266"}},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u00278d5e43d7-8f07-4a1a-9cb6-7242642398c6\u0027)/Image?$skip=1&$top=1","type":"ImageResult"},"ID":"b760b6a6-4bc6-442a-9ecb-f64155ed445a","Title":"Do
        you want to ask the White[...]
