---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=5&ImageFilters='Aspect:Square'&Market='en-US'&Query='white%20house'&Sources='image%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - aaff39c7-d778-4a2c-92b0-f760f980cfd1
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027Aspect:Square\u0027&Market=\u0027en-US\u0027&Query=\u0027white
        house\u0027&Sources=\u0027image+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"3a6ecbbf-fc30-456c-a8eb-67dd426e6555","WebTotal":"","WebOffset":"","ImageTotal":"19500","ImageOffset":"0","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"","AlteredQuery":"","AlterationOverrideQuery":"","Web":[],"Image":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u00273a6ecbbf-fc30-456c-a8eb-67dd426e6555\u0027)/Image?$skip=0&$top=1","type":"ImageResult"},"ID":"047897c6-d8fc-4763-9681-d176533f6670","Title":"The
        White House (@WhiteHouse) | Twitter","MediaUrl":"https://pbs.twimg.com/profile_images/747463206759698432/c8cVVWhj.jpg","SourceUrl":"https://twitter.com/whitehouse","DisplayUrl":"https://twitter.com/whitehouse","Width":"400","Height":"400","FileSize":"42497","ContentType":"image/jpeg","Thumbnail":{"__metadata":{"type":"Bing.Thumbnail"},"MediaUrl":"http://ts3.mm.bing.net/th?id=OIP.ICLHe6AIoa3Geb0530CUqwEsEs&pid=15.1","ContentType":"image/jpg","Width":"300","Height":"300","FileSize":"10977"}},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u00273a6ecbbf-fc30-456c-a8eb-67dd426e6555\u0027)/Image?$skip=1&$top=1","type":"ImageResult"},"ID":"ce008471-a9ef-4586-be59-baa45c0d5d08","Title":"White
        House Attacked by Hackers | Wha[...]
