---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=5&ImageFilters=''&Market='en-US'&Query='survy'&Sources='web%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 696fb2cd-bb09-4465-b26a-d9112381c2df
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027\u0027&Market=\u0027en-US\u0027&Query=\u0027survy\u0027&Sources=\u0027web+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"3f9032c3-9c7c-4898-a113-9036a7ed5534","WebTotal":"56300","WebOffset":"0","ImageTotal":"","ImageOffset":"","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"1","AlteredQuery":"","AlterationOverrideQuery":"","Web":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u00273f9032c3-9c7c-4898-a113-9036a7ed5534\u0027)/Web?$skip=0&$top=1","type":"WebResult"},"ID":"815d5b6d-d027-45b4-975b-041793dc16e6","Title":"SurveyMonkey:
        Free online survey software & questionnaire tool","Description":"Create and
        publish online surveys in minutes, and view results graphically and in real
        time. SurveyMonkey provides free online questionnaire and survey software.","DisplayUrl":"https://www.surveymonkey.com","Url":"https://www.surveymonkey.com/"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u00273f9032c3-9c7c-4898-a113-9036a7ed5534\u0027)/Web?$skip=1&$top=1","type":"WebResult"},"ID":"e43a87df-c07a-48d5-9fc4-c6882e13e0ae","Title":"SurveyMonkey
        - Log in","Description":"Create and publish online surveys in minutes, and
        view results graphically and in real time. SurveyMonkey provides free online
        questionnaire and survey [...]
