---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=1000&$top=5&ImageFilters=''&Market='en-US'&Query='survy%20(site:www.census.gov)'&Sources='web%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - adb95916-53cd-42cf-bb16-bbb1a62f8072
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027\u0027&Market=\u0027en-US\u0027&Query=\u0027survy
        (site:www.census.gov)\u0027&Sources=\u0027web+spell\u0027&$skip=1000&$top=1","type":"ExpandableSearchResult"},"ID":"2368f6e2-d818-47c5-a997-af0e5c0347f1","WebTotal":"40","WebOffset":"35","ImageTotal":"","ImageOffset":"","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"1","AlteredQuery":"","AlterationOverrideQuery":"","Web":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u00272368f6e2-d818-47c5-a997-af0e5c0347f1\u0027)/Web?$skip=0&$top=1","type":"WebResult"},"ID":"7dbb618d-5876-4ba7-88ca-41d8a281c9b8","Title":"Census
        Bureau Releases New Median Earnings by Detailed ...","Description":"In honor
        of Women’s History Month, the U.S. Census Bureau released today a new table
        showing median earnings by detailed occupation from the 2013 American Community
        ...","DisplayUrl":"www.census.gov/newsroom/press-releases/2015/cb15-tps22.html","Url":"http://www.census.gov/newsroom/press-releases/2015/cb15-tps22.html"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u00272368f6e2-d818-47c5-a997-af0e5c0347f1\u0027)/Web?$skip=1&$top=1","type":"WebResult"},"ID":"72cff6d9-3b0c-45af-bf65-9b1b7591a0ef","Title":"Frequently
        Asked Questions - U.S. Census Bureau","Description":"Frequently asked questions
        about the 2012 Economic Census","DisplayUrl":"www.census.gov/econ/cens[...]
