---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=1000&$top=5&ImageFilters=''&Market='en-US'&Query='survy%20(site:www.census.gov)'&Sources='web%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 69402f9a-2ce6-4e78-b8e2-41df5ca1f476
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027\u0027&Market=\u0027en-US\u0027&Query=\u0027survy
        (site:www.census.gov)\u0027&Sources=\u0027web+spell\u0027&$skip=1000&$top=1","type":"ExpandableSearchResult"},"ID":"0b8ca3eb-8e15-49ec-a9e4-2fdee9ba87ec","WebTotal":"39","WebOffset":"35","ImageTotal":"","ImageOffset":"","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"1","AlteredQuery":"","AlterationOverrideQuery":"","Web":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u00270b8ca3eb-8e15-49ec-a9e4-2fdee9ba87ec\u0027)/Web?$skip=0&$top=1","type":"WebResult"},"ID":"8250e6b9-80e5-4bbc-aaec-742abd7384b7","Title":"American
        Community Survey Reports - Census.gov","Description":"home are not included
        in information presented in this report unless otherwise stated. The largest
        city in each metropolitan or micropolitan statistical area","DisplayUrl":"www.census.gov/prod/2014pubs/acs-25.pdf?eml=gd","Url":"http://www.census.gov/prod/2014pubs/acs-25.pdf?eml=gd"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u00270b8ca3eb-8e15-49ec-a9e4-2fdee9ba87ec\u0027)/Web?$skip=1&$top=1","type":"WebResult"},"ID":"d6262d20-7aad-4300-9836-8775d0454aea","Title":"National
        Health Interview Survey (NHIS) - Chicago Region ...","Description":"Chicago
        Region. You are here: Census.gov › Regional Offices › Chicago Region › Programs
        &[...]
