---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=5&ImageFilters=''&Market='en-US'&Query='survy%20(site:www.census.gov)'&Sources='web%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 89f2b685-aca8-416b-8229-619ea2f8c590
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027\u0027&Market=\u0027en-US\u0027&Query=\u0027survy
        (site:www.census.gov)\u0027&Sources=\u0027web+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"f9c0d4e5-429a-4a58-be39-d6b5a2506010","WebTotal":"46","WebOffset":"0","ImageTotal":"","ImageOffset":"","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"1","AlteredQuery":"","AlterationOverrideQuery":"","Web":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027f9c0d4e5-429a-4a58-be39-d6b5a2506010\u0027)/Web?$skip=0&$top=1","type":"WebResult"},"ID":"f62006ac-b756-4f14-ab69-82abc5b273c9","Title":"Are
        You in a Survey? - Census.gov","Description":"If you have received a survey,
        this site will help you verify that the survey came from us, understand and
        complete the form, and know how we protect your data.","DisplayUrl":"https://www.census.gov/programs-surveys/are-you-in-a-survey.html","Url":"https://www.census.gov/programs-surveys/are-you-in-a-survey.html"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027f9c0d4e5-429a-4a58-be39-d6b5a2506010\u0027)/Web?$skip=1&$top=1","type":"WebResult"},"ID":"6d5e294e-b41d-41fb-8a6d-fb06b6e17edc","Title":"American
        Community Survey (ACS)","Description":"The American Community Survey is the
        premier source for information about America\u0027s changing population, housi[...]
