---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=5&ImageFilters='Aspect:Square'&Market='en-US'&Query='white%20house'&Sources='image%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 3d75fa0a-c118-4089-aa47-192e91d0fce4
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027Aspect:Square\u0027&Market=\u0027en-US\u0027&Query=\u0027white
        house\u0027&Sources=\u0027image+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"260972c7-9e6d-4718-8edf-dc18f3481990","WebTotal":"","WebOffset":"","ImageTotal":"31400","ImageOffset":"0","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"","AlteredQuery":"","AlterationOverrideQuery":"","Web":[],"Image":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027260972c7-9e6d-4718-8edf-dc18f3481990\u0027)/Image?$skip=0&$top=1","type":"ImageResult"},"ID":"a8ee5d92-4294-472a-ab6e-ea7b3c506233","Title":"Do
        you want to ask the White House a question? Tell us what you’d ...","MediaUrl":"http://taskforceblog.files.wordpress.com/2012/01/kathy_whitehouse.jpg","SourceUrl":"http://thetaskforceblog.org/2012/01/23/task-force-to-participate-in-live-white-house-event-following-the-state-of-the-union/","DisplayUrl":"thetaskforceblog.org/2012/01/23/task-force-to-participate-in-live...","Width":"1008","Height":"974","FileSize":"845588","ContentType":"image/jpeg","Thumbnail":{"__metadata":{"type":"Bing.Thumbnail"},"MediaUrl":"http://ts2.mm.bing.net/th?id=OIP.M71aa6926638ed72596e2aa4f5f80666co0&pid=15.1","ContentType":"image/jpg","Width":"300","Height":"289","FileSize":"16723"}},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027260972c7-9e6d-4718-8edf-dc18f3481990\u0027)/Image?$skip=1&$top=1","type":"ImageResult"},"ID":"6745949c-bedd-4738-a140-92cadc2f889a","Title":"white-house-map-white
        house"[...]
