---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=43&$top=5&ImageFilters=''&Market='en-US'&Query='survy%20(site:www.census.gov)'&Sources='web%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 1a0a0b9b-a686-4c5a-9c43-d8c069f99161
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027\u0027&Market=\u0027en-US\u0027&Query=\u0027survy
        (site:www.census.gov)\u0027&Sources=\u0027web+spell\u0027&$skip=43&$top=1","type":"ExpandableSearchResult"},"ID":"43422d2b-0b0e-406d-b033-d30d735e29dc","WebTotal":"46","WebOffset":"43","ImageTotal":"","ImageOffset":"","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"1","AlteredQuery":"","AlterationOverrideQuery":"","Web":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u002743422d2b-0b0e-406d-b033-d30d735e29dc\u0027)/Web?$skip=0&$top=1","type":"WebResult"},"ID":"ed1ee841-3e8e-4cdf-aae1-685f7e7ffb41","Title":"Annual
        & Quarterly Services - Historical Data","Description":"Annual & Quarterly
        Services. Census.gov › Business & Industry › Annual & Quarterly Services ›
        Historical Data Skip top of page navigation. Main; About the Surveys;","DisplayUrl":"https://www.census.gov/services/sas/historic_data.html","Url":"https://www.census.gov/services/sas/historic_data.html"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u002743422d2b-0b0e-406d-b033-d30d735e29dc\u0027)/Web?$skip=1&$top=1","type":"WebResult"},"ID":"864c6900-dd9d-4bb6-aca4-a6754a24ecde","Title":"\"A
        Statistical Analysis of the CPS Supplement on Race and ...","Description":"A
        STATISTICAL ANALYSIS OF THE CPS SUPPLEMENT ON RACE AND ETHNIC ORIGIN Clyde
        Tucker and Brian Kojetin and Roderick Harrison Bureau of Labor Statistics
        Bureau of the ...","DisplayUrl":"www.census.gov/prod/2/gen/96arc/ivatuck.pdf","Url":"http://www.census.gov/prod/2/gen/96arc/ivatuck.pdf"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u002743422d2b-0b0e-406d-b033-d30d735e29dc\u0027)/Web?$skip=2&$top=1","type":"WebResult"},"ID":"18ac310c-1925-48a0-b0fc-c3b52b771074","Title":"Annual
        & Quarterly Services - Historical Data - Census.gov","Description":"Annual
        & Quarterly Services. Census.gov › Business & Industry › Annual & Quarterly
        Services › Historical Data Skip top of page navigation. Main; About the Surveys;","DisplayUrl":"https://www.census.gov/services/historic_data.html","Url":"https://www.census.gov/services/historic_data.html"}],"Image":[],"Video":[],"News":[],"RelatedSearch":[],"SpellingSuggestions":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u002743422d2b-0b0e-406d-b033-d30d735e29dc\u0027)/SpellingSuggestions?$skip=0&$top=1","type":"SpellResult"},"ID":"3bd4415f-37a4-4e1f-81c5-ef6c58b9c36f","Value":"survey"}]}]}}'
  recorded_at: Tue, 07 Feb 2017 00:47:56 GMT
recorded_with: VCR 3.0.3
