---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=5&ImageFilters=''&Market='en-US'&Query='survy%20(site:www.census.gov)'&Sources='web%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 2d62b2a5-5a3c-4307-b814-8b579973a46e
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027\u0027&Market=\u0027en-US\u0027&Query=\u0027survy
        (site:www.census.gov)\u0027&Sources=\u0027web+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"21162929-4cd3-495b-9be8-110bff5509d0","WebTotal":"45","WebOffset":"0","ImageTotal":"","ImageOffset":"","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"1","AlteredQuery":"","AlterationOverrideQuery":"","Web":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u002721162929-4cd3-495b-9be8-110bff5509d0\u0027)/Web?$skip=0&$top=1","type":"WebResult"},"ID":"5bfaf89c-b12b-4d44-a8aa-bcb6a92a6878","Title":"Are
        You in a Survey? - Census.gov","Description":"Are You in a Survey? Menu .
        About this Section Contact Us How We Protect Your Information List of All
        Surveys Close Menu. Skip to looking for section. About this ...","DisplayUrl":"https://www.census.gov/programs-surveys/are-you-in-a-survey.html","Url":"https://www.census.gov/programs-surveys/are-you-in-a-survey.html"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u002721162929-4cd3-495b-9be8-110bff5509d0\u0027)/Web?$skip=1&$top=1","type":"WebResult"},"ID":"51a496f1-a519-465a-a263-28b53675c15d","Title":"Current
        Population Survey (CPS) - Census.gov","Description":"The Current Population
        Survey is a joint effort between the Bureau of Labor Statistics and the Census
[...]
