---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=5&ImageFilters=''&Market='en-US'&Query='survy'&Sources='web%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - f6712781-4e1b-478c-8a6e-fe594fa6b5a7
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027\u0027&Market=\u0027en-US\u0027&Query=\u0027survy\u0027&Sources=\u0027web+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"036bab5a-ad61-4bdd-b9a4-54213212a3b8","WebTotal":"64600","WebOffset":"0","ImageTotal":"","ImageOffset":"","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"1","AlteredQuery":"","AlterationOverrideQuery":"","Web":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027036bab5a-ad61-4bdd-b9a4-54213212a3b8\u0027)/Web?$skip=0&$top=1","type":"WebResult"},"ID":"62b3fdc1-3475-46a8-8881-3522e1940911","Title":"SurveyMonkey:
        Free online survey software & questionnaire tool","Description":"Create and
        publish online surveys in minutes, and view results graphically and in real
        time. SurveyMonkey provides free online questionnaire and survey software.","DisplayUrl":"https://www.surveymonkey.com","Url":"https://www.surveymonkey.com/"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027036bab5a-ad61-4bdd-b9a4-54213212a3b8\u0027)/Web?$skip=1&$top=1","type":"WebResult"},"ID":"301b96e4-9de9-440c-8604-de8f9d32ce6c","Title":"SurveyMonkey
        - Log in","Description":"Create and publish online surveys in minutes, and
        view results graphically and in real time. SurveyMonkey provides free online
        questionnaire and survey [...]
