%tbody
  %tr.column-header
    %th URL
    %th Actions
  - @uncrawled_urls.each do |uncrawled_url|
    %tr{:class => cycle('even', 'odd')}
      %td
        = link_to shorten_url(uncrawled_url.url, shorten_url_length), uncrawled_url.url, :title => uncrawled_url.url
      %td.actions
        = button_to("Delete", affiliate_on_demand_url_path(@affiliate, uncrawled_url), :method => :delete, :confirm => "Are you sure you want to delete this URL?")