%tbody
  %tr.column-header
    %th{ :colspan => 2 } URL
  - unless @uncrawled_urls.blank?
    - @uncrawled_urls.each do |uncrawled_url|
      %tr{:class => cycle('even', 'odd')}
        %td{ :colspan => 2 }
          = link_to shorten_url(uncrawled_url.url, shorten_url_length), uncrawled_url.url, :title => uncrawled_url.url
  - else
    %tr
      %td.empty{ :colspan => 2 } Site #{@affiliate.display_name} has no uncrawled URLs
