---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - BA34F20555B1465FA6B487930BC1FAF7
      X-Msedge-Clientid:
      - 085BA44A0F7368871071AE280EE4698E
      X-Msapi-Userstate:
      - 6bab
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=7F38FB760CE14560A602A7535E1F76D3&CID=085BA44A0F7368871071AE280EE4698E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=7F38FB760CE14560A602A7535E1F76D3&CID=085BA44A0F7368871071AE280EE4698E&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=obama%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5181.1", "totalEstimatedMatches": 137, "nextOffset":
        22, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=obama+(site%3agov+OR+site%3amil)&id=C017C6B8F188BE8AD155FD8FFA44D1F8740E235D&simid=608024567176105427",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "Barack Obama | whitehouse.gov",
        "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.aG0TZL5mYu7l8KPSj0gG8wEsCp&pid=Api",
        "datePublished": "2017-03-31T04:19:00.0000000Z", "contentUrl": "https:\/\/www.whitehouse.gov\/sites\/whitehouse.gov\/files\/images\/first-family\/44_barack_obama%5B1%5D.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "https:\/\/www.whitehouse.gov\/1600\/presidents\/barackobama",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "241745 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.whitehouse.gov\/1600\/presidents\/barackobama",
        "width": 800, "height": 452, "thumbnail": {"width": 300, "height": 169}, "imageInsightsToken":
        "ccid_aG0TZL5m*mid_C017C6B8F188BE8AD155FD8FFA44D1F8740E235D*simid_608024567176105427",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "C017C6B8F188BE8AD155FD8FFA44D1F8740E235D", "accentColor": "924239"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=obama+(site%3agov+OR+site%3amil)&id=3C1A28213E0190D89BCD9509D5E0154B852C21ED&simid=608018558526753601",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "President Barack Obama
        | whitehouse.gov", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.mVDly-W7LrsNP_ptTfpdcQDwEs&pid=Api",
        "datePublished": "2015-04-12T07:32:00.0000000Z", "contentUrl": "https:\/\/www.whit[...]
