---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C9E776749DBE4272B5B62B82BF60FA14
      X-Msedge-Clientid:
      - 10F127274A746F4532892CA14BDB6ED8
      X-Msapi-Userstate:
      - 41ab
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5A4FC791A4E44048A81E02689C792242&CID=10F127274A746F4532892CA14BDB6ED8&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5A4FC791A4E44048A81E02689C792242&CID=10F127274A746F4532892CA14BDB6ED8&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=weather%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5186.1", "totalEstimatedMatches": 143, "nextOffset":
        24, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=73C24BABD6E444BCD736A34CB60EC832DF0D7700&simid=607994064932832200",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "NASA - What''s the Difference
        Between Weather and Climate ...", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.aXRDPsk6qoxPrZkM6KRukAHaEZ&pid=Api",
        "datePublished": "2017-12-24T20:49:00.0000000Z", "contentUrl": "http:\/\/www.nasa.gov\/sites\/default\/files\/thumbnails\/image\/smap-weather.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "https:\/\/www.nasa.gov\/mission_pages\/noaa-n\/climate\/climate_weather.html",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "8036115 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.nasa.gov\/mission_pages\/noaa-n\/climate\/climate_weather.html",
        "width": 3610, "height": 2144, "thumbnail": {"width": 474, "height": 281},
        "imageInsightsToken": "ccid_aXRDPsk6*mid_73C24BABD6E444BCD736A34CB60EC832DF0D7700*simid_607994064932832200",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "73C24BABD6E444BCD736A34CB60EC832DF0D7700", "accentColor": "4A5C39"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=6829C1034B23DDC72B009910F7FFA0F1D16B9037&simid=607988249547181220",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "Philadelphia\/Mt Holly",
        "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.TZ-OLe2Hb3o90bC_NQCqSAHaKB&pid=Api",
        "datePublished": "2010-10-19T01:41:00.0000000Z", "contentUrl": "http:\/\/www.weather.gov\/images\[...]
