---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8BDB8F238FBD45E5A6592FA62DD9EB82
      X-Msedge-Clientid:
      - 1CA5F8AD558D67080074F3A5541A6658
      X-Msapi-Userstate:
      - eb72
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=2FC3B5C3131A4E69BB3A77CE3CC17B69&CID=1CA5F8AD558D67080074F3A5541A6658&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=2FC3B5C3131A4E69BB3A77CE3CC17B69&CID=1CA5F8AD558D67080074F3A5541A6658&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=obama%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5184.1", "totalEstimatedMatches": 129, "nextOffset":
        24, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=obama+(site%3agov+OR+site%3amil)&id=3C1A28213E0190D89BCDA8B4041384F57F99F8C3&simid=608048374513535939",
        "webSearchUrlPingSuffix": "DevEx,5023.1", "name": "President Barack Obama
        | whitehouse.gov", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.K2jPfmAkia5ZEYcjYNiQFADwEs&pid=Api",
        "datePublished": "2001-01-01T00:00:00.0000000Z", "contentUrl": "https:\/\/www.whitehouse.gov\/sites\/whitehouse.gov\/files\/images\/Administration\/People\/president_official_portrait_lores.jpg",
        "contentUrlPingSuffix": "DevEx,5025.1", "hostPageUrl": "https:\/\/www.whitehouse.gov\/administration\/president-obama",
        "hostPageUrlPingSuffix": "DevEx,5024.1", "contentSize": "303258 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.whitehouse.gov\/administration\/president-obama",
        "width": 599, "height": 748, "thumbnail": {"width": 240, "height": 300}, "imageInsightsToken":
        "ccid_K2jPfmAk*mid_3C1A28213E0190D89BCDA8B4041384F57F99F8C3*simid_608048374513535939",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "3C1A28213E0190D89BCDA8B4041384F57F99F8C3", "accentColor": "9E2F2D"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=obama+(site%3agov+OR+site%3amil)&id=8ADF611AC03335B8019B744FA412B8F36B712E21&simid=608037366488302277",
        "webSearchUrlPingSuffix": "DevEx,5029.1", "name": "Barack Obama | whitehouse.gov",
        "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.aG0TZL5mYu7l8KPSj0gG8wEsCp&pid=Api",
        "datePublished": "2015-02-16T00:15:00.0000000Z", "contentUrl": "http:\/\/www.whitehouse.gov\[...]
