---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5E167BC56F684C10B3477E58804DA86A
      X-Msedge-Clientid:
      - 064EA61C743F61FF1D01AA44753060F7
      X-Msapi-Userstate:
      - ffa5
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=25108AA18413427AB33691B6F3056823&CID=064EA61C743F61FF1D01AA44753060F7&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=25108AA18413427AB33691B6F3056823&CID=064EA61C743F61FF1D01AA44753060F7&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=obama%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5188.1", "totalEstimatedMatches": 110, "nextOffset":
        24, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=obama+(site%3agov+OR+site%3amil)&id=8ADF611AC03335B8019B744FA412B8F36B712E21&simid=608037367268837261",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "Barack Obama | whitehouse.gov",
        "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.aG0TZL5mYu7l8KPSj0gG8wHaEL&pid=Api",
        "datePublished": "2015-02-16T00:15:00.0000000Z", "contentUrl": "http:\/\/www.whitehouse.gov\/sites\/whitehouse.gov\/files\/images\/first-family\/44_barack_obama%5B1%5D.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/www.whitehouse.gov\/1600\/presidents\/barackobama",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "241745 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.whitehouse.gov\/1600\/presidents\/barackobama",
        "width": 800, "height": 452, "thumbnail": {"width": 474, "height": 267}, "imageInsightsToken":
        "ccid_aG0TZL5m*mid_8ADF611AC03335B8019B744FA412B8F36B712E21*simid_608037367268837261",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "8ADF611AC03335B8019B744FA412B8F36B712E21", "accentColor": "924239"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=obama+(site%3agov+OR+site%3amil)&id=AFD7BDD88014022424A86F187FCBA00897EBDDD8&simid=607994924431048836",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "President Barack Obama
        | whitehouse.gov", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.mVDly-W7LrsNP_ptTfpdcQHaJQ&pid=Api",
        "datePublished": "2010-01-17T14:26:00.0000000Z", "contentUrl": "http:\/\/www.white[...]
