---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 06F00B26AB7F4E6C93A693AD85C99327
      X-Msedge-Clientid:
      - 2284267BE91F65DC12172A23E8106414
      X-Msapi-Userstate:
      - 9fe0
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E0BEEDC212CF48DEB666A7C6F14A3CFE&CID=2284267BE91F65DC12172A23E8106414&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E0BEEDC212CF48DEB666A7C6F14A3CFE&CID=2284267BE91F65DC12172A23E8106414&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=obama%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5188.1", "totalEstimatedMatches": 109, "nextOffset":
        23, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=obama+(site%3agov+OR+site%3amil)&id=AFD7BDD88014022424A86F187FCBA00897EBDDD8&simid=607994924431048836",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "President Barack Obama
        | whitehouse.gov", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.mVDly-W7LrsNP_ptTfpdcQHaJQ&pid=Api",
        "datePublished": "2010-01-17T14:26:00.0000000Z", "contentUrl": "http:\/\/www.whitehouse.gov\/sites\/whitehouse.gov\/files\/images\/Administration\/People\/president_official_portrait_hires.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/www.whitehouse.gov\/administration\/president-obama",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "1285932 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.whitehouse.gov\/administration\/president-obama",
        "width": 2687, "height": 3356, "thumbnail": {"width": 474, "height": 592},
        "imageInsightsToken": "ccid_mVDly+W7*mid_AFD7BDD88014022424A86F187FCBA00897EBDDD8*simid_607994924431048836",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "AFD7BDD88014022424A86F187FCBA00897EBDDD8", "accentColor": "9F2E2C"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=obama+(site%3agov+OR+site%3amil)&id=ADC303143F0B6323A295B9C6A774AD07EC313647&simid=608045025195787631",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "President Obama: “We Will
        Degrade and Ultimately Destroy ISIL” | whitehouse.gov", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.nwlCqf8iT04pVN5uLvAFHgHaE7&pid=Api",
        "datePublished": "2014-09-11T00:23:00.0000[...]
