---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 042582D45EA6441AAD512AD40E74C03E
      X-Msedge-Clientid:
      - 2A5134D076826FF936873EE977156E54
      X-Msapi-Userstate:
      - fb7a
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=0C9D738BACE94260AA448D69C41F455E&CID=2A5134D076826FF936873EE977156E54&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=0C9D738BACE94260AA448D69C41F455E&CID=2A5134D076826FF936873EE977156E54&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=weather%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5177.1", "totalEstimatedMatches": 144, "nextOffset":
        20, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=995D19A6FB6FAF673B22C03577F7958983865382&simid=608043009708657689",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "Focus on Severe Weather",
        "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.M4ddf54681eed18e81b5c78cc701a5f7dH0&pid=Api",
        "datePublished": "2017-02-15T02:48:00.0000000Z", "contentUrl": "http:\/\/www.nws.noaa.gov\/com\/weatherreadynation\/img\/art_imgs\/022712_focus_severe_lg.png",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/www.nws.noaa.gov\/com\/weatherreadynation\/news\/022712_focus_severe.html",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "1442407 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "www.nws.noaa.gov\/com\/weatherreadynation\/news\/022712_focus_severe.html",
        "width": 1024, "height": 768, "thumbnail": {"width": 300, "height": 225},
        "imageInsightsToken": "ccid_Td9UaB7t*mid_995D19A6FB6FAF673B22C03577F7958983865382*simid_608043009708657689",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "995D19A6FB6FAF673B22C03577F7958983865382", "accentColor": "5C4F33"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=2EB86ECF1004A6BBAE23EA23673902C491648D31&simid=608051028409060385",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "Mountains form their own
        weather, with sudden showers emerging in some ...", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.M07e0d4a215b7d1e62a252a2d33e1b70ao0&pid=Api",
        "datePublished": "2012-10-17T12:00:0[...]
