---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7BAE679D04F64863872FF82E65360A84
      X-Msedge-Clientid:
      - 0CB5A34E464F64811126A8D047AA65ED
      X-Msapi-Userstate:
      - 2e50
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8A09FD4DABB54DC791DA47FC66051E19&CID=0CB5A34E464F64811126A8D047AA65ED&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8A09FD4DABB54DC791DA47FC66051E19&CID=0CB5A34E464F64811126A8D047AA65ED&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=weather%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5186.1", "totalEstimatedMatches": 143, "nextOffset":
        20, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=6829C1034B23DDC72B009910F7FFA0F1D16B9037&simid=607988249640046209",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "Philadelphia\/Mt Holly",
        "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.TZ-OLe2Hb3o90bC_NQCqSAHaKB&pid=Api",
        "datePublished": "2010-10-19T01:41:00.0000000Z", "contentUrl": "http:\/\/www.weather.gov\/images\/phi\/features\/weather_symbols.png",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/www.weather.gov\/phi\/",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "99804 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "www.weather.gov\/phi", "width": 438, "height":
        593, "thumbnail": {"width": 474, "height": 641}, "imageInsightsToken": "ccid_TZ+OLe2H*mid_6829C1034B23DDC72B009910F7FFA0F1D16B9037*simid_607988249640046209",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "6829C1034B23DDC72B009910F7FFA0F1D16B9037", "accentColor": "CC8700"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=73C24BABD6E444BCD736A34CB60EC832DF0D7700&simid=607994065007873978",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "NASA - What''s the Difference
        Between Weather and Climate ...", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.aXRDPsk6qoxPrZkM6KRukAHaEZ&pid=Api",
        "datePublished": "2017-12-24T20:49:00.0000000Z", "contentU[...]
