---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5F473A531C8A4EDFBAE81C2163E05891
      X-Msedge-Clientid:
      - 374BD52B0F0B6D0F1722D9730E046C19
      X-Msapi-Userstate:
      - 474a
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=340D9A8BB96F4E20B50B441073D41772&CID=374BD52B0F0B6D0F1722D9730E046C19&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=340D9A8BB96F4E20B50B441073D41772&CID=374BD52B0F0B6D0F1722D9730E046C19&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=weather%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5186.1", "totalEstimatedMatches": 144, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=7CD0864C6E069598344A12B6D48F79EAB51F4E4E&simid=607994937313986729",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "News | Building a Better
        Weather Forecast? SMAP May Help", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.xzwVJaXflEO4t2Yos-P2ggHaEZ&pid=Api",
        "datePublished": "2018-06-15T21:37:00.0000000Z", "contentUrl": "http:\/\/www.jpl.nasa.gov\/images\/earth\/smap\/20150127\/smap20150127.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "https:\/\/www.jpl.nasa.gov\/news\/news.php?feature=4463",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "1678160 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.jpl.nasa.gov\/news\/news.php?feature=4463",
        "width": 3610, "height": 2144, "thumbnail": {"width": 474, "height": 281},
        "imageInsightsToken": "ccid_xzwVJaXf*mid_7CD0864C6E069598344A12B6D48F79EAB51F4E4E*simid_607994937313986729",
        "imageId": "7CD0864C6E069598344A12B6D48F79EAB51F4E4E", "accentColor": "435B3C"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=397363AF7688A0F489A16857C6887B23F2B404FC&simid=607990934392669141",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "April 16, 2011 Severe Weather",
        "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.TuuLt5spVT6fLd4ZI4oHcgHaGE&pid=Api",
        "datePublished": "2018-07-22T20:53:00.0000000Z", "contentUrl": "https:\/\/www.weather.gov\/images\/cae\/Events\/EasternMidlandsSevere_Apr16_2011\/1800a.png",
        "contentUrlPingSuffix": "DevEx,5033.1", "hostPageUrl": "https:\/\/www.weather.gov\/cae\/April_16_2011_Severe.html",
        "hostPageUrlPingSuffix": "DevEx,5032.1", "contentSize": "1214937 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "https:\/\/www.weather.gov\/cae\/April_16_2011_Severe.html",
        "width": 1031, "height": 846, "thumbnail": {"width": 474, "height": 388},
        "imageInsightsToken": "ccid_TuuLt5sp*mid_397363AF7688A0F489A16857C6887B23F2B404FC*simid_607990934392669141",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "397363AF7688A0F489A16857C6887B23F2B404FC", "accentColor": "04C713"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=C350EFE525B4E8D95775F43A8AA52535E3133189&simid=608017747862554249",
        "webSearchUrlPingSuffix": "DevEx,5037.1", "name": "NWS Louisville Doppler
        Radar All Tilts Reflectivity", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.-geLjdPmKkpmAa5F87cENAHaGs&pid=[...]
