---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9CCAAB4115EF4A4190DC15ADC4344F87
      X-Msedge-Clientid:
      - 06D6D5591029660D3390DF6811186792
      X-Msapi-Userstate:
      - '8815'
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8B4DF34E93EF46A0B36C77BD9790892A&CID=06D6D5591029660D3390DF6811186792&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8B4DF34E93EF46A0B36C77BD9790892A&CID=06D6D5591029660D3390DF6811186792&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=weather%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5161.1", "totalEstimatedMatches": 145, "nextOffset":
        22, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=B045F6D8723C3A099B6898BCF97DDC682E776AD0&simid=608023416049764940",
        "webSearchUrlPingSuffix": "DevEx,5006.1", "name": "Drought likely to persist
        or develop in the Southwest, Southeastern U ...", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.Mfac0824fc2fd2f18d210ddedb8cba3a6o0&pid=Api",
        "datePublished": "2013-11-20T23:58:00.0000000Z", "contentUrl": "http:\/\/www.noaanews.noaa.gov\/stories2013\/images\/Outlook_map_Precip_203F.jpg",
        "contentUrlPingSuffix": "DevEx,5008.1", "hostPageUrl": "http:\/\/www.noaanews.noaa.gov\/stories2013\/20131121_winteroutlook.html",
        "hostPageUrlPingSuffix": "DevEx,5007.1", "contentSize": "2999576 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.noaanews.noaa.gov\/stories2013\/20131121_winteroutlook.html",
        "width": 3300, "height": 2576, "thumbnail": {"width": 300, "height": 234},
        "imageInsightsToken": "ccid_+sCCT8L9*mid_B045F6D8723C3A099B6898BCF97DDC682E776AD0*simid_608023416049764940",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "B045F6D8723C3A099B6898BCF97DDC682E776AD0", "accentColor": "0C2D5D"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=2EB86ECF1004A6BBAE23EA23673902C491648D31&simid=608051028398574650",
        "webSearchUrlPingSuffix": "DevEx,5012.1", "name": "Mountains form their own
        weather, with sudden showers emerging in some ...", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.M07e0d4a215b7d1e62a252a2d33e1b70ao0&pid=Api",
        "datePublished": "2012-10-17T12:00:0[...]
