---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 923607BE702F4AD49E07F75F96B5414C
      X-Msedge-Clientid:
      - 038BAC84048664740B6CA61D0511653F
      X-Msapi-Userstate:
      - '4284'
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=970EB0CB1DC5427488963BEDB80AD061&CID=038BAC84048664740B6CA61D0511653F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=970EB0CB1DC5427488963BEDB80AD061&CID=038BAC84048664740B6CA61D0511653F&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=weather%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5179.1", "totalEstimatedMatches": 143, "nextOffset":
        20, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=995D19A6FB6FAF673B22C03577F7958983865382&simid=608043009849688832",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "Focus on Severe Weather",
        "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.Td9UaB7tGOgbXHjMcBpffQEgDY&pid=Api",
        "datePublished": "2017-05-19T07:10:00.0000000Z", "contentUrl": "http:\/\/www.nws.noaa.gov\/com\/weatherreadynation\/img\/art_imgs\/022712_focus_severe_lg.png",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/www.nws.noaa.gov\/com\/weatherreadynation\/news\/022712_focus_severe.html",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "1442407 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "www.nws.noaa.gov\/com\/weatherreadynation\/news\/022712_focus_severe.html",
        "width": 1024, "height": 768, "thumbnail": {"width": 288, "height": 216},
        "imageInsightsToken": "ccid_Td9UaB7t*mid_995D19A6FB6FAF673B22C03577F7958983865382*simid_608043009849688832",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "995D19A6FB6FAF673B22C03577F7958983865382", "accentColor": "5C4F33"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=DD1AB8E2F917FE3BC67EC9BF698D346457F1C1A0&simid=608036953949407802",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "NOAA study finds fishing
        tops U.S. lightning death activities", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.ll7gejWWi-9LxrLS-YoDWgEsDI&pid=Api",
        "datePublished": "2013-06-24T12:00:00.0000000Z", "contentU[...]
