---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E285C76CC2FE483E9E73FB321F337E6F
      X-Msedge-Clientid:
      - 27D607E12AEF633014520D222B78629E
      X-Msapi-Userstate:
      - cb13
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C14B2C49F4EC4340AA1C2A650503EA1D&CID=27D607E12AEF633014520D222B78629E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C14B2C49F4EC4340AA1C2A650503EA1D&CID=27D607E12AEF633014520D222B78629E&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=obama%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5183.1", "totalEstimatedMatches": 133, "nextOffset":
        23, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=obama+(site%3agov+OR+site%3amil)&id=3C1A28213E0190D89BCD9509D5E0154B852C21ED&simid=608018558707434923",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "President Barack Obama
        | whitehouse.gov", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.mVDly-W7LrsNP_ptTfpdcQDwEs&pid=Api",
        "datePublished": "2015-04-12T07:32:00.0000000Z", "contentUrl": "https:\/\/www.whitehouse.gov\/sites\/whitehouse.gov\/files\/images\/Administration\/People\/president_official_portrait_hires.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "https:\/\/www.whitehouse.gov\/administration\/president-obama",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "1285932 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.whitehouse.gov\/administration\/president-obama",
        "width": 2687, "height": 3356, "thumbnail": {"width": 240, "height": 300},
        "imageInsightsToken": "ccid_mVDly+W7*mid_3C1A28213E0190D89BCD9509D5E0154B852C21ED*simid_608018558707434923",
        "insightsMetadata": {"shoppingSourcesCount": 6, "recipeSourcesCount": 0, "aggregateOffer":
        {"name": "President Barack Obama, Portrait", "priceCurrency": "USD", "lowPrice":
        3, "offerCount": 6}}, "imageId": "3C1A28213E0190D89BCD9509D5E0154B852C21ED",
        "accentColor": "9F2E2C"}, {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=obama+(site%3agov+OR+site%3amil)&id=C017C6B8F188BE8AD155FD8FFA44D1F8740E235D&simid=608024567361439368",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "Barack Obama | whitehouse.gov",
        "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.aG0TZL5mYu7l8KPSj0gG8wEsCp&pid=Api",
        "datePublished": "2017-06-28T06:23:00.0000000Z", "contentUrl": "https:\/\/www.whitehouse.gov\/sites\[...]
