---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&image.count=20&query=(obama)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028obama\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Image":{"Total":11100,"Offset":0,"Results":[{"Title":"Senator
        Barack Obama \u00281961 - \u0029 In Congress 2005 - 2008","MediaUrl":"http\u003a\u002f\u002fbeta.congress.gov\u002fimg\u002fmember\u002fobama_d_il.jpg","Url":"http\u003a\u002f\u002fbeta.congress.gov\u002fmember\u002fbarack-obama\u002f1763","DisplayUrl":"beta.congress.gov\u002fmember\u002fbarack-obama\u002f1763","Width":675,"Height":825,"FileSize":63243,"ContentType":"image\u002fjpeg","Thumbnail":{"Url":"http\u003a\u002f\u002fts4.mm.bing.net\u002fth\u003fid\u003dOIP.Me6d0d81147bbb9e27771f482666a29acH1\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":392,"Height":480,"FileSize":11369}},{"Title":"Barack
        H. Obama is the 44th President of the United States.","MediaUrl":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fsites\u002fwhitehouse.gov\u002ffiles\u002fimages\u002ffirst-family\u002f44_barack_obama\u00255B1\u00255D.jpg","Url":"https\u003a\u002f\u002fwww.whitehouse.gov\u[...]
