---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - FA29BE2309364371B8D5F585C67F59AA
      X-Msedge-Clientid:
      - 18F5EE289E286F0230EFFE7A9FD56EFF
      X-Msapi-Userstate:
      - 995c
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E1722C61BFE2486A8D9F478224E021B2&CID=18F5EE289E286F0230EFFE7A9FD56EFF&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E1722C61BFE2486A8D9F478224E021B2&CID=18F5EE289E286F0230EFFE7A9FD56EFF&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=weather%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5193.1", "totalEstimatedMatches": 200, "nextOffset":
        20, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=393F3806FD42F39CC82A9D447743CCCB90AF3D17&simid=608012806233595509",
        "webSearchUrlPingSuffix": "DevEx,5026.1", "name": "Information About the April
        14, 2011 Severe Weather ...", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.-VgH9tO_83OQzRPxEO5qdgHaLH&pid=Api",
        "datePublished": "2011-04-14T12:00:00.0000000Z", "contentUrl": "https:\/\/www.weather.gov\/images\/oun\/wxevents\/20110414\/stormphotos\/grabman\/MesoMadill.jpg",
        "contentUrlPingSuffix": "DevEx,5028.1", "hostPageUrl": "https:\/\/www.weather.gov\/oun\/events-20110414",
        "hostPageUrlPingSuffix": "DevEx,5027.1", "contentSize": "725288 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.weather.gov\/oun\/events-20110414",
        "width": 792, "height": 1188, "thumbnail": {"width": 474, "height": 711},
        "imageInsightsToken": "ccid_+VgH9tO\/*mid_393F3806FD42F39CC82A9D447743CCCB90AF3D17*simid_608012806233595509",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "393F3806FD42F39CC82A9D447743CCCB90AF3D17", "accentColor": "847347"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=1CFD0412216D831FDCDD243872A4CE215F664FE6&simid=608030003285084906",
        "webSearchUrlPingSuffix": "DevEx,5032.1", "name": "Alabama Severe Weather
        Awareness Week", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.35iAePXZgRuiw4qjgQq_qwHaFj&pid=Api",
        "datePublished": "2019-11-09T18:39:00.0000000Z", "contentUrl": "https:\/\/www.weat[...]
