---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - ACD262E804534ABB9214BE5FD74A9130
      X-Msedge-Clientid:
      - 2CF2C999FF2B61531366C3FBFEBC6065
      X-Msapi-Userstate:
      - 55d7
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=4F3FC2F371374BD5875ADE952988B8F7&CID=2CF2C999FF2B61531366C3FBFEBC6065&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=4F3FC2F371374BD5875ADE952988B8F7&CID=2CF2C999FF2B61531366C3FBFEBC6065&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=weather%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5179.1", "totalEstimatedMatches": 143, "nextOffset":
        20, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=2EB86ECF1004A6BBAE23EA23673902C491648D31&simid=608051028462799935",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "Mountains form their own
        weather, with sudden showers emerging in some ...", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.B-DUohW30eYqJSotM-G3CgEsDI&pid=Api",
        "datePublished": "2012-10-17T12:00:00.0000000Z", "contentUrl": "http:\/\/www.nps.gov\/dena\/planyourvisit\/images\/weather1.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/www.nps.gov\/dena\/planyourvisit\/weather.htm",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "83371 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.nps.gov\/dena\/planyourvisit\/weather.htm",
        "width": 556, "height": 372, "thumbnail": {"width": 300, "height": 200}, "imageInsightsToken":
        "ccid_B+DUohW3*mid_2EB86ECF1004A6BBAE23EA23673902C491648D31*simid_608051028462799935",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "2EB86ECF1004A6BBAE23EA23673902C491648D31", "accentColor": "655A07"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=995D19A6FB6FAF673B22C03577F7958983865382&simid=608043009759775560",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "Focus on Severe Weather",
        "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.Td9UaB7tGOgbXHjMcBpffQEsDh&pid=Api",
        "datePublished": "2017-03-31T04:05:00.0000000Z", "contentUrl": "http:\/\/www.nws.noaa.gov\/com\/[...]
