---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 295F2867A69241C1BF5ABFA737F0F6ED
      X-Msedge-Clientid:
      - 14FBF0FEDAAC66C80AF5FA67DB3B67D1
      X-Msapi-Userstate:
      - 66ab
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=FE197AF508F545658DB47244343F4C18&CID=14FBF0FEDAAC66C80AF5FA67DB3B67D1&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=FE197AF508F545658DB47244343F4C18&CID=14FBF0FEDAAC66C80AF5FA67DB3B67D1&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=obama%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5181.1", "totalEstimatedMatches": 135, "nextOffset":
        24, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=obama+(site%3agov+OR+site%3amil)&id=3C1A28213E0190D89BCD9509D5E0154B852C21ED&simid=608018558617324507",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "President Barack Obama
        | whitehouse.gov", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.mVDly-W7LrsNP_ptTfpdcQDwEs&pid=Api",
        "datePublished": "2015-04-12T07:32:00.0000000Z", "contentUrl": "https:\/\/www.whitehouse.gov\/sites\/whitehouse.gov\/files\/images\/Administration\/People\/president_official_portrait_hires.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "https:\/\/www.whitehouse.gov\/administration\/president-obama",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "1285932 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.whitehouse.gov\/administration\/president-obama",
        "width": 2687, "height": 3356, "thumbnail": {"width": 240, "height": 300},
        "imageInsightsToken": "ccid_mVDly+W7*mid_3C1A28213E0190D89BCD9509D5E0154B852C21ED*simid_608018558617324507",
        "insightsMetadata": {"shoppingSourcesCount": 6, "recipeSourcesCount": 0, "aggregateOffer":
        {"name": "President Barack Obama Portrait : 8''''x10'''' Photo Print", "priceCurrency":
        "USD", "aggregateRating": {"ratingValue": 1, "bestRating": 5, "ratingCount":
        1}, "lowPrice": 2.95, "offerCount": 6}}, "imageId": "3C1A28213E0190D89BCD9509D5E0154B852C21ED",
        "accentColor": "9F2E2C"}, {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=obama+(site%3agov+OR+site%3amil)&id=C017C6B8F188BE8AD155FD8FFA44D1F8740E235D&simid=608024567269428013",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "Barack Obama | whitehouse.gov",
        "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.aG0TZL5mYu7l8KPSj0gG8wEsCp&pid=Api",
        "datePublished": "2017-05-22T23:27:00.0000000Z", "contentUrl": "https:\/\/www.whitehouse.gov\/sites\[...]
