---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&image.count=20&query=(weather)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028weather\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Image":{"Total":16600,"Offset":0,"Results":[{"Title":"Focus
        on Severe Weather","MediaUrl":"http\u003a\u002f\u002fwww.nws.noaa.gov\u002fcom\u002fweatherreadynation\u002fimg\u002fart_imgs\u002f022712_focus_severe_lg.png","Url":"http\u003a\u002f\u002fnws.noaa.gov\u002fcom\u002fweatherreadynation\u002fnews\u002f022712_focus_severe.html","DisplayUrl":"nws.noaa.gov\u002fcom\u002fweatherreadynation\u002fnews\u002f022712_focus_severe.html","Width":1024,"Height":768,"FileSize":1442407,"ContentType":"image\u002fpng","Thumbnail":{"Url":"http\u003a\u002f\u002fts2.mm.bing.net\u002fth\u003fid\u003dOIP.M4ddf54681eed18e81b5c78cc701a5f7dH0\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":480,"Height":360,"FileSize":9587}},{"Title":"Drought
        likely to persist or develop in the Southwest, Southeastern U ...","MediaUrl":"http\u003a\u002f\u002fwww.noaanews.noaa.gov\u002fstories2013\u002fimages\u002fOutlook_map_Precip_203F.jpg","Url":"http\u003a\u002f\u002fwww.noaanews.noaa.gov\u002fstories2013\u002f20131121_winte[...]
