---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8A97B853D5E248A1A9C1BA1136F84163
      X-Msedge-Clientid:
      - 1D1DA101D87F6BA1252CAADCD9E86A88
      X-Msapi-Userstate:
      - d4d2
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D2DC1CE443714217BE64EAAED68503DB&CID=1D1DA101D87F6BA1252CAADCD9E86A88&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D2DC1CE443714217BE64EAAED68503DB&CID=1D1DA101D87F6BA1252CAADCD9E86A88&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=weather%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5186.1", "totalEstimatedMatches": 123, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=03EE8E97D7F4CACD203D795BF9748789B34C5269&simid=608003295048764706",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "WPC Product Legends - Surface
        fronts and precipitation areas\/symbols", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.EYTmJTSYD9YSnKkg4JFKfQHaFj&pid=Api",
        "datePublished": "2013-03-05T12:00:00.0000000Z", "contentUrl": "http:\/\/www.wpc.ncep.noaa.gov\/images\/94f_snowline.gif",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/www.wpc.ncep.noaa.gov\/html\/fntcodes2.shtml",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "181842 B", "encodingFormat":
        "gif", "hostPageDisplayUrl": "www.wpc.ncep.noaa.gov\/html\/fntcodes2.shtml",
        "width": 1024, "height": 768, "thumbnail": {"width": 474, "height": 355},
        "imageInsightsToken": "ccid_EYTmJTSY*mid_03EE8E97D7F4CACD203D795BF9748789B34C5269*simid_608003295048764706",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "03EE8E97D7F4CACD203D795BF9748789B34C5269", "accentColor": "22B615"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=FC249779CD661E3C25D85DAE35AA6E0125C27134&simid=608050260517192028",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "NOAA - National Oceanic
        and Atmospheric Administration - NOAA’s National Weather Service says ...",
        "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.lKwb9dJBmPTF9_373WMjeQHaE8&pid=Api",
        "datePublished[...]
