---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 43AA051C019E460A902AA670F9FB4A6E
      X-Msedge-Clientid:
      - 2353FFF7CB4C691A3258F534CADB6892
      X-Msapi-Userstate:
      - 45c8
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=ED8FE769D3614820A4FEB7035073011F&CID=2353FFF7CB4C691A3258F534CADB6892&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=ED8FE769D3614820A4FEB7035073011F&CID=2353FFF7CB4C691A3258F534CADB6892&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=weather%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5181.1", "totalEstimatedMatches": 145, "nextOffset":
        20, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=73C24BABD6E444BCD736A34CB60EC832DF0D7700&simid=607994064511831671",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "NASA - What''s the Difference
        Between Weather and Climate? | NASA", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.aXRDPsk6qoxPrZkM6KRukAEsCy&pid=Api",
        "datePublished": "2017-07-03T05:05:00.0000000Z", "contentUrl": "http:\/\/www.nasa.gov\/sites\/default\/files\/thumbnails\/image\/smap-weather.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "https:\/\/www.nasa.gov\/mission_pages\/noaa-n\/climate\/climate_weather.html",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "8036115 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.nasa.gov\/mission_pages\/noaa-n\/climate\/climate_weather.html",
        "width": 3610, "height": 2144, "thumbnail": {"width": 300, "height": 178},
        "imageInsightsToken": "ccid_aXRDPsk6*mid_73C24BABD6E444BCD736A34CB60EC832DF0D7700*simid_607994064511831671",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "73C24BABD6E444BCD736A34CB60EC832DF0D7700", "accentColor": "4A5C39"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=2EB86ECF1004A6BBAE23EA23673902C491648D31&simid=608051028640138376",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "Mountains form their own
        weather, with sudden showers emerging in some ...", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.B-DUohW30eYqJSotM-G3CgEsDI&pid=Api",
        "datePublished": "2012-10-17T12:00:00.0000000[...]
