---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/search?count=20&mkt=en-US&offset=0&q=thunder%20%26%20lightning%20(site:nps.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 5FEC946DF0AC4FA4A61465675F7A4B0D
      X-Msedge-Clientid:
      - 29FCE7771B9B661F170BF7261A66674C
      X-Msapi-Userstate:
      - c580
      X-Search-Responseinfo:
      - InternalResponseTime=151,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "images\/search?q=thunder & lightning (site:nps.gov)", "webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?q=thunder & lightning (site:nps.gov)&FORM=OIIARP",
        "queryContext": {"originalQuery": "thunder & lightning (site:nps.gov)", "alterationDisplayQuery":
        "thunderstorm lightning", "alterationOverrideQuery": "+thunder & lightning
        (site:nps.gov)", "alterationMethod": "AM_JustChangeIt", "alterationType":
        "CombinedAlterationsChained"}, "totalEstimatedMatches": 100, "nextOffset":
        26, "currentOffset": 0, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=thunder+%26+lightning+(site%3anps.gov)&id=468BCE4BB13337B89123503526700DA8362E89C6&simid=608017337424622318",
        "name": "Monsoon Season (U.S. National Park Service)", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.3AFX-CI7ARHrRNzlNlRb0gHaFF&pid=Api",
        "datePublished": "2018-02-16T01:39:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "https:\/\/www.nps.gov\/articles\/images\/lightning-nabr.jpg?maxwidth=650&autorotate=false",
        "hostPageUrl": "https:\/\/www.nps.gov\/articles\/monsoon-season.htm", "contentSize":
        "32108 B", "encodingFormat": "jpeg", "hostPageDisplayUrl": "https:\/\/www.nps.gov\/articles\/monsoon-season.htm",
        "width": 650, "height": 446, "hostPageFavIconUrl": "https:\/\/www.bing.com\/th?id=ODF.9Hiqsg3tJ10jKjoSSaiRLA&pid=Api",
        "hostPageDomainFriendlyName": "National Park Service", "hostPageDiscoveredDate":
        "2018-02-16T01:39:00.0000000Z", "thumbnail": {"width": 474, "height": 325},
        "imageInsightsToken": "ccid_3AFX+CI7*cp_CEC831CA3AE40B56872363A811CEC0FF*mid_468BCE4BB13337B89123503526700DA8362E89C6*simid_608017337424622318*thid_OIP.3AFX-CI7ARHrRNzlNlRb0gHaFF",
        "insightsMetadata": {"recipeSourcesCount": 0, "pagesIncludingCount": 3, "availableSizesCount":
        4}, "imageId": "468BCE4BB13337B89123503526700DA8362E89C6", "accentColor":
        "963579"}, {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=thunder+%26+lightning+(site%3anps.gov)&id=AB75DE4360D0422BF764781FC9A7018425817AB7&simid=608018230774948861",
        "name": "Weather and Climate - Grand Canyon National Park (U.S ...", "thumbnailUrl":
        "https:\/\/tse4.mm.bing.net\/th?id=OIP.WpQzXv6htAC0Z7A_LITtFQHaFo&pid=Api",
        "datePublished": "2021-01-08T19:39:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "ht[...]
