---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 6C567F60B6A849AF80F149CC35DE9F71
      X-Msedge-Clientid:
      - '056658B9B7F3673805A5481DB62D6624'
      X-Msapi-Userstate:
      - fda1
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=87F2257409D0445D914AEE4C930F93CE&CID=056658B9B7F3673805A5481DB62D6624&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=87F2257409D0445D914AEE4C930F93CE&CID=056658B9B7F3673805A5481DB62D6624&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=weather%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5198.1", "totalEstimatedMatches": 200, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=393F3806FD42F39CC82A9D447743CCCB90AF3D17&simid=608012806260343909",
        "webSearchUrlPingSuffix": "DevEx,5026.1", "name": "Information About the April
        14, 2011 Severe Weather ...", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.-VgH9tO_83OQzRPxEO5qdgHaLH&pid=Api",
        "datePublished": "2011-04-14T12:00:00.0000000Z", "contentUrl": "https:\/\/www.weather.gov\/images\/oun\/wxevents\/20110414\/stormphotos\/grabman\/MesoMadill.jpg",
        "contentUrlPingSuffix": "DevEx,5028.1", "hostPageUrl": "https:\/\/www.weather.gov\/oun\/events-20110414",
        "hostPageUrlPingSuffix": "DevEx,5027.1", "contentSize": "725288 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.weather.gov\/oun\/events-20110414",
        "width": 792, "height": 1188, "thumbnail": {"width": 474, "height": 711},
        "imageInsightsToken": "ccid_+VgH9tO\/*mid_393F3806FD42F39CC82A9D447743CCCB90AF3D17*simid_608012806260343909",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "393F3806FD42F39CC82A9D447743CCCB90AF3D17", "accentColor": "847347"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=1224EB22A12725F1EC7889E742F281107EEBAE70&simid=608054278464761217",
        "webSearchUrlPingSuffix": "DevEx,5032.1", "name": "Mississippi Fall Severe
        Weather Preparedness Week", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.6OeD2eazFc81FQT6grI15AHaE7&pid=Api",
        "datePublished": "2021-03-23T03:45:00.0000000Z", "contentUrl": "https:[...]
