---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2F5980B7724C479DA92E4A334629247B
      X-Msedge-Clientid:
      - 05F271BA9E6A6F67203F7AB29FFD6EF9
      X-Msapi-Userstate:
      - 23c2
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C080055BFD984E7EA492DB458DC53C2A&CID=05F271BA9E6A6F67203F7AB29FFD6EF9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C080055BFD984E7EA492DB458DC53C2A&CID=05F271BA9E6A6F67203F7AB29FFD6EF9&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=weather%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5182.1", "totalEstimatedMatches": 144, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=89286263753FF77E7D3F1914765DD1392FCD8103&simid=607998939429342036",
        "webSearchUrlPingSuffix": "DevEx,5023.1", "name": "National Weather Service
        radar from Houston\/Galveston, TX", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.fawYqxpLTWIjQVA5rxXXgQEFDv&pid=Api",
        "datePublished": "2011-06-03T12:00:00.0000000Z", "contentUrl": "http:\/\/radar.weather.gov\/lite\/NCR\/HGX_loop.gif",
        "contentUrlPingSuffix": "DevEx,5025.1", "hostPageUrl": "http:\/\/radar.weather.gov\/radar_lite.php?rid=hgx&product=NCR&loop=yes",
        "hostPageUrlPingSuffix": "DevEx,5024.1", "contentSize": "336979 B", "encodingFormat":
        "animatedgif", "hostPageDisplayUrl": "radar.weather.gov\/radar_lite.php?rid=hgx&product=NCR&loop=yes",
        "width": 600, "height": 550, "thumbnail": {"width": 261, "height": 239}, "imageInsightsToken":
        "ccid_fawYqxpL*mid_89286263753FF77E7D3F1914765DD1392FCD8103*simid_607998939429342036",
        "imageId": "89286263753FF77E7D3F1914765DD1392FCD8103", "accentColor": "0416C7"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=DCA930EE6D719969E479D692DBDC3F82201748C6&simid=607998286598046663",
        "webSearchUrlPingSuffix": "DevEx,5029.1", "name": "National Weather Service
        radar from San Angelo, TX", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.d8xctI3QMX2i-fVMX2D7LwEFDv&pid=Api",
        "datePublished": "2017-06-05T09:49:00.0000000Z", "contentUrl": "http:[...]
