---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&image.count=20&query=(obama)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028obama\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Image":{"Total":13400,"Offset":0,"Results":[{"Title":"President
        Barack Obama \u007c whitehouse.gov","MediaUrl":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fsites\u002fwhitehouse.gov\u002ffiles\u002fimages\u002fAdministration\u002fPeople\u002fpresident_official_portrait_hires.jpg","Url":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fadministration\u002fpresident-obama","DisplayUrl":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fadministration\u002fpresident-obama","Width":2687,"Height":3356,"FileSize":1285932,"ContentType":"image\u002fjpeg","Thumbnail":{"Url":"http\u003a\u002f\u002fts3.mm.bing.net\u002fth\u003fid\u003dOIP.M9950e5cbe5bb2ebb0d3ffa6d4dfa5d71o2\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":240,"Height":300,"FileSize":12541}},{"Title":"Barack
        H. Obama is the 44th President of the United States.","MediaUrl":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fsites\u002fwhitehouse.gov\u002ffiles\u002fimages\u002ffirst-family\u002f44_barack_obama\u00255B1\u00255D.jpg","Url":"https\u003a\u002f\u002fwww.whitehouse.gov\u[...]
