---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4B7151E28DBC4F9D93DAA2A6AC16D6AA
      X-Msedge-Clientid:
      - 31F24252881F66CD2E5F49D489B06752
      X-Msapi-Userstate:
      - 92ef
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=627CDA6E90DB44E3BDEF90F29D97CB96&CID=31F24252881F66CD2E5F49D489B06752&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=627CDA6E90DB44E3BDEF90F29D97CB96&CID=31F24252881F66CD2E5F49D489B06752&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=obama%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5186.1", "totalEstimatedMatches": 106, "nextOffset":
        22, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=obama+(site%3agov+OR+site%3amil)&id=3C1A28213E0190D89BCD9509D5E0154B852C21ED&simid=608018559115002692",
        "webSearchUrlPingSuffix": "DevEx,5023.1", "name": "President Barack Obama
        | whitehouse.gov", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.mVDly-W7LrsNP_ptTfpdcQHaJQ&pid=Api",
        "datePublished": "2015-04-12T07:32:00.0000000Z", "contentUrl": "https:\/\/www.whitehouse.gov\/sites\/whitehouse.gov\/files\/images\/Administration\/People\/president_official_portrait_hires.jpg",
        "contentUrlPingSuffix": "DevEx,5025.1", "hostPageUrl": "https:\/\/www.whitehouse.gov\/administration\/president-obama",
        "hostPageUrlPingSuffix": "DevEx,5024.1", "contentSize": "1285932 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.whitehouse.gov\/administration\/president-obama",
        "width": 2687, "height": 3356, "thumbnail": {"width": 474, "height": 592},
        "imageInsightsToken": "ccid_mVDly+W7*mid_3C1A28213E0190D89BCD9509D5E0154B852C21ED*simid_608018559115002692",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "3C1A28213E0190D89BCD9509D5E0154B852C21ED", "accentColor": "9F2E2C"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=obama+(site%3agov+OR+site%3amil)&id=8ADF611AC03335B8019B744FA412B8F36B712E21&simid=608037366819522082",
        "webSearchUrlPingSuffix": "DevEx,5029.1", "name": "Barack Obama | whitehouse.gov",
        "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.aG0TZL5mYu7l8KPSj0gG8wHaEL&pid=Api",
        "datePublished": "2015-02-16T00:15:00.0000000Z", "contentUrl": "http:\/\/www.whitehouse.gov\[...]
