---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7E39B104DD9942CD985C3BD8E78C12B6
      X-Msedge-Clientid:
      - 1D04CCFE6B6C68153870C7606A89697D
      X-Msapi-Userstate:
      - 2fe5
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=4058A046EF1B47AA85755C77DBAC863E&CID=1D04CCFE6B6C68153870C7606A89697D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=4058A046EF1B47AA85755C77DBAC863E&CID=1D04CCFE6B6C68153870C7606A89697D&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=obama%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5188.1", "totalEstimatedMatches": 106, "nextOffset":
        23, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=obama+(site%3agov+OR+site%3amil)&id=3C1A28213E0190D89BCD9509D5E0154B852C21ED&simid=608018559190371189",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "President Barack Obama
        | whitehouse.gov", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.mVDly-W7LrsNP_ptTfpdcQHaJQ&pid=Api",
        "datePublished": "2015-04-12T07:32:00.0000000Z", "contentUrl": "https:\/\/www.whitehouse.gov\/sites\/whitehouse.gov\/files\/images\/Administration\/People\/president_official_portrait_hires.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "https:\/\/www.whitehouse.gov\/administration\/president-obama",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "1285932 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.whitehouse.gov\/administration\/president-obama",
        "width": 2687, "height": 3356, "thumbnail": {"width": 474, "height": 592},
        "imageInsightsToken": "ccid_mVDly+W7*mid_3C1A28213E0190D89BCD9509D5E0154B852C21ED*simid_608018559190371189",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "3C1A28213E0190D89BCD9509D5E0154B852C21ED", "accentColor": "9F2E2C"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=obama+(site%3agov+OR+site%3amil)&id=ADC303143F0B6323A2959A8FC50855E0629EF8C1&simid=607993863152077923",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "President Obama: “We Will
        Degrade and Ultimately Destroy ...", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.BwRvK1HBX80PFZ0tBPylRAHaE7&pid=Api",
        "datePublished": "2018-02-05T23:13:00.0000000Z", "contentUrl"[...]
