---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - AD6469D8563C44A19F6A2E75AC64D1F3
      X-Msedge-Clientid:
      - 3F228DA90FC569001D3786EE0E5268F6
      X-Msapi-Userstate:
      - 3db1
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F9C7CF977AB8479A9A71D72BAB2B1DC6&CID=3F228DA90FC569001D3786EE0E5268F6&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F9C7CF977AB8479A9A71D72BAB2B1DC6&CID=3F228DA90FC569001D3786EE0E5268F6&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=weather%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5181.1", "totalEstimatedMatches": 122, "nextOffset":
        24, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=DCA930EE6D719969E479D692DBDC3F82201748C6&simid=607998286742030331",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "National Weather Service
        radar from San Angelo, TX", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.V4JWF2blc7MngdoTUkDODgEFDv&pid=Api",
        "datePublished": "2017-06-05T09:49:00.0000000Z", "contentUrl": "http:\/\/radar.weather.gov\/ridge\/lite\/N0R\/SJT_loop.gif",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/radar.weather.gov\/ridge\/radar_lite.php?product=N0R&rid=SJT&loop=yes",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "275304 B", "encodingFormat":
        "animatedgif", "hostPageDisplayUrl": "radar.weather.gov\/ridge\/radar_lite.php?product=N0R&rid=SJT&loop=yes",
        "width": 600, "height": 550, "thumbnail": {"width": 261, "height": 239}, "imageInsightsToken":
        "ccid_V4JWF2bl*mid_DCA930EE6D719969E479D692DBDC3F82201748C6*simid_607998286742030331",
        "imageId": "DCA930EE6D719969E479D692DBDC3F82201748C6", "accentColor": "07C40E"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=89286263753FF77E7D3F1914765DD1392FCD8103&simid=607998939591149874",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "National Weather Service
        radar from Houston\/Galveston, TX", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.zevonK_Cs0ev5jAYPkiDSwEFDv&pid=Api",
        "datePublished": "2011-06-03T12:00:00.0000000Z", "contentUrl"[...]
