---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6D62E561E06E4535BFABE636F8A6F474
      X-Msedge-Clientid:
      - 2A1D73C6180969D92BD37979199E68CD
      X-Msapi-Userstate:
      - 5d17
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=97B4EB5C459D489CA8B4B5B17F227A8A&CID=2A1D73C6180969D92BD37979199E68CD&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=97B4EB5C459D489CA8B4B5B17F227A8A&CID=2A1D73C6180969D92BD37979199E68CD&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=weather%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5181.1", "totalEstimatedMatches": 145, "nextOffset":
        20, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=73C24BABD6E444BCD736A34CB60EC832DF0D7700&simid=607994064493871771",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "NASA - What''s the Difference
        Between Weather and Climate? | NASA", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.aXRDPsk6qoxPrZkM6KRukAEsCy&pid=Api",
        "datePublished": "2017-06-23T13:45:00.0000000Z", "contentUrl": "http:\/\/www.nasa.gov\/sites\/default\/files\/thumbnails\/image\/smap-weather.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "https:\/\/www.nasa.gov\/mission_pages\/noaa-n\/climate\/climate_weather.html",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "8036115 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.nasa.gov\/mission_pages\/noaa-n\/climate\/climate_weather.html",
        "width": 3610, "height": 2144, "thumbnail": {"width": 300, "height": 178},
        "imageInsightsToken": "ccid_aXRDPsk6*mid_73C24BABD6E444BCD736A34CB60EC832DF0D7700*simid_607994064493871771",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "73C24BABD6E444BCD736A34CB60EC832DF0D7700", "accentColor": "4A5C39"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=weather+(site%3agov+OR+site%3amil)&id=995D19A6FB6FAF673B22C03577F7958983865382&simid=608043009941635764",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "Focus on Severe Weather",
        "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.Td9UaB7tGOgbXHjMcBpffQEgDY&pid=Api",
        "datePublished": "2017-06-17T07:11:00.0000000Z", "contentUrl": "http:\/\/www.nws.noaa.gov\/com\/[...]
