---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4DD063B9FC7644249752B35EE1887D80
      X-Msedge-Clientid:
      - 3BEA7C94B8536D890C3876A5B9626C24
      X-Msapi-Userstate:
      - d7a4
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=7583689F337F4870B7F7FEFE769579BE&CID=3BEA7C94B8536D890C3876A5B9626C24&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=7583689F337F4870B7F7FEFE769579BE&CID=3BEA7C94B8536D890C3876A5B9626C24&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=obama%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5161.1", "totalEstimatedMatches": 104, "nextOffset":
        25, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=obama+(site%3agov+OR+site%3amil)&id=3C1A28213E0190D89BCD9509D5E0154B852C21ED&simid=608018558462396311",
        "webSearchUrlPingSuffix": "DevEx,5006.1", "name": "President Barack Obama
        | whitehouse.gov", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.mVDly-W7LrsNP_ptTfpdcQDwEs&pid=Api",
        "datePublished": "2015-04-12T07:32:00.0000000Z", "contentUrl": "https:\/\/www.whitehouse.gov\/sites\/whitehouse.gov\/files\/images\/Administration\/People\/president_official_portrait_hires.jpg",
        "contentUrlPingSuffix": "DevEx,5008.1", "hostPageUrl": "https:\/\/www.whitehouse.gov\/administration\/president-obama",
        "hostPageUrlPingSuffix": "DevEx,5007.1", "contentSize": "1285932 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.whitehouse.gov\/administration\/president-obama",
        "width": 2687, "height": 3356, "thumbnail": {"width": 240, "height": 300},
        "imageInsightsToken": "ccid_mVDly+W7*mid_3C1A28213E0190D89BCD9509D5E0154B852C21ED*simid_608018558462396311",
        "insightsMetadata": {"shoppingSourcesCount": 5, "recipeSourcesCount": 0},
        "imageId": "3C1A28213E0190D89BCD9509D5E0154B852C21ED", "accentColor": "9F2E2C"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=obama+(site%3agov+OR+site%3amil)&id=C017C6B8F188BE8AD155FD8FFA44D1F8740E235D&simid=608024567113124257",
        "webSearchUrlPingSuffix": "DevEx,5012.1", "name": "Barack Obama | whitehouse.gov",
        "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.M686d1364be6662eee5f0a3d28f4806f3o1&pid=Api",
        "datePublished": "2017-02-14T08:11:00.0000000Z", "contentUrl": "https:\/\/www.white[...]
