---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&image.count=20&query=(weather)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028weather\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Image":{"Total":18900,"Offset":0,"Results":[{"Title":"Drought
        likely to persist or develop in the Southwest, Southeastern U ...","MediaUrl":"http\u003a\u002f\u002fwww.noaanews.noaa.gov\u002fstories2013\u002fimages\u002fOutlook_map_Precip_203F.jpg","Url":"http\u003a\u002f\u002fwww.noaanews.noaa.gov\u002fstories2013\u002f20131121_winteroutlook.html","DisplayUrl":"www.noaanews.noaa.gov\u002fstories2013\u002f20131121_winteroutlook.html","Width":3300,"Height":2576,"FileSize":2999576,"ContentType":"image\u002fjpeg","Thumbnail":{"Url":"http\u003a\u002f\u002fts1.mm.bing.net\u002fth\u003fid\u003dOIP.Mfac0824fc2fd2f18d210ddedb8cba3a6o0\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":300,"Height":234,"FileSize":17500}},{"Title":"...
        radar image from the Sacramento, CA radar and current weather warnings","MediaUrl":"http\u003a\u002f\u002fradar.weather.gov\u002flite\u002fNCR\u002fDAX_loop.gif","Url":"http\u003a\u002f\u002fradar.weather.gov\u002fradar_lite.php\u003frid\u003ddax\u0026product\u003dNCR\u0026lo[...]
