---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query='65d86996b6eceb05d2272aea9cadd10d'&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u002765d86996b6eceb05d2272aea9cadd10d\u0027"},"Web":{"Total":0,"Offset":0}}}'
  recorded_at: Fri, 10 Jun 2016 21:19:00 GMT
recorded_with: VCR 3.0.3
