---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=tradiksyon&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"tradiksyon"},"Web":{"Total":43100,"Offset":0,"Results":[{"Title":"Tradiksyon
        - French - Arabic Translation and Examples","Description":"tradiksyon, HAYE
        ELBASATINE 1 NAHEJ EAMAZIGE, French, Arabic, Translation, human translation,
        automatic translation.","Url":"http\u003a\u002f\u002fmymemory.translated.net\u002fen\u002fFrench\u002fArabic\u002ftradiksyon","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dtradiksyon\u0026d\u003d4708338069936210\u0026w\u003dAWeSKPFCTr1dGvsJU9kgHsNBBCzBg7vd","DisplayUrl":"mymemory.translated.net\u002fen\u002fFrench\u002fArabic\u002ftradiksyon","DateTime":"2016-10-28T18\u003a55\u003a00Z"},{"Title":"LetSpeak.com
        - Tradiksyon","Description":"Poukisa ou dwe itilize s\u00e8vis tradiksyon
        nou an\u003f S\u00e8vis lang a pri ab\u00f2dab \u003b Rele l\u00e8 ou vle
        osij\u00e8 de pwoj\u00e8 w yo \u003b Wo nivo kalite pou tout pwoj\u00e8 \u003b
        Pwofesyon\u00e8l ...","Url":"http\u003a\u002f\u002fwww.letspeak.com\u002fkreyol\u002ftranslation.htm","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dtra[...]
