---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=casa%20blanca&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"casa blanca"},"Spell":{"Total":1,"Results":[{"Value":"casablanca"}]},"Web":{"Total":16500000,"Offset":0,"Results":[{"Title":"CasaBlanca
        Resort and Casino - Casablanca Hotel, Resort ...","Description":"Casablanca
        Hotel Resort Offers Quality Hotel Room Accommodations, Fine Dining, Luxurious
        Spa Services, Golf Courses, Top Entertainment and Events, Pool Parties.","Url":"http\u003a\u002f\u002fcasablancaresort.com\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dcasa\u002bblanca\u0026d\u003d4641736000733598\u0026w\u003dqlbpEVal2pQ-0R6niXL5UqpR-LWDIfwf","DisplayUrl":"casablancaresort.com","DateTime":"2016-10-27T09\u003a37\u003a00Z"},{"Title":"Casablanca
        \u0028film\u0029 - Wikipedia","Description":"Casablanca is a 1942 American
        romantic drama film directed by Michael Curtiz and based on Murray Burnett
        and Joan Alison\u0027s unproduced stage play Everybody Comes to Rick\u0027s","Url":"https\u003a\u002f\u002fen.wikipedia.org\u002fwiki\u002fCasablanca_\u0028film\u0029","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dcasa\u002bblanca\u0026d\[...]
