---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=english&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"english"},"Web":{"Total":4294967295,"Offset":0,"Results":[{"Title":"English
        language - Wikipedia","Description":"English is a West Germanic language
        that was first spoken in early medieval England and is now a global lingua
        franca. Named after the Angles, one of the Germanic ...","Url":"https\u003a\u002f\u002fen.wikipedia.org\u002fwiki\u002fEnglish_language","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003denglish\u0026d\u003d4518954799268042\u0026w\u003dkhnTp2I6uVsedWUC556ANAQYvOpMZnuR","DisplayUrl":"https\u003a\u002f\u002fen.wikipedia.org\u002fwiki\u002fEnglish_language","DateTime":"2016-10-30T08\u003a34\u003a00Z"},{"Title":"English
        learning, teaching and testing \u007c Pearson English","Description":"At
        Pearson English, our aim is simple but powerful\u003a help the English
        speaking world understand each other better, by better understanding the English
        learner needs.","Url":"https\u003a\u002f\u002fwww.english.com\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003denglish\u0026d\u003d5054765751403628\[...]
