---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=casa%20blanca&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"casa blanca"},"Spell":{"Total":1,"Results":[{"Value":"casablanca"}]},"Web":{"Total":18300000,"Offset":0,"Results":[{"Title":"Casablanca
        \u00281942\u0029 - IMDb","Description":"Directed by Michael Curtiz. With Humphrey
        Bogart, Ingrid Bergman, Paul Henreid, Claude Rains. In Casablanca, Morocco
        in December 1941, a cynical American expatriate ...","Url":"http\u003a\u002f\u002fwww.imdb.com\u002ftitle\u002ftt0034583\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dcasa\u002bblanca\u0026d\u003d4959572088129864\u0026w\u003dcp2oFD7foGbPWl5DW8Knmj_8R4VeBh1h","DisplayUrl":"www.imdb.com\u002ftitle\u002ftt0034583","DateTime":"2016-11-30T22\u003a39\u003a00Z"},{"Title":"Whitehouse.gov
        en Espanol \u007c whitehouse.gov","Description":"Blog de la Casa Blanca.
        Fortaleciendo a las Comunidades al Integrar a los Inmigrantes. La Oficina
        de Prensa. Una iniciativa para Dar la Bienvenida a los Inmigrantes.","Url":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fespanol","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dcasa\u002bblanca\u0026d\u003d4613346257668975\u0026w\u003d_HM[...]
