---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=anything&sources=Spell%20Web&traffictype=test&web.offset=11
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"anything"},"Web":{"Total":20400000,"Offset":11,"Results":[{"Title":"Anything
        - Wikipedia","Description":"Music Albums. Anything \u0028The Damned album\u0029,
        and the title song \u0028see below\u0029 Anything \u0028Kinnie Starr album\u0029,
        and the title song\u003b Anything \u0028The Cranberries demo\u0029","Url":"https\u003a\u002f\u002fen.wikipedia.org\u002fwiki\u002fAnything","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003danything\u0026d\u003d4955856981985181\u0026w\u003d-xXdqaJxqA_Nqcv3vd7qgbpHD1FMkmJB","DisplayUrl":"https\u003a\u002f\u002fen.wikipedia.org\u002fwiki\u002fAnything","DateTime":"2016-11-28T05\u003a14\u003a00Z"},{"Title":"anything
        - Wiktionary","Description":"1916, Edward S. Moffat, Go Forth and Find, page
        81-82\u003a Perhaps it was this atmosphere of misplacedness and loneliness
        as much as anything which led her to ...","Url":"https\u003a\u002f\u002fen.wiktionary.org\u002fwiki\u002fanything","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003danything\u0026d\u003d4601874438684811\u0026w\u003dsIOxiBw7NwIssIUSpdu7ZH5U7PF[...]
