---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=casa%20blanca&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"casa blanca"},"Spell":{"Total":1,"Results":[{"Value":"casablanca"}]},"Web":{"Total":9190000,"Offset":0,"Results":[{"Title":"Casablanca
        \u00281942\u0029 - IMDb","Description":"In Casablanca, Morocco during the
        early days of World War II, an American expatriate meets a former lover, with
        unforeseen complications.","Url":"http\u003a\u002f\u002fwww.imdb.com\u002ftitle\u002ftt0034583\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dcasa\u002bblanca\u0026d\u003d4959572036158547\u0026w\u003dsJkHVKBM62LPWl5DW8Knmj_8R4VeBh1h","DisplayUrl":"www.imdb.com\u002ftitle\u002ftt0034583","DateTime":"2016-05-28T00\u003a39\u003a00Z"},{"Title":"Casablanca
        Hotel, Resort, Casino, Golf and Spa in Mesquite ...","Description":"Casablanca
        Hotel Resort Offers Quality Hotel Room Accommodations, Fine Dining, Luxurious
        Spa Services, Golf Courses, Top Entertainment and Events, Pool Parties.","Url":"http\u003a\u002f\u002fcasablancaresort.com\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dcasa\u002bblanca\u0026d\u003d4641735951581519\u0026w\u0[...]
