---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=electro%20coagulation&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"electro
        coagulation"},"Spell":{"Total":1,"Results":[{"Value":"electrocoagulation"}]},"Web":{"Total":338000,"Offset":0,"Results":[{"Title":"Electrocoagulation
        - Wikipedia, the free encyclopedia","Description":"Electrocoagulation \u0028EC\u0029,
        aka radio frequency diathermy or short wave electrolysis, is a technique used
        for wash water treatment, wastewater treatment, industrial ...","Url":"https\u003a\u002f\u002fen.wikipedia.org\u002fwiki\u002fElectrocoagulation","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003delectro\u002bcoagulation\u0026d\u003d4789190751290349\u0026w\u003d9bfaPqzYhu6B31Qa0Sfg-YOMLqBXv-7R","DisplayUrl":"https\u003a\u002f\u002fen.wikipedia.org\u002fwiki\u002fElectrocoagulation","DateTime":"2016-06-05T11\u003a28\u003a00Z"},{"Title":"Electrocoagulation
        \u007c definition of electrocoagulation by ...","Description":"electrocoagulation
        \u005be-lek\u2033tro-ko-ag\u2033u-la\u00b4shun\u005d a type of electrosurgery
        by which tissue is coagulated using a modulated alternating current.","Url":"http\u003a\u002f\u002fmedical-dictionary.thefreedictionary.com\u002felectrocoagulation","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003delectro[...]
