---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%E4%B8%AD%E5%9B%BD&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"中国"},"Web":{"Total":278000000,"Offset":0,"Results":[{"Title":"百度一下\uff0c你就知道
        - baidu.com","Description":"输入法. 手写\u003b 拼音\u003b 关闭\u003b 百度首页 设置 登录. 糯米
        新闻 hao123 地图 视频 贴吧 登录 设置 更多产品","Url":"http\u003a\u002f\u002fwww.baidu.com\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003d\u0025e4\u0025b8\u0025ad\u0025e5\u00259b\u0025bd\u0026d\u003d4536290261468338\u0026w\u003dUcfcmf3og4kO3a_YC7A-TN7o8EuYGmkd","DisplayUrl":"www.baidu.com","DateTime":"2016-11-30T05\u003a37\u003a00Z"},{"Title":"中国ニュース\uff5c国際ニュース\uff08ワールドニュース\uff09\uff5cロイター","Description":"中国ニュース\u3002南シナ海の領海権問題\u3001アジアインフラ銀\uff08AIIB\uff09\u3001日中関係ニュースなど中国の政治\u3001経済\u3001社会
        ...","Url":"http\u003a\u002f\u002fjp.reuters.com\u002fnews\u002fworld\u002fchina","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003d\u0025e4\u0025b8\u0025ad\u0025e5\u00259b\u0025bd\u0026d\u003d4519200616546797\u0026w\u003d861CKdGmgOkHGBKf4OO15uCdlRcnyBR9","Displ[...]
