---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=white%20house&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"white house"},"Web":{"Total":296000000,"Offset":0,"Results":[{"Title":"The
        White House \u007c whitehouse.gov","Description":"See the President\u0027s
        daily schedule, explore behind-the-scenes photos from inside the White House,
        and find out all the ways you can engage with the most interactive ...","Url":"http\u003a\u002f\u002fwww.whitehouse.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dwhite\u002bhouse\u0026d\u003d4595547890845041\u0026w\u003d-lCCSBezTTUp0HOeZWuIjaIyW0VM7vP0","DisplayUrl":"www.whitehouse.gov","DateTime":"2016-06-04T17\u003a43\u003a00Z"},{"Title":"White
        House - Wikipedia, the free encyclopedia","Description":"The White House
        is the official residence and principal workplace of the President of the
        United States, located at 1600 Pennsylvania Avenue NW in Washington, D.C.","Url":"https\u003a\u002f\u002fen.wikipedia.org\u002fwiki\u002fWhite_House","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dwhite\u002bhouse\u0026d\u003d4603128472929749\u002[...]
