---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=anything&sources=Spell%20Web&traffictype=test&web.offset=11
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"anything"},"Web":{"Total":17600000,"Offset":11,"Results":[{"Title":"anything
        - Wiktionary","Description":"1916, Edward S. Moffat, Go Forth and Find, page
        81-82\u003a Perhaps it was this atmosphere of misplacedness and loneliness
        as much as anything which led her to ...","Url":"https\u003a\u002f\u002fen.wiktionary.org\u002fwiki\u002fanything","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003danything\u0026d\u003d4601874428198987\u0026w\u003dF02CV8noXhUssIUSpdu7ZH5U7PF8QGLX","DisplayUrl":"https\u003a\u002f\u002fen.wiktionary.org\u002fwiki\u002fanything","DateTime":"2016-10-24T11\u003a08\u003a00Z"},{"Title":"aNYthing
        - A New York Thing","Description":"Enter. Are you the store owner\u003f Log
        in here","Url":"http\u003a\u002f\u002fstore.anewyorkthing.com\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003danything\u0026d\u003d4947735164947217\u0026w\u003dWDg5lkDFoQ7J-DsgPXdbgDs16rGOgmsC","DisplayUrl":"store.anewyorkthing.com","DateTime":"2016-10-16T11\u003a26\u003a00Z"},{"Title":"Anything
        Synonyms, A[...]
