---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=electro%20coagulation&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"electro
        coagulation"},"Spell":{"Total":1,"Results":[{"Value":"electrocoagulation"}]},"Web":{"Total":94800,"Offset":0,"Results":[{"Title":"Electrocoagulation
        - Wikipedia","Description":"Electrocoagulation \u0028\u0022electro\u0022,
        meaning to apply an electrical charge to water, ... Coagulation can be achieved
        by a chemical coagulant or by electrical methods.","Url":"https\u003a\u002f\u002fen.wikipedia.org\u002fwiki\u002fElectrocoagulation","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003delectro\u002bcoagulation\u0026d\u003d4789190802015336\u0026w\u003dqUeyGR_INQiB31Qa0Sfg-YOMLqBXv-7R","DisplayUrl":"https\u003a\u002f\u002fen.wikipedia.org\u002fwiki\u002fElectrocoagulation","DateTime":"2016-10-28T12\u003a20\u003a00Z"},{"Title":"Electrocoagulation
        Water Treatment - F\u0026T Water Solutions","Description":"Electrocoagulation
        \u0028Electro Coagulation\u0029 is the passing of electrical current through
        water, has proven very effective in the removal of contaminants from water.","Url":"http\u003a\u002f\u002fwww.ftwatersolutions.com\u002felectrocoagulation\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003delectro\u002bco[...]
