---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%E4%B8%AD%E5%9B%BD&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"中国"},"Web":{"Total":601000000,"Offset":0,"Results":[{"Title":"中国\uff08世界四大文明古国之一\uff09_百度百科","Description":"中国是世界四大文明古国之一\uff0c有着悠久的历史\uff0c距今约5000年前\uff0c以中原地区为中心开始出现聚落组织进而形成国家\uff0c后历经
        ...","Url":"http\u003a\u002f\u002fbaike.baidu.com\u002fview\u002f61891.htm","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003d\u0025e4\u0025b8\u0025ad\u0025e5\u00259b\u0025bd\u0026d\u003d4701410233156497\u0026w\u003dXnJMUToNuX1Z9EcfeLREizklGA-u96GO","DisplayUrl":"baike.baidu.com\u002fview\u002f61891","DateTime":"2016-06-05T11\u003a57\u003a00Z"},{"Title":"チャイナネット","Description":"中国網\uff08チャイナネット\uff09は中国の国家重点ニュースサイトです\u3002さまざまな形式を用い\u3001十数種類の言語で情報を発信し
        ...","Url":"http\u003a\u002f\u002fjapanese.china.org.cn\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003d\u0025e4\u0025b8\u0025ad\u0025e5\u00259b\u0025bd\u0026d\u003d4905739000610938\u0026w\u003dSh2OepnRnpK23wuCpNW0Mw8dOObxp39R","DisplayUrl":"japanese.china.org.cn","DateTime":"2016-05-28T10\u003a53\u003a00Z"},[...]
