---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=english&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"english"},"Web":{"Total":4294967295,"Offset":0,"Results":[{"Title":"English
        language - Wikipedia, the free encyclopedia","Description":"English is a
        West Germanic language that was first spoken in early medieval England and
        is now a global lingua franca. English is either the official language or
        an ...","Url":"https\u003a\u002f\u002fen.wikipedia.org\u002fwiki\u002fEnglish_language","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003denglish\u0026d\u003d4570576928507105\u0026w\u003da3nQmMXy5cgedWUC556ANAQYvOpMZnuR","DisplayUrl":"https\u003a\u002f\u002fen.wikipedia.org\u002fwiki\u002fEnglish_language","DateTime":"2016-05-26T23\u003a58\u003a00Z"},{"Title":"English
        - definition of English by The Free Dictionary","Description":"Eng\u00b7lish
        \u0028ĭng\u2032glĭsh\u0029 adj. 1. Of, relating to, or characteristic of England
        or its people or culture. 2. Of or relating to the English language.","Url":"http\u003a\u002f\u002fwww.thefreedictionary.com\u002fEnglish","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003denglish\u0026d\u003d4941662070243377\u0026w\u0[...]
