---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=tradiksyon&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"tradiksyon"},"Web":{"Total":54200,"Offset":0,"Results":[{"Title":"Tradiksyon
        - French - Arabic Translation and Examples","Description":"tradiksyon, ola,
        French, Arabic, Translation, human translation, automatic translation.","Url":"http\u003a\u002f\u002fmymemory.translated.net\u002fen\u002fFrench\u002fArabic\u002ftradiksyon","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dtradiksyon\u0026d\u003d4708338018227047\u0026w\u003dfdhyFd7mYZ1dGvsJU9kgHsNBBCzBg7vd","DisplayUrl":"mymemory.translated.net\u002fen\u002fFrench\u002fArabic\u002ftradiksyon","DateTime":"2016-05-31T16\u003a46\u003a00Z"},{"Title":"TL
        Tradiksyon - Google\u002b","Description":"TL Tradiksyon hasn\u0027t shared
        anything on this page with you.","Url":"https\u003a\u002f\u002fplus.google.com\u002f103135237356586195813\u002fposts","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dtradiksyon\u0026d\u003d4716296583578378\u0026w\u003dNfj8GAIpY6xguRESM0NshM2RQzVYuNwm","DisplayUrl":"https\u003a\u002f\u002fplus.google.com\u002f103135237356586195813[...]
