---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=tradiksyon&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"tradiksyon"},"Web":{"Total":44000,"Offset":0,"Results":[{"Title":"Google
        Traduction","Description":"Ce service gratuit de Google traduit instantan\u00e9ment
        des mots, des expressions et des pages Web du fran\u00e7ais vers plus de 100
        autres langues.","Url":"https\u003a\u002f\u002ftranslate.google.com\u002f\u003fhl\u003dfr","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dtradiksyon\u0026d\u003d4604322573976663\u0026w\u003d2TQLTXZESwctza1SHRAEvljQTHxM-1xS","DisplayUrl":"https\u003a\u002f\u002ftranslate.google.com\u002f\u003fhl\u003dfr","DateTime":"2016-11-30T06\u003a27\u003a00Z"},{"Title":"Tradiksyon
        - French - Arabic Translation and Examples","Description":"tradiksyon, HAYE
        ELBASATINE 1 NAHEJ EAMAZIGE, French, Arabic, Translation, human translation,
        automatic translation.","Url":"http\u003a\u002f\u002fmymemory.translated.net\u002fen\u002fFrench\u002fArabic\u002ftradiksyon","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dtradiksyon\u0026d\u003d4708338080749111\u0026w\u003dFX345QMrj1d[...]
