---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%E4%B8%AD%E5%9B%BD&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"中国"},"Web":{"Total":272000000,"Offset":0,"Results":[{"Title":"百度一下\uff0c你就知道
        - baidu.com","Description":"输入法. 手写\u003b 拼音\u003b 关闭\u003b 百度首页 设置 登录. 糯米
        新闻 hao123 地图 视频 贴吧 登录 设置 更多产品","Url":"http\u003a\u002f\u002fwww.baidu.com\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003d\u0025e4\u0025b8\u0025ad\u0025e5\u00259b\u0025bd\u0026d\u003d4536290250523263\u0026w\u003dvYGvp6-3UYsO3a_YC7A-TN7o8EuYGmkd","DisplayUrl":"www.baidu.com","DateTime":"2016-10-27T09\u003a35\u003a00Z"},{"Title":"サーチナ-searchina.net","Description":"中国・韓国の情報を発信
        ... 2016-10-26 14\u003a09. 訪日中国人が驚くこと\u300c中国では必需品の紙幣鑑別機がない\u300d\uff1d中国メディア","Url":"http\u003a\u002f\u002fwww.searchina.net\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003d\u0025e4\u0025b8\u0025ad\u0025e5\u00259b\u0025bd\u0026d\u003d4921737720366715\u0026w\u003dzYbVDYRawyS-JfviF21z5_2urruCGEbv","DisplayUrl":"www.searchina.net","DateTime":"2016-10-27T10\u003[...]
