---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=anything&sources=Spell%20Web&traffictype=test&web.offset=11
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"anything"},"Web":{"Total":15500000,"Offset":11,"Results":[{"Title":"anything
        - Wiktionary","Description":"1916, Edward S. Moffat, Go Forth and Find, page
        81-82\u003a Perhaps it was this atmosphere of misplacedness and loneliness
        as much as anything which led her to ...","Url":"https\u003a\u002f\u002fen.wiktionary.org\u002fwiki\u002fanything","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003danything\u0026d\u003d4601874377146546\u0026w\u003dzQ2mKfRVESAssIUSpdu7ZH5U7PF8QGLX","DisplayUrl":"https\u003a\u002f\u002fen.wiktionary.org\u002fwiki\u002fanything","DateTime":"2016-05-30T13\u003a43\u003a00Z"},{"Title":"aNYthing
        - A New York Thing","Description":"aNYthing - A New York THING. Never not
        working since 2001","Url":"http\u003a\u002f\u002fstore.anewyorkthing.com\u002f","DisplayUrl":"store.anewyorkthing.com","DateTime":"2016-05-31T15\u003a45\u003a00Z"},{"Title":"Anything
        - Idioms by The Free Dictionary","Description":"See\u003a anything but anything
        else\u003f anything goes anything going on\u003f anything is p[...]
