.DS_Store
tmp/
.idea
public/stylesheets/compiled/*.css
public/stylesheets/compiled/affiliates/*.css
public/stylesheets/compiled/sayt/*.css
test
public/system/
coverage.data
mkmf.log
TAGS
webrat-*.html
dump.rdb
.bundle
sauce_connect.log
coverage/
bin/
*.swp
generate_top_queries_from_file_input_file.txt
