*.swp
.DS_Store
.bundle
.byebug_history
.idea
.rspec-local
Procfile
TAGS
config/logindotgov.pem
config/secrets.yml
coverage.data
coverage/
dump.rdb
generate_top_queries_from_file_input_file.txt
mkmf.log
public/assets/**
public/stylesheets/compiled/affiliates/*.css
public/stylesheets/compiled/sayt/*.css
public/system/
test
tmp/
webrat-*.html
