.DS_Store
tmp/**/*
.idea
public/stylesheets/compiled/*.css
public/stylesheets/compiled/affiliates/*.css
test
public/system/
coverage.data
mkmf.log
TAGS
webrat-*.html
dump.rdb
.bundle
sauce_connect.log
