---
http_interactions:
- request:
    method: get
    uri: https://data.usajobs.gov/api/search?Keyword=&LocationName=Flemington,%20New%20Jersey,%20United%20States&Organization&Radius=75&ResultsPerPage=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization-Key:
      - "<JOBS_AUTHORIZATION_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hr+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"LanguageCode":"EN","SearchParameters":{},"SearchResult":{"SearchResultCount":25,"SearchResultCountAll":1390,"SearchResultItems":[{"MatchedObjectId":"463469600","MatchedObjectDescriptor":{"PositionID":"TI-FBIJOBS1627023-17","PositionTitle":"Special
        Agent - Law Enforcement or Military Veteran Background","PositionURI":"https://www.usajobs.gov:443/GetJob/ViewDetails/463469600","ApplyURI":["https://www.usajobs.gov:443/GetJob/ViewDetails/463469600?PostingChannelID="],"PositionLocationDisplay":"Location
        Negotiable After Selection, United States","PositionLocation":[{"LocationName":"Salt
        Lake City, Utah","CountryCode":"United States","CountrySubDivisionCode":"Utah","CityName":"Salt
        Lake City, Utah","Longitude":-111.88823,"Latitude":40.75952},{"LocationName":"Seattle,
        Washington","CountryCode":"United States","CountrySubDivisionCode":"Washington","CityName":"Seattle,
        Washington","Longitude":-122.32945,"Latitude":47.60358},{"LocationName":"Phoenix,
        Arizona","CountryCode":"United States","CountrySubDivisionCode":"Arizona","CityName":"Phoenix,
        Arizona","Longitude":-112.075775,"Latitude":33.44826},{"LocationName":"Los
        Angeles, California","CountryCode":"United States","CountrySubDivisionC[...]
