---
http_interactions:
- request:
    method: get
    uri: https://data.usajobs.gov/api/search?Keyword=job&LocationName=Flemington,%20New%20Jersey,%20United%20States&ResultsPerPage=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization-Key:
      - Qbk5RB/WRc1ctYqwojqlSKeoLVrwokT8OnSLq+G1qu0=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hr+json
    body:
      encoding: UTF-8
      string: '{"LanguageCode":"EN","SearchParameters":{},"SearchResult":{"SearchResultCount":10,"SearchResultCountAll":11,"SearchResultItems":[{"MatchedObjectId":"515227700","MatchedObjectDescriptor":{"PositionID":"CARZ-10341191-19-DLL","PositionTitle":"Therapy
        Assistant","PositionURI":"https://www.usajobs.gov:443/GetJob/ViewDetails/515227700","ApplyURI":["https://www.usajobs.gov:443/GetJob/ViewDetails/515227700?PostingChannelID=RESTAPI"],"PositionLocationDisplay":"Lyons,
        New Jersey","PositionLocation":[{"LocationName":"Lyons, New Jersey","CountryCode":"United
        States","CountrySubDivisionCode":"New Jersey","CityName":"Lyons, New Jersey","Longitude":-74.5544739,"Latitude":40.66726}],"OrganizationName":"Veterans
        Affairs, Veterans Health Administration","DepartmentName":"Department of Veterans
        Affairs","JobCategory":[{"Name":"Rehabilitation Therapy Assistant","Code":"0636"}],"JobGrade":[{"Code":"GS"}],"PositionSchedule":[{"Name":"Full-Time","Code":"1"}],"PositionOfferingType":[{"Name":"Permanent","Code":"15317"}],"QualificationSummary":"English
        Language Proficiency: In accordance with 38 U.S.C. 7402(d), No person shall
        serve in direct patient care positions unless they are proficient in basic
        written and spoken English. You must be proficient in basic written and spoken
        English in order to meet the requirements of this position. ~AND~ Driver''s
        License Requirement: The work of this position requires driving recreation
        vehicles such as a sedan or van in and out of a variety of settings in the
        community, therefore, a valid state issued driver''s license is required.
        ~AND~ To qualify for this position, you must meet one of the following: Specialized
        Experience: Possess at least one (1) full year of specialized experience equivalent
        to at least the next lower grade in federal service (GS-5). This experience
        is close to the work of this position and has given you the particular knowledge,
        skills, and abilities required to successfully perform the duties of this
        Therapy Assistant position. Specialized experience includes work as an assistant
        to one of the specialized therapies such as occupational, physical, manual[...]
- request:
    method: get
    uri: https://data.usajobs.gov/api/search?Keyword=job&LocationName=Flemington,%20New%20Jersey,%20United%20States&Organization&ResultsPerPage=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization-Key:
      - Qbk5RB/WRc1ctYqwojqlSKeoLVrwokT8OnSLq+G1qu0=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hr+json
    body:
      encoding: UTF-8
      string: '{"LanguageCode":"[...]
- request:
    method: get
    uri: https://data.usajobs.gov/api/search?Keyword=job&LocationName=Flemington,%20New%20Jersey,%20United%20States&Organization&Radius=75&ResultsPerPage=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization-Key:
      - Qbk5RB/WRc1ctYqwojqlSKeoLVrwokT8OnSLq+G1qu0=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hr+json
    body:
      encoding: UTF-8
      string: '{"Langu[...]
