---
http_interactions:
- request:
    method: get
    uri: https://data.usajobs.gov/api/search?Keyword=&LocationName=Flemington,%20New%20Jersey,%20United%20States&Organization=GS&Radius=75&ResultsPerPage=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization-Key:
      - "<JOBS_AUTHORIZATION_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hr+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"LanguageCode":"EN","SearchParameters":{},"SearchResult":{"SearchResultCount":1,"SearchResultCountAll":38,"SearchResultItems":[{"MatchedObjectId":"708767900","MatchedObjectDescriptor":{"PositionID":"23NRCA0471102-DHA","PositionTitle":"Contract
        Spec/Administrator/Negotiator, Procurement Analyst (Supvy/Non/Lead)","PositionURI":"https://www.usajobs.gov:443/GetJob/ViewDetails/708767900","ApplyURI":["https://www.usajobs.gov:443/GetJob/ViewDetails/708767900?PostingChannelID="],"PositionLocationDisplay":"Multiple
        Locations","PositionLocation":[{"LocationName":"Mobile, Alabama","CountryCode":"United
        States","CountrySubDivisionCode":"Alabama","CityName":"Mobile, Alabama","Longitude":-88.0532,"Latitude":30.6864},{"LocationName":"Montgomery,
        Alabama","CountryCode":"United States","CountrySubDivisionCode":"Alabama","CityName":"Montgomery,
        Alabama","Longitude":-86.3006,"Latitude":32.3801},{"LocationName":"Anchorage,
        Alaska","CountryCode":"United States","CountrySubDivisionCode":"Alaska","CityName":"Anchorage,
        Alaska","Longitude":-149.85774,"Latitude":61.21756},{"LocationName":"Birmingham,
        Alabama","CountryCode":"United States","CountrySubDivisionCode":"Alaba[...]
- request:
    method: get
    uri: https://data.usajobs.gov/api/search?Keyword=&LocationName=Flemington,%20New%20Jersey,%20United%20States&Organization&Radius=75&ResultsPerPage=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization-Key:
      - "<JOBS_AUTHORIZATION_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hr+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"LanguageCod[...]
