---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/search?count=20&mkt=en-US&offset=0&q=white%20house%20(site:whitehouse.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=<DATADOG_API_ENABLED>&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_IMAGE_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 63d18d0cdbce45a2a173d49b9f6d85a0
      Bingapis-Market:
      - en-US
      X-Msedge-Clientid:
      - 0CF6C397CE3160EB1D7CD133CF7E61A3
      X-Msapi-Userstate:
      - 612a
      X-Search-Responseinfo:
      - InternalResponseTime=291,MSDatacenter=BN2B
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      X-Ms-Region:
      - East US
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "images\/search?q=white house (site:whitehouse.gov)", "webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?q=white house (site:whitehouse.gov)&FORM=OIIARP",
        "queryContext": {"originalQuery": "white house (site:whitehouse.gov)", "alterationDisplayQuery":
        "white house", "alterationOverrideQuery": "+white house (site:whitehouse.gov)",
        "alterationMethod": "AM_JustChangeIt", "alterationType": "CombinedAlterationsChained"},
        "totalEstimatedMatches": 101, "nextOffset": 25, "currentOffset": 0, "value":
        [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=6D2D34DDA3F04CE3C814F36484A31A003E69FFFE&simid=608038868571290943",
        "name": "About The White House | The White House", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.L_qNI_TMHGC5mR-6Ta3gbwHaDt&pid=Api",
        "datePublished": "2010-11-01T11:51:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "https:\/\/www.whitehouse.gov\/wp-content\/uploads\/2021\/01\/about_the_white_house.jpg",
        "hostPageUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house\/", "contentSize":
        "720103 B", "encodingFormat": "jpeg", "hostPageDisplayUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house",
        "width": 2500, "height": 1250, "hostPageFavIconUrl": "https:\/\/www.bing.com\/th?id=ODF.bhiQj_1JJFJe5eKkzrMoAw&pid=Api",
        "hostPageDomainFriendlyName": "The White House", "hostPageDiscoveredDate":
        "2010-11-01T11:51:08.0000000Z", "thumbnail": {"width": 474, "height": 237},
        "imageInsightsToken": "ccid_L\/qNI\/TM*cp_1B0293D413C99A8CCFBD7B9E2BEA5812*mid_6D2D34DDA3F04CE3C814F36484A31A003E69FFFE*simid_608038868571290943*thid_OIP.L!_qNI!_TMHGC5mR-6Ta3gbwHaDt",
        "insightsMetadata": {"pagesIncludingCount": 156, "availableSizesCount": 61},
        "imageId": "6D2D34DDA3F04CE3C814F36484A31A003E69FFFE", "accentColor": "1D56AE"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=6D2D34DDA3F04CE3C814C99EA216F72FAF79B91C&simid=607996168005882994",
        "name": "About The White House | The White House", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.0k-f4umsqMfzfg56pRvu7AHaDt&pid=Api",
        "datePublished": "2021-07-26T20:15:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "https:\/\/www.whitehouse.gov\/w[...]
