:markdown

    ## API Documentation

    Most customers use our hosted search results page, but you can use our two APIs to display results within your website. Visit Open.GSA.gov to review the API documentation:

    1. [Results API](https://open.gsa.gov/api/searchgov-results/) to receive search results. 
    2. [Clicks API](https://open.gsa.gov/api/searchgov-clicks/) to send us click data. Sending us this data improves the relevance of your web results. 

    You must use both APIs for a complete search experience.

    While using the APIs gives you more control over the look and feel of the search results, you will need a team of designers, engineers, and other digital service experts to create your search experience and maintain it over time.