.span-10
  - form_tag admin_sayt_suggestions_upload_path, :multipart => true, :class=> "bordered" do
    %h1 SAYT Suggestions Bulk Upload
    %p="Use a plain text file with one search suggestion per line. Uploading a Word document will not work."
    = file_field_tag 'txtfile'
    = submit_tag "Upload"
