---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=<GOOGLE_SEARCH_CX>&key=<GOOGLE_API_KEY>&lr=lang_en&q=marketplase%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"W18CoImQKYKeZ22usPfNI43IHMc/ELaIBtZcQoXJ9Uq4bF3TclgzHRk"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - marketplase site:usa.gov",
            "totalResults": "1990",
            "searchTerms": "marketplase site:usa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "<GOOGLE_SEARCH_CX>"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - marketplase site:usa.gov",
            "totalResults": "1990",
            "searchTerms": "marketplase site:usa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "<GOOGLE_SEARCH_CX>"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.188702,
          "formattedSearchTime": "0.19",
          "totalResults": "1990",
          "formattedTotalResults": "1,990"
         },
         "spelling": {
          "correctedQuery": "marketplace site:usa.gov",
          "htmlCorrectedQuery": "\u003cb\u003e\u003ci\u003emarketplace\u003c/i\u003e\u003c/b\u003e site:usa.gov"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "The Health Insurance Marketplace | Internal Revenue Service",
           "htmlTitle": "The Health Insurance \u003cb\u003eMarketplace\u003c/b\u003e | Internal Revenue Service",
           "link": "https://go.usa.gov/xrGZT",
           "displayLink": "go.usa.gov",
           "snippet": "Dec 18, 2017 ... Health Insurance Marketplace — also known as the Health Insurance Exchange \n— is the place where people without health care insurance can find information \nabout health insurance options and also purchase health care insurance. \nInformation can also be found regarding eligibility for help with paying ...",
           "htmlSnippet": "Dec 18, 2017 \u003cb\u003e...\u003c/b\u003e Health Insurance \u003cb\u003eMarketplace\u003c/b\u003e — also known as the Health Insurance Exchange \u003cbr\u003e\n— is the place where people without health care insurance can find information \u003cbr\u003e\nabout health insurance options and also purchase health care insurance. \u003cbr\u003e\nInformation can also be found regarding eligibility for help with paying&nbsp;...",
           "cacheId": "2v5Tqe4oR4YJ",
           "formattedUrl": "https://go.usa.gov/xrGZT",
           "htmlFormattedUrl": "https://go.usa.gov/xrGZT",
           "pagemap": {
            "metatags": [
             {
              "title": "The Health Insurance Marketplace | Internal Revenue Service",
              "abstract": "The Health Insurance Marketplace",
              "original-source": "https://www.irs.gov/affordable-care-act/individuals-and-families/the-health-insurance-marketplace",
              "rights": "United States Internal Revenue Services",
              "mobileoptimized": "width",
              "handheldfriendly": "true",
              "viewport": "width=device-width, initial-scale=1.0",
              "audience": "NULL",
              "irsstandard-type": "NULL",
              "uniqueid": "9886",
              "ishistorical": "no",
              "historical-date": "NULL",
              "changed": "1513632832",
              "topic": "NULL",
              "guidance": "NULL",
              "channel": "NULL",
              "organization": "NULL",
              "otid": "425210",
              "prod_seid": "x6xrb"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Opportunities and Challenges in Online Marketplace Lending",
           "htmlTitle": "Opportunities and Challenges in Online \u003cb\u003eMarketplace\u003c/b\u003e Lending",
           "link": "http://1.usa.gov/1T3DLCf",
           "displayLink": "1.usa.gov",
           "snippet": "May 10, 2016 ... The U.S. Treasury Department today issued a white paper regar[...]
