---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=marketplase%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/UwxLuTMqdTaAKcyuRifUt5OhVWw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - marketplase site:usa.gov",
            "totalResults": "2740",
            "searchTerms": "marketplase site:usa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - marketplase site:usa.gov",
            "totalResults": "2740",
            "searchTerms": "marketplase site:usa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.231304,
          "formattedSearchTime": "0.23",
          "totalResults": "2740",
          "formattedTotalResults": "2,740"
         },
         "spelling": {
          "correctedQuery": "marketplace site:usa.gov",
          "htmlCorrectedQuery": "\u003cb\u003e\u003ci\u003emarketplace\u003c/i\u003e\u003c/b\u003e site:usa.gov"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "The Health Insurance Marketplace",
           "htmlTitle": "The Health Insurance \u003cb\u003eMarketplace\u003c/b\u003e",
           "link": "http://go.usa.gov/xrGZT",
           "displayLink": "go.usa.gov",
           "snippet": "Health Insurance Marketplace — also known as the Health Insurance Exchange \n— is the place where people without health care insurance can find information ...",
           "htmlSnippet": "Health Insurance \u003cb\u003eMarketplace\u003c/b\u003e — also known as the Health Insurance Exchange \u003cbr\u003e\n— is the place where people without health care insurance can find information&nbsp;...",
           "cacheId": "2v5Tqe4oR4YJ",
           "formattedUrl": "go.usa.gov/xrGZT",
           "htmlFormattedUrl": "go.usa.gov/xrGZT",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "143",
              "height": "198",
              "src": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaSt-G5oC7pr8CI-u1QQ7ZUdYukvzfzJm21btbthB_o8aFX6_goO9vgYA"
             }
            ],
            "metatags": [
             {
              "newurl": "https://www.irs.gov/affordable-care-act/individuals-and-families/the-health-insurance-marketplace",
              "oldurl": "https://www.irs.gov/Affordable-Care-Act/Individuals-and-Families/The-Health-Insurance-Marketplace",
              "content-type": "Standard",
              "irsstandard-type": "st_other",
              "language": "en",
              "modified": "2016-12-13",
              "uniqueid": "425210"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.irs.gov/file_source/image/ACA_callout.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Opportunities and Challenges in Online Marketplace Lending",
           "htmlTitle": "Opportunities and Challenges in Online \u003cb\u003eMarketplace\u003c/b\u003e Lending",
           "link": "http://1.usa.gov/1T3DLCf",
           "displayLink": "1.usa.gov",
           "sni[...]
