---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=marketplase%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/SJZNs7aZ_3OtI9hCSTzKel4YsW8"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - marketplase site:usa.gov",
            "totalResults": "8910",
            "searchTerms": "marketplase site:usa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - marketplase site:usa.gov",
            "totalResults": "8910",
            "searchTerms": "marketplase site:usa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.199751,
          "formattedSearchTime": "0.20",
          "totalResults": "8910",
          "formattedTotalResults": "8,910"
         },
         "spelling": {
          "correctedQuery": "marketplace site:usa.gov",
          "htmlCorrectedQuery": "\u003cb\u003e\u003ci\u003emarketplace\u003c/i\u003e\u003c/b\u003e site:usa.gov"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "The Health Insurance Marketplace",
           "htmlTitle": "The Health Insurance \u003cb\u003eMarketplace\u003c/b\u003e",
           "link": "http://go.usa.gov/xrGZT",
           "displayLink": "go.usa.gov",
           "snippet": "Mar 21, 2017 ... Health Insurance Marketplace — also known as the Health Insurance Exchange \n— is the place where people without health care insurance ...",
           "htmlSnippet": "Mar 21, 2017 \u003cb\u003e...\u003c/b\u003e Health Insurance \u003cb\u003eMarketplace\u003c/b\u003e — also known as the Health Insurance Exchange \u003cbr\u003e\n— is the place where people without health care insurance&nbsp;...",
           "cacheId": "2v5Tqe4oR4YJ",
           "formattedUrl": "go.usa.gov/xrGZT",
           "htmlFormattedUrl": "go.usa.gov/xrGZT",
           "pagemap": {
            "metatags": [
             {
              "newurl": "https://www.irs.gov/affordable-care-act/individuals-and-families/the-health-insurance-marketplace",
              "oldurl": "https://www.irs.gov/Affordable-Care-Act/Individuals-and-Families/The-Health-Insurance-Marketplace",
              "content-type": "Standard",
              "irsstandard-type": "st_other",
              "language": "en",
              "modified": "2017-03-21",
              "uniqueid": "425210"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "CFPB Now Accepting Complaints on Consumer Loans from Online ...",
           "htmlTitle": "CFPB Now Accepting Complaints on Consumer Loans from Online ...",
           "link": "http://1.usa.gov/1U8gEK5",
           "displayLink": "1.usa.gov",
           "snippet": "Mar 7, 2016 ... Bureau Releases Consumer Bulletin with Information and Tips on Marketplace \nLending. WASHINGTON, D.C. — Today, the Consumer ...",
           "htmlSnippet": "Mar 7, 2016 \u003cb\u003e...\u003c/b\u003e Bureau Releases Consumer Bulletin with Information and Tips on \u003cb\u003eMarketplace\u003c/b\u003e \u003cbr\u003e\nLending. WASHINGTON, D.C. — Today, the Consumer&nbsp;...",
           "cacheId": "Wxy2K1Ob8bkJ",
           "formattedUrl": "1.usa.gov/1U8gEK5",
           "htmlFormattedUrl": "1.usa.gov/1U8gEK5",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "310",
              "height": "163",
              "src": "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSCUn_mGg7kRayKnmAF3LpQwJovbPa3ZxSZD1nqnxRWdqbmz-boeKb3M6B2"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1",
              "og:title": "CFPB Now Accepting Complaints on Consumer Loans from Online Marketplace Lender | Consumer Financial Protection Bureau",
              "og:type": "article",
              "og:url": "https://www.consumerfinance.gov/about-us/newsroom/cfpb-now-accepting-complaints-on-consumer-loans-from-online-marketplace-lender/",
              "og:image": "https://www.consumerfinance.gov/static/img/logo_open-graph_facebook.d0dedfbe1787.png",
              "twitter:image": "https://www.consumerfinance.gov/static/img/logo_open-graph_twitter.ebc43e92acd1.png",
              "og:description": "CFPB Now Accepting Complaints on Consumer Loans from Online Marketplace Lender",
              "og:site_name": "Consumer Financial Protection Bureau",
              "fb:app_id": "210516218981921",
              "article:author": "https://www.facebook.com/CFPB"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.consumerfinance.gov/static/img/logo_open-graph_facebook.d0dedfbe1787.png"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Software Assurance Marketplace",
           "htmlTitle": "Software Assurance \u003cb\u003eMarketplace\u003c/b\u003e",
           "link": "http://go.usa.gov/WYFG",
           "displayLink": "go.usa.gov",
           "snippet": "The Software Assurance Marketplace (SWAMP) is committed to bringing a \ntransformative change to the national software assurance landscape by providing \na ...",
           "htmlSnippet": "The Software Assurance \u003cb\u003eMarketplace\u003c/b\u003e (SWAMP) is committed to bringing a \u003cbr\u003e\ntransformative change to the national software assurance landscape by providing \u003cbr\u003e\na&nbsp;...",
           "cacheId": "-hK7lMGhDvUJ",
           "formattedUrl": "go.usa.gov/WYFG",
           "htmlFormattedUrl": "go.usa.gov/WYFG",
           "pagemap": {
            "Item": [
             {
              "title": "Science and Technology Issues & Programs"
             },
             {
              "title": "Visit S&T's interactive site!"
             },
             {
              "title": "Follow us at dhsscitech"
             },
             {
              "title": "Follow us on LinkedIn"
             },
             {
              "title": "Check Out S&T Videos"
             }
            ],
            "metatags": [
             {
              "viewport"[...]
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=marketplase%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/VrY12ZcUszupdVyoz1JwkoEizwM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF[...]
