= content_for_site_page_title @site, 'Site Overview'
.sub-nav-heading
  %h2 Customize your search experience

= show_system_alerts
= render_flash_message

.welcome-content
  Welcome to Search.gov! Use this Admin Center to set up, design, optimize, and analyze your search experience.

  %h3 Dashboard
  Manage user accounts and other general settings in the Dashboard section.
  %ul
    %li Add other users to your site on the Manage Users page.
    %li Reactivate timed-out users yourself without submitting a ticket.
    %li Manage general settings on the Settings page.
  Browse our guide to learn more about 
  %a{href: "https://digital.gov/guides/search/set-up#manage-your-users-and-settings"}how to manage your users and settings.

  %h3 Analytics
  Analyze your search analytics to gain a deeper understanding of your website and search experience. You can review the search terms, clicks, referrers, and monthly reports in the Analytics section.
  %br
  Browse our guide to learn more about 
  %a{href: "https://digital.gov/guides/search/analyze#content-start"}how to analyze your search analytics.

  %h3 Content
  There are many options to optimize your content in Content section. You must a your domain(s) on the Domains page. Optionally, you can also:
  %ul
    %li Create collections to search a narrower or broader scope than the default results page defined by the domains you added.
    %li Create best bets to recommend and promote specific pages at the top of your search results page.
  Browse our guide to learn more about 
  %a{href: "https://digital.gov/guides/search/optimize#content-start"}how to optimize your content.

  %h3 Design
  Make the search results page match the design of your website. There are dozens of fields, so you may need to consult your style guide or ask your design team for help.
  %br
  Browse our guide to learn more about 
  %a{href: "https://digital.gov/guides/search/design#content-start"}how to design your results page.

  %h3 Preview
  Any updates you make to the design appear immediately on the search results page. Use the Preview option to review and update the design, as needed.

  %h3 Activate
  When you are ready to go live, you will need to modify the form code for the search box on your website. Use form code provided in the Activate section.
  %br
  Browse our guide to learn more about 
  %a{href: "https://digital.gov/guides/search/set-up#go-live-with-search-gov"}how to go live with Search.gov.

  %h3 Request support
  Review our full guide, 
  %a{href: "https://digital.gov/guides/search"}Optimizing site search with Search.gov
  , for more information on how to customize the search experience on your website.
  %br
  You can also learn more about Search.gov in this guide, including 
  %a{href:"https://digital.gov/guides/search/status"}checking the system status 
  and understanding the 
  %a{href: "https://digital.gov/guides/search/about#terms-of-service"}terms of service.
  %br
  If you have any other questions, 
  %a{href: "mailto:search@gsa.gov"}please email us at search@gsa.gov.
