/* line 3, ../../../app/stylesheets/base.sass */
body {
  font-size: 100%; }

/* line 6, ../../../app/stylesheets/base.sass */
a {
  text-decoration: none; }
  /* line 4, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
  a:hover {
    text-decoration: underline; }

/* line 9, ../../../app/stylesheets/base.sass */
.loud {
  font-weight: bold; }

/* line 12, ../../../app/stylesheets/base.sass */
h1 {
  font-size: 1.5em;
  margin-bottom: 0.5em; }

/* line 15, ../../../app/stylesheets/base.sass */
h2 {
  font-size: 1.25em;
  margin-bottom: 0.2em; }

/* line 19, ../../../app/stylesheets/base.sass */
.header {
  text-align: right; }
