/* line 19, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
body {
  text-align: center; }
  /* line 32, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
  * html body legend {
    margin: 0px -8px 16px 0;
    padding: 0; }
  /* line 36, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
  html>body p code {
    *white-space: normal; }

/* line 51, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
.container {
  text-align: left; }

/* line 53, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
ol {
  margin-left: 2em; }

/* line 55, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
sup {
  vertical-align: text-top; }

/* line 57, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
sub {
  vertical-align: text-bottom; }

/* line 59, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
hr {
  margin: -8px auto 11px; }

/* line 61, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
img {
  -ms-interpolation-mode: bicubic; }

/* line 63, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
fieldset {
  padding-top: 0; }

/* line 66, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
input.text {
  margin: 0.5em 0;
  background-color: #fff;
  border: 1px solid #bbb; }
  /* line 70, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
  input.text:focus {
    border: 1px solid #666; }
/* line 72, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
input.title {
  margin: 0.5em 0;
  background-color: #fff;
  border: 1px solid #bbb; }
  /* line 76, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
  input.title:focus {
    border: 1px solid #666; }
/* line 78, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
input.checkbox {
  position: relative;
  top: 0.25em; }
/* line 81, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
input.radio {
  position: relative;
  top: 0.25em; }
/* line 84, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
input.button {
  position: relative;
  top: 0.25em; }

/* line 87, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
textarea {
  margin: 0.5em 0; }

/* line 89, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
select {
  margin: 0.5em 0; }

/* line 91, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.8.8/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
button {
  position: relative;
  top: 0.25em; }
