---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=<GOOGLE_SEARCH_CX>&key=<GOOGLE_API_KEY>&lr=lang_en&q=boosted%20site:nps.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT"
          }
        }
  recorded_at: Thu, 11 Jun 2020 21:50:22 GMT
- request:
    method: post
    uri: http://127.0.0.1:9517/session
    body:
      encoding: UTF-8
      string: '{"desiredCapabilities":{"browserName":"chrome","version":"","platform":"ANY","javascriptEnabled":true,"cssSelectorsEnabled":true,"takesScreenshot":false,"nativeEvents":false,"rotatable":false,"goog:chromeOptions":{"args":["--headless","--disable-gpu"]}},"capabilities":{"firstMatch":[{"browserName":"chrome","goog:chromeOptions":{"args":["--headless","--disable-gpu"]}}]}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"value":{"capabilities":{"acceptInsecureCerts":false,"browserName":"chrome","browserVersion":"83.0.4103.97","chrome":{"chromedriverVersion":"83.0.4103.39
        (ccbf011cb2d2b19b506d844400483861342c20cd-refs/branch-heads/4103@{#416})","userDataDir":"/var/folders/dv/lkg483t553j7s1t4gt2g9xg00000gn/T/.com.google.Chrome.JdM7yJ"},"goog:chromeOptions":{"debuggerAddress":"localhost:56095"},"networkConnectionEnabled":false,"pageLoadStrategy":"normal","platformName":"mac
        os x","proxy":{},"setWindowRect":true,"strictFileInteractability":false,"timeouts":{"implicit":0,"pageLoad":300000,"script":30000},"unhandledPromptBehavior":"dismiss
        and notify","webauthn:virtualAuthenticators":true},"sessionId":"376b0959587005bb4d3a87b52f6ed821"}}'
  recorded_at: Thu, 11 Jun 2020 21:56:51 GMT
- request:
    method: post
    uri: http://127.0.0.1:9517/session/376b0959587005bb4d3a87b52f6ed821/url
    body:
      encoding: UTF-8
      string: '{"url":"http://127.0.0.1:56087/search?affiliate=nps.gov&query=boosted"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"value":null}'
  recorded_at: Thu, 11 Jun 2020 21:56:53 GMT
- request:
    method: post
    uri: http://127.0.0.1:9517/session/376b0959587005bb4d3a87b52f6ed821/elements
    body:
      encoding: UTF-8
      string: '{"using":"css selector","value":"div[data-affiliate=\"nps.gov\"]#search"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"value":[{"element-6066-11e4-a52e-4f735466cecf":"2a773de9-d589-408c-9e7b-3347da4d9d2c"}]}'
  recorded_at: Thu, 11 Jun 2020 21:56:53 GMT
- request:
    method: post
    uri: http://127.0.0.1:9517/session/376b0959587005bb4d3a87b52f6ed821/execute/sync
    body:
      encoding: UTF-8
      string: '{"script":"return (function(){return function(){var k=this;function
        l(a){return void 0!==a}function m(a){return\"string\"==typeof a}function aa(a,b){a=a.split(\".\");var
        c=k;a[0]in c||!c.execScript||c.execScript(\"var \"+a[0]);for(var d;a.length&&(d=a.shift());)!a.length&&l(b)?c[d]=b:c[d]&&c[d]!==Object.prototype[d]?c=c[d][...]
[...]
- request:
    method: post
    uri: http://127.0.0.1:9517/session/376b0959587005bb4d3a87b52f6ed821/elements
    body:
      encoding: UTF-8
      string: '{"using":"css selector","value":"a[data-click=''{\"position\":1,\"module_code\":\"BOOS\"}'']"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"value":[{"element-6066-11e4-a52e-4f735466cecf":"0af52843-aac0-4477-9754-395a2a11434a"}]}'
  recorded_at: Thu, 11 Jun 2020 21:56:53 GMT
[...]
- request:
    method: delete
    uri: http://127.0.0.1:9517/session/376b0959587005bb4d3a87b52f6ed821/cookie
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"value":null}'
  recorded_at: Thu, 11 Jun 2020 21:56:53 GMT
[...]
- request:
    method: post
    uri: http://127.0.0.1:9517/session/376b0959587005bb4d3a87b52f6ed821/elements
    body:
      encoding: UTF-8
      string: '{"using":"xpath","value":"/html/body/*"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"value":[]}'
  recorded_at: Thu, 11 Jun 2020 21:56:53 GMT
recorded_with: VCR 4.0.0
