---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=global%20warming%20(site:www.epa.gov%20OR%20site:archive.epa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1C374B9982D44A36A48C4D00626924E5
      X-Msedge-Clientid:
      - 02764E931B586181103742CB1A5760F7
      X-Msapi-Userstate:
      - a017
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=50AD82AA8A7E4440B07A1001097E7D92&CID=02764E931B586181103742CB1A5760F7&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=50AD82AA8A7E4440B07A1001097E7D92&CID=02764E931B586181103742CB1A5760F7&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=global%20warming%20(site:www.epa.gov%20OR%20site:archive.epa.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5190.1", "totalEstimatedMatches": 100, "nextOffset":
        22, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=global+warming+(site%3awww.epa.gov+OR+site%3aarchive.epa.gov)&id=3C0E45E5907AE160A0AF42CC8D57A64F80A6077E&simid=608026878927963106",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "Climate Change Indicators:
        Greenhouse Gases | Climate Change Indicators in the United States ...", "thumbnailUrl":
        "https:\/\/tse3.mm.bing.net\/th?id=OIP.WTa-UljiOCZALrpFJynagwHaGB&pid=Api",
        "datePublished": "2016-08-02T19:55:00.0000000Z", "contentUrl": "https:\/\/www.epa.gov\/sites\/production\/files\/styles\/large\/public\/2016-07\/global-ghg-emissions-landing-thumb-2016.png",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "https:\/\/www.epa.gov\/climate-indicators\/greenhouse-gases#major-long-lived-greenhouse-gases-and-their-characteristics",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "80122 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "https:\/\/www.epa.gov\/climate-indicators\/greenhouse-gases#major-long...",
        "width": 320, "height": 260, "thumbnail": {"width": 474, "height": 385}, "imageInsightsToken":
        "ccid_WTa+Ulji*mid_3C0E45E5907AE160A0AF42CC8D57A64F80A6077E*simid_608026878927963106",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "3C0E45E5907AE160A0AF42CC8D57A64F80A6077E", "accentColor": "C68A05"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=global+warming+(site%3awww.epa.gov+OR+site%3aarchive.epa.gov)&id=3C7CC8BEBE6FA5219203046A2CF797B6D7F4EA52&simid=607986287261910889",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "Overview of Climate Change
        Science | Climate Change Science | US EPA", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.A0NdPgPTMPP7ZHqBsYea3wHaE8&pid=Api",
        "datePublished": "2016-0[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/search?count=20&mkt=en-US&offset=0&q=global%20warming%20(site:www.epa.gov%20OR%20site:archive.epa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2A5F395D18ED447BBF7D26EE59EF84A2
      X-Msedge-Clientid:
      - 2A8FDCB5640F647D2574D0D5656365FF
      X-Msapi-Userstate:
      - fa62
      X-Search-Responseinfo:
      - InternalResponseTime=212,MSDatacenter=BN2
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "images\/search?q=global warming (site:www.epa.gov OR site:archive.epa.gov)",
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=global warming (site:www.epa.gov
        OR site:archive.epa.gov)&FORM=OIIARP", "totalEstimatedMatches": 100, "nextOffset":
        23, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=global+warming+(site%3awww.epa.gov+OR+site%3aarchive.epa.gov)&id=3C0E45E5907AE160A0AF42CC8D57A64F80A6077E&simid=608026878945856746",
        "name": "Climate Change Indicators: Greenhouse Gases | Climate ...", "thumbnailUrl":
        "https:\/\/tse3.mm.bing.net\/th?id=OIP.WTa-UljiOCZALrpFJynagwHaGB&pid=Api",
        "datePublished": "2016-08-02T19:55:00.0000000Z", "contentUrl": "https:\/\/www.epa.gov\/sites\/production\/files\/styles\/large\/public\/2016-07\/global-ghg-emissions-landing-thumb-2016.png",
        "hostPageUrl": "https:\/\/www.epa.gov\/climate-indicators\/greenhouse-gases",
        "contentSize": "80122 B", "encodingFormat": "png", "hostPageDisplayUrl": "https:\/\/www.epa.gov\/climate-indicators\/greenhouse-gases",
        "width": 320, "height": 260, "thumbnail": {"width": 474, "height": 385}, "imageInsightsToken":
        "ccid_WTa+Ulji*mid_3C0E45E5907AE160A0AF42CC8D57A64F80A6077E*simid_608026878945856746*thid_OIP.WTa-UljiOCZALrpFJynagwHaGB",
        "insightsMetadata": {"recipeSourcesCount": 0, "bestRepresentativeQuery": {"text":
        "Global Warming Greenhouse Gas Emissions", "displayText": "Global Warming
        Greenhouse Gas Emissions", "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=Global+Warming+Greenhouse+Gas+Emissions&id=3C0E45E5907AE160A0AF42CC8D57A64F80A6077E&FORM=IDBQDM"},
        "pagesIncludingCount": 2, "availableSizesCount": 1}, "imageId": "3C0E45E5907AE160A0AF42CC8D57A64F80A6077E",
        "accentColor": "C68A05"}, {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=global+warming+(site%3awww.epa.gov+OR+site%3aarchive.epa.gov)&id=CFD989E42FE24F932F5C920043CA9A6995ADEAE6&simid=608013130853911801",
        "name": "Climate Change Indicators: Sea Surface Temperature ...", "thumbnailUrl":
        "https:\/\/tse2.mm.bing.net\/th?id=OIP.QsNSuU-NGiFnOVXWTqm43wHaHP&pid=Api",
        "dateP[...]
