---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=global%20warming%20(site:www.epa.gov%20OR%20site:archive.epa.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 86253B84A7B74F7A91264E8D3BD86E39
      X-Msedge-Clientid:
      - 3860D8C9A619660E0883D38EA78E6764
      X-Msapi-Userstate:
      - e4d4
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=01DCF76DA5444B7C8DF8CD543D33DF10&CID=3860D8C9A619660E0883D38EA78E6764&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=01DCF76DA5444B7C8DF8CD543D33DF10&CID=3860D8C9A619660E0883D38EA78E6764&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=global%20warming%20(site:www.epa.gov%20OR%20site:archive.epa.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5186.1", "totalEstimatedMatches": 100, "nextOffset":
        22, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=global+warming+(site%3awww.epa.gov+OR+site%3aarchive.epa.gov)&id=551C72B6FAE3CB904E22E323A47055C2F749D6DE&simid=607993729796475774",
        "webSearchUrlPingSuffix": "DevEx,5023.1", "name": "Greenhouse Gases | A Student''s
        Guide to Global Climate Change | US EPA", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.XNlK_0mAr-2_iJIl6Oe09AEWDg&pid=Api",
        "datePublished": "2017-11-08T00:17:00.0000000Z", "contentUrl": "https:\/\/archive.epa.gov\/climatechange\/kids\/images\/rollovers\/base_layer_500.png",
        "contentUrlPingSuffix": "DevEx,5025.1", "hostPageUrl": "https:\/\/archive.epa.gov\/climatechange\/kids\/basics\/today\/greenhouse-gases.html",
        "hostPageUrlPingSuffix": "DevEx,5024.1", "contentSize": "21195 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "https:\/\/archive.epa.gov\/climatechange\/kids\/basics\/today\/greenhouse...",
        "width": 500, "height": 404, "thumbnail": {"width": 278, "height": 224}, "imageInsightsToken":
        "ccid_XNlK\/0mA*mid_551C72B6FAE3CB904E22E323A47055C2F749D6DE*simid_607993729796475774",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "551C72B6FAE3CB904E22E323A47055C2F749D6DE", "accentColor": "0082C8"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=global+warming+(site%3awww.epa.gov+OR+site%3aarchive.epa.gov)&id=3C7CC8BEBE6FA5219203BC3E50AA86B7A2E8D024&simid=608028158256090317",
        "webSearchUrlPingSuffix": "DevEx,5029.1", "name": "Overview of Climate Change
        Science | Climate Change Science | US EPA", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.vlQymB7eJwTGUmdZqcrjcQEzDK&pid=Api",
        "datePublished": "2016-0[...]
