---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=global%20warming%20(site:www.epa.gov%20OR%20site:archive.epa.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - '069F693796F1444C98EBDCCFBECF301C'
      X-Msedge-Clientid:
      - 11D7C92EF7706ECE013FC2A8F6DF6F72
      X-Msapi-Userstate:
      - ecf8
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1FF7DA24F3E843DABABB6D33F4029A4C&CID=11D7C92EF7706ECE013FC2A8F6DF6F72&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1FF7DA24F3E843DABABB6D33F4029A4C&CID=11D7C92EF7706ECE013FC2A8F6DF6F72&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=global%20warming%20(site:www.epa.gov%20OR%20site:archive.epa.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5190.1", "totalEstimatedMatches": 100, "nextOffset":
        20, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=global+warming+(site%3awww.epa.gov+OR+site%3aarchive.epa.gov)&id=2DBBA66D2F0D73B11861321939C21205F015F220&simid=608000842411933782",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "Frequently Asked Questions
        About Climate Change | Climate ...", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.IgX5Hz4PnedipGlZLcRIBAHaFn&pid=Api",
        "datePublished": "2018-01-07T21:53:00.0000000Z", "contentUrl": "https:\/\/archive.epa.gov\/epa\/sites\/production\/files\/2017-01\/cs_global_temp_and_co2_1880-2012_v3_1.png",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "https:\/\/archive.epa.gov\/epa\/climatechange\/frequently-asked-questions-about-climate-change.html",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "118671 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "https:\/\/archive.epa.gov\/epa\/climatechange\/frequently-asked...",
        "width": 2261, "height": 1714, "thumbnail": {"width": 474, "height": 359},
        "imageInsightsToken": "ccid_IgX5Hz4P*mid_2DBBA66D2F0D73B11861321939C21205F015F220*simid_608000842411933782",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "2DBBA66D2F0D73B11861321939C21205F015F220", "accentColor": "BB1017"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=global+warming+(site%3awww.epa.gov+OR+site%3aarchive.epa.gov)&id=653C368B6F637B4C7FF6378B4AF8A1B6A86342E1&simid=608022218476355598",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "Climate Change Indicators:
        Drought | Climate Change ...", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.-rPP4rJ2nw6q0H_WUTxRjwEsC3&pid=Api",
        "datePublished": "2015-09-18T19:55:00[...]
