---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=global%20warming%20(site:www.epa.gov%20OR%20site:archive.epa.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 59FD4EDF130140488F5FEC6FE4725190
      X-Msedge-Clientid:
      - 2A2DCB59D6BD6B660E02C077D72A6A62
      X-Msapi-Userstate:
      - f49b
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=77D89BD11A2146D8B0A4F6FA8EC62F12&CID=2A2DCB59D6BD6B660E02C077D72A6A62&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=77D89BD11A2146D8B0A4F6FA8EC62F12&CID=2A2DCB59D6BD6B660E02C077D72A6A62&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=global%20warming%20(site:www.epa.gov%20OR%20site:archive.epa.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5186.1", "totalEstimatedMatches": 100, "nextOffset":
        23, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=global+warming+(site%3awww.epa.gov+OR+site%3aarchive.epa.gov)&id=3C7CC8BEBE6FA5219203BC3E50AA86B7A2E8D024&simid=608028158207724768",
        "webSearchUrlPingSuffix": "DevEx,5023.1", "name": "Overview of Climate Change
        Science | Climate Change Science | US EPA", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.vlQymB7eJwTGUmdZqcrjcQEzDK&pid=Api",
        "datePublished": "2016-09-29T12:00:00.0000000Z", "contentUrl": "https:\/\/www.epa.gov\/sites\/production\/files\/2016-07\/models-observed-human-natural.png",
        "contentUrlPingSuffix": "DevEx,5025.1", "hostPageUrl": "https:\/\/www.epa.gov\/climate-change-science\/overview-climate-change-science",
        "hostPageUrlPingSuffix": "DevEx,5024.1", "contentSize": "62082 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "https:\/\/www.epa.gov\/climate-change-science\/overview-climate-change...",
        "width": 819, "height": 540, "thumbnail": {"width": 307, "height": 202}, "imageInsightsToken":
        "ccid_vlQymB7e*mid_3C7CC8BEBE6FA5219203BC3E50AA86B7A2E8D024*simid_608028158207724768",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "3C7CC8BEBE6FA5219203BC3E50AA86B7A2E8D024", "accentColor": "4E627D"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=global+warming+(site%3awww.epa.gov+OR+site%3aarchive.epa.gov)&id=59F027F1C4182701AF64A66ED9DB0C107C731B10&simid=608024357146003141",
        "webSearchUrlPingSuffix": "DevEx,5029.1", "name": "Climate Impacts on Water
        Resources | Climate Change Impacts | US EPA", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.TGm-okQvCKqXrM98M3UQmQEsDK&pid=Api",
        "datePublished": "2015-0[...]
