---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/search?count=20&mkt=en-US&offset=0&q=global%20warming%20(site:www.epa.gov%20OR%20site:archive.epa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - E0340E0855A94F388F1D5F1FAE8CDDE3
      X-Msedge-Clientid:
      - 0130B423F1C36D5923C9A488F08C6CF0
      X-Msapi-Userstate:
      - c834
      X-Search-Responseinfo:
      - InternalResponseTime=180,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "images\/search?q=global warming (site:www.epa.gov OR site:archive.epa.gov)",
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=global warming (site:www.epa.gov
        OR site:archive.epa.gov)&FORM=OIIARP", "queryContext": {"originalQuery": "global
        warming (site:www.epa.gov OR site:archive.epa.gov)", "alterationDisplayQuery":
        "global warming", "alterationOverrideQuery": "+global warming (site:www.epa.gov
        OR site:archive.epa.gov)", "alterationMethod": "AM_JustChangeIt", "alterationType":
        "CombinedAlterationsChained"}, "totalEstimatedMatches": 100, "nextOffset":
        22, "currentOffset": 0, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=global+warming+(site%3awww.epa.gov+OR+site%3aarchive.epa.gov)&id=2DBBA66D2F0D73B11861321939C21205F015F220&simid=608000840483892119",
        "name": "Frequently Asked Questions About Climate Change | Climate ...", "thumbnailUrl":
        "https:\/\/tse3.mm.bing.net\/th?id=OIP.IgX5Hz4PnedipGlZLcRIBAHaFn&pid=Api",
        "datePublished": "2021-02-25T11:04:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "https:\/\/archive.epa.gov\/epa\/sites\/production\/files\/2017-01\/cs_global_temp_and_co2_1880-2012_v3_1.png",
        "hostPageUrl": "https:\/\/archive.epa.gov\/epa\/climatechange\/frequently-asked-questions-about-climate-change.html",
        "contentSize": "118671 B", "encodingFormat": "png", "hostPageDisplayUrl":
        "https:\/\/archive.epa.gov\/epa\/climatechange\/frequently-asked-questions-about-climate...",
        "width": 2261, "height": 1714, "hostPageDiscoveredDate": "2021-02-25T11:04:00.0000000Z",
        "thumbnail": {"width": 474, "height": 359}, "imageInsightsToken": "ccid_IgX5Hz4P*cp_BCD80030C111F488E7180A4566E4D40A*mid_2DBBA66D2F0D73B11861321939C21205F015F220*simid_608000840483892119*thid_OIP.IgX5Hz4PnedipGlZLcRIBAHaFn",
        "insightsMetadata": {"recipeSourcesCount": 0, "pagesIncludingCount": 35, "availableSizesCount":
        10}, "imageId": "2DBBA66D2F0D73B11861321939C21205F015F220", "accentColor":
        "BB1017"}, {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=global+warming+(site%3awww.epa.gov+OR+site%3aarchive.epa.gov)&id=CFD989E42FE24F932F5C920043CA9A6995ADEAE6&simid=608013128380014056",
        "name": "Climate Change Indicators: Sea Surface Temperature ...", "thumbnailUrl":
        "https:\/\/tse2.mm.bing.net\/th?id=OIP.QsNSuU-NGiFnOVXWTqm43wHaHP&pid=Api",
        "datePublished": "2020-11-22T21:11:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "https:\/\/www.epa.gov\/sites\/production\/files\/styles\/large\/public\/2016-07\/sea-surface-temp-download2-2016.png",
        "hostPageUrl": "https:\/\/www.epa.gov\/climate-indicators\/climate-change-indicators-sea-surface-temperature",
        "contentSize": "256565 B", "encodingFormat": "png", "hostPageDisplayUrl":
        "https:\/\/www.epa.gov\/climate-indicators\/climate-change-indicators-sea-surface-temperature",
        "width": 928, "height": 907, "hostPageFavIconUrl": "https:\/\/www.bing.com\/th?id=ODF.Lrj0IievYS6y_TifLci3Rw&pid=Api",
        "hostPageDomainFriendlyName": "US Environmental Protection Agency", "hostPageDiscoveredDate":
        "2016-08-19T00:00:00.0000000Z", "thumbnail": {"width": 474, "height": 463},
        "imageInsightsToken": "ccid_QsNSuU+N*cp_898BD9AF0579DFD5F92A65285E3BFAF7*mid_CFD989E42FE24F932F5C920043CA9A6995ADEAE6*simid_608013128380014056*thid_OIP.QsNSuU-NGiFnOVXWTqm43wHaHP",
        "insightsMetadata": {"recipeSourcesCount": 0, "pagesIncludingCount": 9, "availableSizesCount":
        2}, "imageId": "CFD989E42FE24F932F5C920043CA9A6995A[...]
