.content-block-item.result.image{ id: "result-#{position}" }
  %h4.title= link_to_image_result_title result, position
  .thumbnail= link_to_image_thumbnail result, position
  %div.url= UrlParser.strip_http_protocols result['Url']
