#left_column
  = render "shared/affiliate_vertical_navigation"
#results
  = render "/shared/search", :path => image_search_path(:affiliate => @affiliate)
  = render :partial => "/shared/searchresults", :locals => { :search => @search }
