#sidebar
  = link_to(image_tag("USAsearch_medium_#{I18n.locale}_images.gif" , :alt => "USASearch Images Home"), images_path(:locale => I18n.locale))
#results.images
  = render "/shared/search", :path => image_search_path
  = render "/shared/searchresults", :search => @search
