@import "compass/css3/border-radius"
@import "compass/utilities/general/clearfix"

// Links
$link_color: #316FA2

// Search
$search_header_background_color: #5B5B5B

// Related
$related_title_color: #333

// Results
$result_title_color: #555
$result_description_color: #595959

body
  background-color: #EEE
  font-size: 14px
  font-family: "Lucida Grande", Helvetica, sans-serif
  margin: 0

a
  :color $link_color
  text-decoration: none

a img
  border: 0

h1, h2, h3
  font-family: "Lucida Grande Greg", Helvetica, sans-serif

.hide
  display: none

@import "skiplink"
#skiplink a
  color: $link_color

#container
  width: 960px
  margin: auto
  text-align: left

#search
  @include clearfix
  background: #FFF
  overflow: hidden
  clear: both
  padding-top: 20px

  h1
    display: none

  form
    display: inline
    float: left
    margin-left: 10px
    margin-bottom: 15px
    input[type=submit]:hover
      border: 1px solid #999
      background-color: #DDD
    input[type=submit]:active
      border: 0
      background-color: #CCC

  form.advanced
    input[type=text]
      font-family: "Lucida Grande Greg", Helvetica, sans-serif
      font-size: 18px
      letter-spacing: 1px
      color: #555
      padding: 7px 10px
      width: 280px

#results
  float: left
  overflow: hidden
  display: inline
  width: 720px
  margin: 0
  padding: 0

  span.image_result
    width: 200px
    height: 200px
    margin: 0
    padding: 0
    text-align: center
    display: inline-block
    vertical-align: top

    img
      margin: 0
      padding: 5px
      border: 1px solid #CCC
      vertical-align: top
    a
      font-size: 0.8em

  .did-you-mean, .search-all-sites-suggestion
    line-height: 1.5
    margin: 18px 20px

#left_column
  float: left
  display: inline
  width: 200px
  margin: 0 0 0 10px
  padding: 90px 10px 0

  #popular_urls
    -moz-box-shadow: 1px 1px 10px #eee
    -webkit-box-shadow: 1px 1px 10px #eee
    border: 1px solid #eee
    box-shadow: 1px 1px 10px #eee
    display: inline
    float: left
    margin: 17px 0 0 0
    overflow: hidden
    padding: 0 0 0 10px
    width: 188px

    h3
      color: #555
      font-family: 'Lucida Grande Greg', Helvetica, sans-serif
      font-size: 18px
      font-weight: normal
      margin: 1em 0 0.5em
      padding: 0
    ul
      line-height: 1.5
      margin: 0 1em 1em 1.5em
      padding: 0
      list-style-type: disc
      li
        color: #aaa
        margin: 0
        padding: 0
        a
          color: #036
        a:hover
          color: #036
  ul.time-filters, ul.rss-feeds
    -moz-box-shadow: 1px 1px 10px #eee
    -webkit-box-shadow: 1px 1px 10px #eee
    border: 1px solid #eee
    box-shadow: 1px 1px 10px #eee
    line-height: 1.5
    margin: 17px 0 1px 0
    padding: 10px 0 10px 31px
    list-style-type: disc
    li
      color: #aaa
      margin: 0
      padding: 0
      a
        color: #036
      a:hover
        color: #036
      span
        color: #555
  ul.rss-feeds
    margin-top: 0

#summary
  padding: 0
  margin: 0 10px
  overflow: hidden
  clear: both

  p
    width: 480px
    float: left
    color: #4f4f4f
    text-shadow: #FFF 0px 1px 1px
    padding: 10px
    background: #EEE
    margin: 0
    border-radius: 5px
    -moz-border-radius: 5px
    -webkit-border-radius: 5px
    border: 1px solid #d3d3d3
  img
    margin-top: 8px

.advancedsearch
  float: right
  margin: 5px 20px 5px 0

.searchresult
  @include border-radius
  clear: both
  margin: 10px
  padding: 10px
  border: 1px solid #eee
  box-shadow: 1px 1px 10px #eee
  -moz-box-shadow: 1px 1px 10px #eee
  -webkit-box-shadow: 1px 1px 10px #eee

  a:hover, a:active
    text-decoration: underline

  h2
    position: relative
    margin: 0
    padding: 0
    a
      font-family: "Lucida Grande Greg", Helvetica, sans-serif
      font-size: 18px
      font-weight: normal
      :color $result_title_color
    a:hover
      :color $result_title_color - #222
    a:active
      :color $result_title_color - #555
    img
      position: absolute
      right: -15px
    span.uext_type
      font-size: 13px
      font-weight: normal

  h3
    margin: 0
    padding: 0
    font-weight: normal
    font-family: "Lucida Grande", Helvetica, sans-serif
    font-size: 12px
    line-height: 2
    :color $result_description_color
    strong
      :color $result_description_color - #333

  h4
    font-size: 0.8em
    font-weight: normal
    font-style: italic
    margin: 0

.pagination-and-logo
  clear: both
  height: 35px
  margin: 20px 0

.pagination
  clear: both
  margin: 0
  padding: 0
  :color #595959
  font-size: 15px
  text-align: center

  a, span.current
    padding: 5px 10px
  a:hover
    :background $link_color
    color: #FFF
    text-shadow: none

.results-by-logo
  float: right
  margin: 10px 0 0 0

#boosted, #indexed_documents
  @include border-radius
  clear: both
  padding: 10px
  margin: 10px 10px
  background: #f1f1f1
  border: 1px solid #d3d3d3
  box-shadow: 1px 1px 10px #d3d3d3
  -moz-box-shadow: 1px 1px 10px #d3d3d3
  -webkit-box-shadow: 1px 1px 10px #d3d3d3
  h3.alt
    color: #999
    margin-top: 0
    span.recommended-by
      font:
        size: 14px
        weight: normal

  .searchresult
    border: 1px
    box-shadow: none
    margin: 0
    padding: 0
    -moz-box-shadow: none
    -webkit-box-shadow: none
  .see-more-documents
    margin-bottom: 10px

.featured-collection
  @include clearfix
  background: #f1f1f1
  h2
    color: #C51432
    font-size: 18px
    font-weight: normal
    margin: 0 0 10px
    span.recommended-by
      color: #999
      font:
        size: 14px
        style: italic
        weight: normal
  .image
    float: left
    img
      display: block
      margin-bottom: 5px
    span
      color: #999
      font-weight: normal
      width: auto
      word-wrap: break-word
      &.attribution
        color: #C51432
        font-weight: normal
    a
      color: #555
      display: inline
      word-wrap: break-word
      span.attribution
        color: #555
  ul
    color: #AAA
    float: left
    margin: 0
    padding: 0
  &.one-column-with-image
    .image
      width: 125px
    ul
      margin: 0 0 0 10px
      width: 540px
    li
      margin: 0 0 0 15px
  &.one-column-without-image
    ul
      margin: 0
    li
      margin: 0 0 0 15px
  &.two-column-with-image
    .image
      width: 100px
    ul
      margin: 0 0 0 10px
      width: 565px
    li
      float: left
      margin: 0 0 0 15px
      width: 265px
      &.left
        clear: left
  &.two-column-without-image
    ul
      margin: 0
    li
      float: left
      margin: 0 0 0 15px
      width: 320px
      &.left
        clear: left

.related-searches-wrapper-middle
  @include clearfix
  @include border-radius
  background: #f1f1f1
  border: 1px solid #eee
  margin: 10px
  padding: 10px
  h3
    color: #555
    font-size: 18px
    font-weight: normal
    margin: 0 0 10px
  ul
    color: #AAA
    float: left
    margin: 0
    padding: 0
    li
      float: left
      margin: 0 0 0 15px
      width: 320px

#search_form
  #search_query
    @include border-radius
    border: 1px solid #AAAAAA
    float: left
    display: inline
    font-family: verdana, verdana, sans-serif
    font-size: 14px
    height: 31px
    line-height: 31px
    outline: 0
    padding: 7px 10px
    width: 525px
  #search_button
    cursor: pointer
    float: left
    display: inline
    margin-top: 4px
    margin-left: 10px
    vertical-align: top
    color: #4f4f4f
    font-size: 20px
    background: #EFEFEF
    border: 1px solid #D3D3D3
    height: 40px
    width: 110px
    border-radius: 5px
    -moz-border-radius: 5px
    -webkit-border-radius: 5px
    text-shadow: #FFF 0px 1px 1px


.page-not-found
  :margin 30px auto 50px
  :text-align center
  :width 100%
  $element-width: 745px
  h3
    :color #C30E2C
    :line-height 26px
    :font
      :size 20px
      :weight bold
    &.message
      :margin 30px auto
      :text-align left
      :width $element-width
  .logo-wrapper
    :background url(/images/footer_line.gif) no-repeat center bottom
    :padding-bottom 15px
  .what-to-do-wrapper
    @include clearfix
    :color #222
    :margin 0 auto 35px
    :text-align left
    :width $element-width
    h3
      :color #787677
      :margin 10px 0
    ul
      :line-height 18px
      :margin 0 0 35px 0
      :padding 0
      :text-align left
    li
      :font-size 15px
      :list-style-position inside
      :padding 0 0 0 1px
    span
      :font-size 15px
  #search_form
    :margin 10px auto 0
    .advancedsearch
      :display none
.es .page-not-found
  .message, .what-to-do-wrapper
    :width 765px

.noresults
  clear: both
  margin: 10px 10px 10px 20px

.connections-wrapper
  +clearfix
  margin-bottom: 20px
  padding-right: 10px
.connections
  float: right
  ul
    margin: 0
    padding: 0
  li
    display: inline
    list-style: none
  a
    border-left:
      style: solid
      width: 1px
    padding: 0 6px 0 8px
    &.first
      border-left-width: 0
