@import "compass/utilities/general/clearfix"
@import "compass/css3/border-radius"
@import "compass/css3/inline-block"
@import "compass/typography/text/replacement"
$results-padding-top-size: 8px
$results-padding-size: 15px
$red: #990000
$green: #008000

body
  background-color: white
  margin: 0
  padding: 0
  text-align: center

#container
  +inline-block
  text-align: left
  margin: 0 auto

.with-content-border
  padding: 20px 0
  #container
    +border-radius(8px)
    +clearfix
  .managed-header-footer-links-wrapper
    border-bottom: 0

#header
  margin-bottom: 10px

#managed_header
  +clearfix
  font-family: Georgia, serif
  min-width: 960px
  text-align: center
  img
    border: 0

.managed-header-footer-links-wrapper
  border-top: 1px solid #CACACA
  border-bottom: 1px solid #CACACA
  min-width: 960px
  text-align: center

.managed ul.managed-header-footer-links
  +clearfix
  +inline-block
  font:
    family: Georgia, serif
    weight: bold
  margin: 0 auto
  padding: 10px 0
  list-style: none
  li
    display: inline
    float: left
    a
      border-left:
        style: solid
        width: 1px
      padding: 0 10px
      text-decoration: none
      &.first
        border: 0

#header.managed ul.managed-header-footer-links
  font-size: 1em

#footer.managed ul.managed-header-footer-links
  font-size: 0.8em

#search
  +clearfix
  font-size: 0.75em
  text-align: left
  width: 960px
  img
    border: 0
  h1
    +hide-text
    height: 0
    margin: 0
    padding: 0
    width: 0
  .hide
    display: none
  #search_box
    +clearfix
    border-bottom: 1px solid #CACACA
    padding: 0 0 10px 0
  .left-nav-label-wrapper
    float: left
    padding: 0 0 0 18px
    width: 142px
    h3
      margin: 0
  #left_nav_label
    font-size: 1.5em
    line-height: 1
  .summary-wrapper
    float: left
  #summary
    +inline-block
    padding-left: $results-padding-size
    p
      +inline-block
      margin: 0
  .advancedsearch
    +inline-block
  .did-you-mean, .search-all-sites-suggestion
    margin: 0 0 10px 0
    font-size: 1em
    padding-left: $results-padding-size
  .noresults
    margin: 0
    padding-left: $results-padding-size

#search_form
  +clearfix
  padding: 0 0 0 160px
  margin: 0 0 15px 0
  #search_query
    +border-radius
    float: left
    background-color: #FFF
    border: 1px solid #CACACA
    font:
      size: 13px
      weight: normal
    height: 20px
    margin-right: 8px
    outline: 0
    padding: 4px 0 4px $results-padding-size - 1
    width: 545px

  #search_button
    +border-radius
    float: left
    font:
      size: 13px
      weight: bold
    margin: 0
    padding: 0
    text-transform: uppercase
    width: 90px
    height: 30px

#results
  float: left
  overflow: hidden
  display: inline
  padding-top: 8px
  width: 660px
  &.images, &.videos
    padding-top: 18px

  span.image_result
    width: 200px
    height: 200px
    margin: 0
    padding: 0
    text-align: center
    display: inline-block
    vertical-align: top

    img
      margin: 0
      padding: 5px
      border: 1px solid #CCC
      vertical-align: top
    a
      display: block
      font-size: 0.8em

  .pagination-and-logo
    clear: both
    height: 35px
    margin: 1.5em 0 0
    padding: 14px 0 14px $results-padding-size - 6px

  .pagination
    float: left
    font-size: 1em
    line-height: 1.5
    margin: 0
    padding: 0
    .disabled
      display: none
    em
      +border-radius(3px)
      font-style: normal
      padding: 2px 7px
    a, a:visited
      padding: 2px 7px
      text-decoration: none
      &:hover
        +border-radius(3px)

#left_column
  float: left
  width: 140px
  overflow: hidden
  display: inline
  padding: 3px 20px 0 0
  #popular_urls
    h3
      font-size: 1.1em
      margin: 0 0 7px
    ul
      margin: 0
      padding: 0
      list-style: none
      li
        margin: 0 0 7px
        a
          font-weight: normal
  ul.rss-feeds, ul.time-filters
    font-size: 1.1em
    margin: 0
    padding: 15px 0
    list-style: none
    li
      margin: 0
      width: 140px
      &:hover
        background-color: #F0F0F0
        +border-top-right-radius
        +border-bottom-right-radius
    a, div
      width: 118px
    a
      display: block
      font-weight: normal
      padding: 5px 4px 5px 18px
      text-decoration: none
    div
      border-width: 4px 0 4px 4px
      border-style: solid
      border-top-color: transparent
      border-bottom-color: transparent
      font-weight: bold
      padding: 1px 4px 1px 14px
      cursor: pointer

  ul.time-filters
    border-top: 1px solid #CACACA
* html #left_column
  ul.rss-feeds, ul.time-filters
    li
      div
        border-width: 0 0 0 4px
        padding: 5px 4px 5px 14px
      a:hover
        background-color: #F0F0F0

#results
  .searchresult
    margin-bottom: 1em
    padding-left: $results-padding-size
    &.blended
      :padding 0

  .searchresult  h2
    font-size: 1.4em
    font-weight: normal
    margin: 0
    span.uext_type
      font-size: 0.7em

  #indexed_documents
    margin-bottom: 1em
    #indexeddocresult1
      padding-top: 0
    .indexeddocresult h2
      font-size: 1.1em
      font-weight: normal
      margin: 0
      span.uext_type
        font-size: 0.7em

  .searchresult  h3
    font-size: 1.1em
    font-weight: normal
    margin: 0
    a
      text-decoration: none

  .searchresult h4
    margin: 3px 0
  .results-by-logo
    float: right

  .disabled
    color: white
    display: none

  .related-searches-wrapper-top, .indexed-documents-wrapper-top, .govbox-wrapper-top
    :background url(/images/backgrounds/related_topics_top.png) no-repeat 0 0
    :behavior url(/javascripts/iepngfix.htc)
    :height 8px
    :line-height 8px
    :margin-top 0.75em

  .related-searches-wrapper-bottom, .indexed-documents-wrapper-bottom, .govbox-wrapper-bottom
    :background url(/images/backgrounds/related_topics_bottom.png) no-repeat 0 0
    :behavior url(/javascripts/iepngfix.htc)
    :height 8px

  .related-searches-wrapper-middle, .indexed-documents-wrapper-middle, .govbox-wrapper-middle
    +clearfix
    :background url(/images/backgrounds/related_topics_middle.png) repeat-y 0 0
    :behavior url(/javascripts/iepngfix.htc)
    margin: 0
    padding: 0.8em $results-padding-size 0 0
    h3.alt
      font-size: 1.15em
      margin-top: 0
      margin-bottom: 0.5em
      margin-left: $results-padding-size
      span.recommended-by
        color: gray
        font:
          size: 0.9em
          style: italic
          weight: normal
    ul
      list-style: none
      margin: 0 0 0 $results-padding-size
      padding: 0
      width: 630px
      li
        float: left
        line-height: 1.2
        margin: 0
        padding: 0
        width: 312px

    .see-more-documents
      padding-left: $results-padding-size

  .results
    display: block
    overflow: hidden
    padding-left: 20em
    padding-right: 5em
    padding-top:   1em

  #boosted
    +border-radius
    border: 1px #ddd solid
    margin:
      top: 0
      bottom: 1em
    padding: $results-padding-top-size $results-padding-size 0
    background: #FFFFFF url(/images/bg.png) repeat-x scroll 0 -153px
    h3.alt
      font-size: 1.15em
      margin-top: 0
      span.recommended-by
        color: gray
        font:
          size: 0.9em
          style: italic
          weight: normal
    .searchresult
      padding-left: 0
    .see-more-documents
      margin-bottom: 10px

  .featured-collection
    +border-radius
    +clearfix
    border: 1px solid #DDD
    margin:
      top: 0
      bottom: 1em
    padding: $results-padding-top-size $results-padding-size
    background: #FFFFFF url(/images/bg.png) repeat-x scroll 0 -153px
    h2
      margin: 0 0 0.5em
      span.recommended-by
        color: gray
        font:
          size: 0.8em
          style: italic
          weight: normal
    .image
      float: left
      img
        display: block
        margin-bottom: 5px
      span
        font-weight: normal
        width: auto
        word-wrap: break-word
        &.attribution
          font-weight: normal
      a
        display: inline
        word-wrap: break-word
    ul
      float: left
      list-style: none
      margin: 0
      padding: 0
      li
        float: left
        line-height: 1.2
        margin: 0 0 3px 0
        padding: 0
    &.one-column-with-image
      .image
        width: 125px
      ul
        margin: 0 0 0 10px
        width: 490px
      li
        clear: left
        width: 100%
    &.one-column-without-image
      li
        clear: left
        width: 100%
    &.two-column-with-image
      .image
        width: 100px
      ul
        margin: 0 0 0 10px
        width: 515px
      li
        width: 49%
      li.left
        clear: left
        margin-right: 5px
    &.two-column-without-image
      ul
        width: 100%
      li
        width: 49%
      li.left
        clear: left
        margin-right: 5px


@import "govbox"

#search .page-not-found
  :margin 50px auto
  :text-align center
  :width 100%
  $element-width: 754px
  h3
    :line-height 26px
    :font
      :size 20px
      :weight bold
    &.message
      :margin 30px auto
      :text-align left
      :width $element-width
  .logo-wrapper
    :background url(/images/footer_line.gif) no-repeat center bottom
    :padding-bottom 15px
  .what-to-do-wrapper
    :margin 0 auto 35px
    :text-align left
    :width $element-width
    h3
      :margin 10px 0
    span
      :font-size 15px
    ul
      :line-height 18px
      :margin 0 0 35px 0
      :padding 0
      :text-align left
    li
      :font-size 15px
      :list-style-position inside
      :padding 0 0 0 3px
  #search_form
    :margin 10px auto 0
    padding: 0
.es #search .page-not-found
  .message, .what-to-do-wrapper
    :width 765px

.newsitem
  +clearfix
  h4
    font-size: 1em
  .thumbnail
    float: left
    padding-top: 3px
    margin-right: 10px
  .mixed
    margin-left: 130px

.newsitem.video
  +clearfix
  +inline-block
  font-size: 0.8em
  height: 165px
  margin-right: 10px
  width: 120px
  h4
    font-size: 1.25em

#video_news_items_govbox
  margin-bottom: 1em
  .newsitem.video
    +clearfix
    +inline-block
    font-size: 0.8em
    height: auto
    margin-top: 0.8em
    margin-right: 10px
    width: 120px
    h4
      font-size: 1.25em
      margin-bottom: 0

#news_items_govbox
  margin-bottom: 1em
  .newsitem
    margin-top: 0.8em
  #newsitem1
    padding-top: 0

#searchresult1
  &.first
    padding-top: $results-padding-top-size + 1
  &.blended
    padding-top: 0
#indexeddocresult1
  padding-top: $results-padding-top-size + 1
#newsitem1
  padding-top: $results-padding-top-size + 1
  &.video
    padding-top: 0

#search
  .connections-wrapper
    +clearfix
    margin-bottom: 15px
    padding-right: 10px
  .connections
    float: right
    font-size: 1.1em
    ul
      margin: 0
      padding: 0
    li
      display: inline
      list-style: none
    a
      border-left:
        style: solid
        width: 1px
      padding: 0 6px 0 8px
      text-decoration: none
      &.first
        border-left-width: 0
