@import "compass/utilities/general/clearfix"
@import "compass/css3/border-radius"
@import "compass/css3/inline-block"
@import "compass/typography/text/replacement"
$results-padding-size: 15px
$results-padding-left-size: 11px
$red: #990000
$green: #008000

body
  background-color: white
  margin: 0
  padding: 0
  text-align: center

#container
  +inline-block
  text-align: left

.with-content-border, .with-content-box-shadow
  #container
    min-width: 960px
    margin: 20px auto
    padding: 20px 0px

.with-content-border #container
  +border-radius(8px)

#search
  @include clearfix
  font-size: 0.75em
  margin: auto
  text-align: left
  width: 960px
  img
    border: 0
  h1
    +hide-text
    line-height: 0
    margin: 0
    padding: 0
  .hide
    display: none

#results
  float: left
  overflow: hidden
  display: inline
  width: 660px

  span.image_result
    width: 200px
    height: 200px
    margin: 0
    padding: 0
    text-align: center
    display: inline-block
    vertical-align: top

    img
      margin: 0
      padding: 5px
      border: 1px solid #CCC
      vertical-align: top
    a
      font-size: 0.8em
  .did-you-mean, .search-all-sites-suggestion
    padding-left: $results-padding-left-size

  .pagination-and-logo
    border-top: 1px solid #CACACA
    clear: both
    height: 35px
    margin: 1.5em 0 0
    padding: 14px 0 14px $results-padding-left-size - 6px

  .pagination
    float: left
    font-size: 1em
    margin: 0
    padding: 0
    .disabled
      display: none
    em
      @include border-radius(3px)
      font-style: normal
      padding: 3px 6px
    a, a:visited
      padding: 3px 6px
      text-decoration: none
      &:hover
        @include border-radius(3px)

#summary
  padding-left: $results-padding-left-size

#left_column
  float: left
  width: 200px
  overflow: hidden
  display: inline
  padding: 47px 20px 0 10px
  #popular_urls
    h3
      font-size: 1.1em
      margin: 0 0 7px
    ul
      margin: 0
      padding: 0
      list-style: none
      li
        margin: 0 0 7px
        a
          font-weight: normal
  ul.rss-feeds, ul.time-filters
    font-size: 1.1em
    margin: 0
    padding: 0 0 20px 0
    list-style: none
    li
      margin: 0 0 7px
      a
        font-weight: normal
      span
        font-weight: bold

#search_form
  @include clearfix
  margin: 0
  height: 60px
  width: 496px
  #search_query
    @include border-radius
    float: left
    background-color: #FFF
    border: 1px solid #CACACA
    font:
      size: 13px
      weight: normal
    height: 20px
    letter-spacing: 1px
    outline: 0
    padding: 4px 0 4px $results-padding-left-size - 1
    width: 380px

  #search_button
    @include border-radius
    float: right
    font:
      size: 13px
      weight: bold
    margin: 0
    padding: 0
    text-transform: uppercase
    width: 90px
    height: 30px
  .advancedsearch
    display: inline
    padding: 0 0 0 5px
    float: right
    margin-top: 5px

#results
  .searchresult
    margin-bottom: 1em
    padding-left: $results-padding-left-size
    &.blended
      :padding 0

  .searchresult  h2
    font-size: 1.4em
    font-weight: normal
    margin: 0
    span.uext_type
      font-size: 0.7em

  .searchresult  h3
    font-size: 1.1em
    font-weight: normal
    margin: 0
    a
      text-decoration: none

  .searchresult h4
    color: #595959
    margin: 3px 0

  .bing-logo
    float: right

  .disabled
    color: white
    display: none

  .related-searches-wrapper-middle
    @include border-radius
    @include clearfix
    border: 1px solid #DDD
    margin:
      top: 1em
      bottom: 1em
    padding: $results-padding-size $results-padding-left-size
    background: #FFFFFF url(/images/bg.png) repeat-x scroll 0 -153px
    h3
      font-size: 1.2em
      margin-top: 0
      span.recommended-by
        color: gray
        font:
          size: 0.9em
          style: italic
          weight: normal
    ul
      float: left
      list-style: none
      margin: 0
      padding: 0
      width: 630px
      li
        float: left
        line-height: 1.2
        margin: 0
        padding: 0
        width: 312px

  .results
    display: block
    overflow: hidden
    padding-left: 20em
    padding-right: 5em
    padding-top:   1em

  #boosted, #indexed_documents
    @include border-radius
    border: 1px #ddd solid
    margin:
      top: 1em
      bottom: 1em
    padding: $results-padding-size $results-padding-left-size 0 $results-padding-left-size
    background: #FFFFFF url(/images/bg.png) repeat-x scroll 0 -153px
    h3.alt
      font-size: 1.2em
      margin-top: 0
      span.recommended-by
        color: gray
        font:
          size: 0.9em
          style: italic
          weight: normal
    .searchresult
      padding-left: 0
    .see-more-documents
      margin-bottom: 10px

  .featured-collection
    @include border-radius
    @include clearfix
    border: 1px solid #DDD
    margin:
      top: 1em
      bottom: 1em
    padding: 1em $results-padding-left-size
    background: #FFFFFF url(/images/bg.png) repeat-x scroll 0 -153px
    h2
      margin: 0 0 0.5em
      span.recommended-by
        color: gray
        font:
          size: 0.8em
          style: italic
          weight: normal
    .image
      float: left
      img
        display: block
        margin-bottom: 5px
      span
        font-weight: normal
        width: auto
        word-wrap: break-word
        &.attribution
          font-weight: normal
      a
        display: inline
        word-wrap: break-word
    ul
      float: left
      list-style: none
      margin: 0
      padding: 0
      li
        float: left
        line-height: 1.2
        margin: 0
        padding: 0
    &.one-column-with-image
      .image
        width: 125px
      ul
        margin: 0 0 0 10px
        width: 500px
      li
        clear: left
        margin: 0
    &.one-column-without-image
      li
        clear: left
    &.two-column-with-image
      .image
        width: 100px
      ul
        margin: 0 0 0 10px
        width: 520px
      li
        width: 50%
      li.left
        clear: left
    &.two-column-without-image
      ul
        width: 630px
      li
        width: 50%
      li.left
        clear: left

@import "govbox"

#search .page-not-found
  :margin 50px auto
  :text-align center
  :width 100%
  $element-width: 754px
  h3
    :line-height 26px
    :font
      :size 20px
      :weight bold
    &.message
      :margin 30px auto
      :text-align left
      :width $element-width
  .logo-wrapper
    :background url(/images/footer_line.gif) no-repeat center bottom
    :padding-bottom 15px
  .what-to-do-wrapper
    :margin 0 auto 35px
    :text-align left
    :width $element-width
    h3
      :margin 10px 0
    span
      :font-size 15px
    ul
      :line-height 18px
      :margin 0 0 35px 0
      :padding 0
      :text-align left
    li
      :font-size 15px
      :list-style-position inside
      :padding 0 0 0 3px
  #search_form
    :margin 10px auto 0
    .advancedsearch
      :display none
.es #search .page-not-found
  .message, .what-to-do-wrapper
    :width 765px
