.span-24
  Select an email to send for
  %strong
    = "#{@user.contact_name} <#{@user.email}>"
%br{clear: 'all'}

%ul
  - @template_names.each do |template_name|
    %li
      = link_to(template_name, admin_email_merge_tags_path(@user, template_name))
