%p.tips
  = link_to "+ Domain Tips", "#domain_tips", :id => "domain_tips", :class => "sliding_trigger"
  %div#domain_tips_content.sliding_content
    %p.tips
      You do not need to include http:// as we recognize URLs with or without it.
      You also do not need to include subdirectories that are covered by higher level subdirectories. For instance,
      if you have yoursite.gov/pages as a domain, you don't need to also specify yoursite.gov/pages/es and yoursite.gov/pages/en,
      as they are both covered by the less specific entry.
    %p.tips
      Entire domain: List yoursite.gov (without www) to search your entire site, including all subdomains.
    %p.tips
      Part of site: List www.yoursite.gov to include only the top-level domain.
      List subagency.yoursite.gov to include lower-level domains
