---
http_interactions:
- request:
    method: get
    uri: https://search.gov/javascript-test.html
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Last-Modified:
      - Fri, 28 Oct 2022 18:42:59 GMT
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Server:
      - Cloud.gov Pages
      X-Vcap-Request-Id:
      - 3cfa9b85-bd75-42da-5b93-945fbb773e75
      Etag:
      - W/"d3b8a7c26d35b2ec207f0f8e58ca6413"
    body:
      encoding: UTF-8
      string: "\n\n<!DOCTYPE html>\n\n<html lang=\"en\">\n\n\n\n<head>\n  <!-- Basic
        Page Needs\n    ================================================== -->\n  <meta
        charset=\"utf-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n
        \ \n  <!-- Mobile Specific Metas\n    ==================================================
        -->\n  <meta name=\"HandheldFriendly\" content=\"True\">\n  <meta name=\"MobileOptimized\"
        content=\"320\">\n  <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0\">\n\n  <!-- Favicons\n    ==================================================
        -->\n  <link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"https://search.gov/assets/img/favicons/apple-touch-icon.png\">\n
        \ <link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"https://search.gov/assets/img/favicons/favicon-32x32.png\">\n
        \ <link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"https://search.gov/assets/img/favicons/favicon-16x16.png\">\n
        \ <link rel=\"manifest\" href=\"https://search.gov/assets/img/favicons/site.webmanifest\">\n
        \ <link rel=\"mask-icon\" href=\"https://search.gov/assets/img/favicons/safari-pinned-tab.svg\"
        color=\"#5bbad5\">\n  <link rel=\"shortcut icon\" href=\"https://search.gov/assets/img/favicons/favicon.ico\">\n
        \ <meta name=\"msapplication-TileColor\" content=\"#da532c\">\n  <meta name=\"msapplication-config\"
        content=\"https://search.gov/assets/img/favicons/browserconfig.xml\">\n  <meta
        name=\"theme-color\" content=\"#ffffff\">\n  <!-- CSS\n    ==================================================
        -->\n  <link rel=\"stylesheet\" type=\"text/css\" href=\"/assets/styles-5fdb9acceceb2aab4b57e8f60d17b9744799010243c6b21b58823c811ed8f0539703d776e89b8fd356e1d6183332d96d31470a838918c43981582e2bade68e48.css\"
        integrity=\"sha512-X9uazOzrKqtLV+j2DRe5dEeZAQJDxrIbWII8gR7Y8FOXA9d26JuP01bh1hgzMtltMUcKg4kYxDmBWC4rreaOSA==\"
        crossorigin=\"anonymous\">\n\n  <!-- Google Tag Manager -->\n    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\n
        \     new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\n
        \     j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n
        \     'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\n
        \     })(window,document,'script','dataLayer','GTM-N56JXGD');</script>\n  <!--
        End Google Tag Manager -->\n  <!-- Begin Jekyll SEO tag v2.8.0 -->\n<title>Search.gov</title>\n<meta
        name=\"generator\" content=\"Jekyll v4.2.2\" />\n<meta property=\"og:title\"
        content=\"Search.gov\" />\n<meta property=\"og:locale\" content=\"en_US\"
        />\n<link rel=\"canonical\" href=\"https://search.gov/javascript-test.html\"
        />\n<meta property=\"og:url\" content=\"https://search.gov/javascript-test.html\"
        />\n<meta property=\"og:site_name\" content=\"Search.gov\" />\n<meta property=\"og:type\"
        content=\"website\" />\n<meta name=\"twitter:card\" content=\"summary\" />\n<meta
        property=\"twitter:title\" content=\"Search.gov\" />\n<script type=\"application/ld+json\">\n{\"@context\":\"https://schema.org\",\"@type\":\"WebPage\",\"headline\":\"Search.gov\",\"url\":\"https://search.gov/javascript-test.html\"}</script>\n<!--
        End Jekyll SEO tag -->\n\n\n  <!-- Custom Fields -->\n  \n  \n  \n  <!-- End
        Custom Fields -->\n\n</head>\n\n\n<body>\n  \n\n<!-- Google Tag Manager (noscript)
        -->\n<noscript><iframe sandbox src=\"https://www.googletagmanager.com/ns.html?id=GTM-N56JXGD\"\n
        \ height=\"0\" width=\"0\" style=\"display:none;visibility:hidden\"></iframe></noscript>\n<!--
        End Google Tag Manager (noscript) -->\n\n<a class=\"usa-skipnav\" href=\"#main-content\">Skip
        to main content</a>\n<div class=\"usa-banner\">\n  <div class=\"usa-accordion\">\n
        \   <section\n      id=\"gov-banner-header-section\"\n      aria-label=\"USA
        Gov banner section header\"\n      class=\"usa-banner__header\"\n    >\n      <div
        class=\"usa-banner__inner\">\n        <div class=\"grid-col-auto\">\n          <img
        class=\"usa-banner__header-flag\" alt=\"U.S. flag\" integrity=\"sha512-uSWIIwOanmGwp0KJV/SGYmxhjWDg9ngjQ1Er+SjC3gRGZtxXhzLTsifgPfZyDMGGL6Vyn3KQ5RmTWApj8sRY8A==\"
        crossorigin=\"anonymous\" src=\"/assets/img/us_flag_small-b9258823039a9e61b0a7428957f486626c618d60e0f6782343512bf928c2de044666dc578732d3b227e03df6720cc1862fa5729f7290e51993580a63f2c458f0.png\">\n
        \       </div>\n        <div class=\"grid-col-fill tablet:grid-col-auto\">\n
        \         <p class=\"usa-banner__header-text\">\n            An official website
        of the United States government\n          </p>\n          <p class=\"usa-banner__header-action\"
        aria-hidden=\"true\">\n            Here’s how you know\n          </p>\n        </div>\n
        \       <button\n          class=\"usa-accordion__button usa-banner__button\"\n
        \         aria-expanded=\"false\"\n          aria-controls=\"gov-banner\"\n
        \       >\n          <span class=\"usa-banner__button-text\">Here's how you
        know</span>\n        </button>\n      </div>\n    </section>\n    <div class=\"usa-banner__content
        usa-accordion__content\" id=\"gov-banner\">\n      <div class=\"grid-row grid-gap-lg\">\n
        \       <div class=\"usa-banner__guidance tablet:grid-col-6\">\n          <img
        class=\"usa-banner__icon\n          usa-media-block__img\" alt=\"Dot gov\"
        integrity=\"sha512-fSYGEfY4VE+QwNhsxp+pjVWfkGQNZF1RIsjIcTK2tMT2kwb338iJPzSNonq1aO62h4S8102d90nk5+ksggTL9Q==\"
        crossorigin=\"anonymous\" src=\"/assets/img/icon-dot-gov-7d260611f638544f90c0d86cc69fa98d559f90640d645d5122c8c87132b6b4c4f69306f7dfc8893f348da27ab568eeb68784bcd74d9df749e4e7e92c8204cbf5.svg\">\n
        \         <div class=\"usa-media-block__body\">\n            <p>\n              <strong>The
        .gov means it’s official.</strong>\n              <br />\n              Federal
        government websites often end in .gov or .mil. Before\n              sharing
        sensitive information, make sure you’re on a federal\n              government
        site.\n            </p>\n          </div>\n        </div>\n        <div class=\"usa-banner__guidance
        tablet:grid-col-6\">\n          <img class=\"usa-banner__icon\n          usa-media-block__img\"
        alt=\"Https\" integrity=\"sha512-FU6sa4/cQsh+FNHPDA6iCZQe6OyrI7Xazfd204sdikCyCHhqjniJVKIcG4BgACPwvynfb/2SyQlRtkzkmUB9hQ==\"
        crossorigin=\"anonymous\" src=\"/assets/img/icon-https-154eac6b8fdc42c87e14d1cf0c0ea209941ee8ecab23b5dacdf776d38b1d8a40b208786a8e788954a21c1b80600023f0bf29df6ffd92c90951b64ce499407d85.svg\">\n
        \         <div class=\"usa-media-block__body\">\n            <p>\n              <strong>The
        site is secure.</strong>\n              <br />\n              The <strong>https://</strong>
        ensures that you are connecting to\n              the official website and
        that any information you provide is\n              encrypted and transmitted
        securely.\n            </p>\n          </div>\n        </div>\n      </div>\n
        \   </div>\n  </div>\n</div>\n<div class=\"usa-overlay\"></div>\n\n\n  \n\n<header
        class=\"usa-header usa-header--extended\" role=\"banner\">\n  <div class=\"usa-navbar\">\n
        \   <div class=\"usa-logo\">\n  <em class=\"usa-logo__text\">\n    <a href=\"/\"
        title=\"Home\" aria-label=\"Home\">\n      <img class=\"logo\" alt=\"Search.gov
        Logo\" width=\"30\" height=\"30\" integrity=\"sha512-DJi9d6vzVwoTEtgwxCjs1zqCJapeSSH8ynpQ6ZhsVuvU1+57p5/uHCJ40bAoLaiYHrz5g5R9wdQzWFmod9sQAA==\"
        crossorigin=\"anonymous\" src=\"/assets/mag-white-0c98bd77abf3570a1312d830c428ecd73a8225aa5e4921fcca7a50e9986c56ebd4d7ee7ba79fee1c2278d1b0282da8981ebcf983947dc1d4335859a877db1000.svg\">\n
        \     <span>search.gov</span>\n    </a>\n  </em>\n</div>\n\n    <button class=\"usa-menu-btn\">Menu</button>\n
        \ </div>\n  <nav role=\"navigation\" class=\"usa-nav\">\n    <div class=\"usa-nav__inner\">\n
        \     <button class=\"usa-nav__close\"><img alt=\"close\" integrity=\"sha512-XLawNnedFKdaFdJhoad/TAQHLO1XHwSyvZVlVpXieNmk80S974//1mU5khr0OXVTGH4H3k6mTs9tVP/J6fPoFw==\"
        crossorigin=\"anonymous\" src=\"/assets/img/close-5cb6b036779d14a75a15d261a1a77f4c04072ced571f04b2bd95655695e278d9a4f344bdef8fffd66539921af4397553187e07de4ea64ecf6d54ffc9e9f3e817.svg\"></button>\n
        \     <ul class=\"usa-nav__primary usa-accordion\">\n        \n        \n
        \       \n        <li class=\"usa-nav__primary-item\">\n          <button
        class=\"usa-accordion__button usa-nav__link\" aria-expanded=\"false\"\n            aria-controls=\"primary-nav-1\"><span>About
        Us</span></button>\n          <ul id=\"primary-nav-1\" class=\"usa-nav__submenu\">\n
        \           \n            <li class=\"usa-nav__submenu-item\">\n              <a
        href=\"/about/\">About Us</a>\n            </li>\n            \n            <li
        class=\"usa-nav__submenu-item\">\n [...]
