---
http_interactions:
- request:
    method: get
    uri: https://search.gov/javascript-test.html
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - W/"b0b9cea75b1bb3bd48008aa83b39fc52"
      Last-Modified:
      - Wed, 13 Dec 2023 13:26:12 GMT
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Server:
      - Cloud.gov Pages
      X-Vcap-Request-Id:
      - 981448d0-098e-4d64-76a8-84835331e46f
    body:
      encoding: UTF-8
      string: "\n\n<!DOCTYPE html>\n<html lang=\"en\">\n\n\n\n<head>\n  <!-- Basic
        Page Needs\n    ================================================== -->\n  <meta
        charset=\"utf-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n
        \ \n  <!-- Mobile Specific Metas\n    ==================================================
        -->\n  <meta name=\"HandheldFriendly\" content=\"True\">\n  <meta name=\"MobileOptimized\"
        content=\"320\">\n  <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0\">\n\n  <!-- Favicons\n    ==================================================
        -->\n  <link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"https://search.gov/assets/img/favicons/apple-touch-icon.png\">\n
        \ <link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"https://search.gov/assets/img/favicons/favicon-32x32.png\">\n
        \ <link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"https://search.gov/assets/img/favicon-16x16.png\">\n
        \ <link rel=\"manifest\" href=\"https://search.gov/assets/img/favicons/site.webmanifest\">\n
        \ <link rel=\"mask-icon\" href=\"https://search.gov/assets/img/favicons/safari-pinned-tab.svg\"
        color=\"#5bbad5\">\n  <link rel=\"shortcut icon\" href=\"https://search.gov/assets/img/favicons/favicon.ico\">\n
        \ <meta name=\"msapplication-TileColor\" content=\"#da532c\">\n  <meta name=\"msapplication-config\"
        content=\"https://search.gov/assets/img/favicons/browserconfig.xml\">\n  <meta
        name=\"theme-color\" content=\"#ffffff\">\n  <!-- CSS\n    ==================================================
        -->\n  <link type=\"text/css\" href=\"/assets/css/styles.css\" rel=\"stylesheet\"
        />\n\n  <!-- Google Tag Manager -->\n    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\n
        \     new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\n
        \     j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n
        \     'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\n
        \     })(window,document,'script','dataLayer','GTM-N56JXGD');</script>\n  <!--
        End Google Tag Manager -->\n  <!-- Begin Jekyll SEO tag v2.8.0 -->\n<title>Search.gov</title>\n<meta
        name=\"generator\" content=\"Jekyll v4.3.2\" />\n<meta property=\"og:title\"
        content=\"Search.gov\" />\n<meta property=\"og:locale\" content=\"en_US\"
        />\n<link rel=\"canonical\" href=\"https://search.gov/javascript-test.html\"
        />\n<meta property=\"og:url\" content=\"https://search.gov/javascript-test.html\"
        />\n<meta property=\"og:site_name\" content=\"Search.gov\" />\n<meta property=\"og:type\"
        content=\"website\" />\n<meta name=\"twitter:card\" content=\"summary\" />\n<meta
        property=\"twitter:title\" content=\"Search.gov\" />\n<script type=\"application/ld+json\">\n{\"@context\":\"https://schema.org\",\"@type\":\"WebPage\",\"headline\":\"Search.gov\",\"url\":\"https://search.gov/javascript-test.html\"}</script>\n<!--
        End Jekyll SEO tag -->\n\n\n  <!-- Custom Fields -->\n  \n  \n  \n  <!-- End
        Custom Fields -->\n\n</head>\n\n\n<body>\n  \n\n<!-- Google Tag Manager (noscript)
        -->\n<noscript><iframe sandbox src=\"https://www.googletagmanager.com/ns.html?id=GTM-N56JXGD\"\n
        \ height=\"0\" width=\"0\" style=\"display:none;visibility:hidden\"></iframe></noscript>\n<!--
        End Google Tag Manager (noscript) -->\n\n<a class=\"usa-skipnav\" href=\"#main-content\">Skip
        to main content</a>\n<div class=\"usa-banner\">\n  <div class=\"usa-accordion\">\n
        \   <section\n      id=\"gov-banner-header-section\"\n      aria-label=\"USA
        Gov banner section header\"\n      class=\"usa-banner__header\"\n    >\n      <div
        class=\"usa-banner__inner\">\n        <div class=\"grid-col-auto\">\n          <img
        src=\"/assets/uswds/img/us_flag_small.png\" class=\"usa-banner__header-flag\"
        alt=\"U.S. flag\" />\n        </div>\n        <div class=\"grid-col-fill tablet:grid-col-auto\">\n
        \         <p class=\"usa-banner__header-text\">\n            An official website
        of the United States government\n          </p>\n          <p class=\"usa-banner__header-action\"
        aria-hidden=\"true\">\n            Here’s how you know\n          </p>\n        </div>\n
        \       <button\n          class=\"usa-accordion__button usa-banner__button\"\n
        \         aria-expanded=\"<DATADOG_API_ENABLED>\"\n          aria-controls=\"gov-banner\"\n
        \       >\n          <span class=\"usa-banner__button-text\">Here's how you
        know</span>\n        </button>\n      </div>\n    </section>\n    <div class=\"usa-banner__content
        usa-accordion__content\" id=\"gov-banner\">\n      <div class=\"grid-row grid-gap-lg\">\n
        \       <div class=\"usa-banner__guidance tablet:grid-col-6\">\n          <img
        src=\"/assets/uswds/img/icon-dot-gov.svg\" class=\"usa-banner__icon usa-media-block__img\"
        alt=\"Dot gov\" />\n          <div class=\"usa-media-block__body\">\n            <p>\n
        \             <strong>Official websites use .gov</strong><br />A\n              <strong>.gov</strong>
        website belongs to an official government\n              organization in the
        United States.\n            </p>\n          </div>\n        </div>\n        <div
        class=\"usa-banner__guidance tablet:grid-col-6\">\n          <img src=\"/assets/uswds/img/icon-https.svg\"
        class=\"usa-banner__icon usa-media-block__img\" alt=\"Https\" />\n          <div
        class=\"usa-media-block__body\">\n            <p>\n              <strong>Secure
        .gov websites use HTTPS</strong><br />A\n              <strong>lock</strong>
        (\n              <span class=\"icon-lock\"\n                ><svg\n                  xmlns=\"http://www.w3.org/2000/svg\"\n
        \                 width=\"52\"\n                  height=[...]
