:markdown

  ### Technical Documentation

  The i14y Content Indexing API allows you to send content directly into Search.gov's indexes.

  We offer a [Drupal module](https://www.drupal.org/project/usasearch) that connects your Drupal CMS directly to our API.

  Even if you don’t have a Drupal CMS, you can develop software to publish your content. Review our [i14y API technical documentation](https://search.gov/developer/indexing-api.html).

  ### FAQs

  View our [Getting Started with i14y](https://search.gov/developer/i14y.html) page for a full description of the feature and a go-live checklist.

  ### i14y Drawers
