= content_for_site_page_title @site, 'i14y Content Indexing API Instructions'
.sub-nav-heading
  %h2 i14y Content Indexing API Instructions
  .action-bar
    %ul
      = list_item_with_link_to_current_help_page

.api-instruction
  = render partial: 'show_md'

%p
  You can manage your i14y drawers
  = link_to "here", site_i14y_drawers_path(@site)
  and see the secret tokens you'll use for API calls.