---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3EF3B00BA43D40CE8DC2CE95640D3785
      X-Msedge-Clientid:
      - 1425A5F604F66A071F6FA91705216B5D
      X-Msapi-Userstate:
      - c15e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1B3F6A55FE674BCB8C658AA25F9FB966&CID=1425A5F604F66A071F6FA91705216B5D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1B3F6A55FE674BCB8C658AA25F9FB966&CID=1425A5F604F66A071F6FA91705216B5D&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5240.1", "totalEstimatedMatches": 142, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Food
        Assistance | USAGov", "url": "https:\/\/www.usa.gov\/food-help", "urlPingSuffix":
        "DevEx,5054.1", "displayUrl": "https:\/\/www.usa.gov\/food-help", "snippet":
        "Many low-income women and young children can get healthy food to add to
        their diet. It’s available through the Special Supplemental Nutrition Program
        for Women, Infants and Children (WIC). WIC also offers nutrition counseling
        and referrals to health, welfare, and social services.", "dateLastCrawled":
        "2019-01-11T15:35:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Health | USAGov", "url": "https:\/\/www.usa.gov\/health", "urlPingSuffix":
        "DevEx,5067.1", "displayUrl": "https:\/\/www.usa.gov\/health", "snippet":
        "Health Information from the Government. Learn more about the best ways
        to find health information from the government. Health Insurance. Learn
        about health insurance, including Medicaid [...]
