.form {
  margin: 20px 0;

  label {
    font-weight: bold;
  }

  .help-block {
    .muted;
    width: 360px;
  }

  input[type='text'] {
    width: 360px;
  }

  input.required {
    font-size: @baseFontSize * 1.25;
    padding: 12px 6px;
  }

  .field_with_errors input[type='text'] {
    border-color: @errorBorder;
  }
}
