.navbar {
  .navbar-fixed-top;
  .navbar-inverse;

  .navbar-inner {
    .navbar-fixed-top > .navbar-inner;
    .box-shadow(none);
    border-width: 0;
    padding-right: @navbarPaddingWidth;
    padding-left: @navbarPaddingWidth;
  }
}

.navbar .nav .active {
  > a, > a:hover, > a:focus {
    .box-shadow(none);
    background-color: inherit;
  }
}

#navbar .brand {
  i {
    color: #ff9232;
  }
  span.usa {
    color: #049cdb;
  }
  span.search {
    color: #ff9232;
  }
}

#navbar .navbar-search {
  .input-append {
    margin-bottom: 5px;
  }
  #query {
    .navbar-search .search-query;
    .border-right-radius(0);
    .border-left-radius(4px);
    .box-shadow(none);
    background-color: @white;
    border: none;
    color: @gray;
    height: 20px;
    transition: none;
  }
  .submit {
    .hide-text();
    background-color: #FF9232;
    background-image: asset-data-url('searches/search_button.png');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    height: 28px;
    padding: 4px 6px;
    width: 32px;
  }
}

#navbar ul.nav.auth {
  .pull-right;
  margin-right: 0;
  max-width: 300px;
}

#navbar .nav > li > .dropdown-menu {
  margin-top: 4px;
}
