#edit-display {
  h3 {
    margin: 0;
  }
}

#related-sites, #sidebar {
  .table-draggable();
}

#related-sites {
  margin-bottom: 5px;

  colspan.site-name {
    width: 30%;
  }

  colspan.site-label {
    width: 60%;
  }

  td.site-name input[type="text"] {
    width: 85%;
  }
}
