#related-sites, #sidebar {
  .table-draggable();
}

#related-sites {
  margin-bottom: 5px;

  colspan.site-name {
    width: 30%;
  }

  colspan.site-label {
    width: 60%;
  }

  td.site-name input[type="text"] {
    width: 85%;
  }
}

#edit-image-assets {
  .image {
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

#edit-font-and-colors {
  position: relative;
  width: 58%;

}

#header-links, #footer-links {
  .table-draggable();
  margin-bottom: 5px;

  td.title {
    .table-draggable .with-drag-icon();
  }
}

#edit-header-and-footer {
  .trigger-wrapper {
    margin-bottom: 20px;
  }

  .action-bar .btn-group .description {
    .off-screen-text();
  }
}
td.actions ul.action-buttons {
  display: flex;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  list-style: none;
}
td.actions ul.action-buttons li {
  margin: 0;
}
td.actions ul.action-buttons li form {
  display: inline-block;
  margin: 0;
}
