.l-site-header {
  background-color: @white;
  z-index: @zindexStickyBar;
}
.l-site-header-inner {
  .clearfix();
  border-bottom: 1px solid @siteMainNavBackground;
  height: 60px;
  padding-right: 28px;
  padding-left: 20px;

  .site-display-name {
    .muted();
    overflow: hidden;
    font-size: (@baseFontSize * 1.1);
    line-height: 20px;
    padding: 20px 0 0;
    > span.label {
      .off-screen-text();
    }
  }

  h1 {
    .muted();
    float: right;
    font-weight: normal;
    margin-left: 10px;
    .beta {
      .label();
      background-color: @errorText;
      font-size: @baseFontSize;
    }
  }
}

#pin-site {
  display: inline-block;
  .ie7-inline-block();
  margin: 0;
  padding: 0;

  .btn {
    .muted();
    .opacity(65);
    background: none;
    border-width: 0;
    margin: 0;
    padding: 0;

    &:hover, &:focus {
      .opacity(100);
    }

    &.disabled {
      color: #FF9232;
      .opacity(100);
    }
  }

  .description {
    .off-screen-text();
  }
}

#envelope-snapshot-toggle {
  display: inline-block;
  .ie7-inline-block();
  margin: 0;
  padding: 0;

  .btn {
    .opacity(33);
    background: none;
    border-width: 0;
    margin: 0;
    padding: 0;

    &:hover, &:focus {
      .opacity(100);
    }

    &.disabled {
      .opacity(100);
      color: #FF9232;
    }
  }

  .description {
    .off-screen-text();
  }
}

