#navbar .brand {
  i {
    color: #ff9232;
  }
  span.usa {
    color: #049cdb;
  }
  span.search {
    color: #ff9232;
  }
}

#navbar .site-select-item {
  line-height: 36px;
  label {
    .off-screen-text();
  }
}

#navbar .site-select {
  width: 260px;
}

#navbar ul.nav.auth {
  .pull-right();
  margin-right: 0;
  max-width: 300px;
}

#navbar .nav > li > .dropdown-menu {
  margin-top: 4px;
}
