ul.navigation_tabs {
  margin-left: 0px;
  list-style-type: none;
  padding: 0px;
  > li {
    display: inline-block;
    .ie7-inline-block();
    > h3 {
      padding-right: 25px;
      > a {
        color: #005ea2;
        text-decoration: underline;
      }
      > a:hover {
        color: darken(#005ea2, 15%);
      }
    }
  }
}
