#select2-drop .select2-search .select2-input {
  width: 200px;
}

.l-site-nav.main .nav > li > a {
  vertical-align: top;
}

.sub-nav-heading {
  height: 56px;
  .action-bar li a {
    line-height: 46px;
  }
}

.font-colors-wrapper {
  min-width: 245px;
  position: fixed;
  left: auto;
  width: 245px;
}

#preview-font-colors {
  .serp-search-box {
    padding: 0 10px 10px;

    input[type='text'] {
      width: 140px;
    }

    .btn-search {
      padding: 8px 10px;
    }
  }
}

#preview .navbar {
  a {
    background-color: transparent;
  }
  .close {
    height: 35px;
    padding: 0;
  }
}

.form .table {
  th, td {
    padding-left: 0px;
  }
}

.form #queries_request_query {
  width: 160px;
}
