---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=***REMOVED***&q=dg_search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="***REMOVED***"
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-remaining:
      - '4999'
      content-language:
      - en
      x-ratelimit-limit:
      - '5000'
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 200}, "data": [{"username": "dg_search", "profile_picture":
        "http://scontent.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "id": "1317698369", "full_name": ""}, {"username": "dgsearcher", "profile_picture":
        "http://scontent.cdninstagram.com/t51.2885-19/11378597_862505030511034_205581992_a.jpg",
        "id": "1913012169", "full_name": ""}, {"username": "dgsearch", "profile_picture":
        "http://scontent.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "id": "1222880656", "full_name": ""}, {"username": "searchdg", "profile_picture":
        "http://scontent.cdninstagram.com/t51.2885-19/11243727_1679843655583714_1185491298_a.jpg",
        "id": "531559873", "full_name": "Search"}, {"username": "searchqdg", "profile_picture":
        "http://scontent.cdninstagram.com/t51.2885-19/11312154_1050143131662725_2024897483_a.jpg",
        "id": "313306362", "full_name": "Search"}, {"username": "researchersdg", "profile_picture":
        "http://scontent.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "id": "1014081576", "full_name": "BBC news"}]}'
  recorded_at: Thu, 12 May 2016 20:27:50 GMT
[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=***REMOVED***&q=dg_search101
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="***REMOVED***"
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-remaining:
      - '4997'
      content-language:
      - en
      x-ratelimit-limit:
      - '5000'
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 200}, "data": []}'
  recorded_at: Thu, 12 May 2016 20:27:51 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=***REMOVED***&q=whitehouse
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="***REMOVED***"
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-remaining:
      - '4996'
      content-language:
      - en
      x-ratelimit-limit:
      - '5000'
      content-type:
      - application/json; charset=utf-8
    bod[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=***REMOVED***&q=thisisaninstagramprofilethatshouldnotexist31415
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="***REMOVED***"
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-remaining:
      - '4995'
      content-language:
      - en
      x-ratelimit-limit:
      - '5000'
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 200}, "data": []}'
  recorded_at: Thu, 12 May 2016 20:27:54 GMT
recorded_with: VCR 3.0.1
