---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=dg_search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="***REMOVED***", oauth_nonce="9e801a451355e34bc480d5f8e17d2b4f",
        oauth_signature="xFFc4VvfCE1KLCQg0nAI%2Bw7O69o%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1463084909", oauth_token="***REMOVED***",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: 
    headers:
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json;charset=utf-8
      last-modified:
      - Thu, 12 May 2016 20:28:29 GMT
      status:
      - 200 OK
      x-access-level:
      - read
      x-connection-hash:
      - 810b9e11d257a09e1e7798fef5094978
      x-rate-limit-limit:
      - '181'
      x-rate-limit-remaining:
      - '180'
      x-rate-limit-reset:
      - '1463085809'
      x-response-time:
      - '46'
      x-transaction:
      - 61761235ae5f1a25
      x-twitter-response-tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"id":260266634,"id_str":"260266634","name":"DigitalGov Search","screen_name":"DG_Search","location":"Washington,
        DC","profile_location":null,"description":"We deliver fast, relevant search
        results for your government website\u2014at no cost.","url":"http:\/\/t.co\/5tjjMHLOYf","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/5tjjMHLOYf","expanded_url":"http:\/\/search.digitalgov.gov","display_url":"search.digitalgov.gov","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":336,"friends_count":38,"listed_count":10,"created_at":"Thu
        Mar 03 14:55:45 +0000 2011","favourites_count":10,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":320,"lang":"en","status":{"created_at":"Thu
        Mar 24 18:57:31 +0000 2016","id":713077302159085569,"id_str":"713077302159085569","text":"Attention
        @DG_Search followers: we are no longer using this account. Please get in touch
        with us at @Digital_Gov!","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"DG_Search","name":"DigitalGov
        Search","id":260266634,"id_str":"260266634","indices":[10,20]},{"screen_name":"Digital_Gov","name":"DigitalGov","id":137454693,"id_str":"137454693","indices":[100,112]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F7F7F7","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme13\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme13\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/435885360233451520\/Jxa2_vfi_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/435885360233451520\/Jxa2_vfi_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/260266634\/1404308915","profile_link_color":"000000","profile_sidebar_border_color":"EEEEEE","profile_sidebar_fill_color":"FFFFFF","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Thu, 12 May 2016 20:28:29 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=usasearch101
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="***REMOVED***", oauth_nonce="49f8eb037bb911108986a1f80fb79261",
        oauth_signature="UmthBAnguJNCZUf1Zr32xgxN8nE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1463084910", oauth_token="***REMOVED***",
        oauth_version="1.0"
  response:
    status:
      code: 404
      message: 
    headers:
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Thu, 12 May 2016 20:28:30 GMT
      status:
      - 404 Not Found
      x-connection-hash:
      - 7136df1195ffe9e082e14648c09783dd
      x-rate-limit-limit:
      - '181'
      x-rate-limit-remaining:
      - '179'
      x-rate-limit-reset:
      - '1463085809'
      x-response-time:
      - '16'
      x-transaction:
      - e2edf39cec7fe62c
      x-twitter-response-tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":50,"message":"User not found."}]}'
  recorded_at: Thu, 12 May 2016 20:28:30 GMT
recorded_with: VCR 3.0.1
