---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sailing%20dingies&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 916C7BB99F004B2EA17D194202320402
      X-Msedge-Clientid:
      - 372F1CC136E86E29062E174737476F45
      X-Msapi-Userstate:
      - 4c96
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1CAF3972DBAC42898B6A16FE142EDE9D&CID=372F1CC136E86E29062E174737476F45&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1CAF3972DBAC42898B6A16FE142EDE9D&CID=372F1CC136E86E29062E174737476F45&Type=Event.CPT&DATA=0"},
        "queryContext": {"originalQuery": "sailing dingies", "alteredQuery": "sailing
        dinghies", "alterationOverrideQuery": "+sailing dingies", "adultIntent": false},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sailing+dingies",
        "webSearchUrlPingSuffix": "DevEx,5614.1", "totalEstimatedMatches": 9710000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Dinghy sailing - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/Dinghy_sailing",
        "urlPingSuffix": "DevEx,5109.1", "about": [{"name": "Dinghy sailing"}, {"name":
        "Dinghy sailing"}], "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/Dinghy_sailing",
        "snippet": "Dinghy sailing is the activity of sailing small boats by using
        five essential controls: the sails; the foils (i.e. the daggerboard or centreboard
        and rudder and ...", "deepLinks": [{"name": "Optimist", "url": "https:\/\/en.wikipedia.org\/wiki\/Optimist_(dinghy)",
        "urlPingSuffix": "DevEx,5098.1"}, {"name": "Development of the dinghy", "url":
        "https:\/\/en.wikipedia.org\/wiki\/Dinghy_sailing#Development_of_the_dinghy",
        "urlPingSuffix": "DevEx,5099.1", "snippet": "There has always been a need
        for small tender boats for transporting goods and personnel to and from anchored
        sailing ships. Together with other smaller work craft such as f[...]
