---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=11&q=anything&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8D7919C48E1548B9B432C4F987C17466
      X-Msedge-Clientid:
      - 101CB123DB976D341AC6BBE0DA006C69
      X-Msapi-Userstate:
      - 1e13
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=EB4E4174DAAB4D93A4A8E059B92BE996&CID=101CB123DB976D341AC6BBE0DA006C69&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=EB4E4174DAAB4D93A4A8E059B92BE996&CID=101CB123DB976D341AC6BBE0DA006C69&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=anything",
        "webSearchUrlPingSuffix": "DevEx,5354.1", "totalEstimatedMatches": 137000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "anything - English-French Dictionary WordReference.com", "url": "http:\/\/www.wordreference.com\/enfr\/anything",
        "urlPingSuffix": "DevEx,5058.1", "displayUrl": "www.wordreference.com\/enfr\/anything",
        "snippet": "anything - traduction anglais-français. Forums pour discuter de
        anything, voir ses formes composées, des exemples et poser vos questions.
        Gratuit.", "dateLastCrawled": "2017-07-11T06:30:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Dramarama - Anything Anything - YouTube", "url": "http:\/\/www.youtube.com\/watch?v=B9V2OpsTbAw",
        "urlPingSuffix": "DevEx,5087.1", "about": [{"name": "Anything, Anything (I''ll
        Give You)"}, {"name": "Dramarama"}], "displayUrl": "www.youtube.com\/watch?v=B9V2OpsTbAw",
        "snippet": "Blue Oyster Cult - (Don''t Fear) The Reaper 1976 [Studio Version]cowbell
        link in description - Duration: 5:10. DEATHEXISTFOREVER 30,231,475 views",
        "dateLastCrawled": "2017-07-14T02:48:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "Anything (3T song) - Wikipedia", "url": "https:\/\/[...]
