---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=%E4%B8%AD%E5%9B%BD&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0DF1FB8D82144B428DB1DAA6EFF2856D
      X-Msedge-Clientid:
      - 296C72DF89C265CD111579D78855640D
      X-Msapi-Userstate:
      - da2e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=60A0EEC0090D41119C52278DAA697AE9&CID=296C72DF89C265CD111579D78855640D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=60A0EEC0090D41119C52278DAA697AE9&CID=296C72DF89C265CD111579D78855640D&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%e4%b8%ad%e5%9b%bd",
        "webSearchUrlPingSuffix": "DevEx,5545.1", "totalEstimatedMatches": 333000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "China - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/China", "urlPingSuffix":
        "DevEx,5096.1", "about": [{"name": "China"}], "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/China",
        "snippet": ".中国; China, officially the People''s Republic of China (PRC),
        ...", "dateLastCrawled": "2017-09-21T20:55:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "中國 - 维基百科，自由的百科全书", "url": "https:\/\/zh.wikipedia.org\/wiki\/%E4%B8%AD%E5%9C%8B",
        "urlPingSuffix": "DevEx,5117.1", "displayUrl": "https:\/\/zh.wikipedia.org\/wiki\/中國",
        "snippet": "中國，為中国历史上历朝历代政權的統稱。中國的稱號最早见于西周，是指以洛陽盆地為中心的中原地區 ，與四夷相對，後 ...",
        "dateLastCrawled": "2017-09-17T11:35:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "na[...]
