---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=%E4%B8%AD%E5%9B%BD&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8808FCE1DAB1414083CFD2050A2B8BA3
      X-Msedge-Clientid:
      - 0BA89F7AB0776C661CD695B9B1E06DA6
      X-Msapi-Userstate:
      - a465
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=969160D54DAD48E2A98A4F1F1C80B907&CID=0BA89F7AB0776C661CD695B9B1E06DA6&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=969160D54DAD48E2A98A4F1F1C80B907&CID=0BA89F7AB0776C661CD695B9B1E06DA6&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%e4%b8%ad%e5%9b%bd",
        "webSearchUrlPingSuffix": "DevEx,5471.1", "totalEstimatedMatches": 504000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "China - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/China", "urlPingSuffix":
        "DevEx,5082.1", "about": [{"name": "China"}], "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/China",
        "snippet": ".中国; China, officially the People''s Republic of China (PRC),
        is a unitary sovereign state in East Asia and the world''s most populous country,
        with a population of ...", "dateLastCrawled": "2017-07-14T21:00:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "中華人民共和国
        - Wikipedia", "url": "https:\/\/ja.wikipedia.org\/wiki\/%E4%B8%AD%E8%8F%AF%E4%BA%BA%E6%B0%91%E5%85%B1%E5%92%8C%E5%9B%BD",
        "urlPingSuffix": "DevEx,5101.1", "about": [{"name": "China"}], "displayUrl":
        "https:\/\/ja.wikipedia.org\/wiki\/中華人民共和国", "snippet": "中国暦の新年。中国暦の12月30日（前年）、1月1日、1月2
        ...", "dateLastCrawled": "2017-07-14T12:15:00.0000000Z"}, {"id"[...]
