---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - EE932E685B31412FBFA134C1CB37C49A
      X-Msedge-Clientid:
      - 19FF554A01FD63360C6C5ECC0052620E
      X-Msapi-Userstate:
      - c378
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D9C9FA46950D4AA391DC858C56C70AB7&CID=19FF554A01FD63360C6C5ECC0052620E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D9C9FA46950D4AA391DC858C56C70AB7&CID=19FF554A01FD63360C6C5ECC0052620E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english", "webSearchUrlPingSuffix":
        "DevEx,5547.1", "totalEstimatedMatches": 88600000, "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0",
        "name": "English language - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/English_language",
        "urlPingSuffix": "DevEx,5104.1", "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/English_language",
        "snippet": "English is an Indo-European language, and belongs to the West
        Germanic group of the Germanic languages. Old English originated from a Germanic
        tribal and linguistic ...", "deepLinks": [{"name": "Classification", "url":
        "https:\/\/en.wikipedia.org\/wiki\/English_language#Classification", "urlPingSuffix":
        "DevEx,5092.1", "snippet": "English is an Indo-European language, and belongs
        to the West Germanic group of the Germanic languages. Old English originated
        from a Germanic tribal and linguistic continuum along the coast of the North
        Sea, whose languages are now known as the Anglo-Frisian subgroup within West
        Germanic. As such, th[...]
