---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - b1rd1sth3p4ssw0rd
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 51E0B4D8196A4F228220064870D13DE8
      X-Msedge-Clientid:
      - 18543E3CE8B56C9110603260E9626D6C
      X-Msapi-Userstate:
      - c2c2
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5FE48C8E719248F2A57103F3D6F83903&CID=18543E3CE8B56C9110603260E9626D6C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5FE48C8E719248F2A57103F3D6F83903&CID=18543E3CE8B56C9110603260E9626D6C&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Fri, 31 Aug 2018 21:46:12 GMT
recorded_with: VCR 4.0.0
