---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=white%20house&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 487E5E87350548DE914E0112BBA6FF01
      X-Msedge-Clientid:
      - 2084CA76D5A56D573A48DAD2D4EA6C5A
      X-Msapi-Userstate:
      - 59a4
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=05987E4877964C58B48026613DA05939&CID=2084CA76D5A56D573A48DAD2D4EA6C5A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=05987E4877964C58B48026613DA05939&CID=2084CA76D5A56D573A48DAD2D4EA6C5A&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=white+house",
        "webSearchUrlPingSuffix": "DevEx,5450.1", "totalEstimatedMatches": 139000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "The White House", "url": "https:\/\/www.whitehouse.gov\/", "urlPingSuffix":
        "DevEx,5063.1", "displayUrl": "https:\/\/www.whitehouse.gov", "snippet":
        "The White House 1600 Pennsylvania Ave NW Washington, DC 20500 To search
        this site, enter a search term Search. We’re investing in the American people.
        The Build Back Better Agenda The Build Back ...", "dateLastCrawled": "2021-08-27T20:15:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Contact
        Us | The White House", "url": "https:\/\/www.whitehouse.gov\/contact\/",
        "urlPingSuffix": "DevEx,5076.1", "displayUrl": "https:\/\/www.whitehouse.gov\/contact",
        "snippet": "The White House 1600 Pennsylvania Ave NW Washington, DC 20500
        WH.gov. Scroll to Top. Top ...", "dateLastCrawled": "2021-08-26T19:23:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "White
        House - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/White_House",
        "urlPingSuffix": "DevEx,5090.1", "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/White_House",
        "snippet": "The White House is the official residence and workplace of the
        president of the United States.It is located at 1600 Pennsylvania Avenue NW
        in Washington, D.C., and has been the residence of every U.S. president since
        John Adams in 1800. The term \"White House\" is often used as a metonym
        for the president and their advisers.. The residence was designed by Irish-born
        architect James Hoban in the ...", "snippetAttribution": {"license": {"name":
        "CC-BY-SA", "url": "http:\/\/creativecommons.org\/licenses\/by-sa\/3.0\/",
        "urlPingSuffix": "DevEx,5451.1"}, "licenseNotice": "Text under CC-BY-SA license"},
        "dateLastCrawled": "2021-08-26T19:15:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3",
        "name": "Live | The White House", "url": "https:\/\/www.whitehouse.gov\/live\/",
        "urlPingSuffix": "DevEx,5105.1", "displayUrl": "https:\/\/www.whitehouse.gov\/live",
        "snippet": "The White House 1600 Pennsylvania Ave NW Washington, DC 20500
        To search this site, enter a search term Search. Live. Friday, August [...]
