---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=%E4%B8%AD%E5%9B%BD&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 5B4735C051CC4D41B9EBDD1CFF513D78
      X-Msedge-Clientid:
      - '069DA509EA426B111BB9B5ADEB0D6A2E'
      X-Msapi-Userstate:
      - 65ed
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F9104BF8385D4EDEBB4A609B2E08D8B3&CID=069DA509EA426B111BB9B5ADEB0D6A2E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F9104BF8385D4EDEBB4A609B2E08D8B3&CID=069DA509EA426B111BB9B5ADEB0D6A2E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%E4%B8%AD%E5%9B%BD",
        "webSearchUrlPingSuffix": "DevEx,5410.1", "totalEstimatedMatches": 96500000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "中国（世界四大文明古国之一）_百度百科", "url": "https:\/\/baike.baidu.com\/item\/%E4%B8%AD%E5%9B%BD\/1122445",
        "urlPingSuffix": "DevEx,5060.1", "displayUrl": "https:\/\/baike.baidu.com\/item\/中国",
        "snippet": "中国，以华夏文明为源泉、中华文化为基础，是世界上历史最悠久的国家之一。中国各族人民共同创造了光辉灿烂的文化，具有光荣的革命传统。中国是以汉族为主体民族的多民族国家，通用汉语、汉字，汉族与少数民族统称为“中华民族”，又自称“炎黄子孙”、“龙的传人”。",
        "dateLastCrawled": "2021-08-27T20:22:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "中国政府网 中央人民政府门户网站 - GOV.CN", "url": "https:\/\/www.gov.cn\/", "urlPingSuffix":
        "DevEx,5073.1", "displayUrl": "https:\/\/www.gov.cn", "snippet": "中国政府网由国务院办公厅主办，中国政府网运行中心负责运行维护,是国务院和国务院各部门，以及各省、自治区、直辖市人民政府在国际互联网上发布政府信息和提供在线服务的综合平台,第一时间权威发布国务院重大决策部署和重要政策文件，国务院领导同志重要会议、考察、出访活动等政务
        ...", "dateLastCrawled": "2021-08-27T20:22:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api[...]
