---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=electro%20coagulation&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - FAB1C4CB86994120A72AD9C4E1E80635
      X-Msedge-Clientid:
      - 3380901503BE66E028F69A2802296730
      X-Msapi-Userstate:
      - cdf3
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=7888B00C9E894555A175C1773375F1CE&CID=3380901503BE66E028F69A2802296730&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=7888B00C9E894555A175C1773375F1CE&CID=3380901503BE66E028F69A2802296730&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=electro+coagulation",
        "webSearchUrlPingSuffix": "DevEx,5498.1", "totalEstimatedMatches": 86700,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Electrocoagulation - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/Electrocoagulation",
        "urlPingSuffix": "DevEx,5085.1", "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/Electrocoagulation",
        "snippet": "Electrocoagulation (EC), aka radio frequency diathermy or short
        wave electrolysis, is a technique used for wash water treatment, wastewater
        treatment ...", "dateLastCrawled": "2017-03-02T10:30:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Electrocoagulation
        - F&T Water Solutions", "url": "http:\/\/www.ftwatersolutions.com\/electrocoagulation\/",
        "urlPingSuffix": "DevEx,5100.1", "displayUrl": "www.ftwatersolutions.com\/electrocoagulation",
        "snippet": "Electrocoagulation (Electro Coagulation) is the passing of electrical
        current through water, has proven very effective in the removal of conta[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sailing%20dingies&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - FE143B1E2C9A4DD5BEEC79BE77CF0489
      X-Msedge-Clientid:
      - 13315775C1966A3A14CD5DECC0016B70
      X-Msapi-Userstate:
      - 40ec
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=ADE2E5A2573141C89DEE2C252EE0FB07&CID=13315775C1966A3A14CD5DECC0016B70&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=ADE2E5A2573141C89DEE2C252EE0FB07&CID=13315775C1966A3A14CD5DECC0016B70&Type=Event.CPT&DATA=0"},
        "queryContext": {"originalQuery": "sailing dingies", "alteredQuery": "sailing
        dinghies", "alterationOverrideQuery": "+sailing dingies", "adultIntent": false},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sailing+dingies",
        "webSearchUrlPingSuffix": "DevEx,5561.1", "totalEstimatedMatches": 2460000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Dinghy sailing - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/Dinghy_sailing",
        "urlPingSuffix": "DevEx,5092.1", "about": [{"name": "Dinghy sailing"}], "displayUrl":
        "https:\/\/en.wikipedia.org\/wiki\/Dinghy_sailing", "snippet": "Dinghy sailing
        is the activity of sailing small boats by using five essential controls: the
        sails; the foils (i.e. the daggerboard or centreboard and ...", "dateLastCrawled":
        "2017-06-01T21:11:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Trinka-The Best Rowing\/Sailing Dinghy in the World.", "url": "http:\/\/www.trinka.com\/",
        "urlPingSuffix": "DevEx,5109.1", "displayUrl": "www.trinka.com", "snippet":
        "Trinka-The best rowing dinghy and sailing yacht dinghy in the world.", "deepLinks":
        [{"name": "The Trinka 8", "url": "http:\/\/www.trinka.com\/trinka8.htm", "urlPingSuffix":
        "DevEx,5103.1"}, {"name": "The Trinka 10", "url": "http:\/\/www.trinka.com\/trinka10.htm",
        "urlPingSuffix": "DevEx,5104.1"}, {"name": "Trinka Contact Information", "url":
        "http:\/\/trinka.com\/contact.htm", "urlPingSuffix": "DevEx,5105.1"}, {"name":
        "Photo Gallery", "url": "http:\/\/trinka.com\/photogallery.htm", "urlPingSuffix":
        "DevEx,5106.1"}], "dateLastCr[...]
