---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 86CD0D1C0CC0426D9E4B8954F203F5B0
      X-Msedge-Clientid:
      - 03EB6E80C02568103ED06588C1B2694D
      X-Msapi-Userstate:
      - 1fc8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1D3C3C39297A4742BD234D07C4E76087&CID=03EB6E80C02568103ED06588C1B2694D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1D3C3C39297A4742BD234D07C4E76087&CID=03EB6E80C02568103ED06588C1B2694D&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english", "webSearchUrlPingSuffix":
        "DevEx,5597.1", "totalEstimatedMatches": 1030000000, "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0",
        "name": "English language - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/English_language",
        "urlPingSuffix": "DevEx,5101.1", "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/English_language",
        "snippet": "English is an Indo-European language, and belongs to the West
        Germanic group of the Germanic languages. Most closely related to English
        are the Frisian languages, and ...", "dateLastCrawled": "2017-09-22T02:18:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "English
        | Define English at Dictionary.com", "url": "http:\/\/www.dictionary.com\/browse\/english",
        "urlPingSuffix": "DevEx,5122.1", "displayUrl": "www.dictionary.com\/browse\/english",
        "snippet": "English definition, of, relating to, or characteristic of England
        or its inhabitants, institutions, etc. See more.", "deepLinks": [{"name":
        "English Dictionary", "url": "http:\/\/www.dictionary.com\/browse\/english-dictionary",
        "urlPingSuffix": "DevEx,5112.1"}, {"name": "Suits", "url": "http:\/\/www.dictionary.com\/browse\/suit",
        "urlPingSuffix": "DevEx,5113.1"}, {"name": "Angle", "url": "http:\/\/www.dictionary.com\/browse\/angle",
        "urlPingSuffix": "DevEx,5114.1"}, {"name": "Smooth", "url": "http:\/\/www.dictionary.com\/browse\/smooth",
        "urlPingSuffix": "DevEx,5115.1"}, {"name": "S[...]
