---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B3B2B3DD361C4D84B19DBA55B2F4108A
      X-Msedge-Clientid:
      - 380A1850624D6ABF2A1C123263DA6B10
      X-Msapi-Userstate:
      - 8d97
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9E8D3B98197D464186E1AD84AAF2794C&CID=380A1850624D6ABF2A1C123263DA6B10&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9E8D3B98197D464186E1AD84AAF2794C&CID=380A1850624D6ABF2A1C123263DA6B10&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english", "webSearchUrlPingSuffix":
        "DevEx,5524.1", "totalEstimatedMatches": 32600000, "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0",
        "name": "Advanced English lessons", "url": "http:\/\/englishpage.com\/", "urlPingSuffix":
        "DevEx,5092.1", "displayUrl": "englishpage.com", "snippet": "Englishpage.com
        offers free English lessons with English grammar and vocabulary exercises
        online. Hundreds of English lessons to help you learn English today!", "deepLinks":
        [{"name": "Verb Tenses", "url": "http:\/\/www.englishpage.com\/verbpage\/verbtenseintro.html",
        "urlPingSuffix": "DevEx,5083.1"}, {"name": "Prepositions", "url": "http:\/\/www.englishpage.com\/prepositions\/prepositions.html",
        "urlPingSuffix": "DevEx,5084.1"}, {"name": "Vocabulary", "url": "http:\/\/englishpage.com\/vocabulary\/vocabulary.html",
        "urlPingSuffix": "DevEx,5085.1"}, {"name": "Modal Verb Tutorial", "url": "http:\/\/www.englishpage.com\/modals\/modalintro.html",
        "urlPingSuffix": "DevEx,5086.1"}, {"name": "Weekly Lesson", "url": "http:\/\/www.englishpage.com\/weeklylesson\/weeklylesson.html",
        "urlPingSuffix": "DevEx,5087.1"}], "dateLastCrawled": "2017-04-08T03:47:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "English
        language - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/English_language",
        "urlPingSuffix": "DevEx,5112.1", "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/English_language",
        "snippet": "English is an Indo-European language, and belongs to the West
        Germanic group of the Germanic languages. Most closely related to English
        are the F[...]
