---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - ACB79AC243054EF39BB2F6FB33F188A1
      X-Msedge-Clientid:
      - 000D3CD05DFB619D125337D85C6C6016
      X-Msapi-Userstate:
      - 24ca
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=80DBFC099E864126B65D2E9878F9A524&CID=000D3CD05DFB619D125337D85C6C6016&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=80DBFC099E864126B65D2E9878F9A524&CID=000D3CD05DFB619D125337D85C6C6016&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=white+house",
        "webSearchUrlPingSuffix": "DevEx,5770.1", "totalEstimatedMatches": 408000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "The White House | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/",
        "urlPingSuffix": "DevEx,5101.1", "about": [{"name": "whitehouse.gov"}], "displayUrl":
        "https:\/\/www.whitehouse.gov", "snippet": "Get news, events and updates from
        the White House here at 1600 Daily.", "deepLinks": [{"name": "Contact Us",
        "url": "https:\/\/www.whitehouse.gov\/contact", "urlPingSuffix": "DevEx,5088.1",
        "snippet": "Get in Touch with The White House | whitehouse.gov"}, {"name":
        "Live", "url": "https:\/\/www.whitehouse.gov\/live", "urlPingSuffix": "DevEx,5089.1",
        "snippet": "Live Events | whitehouse.gov. Video Gallery View the most recent
        videos from the White House. Live Events Tune in to White House events and
        statements as they happen. From t[...]
