---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=casa%20blanca&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 74227A7130BF46B884BA578D0B592D16
      X-Msedge-Clientid:
      - 15CCEB0B039C6D53059EFBAF02D36CCE
      X-Msapi-Userstate:
      - '2356'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=ED0F019A700E4ECDB34BB00B277FCF9B&CID=15CCEB0B039C6D53059EFBAF02D36CCE&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=ED0F019A700E4ECDB34BB00B277FCF9B&CID=15CCEB0B039C6D53059EFBAF02D36CCE&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=casa+blanca",
        "webSearchUrlPingSuffix": "DevEx,5411.1", "totalEstimatedMatches": 1030000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Casablanca (1942) - IMDb", "url": "https:\/\/www.imdb.com\/title\/tt0034583\/",
        "urlPingSuffix": "DevEx,5063.1", "displayUrl": "https:\/\/www.imdb.com\/title\/tt0034583",
        "snippet": "Casablanca: Directed by Michael Curtiz. With Humphrey Bogart,
        Ingrid Bergman, Paul Henreid, Claude Rains. A cynical expatriate American
        cafe owner struggles to decide whether or not to help his former lover and
        her fugitive husband escape the Nazis in French Morocco.", "dateLastCrawled":
        "2021-08-26T22:20:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Casablanca - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/Casablanca",
        "urlPingSuffix": "DevEx,5076.1", "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/Casablanca",
        "snippet": "Casablanca (Arabic: الدار البيضاء ‎, romanized: ad-dār al-bayḍāʾ;
        Berber languages: ⴰⵏⴼⴰ, romanized: anfa) is the largest city of Morocco. Located
        on the Atlantic coast of the Chaouia plain in the central-western part of
        Morocco, it is the second largest city in the Maghreb region and the eighth-largest
        in the Arab world.", "snippetAttribution": {"license": {"name": "CC-BY-SA",
        "url": "http:\/\/creativecommons.org\/licenses\/by-sa\/3.0\/", "urlPingSuffix":
        "DevEx,5412.1"}, "licenseNotice": "Text under CC-BY-SA license"}, "dateLastCrawled":
        "2021-08-27T22:25:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "Casa Blanca Mexican Restaurant, Massachusetts", "url": "https:\/\/casablancamexican.com\/",
        "urlPingSuffix": "DevEx,5089.1", "displayUrl": "https:\/\/casablancamexican.com",
        "snippet": "Casa Blanca, North Billerica, MA; What''s on your mind? Would
        you like to receive our e-newsletter that contains coupons [...]
