---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=%E4%B8%AD%E5%9B%BD&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5271A19E2A0C4A64BFAE6FD9784CF8E9
      X-Msedge-Clientid:
      - 1AE0DCC171466A7A2F45D6A370D16B6B
      X-Msapi-Userstate:
      - de3e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=FA3DFB5538A24924B69E166EE3424858&CID=1AE0DCC171466A7A2F45D6A370D16B6B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=FA3DFB5538A24924B69E166EE3424858&CID=1AE0DCC171466A7A2F45D6A370D16B6B&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%e4%b8%ad%e5%9b%bd",
        "webSearchUrlPingSuffix": "DevEx,5470.1", "totalEstimatedMatches": 26800000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "中国ニュース｜国際ニュース（ワールドニュース）｜ロイター", "url": "http:\/\/jp.reuters.com\/news\/world\/china",
        "urlPingSuffix": "DevEx,5094.1", "displayUrl": "jp.reuters.com\/news\/world\/china",
        "snippet": "中国ニュース。南シナ海の領海権問題、アジアインフラ銀（AIIB）、日中関係ニュースなど中国の政治、経済、社会 ...", "dateLastCrawled":
        "2017-04-09T14:25:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "百度一下，你就知道 - baidu.com", "url": "http:\/\/www.baidu.com\/", "urlPingSuffix":
        "DevEx,5116.1", "about": [{"name": "Baidu"}], "displayUrl": "www.baidu.com",
        "snippet": "输入法. 手写; 拼音; 关闭; 百度首页 设置 登录. 新闻 hao123 地图 视频 贴吧 学术 登录 设置 更多产品",
        "deepLinks": [{"name": "百度网址大全", "url": "http:\/\/site.baidu.com\/", "urlPingSuffix":
        "DevEx,5108.1"}, {"name": "视频", "url": "http:\/\/v.baidu.com\/", "urlPingSuffix":
        "DevEx,5109.1"}, {"name": "百度产品大全", "url": "http:\/\/www.baidu.com\/more\/",
        "urlPingSuffix": "DevEx,5110.1"}, {"name": "百度首页新版介绍 - 百度", "url": "http:\/\/www.baidu.com\/baidu.html?from=403",
        "urlPingSuffix": "DevEx,5111.1"}, {"name": "登录", "url": "https:\/\/passport.baidu.com\/v2\/?login&tpl=mn&u=http%3A%2F%2Fw[...]
