---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=english&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2FBDFF4948574363B8D9ABC16A4356CE
      X-Msedge-Clientid:
      - 1022A7E65ECE693417D8AC785F2B682D
      X-Msapi-Userstate:
      - aea8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1C049118575942BDBC3AC5946D00FC0C&CID=1022A7E65ECE693417D8AC785F2B682D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1C049118575942BDBC3AC5946D00FC0C&CID=1022A7E65ECE693417D8AC785F2B682D&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english", "webSearchUrlPingSuffix":
        "DevEx,5554.1", "totalEstimatedMatches": 34300000, "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0",
        "name": "English language - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/English_language",
        "urlPingSuffix": "DevEx,5101.1", "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/English_language",
        "snippet": "English is a West Germanic language that was first spoken in early
        medieval England and is now the third most widespread native language in the
        world, after Standard ...", "deepLinks": [{"name": "West Germanic Language",
        "url": "https:\/\/en.wikipedia.org\/wiki\/West_Germanic_languages", "urlPingSuffix":
        "DevEx,5094.1"}, {"name": "Old English", "url": "https:\/\/en.wikipedia.org\/wiki\/Old_English",
        "urlPingSuffix": "DevEx,5095.1"}, {"name": "Great Vowel Shift", "url": "https:\/\/en.wikipedia.org\/wiki\/Great_Vowel_Shift",
        "urlPingSuffix": "DevEx,5096.1"}], "dateLastCrawled": "2018-02-16T16:33:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "English
        | Define English at Dictionary.com", "url": "http:\/\/www.dictionary.com\/browse\/english",
        "urlPingSuffix": "DevEx,5122.1", "displayUrl": "www.dictionary.com\/browse\/english",
        "snippet": "English definition, of, relating to, or characteristic of England
        or its inhabitants, institutions, etc. See more.", "deepLinks": [{"name":
        "English Dic[...]
