---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=%E4%B8%AD%E5%9B%BD&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7E6E018B50FB4AAE993ED4C28B82E183
      X-Msedge-Clientid:
      - 3BAD7C60FADE6F302A2777E6FB716E28
      X-Msapi-Userstate:
      - cc79
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E353910A9C9C4E5F9FE6C45A1433922C&CID=3BAD7C60FADE6F302A2777E6FB716E28&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E353910A9C9C4E5F9FE6C45A1433922C&CID=3BAD7C60FADE6F302A2777E6FB716E28&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%e4%b8%ad%e5%9b%bd",
        "webSearchUrlPingSuffix": "DevEx,5531.1", "totalEstimatedMatches": 36300000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "中国（世界四大文明古国之一）_百度百科", "url": "https:\/\/baike.baidu.com\/item\/%E4%B8%AD%E5%9B%BD",
        "urlPingSuffix": "DevEx,5083.1", "displayUrl": "https:\/\/baike.baidu.com\/item\/中国",
        "snippet": "中国，是以华夏文明为源泉、中华文化为基础，并以汉族为主体民族的多民族国家，通用汉语、汉字，汉族与少数民族被统 ...", "dateLastCrawled":
        "2018-01-18T21:24:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "中国 - 纽约时报中文网 国际纵览 - cn.nytimes.com", "url": "https:\/\/cn.nytimes.com\/china\/",
        "urlPingSuffix": "DevEx,5100.1", "displayUrl": "https:\/\/cn.nytimes.com\/china",
        "snippet": "李振成于本周在纽约被捕。新信息显示，他在被联邦调查局怀疑可能是叛徒前的多年里，曾与中国主要的情报机构国家安全部 ...",
        "dateLastCrawled": "2018-01-20T23:13:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "n[...]
