---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=casa%20blanca&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B139ABA2B6D2411FBEF388BA4CC1C225
      X-Msedge-Clientid:
      - 3DC282481BF3661A281688F71A6467B8
      X-Msapi-Userstate:
      - e147
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E49BCE10B652470389D6E586DA650D7B&CID=3DC282481BF3661A281688F71A6467B8&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E49BCE10B652470389D6E586DA650D7B&CID=3DC282481BF3661A281688F71A6467B8&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=casa+blanca",
        "webSearchUrlPingSuffix": "DevEx,5637.1", "totalEstimatedMatches": 52400000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Casablanca (1942) - IMDb", "url": "http:\/\/www.imdb.com\/title\/tt0034583\/",
        "urlPingSuffix": "DevEx,5108.1", "about": [{"name": "Casablanca"}], "displayUrl":
        "www.imdb.com\/title\/tt0034583", "snippet": "In Casablanca in December 1941,
        a cynical American expatriate encounters a former lover, with unforeseen complications.",
        "dateLastCrawled": "2017-07-07T16:30:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Casablanca (film) - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/Casablanca_(film)",
        "urlPingSuffix": "DevEx,5131.1", "about": [{"name": "Casablanca"}], "displayUrl":
        "https:\/\/en.wikipedia.org\/wiki\/Casablanca_(film)", "snippet": "Casablanca
        is a 1942 American romantic drama film directed by Michael Curtiz and based
        on Murray Burnett and Joan A[...]
