---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F1B93137F1BF4431A98BE03620B0A61B
      X-Msedge-Clientid:
      - 1921FFF8B9C46B8D2C3AF4BFB8536A6C
      X-Msapi-Userstate:
      - cd84
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=134E6813EE1544C6B3F92A2E67B92743&CID=1921FFF8B9C46B8D2C3AF4BFB8536A6C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=134E6813EE1544C6B3F92A2E67B92743&CID=1921FFF8B9C46B8D2C3AF4BFB8536A6C&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english", "webSearchUrlPingSuffix":
        "DevEx,5579.1", "totalEstimatedMatches": 65600000, "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0",
        "name": "English language - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/English_language",
        "urlPingSuffix": "DevEx,5110.1", "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/English_language",
        "snippet": "English is an Indo-European language, and belongs to the West
        Germanic group of the Germanic languages. Old English originated from a Germanic
        tribal and linguistic ...", "dateLastCrawled": "2017-11-24T11:58:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "English
        learning, teaching and testing | Pearson English", "url": "https:\/\/www.english.com\/",
        "urlPingSuffix": "DevEx,5131.1", "displayUrl": "https:\/\/www.english.com",
        "snippet": "At Pearson English, our aim is simple but powerful: help the English
        speaking world understand each other better, by better understanding the English
        learner needs.", "deepLinks": [{"name": "Take English Classes", "url": "https:\/\/www.english.com\/language-schools",
        "urlPingSuffix": "DevEx,5122.1"}, {"name": "Courses and Apps", "url": "https:\/\/www.english.com\/online-courses-and-apps",
        "urlPingSuffix": "DevEx,5123.1"}, {"name": "GSE", "url": "https:\/\/www.english.com\/gse",
        "urlPingSuffix": "DevEx,5124.1"}, {"name": "For Researchers", "url": "https:\/\/www.english.com\/gse\/researchers",
        "urlPingSuffix": "DevEx,5125.1"}, {"name": "About Us", "url": "https:\/\/www.english.com\/about-us",
        "urlPingSuffix": "DevEx,5127.1"}], "dateLastCrawled": "2017-11-22T14:35:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Advanced
        English lessons", "url": "https:\/\/www.englishpage.com\/", "urlPingSuffix":
        "DevEx,5146.1", "displayUrl": "https:\/\/www.englishpage.com", "snippet":
        "Englishpage.com offers free English lessons with English grammar and vocabulary
        exercises online. Hundreds of English lessons to help you learn English today!",
        "dateLastCrawled": "2017-11-18T10:37:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3",
        "name": "English | Define English at Dictionary.com", "url": "http:\/\/www.dictionary.com\/browse\/english",
        "urlPingSuffix": "DevEx,5161.1", "about": [{"name": "Dictionary.com"}], "displayUrl":
        "www.dictionary.com\/browse\/english", "snippet": "English definition, of,
        relating to, or characteristic of England or its inhabitants, institutions,
        etc. See more.", "dateLastCrawled": "2017-11-18T15:30:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.4", "name": "Google", "url":
        "http:\/\/www.google.com\/intl\/en\/", "urlPingSuffix": "DevEx,5175.1", "displayUrl":
        "www.google.com\/[...]
