---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=11&q=anything&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 70413D1D8515482F86FD401F7D5EE15D
      X-Msedge-Clientid:
      - 3031244758136CD300A12E7A59846DC5
      X-Msapi-Userstate:
      - e636
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=FBEFF1DA820C4C7F86167A6122323E6E&CID=3031244758136CD300A12E7A59846DC5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=FBEFF1DA820C4C7F86167A6122323E6E&CID=3031244758136CD300A12E7A59846DC5&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=anything",
        "webSearchUrlPingSuffix": "DevEx,5501.1", "totalEstimatedMatches": 14200000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Anything2MP3 - Online SoundCloud & YouTube to MP3 ...", "url": "http:\/\/anything2mp3.com\/",
        "urlPingSuffix": "DevEx,5068.1", "displayUrl": "anything2mp3.com", "snippet":
        "Online SoundCloud & YouTube to MP3 Converter ... Anything2MP3 is a free online
        ... Our conversion tool is completely server based so you don''t have to run
        anything!", "dateLastCrawled": "2017-03-02T00:29:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "anything - Wiktionary", "url": "https:\/\/en.wiktionary.org\/wiki\/anything",
        "urlPingSuffix": "DevEx,5082.1", "displayUrl": "https:\/\/en.wiktionary.org\/wiki\/anything",
        "snippet": "1916, Edward S. Moffat, Go Forth and Find, page 81-82: Perhaps
        it was this atmosphere of misplacedness and loneliness as much as anything
        which led her to ...", "dateLastCrawled": "2017-03-02T23:48:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "anything
        Meaning in the Cambridge English Dictionary", "url": "http:\/\/dictionary.cambridge.org\/dictionary\/english\/anything",
        "urlPingSuffix": "DevEx,5096.1", "displayUrl": "dictionary.cambridge.org\/dictionary\/english\/anything",
        "snippet": "anything meaning, definition, what is anything: used in questions
        and negatives to mean \"something\": . Learn more.", "dateLastCrawled": "2017-03-01T18:42:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "Absolutely
        Anything (2015) - IMDb", "url": "http:\/\/www.imdb.com\/title\/tt1727770\/",
        "urlPingSuffix": "DevEx,5121.1", "thumbnailUrl": "https:\/\/www.bing.com\/th?id=OIP.Md687c4825a526b3106eb007dc12ae69co2&pid=Api",
        "about": [{"name": "Absolutely Anything"}], "displayUrl": "www.imdb.com\/title\/tt1727770",
        "snippet": "With Simon Pegg, Kate Beckinsale, Sanjeev Bhaskar, Rob Riggle.
        A group of eccentric aliens confer a human being with the power to do absolutely
        anything…", "dateLastCrawled": "2017-02-27T04:05:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.4",
        "name": "Hedley - Anything (Explicit) - YouTube", "url": "http:\/\/www.youtube.com\/watch?v=4_Dmilr2T10",[...]
[...]
