---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=casa%20blanca&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - EAC51A7751184934A740B5D23A5CE603
      X-Msedge-Clientid:
      - 1AAD78EB658B63A43FF274BC648462BD
      X-Msapi-Userstate:
      - c8fb
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DDA228CAFAA2462E870E66F812A0B216&CID=1AAD78EB658B63A43FF274BC648462BD&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DDA228CAFAA2462E870E66F812A0B216&CID=1AAD78EB658B63A43FF274BC648462BD&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=casa+blanca",
        "webSearchUrlPingSuffix": "DevEx,5440.1", "totalEstimatedMatches": 18500000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Casablanca (1942) - IMDb", "url": "https:\/\/www.imdb.com\/title\/tt0034583\/",
        "urlPingSuffix": "DevEx,5057.1", "about": [{"name": "Casablanca"}, {"name":
        "Casablanca"}], "displayUrl": "https:\/\/www.imdb.com\/title\/tt0034583",
        "snippet": "Directed by Michael Curtiz. With Humphrey Bogart, Ingrid Bergman,
        Paul Henreid, Claude Rains. A cynical nightclub owner protects an old flame
        and her husband from Nazis in Morocco.", "dateLastCrawled": "2018-08-20T02:42:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Casablanca
        (film) - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/Casablanca_(film)",
        "urlPingSuffix": "DevEx,5078.1", "about": [{"name": "Casablanca"}, {"name":
        "Casablanca"}], "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/Casablanca_(film)",
        "snippet": "Casablanca is a 1942 American romantic drama film directed by
        Michael Curtiz based on Murray Burnett and Joan Alison''s unproduced stage
        play Everybody Comes to Rick''s.The film stars Humphrey Bogart, Ingrid Bergman,
        and Paul Henreid; it also features Claude Rains, Conrad Veidt, Sydney Greenstreet,
        Peter Lorre, and Dooley Wilson.", "snippetAttribution": {"license": {"name":
        "CC-BY-SA", "url": "http:\/\/creativecommons.org\/licenses\/by-sa\/3.0\/",
        "urlPingSuffix": "DevEx,5441.1"}, "licenseNotice": "Text under CC-BY-SA license"},
        "dateLastCrawled": "2018-08-22T14:58:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "Casa Blanca Movie Showtimes & Tickets | Santikos", "url": "https:\/\/www.santikos.com\/san-antonio\/casa-blanca",
        "urlPingSuffix": "DevEx,5092.1", "about": [{"name": "Santikos Casa Blanca"},
        {"name": "Santikos Casa Blanca"}], "displayUrl": "https:\/\/www.santikos.com\/san-antonio\/casa-blanca",
        "snippet": [...]
