---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=white%20house&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A6335153E7854888962A6A4151102DF0
      X-Msedge-Clientid:
      - 1A7FFCF12E3560CA2CBAF76F2FD06154
      X-Msapi-Userstate:
      - 3ecb
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: "{\"_type\": \"SearchResponse\", \"instrumentation\": {\"pingUrlBase\":
        \"https:\\/\\/www.bingapis.com\\/api\\/ping?IG=32DF478C75464BEBB993E7B4995C2DEE&CID=1A7FFCF12E3560CA2CBAF76F2FD06154&ID=\",
        \"pageLoadPingUrl\": \"https:\\/\\/www.bingapis.com\\/api\\/ping\\/pageload?IG=32DF478C75464BEBB993E7B4995C2DEE&CID=1A7FFCF12E3560CA2CBAF76F2FD06154&Type=Event.CPT&DATA=0\"},
        \"webPages\": {\"webSearchUrl\": \"https:\\/\\/www.bing.com\\/search?q=white+house\",
        \"webSearchUrlPingSuffix\": \"DevEx,5790.1\", \"totalEstimatedMatches\": 167000000,
        \"value\": [{\"id\": \"https:\\/\\/www.bingapis.com\\/api\\/v6\\/#WebPages.0\",
        \"name\": \"White House - Washington Will No Longer be a Roadblock to ...\",
        \"url\": \"https:\\/\\/www.whitehouse.gov\\/\", \"urlPingSuffix\": \"DevEx,5124.1\",
        \"about\": [{\"name\": \"whitehouse.gov\"}, {\"name\": \"United States\"},
        {\"name\": \"White House\"}], \"displayUrl\": \"https:\\/\\/www.whitehouse.gov\",
        \"snippet\": \"History of The White House. Our first president, George Washington,
        selected the site for the White House in 1791. Every president since John
        Adams has occupied the ...\", \"deepLinks\": [{\"name\": \"Contact Us\", \"url\":
        \"https:\\/\\/www.whitehouse.gov\\/contact\", \"urlPingSuffix\": \"DevEx,5099.1\",
        \"snippet\": \"Get Involved Contact the White House. Share:\"}, {\"name\":
        \"Live\", \"url\": \"https:\\/\\/www.whitehouse.gov\\/live\", \"urlPingSuffix\":
        \"DevEx,5100.1\", \"snippet\": \"\uFEFF\uFEFF\uFEFF\uFEFF 11:00 AM EST President
        Trump Delivers Remarks on the Tragedy in Parkland, FL\"}, {\"name\": \"Tours
        & Events\", \"url[...]
