---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=casa%20blanca&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7324CE2CE7654EA39BFB42EF5C144A9B
      X-Msedge-Clientid:
      - 2702B665BA1C60541FFDBD64BB8B61FE
      X-Msapi-Userstate:
      - 6bfd
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=892CEBBC195B4F92AAF34B01222333FD&CID=2702B665BA1C60541FFDBD64BB8B61FE&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=892CEBBC195B4F92AAF34B01222333FD&CID=2702B665BA1C60541FFDBD64BB8B61FE&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=casa+blanca",
        "webSearchUrlPingSuffix": "DevEx,5569.1", "totalEstimatedMatches": 36100000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Casablanca (1942) - IMDb", "url": "http:\/\/www.imdb.com\/title\/tt0034583\/",
        "urlPingSuffix": "DevEx,5101.1", "about": [{"name": "Casablanca"}], "displayUrl":
        "www.imdb.com\/title\/tt0034583", "snippet": "Directed by Michael Curtiz.
        With Humphrey Bogart, Ingrid Bergman, Paul Henreid, Claude Rains. In Casablanca
        in December 1941, a cynical American expatriate encounters ...", "dateLastCrawled":
        "2017-09-11T04:50:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Casablanca (film) - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/Casablanca_(film)",
        "urlPingSuffix": "DevEx,5124.1", "about": [{"name": "Casablanca"}], "displayUrl":
        "https:\/\/en.wikipedia.org\/wiki\/Casablanca_(film)", "snippet": "Casablanca
        is a 1942 American romantic drama film directed by Michael Curtiz and based
        on Murray Burnett an[...]
