---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=%2765d86996b6eceb05d2272aea9cadd10d%27&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5A54AD1F82B8485E8BDE99D37EF5BF92
      X-Msedge-Clientid:
      - 107619914C4B6DF63BF612994DDC6C77
      X-Msapi-Userstate:
      - 33e7
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=17C203FD64E641529D6FCC2BA7CCD210&CID=107619914C4B6DF63BF612994DDC6C77&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=17C203FD64E641529D6FCC2BA7CCD210&CID=107619914C4B6DF63BF612994DDC6C77&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 25 Sep 2017 19:18:51 GMT
recorded_with: VCR 3.0.3
