---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=%E4%B8%AD%E5%9B%BD&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4BC8B809A2BE4E45AF7F49843F581553
      X-Msedge-Clientid:
      - 1023AF0126FE6A4A1BD1A59827696BBE
      X-Msapi-Userstate:
      - 4e41
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=3929167E04EB40D2BD51293422627DDA&CID=1023AF0126FE6A4A1BD1A59827696BBE&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=3929167E04EB40D2BD51293422627DDA&CID=1023AF0126FE6A4A1BD1A59827696BBE&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%e4%b8%ad%e5%9b%bd",
        "webSearchUrlPingSuffix": "DevEx,5473.1", "totalEstimatedMatches": 24700000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "中国银行全球门户网站", "url": "http:\/\/www.boc.cn\/", "urlPingSuffix": "DevEx,5084.1",
        "displayUrl": "www.boc.cn", "snippet": "中国银行是中国国际化和多元化程度最高的银行，在中国内地、香港、澳门、台湾及37个国家为客户提供全面的金融服务。",
        "deepLinks": [{"name": "个人网上银行", "url": "http:\/\/www.boc.cn\/ebanking\/bocnet_pb\/",
        "urlPingSuffix": "DevEx,5075.1"}, {"name": "中国银行外汇牌价", "url": "http:\/\/www.boc.cn\/sourcedb\/whpj\/",
        "urlPingSuffix": "DevEx,5076.1"}, {"name": "个人银行", "url": "http:\/\/www.boc.cn\/pbservice\/pb5\/",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "个人客户网银登录", "url": "https:\/\/ebsnew.boc.cn\/boc15\/login.html",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "电子银行", "url": "http:\/\/www.boc.cn\/ebanking\/",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "个人贵宾网银登录", "url": "https:\/\/ebsnew.boc.cn\/boc15\/login.html?seg=66",
        "urlPingSuffix": "DevEx,5080.1"}], "dateLastCrawled": "2017-06-01T20:32:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "中国 - 维基百科，自由的百科全书",
        "url": "https:\/\/zh.wikipedia.org\/zh-sg\/%E4%B8%AD%E5%9C%8B", "urlPingSuffix":
        "DevEx,5098.1", "displayUrl": "https:\/\/zh.wikipedia.org\/zh-sg\/中國", "snippet":
        "中国，为历史上的一个东亚国家。“中国”一词最早见于西周，最初指以洛阳盆地为中心的中原地区 ，与四夷相对，后范围 ...", "dateLastCrawled":
        "2017-05-31T02:03:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "中国（世界四大文明古国之一）_百度百科", "url": "http:\/\/baike.baidu.com\/item\/%E4%B8%AD%E5%9B%BD\/1122445",
        "urlPingSuffix": "DevEx,5110.1", "about": [{"name": "China"}], "displayUrl":
        "baike.baidu.com\/item\/中国\/1122445", "snippet": "中国是世界四大文明古国之一，有着悠久的历史，距今约5000年前，以中原地区为中心开始出现聚落组织进而形成国家，后历经
        ...", "dateLastCrawled": "2017-06-01T18:06:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3",
        "name": "大紀元中國大陸新聞包含時事、政治、經濟、股市、社會、反腐敗打老虎、評論等 | 大紀元", "url": "http:\/\/www.epochtimes.com\/b5\/nsc413.htm",
        "urlPingSuffix": "DevEx,5124.1", "displayUrl": "www.epochtimes.com\/b5\/nsc413.htm",
        "snip[...]
