---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1040901D49064C31B9C2B5168BF9B29C
      X-Msedge-Clientid:
      - 2D789ECD037C65162CF0947202EB64E3
      X-Msapi-Userstate:
      - 964f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=7FDB2620CDD74DB597372422FF865D9B&CID=2D789ECD037C65162CF0947202EB64E3&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=7FDB2620CDD74DB597372422FF865D9B&CID=2D789ECD037C65162CF0947202EB64E3&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=white+house",
        "webSearchUrlPingSuffix": "DevEx,5754.1", "totalEstimatedMatches": 549000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "The White House | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/",
        "urlPingSuffix": "DevEx,5105.1", "displayUrl": "https:\/\/www.whitehouse.gov",
        "snippet": "President Donald J. Trump ... “Believe in yourselves. Believe
        in your future. And believe, once more, in America.”", "deepLinks": [{"name":
        "Contact Us", "url": "https:\/\/www.whitehouse.gov\/contact", "urlPingSuffix":
        "DevEx,5092.1", "snippet": "Get in Touch with The White House. To write or
        call the White House, click here. Twitter; Instagram; Facebook; Contact Us;
        Home; Briefing Room. From the News Room ..."}, {"name": "Tours & Events",
        "url": "https:\/\/www.whitehouse.gov\/participate\/tours-and-events", "urlPingSuffix":
        "DevEx,5093.1", "snippet": "Anyone visiting DC can[...]
