---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=tradiksyon&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B9E78F11CB59460183BF26FFE21F0C1F
      X-Msedge-Clientid:
      - 289CAD0FB7C566B6373DA691B62067DE
      X-Msapi-Userstate:
      - 112a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1AF542FC422E4C37A26FB6772248D89F&CID=289CAD0FB7C566B6373DA691B62067DE&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1AF542FC422E4C37A26FB6772248D89F&CID=289CAD0FB7C566B6373DA691B62067DE&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=tradiksyon",
        "webSearchUrlPingSuffix": "DevEx,5488.1", "totalEstimatedMatches": 87700,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Google Translate", "url": "https:\/\/translate.google.com\/?hl=ht", "urlPingSuffix":
        "DevEx,5086.1", "displayUrl": "https:\/\/translate.google.com\/?hl=ht", "snippet":
        "Tradui Fèmen tradiksyon enstantane a. Kreyòl Ayisyen. Angl ...", "dateLastCrawled":
        "2018-02-14T01:13:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Google Traduction", "url": "https:\/\/translate.google.com\/?hl=fr",
        "urlPingSuffix": "DevEx,5101.1", "displayUrl": "https:\/\/translate.google.com\/?hl=fr",
        "snippet": "Ce service gratuit de Google traduit instantanément des mots,
        des expressions et des pages Web du français vers plus de 100 autres langues.",
        "dateLastCrawled": "2018-02-13T00:48:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "Tradiksyon - French - Arabic Translation and Examples", "url": "https:\/\/mymemory.translated.net\/en\/French\/Arabic\/tradiksyon",
        "urlPingSuffix": "DevEx,5115.1", "displayUrl": "https:\/\/mymemory.translated.net\/en\/French\/Arabic\/tradiksyon",
        "snippet": "tradiksyon, you just need your email, , , Translation, human translation,
        automatic translation.", "dateLastCrawled": "2018-01-29T20:31:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "Haitian
        tradiksyon diksyonè - Android Apps on Google Play", "url": "https:\/\/play.google.com\/store\/apps\/details?id=en.ht.bestdict",
        "urlPingSuffix": "DevEx,5140.1", "displayUrl": "https:\/\/play.google.com\/store\/apps\/details?id=en.ht.bestdict",
        "snippet": "User will be satisfied with this Haitian Creole - English dictionary
        because: - It has the largest vocabulary - Detail description for each word
        and a lot ...", "dateLastCrawled": "2018-02-14T01:05:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.4", "name": "Class of 2018
        Graduation Ceremony Dates and Times ...", "url": "https:\/\/www.palmbeachschools.org\/districtnews\/2017\/12\/04\/class-of-2018-graduation-dates-announced\/",
        "urlPingSuffix": "DevEx,5153.1", "displayUrl": "https:\/\/www.palmbeachschools.org\/distric[...]
