---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=tradiksyon&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3DE68A257C794D768E2F6B0C484C8097
      X-Msedge-Clientid:
      - 2E32631F8EE063053E7769868F77624C
      X-Msapi-Userstate:
      - be18
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: "{\"_type\": \"SearchResponse\", \"instrumentation\": {\"pingUrlBase\":
        \"https:\\/\\/www.bingapis.com\\/api\\/ping?IG=CAF1200B9CFB4A0FBCB8F70006E78823&CID=2E32631F8EE063053E7769868F77624C&ID=\",
        \"pageLoadPingUrl\": \"https:\\/\\/www.bingapis.com\\/api\\/ping\\/pageload?IG=CAF1200B9CFB4A0FBCB8F70006E78823&CID=2E32631F8EE063053E7769868F77624C&Type=Event.CPT&DATA=0\"},
        \"webPages\": {\"webSearchUrl\": \"https:\\/\\/www.bing.com\\/search?q=tradiksyon\",
        \"webSearchUrlPingSuffix\": \"DevEx,5485.1\", \"totalEstimatedMatches\": 53800,
        \"value\": [{\"id\": \"https:\\/\\/www.bingapis.com\\/api\\/v6\\/#WebPages.0\",
        \"name\": \"Google Translate\", \"url\": \"https:\\/\\/translate.google.com\\/?hl=ht\",
        \"urlPingSuffix\": \"DevEx,5077.1\", \"displayUrl\": \"https:\\/\\/translate.google.com\\/?hl=ht\",
        \"snippet\": \"Tradui Fèmen tradiksyon enstantane a. Kreyòl Ayisyen. Angl
        ...\", \"dateLastCrawled\": \"2017-06-02T14:48:00.0000000Z\"}, {\"id\": \"https:\\/\\/www.bingapis.com\\/api\\/v6\\/#WebPages.1\",
        \"name\": \"Tradiksyon monn nouvo a | Se Temwen Jewova yo ki pibliye l\",
        \"url\": \"https:\\/\\/www.jw.org\\/ht\\/piblikasyon-yo\\/bib\\/nwt\\/\",
        \"urlPingSuffix\": \"DevEx,5089.1\", \"displayUrl\": \"https:\\/\\/www.jw.org\\/ht\\/piblikasyon-yo\\/bib\\/nwt\",
        \"snippet\": \"Labib — Tradiksyon monn nouvo a se yon bib ki fasil pou moun
        li e pou konprann[...]
