---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q='65d86996b6eceb05d2272aea9cadd10d'&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A72506CB35AD4F35B8C496D5F8CDA8DC
      X-Msedge-Clientid:
      - 3C839F898CA26B0528AC95B48D356AAD
      X-Msapi-Userstate:
      - 2bba
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E67F01A4981540C1AE71CDA83F15786D&CID=3C839F898CA26B0528AC95B48D356AAD&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E67F01A4981540C1AE71CDA83F15786D&CID=3C839F898CA26B0528AC95B48D356AAD&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 06 Mar 2017 16:51:05 GMT
recorded_with: VCR 3.0.3
