---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=%E4%B8%AD%E5%9B%BD&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B3A6C94D83574BA1B84A48BFE9FCFD43
      X-Msedge-Clientid:
      - 145CF46144196114069BFF60458E6001
      X-Msapi-Userstate:
      - '2820'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5C3EB795AD8743AAAD8EDAD23F30B0EA&CID=145CF46144196114069BFF60458E6001&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5C3EB795AD8743AAAD8EDAD23F30B0EA&CID=145CF46144196114069BFF60458E6001&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%e4%b8%ad%e5%9b%bd",
        "webSearchUrlPingSuffix": "DevEx,5505.1", "totalEstimatedMatches": 203000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "中國 - 维基百科，自由的百科全书", "url": "https:\/\/zh.wikipedia.org\/wiki\/%E4%B8%AD%E5%9C%8B",
        "urlPingSuffix": "DevEx,5087.1", "displayUrl": "https:\/\/zh.wikipedia.org\/wiki\/中國",
        "snippet": "中國，為中国历史上历朝历代政權的統稱。中國的稱號最早见于西周，是指以洛陽盆地為中心的中原地區 ，與四夷相對，後 ...",
        "dateLastCrawled": "2017-09-15T15:52:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "China - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/China",
        "urlPingSuffix": "DevEx,5119.1", "about": [{"name": "China"}], "displayUrl":
        "https:\/\/en.wikipedia.org\/wiki\/China", "snippet": "中国: Traditional Chinese:
        ... Before the PRC''s establishment, the proposed name of the country was
        the People''s Democratic Republic of China ...", "dateLastCrawled": "2017-09-14T14:57:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "中国（世界四大文明古国之一）_百度百科",
        "url": "https:\/\/baike.baidu.com\/item\/%E4%B8%AD%E5%9B%BD\/1122445", "urlPing[...]
