---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=sailing%20dingies&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 56B74C05C1F1406682D49A54B5D72CCA
      X-Msedge-Clientid:
      - '00333678903E6E282D803A2F91316FB1'
      X-Msapi-Userstate:
      - 81f1
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=7DD0724448A3488A9987BE2934AA9004&CID=00333678903E6E282D803A2F91316FB1&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=7DD0724448A3488A9987BE2934AA9004&CID=00333678903E6E282D803A2F91316FB1&Type=Event.CPT&DATA=0"},
        "queryContext": {"originalQuery": "sailing dingies", "alteredQuery": "sailing
        dinghies", "alterationOverrideQuery": "+sailing dingies", "adultIntent": false},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sailing+dingies",
        "webSearchUrlPingSuffix": "DevEx,5441.1", "totalEstimatedMatches": 8160000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Dinghy sailing - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/Dinghy_sailing",
        "urlPingSuffix": "DevEx,5063.1", "about": [{"name": "Dinghy sailing"}, {"name":
        "Dinghy sailing"}], "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/Dinghy_sailing",
        "snippet": "Dinghy sailing is the activity of sailing small boats by using
        five essential controls: the sails; the foils (i.e. the daggerboard or centreboard
        and rudder and ...", "dateLastCrawled": "2018-08-16T22:48:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Best Dinghy |
        Sailing World", "url": "https:\/\/www.sailingworld.com\/best-dinghy-melges-14",
        "urlPingSuffix": "DevEx,5076.1", "displayUrl": "https:\/\/www.sailingworld.com\/best-dinghy-melges-14",
        "snippet": "The Melges 14 delivers on a quick and modern singlehander and
        earns its stripes as 2016''s Best Dinghy.", "dateLastCrawled": "2018-08-18T14:59:00.00[...]
