---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sailing%20dingies&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9F7D59AD247C4DF4AD83A54BC5BB0975
      X-Msedge-Clientid:
      - 3F24E677DD8B6BC52BAAECB4DC1C6AA5
      X-Msapi-Userstate:
      - d7d0
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=4EE93A8649904132A5D25B78A7E3CB9F&CID=3F24E677DD8B6BC52BAAECB4DC1C6AA5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=4EE93A8649904132A5D25B78A7E3CB9F&CID=3F24E677DD8B6BC52BAAECB4DC1C6AA5&Type=Event.CPT&DATA=0"},
        "queryContext": {"originalQuery": "sailing dingies", "alteredQuery": "sailing
        dinghies", "alterationOverrideQuery": "+sailing dingies", "adultIntent": false},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sailing+dingies",
        "webSearchUrlPingSuffix": "DevEx,5578.1", "totalEstimatedMatches": 18600000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Dinghy sailing - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/Dinghy_sailing",
        "urlPingSuffix": "DevEx,5090.1", "about": [{"name": "Dinghy sailing"}], "displayUrl":
        "https:\/\/en.wikipedia.org\/wiki\/Dinghy_sailing", "snippet": "Dinghy sailing
        is the activity of sailing small boats by using five essential controls: the
        sails; the foils (i.e. the daggerboard or centreboard and rudder and ...",
        "dateLastCrawled": "2017-07-05T16:05:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Best Dinghy | Sailing World", "url": "http:\/\/www.sailingworld.com\/best-dinghy-melges-14",
        "urlPingSuffix": "DevEx,5105.1", "displayUrl": "www.sailingworld.com\/best-dinghy-melges-14",
        "snippet": "The Melges 14 delivers on a quick and modern singlehander and
        earns its stripes as 2016''s Best Dinghy.", "dateLastCrawled": "2017-07-12T08:24:00.0000000Z"},
        {[...]
