---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=%E4%B8%AD%E5%9B%BD&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2FD664B4E8CA40D7A68E3257BA89152B
      X-Msedge-Clientid:
      - 176F2BEDF25A6536024A2030F3CD6476
      X-Msapi-Userstate:
      - 23ea
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9AE22AF4880B41E69835C3699936BC13&CID=176F2BEDF25A6536024A2030F3CD6476&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9AE22AF4880B41E69835C3699936BC13&CID=176F2BEDF25A6536024A2030F3CD6476&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%e4%b8%ad%e5%9b%bd",
        "webSearchUrlPingSuffix": "DevEx,5522.1", "totalEstimatedMatches": 25000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "中国_360百科", "url": "https:\/\/baike.so.com\/doc\/1279856-24188840.html", "urlPingSuffix":
        "DevEx,5089.1", "displayUrl": "https:\/\/baike.so.com\/doc\/1279856-24188840.html",
        "snippet": "中国,中国位于东亚，是以华夏文明为主体、中华文化为基础，以汉族为主要民族的统一多民族国家，通用汉语。中国人一般称呼自己为龙的传人、炎黄子孙或中华民族。",
        "dateLastCrawled": "2018-04-22T19:37:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "中国网--网上中国", "url": "http:\/\/www.china.com.cn\/", "urlPingSuffix":
        "DevEx,5113.1", "displayUrl": "www.china.com.cn", "snippet": "国家重点新闻网站，拥有十个语种独立新闻采编、报道和发布权；第一时间报道国家重大新闻事件；国情信息库服务全球读者了解中国；国务院新闻办公室发布会独家网络直播发布网站；拥有国内外顶级学者专家资源，独家编发各种相关政策解读。",
        "deepLinks": [{"name": "娱乐", "url": "http:\/\/ent.china.com.cn\/", "urlPingSuffix":
        "DevEx,5103.1"}, {"name": "财经", "url": "http:\/\/finance.china.com.cn\/",
        "urlPingSuffix": "DevEx,5104.1"}, {"name": "联系方式", "url": "http:\/\/www.china.com.cn\/fuwu\/lianxifangshi.htm",
        "urlPingSuffix": "DevEx,5105.1"}, {"name": "视频", "url": "http:\/\/v.china.com.cn\/",
        "urlPingSuffix": "DevEx,5106.1"}, {"name": "本站地图", "url": "http:\/\/www.china.com.cn\/fuwu\/node_7028918.htm",
        "urlPingSuffix": "DevEx,5107.1"}, {"name": "客户端", "url": "http:\/\/app.china.com.cn\/",
        "urlPingSuffix": "DevEx,5108.1"}], "dateLastCrawled": "2018-04-22T22:15:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "中国银行全球门户网站",
        "url": "http:\/\/www.boc.cn\/", "urlPingSuffix": "DevEx,5140.1", "displayUrl":
        "www.boc.cn", "snippet": "中国银行是中国国际化和多元化程度最高的银行，在中国内地及53个国家和地区为客户提供全面的金融服务。主要经营商业银行业务：公司金融、个人金融和金融市场业务，并通过附属机构开展投资银行、保险、直接投资、投资管理、基金管理和飞机租赁业务。",
        "dateLastCrawled": "2018-04-22T05:50:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3",
        "name": "中国政府网 中央人民政府门户网站 - gov.cn", "url": "http:\/\/www.gov.cn\/", "urlPingSuffix":
        "DevEx,5156.1", "about": [{"name": "Sichuan"}], "displayUrl": "www.gov.cn",
        "snippet": "中国政府网由国务院办公厅主办，中国政府网运行中心负责运行维护,是国务院和国务院各部门，以及各省、自治区、直辖市人民政府在国际互联网上发布政府信息和提供在线服务的综合平台,第一时间权威发布国务院重大决策部署和重要政策文件，国务院领导
        ...", "dateLastCrawled": "2018-04-22T22:16:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.4",
        "name": "国内新闻_环球网", "url": "http:\/\/china.huanqiu.com\/", "urlPingSuffix":
        "DevEx,5172.1", "displayUrl": "china.huanqiu.com", "snippet": "环球网国内新闻着力于报道国内最新要闻、时事新闻、海外看中国、国内[...]
