---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=white%20house&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - BFB7425F7EC84A859CD78AB102C887F3
      X-Msedge-Clientid:
      - 30B49AB442D76EED012E96E343D86F08
      X-Msapi-Userstate:
      - '2274'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5E2E5927182346ADB0CC8D74D2AFAE86&CID=30B49AB442D76EED012E96E343D86F08&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5E2E5927182346ADB0CC8D74D2AFAE86&CID=30B49AB442D76EED012E96E343D86F08&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=white+house",
        "webSearchUrlPingSuffix": "DevEx,5408.1", "totalEstimatedMatches": 270000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "The White House", "url": "https:\/\/www.whitehouse.gov\/", "urlPingSuffix":
        "DevEx,5056.1", "about": [{"name": "whitehouse.gov"}, {"name": "White House"}],
        "displayUrl": "https:\/\/www.whitehouse.gov", "snippet": "History of The White
        House. Our first president, George Washington, selected the site for the White
        House in 1791. Every president since John Adams has occupied the White House,
        and the history of this building extends far beyond the construction of its
        walls.", "dateLastCrawled": "2018-08-20T05:21:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "White House - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/White_House",
        "urlPingSuffix": "DevEx,5074.1", "about": [{"name": "White House"}, {"name":
        "White House"}], "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/White_House",
        "snippet": "The White House is the official residence and workplace of the
        President of the United States.It is located at 1600 Pennsylvania Avenue NW
        in Washington, D.C. and has been the residence of every U.S. President since
        John Adams in 1800.", "snippetAttribution": {"license": {"name": "CC-BY-SA",
        "url": "http:\/\/creativecommons.org\/licenses\/by-sa\/3.0\/", "urlPingSuffix":
        "DevEx,5409.1"}, "licenseNotice": "Text under CC-BY-SA license"}, "dateLastCrawled":
        "2018-08-14T08:54:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "TRUMP® WHITE HOUSE | WHITEHOUSE.ORG", "url": "https:\/\/whitehouse.org\/",
        "urlPingSuffix": "DevEx,5087.1", "about": [{"name": "whitehouse.org"}], "displayUrl":
        "https:\/\/whitehouse.org", "snippet": "100% OFFICIOUS website of the White
        House & President Donald J. Trump", "dateLastCrawled": "2018-08-18T22:[...]
