---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=tradiksyon&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2F8038D5BD9E46B2BEB000E7950A37B8
      X-Msedge-Clientid:
      - 3A542677D09D6E40129F2D30D10A6F64
      X-Msapi-Userstate:
      - 9caa
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A2188A106EAC4EBCBED55C3CAF427D58&CID=3A542677D09D6E40129F2D30D10A6F64&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A2188A106EAC4EBCBED55C3CAF427D58&CID=3A542677D09D6E40129F2D30D10A6F64&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=tradiksyon",
        "webSearchUrlPingSuffix": "DevEx,5497.1", "totalEstimatedMatches": 155000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Tradiksyon - French - Arabic Translation and Examples", "url": "https:\/\/mymemory.translated.net\/en\/French\/Arabic\/tradiksyon",
        "urlPingSuffix": "DevEx,5088.1", "displayUrl": "https:\/\/mymemory.translated.net\/en\/French\/Arabic\/tradiksyon",
        "snippet": "tradiksyon, you just need your email, , , Translation, human translation,
        automatic translation.", "dateLastCrawled": "2017-11-20T14:21:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Google
        Translate", "url": "https:\/\/translate.google.com\/?hl=ht", "urlPingSuffix":
        "DevEx,5101.1", "displayUrl": "https:\/\/translate.google.com\/?hl=ht", "snippet":
        "Tradui Fèmen tradiksyon enstantane a. Kreyòl Ayisyen. Angl ...", "dateLastCrawled":
        "2017-11-20T02:51:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "Haitian tradiksyon diksyonè - Android Apps on Google Play", "url":
        "https:\/\/play.google.com\/store\/apps\/details?id=en.ht.bestdict", "urlPingSuffix":
        "DevEx,5126.1", "displayUrl": "https:\/\/play.google.com\/store\/apps\/details?id=en.ht.bestdict",
        "snippet": "User will be satisfied with this Haitian Creole - English dictionary
        because: - It has the largest vocabulary - Detail description for each word
        and a lot ...", "dateLastCrawled": "2017-11-19T04:53:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "Washington Elementary
        School''s Sandra Edwards Named 2017 ...", "url": "https:\/\/www.palmbeachschools.org\/districtnews\/2017\/10\/25\/washington-elementary-schools-sandra-edwards-named-2017-2018-principal-of-the-year\/",
        "urlPingSuffix": "DevEx,5140.1", "display[...]
