---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q='65d86996b6eceb05d2272aea9cadd10d'&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E371CB78F4B84EA399E7D7E25A876FAE
      X-Msedge-Clientid:
      - 2D8D858BEE616AF930448F12EFF66B67
      X-Msapi-Userstate:
      - 361c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=4B5778DE29014DC5AEA7C529D0721AA3&CID=2D8D858BEE616AF930448F12EFF66B67&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=4B5778DE29014DC5AEA7C529D0721AA3&CID=2D8D858BEE616AF930448F12EFF66B67&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 06 Jun 2017 22:56:03 GMT
recorded_with: VCR 3.0.3
