---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sailing%20dingies&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 260B8D0153D343629C0E4F289BCEDEFF
      X-Msedge-Clientid:
      - 24D55A1E6B62636A003F51596AF5626E
      X-Msapi-Userstate:
      - 5c1b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D3108B76CE2F49FEAFFF8255EA7DB7F2&CID=24D55A1E6B62636A003F51596AF5626E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D3108B76CE2F49FEAFFF8255EA7DB7F2&CID=24D55A1E6B62636A003F51596AF5626E&Type=Event.CPT&DATA=0"},
        "queryContext": {"originalQuery": "sailing dingies", "alteredQuery": "sailing
        dinghies", "alterationOverrideQuery": "+sailing dingies", "adultIntent": false},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sailing+dingies",
        "webSearchUrlPingSuffix": "DevEx,5629.1", "totalEstimatedMatches": 7110000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Dinghy sailing - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/Dinghy_sailing",
        "urlPingSuffix": "DevEx,5109.1", "about": [{"name": "Dinghy sailing"}], "displayUrl":
        "https:\/\/en.wikipedia.org\/wiki\/Dinghy_sailing", "snippet": "Dinghy sailing
        is the activity of sailing small boats by using five essential controls: the
        sails; the foils (i.e. the daggerboard or centreboard and rudder and ...",
        "dateLastCrawled": "2017-11-20T15:41:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Trinka-The Best Rowing\/Sailing Dinghy in the World.", "url": "http:\/\/www.trinka.com\/",
        "urlPingSuffix": "DevEx,5127.1", "displayUrl": "www.trinka.com", "snippet":
        "Trinka-The best rowing dinghy and sailing yacht dinghy in the world.", "deepLinks":
        [{"name": "The Trinka 10", "url": "http:\/\/www.trinka.com\/trinka10.htm",
        "urlPingSuffix": "DevEx,5120.1"}, {"name": "The Trinka 8", "url": "http:\/\/www.trinka.com\/trinka8.htm",
        "urlPingSuffix": "DevEx,5121.1"}, {"name": "Trinka 12 Yacht Tender", "url":
        "http:\/\/trinka.com\/trinka12.htm", "urlPingSuffix": "DevEx,5122.1"}, {"name":
        "Preowned", "url": "http:\/\/trinka.com\/preowned.htm", "urlPingSuffix": "DevEx,5123.1"}],
        "dateLastCrawled": "201[...]
