---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=%E4%B8%AD%E5%9B%BD&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - DEABD22BF1C24DB79C02332EB21FED5B
      X-Msedge-Clientid:
      - 39FDF2F82A786E532069F8472BEF6FC1
      X-Msapi-Userstate:
      - 0aee
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=CC24F920D4C14E58909D586462D9FD3F&CID=39FDF2F82A786E532069F8472BEF6FC1&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=CC24F920D4C14E58909D586462D9FD3F&CID=39FDF2F82A786E532069F8472BEF6FC1&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%e4%b8%ad%e5%9b%bd",
        "webSearchUrlPingSuffix": "DevEx,5478.1", "totalEstimatedMatches": 501000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "China - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/China", "urlPingSuffix":
        "DevEx,5082.1", "about": [{"name": "China"}], "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/China",
        "snippet": ".中国; China, officially the People''s Republic of China (PRC),
        is a unitary sovereign state in East Asia and the world''s most populous country,
        with a population of ...", "dateLastCrawled": "2017-07-09T07:53:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "中華人民共和国
        - Wikipedia", "url": "https:\/\/ja.wikipedia.org\/wiki\/%E4%B8%AD%E8%8F%AF%E4%BA%BA%E6%B0%91%E5%85%B1%E5%92%8C%E5%9B%BD",
        "urlPingSuffix": "DevEx,5101.1", "about": [{"name": "China"}], "displayUrl":
        "https:\/\/ja.wikipedia.org\/wiki\/中華人民共和国", "snippet": "中国暦の新年。中国暦の12月30日（前年）、1月1日、1月2
        ...", "dateLastCrawled": "2017-07-08T08:59:00.0000000Z"}, {"id"[...]
