---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=11&q=anything&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 941B199819B441A6A5C32CBFE33FF0FC
      X-Msedge-Clientid:
      - 1678DD27EF786E073611D6B9EE9D6F80
      X-Msapi-Userstate:
      - 240a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F257420D02AA42E9AA612A03E217A718&CID=1678DD27EF786E073611D6B9EE9D6F80&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F257420D02AA42E9AA612A03E217A718&CID=1678DD27EF786E073611D6B9EE9D6F80&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=anything",
        "webSearchUrlPingSuffix": "DevEx,5323.1", "totalEstimatedMatches": 21000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Dramarama - Anything, Anything Lyrics | MetroLyrics", "url": "http:\/\/www.metrolyrics.com\/anything-anything-lyrics-dramarama.html",
        "urlPingSuffix": "DevEx,5073.1", "about": [{"name": "Anything, Anything (I''ll
        Give You)"}, {"name": "Anything, Anything (I''ll Give You)"}], "displayUrl":
        "www.metrolyrics.com\/anything-anything-lyrics-dramarama.html", "snippet":
        "Lyrics to ''Anything, Anything'' by Dramarama: I''ll even let you hear the
        songs I want to sing Because you married me, married me, married me", "dateLastCrawled":
        "2018-02-10T14:27:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "anything - English-French Dictionary WordReference.com", "url": "http:\/\/www.wordreference.com\/enfr\/anything",
        "urlPingSuffix": "DevEx,5088.1", "displayUrl": "www.wordreference.com\/enfr\/anything",
        "snippet": "anything - traduction anglais-français. Forums pour discuter de
        anything, voir ses formes composées, des exemples et poser vos questions.
      [...]
