---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=white%20house&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 63CAAE53003A444CA6BEB96EA91D2303
      X-Msedge-Clientid:
      - 26A32DD638396E6433EB260839AE6F8A
      X-Msapi-Userstate:
      - 6faa
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F313E06E10504EF2B4BD7823DB2E57B6&CID=26A32DD638396E6433EB260839AE6F8A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F313E06E10504EF2B4BD7823DB2E57B6&CID=26A32DD638396E6433EB260839AE6F8A&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=white+house",
        "webSearchUrlPingSuffix": "DevEx,5893.1", "totalEstimatedMatches": 277000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "The White House", "url": "https:\/\/www.whitehouse.gov\/", "urlPingSuffix":
        "DevEx,5126.1", "about": [{"name": "whitehouse.gov"}, {"name": "United States"},
        {"name": "White House"}], "displayUrl": "https:\/\/www.whitehouse.gov",
        "snippet": "History of The White House. Our first president, George Washington,
        selected the site for the White House in 1791. Every president since John
        Adams has occupied the White House, and the history of this building extends
        far beyond the construction of its walls.", "deepLinks": [{"name": "Contact",
        "url": "https:\/\/www.whitehouse.gov\/contact", "urlPingSuffix": "DevEx,5100.1",
        "snippet": "Get Involved Contact the White House. Share:"}, {"name": "News",
        "url": "https:\/\/www.whitehouse.gov\/news\/", "urlPingSuffix": "DevEx,5101.1",
        "snippet": "Readout of Vice President Mike Pence’s Meeting with German Vice
        Chancellor and Minister of Finance Olaf Scholz"}, {"name": "Live Events",
        "url": "https:\/\/www.whitehouse.gov\/live[...]
