---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1E13146EDB8444EEA1C679D371A42DA8
      X-Msedge-Clientid:
      - 0FF8495A178A602609BF421D161D612F
      X-Msapi-Userstate:
      - '0393'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A2C695092F284FC5BF3DE160ABDEEBC9&CID=0FF8495A178A602609BF421D161D612F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A2C695092F284FC5BF3DE160ABDEEBC9&CID=0FF8495A178A602609BF421D161D612F&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=white+house",
        "webSearchUrlPingSuffix": "DevEx,5779.1", "totalEstimatedMatches": 205000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "The White House | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/",
        "urlPingSuffix": "DevEx,5120.1", "about": [{"name": "whitehouse.gov"}], "displayUrl":
        "https:\/\/www.whitehouse.gov", "snippet": "Each day we round up the best
        stories the West Wing is reading and share them with you.", "deepLinks": [{"name":
        "Contact Us", "url": "https:\/\/www.whitehouse.gov\/contact", "urlPingSuffix":
        "DevEx,5099.1", "snippet": "Get in Touch with The White House | whitehouse.gov"},
        {"name": "Live", "url": "https:\/\/www.whitehouse.gov\/live", "urlPingSuffix":
        "DevEx,5100.1", "snippet": "Live Events | whitehouse.gov. Video Gallery View
        the most recent videos from the White House. Live Events Tune in to White
        House events and statements as they happen. From t[...]
