---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=tradiksyon&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 907E6B255E1C4089A4494F1CAC22A349
      X-Msedge-Clientid:
      - 2381B9F48C336923171DB2298DA468CE
      X-Msapi-Userstate:
      - 3c35
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=59ACAA46B745488596824EE364638F02&CID=2381B9F48C336923171DB2298DA468CE&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=59ACAA46B745488596824EE364638F02&CID=2381B9F48C336923171DB2298DA468CE&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=tradiksyon",
        "webSearchUrlPingSuffix": "DevEx,5482.1", "totalEstimatedMatches": 185000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Google Translate", "url": "https:\/\/translate.google.com\/?hl=ht", "urlPingSuffix":
        "DevEx,5088.1", "displayUrl": "https:\/\/translate.google.com\/?hl=ht", "snippet":
        "Tradui Fèmen tradiksyon enstantane a. Kreyòl Ayisyen. Angl ...", "dateLastCrawled":
        "2018-04-22T23:59:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Google Traduction", "url": "https:\/\/translate.google.com\/?hl=fr",
        "urlPingSuffix": "DevEx,5106.1", "displayUrl": "https:\/\/translate.google.com\/?hl=fr",
        "snippet": "Ce service gratuit de Google traduit instantanément des mots,
        des expressions et des pages Web du français vers plus de 100 autres langues.",
        "deepLinks": [{"name": "Google Translate", "url": "https:\/\/translate.google.com\/?tl=pt",
        "urlPingSuffix": "DevEx,5099.1"}, {"name": "Google Traduction", "url": "https:\/\/translate.google.com\/m\/translate?hl=fr",
        "urlPingSuffix": "DevEx,5100.1"}, {"name": "Translate Community", "url": "https:\/\/translate.google.com\/community",
        "urlPingSuffix": "DevEx,5101.1"}], "dateLastCrawled": "2018-04-15T01:28:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",[...]
