---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=sailing%20dingies&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - EDE50BE909274BCDBFFB5E3D6A2A8468
      X-Msedge-Clientid:
      - 39CD9C9F6A3E6FF83AC297016BDB6E0A
      X-Msapi-Userstate:
      - a7d7
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=3137E933BA49476692CC3B0E5D3620AE&CID=39CD9C9F6A3E6FF83AC297016BDB6E0A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=3137E933BA49476692CC3B0E5D3620AE&CID=39CD9C9F6A3E6FF83AC297016BDB6E0A&Type=Event.CPT&DATA=0"},
        "queryContext": {"originalQuery": "sailing dingies", "alteredQuery": "sailing
        dinghies", "alterationOverrideQuery": "+sailing dingies", "adultIntent": false},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sailing+dingies",
        "webSearchUrlPingSuffix": "DevEx,5623.1", "totalEstimatedMatches": 4200000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Dinghy sailing - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/Dinghy_sailing",
        "urlPingSuffix": "DevEx,5111.1", "about": [{"name": "Dinghy sailing"}, {"name":
        "Dinghy sailing"}], "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/Dinghy_sailing",
        "snippet": "Dinghy sailing is the activity of sailing small boats by using
        five essential controls: the sails; the foils (i.e. the daggerboard or centreboard
        and rudder and ...", "deepLinks": [{"name": "Optimist", "url": "https:\/\/en.wikipedia.org\/wiki\/Optimist_(dinghy)",
        "urlPingSuffix": "DevEx,5100.1"}, {"name": "Development of the dinghy", "url":
        "https:\/\/en.wikipedia.org\/wiki\/Dinghy_sailing#Development_of_the_dinghy",
        "urlPingSuffix": "DevEx,5101.1", "snippet": "There has always been a need
        for small tender boats for transporting goods and personnel to and from anchored
        sailing ships. Together with other smaller work craft such as f[...]
