---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=tradiksyon&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 95B8F12FC3D443B4882C3481A08B894E
      X-Msedge-Clientid:
      - 3E4F211AC4A8683F361A2B27C53F6927
      X-Msapi-Userstate:
      - 533b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=FC66C1C90DCF4EEEA1E4BB345A3E4F13&CID=3E4F211AC4A8683F361A2B27C53F6927&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=FC66C1C90DCF4EEEA1E4BB345A3E4F13&CID=3E4F211AC4A8683F361A2B27C53F6927&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=tradiksyon",
        "webSearchUrlPingSuffix": "DevEx,5448.1", "totalEstimatedMatches": 37200,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Google Traduction", "url": "https:\/\/translate.google.com\/?hl=fr", "urlPingSuffix":
        "DevEx,5075.1", "displayUrl": "https:\/\/translate.google.com\/?hl=fr", "snippet":
        "Ce service gratuit de Google traduit instantanément des mots, des expressions
        et des pages Web du français vers plus de 100 autres langues.", "dateLastCrawled":
        "2017-03-01T21:52:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Tradiksyon - French - Arabic Translation and Examples", "url": "http:\/\/mymemory.translated.net\/en\/French\/Arabic\/tradiksyon",
        "urlPingSuffix": "DevEx,5095.1", "displayUrl": "mymemory.translated.net\/en\/French\/Arabic\/tradiksyon",
        "snippet": "tradiksyon, HAYE ELBASATINE 1 NAHEJ EAMAZIGE, , , Translation,
        human translation, automatic translation.", "d[...]
