---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=11&q=anything&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0E60DDB050E2474DBA2266B7341B38E7
      X-Msedge-Clientid:
      - 04601A054D0D6B2709EA11424C9A6AD6
      X-Msapi-Userstate:
      - b71f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D8711E74D2CC4FEAADCC0AF009C09F44&CID=04601A054D0D6B2709EA11424C9A6AD6&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D8711E74D2CC4FEAADCC0AF009C09F44&CID=04601A054D0D6B2709EA11424C9A6AD6&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=anything",
        "webSearchUrlPingSuffix": "DevEx,5331.1", "totalEstimatedMatches": 41400000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Anything - Jennie Allen", "url": "http:\/\/www.jennieallen.com\/books\/anything\/",
        "urlPingSuffix": "DevEx,5069.1", "displayUrl": "www.jennieallen.com\/books\/anything",
        "snippet": "What Is Your Anything? As a generation, I believe we are all yawning
        and waking up, identifying these currents, and comparing them to the truth
        of God. We’re ...", "dateLastCrawled": "2017-11-17T20:20:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Anything in Spanish
        | English to Spanish Translation ...", "url": "http:\/\/www.spanishdict.com\/translate\/anything",
        "urlPingSuffix": "DevEx,5084.1", "displayUrl": "www.spanishdict.com\/translate\/anything",
        "snippet": "Translate Anything. See 4 authoritative translations of Anything
        in Spanish with example sentences, phrases and audio pronunciations.", [...]
