---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=%2765d86996b6eceb05d2272aea9cadd10d%27&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6C138699C0AD4C099DD3961C2E6E55A1
      X-Msedge-Clientid:
      - '0717904F68976CD019499C1869986DF8'
      X-Msapi-Userstate:
      - f30f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=27C0ED6DD702481A9E29A170E868CCA0&CID=0717904F68976CD019499C1869986DF8&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=27C0ED6DD702481A9E29A170E868CCA0&CID=0717904F68976CD019499C1869986DF8&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Sun, 26 Aug 2018 23:58:49 GMT
recorded_with: VCR 4.0.0
