---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1DD5C479480B48A4B8D4AB0D2563F137
      X-Msedge-Clientid:
      - 14D07055ECBA61E0027F7A68ED2D60D5
      X-Msapi-Userstate:
      - b26c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9A7F6C5DEB824E3081B2634B8A823B87&CID=14D07055ECBA61E0027F7A68ED2D60D5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9A7F6C5DEB824E3081B2634B8A823B87&CID=14D07055ECBA61E0027F7A68ED2D60D5&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=white+house",
        "webSearchUrlPingSuffix": "DevEx,5695.1", "totalEstimatedMatches": 31600000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "The White House | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/",
        "urlPingSuffix": "DevEx,5101.1", "about": [{"name": "Eisenhower Executive
        Office Building"}, {"name": "White House"}], "displayUrl": "https:\/\/www.whitehouse.gov",
        "snippet": "President Donald J. Trump''s Joint Address to Congress. Watch
        the President''s first address to a Joint Session of Congress and get more
        information here.", "deepLinks": [{"name": "Contact Us", "url": "https:\/\/www.whitehouse.gov\/contact",
        "urlPingSuffix": "DevEx,5090.1", "snippet": "Get in Touch with The White House
        . Twitter; Instagram; Facebook; Contact Us; Home; Briefing Room. From the
        News Room. Latest News; From the Press Office. Speeches ..."}, {"name": "Tours
        & Events", "url": "https:\/\/www.whitehouse.gov\/participate\/tours-and-events",
        "urlPingSuffix": "DevEx,5091.1", "snippet": "Tour hours will be extended w[...]
