---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q='65d86996b6eceb05d2272aea9cadd10d'&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4A9597C93B4A4B85AC5D52D5D159AF96
      X-Msedge-Clientid:
      - 1B6AA57B1C006ACF1740AF191D976BFA
      X-Msapi-Userstate:
      - 209a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A260C116A9F64AF0BECDB33A477E2B09&CID=1B6AA57B1C006ACF1740AF191D976BFA&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A260C116A9F64AF0BECDB33A477E2B09&CID=1B6AA57B1C006ACF1740AF191D976BFA&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 12 Apr 2017 20:38:30 GMT
recorded_with: VCR 3.0.3
