---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q='65d86996b6eceb05d2272aea9cadd10d'&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9861EB1FC09E402CA21C4093B5B5F6AC
      X-Msedge-Clientid:
      - 0C74AE2289F4613B19FBA49D88636054
      X-Msapi-Userstate:
      - 2ad7
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D483BB3A326C4859882B10DB876FB44B&CID=0C74AE2289F4613B19FBA49D88636054&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D483BB3A326C4859882B10DB876FB44B&CID=0C74AE2289F4613B19FBA49D88636054&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Fri, 14 Jul 2017 16:19:19 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=%2765d86996b6eceb05d2272aea9cadd10d%27&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 402BC7F125A04C46B14EE80D075CC15D
      X-Msedge-Clientid:
      - 0F18A4E14DD068E627B8AFE04C476962
      X-Msapi-Userstate:
      - 0aed
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=0FD003E23E6748548E4E4AB2009F1C29&CID=0F18A4E14DD068E627B8AFE04C476962&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=0FD003E23E6748548E4E4AB2009F1C29&CID=0F18A4E14DD068E627B8AFE04C476962&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 18 Sep 2017 19:48:38 GMT
recorded_with: VCR 3.0.3
