---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=electro%20coagulation&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - FAB1C4CB86994120A72AD9C4E1E80635
      X-Msedge-Clientid:
      - 3380901503BE66E028F69A2802296730
      X-Msapi-Userstate:
      - cdf3
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=7888B00C9E894555A175C1773375F1CE&CID=3380901503BE66E028F69A2802296730&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=7888B00C9E894555A175C1773375F1CE&CID=3380901503BE66E028F69A2802296730&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=electro+coagulation",
        "webSearchUrlPingSuffix": "DevEx,5498.1", "totalEstimatedMatches": 86700,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Electrocoagulation - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/Electrocoagulation",
        "urlPingSuffix": "DevEx,5085.1", "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/Electrocoagulation",
        "snippet": "Electrocoagulation (EC), aka radio frequency diathermy or short
        wave electrolysis, is a technique used for wash water treatment, wastewater
        treatment ...", "dateLastCrawled": "2017-03-02T10:30:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Electrocoagulation
        - F&T Water Solutions", "url": "http:\/\/www.ftwatersolutions.com\/electrocoagulation\/",
        "urlPingSuffix": "DevEx,5100.1", "displayUrl": "www.ftwatersolutions.com\/electrocoagulation",
        "snippet": "Electrocoagulation (Electro Coagulation) is the passing of electrical
        current through water, has proven very effective in the removal of conta[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sailing%20dingies&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 883B335BF13B4047885E3250F1231EB5
      X-Msedge-Clientid:
      - 057ACBF983F36FDC20DCC11082646E87
      X-Msapi-Userstate:
      - b208
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=60296ECD05EF4D25A2017F90A99245F6&CID=057ACBF983F36FDC20DCC11082646E87&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=60296ECD05EF4D25A2017F90A99245F6&CID=057ACBF983F36FDC20DCC11082646E87&Type=Event.CPT&DATA=0"},
        "queryContext": {"originalQuery": "sailing dingies", "alteredQuery": "sailing
        dinghies", "alterationOverrideQuery": "+sailing dingies", "adultIntent": false},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sailing+dingies",
        "webSearchUrlPingSuffix": "DevEx,5598.1", "totalEstimatedMatches": 19000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Dinghy sailing - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/Dinghy_sailing",
        "urlPingSuffix": "DevEx,5092.1", "about": [{"name": "Dinghy sailing"}], "displayUrl":
        "https:\/\/en.wikipedia.org\/wiki\/Dinghy_sailing", "snippet": "Dinghy sailing
        is the activity of sailing small boats by using five essential controls: the
        sails; the foils (i.e. the daggerboard or centreboard and rudder and ...",
        "dateLastCrawled": "2017-08-12T20:02:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Best Dinghy | Sailing World", "url": "http:\/\/www.sailingworld.[...]
