---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=tradiksyon&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 54CEA72420B8419C86A38E1F81279043
      X-Msedge-Clientid:
      - 21F0CE4C2ED369003085C5CA2F7C685D
      X-Msapi-Userstate:
      - fe28
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=49866F54B1204E379655CA59421A553F&CID=21F0CE4C2ED369003085C5CA2F7C685D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=49866F54B1204E379655CA59421A553F&CID=21F0CE4C2ED369003085C5CA2F7C685D&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=tradiksyon",
        "webSearchUrlPingSuffix": "DevEx,5467.1", "totalEstimatedMatches": 197000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Google Translate", "url": "https:\/\/translate.google.com\/?hl=ht", "urlPingSuffix":
        "DevEx,5087.1", "displayUrl": "https:\/\/translate.google.com\/?hl=ht", "snippet":
        "Tradui Fèmen tradiksyon enstantane a. Kreyòl Ayisyen. Angl ...", "dateLastCrawled":
        "2018-01-17T06:14:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Google Traduction", "url": "https:\/\/translate.google.com\/?hl=fr",
        "urlPingSuffix": "DevEx,5102.1", "displayUrl": "https:\/\/translate.google.com\/?hl=fr",
        "snippet": "Ce service gratuit de Google traduit instantanément des mots,
        des expressions et des pages Web du français vers plus de 100 autres langues.",
        "dateLastCrawled": "2018-01-22T01:51:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "Tradiksyon - French - Arabic Translation and Examples", "url": "https:\/\/mymemory.translated.net\/en\/French\/Arabic\/tradiksyon",
        "urlPingSuffix": "DevEx,5116.1", "displayUrl": "https:\/\/mymemory.translated.net\/en\/French\/Arabic\/tradiksyon",
        "snippet": "tradiksyon, you just need your email, , , Translation, human translation,
        automatic translation.", "dateLastCrawled": "2017-12-20T08:19:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "Haitian
        tradiksyon diksyonè - Android Apps on Google Play", "url": "https:\/\/play.google.com\/store\/apps\/details?id=en.ht.bestdict",
        "urlPingSuffix": "DevEx,5141.1", "displayUrl": "https:\/\/play.google.com\/store\/apps\/details?id=en.ht.bestdict",
        "snippet": "User will be satisfied with this Haitian Creole - English dictionary
        because: - It has the largest vocabulary - Detail description for each word
        and a lot ...", "dateLastCrawled": "2018-01-22T19:03:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.4", "name": "Class of 2018
        Graduation Ceremony Dates and Times ...", "url": "https:\/\/www.palmbeachschools.org\/districtnews\/2017\/12\/04\/class-of-2018-graduation-dates-announced\/",
        "urlPingSuffix": "DevEx,5154.1", "displayUrl": "https:\/\/www.palmbeachschools.org\/distric[...]
