---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=%E4%B8%AD%E5%9B%BD&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D95002C3F4CF4B40A4590E037E484361
      X-Msedge-Clientid:
      - 3B59BAAB85A66442140FB1EC84316578
      X-Msapi-Userstate:
      - '7473'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5A91608239FA4FFD891F6C0EF5982EEC&CID=3B59BAAB85A66442140FB1EC84316578&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5A91608239FA4FFD891F6C0EF5982EEC&CID=3B59BAAB85A66442140FB1EC84316578&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%e4%b8%ad%e5%9b%bd",
        "webSearchUrlPingSuffix": "DevEx,5526.1", "totalEstimatedMatches": 20800000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "中国银行全球门户网站", "url": "http:\/\/www.boc.cn\/", "urlPingSuffix": "DevEx,5096.1",
        "displayUrl": "www.boc.cn", "snippet": "中国银行是中国国际化和多元化程度最高的银行，在中国内地、香港、澳门、台湾及37个国家为客户提供全面的金融服务。",
        "deepLinks": [{"name": "个人网上银行", "url": "http:\/\/www.boc.cn\/ebanking\/bocnet_pb\/",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "中国银行", "url": "https:\/\/ebsnew.boc.cn\/boc15\/login.html",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "中国银行外汇牌价", "url": "http:\/\/www.boc.cn\/sourcedb\/whpj\/",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "电子银行", "url": "http:\/\/www.boc.cn\/ebanking\/",
        "urlPingSuffix": "DevEx,5091.1"}, {"name": "个人银行", "url": "http:\/\/www.boc.cn\/pbservice\/pb5\/",
        "urlPingSuffix": "DevEx,5092.1"}, {"name": "企业客户网银登录", "url": "https:\/\/ebsnew.boc.cn\/boccp\/login.html?entryType=9",
        "urlPingSuffix": "DevEx,5093.1"}], "dateLastCrawled": "2017-11-22T21:05:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "大紀元中國大陸新聞包含時事、政治、經濟、股市、社會、反腐敗打老虎、評論等
        | 大紀元", "url": "http:\/\/www.epochtimes.com\/b5\/nsc413.htm", "urlPingSuffix":
        "DevEx,5113.1", "displayUrl": "www.epochtimes.com\/b5\/nsc413.htm", "snippet":
        "大紀元新聞網真實報道中國時事，權威解讀中國政局。獨家報導習近平、王岐山、李克強反腐、打老虎，清洗江澤民集團貪官 ...", "deepLinks":
        [{"name": "大陸新聞", "url": "http:\/\/www.epochtimes.com\/b5\/news413.htm", "urlPingSuffix[...]
