---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=tradiksyon&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 11E89BCEDE5F48A6962AF3D1D6E1E380
      X-Msedge-Clientid:
      - 0462FF908B6668801864F3C78A6969E4
      X-Msapi-Userstate:
      - 761b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8DE60B1D5778427FA652385C7169C477&CID=0462FF908B6668801864F3C78A6969E4&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8DE60B1D5778427FA652385C7169C477&CID=0462FF908B6668801864F3C78A6969E4&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=tradiksyon",
        "webSearchUrlPingSuffix": "DevEx,5416.1", "totalEstimatedMatches": 139000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Google Translate", "url": "https:\/\/translate.google.com\/?hl=ht", "urlPingSuffix":
        "DevEx,5057.1", "displayUrl": "https:\/\/translate.google.com\/?hl=ht", "snippet":
        "Tradui Fèmen tradiksyon enstantane a. Kreyòl Ayisyen. Angl ...", "dateLastCrawled":
        "2018-08-16T16:40:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Google Traduction", "url": "https:\/\/translate.google.com\/?hl=fr",
        "urlPingSuffix": "DevEx,5069.1", "displayUrl": "https:\/\/translate.google.com\/?hl=fr",
        "snippet": "Ce service gratuit de Google traduit instantanément des mots,
        des expressions et des pages Web du français vers plus de 100 autres langues.",
        "dateLastCrawled": "2018-08-16T17:31:0[...]
