---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=11&q=anything&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E7888958C1D441FA9184CC49AB65D263
      X-Msedge-Clientid:
      - 2C10398982C16380232A320F836E622F
      X-Msapi-Userstate:
      - ba5f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=541F2495F6B447A595ED4508A998BF28&CID=2C10398982C16380232A320F836E622F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=541F2495F6B447A595ED4508A998BF28&CID=2C10398982C16380232A320F836E622F&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=anything",
        "webSearchUrlPingSuffix": "DevEx,5331.1", "totalEstimatedMatches": 50600000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Anything But | Definition of Anything But by Merriam-Webster", "url": "https:\/\/www.merriam-webster.com\/dictionary\/anything%20but",
        "urlPingSuffix": "DevEx,5069.1", "displayUrl": "https:\/\/www.merriam-webster.com\/dictionary\/anything
        but", "snippet": "Define anything but: not at all — anything but in a sentence",
        "dateLastCrawled": "2018-01-21T10:14:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "AnythingIT | Global IT Asset Value Recovery", "url": "http:\/\/www.anythingit.com\/",
        "urlPingSuffix": "DevEx,5084.1", "displayUrl": "www.anythingit.com", "snippet":
        "Anything IT is an electronic equipment recycler and an expert in providing
        services like Computer disposal, IT Disposal, computer recycling & DoD Data
        Wipe -5220.22M ...", "dateLastCrawled": "2018-01-21T16:16:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "anything - Dizionario
        inglese-italiano WordReference", "url": "http:\/\/www.wordreference.com\/enit\/anything",
        "urlPingSuffix": "DevEx,5098.1", "displayUrl": "www.wordreference.com\/enit\/anything",
        "snippet": "anything - Traduzione del vocabolo e dei suoi composti, e discussioni
        del forum.", "dateLastCrawled": "2018-01-17T10:01:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3",
        "name": "Anything (3T song) - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/Anything_(3T_song)",
        "urlPingSuffix": "DevEx,5117.1", "about": [{"name": "Anything"}, {"name":
        "Anything"}, {"name": "Anything"}], "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/Anything_(3T_song)",
        "snippet": "\"Anything\" is a song composed and recorded by American R&B trio
        3T. It was their first released single, and was extracted from their first
        album Brotherhood.", "dateLastCrawled": "2018-01-18T04:13:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.4", "name": "‘All but’ vs.
        ‘anyt[...]
