---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=casa%20blanca&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 18424EBBF4174AC282D29E04F06F4132
      X-Msedge-Clientid:
      - 067FC110474162143601CB2D46D663F6
      X-Msapi-Userstate:
      - f281
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=039D54C2FC974289B448524497C19BE5&CID=067FC110474162143601CB2D46D663F6&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=039D54C2FC974289B448524497C19BE5&CID=067FC110474162143601CB2D46D663F6&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=casa+blanca",
        "webSearchUrlPingSuffix": "DevEx,5556.1", "totalEstimatedMatches": 10500000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Casablanca (film) - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/Casablanca_(film)",
        "urlPingSuffix": "DevEx,5097.1", "about": [{"name": "Casablanca"}], "displayUrl":
        "https:\/\/en.wikipedia.org\/wiki\/Casablanca_(film)", "snippet": "Casablanca
        is a 1942 American romantic drama film directed by Michael Curtiz and based
        on Murray Burnett and Joan Alison''s unproduced stage play Everybody Comes
        to Rick''s", "dateLastCrawled": "2017-03-04T07:52:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Casablanca (1942) - IMDb", "url": "http:\/\/www.imdb.com\/title\/tt0034583\/",
        "urlPingSuffix": "DevEx,5129.1", "about": [{"name": "Casablanca"}], "displayUrl":
        "www.imdb.com\/title\/tt0034583", "snippet": "In Casablanca, Morocco in December
        1941, a cynical American expatriate meets a former lover, with unforeseen
        complications.", "dateLastCrawled": "2017-[...]
