---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 923535346D81412BBBF49733D61FE842
      X-Msedge-Clientid:
      - 06B38D0CCBAD68EB2A078795CA3A69D2
      X-Msapi-Userstate:
      - 645f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=6A9969D4367F4C54B2A97B46077B2CC5&CID=06B38D0CCBAD68EB2A078795CA3A69D2&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=6A9969D4367F4C54B2A97B46077B2CC5&CID=06B38D0CCBAD68EB2A078795CA3A69D2&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english", "webSearchUrlPingSuffix":
        "DevEx,5554.1", "totalEstimatedMatches": 28700000, "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0",
        "name": "English language - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/English_language",
        "urlPingSuffix": "DevEx,5089.1", "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/English_language",
        "snippet": "English i \/ ˈ ɪ ŋ ɡ l ɪ ʃ \/ is a West Germanic language that
        was first spoken in early medieval England and is now the global lingua franca.
        Named after the ...", "dateLastCrawled": "2017-05-23T08:26:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "English
        - definition of English by The Free Dictionary", "url": "http:\/\/www.thefreedictionary.com\/English",
        "urlPingSuffix": "DevEx,5103.1", "displayUrl": "www.thefreedictionary.com\/English",
        "snippet": "Eng·lish (ĭng′glĭsh) adj. 1. Of, relating to, or characteristic
        of England or its people or culture. 2. Of or relating to the English language.",
        "dateLastCrawled": "2017-06-01T09:16:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "English | Define English at Dictionary.com", "url": "http:\/\/www.dictionary.com\/browse\/english",
        "urlPingSuffix": "DevEx,5117.1", "displayUrl": "www.dictionary.com\/browse\/english",
        "snippet": "English definition, of, relating to, or characteristic of England
        or its inhabitants, institutions, etc. See more.", "dateLastCrawled": "2017-06-02T07:07:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "English
        Grammar: a complete guide", "url": "http:\/\/www.ef.com\/english-resources\/english-grammar\/",
        "urlPingSuffix": "DevEx,5131.1", "displayUrl": "www.ef.com\/english-resources\/english-grammar",
        "snippet": "This is a complete English grammar guide with the rules of English
        usage. Each grammatical rule is explained in plain English with several examples,
        and when needed ...", "dateLastCrawled": "2017-05-28T22:18:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\[...]
