---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=sailing%20dingies&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3A1E7459B92D48AF8D268179D52509F3
      X-Msedge-Clientid:
      - 149DAE694406667B242CA561459167FB
      X-Msapi-Userstate:
      - 85e2
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=FCC70304DD2B498B8B808F1AF13ABA2C&CID=149DAE694406667B242CA561459167FB&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=FCC70304DD2B498B8B808F1AF13ABA2C&CID=149DAE694406667B242CA561459167FB&Type=Event.CPT&DATA=0"},
        "queryContext": {"originalQuery": "sailing dingies", "alteredQuery": "sailing
        dinghies", "alterationOverrideQuery": "+sailing dingies", "adultIntent": false},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sailing+dingies",
        "webSearchUrlPingSuffix": "DevEx,5604.1", "totalEstimatedMatches": 23300000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Dinghy sailing - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/Dinghy_sailing",
        "urlPingSuffix": "DevEx,5098.1", "about": [{"name": "Dinghy sailing"}], "displayUrl":
        "https:\/\/en.wikipedia.org\/wiki\/Dinghy_sailing", "snippet": "Dinghy sailing
        is the activity of sailing small boats by using five essential controls: the
        sails; the foils (i.e. the daggerboard or centreboard and rudder and ...",
        "dateLastCrawled": "2017-09-20T23:21:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Trinka-The Best Rowing\/Sailing Dinghy in the World.", "url": "http:\/\/www.trinka.com\/",
        "urlPingSuffix": "DevEx,5116.1", "displayUrl": "www.trinka.com", "snippet":
        "Trinka-The best rowing dinghy and sailing yacht dinghy in the world.", "deepLinks":
        [{"name": "The Trinka 10", "url": "http:\/\/www.trinka.com\/trinka10.htm",
        "urlPingSuffix": "DevEx,5109.1"}, {"name": "The Trinka 8", "url": "http:\/\/www.trinka.com\/trinka8.htm",
        "urlPingSuffix": "DevEx,5110.1"}, {"name": "Trinka 12 Yacht Tender", "url":
        "http:\/\/www.trinka.com\/trinka12.htm", "urlPingSuffix": "DevEx,5111.1"},
        {"name": "Preowned", "url": "http:\/\/www.trinka.com\/preowned.htm", "urlPingSuffix":
        "DevEx,5112.1"}], "dateLastCrawle[...]
