---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 03E94D8210454209B199822B5E2FB031
      X-Msedge-Clientid:
      - 3315C761BC516FCB37A1CC60BDC66EDF
      X-Msapi-Userstate:
      - '2243'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=3B3FF077F84049D4AD89B91A827DAB2D&CID=3315C761BC516FCB37A1CC60BDC66EDF&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=3B3FF077F84049D4AD89B91A827DAB2D&CID=3315C761BC516FCB37A1CC60BDC66EDF&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english", "webSearchUrlPingSuffix":
        "DevEx,5591.1", "totalEstimatedMatches": 1030000000, "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0",
        "name": "English language - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/English_language",
        "urlPingSuffix": "DevEx,5094.1", "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/English_language",
        "snippet": "English is an Indo-European language, and belongs to the West
        Germanic group of the Germanic languages. Most closely related to English
        are the Frisian languages, and ...", "dateLastCrawled": "2017-09-15T17:03:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "English
        - definition of English by The Free Dictionary", "url": "http:\/\/www.thefreedictionary.com\/English",
        "urlPingSuffix": "DevEx,5112.1", "displayUrl": "www.thefreedictionary.com\/English",
        "snippet": "Eng·lish (ĭng′glĭsh) adj. 1. Of, relating to, or characteristic
        of England or its people or culture. 2. Of or relating to the English language.
        n. 1. (used with ...", "deepLinks": [{"name": "Legal", "url": "http:\/\/www.thefreedictionary.com\/English",
        "urlPingSuffix": "DevEx,5106.1"}, {"name": "Idioms", "url": "http:\/\/idioms.thefreedictionary.com\/english",
        "urlPingSuffix": "DevEx,5107.1"}], "dateLastCrawled": "2017-09-15T00:17:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Advanced
        English lessons", "url": "https:\/\/englishpage.com\/", "urlPingSuffix": "DevEx,5126.1",
        "displayUrl": "https:\/[...]
