---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0A93C16B1FFD4CC58F9741D5F2C25064
      X-Msedge-Clientid:
      - 13B63B6DADDF6EE3043031F4AC486FC4
      X-Msapi-Userstate:
      - b4f9
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=838D5FA8E96F4C37BD9E6FC4328BAC7B&CID=13B63B6DADDF6EE3043031F4AC486FC4&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=838D5FA8E96F4C37BD9E6FC4328BAC7B&CID=13B63B6DADDF6EE3043031F4AC486FC4&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=white+house",
        "webSearchUrlPingSuffix": "DevEx,5716.1", "totalEstimatedMatches": 91700000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "The White House | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/",
        "urlPingSuffix": "DevEx,5100.1", "about": [{"name": "Eisenhower Executive
        Office Building"}, {"name": "White House"}], "displayUrl": "https:\/\/www.whitehouse.gov",
        "snippet": "1600 Daily. Get news, events and updates from the White House
        at 1600 Daily. Read", "deepLinks": [{"name": "Contact Us", "url": "https:\/\/www.whitehouse.gov\/contact",
        "urlPingSuffix": "DevEx,5088.1", "snippet": "Get in Touch with The White House.
        To write or call the White House, click here. Twitter; Instagram; Facebook;
        Contact Us; Home; Briefing Room. From the News Room ..."}, {"name": "Tours
        & Events", "url": "https:\/\/www.whitehouse.gov\/participate\/tours-and-events",
        "urlPingSuffix": "DevEx,5089.1", "snippet": "Anyone visiting DC can experie[...]
