---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=casa%20blanca&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7C5C18E204F5404CBCC625934B900404
      X-Msedge-Clientid:
      - 02A317F30D7162C61C9E1D6A0CE6632A
      X-Msapi-Userstate:
      - f614
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B07E205D2CA449D08DE9D57CA60887B6&CID=02A317F30D7162C61C9E1D6A0CE6632A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B07E205D2CA449D08DE9D57CA60887B6&CID=02A317F30D7162C61C9E1D6A0CE6632A&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=casa+blanca",
        "webSearchUrlPingSuffix": "DevEx,5613.1", "totalEstimatedMatches": 13800000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Casablanca (1942) - IMDb", "url": "http:\/\/www.imdb.com\/title\/tt0034583\/",
        "urlPingSuffix": "DevEx,5104.1", "about": [{"name": "Casablanca"}], "displayUrl":
        "www.imdb.com\/title\/tt0034583", "snippet": "In Casablanca in December 1941,
        a cynical American expatriate encounters a former lover, with unforeseen complications.",
        "dateLastCrawled": "2017-05-31T20:10:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Casablanca (film) - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/Casablanca_(film)",
        "urlPingSuffix": "DevEx,5126.1", "about": [{"name": "Casablanca"}], "displayUrl":
        "https:\/\/en.wikipedia.org\/wiki\/Casablanca_(film)", "snippet": "Casablanca
        is a 1942 American romantic drama film directed by Michael Curtiz and based
        on Murray Burnett and Joan A[...]
