---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=casa%20blanca&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 73525FB7A5004A1284B738F106210A8B
      X-Msedge-Clientid:
      - 0FD7D6B4B0D861B626FFDD2AB13D6046
      X-Msapi-Userstate:
      - 3c0b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=0517571251E443B09B1E25D2E1A896DD&CID=0FD7D6B4B0D861B626FFDD2AB13D6046&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=0517571251E443B09B1E25D2E1A896DD&CID=0FD7D6B4B0D861B626FFDD2AB13D6046&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=casa+blanca",
        "webSearchUrlPingSuffix": "DevEx,5606.1", "totalEstimatedMatches": 15900000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Casablanca (1942) - IMDb", "url": "http:\/\/www.imdb.com\/title\/tt0034583\/",
        "urlPingSuffix": "DevEx,5115.1", "about": [{"name": "Casablanca"}], "displayUrl":
        "www.imdb.com\/title\/tt0034583", "snippet": "Directed by Michael Curtiz.
        With Humphrey Bogart, Ingrid Bergman, Paul Henreid, Claude Rains. In Casablanca
        in December 1941, a cynical American expatriate encounters ...", "dateLastCrawled":
        "2018-02-14T14:36:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Casablanca (film) - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/Casablanca_(film)",
        "urlPingSuffix": "DevEx,5138.1", "about": [{"name": "Casablanca"}, {"name":
        "Casablanca"}], "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/Casablanca_(film)",
        "snippet": "Casablanca is a 1942 American romantic drama film directed by
        Michael Curtiz based [...]
