---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=english&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3B1E04AF163A4463A97CF9220E6B6539
      X-Msedge-Clientid:
      - 3CD1E13E5E6466C01412ED695F6B67B3
      X-Msapi-Userstate:
      - 71dd
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E93FD7DFF00D4BB2B4DFDFFE08ECE464&CID=3CD1E13E5E6466C01412ED695F6B67B3&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E93FD7DFF00D4BB2B4DFDFFE08ECE464&CID=3CD1E13E5E6466C01412ED695F6B67B3&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english", "webSearchUrlPingSuffix":
        "DevEx,5421.1", "totalEstimatedMatches": 65500000, "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0",
        "name": "English language - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/English_language",
        "urlPingSuffix": "DevEx,5065.1", "about": [{"name": "English"}], "displayUrl":
        "https:\/\/en.wikipedia.org\/wiki\/English_language", "snippet": "English
        is an Indo-European language and belongs to the West Germanic group of the
        Germanic languages. Old English originated from a Germanic tribal and linguistic
        continuum along the coast of the North Sea, whose languages are now known
        as the Anglo-Frisian subgroup within West Germanic.", "snippetAttribution":
        {"license": {"name": "CC-BY-SA", "url": "http:\/\/creativecommons.org\/licenses\/by-sa\/3.0\/",
        "urlPingSuffix": "DevEx,5420.1"}, "licenseNotice": "Text under CC-BY-SA license"},
        "dateLastCrawled": "2018-08-20T11:43:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "English | Define English at Dictionary.com", "url": "https:\/\/www.dictionary.com\/browse\/english",
        "urlPingSuffix": "DevEx,5076.1", "displayUrl": "https:\/\/www.dictionary.com\/browse\/english",
        "snippet": "English definition, of, relating to, or characteristic of England
        or its inhabitants, institutions, etc. See more.", "dateLastCrawled": "2018-08-16T20:59:00.[...]
