---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F7D06ECE1AB14D6E9ED52858F36B576F
      X-Msedge-Clientid:
      - 0A2CB8E0D36169761822B2DDD2F66897
      X-Msapi-Userstate:
      - 0ae8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9EB14E5F93334D649E6DA844B955207D&CID=0A2CB8E0D36169761822B2DDD2F66897&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9EB14E5F93334D649E6DA844B955207D&CID=0A2CB8E0D36169761822B2DDD2F66897&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=white+house",
        "webSearchUrlPingSuffix": "DevEx,5695.1", "totalEstimatedMatches": 31600000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "The White House | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/",
        "urlPingSuffix": "DevEx,5100.1", "about": [{"name": "Eisenhower Executive
        Office Building"}, {"name": "White House"}], "displayUrl": "https:\/\/www.whitehouse.gov",
        "snippet": "Let''s Make America Great Again, Together \"The Movement Continues
        - The Work Begins!\" - President Donald J. Trump", "deepLinks": [{"name":
        "Contact Us", "url": "https:\/\/www.whitehouse.gov\/contact", "urlPingSuffix":
        "DevEx,5089.1", "snippet": "Get in Touch with The White House . Twitter; Instagram;
        Facebook; Contact Us; Home; Briefing Room. From the News Room. Latest News;
        From the Press Office. Speeches ..."}, {"name": "Tours & Events", "url": "https:\/\/www.whitehouse.gov\/participate\/tours-and-events",
        "urlPingSuffix": "DevEx,5090.1", "snippet": "Tour hours will be extended w[...]
