---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=11&q=anything&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - DCD32BCD92E74494973E402802EB8C4C
      X-Msedge-Clientid:
      - 2F100231FD3E6DF63D1A0E66FC316C56
      X-Msapi-Userstate:
      - 4f80
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=AE5F3CC783374ABD8FD1E4DDDB09DE88&CID=2F100231FD3E6DF63D1A0E66FC316C56&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=AE5F3CC783374ABD8FD1E4DDDB09DE88&CID=2F100231FD3E6DF63D1A0E66FC316C56&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=anything",
        "webSearchUrlPingSuffix": "DevEx,5271.1", "totalEstimatedMatches": 38200000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "anything Meaning in the Cambridge English Dictionary", "url": "https:\/\/dictionary.cambridge.org\/dictionary\/english\/anything",
        "urlPingSuffix": "DevEx,5054.1", "displayUrl": "https:\/\/dictionary.cambridge.org\/dictionary\/english\/anything",
        "snippet": "anything definition: 1. used in questions and negatives to mean
        \"something\": 2. any event, act, object, or situation: . Learn more.", "dateLastCrawled":
        "2018-07-21T03:46:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Anything - definition of anything by The Free Dictionary", "url":
        "https:\/\/www.thefreedictionary.com\/anything", "urlPingSuffix": "DevEx,5068.1",
        "displayUrl": "https:\/\/www.thefreedictionary.com\/anything", "snippet":
        "an·y·thing (ĕn′ē-thĭng′) pron. Any object, occurrence, or matter whatever.
        adv. To any degree or extent; at all: They aren''t anything like last year''s
        team. n ...", "dateLastCrawled": "2018-08-19T09:16:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "Anything: The Prayer That Unlocked My God and My Soul ...", "url":
        "https:\/\/www.amazon.com\/Anything-Prayer-That-Unlocked-Soul\/dp\/0718037200",
        "urlPingSuffix": "DevEx,5093.1", "about": [{"name": "Anything: The Prayer
        That Unlocked My God and My Soul"}, {"name": "Anything: The Prayer That Unlocked
        My God and My Soul"}], "displayUrl": "https:\/\/www.amazon.com\/Anything-Prayer-That-Unlocked-Soul\/dp\/...",
        "snippet": "Anything: The Prayer That Unlocked My God and My Soul [Jennie
        Allen] on Amazon.com. *FREE* shipping on qualifying offers. What if you told
        God you would do anything . . . and he took you up on it?", "dateLastCrawled":
      [...]
