---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 40A8CA5E7E8948F7917459FCA7BF2D0E
      X-Msedge-Clientid:
      - 3369AAB3F8F560F83987A070F9626164
      X-Msapi-Userstate:
      - a662
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=74E7D69284F24DF19EBA10337F6533EB&CID=3369AAB3F8F560F83987A070F9626164&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=74E7D69284F24DF19EBA10337F6533EB&CID=3369AAB3F8F560F83987A070F9626164&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=white+house",
        "webSearchUrlPingSuffix": "DevEx,5749.1", "totalEstimatedMatches": 521000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "The White House | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/",
        "urlPingSuffix": "DevEx,5102.1", "displayUrl": "https:\/\/www.whitehouse.gov",
        "snippet": "Repeal and Replace Obamacare. Obamacare has led to higher costs
        and fewer health insurance options for millions of Americans. The 2010 healthcare
        law has brought the ...", "deepLinks": [{"name": "Contact Us", "url": "https:\/\/www.whitehouse.gov\/contact",
        "urlPingSuffix": "DevEx,5089.1", "snippet": "Get in Touch with The White House
        | whitehouse.gov"}, {"name": "Tours & Events", "url": "https:\/\/www.whitehouse.gov\/participate\/tours-and-events",
        "urlPingSuffix": "DevEx,5090.1", "snippet": "Now anyone, anywhere, can experience
        the history and art of the White House via the online virtual tour or in person
        after submitting a tour reque[...]
