---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 971F1A6B535448768304DA50F3866D1D
      X-Msedge-Clientid:
      - 0A9840461CBB67CB15904BC01D146651
      X-Msapi-Userstate:
      - '8458'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=BCB0CCAD6A364E13895367B4F53C3F43&CID=0A9840461CBB67CB15904BC01D146651&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=BCB0CCAD6A364E13895367B4F53C3F43&CID=0A9840461CBB67CB15904BC01D146651&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=white+house",
        "webSearchUrlPingSuffix": "DevEx,5666.1", "totalEstimatedMatches": 380000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "White House - President Trump Returns to Pennsylvania, a ...", "url": "https:\/\/www.whitehouse.gov\/",
        "urlPingSuffix": "DevEx,5100.1", "about": [{"name": "whitehouse.gov"}, {"name":
        "whitehouse.gov"}, {"name": "whitehouse.gov"}, {"name": "White House"}], "displayUrl":
        "https:\/\/www.whitehouse.gov", "snippet": "History of The White House. Our
        first president, George Washington, selected the site for the White House
        in 1791. Every president since John Adams has occupied the ...", "deepLinks":
        [{"name": "Contact Us", "url": "https:\/\/www.whitehouse.gov\/contact", "urlPingSuffix":
        "DevEx,5087.1", "snippet": "White House Logo. Share Economy; National ...
        Immigration; Healthcare; Get Involved. Contact the White House. Share: The
        White House. Live; Jobs; Get ..."}, {"name": "Live", "url": "https:\/\/www.whitehouse.gov\/live",
        "urlPingSuffix": "DevEx,5092.1", "snippet": "White House live stream - The
        White House | whitehouse.gov"}], "dateLastCrawled": "2018-01-22T03:42:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "whitehouse.org
        - Official Site", "url": "http:\/\/whitehouse.org\/", "urlPingSuffix": "DevEx,5117.1",
        "about": [{"name": "whitehouse.org"}, {"name": "White House"}, {"name": "whitehouse.org"}],
        "displayUrl": "whitehouse.org", "snippet": "POTUS: The Facebook witch hunt
        for #TrumpRussia “proof” is FAKE NEWS! Totally VERY REAL Americans like “Texas
        Ch[...]
