---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=11&q=anything&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - AE7EBBD0AAEA4D37B2AABCA77C630A9C
      X-Msedge-Clientid:
      - 0EF6D54EA8FD67AB1F0BDE47A96A6632
      X-Msapi-Userstate:
      - d8bd
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=0EE2104F35FA4917B6A174D8757BA894&CID=0EF6D54EA8FD67AB1F0BDE47A96A6632&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=0EE2104F35FA4917B6A174D8757BA894&CID=0EF6D54EA8FD67AB1F0BDE47A96A6632&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=anything",
        "webSearchUrlPingSuffix": "DevEx,5334.1", "totalEstimatedMatches": 117000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Anythink Libraries", "url": "https:\/\/www.anythinklibraries.org\/", "urlPingSuffix":
        "DevEx,5066.1", "displayUrl": "https:\/\/www.anythinklibraries.org", "snippet":
        "Anythink. A Revolution of Rangeview Libraries. Adams County, Colorado.",
        "dateLastCrawled": "2017-09-17T22:17:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Absolutely Anything (2015) - IMDb", "url": "http:\/\/www.imdb.com\/title\/tt1727770\/",
        "urlPingSuffix": "DevEx,5097.1", "about": [{"name": "Absolutely Anything"}],
        "displayUrl": "www.imdb.com\/title\/tt1727770", "snippet": "With Simon Pegg,
        Kate Beckinsale, Sanjeev Bhaskar, Rob Riggle. A group of eccentric aliens
        confer a human being with the power to do absolutely anything, as an ...",
        "dateLastCrawled": "2017-09-14T12:25:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "anything - Dizionario inglese-italiano WordReference", "url": "http:\/\/www.wordreference.com\/enit\/anything",
        "urlPingSuffix": "DevEx,5112.1", "displayUrl": "www.wordreference.com\/enit\/anything",
        "snippet": "anything - Traduzione del vocabolo e dei suoi composti, e discussioni
        del forum.", "dateLastCrawled": "2017-09-17T21:04:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3",
        "name": "anything Meaning in the Cambridge English Dictionary", "url": "http:\/\/dictionary.cambridge.org\/dictionary\/english\/anything",
        "urlPingSuffix": "DevEx,5125.1", "displayUrl": "dictionary.cambridge.org\/dictionary\/english\/anything",
        "snippet": "anything meaning, definition, what is anything: used in questions
        and negatives to mean \"something\": . Learn more.", "dateLastCrawled": "2017-09-19T16:56:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.4", "name": "Dramarama
        - Anything, Anything Lyrics | MetroLyrics", "url": "http:\/\/www.metrolyrics.com\/anything-anything-lyrics-dramarama.html",
        "urlPingSuffix": "DevEx,5142.1", "about": [{"name": "Anything, Anything (I''ll
        Give You)"}], "displayUrl": "www.metrolyrics.com\/anything-anything-lyrics-dramarama.html",
        "snippet": "Lyrics[...]
