---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9177A43D38DC4798BFC1D83177E91CE0
      X-Msedge-Clientid:
      - 002191CEE624610110CE9BACE7B360F1
      X-Msapi-Userstate:
      - '4634'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=080ADDE0CCEA4B95AA2F12D9798877C1&CID=002191CEE624610110CE9BACE7B360F1&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=080ADDE0CCEA4B95AA2F12D9798877C1&CID=002191CEE624610110CE9BACE7B360F1&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=white+house",
        "webSearchUrlPingSuffix": "DevEx,5727.1", "totalEstimatedMatches": 223000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "The White House | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/",
        "urlPingSuffix": "DevEx,5102.1", "about": [{"name": "Eisenhower Executive
        Office Building"}, {"name": "White House"}], "displayUrl": "https:\/\/www.whitehouse.gov",
        "snippet": "President Donald J. Trump''s Joint Address to Congress. Watch
        the President''s first address to a Joint Session of Congress and get more
        information here.", "deepLinks": [{"name": "Contact Us", "url": "https:\/\/www.whitehouse.gov\/contact",
        "urlPingSuffix": "DevEx,5091.1", "snippet": "Get in Touch with The White House
        | whitehouse.gov"}, {"name": "Tours & Events", "url": "https:\/\/www.whitehouse.gov\/participate\/tours-and-events",
        "urlPingSuffix": "DevEx,5092.1", "snippet": "Tour hours will be extended when
        possible based on the official White House schedule. Tours are scheduled on
        a first come, first served basis."}, [...]
