---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 99243DE50E9F41EC97599784C0271898
      X-Msedge-Clientid:
      - 3EAFF73164136F161654FC3065846ECF
      X-Msapi-Userstate:
      - '7100'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=FA5712EF35F648BD8EEE5F0393320290&CID=3EAFF73164136F161654FC3065846ECF&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=FA5712EF35F648BD8EEE5F0393320290&CID=3EAFF73164136F161654FC3065846ECF&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=white+house",
        "webSearchUrlPingSuffix": "DevEx,5737.1", "totalEstimatedMatches": 369000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "The White House | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/",
        "urlPingSuffix": "DevEx,5102.1", "about": [{"name": "whitehouse.gov"}], "displayUrl":
        "https:\/\/www.whitehouse.gov", "snippet": "Get news, events and updates
        from the White House here at 1600 Daily.", "deepLinks": [{"name": "Contact
        Us", "url": "https:\/\/www.whitehouse.gov\/contact", "urlPingSuffix": "DevEx,5089.1",
        "snippet": "Get in Touch with The White House | whitehouse.gov"}, {"name":
        "Live", "url": "https:\/\/www.whitehouse.gov\/live", "urlPingSuffix": "DevEx,5090.1",
        "snippet": "Live Events | whitehouse.gov. Video Gallery View the most recent
        videos from the White House. Live Events Tune in to White House events and
        statements as they happen. From t[...]
