---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 664287205C4D4B9A8D7EB4EF9F4D6C60
      X-Msedge-Clientid:
      - 3E005732984960151B305D0F99DE6147
      X-Msapi-Userstate:
      - 3f7d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B555D512ACC9479B9DFF3BF268AECF95&CID=3E005732984960151B305D0F99DE6147&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B555D512ACC9479B9DFF3BF268AECF95&CID=3E005732984960151B305D0F99DE6147&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english", "webSearchUrlPingSuffix":
        "DevEx,5563.1", "totalEstimatedMatches": 24700000, "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0",
        "name": "English language - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/English_language",
        "urlPingSuffix": "DevEx,5089.1", "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/English_language",
        "snippet": "English is a West Germanic language that was first spoken in early
        medieval England and is now the global lingua franca. Named after the Angles,
        one of the Germanic ...", "dateLastCrawled": "2017-03-04T09:17:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "English
        learning, teaching and testing | Pearson English", "url": "https:\/\/www.english.com\/",
        "urlPingSuffix": "DevEx,5109.1", "displayUrl": "https:\/\/www.english.com",
        "snippet": "At Pearson English, our aim is simple but powerful: help the English
        speaking world understand each other better, by better understanding the English
        learner needs.", "deepLinks": [{"name": "Courses and Apps", "url": "https:\/\/www.english.com\/online-courses-and-apps",
        "urlPingSuffix": "DevEx,5101.1"}, {"name": "The Global Scale of English",
        "url": "https:\/\/www.english.com\/gse", "urlPingSuffix": "DevEx,5102.1"},
        {"name": "Resources", "url": "https:\/\/www.english.com\/teaching-resources",
        "urlPingSuffix": "DevEx,5103.1"}, {"name": "Learning Objectives", "url": "https:\/\/www.english.com\/gse\/learning_objectives",
        "urlPingSuffi[...]
