---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=tradiksyon&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - DAD49461D2F0444B8B06B4CAA2216AD3
      X-Msedge-Clientid:
      - 271361BE46F461802B2A6AB6476360E5
      X-Msapi-Userstate:
      - e81e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DF2C6BD20C1E4CDDA4914FA9E88E8706&CID=271361BE46F461802B2A6AB6476360E5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DF2C6BD20C1E4CDDA4914FA9E88E8706&CID=271361BE46F461802B2A6AB6476360E5&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=tradiksyon",
        "webSearchUrlPingSuffix": "DevEx,5489.1", "totalEstimatedMatches": 77700,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Google Translate", "url": "https:\/\/translate.google.com\/?hl=ht", "urlPingSuffix":
        "DevEx,5077.1", "displayUrl": "https:\/\/translate.google.com\/?hl=ht", "snippet":
        "Tradui Fèmen tradiksyon enstantane a. Kreyòl Ayisyen. Angl ...", "dateLastCrawled":
        "2017-09-09T10:23:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Tradiksyon - French - Arabic Translation and Examples", "url": "http:\/\/mymemory.translated.net\/en\/French\/Arabic\/tradiksyon",
        "urlPingSuffix": "DevEx,5091.1", "displayUrl": "mymemory.translated.net\/en\/French\/Arabic\/tradiksyon",
        "snippet": "tradiksyon, you just need your email, , , Translation, human translation,
        automatic translation.", "dateLastC[...]
