---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=%E4%B8%AD%E5%9B%BD&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4470F9150DE54F6180E4241BE6333A1E
      X-Msedge-Clientid:
      - 3D86749C195166962DEA7F0218B467D3
      X-Msapi-Userstate:
      - c1b3
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=3AC8151626E64483AAE2184BCFA56807&CID=3D86749C195166962DEA7F0218B467D3&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=3AC8151626E64483AAE2184BCFA56807&CID=3D86749C195166962DEA7F0218B467D3&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%e4%b8%ad%e5%9b%bd",
        "webSearchUrlPingSuffix": "DevEx,5526.1", "totalEstimatedMatches": 25300000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "中国（世界四大文明古国之一）_百度百科", "url": "https:\/\/baike.baidu.com\/item\/%E4%B8%AD%E5%9B%BD",
        "urlPingSuffix": "DevEx,5083.1", "displayUrl": "https:\/\/baike.baidu.com\/item\/中国",
        "snippet": "中国，是以华夏文明为源泉、中华文化为基础，并以汉族为主体民族的多民族国家，通用汉语、汉字，汉族与少数民族被统 ...", "dateLastCrawled":
        "2018-02-16T23:13:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "中国 - 纽约时报中文网 国际纵览 - cn.nytimes.com", "url": "https:\/\/cn.nytimes.com\/china\/",
        "urlPingSuffix": "DevEx,5100.1", "displayUrl": "https:\/\/cn.nytimes.com\/china",
        "snippet": "梵蒂冈与中国政府谈判引发担忧 jason horowitz, elisabetta povoledo 20:04. 梵蒂冈正加紧与中国政府谈判，这引发了一些天主教徒的担忧。",
        "dateLastCrawled": "2018-02-14T19:40:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v[...]
