---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=sailing%20dingies&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - A57BE453A9024247B7B9E0897CB6656B
      X-Msedge-Clientid:
      - 0554D80FB1856E343782C8ABB0786FE7
      X-Msapi-Userstate:
      - 34cd
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=83BA75517A2B4C18B34FE9D287469259&CID=0554D80FB1856E343782C8ABB0786FE7&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=83BA75517A2B4C18B34FE9D287469259&CID=0554D80FB1856E343782C8ABB0786FE7&Type=Event.CPT&DATA=0"},
        "queryContext": {"originalQuery": "sailing dingies", "alteredQuery": "sailing
        dinghies", "alterationOverrideQuery": "+sailing dingies", "adultIntent": false},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sailing+dingies",
        "webSearchUrlPingSuffix": "DevEx,5435.1", "totalEstimatedMatches": 3260000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "25 Best Beginner Sailing Dinghies - boats.com", "url": "https:\/\/www.boats.com\/boat-buyers-guide\/best-beginner-sailing-dinghies\/",
        "urlPingSuffix": "DevEx,5057.1", "displayUrl": "https:\/\/www.boats.com\/boat-buyers-guide\/best-beginner-sailing-dinghies",
        "snippet": "Sailing schools, clubs and training centers use a variety of boats
        with beginners, including singlehanders such as the Pico, Hartley 10 and the
        RS Quba, the latter having three rigs catering from entry level to more experienced
        sailors. There’s also a range of larger training dinghies from builders such
        as RS, Topper, Laser and Hartley Boats.", "dateLastCrawled": "2021-08-28T05:13:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "The Best
        Sailing Dinghies for Beginners", "url": "https:\/\/www.deepsailing.com\/blog\/sailing-dinghies-for-beginners",
        "urlPingSuffix": "DevEx,5071.1", "displayUrl": "https:\/\/www.deepsailing.com\/blog\/sailing-dinghies-for-beginners",
        "snippet": "Hartley 10. credit: sailingdinghies.ch. ‍. These Hartley 10 dinghies
        are very popular in many sailing school[...]
