---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=tradiksyon&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F18CD0D10FC74CF182DAE9815E5B471D
      X-Msedge-Clientid:
      - 2E1BC4BB0D8F65C3191DCE780C1864EC
      X-Msapi-Userstate:
      - '9814'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=092FF63AC37B4AFC85D80EC931FB344D&CID=2E1BC4BB0D8F65C3191DCE780C1864EC&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=092FF63AC37B4AFC85D80EC931FB344D&CID=2E1BC4BB0D8F65C3191DCE780C1864EC&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=tradiksyon",
        "webSearchUrlPingSuffix": "DevEx,5482.1", "totalEstimatedMatches": 75600,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Google Translate", "url": "https:\/\/translate.google.com\/?hl=ht", "urlPingSuffix":
        "DevEx,5077.1", "displayUrl": "https:\/\/translate.google.com\/?hl=ht", "snippet":
        "Tradui Fèmen tradiksyon enstantane a. Kreyòl Ayisyen. Angl ...", "dateLastCrawled":
        "2017-07-09T15:16:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Google Traduction", "url": "https:\/\/translate.google.com\/?hl=fr",
        "urlPingSuffix": "DevEx,5090.1", "displayUrl": "https:\/\/translate.google.com\/?hl=fr",
        "snippet": "Ce service gratuit de Google traduit instantanément des mots,
        des expressions et des pages Web du français vers plus de 100 autres langues.",
        "dateLastCrawled": "2017-07-13T15:37:0[...]
