---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=casa%20blanca&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - AEC13D07885F4FB5974B4ED39E94056D
      X-Msedge-Clientid:
      - 03E039C3191B68CB1DA03284188C6944
      X-Msapi-Userstate:
      - 5b6e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9AEAAD14BCBA4CAD8B511A78913B78E9&CID=03E039C3191B68CB1DA03284188C6944&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9AEAAD14BCBA4CAD8B511A78913B78E9&CID=03E039C3191B68CB1DA03284188C6944&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=casa+blanca",
        "webSearchUrlPingSuffix": "DevEx,5617.1", "totalEstimatedMatches": 30700000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Casablanca (1942) - IMDb", "url": "http:\/\/www.imdb.com\/title\/tt0034583\/",
        "urlPingSuffix": "DevEx,5122.1", "about": [{"name": "Casablanca"}], "displayUrl":
        "www.imdb.com\/title\/tt0034583", "snippet": "Directed by Michael Curtiz.
        With Humphrey Bogart, Ingrid Bergman, Paul Henreid, Claude Rains. In Casablanca
        in December 1941, a cynical American expatriate encounters ...", "dateLastCrawled":
        "2017-11-19T22:02:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Casablanca (film) - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/Casablanca_(film)",
        "urlPingSuffix": "DevEx,5145.1", "about": [{"name": "Casablanca"}], "displayUrl":
        "https:\/\/en.wikipedia.org\/wiki\/Casablanca_(film)", "snippet": "Casablanca
        is a 1942 American romantic drama film directed by Michael Curtiz and based
        on Murray Burnett an[...]
