---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=%2765d86996b6eceb05d2272aea9cadd10d%27&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 458E342063164732B2D6FDE4614D99FF
      X-Msedge-Clientid:
      - 3811D4BBE6C364081949C41FE7D16526
      X-Msapi-Userstate:
      - 2e5b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9EECD45717094BA084520CC1BD25A322&CID=3811D4BBE6C364081949C41FE7D16526&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9EECD45717094BA084520CC1BD25A322&CID=3811D4BBE6C364081949C41FE7D16526&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 31 Aug 2021 20:30:24 GMT
recorded_with: VCR 4.0.0
