---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=tradiksyon&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F37FB05965584D27A4C218485C94D7B7
      X-Msedge-Clientid:
      - 12EA75A7805B655415807FC581CC6476
      X-Msapi-Userstate:
      - 6daf
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: "{\"_type\": \"SearchResponse\", \"instrumentation\": {\"pingUrlBase\":
        \"https:\\/\\/www.bingapis.com\\/api\\/ping?IG=A94C618AB48D411CADE23BAD9FADBD68&CID=12EA75A7805B655415807FC581CC6476&ID=\",
        \"pageLoadPingUrl\": \"https:\\/\\/www.bingapis.com\\/api\\/ping\\/pageload?IG=A94C618AB48D411CADE23BAD9FADBD68&CID=12EA75A7805B655415807FC581CC6476&Type=Event.CPT&DATA=0\"},
        \"webPages\": {\"webSearchUrl\": \"https:\\/\\/www.bing.com\\/search?q=tradiksyon\",
        \"webSearchUrlPingSuffix\": \"DevEx,5452.1\", \"totalEstimatedMatches\": 50100,
        \"value\": [{\"id\": \"https:\\/\\/www.bingapis.com\\/api\\/v6\\/#WebPages.0\",
        \"name\": \"Google Traduction\", \"url\": \"https:\\/\\/translate.google.com\\/?hl=fr\",
        \"urlPingSuffix\": \"DevEx,5075.1\", \"displayUrl\": \"https:\\/\\/translate.google.com\\/?hl=fr\",
        \"snippet\": \"Ce service gratuit de Google traduit instantanément des mots,
        des expressions et des pages Web du français vers plus de 100 autres langues.\",
        \"dateLastCrawled\": \"2017-04-09T11:01:00.0000000Z\"}, {\"id\": \"https:\\/\\/www.bingapis.com\\/api\\/v6\\/#WebPages.1\",
        \"name\": \"Tradiksyon - French - Arabic Translation and Examples\", \"url\":
        \"http:\\/\\/mymemory.translated.net\\/en\\/French\\/Arabic\\/tradiksyon\",
        \"urlPingSuffix\": \"DevEx,5094.1\", \"displayUrl\": \"mymemory.translated.net\\/en\\/French\\/Arabic\\/tradiksyon\",
        \"snippet\": \"tradiksyon, you just need your email, , , Translation, human
        translat[...]
