---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E1C7441603FA45D0AA008CE654CBA233
      X-Msedge-Clientid:
      - 02D0C330F22D609F35ECC831F3BA6164
      X-Msapi-Userstate:
      - '7388'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A3B08BA27793401FA8D5F01C7CF8BF2D&CID=02D0C330F22D609F35ECC831F3BA6164&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A3B08BA27793401FA8D5F01C7CF8BF2D&CID=02D0C330F22D609F35ECC831F3BA6164&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=white+house",
        "webSearchUrlPingSuffix": "DevEx,5744.1", "totalEstimatedMatches": 369000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "The White House | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/",
        "urlPingSuffix": "DevEx,5096.1", "about": [{"name": "whitehouse.gov"}], "displayUrl":
        "https:\/\/www.whitehouse.gov", "snippet": "Get news, events and updates from
        the White House here at 1600 Daily.", "dateLastCrawled": "2017-09-15T05:03:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "White
        House - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/White_House",
        "urlPingSuffix": "DevEx,5117.1", "about": [{"name": "White House"}], "displayUrl":
        "https:\/\/en.wikipedia.org\/wiki\/White_House", "snippet": "The White House
        is the official residence and workplace of the President of the United States.
        It is located at 1600 Pennsyl[...]
