---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=casa%20blanca&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9F331230D9D6468CBECC2F8E3CDD9379
      X-Msedge-Clientid:
      - 06F544E4394764741EC44F6238E86572
      X-Msapi-Userstate:
      - 6d39
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=16B34F4BED25447CB034094A6EE729CA&CID=06F544E4394764741EC44F6238E86572&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=16B34F4BED25447CB034094A6EE729CA&CID=06F544E4394764741EC44F6238E86572&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=casa+blanca",
        "webSearchUrlPingSuffix": "DevEx,5607.1", "totalEstimatedMatches": 36400000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Casablanca (1942) - IMDb", "url": "http:\/\/www.imdb.com\/title\/tt0034583\/",
        "urlPingSuffix": "DevEx,5119.1", "about": [{"name": "Casablanca"}, {"name":
        "Casablanca"}, {"name": "Casablanca"}], "displayUrl": "www.imdb.com\/title\/tt0034583",
        "snippet": "Directed by Michael Curtiz. With Humphrey Bogart, Ingrid Bergman,
        Paul Henreid, Claude Rains. In Casablanca in December 1941, a cynical American
        expatriate encounters ...", "dateLastCrawled": "2018-01-21T22:22:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Movie
        Showtimes & Tickets | Casa Blanca | Santikos Theatres", "url": "https:\/\/www.santikos.com\/san-antonio\/casa-blanca",
        "urlPingSuffix": "DevEx,5139.1", "about": [{"name": "Santikos Casa Blanca"},
        {"name": "Santikos Casa Blanca"}, {"name": "Santikos Casa Blanca"}], "displayUrl":
        "https:\/\/www.santikos.com\/san-antonio\/casa-blanca", "snippet": "Check
        showtimes and purchase tickets in advance for the latest movies at Santikos
        Theatres, Casa Blanca, San Antonio, Texas.", "deepLinks": [{"name": "Bowl",
        "url": "https:\/\/www.santikos.com\/san-antonio\/casa-blanca\/bowl", "urlPingSuffix":
        "DevEx,5130.1"}, {"name": "Employment", "url": "https:\/\/www.santikos.com\/san-antonio\/casa-blanca\/employment",
        "urlPingSuffix": "DevEx,5131.1"}, {"name": "Theatre Info", "url": "https:\/\/www.santikos.com\/san-antonio\/casa-blanca\/theatre-info",
        "urlPingSuffix": "DevEx,5132.1"}, {"name": "Food & Drink", "url": "https:\/\/santikos.com\/san-antonio\/casa-bla[...]
