---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=english&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - B6EB6716BEA948C7B2ECD3326B1D171B
      X-Msedge-Clientid:
      - '049E41F17BD3667B043E51557A2E672D'
      X-Msapi-Userstate:
      - f209
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=6BA03A5BF8794C48AE8C0CE73A673990&CID=049E41F17BD3667B043E51557A2E672D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=6BA03A5BF8794C48AE8C0CE73A673990&CID=049E41F17BD3667B043E51557A2E672D&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english", "webSearchUrlPingSuffix":
        "DevEx,5426.1", "totalEstimatedMatches": 226000000, "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0",
        "name": "English | Definition of English by Merriam-Webster", "url": "https:\/\/www.merriam-webster.com\/dictionary\/English",
        "urlPingSuffix": "DevEx,5059.1", "displayUrl": "https:\/\/www.merriam-webster.com\/dictionary\/English",
        "snippet": "English definition is - of, relating to, or characteristic of
        England, the English people, or the English language. How to use English in
        a sentence.", "dateLastCrawled": "2021-08-28T02:29:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "English.com", "url": "https:\/\/www.english.com\/", "urlPingSuffix":
        "DevEx,5073.1", "displayUrl": "https:\/\/www.english.com", "snippet": "Whether
        you need English for a job, a visa, or a vacation. Choose from hundreds of
        fresh lessons, sourced from the best and organized just for you. Best of all,
        it''s FREE to join and begin browsing for learning that f[...]
