---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=tradiksyon&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 87F380E09E0342769B021E2209AC88EF
      X-Msedge-Clientid:
      - 3FE2F2C71FFA67A00AF8E2631E4D6616
      X-Msapi-Userstate:
      - '3676'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9BD409E291BD4D29AE44E33912C62462&CID=3FE2F2C71FFA67A00AF8E2631E4D6616&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9BD409E291BD4D29AE44E33912C62462&CID=3FE2F2C71FFA67A00AF8E2631E4D6616&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=tradiksyon",
        "webSearchUrlPingSuffix": "DevEx,5436.1", "totalEstimatedMatches": 109000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Haitian tradiksyon diksyonè - Apps on Google Play", "url": "https:\/\/play.google.com\/store\/apps\/details?id=en.ht.bestdict&hl=en_US&gl=US",
        "urlPingSuffix": "DevEx,5059.1", "displayUrl": "https:\/\/play.google.com\/store\/apps\/details?id=en.ht.bestdict",
        "snippet": "Please setup the Haitian Creole keyboard before using this app.
        This free dict works well in all android devices including mobile and tablet,
        it is very useful for all kinds of people although in offline environment.
        - For student, pupil or researcher, this app is the largest thesaurus help
        them make the deeply investigation in each words and ...", "dateLastCrawled":
        "2021-08-22T16:32:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "‎English Haitian Creole best dictionary translate - Angle ...", "url":
        "https:\/\/apps.apple.com\/us\/app\/english-haitian-creole-best-dictionary-translate-angle\/id919431571",
        "urlPingSuffix": "DevEx,5073.1", "displayUrl": "https:\/\/apps.apple.com\/us\/app\/english-haitian-creole-best-dictionary-translate-angle\/...",
        "snippet": "‎Read reviews, compare c[...]
