---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=casa%20blanca&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3D652134ACFB4D68A10692E99A1BBF79
      X-Msedge-Clientid:
      - 20B2E2F0B17E6A641874E92DB0E96B44
      X-Msapi-Userstate:
      - efa5
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DE4C6622491647F69747073AAD9D6FA1&CID=20B2E2F0B17E6A641874E92DB0E96B44&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DE4C6622491647F69747073AAD9D6FA1&CID=20B2E2F0B17E6A641874E92DB0E96B44&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=casa+blanca",
        "webSearchUrlPingSuffix": "DevEx,5719.1", "totalEstimatedMatches": 33800000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Casablanca (1942) - IMDb", "url": "http:\/\/www.imdb.com\/title\/tt0034583\/",
        "urlPingSuffix": "DevEx,5118.1", "about": [{"name": "Casablanca"}, {"name":
        "Casablanca"}], "displayUrl": "www.imdb.com\/title\/tt0034583", "snippet":
        "Directed by Michael Curtiz. With Humphrey Bogart, Ingrid Bergman, Paul Henreid,
        Claude Rains. A cynical nightclub owner protects an old flame and her husband
        from Nazis in Morocco.", "dateLastCrawled": "2018-04-22T05:14:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Casablanca
        (film) - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/Casablanca_(film)",
        "urlPingSuffix": "DevEx,5143.1", "about": [{"name": "Casablanca"}, {"name":
        "Casablanca"}], "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/Casablanca_(film)",
        "snippet": "Casablanca is a 1942 American romantic drama film directed by
        Michael Curtiz based on Murray Burnett and Joan Alison''s unproduced stage
        play Everybody Comes to Rick''s.The film stars Humphrey Bogart, Ingrid Bergman,
        and Paul Henreid; it also features Claude Rains, Conrad Veidt, Sydney Greenstreet,
        Peter Lorre, and Dooley Wilson.", "snippetAttribution": {"license": {"name":
        "CC-BY-SA", "url": "http:\/\/creativecommons.org\/licenses\/by-sa\/3.0\/",
        "urlPingSuffix": "DevEx,5720.1"}, "licenseNotice": "Text under CC-BY-SA license"},
        "dateLastCrawled": "2018-04-22T14:28:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "CasaBlanca Resort - Official Site", "url": "https:\/\/casablancaresort.com\/",
        "urlPingSuffix": "DevEx,5170.1", "about": [{"name": "CasaBlanca Resort"},
        {"name": "CasaBlanca Resort"}], "displayUrl": "https:\/\/casablancaresort.com",
        "snippet": "Stay in one of our deluxe rooms as you try your luck at over 8[...]
