---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=%E4%B8%AD%E5%9B%BD&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D96ADCF989014FEC811E5A761B354FB7
      X-Msedge-Clientid:
      - 25A3A585BCAE61462098A9D2BDA160F1
      X-Msapi-Userstate:
      - 8a50
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=720050A4FB734969AFBE9FED672A5D38&CID=25A3A585BCAE61462098A9D2BDA160F1&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=720050A4FB734969AFBE9FED672A5D38&CID=25A3A585BCAE61462098A9D2BDA160F1&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%e4%b8%ad%e5%9b%bd",
        "webSearchUrlPingSuffix": "DevEx,5435.1", "totalEstimatedMatches": 22000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "中国_360百科", "url": "https:\/\/baike.so.com\/doc\/1279856-24188840.html", "urlPingSuffix":
        "DevEx,5064.1", "displayUrl": "https:\/\/baike.so.com\/doc\/1279856-24188840.html",
        "snippet": "中国,中国位于东亚，是以华夏文明为主体、中华文化为基础，以汉族为主要民族的统一多民族国家，通用汉语。中国人一般称呼自己为龙的传人、炎黄子孙或中华民族。",
        "dateLastCrawled": "2018-08-20T08:35:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "中国网--网上中国", "url": "http:\/\/www.china.com.cn\/", "urlPingSuffix":
        "DevEx,5078.1", "displayUrl": "www.china.com.cn", "snippet": "国家重点新闻网站，拥有十个语种独立新闻采编、报道和发布权；第一时间报道国家重大新闻事件；国情信息库服务全球读者了解中国；国务院新闻办公室发布会独家网络直播发布网站；拥有国内外顶级学者专家资源，独家编发各种相关政策解读。",
        "dateLastCrawled": "2018-08-21T08:32:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "中国银行全球门户网站", "url": "http:\/\/www.boc.cn\/", "urlPingSuffix": "DevEx,5092.1",
        "about": [{"name": "Bank of China"}], "displayUrl": "www.boc.cn", "snippet":
        "中国银行是中国国际化和多元化程度最高的银行，在中国内地及53个国家和地区为客户提供全面的金融服务。主要经营商业银行业务：公司金融、个人金融和金融市场业务，并通过附属机构开展投资银行、保险、直接投资、投资管理、基金管理和飞机租赁业务。",
        "dateLastCrawled": "2018-08-19T01:13:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3",
        "name": "佳能（中国）-首页", "url": "http:\/\/www.canon.com.cn\/", "urlPingSuffix":
        "DevEx,5106.1", "about": [{"name": "Canon (China) Co., Ltd"}], "displayUrl":
        "www.ca[...]
