---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=healthy%20snack%20-kittens%20(chili%20OR%20cheese%20OR%20fries)%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E36BEB585635413A851F64F146B62DDB
      X-Msedge-Clientid:
      - 127C083BA0476FCE27EF04DBA1906E4C
      X-Msapi-Userstate:
      - 6b5f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F2E2CCCED765438898B7A69E3C5DD533&CID=127C083BA0476FCE27EF04DBA1906E4C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F2E2CCCED765438898B7A69E3C5DD533&CID=127C083BA0476FCE27EF04DBA1906E4C&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 10 Jan 2019 19:56:35 GMT
recorded_with: VCR 4.0.0
