%h2=@page_title

%p
  To bulk set affiliates' active status to false using a CSV file, follow these instructions:
  %ul.bulk-upload-instructions
    %li
      Create a plain text file with a .csv extension.
    %li
      List one Affiliate ID per row in the first column. Headers are optional and will be ignored.
    %l
      Ensure the IDs listed correspond to the affiliates you wish to deactivate (set active = false). This action does NOT delete the affiliate.
    %li Example format:
    %li
      %textarea{ rows: 3, readonly: true }
        123
        456
        789
    %li
      Save the file on your computer.
    %li
      Browse for the file using the field below.
    %li
      Click "Upload and Queue Deactivation".
    %li
      You will receive an email confirmation once the deactivation process is complete. This may take some time depending on the number of affiliates.

= form_with url: upload_admin_bulk_affiliate_deactivate_index_path, local: true, multipart: true, class: 'form' do |f|
  .form-group
    = f.label :file, "Select CSV file of Affiliate IDs:", class: 'usa-label'
    = f.file_field :file, required: true, accept: '.csv, .txt', class: 'usa-file-input'
  %p
  = f.submit "Upload and Queue Deactivation", class: 'usa-button usa-button--secondary'
