---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(food%20nutrition)%20language:en%20(site:usa.gov)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028food
        nutrition\u0029 language\u003aen \u0028site\u003ausa.gov\u0029"},"Web":{"Total":40400,"Offset":0,"Results":[{"Title":"Consumer
        Info. Catalog - Food \u0026 Nutrition","Description":"Food Publications.
        Learn more about making healthy food choices and nutrition for better
        health, safe food handling practices and preparation, and healthy food
        recipes.","Url":"http\u003a\u002f\u002fpublications.usa.gov\u002fUSAPubs.php\u003fCatID\u003d6","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dfood\u002bnutrition\u0026d\u003d4629259144528749\u0026w\u003dno0WhlJbjD05JKGiZ1w3ovybHWhqG48i","DisplayUrl":"publications.usa.gov\u002fUSAPubs.php\u003fCatID\u003d6","DateTime":"2016-11-30T07\u003a28\u003a00Z"},{"Title":"Exercise,
        Fitness \u0026 Nutrition for Teachers \u007c Kids.gov \u007c USAGov","Description":"Exercise
        \u0026 Fitness. Activity and Nutrition - We Can\u0021 - Program for families
        and communities to help children maintain a healthy weight focusing on improved
        food ...","Url":"https\u003a\u002f\u002fkids.usa.gov\u002fteachers\u002fexercise-fitness-nutrition\u002findex.shtml","CacheUrl":"http\u003a\u002f\u002fcc.bing[...]
