---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=food%20nutrition%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8E54562E2D0A47B0A4F71DB908CFCF7B
      X-Msedge-Clientid:
      - 27837437CE5269FC13C67FA9CFB7681F
      X-Msapi-Userstate:
      - 683d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E6D69251DE2E4820A0A1E9475211B07D&CID=27837437CE5269FC13C67FA9CFB7681F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E6D69251DE2E4820A0A1E9475211B07D&CID=27837437CE5269FC13C67FA9CFB7681F&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=food+nutrition+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5339.1", "totalEstimatedMatches": 55700,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Health and Nutrition: Online Services - USAGov", "url": "https:\/\/www.usa.gov\/health",
        "urlPingSuffix": "DevEx,5082.1", "displayUrl": "https:\/\/www.usa.gov\/health",
        "snippet": "Food Assistance; Social Security Questions; ... Health Information
        from the Government. Learn more about the best ways to find health information
        from the government.", "dateLastCrawled": "2018-02-16T22:57:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "USA.Gov
        Subscription Page", "url": "https:\/\/connect.usa.gov\/publications", "urlPingSuffix":
        "DevEx,5096.1", "about": [{"name": "USA.gov"}], "displayUrl": "https:\/\/connect.usa.gov\/publications",
        "snippet": "Thank you for being a loyal visitor to the site! After six years
        of serving the American public and consumers, the Publications.USA.gov website
        has been discontinued.", "dateLastCrawled": "2018-02-11T08:18:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Food
        and Nutrition Service | USAGov", "url": "https:\/\/www.usa.gov\/fed[...]
