---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(food%20nutrition)%20language:en%20(site:usa.gov)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028food
        nutrition\u0029 language\u003aen \u0028site\u003ausa.gov\u0029"},"Web":{"Total":65700,"Offset":0,"Results":[{"Title":"Food
        and Nutrition \u007c USAGov","Description":"Find out how to get help buying
        nutritious food for you and your family. Food Safety Resources Find out
        how to safely buy, store, and prepare food. Nutrition, Dietary ...","Url":"https\u003a\u002f\u002fwww.usa.gov\u002ffood-and-nutrition","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dfood\u002bnutrition\u0026d\u003d4610318293599442\u0026w\u003dbghmtmJtNbkwh9zJRXe3AlI7D1_JBKcQ","DisplayUrl":"https\u003a\u002f\u002fwww.usa.gov\u002ffood-and-nutrition","DateTime":"2016-10-06T13\u003a44\u003a00Z"},{"Title":"Nutrition,
        Dietary Guidelines and Tips \u007c USAGov","Description":"Nutrition, Dietary
        Guidelines and Tips. Get information about healthy eating and help buying
        nutritious food for yourself and your family.","Url":"https\u003a\u002f\u002fwww.usa.gov\u002fnutrition","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dfood\u002bnutrition\u0026d\u003d4769704546730694\u0026w\u003dOQsFDB6Gvz95Ar_dQcxwmQl[...]
