---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=food%20nutrition%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - AFFDA94721D24C0E9CE0D11404335AE6
      X-Msedge-Clientid:
      - 24B836B9464565F71B403DB847D26479
      X-Msapi-Userstate:
      - e34a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=ED7F76A63A544B30BEDCEE28CA71EDBB&CID=24B836B9464565F71B403DB847D26479&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=ED7F76A63A544B30BEDCEE28CA71EDBB&CID=24B836B9464565F71B403DB847D26479&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=food+nutrition+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5318.1", "totalEstimatedMatches": 19400,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Select Publications", "url": "http:\/\/publications.usa.gov\/USAPubs.php?CatID=6",
        "urlPingSuffix": "DevEx,5067.1", "displayUrl": "publications.usa.gov\/USAPubs.php?CatID=6",
        "snippet": "Directory of fact sheets on nutrition and food safety.", "dateLastCrawled":
        "2017-09-08T19:13:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Food Publications", "url": "http:\/\/publications.usa.gov\/USAPubs.php?NavCode=XA&CatID=6",
        "urlPingSuffix": "DevEx,5082.1", "displayUrl": "publications.usa.gov\/USAPubs.php?NavCode=XA&CatID=6",
        "snippet": "Food Publications. The Food category contains publications
        grouped by topics. Choose any of the topics listed below to narrow your search
     [...]
