---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=food%20nutrition%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 4A22B204BA3B48C8AF4B8982A10D4CB9
      X-Msedge-Clientid:
      - 17365B8F31DA6E4B0E9B4B2B30276F3F
      X-Msapi-Userstate:
      - d973
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9C9B39545F484EEDB7350473B9219056&CID=17365B8F31DA6E4B0E9B4B2B30276F3F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9C9B39545F484EEDB7350473B9219056&CID=17365B8F31DA6E4B0E9B4B2B30276F3F&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=food+nutrition+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5259.1", "totalEstimatedMatches": 51, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Food
        and Nutrition Service | USAGov", "url": "https:\/\/www.usa.gov\/federal-agencies\/food-and-nutrition-service",
        "urlPingSuffix": "DevEx,5053.1", "displayUrl": "https:\/\/www.usa.gov\/federal-agencies\/food-and-nutrition-service",
        "snippet": "Food and Nutrition Service. The Food and Nutrition Service
        provides children and low-income people access to food, a healthful diet,
        and nutrition education. Agency Details Website: Food and Nutrition Service
        . Contact: Contact the Food and Nutrition Service . Food Stamps. Child
        Nutrition Programs. Main Address: Braddock Metro Center II", "dateLastCrawled":
        "2021-08-25T03:11:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Food Assistance | USAGov", "url": "https:\/\/www.usa.gov\/food-help",
        "urlPingSuffix": "DevEx,5068.1", "displayUrl": "https:\/\/www.usa.gov\/food-help",
        "snippet": "Food Stamps (SNAP Food Benefits) The Supplemental Nutrition
        Assistance Program (SNAP) is a federal nutrition program. Known previously
        as \"food stamps,\" SNAP benefits [...]
