---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(food%20nutrition)%20language:en%20(site:usa.gov)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028food
        nutrition\u0029 language\u003aen \u0028site\u003ausa.gov\u0029"},"Web":{"Total":44100,"Offset":0,"Results":[{"Title":"Consumer
        Info. Catalog - Food \u0026 Nutrition","Description":"Food Publications.
        Learn more about making healthy food choices and nutrition for better
        health, safe food handling practices and preparation, and healthy food
        recipes.","Url":"http\u003a\u002f\u002fpublications.usa.gov\u002fUSAPubs.php\u003fCatID\u003d6","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dfood\u002bnutrition\u0026d\u003d4629259144528749\u0026w\u003dno0WhlJbjD05JKGiZ1w3ovybHWhqG48i","DisplayUrl":"publications.usa.gov\u002fUSAPubs.php\u003fCatID\u003d6","DateTime":"2016-11-30T07\u003a28\u003a00Z"},{"Title":"Nutritionist
        \u007c Videos \u007c Kids.gov \u007c USAGov","Description":"What does a nutritionist
        do\u003f A nutritionist or a dietician is an expert in food, health and
        nutrition. And nutritionists are health professionals, ...","Url":"https\u003a\u002f\u002fkids.usa.gov\u002fwatch-videos\u002fjobs\u002fnutritionist\u002findex.shtml","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dfood\u002bnutrit[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=food%20nutrition%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 95C1BCC5635F4E06AD3F3DFE95D0AC5B
      X-Msedge-Clientid:
      - 21C2E322DFE86B2002F9EAC8DED96A9E
      X-Msapi-Userstate:
      - 9c42
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=364A3F6A69F647FBB25CC5F206707793&CID=21C2E322DFE86B2002F9EAC8DED96A9E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=364A3F6A69F647FBB25CC5F206707793&CID=21C2E322DFE86B2002F9EAC8DED96A9E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=food+nutrition+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5313.1", "totalEstimatedMatches": 51300,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Consumer Info. Catalog - Food & Nutrition", "url": "http:\/\/publications.usa.gov\/USAPubs.php?CatID=6",
        "urlPingSuffix": "DevEx,5070.1", "displayUrl": "publications.usa.gov\/USAPubs.php?CatID=6",
        "snippet": "Food Publications. Learn more about making healthy food choices
        and nutrition for better health, safe food handling practices and preparation,
        and healthy food recipes.", "dateLastCrawled": "2016-12-05T10:33:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Nutritionist
        | Videos | Kids.gov | USAGov", "url": "https:\/\/kids.usa.gov\/watch-videos\/jobs\/nutritionist\/index.shtml",
        "urlPingSuffix": "DevEx,5086.1", "displayUrl": "https:\/\/kids.usa.gov\/watch-videos\/jobs\/nutritionist\/index.shtml",
        "snippet": "What does a nutritionist do? A nutritionist or a dietician
        is an expert in food, health [...]
