---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=food%20nutrition%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9A523A5ADED34FA39FFF2448A71982A9
      X-Msedge-Clientid:
      - 0A0D2963EABF6E7A363C22E5EB106F99
      X-Msapi-Userstate:
      - 7a3d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9B4ADFC127924A63BA7A0C7A5B3BBA7E&CID=0A0D2963EABF6E7A363C22E5EB106F99&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9B4ADFC127924A63BA7A0C7A5B3BBA7E&CID=0A0D2963EABF6E7A363C22E5EB106F99&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=food+nutrition+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5336.1", "totalEstimatedMatches": 120000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Health and Nutrition: Online Services - USAGov", "url": "https:\/\/www.usa.gov\/health",
        "urlPingSuffix": "DevEx,5081.1", "displayUrl": "https:\/\/www.usa.gov\/health",
        "snippet": "Food Assistance; Social Security Questions; ... Health Information
        from the Government. Learn more about the best ways to find health information
        from the government.", "dateLastCrawled": "2018-01-20T06:14:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Food
        and Nutrition Service | USAGov", "url": "https:\/\/www.usa.gov\/federal-agencies\/food-and-nutrition-service",
        "urlPingSuffix": "DevEx,5099.1", "about": [{"name": "Food and Nutrition Service"}],
        "displayUrl": "https:\/\/www.usa.gov\/federal-agencies\/food-and-nutrition-service",
        "snippet": "Food and Nutrition Service. The Food and Nutrition Service
        provides children and low-income people access to food, a healthful diet,
        and nutrition education.", "dateLastCrawled": "2018-01-15T20:44:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Center
        for Food[...]
