---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(food%20nutrition)%20language:en%20(site:usa.gov)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028food
        nutrition\u0029 language\u003aen \u0028site\u003ausa.gov\u0029"},"Web":{"Total":44100,"Offset":0,"Results":[{"Title":"Health
        Insurance, Nutrition, and Food Safety - USAGov","Description":"Health.
        Find health resources from the government. Blood and Organ Donations. Find
        out how to help others through medical donations. Child Care and Related Issues","Url":"https\u003a\u002f\u002fwww.usa.gov\u002fhealth","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dfood\u002bnutrition\u0026d\u003d5040772769974511\u0026w\u003dFRqoG0vP4Hv0R10QwelOt5P-D__5ZHmn","DisplayUrl":"https\u003a\u002f\u002fwww.usa.gov\u002fhealth","DateTime":"2016-11-30T04\u003a58\u003a00Z"},{"Title":"Food
        and Nutrition Service \u007c USAGov","Description":"Food and Nutrition
        Service. The Food and Nutrition Service provides children and low-income
        people access to food, a healthful diet, and nutrition education.","Url":"https\u003a\u002f\u002fwww.usa.gov\u002ffederal-agencies\u002ffood-and-nutrition-service","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dfood\u002bnutrition\u0026d\u[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=food%20nutrition%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F80A8ED08F6F418B819BCD765CA0AAC7
      X-Msedge-Clientid:
      - 02D35C0658876D98285055EC59B66C76
      X-Msapi-Userstate:
      - 4e21
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C19EA0E41ADF4FEF96C352D913CACD75&CID=02D35C0658876D98285055EC59B66C76&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C19EA0E41ADF4FEF96C352D913CACD75&CID=02D35C0658876D98285055EC59B66C76&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=food+nutrition+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5331.1", "totalEstimatedMatches": 51300,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Consumer Info. Catalog - Food & Nutrition", "url": "http:\/\/publications.usa.gov\/USAPubs.php?CatID=6",
        "urlPingSuffix": "DevEx,5088.1", "displayUrl": "publications.usa.gov\/USAPubs.php?CatID=6",
        "snippet": "Food Publications. Learn more about making healthy food choices
        and nutrition for better health, safe food handling practices and preparation,
        and healthy food recipes.", "dateLastCrawled": "2016-12-05T10:33:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Nutritionist
        | Videos | Kids.gov | USAGov", "url": "https:\/\/kids.usa.gov\/watch-videos\/jobs\/nutritionist\/index.shtml",
        "urlPingSuffix": "DevEx,5104.1", "displayUrl": "https:\/\/kids.usa.gov\/watch-videos\/jobs\/nutritionist\/index.shtml",
        "snippet": "What does a nutritionist do? A nutritionist or a dietician
        is an expert in food, health [...]
