---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(food%20nutrition)%20language:en%20(site:usa.gov)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028food
        nutrition\u0029 language\u003aen \u0028site\u003ausa.gov\u0029"},"Web":{"Total":64100,"Offset":0,"Results":[{"Title":"Food
        and Nutrition \u007c USA.gov","Description":"Food and Nutrition. Learn
        about nutrition, help to feed your family, and how to safely prepare food.
        Food Assistance. Find out how to get help buying nutritious food ...","Url":"https\u003a\u002f\u002fwww.usa.gov\u002ffood-and-nutrition","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dfood\u002bnutrition\u0026d\u003d4610318250083412\u0026w\u003dI1qL6e-Lj80wh9zJRXe3AlI7D1_JBKcQ","DisplayUrl":"https\u003a\u002f\u002fwww.usa.gov\u002ffood-and-nutrition","DateTime":"2016-06-02T23\u003a25\u003a00Z"},{"Title":"Consumer
        Info. Catalog - Food \u0026 Nutrition","Description":"Food Publications.
        Learn more about making healthy food choices and nutrition for better
        health, safe food handling practices and preparation, and healthy food
        recipes.","Url":"http\u003a\u002f\u002fpublications.usa.gov\u002fUSAPubs.php\u003fCatID\u003d6","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dfood\u002bnutritio[...]
