---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8CB025E22C604391B3D3CF1409B5FDB7
      X-Msedge-Clientid:
      - 152DD72B73966FCE1798DBCA72416EC9
      X-Msapi-Userstate:
      - 30ea
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=0D2BAB7AC375491CA6E1764895FD6035&CID=152DD72B73966FCE1798DBCA72416EC9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=0D2BAB7AC375491CA6E1764895FD6035&CID=152DD72B73966FCE1798DBCA72416EC9&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Fri, 11 Jan 2019 18:27:11 GMT
recorded_with: VCR 4.0.0
