---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1DBEA492AD7748D1B283D03CA08F59C9
      X-Msedge-Clientid:
      - 34EFBFF35C6F62F31F4CB3D35DB8633B
      X-Msapi-Userstate:
      - 8a97
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F70E333327924B86BA66D39379B42F6F&CID=34EFBFF35C6F62F31F4CB3D35DB8633B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F70E333327924B86BA66D39379B42F6F&CID=34EFBFF35C6F62F31F4CB3D35DB8633B&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 02 Jul 2018 21:49:20 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2BCBF156BAD3465B8712A806430E1716
      X-Msedge-Clientid:
      - 304E6FA9DA946D0E3CA963F1DB9B6CE9
      X-Msapi-Userstate:
      - '5903'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8DCBFB2D735246EA8A7FE31C293319D5&CID=304E6FA9DA946D0E3CA963F1DB9B6CE9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8DCBFB2D735246EA8A7FE31C293319D5&CID=304E6FA9DA946D0E3CA963F1DB9B6CE9&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 27 Aug 2018 00:01:02 GMT
recorded_with: VCR 4.0.0
