---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9DAD10DB7D2443E0AE6A7E408F3E5B22
      X-Msedge-Clientid:
      - 0E4124F35D0A6EAF10DE28135CDD6FC3
      X-Msapi-Userstate:
      - '081d'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=2D26BCE795A347CBABAF5869107EF4E1&CID=0E4124F35D0A6EAF10DE28135CDD6FC3&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=2D26BCE795A347CBABAF5869107EF4E1&CID=0E4124F35D0A6EAF10DE28135CDD6FC3&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 10 Jan 2019 19:57:20 GMT
recorded_with: VCR 4.0.0
