.serp-result-wrapper{
  min-height: 35rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

div[data-react-class="SearchResultsLayout"] {
  overflow-x: hidden;
}

.grid-container {
  max-width: 50rem;
}
