.serp-result-wrapper{
  min-height: 35rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

div[data-react-class="SearchResultsLayout"] {
  overflow-x: hidden;
}

a.logo-link, a.logo-link:hover, a.logo-link:visited {
  color: inherit;
  display: block;
  text-decoration: none;
}

.usa-logo__text {
  cursor: default;
}

.content-provider {
  margin-bottom: 1rem;
  padding-right: 2.5rem;
  text-align: right;
}

.bing {
  background: url('searches/bing_logo.png') right no-repeat;
  background-origin: content-box;
}

.bing > .powered-by {
  padding-right: 56px;
}

.bing > .engine {
  height:1px;
  left:-10000px;
  overflow:hidden;
  position:absolute;
  top:auto;
  width:1px;
}

@media (max-width: 767.98px){
  .serp-result-wrapper > .grid-container {
      padding-left: 0;
      padding-right: 0;
  }
}
