# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details

version: 2.1

orbs:
  ruby: circleci/ruby@1.1.2

executors:
  test_executor:
    working_directory: ~/search-gov

    docker:
      # using custom images, see .circleci/images/primary/
      - image: searchgov/ruby:${RUBY_VERSION}
        environment:
          RAILS_ENV: test

      - image: circleci/mysql:5.6
        environment:
          MYSQL_ALLOW_EMPTY_PASSWORD: true
          MYSQL_ROOT_HOST: "%"

      - image: redis:3.2

      - image: docker.elastic.co/elasticsearch/elasticsearch:6.8.11
        environment:
          bootstrap.memory_lock: true
          cluster.name: es68
          discovery.type: single-node
          http.port: 9268
          xpack.license.self_generated.type: trial
          xpack.monitoring.enabled: false
          xpack.security.enabled: false
          ES_JAVA_OPTS: '-Xms256m -Xmx256m'

      - image: docker.elastic.co/elasticsearch/elasticsearch:7.8.0
        environment:
          bootstrap.memory_lock: true
          cluster.name: es78
          discovery.type: single-node
          http.port: 9278
          xpack.license.self_generated.type: trial
          xpack.monitoring.enabled: false
          xpack.security.enabled: false
          ES_JAVA_OPTS: '-Xms256m -Xmx256m'

      - image: apache/tika:1.24.1


commands:
  prepare_database:
    description: 'Prepare the test database'
    steps:
      - run: bundle exec rake db:create
      # Configure MySQL 5.6 for ROW_FORMAT=DYNAMIC storage
      - run: cat .circleci/database-configuration.sql | bundle exec rails db
      - run: bundle exec rake db:structure:load

jobs:
  checkout_code:
    environment:
      RUBY_VERSION: << parameters.ruby_version >>
    parameters:
      ruby_version:
        type: string

    executor: test_executor

    steps:
      - checkout

      - run:
          name: Wait for Elasticsearch 6.8
          command: dockerize -wait tcp://localhost:9268 -timeout 1m

      - run:
          name: Use developer secrets
          command: |
            mv config/secrets.yml.dev config/secrets.yml

      - run:
          name: Install Code Climate Test Reporter
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter

      - save_cache:
          key: repo-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/search-gov

  bundle_install:
    environment:
      RUBY_VERSION: << parameters.ruby_version >>
    parameters:
      ruby_version:
        type: string

    executor: test_executor

    steps:
      - restore_cache:
          key: repo-{{ .Environment.CIRCLE_SHA1 }}

      - ruby/install-deps:
          # Need to clear the gem cache? Set or bump the CACHE_VERSION in your
          # CircleCi project: Project Settings > Environment Variables
          key: gems-v{{ .Environment.CACHE_VERSION }}


  rspec:
    environment:
      RUBY_VERSION: << parameters.ruby_version >>
    parameters:
      ruby_version:
        type: string

    executor: test_executor

    parallelism: 2

    steps:
      - restore_cache:
          key: repo-{{ .Environment.CIRCLE_SHA1 }}

      - ruby/install-deps:
          key: gems-v{{ .Environment.CACHE_VERSION }}

      - prepare_database

      - run:
          name: Run Tests
          command: |
            bundle exec rake usasearch:elasticsearch:create_indexes

            mkdir /tmp/test-results
            ./cc-test-reporter before-build

            # Run Rspec tests
            bundle exec rspec --format progress \
                              --format RspecJunitFormatter \
                              --out /tmp/test-results/rspec.xml \
                              --format progress \
                              $(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)

            ./cc-test-reporter format-coverage --output coverage/codeclimate.rspec.$CIRCLE_NODE_INDEX.json

      - persist_to_workspace:
          root: ~/search-gov/coverage
          paths:
          - codeclimate.rspec.*.json

      # collect reports
      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: /tmp/test-results
          destination: test-results

  cucumber:
    environment:
      RUBY_VERSION: << parameters.ruby_version >>
    parameters:
      ruby_version:
        type: string

    executor: test_executor

    parallelism: 6

    steps:
      - restore_cache:
          key: repo-{{ .Environment.CIRCLE_SHA1 }}

      - ruby/install-deps:
          key: gems-v{{ .Environment.CACHE_VERSION }}

      - prepare_database

      - run:
          name: Run Tests
          command: |
            bundle exec rake usasearch:elasticsearch:create_indexes

            bundle exec rake tmp:create

            mkdir /tmp/test-results
            ./cc-test-reporter before-build

            # Run cucumber tests
            bundle exec cucumber --format progress \
                                --format junit \
                                --out /tmp/test-results/cucumber.xml \
                                --format progress \
                                -- $(circleci tests glob "features/*.feature" | circleci tests split --split-by=timings)

            ./cc-test-reporter format-coverage --output coverage/codeclimate.cucumber.$CIRCLE_NODE_INDEX.json

      - persist_to_workspace:
          root: ~/search-gov/coverage
          paths:
          - codeclimate.cucumber.*.json

      # collect reports
      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: /tmp/test-results
          destination: test-results

  report_coverage:
    environment:
      RUBY_VERSION: << parameters.ruby_version >>
    parameters:
      ruby_version:
        type: string

    executor: test_executor

    steps:
      - restore_cache:
          key: repo-{{ .Environment.CIRCLE_SHA1 }}

      - ruby/install-deps:
          key: gems-v{{ .Environment.CACHE_VERSION }}

      - attach_workspace:
          at: ~/search-gov/coverage

      - run:
          name: Report coverage to Code Climate
          command: |
            ./cc-test-reporter sum-coverage --parts 8 coverage/codeclimate.*.json --output coverage/codeclimate_full_report.json
            ./cc-test-reporter upload-coverage --input coverage/codeclimate_full_report.json

            ruby scripts/check_coverage.rb ${PWD}/coverage/codeclimate_full_report.json

workflows:
  version: 2
  build_and_test:
    jobs:
      - checkout_code:
          matrix:
            parameters:
              ruby_version: ["2.5.5"]

      - bundle_install:
          requires:
            - checkout_code
          matrix:
            parameters:
              ruby_version: ["2.5.5"]

      - rspec:
          requires:
            - bundle_install
          matrix:
            parameters:
              ruby_version: ["2.5.5"]

      - cucumber:
          requires:
            - bundle_install
          matrix:
            parameters:
              ruby_version: ["2.5.5"]

      - report_coverage:
          requires:
            - rspec
            - cucumber
          matrix:
            parameters:
              ruby_version: ["2.5.5"]
