%tbody
  %tr.column-header
    %th Url
    %th Actions
  - unless @sitemaps.blank?
    - @sitemaps.each do |sitemap|
      %tr.row-item
        %td
          = link_to sitemap.url.truncate(35, :omission => '...' ), sitemap.url, :title => sitemap.url
        %td.actions
          = button_to("Delete", [@affiliate, sitemap], :method => :delete, :data => {:confirm => "Are you sure you want to delete this sitemap?"})
  - else
    %tr
      %td.empty{ :colspan => 2 } Site #{@affiliate.display_name} has no sitemaps
