---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 98DA44FBD4E842F98F202A4F5988148C
      X-Msedge-Clientid:
      - 26B4749D139E6A9322D0787D12496B55
      X-Msapi-Userstate:
      - 8cdd
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E39F252911EC4F4CBE34DFB3D9382BB9&CID=26B4749D139E6A9322D0787D12496B55&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E39F252911EC4F4CBE34DFB3D9382BB9&CID=26B4749D139E6A9322D0787D12496B55&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5398.1", "totalEstimatedMatches": 142, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Food
        Assistance | USAGov", "url": "https:\/\/www.usa.gov\/food-help", "urlPingSuffix":
        "DevEx,5058.1", "displayUrl": "https:\/\/www.usa.gov\/food-help", "snippet":
        "Food Assistance. Find out how to get food in case of an emergency, apply
        for food stamps and what free or low-cost food programs are available
        for infants, children and seniors. ... This short-term program can help you
        get healthy food for yourself and your young children.", "dateLastCrawled":
        "2019-01-04T21:04:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Health | USAGov", "url": "https:\/\/www.usa.gov\/health", "urlPingSuffix":
        "DevEx,5071.1", "displayUrl": "https:\/\/www.usa.gov\/health", "snippet":
        "Health Information from the Government. Learn more about the best ways
        to find health information from the government. Health Insurance. Learn
        about health insurance, including Medicaid [...]
