---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov%20OR%20site:nonsense.com)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9F93E60E9FE24777956006D8D77454C5
      X-Msedge-Clientid:
      - 2FB17FF9238B693E102373A1228468CD
      X-Msapi-Userstate:
      - b54c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D7008CF9CAF84D049E542C0E00143EDB&CID=2FB17FF9238B693E102373A1228468CD&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D7008CF9CAF84D049E542C0E00143EDB&CID=2FB17FF9238B693E102373A1228468CD&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 27 Aug 2018 00:04:37 GMT
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov%20OR%20site:nonsense.com)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 473F59C56DC34547973ACB60845E8D97
      Bingapis-Sessionid:
      - 065BE3E81DEC47E982FDC5AE208D5CEF
      X-Msedge-Clientid:
      - 21A26C8A57BD62D129F9607056F16366
      X-Msapi-Userstate:
      - 90ed
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=155,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "no_results
        (site:nonsense.gov OR site:nonsense.com)"}, "rankingResponse": {}}'
  recorded_at: Tue, 05 Feb 2019 21:33:53 GMT
recorded_with: VCR 4.0.0
