---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(no_results)%20language:en%20(site:nonsense.gov%20OR%20site:nonsense.com)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028no_results\u0029
        language\u003aen \u0028site\u003anonsense.gov OR site\u003anonsense.com\u0029"},"Web":{"Total":0,"Offset":0}}}'
  recorded_at: Mon, 06 Feb 2017 01:00:00 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov%20OR%20site:nonsense.com)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7AD996EE46344122A783A1E85A4F28DA
      X-Msedge-Clientid:
      - 11A078486E6463FA3FDF72696FF362EB
      X-Msapi-Userstate:
      - 8be4
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D9688823404A4A2498BC58354241B78C&CID=11A078486E6463FA3FDF72696FF362EB&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D9688823404A4A2498BC58354241B78C&CID=11A078486E6463FA3FDF72696FF362EB&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 06 Feb 2017 23:48:53 GMT
recorded_with: VCR 3.0.3
