---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov%20OR%20site:nonsense.com)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5635DD9C59684B8797E38935DC7BBB15
      X-Msedge-Clientid:
      - 2DC11F954A5F6C0D1D6B14134BF06DED
      X-Msapi-Userstate:
      - ee09
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=2C94ED4B6D94496BAF53AE412CA51A4F&CID=2DC11F954A5F6C0D1D6B14134BF06DED&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=2C94ED4B6D94496BAF53AE412CA51A4F&CID=2DC11F954A5F6C0D1D6B14134BF06DED&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 29 Jan 2018 19:04:22 GMT
recorded_with: VCR 3.0.3
