---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov%20OR%20site:nonsense.com)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - EBDF37E8CDC44F37B08F25D256826E8F
      X-Msedge-Clientid:
      - 14600EE6B84B6269312E05A1B9DC63FD
      X-Msapi-Userstate:
      - 6d59
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=86D00827E4B84DAEBA6DAF45A4F1B767&CID=14600EE6B84B6269312E05A1B9DC63FD&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=86D00827E4B84DAEBA6DAF45A4F1B767&CID=14600EE6B84B6269312E05A1B9DC63FD&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 27 Nov 2017 17:53:03 GMT
recorded_with: VCR 3.0.3
