---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov%20OR%20site:nonsense.com)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1085C72F22204126AFF4E1E245817BE3
      X-Msedge-Clientid:
      - 17834755BF196BFB27DA4D6CBE8E6A22
      X-Msapi-Userstate:
      - '8736'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D195347ACBDB45B8AD435787FC52D4FD&CID=17834755BF196BFB27DA4D6CBE8E6A22&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D195347ACBDB45B8AD435787FC52D4FD&CID=17834755BF196BFB27DA4D6CBE8E6A22&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 02 Mar 2017 19:53:51 GMT
recorded_with: VCR 3.0.3
