---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov%20OR%20site:nonsense.com)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - AC1D34488F1D44B49DDB4EF02021F0D7
      X-Msedge-Clientid:
      - 27E97B77F7BB6E2E30FC707FF62C6F06
      X-Msapi-Userstate:
      - '6388'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=439535717A2D4340AA33B1CA782EC803&CID=27E97B77F7BB6E2E30FC707FF62C6F06&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=439535717A2D4340AA33B1CA782EC803&CID=27E97B77F7BB6E2E30FC707FF62C6F06&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 25 Sep 2017 19:12:30 GMT
recorded_with: VCR 3.0.3
