---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov%20OR%20site:nonsense.com)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - FF537FF29F464BD7A12DFEC4C94B09DA
      X-Msedge-Clientid:
      - 2CE745C5DDCD6E1505B94E4EDC626F0D
      X-Msapi-Userstate:
      - 94fd
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E17FBF163AB94795858F1C49B8BC1D57&CID=2CE745C5DDCD6E1505B94E4EDC626F0D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E17FBF163AB94795858F1C49B8BC1D57&CID=2CE745C5DDCD6E1505B94E4EDC626F0D&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Sat, 03 Feb 2018 23:31:21 GMT
recorded_with: VCR 4.0.0
