---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=marketplase%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/rb5a8OxbaoTA6lQEQn9iIHEQNJw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - marketplase site:usa.gov",
            "totalResults": "262",
            "searchTerms": "marketplase site:usa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - marketplase site:usa.gov",
            "totalResults": "262",
            "searchTerms": "marketplase site:usa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.425341,
          "formattedSearchTime": "0.43",
          "totalResults": "262",
          "formattedTotalResults": "262"
         },
         "spelling": {
          "correctedQuery": "marketplace site:usa.gov",
          "htmlCorrectedQuery": "\u003cb\u003e\u003ci\u003emarketplace\u003c/i\u003e\u003c/b\u003e site:usa.gov"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "The Health Insurance Marketplace",
           "htmlTitle": "The Health Insurance \u003cb\u003eMarketplace\u003c/b\u003e",
           "link": "http://go.usa.gov/xrGZT",
           "displayLink": "go.usa.gov",
           "snippet": "Mar 21, 2017 ... Health Insurance Marketplace — also known as the Health Insurance Exchange \n— is the place where people without health care insurance ...",
           "htmlSnippet": "Mar 21, 2017 \u003cb\u003e...\u003c/b\u003e Health Insurance \u003cb\u003eMarketplace\u003c/b\u003e — also known as the Health Insurance Exchange \u003cbr\u003e\n— is the place where people without health care insurance&nbsp;...",
           "cacheId": "2v5Tqe4oR4YJ",
           "formattedUrl": "go.usa.gov/xrGZT",
           "htmlFormattedUrl": "go.usa.gov/xrGZT",
           "pagemap": {
            "metatags": [
             {
              "newurl": "https://www.irs.gov/affordable-care-act/individuals-and-families/the-health-insurance-marketplace",
              "oldurl": "https://www.irs.gov/Affordable-Care-Act/Individuals-and-Families/The-Health-Insurance-Marketplace",
              "content-type": "Standard",
              "irsstandard-type": "st_other",
              "language": "en",
              "modified": "2017-03-21",
              "uniqueid": "425210"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Find out if You Qualify for a Health Insurance Coverage Exemption",
           "htmlTitle": "Find out if You Qualify for a Health Insurance Coverage Exemption",
           "link": "http://go.usa.gov/8Hg9",
           "displayLink": "go.usa.gov",
           "snippet": "Nov 1, 2016 ... You can obtain some exemptions only from the Marketplace in the area where [...]
