---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=electro%20coagulation%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ZK6WcJ2_cdL-1Kol5cpaPQsD0mI/tgIPQyfQBizwywZDLN8XEFyYCxw"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - electro coagulation site:usa.gov",
            "totalResults": "26",
            "searchTerms": "electro coagulation site:usa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - electro coagulation site:usa.gov",
            "totalResults": "26",
            "searchTerms": "electro coagulation site:usa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.227506,
          "formattedSearchTime": "0.23",
          "totalResults": "26",
          "formattedTotalResults": "26"
         },
         "spelling": {
          "correctedQuery": "electrocoagulation site:usa.gov",
          "htmlCorrectedQuery": "\u003cb\u003e\u003ci\u003eelectrocoagulation\u003c/i\u003e\u003c/b\u003e site:usa.gov"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Esophageal Cancer Treatment (PDQ®)—Patient Version - National ...",
           "htmlTitle": "Esophageal Cancer Treatment (PDQ®)—Patient Version - National \u003cb\u003e...\u003c/b\u003e",
           "link": "http://1.usa.gov/1CaWAAt",
           "displayLink": "1.usa.gov",
           "snippet": "Dec 10, 2015 ... Surgery; Radiation therapy; Chemotherapy; Chemoradiation therapy; Laser \ntherapy; Electrocoagulation. New types of treatment are being ...",
           "htmlSnippet": "Dec 10, 2015 \u003cb\u003e...\u003c/b\u003e Surgery; Radiation therapy; Chemotherapy; Chemoradiation therapy; Laser \u003cbr\u003e\ntherapy; \u003cb\u003eElectrocoagulation\u003c/b\u003e. New types of treatment are being&nbsp;...",
           "cacheId": "gvrIztHmc0YJ",
           "formattedUrl": "1.usa.gov/1CaWAAt",
           "htmlFormattedUrl": "1.usa.gov/1CaWAAt",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "192",
              "height": "262",
              "src": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQek_YNB4ZoNAfgx8gACN91gYH-ODGsZBiAPssZaoKJ2bE4zkeEzYzgtrA"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, shrink-to-fit=no",
              "apple-mobile-web-app-title": "Cancer.gov",
              "application-name": "Cancer.gov",
              "msapplication-tilecolor": "#ffffff",
              "msapplication-tileimage": "/publishedcontent/images/images/design-elements/icons/favicons/mstile-144x144.png",
              "msapplication-config": "/publishedcontent/images/images/design-elements/icons/favicons/browserconfig.xml",
              "theme-color": "#ffffff",
              "content-language": "en",
              "english-linking-policy": "http://www.cancer.gov/global/web/policies/exit",
              "espanol-linking-policy": "http://www.cancer.gov/espanol/global/politicas/salida",
              "dcterms.type": "pdqCancerInfoSummary",
              "og:title": "Esophageal Cancer Treatment",
              "og:description": "Expert-reviewed information summary about the treatment of esophageal cancer.",
              "og:type": "Website",
              "og:site_name": "National Cancer Institute",
              "og:url": "http://www.cancer.gov/types/esophageal/patient/esophageal-treatment-pdq",
              "og:image": "http://www.cancer.gov",
              "twitter:card": "summary"
             }
            ],
            "cse_image": [
             {
              "src": "http://www.cancer.gov/images/cdr/live/CDR428446-750.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Rapid healing of cutaneous leishmaniasis by high-frequency ...",
           "htmlTitle": "Rapid healing of cutaneous leishmaniasis by high-frequency \u003cb\u003e...\u003c/b\u003e",
           "link": "http://1.usa.gov/1jfnyd2",
           "displayLink": "1.usa.gov",
           "snippet": "Feb 13, 2014 ... ... Chlorides/pharmacology; Chlorides/therapeutic use*; Electrocoagulation*; \nFemale; Humans; Leishmaniasis, Cutaneous/epidemiology* ...",
           "htmlSnippet": "Feb 13, 2014 \u003cb\u003e...\u003c/b\u003e ... Chlorides/pharmacology; Chlorides/therapeutic use*; \u003cb\u003eElectrocoagulation\u003c/b\u003e*; \u003cbr\u003e\nFemale; Humans; Leishmaniasis, Cutaneous/epidemiology*&nbsp;...",
           "formattedUrl": "1.usa.gov/1jfnyd2",
           "htmlFormattedUrl": "1.usa.gov/1jfnyd2",
           "pagemap": {
            "metatags": [
             {
              "citation_title": "Rapid healing of cutaneous leishmaniasis by high-frequency electrocauterization and hydrogel wound care with or without DAC N-055: a randomized controlled phase IIa trial in Kabul.",
              "citation_authors": "Jebran AF; Schleicher U; Steiner R; Wentker P; Mahfuz F; Stahl HC; Amin FM; Bogdan C; Stahl KW",
              "citation_date": "02/13/2014",
              "citation_publisher": "PLoS Negl Trop Dis",
              "citation_journal_title": "PLoS neglected tropical diseases",
              "citation_pmid": "24551257",
              "citation_abstract_html_url": "http://www.ncbi.nlm.nih.gov/pubmed/24551257",
              "citation_volume": "8",
              "citation_issue": "2",
              "citation_firstpage": "e2694",
              "citation_doi": "10.1371/journal.pntd.0002694",
              "citation_issn": "1935-2735"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Fatal colonic explosion during colonoscopic polypectomy.",
           "htmlTitle": "Fatal colonic explosion during colonoscopic polypectomy.",
           "link": "http://1.usa.gov/P9604S",
           "displayLink": "1.usa.gov",
           "snippet": "Aged; Colon/injuries*; Colonic Neoplasms/surgery*; Electrocoagulation/adverse \neffects*; Explosions*; Gas[...]
