---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=marketplase%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/wvUkbyiWNltlp42yBhsSpzC3x6c"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - marketplase site:usa.gov",
            "totalResults": "1500",
            "searchTerms": "marketplase site:usa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - marketplase site:usa.gov",
            "totalResults": "1500",
            "searchTerms": "marketplase site:usa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.334884,
          "formattedSearchTime": "0.33",
          "totalResults": "1500",
          "formattedTotalResults": "1,500"
         },
         "spelling": {
          "correctedQuery": "marketplace site:usa.gov",
          "htmlCorrectedQuery": "\u003cb\u003e\u003ci\u003emarketplace\u003c/i\u003e\u003c/b\u003e site:usa.gov"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "The Health Insurance Marketplace | Internal Revenue Service",
           "htmlTitle": "The Health Insurance \u003cb\u003eMarketplace\u003c/b\u003e | Internal Revenue Service",
           "link": "http://go.usa.gov/xrGZT",
           "displayLink": "go.usa.gov",
           "snippet": "Health Insurance Marketplace — also known as the Health Insurance Exchange \n— is the place where people without health care insurance can find information ...",
           "htmlSnippet": "Health Insurance \u003cb\u003eMarketplace\u003c/b\u003e — also known as the Health Insurance Exchange \u003cbr\u003e\n— is the place where people without health care insurance can find information&nbsp;...",
           "cacheId": "2v5Tqe4oR4YJ",
           "formattedUrl": "go.usa.gov/xrGZT",
           "htmlFormattedUrl": "go.usa.gov/xrGZT",
           "pagemap": {
            "metatags": [
             {
              "title": "The Health Insurance Marketplace | Internal Revenue Service",
              "abstract": "The Health Insurance Marketplace",
              "original-source": "https://www.irs.gov/affordable-care-act/individuals-and-families/the-health-insurance-marketplace",
              "rights": "United States Internal Revenue Services",
              "mobileoptimized": "width",
              "handheldfriendly": "true",
              "viewport": "width=device-width, initial-scale=1.0",
              "uniqueid": "9886",
              "ishistorical": "no",
              "changed": "1504293697",
              "otid": "425210",
              "seid": "QR5QB"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Health Insurance Marketplace Statements | Internal Revenue Service",
           "htmlTitle": "Health Insurance \u003cb\u003eMarketplace\u003c/b\u003e Statements | Internal Revenue Service",
           "link": "http://go.usa.gov/hkSB",
           "displayLink": "go.usa.gov",
           "snippet": "If you purchased coverage through the federally facilitated Mar[...]
