---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - DDEC93B706FE47B0A9E563F76709E2CA
      X-Msedge-Clientid:
      - 3B54D44A519660B80CAAC4EE504861CD
      X-Msapi-Userstate:
      - 3aaf
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=FA246CB860AE42A6A18B2C716E0274C7&CID=3B54D44A519660B80CAAC4EE504861CD&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=FA246CB860AE42A6A18B2C716E0274C7&CID=3B54D44A519660B80CAAC4EE504861CD&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5252.1", "totalEstimatedMatches": 42, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Food
        Assistance | USAGov", "url": "https:\/\/www.usa.gov\/food-help", "urlPingSuffix":
        "DevEx,5053.1", "displayUrl": "https:\/\/www.usa.gov\/food-help", "snippet":
        "Get information about government food programs including SNAP, D-SNAP,
        WIC, supplemental food for seniors, and free or reduced-price school lunch
        and breakfast. Learn how food programs can provide emergency help during
        the COVID-19 pandemic.", "dateLastCrawled": "2021-08-27T23:45:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Health
        | USAGov", "url": "https:\/\/www.usa.gov\/health", "urlPingSuffix": "DevEx,5066.1",
        "displayUrl": "https:\/\/www.usa.gov\/health", "snippet": "Find tools
        to locate doctors, hospitals, care facilities, and other medical facilities.
        Learn more about the best ways to find health information from the government.
        Learn about health insu[...]
