---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=food%20nutrition%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1201CE4F2F204377B8036786DFF7FD1F
      X-Msedge-Clientid:
      - 0DF1B922D2C16B303CE9B31BD3566A1C
      X-Msapi-Userstate:
      - '3064'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=20BE2A0AD710463B98F3E799F2DC82EA&CID=0DF1B922D2C16B303CE9B31BD3566A1C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=20BE2A0AD710463B98F3E799F2DC82EA&CID=0DF1B922D2C16B303CE9B31BD3566A1C&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=food+nutrition+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5313.1", "totalEstimatedMatches": 14800,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Health | USA.gov", "url": "https:\/\/www.usa.gov\/health", "urlPingSuffix":
        "DevEx,5069.1", "displayUrl": "https:\/\/www.usa.gov\/health", "snippet":
        "Health. Find health resources from the government. Child Care and Related
        Issues. Find resources about adoption, kinship care and other child and teenager-related
        ...", "dateLastCrawled": "2017-02-27T10:26:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Nutritionist | Videos | Kids.gov | USAGov", "url": "https:\/\/kids.usa.gov\/watch-videos\/jobs\/nutritionist\/index.shtml",
        "urlPingSuffix": "DevEx,5085.1", "displayUrl": "https:\/\/kids.usa.gov\/watch-videos\/jobs\/nutritionist\/index.shtml",
        "snippet": "What does a nutritionist do? A nutritionist or a dietician
        is an expert in food, health and n[...]
