---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=20&q=osha%20guidelines&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 556300BC9D2D42D48E6FD890DE41A8F6
      X-Msedge-Clientid:
      - 383D68BA7C8864E51C91628C7D1F6568
      X-Msapi-Userstate:
      - '0737'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1B7CCC4CE33145A2A3560A3A447B1A5A&CID=383D68BA7C8864E51C91628C7D1F6568&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1B7CCC4CE33145A2A3560A3A447B1A5A&CID=383D68BA7C8864E51C91628C7D1F6568&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=osha+guidelines",
        "webSearchUrlPingSuffix": "DevEx,5263.1", "totalEstimatedMatches": 18900000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "OSHA Forklift Training, Osha Forklift Requirements ...", "url": "https:\/\/www.forkliftcertification.com\/osha-requirements\/",
        "urlPingSuffix": "DevEx,5055.1", "displayUrl": "https:\/\/www.forkliftcertification.com\/osha-requirements",
        "snippet": "OSHA Forklift Training - We offer information on OSHA Forklift
        Training and OSHA Requirements. Learn more about OSHA Forklift Training Requirements
        today.", "dateLastCrawled": "2017-02-18T08:27:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Minnesota OSHA Compliance -- Standards and regulations", "url": "http:\/\/www.dli.mn.gov\/OSHA\/Standards.asp",
        "urlPingSuffix": "DevEx,5068.1", "displayUrl": "www.dli.mn.gov\/OSHA\/Standards.asp",
        "snippet": "Minnesota employers under the jurisdiction of Minnesota OSHA must
        comply with both the federal OSHA Standards adopted by reference in Minnesota
        and [...]
