---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?count=10&mkt=en-US&offset=20&q=consumer%20financial%20protection%20bureau&responseFilter=WebPages,SpellSuggestions&safeSearch=Moderate&textDecorations=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4343BE5A01A54D9D8ADBB6147D33E9B0
      X-Msedge-Clientid:
      - 1BE7AFADC5CD62AB3B91A594C4FC63A2
      X-Msapi-Userstate:
      - '3165'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/cr?IG=36D2632EE72D4B49B6FDFB65BB324686&CID=1BE7AFADC5CD62AB3B91A594C4FC63A2&rd=1&h=TvLW1nIkoMQB2bM4hV15ITlYFwQc3g7tF3tCWUQk-oc&v=1&r=https%3a%2f%2fwww.bing.com%2fsearch%3fq%3dconsumer%2bfinancial%2bprotection%2bbureau&p=DevEx,5277.1",
        "totalEstimatedMatches": 60600, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.0",
        "name": "Bureau of Consumer Financial Protection - gpo.gov", "url": "https:\/\/www.bing.com\/cr?IG=36D2632EE72D4B49B6FDFB65BB324686&CID=1BE7AFADC5CD62AB3B91A594C4FC63A2&rd=1&h=trkxmc-9rdpPv_D5fKhr5fEc59D9I06H9AnmdEh3ckA&v=1&r=https%3a%2f%2fwww.gpo.gov%2ffdsys%2fpkg%2fFR-2016-08-15%2fpdf%2f2016-18426.pdf&p=DevEx,5051.1",
        "displayUrl": "https:\/\/www.gpo.gov\/fdsys\/pkg\/FR-2016-08-15\/pdf\/2016-18426.pdf",
        "snippet": "Vol. 81 Monday, No. 157 August 15, 2016 Part III Bureau of Consumer
        Financial Protection 12 CFR Part 1026 Amendments to Federal Mortgage Disclosure
        Requirements Under ...", "dateLastCrawled": "2017-02-16T14:54:00"}, {"id":
        "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.1", "name": "Cfpb
        - The Huffington Post", "url": "http:\/\/www.bing.com\/cr?IG=36D2632EE72D4B49B6FDFB65BB324686&CID=1BE7AFADC5CD62AB3B91A594C4FC63A2&rd=1&h=b7ETvAwm_TBmwLz9JMUo730DT4KqmkxP7orc7R0dyi0&v=1&r=http%3a%2f%2fwww.huffingtonpost.com%2fnews%2fcfpb%2f&p=DevEx,5065.1",
        "displayUrl": "www.huffingtonpost.com\/news\/cfpb", "snippet": "The Consumer
        Financial Protection Bur[...]
