---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=20&q=agncy%20(site:nasa.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D9581BED6BBA457882E672FF5E4F0D50
      X-Msedge-Clientid:
      - 305170A689A66D020E027B7B88316C45
      X-Msapi-Userstate:
      - 54b6
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=511398952CFA4E2EB70DFDFCEFE7D71B&CID=305170A689A66D020E027B7B88316C45&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=511398952CFA4E2EB70DFDFCEFE7D71B&CID=305170A689A66D020E027B7B88316C45&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=agncy%20(site:nasa.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5126.1", "totalEstimatedMatches": 103, "nextOffset":
        30, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=BAFD3BC439DBB08076BF3A0F958B4E1E68E7F553&simid=607988537557976116",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "Agency Business Services
        - NASA Shared Services", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.XgL-u0yLSU0ZUIeMSGKDrwHaC6&pid=Api",
        "datePublished": "2013-12-31T23:15:00.0000000Z", "contentUrl": "https:\/\/www.nssc.nasa.gov\/documents\/10179\/13831\/ABS_Banner.png\/c443013e-2377-4b87-a21d-13adaec6e647?t=1367860088620?t=1367860088620?t=1365623788163?t=1365623788162",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "https:\/\/www.nssc.nasa.gov\/abs",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "266324 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "https:\/\/www.nssc.nasa.gov\/abs", "width":
        705, "height": 277, "thumbnail": {"width": 474, "height": 186}, "imageInsightsToken":
        "ccid_XgL+u0yL*mid_BAFD3BC439DBB08076BF3A0F958B4E1E68E7F553*simid_607988537557976116",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "BAFD3BC439DBB08076BF3A0F958B4E1E68E7F553", "accentColor": "0066B2"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=4CA7266C493DB4A6F688AD2E0F5200A2A3804353&simid=608054027160718050",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "NASA - Canadarm2 and HTV-3",
        "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.zhNyhmptorZgCoTw2LLeggHaE6&pid=Api",
        "datePublished": "2017-04-13T14:41:00.0000000Z", "contentUrl": "http:\/\/www.nasa.gov\/images\/content\/[...]
