---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?count=10&mkt=en-US&offset=20&q=consumer%20financial%20protection%20bureau&responseFilter=WebPages,SpellSuggestions&safeSearch=Moderate&textDecorations=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C7D434919B5E42EA832AE1AC44CE8A6F
      X-Msedge-Clientid:
      - 1D1C625CC9376C3D13E2683EC8A76D97
      X-Msapi-Userstate:
      - 3f7d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/cr?IG=5A5D50936A2942C4AB72DD578D991DC8&CID=1D1C625CC9376C3D13E2683EC8A76D97&rd=1&h=TvLW1nIkoMQB2bM4hV15ITlYFwQc3g7tF3tCWUQk-oc&v=1&r=https%3a%2f%2fwww.bing.com%2fsearch%3fq%3dconsumer%2bfinancial%2bprotection%2bbureau&p=DevEx,5271.1",
        "totalEstimatedMatches": 43800000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.0",
        "name": "Bureau of Consumer Financial Protection", "url": "https:\/\/www.bing.com\/cr?IG=5A5D50936A2942C4AB72DD578D991DC8&CID=1D1C625CC9376C3D13E2683EC8A76D97&rd=1&h=ddGN0RA0TYxHc75Ynjd9K4Wz2F874lp53pbYIEwaUJI&v=1&r=https%3a%2f%2fwww.gpo.gov%2ffdsys%2fpkg%2fFR-2016-05-24%2fpdf%2f2016-10961.pdf&p=DevEx,5052.1",
        "displayUrl": "https:\/\/www.gpo.gov\/fdsys\/pkg\/FR-2016-05-24\/pdf\/2016-10961.pdf",
        "snippet": "Vol. 81 Tuesday, No. 100 May 24, 2016 Part II Bureau of Consumer
        Financial Protection 12 CFR Part 1040 Arbitration Agreements; Proposed Rule",
        "dateLastCrawled": "2017-04-04T18:32:00"}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.1",
        "name": "Is the Consumer Financial Protection Bureau constitutional ...",
        "url": "https:\/\/www.bing.com\/cr?IG=5A5D50936A2942C4AB72DD578D991DC8&CID=1D1C625CC9376C3D13E2683EC8A76D97&rd=1&h=OD0GWrc9CkT9mo1YO13FE1CdGhtFLJHoCV7MFC5ZDM0&v=1&r=https%3a%2f%2fwww.washingtonpost.com%2fnews%2fmonkey-cage%2fwp%2f2016%2f10%2f19%2fis-the-consumer-financial-protection-bureau-constitutional-the-d-c-c[...]
