---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=20&q=osha%20guidelines&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6B8D4A84F9F240AD9D2319A81C1E9D21
      X-Msedge-Clientid:
      - 1BA0442C7F416A880DAE4F2D7ED66B2E
      X-Msapi-Userstate:
      - '6087'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=4074EBBD2FA34F9ABA615D0F9AF5A4EE&CID=1BA0442C7F416A880DAE4F2D7ED66B2E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=4074EBBD2FA34F9ABA615D0F9AF5A4EE&CID=1BA0442C7F416A880DAE4F2D7ED66B2E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=osha+guidelines",
        "webSearchUrlPingSuffix": "DevEx,5280.1", "totalEstimatedMatches": 338000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Training requiremenTs in OsHa sTandards and Training ...", "url": "http:\/\/www.worksafemt.com\/media\/Training_Requirements_in_OSHA_Standards.pdf",
        "urlPingSuffix": "DevEx,5054.1", "displayUrl": "www.worksafemt.com\/media\/Training_Requirements_in_OSHA_Standards.pdf",
        "snippet": "www.worksafemt.com Training requiremenTs in OsHa sTandards and
        Training guidelines Below is a helpful spreadsheet for determining OSHA safety
        training requirements.", "dateLastCrawled": "2017-09-11T16:32:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Minnesota
        OSHA Compliance -- Standards and regulations", "url": "http:\/\/www.dli.mn.gov\/OSHA\/Standards.asp",
        "urlPingSuffix": "DevEx,5068.1", "displayUrl": "www.dli.mn.gov\/OSHA\/Standards.asp",
        "snippet": "Minnesota employers under the jurisdiction of Minnesota OSHA must
        comply with both the federal OSHA Standards adopted by reference in Minnesota
    [...]
