---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/images/search?count=10&mkt=en-US&offset=20&q=whitehouse%20dog&safeSearch=Moderate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D1F525FB39DC415C9B3E1977DF78DFFD
      X-Msedge-Clientid:
      - 3CD21BF744F46822191C113445AB6921
      X-Msapi-Userstate:
      - 587b
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=FC8897A8ED6B4B95BD80AEDC5DA5F298&CID=3CD21BF744F46822191C113445AB6921&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/cr?IG=FC8897A8ED6B4B95BD80AEDC5DA5F298&CID=3CD21BF744F46822191C113445AB6921&rd=1&h=h2ZyAgxAOdpUnjsDIODg8u95MGU74c47mEUoW61mXtA&v=1&r=https%3a%2f%2fwww.bing.com%2fimages%2fsearch%3fq%3dwhitehouse%2520dog%26FORM%3dOIIARP&p=DevEx,5111.1",
        "totalEstimatedMatches": 125, "value": [{"name": "(right) now shares the White
        House lawn with the Obamas'' older dog ...", "webSearchUrl": "https:\/\/www.bing.com\/cr?IG=FC8897A8ED6B4B95BD80AEDC5DA5F298&CID=3CD21BF744F46822191C113445AB6921&rd=1&h=w6X1tJx0xSuVe0xoJ1-crId4CKJLo4g38mox6lwFb00&v=1&r=https%3a%2f%2fwww.bing.com%2fimages%2fsearch%3fview%3ddetailv2%26FORM%3dOIIRPO%26q%3dwhitehouse%2bdog%26id%3dA10DD0FE9963DE83DF64B613AF707F4E87DAE613%26simid%3d608033947574010347&p=DevEx,5006.1",
        "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.1JSgJ2MFfrx3jLxOq-MUcQEsEs&pid=Api",
        "datePublished": "2013-08-25T06:00:00", "contentUrl": "http:\/\/www.bing.com\/cr?IG=FC8897A8ED6B4B95BD80AEDC5DA5F298&CID=3CD21BF744F46822191C113445AB6921&rd=1&h=mJqdPNHhvg-HoNMQXDnoioG4ROonup6lDDomQbsxZFM&v=1&r=http%3a%2f%2fassets.nydailynews.com%2fpolopoly_fs%2f1.1432974.1377116615!%2fimg%2fhttpImage%2fimage.jpg_gen%2fderivatives%2farticle_970%2fsunny25f-11-web.jpg&p=DevEx,5008.1",
        "hostPageUrl": "http:\/\/www.bing.com\/cr?IG=FC8897A8ED6B4B95BD80AEDC5DA5F298&CID=3CD21BF744F46822191C113445AB6921&rd=1&h=qRHdpOkcdNwxf0fSB9cY1ffHktm7QFs_i1t7Z4-Nhho&v=1&r=http%3a%2f%2fwww.nydailynews.com%2flife-style%2fdog-life-pooches-named-sunny-article-1.1432987&p=DevEx,5007.1",
        "contentSize": "185318 B", "encodingFormat": "jpeg", "hostPageDisplayUrl":
        "www.nydailynews.com\/life-style\/dog-life-pooches-named-sunny-article...",
        "width": 970, "height": 970, "thumbnail": {"width": 300, "height": 300}, "imageInsightsToken":
        "ccid_1JSgJ2MF*mid_A10DD0FE9963DE83DF64B613AF707F4E87DAE613*simid_608033947574010347",
        "insightsSourcesSummary": {"shoppingSourcesCount": 0, "recipeSourcesCount":
        0}, "imageId": "A10DD0FE9963DE83DF64B613AF707F4E87DAE613", "accentColor":
        "7F9833"}, {"name": "30 Cozy and Creative Dog Houses for Your Furry Friends
        - Creative ...", "webSearchUrl": "https:\/\/www.bing.com\/cr?IG=FC8897A8ED6B4B95BD80AEDC5DA5F298&CID=3CD21BF744F46822191C113445AB6921&rd=1&h=NxyZuVpxlj17SDWAFEyFbi4I1FhTKTd6Byhk3sFyiHw&v=1&r=https%3a%2f%2fwww.bing.com%2fimages%2fsearch%3fview%3ddetailv2%26FORM%3dOIIRPO%26q%3dwhitehouse%2bdog%26id%3d76A820B1AFC00FAC60578D9CD7559DC83572B4A2%26simid%3d608049963491984401&p=DevEx,5012.1",
        "thumbnailUr[...]
