---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=20&q=osha%20guidelines&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A1E4A3B54EB64575805940E58986437A
      X-Msedge-Clientid:
      - 1C84CFC9B896634C22D5C550B901624C
      X-Msapi-Userstate:
      - 3d49
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=2402BAB69DF04F2CA1269969F0ED6169&CID=1C84CFC9B896634C22D5C550B901624C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=2402BAB69DF04F2CA1269969F0ED6169&CID=1C84CFC9B896634C22D5C550B901624C&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=osha+guidelines",
        "webSearchUrlPingSuffix": "DevEx,5258.1", "totalEstimatedMatches": 153000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "OSHA Guidelines for Medical Offices | Chron.com", "url": "http:\/\/smallbusiness.chron.com\/osha-guidelines-medical-offices-11691.html",
        "urlPingSuffix": "DevEx,5055.1", "displayUrl": "smallbusiness.chron.com\/osha-guidelines-medical-offices-11691.html",
        "snippet": "OSHA guidelines for medical offices include providing information
        to employees on chemical hazards. doctor office and nurse image by Jaimie
        Duplass from Fotolia.com", "dateLastCrawled": "2017-06-02T11:32:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Occupational
        Safety & Health (CONN-OSHA) - State of ...", "url": "http:\/\/www.ctdol.state.ct.us\/osha\/osha.htm",
        "urlPingSuffix": "DevEx,5067.1", "displayUrl": "www.ctdol.state.ct.us\/osha\/osha.htm",
        "snippet": "This Division enforces state occupational safety and health regulations
        as they apply to state and municipal employees.", "dateLastCrawled": "2[...]
