---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=20&q=agncy%20(site:nasa.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B17BD559784049A0B0FF3C03A117D37F
      X-Msedge-Clientid:
      - 03E1CCF59DD8673B330DC6369C4F6605
      X-Msapi-Userstate:
      - 2cbe
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DE4820A4C7C7462D84BE2906A9464314&CID=03E1CCF59DD8673B330DC6369C4F6605&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DE4820A4C7C7462D84BE2906A9464314&CID=03E1CCF59DD8673B330DC6369C4F6605&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=agncy%20(site:nasa.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5121.1", "totalEstimatedMatches": 104, "nextOffset":
        31, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=66CB4CF04716E275F65CA056BDB9D6234F67D39A&simid=607996237758071082",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "... lenticular galaxy.
        Image Credit: European Space Agency\/NASA Hubble", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.p6mStGnAyjczQPy2as626QEsDh&pid=Api",
        "datePublished": "2013-06-04T04:00:00.0000000Z", "contentUrl": "http:\/\/www.nasa.gov\/images\/content\/753133main_752715main_potw1321a-946.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/nasa.gov\/multimedia\/imagegallery\/image_feature_2523.html",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "294010 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "nasa.gov\/multimedia\/imagegallery\/image_feature_2523.html",
        "width": 946, "height": 710, "thumbnail": {"width": 300, "height": 225}, "imageInsightsToken":
        "ccid_p6mStGnA*mid_66CB4CF04716E275F65CA056BDB9D6234F67D39A*simid_607996237758071082",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "66CB4CF04716E275F65CA056BDB9D6234F67D39A", "accentColor": "4A5C66"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=55692E4F2CC0087F11F7043529ADCAAAF81A9136&simid=607990568404779874",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "European Space Agency astronaut
        Alexander Gerst | NASA", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.PUN9-0fBucDacAnHD2rtxAEsDH&pid=Api",
        "datePublished": "2017-05-18T05:45:00.0000000Z", "contentUrl": "http:\/\/www[...]
