---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=20&q=agncy%20(site:nasa.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A15710374D3D48EE8B69B95B1F0FE9E4
      X-Msedge-Clientid:
      - 2B5B7B1411A86CBE0A1E701D103F6DB5
      X-Msapi-Userstate:
      - f0ac
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=44729BE233344C63ABFF8224C3B4F905&CID=2B5B7B1411A86CBE0A1E701D103F6DB5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=44729BE233344C63ABFF8224C3B4F905&CID=2B5B7B1411A86CBE0A1E701D103F6DB5&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=agncy%20(site:nasa.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5122.1", "totalEstimatedMatches": 105, "nextOffset":
        30, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=4CABA2FE36DCD2DCD4E5140FB29493DC33555C18&simid=608041184721568419",
        "webSearchUrlPingSuffix": "DevEx,5023.1", "name": "NASA - Why Go Back to the
        Moon?", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP._H1DeOV1bQ67LnYniK3QDQEsCo&pid=Api",
        "datePublished": "2012-05-14T20:29:00.0000000Z", "contentUrl": "https:\/\/www.nasa.gov\/centers\/goddard\/images\/content\/208291main_lunar_outpost.jpg",
        "contentUrlPingSuffix": "DevEx,5025.1", "hostPageUrl": "https:\/\/www.nasa.gov\/centers\/goddard\/news\/series\/moon\/why_go_back.html",
        "hostPageUrlPingSuffix": "DevEx,5024.1", "contentSize": "787978 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.nasa.gov\/centers\/goddard\/news\/series\/moon\/why_go_back.html",
        "width": 3000, "height": 1687, "thumbnail": {"width": 300, "height": 168},
        "imageInsightsToken": "ccid_\/H1DeOV1*mid_4CABA2FE36DCD2DCD4E5140FB29493DC33555C18*simid_608041184721568419",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "4CABA2FE36DCD2DCD4E5140FB29493DC33555C18", "accentColor": "B28619"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=EAADAF5390AE7CE7BE3EFE43F7B73D00B7FF92CE&simid=607990280784120025",
        "webSearchUrlPingSuffix": "DevEx,5029.1", "name": "Atlantis Meets Mir | NASA",
        "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.7QDnv_BD4s2k4kZ3yFuQHwEsDw&pid=Api",
        "datePublished": "2017-08-31T05:42:00.0000000Z", "contentUrl": "http:\/\/www.nasa.gov\/sites\/default\/fi[...]
