---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=20&q=osha%20guidelines&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E8C85845683649299DC6BEFACE5113D9
      X-Msedge-Clientid:
      - 2119A72CF15E6127035FAB7BF05160E7
      X-Msapi-Userstate:
      - 9cad
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=29764E2DA01447B98852A761CB00C5EE&CID=2119A72CF15E6127035FAB7BF05160E7&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=29764E2DA01447B98852A761CB00C5EE&CID=2119A72CF15E6127035FAB7BF05160E7&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=osha+guidelines",
        "webSearchUrlPingSuffix": "DevEx,5239.1", "totalEstimatedMatches": 380000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Training requiremenTs in OsHa sTandards and Training ...", "url": "http:\/\/www.worksafemt.com\/media\/Training_Requirements_in_OSHA_Standards.pdf",
        "urlPingSuffix": "DevEx,5053.1", "displayUrl": "www.worksafemt.com\/media\/Training_Requirements_in_OSHA_Standards.pdf",
        "snippet": "www.worksafemt.com Training requiremenTs in OsHa sTandards and
        Training guidelines Below is a helpful spreadsheet for determining OSHA safety
        training requirements.", "dateLastCrawled": "2018-08-20T10:40:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "OSHA Requirements
        - Welcome to NYC.gov", "url": "https:\/\/www1.nyc.gov\/site\/buildings\/safety\/osha-requirements.page",
        "urlPingSuffix": "DevEx,5065.1", "displayUrl": "https:\/\/www1.nyc.gov\/site\/buildings\/safety\/osha-requirements.page",
        "snippet": "OSHA Requirements . You have the right to a safe workplace. The
        Occupational Safety and Health Act of[...]
