---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=20&q=osha%20guidelines&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 650E705DC3DC4074A54B9A10D3818823
      X-Msedge-Clientid:
      - 2ACB3076F99368C825A03AC9F80469FB
      X-Msapi-Userstate:
      - eadb
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F4885D19C9AB4F84B4F4D6DD1B287F76&CID=2ACB3076F99368C825A03AC9F80469FB&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F4885D19C9AB4F84B4F4D6DD1B287F76&CID=2ACB3076F99368C825A03AC9F80469FB&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=osha+guidelines",
        "webSearchUrlPingSuffix": "DevEx,5281.1", "totalEstimatedMatches": 522000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Osha Safety Manual - Be ready when OSHA visits your Business", "url": "https:\/\/www.oshasafetymanual.com\/",
        "urlPingSuffix": "DevEx,5056.1", "displayUrl": "https:\/\/www.oshasafetymanual.com",
        "snippet": "Download your custom OSHA Safety Manual today! Customized to the
        needs that your company needs and available immediately. Manuals are development
        by an", "dateLastCrawled": "2017-07-07T23:45:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Training requiremenTs in OsHa sTandards and Training ...", "url":
        "http:\/\/www.worksafemt.com\/media\/Training_Requirements_in_OSHA_Standards.pdf",
        "urlPingSuffix": "DevEx,5068.1", "displayUrl": "www.worksafemt.com\/media\/Training_Requirements_in_OSHA_Standards.pdf",
        "snippet": "www.worksafemt.com Training requiremenTs in OsHa sTandards and
        Training guid[...]
