---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?count=10&mkt=en-US&offset=20&q=consumer%20financial%20protection%20bureau&responseFilter=WebPages,SpellSuggestions&safeSearch=Moderate&textDecorations=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 72ABA07A275843DE8640349A72F50BCD
      X-Msedge-Clientid:
      - 270D0AD39E1063C3271F004A9F166261
      X-Msapi-Userstate:
      - 457f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/cr?IG=ABBD2E87C4E9416A8C1183A91D37A77A&CID=270D0AD39E1063C3271F004A9F166261&rd=1&h=TvLW1nIkoMQB2bM4hV15ITlYFwQc3g7tF3tCWUQk-oc&v=1&r=https%3a%2f%2fwww.bing.com%2fsearch%3fq%3dconsumer%2bfinancial%2bprotection%2bbureau&p=DevEx,5278.1",
        "totalEstimatedMatches": 2470000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.0",
        "name": "Is the Consumer Financial Protection Bureau constitutional ...",
        "url": "https:\/\/www.bing.com\/cr?IG=ABBD2E87C4E9416A8C1183A91D37A77A&CID=270D0AD39E1063C3271F004A9F166261&rd=1&h=OD0GWrc9CkT9mo1YO13FE1CdGhtFLJHoCV7MFC5ZDM0&v=1&r=https%3a%2f%2fwww.washingtonpost.com%2fnews%2fmonkey-cage%2fwp%2f2016%2f10%2f19%2fis-the-consumer-financial-protection-bureau-constitutional-the-d-c-circuit-says-no-heres-why%2f&p=DevEx,5055.1",
        "displayUrl": "https:\/\/www.washingtonpost.com\/news\/monkey-cage\/wp\/2016\/10\/19\/is...",
        "snippet": "The Consumer Financial Protection Bureau (CFPB) was created in
        2010 by the Dodd-Frank Act to help reform Wall Street practices. But last
        week the D.C. Circuit Court ...", "dateLastCrawled": "2017-05-29T12:57:00"},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.1", "name":
        "Consumer Protection Bureau Chief Braces for a Reckoning ...", "url": "https:\/\/www.bing.com\/cr?IG=ABBD2E87C4E9416A8C1183A91D37A77A&CID=270D0AD39E1063C3271F004A9F166261&rd=1&h=0bgYUtu3dLQItmXajkkqc3myf0-JI0Aj9uzNvGECP3Y&v=1&r=https%3a%2f%2fwww.nytimes.com%2f2016%2f11%2f24%2fbusiness%2fconsumer-protection-bureau-chief-braces-for-a-reckoning.html&p=DevEx,5069.1",
        "displa[...]
