---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=20&q=osha%20guidelines&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1375EA55822845E98F13F0DDDD9BBE9C
      X-Msedge-Clientid:
      - 0AA67CB31C27602F372476891DB06162
      X-Msapi-Userstate:
      - b376
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=32068356F5044525BB55596957CD2C91&CID=0AA67CB31C27602F372476891DB06162&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=32068356F5044525BB55596957CD2C91&CID=0AA67CB31C27602F372476891DB06162&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=osha+guidelines",
        "webSearchUrlPingSuffix": "DevEx,5262.1", "totalEstimatedMatches": 18700000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "OSHA training requirements | Construction", "url": "http:\/\/www.oshatraining.com\/osha-construction-industry-training-requirements.php",
        "urlPingSuffix": "DevEx,5054.1", "displayUrl": "www.oshatraining.com\/osha-construction-industry-training...",
        "snippet": "OSHA Construction Industry Training Requirements. Many standards
        promulgated by the Occupational Safety and Health Administration (OSHA) explicitly
        require the ...", "dateLastCrawled": "2017-02-24T14:10:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "OSHA Safety Signs
        Guide | Graphic Products", "url": "https:\/\/www.graphicproducts.com\/guides\/osha-safety-signs-guide\/",
        "urlPingSuffix": "DevEx,5068.1", "displayUrl": "https:\/\/www.graphicproducts.com\/guides\/osha-safety-signs-guide",
        "snippet": "Meet OSHA safety sign and label requirements by referencing national
        standards and real examples found in[...]
