---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=20&q=osha%20guidelines&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C5AD67DE42B041CDB4F66EFB560F6827
      X-Msedge-Clientid:
      - 398FA7A8B31B626C0379AD9EB28C63D0
      X-Msapi-Userstate:
      - c47a
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=30A2B9FA5DBF44258505947D09E442B1&CID=398FA7A8B31B626C0379AD9EB28C63D0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=30A2B9FA5DBF44258505947D09E442B1&CID=398FA7A8B31B626C0379AD9EB28C63D0&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=osha%20guidelines&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5103.1", "totalEstimatedMatches": 137, "nextOffset":
        30, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=osha+guidelines&id=5D67BA169103994E45F84E0EA7C4F6FE04770524&simid=608033685338000365",
        "webSearchUrlPingSuffix": "DevEx,5006.1", "name": "OSHA Revised Recordkeeping
        Requirements", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.G8nbVukoY-vXAP-QQEghdgEsDv&pid=Api",
        "datePublished": "2014-11-20T01:03:00.0000000Z", "contentUrl": "http:\/\/peopletopayroll.com\/media\/14119\/osha.jpg",
        "contentUrlPingSuffix": "DevEx,5008.1", "hostPageUrl": "http:\/\/peopletopayroll.com\/news\/2014\/osha-revised-recordkeeping-requirements\/",
        "hostPageUrlPingSuffix": "DevEx,5007.1", "contentSize": "27040 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "peopletopayroll.com\/news\/2014\/osha-revised-recordkeeping-requirements",
        "width": 311, "height": 248, "thumbnail": {"width": 300, "height": 239}, "imageInsightsToken":
        "ccid_G8nbVuko*mid_5D67BA169103994E45F84E0EA7C4F6FE04770524*simid_608033685338000365",
        "imageId": "5D67BA169103994E45F84E0EA7C4F6FE04770524", "accentColor": "C89803"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=osha+guidelines&id=FC434AC86AF52817BDBB1D967CE36DFA7574E597&simid=608013958550523051",
        "webSearchUrlPingSuffix": "DevEx,5012.1", "name": "OSHA Guidelines | ALICE
        Training Institute", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.M3ffc5da591790a882630cf4df524ff9bo0&pid=Api",
        "datePublished": "2015-08-26T20:25:00.0000000Z", "contentUrl": "https:\/\/www.alicetraining.com\/wp-content\/uploads\/2013\/12\/OSHA-Graphic-2.png",
        "contentUrlPingSuffix": "DevEx,5014.1", "hostPageUrl": "https:\/\/www.alicetraining.com\/osha-guidelines\/",
        "hostPageUrlPingSuffix": "DevEx,5013.1", "contentSize": "169160 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "https:\/\/www.alicetraining.com\/osha-guidelines",
        "width": 766, "height": 313, "thumbnail": {"width": 300, "height": 122}, "imageInsightsToken":
        "ccid_P\/xdpZF5*mid_FC434AC86AF52817BDBB1D967CE36DFA7574E597*simid_608013958550523051",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "FC434AC86AF52817BDBB1D967CE36DFA7574E597", "accentColor": "0982C1"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=osha+guidelines&id=FD6DA501FBDBBE96163FE29B09D7DEF44DD6B98C&simid=608047137166723329",
        "webSearchUrlPingSuffix": "DevEx,5018.1", "name": "OSHA PPE STANDARDS", "thumbnailUrl":
        "https:\/\/tse2.mm.bing.net\/th?id=OIP.TTtCkLPvMSXQgNm2iOYRxwDnEs&pid=Api",
        "datePublished": "2016-12-10T09:22:00.[...]
