---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=20&q=osha%20guidelines&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1806A93E194F42048276341B2A2D5BF0
      X-Msedge-Clientid:
      - 1DBB46F79EAF607F00584DB09F386153
      X-Msapi-Userstate:
      - f0a6
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=98C24C3862BF4454ABFBD2D1FA645437&CID=1DBB46F79EAF607F00584DB09F386153&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=98C24C3862BF4454ABFBD2D1FA645437&CID=1DBB46F79EAF607F00584DB09F386153&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=osha+guidelines",
        "webSearchUrlPingSuffix": "DevEx,5299.1", "totalEstimatedMatches": 353000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Training requiremenTs in OsHa sTandards and Training ...", "url": "http:\/\/www.worksafemt.com\/media\/Training_Requirements_in_OSHA_Standards.pdf",
        "urlPingSuffix": "DevEx,5064.1", "displayUrl": "www.worksafemt.com\/media\/Training_Requirements_in_OSHA_Standards.pdf",
        "snippet": "www.worksafemt.com Training requiremenTs in OsHa sTandards and
        Training guidelines Below is a helpful spreadsheet for determining OSHA safety
        training requirements.", "dateLastCrawled": "2017-11-21T23:45:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "OSHA Recordkeeping
        Requirements - Grainger Safety Record", "url": "https:\/\/safety.grainger.com\/people\/osha-recordkeeping-requirements",
        "urlPingSuffix": "DevEx,5079.1", "displayUrl": "https:\/\/safety.grainger.com\/people\/osha-recordkeeping-requirements",
        "snippet": "Understand how OSHA''s extensive recordkeeping and reporting rules
        affect your busine[...]
