---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=20&q=osha%20guidelines&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A3FDA72B007B4AF190A2326C7F3FCB0E
      X-Msedge-Clientid:
      - 22137295DB566799211678AFDAC166CB
      X-Msapi-Userstate:
      - '1939'
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=39C92ADF0BF84E918910DE13A6F9612E&CID=22137295DB566799211678AFDAC166CB&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=39C92ADF0BF84E918910DE13A6F9612E&CID=22137295DB566799211678AFDAC166CB&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=osha%20guidelines&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5119.1", "totalEstimatedMatches": 127, "nextOffset":
        30, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=osha+guidelines&id=FD6DA501FBDBBE96163F8FB47BD7552A42E55D6B&simid=608043847233700993",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "OSHA PPE STANDARDS", "thumbnailUrl":
        "https:\/\/tse3.mm.bing.net\/th?id=OIP.1mZDTxRb8DGKQmu7rrXohwDnEs&pid=Api",
        "datePublished": "2016-12-10T09:22:00.0000000Z", "contentUrl": "http:\/\/image.slidesharecdn.com\/osha3151-131223014036-phpapp01\/95\/osha-ppe-standards-2-638.jpg?cb=1387763875",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/www.slideshare.net\/waqasakmm\/osha3151",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "67428 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.slideshare.net\/waqasakmm\/osha3151", "width":
        638, "height": 826, "thumbnail": {"width": 231, "height": 300}, "imageInsightsToken":
        "ccid_1mZDTxRb*mid_FD6DA501FBDBBE96163F8FB47BD7552A42E55D6B*simid_608043847233700993",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "FD6DA501FBDBBE96163F8FB47BD7552A42E55D6B", "accentColor": "242122"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=osha+guidelines&id=8E44B77F738A456993BB67150626CA4670B0C0AB&simid=608032800572246068",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "Comply with OSHA Regulations",
        "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.M46cdb54fee974ff40101531c4dc2094fo0&pid=Api",
        "datePublished": "2016-12-12T15:25:00.0000000Z", "contentUrl": "http:\/\/kmrdpartners.com\/wp-content[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=20&q=agncy%20(site:nasa.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F974EAAC07C64227AD181C9[...]
