---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=20&q=osha%20guidelines&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 11EB1501C03A4C7EAB9D9D7C2841A521
      X-Msedge-Clientid:
      - 365F5EC029C9686825CC554628666935
      X-Msapi-Userstate:
      - 19f4
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=EE638C7C46694B24ABFC998645AFB650&CID=365F5EC029C9686825CC554628666935&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=EE638C7C46694B24ABFC998645AFB650&CID=365F5EC029C9686825CC554628666935&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=osha+guidelines",
        "webSearchUrlPingSuffix": "DevEx,5297.1", "totalEstimatedMatches": 412000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "OSHA Guidelines for Safety | Chron.com", "url": "http:\/\/smallbusiness.chron.com\/osha-guidelines-safety-2638.html",
        "urlPingSuffix": "DevEx,5067.1", "about": [{"name": "Occupational Safety and
        Health Administration"}], "displayUrl": "smallbusiness.chron.com\/osha-guidelines-safety-2638.html",
        "snippet": "OSHA, the federal office of Occupational Health and Safety Administration,
        is responsible for ensuring that employees in the United States are working
        under healthy ...", "dateLastCrawled": "2018-01-19T16:15:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Occupational
        Safety & Health (CONN-OSHA) - State of ...", "url": "http:\/\/www.ctdol.state.ct.us\/osha\/osha.htm",
        "urlPingSuffix": "DevEx,5080.1", "displayUrl": "www.ctdol.state.ct.us\/osha\/osha.htm",
        "snippet": "For general information about CONN-OSHA laws and regulations,
        please call: (860) 263-6900", "dateLastCrawled": "2018-01-22T10:33:00.0000000Z"},[...]
