---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/images/search?count=10&mkt=en-US&offset=20&q=whitehouse%20dog&safeSearch=Moderate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - CB08B948675D47908BE48DE5E74F381B
      X-Msedge-Clientid:
      - 082AA187136B6FA62E43ABE512FB6EDC
      X-Msapi-Userstate:
      - b039
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=21816DEA257941FAB9C4649CAFA7E09F&CID=082AA187136B6FA62E43ABE512FB6EDC&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/cr?IG=21816DEA257941FAB9C4649CAFA7E09F&CID=082AA187136B6FA62E43ABE512FB6EDC&rd=1&h=h2ZyAgxAOdpUnjsDIODg8u95MGU74c47mEUoW61mXtA&v=1&r=https%3a%2f%2fwww.bing.com%2fimages%2fsearch%3fq%3dwhitehouse%2520dog%26FORM%3dOIIARP&p=DevEx,5109.1",
        "totalEstimatedMatches": 128, "value": [{"name": "The White House Debuts The
        Obamas'' New Dog Bo, A Portuguese Water Dog", "webSearchUrl": "https:\/\/www.bing.com\/cr?IG=21816DEA257941FAB9C4649CAFA7E09F&CID=082AA187136B6FA62E43ABE512FB6EDC&rd=1&h=etRW3TN_M_dz_X1naUi6A6xTlvpT64EjGJXeKyvR05A&v=1&r=https%3a%2f%2fwww.bing.com%2fimages%2fsearch%3fview%3ddetailv2%26FORM%3dOIIRPO%26q%3dwhitehouse%2bdog%26id%3d8E5DC4E2B1DAE5DB2E9A8C34E67F06594D05B290%26simid%3d608056113704995702&p=DevEx,5006.1",
        "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.giqkhCXheNuTkkh3L50O_gEsC_&pid=Api",
        "datePublished": "2017-03-04T01:09:00", "contentUrl": "http:\/\/www.bing.com\/cr?IG=21816DEA257941FAB9C4649CAFA7E09F&CID=082AA187136B6FA62E43ABE512FB6EDC&rd=1&h=ICsS5Tte0CprciESJbnLZk4hJXbyGYLEuoRq1wX6VL4&v=1&r=http%3a%2f%2fwww1.pictures.gi.zimbio.com%2fWhite%2bHouse%2bDebuts%2bObamas%2bNew%2bDog%2bBo%2bPortuguese%2bEkSY8b68HV9l.jpg&p=DevEx,5008.1",
        "hostPageUrl": "http:\/\/www.bing.com\/cr?IG=21816DEA257941FAB9C4649CAFA7E09F&CID=082AA187136B6FA62E43ABE512FB6EDC&rd=1&h=gvOmlh6_VJseAKwE3WkjJETKsEKThiwsIKblrBhWyMg&v=1&r=http%3a%2f%2fwww.zimbio.com%2fBo%2bObama%2farticles%2f5%2fPrez%2bSays%2bBo%2bObama%2bStar%2bQuality&p=DevEx,5007.1",
        "contentSize": "74528 B", "encodingFormat": "jpeg", "hostPageDisplayUrl":
        "www.zimbio.com\/Bo+Obama\/articles\/5\/Prez+Says+Bo+Obama+Star+Quality",
        "width": 594, "height": 380, "thumbnail": {"width": 300, "height": 191}, "imageInsightsToken":
        "ccid_giqkhCXh*mid_8E5DC4E2B1DAE5DB2E9A8C34E67F06594D05B290*simid_608056113704995702",
        "insightsSourcesSummary": {"shoppingSourcesCount": 0, "recipeSourcesCount":
        0}, "imageId": "8E5DC4E2B1DAE5DB2E9A8C34E67F06594D05B290", "accentColor":
        "076AC4"}, {"name": "... White House May 12, 2009. Official White House Photo
        by Pete Souza", "webSearchUrl": "https:\/\/www.bing.com\/cr?IG=21816DEA257941FAB9C4649CAFA7E09F&CID=082AA187136B6FA62E43ABE512FB6EDC&rd=1&h=Y-odPwb1MALcVlWQsTfT8ypz7J5XwlckWp99fqqVwQQ&v=1&r=https%3a%2f%2fwww.bing.com%2fimages%2fsearch%3fview%3ddetailv2%26FORM%3dOIIRPO%26q%3dwhitehouse%2bdog%26id%3d00FEE7BA83B742B7D306991D6A2269F6203151BE%26simid%3d608035403368958159&p=DevEx,5012.1",
        "thumbnailU[...]
