---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=20&q=osha%20guidelines&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - FED2001FDEE14EF9BEE9D88B42524AA6
      X-Msedge-Clientid:
      - 2A3FBA68997A668C096FB1F6989F671F
      X-Msapi-Userstate:
      - d526
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8E1822D61301459E9FD6DBB57170D89F&CID=2A3FBA68997A668C096FB1F6989F671F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8E1822D61301459E9FD6DBB57170D89F&CID=2A3FBA68997A668C096FB1F6989F671F&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=osha+guidelines",
        "webSearchUrlPingSuffix": "DevEx,5290.1", "totalEstimatedMatches": 180000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "OSHA requirements for reporting and recording occupational ...", "url": "https:\/\/www.bwc.ohio.gov\/downloads\/blankpdf\/SafetyTalk-OSHAReportingRequirements.pdf",
        "urlPingSuffix": "DevEx,5064.1", "displayUrl": "https:\/\/www.bwc.ohio.gov\/...\/SafetyTalk-OSHAReportingRequirements.pdf",
        "snippet": "BWC’s Division of Safety & Hygiene Safety Talk OSHA requirements
        for reporting and recording occupational injuries and illnesses", "dateLastCrawled":
        "2018-02-12T13:50:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "State of Oregon: Oregon OSHA - Home", "url": "http:\/\/osha.oregon.gov\/Pages\/index.aspx",
        "urlPingSuffix": "DevEx,5077.1", "displayUrl": "osha.oregon.gov\/Pages\/index.aspx",
        "snippet": "Mission: To advance and improve workplace safety and health for
        all workers in Oregon", "dateLastCrawled": "2018-02-14T23:50:00.0000000Z"},
        {"id": "https:\/\/www[...]
