---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?count=10&mkt=en-US&offset=20&q=consumer%20financial%20protection%20bureau&responseFilter=WebPages,SpellSuggestions&safeSearch=Moderate&textDecorations=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 616144BEDB804ECF83A35CCD6CEB971B
      X-Msedge-Clientid:
      - 3A59AF71B4C560E10D14A5B2B59A61FE
      X-Msapi-Userstate:
      - c6ab
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/cr?IG=523BF293E95244E7A94B7B0E26B87939&CID=3A59AF71B4C560E10D14A5B2B59A61FE&rd=1&h=TvLW1nIkoMQB2bM4hV15ITlYFwQc3g7tF3tCWUQk-oc&v=1&r=https%3a%2f%2fwww.bing.com%2fsearch%3fq%3dconsumer%2bfinancial%2bprotection%2bbureau&p=DevEx,5274.1",
        "totalEstimatedMatches": 16700000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.0",
        "name": "Mr. Trump Goes After Consumer Financial Protection Bureau ...", "url":
        "https:\/\/www.bing.com\/cr?IG=523BF293E95244E7A94B7B0E26B87939&CID=3A59AF71B4C560E10D14A5B2B59A61FE&rd=1&h=k6ch4zxgAqtCIaAGZtE4qgUYqMNqQOGBn_zDblo6ihk&v=1&r=https%3a%2f%2fwww.nytimes.com%2f2017%2f03%2f22%2fopinion%2fmr-trump-goes-after-consumer-financial-protection-bureau.html&p=DevEx,5056.1",
        "displayUrl": "https:\/\/www.nytimes.com\/2017\/03\/22\/opinion\/mr-trump-goes-after...",
        "snippet": "Richard Cordray of the Consumer Financial Protection Bureau testifying
        on Capitol Hill last year. Credit Alex Wong\/Getty Images . None of those
        criteria ...", "dateLastCrawled": "2017-07-14T12:44:00"}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.1",
        "name": "Is the Consumer Financial Protection Bureau constitutional ...",
        "url": "https:\/\/www.bing.com\/cr?IG=523BF293E95244E7A94B7B0E26B87939&CID=3A59AF71B4C560E10D14A5B2B59A61FE&rd=1&h=OD0GWrc9CkT9mo1YO13FE1CdGhtFLJHoCV7MFC5ZDM0&v=1&r=https%3a%2f%2fwww.washingtonpost.com%2fnews%2fmonkey-cage%2fwp%2f2016%2f10%2f19%2fis-the-consumer-financial-protection-bureau-constitutional-the-d-c-c[...]
