---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=20&q=agncy%20(site:nasa.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0BED869927BC44069FBF7B32FDF0FAAB
      X-Msedge-Clientid:
      - 1F1B41E0709C609E14724DC1714B6141
      X-Msapi-Userstate:
      - 04cf
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8972D7E00B4A4A2F8C0119495569E6A5&CID=1F1B41E0709C609E14724DC1714B6141&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8972D7E00B4A4A2F8C0119495569E6A5&CID=1F1B41E0709C609E14724DC1714B6141&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=agncy%20(site:nasa.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5126.1", "totalEstimatedMatches": 112, "nextOffset":
        32, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=5323DD4C8A973FF8891EF39CC31F12A75CAA9BDC&simid=608024005496998736",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "STS-112 Spacewalk | NASA",
        "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.EsGJPmTsC9VQmgINTTvSBwHaHa&pid=Api",
        "datePublished": "2016-04-08T16:08:00.0000000Z", "contentUrl": "http:\/\/www.nasa.gov\/sites\/default\/files\/sts112-709-073k.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "https:\/\/www.nasa.gov\/centers\/marshall\/history\/launch_of_sts-112.html",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "6125356 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.nasa.gov\/centers\/marshall\/history\/launch_of_sts-112.html",
        "width": 5723, "height": 5723, "thumbnail": {"width": 474, "height": 474},
        "imageInsightsToken": "ccid_EsGJPmTs*mid_5323DD4C8A973FF8891EF39CC31F12A75CAA9BDC*simid_608024005496998736",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "5323DD4C8A973FF8891EF39CC31F12A75CAA9BDC", "accentColor": "2E4673"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=9ECEA93DE987DA14237D0DA341FDF05BE138D2F4&simid=608033978413025727",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "2016 Agency Honor Awards
        | NASA", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.YJmEL9qiP7yqMmD3PFKFRQHaDt&pid=Api",
        "datePublished": "2018-01-28T00:29:00.0000000Z", "contentUrl": "http:\/\/www.nasa.gov\/sites\/defau[...]
