---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?count=10&mkt=en-US&offset=20&q=consumer%20financial%20protection%20bureau&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HOSTED_AZURE_V5_ACCOUNT_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Market:
      - en-US
      Bingapis-Traceid:
      - BD49EDD64F284A9B98D79EAD1AB5CC99
      Bingapis-Sessionid:
      - 1B9EC4D1D6FB45E795EFEDECB1736F39
      X-Msapi-Userstate:
      - 74fa
      X-Msedge-Clientid:
      - 162EF3B59525686124B4FFE294D869FC
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "consumer
        financial protection bureau"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/cr?IG=AD3CCC01CDFF49DFABB55621DC40FE49&CID=162EF3B59525686124B4FFE294D869FC&rd=1&h=TvLW1nIkoMQB2bM4hV15ITlYFwQc3g7tF3tCWUQk-oc&v=1&r=https%3a%2f%2fwww.bing.com%2fsearch%3fq%3dconsumer%2bfinancial%2bprotection%2bbureau&p=DevEx.LB.1,5425.1",
        "totalEstimatedMatches": 10700000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "CFPB Open Tech – Home", "url": "https:\/\/www.bing.com\/cr?IG=AD3CCC01CDFF49DFABB55621DC40FE49&CID=162EF3B59525686124B4FFE294D869FC&rd=1&h=sR5BjFugPkYkWvogGJzcTWXC2VRQrzZWbk6pmNQ4Fn0&v=1&r=https%3a%2f%2fcfpb.github.io%2f&p=DevEx.LB.1,5236.1",
        "displayUrl": "https:\/\/cfpb.github.io", "snippet": "Learn about the technology
        work the Consumer Financial Protection Bureau undertakes to support its mission.",
        "dateLastCrawled": "2018-08-19T00:41:00"}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Trump taps Kathy Kraninger to take over consumer ...", "url": "https:\/\/www.bing.com\/cr?IG=AD3CCC01CDFF49DFABB55621DC40FE49&CID=162EF3B59525686124B4FFE294D869FC&rd=1&h=uFV_QTdpptdtUKmBpFCQJ5wK52cQ0ec91DdlBGp4O5o&v=1&r=https%3a%2f%2fwww.cbsnews.com%2fnews%2fkathy-kraninger-nominated-today-bureau-of-consumer-financial-protection-mick-mulvaney-2018-06-16%2f&p=DevEx.LB.1,5249.1",
        "displayUrl": "https:\/\/www.cbsnews.com\/news\/kathy-kraninger-nominated-today...",
        "snippet": "President Trump intends to nominate Kathy Kraninger to replace
        Mick Mulvaney as head of the Bureau of Consumer Financial Protection, the
        White House announced late Saturday.", "dateLastCrawled": "2018-08-19T21:31:00"},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.2", "name":
        "Consumer Financial Protection Bureau’s Tragic Failures ...", "url": "https:\/\/www.bing.com\/cr?IG=AD3CCC01CDFF49DFABB55621DC40FE49&CID=162EF3B59525686124B4FFE294D869FC&rd=1&h=GjyEISnFd1nf1Z76NSQiUnM3JOYn3jB-FabOXWIINzI&v=1&r=https%3a%2f%2fwww.nationalreview.com%2f2016%2f12%2fconsumer-financial-protection-bureau-tragic-failures%2f&p=DevEx.LB.1,5262.1",
        "about": [{"name": "Consumer Financial Protection Bureau"}], "displayUrl":
        "https:\/\/www.nationalreview.com\/2016\/12\/consumer-financial...", "snippet":
        "The Consumer Financial Protection Bureau had noble aims, but it was doomed
        by a structure that made it inherently political.", "dateLastCrawled": "2018-08-21T09:23:00"},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.3", "name":
        "United States Court of Appeals", "url": "https:\/\/www.bing.com[...]
