---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?count=10&mkt=en-US&offset=20&q=consumer%20financial%20protection%20bureau&responseFilter=WebPages,SpellSuggestions&safeSearch=Moderate&textDecorations=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HOSTED_AZURE_V5_ACCOUNT_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4D18DD47A15F4608A1AD33373A247F27
      X-Msedge-Clientid:
      - 33296C1756ED6F8531D166A857EB6E64
      X-Msapi-Userstate:
      - 7a19
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/cr?IG=AC80BB1ABD3A4C3387918D182B33339F&CID=33296C1756ED6F8531D166A857EB6E64&rd=1&h=TvLW1nIkoMQB2bM4hV15ITlYFwQc3g7tF3tCWUQk-oc&v=1&r=https%3a%2f%2fwww.bing.com%2fsearch%3fq%3dconsumer%2bfinancial%2bprotection%2bbureau&p=DevEx,5275.1",
        "totalEstimatedMatches": 17200000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.0",
        "name": "Judges Mull Future of Consumer Financial Protection Bureau", "url":
        "http:\/\/www.bing.com\/cr?IG=AC80BB1ABD3A4C3387918D182B33339F&CID=33296C1756ED6F8531D166A857EB6E64&rd=1&h=jPD5WkL4XhBzajWWCWnjr60KxDheSawyHqwoeAh4lQQ&v=1&r=http%3a%2f%2fwww.consumerreports.org%2fconsumer-financial-protection-bureau%2fbalance-of-power-CFPB%2f&p=DevEx,5054.1",
        "displayUrl": "www.consumerreports.org\/consumer-financial-protection-bureau\/...",
        "snippet": "A federal appeals court heard arguments that could help determine
        the fate of the Consumer Financial Protection Bureau and its director, Richard
        Cordray. Consumer ...", "dateLastCrawled": "2017-07-13T16:04:00"}, {"id":
        "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.1", "name": "Consumer
        Financial Protection Bureau - Debt.org", "url": "https:\/\/www.bing.com\/cr?IG=AC80BB1ABD3A4C3387918D182B33339F&CID=33296C1756ED6F8531D166A857EB6E64&rd=1&h=N9XAuEm0b8rkK7JuDWlUYKUbY4QgyVFoDzl743tLVao&v=1&r=https%3a%2f%2fwww.debt.org%2fcredit%2fyour-consumer-rights%2ffinancial-protection-bureau%2f&p=DevEx,5071.1",
        "displayUrl": "https:\/\/www.debt.org\/...\/fina[...]
