---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=20&q=osha%20guidelines&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9F0FE116805E4314BD868B881D59A86E
      X-Msedge-Clientid:
      - 02E68DE85FC96EB6284287D15E5E6FE5
      X-Msapi-Userstate:
      - '1968'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=3B6DF7F100D5441D861EFCED640E2FD3&CID=02E68DE85FC96EB6284287D15E5E6FE5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=3B6DF7F100D5441D861EFCED640E2FD3&CID=02E68DE85FC96EB6284287D15E5E6FE5&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=osha+guidelines",
        "webSearchUrlPingSuffix": "DevEx,5270.1", "totalEstimatedMatches": 14200000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "State of Oregon: Oregon OSHA - Home", "url": "http:\/\/osha.oregon.gov\/",
        "urlPingSuffix": "DevEx,5054.1", "displayUrl": "osha.oregon.gov", "snippet":
        "Oregon OSHA. Start with an A to Z topic Go to topic index > ... Topics, rules,
        guidelines. A to Z topic index; Rules and laws; Inspections, citations, appeals;",
        "dateLastCrawled": "2017-02-26T14:57:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "OSHA Training Requirements - TrainingToday: Online ...", "url": "http:\/\/trainingtoday.blr.com\/article\/osha-training-requirements\/",
        "urlPingSuffix": "DevEx,5066.1", "displayUrl": "trainingtoday.blr.com\/article\/osha-training-requirements",
        "snippet": "Safety training and enforcement have become an increasingly important
        part of every supervisor''s job in ord[...]
