---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?count=10&mkt=en-US&offset=20&q=consumer%20financial%20protection%20bureau&responseFilter=WebPages,SpellSuggestions&safeSearch=Moderate&textDecorations=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A41422E3FB7A4B65B856CAE079E8BFBF
      X-Msedge-Clientid:
      - 30C732CF2D6968572C8738CF2C5869B1
      X-Msapi-Userstate:
      - e010
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/cr?IG=61862934CB744C44937E347FC83F0905&CID=30C732CF2D6968572C8738CF2C5869B1&rd=1&h=TvLW1nIkoMQB2bM4hV15ITlYFwQc3g7tF3tCWUQk-oc&v=1&r=https%3a%2f%2fwww.bing.com%2fsearch%3fq%3dconsumer%2bfinancial%2bprotection%2bbureau&p=DevEx,5276.1",
        "totalEstimatedMatches": 55200, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.0",
        "name": "Bureau of Consumer Financial Protection - gpo.gov", "url": "https:\/\/www.bing.com\/cr?IG=61862934CB744C44937E347FC83F0905&CID=30C732CF2D6968572C8738CF2C5869B1&rd=1&h=trkxmc-9rdpPv_D5fKhr5fEc59D9I06H9AnmdEh3ckA&v=1&r=https%3a%2f%2fwww.gpo.gov%2ffdsys%2fpkg%2fFR-2016-08-15%2fpdf%2f2016-18426.pdf&p=DevEx,5055.1",
        "displayUrl": "https:\/\/www.gpo.gov\/fdsys\/pkg\/FR-2016-08-15\/pdf\/2016-18426.pdf",
        "snippet": "Vol. 81 Monday, No. 157 August 15, 2016 Part III Bureau of Consumer
        Financial Protection 12 CFR Part 1026 Amendments to Federal Mortgage Disclosure
        Requirements Under ...", "dateLastCrawled": "2016-12-31T21:37:00"}, {"id":
        "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.1", "name": "Consumer
        Financial Protection Bureau :: Law360", "url": "https:\/\/www.bing.com\/cr?IG=61862934CB744C44937E347FC83F0905&CID=30C732CF2D6968572C8738CF2C5869B1&rd=1&h=nRnRgfU5SGM-pgSEDoQEE29n0j-rn9bN_bwYT5lGYxk&v=1&r=https%3a%2f%2fwww.law360.com%2fagencies%2fconsumer-financial-protection-bureau&p=DevEx,5068.1",
        "displayUrl": "https:\/\/www.law360.com\/agencies\/consumer-financial-protection-bureau",
        "snippet": "The latest litigation news, cases and dockets involving the Consumer
        Financial Protection Bureau, the government agency", "dateLastCrawled": "2016-12-27T14:25:00"},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.2", "name":
        "Consumer Financial Protection Bureau - CFPB Definition ...", "url": "http:\/\/www.bing.com\/cr?IG=61862934CB744C44937E347FC83F0905&CID=30C732CF2D6968572C8738CF2C5869B1&rd=1&h=x3JtDBkKbMT_S_pJnJ4erA5Fj7bpAI8mtgIGWqLLBSc&v=1&r=http%3a%2f%2fwww.investopedia.com%2fterms%2fc%2fconsumer-financial-protection-bureau-cfpb.asp&p=DevEx,5082.1",
        "about": [{"name": "Consumer Financial Protection Bureau"}], "displayUrl":
        "www.investopedia.com\/terms\/c\/consumer-financial-protection-bureau...",
        "snippet": "A regulatory agency charged with overseeing financial products
        and services that are offered to consumers. The Consumer Financial Protection
        Bureau is divided into ...", "dateLastCrawled": "2017-01-01T20:18:00"}, {"id":
        "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.3", "name": "Is
        the[...]
