---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?count=10&mkt=en-US&offset=20&q=consumer%20financial%20protection%20bureau&responseFilter=WebPages,SpellSuggestions&safeSearch=Moderate&textDecorations=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9444A33D87714FCFA669FD19B41B1C13
      X-Msedge-Clientid:
      - 3A77FE3E4827662E2904F41F491667FA
      X-Msapi-Userstate:
      - 28ff
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/cr?IG=4980DD80158C462C8B106EAD9AED2CBF&CID=3A77FE3E4827662E2904F41F491667FA&rd=1&h=TvLW1nIkoMQB2bM4hV15ITlYFwQc3g7tF3tCWUQk-oc&v=1&r=https%3a%2f%2fwww.bing.com%2fsearch%3fq%3dconsumer%2bfinancial%2bprotection%2bbureau&p=DevEx,5266.1",
        "totalEstimatedMatches": 59400, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.0",
        "name": "Consumer Financial Protection Bureau - The Washington Post", "url":
        "https:\/\/www.bing.com\/cr?IG=4980DD80158C462C8B106EAD9AED2CBF&CID=3A77FE3E4827662E2904F41F491667FA&rd=1&h=HsefoUi5pISnytY1PwrefCATGa0Fbl3FCU4Il4yVTNY&v=1&r=https%3a%2f%2fwww.washingtonpost.com%2fnews%2fwonk%2fwp%2f2014%2f01%2f11%2fa-watchdog-grows-up-the-inside-story-of-the-consumer-financial-protection-bureau%2f&p=DevEx,5058.1",
        "displayUrl": "https:\/\/www.washingtonpost.com\/news\/wonk\/wp\/2014\/01\/11\/a-watchdog...",
        "snippet": "Starting from scratch. The bureau began as an idea published in
        2007 in Democracy Journal, a small lefty quarterly. Its author, a Harvard
        Law School ...", "dateLastCrawled": "2017-01-21T23:10:00"}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.1",
        "name": "Consumer Financial Protection Bureau - The Huffington Post", "url":
        "http:\/\/www.bing.com\/cr?IG=4980DD80158C462C8B106EAD9AED2CBF&CID=3A77FE3E4827662E2904F41F491667FA&rd=1&h=03xNxQzueyHImg-XVu7_TLY6y8lvr0LE0Vh2IbCBKOk&v=1&r=http%3a%2f%2fwww.huffingtonpost.com%2fnews%2fconsumer-financial-protection-bureau%2f&p=DevEx,5073.1",
        "about": [{"name": "Consumer Financial Protection Bureau"}], "displayUrl":
        "www.huffingtonpost.com\/news\/consumer-financial-protection-bureau", "snippet":
        "NEW YORK ― Big business and congressional Republicans salivate at the idea
        of gutting the Consumer Financial Protection Bureau, the brainchild of Se",
        "dateLastCrawled": "2017-01-31T14:48:00"}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.2",
        "name": "Bureau of Consumer Financial Protectio[...]
