---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/images/search?count=10&mkt=en-US&offset=20&q=whitehouse%20dog&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HOSTED_AZURE_V5_ACCOUNT_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D91C0A2A6CEB4BF2A347E07E8EDB9104
      X-Msapi-Userstate:
      - 6a3f
      X-Msedge-Clientid:
      - 25BB299408C26F8939EC25C3093F6EBD
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C6E74B5B4106461CA590B5DA71DAC585&CID=25BB299408C26F8939EC25C3093F6EBD&Type=Event.CPT&DATA=0"},
        "readLink": "images\/search?q=whitehouse dog", "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=whitehouse
        dog&FORM=OIIARP", "totalEstimatedMatches": 133, "value": [{"name": "National
        dog day: A look at US presidents and their dogs ...", "webSearchUrl": "https:\/\/www.bing.com\/cr?IG=C6E74B5B4106461CA590B5DA71DAC585&CID=25BB299408C26F8939EC25C3093F6EBD&rd=1&h=SEKBTwzGK27Pk-M7AYTI5zaknvsK4_ynlUsjUuVcAJA&v=1&r=https%3a%2f%2fwww.bing.com%2fimages%2fsearch%3fview%3ddetailv2%26FORM%3dOIIRPO%26q%3dwhitehouse%2bdog%26id%3dF9D630BE26F4E6659280003A391E86A4D6B343D3%26simid%3d608006121393948776&p=DevEx.LB.1,5025.1",
        "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.XjpwSakBgY6HWi-CE_DdlgHaEK&pid=Api",
        "datePublished": "2016-08-26T12:00:00", "contentUrl": "https:\/\/www.bing.com\/cr?IG=C6E74B5B4106461CA590B5DA71DAC585&CID=25BB299408C26F8939EC25C3093F6EBD&rd=1&h=bIA-epT7j_iJa-yLCdM1dCoMspeGqgYjKiF6sVKa6yI&v=1&r=https%3a%2f%2fcdn.cnn.com%2fcnnnext%2fdam%2fassets%2f160826113944-white-house-dogs-26-super-169.jpg&p=DevEx.LB.1,5027.1",
        "hostPageUrl": "https:\/\/www.bing.com\/cr?IG=C6E74B5B4106461CA590B5DA71DAC585&CID=25BB299408C26F8939EC25C3093F6EBD&rd=1&h=K1NnMhlWA_Gk6SU9ukJDkHV3CJdEHC-X4HDrfwx0NhY&v=1&r=https%3a%2f%2fwww.cnn.com%2f2016%2f08%2f26%2fpolitics%2fnational-dog-day-white-house-dogs%2findex.html&p=DevEx.LB.1,5026.1",
        "contentSize": "107639 B", "encodingFormat": "jpeg", "hostPageDisplayUrl":
        "https:\/\/www.cnn.com\/2016\/08\/26\/politics\/national-dog-day-white...",
        "width": 1100, "height": 619, "thumbnail": {"width": 474, "height": 266},
        "imageInsightsToken": "ccid_XjpwSakB*mid_F9D630BE26F4E6659280003A391E86A4D6B343D3*simid_608006121393948776*thid_OIP.XjpwSakBgY6HWi-CE!_DdlgHaEK",
        "imageId": "F9D630BE26F4E6659280003A391E86A4D6B343D3", "accentColor": "4F5B36"},
        {"name": "National dog day: A look at US presidents and their dogs ...", "webSearchUrl":
        "https:\/\/www.bing.com\/cr?IG=C6E74B5B4106461CA590B5DA71DAC585&CID=25BB299408C26F8939EC25C3093F6EBD&rd=1&h=w2sB4XC1spXwGgNlAxWk4kom1QRy4f12ftp1PFQ8Qds&v=1&r=https%3a%2f%2fwww.bing.com%2fimages%2fsearch%3fview%3ddetailv2%26FORM%3dOIIRPO%26q%3dwhitehouse%2bdog%26id%3d6E0CEBCB2ABB68994BBEF2033CFFA4295B9F6800%26simid%3d608030297769246905&p=DevEx.LB.1,5031.1",
        "thumbnailUrl": [...]
