---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?count=10&mkt=en-US&offset=20&q=consumer%20financial%20protection%20bureau&responseFilter=WebPages,SpellSuggestions&safeSearch=Moderate&textDecorations=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C2BFFEFEE81B4367B32CA9B02FE92955
      X-Msedge-Clientid:
      - 09EDBD501AF160C9256AB4B11BC061CE
      X-Msapi-Userstate:
      - 7c9c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/cr?IG=1D4CA1F6013E4286A7DFE7C53490D3FE&CID=09EDBD501AF160C9256AB4B11BC061CE&rd=1&h=TvLW1nIkoMQB2bM4hV15ITlYFwQc3g7tF3tCWUQk-oc&v=1&r=https%3a%2f%2fwww.bing.com%2fsearch%3fq%3dconsumer%2bfinancial%2bprotection%2bbureau&p=DevEx,5278.1",
        "totalEstimatedMatches": 5720000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.0",
        "name": "Bureau of Consumer Financial Protection - gpo.gov", "url": "https:\/\/www.bing.com\/cr?IG=1D4CA1F6013E4286A7DFE7C53490D3FE&CID=09EDBD501AF160C9256AB4B11BC061CE&rd=1&h=trkxmc-9rdpPv_D5fKhr5fEc59D9I06H9AnmdEh3ckA&v=1&r=https%3a%2f%2fwww.gpo.gov%2ffdsys%2fpkg%2fFR-2016-08-15%2fpdf%2f2016-18426.pdf&p=DevEx,5055.1",
        "displayUrl": "https:\/\/www.gpo.gov\/fdsys\/pkg\/FR-2016-08-15\/pdf\/2016-18426.pdf",
        "snippet": "Vol. 81 Monday, No. 157 August 15, 2016 Part III Bureau of Consumer
        Financial Protection 12 CFR Part 1026 Amendments to Federal Mortgage Disclosure
        Requirements Under ...", "dateLastCrawled": "2016-11-25T06:04:00"}, {"id":
        "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.1", "name": "CFPB
        - pueblo.gpo.gov", "url": "http:\/\/www.bing.com\/cr?IG=1D4CA1F6013E4286A7DFE7C53490D3FE&CID=09EDBD501AF160C9256AB4B11BC061CE&rd=1&h=0q_qUVIr600Yor2VtvY4_o0DuZHhjGA7p-U30vgjrWw&v=1&r=http%3a%2f%2fpueblo.gpo.gov%2fCFPBPubs%2fCFPBPubs.php&p=DevEx,5066.1",
        "displayUrl": "pueblo.gpo.gov\/CFPBPubs\/CFPBPubs.php", "snippet": "Order
        FREE Consumer Financial Protect[...]
