---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=20&q=agncy%20(site:nasa.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C061CC3B4A554C7DAC20B454B9B47AC7
      X-Msedge-Clientid:
      - '042965B4C68B6EE6372C6E32C7246F83'
      X-Msapi-Userstate:
      - 108b
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=13DC242B89A147E49D6ADB19AEBEC53F&CID=042965B4C68B6EE6372C6E32C7246F83&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=13DC242B89A147E49D6ADB19AEBEC53F&CID=042965B4C68B6EE6372C6E32C7246F83&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=agncy%20(site:nasa.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5126.1", "totalEstimatedMatches": 109, "nextOffset":
        30, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=2B3F6D4A0D964CA2CA6172A02A50A01DE60C131F&simid=607986346898883962",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "European Space Agency astronaut
        Luca Parmitano | NASA", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.opZDwQdXQwkSyyJt-D8LwwHaE6&pid=Api",
        "datePublished": "2013-11-06T22:04:00.0000000Z", "contentUrl": "http:\/\/www.nasa.gov\/sites\/default\/files\/styles\/946xvariable_height\/public\/iss037e003937.jpg?itok=Jb_zvUIZ",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/www.nasa.gov\/content\/european-space-agency-astronaut-luca-parmitano-21\/",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "335300 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.nasa.gov\/content\/european-space-agency-astronaut-luca-parmitano-21",
        "width": 946, "height": 628, "thumbnail": {"width": 474, "height": 314}, "imageInsightsToken":
        "ccid_opZDwQdX*mid_2B3F6D4A0D964CA2CA6172A02A50A01DE60C131F*simid_607986346898883962",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "2B3F6D4A0D964CA2CA6172A02A50A01DE60C131F", "accentColor": "2F486A"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=DF52FC9113BC03CBA8AF15A5FBBB24EE1A70F626&simid=608010738020518682",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "Exploring Comets and Asteroids:
        Time Capsules of the Solar ...", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.IoHjKCsOP7Fa5NC5Zt-nRwHaEV&pid=Api",
        "datePublished": "2015-04-29T03:02:00.0000000Z", "contentUrl": "http[...]
