---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/images/search?count=10&mkt=en-US&offset=20&q=whitehouse%20dog&safeSearch=Moderate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6165649A55C34F96B44055A047DCD683
      X-Msedge-Clientid:
      - 2C9E29EE06BC6AF02E8323EC078D6BAB
      X-Msapi-Userstate:
      - '9833'
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=BA6C9D4B883A4DA9AB8BC45FCEED7066&CID=2C9E29EE06BC6AF02E8323EC078D6BAB&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/cr?IG=BA6C9D4B883A4DA9AB8BC45FCEED7066&CID=2C9E29EE06BC6AF02E8323EC078D6BAB&rd=1&h=h2ZyAgxAOdpUnjsDIODg8u95MGU74c47mEUoW61mXtA&v=1&r=https%3a%2f%2fwww.bing.com%2fimages%2fsearch%3fq%3dwhitehouse%2520dog%26FORM%3dOIIARP&p=DevEx,5107.1",
        "totalEstimatedMatches": 137, "value": [{"name": "White House Guard Dogs |
        Dog Breeds Picture", "webSearchUrl": "https:\/\/www.bing.com\/cr?IG=BA6C9D4B883A4DA9AB8BC45FCEED7066&CID=2C9E29EE06BC6AF02E8323EC078D6BAB&rd=1&h=TPr0nmn_q0ArU1kERCavJoAoG3llK-9xlKKsb10WbWs&v=1&r=https%3a%2f%2fwww.bing.com%2fimages%2fsearch%3fview%3ddetailv2%26FORM%3dOIIRPO%26q%3dwhitehouse%2bdog%26id%3d95EDDD67DEE01938D1EC9305DACA26682F442C06%26simid%3d608049383372750971&p=DevEx,5006.1",
        "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.M5f32e3bf7806c2eff36fb406e80dbdc1o0&pid=Api",
        "datePublished": "2016-08-30T02:55:00", "contentUrl": "http:\/\/www.bing.com\/cr?IG=BA6C9D4B883A4DA9AB8BC45FCEED7066&CID=2C9E29EE06BC6AF02E8323EC078D6BAB&rd=1&h=q0Bq7f843MmgT-DRTrnOYHCkCag8LTNbXJaVju7kcbs&v=1&r=http%3a%2f%2flatimesblogs.latimes.com%2f.a%2f6a00d8341c630a53ef01543436c4de970c-800wi&p=DevEx,5008.1",
        "hostPageUrl": "http:\/\/www.bing.com\/cr?IG=BA6C9D4B883A4DA9AB8BC45FCEED7066&CID=2C9E29EE06BC6AF02E8323EC078D6BAB&rd=1&h=_n1JZsdLw74RjYtOU6tXTqNsy1ct1gevkV-nJlQ1C0A&v=1&r=http%3a%2f%2fdogbreedspicture.net%2fwhite%2fwhite-house-guard-dogs.html&p=DevEx,5007.1",
        "contentSize": "29927 B", "encodingFormat": "jpeg", "hostPageDisplayUrl":
        "dogbreedspicture.net\/white\/white-house-guard-dogs.html", "width": 640,
        "height": 534, "thumbnail": {"width": 300, "height": 250}, "imageInsightsToken":
        "ccid_XzLjv3gG*mid_95EDDD67DEE01938D1EC9305DACA26682F442C06*simid_608049383372750971",
        "insightsSourcesSummary": {"shoppingSourcesCount": 0, "recipeSourcesCount":
        0}, "imageId": "95EDDD67DEE01938D1EC9305DACA26682F442C06", "accentColor":
        "877D44"}, {"name": "... dogs Barney and Miss Beazley, arrives on the South
        Lawn of the White", "webSearchUrl": "https:\/\/www.bing.com\/cr?IG=BA6C9D4B883A4DA9AB8BC45FCEED7066&CID=2C9E29EE06BC6AF02E8323EC078D6BAB&rd=1&h=NTSoxnyICuwyewIednHp6NOD_g6hEUOyqiJ4A768g-M&v=1&r=https%3a%2f%2fwww.bing.com%2fimages%2fsearch%3fview%3ddetailv2%26FORM%3dOIIRPO%26q%3dwhitehouse%2bdog%26id%3d002656DA9F6E5B2747A048D266028DF5BC9616CE%26simid%3d608026912107399010&p=DevEx,5012.1",
        "thumbnai[...]
