---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=20&q=osha%20guidelines&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1365996002A74610AE67B3CBC4034EC3
      X-Msedge-Clientid:
      - 03E7BEFC120262AD2420B4F5139563CC
      X-Msapi-Userstate:
      - '1949'
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A88F52261D0343D2946F792710D4ED48&CID=03E7BEFC120262AD2420B4F5139563CC&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A88F52261D0343D2946F792710D4ED48&CID=03E7BEFC120262AD2420B4F5139563CC&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=osha%20guidelines&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5103.1", "totalEstimatedMatches": 141, "nextOffset":
        30, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=osha+guidelines&id=FD6DA501FBDBBE96163FCF50BA9A7AD088828729&simid=607992895969038072",
        "webSearchUrlPingSuffix": "DevEx,5006.1", "name": "OSHA PPE STANDARDS", "thumbnailUrl":
        "https:\/\/tse4.mm.bing.net\/th?id=OIP.XJ2j34QiaZ98wlMvIXn6fADnEs&pid=Api",
        "datePublished": "2016-12-10T09:22:00.0000000Z", "contentUrl": "http:\/\/image.slidesharecdn.com\/osha3151-131223014036-phpapp01\/95\/osha-ppe-standards-6-638.jpg?cb=1387763875",
        "contentUrlPingSuffix": "DevEx,5008.1", "hostPageUrl": "http:\/\/www.slideshare.net\/waqasakmm\/osha3151",
        "hostPageUrlPingSuffix": "DevEx,5007.1", "contentSize": "159189 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.slideshare.net\/waqasakmm\/osha3151", "width":
        638, "height": 826, "thumbnail": {"width": 231, "height": 300}, "imageInsightsToken":
        "ccid_XJ2j34Qi*mid_FD6DA501FBDBBE96163FCF50BA9A7AD088828729*simid_607992895969038072",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "FD6DA501FBDBBE96163FCF50BA9A7AD088828729", "accentColor": "AA5F21"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=osha+guidelines&id=F3A432D0DC16DEDE874A16378DA612215C52F5B1&simid=608041257301052208",
        "webSearchUrlPingSuffix": "DevEx,5012.1", "name": "2015 – Most Violated OSHA
        Standards | Employers Resource", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.M2034f1b63d32dc5d36ecc2fabcd11e35o0&pid=Api",
        "datePublished": "2015-11-25T12:00:00.0000000Z", "contentUrl": "https:\/\[...]
