---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/images/search?count=10&mkt=en-US&offset=20&q=whitehouse%20dog&safeSearch=Moderate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E97F3C98BFA84EF48EF5F754F6FC5C32
      X-Msedge-Clientid:
      - 06BA110196A661322EE91B2097976048
      X-Msapi-Userstate:
      - 812c
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=055FBDDB26624C65865F093FA47DCC6F&CID=06BA110196A661322EE91B2097976048&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/cr?IG=055FBDDB26624C65865F093FA47DCC6F&CID=06BA110196A661322EE91B2097976048&rd=1&h=h2ZyAgxAOdpUnjsDIODg8u95MGU74c47mEUoW61mXtA&v=1&r=https%3a%2f%2fwww.bing.com%2fimages%2fsearch%3fq%3dwhitehouse%2520dog%26FORM%3dOIIARP&p=DevEx,5107.1",
        "totalEstimatedMatches": 133, "value": [{"name": "WE WERE JUST WONDERING:
        A DOGS LIFE", "webSearchUrl": "https:\/\/www.bing.com\/cr?IG=055FBDDB26624C65865F093FA47DCC6F&CID=06BA110196A661322EE91B2097976048&rd=1&h=H9XvzMezv1Nd4WNpwQHv3Ly1_hXKOeaE4yp_X2RUpUs&v=1&r=https%3a%2f%2fwww.bing.com%2fimages%2fsearch%3fview%3ddetailv2%26FORM%3dOIIRPO%26q%3dwhitehouse%2bdog%26id%3d5C33ED817335DC3760BCE5E0231B33219F4D62E7%26simid%3d608042979616295830&p=DevEx,5006.1",
        "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.Q_vqDxYCq15yGXSg9MuGiQEsDS&pid=Api",
        "datePublished": "2012-07-07T12:00:00", "contentUrl": "http:\/\/www.bing.com\/cr?IG=055FBDDB26624C65865F093FA47DCC6F&CID=06BA110196A661322EE91B2097976048&rd=1&h=i6hnizAaG9otB9xWPXuyc4b_0Tpr_YpfKawV2Sh_aJA&v=1&r=http%3a%2f%2f4.bp.blogspot.com%2f-PnmCRkVB2AU%2fUBWI89yh2EI%2fAAAAAAAAFgI%2fwAFytu9tgZQ%2fs1600%2fwhite-house-dog-bo.jpg&p=DevEx,5008.1",
        "hostPageUrl": "http:\/\/www.bing.com\/cr?IG=055FBDDB26624C65865F093FA47DCC6F&CID=06BA110196A661322EE91B2097976048&rd=1&h=WVmSbdfAtaHE7GZLu3bQ9pF9wg0z7YZmZbROw2wvGMI&v=1&r=http%3a%2f%2fwwwondering.blogspot.com%2f2012%2f07%2fa-dogs-life.html&p=DevEx,5007.1",
        "contentSize": "173098 B", "encodingFormat": "jpeg", "hostPageDisplayUrl":
        "wwwondering.blogspot.com\/2012\/07\/a-dogs-life.html", "width": 960, "height":
        675, "thumbnail": {"width": 300, "height": 210}, "imageInsightsToken": "ccid_Q\/vqDxYC*mid_5C33ED817335DC3760BCE5E0231B33219F4D62E7*simid_608042979616295830",
        "insightsSourcesSummary": {"shoppingSourcesCount": 0, "recipeSourcesCount":
        0}, "imageId": "5C33ED817335DC3760BCE5E0231B33219F4D62E7", "accentColor":
        "4C5D1F"}, {"name": "The Cutest White House Dogs & The Presidents Who Love
        Them (PHOTOS ...", "webSearchUrl": "https:\/\/www.bing.com\/cr?IG=055FBDDB26624C65865F093FA47DCC6F&CID=06BA110196A661322EE91B2097976048&rd=1&h=Vx3IMX55OU-BTeAlNe1RGIt4lvo1bICF8iT3I4iYzgc&v=1&r=https%3a%2f%2fwww.bing.com%2fimages%2fsearch%3fview%3ddetailv2%26FORM%3dOIIRPO%26q%3dwhitehouse%2bdog%26id%3dF11331D3FDCBC26116F5A5452936782B097288E7%26simid%3d608034445508807908&p=DevEx,5012.1",
        "thumbnailU[...]
