---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/images/search?count=10&mkt=en-US&offset=20&q=whitehouse%20dog&safeSearch=Moderate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 69630A6FA39D4EEE83B79A60C99123A3
      X-Msedge-Clientid:
      - 26EE472040BB6AD13D954D1A418A6B6F
      X-Msapi-Userstate:
      - 0826
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=82D4EE4CC9C041A28B16542443DC6183&CID=26EE472040BB6AD13D954D1A418A6B6F&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/cr?IG=82D4EE4CC9C041A28B16542443DC6183&CID=26EE472040BB6AD13D954D1A418A6B6F&rd=1&h=h2ZyAgxAOdpUnjsDIODg8u95MGU74c47mEUoW61mXtA&v=1&r=https%3a%2f%2fwww.bing.com%2fimages%2fsearch%3fq%3dwhitehouse%2520dog%26FORM%3dOIIARP&p=DevEx,5107.1",
        "totalEstimatedMatches": 128, "value": [{"name": "Obamas'' Presidential Dog
        Walker | Pet Transportation, Pet Relocation ...", "webSearchUrl": "https:\/\/www.bing.com\/cr?IG=82D4EE4CC9C041A28B16542443DC6183&CID=26EE472040BB6AD13D954D1A418A6B6F&rd=1&h=bHBJwizYLa8xt9JmxcnJO01TRD7sFmfBlifez2SSTFo&v=1&r=https%3a%2f%2fwww.bing.com%2fimages%2fsearch%3fview%3ddetailv2%26FORM%3dOIIRPO%26q%3dwhitehouse%2bdog%26id%3dD200A9E0EBEBAF4F27EE6A239AB2E045CB25A0D1%26simid%3d608006648526538885&p=DevEx,5006.1",
        "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.W4YeZqzgIl0qWHKoCJN1sAEsDo&pid=Api",
        "datePublished": "2015-04-26T21:59:00", "contentUrl": "http:\/\/www.bing.com\/cr?IG=82D4EE4CC9C041A28B16542443DC6183&CID=26EE472040BB6AD13D954D1A418A6B6F&rd=1&h=MSlQo1LAoud-qc3nHexBLB8HbIDxBfFPX-chKZt5Cyc&v=1&r=http%3a%2f%2fblog.moveone.info%2fwp-content%2fuploads%2f2010%2f01%2fbo-obama.jpg&p=DevEx,5008.1",
        "hostPageUrl": "https:\/\/www.bing.com\/cr?IG=82D4EE4CC9C041A28B16542443DC6183&CID=26EE472040BB6AD13D954D1A418A6B6F&rd=1&h=frZE2eSVdJzBf4TeLYs2Fy-_5dA9di0Je3Dja1yIzUE&v=1&r=https%3a%2f%2fwww.moveoneinc.com%2fblog%2fpet-transportation%2fobamas-presidential-dog-walker%2f&p=DevEx,5007.1",
        "contentSize": "64711 B", "encodingFormat": "jpeg", "hostPageDisplayUrl":
        "https:\/\/www.moveoneinc.com\/blog\/pet-transportation\/obamas...", "width":
        600, "height": 465, "thumbnail": {"width": 300, "height": 232}, "imageInsightsToken":
        "ccid_W4YeZqzg*mid_D200A9E0EBEBAF4F27EE6A239AB2E045CB25A0D1*simid_608006648526538885",
        "insightsSourcesSummary": {"shoppingSourcesCount": 0, "recipeSourcesCount":
        0}, "imageId": "D200A9E0EBEBAF4F27EE6A239AB2E045CB25A0D1", "accentColor":
        "929C2F"}, {"name": "... White House press corps on the South Lawn of the
        White House April 14", "webSearchUrl": "https:\/\/www.bing.com\/cr?IG=82D4EE4CC9C041A28B16542443DC6183&CID=26EE472040BB6AD13D954D1A418A6B6F&rd=1&h=5xiaBCEd6X6i0UvekoEX4zaFPj20o5i9F5k5E-AoKsg&v=1&r=https%3a%2f%2fwww.bing.com%2fimages%2fsearch%3fview%3ddetailv2%26FORM%3dOIIRPO%26q%3dwhitehouse%2bdog%26id%3dBF6EC993FAFFCF5D916380DB35A8EC197DCCAF32%26simid%3d608002508176297086&p=DevEx,5012.1",
        "thumbna[...]
