---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=20&q=osha%20guidelines&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E60CAA5A050B47BEB92E965749F0D81B
      X-Msedge-Clientid:
      - 26801FE545696A34015C143844FE6B4E
      X-Msapi-Userstate:
      - ca94
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=2AF897BF1A354DF9A33D226C7999337C&CID=26801FE545696A34015C143844FE6B4E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=2AF897BF1A354DF9A33D226C7999337C&CID=26801FE545696A34015C143844FE6B4E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=osha+guidelines",
        "webSearchUrlPingSuffix": "DevEx,5308.1", "totalEstimatedMatches": 367000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Search Regulations | Federal Motor Carrier Safety ...", "url": "https:\/\/www.fmcsa.dot.gov\/regulations\/title49\/b\/5\/3",
        "urlPingSuffix": "DevEx,5066.1", "displayUrl": "https:\/\/www.fmcsa.dot.gov\/regulations\/title49\/b\/5\/3",
        "snippet": "49 CFR Parts 300-399 This section of the website provides the
        ability to find regulations information including regulations parts, content
        of sections, and interpretations for regulations sections.", "dateLastCrawled":
        "2018-04-21T19:37:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "OSHA General Industry Standards, Regulations, and Training", "url":
        "https:\/\/mancomm.com\/osha\/", "urlPingSuffix": "DevEx,5081.1", "displayUrl":
        "https:\/\/mancomm.com\/osha", "snippet": "29 CFR 1910 OSHA Regulations, Compliance
        and Training tools including supplements and helpful training resources.",
        "dateLastCrawled": "2018-04-23T02:22:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "Asbestos Laws and Regulations | US EPA", "url": "https:\/\/www.epa.gov\/asbestos\/asbestos-laws-and-regulations",
        "urlPingSuffix": "DevEx,5094.1", "about": [{"name": "Asbestos"}], "displayUrl":
        "https:\/\/www.epa.gov\/asbestos\/asbestos-laws-and-regulations", "snippet":
        "This page provides a listing of the laws and regulations pertaining to asbestos
        implemented by the EPA and certain other federal agencies.", "dateLastCrawled":
        "2018-03-28T10:59:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3",
        "name": "Oregon Occupational Safety and Health : Home : State of Oregon",
        "url": "h[...]
