---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=20&q=osha%20guidelines&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - AA52F9A84E634B4B8B17952027C922A2
      X-Msedge-Clientid:
      - 0BC83B32E0BB68AC0A7A31F1E12C69A4
      X-Msapi-Userstate:
      - b92d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9ECFA978D9C042168D75E6965DA41A85&CID=0BC83B32E0BB68AC0A7A31F1E12C69A4&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9ECFA978D9C042168D75E6965DA41A85&CID=0BC83B32E0BB68AC0A7A31F1E12C69A4&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=osha+guidelines",
        "webSearchUrlPingSuffix": "DevEx,5272.1", "totalEstimatedMatches": 512000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Standards and regulations, Minnesota OSHA Compliance", "url": "https:\/\/www.dli.mn.gov\/OSHA\/Standards.asp",
        "urlPingSuffix": "DevEx,5055.1", "displayUrl": "https:\/\/www.dli.mn.gov\/OSHA\/Standards.asp",
        "snippet": "Minnesota employers under the jurisdiction of Minnesota OSHA must
        comply with both the federal OSHA Standards adopted by reference in Minnesota
        and Minnesota Statutes ...", "dateLastCrawled": "2017-07-08T14:20:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "OSHA Compliance
        Solutions for Standards & Regulations", "url": "https:\/\/www.jjkeller.com\/learn\/osha-compliance",
        "urlPingSuffix": "DevEx,5069.1", "displayUrl": "https:\/\/www.jjkeller.com\/learn\/osha-compliance",
        "snippet": "Get OSHA compliance solutions to help meet requirements of OSHA''s
        regulations and standards.", "dateLastCrawled": "2017-07-14T1[...]
