---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=20&q=osha%20guidelines&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3FB3712848764FA2B4729CD47642EFDE
      X-Msedge-Clientid:
      - 0ABBDA6CA38D618F030BD64DA25A6065
      X-Msapi-Userstate:
      - 9a77
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DDF2AD04E5DA42AFBFBDEFB19B0D1062&CID=0ABBDA6CA38D618F030BD64DA25A6065&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DDF2AD04E5DA42AFBFBDEFB19B0D1062&CID=0ABBDA6CA38D618F030BD64DA25A6065&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=osha+guidelines",
        "webSearchUrlPingSuffix": "DevEx,5305.1", "totalEstimatedMatches": 387000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Search Regulations | Federal Motor Carrier Safety ...", "url": "https:\/\/www.fmcsa.dot.gov\/regulations\/title49\/b\/5\/3",
        "urlPingSuffix": "DevEx,5066.1", "displayUrl": "https:\/\/www.fmcsa.dot.gov\/regulations\/title49\/b\/5\/3",
        "snippet": "49 CFR Parts 300-399 This section of the website provides the
        ability to find regulations information including regulations parts, content
        of sections, and interpretations for regulations sections.", "dateLastCrawled":
        "2018-06-23T18:13:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Asbestos Laws and Regulations | US EPA", "url": "https:\/\/www.epa.gov\/asbestos\/asbestos-laws-and-regulations",
        "urlPingSuffix": "DevEx,5079.1", "about": [{"name": "Asbestos"}], "displayUrl":
        "https:\/\/www.epa.gov\/asbestos\/asbestos-laws-and-regulations", "snippet":
        "This page provides a listing of the laws and regulations pertaining to asbestos
        implemented by the EPA and certain other federal agencies.", "dateLastCrawled":
        "2018-06-13T15:55:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "OSHA Recordkeeping Requirements - Grainger Safety Record", "url":
        "https:\[...]
