---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/images/search?count=10&mkt=en-US&offset=20&q=whitehouse%20dog&safeSearch=Moderate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<HOSTED_AZURE_V5_ACCOUNT_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 80C75111843145A58A8F52531D94BAFA
      X-Msedge-Clientid:
      - 24DCC782ABC967E42BDECD3DAACF660E
      X-Msapi-Userstate:
      - 4fbb
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=75C2707D84A24687982073E3C539AF71&CID=24DCC782ABC967E42BDECD3DAACF660E&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/cr?IG=75C2707D84A24687982073E3C539AF71&CID=24DCC782ABC967E42BDECD3DAACF660E&rd=1&h=h2ZyAgxAOdpUnjsDIODg8u95MGU74c47mEUoW61mXtA&v=1&r=https%3a%2f%2fwww.bing.com%2fimages%2fsearch%3fq%3dwhitehouse%2520dog%26FORM%3dOIIARP&p=DevEx,5111.1",
        "totalEstimatedMatches": 114, "value": [{"name": "White House Tweets ''Mean
        Girls'' Joke About Bo The Dog", "webSearchUrl": "https:\/\/www.bing.com\/cr?IG=75C2707D84A24687982073E3C539AF71&CID=24DCC782ABC967E42BDECD3DAACF660E&rd=1&h=5mIf81KFiu6Jbaqzsy54yjyEKJ2fVgTzjSUSKzRFaoE&v=1&r=https%3a%2f%2fwww.bing.com%2fimages%2fsearch%3fview%3ddetailv2%26FORM%3dOIIRPO%26q%3dwhitehouse%2bdog%26id%3dCA59B4DB5255D78FEF7385C860111FDAA4AE289D%26simid%3d608010677427178932&p=DevEx,5006.1",
        "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.r05Pp0Rvjxwn63HRl-FrIAEsCo&pid=Api",
        "datePublished": "2016-01-25T12:00:00", "contentUrl": "http:\/\/www.bing.com\/cr?IG=75C2707D84A24687982073E3C539AF71&CID=24DCC782ABC967E42BDECD3DAACF660E&rd=1&h=ND2Gkui6WP9rbSfai8lQTM7H_59zLPPywzI0t0Pag0c&v=1&r=http%3a%2f%2fa.abcnews.com%2fimages%2fEntertainment%2fht_bo_obama_kb_130813_16x9_992.jpg&p=DevEx,5008.1",
        "hostPageUrl": "http:\/\/www.bing.com\/cr?IG=75C2707D84A24687982073E3C539AF71&CID=24DCC782ABC967E42BDECD3DAACF660E&rd=1&h=w3fzyZCxAxc6o5raU9HTzx05l9Nfa7G7abpXkuN1yT4&v=1&r=http%3a%2f%2fabcnews.go.com%2ftopics%2fnews%2fwhitehouse%2ffirst-dog-bo.htm&p=DevEx,5007.1",
        "contentSize": "101224 B", "encodingFormat": "jpeg", "hostPageDisplayUrl":
        "abcnews.go.com\/topics\/news\/whitehouse\/first-dog-bo.htm", "width": 992,
        "height": 558, "thumbnail": {"width": 300, "height": 168}, "imageInsightsToken":
        "ccid_r05Pp0Rv*mid_CA59B4DB5255D78FEF7385C860111FDAA4AE289D*simid_608010677427178932",
        "insightsSourcesSummary": {"shoppingSourcesCount": 0, "recipeSourcesCount":
        0}, "imageId": "CA59B4DB5255D78FEF7385C860111FDAA4AE289D", "accentColor":
        "6F391E"}, {"name": "Dogs of the White House – Millie · LUHAD", "webSearchUrl":
        "https:\/\/www.bing.com\/cr?IG=75C2707D84A24687982073E3C539AF71&CID=24DCC782ABC967E42BDECD3DAACF660E&rd=1&h=PfZ7EamX4a2xMs-FBflRHqPIj8uaBsvsmovB0OYu1W8&v=1&r=https%3a%2f%2fwww.bing.com%2fimages%2fsearch%3fview%3ddetailv2%26FORM%3dOIIRPO%26q%3dwhitehouse%2bdog%26id%3dDC0194C87427F5FF566DB402ECDBF266F87E3DAC%26simid%3d608023308945392806&p=DevEx,5012.1",
        "thumbnailUrl": "https:\/\/tse2.mm.bing.n[...]
