---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=20&q=osha%20guidelines&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 82DB07BB8E7B40E6A84669F6A65E2B18
      X-Msedge-Clientid:
      - 015AEB01271B6F8F3E97E163268C6E17
      X-Msapi-Userstate:
      - 4c9c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B4482460C74F4CBCAFE6771E90CBA78B&CID=015AEB01271B6F8F3E97E163268C6E17&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B4482460C74F4CBCAFE6771E90CBA78B&CID=015AEB01271B6F8F3E97E163268C6E17&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=osha+guidelines",
        "webSearchUrlPingSuffix": "DevEx,5290.1", "totalEstimatedMatches": 22800000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Minnesota OSHA Compliance - Minnesota Department of Labor ...", "url": "http:\/\/www.dli.mn.gov\/MnOsha.asp",
        "urlPingSuffix": "DevEx,5057.1", "displayUrl": "www.dli.mn.gov\/MnOsha.asp",
        "snippet": "Standards; What''s new; About DLI. Boards and councils. Careers.
        Events and calendars. Publications. ... Contact Minnesota OSHA at (651) 284-5050,
        osha.compliance ...", "dateLastCrawled": "2017-04-07T02:03:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Occupational
        Safety & Health (CONN-OSHA) - State of ...", "url": "http:\/\/www.ctdol.state.ct.us\/osha\/osha.htm",
        "urlPingSuffix": "DevEx,5069.1", "displayUrl": "www.ctdol.state.ct.us\/osha\/osha.htm",
        "snippet": "This Division enforces state occupational safety and health regulations
        as they apply to state and municipal employees.", "dateLastCrawled": "2[...]
