---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=20&q=osha%20guidelines&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - DC643131929840D9892AC003F212AAE0
      X-Msedge-Clientid:
      - 2F6939ADD89960210EF3304BD9A8616C
      X-Msapi-Userstate:
      - 602a
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=89191F36E29D4AA68B72187904C44B32&CID=2F6939ADD89960210EF3304BD9A8616C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=89191F36E29D4AA68B72187904C44B32&CID=2F6939ADD89960210EF3304BD9A8616C&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=osha%20guidelines&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5104.1", "totalEstimatedMatches": 168, "nextOffset":
        30, "value": [{"name": "Comply with OSHA Regulations", "webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=osha+guidelines&id=8E44B77F738A456993BB67150626CA4670B0C0AB&simid=608032800466472105",
        "webSearchUrlPingSuffix": "DevEx,5006.1", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.M46cdb54fee974ff40101531c4dc2094fo0&pid=Api",
        "datePublished": "2016-09-21T02:58:00.0000000Z", "contentUrl": "http:\/\/kmrdpartners.com\/wp-content\/uploads\/2015\/07\/Comply-with-OSHA-Regulations.jpg",
        "contentUrlPingSuffix": "DevEx,5008.1", "hostPageUrl": "http:\/\/kmrdpartners.com\/tag\/osha\/",
        "hostPageUrlPingSuffix": "DevEx,5007.1", "contentSize": "12949 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "kmrdpartners.com\/tag\/osha", "width": 229,
        "height": 220, "thumbnail": {"width": 229, "height": 220}, "imageInsightsToken":
        "ccid_Rs21T+6X*mid_8E44B77F738A456993BB67150626CA4670B0C0AB*simid_608032800466472105",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "8E44B77F738A456993BB67150626CA4670B0C0AB", "accentColor": "BE8F0D"},
        {"name": "OSHA Compliance for Medical and Dental Offices - Guidelines ...",
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=osha+guidelines&id=69F6C940DDFC9158A051BFB24A8472B4D8A547B1&simid=608022492545746177",
        "webSearchUrlPingSuffix": "DevEx,5012.1", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.Maba4d7491cbe93614a18f01de5cf54d2o0&pid=Api",
        "datePublished": "2011-11-25T11:28:00.0000000Z", "contentUrl": "ht[...]
