---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=20&q=osha%20guidelines&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C068D5C1855D42D78AEBF1439BEBE119
      X-Msedge-Clientid:
      - 253C25039A4C680C3A7D2E0B9BDB69E3
      X-Msapi-Userstate:
      - aa45
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=89AE375FE40C473EA565457FB8031CF2&CID=253C25039A4C680C3A7D2E0B9BDB69E3&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=89AE375FE40C473EA565457FB8031CF2&CID=253C25039A4C680C3A7D2E0B9BDB69E3&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=osha+guidelines",
        "webSearchUrlPingSuffix": "DevEx,5291.1", "totalEstimatedMatches": 391000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Be ready when OSHA visits your Business - Osha Safety Manual", "url": "https:\/\/www.oshasafetymanual.com\/",
        "urlPingSuffix": "DevEx,5057.1", "displayUrl": "https:\/\/www.oshasafetymanual.com",
        "snippet": "Download your custom OSHA Safety Manual today! Customized to the
        needs that your company needs and available immediately. Manuals are development
        by an", "dateLastCrawled": "2017-09-17T11:02:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "OSHA Guidelines | Cintas", "url": "http:\/\/www.cintas.com\/FirstAidSafety\/osha-guidelines.aspx",
        "urlPingSuffix": "DevEx,5072.1", "displayUrl": "www.cintas.com\/FirstAidSafety\/osha-guidelines.aspx",
        "snippet": "Cintas First Aid & Safety provides products and services to help
        businesses stay compliant with OSHA and ANSI regulations and standards. For
        our[...]
