---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=20&q=osha%20guidelines&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C038C1FD733146628676407749B310B3
      X-Msedge-Clientid:
      - 3D69DFBA8E2969C63577D5B38FBE6831
      X-Msapi-Userstate:
      - 5f9a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D077089682AD48348E1BCBF6090BE754&CID=3D69DFBA8E2969C63577D5B38FBE6831&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D077089682AD48348E1BCBF6090BE754&CID=3D69DFBA8E2969C63577D5B38FBE6831&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=osha+guidelines",
        "webSearchUrlPingSuffix": "DevEx,5274.1", "totalEstimatedMatches": 24500000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "OSHA Guidelines for Medical Offices | Chron.com", "url": "http:\/\/smallbusiness.chron.com\/osha-guidelines-medical-offices-11691.html",
        "urlPingSuffix": "DevEx,5062.1", "displayUrl": "smallbusiness.chron.com\/osha-guidelines-medical-offices-11691.html",
        "snippet": "OSHA guidelines for medical offices include providing information
        to employees on chemical hazards. doctor office and nurse image by Jaimie
        Duplass from Fotolia.com", "dateLastCrawled": "2017-01-10T06:07:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "ILPI:
        OSHA MSDS Regulations and Interpretations", "url": "http:\/\/www.ilpi.com\/msdS\/osha\/index.html",
        "urlPingSuffix": "DevEx,5074.1", "displayUrl": "www.ilpi.com\/msdS\/osha\/index.html",
        "snippet": "Over 300 official OSHA regulations and interpretations concerning
        Material Safety Data Sheets in a convenient, browsable, searchable and hypertextually-e[...]
