---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=20&q=osha%20guidelines&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 83337F8E5A77463F98277FDC6BE32992
      X-Msedge-Clientid:
      - 00F5F70D501D60D73196FEE8512C6185
      X-Msapi-Userstate:
      - 18f3
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=330C7C8E54444EA9A91FE8CB6FDD7909&CID=00F5F70D501D60D73196FEE8512C6185&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=330C7C8E54444EA9A91FE8CB6FDD7909&CID=00F5F70D501D60D73196FEE8512C6185&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=osha+guidelines",
        "webSearchUrlPingSuffix": "DevEx,5274.1", "totalEstimatedMatches": 42700000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "State of Oregon: Oregon OSHA - Home", "url": "http:\/\/osha.oregon.gov\/",
        "urlPingSuffix": "DevEx,5057.1", "displayUrl": "osha.oregon.gov", "snippet":
        "Oregon OSHA. Start with an A to Z topic Go to topic index > ... Topics, rules,
        guidelines. A to Z topic index; Rules and laws; Inspections, citations, appeals;",
        "dateLastCrawled": "2016-12-04T13:46:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Minnesota OSHA Compliance -- Standards and regulations", "url": "http:\/\/www.dli.mn.gov\/OSHA\/Standards.asp",
        "urlPingSuffix": "DevEx,5070.1", "displayUrl": "www.dli.mn.gov\/OSHA\/Standards.asp",
        "snippet": "Minnesota employers under the jurisdiction of Minnesota OSHA must
        comply with both the federal OSHA Standards adopted by reference in Minnesota
        and [...]
