---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?count=10&mkt=en-US&offset=20&q=consumer%20financial%20protection%20bureau&responseFilter=WebPages,SpellSuggestions&safeSearch=Moderate&textDecorations=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A4D380C44AEE44E2BB375E150CBDED8D
      X-Msedge-Clientid:
      - 2615DE6E494E6E2801F9D454487F6F16
      X-Msapi-Userstate:
      - 45ac
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/cr?IG=957A505E0026450CB4AF01CA925F4121&CID=2615DE6E494E6E2801F9D454487F6F16&rd=1&h=TvLW1nIkoMQB2bM4hV15ITlYFwQc3g7tF3tCWUQk-oc&v=1&r=https%3a%2f%2fwww.bing.com%2fsearch%3fq%3dconsumer%2bfinancial%2bprotection%2bbureau&p=DevEx,5274.1",
        "totalEstimatedMatches": 65700, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.0",
        "name": "Is the Consumer Financial Protection Bureau constitutional ...",
        "url": "https:\/\/www.bing.com\/cr?IG=957A505E0026450CB4AF01CA925F4121&CID=2615DE6E494E6E2801F9D454487F6F16&rd=1&h=OD0GWrc9CkT9mo1YO13FE1CdGhtFLJHoCV7MFC5ZDM0&v=1&r=https%3a%2f%2fwww.washingtonpost.com%2fnews%2fmonkey-cage%2fwp%2f2016%2f10%2f19%2fis-the-consumer-financial-protection-bureau-constitutional-the-d-c-circuit-says-no-heres-why%2f&p=DevEx,5054.1",
        "displayUrl": "https:\/\/www.washingtonpost.com\/news\/monkey-cage\/wp\/2016\/10\/19\/is...",
        "snippet": "The Consumer Financial Protection Bureau (CFPB) was created in
        2010 by the Dodd-Frank Act to help reform Wall Street practices. But last
        week the D.C. Circuit Court ...", "dateLastCrawled": "2017-02-28T05:32:00"},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.1", "name":
        "Cfpb - The Huffington Post", "url": "http:\/\/www.bing.com\/cr?IG=957A505E0026450CB4AF01CA925F4121&CID=2615DE6E494E6E2801F9D454487F6F16&rd=1&h=b7ETvAwm_TBmwLz9JMUo730DT4KqmkxP7orc7R0dyi0&v=1&r=http%3a%2f%2fwww.huffingtonpost.com%2fnews%2fcfpb%2f&p=DevEx,5069.1",
        "displayUrl": "www.huffingtonpost.com\/news\/cfpb", "snippet": "The Consumer
        Financial Protection Bur[...]
