---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/images/search?count=10&mkt=en-US&offset=20&q=whitehouse%20dog&safeSearch=Moderate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D19AC06A89EB4900A003EDCD8E561B3C
      X-Msedge-Clientid:
      - 1A467CDD34AB61561A85764435AD60EB
      X-Msapi-Userstate:
      - '8242'
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1E58254518FA4804BCF2A678EB19CE36&CID=1A467CDD34AB61561A85764435AD60EB&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/cr?IG=1E58254518FA4804BCF2A678EB19CE36&CID=1A467CDD34AB61561A85764435AD60EB&rd=1&h=h2ZyAgxAOdpUnjsDIODg8u95MGU74c47mEUoW61mXtA&v=1&r=https%3a%2f%2fwww.bing.com%2fimages%2fsearch%3fq%3dwhitehouse%2520dog%26FORM%3dOIIARP&p=DevEx,5109.1",
        "totalEstimatedMatches": 135, "value": [{"name": "Bo The Dog Inspects White
        House Holiday Decorations - ABC News", "webSearchUrl": "https:\/\/www.bing.com\/cr?IG=1E58254518FA4804BCF2A678EB19CE36&CID=1A467CDD34AB61561A85764435AD60EB&rd=1&h=JJ3t7FvoAiRLlBHMYWT_2X7CFtpYoxmK1OHqAz5Klvo&v=1&r=https%3a%2f%2fwww.bing.com%2fimages%2fsearch%3fview%3ddetailv2%26FORM%3dOIIRPO%26q%3dwhitehouse%2bdog%26id%3dEB5364FB33186E2C939CCFE996FA9B12AB9D501D%26simid%3d608047820232524208&p=DevEx,5006.1",
        "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.jzEymDu01lF50mVFamJ_7wEsCo&pid=Api",
        "datePublished": "2012-11-29T22:01:00", "contentUrl": "http:\/\/www.bing.com\/cr?IG=1E58254518FA4804BCF2A678EB19CE36&CID=1A467CDD34AB61561A85764435AD60EB&rd=1&h=75nRyJgkLohyMWN0xAwNZ4IiKl5A5l7Z7sg7wGjde-o&v=1&r=http%3a%2f%2fabcnews.go.com%2fimages%2fPolitics%2fht_bo_hat_kb_121129_wblog.jpg&p=DevEx,5008.1",
        "hostPageUrl": "http:\/\/www.bing.com\/cr?IG=1E58254518FA4804BCF2A678EB19CE36&CID=1A467CDD34AB61561A85764435AD60EB&rd=1&h=QgLpFuYe6uTO6uFFPkYh8BA7GQfdMu4ZEhi4wbmSFek&v=1&r=http%3a%2f%2fabcnews.go.com%2fblogs%2fpolitics%2f2012%2f11%2fbo-the-dog-inspects-white-house-holiday-decorations%2f&p=DevEx,5007.1",
        "contentSize": "43909 B", "encodingFormat": "jpeg", "hostPageDisplayUrl":
        "abcnews.go.com\/blogs\/politics\/2012\/11\/bo-the-dog-inspects-white...",
        "width": 478, "height": 269, "thumbnail": {"width": 300, "height": 168}, "imageInsightsToken":
        "ccid_jzEymDu0*mid_EB5364FB33186E2C939CCFE996FA9B12AB9D501D*simid_608047820232524208",
        "insightsSourcesSummary": {"shoppingSourcesCount": 0, "recipeSourcesCount":
        0}, "imageId": "EB5364FB33186E2C939CCFE996FA9B12AB9D501D", "accentColor":
        "BF0C33"}, {"name": "White House Tweets ''Mean Girls'' Joke About Bo The Dog
        - ABC News", "webSearchUrl": "https:\/\/www.bing.com\/cr?IG=1E58254518FA4804BCF2A678EB19CE36&CID=1A467CDD34AB61561A85764435AD60EB&rd=1&h=hl_YNZO2RX7JxpqQLeM1_dxzM7zEjTW3ou_ub0g_7Hg&v=1&r=https%3a%2f%2fwww.bing.com%2fimages%2fsearch%3fview%3ddetailv2%26FORM%3dOIIRPO%26q%3dwhitehouse%2bdog%26id%3dF88D11BD89CBC7F62AB63F062BC76BEF395DF7C1%26simid%3d608037529475288893&p=DevEx,5012.1",
        "thumbnailUrl":[...]
