---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/images/search?count=10&mkt=en-US&offset=20&q=whitehouse%20dog&safeSearch=Moderate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 398A2F5335BF4023981AA4F44D31D392
      X-Msedge-Clientid:
      - 1645B661B0C56E1E1345BC58B1F46FF0
      X-Msapi-Userstate:
      - 7ee2
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=7D7A3229109F451DAF6FEBBDC631FD48&CID=1645B661B0C56E1E1345BC58B1F46FF0&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/cr?IG=7D7A3229109F451DAF6FEBBDC631FD48&CID=1645B661B0C56E1E1345BC58B1F46FF0&rd=1&h=h2ZyAgxAOdpUnjsDIODg8u95MGU74c47mEUoW61mXtA&v=1&r=https%3a%2f%2fwww.bing.com%2fimages%2fsearch%3fq%3dwhitehouse%2520dog%26FORM%3dOIIARP&p=DevEx,5107.1",
        "totalEstimatedMatches": 125, "value": [{"name": "The White House Debuts The
        Obamas'' New Dog Bo, A Portuguese Water Dog ...", "webSearchUrl": "https:\/\/www.bing.com\/cr?IG=7D7A3229109F451DAF6FEBBDC631FD48&CID=1645B661B0C56E1E1345BC58B1F46FF0&rd=1&h=gvhyyI6V9j-A7QYYvkgukP2jSZfjWin3BLXqT6FSIJc&v=1&r=https%3a%2f%2fwww.bing.com%2fimages%2fsearch%3fview%3ddetailv2%26FORM%3dOIIRPO%26q%3dwhitehouse%2bdog%26id%3dA14115E48907CB226A55E2BE65EF8C5CCE893086%26simid%3d608002005672592401&p=DevEx,5006.1",
        "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.GTGSM8IWr6vGT7s3i_bvsgEsDj&pid=Api",
        "datePublished": "2017-02-10T01:35:00", "contentUrl": "http:\/\/www.bing.com\/cr?IG=7D7A3229109F451DAF6FEBBDC631FD48&CID=1645B661B0C56E1E1345BC58B1F46FF0&rd=1&h=hqK8m0L_llpxNB-ZI_BgJ68yakVI13TjSthML--MK40&v=1&r=http%3a%2f%2fwww4.pictures.gi.zimbio.com%2fWhite%2bHouse%2bDebuts%2bObamas%2bNew%2bDog%2bBo%2bPortuguese%2brbULiMGOnItl.jpg&p=DevEx,5008.1",
        "hostPageUrl": "http:\/\/www.bing.com\/cr?IG=7D7A3229109F451DAF6FEBBDC631FD48&CID=1645B661B0C56E1E1345BC58B1F46FF0&rd=1&h=jBvAOtUxRdz5gAFXuwXEBp-CHAIfEolyUVQpHLra9aw&v=1&r=http%3a%2f%2fwww.zimbio.com%2fpictures%2fM9meu3FVGsk%2fWhite%2bHouse%2bDebuts%2bObamas%2bNew%2bDog%2bBo%2bPortuguese%2frbULiMGOnIt&p=DevEx,5007.1",
        "contentSize": "94497 B", "encodingFormat": "jpeg", "hostPageDisplayUrl":
        "www.zimbio.com\/pictures\/M9meu3FVGsk\/White+House+Debuts+Obamas+New...",
        "width": 594, "height": 450, "thumbnail": {"width": 300, "height": 227}, "imageInsightsToken":
        "ccid_GTGSM8IW*mid_A14115E48907CB226A55E2BE65EF8C5CCE893086*simid_608002005672592401",
        "insightsSourcesSummary": {"shoppingSourcesCount": 0, "recipeSourcesCount":
        0}, "imageId": "A14115E48907CB226A55E2BE65EF8C5CCE893086", "accentColor":
        "084381"}, {"name": "... dogs Barney and Miss Beazley, arrives on the South
        Lawn of the White", "webSearchUrl": "https:\/\/www.bing.com\/cr?IG=7D7A3229109F451DAF6FEBBDC631FD48&CID=1645B661B0C56E1E1345BC58B1F46FF0&rd=1&h=EGsb1zffcZ21VwbXUvoWMPLjmcowMv2BQZzK7HPSvcc&v=1&r=https%3a%2f%2fwww.bing.com%2fimages%2fsearch%3fview%3ddetailv2%26FORM%3dOIIRPO%26q%3dwhitehouse%2bdog%26id%3d002656DA9F6E5B2747A0B622476F685897F2EB32%26simid%3d608006313510309619&p=DevEx,5012.1",
        "thumbnai[...]
