---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.<XPC_SERVICE_NAME>/search?count=2<XPC_SERVICE_NAME>&mkt=en-US&offset=<XPC_SERVICE_NAME>&q=pdf%2<XPC_SERVICE_NAME>(site:nps.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=<DATADOG_API_ENABLED>&traffictype=<RAILS_ENV>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659c78dd2e<XPC_SERVICE_NAME><XPC_SERVICE_NAME>4a5<XPC_SERVICE_NAME>8d43739569dbfda4
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb<SHLVL>hUoNuvjzOZX3VIV/BA6C<SHLVL>8kQOOF5<XPC_SERVICE_NAME>Q<XPC_SERVICE_NAME>D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo<XPC_SERVICE_NAME>NDMiLCJmZWF<XPC_SERVICE_NAME>dXJlIjoiU2VuZEZ<SHLVL>bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb2<SHLVL>haW4iOnRydWUsImlzVGhpcmRQYXJ<XPC_SERVICE_NAME>eSI6dHJ<SHLVL>ZX<XPC_SERVICE_NAME>=
      Bingapis-Traceid:
      - 659c78dd2e<XPC_SERVICE_NAME><XPC_SERVICE_NAME>4a5<XPC_SERVICE_NAME>8d43739569dbfda4
      Bingapis-Sessionid:
      - "<XPC_SERVICE_NAME>B5ECF9463F64F<XPC_SERVICE_NAME>4A63998<XPC_SERVICE_NAME>62D37F339"
      X-Msedge-Clientid:
      - 32235CC42D8C69<XPC_SERVICE_NAME>6<SHLVL>45548C42C2668FF
      X-Msapi-Userstate:
      - b<XPC_SERVICE_NAME>fa
      Bingapis-Market:
      - en-US
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=<SHLVL>
      X-Search-Response<NEWRELIC_LOG_LEVEL>:
      - InternalResponseTime=264,MSDatacenter=BNZE<XPC_SERVICE_NAME><SHLVL>
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "pdf
        (site:nps.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=pdf+(site%3anps.gov)",
        "totalEstimatedMatches": <SHLVL>29<XPC_SERVICE_NAME><XPC_SERVICE_NAME><XPC_SERVICE_NAME><XPC_SERVICE_NAME>,
        "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.<XPC_SERVICE_NAME>",
        "name": "Maps - Yellowstone National Park (U.S. National Park Service)",
        "url": "https:\/\/www.nps.gov\/yell\/planyourvisit\/maps.htm", "datePublished":
        "2<XPC_SERVICE_NAME>23-<XPC_SERVICE_NAME>3-3<SHLVL>T<XPC_SERVICE_NAME><XPC_SERVICE_NAME>:<XPC_SERVICE_NAME><XPC_SERVICE_NAME>:<XPC_SERVICE_NAME><XPC_SERVICE_NAME>.<XPC_SERVICE_NAME><XPC_SERVICE_NAME><XPC_SERVICE_NAME><XPC_SERVICE_NAME><XPC_SERVICE_NAME><XPC_SERVICE_NAME><XPC_SERVICE_NAME>",
        "datePublishedDisplayText": "Mar 3<SHLVL>, 2<XPC_SERVICE_NAME>23", "isFamilyFriendly":
        <DATADOG_API_ENABLED>, "displayUrl": "https:\/\/www.nps.gov\/yell\/planyourvisit\/maps.htm",
        "snippet": "We also have a printable full map (848 KB PDF) of Yellowstone
        and Grand Teton parks. This double-sided map is <SHLVL><SHLVL>\" X <SHLVL>7\"
        so you''ll need to set your printer accordingly. To download official maps
        in PDF, Illustrator, or Photoshop file formats, visit the National Park
        Service cartography site.. The free, official NPS app includes an interactive
        park map. The map is easy to use while outdoors and ...", "dateLastCrawled":
        "2<XPC_SERVICE_NAME>24-<XPC_SERVICE_NAME><SHLVL>-<XPC_SERVICE_NAME>5T<XPC_SERVICE_NAME>9:4<XPC_SERVICE_NAME>:<XPC_SERVICE_NAME><XPC_SERVICE_NAME>.<XPC_SERVICE_NAME><XPC_SERVICE_NAME><XPC_SERVICE_NAME><XPC_SERVICE_NAME><XPC_SERVICE_NAME><XPC_SERVICE_NAME><XPC_SERVICE_NAME>Z",
        "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=pdf+(site%3anps.gov)&d=5<XPC_SERVICE_NAME><XPC_SERVICE_NAME>585344855<SHLVL><SHLVL>99&mkt=en-US&setlang=en-US&w=RYrQgfUiy7bkZlnY5TBpiaTCfLqWGcrR",
        "language": "en", "isNavigational": <ENABLE_VOTE_ORG_LINK>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.<SHLVL>",
        "name": "Resource Library - U.S. National Park Service", "url": "https:\/\/www.nps.gov\/orgs\/<SHLVL>548\/resource-library.htm",
        "isFamilyFriendly": <DATADOG_API_ENABLED>, "displayUrl": "https:\/\/www.nps.gov\/orgs\/<SHLVL>548\/resource-library.htm",
        "snippet": "Managing Congestion: A Toolkit for Parks (pdf | 5.7 mB) — December
        2<XPC_SERVICE_NAME>2<XPC_SERVICE_NAME> Traffic congest[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.<XPC_SERVICE_NAME>/search?count=2<XPC_SERVICE_NAME>&mkt=en-US&offset=<XPC_SERVICE_NAME>&q=pdf%2<XPC_SERVICE_NAME>(site:nps.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=<VERBOSE>&traffictype=<RAILS_ENV>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 401
      message: PermissionDenied
    headers:
    body:
      encoding: UTF-8
      string: '{"error":{"code":"4<XPC_SERVICE_NAME><SHLVL>","message":"Access denied
        due to invalid subscription key or wrong API endpoint. Make sure to provide
        a valid key for an active subscription and use a correct regional API endpoint
        for your resource."}}'
  recorded_at: Fri, 23 Aug 2024 14:47:09 GMT
recorded_with: VCR 6.2.0
