---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=pdf%20(site:nps.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=<DATADOG_API_ENABLED>&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659c78dd2e004a508d43739569dbfda4
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659c78dd2e004a508d43739569dbfda4
      Bingapis-Sessionid:
      - 0B5ECF9463F64F04A63998062D37F339
      X-Msedge-Clientid:
      - 32235CC42D8C6906145548C42C2668FF
      X-Msapi-Userstate:
      - b0fa
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=264,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "pdf
        (site:nps.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=pdf+(site%3anps.gov)",
        "totalEstimatedMatches": 1290000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Maps - Yellowstone National Park (U.S. National Park Service)",
        "url": "https:\/\/www.nps.gov\/yell\/planyourvisit\/maps.htm", "datePublished":
        "2023-03-31T00:00:00.0000000", "datePublishedDisplayText": "Mar 31, 2023",
        "isFamilyFriendly": <DATADOG_API_ENABLED>, "displayUrl": "https:\/\/www.nps.gov\/yell\/planyourvisit\/maps.htm",
        "snippet": "We also have a printable full map (848 KB PDF) of Yellowstone
        and Grand Teton parks. This double-sided map is 11\" X 17\" so you''ll need
        to set your printer accordingly. To download official maps in PDF, Illustrator,
        or Photoshop file formats, visit the National Park Service cartography site..
        The free, official NPS app includes an interactive park map. The map is easy
        to use while outdoors and ...", "dateLastCrawled": "2024-01-05T09:40:00.0000000Z",
        "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=pdf+(site%3anps.gov)&d=5005853448551199&mkt=en-US&setlang=en-US&w=RYrQgfUiy7bkZlnY5TBpiaTCfLqWGcrR",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Resource Library - U.S. National Park Service", "url": "https:\/\/www.nps.gov\/orgs\/1548\/resource-library.htm",
        "isFamilyFriendly": <DATADOG_API_ENABLED>, "displayUrl": "https:\/\/www.nps.gov\/orgs\/1548\/resource-library.htm",
        "snippet": "Managing Congestion: A Toolkit for Parks (pdf | 5.7 mB) — December
        2020 Traffic congestion and visitor use patterns are evolving at n[...]
