---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=pdf%20(site:nps.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 0AE3598CF81443C09856CCFD616B9DEA
      Bingapis-Sessionid:
      - 122A1B80A9DC4D6FA5A4A5B32110A0FB
      X-Msedge-Clientid:
      - 073600BB48A96C4B03AB101F49BB6D42
      X-Msapi-Userstate:
      - e84e
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=315,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "pdf
        (site:nps.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=pdf+(site%3anps.gov)",
        "totalEstimatedMatches": 985000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Grand Canyon National Park 2020 Park Profile", "url": "https:\/\/www.nps.gov\/grca\/learn\/management\/upload\/2020-Park-Profile-508.pdf",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.nps.gov\/grca\/learn\/management\/upload\/2020-Park-Profile-508.pdf",
        "snippet": "2and Canyon National Park Gr Park Profile Geology Grand Canyon
        National Park preserves an iconic . geologic landscape and resources ranging
        from 1,840 to . 270 million years old, including diverse paleontological",
        "dateLastCrawled": "2021-08-30T18:30:00.0000000Z", "language": "en", "isNavigational":
        false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Chapter 3: Cataloging", "url": "https:\/\/www.nps.gov\/museum\/publications\/MHII\/mh2ch3.pdf",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.nps.gov\/museum\/publications\/MHII\/mh2ch3.pdf",
        "snippet": "NPS Museum Handbook, Part II (2000) 3:1 CHAPTER 3: CATALOGING
        A. Overview 1. What is cataloging? For National Park Service (NPS) museum
        collections[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=pdf%20(site:nps.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 3F6F3329E09644ADB58EE5B908A153BF
      Bingapis-Sessionid:
      - 3746A8D8AFDB4802B36A6180C2023A51
      X-Msedge-Clientid:
      - 2FDD13059FDD6799042503CD9E206603
      X-Msapi-Userstate:
      - 50df
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=229[...]
