---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 433717B32CB94242B0D91C75449346A6
      X-Msedge-Clientid:
      - 2164262DB37D680D344A2DB3B298695D
      X-Msapi-Userstate:
      - bce5
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=7BF10E53876C46CCBBCBA4E3112F5CC5&CID=2164262DB37D680D344A2DB3B298695D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=7BF10E53876C46CCBBCBA4E3112F5CC5&CID=2164262DB37D680D344A2DB3B298695D&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 22 Feb 2018 07:08:45 GMT
recorded_with: VCR 4.0.0
