---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E31F320EB05D4600B30002F83CE81E9C
      X-Msedge-Clientid:
      - 3C0825C98A986E5217722F768B0F6F49
      X-Msapi-Userstate:
      - 3a12
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A7C853B173DA4C7B834B67A313E3680E&CID=3C0825C98A986E5217722F768B0F6F49&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A7C853B173DA4C7B834B67A313E3680E&CID=3C0825C98A986E5217722F768B0F6F49&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Fri, 14 Jul 2017 16:22:52 GMT
recorded_with: VCR 3.0.3
