---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 95E80FCE375741CC982C0BC586339172
      X-Msedge-Clientid:
      - 3E31D11190466D650210DB8891D16CF7
      X-Msapi-Userstate:
      - 3b8b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=78A4812B68D840F39E9682E29D4E6B81&CID=3E31D11190466D650210DB8891D16CF7&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=78A4812B68D840F39E9682E29D4E6B81&CID=3E31D11190466D650210DB8891D16CF7&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 06 Jun 2017 23:01:06 GMT
recorded_with: VCR 3.0.3
