---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - '078454AD1EA34547AC448196CAB1C240'
      Bingapis-Sessionid:
      - C433645B26E8407EA0DABD95B0E38523
      X-Msedge-Clientid:
      - '08834E6FDAA26B2E20695ECBDB5F6A0C'
      X-Msapi-Userstate:
      - '4204'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=135,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "english
        (site:nonsense.gov)"}, "rankingResponse": {}}'
  recorded_at: Tue, 31 Aug 2021 20:30:53 GMT
recorded_with: VCR 4.0.0
