---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - '078454AD1EA34547AC448196CAB1C240'
      Bingapis-Sessionid:
      - C433645B26E8407EA0DABD95B0E38523
      X-Msedge-Clientid:
      - '08834E6FDAA26B2E20695ECBDB5F6A0C'
      X-Msapi-Userstate:
      - '4204'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=135,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "english
        (site:nonsense.gov)"}, "rankingResponse": {}}'
  recorded_at: Tue, 31 Aug 2021 20:30:53 GMT
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 9F2666E7F27045EB9F40FE01B8B27757
      Bingapis-Sessionid:
      - F5FCE452D8604A56A0EE25166C012F8A
      X-Msedge-Clientid:
      - 3072B3B7B71C60840B6FA37FB65361C0
      X-Msapi-Userstate:
      - 1fa8
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=94,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "english
        (site:nonsense.gov)"}, "rankingResponse": {}}'
  recorded_at: Wed, 06 Oct 2021 04:35:56 GMT
recorded_with: VCR 6.0.0
