---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 8460B0CB4E6446999C61AF6C93DE5460
      Bingapis-Sessionid:
      - BC8C663EB5784831905C29A08B876FC6
      X-Msedge-Clientid:
      - 1BBAB6234D666FAC2C43A6874C296E1D
      X-Msapi-Userstate:
      - bc8f
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=179,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "english
        (site:nonsense.gov)"}, "rankingResponse": {}}'
  recorded_at: Tue, 31 Aug 2021 20:30:45 GMT
recorded_with: VCR 4.0.0
