---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6446FB664C5547EA866A988D9D8F8308
      X-Msedge-Clientid:
      - 108B462ADD0366501F044C13DC94674B
      X-Msapi-Userstate:
      - 9ac7
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=3E7AF6DFF5AB418F99A4DA10556FDE0E&CID=108B462ADD0366501F044C13DC94674B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=3E7AF6DFF5AB418F99A4DA10556FDE0E&CID=108B462ADD0366501F044C13DC94674B&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 02 Mar 2017 19:53:55 GMT
recorded_with: VCR 3.0.3
