---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 294BE5924F3943D2B8B7D5ECF5E885F0
      X-Msedge-Clientid:
      - 123DF2DFB1B467B31910F8EEB08566F6
      X-Msapi-Userstate:
      - b18f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=027C07D536014A06BFE8DC597B29FB46&CID=123DF2DFB1B467B31910F8EEB08566F6&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=027C07D536014A06BFE8DC597B29FB46&CID=123DF2DFB1B467B31910F8EEB08566F6&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 22 Feb 2017 21:46:20 GMT
recorded_with: VCR 3.0.3
