---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D3AF7EC7848440379A5D8B8191F9DBB5
      X-Msedge-Clientid:
      - 3A4AA7BB3AB36A93009BAC3D3B1C6B8E
      X-Msapi-Userstate:
      - 90bb
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=92D76D28BE60400C8D28F0FCDC35E72C&CID=3A4AA7BB3AB36A93009BAC3D3B1C6B8E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=92D76D28BE60400C8D28F0FCDC35E72C&CID=3A4AA7BB3AB36A93009BAC3D3B1C6B8E&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 29 Jan 2018 19:04:30 GMT
recorded_with: VCR 3.0.3
