---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 118D44D4E8CE41FEBCA8E5C2BEF9D898
      X-Msedge-Clientid:
      - 200D3518EB2E6F751A343F7AEAB96E9A
      X-Msapi-Userstate:
      - c877
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8C9DB158E1D4471DA6397CF88C8BDA4B&CID=200D3518EB2E6F751A343F7AEAB96E9A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8C9DB158E1D4471DA6397CF88C8BDA4B&CID=200D3518EB2E6F751A343F7AEAB96E9A&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 12 Apr 2017 20:43:12 GMT
recorded_with: VCR 3.0.3
