---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 62C83541FBB24E75A37D91F0DF6B70CB
      X-Msedge-Clientid:
      - 2A6AA40147FA6B42160CA85946F56A7C
      X-Msapi-Userstate:
      - '6831'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9A2076305239416B84EB30E4E3A62986&CID=2A6AA40147FA6B42160CA85946F56A7C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9A2076305239416B84EB30E4E3A62986&CID=2A6AA40147FA6B42160CA85946F56A7C&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 27 Aug 2018 00:04:44 GMT
recorded_with: VCR 4.0.0
