---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A1B0C4AB0B5A4681A4D785A8F8CB3280
      X-Msedge-Clientid:
      - 3BFA275BB9DE69B816F32CD0B8716854
      X-Msapi-Userstate:
      - 01c7
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=48C4638BCBF742BEB2374F99BB52AC3C&CID=3BFA275BB9DE69B816F32CD0B8716854&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=48C4638BCBF742BEB2374F99BB52AC3C&CID=3BFA275BB9DE69B816F32CD0B8716854&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Sat, 03 Feb 2018 23:31:27 GMT
recorded_with: VCR 4.0.0
