---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C74E58AB4CCF48BF8E7163307B973283
      X-Msedge-Clientid:
      - 16A8216ACD9C68A5296E2B53CC0B6905
      X-Msapi-Userstate:
      - '0703'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E562EA1AC4354B488A22A48F396B1BC5&CID=16A8216ACD9C68A5296E2B53CC0B6905&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E562EA1AC4354B488A22A48F396B1BC5&CID=16A8216ACD9C68A5296E2B53CC0B6905&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 02 Mar 2017 19:53:54 GMT
recorded_with: VCR 3.0.3
