---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F04C10C0663B4040AC7636D2E19AEFEE
      X-Msedge-Clientid:
      - 34BCA02AAF9066E81720AA10AE07670B
      X-Msapi-Userstate:
      - 686e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5F0E467327CC448BBE8B8A04F8DB1A6F&CID=34BCA02AAF9066E81720AA10AE07670B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5F0E467327CC448BBE8B8A04F8DB1A6F&CID=34BCA02AAF9066E81720AA10AE07670B&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Fri, 03 Mar 2017 23:47:08 GMT
recorded_with: VCR 3.0.3
