---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6B96E55F10B44D60838967C4B55DCAF3
      X-Msedge-Clientid:
      - 18D98EBD067A65C2020B853B07D564D3
      X-Msapi-Userstate:
      - ca94
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=11FE1476FE31437D9474DE5C4C4E89C1&CID=18D98EBD067A65C2020B853B07D564D3&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=11FE1476FE31437D9474DE5C4C4E89C1&CID=18D98EBD067A65C2020B853B07D564D3&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 29 Jan 2018 19:04:29 GMT
recorded_with: VCR 3.0.3
