---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 19C3DD91091547A88E3A0F6AD21CF147
      X-Msedge-Clientid:
      - 21DFAEBC5BD96B9F35B8A5FB5A4E6A91
      X-Msapi-Userstate:
      - a85b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1D46B903853F4635BBBA676F64198EAF&CID=21DFAEBC5BD96B9F35B8A5FB5A4E6A91&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1D46B903853F4635BBBA676F64198EAF&CID=21DFAEBC5BD96B9F35B8A5FB5A4E6A91&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 27 Nov 2017 17:53:10 GMT
recorded_with: VCR 3.0.3
