---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 466FD629F4DD4A8F8351B5FBA2376374
      X-Msedge-Clientid:
      - 2F9EE55DF82F68870979EF9EF9B8691F
      X-Msapi-Userstate:
      - ad2f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=EEF5A7AE8F3840B5A59539F449A13971&CID=2F9EE55DF82F68870979EF9EF9B8691F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=EEF5A7AE8F3840B5A59539F449A13971&CID=2F9EE55DF82F68870979EF9EF9B8691F&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 18 Jul 2017 17:49:01 GMT
recorded_with: VCR 3.0.3
