---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B27DB812283A4FCEB36A5C0C314609D0
      X-Msedge-Clientid:
      - 02AECFB8646E6937178CC4B965F968B2
      X-Msapi-Userstate:
      - 1ee4
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5331443D7D594E9B90048E666644F650&CID=02AECFB8646E6937178CC4B965F968B2&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5331443D7D594E9B90048E666644F650&CID=02AECFB8646E6937178CC4B965F968B2&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 18 Sep 2017 19:52:09 GMT
recorded_with: VCR 3.0.3
