---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4F1D547ED14249318188156E8943DF51
      X-Msedge-Clientid:
      - 12760ED2F30769A1013B0595F2906816
      X-Msapi-Userstate:
      - '4149'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=488319ED90FF4B71BFF3C5EB5F256297&CID=12760ED2F30769A1013B0595F2906816&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=488319ED90FF4B71BFF3C5EB5F256297&CID=12760ED2F30769A1013B0595F2906816&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 27 Nov 2017 17:53:09 GMT
recorded_with: VCR 3.0.3
