---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 07D9B0529EC347368F67C9CFB62234BC
      X-Msedge-Clientid:
      - 38BAC4E17C1662BA2858C8B97D196316
      X-Msapi-Userstate:
      - add1
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=0EBB033E2D9D48D9A6FD2C909C81A8F6&CID=38BAC4E17C1662BA2858C8B97D196316&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=0EBB033E2D9D48D9A6FD2C909C81A8F6&CID=38BAC4E17C1662BA2858C8B97D196316&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 27 Aug 2018 00:04:43 GMT
recorded_with: VCR 4.0.0
