body, div, p, h1, h2, h3, a, span, ul, li {
    margin: 0;
    padding: 0;
    border: #ffffff none 0;
    font-weight: normal;
}

.center {
    text-align: center;
}

.links {
    color: green;
}

#recalls {
  background: LightBlue;
}
