body, div, p, h1, h2, h3, a, span, ul, li {
    margin: 0;
    padding: 0;
    border: #ffffff none 0;
    font-weight: normal;
}

.center {
    text-align: center;
}

.links {
    color: green;
}

#recalls {
  background: LightBlue;
}

#relatedsearch {
  padding: 0.5em 1em;
  font-size: 0.8em;
}

#relatedsearch ul {
  list-style-type: none;
}

table.deep_links {
  font-size: 0.8em;
  width: 100%;
}

table.deep_links td {
  vertical-align: top;
}
