#logoSmall
{
  float: left;
  height: 25px;
  padding: 3px;
}

#searchHome{
  padding:0 10px 25px 10px;
  width: 290px;
}

.search{
  border: none;
  background-image: none;
  height: auto;
  margin: 0;
}

.searchBoxContainer{
  padding: 0 10px;
  width: 290px;
}

  .dvSearchClose {
    display: none;
  }

  .dvSearchClose.results {
    display: none;
  }

  .dvSearchClose img{
    display: none;
  }

    .mobileSearchTextBox{
      background-image: none;
      border: 1px solid #ccc;
      height: 30px;
      padding: 0 0 0 2px;
      width: 256px;
    }

    .mobileSearchTextBoxResultsPage{
      background-image: none;
      background-color: #fff;
      border: 1px solid #ccc;
      height: 30px;
      padding: 0 0 0 2px;
      width: 256px;
    }

  .dvSearchBtn{
    border: none;
    float: right;
    height: 32px;
    margin: 0;
    width: 37px;
  }

  .navHeader{
    background: none;
    border: solid 1px #ccc;
    width: 272px;
  }

  .navFooter{
    background: none;
    border: solid 1px #ccc;
    border-top: none;
    width: 260px;
  }
  
  .topresults{
    margin: -7px 0 0 0;
  }