h1 {
    font-size: 1em;
    color: #4c566c;
}

div.group {
    width: 100%;
    margin: 17px 10px 17px 10px;
}

hr {
    width: 100%;
}

div.row {
    width: 100%;
    padding: 5px 10px 5px 10px;
}

h1, h2, h3 {
    font-weight: normal;
}

img {
  border-style: none;
  border: 0;
}
