body, html, div, span, img, p, h1, h2, h3 {
    background: none;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: #c5ccd3;
    font-family: "Helvetica", sans-serif;
    font-size: 17px;
    font-weight: normal;
    word-wrap: break-word;
    padding-bottom: 17px;
}

#logo {
  text-align: center;
}

#logo img {
  padding: 5px 0;
}

a {
  color: #336699;
  text-decoration: none;
}

hr {
    display: none;
}

h1 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    padding: 0 10px 0 10px;
    font-size: 17px;
    color: #4c566c;
}

h2 {
  margin: 0;
  color: #785629;
}

div.group {
    background: #fff;
    -webkit-border-radius: 8px;
    margin: 17px 10px 17px 10px;
}

div.row {
    border-bottom: solid 1px #d8d8d8;
    padding: 17px 10px 17px 10px;
}

div.row .summary, div.row .links {
    font-size: 17px;
}

div.row h3 {
    margin-top: 0;
    color: #336699;
    font-weight: normal;
}

div.group > div.row:last-child {
    border: none;
}

input {
    height: 30px;
}

table {
    font-size: 0.5em;
}

p, h1, h2, h3, table {
    margin: 10px 0 10px 0;
}

.row h1 {
    padding: 0;
}

div.auto_complete ul li {
  text-align: left
}

a.arrow {
  padding-right: 30px;
  background: url(/m/i/iPhoneArrow.png) top right no-repeat;
}
