---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)%20(-site:www.usa.gov%20AND%20-site:kids.usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4C712238CF674926B80FFA7A56AA4A28
      X-Msedge-Clientid:
      - 0746BEA37E4364DD1C94B2437F9465BF
      X-Msapi-Userstate:
      - '3332'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E8F94D51EB6D4E879FF31B82E1DF37C5&CID=0746BEA37E4364DD1C94B2437F9465BF&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E8F94D51EB6D4E879FF31B82E1DF37C5&CID=0746BEA37E4364DD1C94B2437F9465BF&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 10 Jan 2019 19:56:41 GMT
recorded_with: VCR 4.0.0
