= content_for_site_page_title @site, 'Edit Alert'
= form_for @alert, url: { action: :update }, html: { class: 'form' }  do |form|
  .sub-nav-heading
    %h2 Update Alert
    .action-bar
      %ul
        %li= form.submit 'Save', class: 'btn submit disabled', disabled: true
  = render form
