%li.required= form.label date_method, date_label
%li.input-append.calendar
  %div= form.date_picker_field date_method,
    'data-date-start-date' => @analytics_settings[:range].min.strftime('%m/%d/%Y'),
    'data-date-end-date' => @analytics_settings[:range].max.strftime('%m/%d/%Y'), value: value
  %span.add-on.add-on-icon
    %i.fa.fa-calendar-black.fa-2x
