.main-nav-info
  .title Dashboard
%ul.nav.nav-list
  %li{ site_nav_css_class_hash('sites') }= link_to 'Site Overview', site_path(@site)
  %li{ site_nav_css_class_hash('users') }= link_to 'Manage Users', site_users_path(@site)
  %li{ site_nav_css_class_hash('settings') }= link_to 'Settings', edit_site_setting_path(@site)

