%li#advanced-menu.dropdown
  = link_to '#advanced-menu', data: { toggle: 'dropdown' } do
    Advanced
    %i.icon-caret-down
  %ul.dropdown-menu
    %li= link_to 'Supplemental Feed', edit_site_supplemental_feed_path(@site)
    %li= link_to 'Supplemental URLs', site_supplemental_urls_path(@site)
    %li= link_to 'Filter URLs', site_filter_urls_path(@site)
