.site-header-inactive{"aria-label" => "Inactive affiliate notification"}
  .usa-banner__content
    %p.usa-banner__header-text
      This site is inactive. Please contact search@gsa.gov if you need to reactivate it.
        
