%section.usa-banner{"aria-label" => "Inactive affiliate notification"}
  .usa-alert.usa-alert--info.usa-alert--slim
    .usa-alert__body
      %p.usa-alert__text
        Lorem ipsum dolor sit amet,
        %a.usa-link{href: "javascript:void(0);"} consectetur adipiscing
        elit, sed do eiusmod.
