.main-nav-info
  .title Manage Content
%ul.nav.nav-list
  %li{ site_nav_css_class_hash('contents') }= link_to 'Content Overview', site_content_path(@site)
  %li{ site_nav_css_class_hash('domains') }= link_to 'Domains', site_domains_path(@site)
  %li{ site_nav_css_class_hash('twitter_handles') }= link_to 'Twitter', site_twitter_handles_path(@site)
  %li{ site_nav_css_class_hash('flickr_urls') }= link_to 'Flickr', site_flickr_urls_path(@site)
