.main-nav-info
  .title Add a New Site
  .description
    %p
      Warning:
    %p
      Once this site is added, the handle and language fields cannot be edited without contacting Search.gov.
    %p
      Please select carefully. Thank you.
