.l-site-header
  .l-site-header-inner
    %h1 Admin Center
    - unless @site.new_record?
      .site-display-name
        %span Display Name:
        #{@site.display_name} (#{@site.name})
        = site_pin @site
