.l-site-header
  .l-site-header-inner
    - unless @site.nil? || @site.new_record?
      .site-display-name
        %span.label Display Name:
        #{@site.display_name} (#{@site.name})
        = site_pin @site
        = filtered_analytics_toggle current_user
