%p
  Set up an alert to be notified if the results page for a query with significant traffic is not getting many clicks.
  The form below lets you tell Search.gov: "Check every # minutes/hours/days/weeks if search activity for a
  given term (queries and clicks) has been higher than # touches, but is reporting a CTR of lower than # %, over the
  last # minutes/hours/days/weeks. After you send me an alert, wait at least # minutes/hours/days/weeks. Also, ignore
  the following queries in this alert check."