%p
  Set up an alert to be notified if queries are getting significant traffic, but returning no results. The form below
  lets you tell Search.gov: "Check every # minutes/hours/days/weeks if a search has been run more than # times,
  over the last # minutes/hours/days/weeks. After you send me an alert, wait at least # minutes/hours/days/weeks.
  Also, ignore the following queries in this alert check."
