= form.label :search_click_total, 'Minimum search activity level (queries + clicks)', class: 'required'
= form.text_field :search_click_total, value: watcher.search_click_total, class: 'required'
= form.label :low_ctr_threshold, 'Maximum CTR for alert', class: 'required'
= form.text_field :low_ctr_threshold, value: watcher.low_ctr_threshold, class: 'required'
