= form.label :low_ctr_threshold, 'Low Clickthru Rate Threshold', class: 'required'
= form.text_field :low_ctr_threshold, value: watcher.low_ctr_threshold, class: 'required'
= form.label :search_click_total, 'Search+Click Count', class: 'required'
= form.text_field :search_click_total, value: watcher.search_click_total, class: 'required'
