---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2054801CB169441B8FF25040C277AA48
      X-Msedge-Clientid:
      - 169D429C10AC65000161485F113B642B
      X-Msapi-Userstate:
      - eaca
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=08F18865C0C84A0CBB0346ECE97E9171&CID=169D429C10AC65000161485F113B642B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=08F18865C0C84A0CBB0346ECE97E9171&CID=169D429C10AC65000161485F113B642B&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=white%20house%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5183.1", "totalEstimatedMatches": 114, "nextOffset":
        23, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=4373F89AD8BB10D7D18C8A7C23B73C9FC20FF1D7&simid=608042649172641790",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "White House Event", "thumbnailUrl":
        "https:\/\/tse4.mm.bing.net\/th?id=OIP.BnzO6kLvIXSTZRqBQT78HQEsDG&pid=Api",
        "datePublished": "2015-02-05T22:31:00.0000000Z", "contentUrl": "http:\/\/www.cdc.gov\/globalhealth\/security\/images\/white-house.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/www.cdc.gov\/globalhealth\/security\/",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "6576460 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.cdc.gov\/globalhealth\/security", "width":
        3613, "height": 2394, "thumbnail": {"width": 300, "height": 198}, "imageInsightsToken":
        "ccid_BnzO6kLv*mid_4373F89AD8BB10D7D18C8A7C23B73C9FC20FF1D7*simid_608042649172641790",
        "insightsMetadata": {"shoppingSourcesCount": 1, "recipeSourcesCount": 0, "aggregateOffer":
        {"name": "MapGuide: Washington D.C", "offerCount": 1}}, "imageId": "4373F89AD8BB10D7D18C8A7C23B73C9FC20FF1D7",
        "accentColor": "74321C"}, {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=53513FFBBEDEC470783865243FEA492C91409850&simid=608012206448837925",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "The White House | whitehouse.gov",
        "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.vzp7BjqnK_hE5tLUCB2qmAFZC1&pid=Api",
        "datePublished": "2017-05-16T19:23:00.0000000Z", "contentUrl": "https:\/\/www.whitehouse.go[...]
