---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=white%20house%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3BAF0CB34D094C9CB0543F9C6F11077B
      X-Msedge-Clientid:
      - 3BD326C9490C6D570C852A9148036C4F
      X-Msapi-Userstate:
      - b707
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=16F05D22A3A04C8F996026FDD715C95A&CID=3BD326C9490C6D570C852A9148036C4F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=16F05D22A3A04C8F996026FDD715C95A&CID=3BD326C9490C6D570C852A9148036C4F&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=white%20house%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5188.1", "totalEstimatedMatches": 113, "nextOffset":
        24, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=6D2D34DDA3F04CE3C814637ACBFF850188969934&simid=608025616224682672",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "About The White House",
        "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.vWpSQJSzVJ9lks69e2kbpAHaCx&pid=Api",
        "datePublished": "2017-12-14T22:10:00.0000000Z", "contentUrl": "https:\/\/www.whitehouse.gov\/wp-content\/uploads\/2017\/12\/P20170614JB-0303-2-1920x720.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house\/",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "357656 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house",
        "width": 1920, "height": 720, "thumbnail": {"width": 474, "height": 177},
        "imageInsightsToken": "ccid_vWpSQJSz*mid_6D2D34DDA3F04CE3C814637ACBFF850188969934*simid_608025616224682672",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "6D2D34DDA3F04CE3C814637ACBFF850188969934", "accentColor": "B11A26"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=285BA47D1A40AEB18B9F66503B36C7C93F5B548D&simid=608046764640831454",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "The White House Tour -
        President''s Park (White House) (U.S. National Park Service)", "thumbnailUrl":
        "https:\/\/tse1.mm.bing.net\/th?id=OIP.9O7d-rdPAXU9rhlolwb1AgHaEj&pid=Api",
        "datePublished": "2018-0[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/search?count=20&mkt=en-US&offset=0&q=white%20house%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5795B44A0B0C4910BA8D63E9B23E3A2F
      X-Msedge-Clientid:
      - 3799396B5B6068B7298B35915A2C6965
      X-Msapi-Userstate:
      - 857a
      X-Search-Responseinfo:
      - InternalResponseTime=290,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "images\/search?q=white house (site:gov OR site:mil)", "webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?q=white house (site:gov OR site:mil)&FORM=OIIARP",
        "queryContext": {"originalQuery": "white house (site:gov OR site:mil)", "alterationDisplayQuery":
        "white house (site:gov OR site:mil)", "alterationOverrideQuery": "+white house
        (site:gov OR site:mil)", "alterationMethod": "AM_JustChangeIt", "alterationType":
        "CombinedAlterationsChained"}, "totalEstimatedMatches": 121, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=285BA47D1A40AEB18B9F66503B36C7C93F5B548D&simid=608046765010980675",
        "name": "The White House Tour - President''s Park (White House) (U.S. National
        Park Service)", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.9O7d-rdPAXU9rhlolwb1AgHaEj&pid=Api",
        "datePublished": "2018-06-13T20:20:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "https:\/\/www.nps.gov\/whho\/planyourvisit\/images\/SouthFrontJuly4_2.jpg?maxwidth=650&autorotate=false",
        "hostPageUrl": "https:\/\/www.nps.gov\/whho\/planyourvisit\/the-white-house-tour.htm",
        "contentSize": "67243 B", "encodingFormat": "jpeg", "hostPageDisplayUrl":
        "https:\/\/www.nps.gov\/whho\/planyourvisit\/the-white-house-tour.htm", "width":
        650, "height": 400, "thumbnail": {"width": 474, "height": 291}, "imageInsightsToken":
        "ccid_9O7d+rdP*mid_285BA47D1A40AEB18B9F66503B36C7C93F5B548D*simid_608046765010980675*thid_OIP.9O7d-rdPAXU9rhlolwb1AgHaEj",
        "insightsMetadata": {"recipeSourcesCount": 0, "bestRepresentativeQuery": {"text":
        "White House Tour", "displayText": "White House Tour", "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=White+House+Tour&id=285BA47D1A40AEB18B9F66503B36C7C93F5B548D&FORM=IDBQDM"},
        "pagesIncludingCount": 9, "availableSizesCount": 5}, "imageId": "285BA47D1A40AEB18B9F66503B36C7C93F5B548D",
        "accentColor": "3D4B5D"}, {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=17CBAAD081D7C20C3727BB305E3F8683572C2808&simid=608024950908323627",
        "name": "The People’s House in Pink: Honoring Breast Cancer Awareness Month
        at the White House ...", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.3K2QAwUxtXYmUy7DSdPepAHaE8&pid=Api",
  [...]
