---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 002C285654B344228F9111350A5A3D8D
      X-Msedge-Clientid:
      - 205D74B4A3D36F60003F7E85A2E26EBA
      X-Msapi-Userstate:
      - fb63
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=14BE07943D2F4526BB26D2ADF28853CA&CID=205D74B4A3D36F60003F7E85A2E26EBA&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=14BE07943D2F4526BB26D2ADF28853CA&CID=205D74B4A3D36F60003F7E85A2E26EBA&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=white%20house%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5163.1", "totalEstimatedMatches": 125, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=285BA47D1A40AEB18B9F5020FCDE6E6394CDEE21&simid=608040986766543924",
        "webSearchUrlPingSuffix": "DevEx,5006.1", "name": "The White House Tour -
        President''s Park (White House) (U.S. National ...", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.M27cfd58132e539bbba708261ba86361bo0&pid=Api",
        "datePublished": "2017-02-09T02:34:00.0000000Z", "contentUrl": "https:\/\/www.nps.gov\/whho\/planyourvisit\/images\/SouthFrontJuly4_2.jpg",
        "contentUrlPingSuffix": "DevEx,5008.1", "hostPageUrl": "https:\/\/www.nps.gov\/whho\/planyourvisit\/the-white-house-tour.htm",
        "hostPageUrlPingSuffix": "DevEx,5007.1", "contentSize": "120362 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.nps.gov\/whho\/planyourvisit\/the-white-house-tour.htm",
        "width": 960, "height": 591, "thumbnail": {"width": 300, "height": 184}, "imageInsightsToken":
        "ccid_J8\/VgTLl*mid_285BA47D1A40AEB18B9F5020FCDE6E6394CDEE21*simid_608040986766543924",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "285BA47D1A40AEB18B9F5020FCDE6E6394CDEE21", "accentColor": "465E36"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=DC88F48E3D64232B646E0C4156B00B62AE3F7A08&simid=607997976962140762",
        "webSearchUrlPingSuffix": "DevEx,5012.1", "name": "White House", "thumbnailUrl":
        "https:\/\/tse2.mm.bing.net\/th?id=OIP.z4tI_fnwMwoSMJg9kwuANQEsDn&pid=Api",
        "datePublished": "2017-01-23T19:07:00.0000000Z", "contentUrl": "http:\/\/clinton1.nara.gov\/White_House\[...]
