---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&image.count=20&query=(white%20house)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028white
        house\u0029 language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov
        OR site\u003amil\u0029"},"Image":{"Total":14200,"Offset":0,"Results":[{"Title":"White
        House Event","MediaUrl":"http\u003a\u002f\u002fwww.cdc.gov\u002fglobalhealth\u002fsecurity\u002fimages\u002fwhite-house.jpg","Url":"http\u003a\u002f\u002fwww.cdc.gov\u002fglobalhealth\u002fsecurity\u002f","DisplayUrl":"www.cdc.gov\u002fglobalhealth\u002fsecurity","Width":3613,"Height":2394,"FileSize":6576460,"ContentType":"image\u002fjpeg","Thumbnail":{"Url":"http\u003a\u002f\u002fts3.mm.bing.net\u002fth\u003fid\u003dOIP.M067cceea42ef217493651a81413efc1do0\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":300,"Height":198,"FileSize":12255}},{"Title":"The
        President, the Taoiseach, and the Shamrocks \u007c The White House","MediaUrl":"http\u003a\u002f\u002fwww.whitehouse.gov\u002fassets\u002fhi_res\u002fstpattys_hires.JPG","Url":"http\u003a\u002f\u002fwww.whitehouse.gov\u002fblog\u002f09\u002f03\u002f17\u002fThe-President-the-T[...]
