---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B196E27A749B4C749EB3918CDDE80B98
      X-Msedge-Clientid:
      - 3BC1F403045665342588FE3905C1641E
      X-Msapi-Userstate:
      - bafa
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C06D3828746048D289FD59C4F28943F1&CID=3BC1F403045665342588FE3905C1641E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C06D3828746048D289FD59C4F28943F1&CID=3BC1F403045665342588FE3905C1641E&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=white%20house%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5179.1", "totalEstimatedMatches": 123, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=AB3D2343F03296B07A8D34919A7D46EDC56DD3B4&simid=608031744015663534",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "... 2009 in honor of st
        patrick s day white house photo lawrence jackson", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.U_dvrITGKJhJZOlvrZQ7VQHgE2&pid=Api",
        "datePublished": "2001-01-01T00:00:00.0000000Z", "contentUrl": "http:\/\/www.whitehouse.gov\/assets\/hi_res\/stpattys_hires.JPG",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/www.whitehouse.gov\/blog\/2009\/03\/17\/president-taoiseach-and-shamrocks",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "2777591 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.whitehouse.gov\/blog\/2009\/03\/17\/president-taoiseach-and-shamrocks",
        "width": 4074, "height": 2639, "thumbnail": {"width": 480, "height": 310},
        "imageInsightsToken": "ccid_U\/dvrITG*mid_AB3D2343F03296B07A8D34919A7D46EDC56DD3B4*simid_608031744015663534",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "AB3D2343F03296B07A8D34919A7D46EDC56DD3B4", "accentColor": "4F8E3D"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=285BA47D1A40AEB18B9F5020FCDE6E6394CDEE21&simid=608040986777029661",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "The White House Tour -
        President''s Park (White House) (U.S. National ...", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.M27cfd58132e539bbba708261ba86361bo0&pid=Api",
        "datePublished": "2017-02-09T02:3[...]
