---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&image.count=20&query=(white%20house)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028white
        house\u0029 language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov
        OR site\u003amil\u0029"},"Image":{"Total":16600,"Offset":0,"Results":[{"Title":"...
        2009 in honor of st patrick s day white house photo lawrence jackson","MediaUrl":"http\u003a\u002f\u002fwww.whitehouse.gov\u002fassets\u002fhi_res\u002fstpattys_hires.JPG","Url":"http\u003a\u002f\u002fwww.whitehouse.gov\u002fblog\u002f2009\u002f03\u002f17\u002fpresident-taoiseach-and-shamrocks","DisplayUrl":"www.whitehouse.gov\u002fblog\u002f2009\u002f03\u002f17\u002fpresident-taoiseach-and-shamrocks","Width":4074,"Height":2639,"FileSize":2777591,"ContentType":"image\u002fjpeg","Thumbnail":{"Url":"http\u003a\u002f\u002fts4.mm.bing.net\u002fth\u003fid\u003dOIP.M53f76fac84c628984964e96fad943b55o0\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":300,"Height":194,"FileSize":8578}},{"Title":"2012\u003a
        A Year in Photos \u007c The White House","MediaUrl":"http\u003a\u002f\u002fwww.whitehouse.gov\u002fsites\u002fdefault\u002ffiles\u002fimage\u002f2012_photos\u002f12.jpeg.jpg","Url":"http\u003a\u002f\u002fwww.whitehouse.gov\u002fphotos-and-video\u002f2012-photos","Displa[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E0E46A77856C4979944AFDB52E12B967
      X-Msedge-Clientid:
      - 177463AFA8206077368669B4A91161D0
      X-Msapi-Userstate:
      - a9a7
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DCD1D11EAA1D444397677C529EAE1559&CID=177463AFA8206077368669B4A91161D0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DCD1D11EAA1D444397677C529EAE1559&CID=177463AFA8206077368669B4A91161D0&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=white%20house%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5163.1", "totalEstimatedMatches": 110, "nextOffset":
        22, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=285BA47D1A40AEB18B9F5020FCDE6E6394CDEE21&simid=608040986745571764",
        "webSearchUrlPingSuffix": "DevEx,5006.1", "name": "The White House Tour -
        President''s Park (White House) (U.S. National ...", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.M27cfd58132e539bbba708261ba86361bo0&pid=Api",
        "datePublished": "2017-01-12T03:28:00.0000000Z", "contentUrl": "https:\/\/www.nps.gov\/whho\/planyourvisit\/images\/SouthFrontJuly4_2.jpg",
        "contentUrlPingSuffix": "DevEx,5008.1", "hostPageUrl": "https:\/\/www.nps.gov\/whho\/planyourvisit\/the-white-house-tour.htm",
        "hostPageUrlPingSuffix": "DevEx,5007.1", "contentSize": "120362 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.nps.gov\/whho\/planyourvisit\/the-white-house-tour.htm",
        "width": 960, "height": 591, "thumbnail": {"width": 300, "height": 184}, "imageInsightsToken":
        "ccid_J8\/VgTLl*mid_285BA47D1A40AEB18B9F5020FCDE6E6394CDEE21*simid_608040986745571764",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "285BA47D1A40AEB18B9F5020FCDE6E6394CDEE21", "accentColor": "465E36"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=3BB70DA814DC8B757D6DDAE4D7D361CB4E2FF4DD&simid=608038740485541861",
        "webSearchUrlPingSuffix": "DevEx,5012.1", "name": "White House Highlights
        STEM Innovators in the Disability Community as ...", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.omSQISDAmd-wxlObl33i9QHgFA&pid=Api",
        "datePublished": "2016-12-19T13:37:00.0000[...]
