---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/search?count=20&mkt=en-US&offset=0&q=white%20house%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - EDCB6C10162548FBBDA365CC4D68B87C
      X-Msedge-Clientid:
      - 1393F0EC6FED6E1B1636E0486EFF6FC2
      X-Msapi-Userstate:
      - db34
      X-Search-Responseinfo:
      - InternalResponseTime=264,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "images\/search?q=white house (site:gov OR site:mil)", "webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?q=white house (site:gov OR site:mil)&FORM=OIIARP",
        "queryContext": {"originalQuery": "white house (site:gov OR site:mil)", "alterationDisplayQuery":
        "white house", "alterationOverrideQuery": "+white house (site:gov OR site:mil)",
        "alterationMethod": "AM_JustChangeIt", "alterationType": "CombinedAlterationsChained"},
        "totalEstimatedMatches": 200, "nextOffset": 21, "currentOffset": 0, "value":
        [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=296EBFD9DFED29EE17D0F2865609FD1B0A2E87A4&simid=608000462518099050",
        "name": "White House Conversation on Non-Compete Clauses ...", "thumbnailUrl":
        "https:\/\/tse1.mm.bing.net\/th?id=OIP.773v3Riqe1ZrOFxJl6iaQAHaE7&pid=Api",
        "datePublished": "2016-10-29T12:19:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "http:\/\/www.housedems.ct.gov\/sites\/default\/files\/field\/image\/white-house-web.jpg",
        "hostPageUrl": "http:\/\/www.housedems.ct.gov\/article\/white-house-conversation-on-non-compete-clauses",
        "contentSize": "300658 B", "encodingFormat": "jpeg", "hostPageDisplayUrl":
        "www.housedems.ct.gov\/article\/white-house-conversation-on-non-compete-clauses",
        "width": 1460, "height": 973, "hostPageFavIconUrl": "https:\/\/www.bing.com\/th?id=ODF.w3oyfnWGOcf_JO5mbnKDMQ&pid=Api",
        "hostPageDiscoveredDate": "2016-10-29T12:19:00.0000000Z", "thumbnail": {"width":
        474, "height": 315}, "imageInsightsToken": "ccid_773v3Riq*cp_32D34CD31483AD2CE0801E13371D8D27*mid_296EBFD9DFED29EE17D0F2865609FD1B0A2E87A4*simid_608000462518099050*thid_OIP.773v3Riqe1ZrOFxJl6iaQAHaE7",
        "insightsMetadata": {"recipeSourcesCount": 0, "pagesIncludingCount": 2, "availableSizesCount":
        1}, "imageId": "296EBFD9DFED29EE17D0F2865609FD1B0A2E87A4", "accentColor":
        "3E620C"}, {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=824E5397673785BB26A5AC6A1706C870E1CE80CC&simid=608011629442721122",
        "name": "Peters Declines Trump’s White House Invite: “Not ...", "thumbnailUrl":
        "https:\/\/tse3.mm.bing.net\/th?id=OIP.qmGhhAQ6qMwFsyhffccUKwHaEK&pid=Api",
        "datePublished": "2019-01-15T22:18:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "https:\/\/scottpeters.house.gov\/sites\/scottpeters.house.gov\/files\/styles\/congress_featured_image\/public\/featured_image\/white-house-cannabis-1280x800_0.jpg?itok=91YJV9Ra",
        "hostPageUrl": "https:\/\/scottpeters.house.gov\/media-center\/press-releases\/peters-declines-trump-s-white-house-invite-not-interested-in-a-photo-op",
        "contentSize": "90133 B", "encodingFormat": "jpeg", "hostPageDisplayUrl":
        "https:\/\/scottpeters.house.gov\/media-center\/press-releases\/peters-declines-trump-s-white...",
        "width": 1200, "height": 675, "hostPageFavIconUrl": "https:\/\/www.bing.com\/th?id=ODF.HUfOg7yqLvC7rTiyN1PuOg&pid=Api",
        "hostPageDomainFriendlyName": "Scott Peters", "hostPageDiscoveredDate": "2019-01-15T22:18:00.0000000Z",
        "thumbnail": {"width": 474, "height": 266}, "imageInsightsToken": "ccid_qmGhhAQ6*cp_B77575139A2BA908E3C136CE65B43827*mid_824E5397673785BB26A5AC6A1706C870E1CE80CC*simid_608011629442721122*thid_OIP.qmGhhAQ6qMwFsyhffccUKwHaEK",
        "insightsMetadata": {"recipeSourcesCount": 0, "pagesIncludingCount": 39, "availableSizesCount":
        20}, "imageId": "824E5397673785BB26A5AC6A1706C870E1CE80CC", "accentColor":
     [...]
