---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 68DABF9189374D239C4981021CEE5963
      X-Msedge-Clientid:
      - 1DDDCA5D089D6FE71970C155090A6E9E
      X-Msapi-Userstate:
      - 3e3f
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=0021351F4138459CA63C4E0ACFA328D3&CID=1DDDCA5D089D6FE71970C155090A6E9E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=0021351F4138459CA63C4E0ACFA328D3&CID=1DDDCA5D089D6FE71970C155090A6E9E&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=white%20house%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5184.1", "totalEstimatedMatches": 128, "nextOffset":
        24, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=53513FFBBEDEC470783865243FEA492C91409850&simid=608012206565033386",
        "webSearchUrlPingSuffix": "DevEx,5023.1", "name": "The White House | whitehouse.gov",
        "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.vzp7BjqnK_hE5tLUCB2qmAFZC1&pid=Api",
        "datePublished": "2017-08-01T14:22:00.0000000Z", "contentUrl": "https:\/\/www.whitehouse.gov\/sites\/whitehouse.gov\/files\/og-image.png",
        "contentUrlPingSuffix": "DevEx,5025.1", "hostPageUrl": "https:\/\/www.whitehouse.gov\/",
        "hostPageUrlPingSuffix": "DevEx,5024.1", "contentSize": "1264369 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "https:\/\/www.whitehouse.gov", "width": 1200,
        "height": 630, "thumbnail": {"width": 345, "height": 181}, "imageInsightsToken":
        "ccid_vzp7Bjqn*mid_53513FFBBEDEC470783865243FEA492C91409850*simid_608012206565033386",
        "imageId": "53513FFBBEDEC470783865243FEA492C91409850", "accentColor": "595236"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=285BA47D1A40AEB18B9F5020FCDE6E6394CDEE21&simid=608040987154645503",
        "webSearchUrlPingSuffix": "DevEx,5029.1", "name": "The White House Tour -
        President''s Park (White House) (U.S ...", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.J8_VgTLlObu6cIJhuoY2GwEsC4&pid=Api",
        "datePublished": "2017-08-31T05:00:00.0000000Z", "contentUrl": "https:\/\/www.nps.gov\/whho\/planyourvisit\/images\/SouthFrontJuly4_2.jpg",
        "contentUrlPingSuffix": "DevEx,5031.1", "hostPageUrl": "https:\/\/www.nps.gov\/whho\/planyourvisit\/the-white-house-tour.htm",
        "hostPageUrlPingSuffix": "DevEx,5030.1", "contentSize": "120362 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.nps.gov\/whho\/planyourvisit\/the-white-house-tour.htm",
        "width": 960, "height": 591, "thumbnail": {"width": 300, "height": 184}, "imageInsightsToken":
        "ccid_J8\/VgTLl*mid_285BA47D1A40AEB18B9F5020FCDE6E6394CDEE21*simid_608040987154645503",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "285BA47D1A40AEB18B9F5020FCDE6E6394CDEE21", "accentColor": "465E36"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=075D9C66A2E0179AD64FCE58E924159AE5317D2C&simid=608005076956218020",
        "webSearchUrlPingSuffix": "DevEx,5035.1", "name": "Ronald Reagan Presidential
        Library, National Archives and ...", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.1owT995GG7t_BjOw9[...]
