%h1
  Our Recalls API Has Moved
%p
  The USASearch Recalls API has been rolled into
  =link_to "USA.gov","http://usa.gov"
  's developer resources.
%p
  You will be redirected to
  =link_to "http://www.usa.gov/About/developer-resources/developers.shtml", "http://www.usa.gov/About/developer-resources/developers.shtml"
  in 10 seconds.
:javascript
  <!--
  setTimeout("location.href = 'http://www.usa.gov/About/developer-resources/developers.shtml';",10000);
  -->