%h1
  Our Recalls API Has Moved
%p
  The Search.gov Recalls API has been rolled into
  =link_to "USA.gov","https://www.usa.gov"
  's developer resources.
%p
  You will be redirected to
  =link_to "https://www.usa.gov/About/developer-resources/developers.shtml", "https://www.usa.gov/About/developer-resources/developers.shtml"
  in 10 seconds.
:javascript
  <!--
  setTimeout("location.href = 'https://www.usa.gov/About/developer-resources/developers.shtml';",10000);
  -->
