#header-wrapper {
  background-color: @block-background-color;
  margin-bottom: @content-block-margin;
  position: relative;
  top: 0;
  width: 100%;
  z-index: (@zindex-modal-background + 10);
}

#header {
  .clearfix();
  background-color: @block-background-color;
  border-radius: @border-radius-base;
  margin: 0;
  padding-top: 4px;

  .logo {
    margin-bottom: @content-block-margin;
    padding: 8px 60px 0;

    a {
      text-decoration: none;
    }

    h1 {
      color: @gray-light;
    }

    &.text {
      display: block;
      float: none;
      height: 50px;
      margin: 0 auto;
      padding: 0 60px;
      text-align: center;
      width: 100%;

      @media (min-width: @screen-sm) {
        height: auto;
      }

      h1 {
        .text-clip();
        margin: 0;
        padding: 8px 0 @content-block-margin;
        font-size: 18px;
      }
    }

    img {
      .img-responsive();
      margin: 0 auto;
      max-height: 50px;
    }
  }
}
