.navbar-default {
  background-color: white;
}

#nav-wrapper {
  padding-top: 3px;
  padding-bottom: 3px;

  @media (min-width: @screen-sm) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

#nav {
  border-bottom: 1px solid @block-border-color;
  transition: none;

  @media (min-width: @screen-sm) {
    border-bottom-width: 0;
    margin: 0 auto;
    width: @screen-sm;
  }

  .navbar-nav {
    float: none;
    margin-top: 0;
    margin-bottom: 0;

    > li {
      @media (min-width: @grid-float-breakpoint) {
        max-width: 24%;
      }
    }

    > li > a, > li > span, .dropdown-menu > li a {
      .text-overflow();
      border-top: 1px solid @block-border-color;
      border-left: 3px solid transparent;
      display: block;
      font-size: 1.6em;
      line-height: 1;
      padding: 7px 9px 10px 21px;

      @media (min-width: @grid-float-breakpoint) {
        border-top: 3px solid transparent;
        border-left-width: 0;
        padding: 7px 9px 10px;
      }
    }

    > li > a:hover {
      @media (min-width: @grid-float-breakpoint) {
        background-color: @navbar-default-bg;
        color: @navbar-default-link-hover-color;
      }
    }

    .dropdown-menu {
      @media (min-width: @grid-float-breakpoint) {
        border-top-width: 0;
        max-width: 250px;
      }

      @media (min-width: @screen-lg) {
        max-width: 300px;
      }
    }

    .dropdown-menu > li > a {
      @media (min-width: @grid-float-breakpoint) {
        border-top: 1px solid @block-border-color;
        color: @navbar-default-link-color;

        &:hover {
          color: @navbar-default-link-hover-color;
        }
      }
    }

    > li:first-child a, > li:first-child span {
      border-top-width: 0;

      @media (min-width: @grid-float-breakpoint) {
        border-top-width: 3px;
      }
    }

    > li.dropdown > a {
      display: none;

      @media (min-width: @grid-float-breakpoint) {
        display: block;
      }
    }

    .dropdown-menu {
      padding: 0;
    }

    .icon.icon-chevron-down {
      margin-top: -2px;
      vertical-align: middle;
    }

    > li.active span {
      font-weight: bold;
    }

    .show-more {
      .outline-focus();
    }
  }

  a { .tap-highlight(); }
}

#header .navbar-default .navbar-nav > .open {
  &.collapsed {
    > a {
      @media (min-width: @grid-float-breakpoint) {
        background-color: transparent;
        color: @navbar-default-link-color;

        &:focus {
          background-color: transparent;
        }

        &:hover {
          background-color: @navbar-default-bg;
        }
      }
    }

    .dropdown-menu {
      @media (min-width: @grid-float-breakpoint) {
        display: none;
      }
    }
  }
}
