.content-block-item.content-block-item-header {
  color: @text-color;
  font-size: 1.9em;
  padding: 8px 12px;

  @media (min-width: @screen-desktop) {
    padding: 6px 12px 0;
  }
}

#search .content-block-item.content-block-item-footer {
  font-size: @font-size-default;
  line-height: 1;
  padding: 0.1em;

  .content-provider, .see-more {
    margin: 0;

    > a, > span {
      display: block;
      padding: 10px 12px 12px;
      text-decoration: none;

      @media (min-width: @screen-desktop) {
        padding: 8px 12px;
      }
    }

    a, a:focus, a:hover {
      text-decoration: none;
    }
  }

  .content-provider {
    text-align: right;

    > a, > span {
      color: @text-color;
    }

    .digital-gov-search {
      .gov {
        font-style: italic;
      }

      .search {
        padding-left: 3px;
      }
    }

    .bing, .usajobs {
      span {
        .text-hide();
      }
    }

    .bing {
      background: asset-data-url('searches/bing_logo.png') right no-repeat;
      color: #505050;
      line-height: 19px;
      margin: 12px;
      padding-right: 58px;
      font-family: 'Arial';

      @media (min-width: @screen-desktop) {
        margin: 8px 12px;
      }
    }

    .usajobs {
      background: asset-data-url('searches/usajobs.jpg') no-repeat right;
      border-right: 12px solid transparent;
      padding-right: 94px;
    }
  }

  .see-more {
    text-align: left;
  }
}

#spelling-suggestion, #site-limits, #results {
  .content-block();
}

#spelling-suggestion {

  .suggested-query {
    .item-title();

    a {
      font-style: italic;
    }
  }

  .original-query {
    font-size: @font-size-default;

    a {
      text-decoration: none;
    }
  }
}

#site-limits {
  font-size: @font-size-default;

  span {
    font-style: italic;
  }
}

#search {
  a { .tap-highlight(); }
  a, a:focus, a:hover {
    text-decoration: none;
  }
}

.result {
  h3 {
    .item-title();

    .uext_type {
      bottom: 0.1em;
      font-size: 75%;
      position: relative;
    }
  }

  .url, .description {
    display: block;
    word-wrap: break-word;
  }

  .url {
    .text-overflow();
    font-size: 1.7em;
    height: 1.5em;
  }

  .description {
    font-size: 1.6em;
  }
}

.result.video {
  .thumbnail {
    border: 0;
    float: left;

    a {
      border: 1px solid #DDD;
      display: block;
      overflow: hidden;
      position: relative;
      height: 68px;
      width: 122px;

      img {
        position: absolute;
        top: -11px;
        left: 0;
      }

      > span {
        background-color: black;
        background-color: rgba(0,0,0, 0.7);
        color: white;
        font-size: 1.2em;
        font-weight: bold;
        padding: 0.2em;
        position: absolute;
        right: 0;
        bottom: 0;
      }

      .icon-play {
        .icon-white();
        margin-right: 0.4em;
      }
    }
  }

  > span {
    display: block;
    margin-left: 130px;
  }

  .content-host-and-published-distance {
    margin-bottom: 0.6em;
  }

  .content-host, .published-distance {
    font-size: @font-size-default;
  }

  .content-host {
    margin-right: 0.5em;
  }

  .published-distance {
    color: @text-color;
    display: block;

    @media (min-width: @screen-sm-min) {
      display: inline;
    }
  }

  .description {
    .sr-only();

    @media (min-width: @screen-sm-min) {
      display: block;
      height: auto;
      margin: 0 0 0 130px;
      position: static;
      width: auto;
    }
  }
}

#related-searches {
  .content-block();

  ul {
    .list-unstyled();
  }
}

#no-results, #offer-commercial-results {
  .content-block();
  font-size: @font-size-default;
}
