#search-bar {
  background-color: @block-background-color;
  border-radius: @border-radius-base;
  height: 40px;
  margin: @content-block-margin;
  position: relative;

  @media (min-width: @screen-sm) {
    margin-left: auto;
    margin-right: auto;
    width: (@screen-sm - (2 * @content-block-margin));
  }

  .twitter-typeahead {
    width: 100%;
    background-color: @body-bg;
    @media (min-width: @screen-sm) {
      border-radius: @border-radius-base;
    }
  }

  input[type='search'], input[type='text'] {
    .box-shadow(none);
    background-color: @body-bg;
    border-color: transparent;
    font-size: 1.8em;
    line-height: 1;
    height: 40px;
    padding-right: 0;
    border-right: 40px solid transparent;
    vertical-align: middle;

    &::-ms-clear {
      display: none;
    }

    @media (min-width: @screen-sm) {
      border-right-width: 75px;
    }
  }

  #search-button, #clear-button {
    .text-hide();
    display: inline-block;
    margin-bottom: 0;
    font-weight: @btn-font-weight;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @border-radius-base);
    .user-select(none);
    .icon();

    height: 30px;
    overflow: hidden;
    padding: 7px;
    position: absolute;
    right: 5px;
    top: 4px;
    width: 30px;
  }

  #clear-button {
    background-position: -305px 7px;
    display: none;
    span {
      .text-hide();
    }
  }

  #search-button {
    .icon-white();
    background-position: -41px  7px;
  }

  &.has-query-term {
    #search-button {
      display: none;
    }

    #clear-button {
      display: inline-block;
    }
  }

  @media (min-width: @screen-sm) {
    &.has-query-term {
      #search-button {
        display: inline-block;
      }
      #clear-button {
        right: 35px;
      }
    }
  }
}

#typeahead-backdrop {
  .modal-backdrop();
  background-color: @body-bg;
  display: none;
}
