#search-bar {
  .content-block();
  height: 40px;
  position: relative;

  .twitter-typeahead {
    width: 100%;
  }
  input[type='search'], input[type='text'] {
    .box-shadow(none);
    border-color: transparent;
    font-size: @font-size-large;
    line-height: @line-height-large;
    height: 40px;
  }

  #search-button, #clear-button {
    .text-hide();
    display: inline-block;
    margin-bottom: 0;
    font-weight: @btn-font-weight;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @border-radius-base);
    .user-select(none);
    .icon();

    height: 30px;
    overflow: hidden;
    padding: 7px;
    position: absolute;
    right: 5px;
    top: 4px;
    width: 30px;
  }

  #clear-button {
    background-position: -305px 7px;
    display: none;
    span {
      .text-hide();
    }
  }

  #search-button {
    .icon-white();
    background-position: -41px  7px;
  }

  &.has-query-term {
    #search-button {
      display: none;
    }

    #clear-button {
      display: inline-block;
    }
  }

  @media (min-width: @screen-sm) {
    &.has-query-term {
      #search-button {
        display: inline-block;
      }
      #clear-button {
        right: 35px;
      }
    }
  }
}

#typeahead-backdrop {
  .modal-backdrop();
  background-color: @body-bg;
  display: none;
}
