@import "searches/custom_bootstrap/_sprites.less";

#search-bar #search-button {
  font: ~"0/0" a;
}

.pagination {
  .previous_page, .current_page, a.next_page {
    color: #000;
    font-size: 1em;
    line-height: 1.5em;
  }

  .next_page, .previous_page {
    padding-top: 5px;
  }
}

.glyphicon {
  &:before { content: none }
  .icon();
  margin-top: -1px;
}

.glyphicon-chevron-down  { .icon-chevron-down(); }
.glyphicon-chevron-left  { .icon-chevron-left(); }
.glyphicon-chevron-right { .icon-chevron-right(); }
.glyphicon-chevron-up    { .icon-chevron-up(); }

