.primary-content
  %table.table
    %thead
      %tr
        %th Handle
        %th Description
        %th Secret Token
    %tbody
      %tr
        %td= @i14y_drawer.handle
        %td= @i14y_drawer.description
        %td= @i14y_drawer.token
