@media (min-width: 64em){
  .usa-header--basic .usa-navbar {
    width: 100%;
  }

  .usa-header--basic .usa-logo {
    margin-top: 1rem;
  }

  .usa-nav__secondary-links {
    margin-left: 2rem;
  }

  .usa-header--basic .usa-nav {
    width: 60%;
  }
}
