---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=10&ImageFilters='Aspect:Square'&Market='en-US'&Query='agncy%20(site:nasa.gov)'&Sources='image%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - e70857d9-d1c6-443d-a449-eb746c889e0b
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027Aspect:Square\u0027&Market=\u0027en-US\u0027&Query=\u0027agncy
        (site:nasa.gov)\u0027&Sources=\u0027image+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"24136dae-ab98-498f-8ca4-e11a77ad5a82","WebTotal":"","WebOffset":"","ImageTotal":"4050","ImageOffset":"0","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"1","AlteredQuery":"","AlterationOverrideQuery":"","Web":[],"Image":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u002724136dae-ab98-498f-8ca4-e11a77ad5a82\u0027)/Image?$skip=0&$top=1","type":"ImageResult"},"ID":"0a22c227-f2c3-4053-831f-3f947ff7b5ee","Title":"Agency
        Business Services - NASA Shared Services","MediaUrl":"https://www.nssc.nasa.gov/documents/10179/13807/117088-matte-blue-and-white-square-icon-business-tool-wrench4.png/6e9e5545-27dd-4699-ba53-a29166506f69?t=1367862823603?t=1367862823603?t=1367862823603","SourceUrl":"https://www.nssc.nasa.gov/abs","DisplayUrl":"https://www.nssc.nasa.gov/abs","Width":"512","Height":"512","FileSize":"35960","ContentType":"image/png","Thumbnail":{"__metadata":{"type":"Bing.Thumbnail"},"MediaUrl":"http://ts2.mm.bing.net/th?id=OIP.Me56cde2f4ea472837a4dc1ec3fc054b3o0&pid=15.1","ContentType":"image/jpg","Width":"300","Height":"300","FileSize":"3403"}},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u002724136dae-ab98-498f-8ca4-e11a77ad5a82\u0027)/Image?$skip=1&$top=1","type":"ImageResult"},"ID":"e1bba342-73a1-4469-a239-33e45f552cbb","Title":"Environmental
        Protection Agen[...]
