---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=10&ImageFilters='Aspect:Square'&Market='en-US'&Query='agncy%20(site:nasa.gov)'&Sources='image%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 881e9119-b1f0-4f7c-b1aa-5f9df5443c91
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027Aspect:Square\u0027&Market=\u0027en-US\u0027&Query=\u0027agncy
        (site:nasa.gov)\u0027&Sources=\u0027image+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"6b95c6b5-228b-40f5-8b07-1fc44efc407d","WebTotal":"","WebOffset":"","ImageTotal":"3410","ImageOffset":"0","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"1","AlteredQuery":"","AlterationOverrideQuery":"","Web":[],"Image":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u00276b95c6b5-228b-40f5-8b07-1fc44efc407d\u0027)/Image?$skip=0&$top=1","type":"ImageResult"},"ID":"94d129b7-e6e2-4ac4-878c-b1eb934a9a60","Title":"...
        and dust as seen by the European Space Agency\u0027s Planck mission","MediaUrl":"http://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18913_hires.jpg","SourceUrl":"http://www.jpl.nasa.gov/spaceimages/details.php?id=PIA18913","DisplayUrl":"www.jpl.nasa.gov/spaceimages/details.php?id=PIA18913","Width":"1024","Height":"1024","FileSize":"261768","ContentType":"image/jpeg","Thumbnail":{"__metadata":{"type":"Bing.Thumbnail"},"MediaUrl":"http://ts3.mm.bing.net/th?id=OIP.M43e74ad24144ec2b07c68665d1106397o0&pid=15.1","ContentType":"image/jpg","Width":"300","Height":"300","FileSize":"14127"}},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u00276b95c6b5-228b-40f5-8b07-1fc44efc407d\u0027)/Image?$skip=1&$top=1","type":"ImageResult"},"ID":"1adf5c75-f79a-4138-90d0-ee16a972871c","Title":"...
        Agency\u0027s Rosetta sp[...]
