---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=20&$top=10&ImageFilters='Aspect:Square'&Market='en-US'&Query='agncy%20(site:nasa.gov)'&Sources='image%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 1b8b8aef-7bb0-46a0-9a41-9408f2761d12
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027Aspect:Square\u0027&Market=\u0027en-US\u0027&Query=\u0027agncy
        (site:nasa.gov)\u0027&Sources=\u0027image+spell\u0027&$skip=20&$top=1","type":"ExpandableSearchResult"},"ID":"95cdc786-cf28-4a0b-84d7-a1b5ea2ebd9d","WebTotal":"","WebOffset":"","ImageTotal":"3020","ImageOffset":"20","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"1","AlteredQuery":"","AlterationOverrideQuery":"","Web":[],"Image":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u002795cdc786-cf28-4a0b-84d7-a1b5ea2ebd9d\u0027)/Image?$skip=0&$top=1","type":"ImageResult"},"ID":"21fabea1-526b-4a07-8416-7db4570cc1e3","Title":"For
        more information about the Cassini mission, visit: http://www.nasa ...","MediaUrl":"http://www.nasa.gov/sites/default/files/styles/673xvariable_height/public/cassini20130821_0.jpg?itok=finzNLlv","SourceUrl":"http://www.nasa.gov/mission_pages/cassini/whycassini/cassini20130821.html","DisplayUrl":"www.nasa.gov/mission_pages/cassini/whycassini/cassini20130821.html","Width":"673","Height":"673","FileSize":"574271","ContentType":"image/jpeg","Thumbnail":{"__metadata":{"type":"Bing.Thumbnail"},"MediaUrl":"http://ts4.mm.bing.net/th?id=OIP.A5KA_hDTLqpNe0vzJatmUQEsEs&pid=15.1","ContentType":"image/jpg","Width":"300","Height":"300","FileSize":"29990"}},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u002795cdc786-cf28-4a0b-84d7-a1b5ea2ebd9d\u0027)/Image?$skip=1&$top=1","type":"ImageResult"},"ID":"17555126-8221-4ef3-9179-c7d487902622","Title":"...
        Science Instruments to Sponsor on[...]
