---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=10&ImageFilters='Aspect:Square'&Market='en-US'&Query='agncy%20(site:nasa.gov)'&Sources='image%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 8f410cb9-464e-4b88-aec0-8eb90073199a
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027Aspect:Square\u0027&Market=\u0027en-US\u0027&Query=\u0027agncy
        (site:nasa.gov)\u0027&Sources=\u0027image+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"ec2bd6f2-c0a8-4ed8-a5b4-8cd0b84ac2de","WebTotal":"","WebOffset":"","ImageTotal":"3330","ImageOffset":"0","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"1","AlteredQuery":"","AlterationOverrideQuery":"","Web":[],"Image":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027ec2bd6f2-c0a8-4ed8-a5b4-8cd0b84ac2de\u0027)/Image?$skip=0&$top=1","type":"ImageResult"},"ID":"6ce8c007-5375-46b0-a779-2adee64508c6","Title":"European
        Space Agency astronaut Alexander Gerst | NASA","MediaUrl":"http://www.nasa.gov/sites/default/files/jsc2013e059969.jpg","SourceUrl":"http://www.nasa.gov/content/european-space-agency-astronaut-alexander-gerst-7","DisplayUrl":"www.nasa.gov/content/european-space-agency-astronaut-alexander-gerst-7","Width":"3200","Height":"4000","FileSize":"1354575","ContentType":"image/jpeg","Thumbnail":{"__metadata":{"type":"Bing.Thumbnail"},"MediaUrl":"http://ts1.mm.bing.net/th?id=OIP.M965c65d7bf50e013f3580110ded7f9f4o0&pid=15.1","ContentType":"image/jpg","Width":"240","Height":"300","FileSize":"14703"}},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027ec2bd6f2-c0a8-4ed8-a5b4-8cd0b84ac2de\u0027)/Image?$skip=1&$top=1","type":"ImageResult"},"ID":"26b63387-9fab-48c1-9966-07d65335ec5b","Title":"This
        composite is a mosaic c[...]
