---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=10&ImageFilters='Aspect:Square'&Market='en-US'&Query='agncy%20(site:nasa.gov)'&Sources='image%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 4d2a3e92-f800-4f5f-9f20-4c496bbb5bc8
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027Aspect:Square\u0027&Market=\u0027en-US\u0027&Query=\u0027agncy
        (site:nasa.gov)\u0027&Sources=\u0027image+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"1e5185e9-f3f9-467b-a2be-d9f29d9bff46","WebTotal":"","WebOffset":"","ImageTotal":"2710","ImageOffset":"0","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"1","AlteredQuery":"","AlterationOverrideQuery":"","Web":[],"Image":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u00271e5185e9-f3f9-467b-a2be-d9f29d9bff46\u0027)/Image?$skip=0&$top=1","type":"ImageResult"},"ID":"55391911-c0f0-4697-afd9-5c02eb9d999d","Title":"this
        image taken by the navigation camera on the European Space Agency ...","MediaUrl":"http://rosetta.jpl.nasa.gov/sites/default/files/PIA18869_Nov9-15578871060_9f0a5ec602_o.jpg","SourceUrl":"http://rosetta.jpl.nasa.gov/news/european-spacecraft-set-harpoon-comet-tomorrow","DisplayUrl":"rosetta.jpl.nasa.gov/news/european-spacecraft-set-harpoon-comet...","Width":"1024","Height":"1024","FileSize":"743181","ContentType":"image/jpeg","Thumbnail":{"__metadata":{"type":"Bing.Thumbnail"},"MediaUrl":"http://ts4.mm.bing.net/th?id=OIP.oyXtDknTcaofEaxZ7AvpzQEsEs&pid=15.1","ContentType":"image/jpg","Width":"300","Height":"300","FileSize":"19707"}},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u00271e5185e9-f3f9-467b-a2be-d9f29d9bff46\u0027)/Image?$skip=1&$top=1","type":"ImageResult"},"ID":"5102cc44-766f-4813-b504-6356003ad709","Title":"...
        and dust as seen by the European [...]
