---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=10&ImageFilters='Aspect:Square'&Market='en-US'&Query='agncy%20(site:nasa.gov)'&Sources='image%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - c5db044c-ff08-4b8d-b503-e4b9b5255f66
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027Aspect:Square\u0027&Market=\u0027en-US\u0027&Query=\u0027agncy
        (site:nasa.gov)\u0027&Sources=\u0027image+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"c5882495-ba49-4c0f-a09d-dad82a74bdda","WebTotal":"","WebOffset":"","ImageTotal":"3610","ImageOffset":"0","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"1","AlteredQuery":"","AlterationOverrideQuery":"","Web":[],"Image":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027c5882495-ba49-4c0f-a09d-dad82a74bdda\u0027)/Image?$skip=0&$top=1","type":"ImageResult"},"ID":"106d15e4-86db-49ff-a715-fa6700b88cb5","Title":"Environmental
        Protection Agency Seal","MediaUrl":"http://history.nasa.gov/presrep98/epaLogo.gif","SourceUrl":"http://history.nasa.gov/presrep98/epa.html","DisplayUrl":"history.nasa.gov/presrep98/epa.html","Width":"130","Height":"131","FileSize":"1721","ContentType":"image/gif","Thumbnail":{"__metadata":{"type":"Bing.Thumbnail"},"MediaUrl":"http://ts1.mm.bing.net/th?id=OIP.M4ed431a3ff755639d4e60a734146aaf8o0&pid=15.1","ContentType":"image/jpg","Width":"130","Height":"131","FileSize":"2864"}},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027c5882495-ba49-4c0f-a09d-dad82a74bdda\u0027)/Image?$skip=1&$top=1","type":"ImageResult"},"ID":"8ab104c3-5679-4c75-a12b-f04bb4528c69","Title":"The
        European Space Agency\u00[...]
