---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=10&ImageFilters='Aspect:Square'&Market='en-US'&Query='agncy%20(site:nasa.gov)'&Sources='image%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - bfabd0d8-2423-4291-987f-d843df7d6a33
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027Aspect:Square\u0027&Market=\u0027en-US\u0027&Query=\u0027agncy
        (site:nasa.gov)\u0027&Sources=\u0027image+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"8316884f-c732-4635-8943-cb8e13a65456","WebTotal":"","WebOffset":"","ImageTotal":"4050","ImageOffset":"0","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"1","AlteredQuery":"","AlterationOverrideQuery":"","Web":[],"Image":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u00278316884f-c732-4635-8943-cb8e13a65456\u0027)/Image?$skip=0&$top=1","type":"ImageResult"},"ID":"39243ae4-d785-4c05-8025-ac6b4f7119b2","Title":"Agency
        Business Services - NASA Shared Services","MediaUrl":"https://www.nssc.nasa.gov/documents/10179/13807/117088-matte-blue-and-white-square-icon-business-tool-wrench4.png/6e9e5545-27dd-4699-ba53-a29166506f69?t=1367862823603?t=1367862823603?t=1367862823603","SourceUrl":"https://www.nssc.nasa.gov/abs","DisplayUrl":"https://www.nssc.nasa.gov/abs","Width":"512","Height":"512","FileSize":"35960","ContentType":"image/png","Thumbnail":{"__metadata":{"type":"Bing.Thumbnail"},"MediaUrl":"http://ts2.mm.bing.net/th?id=OIP.Me56cde2f4ea472837a4dc1ec3fc054b3o0&pid=15.1","ContentType":"image/jpg","Width":"300","Height":"300","FileSize":"3403"}},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u00278316884f-c732-4635-8943-cb8e13a65456\u0027)/Image?$skip=1&$top=1","type":"ImageResult"},"ID":"70a870a4-9dda-4bf6-8412-3441082cd168","Title":"Environmental
        Protection Agen[...]
