---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=10&ImageFilters='Aspect:Square'&Market='en-US'&Query='agncy%20(site:nasa.gov)'&Sources='image%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 5aecf7cf-f73a-4c70-8a6b-10cfcf9deb3b
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027Aspect:Square\u0027&Market=\u0027en-US\u0027&Query=\u0027agncy
        (site:nasa.gov)\u0027&Sources=\u0027image+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"432daee0-7672-4e01-a48f-baf6bc8202ef","WebTotal":"","WebOffset":"","ImageTotal":"2770","ImageOffset":"0","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"1","AlteredQuery":"","AlterationOverrideQuery":"","Web":[],"Image":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027432daee0-7672-4e01-a48f-baf6bc8202ef\u0027)/Image?$skip=0&$top=1","type":"ImageResult"},"ID":"cd18967b-c10d-4e2c-a50e-4b7a0afe382d","Title":"Some
        relatively rough terrain on the nucleus of comet 67P/Churyumov ...","MediaUrl":"http://www.nasa.gov/sites/default/files/thumbnails/image/pia18869_nov9-15578871060_9f0a5ec602_o.jpg","SourceUrl":"http://www.nasa.gov/jpl/rosetta/european-spacecraft-set-to-harpoon-a-comet-tomorrow/","DisplayUrl":"www.nasa.gov/jpl/rosetta/european-spacecraft-set-to-harpoon-a-comet...","Width":"1024","Height":"1024","FileSize":"743181","ContentType":"image/jpeg","Thumbnail":{"__metadata":{"type":"Bing.Thumbnail"},"MediaUrl":"http://ts1.mm.bing.net/th?id=OIP.oyXtDknTcaofEaxZ7AvpzQEsEs&pid=15.1","ContentType":"image/jpg","Width":"300","Height":"300","FileSize":"19707"}},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027432daee0-7672-4e01-a48f-baf6bc8202ef\u0027)/Image?$skip=1&$top=1","type":"ImageResult"},"ID":"cb347a40-9270-4af4-9cdf-7c2853ba9dc7","Title":"This
        image of comet 67P/Churyumov-Ger[...]
