---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=10&ImageFilters='Aspect:Square'&Market='en-US'&Query='agncy%20(site:nasa.gov)'&Sources='image%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - baa353d7-949a-48e8-94ad-d4bfb7b90afb
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027Aspect:Square\u0027&Market=\u0027en-US\u0027&Query=\u0027agncy
        (site:nasa.gov)\u0027&Sources=\u0027image+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"4df42202-235a-4494-af78-db69b158e3b3","WebTotal":"","WebOffset":"","ImageTotal":"2770","ImageOffset":"0","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"1","AlteredQuery":"","AlterationOverrideQuery":"","Web":[],"Image":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u00274df42202-235a-4494-af78-db69b158e3b3\u0027)/Image?$skip=0&$top=1","type":"ImageResult"},"ID":"7f719c6b-1859-435f-bf5b-2f6c42c1ff09","Title":"Some
        relatively rough terrain on the nucleus of comet 67P/Churyumov ...","MediaUrl":"http://www.nasa.gov/sites/default/files/thumbnails/image/pia18869_nov9-15578871060_9f0a5ec602_o.jpg","SourceUrl":"http://www.nasa.gov/jpl/rosetta/european-spacecraft-set-to-harpoon-a-comet-tomorrow/","DisplayUrl":"www.nasa.gov/jpl/rosetta/european-spacecraft-set-to-harpoon-a-comet...","Width":"1024","Height":"1024","FileSize":"743181","ContentType":"image/jpeg","Thumbnail":{"__metadata":{"type":"Bing.Thumbnail"},"MediaUrl":"http://ts1.mm.bing.net/th?id=OIP.oyXtDknTcaofEaxZ7AvpzQEsEs&pid=15.1","ContentType":"image/jpg","Width":"300","Height":"300","FileSize":"19707"}},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u00274df42202-235a-4494-af78-db69b158e3b3\u0027)/Image?$skip=1&$top=1","type":"ImageResult"},"ID":"5235d131-79d3-4fc6-b088-894622fa851f","Title":"This
        image of comet 67P/Churyumov-Ger[...]
