:markdown
  By default, [our Search Results API](#{site_api_instructions_path(@site)}) returns web results from our own indexes. If you don’t want to use the web results from our indexes, you can get web results from Bing by buying an API key. Google results are no longer available as of April, 2018, when they sunset that API.


  ## Check Your Search Analytics


  Before buying a key, check your historical level of monthly transactions.


  1. Opt to view **unfiltered analytics** by making sure the filter icon in the navigation bar is disabled.
  2. Go to the [Site Overview](#{site_path(@site)}) page and hover over the histogram to see the number of monthly searches over time. You can also view your data over time on the [Monthly Reports](#{site_monthly_reports_path(@site)}) page.


  You’ll need to manage your transaction/query levels with the commercial provider. If you run out, our Search Results API won’t return any web results.


  Detailed tips on how to buy a commercial API key follow.


  ## Bing Search APIs


  ### Step 1. Cognitive Services: Bing Search APIs


  You can buy “[Bing Search APIs](https://azure.microsoft.com/en-us/services/cognitive-services/search/)" from the Microsoft Azure Marketplace.


  A subscription to Cognitive Services Bing Search APIs gives you access to both web and image searches for use with the Search.gov Results API.


  ### Step 2. Retrieve your Account Key


  The account key for your Bing Search APIs subscription should now be available on your [Cognitive Services Subscriptions page](https://www.microsoft.com/cognitive-services/en-US/subscriptions). Click "Show" for one of your keys and note the key value.


  ### Step 3. Get Bing Web and/or Image Results from Our Search Results API


  You’re now ready to use our Search Results API. Refer to our [Search Results API Instructions](#{site_api_instructions_path(@site)}) in the Admin Center for detailed implementation instructions.
