:markdown
  ## Video API




    The endpoint is `#{api_scheme_and_host}/api/v2/search/video`.




    It uses the same required and optional parameters above.




    `#{api_scheme_and_host}/api/v2/search/video?affiliate=#{@site.name}&access_key=#{@site.api_access_key}&query={YOUR_SEARCH_TERM}`




  ### Video Response Fields




  * #### video:results




      Video results from our Search.gov indexes.




      | Values           | Description
      | :--              | :--
      | title            | Title of the video
      | url              | URL of the video
      | snippet          | Snippet of the video
      | publication_date | Publication date of the video
      | source           | Source of the video
      | thumbnail_url    | Thumbnail URL of the video




  * #### video:total




      Total number of results available.




  * #### video:next_offset




      Offset for the subsequent results.
