= content_for_site_page_title @site, 'Tips on How to Buy a Commercial API Key'
.sub-nav-heading
  %h2 Tips on How to Buy a Commercial API Key
  .action-bar
    %ul
      %li= link_to 'Search Results API Instructions', site_api_instructions_path(@site)

.api-instruction
  = render partial: 'commercial_keys_md'
