---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&fdtrace=1&query=(obama)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028obama\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":6620000,"Offset":0,"Results":[{"Title":"President
        Barack Obama \u007c whitehouse.gov","Description":"Barack Obama is the 44th
        President of the United States. His story is the American story -- values
        from the heartland, a middle-class upbringing in a strong family ...","Url":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fadministration\u002fpresident-obama","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dobama\u0026d\u003d4751592600895888\u0026w\u003dJfgPpWmeeZ9wxh75qkNepbFNO6gmb3Zu","DisplayUrl":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fadministration\u002fpresident-obama","DateTime":"2016-04-25T19\u003a59\u003a00Z"},{"Title":"Barack
        Obama \u007c whitehouse.gov","Description":"Barack Obama is the 44th President
        of the United States. His story is the American story -- values from the heartland,
        a middle-class upbringing in a strong family ...","Url":"https\u003a\u002f\u002fwww.whitehouse.gov\u002f1600\u002fpresidents\u002fbarackobama","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dobama\u0026d\u003d5046085596086681\u0026w\u0[...]
