---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 86DC752AEC8A4B75AAE9DC071F786B3E
      X-Msedge-Clientid:
      - 1A9EE9E274E56672378BE3D8757267A1
      X-Msapi-Userstate:
      - 9ac7
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B93B3CCEC4864160B255580ADEB04A8E&CID=1A9EE9E274E56672378BE3D8757267A1&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B93B3CCEC4864160B255580ADEB04A8E&CID=1A9EE9E274E56672378BE3D8757267A1&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=obama+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5462.1", "totalEstimatedMatches": 2700000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Farewell Address | The White House", "url": "https:\/\/www.whitehouse.gov\/Farewell",
        "urlPingSuffix": "DevEx,5080.1", "displayUrl": "https:\/\/www.whitehouse.gov\/Farewell",
        "snippet": "As his time in office comes to a close, President Obama will
        return to Chicago to deliver his Farewell Address on the evening of January
        10, 2016. Attending the event?", "dateLastCrawled": "2017-01-02T23:57:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Get in
        Touch with The White House | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/contact",
        "urlPingSuffix": "DevEx,5097.1", "displayUrl": "https:\/\/www.whitehouse.gov\/contact",
        "snippet": "Latest News Read the latest news from the White House", "deepLinks":
        [{"name": "Write Or Call", "url": "https:\/\/www.whitehouse.gov\/contact\/write-or-call",
        "urlPingSuffix": "DevEx,5091.1"}, {"name": "Request a Greeting", "url": "https:\/\/www.whitehouse.gov\/contact\/presidential-greetings-request",
        "urlPingSuffix": "DevEx,5092.1"}, {"name": "President Barack Obama", "url":
        "http:\/\/www.whitehouse.gov\/administration\/president-obama", "urlPingSuffix":
        "DevEx,5093.1"}], "dateLastCrawled": "2017-02-15T09:29:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Thank You | whitehouse.gov",
        "url": "https:\/\/obamawhitehouse.archives.gov\/blog\/2017\/01\/19\/thank-you",
        "urlPingSuffix": "DevEx,5110.1", "displayUrl": "https:\/\/obamawhitehouse.archives.gov\/blog\/2017\/01\/19\/thank-you",
        "snippet": "Watch President Obama''s final State of the Union address. The
        Supreme Court. Read what the President is looking for in his next Supreme
        Court nominee. Find Your Park.", "dateLastCrawled": "2017-02-27T06:21:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "The White
        House | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/", "urlPingSuffix":
        "DevEx,5123.1", "about": [{"name": "Eisenhower Executive Office Building"},
        {"name": "White House"}], "displayUrl": "https:\/\/www.whitehouse.gov",
        "snippet": "Latest News Read the latest news from the White House. Video
        Gallery View the most recent videos from the White House. From the Press
        Office. Speeches & Remarks;", "dateLastCrawled": "2017-02-26T23:25:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.4", "name": "The White
        House | whitehou[...]
