---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0A7A9DABCECD49B78FC6BBE49B8A8322
      X-Msedge-Clientid:
      - 328146BEEC3D6D7E3F384C8FED0C6C81
      X-Msapi-Userstate:
      - db9d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=3E0F0C5829A34D6D8C85D970E039186F&CID=328146BEEC3D6D7E3F384C8FED0C6C81&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=3E0F0C5829A34D6D8C85D970E039186F&CID=328146BEEC3D6D7E3F384C8FED0C6C81&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=obama+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5469.1", "totalEstimatedMatches": 2530000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "President Barack Obama | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/administration\/president-obama",
        "urlPingSuffix": "DevEx,5087.1", "thumbnailUrl": "https:\/\/www.bing.com\/th?id=OIP.M0e88453536c128c33b2b9ff83a065d7bo2&pid=Api",
        "about": [{"name": "Barack Obama"}], "displayUrl": "https:\/\/www.whitehouse.gov\/administration\/president-obama",
        "snippet": "Barack Obama is the 44th President of the United States. His story
        is the American story -- values from the heartland, a middle-class upbringing
        in a …", "deepLinks": [{"name": "Contact", "url": "https:\/\/www.whitehouse.gov\/contact",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Write Or Call", "url": "https:\/\/www.whitehouse.gov\/contact\/write-or-call",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "First Lady Michelle Obama", "url":
        "https:\/\/www.whitehouse.gov\/administration\/first-lady-melania-trump",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Vice President Joe Biden", "url":
        "https:\/\/www.whitehouse.gov\/administration\/vice-president-pence", "urlPingSuffix":
        "DevEx,5081.1"}], "dateLastCrawled": "2017-01-18T07:46:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Get in Touch
        with The White House | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/contact",
        "urlPingSuffix": "DevEx,5104.1", "displayUrl": "https:\/\/www.whitehouse.gov\/contact",
        "snippet": "Latest News Read the latest news from the White House", "deepLinks":
        [{"name": "Write Or Call", "url": "https:\/\/www.whitehouse.gov\/contact\/write-or-call"[...]
