---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 39E012D16E60401CB31B63F998BEF2B3
      X-Msedge-Clientid:
      - 1EEAE703551A616F35DFED39548D6001
      X-Msapi-Userstate:
      - 545b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=69A74A22BBEB4275939096934ABDA359&CID=1EEAE703551A616F35DFED39548D6001&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=69A74A22BBEB4275939096934ABDA359&CID=1EEAE703551A616F35DFED39548D6001&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=obama+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5480.1", "totalEstimatedMatches": 2580000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Farewell Address | The White House", "url": "https:\/\/www.whitehouse.gov\/Farewell",
        "urlPingSuffix": "DevEx,5080.1", "displayUrl": "https:\/\/www.whitehouse.gov\/Farewell",
        "snippet": "As his time in office comes to a close, President Obama will
        return to Chicago to deliver his Farewell Address on the evening of January
        10, 2016. Attending the event?", "dateLastCrawled": "2017-01-02T23:57:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "The White
        House Blog - Official Site", "url": "https:\/\/www.whitehouse.gov\/blog",
        "urlPingSuffix": "DevEx,5100.1", "displayUrl": "https:\/\/www.whitehouse.gov\/blog",
        "snippet": "Get the latest news from 1600 Penn on the @WhiteHouse Blog →
        wh.gov\/blog or follow @blog44 for updates", "deepLinks": [{"name": "Ken Meyer",
        "url": "https:\/\/www.whitehouse.gov\/blog\/author\/ken-meyer", "urlPingSuffix":
        "DevEx,5091.1"}, {"name": "Joshua Miller", "url": "https:\/\/www.whitehouse.gov\/blog\/author\/joshua-miller",
        "urlPingSuffix": "DevEx,5092.1"}, {"name": "Hope Hall", "url": "https:\/\/www.whitehouse.gov\/blog\/author\/hope-hall",
        "urlPingSuffix": "DevEx,5093.1"}, {"name": "John P. Holdren", "url": "https:\/\/www.whitehouse.gov\/blog\/author\/john-p-holdren",
 [...]
