---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7D953AB8BD37496BA4BA28E74AFFD7B1
      X-Msedge-Clientid:
      - 26FDB2A1FE3E607B28CDB890FF0F6142
      X-Msapi-Userstate:
      - d791
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=92892021A8154A958F1A191CD9FAEAA3&CID=26FDB2A1FE3E607B28CDB890FF0F6142&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=92892021A8154A958F1A191CD9FAEAA3&CID=26FDB2A1FE3E607B28CDB890FF0F6142&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=obama+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5478.1", "totalEstimatedMatches": 2460000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Farewell Address | The White House", "url": "https:\/\/www.whitehouse.gov\/Farewell",
        "urlPingSuffix": "DevEx,5080.1", "displayUrl": "https:\/\/www.whitehouse.gov\/Farewell",
        "snippet": "As his time in office comes to a close, President Obama will
        return to Chicago to deliver his Farewell Address on the evening of January
        10, 2016. Attending the event?", "dateLastCrawled": "2017-01-02T23:57:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Get in
        Touch with The White House | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/contact",
        "urlPingSuffix": "DevEx,5097.1", "displayUrl": "https:\/\/www.whitehouse.gov\/contact",
        "snippet": "Latest News Read the latest news from the White House", "deepLinks":
        [{"name": "Write Or Call", "url": "https:\/\/www.whitehouse.gov\/contact\/write-or-call",
        "urlPingSuffix": "DevEx,5091.1"}, {"name": "Request a Greeting", "url": "https:\/\/www.whitehouse.gov\/contact\/presidential-greetings-request",
        "urlPingSuffix": "DevEx,5092.1"}, {"name": "President Barack Obama", "url":
        "http:\/\/www.whitehouse.gov\/administration\/president-obama", "urlPingSuffix":
        "DevEx,5093.1"}], "dateLastCrawled": "2017-02-15T09:29:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "The White House
        | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/", "urlPingSuffix":
        "DevEx,5124.1", "about": [{"name": "Eisenhower Executive Office Building"},
        {"name": "White House"}], "displayUrl": "https:\/\/www.whitehouse.gov",
        "snippet": "Latest News Read the latest news from the White House. Video
        Gallery View the most recent videos from the White House. From the Press
        Office. Speeches & Remarks;", "deepLinks": [{"name": "Contact Us", "url":
        "https:\/\/www.whitehouse.gov\/contact", "urlPingSuffix": "DevEx,5110.1"},
        {"name": "Tours & Events", [...]
