---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1DE2F5B9F3A04ACF89A308D5A181A391
      X-Msedge-Clientid:
      - 3A98BE18BDE86F130BEEB55FBC7F6E72
      X-Msapi-Userstate:
      - '0204'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A4E1D1E414BA4B409E0883EB2F71F75C&CID=3A98BE18BDE86F130BEEB55FBC7F6E72&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A4E1D1E414BA4B409E0883EB2F71F75C&CID=3A98BE18BDE86F130BEEB55FBC7F6E72&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=obama+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5521.1", "totalEstimatedMatches": 7520000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "President Donald J. Trump | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/administration\/president-trump",
        "urlPingSuffix": "DevEx,5091.1", "about": [{"name": "Donald Trump"}, {"name":
        "Omaruru Railway Station"}], "displayUrl": "https:\/\/www.whitehouse.gov\/administration\/president-trump",
        "snippet": "Check out the biography of President Donald Trump.", "dateLastCrawled":
        "2017-11-21T16:12:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Barack Obama | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/1600\/presidents\/barackobama",
        "urlPingSuffix": "DevEx,5109.1", "about": [{"name": "Barack Obama"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/1600\/presidents\/barackobama", "snippet":
        "Barack Obama served as the 44th President of the United States. His story
        is th[...]
