---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 506797D32C094562A5420CDE15359073
      X-Msedge-Clientid:
      - 2DACCBB670F563150AC0C18C716262B2
      X-Msapi-Userstate:
      - a621
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1911C162764B4589A5CA521CCFE94C96&CID=2DACCBB670F563150AC0C18C716262B2&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1911C162764B4589A5CA521CCFE94C96&CID=2DACCBB670F563150AC0C18C716262B2&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=obama+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5461.1", "totalEstimatedMatches": 2580000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Farewell Address | The White House", "url": "https:\/\/www.whitehouse.gov\/Farewell",
        "urlPingSuffix": "DevEx,5075.1", "displayUrl": "https:\/\/www.whitehouse.gov\/Farewell",
        "snippet": "As his time in office comes to a close, President Obama will return
        to Chicago to deliver his Farewell Address on the evening of January 10, 2016.
        Attending the event?", "dateLastCrawled": "2017-01-02T23:57:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Thank
        You | whitehouse.gov", "url": "https:\/\/obamawhitehouse.archives.gov\/blog\/2017\/01\/19\/thank-you",
        "urlPingSuffix": "DevEx,5088.1", "displayUrl": "https:\/\/obamawhitehouse.archives.gov\/blog\/2017\/01\/19\/thank-you",
        "snippet": "Watch President Obama''s final State of the Union address. The
        Supreme Court. Read what the President is looking for [...]
