---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2D5BE27F2D2F4D818BA1ED68E6A784CC
      X-Msedge-Clientid:
      - 034DB036606568161F6CBBBD61CA69EB
      X-Msapi-Userstate:
      - b8b5
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=58E6A3ED2CE841E38A8514B32126DD04&CID=034DB036606568161F6CBBBD61CA69EB&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=58E6A3ED2CE841E38A8514B32126DD04&CID=034DB036606568161F6CBBBD61CA69EB&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=obama+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5510.1", "totalEstimatedMatches": 14500000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Home Page [www.whitehouse.gov]", "url": "https:\/\/www.whitehouse.gov\/",
        "urlPingSuffix": "DevEx,5099.1", "about": [{"name": "whitehouse.gov"}, {"name":
        "whitehouse.gov"}, {"name": "whitehouse.gov"}, {"name": "White House"}], "displayUrl":
        "https:\/\/www.whitehouse.gov", "snippet": "History of The White House.
        Our first president, George Washington, selected the site for the White House
        in 1791. Every president since John Adams has occupied the ...", "deepLinks":
        [{"name": "Contact Us", "url": "https:\/\/www.whitehouse.gov\/contact", "urlPingSuffix":
        "DevEx,5086.1"}, {"name": "Live", "url": "https:\/\/www.whitehouse.gov\/live",
        "urlPingSuffix": "DevEx,5087.1"}, {"name": "Tours & Events", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/tours-events\/",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "Statements & Releases", "url":
        "https:\/\/www.whitehouse.gov\/briefings-statements\/", "urlPingSuffix": "DevEx,5089.1"},
        {"name": "Issues", "url": "https:\/\/whitehouse.gov\/issues", "urlPingSuffix":
        "DevEx,5091.1"}], "dateLastCrawled": "2018-01-29T05:26:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Donald J. Trump",
        "url": "https:\/\/www.whitehouse.gov\/people\/donald-j-trump\/", "urlPingSuffix":
        "DevEx,5113.1", "about": [{"name": "Donald Trump"}], "displayUrl": "https:\/\/www.whitehouse.gov\/people\/donald-j-trump",
        "snippet": "Donald J. Trump is the 45th President of the United States. He
        believes the United States has incredible potential and wi[...]
