---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(obama)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028obama\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":4480000,"Offset":0,"Results":[{"Title":"Statement
        by the President on the Passing of Fidel Castro ...","Description":"President
        Barack Obama\u003b Vice President Joe Biden\u003b First Lady Michelle Obama\u003b
        Dr. Jill Biden\u003b The Cabinet\u003b Executive Office of the President\u003b
        Senior White House ...","Url":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fthe-press-office\u002f2016\u002f11\u002f26\u002fstatement-president-passing-fidel-castro","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dobama\u0026d\u003d9776519715008\u0026w\u003d3guQctjL3k14RUtNSgfpNQ9J3m1cJhiT","DisplayUrl":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fthe-press-office\u002f2016\u002f11\u002f26\u002fstatement...","DateTime":"2016-11-26T15\u003a45\u003a00Z"},{"Title":"The
        White House Blog \u007c whitehouse.gov","Description":"Get the latest news
        from 1600 Penn on the \u0040WhiteHouse Blog \u2192 wh.gov\u002fblog or follow
        \u0040blog44 for updates","Url":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fblog","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dobama\u0026d\u003d4623972014162803\u0026w\u003dAokmEU5cDpo2vSLigWf6IXceMTSY3q7p","DisplayUrl":"https\u003a\u002f\u[...]
