---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(obama)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028obama\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":4310000,"Offset":0,"Results":[{"Title":"The
        White House Blog \u007c whitehouse.gov","Description":"Get the latest news
        from 1600 Penn on the \u0040WhiteHouse Blog \u2192 wh.gov\u002fblog or follow
        \u0040blog44 for updates","Url":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fblog","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dobama\u0026d\u003d4623972003217861\u0026w\u003d6yPICDQ2Pb82vSLigWf6IXceMTSY3q7p","DisplayUrl":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fblog","DateTime":"2016-10-28T11\u003a19\u003a00Z"},{"Title":"The
        White House \u007c whitehouse.gov","Description":"Share your questions or
        your story with President Obama. Photo of the Day. Explore the White House
        Photo Office\u0027s past images of the day. Twitter\u003b Instagram\u003b
        Facebook\u003b","Url":"https\u003a\u002f\u002fwww.whitehouse.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dobama\u0026d\u003d4066205319850\u0026w\u003dT3x7[...]
