---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5511425B43114214A412DC90B42C7C78
      X-Msedge-Clientid:
      - 1C220ABBBA446D5824A90078BBD36CB7
      X-Msapi-Userstate:
      - '6759'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=042FF584A80A4B90959492F20CDE51B7&CID=1C220ABBBA446D5824A90078BBD36CB7&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=042FF584A80A4B90959492F20CDE51B7&CID=1C220ABBBA446D5824A90078BBD36CB7&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=obama+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5516.1", "totalEstimatedMatches": 6710000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "President Donald J. Trump | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/administration\/president-trump",
        "urlPingSuffix": "DevEx,5079.1", "about": [{"name": "Donald Trump"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/administration\/president-trump", "snippet":
        "Check out the biography of President Donald Trump.", "dateLastCrawled":
        "2017-07-10T22:24:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "The White House | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/",
        "urlPingSuffix": "DevEx,5105.1", "displayUrl": "https:\/\/www.whitehouse.gov",
        "snippet": "Video Gallery View the most recent videos from the White House.
        Live Events Tune in to White House events and statements as they happen.
        From the Press Office.", "deepLinks": [{"name": "Contact Us", "url": "https:\/\/www.whitehouse.gov\/contact",
        "urlPingSuffix": "DevEx,5093.1"}, {"name": "Tours & Events", "url": "https:\/\/www.whitehouse.gov\/participate\/tours-and-events",
        "urlPingSuffix": "DevEx,5094.1"}, {"name": "Live Events", "url": "https:\/\/www.whitehouse.gov\/live",
        "urlPingSuffix": "DevEx,5095.1"}, {"name": "We The People Petitions", "url":
        "https:\/\/petitions.whitehouse.gov\/", "urlPingSuffix": "DevEx,5096.1"}],
        "dateLastCrawled": "2017-07-14T06:55:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "Barack Obama | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/1600\/presidents\/barackobama",
        "urlPingSuffix": "DevEx,5121.1", "thumbnailUrl": "https:\/\/www.bing.com\/th?id=OIP.aG0TZL5mYu7l8KPSj0gG8wEsCp&pid=Api",
        "about": [{"name": "Barack Obama"}], "displayUrl": "https:\/\/www.whitehouse.gov\/1600\/presidents\/barackobama",
        "snippet": "Barack Obama served as the 44th President of the United States.
        His story is the American story -- values from the heartland, a middle-class
        upbringing in …", "dateLastCrawled": "2017-07-14T10:43:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\[...]
