---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 422F550B3758454089669D3A4A802D5D
      X-Msedge-Clientid:
      - 04C3D7A6E8F260562A0BC7F5E94561B0
      X-Msapi-Userstate:
      - 21b4
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DC6DF109DB36401FBFE474742E6265F1&CID=04C3D7A6E8F260562A0BC7F5E94561B0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DC6DF109DB36401FBFE474742E6265F1&CID=04C3D7A6E8F260562A0BC7F5E94561B0&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=obama+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5418.1", "totalEstimatedMatches": 23900000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Barack Obama | The White House", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/presidents\/barack-obama\/",
        "urlPingSuffix": "DevEx,5063.1", "displayUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house\/presidents\/barack-obama",
        "snippet": "Barack Obama served as the 44th President of the United States.
        His story is the American story — values from the heartland, a middle-class
        upbringing in a strong family, hard work and education ...", "dateLastCrawled":
        "2021-06-08T07:19:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "President Barack Obama | whitehouse.gov", "url": "https:\/\/obamawhitehouse.archives.gov\/administration\/president-obama",
        "urlPingSuffix": "DevEx,5076.1", "displayUrl": "https:\/\/obamawhitehouse.archives.gov\/administration\/president-obama",
        "snippet": "Barack Obama is the 44th President of the United States. His
        story is the American story -- [...]
