---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 135384F8B1A0440EBC561C1BAED30115
      X-Msedge-Clientid:
      - 0BDDE88FCEC56D501961E24CCF526CB3
      X-Msapi-Userstate:
      - ed13
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=76A81F03137C4235B224BAF543A31B01&CID=0BDDE88FCEC56D501961E24CCF526CB3&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=76A81F03137C4235B224BAF543A31B01&CID=0BDDE88FCEC56D501961E24CCF526CB3&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=obama+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5525.1", "totalEstimatedMatches": 6710000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "President Donald J. Trump | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/administration\/president-trump",
        "urlPingSuffix": "DevEx,5079.1", "about": [{"name": "Donald Trump"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/administration\/president-trump", "snippet":
        "Check out the biography of President Donald Trump.", "dateLastCrawled": "2017-07-10T22:24:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "HealthCare.gov
        - Official Site", "url": "https:\/\/www.healthcare.gov\/", "urlPingSuffix":
        "DevEx,5106.1", "displayUrl": "https:\/\/www.healthcare.gov", "snippet": "Official
        site of Affordable Care Act. Enroll now for 2017 coverage. See health coverage
        choices, ways to save today, how law affects you.", "deepLinks": [{"name":
        "Get Coverage", "url": "https:\/\/www.healthcare.gov\/get-coverage\/", "urlPingSuffix":
        "DevEx,5094.1"}, {"name": "Quick Overview", "url": "https:\/\/www.healthcare.gov\/quick-guide\/one-page-guide-to-the-marketplace\/",
        "urlPingSuffix": "DevEx,5095.1"}, {"name": "Contact Us", "url": "https:\/\/www.healthcare.gov\/contact-us\/",
        "urlPingSuffix": "DevEx,5096.1"}, {"name": "Medicaid & Chip", "url": "https:\/\/www.healthcare.gov\/medicaid-chip\/getting-med[...]
