---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D27C8295233348DCB38F3C931726172A
      X-Msedge-Clientid:
      - 1799B6A10A4C60D30D6BBCC30BDB6172
      X-Msapi-Userstate:
      - 84b6
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A611D04E6C1F410B88D63875405C6670&CID=1799B6A10A4C60D30D6BBCC30BDB6172&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A611D04E6C1F410B88D63875405C6670&CID=1799B6A10A4C60D30D6BBCC30BDB6172&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=obama+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5465.1", "totalEstimatedMatches": 11800000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "President Donald J. Trump | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/administration\/president-trump",
        "urlPingSuffix": "DevEx,5079.1", "about": [{"name": "Executive Office of the
        President"}, {"name": "Donald Trump"}], "displayUrl": "https:\/\/www.whitehouse.gov\/administration\/president-trump",
        "snippet": "Donald J. Trump is the 45th President of the United States. He
        believes the United States has incredible potential and will go on to exceed
        anything that it has ...", "dateLastCrawled": "2017-04-08T01:00:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Get in
        Touch with The White House | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/contact",
        "urlPingSuffix": "DevEx,5095.1", "displayUrl": "https:\/\/www.whitehouse.gov\/contact",
        "snippet": "Video Gallery View the most recent videos from the White House",
        "deepLinks": [{"name": "Write Or Call", "url": "https:\/\/www.whitehouse.gov\/contact\/write-or-call",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "President Barack Obama", "url":
        "https:\/\/www.whitehouse.gov\/administration\/president-trump", "urlPingSuffix":
        "DevEx,5091.1"}], "dateLastCrawled": "2017-04-06T03:31:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Thank You | whitehouse.gov",
        "url": "https:\/\/obamawhitehouse.archives.g[...]
