---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 6F09AD4E6B58454EAD1E734D0E282444
      X-Msedge-Clientid:
      - 113D7891D8FD6F7627BE68C2D9B26E08
      X-Msapi-Userstate:
      - 86c2
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=74B631E506AD46309387F5D3D382F2AA&CID=113D7891D8FD6F7627BE68C2D9B26E08&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=74B631E506AD46309387F5D3D382F2AA&CID=113D7891D8FD6F7627BE68C2D9B26E08&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=obama+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5418.1", "totalEstimatedMatches": 23900000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Barack Obama | The White House", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/presidents\/barack-obama\/",
        "urlPingSuffix": "DevEx,5063.1", "displayUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house\/presidents\/barack-obama",
        "snippet": "Barack Obama served as the 44th President of the United States.
        His story is the American story — values from the heartland, a middle-class
        upbringing in a strong family, hard work and education ...", "dateLastCrawled":
        "2021-06-08T07:19:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "OBAMA, Barack | US House of Representatives: History, Art ...",
        "url": "https:\/\/history.house.gov\/People\/Detail\/19276", "urlPingSuffix":
        "DevEx,5076.1", "displayUrl": "https:\/\/history.house.gov\/People\/Detail\/19276",
        "snippet": "Barack Obama was born in Honolulu, Hawaii, on August 4, 1961,
        the son of Barack Obama, Sr., and Ann Dunham[...]
