---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 97826E5C91E44B1EA0A1C3E56AEC3069
      X-Msedge-Clientid:
      - 15022E2DA6E06C8B1B8525B3A7056D9F
      X-Msapi-Userstate:
      - db56
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=3A2A8F5311254C218FEB3B5AF9C8C46D&CID=15022E2DA6E06C8B1B8525B3A7056D9F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=3A2A8F5311254C218FEB3B5AF9C8C46D&CID=15022E2DA6E06C8B1B8525B3A7056D9F&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=obama+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5524.1", "totalEstimatedMatches": 6520000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Home Page [www.whitehouse.gov]", "url": "https:\/\/www.whitehouse.gov\/",
        "urlPingSuffix": "DevEx,5100.1", "about": [{"name": "whitehouse.gov"}, {"name":
        "United States"}, {"name": "White House"}], "displayUrl": "https:\/\/www.whitehouse.gov",
        "snippet": "History of The White House. Our first president, George Washington,
        selected the site for the White House in 1791. Every president since John
        Adams has occupied the ...", "deepLinks": [{"name": "Contact Us", "url": "https:\/\/www.whitehouse.gov\/contact",
        "urlPingSuffix": "DevEx,5086.1"}, {"name": "Live", "url": "https:\/\/www.whitehouse.gov\/live",
        "urlPingSuffix": "DevEx,5087.1"}, {"name": "Tours & Events", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/tours-events\/",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "Statements & Releases", "url":
        "https:\/\/www.whitehouse.gov\/briefings-statements\/", "urlPingSuffix": "DevEx,5089.1"},
        {"name": "Issues", "url": "https:\/\/whitehouse.gov\/issues", "urlPingSuffix":
        "DevEx,5091.1"}], "dateLastCrawled": "2018-02-16T04:03:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Contact the White
        House", "url": "https:\/\/www.whitehouse.gov\/contact\/", "urlPingSuffix":
        "DevEx,5116.1", "about": [{"name": "White House"}], "displayUrl": "https:\/\/www.whitehouse.gov\/contact",
        "snippet": "Get Involved Contact the White House. Share:", "dateLastCrawled":
        "2018-02-14T23:44:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#W[...]
