---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 9F626C7286934DEF8976A2483D05E885
      X-Msedge-Clientid:
      - 0D5C41C3132E674D3FE551671261661F
      X-Msapi-Userstate:
      - a0c6
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=EC3A3EE667E84E58ACBD3AEA84FD29B1&CID=0D5C41C3132E674D3FE551671261661F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=EC3A3EE667E84E58ACBD3AEA84FD29B1&CID=0D5C41C3132E674D3FE551671261661F&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=obama+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5425.1", "totalEstimatedMatches": 5970000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "President Barack Obama | Barack Obama Presidential Library", "url": "https:\/\/www.obamalibrary.gov\/obamas\/president-barack-obama",
        "urlPingSuffix": "DevEx,5063.1", "displayUrl": "https:\/\/www.obamalibrary.gov\/obamas\/president-barack-obama",
        "snippet": "Barack Hussein Obama II was born August 4, 1961, in Honolulu,
        Hawaii, to parents Barack H. Obama, Sr., and Stanley Ann Dunham. His parents
        divorced when he was 2 years old and he was raised by his mother, Ann, and
        maternal grandparents, Stanley and Madelyn Dunham. His mother later married
        Lolo Soetoro, and his sister Maya was born in 1970.", "dateLastCrawled": "2021-08-27T04:06:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Barack
        Obama | The White House", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/presidents\/barack-obama\/",
        "urlPingSuffix": "DevEx,5077.1", "thumbnailUrl": "https:\/\/www.bing.com\/th?id=OIP.fqA8eiv9ze2xTMSXCaOLrAHaHa&pid=Api",
        "displayUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house\/presidents\/barack-obama",
        "snippet": "Barack Obama served as the 44th President of the United States.
        His story is the American story — values from the heartland, a middle-class
        upbringing in a strong family, hard work and education ...", "dateLastCrawled":
        "2021-08-27T07:19:00.0000000Z"}, {"id": "https:\/\/w[...]
