---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6F36DFC3D33E4229BC2A7234CC7025A5
      X-Msedge-Clientid:
      - 2E113BE2434F67F333A3306442E066AA
      X-Msapi-Userstate:
      - 754a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=85392F176069433AA8319202EC586FA4&CID=2E113BE2434F67F333A3306442E066AA&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=85392F176069433AA8319202EC586FA4&CID=2E113BE2434F67F333A3306442E066AA&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=obama+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5530.1", "totalEstimatedMatches": 15000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Donald J. Trump", "url": "https:\/\/www.whitehouse.gov\/people\/donald-j-trump\/",
        "urlPingSuffix": "DevEx,5088.1", "about": [{"name": "Donald Trump"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/people\/donald-j-trump", "snippet": "Donald
        J. Trump is the 45th President of the United States. He believes the United
        States has incredible potential and will go on to exceed anything that it
        has ...", "dateLastCrawled": "2018-01-21T01:48:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Home Page [www.whitehouse.gov]", "url": "https:\/\/www.whitehouse.gov\/",
        "urlPingSuffix": "DevEx,5115.1", "about": [{"name": "whitehouse.gov"}, {"name":
        "whitehouse.gov"}, {"name": "whitehouse.gov"}, {"name": "White House"}], "displayUrl":
        "https:\/\/www.whitehouse.gov", "snippet": "History of The White House.
        Our first president, George Washington, selected the site for the White House
        in 1791. Every president since John Adams has occupied the ...", "deepLinks":
        [{"name": "Contact Us", "url": "https:\/\/www.whitehouse.gov\/contact", "urlPingSuffix":
        "DevEx,5103.1"}, {"name": "Get Involved", "url": "https:\/\/www.whitehouse.gov\/get-involved\/",
        "urlPingSuffix": "DevEx,5104.1"}, {"name": "News", "url": "https:\/\/www.whitehouse.gov\/news\/",
        "urlPingSuffix": "DevEx,5105.1"}, {"name": "Immigration", "url": "https:\/\/www.whitehouse.gov\/issues\/immigration",
        "urlPingSuffix": "DevEx,5106.1"}, {"name": "Economy & Job[...]
