---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - F72F0B1786E34D7A810DC326B70EC232
      X-Msedge-Clientid:
      - 310B4842C36460E32C9B58E6C21161EB
      X-Msapi-Userstate:
      - 27c1
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=EE93115F9D9749BCA25E463A35272E78&CID=310B4842C36460E32C9B58E6C21161EB&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=EE93115F9D9749BCA25E463A35272E78&CID=310B4842C36460E32C9B58E6C21161EB&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=obama+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5425.1", "totalEstimatedMatches": 6150000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Barack Obama | The White House", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/presidents\/barack-obama\/",
        "urlPingSuffix": "DevEx,5064.1", "thumbnailUrl": "https:\/\/www.bing.com\/th?id=OIP.fqA8eiv9ze2xTMSXCaOLrAHaHa&pid=Api",
        "displayUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house\/presidents\/barack-obama",
        "snippet": "Barack Obama served as the 44th President of the United States.
        His story is the American story — values from the heartland, a middle-class
        upbringing in a strong family, hard work and education ...", "dateLastCrawled":
        "2021-08-29T21:41:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "President Barack Obama | Barack Obama Presidential Library",
        "url": "https:\/\/www.obamalibrary.gov\/obamas\/president-barack-obama", "urlPingSuffix":
        "DevEx,5077.1", "displayUrl": "https:\/\/www.obamalibrary.gov\/obamas\/president-barack-obama",
        "snippet": "Barack Hussein Obama II was born August 4, 1961, in Honolulu,
        Hawaii, to parent[...]
