---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C7A1B187C524413FB7E8A1EA2050E8D8
      X-Msedge-Clientid:
      - 21292B61E73A6267394220FFE6DF63B4
      X-Msapi-Userstate:
      - 2ee8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F2A79E74CD274FBBB3BDF8DE9AE5C4A3&CID=21292B61E73A6267394220FFE6DF63B4&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F2A79E74CD274FBBB3BDF8DE9AE5C4A3&CID=21292B61E73A6267394220FFE6DF63B4&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=obama+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5528.1", "totalEstimatedMatches": 6530000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Donald J. Trump", "url": "https:\/\/www.whitehouse.gov\/people\/donald-j-trump\/",
        "urlPingSuffix": "DevEx,5088.1", "about": [{"name": "Donald Trump"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/people\/donald-j-trump", "snippet": "Donald
        J. Trump is the 45th President of the United States. He believes the United
        States has incredible potential and will go on to exceed even its remarkable
        ...", "dateLastCrawled": "2018-02-16T13:37:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Contact the White House", "url": "https:\/\/www.whitehouse.gov\/contact\/",
        "urlPingSuffix": "DevEx,5104.1", "about": [{"name": "White House"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/contact", "snippet": "Get Involved Contact
        the White House. Share:", "dateLastCrawled": "2018-02-14T23:44:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6[...]
