---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=foo%20bar%20(site:nps.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - AC5148E5019149018C8F77D027D63E88
      Bingapis-Sessionid:
      - C677A04142244D39917121E54F871013
      X-Msedge-Clientid:
      - 057CA9680E2D61F417E3B9CC0F9A60B4
      X-Msapi-Userstate:
      - 2f52
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=302,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "foo
        bar (site:nps.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=foo+bar+(site%3anps.gov)",
        "totalEstimatedMatches": 17, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "CodeMirror: User Manual - NPS.gov Homepage (U.S. National ...",
        "url": "https:\/\/www.nps.gov\/npmap\/slides\/overview-of-npmap\/libs\/codemirror\/doc\/manual.html",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.nps.gov\/npmap\/slides\/overview-of-npmap\/libs\/codemirror\/doc\/manual.html",
        "snippet": "It is possible to use multiple theming classes at once—for example
        \"foo bar\" will assign both the cm-s-foo and the cm-s-bar classes to
        the editor. indentUnit (integer) How many spaces a block (whatever that means
        in the edited language) should be indented. The default is 2.", "dateLastCrawled":
        "2020-03-25T01:15:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "Approved Backcountry Roads Temple Bar-Area Legal ... - NPS", "url": "https:\/\/www.nps.gov\/lake\/planyourvisit\/upload\/Approved-Backcountry-Roads-Temple-Bar-Area-legal-size-2018.pdf",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.nps.gov\/lake\/planyourvisit\/upload\/Approved-Backcountry-Roads-Temple-Bar...",
        "snippet": "restrooms, foo Boat launch US route [...]
