---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=foo%20bar&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/kDPPPKkloRlQBVL6uE4nqL4OGjI"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - foo bar",
            "totalResults": "3810",
            "searchTerms": "foo bar",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - foo bar",
            "totalResults": "3810",
            "searchTerms": "foo bar",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.190475,
          "formattedSearchTime": "0.19",
          "totalResults": "3810",
          "formattedTotalResults": "3,810"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "The XSPEC Parser",
           "htmlTitle": "The XSPEC Parser",
           "link": "https://heasarc.nasa.gov/xanadu/xspec/xspec11/manual/node66.html",
           "displayLink": "heasarc.nasa.gov",
           "snippet": "foo ! bar ! has a single argument `foo' followed by a comment. ! Comment strings \ncannot be read by the program. , !a comment ! has two empty arguments before ...",
           "htmlSnippet": "\u003cb\u003efoo\u003c/b\u003e ! \u003cb\u003ebar\u003c/b\u003e ! has a single argument `foo&#39; followed by a comment. ! Comment strings \u003cbr\u003e\ncannot be read by the program. , !a comment ! has two empty arguments before&nbsp;...",
           "cacheId": "L7TbSfLf8GEJ",
           "formattedUrl": "https://heasarc.nasa.gov/xanadu/xspec/xspec11/.../node66.html",
           "htmlFormattedUrl": "https://heasarc.nasa.gov/xanadu/xspec/xspec11/.../node66.html",
           "pagemap": {
            "metatags": [
             {
              "resource-type": "document",
              "distribution": "global"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Foobar | MODIS Atmosphere",
           "htmlTitle": "\u003cb\u003eFoobar\u003c/b\u003e | MODIS Atmosphere",
           "link": "https://modis-atmos.gsfc.nasa.gov/foobar",
           "displayLink": "modis-atmos.gsfc.nasa.gov",
           "snippet": "MODIS Atmosphere.",
           "htmlSnippet": "MODIS Atmosphere.",
           "cacheId": "AxuUgTh2cgcJ",
           "formattedUrl": "https://modis-atmos.gsfc.nasa.gov/foobar",
           "htmlFormattedUrl": "https://modis-atmos.gsfc.nasa.gov/\u003cb\u003efoobar\u003c/b\u003e",
           "pagemap": {
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1.0",
              "orgcode": "613",
              "rno": "Steven Platnick",
              "content-owner": "Steven Platnick",
              "webmaster": "Susannah Pearce",
              "dc.publisher": "Susannah Pearce",
              "dc.publisher.address": "susannah.pearce@nasa.gov",
              "dc.creator": "Steven Platnick",
              "dc.subject": "MODIS Atmosphere",
              "dc.description": "MODIS Atmosphere"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Author: ** Patrick Wallace (ptw@tpsoft.demon.co.uk) ** ** License ...",
           "htmlTitle": "Author: ** Patrick Wallace (ptw@tpsoft.demon.co.uk) ** ** License ...",
           "link": "ftp://heasarc.gsfc.nasa.gov/software/lheasoft/lheasoft6.11.1/source/heacore/ast/pal.c",
           "displayLink": "heasarc.gsfc.nasa.gov",
           "snippet": "#include \"pal.h\" #include \"slamac.h\" void palSlaAddet(double Q0,double FOo,\ndouble q1,double*bAR, double*q2){double Q3[3];double baz[3];int Q4 ...",
           "htmlSnippet": "#include &quot;pal.h&quot; #include &quot;slamac.h&quot; void palSlaAddet(double Q0,double \u003cb\u003eFOo\u003c/b\u003e,\u003cbr\u003e\ndouble q1,double*\u003cb\u003ebAR\u003c/b\u003e, double*q2){double Q3[3];double baz[3];int Q4&nbsp;...",
           "cacheId": "JXzaNsnMy0gJ",
           "mime": "text/plain",
           "formattedUrl": "ftp://heasarc.gsfc.nasa.gov/software/lheasoft/lheasoft6.11.1/.../pal.c",
           "htmlFormattedUrl": "ftp://heasarc.gsfc.nasa.gov/software/lheasoft/lheasoft6.11.1/.../pal.c"
          },
          {
           "kind": "customsearch#result",
           "title": "btapec, bvtapec, bvvtapec: velocity broadened APEC emission ...",
           "htmlTitle": "btapec, bvtapec, bvvtapec: velocity broadened APEC emission ...",
           "link": "https://heasarc[...]
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=foo%20bar%20site:nps.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/oO2Caz5ycKhE-fO6_JIMmkOxX_g"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8[...]
