---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=foo%20bar&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/0ZJZa3n9Y3Vk0sy29craG-9ufzg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - foo bar",
            "totalResults": "1490",
            "searchTerms": "foo bar",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - foo bar",
            "totalResults": "1490",
            "searchTerms": "foo bar",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.193247,
          "formattedSearchTime": "0.19",
          "totalResults": "1490",
          "formattedTotalResults": "1,490"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "The XSPEC Parser",
           "htmlTitle": "The XSPEC Parser",
           "link": "http://heasarc.nasa.gov/docs/xanadu/xspec/xspec11/manual/node66.html",
           "displayLink": "heasarc.nasa.gov",
           "snippet": "Nov 28, 2003 ... foo ! is a line consisting of a single argument `foo'. foo bar. foo,bar. foo bar. foo, \nbar. foo , bar ! are all lines with two arguments `foo' followed.",
           "htmlSnippet": "Nov 28, 2003 \u003cb\u003e...\u003c/b\u003e foo ! is a line consisting of a single argument `foo&#39;. \u003cb\u003efoo bar\u003c/b\u003e. \u003cb\u003efoo\u003c/b\u003e,\u003cb\u003ebar\u003c/b\u003e. \u003cb\u003efoo bar\u003c/b\u003e. \u003cb\u003efoo\u003c/b\u003e, \u003cbr\u003e\n\u003cb\u003ebar\u003c/b\u003e. \u003cb\u003efoo\u003c/b\u003e , \u003cb\u003ebar\u003c/b\u003e ! are all lines with two arguments `foo&#39; followed.",
           "cacheId": "iwVT6LUnNm8J",
           "formattedUrl": "heasarc.nasa.gov/docs/xanadu/xspec/xspec11/manual/node66.html",
           "htmlFormattedUrl": "heasarc.nasa.gov/docs/xanadu/xspec/xspec11/manual/node66.html",
           "pagemap": {
            "metatags": [
             {
              "resource-type": "document",
              "distribution": "global"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "openFDA › Device › Recalls reference guide",
           "htmlTitle": "openFDA › Device › Recalls reference guide",
           "link": "https://open.fda.gov/device/recall/reference/",
           "displayLink": "open.fda.gov",
           "snippet": "Searches for records where exactly and only FOO BAR appears in this field. ... \nFOO BAR , BAR FOO , FOO , and BAR would all be counted separately, along ...",
           "htmlSnippet": "Searches for records where exactly and only \u003cb\u003eFOO BAR\u003c/b\u003e appears in this field. ... \u003cbr\u003e\n\u003cb\u003eFOO BAR\u003c/b\u003e , BAR FOO , FOO , and BAR would all be counted separately, along&nbsp;...",
           "cacheId": "qP-VZsfWC_gJ",
           "formattedUrl": "https://open.fda.gov/device/recall/reference/",
           "htmlFormattedUrl": "https://open.fda.gov/device/recall/reference/",
           "pagemap": {
            "metatags": [
             {
              "viewport": "user-scalable=no width=device-width, initial-scale=1.0 maximum-scale=1.0"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "openFDA › Device › Classification",
           "htmlTitle": "openFDA › Device › Classification",
           "link": "https://open.fda.gov/device/classification/reference/",
           "displayLink": "open.fda.gov",
           "snippet": "It has been indexed both as its exact string content, an[...]
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=foo%20bar%20site:nps.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/QpbfU9QzZEYaCrsl2Dle92sqYBg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
 [...]
