---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=foo%20bar%20(site:nps.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - AB513CA98C3140C8B695DAB5072A2C89
      Bingapis-Sessionid:
      - EC7D93B9AD904F09852FC24C1CC447EA
      X-Msedge-Clientid:
      - 354C5EF819F7688237684EA918B8692B
      X-Msapi-Userstate:
      - 26b5
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=310,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "foo
        bar (site:nps.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=foo+bar+(site%3anps.gov)",
        "totalEstimatedMatches": 31, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "CodeMirror: User Manual - nps.gov", "url": "https:\/\/www.nps.gov\/npmap\/slides\/overview-of-npmap\/libs\/codemirror\/doc\/manual.html",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.nps.gov\/npmap\/slides\/overview-of-npmap\/libs\/codemirror\/doc\/manual.html",
        "snippet": "It is possible to use multiple theming classes at once—for example
        \"foo bar\" will assign both the cm-s-foo and the cm-s-bar classes to
        the editor. indentUnit (integer) How many spaces a block (whatever that means
        in the edited language) should be indented. The default is 2.", "dateLastCrawled":
        "2020-03-25T01:15:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "Approved Backcountry Roads Temple Area - NPS.gov Homepage ...", "url":
        "https:\/\/www.nps.gov\/lake\/planyourvisit\/upload\/Approved-Backcountry-Roads-Temple-Bar-Area-legal-size-2018.pdf",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.nps.gov\/lake\/planyourvisit\/upload\/Approved-Backcountry-Roads-Temple-Bar...",
        "snippet": "restrooms, foo Boat launch [...]
