---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=foo%20bar%20(site:nps.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659c45981e064c2d8e235b6d269d74e4
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659c45981e064c2d8e235b6d269d74e4
      Bingapis-Sessionid:
      - FB94B4D25D2846DD9BC8FEC8FA97F093
      X-Msedge-Clientid:
      - 05FF15B2558263F5072301B254BF62DE
      X-Msapi-Userstate:
      - a866
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=292,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "foo
        bar (site:nps.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=foo+bar+(site%3anps.gov)",
        "totalEstimatedMatches": 53, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Restaurants - U.S. National Park Service", "url": "https:\/\/www.nps.gov\/yell\/planyourvisit\/wheretoeat.htm",
        "datePublished": "2023-10-19T00:00:00.0000000", "datePublishedDisplayText":
        "Oct 19, 2023", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.nps.gov\/yell\/planyourvisit\/wheretoeat.htm",
        "snippet": "Restaurants. A variety of dining facilities are available throughout
        the park: restaurants, cafeterias (canteens), snack shops, ice cream counters,
        coffee counters, and bars. All dining facilities are located in or near
        park lodges. Check the operating hours, click on the links below for more
        information or inquire at any lodge front desk or ...", "dateLastCrawled":
        "2024-01-07T08:36:00.0000000Z", "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=foo+bar+(site%3anps.gov)&d=4888729547440139&mkt=en-US&setlang=en-US&w=QVqgAFCohwOvIwYAWnejC8CkFpZiWNzq",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Restaurants and Groceries - U.S. National Park Service", "url":
        "https:\/\/www.nps.gov\/grca\/planyourvisit\/restaurants.htm", "datePublished":
        "2023-10-16T00:00:00.0000000", "datePublishedDisplayText": "Oct 16, 2023",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.nps.gov\/grca\/planyourvisit\/restaurants.htm",
        "snippet": "Hermit''s Rest Snack Bar - Located at Hermi[...]
