---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=thunder%20%26%20lightning%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9DC09D6456E24ABDBCA16FFE73AD0081
      X-Msedge-Clientid:
      - 1181FFFDDE4E6ADB18DEF542DFD96B12
      X-Msapi-Userstate:
      - 599f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A46A4413BC0842BF8275A50F44324294&CID=1181FFFDDE4E6ADB18DEF542DFD96B12&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A46A4413BC0842BF8275A50F44324294&CID=1181FFFDDE4E6ADB18DEF542DFD96B12&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=thunder+%26+lightning+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5506.1", "totalEstimatedMatches": 5340000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Thunderstorms & Lightning | Ready.gov", "url": "https:\/\/www.ready.gov\/thunderstorms-lightning",
        "urlPingSuffix": "DevEx,5077.1", "displayUrl": "https:\/\/www.ready.gov\/thunderstorms-lightning",
        "snippet": "Thunderstorms & Lightning. All thunderstorms are dangerous.
        ... “Heat lightning” is actually lightning from a thunderstorm too far
        away from thunder to be heard.", "dateLastCrawled": "2017-07-06T17:34:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "GHRC:
        Lightning Primer", "url": "https:\/\/lightning.nsstc.nasa.gov\/primer\/",
        "urlPingSuffix": "DevEx,5091.1", "displayUrl": "https:\/\/lightning.nsstc.nasa.gov\/primer",
        "snippet": "Lightning Home. A Lightning Primer. ... believed that lightning
        was due to the flashing feathers of a mystical bird whose flapping wings produced
        the sound[...]
