---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=social%20security%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659c459c491040fd89de5e8834a41551
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659c459c491040fd89de5e8834a41551
      Bingapis-Sessionid:
      - C299494F15434A9C853FCF081A28CE8C
      X-Msedge-Clientid:
      - 11B2CA30E6DA65B60367DE30E7E76464
      X-Msapi-Userstate:
      - '3310'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=276,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "social
        security (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=social+security+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 63600000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "The United States Social Security Administration | SSA", "url":
        "https:\/\/www.ssa.gov\/", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.ssa.gov",
        "snippet": "Latest news. Martin J. O’Malley was sworn in today by Senator
        Ben Cardin as Commissioner of Social Security to a term that expires on
        January 19, 2025... Stay on top of the latest Social Security news for the
        media, advocate community, and the public. Official website of the U.S. Social
        Security Administration.", "dateLastCrawled": "2024-01-08T05:17:00.0000000Z",
        "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=social+security+(site%3agov+OR+site%3amil)&d=4993539778547300&mkt=en-US&setlang=en-US&w=TpkgCjBt6DXezJB5pc4W3qrQCQc4Mh3y",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "my Social Security | SSA", "url": "https:\/\/www.ssa.gov\/myaccount\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.ssa.gov\/myaccount",
        "snippet": "Create your personal my Social Security account today. A free
        and secure my Social Security account provides personalized tools for everyone,
        whether you receive benefits or not. You can use your account to request [...]
