---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=60&q=social%20security%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E017BAAC20CC46DA912E3BD4C20BB4C4
      X-Msedge-Clientid:
      - 32787B0EC9BD6419158171B1C82A65A1
      X-Msapi-Userstate:
      - '3123'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8F6195F920AA4C8C9ED32E178320608B&CID=32787B0EC9BD6419158171B1C82A65A1&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8F6195F920AA4C8C9ED32E178320608B&CID=32787B0EC9BD6419158171B1C82A65A1&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=social+security+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5437.1", "totalEstimatedMatches": 345000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Social Security and Medicare taxes", "url": "https:\/\/www.ssa.gov\/pubs\/EN-05-10003.pdf",
        "urlPingSuffix": "DevEx,5066.1", "displayUrl": "https:\/\/www.ssa.gov\/pubs\/EN-05-10003.pdf",
        "snippet": "When you work, you earn credits toward Social Security benefits.
        The number of credits you need to be eligible for Social Security benefits
        depends on your age and ...", "dateLastCrawled": "2017-07-09T22:51:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Social
        Security: Protecting Your Investment", "url": "https:\/\/www.ssa.gov\/antifraudfacts\/",
        "urlPingSuffix": "DevEx,5079.1", "displayUrl": "https:\/\/www.ssa.gov\/antifraudfacts",
        "snippet": "This is an introduction to Social Security anti-fraud information
        on our website.", "dateLastCrawled": "2017-07-08T02:39:00.0000000Z"}, {"id":
        "http[...]
