---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(weather)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028weather\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":12400000,"Offset":0,"Results":[{"Title":"National
        Weather Service","Description":"Official U.S. weather, marine, fire and
        aviation forecasts, warnings, meteorological products, climate forecasts and
        information about meteorology.","Url":"http\u003a\u002f\u002fwww.weather.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dweather\u0026d\u003d4611271827850495\u0026w\u003dxHrDgE3wPXUw9rN1w6sUZ7z30GAhIrvK","DisplayUrl":"www.weather.gov","DateTime":"2016-12-01T00\u003a29\u003a00Z"},{"Title":"Weather
        \u007c National Oceanic and Atmospheric Administration","Description":"NOAA\u0027s
        National Weather Service is building a Weather-Ready Nation by providing
        better information for better decisions to save lives and livelihoods","Url":"http\u003a\u002f\u002fwww.noaa.gov\u002fweather","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dweather\u0026d\u003d5063952726362084\u0026w\u003dek1v0--MPwL[...]
