---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=thunder%20%26%20lightning%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - BD215306ABF245109161888E86FC7C05
      X-Msedge-Clientid:
      - 061738F53AF5626B0A9E326C3B62637C
      X-Msapi-Userstate:
      - b430
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A9AE0D4F14EE4E6B8F8D24C4145AC528&CID=061738F53AF5626B0A9E326C3B62637C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A9AE0D4F14EE4E6B8F8D24C4145AC528&CID=061738F53AF5626B0A9E326C3B62637C&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=thunder+%26+lightning+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5447.1", "totalEstimatedMatches": 1310000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Thunderstorms & Lightning | Ready.gov", "url": "https:\/\/www.ready.gov\/thunderstorms-lightning",
        "urlPingSuffix": "DevEx,5075.1", "displayUrl": "https:\/\/www.ready.gov\/thunderstorms-lightning",
        "snippet": "Thunderstorms & Lightning. All thunderstorms are dangerous.
        ... “Heat lightning” is actually lightning from a thunderstorm too far
        away from thunder to be heard.", "dateLastCrawled": "2017-06-02T01:50:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "GHRC:
        Lightning Primer", "url": "https:\/\/lightning.nsstc.nasa.gov\/primer\/",
        "urlPingSuffix": "DevEx,5088.1", "displayUrl": "https:\/\/lightning.nsstc.nasa.gov\/primer",
        "snippet": "The Lightning Team. A Lightning Primer. Dataset ... was due
        to the flashing feathers of a mystical bird whose flapping wings produced
        the sound of thunder.[...]
