---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=thunder%20%26%20lightning%20(site:nps.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659c4594c16c4e47a1e46eebb9fd3cf2
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659c4594c16c4e47a1e46eebb9fd3cf2
      Bingapis-Sessionid:
      - 43928B187B34415EAAB66EE8C9D161CE
      X-Msedge-Clientid:
      - 33BC9A8038886DAE26988E80391C6C69
      X-Msapi-Userstate:
      - f49a
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=229,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "thunder
        & lightning (site:nps.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=thunder+%26+lightning+(site%3anps.gov)",
        "totalEstimatedMatches": 57, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "When Thunder Roars, Go Indoors - U.S. National Park Service",
        "url": "https:\/\/www.nps.gov\/articles\/lightning-safety.htm", "datePublished":
        "2018-06-25T00:00:00.0000000", "datePublishedDisplayText": "Jun 25, 2018",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.nps.gov\/articles\/lightning-safety.htm",
        "snippet": "NOAA Lightning is a spark of electricity in the atmosphere between
        clouds, the air or the ground. We usually associate lightning with thunderstorms.
        The booming sound of thunder is actually a result of lightning. To learn
        more about what causes lightning and how it works, check out NOAA’s National
        Severe Storms Laboratory.", "dateLastCrawled": "2024-01-02T16:29:00.0000000Z",
        "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=thunder+%26+lightning+(site%3anps.gov)&d=4867576977702045&mkt=en-US&setlang=en-US&w=z2oTEZ6v886lhLIMi51xVdzMqUJnucBs",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Lightning Danger - U.S. National Park Service", "url": "https:\/\/www.nps.gov\/grca\/planyourvisit\/lightning-danger.htm",
        "datePublished": "2018-08-03T00:00:00.0000000", "datePublishedDisplayText":
        "Aug 3, 2018", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.nps.gov\/grca\/planyourvisit\/lightning-danger.htm",
        "snippet": "Powerful electric sparks from a thunderstorm ca[...]
