---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8827A32DD9E44C749ABD8D81F10A8B25
      X-Msedge-Clientid:
      - 03DBA5E898AE64AE0233AE76994B6592
      X-Msapi-Userstate:
      - b9e0
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=73AE9082BCF9458CB53DB8F4477D59D6&CID=03DBA5E898AE64AE0233AE76994B6592&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=73AE9082BCF9458CB53DB8F4477D59D6&CID=03DBA5E898AE64AE0233AE76994B6592&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=weather+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5499.1", "totalEstimatedMatches": 14400000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "National Weather Service - Official Site", "url": "http:\/\/www.weather.gov\/",
        "urlPingSuffix": "DevEx,5096.1", "displayUrl": "www.weather.gov", "snippet":
        "NOAA National Weather Service National Weather Service ... Heavy Snow
        Expected in the Cascades and Rockies; Flooding Possible in the Lower Ohio
        Valley", "deepLinks": [{"name": "Radar", "url": "https:\/\/radar.weather.gov\/",
        "urlPingSuffix": "DevEx,5085.1"}, {"name": "Forecast Maps", "url": "http:\/\/www.weather.gov\/forecastmaps",
        "urlPingSuffix": "DevEx,5086.1"}, {"name": "Satellite", "url": "http:\/\/www.weather.gov\/satellite",
        "urlPingSuffix": "DevEx,5087.1"}, {"name": "Local", "url": "http:\/\/www.weather.gov\/srh\/",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "Search", "url": "http:\/\/www.weather.gov\/search",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Chicago, IL", "url": "http:\/\/www.weather.gov\/lot",
        "urlPingSuffix": "DevEx,5090.1"}], "dateLastCrawled": "2018-02-15T22:57:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Weather
        | National Oceanic and Atmospheric Administration", "url": "http:\/\/www.noaa.gov\/weather",
        "urlPingSuffix": "DevEx,5116.1", "displayUrl": "www.noaa.gov\/weather",
        "snippet": "NOAA''s National Weather Service is building a Weather-Ready
        Nation by providing better information for better decisions to save lives
        and livelihoods", "d[...]
