---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=60&q=social%20security%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5F0F987144624678941A6794ADF98F04
      X-Msedge-Clientid:
      - 289329D28923642A399A22D388B46585
      X-Msapi-Userstate:
      - '4875'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F4DBD9A7E4AD4F3D92281F3CDBD0339A&CID=289329D28923642A399A22D388B46585&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F4DBD9A7E4AD4F3D92281F3CDBD0339A&CID=289329D28923642A399A22D388B46585&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=social+security+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5467.1", "totalEstimatedMatches": 317000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Social Security and Medicare taxes", "url": "https:\/\/www.ssa.gov\/pubs\/EN-05-10003.pdf",
        "urlPingSuffix": "DevEx,5067.1", "displayUrl": "https:\/\/www.ssa.gov\/pubs\/EN-05-10003.pdf",
        "snippet": "When you work, you earn credits toward Social Security benefits.
        The number of credits you need to be eligible for Social Security benefits
        depends on your age and ...", "dateLastCrawled": "2017-09-13T14:55:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Disability
        Planner: Social Security Protection If You ...", "url": "https:\/\/www.ssa.gov\/planners\/disability\/",
        "urlPingSuffix": "DevEx,5080.1", "displayUrl": "https:\/\/www.ssa.gov\/planners\/disability",
        "snippet": "This page describes Social Security benefits for people who
        become disabled.", "dateLastCrawled": "2017-09-15T19:38:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Popular Baby
        Names - Social Security Administrati[...]
