---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(social%20security)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20&web.offset=60
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028social
        security\u0029 language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov
        OR site\u003amil\u0029"},"Web":{"Total":6680000,"Offset":60,"Results":[{"Title":"Frequently
        Asked Retirement Questions - faq.ssa.gov","Description":"How do I earn Social
        Security credits and how many do I need to qualify for benefits\u003f Must
        I pay Social Security taxes on my earnings after full retirement age\u003f","Url":"http\u003a\u002f\u002ffaq.ssa.gov\u002flink\u002fportal\u002f34011\u002f34019\u002fArticleFolder\u002f418\u002fRetirement","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dsocial\u002bsecurity\u0026d\u003d5009449569879003\u0026w\u003du9q9VBs7NyTmCMn85gJuLqyHWg5Ey_w1","DisplayUrl":"faq.ssa.gov\u002flink\u002fportal\u002f34011\u002f34019\u002fArticleFolder\u002f418\u002fRetirement","DateTime":"2016-10-28T03\u003a24\u003a00Z"},{"Title":"Social
        Security Administration\u003a Benefits for You as a Spouse","Description":"This
        retirement planner page explains what happens if you qualify for Social Security
        benefits on someone else\u0027s record.","Url":"http\u003a\u002f\u002fwww.ssa.gov\u002fplanners\u002fretire\u002fapplying6.html","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dsocial\u002bsecurity\u0026d\u003d5039260930672289\u0026w[...]
