---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=thunder%20%26%20lightning%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 715042A267B9432D98C4D1FBDBCC740A
      X-Msedge-Clientid:
      - 314016DD798B62D73D6D1D5B782463CB
      X-Msapi-Userstate:
      - 2f3e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E291284979D943149FB1E5607B6B48CA&CID=314016DD798B62D73D6D1D5B782463CB&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E291284979D943149FB1E5607B6B48CA&CID=314016DD798B62D73D6D1D5B782463CB&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=thunder+%26+lightning+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5506.1", "totalEstimatedMatches": 7360000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Thunderstorms & Lightning | Ready.gov", "url": "https:\/\/www.ready.gov\/thunderstorms-lightning",
        "urlPingSuffix": "DevEx,5090.1", "about": [{"name": "Thunderstorm"}, {"name":
        "Thunderstorm"}], "displayUrl": "https:\/\/www.ready.gov\/thunderstorms-lightning",
        "snippet": "All thunderstorms are dangerous. Every thunderstorm produces
        lightning. While lightning fatalities have decreased over the past 30
        years, lightning continues to be ...", "dateLastCrawled": "2018-01-17T17:43:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "NOAA\/NASA
        SciJinks :: What causes lightning and thunder?", "url": "https:\/\/scijinks.gov\/lightning\/",
        "urlPingSuffix": "DevEx,5105.1", "displayUrl": "https:\/\/scijinks.gov\/lightning",
        "snippet": "Lightning! Zap! You just touched a metal doorknob after shuffling
        your rubber-soled feet across the carpet. Yipes! You''ve been struck by lightning[...]
