---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(weather)%20language:es%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028weather\u0029
        language\u003aes \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":30800,"Offset":0,"Results":[{"Title":"forecast.weather.gov","Description":"forecast.weather.gov","Url":"http\u003a\u002f\u002fforecast.weather.gov\u002fMapClick.php\u003flat\u003d40.748289047502624\u0026lon\u003d-73.9925076486083\u0026site\u003dall","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dweather\u0026d\u003d4698292087560597\u0026w\u003doEo_5ydPsZBYiUT-oorbMnoJAtCWkn__","DisplayUrl":"forecast.weather.gov\u002fMapClick.php\u003flat\u003d40.748289047502624\u0026lon\u003d-73...","DateTime":"2016-05-20T17\u003a28\u003a00Z"},{"Title":"Weather
        Preparedness Espanol","Description":"US Dept of Commerce National Oceanic
        and Atmospheric Administration National Weather Service Des Moines, IA 9607
        NW Beaver Drive Johnston, IA 50131-1908","Url":"http\u003a\u002f\u002fwww.weather.gov\u002fdmx\u002fprepareespanol","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dweather\u0026d\u003d4881081582883615\u0026w\u003dzRVqN1iEf9erqPZ39128U8XJ5jnKzS[...]
