---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(social%20security)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20&web.offset=60
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028social
        security\u0029 language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov
        OR site\u003amil\u0029"},"Web":{"Total":8190000,"Offset":60,"Results":[{"Title":"Supplemental
        Security Income - Social Security Administration","Description":"You are
        exiting the Social Security Administration\u0027s website. SSA cannot attest
        to the accuracy of information provided by such websites. If we provide a
        link to such ...","Url":"http\u003a\u002f\u002fwww.ssa.gov\u002fssi\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dsocial\u002bsecurity\u0026d\u003d4924026933937609\u0026w\u003doQqxKZIAXPi_MHxIyskTqd6kvpynYKGb","DisplayUrl":"www.ssa.gov\u002fssi","DateTime":"2016-05-13T17\u003a29\u003a00Z"},{"Title":"Seniors
        \u0026 Social Security \u007c whitehouse.gov","Description":"President Obama
        believes all seniors should be able to retire with dignity. Share his push
        to protect social security.","Url":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fissues\u002fseniors-and-social-security","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dsocial\u002bsecurity\u0026d\u003d4865714182030819\u0026w\u003dy56V0-r[...]
