---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=60&q=social%20security%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 3AC3FB6456544CF08F119EA19A43370F
      Bingapis-Sessionid:
      - 4C5CB8AA24F34C9396A276D30EAE9241
      X-Msedge-Clientid:
      - 116A2FCA4DDA633E3B283F994C0462D5
      X-Msapi-Userstate:
      - 4d43
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=287,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "social
        security (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=social+security+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 1780000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Security and Protection | my Social Security | SSA", "url":
        "https:\/\/www.ssa.gov\/myaccount\/security.html", "isFamilyFriendly": true,
        "displayUrl": "https:\/\/www.ssa.gov\/myaccount\/security.html", "snippet":
        "Social Security takes this responsibility very seriously, and we have a
        robust cybersecurity program in place to help us succeed. Our security process
        follows federal guidelines that includes additional security measures so
        we can be sure that you are who you say you are when you conduct online business
        with us.", "dateLastCrawled": "2021-06-09T02:37:00.0000000Z", "language":
        "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Application Status | SSA", "url": "https:\/\/www.ssa.gov\/myaccount\/application-status.html",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.ssa.gov\/myaccount\/application-status.html",
        "snippet": "If you have questions or need help understanding how to check
        the status of your Social Security application online, call our toll-free
        number at 1-800-77[...]
