---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=60&q=social%20security%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - FB6410D32C1A414DBCC0CD3D34A60E96
      X-Msedge-Clientid:
      - 2181F8422DBB6C4417B6F34A2C2C6DC9
      X-Msapi-Userstate:
      - bb6f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=25EB51AF80164D35BB221C9483C5A17B&CID=2181F8422DBB6C4417B6F34A2C2C6DC9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=25EB51AF80164D35BB221C9483C5A17B&CID=2181F8422DBB6C4417B6F34A2C2C6DC9&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=social+security+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5457.1", "totalEstimatedMatches": 320000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Social Security for Women", "url": "https:\/\/www.ssa.gov\/people\/women\/",
        "urlPingSuffix": "DevEx,5069.1", "displayUrl": "https:\/\/www.ssa.gov\/people\/women",
        "snippet": "This page is the portal for the women website. It contains a
        summary of SSA''s benefits and services as well as other activities that SSA
        does in support of women.", "dateLastCrawled": "2017-09-15T16:19:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Retirement
        – Social Security Administration - faq.ssa.gov", "url": "https:\/\/faq.ssa.gov\/link\/portal\/34011\/34019\/ArticleFolder\/418\/Retirement",
        "urlPingSuffix": "DevEx,5085.1", "displayUrl": "https:\/\/faq.ssa.gov\/link\/portal\/34011\/34019\/ArticleFolder\/418\/...",
        "snippet": "Will you lower my Social Security benefits if I get a pension
        fro[...]
