---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=thunder%20%26%20lightning%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 761DC00A7DA94CA3BE6B74C6E6502BE4
      X-Msedge-Clientid:
      - 3886D798D30D67F73243DC99D29A6628
      X-Msapi-Userstate:
      - d0a9
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=7A89E2F54AAA405B89D83983486A4FC6&CID=3886D798D30D67F73243DC99D29A6628&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=7A89E2F54AAA405B89D83983486A4FC6&CID=3886D798D30D67F73243DC99D29A6628&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=thunder+%26+lightning+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5493.1", "totalEstimatedMatches": 1470000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Thunderstorms & Lightning | Ready.gov", "url": "https:\/\/www.ready.gov\/thunderstorms-lightning",
        "urlPingSuffix": "DevEx,5077.1", "displayUrl": "https:\/\/www.ready.gov\/thunderstorms-lightning",
        "snippet": "All thunderstorms are dangerous. Every thunderstorm produces
        lightning. While lightning fatalities have decreased over the past 30
        years, lightning continues to be ...", "dateLastCrawled": "2017-09-15T19:21:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "NOAA\/NASA
        SciJinks :: What causes lightning and thunder?", "url": "https:\/\/scijinks.gov\/lightning\/",
        "urlPingSuffix": "DevEx,5092.1", "displayUrl": "https:\/\/scijinks.gov\/lightning",
        "snippet": "Lightning! Zap! You just touched a metal doorknob after shuffling
        your rubber-soled feet across the carpet. Yipes! You''ve been struck by lightning![...]
