---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gov%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - EE884844555E47B79A7A2B4721240D2D
      X-Msedge-Clientid:
      - 3464D73CB63260AF3C1EDD14B7A56140
      X-Msapi-Userstate:
      - bd21
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=220EF44B5CFC44819DC90DF64A79E8E0&CID=3464D73CB63260AF3C1EDD14B7A56140&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=220EF44B5CFC44819DC90DF64A79E8E0&CID=3464D73CB63260AF3C1EDD14B7A56140&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5503.1", "totalEstimatedMatches": 13600000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USA.gov - Official Site", "url": "https:\/\/www.usa.gov\/", "urlPingSuffix":
        "DevEx,5109.1", "about": [{"name": "United States"}, {"name": "Crockett County
        Head Start"}], "displayUrl": "https:\/\/www.usa.gov", "snippet": "USA.gov
        can help you start your search for government information by topic and agency.",
        "deepLinks": [{"name": "Federal Agencies", "url": "https:\/\/www.usa.gov\/federal-agencies\/a",
        "urlPingSuffix": "DevEx,5098.1"}, {"name": "Unclaimed Money", "url": "https:\/\/www.usa.gov\/unclaimed-money",
        "urlPingSuffix": "DevEx,5099.1"}, {"name": "Branches of Government", "url":
        "https:\/\/www.usa.gov\/branches-of-government", "urlPingSuffix": "DevEx,5100.1"}],
        "dateLastCrawled": "2017-02-08T14:13:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Social Security Administration - Official Site", "url": "http:\/\/www.ssa.gov\/",
        "urlPingSuffix": "DevEx,5133.1", "about": [{"name": "Social Security Administration"}],
        "displayUrl": "www.ssa.gov", "snippet": "Official website of the U.S. Social
        Security Administration. Turn Accessibility Mode On Skip to content. ...
        Benefits.gov; Disability.gov[...]
