---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=60&q=social%20security%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - FED1E8D502874C608BD5A60DF5E9C05E
      X-Msedge-Clientid:
      - 04B83602218961BC11A73C3320B860E1
      X-Msapi-Userstate:
      - '2475'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D3B6C2E8A4A1435BBDD4A39962B789A9&CID=04B83602218961BC11A73C3320B860E1&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D3B6C2E8A4A1435BBDD4A39962B789A9&CID=04B83602218961BC11A73C3320B860E1&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=social+security+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5444.1", "totalEstimatedMatches": 314000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "The United States Social Security Administration", "url": "https:\/\/www.ssa.gov\/?topic=7",
        "urlPingSuffix": "DevEx,5068.1", "displayUrl": "https:\/\/www.ssa.gov\/?topic=7",
        "snippet": "You are exiting the Social Security Administration''s website.
        SSA cannot attest to the accuracy of information provided by such websites.
        If we provide a link to such ...", "dateLastCrawled": "2017-01-18T16:37:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Social
        Security Administration (SSA)", "url": "https:\/\/www.ssa.gov\/news\/cola\/",
        "urlPingSuffix": "DevEx,5082.1", "displayUrl": "https:\/\/www.ssa.gov\/news\/cola",
        "snippet": "You are exiting the Social Security Administration''s website.
        SSA cannot attest to the accuracy of information provided by such websites.
        If we provide a link to [...]
