---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=60&q=social%20security%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 75C4D1E8D3C54271BCAD2753293ABA6D
      X-Msedge-Clientid:
      - 1D71F4C327BA64683AACFE5A262D655A
      X-Msapi-Userstate:
      - 3cd1
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B75C9236F9314551A3F859F5159293B7&CID=1D71F4C327BA64683AACFE5A262D655A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B75C9236F9314551A3F859F5159293B7&CID=1D71F4C327BA64683AACFE5A262D655A&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=social+security+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5414.1", "totalEstimatedMatches": 337000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "full retirement age (FRA) - Social Security Administration", "url": "https:\/\/www.ssa.gov\/planners\/retire\/agereduction.html",
        "urlPingSuffix": "DevEx,5066.1", "displayUrl": "https:\/\/www.ssa.gov\/planners\/retire\/agereduction.html",
        "snippet": "Full retirement age is the age at which a person may first become
        entitled to full or unreduced retirement benefits. No matter what your full
        retirement age (also ...", "dateLastCrawled": "2017-05-31T12:24:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Top Questions
        about Social Security | USAGov", "url": "https:\/\/www.usa.gov\/about-social-security",
        "urlPingSuffix": "DevEx,5081.1", "displayUrl": "https:\/\/www.usa.gov\/about-social-security",
        "snippet": "Social Security is a federal government program that provides
        a source of income for you or your legal dependents (spouse, children, or
     [...]
