---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=60&q=social%20security%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A8BFD162F542453C92CF350B146251F0
      X-Msedge-Clientid:
      - 220A6E5FBE0360CB3882643DBF946147
      X-Msapi-Userstate:
      - 150b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F789D2AFFF1B4E16878C2EC4C2EAC93C&CID=220A6E5FBE0360CB3882643DBF946147&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F789D2AFFF1B4E16878C2EC4C2EAC93C&CID=220A6E5FBE0360CB3882643DBF946147&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=social+security+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5421.1", "totalEstimatedMatches": 293000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Social Security: A Program and Policy History.", "url": "https:\/\/www.ssa.gov\/policy\/docs\/ssb\/v66n1\/v66n1p1.html",
        "urlPingSuffix": "DevEx,5067.1", "displayUrl": "https:\/\/www.ssa.gov\/policy\/docs\/ssb\/v66n1\/v66n1p1.html",
        "snippet": "Summary. Many of the federal and state programs that provide income
        security to U.S. families have their roots in the Social Security Act
        (the Act) of 1935.", "dateLastCrawled": "2017-04-08T16:28:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "An Increase
        in Social Security Benefits in 2017 | Social ...", "url": "http:\/\/blog.socialsecurity.gov\/an-increase-in-social-security-benefits-in-2017\/",
        "urlPingSuffix": "DevEx,5080.1", "displayUrl": "blog.socialsecurity.gov\/an-increase-in-social-security-benefits-in...",
        "snippet": "The annual cost-of-living adjustment (COLA) usually means an increas[...]
