---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=60&q=social%20security%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659c459a56d94d73893d6638dc4acdc2
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659c459a56d94d73893d6638dc4acdc2
      Bingapis-Sessionid:
      - 8030BD4C94504648A0251665600B2F24
      X-Msedge-Clientid:
      - 38BE7E35242A612C2C7B6A352529605A
      X-Msapi-Userstate:
      - '3726'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=315,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "social
        security (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=social+security+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 63600000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Topics · FAQ | SSA", "url": "https:\/\/faq.ssa.gov\/en-US\/topic\/?id=CAT-01090",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/faq.ssa.gov\/en-US\/topic\/?id=CAT-01090",
        "snippet": "Earnings Effect on Retirement Benefits. What happens if I work
        and get Social Security retirement benefits? What is the special rule about
        earnings in the first year of retirement? Must I pay Social Security taxes
        on my earnings after full retirement age?", "dateLastCrawled": "2024-01-04T23:29:00.0000000Z",
        "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=social+security+(site%3agov+OR+site%3amil)&d=4683271339646397&mkt=en-US&setlang=en-US&w=5AgFqSnCFvhRtK9fZ8ET1BDJlR-a5Won",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Understanding SSI - SSI Application Process and Applicants'' Rights",
        "url": "https:\/\/www.ssa.gov\/ssi\/text-apply-ussi.htm", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.ssa.gov\/ssi\/text-apply-ussi.htm", "snippet":
        "You can apply for SSI benefits by: Visiting our Apply Online for Disability
        Benefits website to start the disability application process online.[...]
