---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659c459238ed495f8cb3e34ea257ba41
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659c459238ed495f8cb3e34ea257ba41
      Bingapis-Sessionid:
      - 6190EE9294D646DCB2557213C1F1DC34
      X-Msedge-Clientid:
      - 2CB419946D05661829F40D946C38670D
      X-Msapi-Userstate:
      - 1c7f
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=262,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "weather
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=weather+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 48800000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "National Weather Service", "url": "https:\/\/www.weather.gov\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.weather.gov", "snippet":
        "A storm tracking across the Southwest providing rain and snow, will spread
        into the central\/southern Plains with accumulating snow expected. This system
        tracks along the Gulf coast Friday then into the mid-Atlantic region this
        weekend. Heavy rain across the South and Southeast, snow for portions of mid-Atlantic
        and Northeast.", "dateLastCrawled": "2024-01-07T04:13:00.0000000Z", "cachedPageUrl":
        "http:\/\/cc.bingj.com\/cache.aspx?q=weather+(site%3agov+OR+site%3amil)&d=4775291018881361&mkt=en-US&setlang=en-US&w=WtkB2xaydjp7jRegddw8jfiej_oKUN88",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "National Weather Service", "url": "https:\/\/forecast.weather.gov\/zipcity.php?inputstring=18964",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/forecast.weather.gov\/zipcity.php?inputstring=18964",
        "snippet": "Saturday Night. Rain, possibly mixed with snow. Low around 32.
        Breezy, with an east wind 10 to 20 mph. Chance of precipitation is 100%. New
        snow accumulation of le[...]
