---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=60&q=social%20security%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - D25D9B409EA340D6AEA27E5D47395C0A
      Bingapis-Sessionid:
      - 3F1EC019C85A45C7AEADD45BEE13DB0D
      X-Msedge-Clientid:
      - 0155275C02B16503392C37F803576442
      X-Msapi-Userstate:
      - bd17
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=283,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "social
        security (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=social+security+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 408000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Veterans | SSA - Social Security Administration", "url": "http:\/\/www.ssa.gov\/woundedwarriors\/",
        "isFamilyFriendly": true, "displayUrl": "www.ssa.gov\/woundedwarriors",
        "snippet": "The Supplemental Security Income (SSI) program is a program
        that provides income support to people with disabilities, people age 65 or
        older, or blind, who have low income and resources. U.S. Treasury general
        funds, not the Social Security trust funds, pay for SSI. If you or someone
        you know may be eligible for SSI, visit SSI Benefits to learn ...", "dateLastCrawled":
        "2021-08-24T00:39:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "Retirement Estimator | SSA - Social Security Administration", "url":
        "https:\/\/www.ssa.gov\/benefits\/retirement\/estimator.html", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.ssa.gov\/benefits\/retirement\/estimator.html",
        "snippet": "Social Security annual cost-of-living adjustments. Changes to
        U.S. laws and policies. Your military service[...]
