---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(social%20security)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20&web.offset=60
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028social
        security\u0029 language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov
        OR site\u003amil\u0029"},"Web":{"Total":6410000,"Offset":60,"Results":[{"Title":"Social
        Security Online - Seattle Region","Description":"The Social Security Administration\u0027s
        Seattle Region proudly serves the residents of Alaska, Idaho, Oregon and Washington.
        Our region encompasses 23\u0025 of America\u0027s ...","Url":"https\u003a\u002f\u002fwww.ssa.gov\u002fseattle\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dsocial\u002bsecurity\u0026d\u003d4671397065327046\u0026w\u003dHs9D_2BpWu1MThFHpIKP7W4gmKjdHFqL","DisplayUrl":"https\u003a\u002f\u002fwww.ssa.gov\u002fseattle","DateTime":"2016-11-13T15\u003a23\u003a00Z"},{"Title":"Benefits
        after Incarceration - Social Security Administration","Description":"We
        pay benefits under both the Social Security and Supplemental Security
        Income \u0028SSI\u0029 programs. Both of these programs prohibit payments
        to most prisoners.","Url":"https\u003a\u002f\u002fwww.ssa.gov\u002freentry\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dsocial\u002bsecurity\u0026d\u003d488[...]
