---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 979A31115CFC404690B4FA38611334F9
      X-Msedge-Clientid:
      - 0E25B8B75332658700FDB28E52A56452
      X-Msapi-Userstate:
      - ea57
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=4D44186F8FC147FE8DD0309C62468541&CID=0E25B8B75332658700FDB28E52A56452&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=4D44186F8FC147FE8DD0309C62468541&CID=0E25B8B75332658700FDB28E52A56452&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=weather+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5370.1", "totalEstimatedMatches": 8740000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "National Weather Service - Official Site", "url": "http:\/\/www.weather.gov\/",
        "urlPingSuffix": "DevEx,5082.1", "about": [{"name": "National Weather Service"}],
        "displayUrl": "www.weather.gov", "snippet": "Official U.S. weather, marine,
        fire and aviation forecasts, warnings, meteorological products, climate forecasts
        and information about meteorology.", "deepLinks": [{"name": "Radar", "url":
        "https:\/\/radar.weather.gov\/", "urlPingSuffix": "DevEx,5072.1"}, {"name":
        "Forecast Maps", "url": "http:\/\/www.weather.gov\/forecastmaps", "urlPingSuffix":
        "DevEx,5073.1"}, {"name": "National Weather Service", "url": "http:\/\/forecast.weather.gov\/MapClick.php?site=SEW&textField1=47.9792&textField2=-122.201&e=1",
        "urlPingSuffix": "DevEx,5074.1"}, {"name": "Satellite", "url": "http:\/\/www.weather.gov\/satellite",
        "urlPingSuffix": "DevEx,5075.1"}, {"name": "Search", "url": "http:\/\/www.weather.gov\/search",
        "urlPingSuffix": "DevEx,5076.1"}, {"name": "Local", "url": "http:\/\/www.weather.gov\/srh\/",
        "urlPingSuffix": "DevEx,5077.1"}], "dateLastCrawled": "2017-02-27T11:28:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Forecast
        Maps - National Weather Service", "url": "http:\/\/www.weather.gov\/forecastmaps",
        "urlPingSuffix": "DevEx,5096.1", "displayUrl": "www.weather.gov\/forecastmaps",
        "snippet": "Predominant Weather. Expected weather (precipitating or non-precipitating)
        valid at the indicated hour. The weather element includes type, probability,
        [...]
