---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(thunder%20%26%20lightning)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028thunder
        \u0026 lightning\u0029 language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov
        OR site\u003amil\u0029"},"Web":{"Total":252000,"Offset":0,"Results":[{"Title":"NOAA\u002fNASA
        SciJinks \u003a\u003a What causes lightning and thunder\u003f","Description":"What
        causes lightning and thunder\u003f Lightning\u0021 Zap\u0021 You just
        touched a metal doorknob after shuffling your rubber-soled feet across the
        carpet. Yipes\u0021","Url":"http\u003a\u002f\u002fscijinks.jpl.nasa.gov\u002flightning\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dthunder\u002blightning\u0026d\u003d4575443183535112\u0026w\u003d5XM_Qd0kbKogq6hk-apsHNmWHhRwplZ5","DisplayUrl":"scijinks.jpl.nasa.gov\u002flightning","DateTime":"2016-11-29T18\u003a44\u003a00Z"},{"Title":"NWS
        Lightning Safety Home Page","Description":"Lightning strikes the United
        States about 25 million times a year. Although most lightning occurs in
        the summer, people can be struck at any time of year.","Url":"http\u003a\u002f\u002fwww.lightningsafety.noaa.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dthunder\u002blightning\u0026d\u003d4915832209606784\u0026w\u003dgSWYxehVidq7dlavTK_[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=thunder%20%26%20lightning%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0CCCD7C9C32A468F9615F5EF27EC14F2
      X-Msedge-Clientid:
      - 3FF7C2EDB53A69582F33CB07B40B68D7
      X-Msapi-Userstate:
      - 34d8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DE3666AA36BE45BAB3E4EF8A7D21471F&CID=3FF7C2EDB53A69582F33CB07B40B68D7&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DE3666AA36BE45BAB3E4EF8A7D21471F&CID=3FF7C2EDB53A69582F33CB07B40B68D7&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=thunder+%26+lightning+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5459.1", "totalEstimatedMatches": 1050000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Thunderstorms & Lightning | Ready.gov", "url": "https:\/\/www.ready.gov\/thunderstorms-lightning",
        "urlPingSuffix": "DevEx,5099.1", "displayUrl": "https:\/\/www.ready.gov\/thunderstorms-lightning",
        "snippet": "Thunderstorms & Lightning. All thunderstorms are dangerous.
        ... “Heat lightning” is actually lightning from a thunderstorm too far
        away from thunder to be heard.", "dateLastCrawled": "2016-12-07T17:02:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "NOAA\/NASA
        SciJinks :: What causes lightning and thunder?", "url": "http:\/\/scijinks.jpl.nasa.gov\/lightning\/",
        "urlPingSuffix": "DevEx,5113.1", "displayUrl": "scijinks.jpl.nasa.gov\/lightning",
        "snippet": "What causes lightning and thunder? Lightning! Zap! You just
        touched a metal doorknob after shuffling your rubber-soled feet across the
        [...]
