---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=60&q=social%20security%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - AAA239C7C5434817A5B80301DF199B8A
      X-Msedge-Clientid:
      - 3AB819DCC1D860C023801345C04F61ED
      X-Msapi-Userstate:
      - 95d9
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B7EA087E4698483DA4C972C0D33F98BF&CID=3AB819DCC1D860C023801345C04F61ED&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B7EA087E4698483DA4C972C0D33F98BF&CID=3AB819DCC1D860C023801345C04F61ED&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=social+security+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5409.1", "totalEstimatedMatches": 337000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Social Security Quick Calculator", "url": "https:\/\/www.ssa.gov\/OACT\/quickcalc\/index.html",
        "urlPingSuffix": "DevEx,5066.1", "displayUrl": "https:\/\/www.ssa.gov\/OACT\/quickcalc\/index.html",
        "snippet": "Benefit estimates depend on your date of birth and on your earnings
        history. For security, the \"Quick Calculator\" does not access your earnings
        record; instead, it ...", "dateLastCrawled": "2017-06-01T20:48:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Top Questions
        about Social Security | USAGov", "url": "https:\/\/www.usa.gov\/about-social-security",
        "urlPingSuffix": "DevEx,5081.1", "displayUrl": "https:\/\/www.usa.gov\/about-social-security",
        "snippet": "Social Security is a federal government program that provides
        a source of income for you or your legal dependents (spouse, children, or
     [...]
