---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 74F789334B0D44E6B10538F39428BA32
      Bingapis-Sessionid:
      - C02BC044BDC14558B0C7984A32CDF6E6
      X-Msedge-Clientid:
      - 112C1C9B40276DFA2A060CC841DA6C73
      X-Msapi-Userstate:
      - '1404'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=246,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "weather
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=weather+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 91400000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "National Weather Service", "url": "https:\/\/www.weather.gov\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.weather.gov", "snippet":
        "Surface Weather Upper Air Marine and Buoy Reports Snow Cover Satellite
        Space Weather International Observations. FORECAST Local Forecast International
        Forecasts Severe Weather Current Outlook Maps Drought Fire Weather Fronts\/Precipitation
        Maps Current Graphical Forecast Maps Rivers Marine Offshore and High Seas
        Hurricanes Aviation Weather", "dateLastCrawled": "2021-06-08T11:17:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "National Weather Service", "url": "https:\/\/www.weather.gov\/%20",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.weather.gov\/ ",
        "snippet": "Texas Severe Thunderstorms; Central Rockies Snow; Fire Weather
        in the West. Isolated severe thunderstorms capable of producing large to very
        large hail and severe wind gusts may occur Monday across parts of south-c[...]
