---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=60&q=social%20security%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - EFE7DCB722174650887D0936F622F66A
      X-Msedge-Clientid:
      - 0C51B6306B1E6F7725BCBDAE6AFB6E2F
      X-Msapi-Userstate:
      - a234
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=36E3ED6E0A3F404A8FDD9729FD2FC6DB&CID=0C51B6306B1E6F7725BCBDAE6AFB6E2F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=36E3ED6E0A3F404A8FDD9729FD2FC6DB&CID=0C51B6306B1E6F7725BCBDAE6AFB6E2F&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=social+security+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5470.1", "totalEstimatedMatches": 269000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Medicare - Social Security Administration", "url": "https:\/\/www.ssa.gov\/pubs\/EN-05-10043.pdf",
        "urlPingSuffix": "DevEx,5077.1", "about": [{"name": "Medicare"}], "displayUrl":
        "https:\/\/www.ssa.gov\/pubs\/EN-05-10043.pdf", "snippet": "4. Before age
        65, you are eligible for Medicare Part A at no cost if: • You’ve been entitled
        to Social Security disability benefits for 24 months; or", "dateLastCrawled":
        "2018-02-10T17:29:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Benefits for People with Disabilities", "url": "http:\/\/www.ssa.gov\/disability\/",
        "urlPingSuffix": "DevEx,5089.1", "displayUrl": "www.ssa.gov\/disability",
        "snippet": "The Social Security and Supplemental Security Income disability
        programs are the largest of several Federal programs that provide assistance
        to people with ...", "dateLastCr[...]
