---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=60&q=social%20security%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659c459d6ae543d9a92f340bcaad1028
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659c459d6ae543d9a92f340bcaad1028
      Bingapis-Sessionid:
      - FAD981857DCE4DEDBB298CF1C4114419
      X-Msedge-Clientid:
      - 1383AE4F82AB6392288FBA4F83A86287
      X-Msapi-Userstate:
      - 34f0
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=296,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "social
        security (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=social+security+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 63600000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Change of Address | SSA - The United States Social Security Administration",
        "url": "https:\/\/www-origin.ssa.gov\/myaccount\/change-of-address.html",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www-origin.ssa.gov\/myaccount\/change-of-address.html",
        "snippet": "If you have questions or need help understanding how to change
        your address and telephone number online, call our toll-free number at 1-800-772-1213
        or visit your Social Security office. If you are deaf or hard of hearing,
        call our toll-free TTY number, 1-800-325-0778, between 8:00 a.m. and 7:00
        p.m. Monday through Friday.", "dateLastCrawled": "2024-01-07T23:08:00.0000000Z",
        "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=social+security+(site%3agov+OR+site%3amil)&d=4961885874378193&mkt=en-US&setlang=en-US&w=N3FgJcKycYfQZ9poJtPRlxa2hu_EwMTU",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Social Security - Representative Payee Program - Payee and ABLE
        Accounts", "url": "https:\/\/www.ssa.gov\/payee\/able_accounts.htm#!", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.ssa.gov\/payee\/able_accounts.htm#!",
        "snippet": "Account Titling. The payee must title the ABLE account to show
        that the payee has a fiduciary interest in the funds. The account title [...]
