---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 519D22256E7F4D948CEA7E980FA15211
      X-Msedge-Clientid:
      - 146B0420F7296CB5041A0EE3F6BE6D7E
      X-Msapi-Userstate:
      - c0eb
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=65C16AF0A7A84DAE9641C1E465B93698&CID=146B0420F7296CB5041A0EE3F6BE6D7E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=65C16AF0A7A84DAE9641C1E465B93698&CID=146B0420F7296CB5041A0EE3F6BE6D7E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=weather+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5484.1", "totalEstimatedMatches": 20300000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "National Weather Service - Official Site", "url": "http:\/\/www.weather.gov\/",
        "urlPingSuffix": "DevEx,5089.1", "about": [{"name": "National Weather Service"},
        {"name": "Wind wave"}], "displayUrl": "www.weather.gov", "snippet": "Official
        U.S. weather, marine, fire and aviation forecasts, warnings, meteorological
        products, climate forecasts and information about meteorology.", "deepLinks":
        [{"name": "Radar", "url": "https:\/\/radar.weather.gov\/", "urlPingSuffix":
        "DevEx,5078.1"}, {"name": "Forecast Maps", "url": "http:\/\/www.weather.gov\/forecastmaps",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "National Weather Service", "url":
        "http:\/\/forecast.weather.gov\/MapClick.php?site=SEW&textField1=47.9792&textField2=-122.201&e=1",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Satellite", "url": "http:\/\/www.weather.gov\/satellite",
        "urlPingSuffix": "DevEx,5081.1"}, {"name": "Search", "url": "http:\/\/www.weather.gov\/search",
        "urlPingSuffix": "DevEx,5082.1"}, {"name": "Local", "url": "http:\/\/www.weather.gov\/srh\/",
        "urlPingSuffix": "DevEx,5083.1"}], "dateLastCrawled": "2017-07-15T07:01:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Weather
        | National Oceanic and Atmospheric Administration", "url": "http:\/\/www.noaa.gov\/weather",
        "urlPingSuffix": "DevEx,5106.1", "displayUrl": "www.noaa.gov\/weather",
        "snippet": "NOAA''s National Weather Service is building a Weather-Ready
        Nation by providing better information for better decisions to save lives
        and livelihoods", "d[...]
