---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - FF6DF6FEC9CA429BA69AFB8864BFE483
      X-Msedge-Clientid:
      - 02A4473F9EE069CC0C364D0E9FD16821
      X-Msapi-Userstate:
      - 09c3
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A27B8988382A4104BA9C44385846AC59&CID=02A4473F9EE069CC0C364D0E9FD16821&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A27B8988382A4104BA9C44385846AC59&CID=02A4473F9EE069CC0C364D0E9FD16821&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=weather+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5301.1", "totalEstimatedMatches": 9160000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "National Weather Service - Official Site", "url": "http:\/\/www.weather.gov\/",
        "urlPingSuffix": "DevEx,5079.1", "about": [{"name": "National Weather Service"}],
        "displayUrl": "www.weather.gov", "snippet": "Official U.S. weather, marine,
        fire and aviation forecasts, warnings, meteorological products, climate forecasts
        and information about meteorology.", "deepLinks": [{"name": "Radar", "url":
        "http:\/\/radar.weather.gov\/", "urlPingSuffix": "DevEx,5069.1"}, {"name":
        "Forecast Maps", "url": "http:\/\/www.weather.gov\/forecastmaps", "urlPingSuffix":
        "DevEx,5070.1"}, {"name": "Satellite", "url": "http:\/\/www.weather.gov\/satellite",
        "urlPingSuffix": "DevEx,5071.1"}, {"name": "National Weather Service", "url":
        "http:\/\/forecast.weather.gov\/MapClick.php?site=MTR&textField1=37.775&textField2=-122.418&e=0",
        "urlPingSuffix": "DevEx,5072.1"}, {"name": "Search", "url": "http:\/\/www.weather.gov\/search",
        "urlPingSuffix": "DevEx,5073.1"}, {"name": "Local", "url": "http:\/\/www.weather.gov\/srh\/",
        "urlPingSuffix": "DevEx,5074.1"}], "dateLastCrawled": "2017-02-16T01:40:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Satellite
        Images - weather.gov", "url": "https:\/\/www.weather.gov\/satellite", "urlPingSuffix":
        "DevEx,5092.1", "displayUrl": "https:\/\/www.weather.gov\/satellite", "snippet":
        "Weather.gov > Satellite Images . These images show the most recent image
        of the United States, from NOAA geostationary (GOES) satellites.", "dateLastCrawled":
        "2017-[...]
