---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 21860D7E131A4E58B0CDD101E3E2C6A0
      X-Msedge-Clientid:
      - 27416DDA93C663903D017D7E923B6298
      X-Msapi-Userstate:
      - fbec
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=64C74D27B5E641A1A35E03C17CDC88AA&CID=27416DDA93C663903D017D7E923B6298&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=64C74D27B5E641A1A35E03C17CDC88AA&CID=27416DDA93C663903D017D7E923B6298&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=weather+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5428.1", "totalEstimatedMatches": 20300000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "National Weather Service", "url": "https:\/\/www.weather.gov\/", "urlPingSuffix":
        "DevEx,5060.1", "displayUrl": "https:\/\/www.weather.gov", "snippet": "NOAA
        National Weather Service National Weather Service. Widespread Heat, Severe
        Storms\/Heavy Rain and Tropical Depression Nine. Heat continues to grip much
        of the U.S. as excessive heat warnings and heat advisories extend from the
        Southwest to the Northeast.", "dateLastCrawled": "2021-08-26T19:20:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Weather
        | National Oceanic and Atmospheric Administration", "url": "https:\/\/www.noaa.gov\/weather",
        "urlPingSuffix": "DevEx,5074.1", "displayUrl": "https:\/\/www.noaa.gov\/weather",
        "snippet": "Weather, water and climate events, cause an average of approximately
        650 deaths and $15 billion in damage per year and are responsible for some
        [...]
