---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 29B157D5169B446CA12B09CD9435935F
      X-Msedge-Clientid:
      - 0E56F6DCDFFF6B4B39E3FD57DE506AB6
      X-Msapi-Userstate:
      - ecfe
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=4363061BB47E4A6AAC37A8AB7A077B25&CID=0E56F6DCDFFF6B4B39E3FD57DE506AB6&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=4363061BB47E4A6AAC37A8AB7A077B25&CID=0E56F6DCDFFF6B4B39E3FD57DE506AB6&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=weather+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5523.1", "totalEstimatedMatches": 32800000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "National Weather Service - Official Site", "url": "http:\/\/www.weather.gov\/",
        "urlPingSuffix": "DevEx,5100.1", "displayUrl": "www.weather.gov", "snippet":
        "Stormy Weather Continues in the Pacific Northwest; Fire Weather Threats
        Developing in Southern California; and a Cold Front Will Bring Heavy Rain
        to the Gulf Coast", "deepLinks": [{"name": "Radar", "url": "https:\/\/radar.weather.gov\/",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Forecast Maps", "url": "http:\/\/www.weather.gov\/forecastmaps",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "Satellite", "url": "http:\/\/www.weather.gov\/satellite",
        "urlPingSuffix": "DevEx,5091.1"}, {"name": "Boston, MA", "url": "http:\/\/www.weather.gov\/box\/",
        "urlPingSuffix": "DevEx,5092.1"}, {"name": "Local", "url": "http:\/\/www.weather.gov\/srh\/",
        "urlPingSuffix": "DevEx,5093.1"}, {"name": "Search", "url": "http:\/\/www.weather.gov\/search",
        "urlPingSuffix": "DevEx,5094.1"}], "dateLastCrawled": "2018-01-28T12:37:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Weather
        | National Oceanic and Atmospheric Administration", "url": "http:\/\/www.noaa.gov\/weather",
        "urlPingSuffix": "DevEx,5120.1", "displayUrl": "www.noaa.gov\/weather",
        "snippet": "NOAA''s National Weather Service is building a Weather-Ready
        Nation by providing better information for better decisions to save lives
        and livelihoods", "d[...]
