---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=thunder%20%26%20lightning%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C5C5B5B76F2E415BBD8C619BF30BF674
      X-Msedge-Clientid:
      - 255DB6163734638905D7BD1E36A36272
      X-Msapi-Userstate:
      - 49c6
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=FFFE75CF22394B7F8E32F28817E7D2E0&CID=255DB6163734638905D7BD1E36A36272&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=FFFE75CF22394B7F8E32F28817E7D2E0&CID=255DB6163734638905D7BD1E36A36272&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=thunder+%26+lightning+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5497.1", "totalEstimatedMatches": 2250000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Thunderstorms & Lightning | Ready.gov", "url": "https:\/\/www.ready.gov\/thunderstorms-lightning",
        "urlPingSuffix": "DevEx,5078.1", "displayUrl": "https:\/\/www.ready.gov\/thunderstorms-lightning",
        "snippet": "All thunderstorms are dangerous. Every thunderstorm produces
        lightning. While lightning fatalities have decreased over the past 30
        years, lightning continues to be ...", "dateLastCrawled": "2017-09-22T14:25:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "NOAA\/NASA
        SciJinks :: What causes lightning and thunder?", "url": "https:\/\/scijinks.gov\/lightning\/",
        "urlPingSuffix": "DevEx,5093.1", "displayUrl": "https:\/\/scijinks.gov\/lightning",
        "snippet": "Lightning! Zap! You just touched a metal doorknob after shuffling
        your rubber-soled feet across the carpet. Yipes! You''ve been struck by lightning![...]
