---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=60&q=social%20security%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 7FA56307AB564792967248B52262C330
      X-Msedge-Clientid:
      - 297CC44D2A5461292D68D4E92B8A6043
      X-Msapi-Userstate:
      - 19ec
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=7125123F99EC432CB1A12F294727BCB9&CID=297CC44D2A5461292D68D4E92B8A6043&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=7125123F99EC432CB1A12F294727BCB9&CID=297CC44D2A5461292D68D4E92B8A6043&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=social+security+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5442.1", "totalEstimatedMatches": 412000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Veterans | SSA - Social Security Administration", "url": "http:\/\/www.ssa.gov\/woundedwarriors\/",
        "urlPingSuffix": "DevEx,5063.1", "displayUrl": "www.ssa.gov\/woundedwarriors",
        "snippet": "The Supplemental Security Income (SSI) program is a program
        that provides income support to people with disabilities, people age 65 or
        older, or blind, who have low income and resources. U.S. Treasury general
        funds, not the Social Security trust funds, pay for SSI. If you or someone
        you know may be eligible for SSI, visit SSI Benefits to learn ...", "dateLastCrawled":
        "2021-08-24T00:39:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Retirement Estimator | SSA - Social Security Administration",
        "url": "https:\/\/www.ssa.gov\/benefits\/retirement\/estimator.html", "urlPingSuffix":
        "DevEx,5077.1", "displayUrl": "https:\/\/www.ssa.gov\/benefits\/retirement\/estimator.html",
        "snippet": "Social Security annual cost-of-living adjustments. Changes to
        U.S. laws and policies. [...]
