---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A3C22C72112A48CEBEBAF856EB948E94
      X-Msedge-Clientid:
      - 3795E5053CAE645F12B4EE423D3965CB
      X-Msapi-Userstate:
      - ba70
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=34523F791B384FD09FBCC7D9ABF2D0E7&CID=3795E5053CAE645F12B4EE423D3965CB&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=34523F791B384FD09FBCC7D9ABF2D0E7&CID=3795E5053CAE645F12B4EE423D3965CB&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=weather+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5504.1", "totalEstimatedMatches": 27800000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "National Weather Service - Official Site", "url": "http:\/\/www.weather.gov\/",
        "urlPingSuffix": "DevEx,5095.1", "about": [{"name": "National Weather Service"},
        {"name": "NWS"}], "displayUrl": "www.weather.gov", "snippet": "Official
        U.S. weather, marine, fire and aviation forecasts, warnings, meteorological
        products, climate forecasts and information about meteorology.", "deepLinks":
        [{"name": "Radar", "url": "https:\/\/radar.weather.gov\/", "urlPingSuffix":
        "DevEx,5084.1"}, {"name": "Forecast Maps", "url": "http:\/\/www.weather.gov\/forecastmaps",
        "urlPingSuffix": "DevEx,5085.1"}, {"name": "National Weather Service", "url":
        "http:\/\/forecast.weather.gov\/MapClick.php?site=SEW&textField1=47.9792&textField2=-122.201&e=1",
        "urlPingSuffix": "DevEx,5086.1"}, {"name": "Satellite", "url": "http:\/\/www.weather.gov\/satellite",
        "urlPingSuffix": "DevEx,5087.1"}, {"name": "Local", "url": "http:\/\/www.weather.gov\/srh\/",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "Search", "url": "http:\/\/www.weather.gov\/search",
        "urlPingSuffix": "DevEx,5089.1"}], "dateLastCrawled": "2017-11-21T20:56:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "National
        Weather Service", "url": "http:\/\/forecast.weather.gov\/MapClick.php?lat=40.7142&lon=-74.0059",
        "urlPingSuffix": "DevEx,5109.1", "displayUrl": "forecast.weather.gov\/MapClick.php?lat=40.7142&lon=-74.0059",
        "snippet": "NOAA National Weather Service National Weather Service. Notice
        of NWS'' New Version of Forecast. A new version of Forecast[...]
