---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=60&q=social%20security%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 68C394A8B8C5474FA01CD7ABE7EDDD9B
      X-Msedge-Clientid:
      - 2BAF5DAAAE7E665727D4579BAF4F67E8
      X-Msapi-Userstate:
      - bceb
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8B11A4923F7443FEB4F56FCC2138E87C&CID=2BAF5DAAAE7E665727D4579BAF4F67E8&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8B11A4923F7443FEB4F56FCC2138E87C&CID=2BAF5DAAAE7E665727D4579BAF4F67E8&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=social+security+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5462.1", "totalEstimatedMatches": 318000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Benefits For Children With Disabilities", "url": "https:\/\/www.ssa.gov\/pubs\/EN-05-10026.pdf",
        "urlPingSuffix": "DevEx,5064.1", "displayUrl": "https:\/\/www.ssa.gov\/pubs\/EN-05-10026.pdf",
        "snippet": "her Social Security number and birth certificate with you. If
        you are applying for SSDI benefits for your child based on your own earnings",
        "dateLastCrawled": "2017-01-10T09:42:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Veterans - Social Security Administration", "url": "https:\/\/www.ssa.gov\/people\/veterans\/",
        "urlPingSuffix": "DevEx,5077.1", "displayUrl": "https:\/\/www.ssa.gov\/people\/veterans",
        "snippet": "Social Security pays disability benefits through two programs:
        the Social Security disability insurance program, which pays benefits to
        you and certain [...]
