---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9421DDB5E178444FB227CEE04EE72264
      X-Msedge-Clientid:
      - 1BFBF09A50A8662C386AFAAB51996760
      X-Msapi-Userstate:
      - af43
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8761F53C9C8F4409A7A3095172666A3F&CID=1BFBF09A50A8662C386AFAAB51996760&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8761F53C9C8F4409A7A3095172666A3F&CID=1BFBF09A50A8662C386AFAAB51996760&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=weather+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5386.1", "totalEstimatedMatches": 9590000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "National Weather Service - Official Site", "url": "http:\/\/www.weather.gov\/",
        "urlPingSuffix": "DevEx,5084.1", "about": [{"name": "National Weather Service"}],
        "displayUrl": "www.weather.gov", "snippet": "Official U.S. weather, marine,
        fire and aviation forecasts, warnings, meteorological products, climate forecasts
        and information about meteorology.", "deepLinks": [{"name": "Radar", "url":
        "http:\/\/radar.weather.gov\/", "urlPingSuffix": "DevEx,5074.1"}, {"name":
        "Forecast Maps", "url": "http:\/\/www.weather.gov\/forecastmaps", "urlPingSuffix":
        "DevEx,5075.1"}, {"name": "Satellite", "url": "http:\/\/www.weather.gov\/satellite",
        "urlPingSuffix": "DevEx,5076.1"}, {"name": "National Weather Service", "url":
        "http:\/\/forecast.weather.gov\/MapClick.php?site=MTR&textField1=37.775&textField2=-122.418&e=0",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "Search", "url": "http:\/\/www.weather.gov\/search",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Local", "url": "http:\/\/www.weather.gov\/srh\/",
        "urlPingSuffix": "DevEx,5079.1"}], "dateLastCrawled": "2017-02-16T01:40:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Weather
        | National Oceanic and Atmospheric Administration", "url": "http:\/\/www.noaa.gov\/weather",
        "urlPingSuffix": "DevEx,5101.1", "displayUrl": "www.noaa.gov\/weather",
        "snippet": "NOAA''s National Weather Service is building a Weather-Ready
        Nation by providing better information for better decisions to save lives
        and livelihoods", [...]
