---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=thunder%20%26%20lightning%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 912F293824674F51BD90B889AA32A26D
      X-Msedge-Clientid:
      - 16D798ED94266CCF131D933095B16D78
      X-Msapi-Userstate:
      - aab5
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=944F017AF6E04B2DB93A4E713598E646&CID=16D798ED94266CCF131D933095B16D78&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=944F017AF6E04B2DB93A4E713598E646&CID=16D798ED94266CCF131D933095B16D78&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=thunder+%26+lightning+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5508.1", "totalEstimatedMatches": 6640000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Thunderstorms & Lightning | Ready.gov", "url": "https:\/\/www.ready.gov\/thunderstorms-lightning",
        "urlPingSuffix": "DevEx,5089.1", "about": [{"name": "Thunderstorm"}], "displayUrl":
        "https:\/\/www.ready.gov\/thunderstorms-lightning", "snippet": "All thunderstorms
        are dangerous. Every thunderstorm produces lightning. While lightning
        fatalities have decreased over the past 30 years, lightning continues to
        be one of the top three storm-related killers in the United States.", "dateLastCrawled":
        "2018-04-23T02:05:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Lightning Safety Tips and Resources - weather.gov", "url": "https:\/\/www.weather.gov\/safety\/lightning",
        "urlPingSuffix": "DevEx,5105.1", "about": [{"name": "Lightning strike"}, {"name":
        "Lightning strike"}], "displayUrl": "https:\/\/www.weather.gov\/safety\/lightning",
        "snippet": "Although most lightning occurs in the summer, people can be
   [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=thunder%20%26%20lightning%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C2B5DC5[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=thunder%20%26%20lightning%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B39ED3E4CA614383A2A0A3D4E9976FC3
      Bingapis-Sessionid:
      - B75EE017306947F9963762E0A5AB9E83
      X-Msedge-Clientid:
      - 35597124B6F06A9409BF7DDEB7BC6BA9
      X-Msapi-Userstate:
      - a8b5
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=221,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "thunder
        & lightning (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=thunder+%26+lightning+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 2410000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Thunderstorms & Lightning | Ready.gov", "url": "https:\/\/www.ready.gov\/thunderstorms-lightning",
        "about": [{"name": "Thunderstorm"}], "isFamilyFriendly": true, "displayUrl":
        "https:\/\/www.ready.gov\/thunderstorms-lightning", "snippet": "Consider
        buying surge protectors, lightning rods, or a lightning protection system
        to protect your home, appliances, and electronic devices. Survive DURING.
        When thunder roars, go indoors. A sturdy building is the safest place to
        be during a thunderstorm. Pay attention to weather reports and warnings
        of thunderstorms.", "dateLastCrawled": "2019-02-01T09:20:00.0000000Z", "language":
        "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Lightning Safety - weather.gov", "url": "https:\/\/www.weather.gov\/safety\/lightning-safety",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.weather.gov\/safety\/lightning-safety",
        "snippet": "If you hear thunder, you are likely within striking distance
        of the storm. Just remember, When Thunder Roars, Go Indoors. Too many people
        wait far too long to[...]
