---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=thunder%20%26%20lightning%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - EF883436E7D14272897CC0314E67ADA9
      X-Msedge-Clientid:
      - 2DB6FE6FA80761B9147DF4ACA990603A
      X-Msapi-Userstate:
      - aa24
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B33C1F90BB6D437E9277A15020C1A39D&CID=2DB6FE6FA80761B9147DF4ACA990603A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B33C1F90BB6D437E9277A15020C1A39D&CID=2DB6FE6FA80761B9147DF4ACA990603A&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=thunder+%26+lightning+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5462.1", "totalEstimatedMatches": 5400000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Thunderstorms & Lightning | Ready.gov", "url": "https:\/\/www.ready.gov\/thunderstorms-lightning",
        "urlPingSuffix": "DevEx,5077.1", "displayUrl": "https:\/\/www.ready.gov\/thunderstorms-lightning",
        "snippet": "Thunderstorms & Lightning. All thunderstorms are dangerous.
        ... “Heat lightning” is actually lightning from a thunderstorm too far
        away from thunder to be heard.", "dateLastCrawled": "2017-07-12T22:13:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "NOAA\/NASA
        SciJinks :: What causes lightning and thunder?", "url": "https:\/\/scijinks.gov\/lightning\/",
        "urlPingSuffix": "DevEx,5091.1", "displayUrl": "https:\/\/scijinks.gov\/lightning",
        "snippet": "Lightning! Zap! You just touched a metal doorknob after shuffling
        your rubber-soled feet across the carpet. Yipes! You''ve been struck by lightning![...]
