---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=60&q=social%20security%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - AE166DB730C74E1295F7B2157D8C8598
      X-Msedge-Clientid:
      - 3D873E30DB716DBE3396340ADAE66C1B
      X-Msapi-Userstate:
      - '6845'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=784EE6E02DC749C09B5256EA3EACED56&CID=3D873E30DB716DBE3396340ADAE66C1B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=784EE6E02DC749C09B5256EA3EACED56&CID=3D873E30DB716DBE3396340ADAE66C1B&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=social+security+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5443.1", "totalEstimatedMatches": 366000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Disability Benefits - Social Security Administration", "url": "https:\/\/www.ssa.gov\/pubs\/EN-05-10029.pdf",
        "urlPingSuffix": "DevEx,5065.1", "displayUrl": "https:\/\/www.ssa.gov\/pubs\/EN-05-10029.pdf",
        "snippet": "Contact Social Security Visit our website At our website, www.socialsecurity.gov,
        you can: • Create a my Social Security account to review your", "dateLastCrawled":
        "2017-02-20T13:17:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "There is 1 error on the page., Social Security Office ...", "url":
        "https:\/\/secure.ssa.gov\/ICON\/ic001.do", "urlPingSuffix": "DevEx,5076.1",
        "displayUrl": "https:\/\/secure.ssa.gov\/ICON\/ic001.do", "snippet": "Social
        Security. SSA Office Locator. The Official Website of the U.S. Social Security
        Administration Need Larger Text? Accessibi[...]
