---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(weather)%20language:es%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028weather\u0029
        language\u003aes \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":43100,"Offset":0,"Results":[{"Title":"National
        Weather Service Text Product Display","Description":"National Weather
        Service is your source for the most complete weather forecast and weather
        related information on the web","Url":"http\u003a\u002f\u002fforecast.weather.gov\u002fproduct.php\u003fsite\u003dNWS\u0026product\u003dHWO\u0026issuedby\u003dSPN","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dweather\u0026d\u003d4981025480640089\u0026w\u003dy7DRMlwY6gvZG_XiwHD2D7Y1lQ714bY7","DisplayUrl":"forecast.weather.gov\u002fproduct.php\u003fsite\u003dNWS\u0026product\u003dHWO\u0026issuedby\u003dSPN","DateTime":"2016-10-28T08\u003a33\u003a00Z"},{"Title":"NOAA
        Weather Radio","Description":"NOAA National Weather Service National Weather
        Service. Home\u003b Espa\u00f1ol. Informaci\u00f3n General\u003b Recepci\u00f3n\u003b
        Programaci\u00f3n Espa\u00f1ol\u003b Listado de estaci\u00f3n\u003b","Url":"http\u003a\u002f\u002fwww.nws.noaa.gov\u002fnwr\u002fesp\u002fspanishsp.html","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dweather\u0026d\u003d473369125[...]
