---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 92064CEFB5104521B6DEF0B4D38CB91F
      X-Msedge-Clientid:
      - 343CC394BBD560352FA0C90DBA4261EA
      X-Msapi-Userstate:
      - 09f8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B1235ADBE40347F08C36928C645E568A&CID=343CC394BBD560352FA0C90DBA4261EA&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B1235ADBE40347F08C36928C645E568A&CID=343CC394BBD560352FA0C90DBA4261EA&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=weather+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5464.1", "totalEstimatedMatches": 8750000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "National Weather Service - Official Site", "url": "http:\/\/www.weather.gov\/",
        "urlPingSuffix": "DevEx,5089.1", "about": [{"name": "National Weather Service"},
        {"name": "Weather forecasting"}], "displayUrl": "www.weather.gov", "snippet":
        "Official U.S. weather, marine, fire and aviation forecasts, warnings, meteorological
        products, climate forecasts and information about meteorology.", "deepLinks":
        [{"name": "Radar", "url": "https:\/\/radar.weather.gov\/", "urlPingSuffix":
        "DevEx,5079.1"}, {"name": "Forecast Maps", "url": "http:\/\/www.weather.gov\/forecastmaps",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "National Weather Service", "url":
        "http:\/\/forecast.weather.gov\/MapClick.php?site=SEW&textField1=47.9792&textField2=-122.201&e=1",
        "urlPingSuffix": "DevEx,5081.1"}, {"name": "Satellite", "url": "http:\/\/www.weather.gov\/satellite",
        "urlPingSuffix": "DevEx,5082.1"}, {"name": "Search", "url": "http:\/\/www.weather.gov\/search",
        "urlPingSuffix": "DevEx,5083.1"}, {"name": "Local", "url": "http:\/\/www.weather.gov\/srh\/",
        "urlPingSuffix": "DevEx,5084.1"}], "dateLastCrawled": "2017-06-01T16:51:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Satellite
        Images - National Weather Service", "url": "https:\/\/www.weather.gov\/satellite",
        "urlPingSuffix": "DevEx,5103.1", "displayUrl": "https:\/\/www.weather.gov\/satellite",
        "snippet": "Satellite Images. Weather.gov > Satellite Images . These
        images show the most recent image of the United States, from NOAA geostationary
        (GOES) sa[...]
