---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=60&q=social%20security%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - ED7D12913AB14E209F296CFD6A9C47A9
      X-Msedge-Clientid:
      - 39B0EA021A466CCC256BE00E1BD16DDF
      X-Msapi-Userstate:
      - 490a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B544537B7A9A4DA49FB3919B392F5262&CID=39B0EA021A466CCC256BE00E1BD16DDF&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B544537B7A9A4DA49FB3919B392F5262&CID=39B0EA021A466CCC256BE00E1BD16DDF&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=social+security+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5432.1", "totalEstimatedMatches": 235000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "How To Apply For Social Security Disability Benefits", "url": "http:\/\/www.ssa.gov\/disability\/disability.html",
        "urlPingSuffix": "DevEx,5069.1", "displayUrl": "www.ssa.gov\/disability\/disability.html",
        "snippet": "You should apply as soon as you become disabled. If you apply
        for . Social Security, disability benefits will not begin until the sixth
        full month of disability.", "dateLastCrawled": "2016-12-30T19:04:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "2017 Social
        Security Changes Fact Sheet - ssa.gov", "url": "https:\/\/www.ssa.gov\/news\/press\/factsheets\/colafacts2017.pdf",
        "urlPingSuffix": "DevEx,5079.1", "displayUrl": "https:\/\/www.ssa.gov\/news\/press\/factsheets\/colafacts2017.pdf",
        "snippet": "Fact Sheet SOCIAL SECURITY SSA Press Office 440 Altmeyer 6401
        Security Blvd. Baltimore, MD 2[...]
