---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 63F64D33E45A4F0FB2C7229276272F81
      X-Msedge-Clientid:
      - 222BC357C86E6C232B92C96DC9F96DE8
      X-Msapi-Userstate:
      - e01f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8D69B08E7A7B4E5D8C0DFE0450B7BB4E&CID=222BC357C86E6C232B92C96DC9F96DE8&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8D69B08E7A7B4E5D8C0DFE0450B7BB4E&CID=222BC357C86E6C232B92C96DC9F96DE8&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=weather+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5470.1", "totalEstimatedMatches": 9210000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "National Weather Service - Official Site", "url": "http:\/\/www.weather.gov\/",
        "urlPingSuffix": "DevEx,5090.1", "about": [{"name": "National Weather Service"}],
        "displayUrl": "www.weather.gov", "snippet": "Official U.S. weather, marine,
        fire and aviation forecasts, warnings, meteorological products, climate forecasts
        and information about meteorology.", "deepLinks": [{"name": "Radar", "url":
        "https:\/\/radar.weather.gov\/", "urlPingSuffix": "DevEx,5080.1"}, {"name":
        "Forecast Maps", "url": "http:\/\/www.weather.gov\/forecastmaps", "urlPingSuffix":
        "DevEx,5081.1"}, {"name": "National Weather Service", "url": "http:\/\/forecast.weather.gov\/MapClick.php?site=SEW&textField1=47.9792&textField2=-122.201&e=1",
        "urlPingSuffix": "DevEx,5082.1"}, {"name": "Satellite", "url": "http:\/\/www.weather.gov\/satellite",
        "urlPingSuffix": "DevEx,5083.1"}, {"name": "Search", "url": "http:\/\/www.weather.gov\/search",
        "urlPingSuffix": "DevEx,5084.1"}, {"name": "Local", "url": "http:\/\/www.weather.gov\/srh\/",
        "urlPingSuffix": "DevEx,5085.1"}], "dateLastCrawled": "2017-02-27T11:28:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Weather
        | National Oceanic and Atmospheric Administration", "url": "http:\/\/www.noaa.gov\/weather",
        "urlPingSuffix": "DevEx,5107.1", "displayUrl": "www.noaa.gov\/weather",
        "snippet": "NOAA''s National Weather Service is building a Weather-Ready
        Nation by providing better information for better decisions to save lives
        and livelihoods", [...]
