---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(weather)%20language:es%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028weather\u0029
        language\u003aes \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":36800,"Offset":0,"Results":[{"Title":"National
        Weather Service Text Product Display","Description":"National Weather
        Service is your source for the most complete weather forecast and weather
        related information on the web","Url":"http\u003a\u002f\u002fforecast.weather.gov\u002fproduct.php\u003fsite\u003dNWS\u0026product\u003dZFP\u0026issuedby\u003dSPN","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dweather\u0026d\u003d4836766148330640\u0026w\u003dIvm2DZAiPaSXgavxhLLWeUfAB_Z1hqDo","DisplayUrl":"forecast.weather.gov\u002fproduct.php\u003fsite\u003dNWS\u0026product\u003dZFP\u0026issuedby\u003dSPN","DateTime":"2016-11-30T03\u003a58\u003a00Z"},{"Title":"NWS
        San Juan SNM Puerto Rico Pagina Principal en Espa\u00f1ol","Description":"weather.gov.
        Servicio Nacional de Meteorolog\u00eda San Juan, Puerto Rico. Buscar\u003a
        NWS NOAA. Inicio\u003b Ingl\u00e9s\u003b Noticias\u003b Organizaci\u00f3n\u003b
        Pron\u00f3stico por Ciudad, Edo. o ...","Url":"http\u003a\u002f\u002fwww.crh.noaa.gov\u002fsju\u002fes\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u00[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B2E09D6248DD4576BA21802214A7BDA4
      X-Msedge-Clientid:
      - 070C57949ADF6388062D5E7E9BEE6222
      X-Msapi-Userstate:
      - b9bd
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=21F4706129F24A17B09D394607DD0D97&CID=070C57949ADF6388062D5E7E9BEE6222&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=21F4706129F24A17B09D394607DD0D97&CID=070C57949ADF6388062D5E7E9BEE6222&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=weather+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5475.1", "totalEstimatedMatches": 12700000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "National Weather Service - Official Site", "url": "http:\/\/www.weather.gov\/",
        "urlPingSuffix": "DevEx,5093.1", "about": [{"name": "National Weather Service"},
        {"name": "Wind wave"}], "displayUrl": "www.weather.gov", "snippet": "Official
        U.S. weather, marine, fire and aviation forecasts, warnings, meteorological
        products, climate forecasts and information about meteorology.", "deepLinks":
        [{"name": "Forecast Maps", "url": "http:\/\/www.weather.gov\/forecastmaps",
        "urlPingSuffix": "DevEx,5082.1"}, {"name": "Radar", "url": "https:\/\/www.weather.gov\/Radar",
        "urlPingSuffix": "DevEx,5083.1"}, {"name": "Satellite", "url": "http:\/\/www.weather.gov\/satellite",
        "urlPingSuffix": "DevEx,5084.1"}, {"name": "National Weather Service", "url":
        "http:\/\/forecast.weather.gov\/MapClick.php?site=MTR&textField1=37.775&textField2=-122.418&e=0",
        "urlPingSuffix": "DevEx,5085.1"}, {"name": "Search", "url": "http:\/\/www.weather.gov\/search",
        "urlPingSuffix": "DevEx,5086.1"}, {"name": "News", "url": "http:\/\/www.weather.gov\/news\/",
        "urlPingSuffix": "DevEx,5087.1"}], "dateLastCrawled": "2016-12-07T07:20:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Weather
        | National Oceanic and Atmospheric Administration", "url": "http:\/\/www.noaa.gov\/weather",
        "urlPingSuffix": "DevEx,5109.1", "displayUrl": "www.noaa.gov\/weather",
        "snippet": "NOAA''s National Weather Service is building a Weather-Ready
        Nation by providing better information for better decisions to save lives
        and livelihoods", [...]
