---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=60&q=social%20security%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5999318FB25947CABBB50FD354783541
      X-Msedge-Clientid:
      - 0BBD26D4D6436AA700492CEDD7D46B60
      X-Msapi-Userstate:
      - '4772'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5FE61A7A4B0F48B799B556877E5D332B&CID=0BBD26D4D6436AA700492CEDD7D46B60&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5FE61A7A4B0F48B799B556877E5D332B&CID=0BBD26D4D6436AA700492CEDD7D46B60&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=social+security+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5470.1", "totalEstimatedMatches": 244000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Form SSA-2 | Information You Need to Apply for Spouse''s or ...", "url":
        "http:\/\/www.ssa.gov\/forms\/ssa-2.html", "urlPingSuffix": "DevEx,5068.1",
        "displayUrl": "www.ssa.gov\/forms\/ssa-2.html", "snippet": "You are exiting
        the Social Security Administration''s website. SSA cannot attest to the
        accuracy of information provided by such websites.", "dateLastCrawled": "2016-12-30T20:07:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "The United
        States Social Security Administration", "url": "https:\/\/www.ssa.gov\/?setup.",
        "urlPingSuffix": "DevEx,5082.1", "displayUrl": "https:\/\/www.ssa.gov\/?setup.",
        "snippet": "You are exiting the Social Security Administration''s website.
        SSA cannot attest to the accuracy of information provided by such websites.
        If we provide a link[...]
