---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 276F12A26442421193F52D1BF81DB26D
      X-Msedge-Clientid:
      - 07C539AA345966C51F72327735CE6772
      X-Msapi-Userstate:
      - '8659'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5E78DE34CCD24D75B26D1BD4A98B6C60&CID=07C539AA345966C51F72327735CE6772&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5E78DE34CCD24D75B26D1BD4A98B6C60&CID=07C539AA345966C51F72327735CE6772&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=weather+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5574.1", "totalEstimatedMatches": 29700000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "National Weather Service - Official Site", "url": "https:\/\/www.weather.gov\/",
        "urlPingSuffix": "DevEx,5111.1", "about": [{"name": "National Weather Service"},
        {"name": "National Weather Service"}], "displayUrl": "https:\/\/www.weather.gov",
        "snippet": "NOAA National Weather Service National Weather Service. Potential
        for Severe Weather and Heavy Rain in the South this Weekend. A low pressure
        system moving across the southern Gulf States will bring a threat of isolated
        severe thunderstorms containing hail and damaging winds this weekend.", "deepLinks":
        [{"name": "Forecast Maps", "url": "https:\/\/www.weather.gov\/forecastmaps",
        "urlPingSuffix": "DevEx,5099.1"}, {"name": "Radar", "url": "https:\/\/www.weather.gov\/Radar",
        "urlPingSuffix": "DevEx,5100.1"}, {"name": "Satellite", "url": "https:\/\/www.weather.gov\/satellite",
        "urlPingSuffix": "DevEx,5101.1"}, {"name": "Search", "url": "https:\/\/www.weather.gov\/search",
        "urlPingSuffix": "DevEx,5102.1"}, {"name": "National Weather Service", "url":
        "https:\/\/digital.weather.gov\/", "urlPingSuffix": "DevEx,5103.1"}], "dateLastCrawled":
        "2018-04-22T06:34:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Weather | National Oceanic and Atmospheric Administration", "url":
        "http:\/\/www.noaa.gov\/weather", "urlPingSuffix": "DevEx,5132.1", "displayUrl":
        "www.noaa.gov\/weather", "snippet": "NOAA''s National Weather Service
        is building a Weather-Ready Nation by providing better information for better
        decisions to save lives and livelihoods", "d[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 872CD083F0A84F049A0751214[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B8AFBED378A34593A70F9C92D2EFEF56
      Bingapis-Sessionid:
      - 1442106FDF4147CEA6EC74CB050FA5B1
      X-Msedge-Clientid:
      - 379D31BA76096C1809A03D4077456D89
      X-Msapi-Userstate:
      - '8381'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=216,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "weather
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=weather+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 26600000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "National Weather Service", "url": "https:\/\/www.weather.gov\/",
        "about": [{"name": "National Weather Service"}, {"name": "National Weather
        Service"}], "isFamilyFriendly": true, "displayUrl": "https:\/\/www.weather.gov",
        "snippet": "Surface Weather Upper Air Marine and Buoy Reports Snow Cover
        Satellite Space Weather International Observations. FORECAST Local Forecast
        International Forecasts Severe Weather Current Outlook Maps Drought Fire
        Weather Fronts\/Precipitation Maps Current Graphical Forecast Maps Rivers
        Marine Offshore and High Seas Hurricanes Aviation Weather", "dateLastCrawled":
        "2019-02-01T14:28:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "National Weather Service Doppler Radar Images", "url": "https:\/\/radar.weather.gov\/",
        "about": [{"name": "Weather radar"}, {"name": "Weather radar"}], "isFamilyFriendly":
        true, "displayUrl": "https:\/\/radar.weather.gov", "snippet": "Latest weather
        radar images from the National Weather Service", "dateLastCrawled": "2019-01-31T19:39:00.0000000Z",
        "[...]
