---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=60&q=social%20security%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2A57D29D2FDA44DDA98CA0FAA5B6E3EA
      X-Msedge-Clientid:
      - 29A3DBED9E8167792AE1D0309F166620
      X-Msapi-Userstate:
      - 98e8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5F0813E32E8445AB9A4A09A0244FE953&CID=29A3DBED9E8167792AE1D0309F166620&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5F0813E32E8445AB9A4A09A0244FE953&CID=29A3DBED9E8167792AE1D0309F166620&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=social+security+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5497.1", "totalEstimatedMatches": 958000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Benefits For Children With Disabilities", "url": "https:\/\/www.ssa.gov\/pubs\/EN-05-10026.pdf",
        "urlPingSuffix": "DevEx,5077.1", "displayUrl": "https:\/\/www.ssa.gov\/pubs\/EN-05-10026.pdf",
        "snippet": "your own Social Security number with you, or the Social Security
        number of the retired, disabled, or deceased parent on whose record the SSDI
        claim is being", "dateLastCrawled": "2018-04-23T02:42:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "The Work Site
        - Social Security Administration", "url": "https:\/\/www.ssa.gov\/work\/",
        "urlPingSuffix": "DevEx,5092.1", "displayUrl": "https:\/\/www.ssa.gov\/work",
        "snippet": "Welcome to the Ticket to Work Program! The Ticket to Work
        (Ticket) program is a free and voluntary program that can help Social Security
        beneficiaries go to work, get a good job that may lead to a career, and become
        financially independent, all while they keep their Medicare or Medicaid.",
        "dateLastCrawled": "2018-04-21T22:56:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "Manage Your Benefits With A my Social Security Account ...", "url":
        "https:\/\/www.ssa.gov\/myaccount\/lp\/landing-page-rome.html", "urlPingSuffix":
        "DevEx,5108.1", "about": [{"name": "Social Security Administration"}], "displayUrl":
        "https:\/\/www.ssa.gov\/myaccount\/lp\/landing-page-rome.html", "snippet":
        "Estimates of your future retirement, disability, and survivors benefits;
        Your earnings once a year to verify the amounts we posted are correct; and
        The estimated Social Security and Medicare taxes you’ve paid. Get a benefit
        verification letter stating that: You never received Social Security ...",
        "dateLastC[...]
