---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - D200C924A1974239BC103D2226B927F2
      Bingapis-Sessionid:
      - 1D592F969C6843A79ECB78CC912EF319
      X-Msedge-Clientid:
      - 2F4060534F356D7D1CB870F74E406C9B
      X-Msapi-Userstate:
      - d7f6
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=289,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "weather
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=weather+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 20700000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "National Weather Service", "url": "https:\/\/www.weather.gov\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.weather.gov", "snippet":
        "Surface Weather Upper Air Marine and Buoy Reports Snow Cover Satellite
        Space Weather International Observations. FORECAST Local Forecast International
        Forecasts Severe Weather Current Outlook Maps Drought Fire Weather Fronts\/Precipitation
        Maps Current Graphical Forecast Maps Rivers Marine Offshore and High Seas
        Hurricanes Aviation Weather", "dateLastCrawled": "2021-08-28T21:19:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Weather | National Oceanic and Atmospheric Administration", "url":
        "https:\/\/www.noaa.gov\/weather", "isFamilyFriendly": true, "displayUrl":
        "https:\/\/www.noaa.gov\/weather", "snippet": "Weather, water and climate
        events, cause an average of approximately 650 deaths and $15 billion in damage
        per year and are responsible for some 90 percent of all presidentia[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - BC4B99E8B0FB4DE389A49DEA1844C314
      Bingapis-Sessionid:
      - 90763F5B409E44D3B9B1DAE45AF6D73E
      X-Msedge-Clientid:
      - 0C5428AA6F856D33320938626E636C12
      X-Msapi-Userstate:
      - e79a
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=241[...]
