---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659c4594bbea420580bcc09cc3e6428e
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659c4594bbea420580bcc09cc3e6428e
      Bingapis-Sessionid:
      - 22702342CD4D482B8D696A63A23DE156
      X-Msedge-Clientid:
      - 12C6F1C34F026DC51E3FE5C34E016CE8
      X-Msapi-Userstate:
      - 3ef0
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=253,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "weather
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=weather+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 48800000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "National Weather Service", "url": "https:\/\/forecast.weather.gov\/zipcity.php?inputstring=18964",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/forecast.weather.gov\/zipcity.php?inputstring=18964",
        "snippet": "Saturday Night. Rain, possibly mixed with snow. Low around 32.
        Breezy, with an east wind 10 to 20 mph. Chance of precipitation is 100%. New
        snow accumulation of less than a half inch possible. Sunday. Rain and snow
        likely before 1pm. Cloudy, with a high near 38. West wind 5 to 10 mph. Chance
        of precipitation is 60%.", "dateLastCrawled": "2024-01-08T04:07:00.0000000Z",
        "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=weather+(site%3agov+OR+site%3amil)&d=4812279274093112&mkt=en-US&setlang=en-US&w=Dz6wQWs67leMX2b0y8KWF4BEUbVCVpQk",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "National Weather Service", "url": "https:\/\/forecast.weather.gov\/zipcity.php?inputstring=Newark,NJ",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/forecast.weather.gov\/zipcity.php?inputstring=Newark,NJ",
        "snippet": "Rain and snow before 1am, then drizzle between 1am and 4am, then
        rain and snow after 4am. Low around 32. Wind chill values between 20 and 25.
        East wind 15 [...]
