---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=60&q=social%20security%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1108236311D446D09C2E2DC11C6DA09F
      X-Msedge-Clientid:
      - 17B54E324C926A5B192945B44D3D6B80
      X-Msapi-Userstate:
      - 476c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C87B81A107DF4C9B895FFAFDF95A75AD&CID=17B54E324C926A5B192945B44D3D6B80&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C87B81A107DF4C9B895FFAFDF95A75AD&CID=17B54E324C926A5B192945B44D3D6B80&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=social+security+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5476.1", "totalEstimatedMatches": 659000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Publications | Social Security Administration", "url": "https:\/\/www.ssa.gov\/pubs\/",
        "urlPingSuffix": "DevEx,5078.1", "about": [{"name": "Social Security Administration"},
        {"name": "Social Security Administration"}], "displayUrl": "https:\/\/www.ssa.gov\/pubs",
        "snippet": "This page provides several links to publications available from
        the Social Security Administration.", "dateLastCrawled": "2018-01-21T11:04:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "The Social
        Security Number Verification Service", "url": "https:\/\/www.ssa.gov\/employer\/ssnv.htm",
        "urlPingSuffix": "DevEx,5091.1", "displayUrl": "https:\/\/www.ssa.gov\/employer\/ssnv.htm",
        "snippet": "There are two Internet verification options you can use to verify
        that your employee names and Social Security numbers (SSN) match Social
       [...]
