---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=60&q=social%20security%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F9EFF4AD05BF426389807AE70BE34B90
      X-Msedge-Clientid:
      - 1950A4C835EC6D621987AF4334436C81
      X-Msapi-Userstate:
      - '048a'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E8AF6AD25D3642EA96436261650D9A45&CID=1950A4C835EC6D621987AF4334436C81&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E8AF6AD25D3642EA96436261650D9A45&CID=1950A4C835EC6D621987AF4334436C81&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=social+security+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5463.1", "totalEstimatedMatches": 674000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Survivors Benefits - Social Security Administration", "url": "https:\/\/www.ssa.gov\/pubs\/EN-05-10084.pdf",
        "urlPingSuffix": "DevEx,5074.1", "displayUrl": "https:\/\/www.ssa.gov\/pubs\/EN-05-10084.pdf",
        "snippet": "Many people think of Social Security only as a retirement program.
        But some of the Social Security taxes you pay go toward survivors benefits
        for workers and their ...", "dateLastCrawled": "2018-01-24T07:30:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Social
        Security and Medicare taxes", "url": "https:\/\/www.ssa.gov\/pubs\/EN-05-10003.pdf",
        "urlPingSuffix": "DevEx,5086.1", "about": [{"name": "Social Security Administration"},
        {"name": "Social Security Administration"}], "displayUrl": "https:\/\/www.ssa.gov\/pubs\/EN-05-10003.pdf",
        "snippet": "When you work, you earn credits toward Social Security benefits.
        The number of credits you need to be eligible for Social Security benefits
        depends on your age and ...", "dateLastCrawled": "2018-01-27T10:26:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": [...]
