---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=60&q=social%20security%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A509595820A94C42B19704868EDD2DEA
      X-Msedge-Clientid:
      - 2111AD3FCC7465161058A705CDE36426
      X-Msapi-Userstate:
      - 2d10
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F5AF512C76EC43E781E5A714C6A491F5&CID=2111AD3FCC7465161058A705CDE36426&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F5AF512C76EC43E781E5A714C6A491F5&CID=2111AD3FCC7465161058A705CDE36426&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=social+security+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5439.1", "totalEstimatedMatches": 279000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Veterans - Social Security Administration", "url": "https:\/\/www.ssa.gov\/people\/veterans\/",
        "urlPingSuffix": "DevEx,5068.1", "displayUrl": "https:\/\/www.ssa.gov\/people\/veterans",
        "snippet": "Social Security pays disability benefits through two programs:
        the Social Security disability insurance program, which pays benefits to
        you and certain members of ...", "dateLastCrawled": "2017-01-20T17:47:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "How To
        Apply For Social Security Disability Benefits", "url": "http:\/\/www.ssa.gov\/disability\/disability.html",
        "urlPingSuffix": "DevEx,5082.1", "displayUrl": "www.ssa.gov\/disability\/disability.html",
        "snippet": "You should apply as soon as you become disabled. If you apply
        for . Social Security, disability benefits will not begin until the sixt[...]
