---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(thunder%20%26%20lightning)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028thunder
        \u0026 lightning\u0029 language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov
        OR site\u003amil\u0029"},"Web":{"Total":266000,"Offset":0,"Results":[{"Title":"NOAA\u002fNASA
        SciJinks \u003a\u003a What causes lightning and thunder\u003f","Description":"What
        causes lightning and thunder\u003f Lightning\u0021 Zap\u0021 You just
        touched a metal doorknob after shuffling your rubber-soled feet across the
        carpet. Yipes\u0021","Url":"http\u003a\u002f\u002fscijinks.jpl.nasa.gov\u002flightning\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dthunder\u002blightning\u0026d\u003d4575443173769765\u0026w\u003dBkrrQ4-74Hcgq6hk-apsHNmWHhRwplZ5","DisplayUrl":"scijinks.jpl.nasa.gov\u002flightning","DateTime":"2016-10-27T03\u003a04\u003a00Z"},{"Title":"NWS
        Lightning Safety Home Page","Description":"Lightning strikes the United
        States about 25 million times a year. Although most lightning occurs in
        the summer, people can be struck at any time of year.","Url":"http\u003a\u002f\u002fwww.lightningsafety.noaa.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dthunder\u002blightning\u0026d\u003d4915832198595720\u0026w\u003dKVHm0iTjmgO7dlavTK_[...]
