---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=60&q=social%20security%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B0FCB8E5FB5240E6A68CD5FA602FE809
      X-Msedge-Clientid:
      - 1332C9CC213F69D21CD7C30F20A8681D
      X-Msapi-Userstate:
      - 4c85
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F99DA2309E1C43D8B812ACA2E978D2BA&CID=1332C9CC213F69D21CD7C30F20A8681D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F99DA2309E1C43D8B812ACA2E978D2BA&CID=1332C9CC213F69D21CD7C30F20A8681D&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=social+security+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5430.1", "totalEstimatedMatches": 331000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Disability Planner: Social Security Protection If You ...", "url": "https:\/\/www.ssa.gov\/planners\/disability\/",
        "urlPingSuffix": "DevEx,5068.1", "displayUrl": "https:\/\/www.ssa.gov\/planners\/disability",
        "snippet": "This page describes Social Security benefits for people who
        become disabled.", "dateLastCrawled": "2017-07-12T12:56:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Social Security
        | City of New York", "url": "http:\/\/www1.nyc.gov\/nyc-resources\/service\/1254\/social-security",
        "urlPingSuffix": "DevEx,5083.1", "displayUrl": "www1.nyc.gov\/nyc-resources\/service\/1254\/social-security",
        "snippet": "Get information and assistance with Social Security, Disability,
        and Supplemental Security Income (SSI).", "da[...]
