---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=thunder%20%26%20lightning%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 54E8C712C7404162A9BB77796E781EDA
      X-Msedge-Clientid:
      - 224D4D064EFF63FD122F473F4F686220
      X-Msapi-Userstate:
      - ad7f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9B34410F0959461693BD8640C85F3B08&CID=224D4D064EFF63FD122F473F4F686220&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9B34410F0959461693BD8640C85F3B08&CID=224D4D064EFF63FD122F473F4F686220&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=thunder+%26+lightning+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5444.1", "totalEstimatedMatches": 729000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Thunderstorms & Lightning | Ready.gov", "url": "https:\/\/www.ready.gov\/thunderstorms-lightning",
        "urlPingSuffix": "DevEx,5078.1", "displayUrl": "https:\/\/www.ready.gov\/thunderstorms-lightning",
        "snippet": "Thunderstorms & Lightning. All thunderstorms are dangerous.
        ... “Heat lightning” is actually lightning from a thunderstorm too far
        away from thunder to be heard.", "dateLastCrawled": "2017-02-25T06:30:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "NOAA\/NASA
        SciJinks :: What causes lightning and thunder?", "url": "http:\/\/scijinks.gov\/lightning\/",
        "urlPingSuffix": "DevEx,5090.1", "displayUrl": "scijinks.gov\/lightning",
        "snippet": "If the thunder follows the lightning almost instantly, you
        know the lightning is too close for comfort! What does lightning look
        like from space?[...]
