---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=60&q=social%20security%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 3CB12FBF56534A96893F6555498FCFE2
      X-Msedge-Clientid:
      - 16C7AB92C6966E1628FEBBC1C76B6FC5
      X-Msapi-Userstate:
      - 70ae
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DEF3FCADAB4A4F2BA78BEC655C797524&CID=16C7AB92C6966E1628FEBBC1C76B6FC5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DEF3FCADAB4A4F2BA78BEC655C797524&CID=16C7AB92C6966E1628FEBBC1C76B6FC5&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=social+security+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5416.1", "totalEstimatedMatches": 1780000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "my Social Security | Social Security Administration", "url": "https:\/\/www.ssa.gov\/myaccount\/index2.html",
        "urlPingSuffix": "DevEx,5063.1", "displayUrl": "https:\/\/www.ssa.gov\/myaccount\/index2.html",
        "snippet": "With your free, personal my Social Security account, you can
        receive personalized estimates of future benefits based on your real earnings,
        see your latest Statement, and review your earnings history. It even makes
        it easy to request a replacement Social Security Card or check the status
        of an application, from anywhere!", "dateLastCrawled": "2021-06-09T13:19:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Social
        Security Update | SSA", "url": "https:\/\/www.ssa.gov\/news\/newsletter\/",
        "urlPingSuffix": "DevEx,5076.1", "displayUrl": "https:\/\/www.ssa.gov\/news\/newsletter",
        "snippet": "my Social Security is a personalized online account that they
        can use during their working years and while receiving Social Security benefits.
        Choose a Rep[...]
