---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=thunder%20%26%20lightning%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4BFD3A48847642478AC6D9DC16FFB5E5
      X-Msedge-Clientid:
      - 1420ECA89ECC68960874E7EF9F5B691D
      X-Msapi-Userstate:
      - e16d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=260C5418C3634BFE8224850FBDADBE56&CID=1420ECA89ECC68960874E7EF9F5B691D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=260C5418C3634BFE8224850FBDADBE56&CID=1420ECA89ECC68960874E7EF9F5B691D&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=thunder+%26+lightning+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5511.1", "totalEstimatedMatches": 5480000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Thunderstorms & Lightning | Ready.gov", "url": "https:\/\/www.ready.gov\/thunderstorms-lightning",
        "urlPingSuffix": "DevEx,5090.1", "displayUrl": "https:\/\/www.ready.gov\/thunderstorms-lightning",
        "snippet": "All thunderstorms are dangerous. Every thunderstorm produces
        lightning. While lightning fatalities have decreased over the past 30
        years, lightning continues to be ...", "dateLastCrawled": "2017-11-20T17:38:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Lightning
        | CDC", "url": "https:\/\/www.cdc.gov\/disasters\/lightning\/index.html",
        "urlPingSuffix": "DevEx,5108.1", "displayUrl": "https:\/\/www.cdc.gov\/disasters\/lightning\/index.html",
        "snippet": "You can protect yourself and your family if you know what to do
        when you see lightning or when you hear thunder as a warning. Lightning
        strikes the earth more than 8 ...", "deepLinks": [{"name": "Information for
        Workers", "url": "https:\/\/www.cdc.gov\/disasters\/lightning\/infoforworkers.html",
        "urlPingSuffix": "DevEx,5103.1"}, {"name": "Lightning Safety Tips", "url":
        "https:\/\/www.cdc.gov\/disasters\/lightning\/safetytips.html", "urlPingSuffix":
        "DevEx,5104.1"}], "dateLastCrawled": "2017-11-15T04:07:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "NWS Lightning
        Safety Quick Safety Tips", "u[...]
