---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=thunder%20%26%20lightning%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E99CF07F9E354674AE45127391632744
      X-Msedge-Clientid:
      - 301A6D464B876CA6274A66D84A626D7E
      X-Msapi-Userstate:
      - '0779'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9525B258EE1D43358099C9A772147ECD&CID=301A6D464B876CA6274A66D84A626D7E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9525B258EE1D43358099C9A772147ECD&CID=301A6D464B876CA6274A66D84A626D7E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=thunder+%26+lightning+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5498.1", "totalEstimatedMatches": 3170000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Thunderstorms & Lightning | Ready.gov", "url": "https:\/\/www.ready.gov\/thunderstorms-lightning",
        "urlPingSuffix": "DevEx,5087.1", "about": [{"name": "Thunderstorm"}], "displayUrl":
        "https:\/\/www.ready.gov\/thunderstorms-lightning", "snippet": "All thunderstorms
        are dangerous. Every thunderstorm produces lightning. While lightning
        fatalities have decreased over the past 30 years, lightning continues to
        be ...", "dateLastCrawled": "2018-02-15T19:07:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "NOAA\/NASA SciJinks :: What causes lightning and thunder?", "url":
        "https:\/\/scijinks.gov\/lightning\/", "urlPingSuffix": "DevEx,5102.1", "displayUrl":
        "https:\/\/scijinks.gov\/lightning", "snippet": "Lightning! Zap! You just
        touched a metal doorknob after shuffling your rubber-soled feet across the
        carpet. Yipes! You''ve been struck by lightning[...]
