---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=60&q=social%20security%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 17A2C82E4B0E4B5B98F370CBDE328A8D
      X-Msedge-Clientid:
      - 2A05027FE3A06A6F25E40938E2376B88
      X-Msapi-Userstate:
      - '0912'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5FA2499863BE4820A6B16DF81DBAEEE4&CID=2A05027FE3A06A6F25E40938E2376B88&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5FA2499863BE4820A6B16DF81DBAEEE4&CID=2A05027FE3A06A6F25E40938E2376B88&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=social+security+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5465.1", "totalEstimatedMatches": 742000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Site Map | Social Security Administration", "url": "https:\/\/www.ssa.gov\/sitemap.htm",
        "urlPingSuffix": "DevEx,5075.1", "displayUrl": "https:\/\/www.ssa.gov\/sitemap.htm",
        "snippet": "Site Map of the Social Security website ... This website is
        produced and published at U.S. taxpayer expense.", "dateLastCrawled": "2017-11-22T07:35:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Business
        Services | Social Security Administration", "url": "https:\/\/www.ssa.gov\/thirdparty\/business.html",
        "urlPingSuffix": "DevEx,5089.1", "displayUrl": "https:\/\/www.ssa.gov\/thirdparty\/business.html",
        "snippet": "Learn about issues such as reporting wages, verifying Social
        Security numbers and doing business with the Social Security Admi[...]
