---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 72415B6180674290BB04DA8C1345FB97
      X-Msedge-Clientid:
      - 28C9408066C267A006DD50D3678D6676
      X-Msapi-Userstate:
      - 6cdd
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A3D436F74AB142C3AD14AAF459730FAE&CID=28C9408066C267A006DD50D3678D6676&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A3D436F74AB142C3AD14AAF459730FAE&CID=28C9408066C267A006DD50D3678D6676&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=weather+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5428.1", "totalEstimatedMatches": 90100000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "National Weather Service", "url": "https:\/\/www.weather.gov\/", "urlPingSuffix":
        "DevEx,5063.1", "displayUrl": "https:\/\/www.weather.gov", "snippet": "Surface
        Weather Upper Air Marine and Buoy Reports Snow Cover Satellite Space Weather
        International Observations. FORECAST Local Forecast International Forecasts
        Severe Weather Current Outlook Maps Drought Fire Weather Fronts\/Precipitation
        Maps Current Graphical Forecast Maps Rivers Marine Offshore and High Seas
        Hurricanes Aviation Weather", "dateLastCrawled": "2021-06-08T11:17:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "National
        Weather Service", "url": "https:\/\/www.weather.gov\/%20", "urlPingSuffix":
        "DevEx,5076.1", "displayUrl": "https:\/\/www.weather.gov\/ ", "snippet":
        "Texas Severe Thunderstorms; Central Rockies Snow; Fire Weather in the West.
        Isolated severe thunderstorms capable of producing large to very large hail
        and severe wind gusts may occur M[...]
