---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=thunder%20%26%20lightning%20(site:nps.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - F2FB6ED90DB544F1961B0A77D0AECA59
      Bingapis-Sessionid:
      - D534220A3D8A45479EE754AC3194E976
      X-Msedge-Clientid:
      - '029449CF316F66A43A98596B309267EB'
      X-Msapi-Userstate:
      - dc79
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=276,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "thunder
        & lightning (site:nps.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=thunder+%26+lightning+(site%3anps.gov)",
        "totalEstimatedMatches": 40700, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "When Thunder Roars, Go Indoors (U.S. National Park Service)",
        "url": "https:\/\/www.nps.gov\/articles\/lightning-safety.htm", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.nps.gov\/articles\/lightning-safety.htm",
        "snippet": "Lightning is a spark of electricity in the atmosphere between
        clouds, the air or the ground. We usually associate lightning with thunderstorms.
        The booming sound of thunder is actually a result of lightning. To learn
        more about what causes lightning and how it works, check out NOAA’s National
        Severe Storms Laboratory.", "dateLastCrawled": "2021-07-18T20:05:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Lightning Danger - Grand Canyon National Park (U.S ...", "url":
        "https:\/\/www.nps.gov\/grca\/planyourvisit\/lightning-danger.htm", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.nps.gov\/grca\/planyourvisit\/lightning-danger.htm",
        "snippet": "Lightning reaches temperatures five times hotter than the surface
        of the sun. The surrounding air expands rapidl[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=thunder%20%26%20lightning%20(site:nps.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 0CC42090A9354692B1F7921DC1D491E4
      Bingapis-Sessionid:
      - 6D415E39CCD34FF186F0DDFF84474058
      X-Msedge-Clientid:
      - 3F3EA19B7D5F64F70A26B1537CA265E3
      X-Msapi-Userstate:
      - '8729'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=2[...]
