---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(thunder%20%26%20lightning)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028thunder
        \u0026 lightning\u0029 language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov
        OR site\u003amil\u0029"},"Web":{"Total":288000,"Offset":0,"Results":[{"Title":"NOAA\u0027s
        SciJinks \u003a\u003a What causes lightning and thunder\u003f","Description":"Lightning\u0021
        Zap\u0021 You just touched a metal doorknob after shuffling your rubber-soled
        feet across the carpet. Yipes\u0021 You\u0027ve been struck by lightning\u0021","Url":"http\u003a\u002f\u002fscijinks.jpl.nasa.gov\u002flightning\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dthunder\u002blightning\u0026d\u003d4575443122127350\u0026w\u003dXt2DyELyK24gq6hk-apsHNmWHhRwplZ5","DisplayUrl":"scijinks.jpl.nasa.gov\u002flightning","DateTime":"2016-06-03T14\u003a09\u003a00Z"},{"Title":"Severe
        Weather 101\u003a Lightning Basics","Description":"Severe Weather 101 Lightning
        Basics. What we do\u003a Read more about NSSL\u0027s lightning research
        here. What is lightning\u003f Lightning is a giant spark of electricity
        in the ...","Url":"http\u003a\u002f\u002fwww.nssl.noaa.gov\u002feducation\u002fsvrwx101\u002flightning\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u00[...]
