---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 566D084DD3444B7088316DEECCAAF5F4
      Bingapis-Sessionid:
      - 3B9010542D9942CFA74490E8FF2254B6
      X-Msedge-Clientid:
      - 35A5699217256F872829793616D86EE4
      X-Msapi-Userstate:
      - 00cf
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=251,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "weather
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=weather+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 20800000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "National Weather Service", "url": "https:\/\/www.weather.gov\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.weather.gov", "snippet":
        "Surface Weather Upper Air Marine and Buoy Reports Snow Cover Satellite
        Space Weather International Observations. FORECAST Local Forecast International
        Forecasts Severe Weather Current Outlook Maps Drought Fire Weather Fronts\/Precipitation
        Maps Current Graphical Forecast Maps Rivers Marine Offshore and High Seas
        Hurricanes Aviation Weather", "dateLastCrawled": "2021-08-28T21:19:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Climate - National Weather Service", "url": "https:\/\/www.weather.gov\/wrh\/climate",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.weather.gov\/wrh\/climate",
        "snippet": "The map below is your portal to NWS Climate information. Select
        an area of interest and you will be directed to the local Weather Forecast
        Office page to access their climate data. [ U[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=weather%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 5C66F373BE9A4756BC3D31AB1C72ED4E
      Bingapis-Sessionid:
      - B6ED8A4658FE40A6A2481CD4495BA96E
      X-Msedge-Clientid:
      - 11F29C216B11645F0F088CE96AEC65B1
      X-Msapi-Userstate:
      - 5e26
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=246[...]
