---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=60&q=social%20security%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 17DFCCAFDADE4404B29F50FC20143C1D
      X-Msedge-Clientid:
      - 2FCDA0FBA5D16B820265AAC2A4466A29
      X-Msapi-Userstate:
      - 3c04
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=AB78A6452C5C4344AC2626CBB1279AA9&CID=2FCDA0FBA5D16B820265AAC2A4466A29&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=AB78A6452C5C4344AC2626CBB1279AA9&CID=2FCDA0FBA5D16B820265AAC2A4466A29&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=social+security+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5463.1", "totalEstimatedMatches": 252000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "The United States Social Security Administration", "url": "https:\/\/www.ssa.gov\/?setup.",
        "urlPingSuffix": "DevEx,5068.1", "displayUrl": "https:\/\/www.ssa.gov\/?setup.",
        "snippet": "You are exiting the Social Security Administration''s website.
        SSA cannot attest to the accuracy of information provided by such websites.
        If we provide a link to such ...", "dateLastCrawled": "2017-02-02T14:08:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Supplemental
        Security Income - Social Security Administration", "url": "https:\/\/www.ssa.gov\/ssi\/",
        "urlPingSuffix": "DevEx,5084.1", "displayUrl": "https:\/\/www.ssa.gov\/ssi",
        "snippet": "You are exiting the Social Security Administration''s website.
        SSA cannot attest to the accuracy of information provided by such websites.
        If we provi[...]
