---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(social%20security)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20&web.offset=60
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028social
        security\u0029 language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov
        OR site\u003amil\u0029"},"Web":{"Total":6880000,"Offset":60,"Results":[{"Title":"The
        United States Social Security Administration","Description":"You are exiting
        the Social Security Administration\u0027s website. SSA cannot attest to
        the accuracy of information provided by such websites. If we provide a link
        to such ...","Url":"https\u003a\u002f\u002fwww.ssa.gov\u002f\u003fsrc\u003dgsn100","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dsocial\u002bsecurity\u0026d\u003d4739223149609079\u0026w\u003d_xtQShtXaEFrJgpLlxX4jS4aMMIMcoc6","DisplayUrl":"https\u003a\u002f\u002fwww.ssa.gov\u002f\u003fsrc\u003dgsn100","DateTime":"2016-10-18T16\u003a09\u003a00Z"},{"Title":"Social
        Security - Ways and Means","Description":"The jurisdiction of the Subcommittee
        on Social Security shall include bills and matters referred to the Committee
        on Ways and Means that relate to the ...","Url":"https\u003a\u002f\u002fwaysandmeans.house.gov\u002fsubcommittee\u002fsocial-security\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dsocial\u002bsecurity\u0026d\u003d4822146286286\u0[...]
