---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(social%20security)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20&web.offset=60
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028social
        security\u0029 language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov
        OR site\u003amil\u0029"},"Web":{"Total":8220000,"Offset":60,"Results":[{"Title":"Employer
        W-2 Filing Instructions \u0026 Information","Description":"You are exiting
        the Social Security Administration\u0027s website. SSA cannot attest to
        the accuracy of information provided by such websites. If we provide a link
        to such ...","Url":"http\u003a\u002f\u002fwww.ssa.gov\u002femployer\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dsocial\u002bsecurity\u0026d\u003d4787060431979623\u0026w\u003dFBI3Da6nguuA51uCDiLLdUt6ZgDhYt75","DisplayUrl":"www.ssa.gov\u002femployer","DateTime":"2016-05-16T09\u003a00\u003a00Z"},{"Title":"Social
        Security History","Description":"Pre-Social Security Period. Traditional
        Sources of Economic Security. All peoples throughout all of human history
        have faced the uncertainties ...","Url":"http\u003a\u002f\u002fwww.ssa.gov\u002fhistory\u002fbriefhistory3.html","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dsocial\u002bsecurity\u0026d\u003d4652430397538766\u0026w\u003deAB5nsP7zGpDriffB77AqV[...]
