---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(social%20security)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20&web.offset=60
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028social
        security\u0029 language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov
        OR site\u003amil\u0029"},"Web":{"Total":6420000,"Offset":60,"Results":[{"Title":"Social
        Security Administration\u003a How Do I Sign Up ... - ssa.gov","Description":"Already
        receiving benefits. If you already receive Social Security or SSI benefits
        and you have a bank account, you can sign up for Direct Deposit by\u003a","Url":"http\u003a\u002f\u002fwww.ssa.gov\u002fdeposit\u002fhowtosign.htm","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dsocial\u002bsecurity\u0026d\u003d4993897504181010\u0026w\u003dPnihHvIee1re9nYAMM07lhvT-8l94RjX","DisplayUrl":"www.ssa.gov\u002fdeposit\u002fhowtosign.htm","DateTime":"2016-11-14T01\u003a40\u003a00Z"},{"Title":"Representing
        Social Security Claimants","Description":"Provides information about representing
        claimants in Social Security\u0027s hearings and appeals processes and Federal
        Court Review process","Url":"http\u003a\u002f\u002fwww.ssa.gov\u002frepresentation\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dsocial\u002bsecurity\u0026d\u003d5047223801283676\u0026w\u003dxBTMAQoL7L33Niu6nfxfs5yAPFN[...]
