---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A9A301FFEC99433C86CC709A521932D7
      X-Msedge-Clientid:
      - 390F40C78FA46A1305DD4AA58E336B01
      X-Msapi-Userstate:
      - 91d8
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DE7B903393294E5D83BB9BC065578A95&CID=390F40C78FA46A1305DD4AA58E336B01&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DE7B903393294E5D83BB9BC065578A95&CID=390F40C78FA46A1305DD4AA58E336B01&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=white%20house%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5181.1", "totalEstimatedMatches": 131, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=285BA47D1A40AEB18B9F5020FCDE6E6394CDEE21&simid=608040986830768784",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "The White House Tour -
        President''s Park (White House) (U.S. National ...", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.J8_VgTLlObu6cIJhuoY2GwEsC4&pid=Api",
        "datePublished": "2017-03-16T04:30:00.0000000Z", "contentUrl": "https:\/\/www.nps.gov\/whho\/planyourvisit\/images\/SouthFrontJuly4_2.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "https:\/\/www.nps.gov\/whho\/planyourvisit\/the-white-house-tour.htm",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "120362 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.nps.gov\/whho\/planyourvisit\/the-white-house-tour.htm",
        "width": 960, "height": 591, "thumbnail": {"width": 300, "height": 184}, "imageInsightsToken":
        "ccid_J8\/VgTLl*mid_285BA47D1A40AEB18B9F5020FCDE6E6394CDEE21*simid_608040986830768784",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "285BA47D1A40AEB18B9F5020FCDE6E6394CDEE21", "accentColor": "465E36"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=4373F89AD8BB10D7D18C8A7C23B73C9FC20FF1D7&simid=608042648987500697",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "White House Event", "thumbnailUrl":
        "https:\/\/tse4.mm.bing.net\/th?id=OIP.BnzO6kLvIXSTZRqBQT78HQEsDG&pid=Api",
        "datePublished": "2015-02-05T22:31:00.0000000Z", "contentUrl": "http:\/\/www.cdc.gov\/globalhealth[...]
