---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&image.count=20&query=(legacy%20image%20missing%20thumbnail)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028legacy
        image missing thumbnail\u0029 language\u003aen \u0028scopeid\u003ausagovall
        OR site\u003agov OR site\u003amil\u0029"},"Image":{"Total":0,"Offset":0}}}'
  recorded_at: Fri, 10 Jun 2016 21:21:44 GMT
recorded_with: VCR 3.0.3
