---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9A58360426B248D08EC26642533342C1
      X-Msedge-Clientid:
      - 364277867BAF682739DA7D1F7A386936
      X-Msapi-Userstate:
      - 95ce
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=850DA54C0E0A4E40839B7BE8907BE4D4&CID=364277867BAF682739DA7D1F7A386936&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=850DA54C0E0A4E40839B7BE8907BE4D4&CID=364277867BAF682739DA7D1F7A386936&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=white%20house%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5181.1", "totalEstimatedMatches": 130, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=4373F89AD8BB10D7D18C8A7C23B73C9FC20FF1D7&simid=608042649080498235",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "White House Event", "thumbnailUrl":
        "https:\/\/tse4.mm.bing.net\/th?id=OIP.BnzO6kLvIXSTZRqBQT78HQEsDG&pid=Api",
        "datePublished": "2015-02-05T22:31:00.0000000Z", "contentUrl": "http:\/\/www.cdc.gov\/globalhealth\/security\/images\/white-house.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/www.cdc.gov\/globalhealth\/security\/",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "6576460 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.cdc.gov\/globalhealth\/security", "width":
        3613, "height": 2394, "thumbnail": {"width": 300, "height": 198}, "imageInsightsToken":
        "ccid_BnzO6kLv*mid_4373F89AD8BB10D7D18C8A7C23B73C9FC20FF1D7*simid_608042649080498235",
        "insightsMetadata": {"shoppingSourcesCount": 1, "recipeSourcesCount": 0, "aggregateOffer":
        {"name": "MapGuide: Washington D.C", "offerCount": 1}}, "imageId": "4373F89AD8BB10D7D18C8A7C23B73C9FC20FF1D7",
        "accentColor": "74321C"}, {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=285BA47D1A40AEB18B9F5020FCDE6E6394CDEE21&simid=608040986917536358",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "The White House Tour -
        President''s Park (White House) (U.S. National ...", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.J8_VgTLlObu6cIJhuoY2GwEsC4&pid=Api",
        "datePublished": "2017-04-17T07:55:00.0000000Z", "[...]
