---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 78D993D1B79746A1A0EAA58772AD05A4
      X-Msedge-Clientid:
      - 04CCB2F229096E2C3633B8C328386FF3
      X-Msapi-Userstate:
      - 264b
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DF523AA224054084A1253D24FF52F78A&CID=04CCB2F229096E2C3633B8C328386FF3&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DF523AA224054084A1253D24FF52F78A&CID=04CCB2F229096E2C3633B8C328386FF3&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=white%20house%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5163.1", "totalEstimatedMatches": 125, "nextOffset":
        20, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=285BA47D1A40AEB18B9F5020FCDE6E6394CDEE21&simid=608040986766543924",
        "webSearchUrlPingSuffix": "DevEx,5006.1", "name": "The White House Tour -
        President''s Park (White House) (U.S. National ...", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.M27cfd58132e539bbba708261ba86361bo0&pid=Api",
        "datePublished": "2017-02-09T02:34:00.0000000Z", "contentUrl": "https:\/\/www.nps.gov\/whho\/planyourvisit\/images\/SouthFrontJuly4_2.jpg",
        "contentUrlPingSuffix": "DevEx,5008.1", "hostPageUrl": "https:\/\/www.nps.gov\/whho\/planyourvisit\/the-white-house-tour.htm",
        "hostPageUrlPingSuffix": "DevEx,5007.1", "contentSize": "120362 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.nps.gov\/whho\/planyourvisit\/the-white-house-tour.htm",
        "width": 960, "height": 591, "thumbnail": {"width": 300, "height": 184}, "imageInsightsToken":
        "ccid_J8\/VgTLl*mid_285BA47D1A40AEB18B9F5020FCDE6E6394CDEE21*simid_608040986766543924",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "285BA47D1A40AEB18B9F5020FCDE6E6394CDEE21", "accentColor": "465E36"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=A3F3A1A8C08148E9ECFD09B49DADFFA2A0050E39&simid=608004303459320295",
        "webSearchUrlPingSuffix": "DevEx,5012.1", "name": "The White House North Lawn
        fountain flows with green water Tuesday ...", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.NzZvwNZMCVxpywAykgIfJAEsDI&pid=Api",
        "datePublished": "2001-01-01T00:00:00.0000000[...]
