---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=white%20house%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E60CD2EB44DE4410B6AA85EFC40BF902
      X-Msedge-Clientid:
      - 1C2C3B7FC12467F107E43727C02B6666
      X-Msapi-Userstate:
      - '2431'
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=604E669E509144D499B62FA11C4E698B&CID=1C2C3B7FC12467F107E43727C02B6666&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=604E669E509144D499B62FA11C4E698B&CID=1C2C3B7FC12467F107E43727C02B6666&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=white%20house%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5188.1", "totalEstimatedMatches": 113, "nextOffset":
        23, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=6D2D34DDA3F04CE3C814637ACBFF850188969934&simid=608025616206529726",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "About The White House",
        "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.vWpSQJSzVJ9lks69e2kbpAHaCx&pid=Api",
        "datePublished": "2017-12-14T22:10:00.0000000Z", "contentUrl": "https:\/\/www.whitehouse.gov\/wp-content\/uploads\/2017\/12\/P20170614JB-0303-2-1920x720.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house\/",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "357656 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house",
        "width": 1920, "height": 720, "thumbnail": {"width": 474, "height": 177},
        "imageInsightsToken": "ccid_vWpSQJSz*mid_6D2D34DDA3F04CE3C814637ACBFF850188969934*simid_608025616206529726",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "6D2D34DDA3F04CE3C814637ACBFF850188969934", "accentColor": "B11A26"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=53513FFBBEDEC4707838978770512553DEFFAA2A&simid=608050067512495459",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "Home Page [www.whitehouse.gov]",
        "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.LwxG4x0F5CfYqbsImTJdVwHaD2&pid=Api",
        "datePublished": "2018-07-20T07:55:00.0000000Z", "contentUrl": "https:\/\/www.whiteho[...]
