---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=white%20house%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - EC4EA4E8C9F94EC083D21E82741AC037
      X-Msedge-Clientid:
      - 0E7BB4E14D606DA00F13BF7F4C856C71
      X-Msapi-Userstate:
      - 1dbb
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=59988E145FE54DE9B5E40A92FFC547FB&CID=0E7BB4E14D606DA00F13BF7F4C856C71&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=59988E145FE54DE9B5E40A92FFC547FB&CID=0E7BB4E14D606DA00F13BF7F4C856C71&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=white%20house%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5188.1", "totalEstimatedMatches": 128, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=53513FFBBEDEC470783865243FEA492C91409850&simid=608012206974371082",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "The White House | whitehouse.gov",
        "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.vzp7BjqnK_hE5tLUCB2qmAHaD4&pid=Api",
        "datePublished": "2017-08-01T14:22:00.0000000Z", "contentUrl": "https:\/\/www.whitehouse.gov\/sites\/whitehouse.gov\/files\/og-image.png",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "https:\/\/www.whitehouse.gov\/",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "1264369 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "https:\/\/www.whitehouse.gov", "width": 1200,
        "height": 630, "thumbnail": {"width": 474, "height": 248}, "imageInsightsToken":
        "ccid_vzp7Bjqn*mid_53513FFBBEDEC470783865243FEA492C91409850*simid_608012206974371082",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "53513FFBBEDEC470783865243FEA492C91409850", "accentColor": "595236"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3agov+OR+site%3amil)&id=7078C18EFEFD65C238A80CEF031398BD18BE0009&simid=608001486729711244",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "The White House Tour -
        President''s Park (White House) (U.S ...", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.J8_VgTLlObu6cIJhuoY2GwHaEj&pid=Api",
        "datePublished": "2017-07-14T01:10:00.0000000Z", "co[...]
