---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=dg_search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '494'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 200}, "data": [{"website": "", "username": "dg_search",
        "id": "1317698369", "full_name": "", "bio": "", "profile_picture": "http://scontent-otp1-1.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg"}]}'
  recorded_at: Mon, 13 Feb 2017 22:29:43 GMT
[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=dg_search101
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '492'
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"data": [], "meta": {"code": 200}}'
  recorded_at: Mon, 13 Feb 2017 22:29:44 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=mctgsa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      X-Ratelimit-Remaining:
      - '491'
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 200}, "data": [{"profile_picture": "http://scontent-mia1-1.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "website": "", "full_name": "", "id": "3316230201", "username": "mctgsa",
        "bio": ""}]}'
  recorded_at: Mon, 13 Feb 2017 22:29:46 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=thisisaninstagramprofilethatshouldnotexist31415
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '490'
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 200}, "data": []}'
  recorded_at: Mon, 13 Feb 2017 22:29:46 GMT
recorded_with: VCR 3.0.3
