---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?forUsername=usgovernment&key=<YOUTUBE_KEY>&part=id
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"_gJQceDMxJ8gP-8T2HLXUoURK8c/sUxIm45xENxrd0pOCl3gcHVvDVw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"_gJQceDMxJ8gP-8T2HLXUoURK8c/sUxIm45xENxrd0pOCl3gcHVvDVw\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#channel",
           "etag": "\"_gJQceDMxJ8gP-8T2HLXUoURK8c/rbIeBRfsPhK0KAzdoTAu4EBvTRc\"",
           "id": "UCWjkPmmzCdPZEKtGciLf1mg"
          }
         ]
        }
  recorded_at: Thu, 22 Feb 2018 07:12:45 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?forUsername=usasearch&key=<YOUTUBE_KEY>&part=id
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"_gJQceDMxJ8gP-8T2HLXUoURK8c/6uvK8IjShzZ17Ahyr1FaURwOhkM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"_gJQceDMxJ8gP-8T2HLXUoURK8c/6uvK8IjShzZ17Ahyr1FaURwOhkM\"",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 5
         },
         "items": []
        }
  recorded_at: Thu, 22 Feb 2018 07:12:46 GMT
recorded_with: VCR 4.0.0
