---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: url=www.flickr.com%2Fgroups%2Fusagov%2F&method=flickr.urls.lookupGroup&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="***REMOVED***",
        oauth_nonce="yYdRXRpVFZ%2BLWNV7IwHWim5K1bk0lkM0RzopE%2Fv%2BM3I%3D", oauth_signature="***REMOVED***%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1478639377", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"group":{"id":"1058319@N21","groupname":{"_content":"USA.gov - Official
        U.S. Government Photostreams"}},"stat":"ok"}'
  recorded_at: Tue, 08 Nov 2016 21:09:38 GMT
recorded_with: VCR 3.0.3
