---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=dg_search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-remaining:
      - '494'
      content-language:
      - en
      x-ratelimit-limit:
      - '500'
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 200}, "data": [{"username": "dg_search", "bio": "",
        "website": "", "profile_picture": "http://scontent-arn2-1.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "full_name": "", "id": "1317698369"}]}'
  recorded_at: Fri, 04 Nov 2016 20:27:40 GMT
[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=dg_search101
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-remaining:
      - '492'
      content-language:
      - en
      x-ratelimit-limit:
      - '500'
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 200}, "data": []}'
  recorded_at: Fri, 04 Nov 2016 20:27:41 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=mctgsa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-remaining:
      - '491'
      content-language:
      - en
      x-ratelimit-limit:
      - '500'
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 200}, "data": [{"username": "mctgsa", "bio": "",
        "website": "", "profile_picture": "http://scontent-iad3-1.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "full_name": "", "id": "3316230201"}]}'
  recorded_at: Fri, 04 Nov 2016 20:27:43 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=thisisaninstagramprofilethatshouldnotexist31415
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-remaining:
      - '490'
      content-language:
      - en
      x-ratelimit-limit:
      - '500'
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 200}, "data": []}'
  recorded_at: Fri, 04 Nov 2016 20:27:44 GMT
recorded_with: VCR 3.0.3
