---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=dg_search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"data": [{"id": "1317698369", "username": "dg_search", "profile_picture":
        "http://scontent.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "full_name": "", "bio": "", "website": ""}], "meta": {"code": 200}}'
  recorded_at: Wed, 12 Apr 2017 02:04:55 GMT
[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=dg_search101
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '497'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"data": [], "meta": {"code": 200}}'
  recorded_at: Wed, 12 Apr 2017 02:04:57 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=mctgsa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '496'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"data": [{"id": "3316230201", "username": "mctgsa", "profile_picture":
        "http://instagram.fcgk7-1.fna.fbcdn.net/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "full_name": "", "bio": "", "website": ""}], "meta": {"code": 200}}'
  recorded_at: Wed, 12 Apr 2017 02:04:59 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=thisisaninstagramprofilethatshouldnotexist31415
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '495'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"data": [], "meta": {"code": 200}}'
  recorded_at: Wed, 12 Apr 2017 02:05:00 GMT
recorded_with: VCR 3.0.3
