---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: url=https%3A%2F%2Fwww.flickr.com%2Fgroups%2Fusagov%2F&method=flickr.urls.lookupGroup&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="***REMOVED***",
        oauth_nonce="XC91abOgTtxTo9%2BvXtSQyPPwwRbfIme3fWt4w0%2BHQiU%3D", oauth_signature="***REMOVED***%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1511820498", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"group":{"id":"1058319@N21","groupname":{"_content":"USA.gov - Official
        U.S. Government Photostreams"}},"stat":"ok"}'
  recorded_at: Mon, 27 Nov 2017 22:08:18 GMT
recorded_with: VCR 3.0.3
