---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=dg_search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '494'
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 200}, "data": [{"username": "dg_search", "profile_picture":
        "http://instagram.fuio1-1.fna.fbcdn.net/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "bio": "", "id": "1317698369", "website": "", "full_name": ""}]}'
  recorded_at: Thu, 02 Mar 2017 22:36:27 GMT
[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=dg_search101
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      Content-Language:
      - en
      X-Ratelimit-Remaining:
      - '492'
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 200}, "data": []}'
  recorded_at: Thu, 02 Mar 2017 22:36:29 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=mctgsa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '491'
      X-Ratelimit-Limit:
      - '500'
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"data": [{"full_name": "", "website": "", "id": "3316230201", "username":
        "mctgsa", "bio": "", "profile_picture": "http://instagram.fakl1-1.fna.fbcdn.net/t51.2885-19/11906329_960233084022564_1448528159_a.jpg"}],
        "meta": {"code": 200}}'
  recorded_at: Thu, 02 Mar 2017 22:36:30 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=thisisaninstagramprofilethatshouldnotexist31415
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '490'
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
    body:
      encoding: UTF-8
      string: '{"data": [], "meta": {"code": 200}}'
  recorded_at: Thu, 02 Mar 2017 22:36:31 GMT
recorded_with: VCR 3.0.3
