---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=dg_search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="b0651cb7df0565790c094d40df1b605f",
        oauth_signature="VXQsPoYi0DKRCig6wkmaBDzVuhg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1630687070", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 03 Sep 2021 16:37:51 GMT
      X-Transaction:
      - f85f94d62b0454dc
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Reset:
      - '1630687970'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '899'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Connection-Hash:
      - 6289fb3c81e283de3d5685aa0202ba6ffe772b5c984a25b85a12205cdaa4a70b
    body:
      encoding: UTF-8
      string: '{"id":1379206677719875584,"id_str":"1379206677719875584","name":"DGSearch","screen_name":"dg_search","location":"","profile_location":null,"description":"Hard
        working family man.  I know that doesn''t necessarily make me special, but
        it is who I am.  What else matters but your commitment to your family?","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":75,"listed_count":0,"created_at":"Mon
        Apr 05 22:58:03 +0000 2021","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":2,"lang":null,"status":{"created_at":"Thu
        Aug 19 19:25:47 +0000 2021","id":1428438059994030087,"id_str":"1428438059994030087","text":"RT
        @JamesWashngton: https:\/\/t.co\/FkIIziOtU8","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"JamesWashngton","name":"James","id":193991954,"id_str":"193991954","indices":[3,18]}],"urls":[],"media":[{"id":1428183840963678211,"id_str":"1428183840963678211","indices":[20,43],"media_url":"http:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1428183840963678211\/pu\/img\/PG7vVW3RFmfuTf2-.jpg","media_url_https":"https:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1428183840963678211\/pu\/img\/PG7vVW3RFmfuTf2-.jpg","url":"https:\/\/t.co\/FkIIziOtU8","display_url":"pic.twitter.com\/FkIIziOtU8","expanded_url":"https:\/\/twitter.com\/JamesWashngton\/status\/1428183925541806080\/video\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":675,"resize":"fit"},"small":{"w":680,"h":383,"resize":"fit"},"large":{"w":1280,"h":720,"resize":"fit"}},"source_status_id":1428183925541806080,"source_status_id_str":"1428183925541806080","source_user_id":193991954,"source_user_id_str":"193991954"}]},"extended_entities":{"media":[{"id":1428183840963678211,"id_str":"1428183840963678211","indices":[20,43],"media_url":"http:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1428183840963678211\/pu\/img\/PG7vVW3RFmfuTf2-.jpg","media_url_https":"https:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1428183840963678211\/pu\/img\/PG7vVW3RFmfuTf2-.jpg","url":"https:\/\/t.co\/FkIIziOtU8","display_url":"pic.twitter.com\/FkIIziOtU8","expanded_url":"https:\/\/twitter.com\/JamesWashngton\/status\/1428183925541806080\/video\/1","type":"video","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":675,"resize":"fit"},"small":{"w":680,"h":383,"resize":"fit"},"large":{"w":1280,"h":720,"resize":"fit"}},"source_status_id":1428183925541806080,"source_status_id_str":"1428183925541806080","source_user_id":193991954,"source_user_id_str":"193991954","video_info":{"aspect_ratio":[16,9],"duration_millis":41233,"variants":[{"bitrate":832000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/1428183840963678211\/pu\/vid\/640x360\/4BsVD61KjAYmG_N3.mp4?tag=12"},{"bitrate":2176000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/1428183840963678211\/pu\/vid\/1280x720\/1NlstXh5v2DDaNby.mp4?tag=12"},{"content_type":"application\/x-mpegURL","url":"https:\/\/video.twimg.com\/ext_tw_video\/1428183840963678211\/pu\/pl\/ko9NfLlBQsytqrMD.m3u8?tag=12&container=fmp4"},{"bitrate":256000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/1428183840963678211\/pu\/vid\/480x270\/Q0PFYWBxoxTVWhEY.mp4?tag=12"}]},"additional_media_info":{"monetizable":false}}]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        Aug 19 02:35:56 +0000 2021","id":1428183925541806080,"id_str":"1428183925541806080","text":"https:\/\/t.co\/FkIIziOtU8","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":1428183840963678211,"id_str":"1428183840963678211","indices":[0,23],"media_url":"http:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1428183840963678211\/pu\/img\/PG7vVW3RFmfuTf2-.jpg","media_url_https":"https:\/\/pbs.twimg.com\/ext_tw_video_thumb\/14281838409[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=NIH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="bbf51ced900f02894f59617ad25015a2",
        oauth_signature="ofq99ccTg3td6M53ecgcAvaRAy8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1631033655", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=usasearch101
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="5d9620f9a1b13e1fa7c90de1cd7bd2c7",
        oauth_signature="nry8zhyB72AocCk8R0GSuB93qTQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1631033656", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Status:
      - 404 Not Found
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 07 Sep 2021 16:54:16 GMT
      X-Transaction:
      - '009752d21c7fd696'
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Reset:
      - '1631034555'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '898'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Connection-Hash:
      - e770bfe43384243ad6a69002a64c76f09e54eebc19b4e8538995ee52a7525e66
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":50,"message":"User not found."}]}'
  recorded_at: Tue, 07 Sep 2021 16:54:16 GMT
recorded_with: VCR 6.0.0
