---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: url=https%3A%2F%2Fwww.flickr.com%2Fgroups%2Fusagov%2F&method=flickr.urls.lookupGroup&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<FLICKR_API_KEY>",
        oauth_nonce="CDseVvT9QROS7GRuhql8hgWZlKKDhgzSVf6tnjFUTqU%3D", oauth_signature="<FLICKR_SHARED_SECRET>%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1631033625", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"group":{"id":"1058319@N21","groupname":{"_content":"USA.gov - Official
        U.S. Government Photostreams"}},"stat":"ok"}'
  recorded_at: Tue, 07 Sep 2021 16:53:45 GMT
recorded_with: VCR 6.0.0
