---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=dg_search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      X-Ratelimit-Remaining:
      - '499'
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data": [{"bio": "", "full_name": "", "id": "1317698369", "profile_picture":
        "http://instagram.fads1-1.fna.fbcdn.net/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "username": "dg_search", "website": ""}], "meta": {"code": 200}}'
  recorded_at: Mon, 06 Mar 2017 18:00:05 GMT
[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=dg_search101
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      Content-Language:
      - en
      X-Ratelimit-Remaining:
      - '497'
    body:
      encoding: UTF-8
      string: '{"data": [], "meta": {"code": 200}}'
  recorded_at: Mon, 06 Mar 2017 18:00:08 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=mctgsa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      X-Ratelimit-Remaining:
      - '496'
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 200}, "data": [{"username": "mctgsa", "id": "3316230201",
        "website": "", "bio": "", "full_name": "", "profile_picture": "http://scontent.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg"}]}'
  recorded_at: Mon, 06 Mar 2017 18:00:09 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=thisisaninstagramprofilethatshouldnotexist31415
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      X-Ratelimit-Remaining:
      - '495'
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
    body:
      encoding: UTF-8
      string: '{"data": [], "meta": {"code": 200}}'
  recorded_at: Mon, 06 Mar 2017 18:00:10 GMT
recorded_with: VCR 3.0.3
