---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?forUsername=usgovernment&key=<YOUTUBE_KEY>&part=id
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "g0fetdYJMBb-YZs4-tAfrN62x9s",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#channel",
              "etag": "BKBzzlg_Luqla1E6_6ISrJscWMU",
              "id": "UCWjkPmmzCdPZEKtGciLf1mg"
            }
          ]
        }
  recorded_at: Tue, 07 Sep 2021 16:54:22 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?forUsername=usasearch&key=<YOUTUBE_KEY>&part=id
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "RuuXzTIr0OoDqI4S0RU6n4FqKEM",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 5
          }
        }
  recorded_at: Tue, 07 Sep 2021 16:54:24 GMT
recorded_with: VCR 6.0.0
