---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=dg_search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '499'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 200}, "data": [{"username": "dg_search", "bio": "",
        "website": "", "profile_picture": "http://scontent-lhr3-1.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "full_name": "", "id": "1317698369"}]}'
  recorded_at: Thu, 08 Dec 2016 22:58:11 GMT
[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=dg_search101
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '497'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 200}, "data": []}'
  recorded_at: Thu, 08 Dec 2016 22:58:12 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=mctgsa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '496'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 200}, "data": [{"username": "mctgsa", "bio": "",
        "website": "", "profile_picture": "http://scontent-frt3-1.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "full_name": "", "id": "3316230201"}]}'
  recorded_at: Thu, 08 Dec 2016 22:58:14 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=thisisaninstagramprofilethatshouldnotexist31415
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '495'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 200}, "data": []}'
  recorded_at: Thu, 08 Dec 2016 22:58:15 GMT
recorded_with: VCR 3.0.3
