---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=dg_search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 200}, "data": [{"bio": "", "full_name": "", "username":
        "dg_search", "id": "1317698369", "profile_picture": "http://scontent-lht6-1.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "website": ""}]}'
  recorded_at: Tue, 10 Jan 2017 16:54:49 GMT
[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=dg_search101
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '497'
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"data": [], "meta": {"code": 200}}'
  recorded_at: Tue, 10 Jan 2017 16:54:51 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=mctgsa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '496'
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 200}, "data": [{"bio": "", "full_name": "", "username":
        "mctgsa", "id": "3316230201", "profile_picture": "http://ig-s-a-a.akamaihd.net/hphotos-ak-xpa1/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "website": ""}]}'
  recorded_at: Tue, 10 Jan 2017 16:54:52 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search.json?access_token=1317698369.289e363.c73a388058274edab94cb02e6b82bafd&q=thisisaninstagramprofilethatshouldnotexist31415
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="1317698369.289e363.c73a388058274edab94cb02e6b82bafd"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      X-Ratelimit-Remaining:
      - '495'
    body:
      encoding: UTF-8
      string: '{"meta": {"code": 200}, "data": []}'
  recorded_at: Tue, 10 Jan 2017 16:54:53 GMT
recorded_with: VCR 3.0.3
