---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=<GOOGLE_SEARCH_CX>&key=<GOOGLE_API_KEY>&lr=lang_en&q=gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "usageLimits",
            "reason": "keyInvalid",
            "message": "Bad Request"
           }
          ],
          "code": 400,
          "message": "Bad Request"
         }
        }
  recorded_at: Thu, 22 Mar 2018 23:02:22 GMT
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=<GOOGLE_SEARCH_CX>&key=<GOOGLE_API_KEY>&lr=lang_en&q=gov%20site:nps.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "usageLimits",
            "reason": "accessNotConfigured",
            "message": "Access Not Configured. CustomSearch API has not been used in project 913155601333 before or it is disabled. Enable it by visiting https://console.developers.google.com/apis/api/customsearch.googleapis.com/overview?project=913155601333 then retry. If you enabled this API recently, wait a few minutes for the action to propagate to our systems and retry.",
            "extendedHelp": "https://console.developers.google.com/apis/api/customsearch.googleapis.com/overview?project=913155601333"
           }
          ],
          "code": 403,
          "message": "Access Not Configured. CustomSearch API has not been used in project 913155601333 before or it is disabled. Enable it by visiting https://console.developers.google.com/apis/api/customsearch.googleapis.com/overview?project=913155601333 then retry. If you enabled this API recently, wait a few minutes for the action to propagate to our systems and retry."
         }
        }
  recorded_at: Thu, 26 Apr 2018 23:29:21 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=gov%20(site:nps.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 22A737D3B31640838C41AFC75F42E297
      X-Msedge-Clientid:
      - 3B1199E3559262C53758923D54056368
      X-Msapi-Userstate:
      - 706a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=76A0819AE7E44DC6A2AEB083566070D2&CID=3B1199E3559262C53758923D54056368&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=76A0819AE7E44DC6A2AEB083566070D2&CID=3B1199E3559262C53758923D54056368&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3anps.gov)",
        "webSearchUrlPingSuffix": "DevEx,5584.1", "totalEstimatedMatches": 4860000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "NPS.gov Homepage (U.S. National Park Service)", "url": "https:\/\/www.nps.gov\/index.htm",
        "urlPingSuffix": "DevEx,5100.1", "about": [{"name": "Everglades National Park"},
        {"name": "Sequoia National Park"}, {"name": "Muir Woods National Monument"},
        {"name": "National Park Service"}], "displayUrl": "https:\/\/www.nps.gov",
        "snippet": "The National Park Service cares for special places saved by the
        American people so that all may experience our heritage.", "deepLinks": [{"name":
        "Find a Park", "url": "https:\/\/www.nps.gov\/findapark\/index.htm", "urlPingSuffix":
        "DevEx,5087.1"}, {"name": "National Park Passes", "url": "https:\/\/www.nps.gov\/planyourvisit\/passes.htm",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "Work With Us", "url": "https:\/\/www.nps.gov\/aboutus\/workwithus.htm",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "California", "url": "https:\/\/www.nps.gov\/state\/ca\/index.htm",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "Contact Us", "url": "https:\/\/www.nps.gov\/aboutus\/contactus.htm",
        "urlPingSuffix": "DevEx,5091.1"}], "dateLastCrawled": "2018-04-20T19:02:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Path
        of Progress National Heritage Tour Route - nps.gov", "url": "https:\/\/www.nps.gov\/PAPR\/index.htm",
        "urlPingSuffix": "DevEx,5114.1", "displayUrl": "https:\/\/www.nps.gov\/PAPR",
        "snippet": "Moved Permanently. The document has moved here.", "dateLastCrawled":
        "2018-04-19T11:52:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPage[...]
