---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/UNwHl6aVC7DHHclejmUaURoDOJE"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - gov",
            "totalResults": "26400000",
            "searchTerms": "gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - gov",
            "totalResults": "26400000",
            "searchTerms": "gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.316052,
          "formattedSearchTime": "0.32",
          "totalResults": "26400000",
          "formattedTotalResults": "26,400,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "USA.gov: Official Guide to Government Information and Services",
           "htmlTitle": "USA.\u003cb\u003egov\u003c/b\u003e: Official Guide to Government Information and Services",
           "link": "https://www.usa.gov/",
           "displayLink": "www.usa.gov",
           "snippet": "USA.gov can help you start your search for government information by topic and \nagency.",
           "htmlSnippet": "USA.\u003cb\u003egov\u003c/b\u003e can help you start your search for government information by topic and \u003cbr\u003e\nagency.",
           "cacheId": "Chy63Yg4eqAJ",
           "formattedUrl": "https://www.usa.gov/",
           "htmlFormattedUrl": "https://www.usa.\u003cb\u003egov\u003c/b\u003e/",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "228",
              "height": "221",
              "src": "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQlKQd7yPnIV82CDt3IrIQ-lOmeacWC9t0Fmn9-Rbr8S4py2BluWz_dnLM"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1.0",
              "fb:pages": "65369158579"
             }
            ],
            "cse_image": [
             {
              "src": "https://gsa-cmp-fileupload.s3.amazonaws.com/Topjob.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "IRS.gov",
           "htmlTitle": "IRS.\u003cb\u003egov\u003c/b\u003e",
           "link": "https://www.irs.gov/",
           "displayLink": "www.irs.gov",
           "snippet": "U.S. government agency responsible for tax collection and tax law enforcement. \nProvides downloadable income tax forms, instructions, agency publications, and\n ...",
           "htmlSnippet": "U.S. government agency responsible for tax collection and tax law enforcement. \u003cbr\u003e\nProvides downloadable income tax forms, instructions, agency publications, and\u003cbr\u003e\n&nbsp;...",
           "cacheId": "u0DsQ1_gPisJ",
           "formattedUrl": "https://www.irs.gov/",
           "htmlFormattedUrl": "https://www.irs.\u003cb\u003egov\u003c/b\u003e/",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "189",
              "height": "152",
              "src": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7qp7rKRx06WqIhxtP03uwzVB6926uzJC1ZJQV3pvO_47iQLEC8cs5Chg"
             }
            ],
            "metatags": [
             {
              "newurl": "https://www.irs.gov",
              "oldurl": "https://www.irs.gov"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.irs.gov/image/rs_form_990.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "DC.gov",
           "htmlTitle": "DC.\u003cb\u003egov\u003c/b\u003e",
           "link": "https://dc.gov/",
           "displayLink": "dc.gov",
           "snippet": "The official web site of the Government of [...]
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=gov%20site:nps.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/oLFrpO5TSzS1ss7D75oTebXMn3s"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      e[...]
