---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=gov%20site:nps.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/USPw7rHev_D5Nnm_cqwnUbATs-U"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - gov site:nps.gov",
            "totalResults": "636",
            "searchTerms": "gov site:nps.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - gov site:nps.gov",
            "totalResults": "636",
            "searchTerms": "gov site:nps.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.378103,
          "formattedSearchTime": "0.38",
          "totalResults": "636",
          "formattedTotalResults": "636"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "GET rest/ReferenceCodeSearch/Composite?q={q}",
           "htmlTitle": "GET rest/ReferenceCodeSearch/Composite?q={q}",
           "link": "https://ecos.fws.gov/ServCatServices/svcs-help/servcat/v4/Help/Api/GET-rest-ReferenceCodeSearch-Composite_q",
           "displayLink": "ecos.fws.gov",
           "snippet": "... \"url\": \"https://mapservices.nps.gov/3456\", \"description\": \"ArcGIS map service for \n... Link\u003c/ResourceType\u003e \u003cUrl\u003ehttp://parkresources.doi.gov/sample1\u003c/Url\u003e ...",
           "htmlSnippet": "... &quot;url&quot;: &quot;https://mapservices.nps.\u003cb\u003egov\u003c/b\u003e/3456&quot;, &quot;description&quot;: &quot;ArcGIS map service for \u003cbr\u003e\n... Link&lt;/ResourceType&gt; &lt;Url&gt;http://parkresources.doi.\u003cb\u003egov\u003c/b\u003e/sample1&lt;/Url&gt;&nbsp;...",
           "cacheId": "v9ndfYWzdJgJ",
           "formattedUrl": "https://ecos.fws.gov/.../GET-rest-ReferenceCodeSearch-Composite_q",
           "htmlFormattedUrl": "https://ecos.fws.\u003cb\u003egov\u003c/b\u003e/.../GET-rest-ReferenceCodeSearch-Composite_q",
           "pagemap": {
            "metatags": [
             {
              "viewport": "width=device-width"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "7ATER 1UALITY #ONDITIONS !LASKA /CTOBER",
           "htmlTitle": "7ATER 1UALITY #ONDITIONS !LASKA /CTOBER",
           "link": "https://pubs.usgs.gov/sir/2004/5021/pdf/sir20045021.pdf",
           "displayLink": "pubs.usgs.gov",
           "snippet": "and facilitates effective management of water, biological, energy, and mineral \nresources. (http://www.usgs.gov/). Information on the quality of the Nation's water\n ...",
           "htmlSnippet": "and facilitates effective management of water, biological, energy, and mineral \u003cbr\u003e\nresources. (http://www.usgs.\u003cb\u003egov\u003c/b\u003e/). Information on the quality of the Nation&#39;s water\u003cbr\u003e\n&nbsp;...",
           "cacheId": "PcVvKADMqKQJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://pubs.usgs.gov/sir/2004/5021/pdf/sir20045021.pdf",
           "htmlFormattedUrl": "https://pubs.usgs.\u003cb\u003egov\u003c/b\u003e/sir/2004/5021/pdf/sir20045021.pdf",
           "pagemap": {
            "metatags": [
             {
              "moddate": "D:20041006072545-07'00'",
              "creationdate": "D:20041004095417Z",
              "title": "ak9BI_02.book",
              "creator": "FrameMaker 7.1",
              "author": "brichey",
              "producer": "Acrobat Distiller 6.0.1 (Windows)"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Whistle, a Nearly. Dormant Geyser in ' Upper Geyser Basin ...",
           "htmlTitle": "Whistle, a Nearly. Dormant Geyser in &#39; Upper Geyser Basin ...",
           "link": "https://pubs.usgs.gov/bul/1967/report.pdf",
           "displayLink": "pubs.usgs.gov",
           "snippet": "Page 1. Whistle, a Nearly. Dormant Geyser in '[...]
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=gov%20site:nps.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/F4jlOs-SfVbrPHHMUR9z3wcjSF0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
     [...]
