---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=gov%20site:nps.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"W18CoImQKYKeZ22usPfNI43IHMc/r2CYDq-rLM3JMQQlJdPuXh7a_kk"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - gov site:nps.gov",
            "totalResults": "8780",
            "searchTerms": "gov site:nps.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - gov site:nps.gov",
            "totalResults": "8780",
            "searchTerms": "gov site:nps.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.190026,
          "formattedSearchTime": "0.19",
          "totalResults": "8780",
          "formattedTotalResults": "8,780"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Hydrogeology and Water Chemistry of Montezuma Well in ...",
           "htmlTitle": "Hydrogeology and Water Chemistry of Montezuma Well in ...",
           "link": "https://pubs.usgs.gov/wri/1997/4156/report.pdf",
           "displayLink": "pubs.usgs.gov",
           "snippet": "Abstract....................................................................................................................................\n.......................... 1. Introduction..................................................^. 2. Purpose and scope\n.............................................................................................................................................. 2. \nPrevious investigations.",
           "htmlSnippet": "Abstract....................................................................................................................................\u003cbr\u003e\n.......................... 1. Introduction..................................................^. 2. Purpose and scope\u003cbr\u003e\n.............................................................................................................................................. 2. \u003cbr\u003e\nPrevious investigations.",
           "cacheId": "fjDowGgLOTIJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://pubs.usgs.gov/wri/1997/4156/report.pdf",
           "htmlFormattedUrl": "https://pubs.usgs.\u003cb\u003egov\u003c/b\u003e/wri/1997/4156/report.pdf",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "150",
              "height": "199",
              "src": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSY8ucP-JPpVIMWN2yUMr0qgz2Sf73IzK1rHE8VMKQa6vsihqLWkVeYoqo"
             }
            ],
            "metatags": [
             {
              "creationdate": "D:20110204215051-06'00'",
              "moddate": "D:20110204220416-06'00'",
              "producer": "SAFER Create 3.000"
             }
            ],
            "cse_image": [
             {
              "src": "https://pubs.er.usgs.gov/imgsizer/_?u=https%3A%2F%2Fpubs.usgs.gov%2Fwri%2F1997%2F4156%2Freport-thumb.jpg&w=200&s=ECpItcVWccfpP9Dt6KIzwp2xTYY"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Plant Conservation Alliance®s Alien Plant Working Group Canada ...",
           "htmlTitle": "Plant Conservation Alliance®s Alien Plant Working Group Canada ...",
           "link": "https[...]
