---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=gov%20(site:nps.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - '0080BE02002C4899B3B5EFBDE5577A1D'
      Bingapis-Sessionid:
      - ECA1248543B0445DBE8899A1F3313E52
      X-Msedge-Clientid:
      - 325CF34D286F6F0D2010E31C29926E92
      X-Msapi-Userstate:
      - 3d73
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=326,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "gov
        (site:nps.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3anps.gov)",
        "totalEstimatedMatches": 1780000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "NPS.gov Homepage (U.S. National Park Service)", "url": "https:\/\/www.nps.gov\/index.htm",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.nps.gov", "snippet":
        "The National Park Service cares for special places saved by the American
        people so that all may experience our heritage.", "dateLastCrawled": "2021-06-03T11:29:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Find a Park (U.S. National Park Service) - NPS", "url": "https:\/\/www.nps.gov\/findapark\/index.htm",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.nps.gov\/findapark",
        "snippet": "Chinese immigrants in the mid-19th century played an important
        part in mining communities and shaping the eventual national park. Tule Lake
        National Monument tells the stories o[...]
