---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=gov%20site:nps.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"W18CoImQKYKeZ22usPfNI43IHMc/vEH3fLH68WeoE6zP6UlpplQryAM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - gov site:nps.gov",
            "totalResults": "8880",
            "searchTerms": "gov site:nps.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - gov site:nps.gov",
            "totalResults": "8880",
            "searchTerms": "gov site:nps.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.139431,
          "formattedSearchTime": "0.14",
          "totalResults": "8880",
          "formattedTotalResults": "8,880"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Plant Conservation Alliance®s Alien Plant Working Group Canada ...",
           "htmlTitle": "Plant Conservation Alliance®s Alien Plant Working Group Canada ...",
           "link": "https://www.maine.gov/dacf/php/gotpests/weeds/factsheets/canada-thistle-pca.pdf",
           "displayLink": "www.maine.gov",
           "snippet": "http://www.nps.gov/plants/alien/. FACT SHEET: CANADA THISTLE. Canada \nThistle. Cirsium arvense (L.) Scop. Sunflower family (Asteraceae). NATIVE \nRANGE. Temperate regions of Eurasia. DESCRIPTION. Canada thistle is an \nherbaceous perennial with erect stems. 1½-4 feet tall, prickly leaves and an \nextensive creeping.",
           "htmlSnippet": "http://www.nps.\u003cb\u003egov\u003c/b\u003e/plants/alien/. FACT SHEET: CANADA THISTLE. Canada \u003cbr\u003e\nThistle. Cirsium arvense (L.) Scop. Sunflower family (Asteraceae). NATIVE \u003cbr\u003e\nRANGE. Temperate regions of Eurasia. DESCRIPTION. Canada thistle is an \u003cbr\u003e\nherbaceous perennial with erect stems. 1½-4 feet tall, prickly leaves and an \u003cbr\u003e\nextensive creeping.",
           "cacheId": "zIb3l6xJmkMJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://www.maine.gov/dacf/php/gotpests/.../canada-thistle-pca.pdf",
           "htmlFormattedUrl": "https://www.maine.\u003cb\u003egov\u003c/b\u003e/dacf/php/gotpests/.../canada-thistle-pca.pdf",
           "pagemap": {
            "metatags": [
             {
              "creationdate": "D:20090706152310-04'00'",
              "author": "Olivia",
              "creator": "PScript5.dll Version 5.2.2",
              "producer": "Acrobat Distiller 8.1.0 (Windows)",
              "moddate": "D:20090706152310-04'00'",
              "title": "Microsoft Word - ciar1.doc"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Pandemic Flu Respiratory Protection",
           "htmlTitle": "Pandemic Flu Respiratory Protection",
           "link": "https://www.osha.gov/Publications/protect-yourself-pandemic-respiratory.pdf",
           "displayLink": "www.osha.gov",
           "snippet": "demic, are performing high[...]
