---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/_0MKO0SrdKFVyHFQLkcPBZ30gt0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - gov",
            "totalResults": "9860000",
            "searchTerms": "gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - gov",
            "totalResults": "9860000",
            "searchTerms": "gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.767895,
          "formattedSearchTime": "0.77",
          "totalResults": "9860000",
          "formattedTotalResults": "9,860,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "USA.gov",
           "htmlTitle": "USA.\u003cb\u003egov\u003c/b\u003e",
           "link": "https://www.usa.gov/",
           "displayLink": "www.usa.gov",
           "snippet": "USA.gov can help you start your search for government information by topic and \nagency.",
           "htmlSnippet": "USA.\u003cb\u003egov\u003c/b\u003e can help you start your search for government information by topic and \u003cbr\u003e\nagency.",
           "cacheId": "Chy63Yg4eqAJ",
           "formattedUrl": "https://www.usa.gov/",
           "htmlFormattedUrl": "https://www.usa.\u003cb\u003egov\u003c/b\u003e/",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "275",
              "height": "183",
              "src": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzINNAg1YLPpglN4DEUGg1mV_yxtXAb9gEeogxsi1WBLoessgxNw1xHyhF"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1.0",
              "fb:pages": "65369158579",
              "p:domain_verify": "f3135f7662284cd99a63b43e8371757f"
             }
            ],
            "cse_image": [
             {
              "src": "https://gsa-cmp-fileupload.s3.amazonaws.com/ft0-lalo.gif"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Internal Revenue Service | An official website of the United States ...",
           "htmlTitle": "Internal Revenue Service | An official website of the United States ...",
           "link": "https://www.irs.gov/",
           "displayLink": "www.irs.gov",
           "snippet": "Other Languages. Español · 中文 · 한국어 · Pусский · TiếngViệt. Related Sites. \nU.S. Treasury · Treasury Inspector General for Tax Administration · USA.gov.",
           "htmlSnippet": "Other Languages. Español &middot; 中文 &middot; 한국어 &middot; Pусский &middot; TiếngViệt. Related Sites. \u003cbr\u003e\nU.S. Treasury &middot; Treasury Inspector General for Tax Administration &middot; USA.\u003cb\u003egov\u003c/b\u003e.",
           "cacheId": "u0DsQ1_gPisJ",
           "formattedUrl": "https://www.irs.gov/",
           "htmlFormattedUrl": "https://www.irs.\u003cb\u003egov\u003c/b\u003e/",
           "pagemap": {
            "metatags": [
             {
              "title": "Internal Revenue Service | An official website of the United States government",
              "mobileoptimized": "width",
              "handheldfriendly": "true",
              "viewport": "width=device-width, initial-scale=1.0",
              "uniqueid": "19911",
              "ishistorical": "no",
              "changed": "1505430065"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Hurricane Irma | FEMA.gov",
           "htmlTitle": "Hurricane Irma | FEMA.\u003cb\u003egov\u003c/b\u003e",
           "link": "https://www.fema.gov/hurricane-irma",
           "displayLink": "www.fema.gov",
           "snippet": "Sep 17, 2017 ... Follow the direction of state, local, and tribal officials. (Español)",
           "htmlSnippet": "Sep 17, 2[...]
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=gov%20site:nps.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/p5LhPxmjRzFQe2fAZTvtqRtCX2Y"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
     [...]
