.search-form-wrapper
  - form_tag(search_path, :method => :get, :id => "search_form") do
    = hidden_field_tag :locale, I18n.locale
    = hidden_field_tag :m, params[:m]
    = text_field :search, :query, { :size => 49, :name => "query", :autocomplete => "off", :class => "usagov-search-autocomplete" }
    = submit_tag("Search", :id => "search_button", :class => 'generic-button search-button')

