:javascript
  (function() {
    var fa = document.createElement('script');
    fa.type = 'text/javascript';
    fa.src = '/javascripts/federated_analytics.js';
    document.getElementsByTagName('head')[0].appendChild(fa);
  })();