- form_tag(search_path, :method => :get, :id=>"search_form") do
  .group
    .row.center
      = text_field :search, :query, {:name=>"query", :placeholder => "Search"}
      - unless (is_device?("iphone") || is_device?("ipod")) then
        = submit_tag(t :search, :id => "search_button")
      = hidden_field_tag :locale, I18n.locale
