.newsitem.searchresult{:id => "newsitem#{index+1}"}
  - module_name = hit.instance.is_video? ? 'VIDS' : 'NEWS'
  = link_with_click_tracking(truncate_html(highlight_hit(hit, :title), length: 140).html_safe, hit.instance.link, @affiliate, @search.query, index, module_name, @search_vertical)
  %h4
    = render_feed_name_in_govbox @affiliate, hit.instance.rss_feed_url_id
    = time_ago_in_words(hit.instance.published_at)
