- if search.indexed_documents and search.indexed_documents.total > 0
  #boosted
    .related-searches-wrapper-top
    .related-searches-wrapper-middle
      %h3.alt
        Document Results for
        %span.recommended-by
          = @affiliate.display_name
      .related_indexeddocs
        - search.indexed_documents.hits(:verify => true).each_with_index do |hit, index|
          = render 'shared/indexed_document', :hit => hit, :index => index
      %div{:style => 'margin-bottom: 10px;'}
        = link_to "See more document results for <strong>#{@search.query}</strong> >>".html_safe, docs_search_path(:query => @search.query, :affiliate => @affiliate.name)
    .related-searches-wrapper-bottom