#wrapLogo
  .topLogo
    = link_to(image_tag('logo-usa-gov.png', :alt=>"Search.USA.gov", :title => "Search.USA.gov"), home_page_path)
  .bottomLogo
    = link_to(image_tag('logo-usa-search.png', :alt=>"USASearch Program", :title => "USASearch Program"), program_path)
