.header
  #top_logo
    = link_to BLOG_URL, class: 'brand' do
      %span.digital DIGITAL
      %span.gov> GOV
      %span.search Search
  #top_nav
    = basic_header_navigation_for current_user
  = render "/shared/program_nav"
