.header
  - if $git_info.show_header
    #git-info-header= render partial: 'shared/git_info_header'
  #top_logo
    = render partial: 'shared/brand'
  #top_nav
    = basic_header_navigation_for current_user
  #main_nav
    .user-menu= render_user_navigation(current_user)
