- if (@search && @search.faqs && @search.faqs.total > 0)
  .related-faqs-wrapper
    .related-searches-wrapper-top
    .related-searches-wrapper-middle
      .related_faqs
        %h3.alt= related_faqs_header @search.query
        %ul{:id => "related_faqs"}
          - @search.faqs.hits(:verify => true).each_with_index do |hit, index|
            %li= tracked_click_link(hit.instance.url,highlight_hit(hit, :question), @search, nil, index, 'FAQS', @search_vertical)
    .related-searches-wrapper-bottom
