- if (@search && @search.related_search.size > 0)
  %h3.alt= t :related_searches
  %ul{:id => "relatedsearch"}
    - @search.related_search.each do |result|
      %li= link_to(result.title, shunt_from_bing_to_usasearch(result.url))
- else
  &nbsp