- form_tag(searches_path, :method => :get, :id=>"search_form") do
  = text_field :search, :queryterm, :size=>50, :name=>"queryterm"
  = image_submit_tag "search.gif", :id => "search_button", :align=>"top"
  = link_to "Online Tutorial", "http://www.usa.gov/About/tutorials/index.shtml"
