%div#home_searchtrend
  %h2
    Search Trends
  %ul
    - @active_top_searches.each_with_index do |top_search, index|
      %li{:class => index == 0 && "first"}
        =link_to top_search.query, top_search.link_url, :target => '_top'

