%div#home_searchtrend
  %h2
    Search Trends
  %ul
    - @trending_searches.each_with_index do |trending_search, index|
      %li{:class => index == 0 && "first"}
        =link_to trending_search.query, trending_search.link_url, :target => '_top'

