---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=america%20(site:aff.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E2608F65FDD94CF29E6877EEC77244CC
      X-Msedge-Clientid:
      - 2B10A7CBE10B6D0925F0AC47E0A46C4C
      X-Msapi-Userstate:
      - '2151'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=7C36F615746241D59301B74FEB287E92&CID=2B10A7CBE10B6D0925F0AC47E0A46C4C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=7C36F615746241D59301B74FEB287E92&CID=2B10A7CBE10B6D0925F0AC47E0A46C4C&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Sun, 04 Feb 2018 01:31:16 GMT
recorded_with: VCR 4.0.0
