---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=america%20(site:aff.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 83180D4A76D6466EAE621E50B4DBE06A
      X-Msedge-Clientid:
      - 2F3FFB9A77866DCB1ECEF01C76296C57
      X-Msapi-Userstate:
      - '6613'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B7C546B919224E0E998330BFA4CEC8E4&CID=2F3FFB9A77866DCB1ECEF01C76296C57&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B7C546B919224E0E998330BFA4CEC8E4&CID=2F3FFB9A77866DCB1ECEF01C76296C57&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 29 Jan 2018 19:43:03 GMT
recorded_with: VCR 3.0.3
