---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=america%20(site:aff.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D4CB0FE00AB84D5B92497980CCC9396D
      X-Msedge-Clientid:
      - 262D104EEEFD660C33221A2CEF6A673B
      X-Msapi-Userstate:
      - 2ea8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9A45D189268B4BB18C409D64EF1CF81F&CID=262D104EEEFD660C33221A2CEF6A673B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9A45D189268B4BB18C409D64EF1CF81F&CID=262D104EEEFD660C33221A2CEF6A673B&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 12 Apr 2017 02:09:31 GMT
recorded_with: VCR 3.0.3
