---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=america%20(site:aff.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B118D38EAC0D483D8576AD55B3C3043F
      X-Msedge-Clientid:
      - 2AF1625C3ACA6E8A2C106E043BC56FBB
      X-Msapi-Userstate:
      - 49be
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E5A57F16915D41F0B2B58B58AB607319&CID=2AF1625C3ACA6E8A2C106E043BC56FBB&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E5A57F16915D41F0B2B58B58AB607319&CID=2AF1625C3ACA6E8A2C106E043BC56FBB&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 27 Aug 2018 01:38:25 GMT
recorded_with: VCR 4.0.0
