---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=america%20(site:aff.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 88DED3E2E7F44792AE367B92D9993583
      X-Msedge-Clientid:
      - 13DC744A932266F713177E7492B5679C
      X-Msapi-Userstate:
      - bf76
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=33B80D8E15E04BC0BC143CB5DFE46F95&CID=13DC744A932266F713177E7492B5679C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=33B80D8E15E04BC0BC143CB5DFE46F95&CID=13DC744A932266F713177E7492B5679C&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 07 Mar 2017 20:03:47 GMT
recorded_with: VCR 3.0.3
