---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=america%20(site:aff.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1DF81B86B1A74216B0DF956DE5C21E12
      X-Msedge-Clientid:
      - 31078648CA5E6FB336D78CF7CBC96E3A
      X-Msapi-Userstate:
      - cd5e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=89CC9743BCD14CA1B9B490D6A327FBE4&CID=31078648CA5E6FB336D78CF7CBC96E3A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=89CC9743BCD14CA1B9B490D6A327FBE4&CID=31078648CA5E6FB336D78CF7CBC96E3A&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Fri, 14 Jul 2017 17:56:33 GMT
recorded_with: VCR 3.0.3
