---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=america%20(site:aff.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 38710CAB3413449EA65312D58B23C7E4
      X-Msedge-Clientid:
      - 18B8E531B657664A269CEEAFB7B267DF
      X-Msapi-Userstate:
      - 23d5
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=3A92B71EDE1343F58FEF8D3E29A03912&CID=18B8E531B657664A269CEEAFB7B267DF&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=3A92B71EDE1343F58FEF8D3E29A03912&CID=18B8E531B657664A269CEEAFB7B267DF&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 22 Feb 2018 07:09:39 GMT
recorded_with: VCR 4.0.0
