---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=america%20(site:aff.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 38710CAB3413449EA65312D58B23C7E4
      X-Msedge-Clientid:
      - 18B8E531B657664A269CEEAFB7B267DF
      X-Msapi-Userstate:
      - 23d5
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=3A92B71EDE1343F58FEF8D3E29A03912&CID=18B8E531B657664A269CEEAFB7B267DF&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=3A92B71EDE1343F58FEF8D3E29A03912&CID=18B8E531B657664A269CEEAFB7B267DF&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 22 Feb 2018 07:09:39 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=america%20(site:aff.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8A7BC8CD3635409E940F8D6B6A1B98E7
      X-Msedge-Clientid:
      - 0E2AE3E5892764001C8BEF4988F06558
      X-Msapi-Userstate:
      - '9858'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=31A0BCEF88C04E0884DE021CBD914185&CID=0E2AE3E5892764001C8BEF4988F06558&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=31A0BCEF88C04E0884DE021CBD914185&CID=0E2AE3E5892764001C8BEF4988F06558&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 19 Nov 2018 22:35:20 GMT
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=america%20(site:aff.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B918114FDBFD442687904033DDEFB6F2
      Bingapis-Sessionid:
      - 103D54E975DE450D8B9288D6A0616570
      X-Msedge-Clientid:
      - 10BABE53B6DC6BE50700B2A9B7906A07
      X-Msapi-Userstate:
      - 1eef
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=146,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "america
        (site:aff.gov)"}, "rankingResponse": {}}'
  recorded_at: Tue, 05 Feb 2019 21:39:36 GMT
recorded_with: VCR 4.0.0
