---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=america%20(site:aff.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 28CF07DE2437426F928F9CB60FDE40D0
      X-Msedge-Clientid:
      - 23CECE77E677665E04E0C4B4E7E0674C
      X-Msapi-Userstate:
      - f227
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8DBC991F1E0349DD985CB997A087A2BC&CID=23CECE77E677665E04E0C4B4E7E0674C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8DBC991F1E0349DD985CB997A087A2BC&CID=23CECE77E677665E04E0C4B4E7E0674C&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 18 Jul 2017 17:49:46 GMT
recorded_with: VCR 3.0.3
