---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=food%20nutrition%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C7D4ADF2F3BD40B59FC0A75C30B086B9
      X-Msedge-Clientid:
      - 04F628600E8E6132396424800F596077
      X-Msapi-Userstate:
      - 8e06
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8BD6463D6D5E499FAA45109DDFF12B6B&CID=04F628600E8E6132396424800F596077&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8BD6463D6D5E499FAA45109DDFF12B6B&CID=04F628600E8E6132396424800F596077&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=food+nutrition+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5242.1", "totalEstimatedMatches": 125, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Health
        | USAGov", "url": "https:\/\/www.usa.gov\/health", "urlPingSuffix": "DevEx,5054.1",
        "displayUrl": "https:\/\/www.usa.gov\/health", "snippet": "Health Information
        from the Government. Learn more about the best ways to find health information
        from the government. Health Insurance. Learn about health insurance, including
        Medicaid and Medicare. Medications. Get answers to common questions about
        buying and using medicine and medical products. Mental Health and Substance
        Abuse", "dateLastCrawled": "2019-01-07T17:02:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "U.S. Department of Agriculture | USAGov", "url": "https:\/\/www.usa.gov\/federal-agencies\/u-s-department-of-agriculture",
        "urlPingSuffix": "DevEx,5067.1", "about": [{"name": "United States Department
        of Agriculture"}], "displayUrl": "https:\/\/www.usa.gov\/federal-agencies\/u-s-department-of-agriculture",
        "snippet": "Popular Services from U.S. Department of Agriculture. Food Stamps\/SNAP
        Information . How to Apply for Food Stamps\/SNAP . Food and Nutrition . USDA
        Food and Food Safety Recalls. Back to Top. Parent Agency. White House Related
        Agency. Center for Nutrition Policy and Promotion Food and Nutrition Service",
        "dateLastCrawled": "2019-01-06T17:19:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "Food and Nutrition Service | USAGov", "url": "https:\/\/www.usa.gov\/federal-agencies\/food-and-nutrition-service",
        "urlPingSuffix": "DevEx,5080.1", "about": [{"name": "Food and Nutrition Service"}],
        "displayUrl": "https:\/\/www.usa.gov\/federal-agencies\/food-and-nutrition-service",
        "snippet": "Food and Nutrition Service. The Food and Nutrition Service provides
        children and low-income people access to food, a healthful diet, and nutrition
        education. Agency Details Website: Food and Nutrition Service . Contact: Contact
        the Food and Nutrition Service . Food Stamps. Child Nutrition Programs. Main
        Address: 3101 Park Center Dr.", "dateLastCrawled": "2018-12-23T03:03:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "Food Assistance
        | USAGov", "url": "https:\/\/www.usa.gov\/food-help", "urlPingSuffix": "DevEx,5093.1",
        "displayUrl": "https:\/\/www.usa.gov\/food-help", "snippet": "If you have
        a low income, the Supplemental Nutrition Assistance Program (SNAP), formerly
        known as \"food stamps,\" is a federal nutrition program that [...]
