---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mars%20(site:.gov)%20(-site:nasa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - EC3615067B1A4FF498806C7A93AD6129
      X-Msedge-Clientid:
      - 399947B5976C658915E54D2C96FB642A
      X-Msapi-Userstate:
      - '2492'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=260A979409B54945881D87476856D005&CID=399947B5976C658915E54D2C96FB642A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=260A979409B54945881D87476856D005&CID=399947B5976C658915E54D2C96FB642A&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=mars+(site%3a.gov)+(-site%3anasa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5449.1", "totalEstimatedMatches": 412000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "MARS - Missouri", "url": "https:\/\/emsweb1.dhss.mo.gov\/mars\/default.cfm",
        "urlPingSuffix": "DevEx,5078.1", "displayUrl": "https:\/\/emsweb1.dhss.mo.gov\/mars\/default.cfm",
        "snippet": "Welcome to the Missouri Ambulance Reporting System (MARS). If
        you are new to the system, please click on About to learn more about the Missouri
        Ambulance Reporting ...", "dateLastCrawled": "2017-06-01T05:20:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "eMARS
        and Accounting Support", "url": "http:\/\/finance.ky.gov\/services\/statewideacct\/pages\/default.aspx",
        "urlPingSuffix": "DevEx,5095.1", "displayUrl": "finance.ky.gov\/services\/statewideacct\/pages\/default.aspx",
        "snippet": "The eMARS and Accounting Support pages are resources available
        to ensure consistency in the classification of receipts and e[...]
