---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mars%20(site:.gov)%20(-site:nasa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 609E549BE2AA4AD9A7A0CA4F22560ACB
      X-Msedge-Clientid:
      - 3CDABE53778F64F8306AB55B76186509
      X-Msapi-Userstate:
      - b204
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B35F3D977A0F4D42A699E38E16B77291&CID=3CDABE53778F64F8306AB55B76186509&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B35F3D977A0F4D42A699E38E16B77291&CID=3CDABE53778F64F8306AB55B76186509&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=mars+(site%3a.gov)+(-site%3anasa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5466.1", "totalEstimatedMatches": 2840000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "MARS - Missouri", "url": "https:\/\/emsweb1.dhss.mo.gov\/mars\/default.cfm",
        "urlPingSuffix": "DevEx,5079.1", "displayUrl": "https:\/\/emsweb1.dhss.mo.gov\/mars\/default.cfm",
        "snippet": "Welcome to the Missouri Ambulance Reporting System (MARS). If
        you are new to the system, please click on About to learn more about the Missouri
        Ambulance Reporting ...", "dateLastCrawled": "2017-09-22T06:05:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "MARS gene
        - Genetics Home Reference", "url": "https:\/\/ghr.nlm.nih.gov\/gene\/MARS",
        "urlPingSuffix": "DevEx,5098.1", "displayUrl": "https:\/\/ghr.nlm.nih.gov\/gene\/MARS",
        "snippet": "This gene encodes a member of the class I family of aminoacyl-tRNA
        synthetases. These enzymes play a critical role in protein biosynthesis by
        charging ...", "dateLastCrawled": "2017-09-22T12:17:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Mortgage Assistance
        Relief Services (MARS) Rule - ftc.gov", "url": "https:\/\/www.ftc.gov\/tips-advice\/business-center\/guidance\/mortgage-assistance-relief-services-rule-compliance-guide",
        "urlPingSuffix": "DevEx,5117.1", "displayUrl": "https:\/\/www.ftc.gov\/tips-advice\/business-center\/guidance\/mortgage...",
        "snippet": "The Mortgage Assistance Relief Services (MARS) Rule makes it illegal
        to charge upfront fees and requires specific disclosures in ads and when you
        forward a lender’s ...", "dateLastCrawled": "2017-09-21T06:20:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "mars.archives.ncdcr.gov
        - MARS catalog", "url": "http:\/\/mars.archives.ncdcr.gov\/", "urlPingSuffix":
        "DevEx,5130.1", "displayUrl": "mars.archives.ncdcr.gov", "snippet": "MARS
        Home: Help: Contact Us: Mobile Version: Basic Search Basic Search; Advanced
        Search; Search by Call Number . 16 Items per Page Sort by Hierarchy. Search
        ...", "dateLastCrawled": "2017-09-22T12:42:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.4",
        "name": "Planetary Names: Mars", "url": "https:\/\/planetarynames.wr.usgs.gov\/Page\/MARS\/target",
        "urlPingSuffix": "DevEx,5144.1", "about": [{"name": "Mars"}], "displayUrl":
        "https:\/\/planetarynames.wr.usgs.gov\/Page\/MARS\/target", "snippet": "Mars
        Images With Names 1:5 million-scale THEMIS imagery; MOLA global image showing
        regional feature names; MOLA global image showing boundaries of regional feature
        names", "dateLastCrawled": "2017-09-13T21:47:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.5",
        "name": "The Planet Mars - National Weather Service", "url": "https:\/[...]
