---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=legal%20careers%20(site:justice.gov)%20(-site:justice.gov/legal-careers)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 13AE9296D9C541E298D130BCA215C599
      X-Msedge-Clientid:
      - 0FF2DE05555767392F45CEA154186635
      X-Msapi-Userstate:
      - 332c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F93DEF4631F847C0B937EE174FA5BC8E&CID=0FF2DE05555767392F45CEA154186635&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F93DEF4631F847C0B937EE174FA5BC8E&CID=0FF2DE05555767392F45CEA154186635&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=legal+careers+(site%3ajustice.gov)+(-site%3ajustice.gov%2flegal-careers)",
        "webSearchUrlPingSuffix": "DevEx,5429.1", "totalEstimatedMatches": 1090000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Legal Careers | Department of Justice", "url": "https:\/\/www.justice.gov\/legal-careers",
        "urlPingSuffix": "DevEx,5063.1", "displayUrl": "https:\/\/www.justice.gov\/legal-careers",
        "snippet": "Legal Careers at Justice Prev Play Pause Next. The Office of Attorney
        Recruitment and Management (OARM) leads Justice’s outreach and recruitment
        efforts for law students and attorneys with the goal of attracting a highly-qualified
        and diverse talent pool. ...", "dateLastCrawled": "2021-08-20T07:04:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Careers
        | Department of Justice", "url": "https:\/\/www.justice.gov\/careers", "urlPingSuffix":
        "DevEx,5076.1", "displayUrl": "https:\/\/www.justice.gov\/careers", "snippet":
        "Careers The Department of Justice (DOJ) leads the nation in ensuring the
        protection of all Americans while preserving their constitutional freedoms.
        As a Justice employee you[...]
