---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mars%20(site:nasa.gov)%20(-site:mars.nasa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E0D6DAA6FE6545A8ACA1CE007206BB83
      X-Msedge-Clientid:
      - 194DB831C10B6AED2B55B339C09C6B85
      X-Msapi-Userstate:
      - 9fcd
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=32E336365B354AB7BF090A1E00C265A6&CID=194DB831C10B6AED2B55B339C09C6B85&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=32E336365B354AB7BF090A1E00C265A6&CID=194DB831C10B6AED2B55B339C09C6B85&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=mars+(site%3anasa.gov)+(-site%3amars.nasa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5531.1", "totalEstimatedMatches": 310000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Mars planet facts news & images | NASA Mars rover ...", "url": "https:\/\/mars.jpl.nasa.gov\/",
        "urlPingSuffix": "DevEx,5087.1", "displayUrl": "https:\/\/mars.jpl.nasa.gov",
        "snippet": "Exploration of the Planet Mars - missions, videos, images and
        information", "deepLinks": [{"name": "Images", "url": "https:\/\/mars.jpl.nasa.gov\/multimedia\/images\/",
        "urlPingSuffix": "DevEx,5076.1"}, {"name": "Missions", "url": "https:\/\/mars.jpl.nasa.gov\/programmissions\/missions\/",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "All About Mars", "url": "https:\/\/mars.jpl.nasa.gov\/allaboutmars\/",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Mars Facts", "url": "https:\/\/mars.jpl.nasa.gov\/allaboutmars\/facts\/",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Extreme Planet", "url": "https:\/\/mars.jpl.nasa.gov\/allaboutmars\/extreme\/",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Overview", "url": "https:\/\/mars.jpl.nasa.gov\/programmissions\/overview\/",
        "urlPingSuffix": "DevEx,5081.1"}], "dateLastCrawled": "2017-09-19T22:47:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "What Is
        Mars? | NASA", "url": "https:\/\/www.nasa.gov\/audience\/forstudents\/k-4\/stories\/nasa-knows\/what-is-mars-k4.html",
        "urlPingSuffix": "DevEx,5106.1", "displayUrl": "https:\/\/www.nasa.gov\/...\/k-4\/stories\/nasa-knows\/what-is-mars-k4.html",
        "snippet": "Mars is also called the Red Planet. Mars is also called the Red
        Planet. ...", "dateLastCrawle[...]
