---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=mars%20(site:nasa.gov)%20(-site:mars.nasa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A5FB756B22A84B52B43531A3BDC87877
      X-Msedge-Clientid:
      - 3E10923F40436BF8157099E241D46AE9
      X-Msapi-Userstate:
      - '4226'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=929260648BCE4D13819FF1DBED4530B9&CID=3E10923F40436BF8157099E241D46AE9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=929260648BCE4D13819FF1DBED4530B9&CID=3E10923F40436BF8157099E241D46AE9&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=mars+(site%3anasa.gov)+(-site%3amars.nasa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5577.1", "totalEstimatedMatches": 2190000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Overview | Mars – Solar System Exploration: NASA Science", "url": "https:\/\/solarsystem.nasa.gov\/planets\/mars\/",
        "urlPingSuffix": "DevEx,5099.1", "about": [{"name": "Mars"}], "displayUrl":
        "https:\/\/solarsystem.nasa.gov\/planets\/mars", "snippet": "Mars may have
        once been a wet world like Earth. Where did the water go?", "deepLinks": [{"name":
        "In Depth", "url": "https:\/\/solarsystem.nasa.gov\/planets\/mars\/in-depth",
        "urlPingSuffix": "DevEx,5087.1"}, {"name": "10 Need-To-Know Things", "url":
        "https:\/\/solarsystem.nasa.gov\/planets\/mars\/needtoknow", "urlPingSuffix":
        "DevEx,5088.1"}, {"name": "Jupiter", "url": "https:\/\/solarsystem.nasa.gov\/planets\/jupiter",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "By The Numbers", "url": "https:\/\/solarsystem.nasa.gov\/planets\/mars\/by-the-numbers",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "Planets", "url": "https:\/\/solarsystem.nasa.gov\/planets\/overview",
        "urlPingSuffix": "DevEx,5091.1"}, {"name": "Moons", "url": "https:\/\/solarsystem.nasa.gov\/planets\/mars\/moons",
        "urlPingSuffix": "DevEx,5092.1"}], "dateLastCrawled": "2018-04-16T02:14:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Ep18:
        Mars | NASA", "url": "https:\/\/www.nasa.gov\/johnson\/HWHAP\/mars\/", "urlPingSuffix":
        "DevEx,5115.1", "displayUrl": "https:\/\/www.nasa.gov\/johnson\/HWHAP\/mars",
        "snippet": "Dr. Doug Archer, Planetary Scientist, talks about Mars: what its
        made of, what it''s like on the surface, and why it''s such an intriguing
        place for humans to visit i[...]
