---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mars%20(site:.gov)%20(-site:nasa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1D27AE8E9396406BA4B99E9B3A102FC1
      X-Msedge-Clientid:
      - 21D33EB1906D62771A32353791C26360
      X-Msapi-Userstate:
      - c37f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=69858816ACA744B59BAEE3F3620F99EF&CID=21D33EB1906D62771A32353791C26360&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=69858816ACA744B59BAEE3F3620F99EF&CID=21D33EB1906D62771A32353791C26360&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=mars+(site%3a.gov)+(-site%3anasa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5486.1", "totalEstimatedMatches": 2530000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "mars.archives.ncdcr.gov - Detect Screen Resolution", "url": "http:\/\/mars.archives.ncdcr.gov\/",
        "urlPingSuffix": "DevEx,5088.1", "displayUrl": "mars.archives.ncdcr.gov",
        "snippet": "mars.archives.ncdcr.gov - Detect Screen Resolution", "deepLinks":
        [{"name": "Choose Collections", "url": "http:\/\/mars.archives.ncdcr.gov\/ChooseClassGroupSeries.aspx",
        "urlPingSuffix": "DevEx,5082.1"}, {"name": "Restart", "url": "http:\/\/mars.archives.ncdcr.gov\/MarsSessionTimeOut.aspx",
        "urlPingSuffix": "DevEx,5083.1"}], "dateLastCrawled": "2018-01-17T15:13:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "MARS -
        Missouri", "url": "https:\/\/emsweb1.dhss.mo.gov\/mars\/default.cfm", "urlPingSuffix":
        "DevEx,5103.1", "displayUrl": "https:\/\/emsweb1.dhss.mo.gov\/mars\/default.cfm",
        "snippet": "Welcome to the Missouri Ambulance Reporting System (MARS). If
        you are new to the system, please click on About to learn more about the Missouri
        Ambulance Reporting ...", "dateLastCrawled": "2018-01-22T04:36:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "North
        Carolina State Archives MARS - Basic Search", "url": "http:\/\/mars.archives.ncdcr.gov\/BasicSearch.aspx",
        "urlPingSuffix": "DevEx,5117.1", "displayUrl": "mars.archives.ncdcr.gov\/BasicSearch.aspx",
        "snippet": "MARS Home: Help: Contact Us: Mobile Version: Basic Search Basic
        Search; Advanced Search; Search by Call Number . 16 Items per Page Sort by
        Hierarchy. Search ...", "dateLastCrawled": "2018-01-17T17:34:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "Mars Dataset
        | Science On a Sphere", "url": "https:\/\/sos.noaa.gov\/datasets\/mars\/",
        "urlPingSuffix": "DevEx,5130.1", "about": [{"name": "Mars"}, {"name": "Mars"}],
        "displayUrl": "https:\/\/sos.noaa.gov\/datasets\/mars", "snippet": "Description.
        Mars is aptly referred to as the red planet as its surface is red due to a
        high concentration of iron oxides in the soil. Often the center of science
        ...", "dateLastCrawled": "2018-01-11T15:00:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.4",
        "name": "MARS gene - Genetics Home Reference", "url": "https:\/\/ghr.nlm.[...]
