---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=mars%20(site:nasa.gov)%20(-site:mars.nasa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1356377C64124174B179A474A7875F89
      X-Msedge-Clientid:
      - 281293D1FE6A65591690984FFF8F644D
      X-Msapi-Userstate:
      - d296
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B9D2B29072074D6AA1BBD36C0AE3BB8D&CID=281293D1FE6A65591690984FFF8F644D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B9D2B29072074D6AA1BBD36C0AE3BB8D&CID=281293D1FE6A65591690984FFF8F644D&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=mars+(site%3anasa.gov)+(-site%3amars.nasa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5542.1", "totalEstimatedMatches": 1230000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Mars planet facts news & images | NASA Mars rover ...", "url": "https:\/\/mars.jpl.nasa.gov\/",
        "urlPingSuffix": "DevEx,5096.1", "displayUrl": "https:\/\/mars.jpl.nasa.gov",
        "snippet": "Exploration of the Planet Mars - missions, videos, images and
        information", "deepLinks": [{"name": "Images", "url": "https:\/\/mars.jpl.nasa.gov\/multimedia\/images\/",
        "urlPingSuffix": "DevEx,5085.1"}, {"name": "Missions", "url": "https:\/\/mars.jpl.nasa.gov\/programmissions\/missions\/",
        "urlPingSuffix": "DevEx,5086.1"}, {"name": "All About Mars", "url": "https:\/\/mars.jpl.nasa.gov\/allaboutmars\/",
        "urlPingSuffix": "DevEx,5087.1"}, {"name": "Mars Facts", "url": "https:\/\/mars.jpl.nasa.gov\/allaboutmars\/facts\/",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "Extreme Planet", "url": "https:\/\/mars.jpl.nasa.gov\/allaboutmars\/extreme\/",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Overview", "url": "https:\/\/mars.jpl.nasa.gov\/programmissions\/overview\/",
        "urlPingSuffix": "DevEx,5090.1"}], "dateLastCrawled": "2018-02-15T22:04:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "NSSDCA
        Photo Gallery: Mars - nssdc.gsfc.nasa.gov", "url": "https:\/\/nssdc.gsfc.nasa.gov\/photo_gallery\/photogallery-mars.html",
        "urlPingSuffix": "DevEx,5108.1", "displayUrl": "https:\/\/nssdc.gsfc.nasa.gov\/photo_gallery\/photogallery-mars.html",
        "snippet": "NSSDCA Photo Gallery: Mars - A collection of images of the planet
        Mars and its satellites", "date[...]
