---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=legal%20careers%20(site:justice.gov)%20(-site:justice.gov/legal-careers)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 88CE718EE4F042F5A613197A1A29AEBB
      X-Msedge-Clientid:
      - 1CE4383982F8641218AF326C836F65BA
      X-Msapi-Userstate:
      - '1688'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=10A34746351744F68029C5A4159F6E20&CID=1CE4383982F8641218AF326C836F65BA&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=10A34746351744F68029C5A4159F6E20&CID=1CE4383982F8641218AF326C836F65BA&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=legal+careers+(site%3ajustice.gov)+(-site%3ajustice.gov%2flegal-careers)",
        "webSearchUrlPingSuffix": "DevEx,5488.1", "totalEstimatedMatches": 312000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Legal Careers | Department of Justice", "url": "https:\/\/www.justice.gov\/legal-careers",
        "urlPingSuffix": "DevEx,5088.1", "displayUrl": "https:\/\/www.justice.gov\/legal-careers",
        "snippet": "The Department of Justice offers a broad range of opportunities
        for experienced attorneys to work on many significant and complex issues that
        face our nation.", "deepLinks": [{"name": "Experienced Attorneys", "url":
        "https:\/\/www.justice.gov\/legal-careers\/opportunities-experienced-attorneys",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Volunteer Legal Internships",
        "url": "https:\/\/www.justice.gov\/legal-careers\/volunteer-legal-internships",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Entry-Level Attorneys", "url":
        "https:\/\/www.justice.gov\/legal-careers\/entry-level-attorneys", "urlPingSuffix":
        "DevEx,5081.1"}], "dateLastCrawled": "2017-02-14T11:12:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "DOJ Legal Careers
        - US Department of Justice", "url": "https:\/\/www.justice.gov\/sites\/default\/files\/careers\/docs\/legal-careers-brochure.pdf",
        "urlPingSuffix": "DevEx,5099.1", "displayUrl": "https:\/\/www.justice.gov\/sites\/default\/files\/careers\/docs\/legal...",
        "snippet": "The Department’s legal careers website provides a comprehensive
        introduct[...]
