---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=legal%20careers%20(site:justice.gov)%20(-site:justice.gov/legal-careers)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B3527A87F76E481E96992AC5A988508B
      X-Msedge-Clientid:
      - 0A59F8CAC2496856340EF3CBC3DE697E
      X-Msapi-Userstate:
      - 31ec
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=EA1BCDF8F0324F18B78326DA72998FC2&CID=0A59F8CAC2496856340EF3CBC3DE697E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=EA1BCDF8F0324F18B78326DA72998FC2&CID=0A59F8CAC2496856340EF3CBC3DE697E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=legal+careers+(site%3ajustice.gov)+(-site%3ajustice.gov%2flegal-careers)",
        "webSearchUrlPingSuffix": "DevEx,5542.1", "totalEstimatedMatches": 573000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Legal Careers | Department of Justice", "url": "https:\/\/www.justice.gov\/legal-careers",
        "urlPingSuffix": "DevEx,5089.1", "displayUrl": "https:\/\/www.justice.gov\/legal-careers",
        "snippet": "The Department of Justice offers a broad range of opportunities
        for experienced attorneys to work on many significant and complex issues that
        face our nation.", "deepLinks": [{"name": "Experienced Attorneys", "url":
        "https:\/\/www.justice.gov\/legal-careers\/opportunities-experienced-attorneys",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Entry-Level Attorneys", "url":
        "https:\/\/www.justice.gov\/legal-careers\/entry-level-attorneys", "urlPingSuffix":
        "DevEx,5080.1"}, {"name": "Attorney Vacancies", "url": "https:\/\/www.justice.gov\/legal-careers\/vacancies",
        "urlPingSuffix": "DevEx,5081.1"}, {"name": "Why Justice", "url": "https:\/\/www.justice.gov\/legal-careers\/why-justice",
        "urlPingSuffix": "DevEx,5083.1"}], "dateLastCrawled": "2017-09-12T14:16:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Department
        of Justice Jobs | CAREERS | Department of Justice", "url": "https:\/\/www.justice.gov\/careers\/department-justice-jobs",
        "urlPingSuffix": "DevEx,5106.1", "displayUrl": "https:\/\/www.justice.gov\/careers\/department-justice-jobs",
        "snippet": "Title Location Application Deadline ; Legal Assistant (Office
        Automation) Saint Thomas, Virgin Islands [...]
