---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mars%20(site:nasa.gov)%20(-site:mars.nasa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0712EC43930D4FAFA9E1407A86A11E50
      X-Msedge-Clientid:
      - 0F877562EB456320203D7EE4EAEA626B
      X-Msapi-Userstate:
      - '4488'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=65A5F45B3F9646AE812023A0783B7A2B&CID=0F877562EB456320203D7EE4EAEA626B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=65A5F45B3F9646AE812023A0783B7A2B&CID=0F877562EB456320203D7EE4EAEA626B&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=mars+(site%3anasa.gov)+(-site%3amars.nasa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5527.1", "totalEstimatedMatches": 3440000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Mars planet facts news & images | NASA Mars rover ...", "url": "https:\/\/mars.jpl.nasa.gov\/",
        "urlPingSuffix": "DevEx,5095.1", "displayUrl": "https:\/\/mars.jpl.nasa.gov",
        "snippet": "Exploration of the Planet Mars - missions, videos, images and
        information", "deepLinks": [{"name": "Images", "url": "https:\/\/mars.jpl.nasa.gov\/multimedia\/images\/",
        "urlPingSuffix": "DevEx,5084.1"}, {"name": "Missions", "url": "https:\/\/mars.jpl.nasa.gov\/programmissions\/missions\/",
        "urlPingSuffix": "DevEx,5085.1"}, {"name": "All About Mars", "url": "https:\/\/mars.jpl.nasa.gov\/allaboutmars\/",
        "urlPingSuffix": "DevEx,5086.1"}, {"name": "Mars Facts", "url": "https:\/\/mars.jpl.nasa.gov\/allaboutmars\/facts\/",
        "urlPingSuffix": "DevEx,5087.1"}, {"name": "Extreme Planet", "url": "https:\/\/mars.jpl.nasa.gov\/allaboutmars\/extreme\/",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "Overview", "url": "https:\/\/mars.jpl.nasa.gov\/programmissions\/overview\/",
        "urlPingSuffix": "DevEx,5089.1"}], "dateLastCrawled": "2018-01-20T12:07:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Ep18:
        Mars | NASA", "url": "https:\/\/www.nasa.gov\/johnson\/HWHAP\/mars\/", "urlPingSuffix":
        "DevEx,5110.1", "displayUrl": "https:\/\/www.nasa.gov\/johnson\/HWHAP\/mars",
        "snippet": "Dr. Doug Archer, Planetary Scientist, talks about Mars: what its
        made of, what it''s like on the surface, and why it''s such an intriguing
        place for humans to visit i[...]
