---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mars%20(site:.gov)%20(-site:nasa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1A287D6DC4BE461D91563B3ADF807B98
      X-Msedge-Clientid:
      - 3C6D0454709E6A7517C60E6B71096BD3
      X-Msapi-Userstate:
      - 5dcb
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5F268F1FCA2C448C9F980BB11ECE3921&CID=3C6D0454709E6A7517C60E6B71096BD3&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5F268F1FCA2C448C9F980BB11ECE3921&CID=3C6D0454709E6A7517C60E6B71096BD3&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=mars+(site%3a.gov)+(-site%3anasa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5478.1", "totalEstimatedMatches": 439000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Mars planet facts news & images - NASA Mars rover", "url": "http:\/\/mars.nasa.gov\/",
        "urlPingSuffix": "DevEx,5086.1", "displayUrl": "mars.nasa.gov", "snippet":
        "Exploration of the Planet Mars - missions, videos, images and information
        ... Opportunity has reached Endeavour crater where it will spend time studying
        rocks never seen before.", "deepLinks": [{"name": "All About Mars", "url":
        "http:\/\/mars.nasa.gov\/allaboutmars\/", "urlPingSuffix": "DevEx,5076.1"},
        {"name": "Mars Facts", "url": "http:\/\/mars.nasa.gov\/allaboutmars\/facts\/",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "Mars Science Laboratory", "url":
        "http:\/\/mars.nasa.gov\/msl\/", "urlPingSuffix": "DevEx,5078.1"}, {"name":
        "Mars for Kids", "url": "http:\/\/mars.nasa.gov\/participate\/funzone\/",
        "urlPingSuffix": "DevEx,5079.1"}], "dateLastCrawled": "2017-03-05T21:12:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Mars Exploration
        | NASA", "url": "https:\/\/www.nasa.gov\/mission_pages\/mars\/main\/index.html",
        "urlPingSuffix": "DevEx,5101.1", "displayUrl": "https:\/\/www.nasa.gov\/mission_pages\/mars\/main",
        "snippet": "NASA.gov brings you the latest images, videos and news from America''s
        space agency. Get the latest updates on NASA missions, watch NASA TV live,
        and learn about our quest to reveal the unknown and benefit all humankind.",
        "dateLastCrawled": "2017-03-03T15:35:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "NASA''s Journey to Mars | NASA", "url": "https:\/\/www.nasa.gov\/topics\/journeytomars\/index.html",
        "urlPingSuffix": "DevEx,5120.1", "displayUrl": "https:\/\/www.nasa.gov\/topics\/journeytomars\/index.html",
        "snippet": "NASA.gov brings you the latest images, videos and news from America''s
        space agency. Get the latest updates on NASA missions, watch NASA TV live,
        and learn about our quest to reveal the unknown and benefit all humankind.",
        "dateLastCrawled": "2017-03-01T20:10:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3",
        "name": "Mars Facts | Mars Exploration Program", "url": "http:\/\/mars.nasa.gov\/allaboutmars\/facts\/",
        "urlPingSuffix": "DevEx,5134.1", "about": [{"name": "Mars"}], "displayUrl":
        "mars.nasa.gov\/allaboutmars\/facts", "snippet": "Mars in space, night sky
        & history. Overview Science Technology Missions People Mars Facts Mars: Extreme
        Planet Pop Culture Mars Mars in our Night Sky What''s New Newsroom Blogs Images
        Videos Mars 3D Images ...", "dateLastCrawled": "2017-03-02T14:12:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.4", "name": "Mars Explorers
        Wanted Posters | Ma[...]
