---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mars%20(site:nasa.gov)%20(-site:mars.nasa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5868C1902F0C49E9A1B5AC656D640ED7
      X-Msedge-Clientid:
      - 2BC44C5C02456D0F2189463E03D26CB9
      X-Msapi-Userstate:
      - 910c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=17FFAC5F4EE542E3A2B94EEFDE2A083B&CID=2BC44C5C02456D0F2189463E03D26CB9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=17FFAC5F4EE542E3A2B94EEFDE2A083B&CID=2BC44C5C02456D0F2189463E03D26CB9&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 12 Apr 2017 20:43:11 GMT
recorded_with: VCR 3.0.3
