---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=legal%20careers%20(site:justice.gov)%20(-site:justice.gov/legal-careers)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 592C76827EB343DE9A6EEE240926017B
      X-Msedge-Clientid:
      - 2A8A607E4539650B39B26AC144AE6426
      X-Msapi-Userstate:
      - 796d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=EC69DAB436F146C58E3018D311147A6A&CID=2A8A607E4539650B39B26AC144AE6426&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=EC69DAB436F146C58E3018D311147A6A&CID=2A8A607E4539650B39B26AC144AE6426&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=legal+careers+(site%3ajustice.gov)+(-site%3ajustice.gov%2flegal-careers)",
        "webSearchUrlPingSuffix": "DevEx,5486.1", "totalEstimatedMatches": 608000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Legal Careers | Department of Justice", "url": "https:\/\/www.justice.gov\/legal-careers",
        "urlPingSuffix": "DevEx,5088.1", "displayUrl": "https:\/\/www.justice.gov\/legal-careers",
        "snippet": "The Department of Justice offers a broad range of opportunities
        for experienced attorneys to work on many significant and complex issues that
        face our nation.", "deepLinks": [{"name": "Experienced Attorneys", "url":
        "https:\/\/www.justice.gov\/legal-careers\/opportunities-experienced-attorneys",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Volunteer Legal Internships",
        "url": "https:\/\/www.justice.gov\/legal-careers\/volunteer-legal-internships",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Entry-Level Attorneys", "url":
        "https:\/\/www.justice.gov\/legal-careers\/entry-level-attorneys", "urlPingSuffix":
        "DevEx,5080.1"}], "dateLastCrawled": "2017-06-13T11:30:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Careers | Department
        of Justice", "url": "https:\/\/www.justice.gov\/careers", "urlPingSuffix":
        "DevEx,5107.1", "displayUrl": "https:\/\/www.justice.gov\/careers", "snippet":
        "Vacancies for law students and attorneys can be found on DOJ''s Legal Careers
        site. USAJobs.gov allows you to search for openings by location or keyword.",
        "deepLinks": [{"na[...]
