---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=legal%20careers%20(site:justice.gov)%20(-site:justice.gov/legal-careers)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D48AD3878A5340FEA8E1E3B78492C896
      X-Msedge-Clientid:
      - 2B05D9E0232B61B136DFD26B22846036
      X-Msapi-Userstate:
      - 0c5e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=67F7B69F5CF64616A7F1C41BB38DFA6F&CID=2B05D9E0232B61B136DFD26B22846036&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=67F7B69F5CF64616A7F1C41BB38DFA6F&CID=2B05D9E0232B61B136DFD26B22846036&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=legal+careers+(site%3ajustice.gov)+(-site%3ajustice.gov%2flegal-careers)",
        "webSearchUrlPingSuffix": "DevEx,5539.1", "totalEstimatedMatches": 1920000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Legal Careers | Department of Justice", "url": "https:\/\/www.justice.gov\/legal-careers",
        "urlPingSuffix": "DevEx,5097.1", "about": [{"name": "United States Department
        of Justice"}, {"name": "United States Department of Justice"}], "displayUrl":
        "https:\/\/www.justice.gov\/legal-careers", "snippet": "The Department of
        Justice offers a broad range of opportunities for experienced attorneys to
        work on many significant and complex issues that face our nation.", "deepLinks":
        [{"name": "Experienced Attorneys", "url": "https:\/\/www.justice.gov\/legal-careers\/opportunities-experienced-attorneys",
        "urlPingSuffix": "DevEx,5087.1"}, {"name": "Entry-Level Attorneys", "url":
        "https:\/\/www.justice.gov\/legal-careers\/entry-level-attorneys", "urlPingSuffix":
        "DevEx,5088.1"}, {"name": "Attorney Vacancies", "url": "https:\/\/www.justice.gov\/legal-careers\/vacancies",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Why Justice", "url": "https:\/\/www.justice.gov\/legal-careers\/why-justice",
        "urlPingSuffix": "DevEx,5091.1"}], "dateLastCrawled": "2017-12-15T12:13:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Department
        of Justice Jobs | CAREERS | Department of Justice", "url": "https:\/\/www.justice.gov\/careers\/department-justice-jobs",
        "urlPingSuffix": "DevEx,5116.1", "displayUrl": "https:\/\/www.justice.gov\/careers\/department-justice-jobs",
        "snippet": "The vacancies below are announced by the Department of Justice
        and its components on ... Legal Careers;[...]
