---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=legal%20careers%20(site:justice.gov)%20(-site:justice.gov/legal-careers)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6E3C5D76E4504EC2BECF2A96499CF9E9
      X-Msedge-Clientid:
      - 051D34C3341B679402153E00358C664C
      X-Msapi-Userstate:
      - dfb9
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9B97275B3AE740DF905C0308EEF56D7C&CID=051D34C3341B679402153E00358C664C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9B97275B3AE740DF905C0308EEF56D7C&CID=051D34C3341B679402153E00358C664C&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=legal+careers+(site%3ajustice.gov)+(-site%3ajustice.gov%2flegal-careers)",
        "webSearchUrlPingSuffix": "DevEx,5508.1", "totalEstimatedMatches": 592000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Legal Careers | Department of Justice", "url": "https:\/\/www.justice.gov\/legal-careers",
        "urlPingSuffix": "DevEx,5086.1", "displayUrl": "https:\/\/www.justice.gov\/legal-careers",
        "snippet": "The Department of Justice offers a broad range of opportunities
        for experienced attorneys to work on many significant and complex issues that
        face our nation.", "deepLinks": [{"name": "Experienced Attorneys", "url":
        "https:\/\/www.justice.gov\/legal-careers\/opportunities-experienced-attorneys",
        "urlPingSuffix": "DevEx,5076.1"}, {"name": "Volunteer Legal Internships",
        "url": "https:\/\/www.justice.gov\/legal-careers\/volunteer-legal-internships",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "Entry-Level Attorneys", "url":
        "https:\/\/www.justice.gov\/legal-careers\/entry-level-attorneys", "urlPingSuffix":
        "DevEx,5078.1"}], "dateLastCrawled": "2017-06-13T11:30:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Attorney Vacancies
        - justice.gov", "url": "https:\/\/www.justice.gov\/feeds\/careers.xml?tid%5B319%5D=319",
        "urlPingSuffix": "DevEx,5097.1", "displayUrl": "https:\/\/www.justice.gov\/feeds\/careers.xml?tid[319]=319",
        "snippet": "https:\/\/www.justice.gov\/legal-careers\/job\/student-law-volunteer-summer
        USAO Eastern District of Kentucky<br \/> <br \/> Lexington, ...", "dateLastCrawled":
        "2017-07-18T09:56:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "Careers | Department of Justice", "url": "https:\/\/www.justice.gov\/careers",
        "urlPingSuffix": "DevEx,5115.1", "displayUrl": "https:\/\/www.justice.gov\/careers",
        "snippet": "Vacancies for law students and attorneys can be found on DOJ''s
        Legal Careers site. USAJobs.gov allows you to search for openings by lo[...]
