---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=mars%20(site:.gov)%20(-site:nasa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 59E8DC9BB4F84EA3987F5B4C274704A6
      X-Msedge-Clientid:
      - 23CB71B88AF66AF0367E7DE08BF96BC0
      X-Msapi-Userstate:
      - cbcf
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=CB324203E72F4613925108523AA1AD47&CID=23CB71B88AF66AF0367E7DE08BF96BC0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=CB324203E72F4613925108523AA1AD47&CID=23CB71B88AF66AF0367E7DE08BF96BC0&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=mars+(site%3a.gov)+(-site%3anasa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5389.1", "totalEstimatedMatches": 2030000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Missouri State Bridge", "url": "https:\/\/emsweb1.dhss.mo.gov\/mars\/default.cfm",
        "urlPingSuffix": "DevEx,5059.1", "displayUrl": "https:\/\/emsweb1.dhss.mo.gov\/mars\/default.cfm",
        "snippet": "Welcome to the Missouri Ambulance Reporting System (MARS).If you
        are new to the system, please click on About to learn more about the Missouri
        Ambulance Reporting System and the MARS system.", "dateLastCrawled": "2018-08-17T17:53:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "The Planet
        Mars - National Weather Service", "url": "https:\/\/www.weather.gov\/fsd\/mars",
        "urlPingSuffix": "DevEx,5075.1", "about": [{"name": "Mars"}], "displayUrl":
        "https:\/\/www.weather.gov\/fsd\/mars", "snippet": "Mars is the last planet
        of the inner four terrestrial planets in the solar system at an average distance
        of 141 million miles from our Sun. It revolves around the Sun every 687 days
        and rotates every 24.6 hours (nearly the same as Earth). Mars has two tiny
        satellites, named Deimos and Phobos (shown ...", "dateLastCrawled": "2018-08-18T14:07:00.0000000Z"},
        {"id": [...]
