---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mars%20(site:.gov)%20(-site:nasa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - ECEA912274374BF8BE052A00DC5C4EA9
      X-Msedge-Clientid:
      - 0BF18D44FD1A686B14DD8787FC8D6903
      X-Msapi-Userstate:
      - a4e5
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=7DF272A91DF743CA8E8D189C0DC3B373&CID=0BF18D44FD1A686B14DD8787FC8D6903&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=7DF272A91DF743CA8E8D189C0DC3B373&CID=0BF18D44FD1A686B14DD8787FC8D6903&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=mars+(site%3a.gov)+(-site%3anasa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5463.1", "totalEstimatedMatches": 1170000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "MARS - Missouri", "url": "https:\/\/emsweb1.dhss.mo.gov\/mars\/default.cfm",
        "urlPingSuffix": "DevEx,5079.1", "displayUrl": "https:\/\/emsweb1.dhss.mo.gov\/mars\/default.cfm",
        "snippet": "Welcome to the Missouri Ambulance Reporting System (MARS). If
        you are new to the system, please click on About to learn more about the Missouri
        Ambulance Reporting ...", "dateLastCrawled": "2017-07-12T11:29:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Mars Petcare
        US Announces Voluntary Recall of Limited ...", "url": "https:\/\/www.fda.gov\/Safety\/Recalls\/ucm524697.htm",
        "urlPingSuffix": "DevEx,5092.1", "displayUrl": "https:\/\/www.fda.gov\/Safety\/Recalls\/ucm524697.htm",
        "snippet": "Today, Mars Petcare US of Franklin, Tennessee, announced a voluntary
        recall of a limited number of CESAR Classics File[...]
