---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mars%20(site:.gov)%20(-site:nasa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 605E16E2E1BB40DCBA6C6BCD11AD9612
      X-Msedge-Clientid:
      - 2162DCF2F2DB6A9A21A5D7B5F34C6B4E
      X-Msapi-Userstate:
      - 871d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=0177E3C16B034A9DA232E40356CB1C04&CID=2162DCF2F2DB6A9A21A5D7B5F34C6B4E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=0177E3C16B034A9DA232E40356CB1C04&CID=2162DCF2F2DB6A9A21A5D7B5F34C6B4E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=mars+(site%3a.gov)+(-site%3anasa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5501.1", "totalEstimatedMatches": 1220000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "mars.archives.ncdcr.gov - Detect Screen Resolution", "url": "http:\/\/mars.archives.ncdcr.gov\/",
        "urlPingSuffix": "DevEx,5089.1", "displayUrl": "mars.archives.ncdcr.gov",
        "snippet": "mars.archives.ncdcr.gov - Detect Screen Resolution", "deepLinks":
        [{"name": "Choose Collections", "url": "http:\/\/mars.archives.ncdcr.gov\/ChooseClassGroupSeries.aspx",
        "urlPingSuffix": "DevEx,5083.1"}, {"name": "Restart", "url": "http:\/\/mars.archives.ncdcr.gov\/MarsSessionTimeOut.aspx",
        "urlPingSuffix": "DevEx,5084.1"}], "dateLastCrawled": "2017-11-20T02:05:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "MARS -
        Missouri", "url": "https:\/\/emsweb1.dhss.mo.gov\/mars\/default.cfm", "urlPingSuffix":
        "DevEx,5104.1", "displayUrl": "https:\/\/emsweb1.dhss.mo.gov\/mars\/default.cfm",
        "snippet": "Welcome to the Missouri Ambulance Reporting System (MARS). If
        you are new to the system, please click on About to learn more about the Missouri
        Ambulance Reporting ...", "dateLastCrawled": "2017-11-19T15:19:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "The Planet
        Mars - National Weather Service", "url": "http:\/\/www.weather.gov\/fsd\/mars",
        "urlPingSuffix": "DevEx,5121.1", "displayUrl": "www.weather.gov\/fsd\/mars",
        "snippet": "Mars is the last planet of the inner four terrestrial planets
        in the solar system at an average distance of 141 million miles from our Sun.
        It revolves around the Sun ...", "dateLastCrawled": "2017-11-16T13:36:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "Previous
        Evidence of Water on Mars Now Identified as ...", "url": "https:\/\/www.usgs.gov\/news\/previous-evidence-water-mars-now-identified-grainflows",
        "urlPingSuffix": "DevEx,5138.1", "thumbnailUrl": "https:\/\/www.bing.com\/th?id=ON.E7B0CB677DAD7BDD4C1FD8677B3B381A&pid=5.1&w=80&h=80&c=8",
        "displayUrl": "https:\/\/www.usgs.gov\/news\/previous-evidence-water-mars-now...",
        "snippet": "These new findings indicate that present-day Mars may not have
        a significant volume of liquid water. The water-restricted conditions that
        exist on Mars would make it ...", "dateLastCrawled": "2017-11-23T07:59:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#Web[...]
