---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=legal%20careers%20(site:justice.gov)%20(-site:justice.gov/legal-careers)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 73FE454C571347ABA5743963089752E5
      X-Msedge-Clientid:
      - 183164C26082636F08EF6F8561156293
      X-Msapi-Userstate:
      - '9994'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=4A506085C70E4E6D8043C337BA0DE6A8&CID=183164C26082636F08EF6F8561156293&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=4A506085C70E4E6D8043C337BA0DE6A8&CID=183164C26082636F08EF6F8561156293&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=legal+careers+(site%3ajustice.gov)+(-site%3ajustice.gov%2flegal-careers)",
        "webSearchUrlPingSuffix": "DevEx,5539.1", "totalEstimatedMatches": 1220000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Legal Careers | Department of Justice", "url": "https:\/\/www.justice.gov\/legal-careers",
        "urlPingSuffix": "DevEx,5100.1", "displayUrl": "https:\/\/www.justice.gov\/legal-careers",
        "snippet": "The Department of Justice offers a broad range of opportunities
        for experienced attorneys to work on many significant and complex issues that
        face our nation.", "deepLinks": [{"name": "Experienced Attorneys", "url":
        "https:\/\/www.justice.gov\/legal-careers\/opportunities-experienced-attorneys",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "Entry-Level Attorneys", "url":
        "https:\/\/www.justice.gov\/legal-careers\/entry-level-attorneys", "urlPingSuffix":
        "DevEx,5091.1"}, {"name": "Attorney Vacancies", "url": "https:\/\/www.justice.gov\/legal-careers\/vacancies",
        "urlPingSuffix": "DevEx,5092.1"}, {"name": "Why Justice", "url": "https:\/\/www.justice.gov\/legal-careers\/why-justice",
        "urlPingSuffix": "DevEx,5094.1"}], "dateLastCrawled": "2017-11-18T15:16:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Department
        of Justice Jobs | CAREERS | Department of Justice", "url": "https:\/\/www.justice.gov\/careers\/department-justice-jobs",
        "urlPingSuffix": "DevEx,5119.1", "displayUrl": "https:\/\/www.justice.gov\/careers\/department-justice-jobs",
        "snippet": "The vacancies below are announced by the Department of Justice
        and its components on ... Legal Careers;[...]
