---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=law%20(site:justice.gov)%20-site:justice.gov/archives&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4ED638B3DE034602AB66425B29EC9CD8
      X-Msedge-Clientid:
      - 10CABC2D71426581330EB61270D564A4
      X-Msapi-Userstate:
      - '9829'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=14127AD3455B47899DBD12DD3FE5BB10&CID=10CABC2D71426581330EB61270D564A4&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=14127AD3455B47899DBD12DD3FE5BB10&CID=10CABC2D71426581330EB61270D564A4&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 08 Mar 2017 22:27:51 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=law%20(site:justice.gov)%20(-site:justice.gov/archives)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - FC9D98297C4548DC84CD86E34C5E6D96
      X-Msedge-Clientid:
      - 1993F018B72B610C227DFA27B6BC6002
      X-Msapi-Userstate:
      - 3c92
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F87E9CB3E31C45759A2C7FA027091D63&CID=1993F018B72B610C227DFA27B6BC6002&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F87E9CB3E31C45759A2C7FA027091D63&CID=1993F018B72B610C227DFA27B6BC6002&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=law+(site%3ajustice.gov)+(-site%3ajustice.gov%2farchives)",
        "webSearchUrlPingSuffix": "DevEx,5446.1", "totalEstimatedMatches": 156000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "The Freedom of Information Act, 5 U.S.C. § 552 | OIP ...", "url": "https:\/\/www.justice.gov\/oip\/freedom-information-act-5-usc-552",
        "urlPingSuffix": "DevEx,5075.1", "displayUrl": "https:\/\/www.justice.gov\/oip\/freedom-information-act-5-usc-552",
        "snippet": "Full Text of the FOIA Improvement Act of 2016 (Public Law No.
        114-185) § 552. Public information; agency rules, opinions, orders, records,
        and proceedings", "dateLastCrawled": "2017-02-28T07:40:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "QUICK REFERENCE
        TO FEDERAL FIREARMS LAWS", "url": "https:\/\/www.justice.gov\/sites\/default\/files\/usao-ut\/legacy\/2013\/06\/03\/guncard.pdf",
        "urlPingSuffix": "DevEx,5086.1", "displayUrl": "https:\/\/www.justice.gov\/sites\/default\/files\/usao-ut\/legacy\/2013\/06\/...",
        "snippet": "QUICK REFERENCE TO FEDERAL FIREARMS LAWS I. POSSESSION OF A FIREARM
        O[...]
