---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=mars%20(site:nasa.gov)%20(-site:mars.nasa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 69D859CFF41B4B359C311E5080F2DE1F
      X-Msedge-Clientid:
      - 1D49AC73CBD76D190EE9A02BCAD86CCC
      X-Msapi-Userstate:
      - 27a9
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E1A2981278DB4B0DAA482B8B670820C8&CID=1D49AC73CBD76D190EE9A02BCAD86CCC&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E1A2981278DB4B0DAA482B8B670820C8&CID=1D49AC73CBD76D190EE9A02BCAD86CCC&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=mars+(site%3anasa.gov)+(-site%3amars.nasa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5422.1", "totalEstimatedMatches": 1890000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "NASA’s Mars Exploration Program", "url": "https:\/\/mars.jpl.nasa.gov\/",
        "urlPingSuffix": "DevEx,5057.1", "about": [{"name": "Mars"}, {"name": "Mars
        Exploration Program"}], "displayUrl": "https:\/\/mars.jpl.nasa.gov", "snippet":
        "NASA’s real-time portal for Mars exploration, featuring the latest news,
        images, and discoveries from the Red Planet.", "dateLastCrawled": "2018-08-20T08:34:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Mars Exploration
        | NASA", "url": "https:\/\/www.nasa.gov\/mission_pages\/mars\/main\/index.html",
        "urlPingSuffix": "DevEx,5069.1", "displayUrl": "https:\/\/www.nasa.gov\/mission_pages\/mars\/main\/index.html",
        "snippet": "NASA.gov brings you the latest images, videos and news from America''s
        space agency. Get the latest updates on NASA missions, watch NASA[...]
