---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=mars%20(site:.gov)%20(-site:nasa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 2A311E8919774C6F912C768CA6CE6D31
      X-Msedge-Clientid:
      - '09FBDE38156A66B506F4CE9C14976730'
      X-Msapi-Userstate:
      - d806
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=16CB2AE53E1D4823AF159D7B645E0C9A&CID=09FBDE38156A66B506F4CE9C14976730&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=16CB2AE53E1D4823AF159D7B645E0C9A&CID=09FBDE38156A66B506F4CE9C14976730&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=mars+(site%3a.gov)+(-site%3anasa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5408.1", "totalEstimatedMatches": 2890000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Mars - Science On a Sphere", "url": "https:\/\/sos.noaa.gov\/catalog\/datasets\/mars\/",
        "urlPingSuffix": "DevEx,5064.1", "displayUrl": "https:\/\/sos.noaa.gov\/catalog\/datasets\/mars",
        "snippet": "On Mars, Valles Marineris is almost 2500 miles long, approximately
        the width of the United States, and nearly 4 miles (6.5 km) deep. In addition
        to the surface of Mars dataset, there is a dataset that includes images of
        the rovers that landed on Mars and the pictures that they took.", "dateLastCrawled":
        "2021-08-19T02:52:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Mars Magnetic Map - Science On a Sphere", "url": "https:\/\/sos.noaa.gov\/catalog\/datasets\/mars-magnetic-map\/",
        "urlPingSuffix": "DevEx,5078.1", "displayUrl": "https:\/\/sos.noaa.gov\/catalog\/datasets\/mars-magnetic-map",
        "snippet": "On Mars, Valles Marineris is almost 2500 miles long, approximately
        the width of the United States, and nearly 4 miles (6[...]
