---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mars%20(site:nasa.gov)%20(-site:mars.nasa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 90C0B587D0AE456D893913E04EA887EB
      X-Msedge-Clientid:
      - 3731ACFA1D146D002F47A6C51C836C1C
      X-Msapi-Userstate:
      - 49ad
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=513A96DE2E134815AFF7437314CCE99E&CID=3731ACFA1D146D002F47A6C51C836C1C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=513A96DE2E134815AFF7437314CCE99E&CID=3731ACFA1D146D002F47A6C51C836C1C&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=mars+(site%3anasa.gov)+(-site%3amars.nasa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5481.1", "totalEstimatedMatches": 170000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Mars planet facts news & images - NASA Mars rover", "url": "http:\/\/mars.nasa.gov\/",
        "urlPingSuffix": "DevEx,5088.1", "displayUrl": "mars.nasa.gov", "snippet":
        "Exploration of the Planet Mars - missions, videos, images and information
        ... Opportunity has reached Endeavour crater where it will spend time studying
        rocks never seen before.", "deepLinks": [{"name": "All About Mars", "url":
        "http:\/\/mars.nasa.gov\/allaboutmars\/", "urlPingSuffix": "DevEx,5078.1"},
        {"name": "Mars Facts", "url": "http:\/\/mars.nasa.gov\/allaboutmars\/facts\/",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Mars Science Laboratory", "url":
        "http:\/\/mars.nasa.gov\/msl\/", "urlPingSuffix": "DevEx,5080.1"}, {"name":
        "Mars for Kids", "url": "http:\/\/mars.nasa.gov\/participate\/funzone\/",
        "urlPingSuffix": "DevEx,5081.1"}], "dateLastCrawled": "2017-03-05T21:12:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Mars Exploration
        | NASA", "url": "https:\/\/www.nasa.gov\/mission_pages\/mars\/main\/index.html",
        "urlPingSuffix": "DevEx,5103.1", "displayUrl": "https:\/\/www.nasa.gov\/mission_pages\/mars\/main",
        "snippet": "NASA.gov brings you the latest images, videos and news from America''s
        space agency. Get the latest updates on NASA missions, watch NASA TV live,
        and learn about our quest to reveal the unknown and ...", "dateLastCrawled":
        "2017-03-03T15:35:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "Mars Exploration Rover Mission: Home", "url": "http:\/\/mars.nasa.gov\/mer\/home\/",
        "urlPingSuffix": "DevEx,5118.1", "displayUrl": "mars.nasa.gov\/mer", "snippet":
        "Provides up to date information on NASA''s two Mars Exploration Rovers --
        Spirit and Opportunity -- as they investigate the Martian surface.", "dateLastCrawled":
        "2017-03-06T10:42:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3",
        "name": "Mars Facts | Mars Exploration Program", "url": "http:\/\/mars.nasa.gov\/allaboutmars\/facts\/",
        "urlPingSuffix": "DevEx,5132.1", "about": [{"name": "Mars"}], "displayUrl":
        "mars.nasa.gov\/allaboutmars\/facts", "snippet": "Mars planet facts and information.
        Compare Earth & Mars. Fun science images for kids, school, family & space
        fans. Mars in space, night sky & history. Overview Science Technology Missions
        People ...", "dateLastCrawled": "2017-03-06T19:41:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.4",
        "name": "NASA''s Journey to Mars | NASA", "url": "https:\/\/www[...]
