---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mars%20(site:nasa.gov)%20(-site:mars.nasa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B0B674CE1D7F4E1BABF59245565F2E56
      X-Msedge-Clientid:
      - 1D50AE3CA13963FA0610A4A5A0AE62DF
      X-Msapi-Userstate:
      - 8a5d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=28D3D97FF6BD4FAC8371FD6187663939&CID=1D50AE3CA13963FA0610A4A5A0AE62DF&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=28D3D97FF6BD4FAC8371FD6187663939&CID=1D50AE3CA13963FA0610A4A5A0AE62DF&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=mars+(site%3anasa.gov)+(-site%3amars.nasa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5478.1", "totalEstimatedMatches": 662000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Mars planet facts news & images | NASA Mars rover ...", "url": "https:\/\/mars.jpl.nasa.gov\/",
        "urlPingSuffix": "DevEx,5086.1", "displayUrl": "https:\/\/mars.jpl.nasa.gov",
        "snippet": "Exploration of the Planet Mars - missions, videos, images and
        information", "deepLinks": [{"name": "Images", "url": "https:\/\/mars.jpl.nasa.gov\/multimedia\/images\/",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "All About Mars", "url": "https:\/\/mars.jpl.nasa.gov\/allaboutmars\/",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Missions", "url": "https:\/\/mars.jpl.nasa.gov\/programmissions\/missions\/",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Mars Facts", "url": "https:\/\/mars.jpl.nasa.gov\/allaboutmars\/facts\/",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Extreme Planet", "url": "https:\/\/mars.jpl.nasa.gov\/allaboutmars\/extreme\/",
        "urlPingSuffix": "DevEx,5081.1"}], "dateLastCrawled": "2017-06-02T03:27:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Mars -
        In Depth | Planets - NASA Solar System Exploration", "url": "https:\/\/solarsystem.nasa.gov\/planets\/mars\/indepth#!",
        "urlPingSuffix": "DevEx,5099.1", "displayUrl": "https:\/\/solarsystem.nasa.gov\/planets\/mars\/indepth",
        "snippet": "Mars is a rocky body about half the size of Earth. As with the
        other terrestrial planets - Mercury, Venus, and Earth - volcanoes, impact
        craters, crustal movement ...", "dateLastCrawled": "2017-06-01T23:19:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Mars Exploration
        Rovers", "url": "https:\/\/marsrovers.jpl.nasa.gov\/", "urlPingSuffix": "DevEx,5110.1",
        "about": [{"name": "Mars Exploration Rover"}], "displayUrl": "https:\/\/marsrovers.jpl.nasa.gov",
        "snippet": "Space mission and science news, images and videos from NASA''s
        Jet Propulsion Laboratory, the leading center for robotic exploration of the
        solar system.", "dateLastCrawled": "2017-05-31T17:25:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "Mars - By the
        Numbers | Planets - NASA Solar System ...", "url": "https:\/\/solars[...]
