---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mars%20(site:nasa.gov)%20(-site:mars.nasa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 66FBD723B63C4AFA80FD7C7E1B58E7DD
      X-Msedge-Clientid:
      - 19E01047FBA16B00345F1BCCFA0E6A8A
      X-Msapi-Userstate:
      - 135e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E20176BBE2BE47B2B993AE1FBAB875FD&CID=19E01047FBA16B00345F1BCCFA0E6A8A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E20176BBE2BE47B2B993AE1FBAB875FD&CID=19E01047FBA16B00345F1BCCFA0E6A8A&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=mars+(site%3anasa.gov)+(-site%3amars.nasa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5523.1", "totalEstimatedMatches": 2990000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Mars planet facts news & images | NASA Mars rover ...", "url": "https:\/\/mars.jpl.nasa.gov\/",
        "urlPingSuffix": "DevEx,5095.1", "displayUrl": "https:\/\/mars.jpl.nasa.gov",
        "snippet": "Exploration of the Planet Mars - missions, videos, images and
        information", "deepLinks": [{"name": "Images", "url": "https:\/\/mars.jpl.nasa.gov\/multimedia\/images\/",
        "urlPingSuffix": "DevEx,5084.1"}, {"name": "Missions", "url": "https:\/\/mars.jpl.nasa.gov\/programmissions\/missions\/",
        "urlPingSuffix": "DevEx,5085.1"}, {"name": "All About Mars", "url": "https:\/\/mars.jpl.nasa.gov\/allaboutmars\/",
        "urlPingSuffix": "DevEx,5086.1"}, {"name": "Mars Facts", "url": "https:\/\/mars.jpl.nasa.gov\/allaboutmars\/facts\/",
        "urlPingSuffix": "DevEx,5087.1"}, {"name": "Extreme Planet", "url": "https:\/\/mars.jpl.nasa.gov\/allaboutmars\/extreme\/",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "Overview", "url": "https:\/\/mars.jpl.nasa.gov\/programmissions\/overview\/",
        "urlPingSuffix": "DevEx,5089.1"}], "dateLastCrawled": "2018-01-28T14:11:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "What Is
        Mars? | NASA", "url": "https:\/\/www.nasa.gov\/audience\/forstudents\/k-4\/stories\/nasa-knows\/what-is-mars-k4.html",
        "urlPingSuffix": "DevEx,5109.1", "displayUrl": "https:\/\/www.nasa.gov\/...\/k-4\/stories\/nasa-knows\/what-is-mars-k4.html",
        "snippet": "Mars is also called the Red Planet. Mars is also called the Red
        Planet. ...", "dateLastCrawle[...]
