---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mars%20(site:.gov)%20(-site:nasa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 58459E59D4D24235991C2865B656A79E
      X-Msedge-Clientid:
      - 297698CD461F6A1E383692AF47886B59
      X-Msapi-Userstate:
      - a8f7
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=3AA802CA269543E19BDC2C7E62DCED4C&CID=297698CD461F6A1E383692AF47886B59&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=3AA802CA269543E19BDC2C7E62DCED4C&CID=297698CD461F6A1E383692AF47886B59&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=mars+(site%3a.gov)+(-site%3anasa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5437.1", "totalEstimatedMatches": 459000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Mars Petcare US Announces Voluntary Recall of Limited ...", "url": "https:\/\/www.fda.gov\/Safety\/Recalls\/ucm524697.htm",
        "urlPingSuffix": "DevEx,5075.1", "displayUrl": "https:\/\/www.fda.gov\/Safety\/Recalls\/ucm524697.htm",
        "snippet": "Mars Petcare US Announces Voluntary Recall of Limited Number of
        CESAR® Classics Filet Mignon Flavor Wet Dog Food Because of Potential Presence
        of Plastic", "dateLastCrawled": "2017-04-04T12:41:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "The Planet Mars - National Weather Service", "url": "http:\/\/www.weather.gov\/fsd\/mars",
        "urlPingSuffix": "DevEx,5090.1", "displayUrl": "www.weather.gov\/fsd\/mars",
        "snippet": "Mars is the last planet of the inner four terrestrial planets
        in the solar system at an average distance of 141 million miles from our Sun.
        It revolves around the Sun ...", "date[...]
