---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=legal%20careers%20(site:justice.gov)%20(-site:justice.gov/legal-careers)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 34242485393148D1BAFAC377051EBBC3
      X-Msedge-Clientid:
      - 3836786B702C6DDC08B0743371236CBD
      X-Msapi-Userstate:
      - e47b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=2E6F311B06D74B7B9F37D7AA7C2E6387&CID=3836786B702C6DDC08B0743371236CBD&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=2E6F311B06D74B7B9F37D7AA7C2E6387&CID=3836786B702C6DDC08B0743371236CBD&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=legal+careers+(site%3ajustice.gov)+(-site%3ajustice.gov%2flegal-careers)",
        "webSearchUrlPingSuffix": "DevEx,5440.1", "totalEstimatedMatches": 1290000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Legal Careers | Department of Justice", "url": "https:\/\/www.justice.gov\/legal-careers",
        "urlPingSuffix": "DevEx,5060.1", "about": [{"name": "United States Department
        of Justice"}], "displayUrl": "https:\/\/www.justice.gov\/legal-careers", "snippet":
        "The Department of Justice offers a broad range of opportunities for experienced
        attorneys to work on many significant and complex issues that face our nation.",
        "dateLastCrawled": "2018-07-19T01:45:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Search Jobs | CAREERS | Department of Justice", "url": "https:\/\/www.justice.gov\/careers\/search-jobs",
        "urlPingSuffix": "DevEx,5074.1", "displayUrl": "https:\/\/www.justice.gov\/careers\/search-jobs",
        "snippet": "Legal Careers ; FBI; ATF; DEA; U.S. Marshals Service ; Bureau
        of Prisons; USAJobs Recent Jobs. Title Location Application Deadline ; Assistant
       [...]
