---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=mars%20(site:.gov)%20(-site:nasa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E4B03D5560EF4698ADA5E74B427F405A
      X-Msedge-Clientid:
      - 0A1494236C4469B828A09FBD6DA168B4
      X-Msapi-Userstate:
      - '0620'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9A20E84D632E46468E374FD1CDE47777&CID=0A1494236C4469B828A09FBD6DA168B4&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9A20E84D632E46468E374FD1CDE47777&CID=0A1494236C4469B828A09FBD6DA168B4&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=mars+(site%3a.gov)+(-site%3anasa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5492.1", "totalEstimatedMatches": 1130000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "MARS - Missouri", "url": "https:\/\/emsweb1.dhss.mo.gov\/mars\/default.cfm",
        "urlPingSuffix": "DevEx,5089.1", "displayUrl": "https:\/\/emsweb1.dhss.mo.gov\/mars\/default.cfm",
        "snippet": "Welcome to the Missouri Ambulance Reporting System (MARS). If
        you are new to the system, please click on About to learn more about the Missouri
        Ambulance Reporting ...", "dateLastCrawled": "2018-02-13T06:22:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "mars.archives.ncdcr.gov
        - Detect Screen Resolution", "url": "http:\/\/mars.archives.ncdcr.gov\/",
        "urlPingSuffix": "DevEx,5103.1", "displayUrl": "mars.archives.ncdcr.gov",
        "snippet": "mars.archives.ncdcr.gov - Detect Screen Resolution", "deepLinks":
        [{"name": "Choose Collections", "url": "http:\/\/mars.archives.ncdcr.gov\/ChooseClassGroupSeries.aspx",
        "urlPingSuffix": "DevEx,5098.1"}, {"name": "Restart", "url": "http:\/\/mars.archives.ncdcr.gov\/MarsSessionTimeOut.aspx",
        "urlPingSuffix": "DevEx,5099.1"}], "dateLastCrawled": "2018-02-16T03:35:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "The Planet
        Mars - National Weather Service", "url": "http:\/\/www.weather.gov\/fsd\/mars",
        "urlPingSuffix": "DevEx,5119.1", "about": [{"name": "Mars"}], "displayUrl":
        "www.weather.gov\/fsd\/mars", "snippet": "Mars is the last planet of the inner
        four terrestrial planets in the solar system at an average distance of 141
        million miles from our Sun. It revolves around the Sun ...", "dateLastCrawled":
        "2018-02-10T15:28:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3",
        "name": "Mars Dataset | Science On a Sphere", "url": "https:\/\/sos.noaa.gov\/datasets\/mars\/",
  [...]
