---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=park%20-site:mars.nasa.gov%20site:nps.gov%20OR%20site:nasa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/tJa-tsGRI-g0RBMBdpKUXv2wlVA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - park -site:mars.nasa.gov site:nps.gov OR site:nasa.gov",
            "totalResults": "388000",
            "searchTerms": "park -site:mars.nasa.gov site:nps.gov OR site:nasa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - park -site:mars.nasa.gov site:nps.gov OR site:nasa.gov",
            "totalResults": "388000",
            "searchTerms": "park -site:mars.nasa.gov site:nps.gov OR site:nasa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.369335,
          "formattedSearchTime": "0.37",
          "totalResults": "388000",
          "formattedTotalResults": "388,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "NASA Research Park | NASA",
           "htmlTitle": "NASA Research \u003cb\u003ePark\u003c/b\u003e | NASA",
           "link": "https://www.nasa.gov/researchpark",
           "displayLink": "www.nasa.gov",
           "snippet": "Nov 30, 2016 ... NASA Research Park (NRP) at NASA Ames Research Center in Silicon Valley is \na world-class shared-use R&D and education campus for ...",
           "htmlSnippet": "Nov 30, 2016 \u003cb\u003e...\u003c/b\u003e NASA Research \u003cb\u003ePark\u003c/b\u003e (NRP) at NASA Ames Research Center in Silicon Valley is \u003cbr\u003e\na world-class shared-use R&amp;D and education campus for&nbsp;...",
           "cacheId": "eLn0fVbZKssJ",
           "formattedUrl": "https://www.nasa.gov/researchpark",
           "htmlFormattedUrl": "https://www.nasa.gov/research\u003cb\u003epark\u003c/b\u003e",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "225",
              "height": "225",
              "src": "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTLrcxQ1bni05bX5uET7tvsY2dtfjLQfRyLF6XKMDwH8dKfEhSQgOSi6IQu"
             }
            ],
            "metatags": [
             {
              "twitter:url": "/researchpark",
              "dc.title": "NASA Research Park",
              "twitter:site:id": "11348282",
              "og:type": "article",
              "og:site_name": "NASA",
              "dc.creator": "Emily Chan",
              "twitter:site": "@NASA",
              "dc.date": "2016-01-12T12:35-05:00",
              "dc.format": "text/html",
              "dc.type": "Text",
              "dc.identifier": "/researchpark",
              "dc.language": "und",
              "twitter:description": "NASA brings you images, videos and features from the unique perspective of America's space agency. Get updates on missions, watch NASA TV, read blogs, view the latest discoveries, and more.",
              "twitter:image0": "http://www.nasa.gov/sites/default/files/images/astro.jpg",
              "twitter:card": "gallery",
              "og:image": "http://www.nasa.gov/sites/default/files/files/nasa_insignia_300.jpg",
              "og:description": "NASA.gov brings you the latest images, videos and news from America's space agency. Get the latest updates on NASA missions, watch NASA TV live, and learn about our quest to reveal the unknown and benefit all humankind.",
              "twitter:image1": "http://www.nasa.gov/sites/default/files/images/potw1335a_0.jpg",
              "twitter:title": "NASA Research Park",
              "twitter:image": "http://www.nasa.gov",
              "twitter:image2": "http://www.nasa.gov/sites/default/files/images/earth_1000.jpg",
              "og:url": "http://www.nasa.gov/researchpark",
              "og:title": "NASA Research Park",
              "twitter:image3": "http://www.nasa.gov/sites/default/files/images/Aeroplane.jpeg",
              "viewport": "width=device-width, initial-scale=1.0, maximum-scale=10.0",
              "nasa/config/environment": "%7B%22modulePrefix%22%3A%22nasa%22%2C%22environment%22%3A%22development%22%2C%22baseURL%22%3A%22/%22%2C%22locationType%22%3A%22none%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%7D%2C%22APP%22%3A%7B%22LOG_ACTIVE_GENERATION%22%3Atrue%2C%22LOG_VIEW_LOOKUPS%22%3Atrue%7D%2C%22contentSecurityPolicyHeader%22%3A%22Content-Security-Policy-Report-Only%22%2C%22contentSecurityPolicy%22%3A%7B%22default-src%22%3A%22%27none%27%22%2C%22script-src%22%3A%22%27self%27%20%27unsafe-eval%27%22%2C%22font-src%22%3A%22%27self%27%22%2C%22connect-src%22%3A%22%27self%27%22%2C%22img-src%22%3A%22%27self%27%22%2C%22style-src%22%3A%22%27self%27%22%2C%22media-src%22%3A%22%27self%27%22%7D%2C%22exportApplicationGlobal%22%3Atrue%7D"
             }
            ],
            "cse_image": [
             {
              "src": "http://www.nasa.gov/sites/default/files/files/nasa_insignia_300.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Kennedy Space Center NASA Exchange Council - KARS Park",
           "htmlTitle": "Kennedy Space Center NASA Exchange Council - KARS \u003cb\u003ePark\u003c/b\u003e",
           "link": "https://nasaexchange.ksc.nasa.gov/kars/",
           "displayLink": "nasaexchange.ksc.nasa.gov",
           "snippet": "Feb 28, 2017 ... Per NASA Policy Directive (NPD) 9050.6 (as revised), KARS Parks I & II were \nestablished as recreational facilities operated by the NASA ...",
           "htmlSnippet": "Feb 28, 2017 \u003cb\u003e...\u003c/b\u003e Per NASA Policy Directive (NPD) 9050.6 (as revised), KARS \u003cb\u003eParks\u003c/b\u003e I &amp; II were \u003cbr\u003e\nestablished as recreational facilities operated by the NASA&nbsp;...",
           "cacheId": "XeD-KwdC1NEJ",
           "formattedUrl": "https://nasaexchange.ksc.nasa.gov/kars/",
           "htmlFormattedUrl": "https://nasaexchange.ksc.nasa.gov/kars/",
           "pagemap": {
            "metatags": [
             {
              "dc.title": "Kennedy Space Center NASA Exchange Council - KARS Park",
              "dc.format": "text/html",
              "dc.language": "en",
              "dc.creator": "Sayre Sallee",
              "dc.publisher": "Sayre Sallee",
              "dc.contributor": "Roberto Perez",
              "dc.date": "6.10.2010",
              "dc.description": "Kennedy Space Center NASA Exchange Council - KARS Park",
              "dc.identifier": "Kennedy Space Center NASA Exchange Council - KARS Park",
              "dc.type": "feature",
              "dc.subject": "Kennedy Space Center NASA Exchange Council - KARS Park",
              "dc.subject.organization": "Kennedy Space Center (KSC)",
              "dc.audience": "Contractors, NASA Personnel",
              "dc.type.interactivitylevel": "Passive very low"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "National Parks from Space : Feature Articles",
           "htmlTitle": "National \u003cb\u003eParks\u003c/b\u003e from Space : Feature Articles",
           "link": "http://earthobservatory.nasa.gov/Features/NationalParks/",
           "displayLink": "earthobservatory.nasa.gov",
           "snippet": "The U.S. National Park Service celebrates its centennial in 2016, \ncommemorating 100 years of stewardship of America's natural and historic \ntreasures. Many of ...",
           "htmlSnippet": "The U.S. National \u003cb\u003ePark\u003c/b\u003e Service celebrates its centennial in 2016, \u003cbr\u003e\ncommemorating 100 years of stewardship of America&#39;s natural and historic \u003cbr\u003e\ntreasures. Many of&nbsp;...",
           "cacheId": "wXELk9wekCYJ",
           "formattedUrl": "earthobservatory.nasa.gov/Features/NationalParks/",
           "htmlFormattedUrl": "earthobservatory.nasa.gov/Features/National\u003cb\u003eParks\u003c/b\u003e/",
           "pagemap": {
            "thumbnail": [
             {
              "src": "http://eoimages.gsfc.nasa.gov/images/featureteasers/88000/88160/national_parks_tn.jpg"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1, maximum-scale=1",
              "title": "National Parks from Space : Feature Articles",
              "orgcode": "610",
              "rno": "Charles.M.Ichoku.1",
              "content-owner": "Paul.D.Przyborski.1",
              "webmaster": "Paul.D.Przyborski.1",
              "dc.identifier": "http://earthobservatory.nasa.gov",
              "dc.title": "National Parks from Space : Feature Articles",
              "dc.description": "The U.S. National Park Service celebrates its centennial in 2016, commemorating 100 years of stewardship of America’s natural and historic treasures. Many of those monuments, scenic rivers, parks, and historic sites are visible from space—where the views are just as compelling.",
              "dc.date": "2016-08-22",
              "dc.date.x-metadatalastmodified": "2016-08-25",
              "dc.publisher": "NASA Earth Observatory",
              "dc.publisher.address": "http://earthobservatory.nasa.gov/Contact/",
              "dc.language": "en",
              "dc.type": "Text.Article",
              "dc.format": "text/html",
              "dc.subject": "national parks, trees, NASA, Yellowstone, Appalachian, Rogers, Delaware Water Gap, Shenandoah, Great Smoky Mountains",
              "dc.creator": "Carlowitcz, Michael",
              "thumbnail": "http://eoimages.gsfc.nasa.gov/images/featureteasers/88000/88160/national_parks_tn.jpg"
             }
         [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=park%20(site:nasa.gov)%20-site:mars.nasa.gov&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4729E555C78149528C15EC372300DBBD
      X-Msedge-Clientid:
      - 17369444231C6D2300BF9E7B228B6C55
      X-Msapi-Userstate:
      - 91a0
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=098C9BE5504C49A1B446526F2BFA7B0E&CID=17369444231C6D2300BF9E7B228B6C55&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=098C9BE5504C49A1B446526F2BFA7B0E&CID=17369444231C6D2300BF9E7B228B6C55&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 08 Mar 2017 20:59:46 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=park%20(site:nasa.gov)%20(-site:mars.nasa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 613C9D40055543E89F8E1B595EE58CD0
      X-Msedge-Clientid:
      - 1E1F2B3EA9646E6525D82101A8F36F0F
      X-Msapi-Userstate:
      - bf24
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B40DBAF5338945AF86B20895B5D70E4F&CID=1E1F2B3EA9646E6525D82101A8F36F0F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B40DBAF5338945AF86B20895B5D70E4F&CID=1E1F2B3EA9646E6525D82101A8F36F0F&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=park+(site%3anasa.gov)+(-site%3amars.nasa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5466.1", "totalEstimatedMatches": 19800,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "NASA - Official Site", "url": "https:\/\/www.nasa.gov\/", "urlPingSuffix":
        "DevEx,5091.1", "about": [{"name": "NASA Headquarters"}, {"name": "NASA"}],
        "displayUrl": "https:\/\/www.nasa.gov", "snippet": "NASA.gov brings you the
        latest news, images and videos from America''s space agency, pioneering the
        future in space exploration, scientific discovery and aeronautics ...", "deepLinks":
        [{"name": "Solar System", "url": "https:\/\/www.nasa.gov\/topics\/solarsystem\/index.html",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "View Image Gallery", "url": "https:\/\/www.nasa.gov\/multimedia\/imagegallery\/iotd.html",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Spot The Station", "url": "http:\/\/spotthestation.nasa.gov\/",
        "urlPingSuffix": "DevEx,5081.1"}, {"name": "Space Station", "url": "https:\/\/www.nasa.gov\/mission_pages\/station\/main\/index.html",
        "urlPingSuffix": "DevEx,5082.1"}, {"name": "NASA TV", "url": "https:\/\/www.nasa.gov\/multimedia\/nasatv",
        "urlPingSuffix": "DevEx,5084.1"}], "dateLastCrawled": "2017-03-05T07:35:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Mars planet
        facts news & images | NASA Mars rover ...", "url": "http:\/\/mars.nasa.gov\/",
        "urlPingSuffix": "DevEx,5111.1", "displayUrl": "mars.nasa.gov", "snippet":
        "Exploration of the Planet Mars - missions, videos, images and information.
        Overview Science Technology Missions People Mars Facts Mars: Extreme Planet
        Pop Culture Mars", "deepLinks": [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mars%20(site:nasa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      B[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mars%20(site:nasa.gov)%20(-site:mars.nasa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/jso[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mars%20(site:nasa.gov)%20(-site:excluded.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=law%20(site:justice.gov)%20(-site:justice.gov/archives)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - applic[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=law%20(site:justice.gov)%20-site:justice.gov/archives&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 31008B3ECB2D471E8D7FD4FA22D6C220
      X-Msedge-Clientid:
      - 0DEC14F20FCE6F94315B1ECD0E596E20
      X-Msapi-Userstate:
      - 62e0
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E8F46DCF49B4474389CCED1DD3756115&CID=0DEC14F20FCE6F94315B1ECD0E596E20&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E8F46DCF49B4474389CCED1DD3756115&CID=0DEC14F20FCE6F94315B1ECD0E596E20&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 08 Mar 2017 22:09:56 GMT
recorded_with: VCR 3.0.3
