---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=legal%20careers%20(site:justice.gov)%20(-site:justice.gov/legal-careers)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6F68EA2AA4E2416CB761FDD9A8EDB15E
      X-Msedge-Clientid:
      - 2491D06F244160F42E2DDAF625D6615B
      X-Msapi-Userstate:
      - f18e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9F414AA9656C46D7B3AB8E307FB1B9FF&CID=2491D06F244160F42E2DDAF625D6615B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9F414AA9656C46D7B3AB8E307FB1B9FF&CID=2491D06F244160F42E2DDAF625D6615B&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=legal+careers+(site%3ajustice.gov)+(-site%3ajustice.gov%2flegal-careers)",
        "webSearchUrlPingSuffix": "DevEx,5496.1", "totalEstimatedMatches": 463000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Legal Careers | Department of Justice", "url": "https:\/\/www.justice.gov\/legal-careers",
        "urlPingSuffix": "DevEx,5086.1", "displayUrl": "https:\/\/www.justice.gov\/legal-careers",
        "snippet": "The Department of Justice offers a broad range of opportunities
        for experienced attorneys to work on many significant and complex issues that
        face our nation.", "deepLinks": [{"name": "Experienced Attorneys", "url":
        "https:\/\/www.justice.gov\/legal-careers\/opportunities-experienced-attorneys",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "Volunteer Legal Internships",
        "url": "https:\/\/www.justice.gov\/legal-careers\/volunteer-legal-internships",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Entry-Level Attorneys", "url":
        "https:\/\/www.justice.gov\/legal-careers\/entry-level-attorneys", "urlPingSuffix":
        "DevEx,5079.1"}], "dateLastCrawled": "2017-04-17T17:17:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "DOJ Legal Careers
        - Guide to the Department of Justice for ...", "url": "https:\/\/www.justice.gov\/sites\/default\/files\/careers\/docs\/legal-careers-brochure.pdf",
        "urlPingSuffix": "DevEx,5097.1", "displayUrl": "https:\/\/www.justice.gov\/sites\/default\/files\/careers\/docs\/legal...",
        "snippet": "The Department’s legal careers website provides a comprehensive
        introduction to Justice’s law student and attorney hiring programs. See .
        www.justice.gov ...", "dateLastCrawled": "2017-05-18T10:30:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "USDOJ:
        Legal Careers - origin-www.justice.gov", "url": "https:\/\/origin-www.justice.gov\/careers\/legal\/",
        "urlPingSuffix": "DevEx,5110.1", "displayUrl": "https:\/\/origin-www.justice.gov\/careers\/legal",
        "snippet": "This site provides information on employment opportunities for
        experienced attorneys, paid and unpaid internships for law students, and the
        Honors Program for entry ...", "dateLastCrawled": "2017-05-20T20:00:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "USDOJ:
        Careers: Legal Careers at Justice: Meet Frances", "url": "https:\/\/origin-www.justice.gov\/careers\/legal\/frances.html",
        "urlPingSuffix": "DevEx,5125.1", "displayUrl": "https:\/\/origin-www.justice.gov\/careers\/legal\/frances.html",
        "snippet": "Legal Careers Contact. Office of Attorney Recruitment & Management.
        By Phone: 202-514-3397. TDD 202-616-2113. By Email: AskOARM@usdoj.gov. Meet
        Frances.", "dateLastCrawled": "2017-05-22T09:27:00.0000000Z"}, {"id": "https:\/\/www[...]
