---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mars%20(site:.gov)%20(-site:nasa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - DAD2B241B05F492391335BB1082227C5
      X-Msedge-Clientid:
      - 07F03BFBF8E9605B16DB30FAF97E61F1
      X-Msapi-Userstate:
      - 222b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5A0EC7B4D0B54E4292C7701CEB8CB2DD&CID=07F03BFBF8E9605B16DB30FAF97E61F1&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5A0EC7B4D0B54E4292C7701CEB8CB2DD&CID=07F03BFBF8E9605B16DB30FAF97E61F1&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=mars+(site%3a.gov)+(-site%3anasa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5475.1", "totalEstimatedMatches": 3790000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "MARS - Missouri", "url": "https:\/\/emsweb1.dhss.mo.gov\/mars\/default.cfm",
        "urlPingSuffix": "DevEx,5080.1", "displayUrl": "https:\/\/emsweb1.dhss.mo.gov\/mars\/default.cfm",
        "snippet": "Welcome to the Missouri Ambulance Reporting System (MARS). If
        you are new to the system, please click on About to learn more about the Missouri
        Ambulance Reporting ...", "dateLastCrawled": "2017-09-10T06:51:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "MARS gene
        - Genetics Home Reference", "url": "https:\/\/ghr.nlm.nih.gov\/gene\/MARS",
        "urlPingSuffix": "DevEx,5099.1", "displayUrl": "https:\/\/ghr.nlm.nih.gov\/gene\/MARS",
        "snippet": "This gene encodes a member of the class I family of aminoacyl-tRNA
        synthetases. These enzymes play a critical role in protein biosynthesis by
        charging ...", "dateLa[...]
