---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mars%20(site:.gov)%20(-site:nasa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 36FAEF44A8104932888A8F78F0815B2A
      X-Msedge-Clientid:
      - 0DAA14183D6764401ACD1F933CC865B0
      X-Msapi-Userstate:
      - 2a32
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=7EA7B6AAAA524BF29B15D07F1E11BC31&CID=0DAA14183D6764401ACD1F933CC865B0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=7EA7B6AAAA524BF29B15D07F1E11BC31&CID=0DAA14183D6764401ACD1F933CC865B0&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=mars+(site%3a.gov)+(-site%3anasa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5488.1", "totalEstimatedMatches": 2510000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "MARS - Missouri", "url": "https:\/\/emsweb1.dhss.mo.gov\/mars\/default.cfm",
        "urlPingSuffix": "DevEx,5089.1", "displayUrl": "https:\/\/emsweb1.dhss.mo.gov\/mars\/default.cfm",
        "snippet": "Welcome to the Missouri Ambulance Reporting System (MARS). If
        you are new to the system, please click on About to learn more about the Missouri
        Ambulance Reporting ...", "dateLastCrawled": "2018-01-27T11:01:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "mars.archives.ncdcr.gov
        - Detect Screen Resolution", "url": "http:\/\/mars.archives.ncdcr.gov\/",
        "urlPingSuffix": "DevEx,5103.1", "displayUrl": "mars.archives.ncdcr.gov",
        "snippet": "mars.archives.ncdcr.gov - Detect Screen Resolution", "deepLinks":
        [{"name": "Choose Collections", "url": "http:\/\/mars.archives.ncdcr.gov\/ChooseClassGroupSeries.aspx",
        "urlPingSuffix": "DevEx,5098.1"}, {"name": "Restart", "url": "http:\/\/mars.archives.ncdcr.gov\/MarsSessionTimeOut.aspx",
        "urlPingSuffix": "DevEx,5099.1"}], "dateLastCrawled": "2018-01-24T13:31:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Mars Dataset
        | Science On a Sphere", "url": "https:\/\/sos.noaa.gov\/datasets\/mars\/",
        "urlPingSuffix": "DevEx,5116.1", "about": [{"name": "Mars"}, {"name": "Mars"}],
        "displayUrl": "https:\/\/sos.noaa.gov\/datasets\/mars", "snippet": "Description.
        Mars is aptly referred to as the red planet as its surface is red due to a
        high concentration of iron oxides in the soil. Often the center of science
        ...", "dateLastCrawled": "2018-01-11T15:00:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3",
        "name": "USDA Launches MARS, Delivering Market Data to Agricultural ...",[...]
