---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=mars%20(site:nasa.gov)%20(-site:mars.nasa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - A96DEE64EAF24C8891DAEF42630AC413
      X-Msedge-Clientid:
      - 182CB5189B516ABF124FA5BC9AAC6BF9
      X-Msapi-Userstate:
      - b6d3
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B4010C0BE8C74BBBBDED965CC0D004BD&CID=182CB5189B516ABF124FA5BC9AAC6BF9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B4010C0BE8C74BBBBDED965CC0D004BD&CID=182CB5189B516ABF124FA5BC9AAC6BF9&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=mars+(site%3anasa.gov)+(-site%3amars.nasa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5417.1", "totalEstimatedMatches": 2330000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Overview | Mars – NASA Solar System Exploration", "url": "https:\/\/solarsystem.nasa.gov\/planets\/mars\/overview\/",
        "urlPingSuffix": "DevEx,5064.1", "displayUrl": "https:\/\/solarsystem.nasa.gov\/planets\/mars\/overview",
        "snippet": "Mars is the fourth planet from the Sun – a dusty, cold, desert
        world with a very thin atmosphere. Mars is also a dynamic planet with seasons,
        polar ice caps, canyons, extinct volcanoes, and evidence that it was even
        more active in the past.", "dateLastCrawled": "2021-08-27T21:20:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "What Is
        Mars? | NASA", "url": "https:\/\/www.nasa.gov\/audience\/forstudents\/5-8\/features\/nasa-knows\/what-is-mars-58.html",
        "urlPingSuffix": "DevEx,5078.1", "displayUrl": "https:\/\/www.nasa.gov\/audience\/forstudents\/5-8\/features\/nasa-knows\/what-is-mars-58.html",
        "snippet": "Mars is the fourth planet from the Sun and the next planet beyond
        Earth. [...]
