.usa-input{
  max-width: none;
}

.vertical-wrapper{
  border-bottom: 1px solid #DEDEDE;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.vertical-wrapper .vertical-button {
  border-bottom: 4px solid #fff;
  color: #3D4551;
  cursor: pointer;
  font-weight: normal;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem 0 1rem 0;
  text-decoration: none;
}

.vertical-wrapper .vertical-button-rel-sites{
  margin-left: auto;
}

.vertical-wrapper .vertical-button:focus {
  border-bottom: 4px solid #005ea2;
  color: #005EA2;
  outline: 0.25rem solid #2491ff;
  outline-offset: 0;
}

.vertical-wrapper .vertical-button:hover {
  border-bottom: 4px solid #005ea2;
  color: #005EA2;
}
