---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=white%20house&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - AAA61E61EBF146749EA7C07E95F7D0C6
      Bingapis-Sessionid:
      - 7AB0743AFDAE4DD8B42E6F99BE4DA520
      X-Msedge-Clientid:
      - '09A9F0D237456E960F9CFC8E36296F93'
      X-Msapi-Userstate:
      - 826e
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=226,MSDatacenter=BN2
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "white
        house"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=white+house",
        "totalEstimatedMatches": 268000000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "The White House", "url": "https:\/\/www.whitehouse.gov\/", "about":
        [{"name": "The White House"}, {"name": "whitehouse.gov"}, {"name": "White
        House"}], "isFamilyFriendly": true, "displayUrl": "https:\/\/www.whitehouse.gov",
        "snippet": "History of The White House. Our first president, George Washington,
        selected the site for the White House in 1791. Every president since John
        Adams has occupied the White House, and the history of this building extends
        far beyond the construction of its walls.", "dateLastCrawled": "2018-08-24T00:53:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "White House - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/White_House",
        "about": [{"name": "White House"}, {"name": "White House"}], "isFamilyFriendly":
        true, "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/White_House", "snippet":
        "The White House is the official residence and workplace of the President
        of the United States.It is located at 1600 Pennsylvania Avenue NW in Washington,
        D.C. and has been the residence of every U.S. President since John Adams in
        1800.", "snippetAttribution": {"license": {"name": "CC-BY-SA", "url": "http:\/\/creativecommons.org\/licenses\/by-sa\/3.0\/"},
        "licenseNotice": "Text under CC-BY-SA license"}, "dateLastCrawled": "2018-08-19T15:03:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.2",
        "name": "TRUMP® WHITE HOUSE | WHITEHOUSE.ORG", "url": "https:\/\/whitehouse.org\/",
        "about": [{"name": "WHITEHOUSE.ORG"}, {"name": "whitehouse.org"}], "isFamilyFriendly":
        true, "displayUrl": "https:\/\/whitehouse.org", "snippet": "100% OFFICIOUS
        website of[...]
