---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=%2765d86996b6eceb05d2272aea9cadd10d%27&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 3C60948548BB4BC0BDBBF7F8B367A75C
      Bingapis-Sessionid:
      - 06B0DE6A7FDA4805AF2B354908FB475C
      X-Msedge-Clientid:
      - 256F435497F76326199853F0964062C4
      X-Msapi-Userstate:
      - 458a
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=259,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "''65d86996b6eceb05d2272aea9cadd10d''"},
        "rankingResponse": {}}'
  recorded_at: Tue, 31 Aug 2021 20:32:43 GMT
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=%2765d86996b6eceb05d2272aea9cadd10d%27&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - FE39193A590D4E489BB0E7B93BBFC3ED
      Bingapis-Sessionid:
      - 4C551EDD14B9432E8D012D964A2F8D7B
      X-Msedge-Clientid:
      - 0C89894BE92467FC0B4B9983E8C2669E
      X-Msapi-Userstate:
      - 1c44
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=141,MSDatacenter=CH1B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "''65d86996b6eceb05d2272aea9cadd10d''"},
        "rankingResponse": {}}'
  recorded_at: Wed, 06 Oct 2021 04:38:54 GMT
recorded_with: VCR 6.0.0
