---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=english&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A79794DA6ED5497FAABD32688D76428E
      Bingapis-Sessionid:
      - 47182B12BECF4B21B920E79C53BAB54D
      X-Msedge-Clientid:
      - 0566A82A8D8E6BD21AE8A4768C816A69
      X-Msapi-Userstate:
      - 563f
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=229,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "english"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english", "totalEstimatedMatches":
        68400000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "English language - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/English_language",
        "about": [{"name": "English"}], "isFamilyFriendly": true, "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/English_language",
        "snippet": "English is an Indo-European language and belongs to the West Germanic
        group of the Germanic languages. Old English originated from a Germanic tribal
        and linguistic continuum along the coast of the North Sea, whose languages
        are now known as the Anglo-Frisian subgroup within West Germanic.", "snippetAttribution":
        {"license": {"name": "CC-BY-SA", "url": "http:\/\/creativecommons.org\/licenses\/by-sa\/3.0\/"},
        "licenseNotice": "Text under CC-BY-SA license"}, "dateLastCrawled": "2018-08-20T11:43:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "English | Define English at Dictionary.com", "url": "https:\/\/www.dictionary.com\/browse\/english",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.dictionary.com\/browse\/english",
        "snippet": "English definition, of, relating to, or characteristic of England
        or its inhabitants, institutions, etc. See more.", "dateLastCrawled": "2018-08-21T14:10:00.0000000Z",
        "l[...]
