---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=10&mkt=en-US&offset=11&q=anything&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - E33829952BE54228B82B6B6272C2774B
      Bingapis-Sessionid:
      - 81A0D878E53C406998E7DC9FABA622ED
      X-Msedge-Clientid:
      - 216D20961D8D6F32205E30321C3D6E1B
      X-Msapi-Userstate:
      - 5eb9
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=236,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "anything"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=anything",
        "totalEstimatedMatches": 56400000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Anything - Rotten Tomatoes", "url": "https:\/\/www.rottentomatoes.com\/m\/anything",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.rottentomatoes.com\/m\/anything",
        "snippet": "Anything is one more casualty in Hollywood''s long history of
        ransacking transgender stories, which it does under the guise of paying homage
        without paying coins to those it claims to represent", "dateLastCrawled":
        "2021-08-28T17:49:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "What is another word for anything? | Anything Synonyms ...", "url": "https:\/\/www.wordhippo.com\/what-is\/another-word-for\/anything.html",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.wordhippo.com\/what-is\/another-word-for\/anything.html",
        "snippet": "Synonyms for anything include whatever, whatsoever, all, anything
        at all, aught, anything whatsoever, any [...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=10&mkt=en-US&offset=11&q=anything&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - C5BD37CDA2F24209B0E63A4B074A1516
      Bingapis-Sessionid:
      - 6E7B1C9069A94DB8A37C396340281DBB
      X-Msedge-Clientid:
      - 1EB259B2C1C4636719B7497AC039626A
      X-Msapi-Userstate:
      - a239
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=217[...]
