---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=tradiksyon&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 59EC82C752D64E2B880C2DE97A3F106A
      Bingapis-Sessionid:
      - 586A05BA97C7429CBD6B551D86ED0368
      X-Msedge-Clientid:
      - 20385486594461681F9158DA584B6091
      X-Msapi-Userstate:
      - 35c1
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=187,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "tradiksyon"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=tradiksyon",
        "totalEstimatedMatches": 140000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Google Translate", "url": "https:\/\/translate.google.com\/?hl=ht",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/translate.google.com\/?hl=ht",
        "snippet": "Tradui Fèmen tradiksyon enstantane a. Kreyòl Ayisyen. Angl ...",
        "dateLastCrawled": "2018-08-21T20:13:00.0000000Z", "language": "ht", "isNavigational":
        false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Google Traduction", "url": "https:\/\/translate.google.com\/?hl=fr",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/translate.google.com\/?hl=fr",
        "snippet": "Ce service gratuit de Google traduit instantanément des mots,
        des expressions et des pages Web du français vers plus de 100 autres langues.",
        "dateLastCrawled": "2018-08-21T05:45:00.0000000Z", "languag[...]
