---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=sailing%20dingies&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 8C0622A0133348B38B671050A6BC65FF
      Bingapis-Sessionid:
      - 613C52362B0A4927BA4E841509B8A382
      X-Msedge-Clientid:
      - 17ADC6E6295D6DE62024D64228836C7B
      X-Msapi-Userstate:
      - '5677'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=305,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "sailing
        dingies", "alteredQuery": "sailing dinghies", "alterationDisplayQuery": "sailing
        dinghies", "alterationOverrideQuery": "+sailing dingies", "adultIntent": false},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sailing+dingies",
        "totalEstimatedMatches": 3230000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "25 Best Beginner Sailing Dinghies - boats.com", "url": "https:\/\/www.boats.com\/boat-buyers-guide\/best-beginner-sailing-dinghies\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.boats.com\/boat-buyers-guide\/best-beginner-sailing-dinghies",
        "snippet": "Sailing schools, clubs and training centers use a variety of boats
        with beginners, including singlehanders such as the Pico, Hartley 10 and the
        RS Quba, the latter having three rigs catering from entry level to more experienced
        sailors. There’s also a range of larger training dinghies from builders such
        as RS, Topper, Laser and Hartley Boats.", "dateLastCrawled": "2021-08-28T05:13:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "The Best Sailing Dinghies for Beginners", "url": "https:\/\/www.deepsailing.com\/blog\/sailing-dinghies-for-beginners",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.deepsailing.com\/blog\/sailing-dinghies-for-beginners",
        "snippet": "Hartley 10. credit: sailingdinghies.ch. ‍. These Hartley 10 dinghies
        are very popular in many sailing schools around the world. Capable o[...]
