---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=english&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 34A19C2F44BD43138B74A59FE813216B
      Bingapis-Sessionid:
      - 53328A33778745BBB07AF424656AD6A9
      X-Msedge-Clientid:
      - 37FDDFC4A5AF612C3400CF60A4716060
      X-Msapi-Userstate:
      - a301
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=305,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "english"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english", "totalEstimatedMatches":
        225000000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "English | Definition of English by Merriam-Webster", "url": "https:\/\/www.merriam-webster.com\/dictionary\/English",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.merriam-webster.com\/dictionary\/English",
        "snippet": "English definition is - of, relating to, or characteristic of
        England, the English people, or the English language. How to use English in
        a sentence.", "dateLastCrawled": "2021-08-28T02:29:00.0000000Z", "language":
        "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "English.com", "url": "https:\/\/www.english.com\/", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.english.com", "snippet": "Whether you need
        English for a job, a visa, or a vacation. Choose from hundreds of fresh lessons,
        sourced from the best and organized just for you. Best of all, it''s FREE
        to join and begin browsing for learning that fits your needs. Now y[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=english&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - D194926D9B374F57AE6155D13514C194
      Bingapis-Sessionid:
      - C41B4D8B635C4971BC2386F3996D254B
      X-Msedge-Clientid:
      - 2D06EB7FC18C68DA0FC5FBB7C0716932
      X-Msapi-Userstate:
      - 24a2
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=235,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "english"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english", "totalEstimatedMatches":
        269000000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "contractualRules": [{"_type": "ContractualRules\/LicenseAttribution", "targetPropertyName":
        "snippet", "targetPropertyIndex": 0, "mustBeCloseToContent": true, "license":
        {"name": "CC-BY-SA", "url": "http:\/\/creativecommons.org\/licenses\/by-sa\/3.0\/"},
        "licenseNotice": "Text under CC-BY-SA license"}], "name": "English language
        - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/English_language",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/English_language",
        "snippet": "English is an Indo-European language and belongs to the West Germanic
        group of the Germanic languages. Old English originated from a Germanic tribal
        and linguistic continuum along the Frisian North Sea coast, whose lang[...]
