---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=casa%20blanca&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - D4CDCB2705334C85B04B44D684A8CE24
      Bingapis-Sessionid:
      - 04E773CE142C423AAA6F2AC6C11FF2BE
      X-Msedge-Clientid:
      - '081228B0C84B6D4C2CC23814C9B66C29'
      X-Msapi-Userstate:
      - 78bd
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=288,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "casa
        blanca"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=casa+blanca",
        "totalEstimatedMatches": 1080000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Casablanca (1942) - IMDb", "url": "https:\/\/www.imdb.com\/title\/tt0034583\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.imdb.com\/title\/tt0034583",
        "snippet": "Casablanca: Directed by Michael Curtiz. With Humphrey Bogart,
        Ingrid Bergman, Paul Henreid, Claude Rains. A cynical expatriate American
        cafe owner struggles to decide whether or not to help his former lover and
        her fugitive husband escape the Nazis in French Morocco.", "dateLastCrawled":
        "2021-08-29T00:14:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "contractualRules":
        [{"_type": "ContractualRules\/LicenseAttribution", "targetPropertyName": "snippet",
        "targetPropertyIndex": 1, "mustBeCloseToContent": true, "license": {"name":
        "CC-BY-SA", "url": "http:\/\/creativecommons.org\/licenses\/by-sa\/3.0\/"},
        "licenseNotice": "Text under CC-BY-SA license"}], "name": "Casablanca - Wikipedia",
        "url": "https:\/\/en.wikipedia.org\/wiki\/Casablanca", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/Casablanca", "snippet":
        "Casablanca (Arabic: الدار البيضاء ‎, romanized: ad-dār al-bayḍāʾ; Berber
        languages: ⴰⵏⴼⴰ, romanized: anfa) is the largest city of Morocco. Located
        on the Atlantic coast of the Chaouia plain in the central-western part of
        Morocco, it is the second largest city in the Maghreb region and the eighth-largest
        in the Arab world.", "dateLastCrawled": "2021-08-29T00:20:00.0000000Z", "language":
        "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.2",
        "name": "CasaBlanca Resort and Casino in Mesquite, N[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=casa%20blanca&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - B930200BB2D64B4EB5E212ACCCAA7D07
      Bingapis-Sessionid:
      - 004F5AE448EC4576B1EB9880D33AA328
      X-Msedge-Clientid:
      - 01B2A57B82B0697F12A2B5B3834D6898
      X-Msapi-Userstate:
      - 492e
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=231[...]
