---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=%2765d86996b6eceb05d2272aea9cadd10d%27&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - DA3291584EE84D6B91DDCB2D286D512B
      Bingapis-Sessionid:
      - C81377051C76424797777CE651772AAF
      X-Msedge-Clientid:
      - 392EFCCB3E886B5E1437F0973FE46A87
      X-Msapi-Userstate:
      - bc92
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=133,MSDatacenter=BN2
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "''65d86996b6eceb05d2272aea9cadd10d''"},
        "rankingResponse": {}}'
  recorded_at: Fri, 31 Aug 2018 20:58:12 GMT
recorded_with: VCR 4.0.0
