---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=10&mkt=en-US&offset=11&q=anything&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F6184289E6F244909254E517811A94C8
      Bingapis-Sessionid:
      - 69E23763A4C94208AB97ABB79F75449A
      X-Msedge-Clientid:
      - 0742F93153466CC531ADF56D522A6DFD
      X-Msapi-Userstate:
      - bf8d
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=187,MSDatacenter=BN2
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "anything"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=anything",
        "totalEstimatedMatches": 37800000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Anything - definition of anything by The Free Dictionary", "url":
        "https:\/\/www.thefreedictionary.com\/anything", "isFamilyFriendly": true,
        "displayUrl": "https:\/\/www.thefreedictionary.com\/anything", "snippet":
        "an·y·thing (ĕn′ē-thĭng′) pron. Any object, occurrence, or matter whatever.
        adv. To any degree or extent; at all: They aren''t anything like last year''s
        team. n ...", "dateLastCrawled": "2018-08-22T23:03:00.0000000Z", "language":
        "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "anything Meaning in the Cambridge English Dictionary", "url": "https:\/\/dictionary.cambridge.org\/dictionary\/english\/anything",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/dictionary.cambridge.org\/dictionary\/english\/anything",
        "snippet": "anything definition: 1. used in questions and negatives to mean
        \"something\": 2. any event, act, object, or situation: . Learn more.", "dateLastCrawled":
        "2018-07-21T03:46:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.2", "name":
        "Natasha Mosley-Anything (Official Video) - YouTube", "url": "https:\/\/www.youtube.com\/watch?v=k5qbym6Mu08",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.youtube.com\/watch?v=k5qbym6Mu08",
        "snippet": "Our new desktop experience was built to be your music destination.
        Listen to official albums & more.", "dateLastCrawled": "2018-08-24T13:58:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.3",
        "name": "Anything: The Prayer That Unlocked My God and My Soul ...", "url":
        "https:\/\/www.amazon.com\/Anything-Prayer-That-Unlocked-Soul\/dp\/0718037200",
        "about": [{"name": "Anything: The Prayer That Unlocked My God and My Soul"},
        {"name": "Anything: The Prayer That Unlocked My God and My Soul"}], "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.amazon.com\/Anything-Prayer-That-Unlocked-Soul\/dp\/...",
        "snippet": "Anything: The Prayer That Unlocked My God and My Soul [Jennie
        Allen] on Amazon.com. *FREE* shipping on qualifying offers. What if you told
        God you would do anything . . . and he took you up on it?",[...]
