---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=sailing%20dingies&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 158025D320AC4B7FA76AEC8B3CA4B174
      Bingapis-Sessionid:
      - E7863553C1F74DF2A2BBFF305500D372
      X-Msedge-Clientid:
      - 0BE3B47A8B986A9C2B34B8268AF46B8E
      X-Msapi-Userstate:
      - b4ad
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=228,MSDatacenter=BN2
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "sailing
        dingies", "alteredQuery": "sailing dinghies", "alterationDisplayQuery": "sailing
        dinghies", "alterationOverrideQuery": "+sailing dingies", "adultIntent": false},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sailing+dingies",
        "totalEstimatedMatches": 8130000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Dinghy sailing - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/Dinghy_sailing",
        "about": [{"name": "Dinghy sailing"}, {"name": "Dinghy sailing"}], "isFamilyFriendly":
        true, "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/Dinghy_sailing", "snippet":
        "Dinghy sailing is the activity of sailing small boats by using five essential
        controls: the sails; the foils (i.e. the daggerboard or centreboard and rudder
        and ...", "dateLastCrawled": "2018-08-20T13:53:00.0000000Z", "language": "en",
        "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Best Dinghy | Sailing World", "url": "https:\/\/www.sailingworld.com\/best-dinghy-melges-14",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.sailingworld.com\/best-dinghy-melges-14",
        "snippet": "The Melges 14 delivers on a quick and modern singlehander and
        earns its stripes as 2016''s Best Dinghy.", "dateLastCrawled": "2018-08-23T21:49:00.0000000Z",
        "language": [...]
