---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=white%20house&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - E4D5BC1A218F460E93E8CDE159125944
      Bingapis-Sessionid:
      - 1F88C4BD829940C9A795B9DC1F3155D1
      X-Msedge-Clientid:
      - 399E52F5C828663107A24251C9D567E3
      X-Msapi-Userstate:
      - e1bb
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=317,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "white
        house"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=white+house",
        "totalEstimatedMatches": 142000000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "The White House", "url": "https:\/\/www.whitehouse.gov\/", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.whitehouse.gov", "snippet": "The White
        House 1600 Pennsylvania Ave NW Washington, DC 20500 To search this site,
        enter a search term Search. We’re investing in the American people. The Build
        Back Better Agenda The Build Back ...", "dateLastCrawled": "2021-08-27T20:15:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Contact Us | The White House", "url": "https:\/\/www.whitehouse.gov\/contact\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.whitehouse.gov\/contact",
        "snippet": "The White House 1600 Pennsylvania Ave NW Washington, DC 20500
        WH.gov. Scroll to Top. Top ...", "dateLastCrawled": "2021-08-26T19:23:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.2",
        "contractualRules": [{"_type": "ContractualRules\/LicenseAttribution", "targetPropertyName":
        "snippet", "targetPropertyIndex": 2, "mustBeCloseToContent": true, "license":
        {"name": "CC-BY-SA", "url": "http:\/\/creativecommons.org\/licenses\/by-sa\/3.0\/"},
        "licenseNotice": "Text under CC-BY-SA license"}], "name": "White House -
        Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/White_House", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/White_House", "snippet":
        "The White House is the official residence and workplace of the president
        of the United States.It is located at 1600 Pennsylvania Avenue NW in Washington,
        D.C., and has been the residence of every U.S. president since John Adams
[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=white%20house&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - F94D6994A7E849FFA3E0317D782BD697
      Bingapis-Sessionid:
      - C81810B1747C4A53948D5EC788051F40
      X-Msedge-Clientid:
      - 245F80C4D9126E3F2C87900CD8F46FC0
      X-Msapi-Userstate:
      - 1ad7
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=248[...]
