---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=%E4%B8%AD%E5%9B%BD&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - F2237615A842411AB8B9159CF3646CD3
      Bingapis-Sessionid:
      - EABEC80B6BA3476DBF60ABDCE087AFD9
      X-Msedge-Clientid:
      - 0B71A3582C8768CD2A08B3FC2D7A6961
      X-Msapi-Userstate:
      - e9e3
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=295,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "中国"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%E4%B8%AD%E5%9B%BD",
        "totalEstimatedMatches": 98500000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "中国网--网上中国", "url": "http:\/\/www.china.com.cn\/", "isFamilyFriendly":
        true, "displayUrl": "www.china.com.cn", "snippet": "中国网是国务院新闻办公室领导，中国外文出版发行事业局管理的国家重点新闻网站。本网通过10个语种11个文版，24小时对外发布信息，是中国进行
        ...", "dateLastCrawled": "2021-08-26T19:09:00.0000000Z", "language": "zh_chs",
        "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "中国政府网 中央人民政府门户网站 - GOV.CN", "url": "https:\/\/www.gov.cn\/", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.gov.cn", "snippet": "中国政府网由国务院办公厅主办，中国政府网运行中心负责运行维护,是国务院和国务院各部门，以及各省、自治区、直辖市人民政府在国际互联网上发布政府信息和提供在线服务的综合平台,第一时间权威发布国务院重大决策部署和重要政策文件，国务院领导同志重要会议、考察、出访活动等政务
        ...", "dateLastCrawled": "2021-08-27T20:22:00.0000000Z", "language": "zh_chs",
        "isNavigational": false}, {"id"[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=%E4%B8%AD%E5%9B%BD&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 00E894EA05354649ABE4340F21512E2D
      Bingapis-Sessionid:
      - 4D394911A21E4C87BB00520892C0BC70
      X-Msedge-Clientid:
      - 3480264A4998674C2EB0368248656695
      X-Msapi-Userstate:
      - '0601'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=2[...]
