---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=casa%20blanca&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A7CBE93A88264568A9DEDBD637C1A434
      Bingapis-Sessionid:
      - '029ABC26EEB3416AA30C746B9659DE62'
      X-Msedge-Clientid:
      - 22DFECE481516D8830D2E0B8805E6CB8
      X-Msapi-Userstate:
      - aee3
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=236,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "casa
        blanca"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=casa+blanca",
        "totalEstimatedMatches": 18300000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Casablanca (film) - Wikipedia", "url": "https:\/\/en.wikipedia.org\/wiki\/Casablanca_(film)",
        "about": [{"name": "Casablanca"}, {"name": "Casablanca"}], "isFamilyFriendly":
        true, "displayUrl": "https:\/\/en.wikipedia.org\/wiki\/Casablanca_(film)",
        "snippet": "Casablanca is a 1942 American romantic drama film directed by
        Michael Curtiz based on Murray Burnett and Joan Alison''s unproduced stage
        play Everybody Comes to Rick''s.The film stars Humphrey Bogart, Ingrid Bergman,
        and Paul Henreid; it also features Claude Rains, Conrad Veidt, Sydney Greenstreet,
        Peter Lorre, and Dooley Wilson.", "snippetAttribution": {"license": {"name":
        "CC-BY-SA", "url": "http:\/\/creativecommons.org\/licenses\/by-sa\/3.0\/"},
        "licenseNotice": "Text under CC-BY-SA license"}, "dateLastCrawled": "2018-08-22T14:58:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Casablanca (1942) - IMDb", "url": "https:\/\/www.imdb.com\/title\/tt0034583\/",
        "about": [{"name": "Casablanca"}, {"name": "Casablanca"}], "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.imdb.com\/title\/tt0034583", "snippet":
        "Directed by Michael Curtiz. With Humphrey Bogart, Ingrid Bergman, Paul Henreid,
        Claude Rains. A cynical nightclub owner protects an old f[...]
