---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=%E4%B8%AD%E5%9B%BD&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6E6BEB9424E94C67802C5BEBE77984D0
      Bingapis-Sessionid:
      - 99320C574A5747C1A0FE980F2BD2AD99
      X-Msedge-Clientid:
      - '0409204668F06EA41E312C1A699C6FA1'
      X-Msapi-Userstate:
      - '9945'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=217,MSDatacenter=BN2
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "中国"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%e4%b8%ad%e5%9b%bd",
        "totalEstimatedMatches": 33100000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "中国_360百科", "url": "https:\/\/baike.so.com\/doc\/1279856-24188840.html",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/baike.so.com\/doc\/1279856-24188840.html",
        "snippet": "中国,中国位于东亚，是以华夏文明为主体、中华文化为基础，以汉族为主要民族的统一多民族国家，通用汉语。中国人一般称呼自己为龙的传人、炎黄子孙或中华民族。",
        "dateLastCrawled": "2018-08-24T14:46:00.0000000Z", "language": "zh_chs", "isNavigational":
        false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "中国网--网上中国", "url": "http:\/\/www.china.com.cn\/", "about": [{"name":
        "Yonghe Temple"}, {"name": "Yonghe Temple"}], "isFamilyFriendly": true, "displayUrl":
        "www.china.com.cn", "snippet": "国家重点新闻网站，拥有十个语种独立新闻采编、报道和发布权；第一时间报道国家重大新闻事件；国情信息库服务全球读者了解中国；国务院新闻办公室发布会独家网络直播发布网站；拥有国内外顶级学者专家资源，独家编发各种相关政策解读。",
        "dateLastCrawled": "2018-08-23T02:15:00.0000000Z", "language": "zh_chs", "isNavigational":
        false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.2",
        "name": "中国银行全球门户网站", "url": "http:\/\/www.boc.cn\[...]
