---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=tradiksyon&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 46AD637D9D3544D2832BB76B9D0D8E60
      Bingapis-Sessionid:
      - 843DE4CD70654FF0B7FA4EEA2AABF3C3
      X-Msedge-Clientid:
      - '09D1CE284A8861E71272DE8C4B7560BC'
      X-Msapi-Userstate:
      - a7f7
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=221,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "tradiksyon"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=tradiksyon",
        "totalEstimatedMatches": 117000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Haitian tradiksyon diksyonè - Apps on Google Play", "url": "https:\/\/play.google.com\/store\/apps\/details?id=en.ht.bestdict&hl=en_US&gl=US",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/play.google.com\/store\/apps\/details?id=en.ht.bestdict",
        "snippet": "Please setup the Haitian Creole keyboard before using this app.
        This free dict works well in all android devices including mobile and tablet,
        it is very useful for all kinds of people although in offline environment.
        - For student, pupil or researcher, this app is the largest thesaurus help
        them make the deeply investigation in each words and ...", "dateLastCrawled":
        "2021-08-22T16:32:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "‎English Haitian Creole best dictionary translate - Angle ...", "url": "https:\/\/apps.apple.com\/us\/app\/english-haitian-creole-best-dictionary-translate-angle\/id919431571",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/apps.apple.com\/us\/app\/english-haitian-creole-best-dictionary-translate-angle\/...",
        "snippet": "‎Read reviews, compare customer ratings, see screensh[...]
