---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=es-US&offset=0&q=hotel%20(site:search.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5D6125184B644CA5AFB061D6ADC8CB46
      Bingapis-Sessionid:
      - 2919D8E674FF498398B95156039EAD2D
      X-Msedge-Clientid:
      - 199F08E1D98B674D285A0463D8C766C6
      X-Msapi-Userstate:
      - cbe3
      Bingapis-Market:
      - es-US
      X-Search-Responseinfo:
      - InternalResponseTime=99,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "hotel
        (site:search.gov)"}, "rankingResponse": {}}'
  recorded_at: Mon, 08 Oct 2018 20:43:46 GMT
recorded_with: VCR 4.0.0
