---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=es-US&offset=0&q=hotel%20(site:search.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 9EE2302F94064D3D8F4FE9E51E2B81AC
      Bingapis-Sessionid:
      - 51BE45A0A6D24C7FB7AA943A4694CCF1
      X-Msedge-Clientid:
      - 04A277473D34694C01E867E33CD26839
      X-Msapi-Userstate:
      - '2699'
      Bingapis-Market:
      - es-US
      X-Search-Responseinfo:
      - InternalResponseTime=142,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "hotel
        (site:search.gov)"}, "rankingResponse": {}}'
  recorded_at: Tue, 31 Aug 2021 20:32:41 GMT
recorded_with: VCR 4.0.0
