.filter-heading{
  margin-top: 0;
  padding-left: 0.35rem;
}

.filter-heading svg{
  margin: -5px;
}

.filter-heading-label{
  color: #71767A;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 10px;
}

.mobile-facets-wrapper .filter-heading svg{
  transform: scale(1.35);
}

.mobile-facets-wrapper .filter-heading{
  margin-top: 5px;
  margin-bottom: 0;
}

.mobile-facets-wrapper .filter-heading-label{
  float: left;
  margin-left: 25px;
  margin-right: 15px;
}

@media (max-width: 640px){
  .mobile-facets-wrapper .filter-heading-label{
    display: none;
  }
}
