#results
  .govbox-wrapper-top
    :background url(/images/backgrounds/related_topics_top.png) no-repeat 0 0
    :behavior url(/javascripts/iepngfix.htc)
    :height 8px
    :line-height 8px
    :margin-top 0.75em

  .govbox-wrapper-bottom
    :background url(/images/backgrounds/related_topics_bottom.png) no-repeat 0 0
    :behavior url(/javascripts/iepngfix.htc)
    :height 8px

  .govbox-wrapper-middle
    +clearfix
    :background url(/images/backgrounds/related_topics_middle.png) repeat-y 0 0
    :behavior url(/javascripts/iepngfix.htc)
    margin: 0
    padding: 0.8em 0 0 25px

#results .recalls-govbox, #results .recalls
  h3
    :font-size 1.3em
    :line-height 19px
    :color $red
    :padding-left 15px
    :margin 0 0 0 -15px
    :background white url('/images/red_triangle.png') left top no-repeat
    a, a:visited, .recall_stats
      :font-size 0.75em
      :display block
      :color $red
      :text-decoration none
      :font-style italic
  .sort
    :margin-bottom 0.5em
    a
      :text-decoration none
  .recall
    :overflow hidden
    :margin-bottom 1em
    .agency
      :color #222
    .industry-icon
      :text-align center
      :color gray
      :font-weight bold
      :width 50px
      :padding 0
      :float left
      span
        :clear left
    .details
      :width 550px
      :float left
      :padding-left 15px
      a
        :text-decoration none
      .recall-date
        :color gray
        :font-style italic
      .description
        .recall-date
          :display inline
      .url
        a
          :color $green

#results .recalls-govbox
  :margin-bottom 20px
  :padding-left $results-padding-size
  .recall
    @include clearfix
    margin-bottom: 0.75em
    .details
      :padding-top 0.5em

.govbox-title
  h3.alt
    font-size: 1.15em
    margin:
      top: 0
      bottom: 0.8em
    span.recommended-by
      color: gray
      font:
        size: 0.9em
        style: italic
        weight: normal
      a
        color: gray
        text-decoration: underline

#results .govbox
  margin:
    bottom: 1em
    left: 10px
  @extend .govbox-title

#results .blended
  margin-left: 0
  padding: 0
  .agency, .medline
    +clearfix
    :line-height 1
    h2
      margin-bottom: 3px
    h3
      font:
        size: 1.1em
        weight: bold
      &.result-url
        margin: 0
    a.link-to-full-url
      font:
        weight: normal
      :line-height 1.1
      :padding-right 8px
      :margin-right 3px
    .official-tag
      :float right
      :font
        :size 1.1em
        :weight bold
    .description
      :font-size 1.1em
      :line-height 1.1
      :margin 0.5em 0 0.3em
      ul
        list-style: none
        margin: 0
        padding: 0 0 0 8px
    .section
      :float left
      :margin
        :top 0.4em
      :width 50%
      h3
        margin: 0
  .agency
    .stay-connected
      @extend .section
      .phone-wrapper
        :float left
        img, ul
          :float left
        img
          :margin-top 0.3em
        ul
          :margin-left 7px
          :width 270px
      ul
        :color #222222
        :list-style none
        :margin 0.3em 0 0
        :padding 0
        li
          :line-height 1.2
        &.social-media
          :background none
          :float left
          :height 16px
          li
            :display inline
            :float left
          a
            :float left
            :font-size 0
            :height 16px
            :line-height 0
            :padding 0 3px
            :text-indent -999em
            :width 16px
            &.facebook
              :background url('/images/govbox/facebook.gif') left top no-repeat
            &.flickr
              :background url('/images/govbox/flickr.gif') left top no-repeat
            &.twitter
              :background url('/images/govbox/twitter.png') -7px -8px no-repeat
            &.youtube
              :background url('/images/govbox/youtube.gif') left top no-repeat
    .search-within
      @extend .section
      form
        :margin 0.4em 0 0
        #query
          :width 230px
  .medline
    p
      :margin-top 0
      :margin-bottom .2em
    ul
      :margin 0 0 0 1em
      :padding-left 0.5em
    .official-tag
      padding-right: 20px
    .related-medline-topics, .clinical-trials, .lang-mapped-topic
      @extend .section
      ul
        list-style: none
        margin: 0.3em 0 0
        padding: 0
        li
          line-height: 1.2

#results #form_govbox
  +clearfix
  h2
    line-height: 1.2
    margin-bottom: 0
  .check-mark-and-dates
    float: left
    margin-top: 6px
    margin-right: 8px
  .check-mark
    background: url('/images/govbox/check_mark.png') center center no-repeat
    +border-radius(50%)
    border-style: solid
    height: 20px
    width: 20px
    margin: 0 10px
  .date-label, .form-date
    clear: left
    :font
      :size 1.0em
    margin-top: 5px
  .date-label
    clear: both
    font-weight: bold
  .links
    overflow: hidden
  .agency-name
    font:
      style: italic
      size: 1.1em
      weight: normal
    line-height: 1.1
    margin: 0
  .forms-and-instructions, .faqs
    margin-top: 0.2em
    h3
      font:
        size: 1.1em
        weight: bold
    ul
      list-style: none
      margin: 0.2em 0 0
      padding: 0
      li
        line-height: 1.3
  .description
    clear: both
    float: left
    margin: 0.3em 0 0

.en #results .medline .official-tag
  background: url(/images/medline.en.png) no-repeat right center
.es #results .medline .official-tag
  background: url(/images/medline.es.png) no-repeat right center

#results #boosted
  .searchresult
    margin:
      left: 0
    padding: 0

#results .featured-collection
  +clearfix
  margin:
    left: 0
  padding: 0
  h2
    margin: 0 0 0.5em
    span.recommended-by
      color: gray
      font:
        size: 0.8em
        style: italic
        weight: normal
  .image
    float: left
    img
      display: block
      margin-bottom: 5px
    span
      font-weight: normal
      width: auto
      word-wrap: break-word
      &.attribution
        font-weight: normal
    a
      display: inline
      word-wrap: break-word
  ul
    +clearfix
    list-style: none
    margin: 0
    padding: 0
    li
      +inline-block
      vertical-align: top
      margin: 0 0 3px 0
      padding: 0
  &.one-column
    li
      clear: left
      width: 99%
    &.with-image
      .image
        width: 125px
      ul
        margin-left: 135px
  &.two-column
    li
      width: 48%
    li.left
      clear: left
      margin-right: 5px
    &.with-image
      .image
        width: 100px
      ul
        margin-left: 110px

#results #photo_govbox
  .photo
    +inline-block
    margin:
      right: 5px
      bottom: 0.8em

#results #video_news_items_govbox
  +clearfix
  .searchresult.newsitem
    +clearfix
    float: left
    font-size: 0.8em
    height: auto
    margin:
      right: 5px
      left: 0
    padding: 0
    width: 120px
    h4
      font-size: 1.25em
      margin-bottom: 0

#results #news_items_govbox
  .newsitem
    margin:
      left: 0
    padding: 0

#results #indexed_documents
  .indexeddocresult.searchresult
    margin:
      left: 0
    padding: 0
  .indexeddocresult h2
    font-size: 1.1em
    font-weight: normal
    span.uext_type
      font-size: 0.7em

#results #related_searches
  ul
    +clearfix
    margin: 0 0 1em 0
    padding: 0
  li
    +inline-block
    line-height: 1.2
    width: 49%

#right_column .right-column-govbox
  +border-radius
  @extend .govbox-title
  border: 1px solid #CACACA
  margin:
    top: 1em
    bottom: 1em

.right-column-govbox #twitter_govbox
  +clearfix
  padding: 10px 10px 0
  h3.alt
    margin: 0
    font-size: 1.1em
    padding: 0 25px 0.4em 0
    background: url(/images/govbox/twitter.png) no-repeat 103% -4px
  a
    text-decoration: none
  .tweet
    border-top: 1px solid #EEE
    margin: 0 0 1em 0
    padding: 0.4em 0 0
  .screen-name
    color: gray
    font-size: 0.95em
  .tweet-text
    margin: 0.4em 0 0
  .timestamp
    font-size: 0.95em
    margin: 0.4em 0 0
    text-align: right

.right-column-govbox #usajobs_govbox
  +clearfix
  padding: 10px 10px 0
  h3.alt
    margin: 0
    font-size: 1.1em
    padding: 0 25px 0.4em 0
  a
    text-decoration: none
  .job
    border-top: 1px solid #EEE
    margin: 0 0 1em 0
    padding: 0.4em 0 0
    .job-title
      a em
        font-weight: bold
        font-style: normal
