#advanced-header
  width: 700px
  margin: auto
  top: auto

form.advanced
  margin-top: 20px
  margin-bottom: 20px


div
  &#advanced-form-intro
    margin-bottom: 10px
    text-align: center

  &.element
    width: 700px


form.advanced
  .show-results-with
    font-size: 14px
  div
    &#logo img
      border: 0 none
      padding-left: 95px

    &.input
      background: #F5F5F5 none repeat scroll 0 0
      border: 0 none
      width: 480px

    &.label
      border-top: 1px solid #F5F5F5
      padding: 10px 3px 10px
      margin: 0 0 5px 0
      width: 190px

    &.query-label
      background: #FFFFFF none repeat scroll 0 0
      display: block
      float: left
      padding: 10px 3px 16px
      margin: 0 0 5px 0
      width: 190px

    &.query-label-top
      background: #FFFFFF none repeat scroll 0 0
      display: block
      float: left
      padding: 0 5px 5px
      width: 150px

    &.submit
      text-align: left
      input
        margin-left: 199px

  div.submit select.psearch
    display: inline

#search
  #advanced-form-intro
    h1
      color: #000
      display: block
      font-size: 1.5em
      margin: 0 0 15px 0

div
  &.submit, &.elements
    clear: both
    float: none
    margin: auto
    width: 700px

  &.element
    clear: both


form div.label
  background: #FFFFFF none repeat scroll 0 0
  border-top: 1px solid black
  display: block
  float: left
  font-weight: bold
  padding: 5px
  width: 100px


div.input
  background: #FFF3BE none repeat scroll 0 0
  border-left: 4px solid #FFD700
  border-right: 4px solid #FFD700
  display: block
  float: right
  margin: 0 0 5px
  padding: 10px
  width: 440px
