@import compass/reset.sass
@import blueprint.sass
@import blueprint/modules/scaffolding.sass
@import blueprint/modules/fancy_type.sass
@import compass/utilities/links.sass
+blueprint
+blueprint-scaffolding
+fancy-type
!site_base_color= "lavender"

body
  :font-size 100%

a
  +hover-link

.loud
  :font-weight bold

h1
  :font-size 1.5em
  :margin-bottom 0.5em
  &.alt
    :font-size 1.6em
    :display inline
    :vertical-align 40%

h2
  :font-size 1.25em
  :margin-bottom 0
  :padding-left 0.2em
  & img
    :vertical-align -20%

th
  :background-color lightgray
  :font-size 1em
  :font-weight normal
  :padding 0 0.5em 0 0.5em
  :margin 0

td
  :padding-top 0
  :padding-bottom 0

hr
  :margin-bottom 1em

.header
  :text-align right
  :margin-top 0.5em

div.headertitle
  :margin-bottom 0.25em
  :background-color= !site_base_color

div.calendar_date_select div.cds_body td
  :padding 0
div.calendar_date_select div.cds_body td:hover
  :background-color= !site_base_color


div.calendar_date_select div.cds_body thead th
  :border-bottom 2px solid black
  :font-weight bold
  :font-size .75em
