@import compass/reset.sass
@import compass/utilities/links.sass
@import blueprint.sass
@import blueprint/modules/scaffolding.sass
@import blueprint/modules/fancy_type.sass
@import blueprint/modules/liquid.sass
+blueprint
+blueprint-scaffolding
+blueprint-liquid-grid
+fancy-type
!site_base_color= "lavender"

.container
  :width 99%
  .span-8,.span-11,.span-13,.span-21,.span-3
    :margin 0

table.querycounts
  :padding-right .75em
div.span-8.last table.querycounts
  :padding-right 0

body
  :font-size 100%

a
  +hover-link

.loud
  :font-weight bold

h1
  :font-size 1.5em
  :margin-bottom 0.5em
  :display inline
  :font-size 1.6em
  :vertical-align 40%
  .beta
    :color #900

h2
  :font-size 1.25em
  :margin-bottom 0
  :padding-left 0.2em
  & img
    :vertical-align text-bottom

th
  :background-color lightgray
  :font-size 1em
  :font-weight normal
  :padding 0 0.5em 0 0.5em
  :margin 0

td
  :padding-top 0
  :padding-bottom 0

hr
  :margin-bottom 1em

.header
  :text-align right
  :margin-top 0.5em

div.headertitle
  :margin-bottom 0.25em
  :background-color= !site_base_color

div.calendar_date_select div.cds_body td
  :padding 0
div.calendar_date_select div.cds_body td:hover
  :background-color= !site_base_color
div.calendar_date_select div.cds_body thead th
  :border-bottom 2px solid black
  :font-weight bold
  :font-size .75em

form#query_search_form
  :text-align center
  :margin-bottom 1em

table table
  :border 1px solid lightgray
  :margin-bottom 0
  :background cornsilk
  :-moz-border-radius 10px
  :-webkit-border-radius 10px

div.auto_complete ul li
  :text-align left
  &.selected strong.highlight
    :background-color #FFFFBB
div.auto_complete ul strong.highlight
  :background-color white


form.bordered
  :margin 3em auto 0 auto
  :background-color= !site_base_color
  :padding 2em 2em 1em 2em
  :border 10px solid lightgrey
  :-moz-border-radius 10px
  :-webkit-border-radius 10px
  ul
    :list-style none
  input.text
    :width inherit

.contentcard
  :border 1px solid #ccc
  :-moz-border-radius-topleft 10px
  :-moz-border-radius-topright 10px
  :-webkit-border-top-left-radius 10px
  :-webkit-border-top-right-radius 10px
  :margin-top 1.5em
  h2
    :padding 0 .5em
    :border-bottom 1px solid #ccc
    :background-color #eee
    :font-size 100%
    :overflow hidden
    :margin-bottom 0
    :-moz-border-radius-topleft 10px
    :-moz-border-radius-topright 10px
    :-webkit-border-top-left-radius 10px
    :-webkit-border-top-right-radius 10px
  p
    :padding 0 1em
  dl
    :margin-bottom 0
    :padding 0 1em
    :background-color gainsboro

.success
  :margin 0
  :padding 0.25em 1em