@import "compass/utilities/tables"
@import trending_searches.sass

$blueprint-font-family: verdana, verdana, sans-serif
$site_theme_color: #003366
$red: #990000
$link: #2200CC
$green: #008000

body
  :background-color #F7F7F7
  :letter-spacing -1px
  &.es
    :background-color #F1ECDF

body.en, body.es
  .container
    :min-width 1100px

* html body.en, body.es
  .container
    :width 1100px

ul, ol
  :margin 0 1.5em 1.5em 1.5em

a, a:visited, a:hover
  :text-decoration none
  :font-weight bold
  :color white
  img
    :border-style none

a:hover
  :text-decoration underline

.header-wrap
  :background url(/images/backgrounds/bg_top_right_long.gif) no-repeat right 17px

.header
  :float left
  :text-align right
  :background url(/images/backgrounds/bg_top_left_long.gif) no-repeat 0 17px
  :height 28px
  :margin
    :top 0
    :bottom 0
  :padding
    :bottom 0.2em
    :left 1em
  :width 90%
  a, a:hover
    :color #25496B
    :font
      :family verdana, verdana, sans-serif
      :size 10px
      :weight normal
    :padding
      :right 12px
      :left 10px
  a:visited
    :color #595959

#headerlinks
  :float left
  a
    :background url(/images/nav_link_divider.gif) no-repeat center left
    &.first
      :background none
      :padding-left 0

#skiplink
  :display none
  :float right
  a
    :color #F7F7F7
  a:visited
    :color #F7F7F7
  a:hover,  a:focus, a:active
    :color #F7F7F7
    :float left
    :text-indent 1em
    :text-decoration underline

.main-wrap
  :background #fff url(/images/backgrounds/bg_left.gif) repeat-y

.main
  :float right
  :display inline
  :background url(/images/backgrounds/bg_right.gif) repeat-y top right
  :width 99%
  a, a:visited
    :font-weight normal
    :text-decoration underline
    :color $link
  a:hover
    :color $red
  :padding
    :bottom 2em
  :background-color white
  p.noresults
    :color black
    :font-weight bold
  p
    :color $site_theme_color
    :font-weight normal
    :margin-bottom 0.1em
  form
    :margin-bottom 2em
  hr
    :margin-bottom 1em
  ul
    :color $site_theme_color
  position: relative
  min-height: 550px

#main_nav_wrap
  :margin-bottom 10px

#main_nav
  :background url(/images/backgrounds/gradient_header_en.gif) repeat-x left 19px
  :font
    :family verdana, verdana, sans-serif
    :size 12px
  :height 40px
  :margin
    :right 0.833em
  :padding
    :left 20px

#navlinks
  :display inline
  :float left
  a, span
    :float left
  a
    :color #25496B
    :margin 0
    :padding 8px 15px
    :text-decoration none
    &:hover
      :cursor pointer
    span
      :border none
      :padding 0
  span
    :border-bottom 4px solid #627BB3
    :font-weight normal
    :padding 8px 15px
    :text-decoration none
    &.gov
      :border 0

* html
  #navlinks
    a span
      :border none
      :padding 0

#secondary_links
  :display inline
  :float right
  :margin
    :right 10px

#other_search_page
  :display inline
  :float right
  :margin
    :top 4px
    :right 10px

#change_text_size
  :display inline
  :float right
  a
    :color #25496B
    :float left
    :font-weight normal
    :text-decoration none
    :padding 8px 15px
    &:hover
      :cursor pointer

#main_nav
  :background url(/images/backgrounds/gradient_header_en.gif) repeat-x left 19px
  #navlinks, #change_text_size
    a:hover
      :background url(/images/backgrounds/vertical_over_en.gif) repeat-x 0 -4px

.es
  .header-wrap
    :background url(/images/backgrounds/bg_top_right_long_es.gif) no-repeat right 17px
  .header
    :background url(/images/backgrounds/bg_top_left_long_es.gif) no-repeat 0 17px
  .main-wrap
    :background #FFF url(/images/backgrounds/bg_left_es.gif) repeat-y
  #main_nav
    :background url(/images/backgrounds/gradient_header_es.gif) repeat-x left 19px
  #navlinks, #change_text_size
    a:hover
      :background url(/images/backgrounds/vertical_over_es.gif) repeat-x 0 -4px
  .main, .footer-wrap
    :background url(/images/backgrounds/bg_right_es.gif) repeat-y top right
  .bottom-wrap
    :background url(/images/backgrounds/bg_bottom_left_long_es.gif) no-repeat
  .bottom
    :background url(/images/backgrounds/bg_bottom_right_long_es.gif) no-repeat top right

.bottom-wrap
  :background url(/images/backgrounds/bg_bottom_left_long.gif) no-repeat

.bottom
  :background url(/images/backgrounds/bg_bottom_right_long.gif) no-repeat top right

.footer-wrap
  :background url(/images/backgrounds/bg_right.gif) repeat-y top right
  :float right
  :padding
    :bottom 0.7em
  :position relative
  :width 99%
.footer
  :font
    :family verdana, verdana, sans-serif
    :size 12px
    :weight bold
  :margin
    :top 0.8em
  :text-align center
  a
    :background url(/images/nav_link_divider.gif) no-repeat center left
    :color #25496B
    :padding
      :right 12px
      :left 10px
    &.first
      :background none
  a:visited
    :color #595959
.tagline
  :background url(/images/footer_line.gif) no-repeat center top
  :font-size 12px
  :padding-top 20px
  :text-align center

.homepage
  :margin
    :top 2em
    :bottom 2em

.current
  :color black

div.auto_complete ul li
  :color black

table.deep_links
  :padding-left 2em
  :margin-bottom 0
  tr td
    :padding 0
    :line-height 1.1em
    a, a:visited, a:hover
      :text-decoration none
      &.more_results
        :color #454545

#results-wrap
  :width 100%

#sidebar
  :width 250px
  :display inline
  :padding-left 10px
  :float left
  :overflow hidden

#summary
  :width 620px

#results
  :float left
  :width 800px

ul#relatedsearch
  :padding-left 0
  :list-style-type disc
  :color gray
  li
    :font-size 1.1em
    a, a:visited
      :text-decoration none
    a:hover
      :text-decoration underline

ul#related_faqs
  :padding-left 0
  :list-style-type disc
  :color gray
  li
    :font-size 1.1em
    a, a:visited
      :text-decoration none
    a:hover
      :text-decoration underline

ul#related_gov_forms
  :padding-left 0
  :list-style-type disc
  :color gray
  li
    :font-size 1.1em
    a, a:visited
      :text-decoration none
    a:hover
      :text-decoration underline

.more_results
  :margin-left 18px
  :color gray
  a, a:visited, a:hover
    :color gray
    :text-decoration none

=topfade
  :background #fff url(/images/bg.png) repeat-x scroll 0 -153px

#spotlight
  :color black
  :margin 1em 0
  :padding 0
  :width 620px

  #spotlight-simple
    :width 600px
    :color black
    :margin 0
    +topfade
    :border 1px solid #ddd
    :padding 0.5em 0.5em 0 1em

    table
      td
        :padding 0
        ul
          :margin 0
          :list-style-type disc
          :color gray

  #spotlight-custom
    :height 175px
    .spotlight-custom-link
      :color #000

.govbox
  :color black
  :margin 1em 0
  +topfade
  :border 1px solid #ddd
  :padding 1em
  :width 594px
  h3
    :font-size 1.5em
    :color rgb(23, 69, 120)
    :margin 0 0 1em 0
  ul
    :margin 0 0 0 1em
    :padding-left 0.5em
    :list-style-type disc
    :color gray

.recalls-govbox, .recalls
  h3
    :font-size 1.3em
    :line-height 19px
    :color $red
    :padding-left 15px
    :margin 0 0 0 -15px
    :background white url('/images/red_triangle.png') left top no-repeat
    a, a:visited, .recall_stats
      :font-size 0.75em
      :display block
      :color $red
      :text-decoration none
      :font-style italic
  .sort
    :margin-bottom 0.5em
  .recall
    :overflow hidden
    :margin-bottom 1em
    .agency
      :color #222
    .industry-icon
      :text-align center
      :color gray
      :font-weight bold
      :width 50px
      :padding 0
      :float left
    .details
      :width 550px
      :float left
      :padding-left 15px
      .recall-date
        :color gray
        :font-style italic
      .description
        .recall-date
          :display inline
      .url
        a
          :color $green

.recalls-govbox
  :margin-bottom 20px
  .recall
    .details
      :padding-top 0.5em
      
.hidden
  :position absolute
  :left -10000px
  :top auto
  :width 1px
  :height 1px
  :overflow hidden

.forms-tagline
  :margin-top 5px
  :color black
  :font-weight bold

.docs th[scope=row]
  :font-weight normal

.docs
  :font-size 1.2em

.docs h1, .docs h2
  :font-family Georgia, "Times New Roman", serif

.docs h1
  :font-size 2.0em
.docs h2
  :font-size 1.5em

.docs p + p
  :margin-top 1.0em
  :text-indent 0

.docs table, .docs td, .docs th[scope=row]
  :border solid 1px lightgray
  :text-align left

.docs table
  :margin 1em 0 0 0
  :border-spacing 0
  :border-collapse collapse

.docs td
  :margin 0


.homepage
  #landing_page_logo
    :display block
    :margin
      :left 125px
      :bottom 0px
    &.web
      :margin-bottom 13px
  #search_form
    margin-bottom: 0.5em
.es
  #landing_page_logo
    :margin-left 100px

#search_form
  :background url('/images/backgrounds/bg_search.gif') no-repeat
  :border 0
  :height 43px
  :margin 0 0 2em 0
  :padding 0
  :width 800px
  #search_query
    :border 0
    :display inline
    :float left
    :font
      :family verdana, verdana, sans-serif
      :size 14px
    :margin 18px 0 0 50px
    :outline 0
    :padding 0
    :width 460px
  #search_button
    :background url('/images/btn_search.gif') no-repeat
    :border 0
    :cursor pointer
    :display inline
    :float left
    :font-size 0
    :height 27px
    :line-height 0
    :margin 13px 0 0 40px
    :padding 0
    :text-indent -999em
    :width 83px
  #advanced_search_link, #search_in_link
    :color #25496B
    :display inline
    :float left
    :font
      :family verdana, verdana, sans-serif
      :size 11px
      :weight normal
    :text-decoration none
    &:hover
      :cursor pointer
      :text-decoration underline
  #advanced_search_link, #search_in_link
    :margin 3px 0 0 30px

.images
  #search_form
    #search_query
      :width 450px
    #search_button
      :background url('/images/btn_search_images.gif') no-repeat
      :margin 13px 0 0 3px
      :width 130px

.recalls
  #search_form
    #search_query
      :width 431px
    #search_button
      :background url('/images/btn_search_recalls.gif') no-repeat
      :margin 13px 0 0 3px
      :width 149px

.forms
  #search_form
    #search_query
      :width 445px
    #search_button
      :background url('/images/btn_search_forms.gif') no-repeat
      :margin 13px 0 0 3px
      :width 135px

.es
  #search_form
    #search_button
      :background url('/images//btn_search_es.gif') no-repeat 0 0
      :margin 13px 0 0 37px
      :width 86px
  .images
    #search_form
      #search_query
        :width 424px
      #search_button
        :background url('/images/btn_search_images_es.gif') no-repeat
        :margin 13px 0 0 3px
        :width 156px

#home_searchtrend
  :margin-top 15px
