!site_background_color= #003466

body
  :background-color= !site_background_color
  :color white

a, a:visited, a:hover
  :text-decoration none
  :font-weight bold
  :color white

a:hover
  :text-decoration underline

.loud
  :font-weight bold

h1
  :font-size 2.5em
  :margin-bottom 0.5em
h2
  :font-size 1.25em
  :margin-bottom 0.2em

.header
  :text-align right
  :margin
    :bottom 0.2em
    :top 0

.main
  :background-color white

.footer
  :text-align center

.splash-logo
  :margin-top 2em
