@import "blueprint"
@import "compass/css3/border-radius"
@import "compass/utilities/general/clearfix"
a
  +link-colors(#21548B, #C81B2A, #21548B, #21548B, #21548B)
  :text-decoration underline

.newui-wrapper
  clear: both
  line-height: 1
  font-family: Arial, Helvetica, sans-serif
  font-size: 16px
  min-width: 980px
  width: 100%
  div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
    margin: 0
    padding: 0
    border: 0
    outline: 0
    font-size: 100%
    vertical-align: baseline
    background: transparent
  +blueprint-interaction


  ol, ul
    list-style: none

  blockquote, q
    quotes: none

  blockquote
    &:before, &:after
      content: ''
      content: none

  q
    &:before, &:after
      content: ''
      content: none

  \:focus
    outline: 0

  ins
    text-decoration: none

  del
    text-decoration: line-through

  table
    border-collapse: collapse
    border-spacing: 0

  .header
    width: 100%
    float: left
    background: url(/images/bg-header.jpg) repeat-x 0 0
    height: 170px
    position: relative
    z-index: 999

  #wrapLogo
    height: 116px
    padding-top: 5px
    height: 110px
    padding-top: 10px
    float: left
    width: 283px
    padding-left: 5px
    img
      behavior: url(/javascripts/iepngfix.htc)

  .topLogo, .bottomLogo
    float: left
    width: 283px
    padding-left: 5px
  .topLogo
    height: 59px

  .nav-top
    float: right
    height: 40px
    margin-top: 2px
    .nav-left
      height: 40px
      background: url(/images/bg-nav-top-left.png) no-repeat left 0
      behavior: url(/javascripts/iepngfix.htc)
      width: 46px
      float: left
    ul
      padding: 10px 41px 0 0
      background: url(/images/bg-nav-top-right.png) no-repeat right 0
      behavior: url(/javascripts/iepngfix.htc)
      float: left
      height: 38px
    li
      border-right: 1px solid white
      font-size: 18px
      color: #fff
      float: left
      margin-right: 5px
      padding-right: 5px
      &.last
        border-right: none
        margin-right: 0
      a
        font-size: 18px
        color: #fff
        text-decoration: none

  /*** containers for login page ***/
  .outer-container
    width: 912px
    margin: 0 auto

  .inner-container
    float: left
    padding: 15px 0
    background: url(/images/bg-header-bottom.png) no-repeat 0 0
    behavior: url(/javascripts/iepngfix.htc)
    width: 912px

  .wraptitleBox
    float: left
    position: relative
    z-index: 9
    width: 100%

  .titleBox
    width: 100%
    float: left
    background: url(/images/bg-title.png) no-repeat 0 bottom
    padding-bottom: 40px
    behavior: url(/javascripts/iepngfix.htc)
    h1
      font-size: 31px
      margin-bottom: 10px
      color: #5d5d5d
      font-weight: normal
      float: left
      width: 100%
    p
      float: left
      font-size: 16px
      color: #5d5d5d
      line-height: 18px

  .columnLft
    float: left
    width: 405px
    margin-right: 20px
    float: left
    padding-top: 30px
    overflow: hidden
    p
      font-size: 14px
      color: #5d5d5d
      line-height: 18px
      margin-bottom: 10px
      width: 325px
      float: left
      line-height: 20px

  .inner-container
    h2
      float: left
      width: 100%
      color: #285d8f
      font-size: 27px
      margin-bottom: 15px
      display: inline
    ul
      float: left
      width: 100%
    li
      float: left
      width: 100%
      &.required label
        float: right
        text-align: right
        margin-right: 33px
      label
        width: 98px
        float: left
        margin-right: 10px
        font-size: 15px
        font-weight: normal
        color: #5d5d5d
        padding-top: 8px
        line-height: 18px
      .txt
        background: url(/images/txt-box.png) no-repeat 0 0
        behavior: url(/javascripts/iepngfix.htc)
        width: 215px
        border: 0
        margin: 0.5em 0
        padding: 3px 5px
        height: 25px
        color: #000
    .submit
      font-size: 0
      line-height: 0
      text-indent: -999em
      cursor: pointer
    li
      .btn-login
        background: url(/images/btn-login.png) no-repeat 0 0
        behavior: url(/javascripts/iepngfix.htc)
        width: 100px
        height: 38px
        border: 0
        display: block
        &:hover
          background-position: 0 -41px
      &.fLeft
        margin-left: 108px
        width: 297px
        display: inline
      a
        color: #295d8f
        line-height: 18px
        &:hover
          text-decoration: none

  .columnRt
    float: right
    width: 480px
    padding-top: 30px
    overflow: hidden
    h2
      margin-left: 20px
      width: 95%

  .wrapRegisterbox
    float: left
    width: 100%

  .registerboxTop
    background: url(/images/register-box-top.png) no-repeat 0 0
    behavior: url(/javascripts/iepngfix.htc)
    width: 447px
    height: 15px
    float: left

  .registerboxMid
    background: url(/images/register-box-mid.png) repeat-y 0 0
    behavior: url(/javascripts/iepngfix.htc)
    width: 447px
    float: left

  .registerboxBot
    background: url(/images/register-box-bottom.png) no-repeat 0 0
    behavior: url(/javascripts/iepngfix.htc)
    width: 447px
    height: 34px
    float: left

  .inner-container .registerboxMid
    label
      font-weight: normal
      width: 180px
      text-align: right
    h3
      color: #285c8e
      font-size: 22px
      font-weight: normal
      padding-left: 30px
      width: 434px
      float: left
      margin-bottom: 7px
      text-align: left

  .wrapBox, .wrapCheckbox
    padding-left: 30px
    width: 400px
    float: left

  .wrapBox
    margin-bottom: 10px

  .wrapCheckbox
    margin: 10px 0 20px

  .inner-container .registerboxMid
    .wrapBox
      label
        color: #5D5D5D
        font-size: 15px
        float: left
        text-align: left
        width: 300px
        line-height: 18px
        &.tos-label
          width: auto
      a
        display: inline
        float: left
        font-size: 15px
        margin: 0

  .wrapBox .radio, .wrapBox .checkbox
    float: left
    position: inherit



  .registerboxMid
    .btn-register
      margin: 0 20px 15px 30px
      float: left
    a
      color: #295D8F
      font-size: 16px
      float: left
      margin-top: 8px
      &:hover
        text-decoration: none

  .outer-footer
    width: 100%
    float: left
    background: url(/images/bg-footer.jpg) repeat-x 0 0
    height: 121px

  .footer
    width: 912px
    margin: 0 auto

  .inner-footer
    float: left
    width: 912px

  .nav-footer
    float: left
    margin: 14px 0 30px 260px
    display: inline
    li
      float: left
      margin-right: 30px
      a
        font-size: 13px
        color: #fff
        text-decoration: none
        line-height: 18px

  .inner-footer
    p
      float: left
      width: 100%
      text-align: center
      margin-bottom: 4px
      color: #767676
      font-size: 13px
      line-height: 18px
      clear: both
    a
      color: #767676
      font-size: 13px
      text-decoration: none
    p.siteName
      a
        font-size: 15px

  .columnLft, .columnRt
    form
      padding: 5px
    +blueprint-interaction
    .error
      behavior: url(/javascripts/blank.htc)
      margin: 0 1em 1.5em 1em
      font-size: 15px
      text-align: left
      p, a
        color: #8a1f11
      p
        margin-bottom: 1.5em
      p, ul, li
        float: none
      li
        line-height: 1.5
        margin: 0

  .wrap-nav-content
    float: left
    a span
      height: 37px
      width: 19px
      float: none
      left: -19px
      top: 0
      position: absolute
    span
      height: 37px
      width: 19px
      float: left

  .nav-global .wrap-nav-content-hover div
    float: left
    a
      background: url(/images/bg-search.jpg) no-repeat right 0

  .wrap-nav-content
    a
      float: left
    .api a, .search-gov a
      padding: 10px 20px
    .affliate a
      padding: 10px 20px
      width: 130px
      height: 17px

  .nav-global .wrap-nav-content-hover
    &.api a
      background: url(/images/tab-top-1.jpg) no-repeat 0 0
      height: 17px
    .search-gov a
      background: url(/images/bg-search.jpg) no-repeat 0 0
      width: 130px
      height: 17px

  .wrap-navglobal
    margin-top: 8px
    float: left
    width: 100%
    clear: left
    ul
      float: left
      position: relative
      width: 100%
      li
        display: inline
        float: left
        margin-right: 15px
        position: relative
        .wrap-nav-content span.nav-left
          width: 19px
          height: 37px
    ul.nav-global
      width: auto
    .wrap-nav-content-hover
      span.nav-left
        background: url(/images/tab-left.jpg) no-repeat 0 0
      a
        background: url(/images/tab-right.jpg) no-repeat right 0
    ul li
      a
        display: block
        color: #fff
        text-decoration: none
        font-size: 16px
        font-weight: bold
        line-height: 18px
        padding: 10px 26px 10px 0
      &.hover .wrap-nav-content a
        color: #21548B

  .wrap-navglobal
    ul li .submenu
      position: absolute
      left: 16px !important
      top: 37px !important
      visibility: hidden
      width: 189px
      z-index: 999
      padding: 0 0 11px
    ul li
      &.search-li .submenu, &.affiliate-li .submenu
        left: 22px !important
      &.api-li .submenu
        left: 52px !important
    ul li ul li.top-bg
      background: url(/images/bg-drop-top.png) no-repeat 0 0
      behavior: url(/javascripts/iepngfix.htc)
    .submenu
      p
        display: list-item
        float: left
        width: 169px
        padding: 0 10px
        z-index: 9999
        margin: 0
      span
        text-align: left
        width: 189px
        background: url(/images/bg-drop-mid.png) repeat-y 0 0
        behavior: url(/javascripts/iepngfix.htc)
        padding: 0
        float: left
        &.prev-last p
          padding-bottom: 0
        &.top
          background: url(/images/bg-drop-top.png) no-repeat 0 0
          border: 0
          height: 12px
          overflow: hidden
          p
            padding: 0
        &.last
          background: url(/images/bg-drop-bot.png) no-repeat 1px 0
          height: 13px
    ul li ul li.last div
      background: url(/images/bg-drop-bot.png) no-repeat 0 0
      padding: 0
      width: 189px
      height: 13px
      behavior: url(/javascripts/iepngfix.htc)
    .submenu
      p a
        font-size: 15px
        font-weight: normal
        width: 159px
        /*width of sub menus */
        padding: 10px 5px
        margin: 0
        border-top-width: 0
        border-bottom: 1px dotted #ccc
        color: #3D3D3D
      .prev-last p a
        padding-bottom: 0
      .last
        p a, a
          padding: 0
      p a:hover
        color: #21548B
        border-bottom: 1px dotted #fff
      .prev-last p a, .prev-last p a:hover
        border: none
    ul li ul li
      &.prev-last a
        border: 0 !important
      &.last a
        border: 0
        padding-bottom: 2px
        &:hover
          border: 0
      a:hover
        border-bottom: 1px solid #fff

  .wrap-navglobal .user-nav
    float: right
    ul
      width: auto
      li
        margin-right: 10px
        a
          padding: 0
          width: 150px
          img
            margin-top: 2px
            behavior: url(/javascripts/iepngfix.htc)

  * html .wrap-navglobal
    height: 1%

.breadcrumbs
  clear: both
  font-size: 0.9em
  font-family: Arial, Helvetica, sans-serif
  border-bottom: 1px solid #bdbdbd
  margin-bottom: 12px
  padding-bottom: 8px
  a
    background: url(/images/breadcrumbs_separator.png) no-repeat right 0
    behavior: url(/javascripts/iepngfix.htc)
    margin-right: 5px
    padding-right: 16px

* html .wrap-navglobal ul li a
  /*IE6 hack to get sub menu links to behave correctly*/
  display: inline-block

.outer-container
  min-width: 1000px
  width: 97%
  margin: 0 auto

.inner-container
  float: left
  padding: 10px 0
  background: url(/images/bg-header-bottom.png) no-repeat 0 0
  width: 100%
  behavior: url(/javascripts/iepngfix.htc)

.add-new-site
  float: left
  width: 280px

/*** content ***/
.content
  margin-left: 280px
  width: 70%
  padding: 10px 0 0 5px
  .container
    min-width: 790px
  .col-1
    float: left
    width: 65%
    margin-right: 13px
    ol, ul
      list-style: none outside none
    ol.numbered
      list-style: decimal outside
      color: #4e4d4d
    h1.title
      color: #1C3F94
      font-size: 24px
      font-weight: bold
      float: left
      margin: 0
      padding-bottom: 0.5em
      width: 100%
      vertical-align: baseline
    p
      color: #4e4d4d
      line-height: 20px
      font-size: 14px
      margin: 0 0 8px 0
      float: left
      width: 100%
    strong
      color: #333333
      font-size: 14px
      font-weight: bold
      float: left
    .fullwidth
      width: 100%
    p.wrap-links
      margin-bottom: 15px
      a
        float: left
        padding-right: 5px
        margin-right: 5px
        float: left
        font-size: 14px
        background: url(/images/bg-sep-blue.png) no-repeat right 3px
        &.last
          background: none
    h3
      float: left
      width: 100%
      font-size: 24px
      font-weight: normal
      color: #333
      margin-bottom: 10px
      padding: 0
    .wrap-content
      float: left
      margin-bottom: 10px
      width: 100%
    ul
      float: left
      margin: 0 0 10px 0
      width: 90%
      &.bulk-upload-instructions
        list-style: disc inside
        li
          margin: 0
      &.sample-file-format
        margin-left: 1em
        padding: 0
    li
      width: 100%
      clear: both
      &.last
        margin-bottom: 0
      span
        color: #333333
        font-size: 14px
        float: left
        line-height: 18px
        margin: 0
    span
      font-size: 12px
      color: #333
      margin-bottom: 10px
      float: left
    form
      .btn-upload
        background: url(/images/btn-upload.png) no-repeat 0 0
        width: 80px
        height: 30px
        margin-left: 5px
        border: 0
        &:hover
          background-position: 0 -32px
      .submit
        font-size: 0
        line-height: 0
        text-indent: -999em
        cursor: pointer
      .file
        float: left
        clear: both
      .txt
        background: url(/images/txt-box.png) no-repeat 0 0
        width: 214px
        height: 25px
        padding: 3px 5px
        border: 0
        float: left
        margin: 0 5px 0 0
    .note
      font-size: 12px
      color: #888888
      float: left
      margin-top: 5px
      clear: both

    .wrap-table
      float: left
      width: 100%
      margin-bottom: 10px
    table
      border-collapse: collapse
      border: 1px solid #A9A9A9
      table-layout: fixed
      width: 100%
      margin: 0
      th
        font-size: 14px
        font-weight: bold
        color: #fff
        background: #444 url(/images/table-mid-bg.png) repeat-x 0 0
        height: 30px
        text-align: left
        margin: 7px 5px 4px
      thead
        th
          &.secondary-header
            background: #E5E5E5 none
            border: 1px solid #A9A9A9
            color: #3D3D3D
      td
        padding: 7px 5px 4px
        text-align: left
        font-size: 14px
        color: #333
  .col-2
    float: left
    width: 33%
    .side-note-image
      margin-bottom: 25px
    .side-note
      width: 90%
      float: left
      background: #FFFED7
      border: 1px solid #DDD
      padding: 5px 5px
      margin-bottom: 25px
      color: #4a4a4a
      font-size: 14px
      line-height: 16px
      a
        word-wrap: break-word

  /*** Add Bing page customization ***/
  .superfresh
    width: 100%
    .status
      a
        float: left
      .remove-url-wrapper
        line-height: 1
        margin: 0 105px 0 0
        padding: 0
        word-wrap: break-word
        a.remove-url
          float: none
      a.remove-url-button
        float: right
        vertical-align: top
        display: inline
        background: url(/images/btn-remove-url.png) no-repeat 0 0
        width: 103px
        height: 30px
        border: 0
        font-size: 0
        line-height: 0
        text-indent: -999em
        cursor: pointer
        &:hover
          background-position: 0 -32px
      td
        width: 100%

* html
  .outer-container
    width: 1080px
  .content .container
    width: 790px

.btn-submit
  background: url(/images/btn-submit.png) no-repeat 0 0
  width: 91px
  height: 30px
  border: 0
  &:hover
    background-position: 0 -32px

/*** sidebar ***/
.affiliate-sidebar
  float: left
  width: 280px
  background: url(/images/menu-sep.png) no-repeat right 0
  behavior: url(/javascripts/iepngfix.htc)
  min-height: 730px
  height: auto !important
  height: 730px
  padding-top: 10px
  .side-top
    background: url(/images/menu-top-blank.png) no-repeat 0 0
    behavior: url(/javascripts/iepngfix.htc)
    width: 241px
    height: 38px
    float: left
    text-align: left
    a, span
      position: relative
      left: 20px
      top: 15px
    h3
      color: #1C3F94
      font-size: 21px
      font-weight: bold
      font-family: Arial, Helvetica, sans-serif
  .side-mid
    background: #f3f4f3
    width: 219px
    padding: 5px 10px
    float: left
    margin: 0
    border-left: 1px solid #ebeaea
    border-right: 1px solid #ebeaea
    overflow: hidden
    select
      font-size: 1em
      height: auto
      width: 220px
      margin: 5px 0 15px 0
      float: left
  .side-block
    float: left
    width: 100%
    h3
      background: url(/images/menu-blue.png) no-repeat 0 0
      behavior: url(/javascripts/iepngfix.htc)
      height: 30px
      float: left
      margin-bottom: 5px
      width: 100%
      span
        color: #FFFFFF
        float: left
        font-size: 16px
        font-weight: normal
        padding: 7px 10px
        text-decoration: none
    ul
      float: left
      margin: 0
      padding: 0 10px 10px
      list-style: none outside none
    li
      margin-bottom: 3px
      float: left
      width: 100%
      clear: both
      &.last
        margin-bottom: 0
      a
        text-decoration: none
        color: #3e3e3e
        font-size: 14px
        &.new
          padding-top: 3px
        &:hover
          color: #21548B
      img.new
        behavior: url(/javascripts/iepngfix.htc)
  .side-bottom
    background: url(/images/menu-bottom.png) no-repeat 0 0
    behavior: url(/javascripts/iepngfix.htc)
    width: 241px
    height: 43px
    float: left
    clear: both

/*** generic elements ***/
h2.sub-title
  border-bottom: 1px solid #DDDDDD
  font-size: 20px
  margin-bottom: 15px

form.generic-form
  float: left
  margin: 0
  width: 100%
  ul
    float: left
    list-style: none
    margin: 0
    li
      float: left
      font-size: 14px
      margin-bottom: 8px
      width: 100%
      label
        color: #5d5d5d
        float: left
        font-size: 15px
        font-weight: normal
        line-height: 18px
        margin-right: 10px
        padding-top: 8px
        text-align: right
        width: 240px
      input.txt
        background: url(/images/txt-box.png) no-repeat 0 0
        border: 0
        float: left
        height: 25px
        margin: 0
        padding: 3px 5px
        width: 215px
      select
        float: left
      .required-note
        float: left
        text-align: right
        width: 465px
      &.tos
        float: left
        line-height: 16px
        padding-left: 150px
        input
          float: left
          margin: 0
        label
          margin: 0 0 0 10px
          padding: 0
          width: auto
  .form-submit-button
    border: 0
    cursor: pointer
    float: left
    font-size: 0
    line-height: 0
    margin: 0 0 0 250px
    padding: 0
    text-indent: -999em
  .error
    behavior: url(/javascripts/blank.htc)
    margin: 0 0 1em 0
    font-size: 15px
    text-align: left
    width: 90%
    p, a
      color: #8a1f11
    p
      margin-bottom: 1.5em
    p, ul, li
      float: none
    li
      line-height: 1.5
      margin: 0

table.generic-table
  border: 1px solid #A9A9A9
  border-collapse: collapse
  table-layout: fixed
  margin: 0
  th
    background: url(/images/table-mid-bg.png) repeat-x 0 0
    color: #fff
    font-size: 14px
    font-weight: bold
    height: 30px
    margin: 7px 5px 4px
    text-align: left
    &.secondary-header
      background: #E5E5E5 none
      border: 1px solid #A9A9A9
      color: #3D3D3D
  td
    border: 1px solid #A9A9A9
    padding: 7px 5px 4px
    text-align: left
    font-size: 14px
    color: #333

.generic-button
  border: 0
  cursor: pointer
  float: left
  font-size: 0
  line-height: 0
  margin: 0
  padding: 0
  text-indent: -999em

/*** affiliate center ***/
.affiliate
  .action-row
    clear: both
    float: left
    width: 100%
    a, input
      float: left
      margin-left: 8px
  .staged-site-row
    margin-top: 5px
  .add-new-site-button
    background: url(/images/btn_add_new_site.png) no-repeat 0 0
    behavior: url(/javascripts/iepngfix.htc)
    float: right
    height: 22px
    width: 88px
  .delete-site-button
    background: url(/images/btn_delete_site.png) no-repeat 0 0
    behavior: url(/javascripts/iepngfix.htc)
    height: 24px
    width: 84px
  .push-changes-button
    background: url(/images/btn_push_changes.png) no-repeat 0 0
    behavior: url(/javascripts/iepngfix.htc)
    height: 24px
    width: 110px
  .cancel-changes-button
    background: url(/images/btn_cancel_changes.png) no-repeat 0 0
    behavior: url(/javascripts/iepngfix.htc)
    height: 24px
    width: 119px
  td.site-name
    a
      word-wrap: break-word
  td.site-url
    word-wrap: break-word

.site-specific
  float: left
  overflow: hidden
  width: 680px
  p
    margin: 0 0 8px
    font-size: 14px
  h2.sub-title
    margin-top: 10px
  .next-button
    background: url(/images/btn_next.png) no-repeat 0 0
    behavior: url(/javascripts/iepngfix.htc)
    height: 40px
    width: 100px
  .steps_header
    margin: 0
    img
      behavior: url(/javascripts/iepngfix.htc)
  textarea
    border: 1px solid #BBB
    clear: both
    height: 191px
    margin: 0
    padding: 3px 5px
    width: 640px
  .site-info
    float: left
    .sliding_content
      width: 90%
    .sliding_trigger, .sliding_content
      clear: both
      float: left
    .button-wrapper
      float: left
      margin: 10px 0 0
    label
      margin: 0 0 5px 0
      text-align: left
      width: 100%
    input.txt
      background: url(/images/long_text_box.png) no-repeat 0 0
      clear: both
      height: 25px
      width: 640px
    textarea
      height: 191px
      margin: 0
      padding: 3px 5px
      width: 640px
    .sublabel
      color: #909090
      clear: both
      float: left
      font-size: 13px
      width: 100%
    .form-submit-button
      display: inline
      margin: 0
      &.save-for-preview-button
        background: url(/images/btn_save_for_preview.png) no-repeat 0 0
        behavior: url(/javascripts/iepngfix.htc)
        height: 38px
        margin-right: 10px
        width: 200px
      &.make-live-button
        background: url(/images/btn_make_live.png) no-repeat 0 0
        behavior: url(/javascripts/iepngfix.htc)
        height: 38px
        margin-right: 10px
        width: 135px
    a.cancel
      float: left
    .affiliate-template-wrapper
      clear: both
      float: left
      width: 100%
    .affiliate-template
      behavior: url(/javascripts/iepngfix.htc)
      float: left
      margin: 0 30px 0 0
      width: 104px
      input
        float: left
        margin: 0
        padding: 0
        position: relative
        top: 0
        width: auto
      label
        float: left
        margin: 0 0 0 5px
        padding: 0
        width: auto
  .get-the-code
    ul
      margin: 0 8px 8px

.search-form-wrapper
  clear: both
  display: inline
  float: left
  margin: 0 0 30px 0
  width: 100%
  #search_form
    float: left
    margin: 0
    input
      float: left
    #search_query
      font-family: verdana, verdana, sans-serif
      font-size: 14px
      outline: 0
      margin: 0
      padding: 5px
      width: 250px
    .search-button
      background: url(/images/btn_search.png) no-repeat 0 0
      behavior: url(/javascripts/iepngfix.htc)
      height: 30px
      margin: 0 0 0 8px
      padding: 0
      width: 67px


.go-to-affiliate-center-button-wrapper
  clear: both
  height: 39px
  margin: 0 auto
  text-align: center
  width: 220px
  a
    float: left

.go-to-affiliate-center-button
  background: url(/images/btn_go_to_affiliate_center.png) no-repeat 0 0
  behavior: url(/javascripts/iepngfix.htc)
  height: 39px
  width: 220px

.btn-register
  background: url(/images/btn-register.png) no-repeat 0 0
  behavior: url(/javascripts/iepngfix.htc)
  width: 250px
  height: 38px
  border: 0
  &:hover
    background-position: 0 -41px

.register-now
  height: 38px
  margin: 0 auto
  width: 143px
.register-now-button
  @extend .generic-button
  background: url(/images/register_now.png) no-repeat 0 0
  height: 38px
  width: 143px

.how-it-works-banner
  float: left
  margin-right: 20px

/*** recaptcha ***/
#dynamic_recaptcha
  float: right
  padding-right: 18px
  font-family: Helvetica, sans-serif
  color: black
  font-size: 12px
  .recaptchatable *
    margin: 0
    padding: 0
    border: 0
    font-family: helvetica,sans-serif
    font-size: 8pt
    color: black
    position: static
    top: auto
    left: auto
    right: auto
    bottom: auto
    text-align: left!important
  #recaptcha_response_field
    top: 21px
    right: 1px
    left: 0
    bottom: 7px

h3.api-item
  font-weight: bold
  margin-bottom: 5px

.api
  width: 100%
  h3
    color: #1C3F94
    margin: 0
    padding: 0
  span
    border: 0
    margin: 0
    padding: 0
    color: #1C3F94
  &.request
    li ul li
      color: #666
      font-size: 14px
  pre
    font-size: 12.5px
  .xml
    white-space: pre

.header .connect
  :clear right
  :float right
  :height 40px
  :margin 25px 0 0
  :width auto
  a
    :background none
    :color #25496B
    :float left
    :font
      :size 0
      :weight bold
    :display inline
    :height 30px
    :line-height 0
    :margin 0
    :padding-left 8px
    :text-decoration none
    :text-indent -999em
    :width 30px
    &.twitter
      :background url(/images/connect/twitter_off.png) no-repeat 0 0
      &:hover
        :background url(/images/connect/twitter_on.png) no-repeat 0 0
    &.mobile
      :background url(/images/connect/mobile_off.png) no-repeat 0 0
      &:hover
        :background url(/images/connect/mobile_on.png) no-repeat 0 0
    &.blog
      :background url(/images/connect/blog_off.png) no-repeat 0 0
      &:hover
        :background url(/images/connect/blog_on.png) no-repeat 0 0
    &.share
      :background url(/images/connect/share_off.png) no-repeat 0 0
      &:hover
        :background url(/images/connect/share_on.png) no-repeat 0 0

.boosted-contents, .boosted-sites
  @include clearfix

.column-1
  float: left
  margin-right: 10px
  width: 65%
.column-2
  float: left
  width: 32%
  .side-note-image
    margin-bottom: 25px
  .side-note
    width: 90%
    float: left
    background: #FFFED7
    border: 1px solid #DDD
    padding: 8px
    margin-bottom: 25px
    color: #4a4a4a
    font-size: 14px
    line-height: 16px
    h5
      line-height: 16px
      margin: 0 0 8px 0
      font:
        size: 14px
        weight: bold
    a
      word-wrap: break-word
    ul
      margin: 0.5em 0 0
      padding: 0 0 0 1em

.featured-collection-list, .boosted-content-list, .rss-feed-list, .excluded-url-list, .sitemap-list, .crawled-url-list, .uncrawled-url-list
  clear: both
  table
    border: 1px solid #BDBDBD
    table-layout: fixed
  col.publish-date
    text-align: center
    width: 120px
  col.status
    text-align: center
    width: 75px
  col.actions
    width: 110px
  thead
    th
      background: #444
    span
      color: white
      float: left
      font-weight: bold
  th
    border: 1px solid #A9A9A9
    padding: 5px
    text-align: center
  td
    border: 1px solid #A9A9A9
    padding: 4px 8px
    word-wrap: break-word
    &.empty
      text-align: center
    &.publish-date, &.status
      text-align: center
  .column-header
    font:
      weight: bold
  a.add-link, a.header-link
    @include border-radius
    background: url(/images/backgrounds/bg_red_gradient.gif) repeat-x 0 0
    color: white
    float: right
    font:
      size: 12px
      weight: bold
    padding: 2px 8px
    text-decoration: none
    &.last
      margin-right: 5px
  td.actions
    a, form
      float: left
    a
      margin-right: 5px
  .pagination
    :clear both
    :padding-bottom 0.75em
    :font-size 14px
    .disabled
      :display none
    em
      @include border-radius(3px)
      :background url(/images/backgrounds/bg_blue_gradient.gif) repeat-x 0 0
      :color white
      :font-style normal
      :padding 2px 8px
    a, a:visited
      :color gray
      :padding 2px 8px
      :text-decoration none
      &:hover
        @include border-radius(3px)
        :background url(/images/backgrounds/bg_blue_gradient.gif) repeat-x 0 0
        :color white

.boosted-content-list
  clear: both

.crawled-url-list, .uncrawled-url-list
  tr.column-header
    background-color: #D3D3D3
  thead th
    text-align: left
    span
      color: #FFF
  tbody th
    background: none
    color: #333
    font:
      size: 14px
      weight: normal
  td a
    float: left
  a.header-link
    float: right
  col.last-crawled-at
    width: 100px
  col.last-crawl-status
    width: 70px
  .crawled-url-error-message
    display: none

.content .superfresh .status
  table
    table-layout: fixed
    width: 100%
  td
    padding: 4px 8px
    width: auto
    word-wrap: break-word
    a
      word-wrap: break-word
      width: auto
  .crawled-url-list, .uncrawled-url-list
    thead tr th
      padding: 0 5px
    @extend .crawled-url-list
    @extend .uncrawled-url-list

.add-featured-collection, .edit-featured-collection, .add-boosted-content, .edit-boosted-content, .add-rss-feed, .edit-rss-feed, .add-excluded-url, .add-sitemap
  @include border-radius
  border: 1px solid #BDBDBD
  overflow: hidden
  padding: 15px
  width: 750px
  ul
    list-style: none
    margin: 0
  li
    @include clearfix
    width: 100%
  label
    clear: left
    float: left
    padding-top: 8px
    text-align: left
    width: 155px
    &.select
      padding-top: 4px
    &.mark-image-for-deletion
      clear: none
      float: left
      font-weight: normal
      width: auto
  h2
    font-size: 15px
  table
    margin-bottom: 0
  .basic-information
    @include clearfix
    margin-bottom: 10px
    ul
      padding: 0
      li
        input.text
          float: left
          width: 580px
        input.date
          float: left
          margin: 5px 0
          width: 95px
        input.file
          clear: both
          float: left
          margin-left: 0
          padding: 0
        textarea
          float: left
          width: 580px
          height: 3em
      &.image-columns
        li
          div.image
            @include clearfix
            //border: 1px solid blue
            margin: 0 0 0 155px
            padding-top: 8px
            text-align: left
          img
            float: left
            padding: 8px 0
          .delete-image-subsection
            float: left
            margin: 10px
            label
              margin: 0
              padding: 0
            input.mark-image-for-deletion
              margin: 5px 8px 8px
              padding: 0
              float: left
          #featured_collection_image
            float: left
          span
            clear: left
            color: #909090
            float: left
            font-size: 12px
            width: 400px
      img
        padding: 8px 0 0 5px
      select
        float: left
  .keywords-section
    @include clearfix
    padding: 10px 0
    border-top: 1px solid #DDD
  .tips
    color: #909090
    font-size: 12px
    margin-bottom: 0.5em
    margin-left: 155px
  #keywords_header
    float: left
    width: 155px
  .keywords
    @include clearfix
    float: left
    width: 315px
    table
      float: left
    .row-item
      input
        width: 300px
    td
      :padding 0
  .image-section
    @include clearfix
    border-top: 1px solid #DDD
    padding: 0 0 10px 0
  .links-section
    @include clearfix
    border-top: 1px solid #DDD
    padding: 10px 0
  .links
    @include clearfix
    table
      border: 1px solid #BDBDBD
      table-layout: fixed
    col.title
      width: 40%
    col.url
      width: 55%
    th
      background-color: lightgray
      border: 1px solid #A9A9A9
      font-weight: bold
      padding: 5px
      text-align: center
    td
      border: 1px solid #A9A9A9
      padding: 4px
      text-align: center
    .row-item
      background: url(/images/vertical_arrow.png) no-repeat 2px 4px
      &.ondrag
        background-color: #627BB3
      td.link-title
        padding-left: 15px
      input
        font-size: 11px
        line-height: 16px
        margin: 0
        &.title
          width: 96%
        &.url
          width: 97%
  #add_another_keyword, #add_another_link
    float: right
    font:
      weight: normal
  a.cancel
    margin-left: 10px

.show-featured-collection, .show-boosted-content, .show-rss-feed
  overflow: hidden
  table
    border: 1px solid #BDBDBD
    table-layout: fixed
  col.name
    width: 165px
  th
    background-color: #444444
    padding: 5px
    .actions
      float: right
      a, form
        float: left
      a.edit-link
        color: white
        font-weight: bold
        margin-right: 10px
  td
    border: 1px solid #A9A9A9
    padding: 4px
    &.name
      font:
        weight: bold
    &.links
      a
        display: block
  .keywords
    span
      @include border-radius
      background-color: #EEE
      border: 1px solid #BDBDBD
      padding: 2px 4px
  .add-link-wrapper
    text-align: center
    a
      font:
        size: 20px
        weight: bold

.best-bets
  @include clearfix

.analytics
  form
    @include clearfix
    label, input, img
      float: left
    label
      margin-left: 10px
      padding: 5px 5px 0 0
      &.query-term
        margin-left: 5px
    img
      margin-left: 5px
      padding-top: 8px
    #search_query
      margin: 5px 0
      padding: 5px
      width: 130px
    #analytics_search_start_date, #analytics_search_end_date, #start_date, #end_date
      margin: 5px 0
      padding: 5px
      width: 125px
    #search_button, .submit
      margin-top: 8px
      margin-left: 10px
    ul
      list-style: none
      float: left
      li
        input[type="text"]
          width: 125px
  #busy
    clear: both
    margin: 1em 0
    text-align: center
#admin_analytics
  label
    margin-left: 15px
    &.query-term
      margin-left: 5px
  #search_query
    width: 200px
  #analytics_search_start_date, #analytics_search_end_date
    width: 130px

.related-topics
  margin-bottom: 21px
  ul
    list-style: none
    margin: 0 0 1.5em 0
    padding: 0

.url-error-message-dialog.ui-widget
  font:
    size: 14px
  .ui-dialog-titlebar
    padding: 0.3em 1em

#sayt-suggestions #delete_all
  th
    text-align: right
