#logo.group
  = link_to image_tag("/m/i/logo_mobile.png"), root_path(:locale => I18n.locale.to_s, :m => true)

#search
  = render :partial => "shared/search"

#homeNav
  .navHeader
    Contact your Government
  .navBodyItem
    Call 1 (800) FED-INFO
    .navFloatRight
      >
  .navBodyItem
    = link_to "E-mail Us", contact_form_path(:m => true, :locale => I18n.locale.to_s), :class => "mobileNavLink"
    .navFloatRight
      >
  .navFooter
    = link_to "Visit Our Blog", "http://blog.usa.gov", :class => "mobileNavLink"
    .navFloatRight
      >

