---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/search?count=20&mkt=en-US&offset=0&q=white%20house%20(site:whitehouse.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 0AC1A749BDE74C4B9E65639C74510A69
      X-Msedge-Clientid:
      - 1F2EC511312E69942A91D5BA306168EB
      X-Msapi-Userstate:
      - '4749'
      X-Search-Responseinfo:
      - InternalResponseTime=196,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "images\/search?q=white house (site:whitehouse.gov)", "webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?q=white house (site:whitehouse.gov)&FORM=OIIARP",
        "queryContext": {"originalQuery": "white house (site:whitehouse.gov)", "alterationDisplayQuery":
        "white house", "alterationOverrideQuery": "+white house (site:whitehouse.gov)",
        "alterationMethod": "AM_JustChangeIt", "alterationType": "CombinedAlterationsChained"},
        "totalEstimatedMatches": 100, "nextOffset": 33, "currentOffset": 0, "value":
        [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=6D2D34DDA3F04CE3C814F36484A31A003E69FFFE&simid=608038868118093626",
        "name": "About The White House | The White House", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.L_qNI_TMHGC5mR-6Ta3gbwHaDt&pid=Api",
        "datePublished": "2021-02-02T16:25:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "https:\/\/www.whitehouse.gov\/wp-content\/uploads\/2021\/01\/about_the_white_house.jpg",
        "hostPageUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house\/", "contentSize":
        "720103 B", "encodingFormat": "jpeg", "hostPageDisplayUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house",
        "width": 2500, "height": 1250, "hostPageFavIconUrl": "https:\/\/www.bing.com\/th?id=ODF.bhiQj_1JJFJe5eKkzrMoAw&pid=Api",
        "hostPageDomainFriendlyName": "The White House", "hostPageDiscoveredDate":
        "2017-12-15T00:00:00.0000000Z", "thumbnail": {"width": 474, "height": 237},
        "imageInsightsToken": "ccid_L\/qNI\/TM*cp_1B0293D413C99A8CCFBD7B9E2BEA5812*mid_6D2D34DDA3F04CE3C814F36484A31A003E69FFFE*simid_608038868118093626*thid_OIP.L!_qNI!_TMHGC5mR-6Ta3gbwHaDt",
        "insightsMetadata": {"pagesIncludingCount": 41, "availableSizesCount": 21},
        "imageId": "6D2D34DDA3F04CE3C814F36484A31A003E69FFFE", "accentColor": "1D56AE"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=26C06242F8074849D409E0F310723DD9D109210E&simid=608007214214970417",
        "name": "Kamala Harris: The Vice President", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.igSzLJgRshNtDgNwwRodywHaFj&pid=Api",
        "datePublished": "2021-05-27T22:38:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "https:\/\/www.whitehouse.gov\/wp-cont[...]
