---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house%20(site:whitehouse.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 32A52CE1867F45CB8967F9FF4927B405
      X-Msedge-Clientid:
      - 0E9D4B86B4DF65AC3A9E41E4B54864F0
      X-Msapi-Userstate:
      - ed64
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DE1EA82E7F744EDEAA9E55B9B1311E66&CID=0E9D4B86B4DF65AC3A9E41E4B54864F0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DE1EA82E7F744EDEAA9E55B9B1311E66&CID=0E9D4B86B4DF65AC3A9E41E4B54864F0&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=white%20house%20(site:whitehouse.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5181.1", "totalEstimatedMatches": 111, "nextOffset":
        20, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=A65DE5BCC70D93557942497D437ED2989A4E24A7&simid=607987862391885650",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "... 2009 in honor of st
        patrick s day white house photo lawrence jackson", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.U_dvrITGKJhJZOlvrZQ7VQEsDC&pid=Api",
        "datePublished": "2009-03-17T12:00:00.0000000Z", "contentUrl": "https:\/\/www.whitehouse.gov\/assets\/hi_res\/stpattys_hires.JPG",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "https:\/\/www.whitehouse.gov\/blog\/2009\/03\/17\/president-taoiseach-and-shamrocks",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "2777591 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.whitehouse.gov\/blog\/2009\/03\/17\/president-taoiseach-and...",
        "width": 4074, "height": 2639, "thumbnail": {"width": 300, "height": 194},
        "imageInsightsToken": "ccid_U\/dvrITG*mid_A65DE5BCC70D93557942497D437ED2989A4E24A7*simid_607987862391885650",
        "insightsMetadata": {"shoppingSourcesCount": 1, "recipeSourcesCount": 0},
        "imageId": "A65DE5BCC70D93557942497D437ED2989A4E24A7", "accentColor": "4F8E3D"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=B511618EEB0CB8C41860D7E949A0B913E577570E&simid=608037645348507222",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "... White House, Nov. 30,
        2012. (Official White House Photo by Lawrence", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.XQUjFnu1cYDUW7zC-45xrwEsDG&pid=Api",
        "datePublished": "2013-01-30T14:42:00.0000000Z"[...]
