---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=white%20house%20(site:whitehouse.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - BA00C41EFA4F4EEE8A10AA59EEC62A19
      X-Msedge-Clientid:
      - 0CCA391A639F6ABD3AA4354262906BD6
      X-Msapi-Userstate:
      - 02ba
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9208E71CC33A4105B2A955ED6E2A155B&CID=0CCA391A639F6ABD3AA4354262906BD6&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9208E71CC33A4105B2A955ED6E2A155B&CID=0CCA391A639F6ABD3AA4354262906BD6&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=white%20house%20(site:whitehouse.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5188.1", "totalEstimatedMatches": 100, "nextOffset":
        24, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=6D2D34DDA3F04CE3C814637ACBFF850188969934&simid=608025616224682672",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "About The White House",
        "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.vWpSQJSzVJ9lks69e2kbpAHaCx&pid=Api",
        "datePublished": "2017-12-14T22:10:00.0000000Z", "contentUrl": "https:\/\/www.whitehouse.gov\/wp-content\/uploads\/2017\/12\/P20170614JB-0303-2-1920x720.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house\/",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "357656 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house",
        "width": 1920, "height": 720, "thumbnail": {"width": 474, "height": 177},
        "imageInsightsToken": "ccid_vWpSQJSz*mid_6D2D34DDA3F04CE3C814637ACBFF850188969934*simid_608025616224682672",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "6D2D34DDA3F04CE3C814637ACBFF850188969934", "accentColor": "B11A26"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=53513FFBBEDEC4707838978770512553DEFFAA2A&simid=608050067512495459",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "Home Page [www.whitehouse.gov]",
        "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.LwxG4x0F5CfYqbsImTJdVwHaD2&pid=Api",
        "datePublished": "2018-07-20T07:55:00.0000000Z", "contentUrl": "https:\/\/www.whitehouse[...]
