---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house%20(site:whitehouse.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 29F18EB3EE1B4AE4834AD7D7849C6E7A
      X-Msedge-Clientid:
      - 2AB98A162C9760171F1980272DA66117
      X-Msapi-Userstate:
      - 65d3
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=AF272B6C37EF4427A11FFBD6C90B17B2&CID=2AB98A162C9760171F1980272DA66117&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=AF272B6C37EF4427A11FFBD6C90B17B2&CID=2AB98A162C9760171F1980272DA66117&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=white%20house%20(site:whitehouse.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5163.1", "totalEstimatedMatches": 109, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=A65DE5BCC70D93557942497D437ED2989A4E24A7&simid=607987862331654512",
        "webSearchUrlPingSuffix": "DevEx,5006.1", "name": "... 2009 in honor of st
        patrick s day white house photo lawrence jackson", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.U_dvrITGKJhJZOlvrZQ7VQEsDC&pid=Api",
        "datePublished": "2001-01-01T00:00:00.0000000Z", "contentUrl": "https:\/\/www.whitehouse.gov\/assets\/hi_res\/stpattys_hires.JPG",
        "contentUrlPingSuffix": "DevEx,5008.1", "hostPageUrl": "https:\/\/www.whitehouse.gov\/blog\/2009\/03\/17\/president-taoiseach-and-shamrocks",
        "hostPageUrlPingSuffix": "DevEx,5007.1", "contentSize": "2777591 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.whitehouse.gov\/blog\/2009\/03\/17\/president-taoiseach-and...",
        "width": 4074, "height": 2639, "thumbnail": {"width": 300, "height": 194},
        "imageInsightsToken": "ccid_U\/dvrITG*mid_A65DE5BCC70D93557942497D437ED2989A4E24A7*simid_607987862331654512",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "A65DE5BCC70D93557942497D437ED2989A4E24A7", "accentColor": "4F8E3D"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=A3F3A1A8C08148E9ECFD09B49DADFFA2A0050E39&simid=608004303459320295",
        "webSearchUrlPingSuffix": "DevEx,5012.1", "name": "The White House North Lawn
        fountain flows with green water Tuesday ...", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.NzZvwNZMCVxpywAykgIfJAEsDI&pid=Api",
        "datePublished": "2001-01-01T00:00:00.0000000Z",[...]
