---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house%20(site:whitehouse.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E9E3AFB5BAC4471693C822B4AF1D5AC0
      X-Msedge-Clientid:
      - 2C5A45136C40600535914FD06DD7613C
      X-Msapi-Userstate:
      - d4de
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=09CC9F20757742F0A17221313A531DA0&CID=2C5A45136C40600535914FD06DD7613C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=09CC9F20757742F0A17221313A531DA0&CID=2C5A45136C40600535914FD06DD7613C&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=white%20house%20(site:whitehouse.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5183.1", "totalEstimatedMatches": 115, "nextOffset":
        22, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=53513FFBBEDEC470783865243FEA492C91409850&simid=608012206448837925",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "The White House | whitehouse.gov",
        "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.vzp7BjqnK_hE5tLUCB2qmAFZC1&pid=Api",
        "datePublished": "2017-05-16T19:23:00.0000000Z", "contentUrl": "https:\/\/www.whitehouse.gov\/sites\/whitehouse.gov\/files\/og-image.png",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "https:\/\/www.whitehouse.gov\/",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "1264369 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "https:\/\/www.whitehouse.gov", "width": 1200,
        "height": 630, "thumbnail": {"width": 345, "height": 181}, "imageInsightsToken":
        "ccid_vzp7Bjqn*mid_53513FFBBEDEC470783865243FEA492C91409850*simid_608012206448837925",
        "imageId": "53513FFBBEDEC470783865243FEA492C91409850", "accentColor": "595236"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=4FF5A74E2FB3E7F75504D7E949A0B913E577570E&simid=608019310312361134",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "... White House, Nov. 30,
        2012. (Official White House Photo by Lawrence", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.XQUjFnu1cYDUW7zC-45xrwEsDG&pid=Api",
        "datePublished": "2012-12-01T12:00:00.0000000Z", "contentUrl": "http:\/\/www.whitehouse.gov\/sites\/default\/files\/imagecache\/embedded_img_full\/image\/image_file\/wh_aids_ribbon.jpeg?itok=Nuf7QuaH",
        "contentUrlPingSuffix": "DevEx,5030.1", "hostPageUrl": "http:\/\/www.whitehouse.gov\/blog\/2012\/12\/01\/white-house-honors-world-aids-day-2012",
        "hostPageUrlPingSuffix": "DevEx,5029.1", "contentSize": "156601 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.whitehouse.gov\/blog\/2012\/12\/01\/white-house-honors-world-aids...",
        "width": 560, "height": 371, "thumbnail": {"width": 300, "height": 198}, "imageInsightsToken":
        "ccid_XQUjFnu1*mid_4FF5A74E2FB3E7F75504D7E949A0B913E577570E*simid_608019310312361134",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "4FF5A74E2FB3E7F75504D7E949A0B913E577570E", "accentColor": "81192D"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=17CD78C4F2104A4F422BB15562B9375EDC8D50F0&simid=608054997211221895",
        "webSearchUrlPingSuffix": "DevEx,5034.1", "name": "Read all posts from September
        2013 | The White House", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.xlGvEN-NKt_-lPoXTPVaBgEsDh&pi[...]
