---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=white%20house%20(site:whitehouse.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D6277D172174415394D5BBD131F86432
      X-Msedge-Clientid:
      - 31224BBC5DD16F8E1BA540225C346E48
      X-Msapi-Userstate:
      - f191
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=6A07D07EBAB64C90BA617827FF7ACEE5&CID=31224BBC5DD16F8E1BA540225C346E48&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=6A07D07EBAB64C90BA617827FF7ACEE5&CID=31224BBC5DD16F8E1BA540225C346E48&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=white%20house%20(site:whitehouse.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5188.1", "totalEstimatedMatches": 111, "nextOffset":
        23, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=53513FFBBEDEC470783865243FEA492C91409850&simid=608012206974371082",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "The White House | whitehouse.gov",
        "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.vzp7BjqnK_hE5tLUCB2qmAHaD4&pid=Api",
        "datePublished": "2017-08-01T14:22:00.0000000Z", "contentUrl": "https:\/\/www.whitehouse.gov\/sites\/whitehouse.gov\/files\/og-image.png",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "https:\/\/www.whitehouse.gov\/",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "1264369 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "https:\/\/www.whitehouse.gov", "width": 1200,
        "height": 630, "thumbnail": {"width": 474, "height": 248}, "imageInsightsToken":
        "ccid_vzp7Bjqn*mid_53513FFBBEDEC470783865243FEA492C91409850*simid_608012206974371082",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "53513FFBBEDEC470783865243FEA492C91409850", "accentColor": "595236"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=C55479EC564DE9BBCA64CE3B53B2A3C205CA233B&simid=608056007019531526",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "The Executive Branch |
        whitehouse.gov", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.VtTAJ3NJvu3YE83YY_yfawHaDo&pid=Api",
        "datePublished": "2015-04-13T09:17:00.0000000Z", "contentUrl": "http:\/\/www.whit[...]
