---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=white%20house%20(site:whitehouse.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D6277D172174415394D5BBD131F86432
      X-Msedge-Clientid:
      - 31224BBC5DD16F8E1BA540225C346E48
      X-Msapi-Userstate:
      - f191
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=6A07D07EBAB64C90BA617827FF7ACEE5&CID=31224BBC5DD16F8E1BA540225C346E48&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=6A07D07EBAB64C90BA617827FF7ACEE5&CID=31224BBC5DD16F8E1BA540225C346E48&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=white%20house%20(site:whitehouse.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5188.1", "totalEstimatedMatches": 111, "nextOffset":
        23, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=53513FFBBEDEC470783865243FEA492C91409850&simid=608012206974371082",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "The White House | whitehouse.gov",
        "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.vzp7BjqnK_hE5tLUCB2qmAHaD4&pid=Api",
        "datePublished": "2017-08-01T14:22:00.0000000Z", "contentUrl": "https:\/\/www.whitehouse.gov\/sites\/whitehouse.gov\/files\/og-image.png",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "https:\/\/www.whitehouse.gov\/",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "1264369 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "https:\/\/www.whitehouse.gov", "width": 1200,
        "height": 630, "thumbnail": {"width": 474, "height": 248}, "imageInsightsToken":
        "ccid_vzp7Bjqn*mid_53513FFBBEDEC470783865243FEA492C91409850*simid_608012206974371082",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "53513FFBBEDEC470783865243FEA492C91409850", "accentColor": "595236"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=C55479EC564DE9BBCA64CE3B53B2A3C205CA233B&simid=608056007019531526",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "The Executive Branch |
        whitehouse.gov", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.VtTAJ3NJvu3YE83YY_yfawHaDo&pid=Api",
        "datePublished": "2015-04-13T09:17:00.0000000Z", "contentUrl": "http:\/\/www.whit[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=white%20house%20(site:whitehouse.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 471C7B0CE4CD4A37[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/search?count=20&mkt=en-US&offset=0&q=white%20house%20(site:whitehouse.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6F799329B3454B41B97FBAE3062833CE
      X-Msedge-Clientid:
      - 0C8BECC0A43765AB307AE03AA57B6404
      X-Msapi-Userstate:
      - feac
      X-Search-Responseinfo:
      - InternalResponseTime=259,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "images\/search?q=white house (site:whitehouse.gov)", "webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?q=white house (site:whitehouse.gov)&FORM=OIIARP",
        "queryContext": {"originalQuery": "white house (site:whitehouse.gov)", "alterationDisplayQuery":
        "white house (site:whitehouse.gov)", "alterationOverrideQuery": "+white house
        (site:whitehouse.gov)", "alterationMethod": "AM_JustChangeIt", "alterationType":
        "CombinedAlterationsChained"}, "totalEstimatedMatches": 107, "nextOffset":
        23, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=BFB212A6F8EBFC9ABB37C22C7DE7481FA28D8B18&simid=608040649034433666",
        "name": "The White House Building | The White House", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.TlRJvQlnk_hJVLgHxQU4DAHaCx&pid=Api",
        "datePublished": "2018-10-05T16:05:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "https:\/\/www.whitehouse.gov\/wp-content\/uploads\/2017\/12\/35492069145_7d58e21088_k-1-1920x720.jpg",
        "hostPageUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house\/the-white-house\/",
        "contentSize": "365382 B", "encodingFormat": "jpeg", "hostPageDisplayUrl":
        "https:\/\/www.whitehouse.gov\/about-the-white-house\/the-white-house", "width":
        1920, "height": 720, "thumbnail": {"width": 474, "height": 177}, "imageInsightsToken":
        "ccid_TlRJvQln*mid_BFB212A6F8EBFC9ABB37C22C7DE7481FA28D8B18*simid_608040649034433666*thid_OIP.TlRJvQlnk!_hJVLgHxQU4DAHaCx",
        "insightsMetadata": {"recipeSourcesCount": 0, "bestRepresentativeQuery": {"text":
        "White House President", "displayText": "White House President", "webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?q=White+House+President&id=BFB212A6F8EBFC9ABB37C22C7DE7481FA28D8B18&FORM=IDBQDM"},
        "pagesIncludingCount": 5, "availableSizesCount": 1}, "imageId": "BFB212A6F8EBFC9ABB37C22C7DE7481FA28D8B18",
        "accentColor": "7B5A50"}, {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=6D2D34DDA3F04CE3C814637ACBFF850188969934&simid=608025616574515050",
        "name": "About The White House | The White House", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.vWpSQJSzVJ9lks69e2kbpAHaCx&pid=Api",
        "datePublished": "2017-12-14T22:10:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "https:\/\/www.whitehouse.gov\/wp-content\/uploads\/2017\/12\/P20170614JB-0303-2-1920x720.jpg",
        "hostPageUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house\/", "contentSize":
        "357656 B", "encodingFormat": "jpeg", "hostPageDisplayUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house",
        "width": 1920, "height": 720, "hostPageFavIconUrl": "\/th?id=AR_61069563e699c28584603844452fec37&pid=Api",
        "thumbnail": {"width": 474, "height": 177}, "imageInsightsToken": "ccid_vWpSQJSz*mid_6D2D34DDA3F04CE3C814637ACBFF850188969934*simid_608025616574515050*thid_OIP.vWpSQJSzVJ9lks69e2kbpAHaCx",
        "insightsMetadata": {"recipeSourcesCount": 0, "bestRepresentativeQuery": {"text":
        "White House Correspondents", "displayText": "White House Correspondents",
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=White+Ho[...]
