---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house%20(site:whitehouse.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3362FBF66A784502A59D83F9BC215451
      X-Msedge-Clientid:
      - 1CB8683C3EF86BDA30A463B03F576A59
      X-Msapi-Userstate:
      - 30ec
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5244ACA9EB6049DABAFE70F266F7639B&CID=1CB8683C3EF86BDA30A463B03F576A59&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5244ACA9EB6049DABAFE70F266F7639B&CID=1CB8683C3EF86BDA30A463B03F576A59&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=white%20house%20(site:whitehouse.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5188.1", "totalEstimatedMatches": 107, "nextOffset":
        22, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=53513FFBBEDEC470783865243FEA492C91409850&simid=608012206903460611",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "The White House | whitehouse.gov",
        "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.vzp7BjqnK_hE5tLUCB2qmAHaD4&pid=Api",
        "datePublished": "2017-08-01T14:22:00.0000000Z", "contentUrl": "https:\/\/www.whitehouse.gov\/sites\/whitehouse.gov\/files\/og-image.png",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "https:\/\/www.whitehouse.gov\/",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "1264369 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "https:\/\/www.whitehouse.gov", "width": 1200,
        "height": 630, "thumbnail": {"width": 474, "height": 248}, "imageInsightsToken":
        "ccid_vzp7Bjqn*mid_53513FFBBEDEC470783865243FEA492C91409850*simid_608012206903460611",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "53513FFBBEDEC470783865243FEA492C91409850", "accentColor": "595236"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=1F2F4C1E9DBEB6CDC5B816FAC683CB59B3988914&simid=608041644612390163",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "Happy Halloween! Take a
        Look Inside #HauntedWH ...", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.IXTUCICTb3djax7fdBk5RgHaFS&pid=Api",
        "datePublished": "2016-10-31T19:31:00.0000000Z", "contentUrl": "http[...]
