---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&image.count=20&query=(white%20house)%20language:en%20(site:whitehouse.gov)&sources=Spell%20Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028white
        house\u0029 language\u003aen \u0028site\u003awhitehouse.gov\u0029"},"Image":{"Total":12100,"Offset":0,"Results":[{"Title":"...
        2009 in honor of st patrick s day white house photo lawrence jackson","MediaUrl":"http\u003a\u002f\u002fwww.whitehouse.gov\u002fassets\u002fhi_res\u002fstpattys_hires.JPG","Url":"http\u003a\u002f\u002fwww.whitehouse.gov\u002fblog\u002f2009\u002f03\u002f17\u002fpresident-taoiseach-and-shamrocks","DisplayUrl":"www.whitehouse.gov\u002fblog\u002f2009\u002f03\u002f17\u002fpresident-taoiseach-and-shamrocks","Width":4074,"Height":2639,"FileSize":2777591,"ContentType":"image\u002fjpeg","Thumbnail":{"Url":"http\u003a\u002f\u002fts4.mm.bing.net\u002fth\u003fid\u003dOIP.M53f76fac84c628984964e96fad943b55o0\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":300,"Height":194,"FileSize":8578}},{"Title":"2012\u003a
        A Year in Photos \u007c The White House","MediaUrl":"http\u003a\u002f\u002fwww.whitehouse.gov\u002fsites\u002fdefault\u002ffiles\u002fimage\u002f2012_photos\u002f12.jpeg.jpg","Url":"http\u003a\u002f\u002fwww.whitehouse.gov\u002fphotos-and-video\u002f2012-photos","Displa[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house%20(site:whitehouse.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3F46CC50AB5947D194A9D02AAD9FBE10
      X-Msedge-Clientid:
      - 0754694E99F2692B0C5660B1986568F4
      X-Msapi-Userstate:
      - 6dee
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=3A1366D4B0AE4650B985FE96BCE68616&CID=0754694E99F2692B0C5660B1986568F4&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=3A1366D4B0AE4650B985FE96BCE68616&CID=0754694E99F2692B0C5660B1986568F4&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=white%20house%20(site:whitehouse.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5165.1", "totalEstimatedMatches": 113, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=AB3D2343F03296B07A8D34919A7D46EDC56DD3B4&simid=608031743929876908",
        "webSearchUrlPingSuffix": "DevEx,5006.1", "name": "... 2009 in honor of st
        patrick s day white house photo lawrence jackson", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.M53f76fac84c628984964e96fad943b55o0&pid=Api",
        "datePublished": "2009-03-17T12:00:00.0000000Z", "contentUrl": "http:\/\/www.whitehouse.gov\/assets\/hi_res\/stpattys_hires.JPG",
        "contentUrlPingSuffix": "DevEx,5008.1", "hostPageUrl": "http:\/\/www.whitehouse.gov\/blog\/2009\/03\/17\/president-taoiseach-and-shamrocks",
        "hostPageUrlPingSuffix": "DevEx,5007.1", "contentSize": "2777591 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.whitehouse.gov\/blog\/2009\/03\/17\/president-taoiseach-and-shamrocks",
        "width": 4074, "height": 2639, "thumbnail": {"width": 480, "height": 310},
        "imageInsightsToken": "ccid_U\/dvrITG*mid_AB3D2343F03296B07A8D34919A7D46EDC56DD3B4*simid_608031743929876908",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "AB3D2343F03296B07A8D34919A7D46EDC56DD3B4", "accentColor": "4F8E3D"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=6A53CB8BBCD0E9176EB90E32B3004B112563F11A&simid=608020946390877513",
        "webSearchUrlPingSuffix": "DevEx,5012.1", "name": "2012: A Year in Photos
        | The White House", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.M0fd6cf0a44d137fde462c763b0b17905o0&pid=Api",
        "datePublished": "2016-07-03T21:58:00.0000000Z", "contentUrl": "http:[...]
