---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house%20(site:whitehouse.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A914B0D58A5B46CC8E17DA6B351978EC
      X-Msedge-Clientid:
      - 39A36F6786286E122708655987BF6F98
      X-Msapi-Userstate:
      - cb51
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=FBC2E0B58475411E93E9DA929D00FCFC&CID=39A36F6786286E122708655987BF6F98&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=FBC2E0B58475411E93E9DA929D00FCFC&CID=39A36F6786286E122708655987BF6F98&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=white%20house%20(site:whitehouse.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5179.1", "totalEstimatedMatches": 103, "nextOffset":
        22, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=A3F3A1A8C08148E9ECFD34919A7D46EDC56DD3B4&simid=608037413378720508",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "... 2009 in honor of st
        patrick s day white house photo lawrence jackson", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.U_dvrITGKJhJZOlvrZQ7VQHgE2&pid=Api",
        "datePublished": "2001-01-01T00:00:00.0000000Z", "contentUrl": "http:\/\/www.whitehouse.gov\/assets\/hi_res\/stpattys_hires.JPG",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/www.whitehouse.gov\/blog\/09\/03\/17\/The-President-the-Taoiseach-and-the-Shamrocks\/",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "2777591 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.whitehouse.gov\/blog\/09\/03\/17\/The-President-the-Taoiseach-and...",
        "width": 4074, "height": 2639, "thumbnail": {"width": 480, "height": 310},
        "imageInsightsToken": "ccid_U\/dvrITG*mid_A3F3A1A8C08148E9ECFD34919A7D46EDC56DD3B4*simid_608037413378720508",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "A3F3A1A8C08148E9ECFD34919A7D46EDC56DD3B4", "accentColor": "4F8E3D"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=42ED5D0CD2A203F406F0E1F7F481F7F233C357E9&simid=608053785792217154",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "... White House Photo by
        Lawrence Jackson) (Official White House Photo", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.rhccsLiWEA7pldwJ1V8Q9QEsDI&pid=Api",
        "datePublished": "2010-12-01T12:00:00.0000000Z",[...]
