---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&image.count=20&query=(white%20house)%20language:en%20(site:whitehouse.gov)&sources=Spell%20Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028white
        house\u0029 language\u003aen \u0028site\u003awhitehouse.gov\u0029"},"Image":{"Total":12100,"Offset":0,"Results":[{"Title":"...
        2009 in honor of st patrick s day white house photo lawrence jackson","MediaUrl":"http\u003a\u002f\u002fwww.whitehouse.gov\u002fassets\u002fhi_res\u002fstpattys_hires.JPG","Url":"http\u003a\u002f\u002fwww.whitehouse.gov\u002fblog\u002f2009\u002f03\u002f17\u002fpresident-taoiseach-and-shamrocks","DisplayUrl":"www.whitehouse.gov\u002fblog\u002f2009\u002f03\u002f17\u002fpresident-taoiseach-and-shamrocks","Width":4074,"Height":2639,"FileSize":2777591,"ContentType":"image\u002fjpeg","Thumbnail":{"Url":"http\u003a\u002f\u002fts4.mm.bing.net\u002fth\u003fid\u003dOIP.M53f76fac84c628984964e96fad943b55o0\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":300,"Height":194,"FileSize":8578}},{"Title":"2012\u003a
        A Year in Photos \u007c The White House","MediaUrl":"http\u003a\u002f\u002fwww.whitehouse.gov\u002fsites\u002fdefault\u002ffiles\u002fimage\u002f2012_photos\u002f12.jpeg.jpg","Url":"http\u003a\u002f\u002fwww.whitehouse.gov\u002fphotos-and-video\u002f2012-photos","Displa[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house%20(site:whitehouse.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 16BFB3C46B3F4FAA9A020D191121FBED
      X-Msedge-Clientid:
      - 3D36E6B89FD465153500ECA69E4364E8
      X-Msapi-Userstate:
      - 05ba
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=926EEC7E2B364CC9866D3E4BF5436ADD&CID=3D36E6B89FD465153500ECA69E4364E8&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=926EEC7E2B364CC9866D3E4BF5436ADD&CID=3D36E6B89FD465153500ECA69E4364E8&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=white%20house%20(site:whitehouse.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5163.1", "totalEstimatedMatches": 102, "nextOffset":
        24, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=6A53CB8BBCD0E9176EB90E32B3004B112563F11A&simid=608020946433017202",
        "webSearchUrlPingSuffix": "DevEx,5006.1", "name": "2012: A Year in Photos
        | The White House", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.M0fd6cf0a44d137fde462c763b0b17905o0&pid=Api",
        "datePublished": "2016-07-03T21:58:00.0000000Z", "contentUrl": "http:\/\/www.whitehouse.gov\/sites\/default\/files\/image\/2012_photos\/12.jpeg.jpg",
        "contentUrlPingSuffix": "DevEx,5008.1", "hostPageUrl": "http:\/\/www.whitehouse.gov\/photos-and-video\/2012-photos",
        "hostPageUrlPingSuffix": "DevEx,5007.1", "contentSize": "348169 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.whitehouse.gov\/photos-and-video\/2012-photos",
        "width": 976, "height": 650, "thumbnail": {"width": 300, "height": 199}, "imageInsightsToken":
        "ccid_D9bPCkTR*mid_6A53CB8BBCD0E9176EB90E32B3004B112563F11A*simid_608020946433017202",
        "insightsMetadata": {"shoppingSourcesCount": 3, "recipeSourcesCount": 0},
        "imageId": "6A53CB8BBCD0E9176EB90E32B3004B112563F11A", "accentColor": "7C9239"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=6D0BD71B3EA8903D54F968AF4E975E3BAC8992C9&simid=608004737231947931",
        "webSearchUrlPingSuffix": "DevEx,5012.1", "name": "The White House", "thumbnailUrl":
        "https:\/\/tse4.mm.bing.net\/th?id=OIP.SOl1jF-4m2ta4plONrR9MgEsCp&pid=Api",
        "datePublished": "2015-02-09T21:04:00.0000000Z", "contentUrl": "http:\/\/www.whitehouse.gov\/sites\/def[...]
