---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house%20(site:whitehouse.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 19DAAB1F38F14671BDF525ED784E0CE3
      X-Msedge-Clientid:
      - 13B234F8FFAD6FBB01403FF0FE3A6ECC
      X-Msapi-Userstate:
      - 702c
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=603B68A4332B4734AD60EA93A8BDC1CF&CID=13B234F8FFAD6FBB01403FF0FE3A6ECC&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=603B68A4332B4734AD60EA93A8BDC1CF&CID=13B234F8FFAD6FBB01403FF0FE3A6ECC&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=white%20house%20(site:whitehouse.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5184.1", "totalEstimatedMatches": 106, "nextOffset":
        22, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=53513FFBBEDEC470783865243FEA492C91409850&simid=608012206565033386",
        "webSearchUrlPingSuffix": "DevEx,5023.1", "name": "The White House | whitehouse.gov",
        "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.vzp7BjqnK_hE5tLUCB2qmAFZC1&pid=Api",
        "datePublished": "2017-08-01T14:22:00.0000000Z", "contentUrl": "https:\/\/www.whitehouse.gov\/sites\/whitehouse.gov\/files\/og-image.png",
        "contentUrlPingSuffix": "DevEx,5025.1", "hostPageUrl": "https:\/\/www.whitehouse.gov\/",
        "hostPageUrlPingSuffix": "DevEx,5024.1", "contentSize": "1264369 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "https:\/\/www.whitehouse.gov", "width": 1200,
        "height": 630, "thumbnail": {"width": 345, "height": 181}, "imageInsightsToken":
        "ccid_vzp7Bjqn*mid_53513FFBBEDEC470783865243FEA492C91409850*simid_608012206565033386",
        "imageId": "53513FFBBEDEC470783865243FEA492C91409850", "accentColor": "595236"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=4FF5A74E2FB3E7F75504D7E949A0B913E577570E&simid=608019310446445947",
        "webSearchUrlPingSuffix": "DevEx,5029.1", "name": "The White House Honors
        World AIDS Day 2012 | The White House", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.XQUjFnu1cYDUW7zC-45xrwEsDG&pid=Api",
        "datePublished": "2012-12-01T12:00:00.0000000Z", "contentUrl": "http:\/\/www.whitehouse.gov\/sites\/default\/files\/imagecache\/embedded_img_full\/image\/image_file\/wh_aids_ribbon.jpeg?itok=Nuf7QuaH",
        "contentUrlPingSuffix": "DevEx,5031.1", "hostPageUrl": "http:\/\/www.whitehouse.gov\/blog\/2012\/12\/01\/white-house-honors-world-aids-day-2012",
        "hostPageUrlPingSuffix": "DevEx,5030.1", "contentSize": "156601 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.whitehouse.gov\/blog\/2012\/12\/01\/white-house-honors-world-aids...",
        "width": 560, "height": 371, "thumbnail": {"width": 300, "height": 198}, "imageInsightsToken":
        "ccid_XQUjFnu1*mid_4FF5A74E2FB3E7F75504D7E949A0B913E577570E*simid_608019310446445947",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "4FF5A74E2FB3E7F75504D7E949A0B913E577570E", "accentColor": "81192D"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=E6F131D6F110D7C2AFE0DB444578A30FDFCED1E1&simid=608014933883748804",
        "webSearchUrlPingSuffix": "DevEx,5035.1", "name": "President Obama Narrates
        \"The People’s House,\" a Virtual ...", "thumbnailUrl": "https:\/\/tse1.explicit.bing.net\/th?id=OIP.No0ZOcemjQwSz[...]
