---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house%20(site:whitehouse.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C25E1627D25A4D399770A7259036DD37
      X-Msedge-Clientid:
      - 3EBFE79C156A6D463249ED1C14FD6C91
      X-Msapi-Userstate:
      - 8f64
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=830526C4299F42079D2BAF1F0CC6E493&CID=3EBFE79C156A6D463249ED1C14FD6C91&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=830526C4299F42079D2BAF1F0CC6E493&CID=3EBFE79C156A6D463249ED1C14FD6C91&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=white%20house%20(site:whitehouse.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5181.1", "totalEstimatedMatches": 108, "nextOffset":
        20, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=4FF5A74E2FB3E7F75504D7E949A0B913E577570E&simid=608019310163856002",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "... White House, Nov. 30,
        2012. (Official White House Photo by Lawrence", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.XQUjFnu1cYDUW7zC-45xrwEsDG&pid=Api",
        "datePublished": "2012-12-01T12:00:00.0000000Z", "contentUrl": "http:\/\/www.whitehouse.gov\/sites\/default\/files\/imagecache\/embedded_img_full\/image\/image_file\/wh_aids_ribbon.jpeg?itok=Nuf7QuaH",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/www.whitehouse.gov\/blog\/2012\/12\/01\/white-house-honors-world-aids-day-2012",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "156601 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.whitehouse.gov\/blog\/2012\/12\/01\/white-house-honors-world-aids...",
        "width": 560, "height": 371, "thumbnail": {"width": 300, "height": 198}, "imageInsightsToken":
        "ccid_XQUjFnu1*mid_4FF5A74E2FB3E7F75504D7E949A0B913E577570E*simid_608019310163856002",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "4FF5A74E2FB3E7F75504D7E949A0B913E577570E", "accentColor": "81192D"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=A65DE5BCC70D93557942942D96C292E0C7330DC7&simid=607995803839890100",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "The White House North Lawn
        fountain flows with green water Tuesday ...", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.NzZvwNZMCVxpywAykgIfJAEsDI&pid=Api",
        "datePublished": "2017-04-16T17:15:00.0000000Z",[...]
