---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9B8B7E10F42B468E9BA905C05E774F9E
      X-Msedge-Clientid:
      - 3611C7F146CD6F382A00CD32475A6E74
      X-Msapi-Userstate:
      - 304e
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=99CE3EB47DBA4DC3827EC216970CFD33&CID=3611C7F146CD6F382A00CD32475A6E74&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=99CE3EB47DBA4DC3827EC216970CFD33&CID=3611C7F146CD6F382A00CD32475A6E74&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=agency%20(site:.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5181.1", "totalEstimatedMatches": 137, "nextOffset":
        23, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agency+(site%3a.gov)&id=54FE4C195F592753C3B52E7915BDE0B12EB4F020&simid=607988300660477835",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "Home | Agency of Agriculture
        Food & Markets", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.n2H8WHBUNea9QPI1QLupSQEsCW&pid=Api",
        "datePublished": "2017-06-12T23:31:00.0000000Z", "contentUrl": "http:\/\/agriculture.vermont.gov\/sites\/all\/images\/logo.png",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/agriculture.vermont.gov\/",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "93393 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "agriculture.vermont.gov", "width": 640, "height":
        320, "thumbnail": {"width": 300, "height": 150}, "imageInsightsToken": "ccid_n2H8WHBU*mid_54FE4C195F592753C3B52E7915BDE0B12EB4F020*simid_607988300660477835",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "54FE4C195F592753C3B52E7915BDE0B12EB4F020", "accentColor": "0F6433"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agency+(site%3a.gov)&id=50A1E774D920B1433DC5CE7369889709B12C71EA&simid=608006356692893726",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "Agency Publications", "thumbnailUrl":
        "https:\/\/tse2.mm.bing.net\/th?id=OIP.hGpTizLnNBJhlrZdbHYkmgEsDE&pid=Api",
        "datePublished": "2015-04-26T02:04:00.0000000Z", "contentUrl": "http:\/\/azarts.gov\/wp-content\/uploads\/2015\/02[...]
