---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=ebuy%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C2FF08B46BBD4A23AF2110D5E705D1AF
      X-Msedge-Clientid:
      - 093CA378219669203B4CA94520016802
      X-Msapi-Userstate:
      - '2269'
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=26F3DFF80A584C3E997F0E43F4FAB977&CID=093CA378219669203B4CA94520016802&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=26F3DFF80A584C3E997F0E43F4FAB977&CID=093CA378219669203B4CA94520016802&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=ebuy%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5177.1", "totalEstimatedMatches": 100, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=ebuy+(site%3agov+OR+site%3amil)&id=E7877A3E4227D2A3141685D5B684039C3B68A3DA&simid=607989468647850535",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "eBuy screenshot: Additional
        language added to the RFQ posting in eCAT.", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.Mc8a458a00aa2ce8ab8eeee017b82ff8do0&pid=Api",
        "datePublished": "2017-01-09T01:16:00.0000000Z", "contentUrl": "https:\/\/interact.gsa.gov\/sites\/default\/files\/img_4.png",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "https:\/\/interact.gsa.gov\/blog\/ebuy-%E2%80%9Cset-aside%E2%80%9D-ready",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "135049 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "https:\/\/interact.gsa.gov\/blog\/ebuy-“set-aside”-ready",
        "width": 579, "height": 495, "thumbnail": {"width": 300, "height": 256}, "imageInsightsToken":
        "ccid_yKRYoAqi*mid_E7877A3E4227D2A3141685D5B684039C3B68A3DA*simid_607989468647850535",
        "imageId": "E7877A3E4227D2A3141685D5B684039C3B68A3DA", "accentColor": "1C3F6A"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=ebuy+(site%3agov+OR+site%3amil)&id=58EC6CCEB80EB4B9C61B790F9DEA8F9A532D9B50&simid=608035742634086099",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "eBuy—An online RFQ system
        that allows ordering activities to post ...", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.-g7dWT_TjcbOpctV_J7l-ADmBk&pid=Api",
        "datePublished": "2012-05-30T17:12:00.0000000Z", "con[...]
