---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=ebuy%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F6AA1044C5DC49BFA3DCD461C9B6C156
      X-Msedge-Clientid:
      - 183C9A96BE9B6AB10E5696CEBF946B5C
      X-Msapi-Userstate:
      - d3bc
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D9B0666ED99A480F96E899331335232A&CID=183C9A96BE9B6AB10E5696CEBF946B5C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D9B0666ED99A480F96E899331335232A&CID=183C9A96BE9B6AB10E5696CEBF946B5C&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=ebuy%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5186.1", "totalEstimatedMatches": 100, "nextOffset":
        22, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=ebuy+(site%3agov+OR+site%3amil)&id=D755F20EC02D69649F525D144B27FFD476316A8F&simid=608028317752165566",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "RFQ | Interact", "thumbnailUrl":
        "https:\/\/tse4.mm.bing.net\/th?id=OIP.qTu4IX4WvIJNrxBBZNWecQHaEh&pid=Api",
        "datePublished": "2012-12-24T21:12:00.0000000Z", "contentUrl": "https:\/\/interact.gsa.gov\/sites\/default\/files\/img_3.png",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "https:\/\/interact.gsa.gov\/tag\/rfq",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "101683 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "https:\/\/interact.gsa.gov\/tag\/rfq", "width":
        596, "height": 364, "thumbnail": {"width": 474, "height": 289}, "imageInsightsToken":
        "ccid_qTu4IX4W*mid_D755F20EC02D69649F525D144B27FFD476316A8F*simid_608028317752165566",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "D755F20EC02D69649F525D144B27FFD476316A8F", "accentColor": "076497"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=ebuy+(site%3agov+OR+site%3amil)&id=AFA38328B4807004568FB5AF409F2AE69FB920EF&simid=608026372129557397",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "Introducing eBuy Marketplace:
        More Suppliers, More Functionality", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.f-YOnOpkGA1xFcb9jF7eLwAAAA&pid=Api",
        "datePublished": "2015-08-26T12:00:00.0000000Z", "contentU[...]
