---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=ebuy%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - DED5D685858A43868243FF4CCAEE0943
      X-Msedge-Clientid:
      - 06E73F142AAA6D1939E734922B056C02
      X-Msapi-Userstate:
      - 90f3
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5809FE921D6B488781322EDACB98BF19&CID=06E73F142AAA6D1939E734922B056C02&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5809FE921D6B488781322EDACB98BF19&CID=06E73F142AAA6D1939E734922B056C02&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=ebuy%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5186.1", "totalEstimatedMatches": 100, "nextOffset":
        23, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=ebuy+(site%3agov+OR+site%3amil)&id=EA5D7B40F78384BE84A4DA32759E663760D93DF2&simid=608011798882157859",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "GSS Scientific Catalog
        Moved to the eBuy Marketplace", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.LcL9lFifRf2L1aWU2k55FAHaEv&pid=Api",
        "datePublished": "2015-10-22T12:00:00.0000000Z", "contentUrl": "http:\/\/procurement.lbl.gov\/wp-content\/uploads\/sites\/4\/2015\/07\/eBuy_logo.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/procurement.lbl.gov\/2015\/10\/22\/gss-scientific-catalog-moving-to-the-ebuy-marketplace\/",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "29328 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "procurement.lbl.gov\/2015\/10\/22\/gss-scientific-catalog-moving-to-the...",
        "width": 340, "height": 218, "thumbnail": {"width": 474, "height": 303}, "imageInsightsToken":
        "ccid_LcL9lFif*mid_EA5D7B40F78384BE84A4DA32759E663760D93DF2*simid_608011798882157859",
        "imageId": "EA5D7B40F78384BE84A4DA32759E663760D93DF2", "accentColor": "044262"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=ebuy+(site%3agov+OR+site%3amil)&id=76BE68A253BBCBD8726FB4C2902890AE602E364A&simid=608002586168721971",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "Training for eBuy Users",
        "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.SYYvHPbWR80qphe16zOQWwAAAA&pid=Api",
        "datePublished": "2014-07-25T16:46:00.0000000Z", "contentUrl": "http:\/\/procurement.lbl.gov\/wp-co[...]
