---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=ebuy%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1E954233EA744D39B24754ED58CA0726
      X-Msedge-Clientid:
      - 3E742477F05D67852F9E2E15F1CA6603
      X-Msapi-Userstate:
      - 65e9
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B0B81B25C0CB4BE39D4C0563C8C42558&CID=3E742477F05D67852F9E2E15F1CA6603&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B0B81B25C0CB4BE39D4C0563C8C42558&CID=3E742477F05D67852F9E2E15F1CA6603&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=ebuy%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5179.1", "totalEstimatedMatches": 100, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=ebuy+(site%3agov+OR+site%3amil)&id=58EC6CCEB80EB4B9C61B790F9DEA8F9A532D9B50&simid=608035742674718292",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "eBuy—An online RFQ system
        that allows ordering activities to post ...", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.-g7dWT_TjcbOpctV_J7l-ADmBk&pid=Api",
        "datePublished": "2012-05-30T17:12:00.0000000Z", "contentUrl": "http:\/\/www.gsa.gov\/MASSTUDENT\/ddlevelsfiles\/images\/Slide117_1graphic.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/www.gsa.gov\/MASSTUDENT\/section8_2.html",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "8423 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.gsa.gov\/MASSTUDENT\/section8_2.html",
        "width": 230, "height": 100, "thumbnail": {"width": 230, "height": 100}, "imageInsightsToken":
        "ccid_+g7dWT\/T*mid_58EC6CCEB80EB4B9C61B790F9DEA8F9A532D9B50*simid_608035742674718292",
        "imageId": "58EC6CCEB80EB4B9C61B790F9DEA8F9A532D9B50", "accentColor": "991D20"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=ebuy+(site%3agov+OR+site%3amil)&id=E7877A3E4227D2A3141685D5B684039C3B68A3DA&simid=607989468698968622",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "eBuy screenshot: Additional
        language added to the RFQ posting in eCAT.", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.yKRYoAqizoq47u4Be4L_jQEsEA&pid=Api",
        "datePublished": "2017-03-31T03:22:00.0000000Z", "co[...]
