---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9048DD3D90BE49A589BAFAA4E55E9C9D
      X-Msedge-Clientid:
      - 193290AB6F4F6ED8090C9A2B6ED86F23
      X-Msapi-Userstate:
      - 17b6
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=CEA3998F87F84D7ABE1D068FEA6C68D4&CID=193290AB6F4F6ED8090C9A2B6ED86F23&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=CEA3998F87F84D7ABE1D068FEA6C68D4&CID=193290AB6F4F6ED8090C9A2B6ED86F23&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=agency%20(site:.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5179.1", "totalEstimatedMatches": 139, "nextOffset":
        22, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agency+(site%3a.gov)&id=54FE4C195F592753C3B52E7915BDE0B12EB4F020&simid=607988300508562112",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "Home | Agency of Agriculture
        Food & Markets", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.n2H8WHBUNea9QPI1QLupSQEsCW&pid=Api",
        "datePublished": "2017-04-28T04:50:00.0000000Z", "contentUrl": "http:\/\/agriculture.vermont.gov\/sites\/all\/images\/logo.png",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/agriculture.vermont.gov\/",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "93393 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "agriculture.vermont.gov", "width": 640, "height":
        320, "thumbnail": {"width": 300, "height": 150}, "imageInsightsToken": "ccid_n2H8WHBU*mid_54FE4C195F592753C3B52E7915BDE0B12EB4F020*simid_607988300508562112",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "54FE4C195F592753C3B52E7915BDE0B12EB4F020", "accentColor": "0F6433"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agency+(site%3a.gov)&id=71CCB524D019E7013FF256AB775B183072DA2C90&simid=608051350626567539",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "Central Intelligence Agency",
        "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.52pX5Xgc1VYmEwgmMshhkwEXBl&pid=Api",
        "datePublished": "2016-07-31T00:39:00.0000000Z", "contentUrl": "https:\/\/www.cia.gov\/library\/publicatio[...]
