---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&image.count=20&query=(ebuy)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028ebuy\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Spell":{"Total":1,"Results":[{"Value":"ebay"}]},"Image":{"Total":794,"Offset":0,"Results":[{"Title":"eBuy\u2014An
        online RFQ system that allows ordering activities to post ...","MediaUrl":"http\u003a\u002f\u002fwww.gsa.gov\u002fMASSTUDENT\u002fddlevelsfiles\u002fimages\u002fSlide117_1graphic.jpg","Url":"http\u003a\u002f\u002fwww.gsa.gov\u002fMASSTUDENT\u002fsection8_2.html","DisplayUrl":"www.gsa.gov\u002fMASSTUDENT\u002fsection8_2.html","Width":230,"Height":100,"FileSize":8423,"ContentType":"image\u002fjpeg","Thumbnail":{"Url":"http\u003a\u002f\u002fts1.mm.bing.net\u002fth\u003fid\u003dOIP.Mfa0edd593fd38dc6cea5cb55fc9ee5f8o0\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":230,"Height":100,"FileSize":4132}},{"Title":"eBuy
        Mobile Login\u007c A GSA Advantage\u0021\u00ae Application","MediaUrl":"https\u003a\u002f\u002fwww.ebuy.gsa.gov\u002fmobile\u002fimages\u002flogo.png","Url":"https\u003a\u002f\u002fwww.ebuy.gsa.gov\u002fmobile\u002flogin","DisplayUrl":"https\u003a\u002f\u002fwww.ebuy.gsa.gov\[...]
