---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&image.count=20&query=(ebuy)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028ebuy\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Spell":{"Total":1,"Results":[{"Value":"ebay"}]},"Image":{"Total":794,"Offset":0,"Results":[{"Title":"eBuy\u2014An
        online RFQ system that allows ordering activities to post ...","MediaUrl":"http\u003a\u002f\u002fwww.gsa.gov\u002fMASSTUDENT\u002fddlevelsfiles\u002fimages\u002fSlide117_1graphic.jpg","Url":"http\u003a\u002f\u002fwww.gsa.gov\u002fMASSTUDENT\u002fsection8_2.html","DisplayUrl":"www.gsa.gov\u002fMASSTUDENT\u002fsection8_2.html","Width":230,"Height":100,"FileSize":8423,"ContentType":"image\u002fjpeg","Thumbnail":{"Url":"http\u003a\u002f\u002fts1.mm.bing.net\u002fth\u003fid\u003dOIP.Mfa0edd593fd38dc6cea5cb55fc9ee5f8o0\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":230,"Height":100,"FileSize":4132}},{"Title":"eBuy
        Mobile Login\u007c A GSA Advantage\u0021\u00ae Application","MediaUrl":"https\u003a\u002f\u002fwww.ebuy.gsa.gov\u002fmobile\u002fimages\u002flogo.png","Url":"https\u003a\u002f\u002fwww.ebuy.gsa.gov\u002fmobile\u002flogin","DisplayUrl":"https\u003a\u002f\u002fwww.ebuy.gsa.gov\[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=ebuy%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3FDD3BA7A4814C30B7CB3074602B4F01
      X-Msedge-Clientid:
      - 234A28E344A16BB83D3822FD45366A69
      X-Msapi-Userstate:
      - 1a4c
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9DB04DCE13004F4BBE1C8D7DC03D4E42&CID=234A28E344A16BB83D3822FD45366A69&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9DB04DCE13004F4BBE1C8D7DC03D4E42&CID=234A28E344A16BB83D3822FD45366A69&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=ebuy%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5161.1", "totalEstimatedMatches": 100, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=ebuy+(site%3agov+OR+site%3amil)&id=58EC6CCEB80EB4B9C61B790F9DEA8F9A532D9B50&simid=608035742591946422",
        "webSearchUrlPingSuffix": "DevEx,5006.1", "name": "eBuy—An online RFQ system
        that allows ordering activities to post ...", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.Mfa0edd593fd38dc6cea5cb55fc9ee5f8o0&pid=Api",
        "datePublished": "2012-05-30T17:12:00.0000000Z", "contentUrl": "http:\/\/www.gsa.gov\/MASSTUDENT\/ddlevelsfiles\/images\/Slide117_1graphic.jpg",
        "contentUrlPingSuffix": "DevEx,5008.1", "hostPageUrl": "http:\/\/www.gsa.gov\/MASSTUDENT\/section8_2.html",
        "hostPageUrlPingSuffix": "DevEx,5007.1", "contentSize": "8423 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.gsa.gov\/MASSTUDENT\/section8_2.html",
        "width": 230, "height": 100, "thumbnail": {"width": 230, "height": 100}, "imageInsightsToken":
        "ccid_+g7dWT\/T*mid_58EC6CCEB80EB4B9C61B790F9DEA8F9A532D9B50*simid_608035742591946422",
        "imageId": "58EC6CCEB80EB4B9C61B790F9DEA8F9A532D9B50", "accentColor": "991D20"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=ebuy+(site%3agov+OR+site%3amil)&id=4031B19181EBE4FECF564846CB656C3CDC38834F&simid=608000588285870718",
        "webSearchUrlPingSuffix": "DevEx,5012.1", "name": "Ebay foundation logo",
        "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.M6f7b48a8942f7d069c5369d39ac0bd36o0&pid=Api",
        "datePublished": "2013-04-01T15:55:00.0000000Z", "contentUrl": "http:\/\/www.sanjoseca.gov\/i[...]
