---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=ebuy%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7E6E8E83449E4E1D9F101515B1371FF2
      X-Msedge-Clientid:
      - '009B657D6AA6674516CF6EE36B436676'
      X-Msapi-Userstate:
      - 5ff2
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C896640762DC4199A42B5D35527A7D41&CID=009B657D6AA6674516CF6EE36B436676&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C896640762DC4199A42B5D35527A7D41&CID=009B657D6AA6674516CF6EE36B436676&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=ebuy%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5186.1", "totalEstimatedMatches": 100, "nextOffset":
        22, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=ebuy+(site%3agov+OR+site%3amil)&id=EA5D7B40F78384BE84A4DA32759E663760D93DF2&simid=608011798953198062",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "GSS Scientific Catalog
        Moved to the eBuy Marketplace", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.LcL9lFifRf2L1aWU2k55FAHaEv&pid=Api",
        "datePublished": "2015-10-22T12:00:00.0000000Z", "contentUrl": "http:\/\/procurement.lbl.gov\/wp-content\/uploads\/sites\/4\/2015\/07\/eBuy_logo.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/procurement.lbl.gov\/2015\/10\/22\/gss-scientific-catalog-moving-to-the-ebuy-marketplace\/",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "29328 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "procurement.lbl.gov\/2015\/10\/22\/gss-scientific-catalog-moving-to-the...",
        "width": 340, "height": 218, "thumbnail": {"width": 474, "height": 303}, "imageInsightsToken":
        "ccid_LcL9lFif*mid_EA5D7B40F78384BE84A4DA32759E663760D93DF2*simid_608011798953198062",
        "imageId": "EA5D7B40F78384BE84A4DA32759E663760D93DF2", "accentColor": "044262"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=ebuy+(site%3agov+OR+site%3amil)&id=76BE68A253BBCBD8726FB4C2902890AE602E364A&simid=608002586241731591",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "Training for eBuy Users",
        "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.SYYvHPbWR80qphe16zOQWwAAAA&pid=Api",
        "datePublished": "2014-07-25T16:46:00.0000000Z", "contentUrl": "http:\/\/procurement.lbl.gov\/wp-co[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=ebuy%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C503FC65DB9D40DF86B5[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/search?count=20&mkt=en-US&offset=0&q=ebuy%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1D5D8767967047A7B76A4BDD2B9DF83C
      X-Msedge-Clientid:
      - 28DDA502566F6ED90B84A9F857236F51
      X-Msapi-Userstate:
      - 684a
      X-Search-Responseinfo:
      - InternalResponseTime=256,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "images\/search?q=ebuy (site:gov OR site:mil)", "webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?q=ebuy (site:gov OR site:mil)&FORM=OIIARP",
        "queryContext": {"originalQuery": "ebuy (site:gov OR site:mil)", "alterationDisplayQuery":
        "ebay (site:gov | site:mil)", "alterationOverrideQuery": "+ebuy (site:gov
        OR site:mil)", "alterationMethod": "AM_ChangeItWithRecourse", "alterationType":
        "CombinedAlterationsChained"}, "totalEstimatedMatches": 100, "nextOffset":
        24, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=ebuy+(site%3agov+OR+site%3amil)&id=D755F20EC02D69649F525D144B27FFD476316A8F&simid=608028318120217166",
        "name": "RFQ | Interact", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.qTu4IX4WvIJNrxBBZNWecQHaEh&pid=Api",
        "datePublished": "2012-12-24T21:12:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "https:\/\/interact.gsa.gov\/sites\/default\/files\/img_3.png",
        "hostPageUrl": "https:\/\/interact.gsa.gov\/tag\/rfq", "contentSize": "101683
        B", "encodingFormat": "png", "hostPageDisplayUrl": "https:\/\/interact.gsa.gov\/tag\/rfq",
        "width": 596, "height": 364, "hostPageFavIconUrl": "\/th?id=AR_91f1186ade0d289558b9c22e4ec9864e&pid=Api",
        "thumbnail": {"width": 474, "height": 289}, "imageInsightsToken": "ccid_qTu4IX4W*mid_D755F20EC02D69649F525D144B27FFD476316A8F*simid_608028318120217166*thid_OIP.qTu4IX4WvIJNrxBBZNWecQHaEh",
        "insightsMetadata": {"recipeSourcesCount": 0, "bestRepresentativeQuery": {"text":
        "GSA Small Business Set Aside", "displayText": "GSA Small Business Set Aside",
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=GSA+Small+Business+Set+Aside&id=D755F20EC02D69649F525D144B27FFD476316A8F&FORM=IDBQDM"},
        "pagesIncludingCount": 1, "availableSizesCount": 1}, "imageId": "D755F20EC02D69649F525D144B27FFD476316A8F",
        "accentColor": "076497"}, {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=ebuy+(site%3agov+OR+site%3amil)&id=78AB44022062A132F042A4780942A066A264D006&simid=608026003126423172",
        "name": "EDGAR Filing Documents for 0001065088-17-000007", "thumbnailUrl":
        "https:\/\/tse2.mm.bing.net\/th?id=OIP.qMAWv3g2Ttw1gZFXcQ60ewHaDW&pid=Api",
        "datePublished": "2018-06-03T17:04:00.00000[...]
