---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D678591ADA8A4890ABC5CBD3490FC749
      X-Msedge-Clientid:
      - 3FB3BB873809690A23BAB00139A66845
      X-Msapi-Userstate:
      - 5bce
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B1E649655F57463E86E8048BBB731454&CID=3FB3BB873809690A23BAB00139A66845&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B1E649655F57463E86E8048BBB731454&CID=3FB3BB873809690A23BAB00139A66845&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=agency%20(site:.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5186.1", "totalEstimatedMatches": 139, "nextOffset":
        23, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agency+(site%3a.gov)&id=59BD18C177DAEBB45423661BD50E5A393E490EF4&simid=608046261646918852",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "Examples of Conditions
        for Agency Funding", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.92w6Z3hyTU1aAgir0IHB8AHaDt&pid=Api",
        "datePublished": "2017-02-27T15:01:00.0000000Z", "contentUrl": "http:\/\/labs.council.nyc\/budget\/wp-content\/uploads\/sites\/54\/2016\/06\/agency_funding_conditions.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/council.nyc.gov\/budget\/agency-funding-conditions\/",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "173458 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "council.nyc.gov\/budget\/agency-funding-conditions",
        "width": 1024, "height": 512, "thumbnail": {"width": 474, "height": 237},
        "imageInsightsToken": "ccid_92w6Z3hy*mid_59BD18C177DAEBB45423661BD50E5A393E490EF4*simid_608046261646918852",
        "imageId": "59BD18C177DAEBB45423661BD50E5A393E490EF4", "accentColor": "CA2B01"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agency+(site%3a.gov)&id=50A1E774D920B1433DC515F52D666247C49D4A08&simid=608029622957572421",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "Resources - Arizona Commission
        on the Arts", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.8SI7rcoHXnYmNpRPDXOEsQEsDE&pid=Api",
        "datePublished": "2015-04-26T02:04:00.0000000Z", "contentUrl": "http:\/\/azarts.gov\/wp-con[...]
