---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - AE45876ABFCB4D0CACA8BB26ABFE166D
      X-Msedge-Clientid:
      - 355B7CD9122C67A4310370811323665B
      X-Msapi-Userstate:
      - b1bd
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8BA8E9B0BDF34844B9081F5F259786AF&CID=355B7CD9122C67A4310370811323665B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8BA8E9B0BDF34844B9081F5F259786AF&CID=355B7CD9122C67A4310370811323665B&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=agency%20(site:.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5186.1", "totalEstimatedMatches": 141, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agency+(site%3a.gov)&id=8606E17DA87292877A6D53FF4A90214F45187085&simid=608047761116695486",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "Chinle Agency | Indian
        Affairs", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.wKVzsaqtJhIwZL989kEKFAHaFu&pid=Api",
        "datePublished": "2018-06-23T21:56:00.0000000Z", "contentUrl": "https:\/\/www.bia.gov\/sites\/bia.gov\/files\/assets\/public\/jpg\/idc1-027058.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "https:\/\/www.bia.gov\/regional-offices\/navajo\/chinle-agency",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "223543 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.bia.gov\/regional-offices\/navajo\/chinle-agency",
        "width": 1056, "height": 816, "thumbnail": {"width": 474, "height": 366},
        "imageInsightsToken": "ccid_wKVzsaqt*mid_8606E17DA87292877A6D53FF4A90214F45187085*simid_608047761116695486",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "8606E17DA87292877A6D53FF4A90214F45187085", "accentColor": "6D4388"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agency+(site%3a.gov)&id=DD5FBF51CD60E9D96CE27609626A6CFC8814A9E0&simid=608005301063254886",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "Global Food Security-Support
        Analysis Data at 30 m", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.7a7CYRl7s7pBScKjC_ldPQHaBg&pid=Api",
        "datePublished": "2018-07-16T20:45:00.0000000Z", "contentUrl": "http:\/\/www.eea.eu[...]
