---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&image.count=20&query=(agency)%20language:en%20(site:.gov)&sources=Spell%20Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028agency\u0029
        language\u003aen \u0028site\u003a.gov\u0029"},"Image":{"Total":19500,"Offset":0,"Results":[{"Title":"Home
        \u007c Agency of Agriculture Food \u0026 Markets","MediaUrl":"http\u003a\u002f\u002fagriculture.vermont.gov\u002fsites\u002fall\u002fimages\u002flogo.png","Url":"http\u003a\u002f\u002fagriculture.vermont.gov\u002f","DisplayUrl":"agriculture.vermont.gov","Width":640,"Height":320,"FileSize":93393,"ContentType":"image\u002fpng","Thumbnail":{"Url":"http\u003a\u002f\u002fts2.mm.bing.net\u002fth\u003fid\u003dOIP.M9f61fc58705435e6bd40f23540bba949o0\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":300,"Height":150,"FileSize":7547}},{"Title":"AGENCY
        INFORMATION","MediaUrl":"https\u003a\u002f\u002fwww.ok.gov\u002fodc\u002fimages\u002fagency1.jpg","Url":"https\u003a\u002f\u002fwww.ok.gov\u002fodc\u002fAbout_ODC\u002f","DisplayUrl":"https\u003a\u002f\u002fwww.ok.gov\u002fodc\u002fAbout_ODC","Width":490,"Height":406,"FileS[...]
