---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - EC71E8301F40455985887595A9BA8598
      X-Msedge-Clientid:
      - 2B0D02876172680107B908E560E569E3
      X-Msapi-Userstate:
      - 762b
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E0C8B21FB65047B8A93EE982CC2D532C&CID=2B0D02876172680107B908E560E569E3&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E0C8B21FB65047B8A93EE982CC2D532C&CID=2B0D02876172680107B908E560E569E3&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=agency%20(site:.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5179.1", "totalEstimatedMatches": 126, "nextOffset":
        22, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agency+(site%3a.gov)&id=54FE4C195F592753C3B52E7915BDE0B12EB4F020&simid=607988300463604445",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "Home | Agency of Agriculture
        Food & Markets", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.n2H8WHBUNea9QPI1QLupSQEsCW&pid=Api",
        "datePublished": "2017-01-27T19:10:00.0000000Z", "contentUrl": "http:\/\/agriculture.vermont.gov\/sites\/all\/images\/logo.png",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/agriculture.vermont.gov\/",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "93393 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "agriculture.vermont.gov", "width": 640, "height":
        320, "thumbnail": {"width": 300, "height": 150}, "imageInsightsToken": "ccid_n2H8WHBU*mid_54FE4C195F592753C3B52E7915BDE0B12EB4F020*simid_607988300463604445",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "54FE4C195F592753C3B52E7915BDE0B12EB4F020", "accentColor": "0F6433"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agency+(site%3a.gov)&id=0B0A13BF7EC5C9BCC1859A756256F00EA395BE81&simid=608032096251610780",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "AGENCY INFORMATION", "thumbnailUrl":
        "https:\/\/tse3.mm.bing.net\/th?id=OIP.-jkoX7RrSHTuaVEEdXBuAQEsD4&pid=Api",
        "datePublished": "2016-01-01T01:00:00.0000000Z", "contentUrl": "https:\/\/www.ok.gov\/odc\/images\/agency1.jpg",
  [...]
