---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - FEEC214AA96242CDB8E2101DAC9FB573
      X-Msedge-Clientid:
      - 0D4E3F2A820363262536346D8394627B
      X-Msapi-Userstate:
      - d5db
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=18558C6321B240DA8428DAACEDC201E1&CID=0D4E3F2A820363262536346D8394627B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=18558C6321B240DA8428DAACEDC201E1&CID=0D4E3F2A820363262536346D8394627B&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=agency%20(site:.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5184.1", "totalEstimatedMatches": 127, "nextOffset":
        23, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agency+(site%3a.gov)&id=50A1E774D920B1433DC5CE7369889709B12C71EA&simid=608006357015005173",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "Resources - Arizona Commission
        on the Arts", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.hGpTizLnNBJhlrZdbHYkmgEsDE&pid=Api",
        "datePublished": "2015-04-26T02:04:00.0000000Z", "contentUrl": "http:\/\/azarts.gov\/wp-content\/uploads\/2015\/02\/agencypubs.png",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/azarts.gov\/resources\/",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "4917 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "azarts.gov\/resources", "width": 320, "height":
        210, "thumbnail": {"width": 300, "height": 196}, "imageInsightsToken": "ccid_hGpTizLn*mid_50A1E774D920B1433DC5CE7369889709B12C71EA*simid_608006357015005173",
        "imageId": "50A1E774D920B1433DC5CE7369889709B12C71EA", "accentColor": "003F51"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agency+(site%3a.gov)&id=71CCB524D019E7013FF256AB775B183072DA2C90&simid=608051351070114732",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "The World Factbook", "thumbnailUrl":
        "https:\/\/tse1.mm.bing.net\/th?id=OIP.52pX5Xgc1VYmEwgmMshhkwEXBl&pid=Api",
        "datePublished": "2016-07-31T00:39:00.0000000Z", "contentUrl": "https:\/\/www.cia.gov\/library\/publications\/the-world-factbook\/images\/logo.png",
        "contentUrlPingSuffix": "DevEx,5033.1", "hostPageUrl": "https:\/\/www.cia.gov\/library\/publications\/the-world-factbook\/",
        "hostPageUrlPingSuffix": "DevEx,5032.1", "contentSize": "25816 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "https:\/\/www.cia.gov\/library\/publications\/the-world-factbook",
        "width": 279, "height": 101, "thumbnail": {"width": 279, "height": 101}, "imageInsightsToken":
        "ccid_52pX5Xgc*mid_71CCB524D019E7013FF256AB775B183072DA2C90*simid_608051351070114732",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "71CCB524D019E7013FF256AB775B183072DA2C90", "accentColor": "C1990A"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agency+(site%3a.gov)&id=59BD18C177DAEBB45423661BD50E5A393E490EF4&simid=608046261536950430",
        "webSearchUrlPingSuffix": "DevEx,5037.1", "name": "Examples of Conditions
        for Agency Funding", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.92w6Z3hyTU1aAgir0IHB8AFhCw&pid=Api",
        "datePubli[...]
