---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&image.count=20&query=%28ebuy%29+language%3Aen+%28scopeid%3Ausagovall+OR+site%3Agov+OR+site%3Amil%29&sources=Spell+Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028ebuy\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Spell":{"Total":1,"Results":[{"Value":"ebay"}]},"Image":{"Total":1050,"Offset":0,"Results":[{"Title":"Learn
        About the eBuy Marketplace","MediaUrl":"http\u003a\u002f\u002f195btg24tntqgx3fw3l7rc71.wpengine.netdna-cdn.com\u002fwp-content\u002fuploads\u002fsites\u002f4\u002f2015\u002f07\u002feBuy_logo.jpg","Url":"http\u003a\u002f\u002fprocurement.lbl.gov\u002f2015\u002f08\u002f05\u002flearn-about-the-ebuy-marketplace\u002f","DisplayUrl":"procurement.lbl.gov\u002f2015\u002f08\u002f05\u002flearn-about-the-ebuy-marketplace","Width":340,"Height":218,"FileSize":29328,"ContentType":"image\u002fjpeg","Thumbnail":{"Url":"http\u003a\u002f\u002fts1.mm.bing.net\u002fth\u003fid\u003dOIP.M2dc2fd94589f45fd8bd5a594da4e7914o0\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":300,"Height":192,"FileSize":8219}},{"Title":"eBuy\u2014An
        online RFQ system that allows ordering activities to post ...","MediaUrl":"http\u003a\u002f\u002fwww.gsa.gov\u002fMASSTUDENT\u002fddlevelsfiles\u002fimages\u002fSlide117_1graphic.jpg","Url":"http\u003a\u002f\u002fgsa.gov\u002fmasstudent\u002fsection8_2.html","DisplayU[...]
