---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9E7E8DE28DE949E187AAB08D98A7099F
      X-Msedge-Clientid:
      - 240FC8C6880A6F9C3069C3CE899D6E18
      X-Msapi-Userstate:
      - '7129'
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=519501A94A9845BE8BE08328856D7B4E&CID=240FC8C6880A6F9C3069C3CE899D6E18&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=519501A94A9845BE8BE08328856D7B4E&CID=240FC8C6880A6F9C3069C3CE899D6E18&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=agency%20(site:.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5182.1", "totalEstimatedMatches": 140, "nextOffset":
        22, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agency+(site%3a.gov)&id=50A1E774D920B1433DC5CE7369889709B12C71EA&simid=608006356838124551",
        "webSearchUrlPingSuffix": "DevEx,5023.1", "name": "Resources - Arizona Commission
        on the Arts", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.hGpTizLnNBJhlrZdbHYkmgEsDE&pid=Api",
        "datePublished": "2015-04-26T02:04:00.0000000Z", "contentUrl": "http:\/\/azarts.gov\/wp-content\/uploads\/2015\/02\/agencypubs.png",
        "contentUrlPingSuffix": "DevEx,5025.1", "hostPageUrl": "http:\/\/azarts.gov\/resources\/",
        "hostPageUrlPingSuffix": "DevEx,5024.1", "contentSize": "4917 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "azarts.gov\/resources", "width": 320, "height":
        210, "thumbnail": {"width": 300, "height": 196}, "imageInsightsToken": "ccid_hGpTizLn*mid_50A1E774D920B1433DC5CE7369889709B12C71EA*simid_608006356838124551",
        "imageId": "50A1E774D920B1433DC5CE7369889709B12C71EA", "accentColor": "003F51"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agency+(site%3a.gov)&id=854258969E53EE5BD6CEBB18060F72B8AB7FC30A&simid=608056195626175030",
        "webSearchUrlPingSuffix": "DevEx,5029.1", "name": "Agencies | GlobalChange.gov",
        "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.QSnOvjcYqWJe_lyUTbHKvQDcDc&pid=Api",
        "datePublished": "2017-06-29T21:45:00.0000000Z", "contentUrl": "http:\/\/www.globalchange.gov\/sites\/glob[...]
