---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E02465F23D384E37918CACCFF28E7CA0
      X-Msedge-Clientid:
      - 0DD30A03F3436EC831A6018FF2EC6F9A
      X-Msapi-Userstate:
      - f80b
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F8E1E233CAFE476394E2D4F6A9EB337D&CID=0DD30A03F3436EC831A6018FF2EC6F9A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F8E1E233CAFE476394E2D4F6A9EB337D&CID=0DD30A03F3436EC831A6018FF2EC6F9A&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=agency%20(site:.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5186.1", "totalEstimatedMatches": 137, "nextOffset":
        22, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agency+(site%3a.gov)&id=50A1E774D920B1433DC515F52D666247C49D4A08&simid=608029622975530740",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "Resources - Arizona Commission
        on the Arts", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.8SI7rcoHXnYmNpRPDXOEsQAAAA&pid=Api",
        "datePublished": "2015-04-26T02:04:00.0000000Z", "contentUrl": "http:\/\/azarts.gov\/wp-content\/uploads\/2015\/02\/agencynletter.png",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/azarts.gov\/resources\/",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "4577 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "azarts.gov\/resources", "width": 320, "height":
        210, "thumbnail": {"width": 320, "height": 210}, "imageInsightsToken": "ccid_8SI7rcoH*mid_50A1E774D920B1433DC515F52D666247C49D4A08*simid_608029622975530740",
        "imageId": "50A1E774D920B1433DC515F52D666247C49D4A08", "accentColor": "3E0617"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agency+(site%3a.gov)&id=59BD18C177DAEBB45423661BD50E5A393E490EF4&simid=608046261669137814",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "Examples of Conditions
        for Agency Funding", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.92w6Z3hyTU1aAgir0IHB8AHaDt&pid=Api",
        "datePublished": "2017-02-27T15:01:00.0000000Z", "contentUrl": "http:\/\/labs.council.nyc\/b[...]
