---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=ebuy%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - CDF46E17234540A9A9ADA73FCCFDB0D0
      X-Msedge-Clientid:
      - 24EAD0462AF960A11D82DA852B6E61EE
      X-Msapi-Userstate:
      - f6bd
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=98294C23104F444BB2DB959C1093833D&CID=24EAD0462AF960A11D82DA852B6E61EE&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=98294C23104F444BB2DB959C1093833D&CID=24EAD0462AF960A11D82DA852B6E61EE&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=ebuy%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5181.1", "totalEstimatedMatches": 102, "nextOffset":
        23, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=ebuy+(site%3agov+OR+site%3amil)&id=58EC6CCEB80EB4B9C61B790F9DEA8F9A532D9B50&simid=608035742869095329",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "eBuy—An online RFQ system
        that allows ordering activities to post ...", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.-g7dWT_TjcbOpctV_J7l-ADmBk&pid=Api",
        "datePublished": "2012-05-30T17:12:00.0000000Z", "contentUrl": "http:\/\/www.gsa.gov\/MASSTUDENT\/ddlevelsfiles\/images\/Slide117_1graphic.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/www.gsa.gov\/MASSTUDENT\/section8_2.html",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "8423 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.gsa.gov\/MASSTUDENT\/section8_2.html",
        "width": 230, "height": 100, "thumbnail": {"width": 230, "height": 100}, "imageInsightsToken":
        "ccid_+g7dWT\/T*mid_58EC6CCEB80EB4B9C61B790F9DEA8F9A532D9B50*simid_608035742869095329",
        "imageId": "58EC6CCEB80EB4B9C61B790F9DEA8F9A532D9B50", "accentColor": "991D20"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=ebuy+(site%3agov+OR+site%3amil)&id=EA5D7B40F78384BE84A4DA32759E663760D93DF2&simid=608011798409578077",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "... can now be found in
        the new ebuy marketplace the go to ebuy button", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.LcL9lFifRf2L1aWU2k55FAEsDA&pid=Api",
        "datePublished": "2015-10-22T12:00:00.0000000Z", "co[...]
