---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=ebuy%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9FFE9F25D5AE4128BD262F3B8100F152
      X-Msedge-Clientid:
      - 27E8CD33233F6019326AC702220E61F6
      X-Msapi-Userstate:
      - baf7
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=68B1B01EB4284BE0A6C042D0509AEEE2&CID=27E8CD33233F6019326AC702220E61F6&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=68B1B01EB4284BE0A6C042D0509AEEE2&CID=27E8CD33233F6019326AC702220E61F6&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=ebuy%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5161.1", "totalEstimatedMatches": 100, "nextOffset":
        20, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=ebuy+(site%3agov+OR+site%3amil)&id=58EC6CCEB80EB4B9C61B790F9DEA8F9A532D9B50&simid=608035742612983454",
        "webSearchUrlPingSuffix": "DevEx,5006.1", "name": "eBuy—An online RFQ system
        that allows ordering activities to post ...", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.Mfa0edd593fd38dc6cea5cb55fc9ee5f8o0&pid=Api",
        "datePublished": "2012-05-30T17:12:00.0000000Z", "contentUrl": "http:\/\/www.gsa.gov\/MASSTUDENT\/ddlevelsfiles\/images\/Slide117_1graphic.jpg",
        "contentUrlPingSuffix": "DevEx,5008.1", "hostPageUrl": "http:\/\/www.gsa.gov\/MASSTUDENT\/section8_2.html",
        "hostPageUrlPingSuffix": "DevEx,5007.1", "contentSize": "8423 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.gsa.gov\/MASSTUDENT\/section8_2.html",
        "width": 230, "height": 100, "thumbnail": {"width": 230, "height": 100}, "imageInsightsToken":
        "ccid_+g7dWT\/T*mid_58EC6CCEB80EB4B9C61B790F9DEA8F9A532D9B50*simid_608035742612983454",
        "imageId": "58EC6CCEB80EB4B9C61B790F9DEA8F9A532D9B50", "accentColor": "991D20"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=ebuy+(site%3agov+OR+site%3amil)&id=764085BE6AA85BD08F79EEEACA81DA18FBDE83F7&simid=608022548484853692",
        "webSearchUrlPingSuffix": "DevEx,5012.1", "name": "eBuy Mobile Login| A GSA
        Advantage!® Application", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.JEXGrwt87UUUt7oj_4CJmwBwAj&pid=Api",
        "datePublished": "2013-03-15T13:57:00.0000000Z", "contentUrl": "https:\/\/www.ebuy.gsa.gov\/mobile\/images\/logo.png",
        "contentUrlPingSuffix": "DevEx,5014.1", "hostPageUrl": "https:\/\/www.ebuy.gsa.gov\/mobile\/login",
        "hostPageUrlPingSuffix": "DevEx,5013.1", "contentSize": "2222 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "https:\/\/www.ebuy.gsa.gov\/mobile\/login",
        "width": 112, "height": 35, "thumbnail": {"width": 112, "height": 35}, "imageInsightsToken":
        "ccid_JEXGrwt8*mid_764085BE6AA85BD08F79EEEACA81DA18FBDE83F7*simid_608022548484853692",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "764085BE6AA85BD08F79EEEACA81DA18FBDE83F7", "accentColor": "033365"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=ebuy+(site%3agov+OR+site%3amil)&id=898185EDDFBE0D254AA45D144B27FFD476316A8F&simid=608023845558292096",
        "webSearchUrlPingSuffix": "DevEx,5018.1", "name": "eBuy screenshot: What happens
        when you select a set-aside from the ...", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.Ma93bb8217e16bc[...]
