---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&image.count=20&query=%28agency%29+language%3Aen+%28site%3A.gov%29&sources=Spell+Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028agency\u0029
        language\u003aen \u0028site\u003a.gov\u0029"},"Image":{"Total":16200,"Offset":0,"Results":[{"Title":"Home
        \u007c Federal Housing Finance Agency","MediaUrl":"http\u003a\u002f\u002fwww.fhfa.gov\u002fSiteAssets\u002fFHFA\u002fimages\u002flogoEmbargo.png","Url":"http\u003a\u002f\u002ffhfa.gov","DisplayUrl":"fhfa.gov","Width":134,"Height":133,"FileSize":15665,"ContentType":"image\u002fpng","Thumbnail":{"Url":"http\u003a\u002f\u002fts1.mm.bing.net\u002fth\u003fid\u003dOIP.M4545cbe99c1c56ba26fe9d1ca01a8727H0\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":134,"Height":133,"FileSize":7728}},{"Title":"AGENCY
        INFORMATION","MediaUrl":"http\u003a\u002f\u002fwww.ok.gov\u002fodc\u002fimages\u002fagency1.jpg","Url":"http\u003a\u002f\u002fok.gov\u002fodc\u002fabout_odc","DisplayUrl":"ok.gov\u002fodc\u002fabout_odc","Width":490,"Height":406,"FileSize":16774,"ContentType":"image\u002fjp[...]
