---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D0E0DB6B9F70431897C476E323959293
      X-Msedge-Clientid:
      - 1098975E78BA643E11099CC0795F65AD
      X-Msapi-Userstate:
      - afa5
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F6C629B2EDBC4311ABA2358DF1511E94&CID=1098975E78BA643E11099CC0795F65AD&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F6C629B2EDBC4311ABA2358DF1511E94&CID=1098975E78BA643E11099CC0795F65AD&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=agency%20(site:.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5186.1", "totalEstimatedMatches": 136, "nextOffset":
        22, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agency+(site%3a.gov)&id=50A1E774D920B1433DC515F52D666247C49D4A08&simid=608029623032679322",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "Resources - Arizona Commission
        on the Arts", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.8SI7rcoHXnYmNpRPDXOEsQAAAA&pid=Api",
        "datePublished": "2015-04-26T02:04:00.0000000Z", "contentUrl": "http:\/\/azarts.gov\/wp-content\/uploads\/2015\/02\/agencynletter.png",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/azarts.gov\/resources\/",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "4577 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "azarts.gov\/resources", "width": 320, "height":
        210, "thumbnail": {"width": 320, "height": 210}, "imageInsightsToken": "ccid_8SI7rcoH*mid_50A1E774D920B1433DC515F52D666247C49D4A08*simid_608029623032679322",
        "imageId": "50A1E774D920B1433DC515F52D666247C49D4A08", "accentColor": "3E0617"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agency+(site%3a.gov)&id=50A1E774D920B1433DC557D44701C94446FDF88D&simid=608018958607515937",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "Resources - Arizona Commission
        on the Arts", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.AYhoOBqyE5H9y8yswMldkwAAAA&pid=Api",
        "datePublished": "2017-08-11T07:11:00.0000000Z", "contentUrl": "http:\/\/azarts.gov\/wp-con[...]
