---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/search?count=20&mkt=en-US&offset=0&q=ebuy%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - F92CF1CACF0B4C77933E4B41CF3F5349
      X-Msedge-Clientid:
      - 22185ADDFF3564CF21184A76FE856587
      X-Msapi-Userstate:
      - '3916'
      X-Search-Responseinfo:
      - InternalResponseTime=223,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "images\/search?q=ebuy (site:gov OR site:mil)", "webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?q=ebuy (site:gov OR site:mil)&FORM=OIIARP",
        "queryContext": {"originalQuery": "ebuy (site:gov OR site:mil)", "alterationDisplayQuery":
        "ebuy", "alterationOverrideQuery": "+ebuy (site:gov OR site:mil)", "alterationMethod":
        "AM_JustChangeIt", "alterationType": "CombinedAlterationsChained"}, "totalEstimatedMatches":
        101, "nextOffset": 21, "currentOffset": 0, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=ebuy+(site%3agov+OR+site%3amil)&id=764085BE6AA85BD08F79EEEACA81DA18FBDE83F7&simid=608022547250491522",
        "name": "eBuy Mobile Login| A GSA Advantage!® Application", "thumbnailUrl":
        "https:\/\/tse2.mm.bing.net\/th?id=OIP.JEXGrwt87UUUt7oj_4CJmwAAAA&pid=Api",
        "datePublished": "2013-03-15T13:57:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "https:\/\/www.ebuy.gsa.gov\/mobile\/images\/logo.png", "hostPageUrl":
        "https:\/\/www.ebuy.gsa.gov\/mobile\/login", "contentSize": "2222 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "https:\/\/www.ebuy.gsa.gov\/mobile\/login",
        "width": 112, "height": 35, "hostPageFavIconUrl": "https:\/\/www.bing.com\/th?id=ODF.ZzPh3lIs-31s_MuWD7SEWA&pid=Api",
        "hostPageDiscoveredDate": "2013-03-15T13:57:00.0000000Z", "thumbnail": {"width":
        112, "height": 35}, "imageInsightsToken": "ccid_JEXGrwt8*cp_9C14F26AB2B081A7D669BAC85A71B8A6*mid_764085BE6AA85BD08F79EEEACA81DA18FBDE83F7*simid_608022547250491522*thid_OIP.JEXGrwt87UUUt7oj!_4CJmwAAAA",
        "insightsMetadata": {"recipeSourcesCount": 0, "pagesIncludingCount": 1, "availableSizesCount":
        1}, "imageId": "764085BE6AA85BD08F79EEEACA81DA18FBDE83F7", "accentColor":
        "033365"}, {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=ebuy+(site%3agov+OR+site%3amil)&id=639D25169E889BC189D8DA32759E663760D93DF2&simid=607995093819215179",
        "name": "GSS Scientific Catalog Moved to the eBuy Marketplace", "thumbnailUrl":
        "https:\/\/tse4.mm.bing.net\/th?id=OIP.LcL9lFifRf2L1aWU2k55FAHaEv&pid=Api",
        "datePublished": "2015-10-22T12:00:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "http:\/\/procurement.lbl.gov\/wp-content\/uploads\/sites\/4\/2015\/07\/eBuy_logo.jpg",
        "hostPageUrl": "https:\/\/procurement.lbl.gov\/2015\/10\/22\/gss-scientific-catalog-moving-to-the-ebuy-marketplace\/",
        "contentSize": "29328 B", "encodingFormat": "jpeg", "hostPageDisplayUrl":
        "https:\/\/procurement.lbl.gov\/2015\/10\/22\/gss-scientific-catalog-moving-to-the-ebuy...",
        "width": 340, "height": 218, "hostPageFavIconUrl": "https:\/\/www.bing.com\/th?id=ODF.3idoNzhdRvg4NumTuoJ9XQ&pid=Api",
        "hostPageDomainFriendlyName": "Lawrence Berkeley National Laboratory", "hostPageDiscoveredDate":
        "2015-10-22T12:00:00.0000000Z", "thumbnail": {"width": 474, "height": 303},
        "imageInsightsToken": "ccid_LcL9lFif*cp_128598C23BE691D8888C3115DEA66741*mid_639D25169E889BC189D8DA32759E663760D93DF2*simid_607995093819215179*thid_OIP.LcL9lFifRf2L1aWU2k55FAHaEv",
        "insightsMetadata": {"recipeSourcesCount": 0, "pagesIncludingCount": 5, "availableSizesCount":
        2}, "imageId": "639D25169E889BC189D8DA32759E6637[...]
