---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B1FC82B773FA4B02A82D9CEF3F429B4C
      X-Msedge-Clientid:
      - 2349AB05C9C96DE1222BA134C8F86C2C
      X-Msapi-Userstate:
      - e84e
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D01D1B0B7B894E86A7EAEACB79F17933&CID=2349AB05C9C96DE1222BA134C8F86C2C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D01D1B0B7B894E86A7EAEACB79F17933&CID=2349AB05C9C96DE1222BA134C8F86C2C&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=agency%20(site:.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5161.1", "totalEstimatedMatches": 135, "nextOffset":
        22, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agency+(site%3a.gov)&id=54FE4C195F592753C3B52E7915BDE0B12EB4F020&simid=607988300402000499",
        "webSearchUrlPingSuffix": "DevEx,5006.1", "name": "Home | Agency of Agriculture
        Food & Markets", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.n2H8WHBUNea9QPI1QLupSQEsCW&pid=Api",
        "datePublished": "2017-01-21T05:48:00.0000000Z", "contentUrl": "http:\/\/agriculture.vermont.gov\/sites\/all\/images\/logo.png",
        "contentUrlPingSuffix": "DevEx,5008.1", "hostPageUrl": "http:\/\/agriculture.vermont.gov\/",
        "hostPageUrlPingSuffix": "DevEx,5007.1", "contentSize": "93393 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "agriculture.vermont.gov", "width": 640, "height":
        320, "thumbnail": {"width": 300, "height": 150}, "imageInsightsToken": "ccid_n2H8WHBU*mid_54FE4C195F592753C3B52E7915BDE0B12EB4F020*simid_607988300402000499",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "54FE4C195F592753C3B52E7915BDE0B12EB4F020", "accentColor": "0F6433"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agency+(site%3a.gov)&id=5D650F11B670912DA49FB5C6FF1A8243EBA6BF9C&simid=608019473280010249",
        "webSearchUrlPingSuffix": "DevEx,5012.1", "name": "AGENCY INFORMATION", "thumbnailUrl":
        "https:\/\/tse3.mm.bing.net\/th?id=OIP.-jkoX7RrSHTuaVEEdXBuAQEsD4&pid=Api",
        "datePublished": "2011-01-28T03:45:00.0000000Z", "contentUrl": "http:\/\/www.ok.gov\/odc\/images\/agency1.jpg",
   [...]
