---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=barcelona%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D1A68B20232843739F99B0B8207DA1EB
      X-Msedge-Clientid:
      - 05E0F74E19DB61EA2C1DFDF1184C601B
      X-Msapi-Userstate:
      - f7bb
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=56DDAA5730BC44A29B11954CA98CA4FF&CID=05E0F74E19DB61EA2C1DFDF1184C601B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=56DDAA5730BC44A29B11954CA98CA4FF&CID=05E0F74E19DB61EA2C1DFDF1184C601B&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=barcelona%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5183.1", "totalEstimatedMatches": 102, "nextOffset":
        23, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=7A54A3A6F1E98BAF2692221096CB6E11950374A2&simid=608011274425075899",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "Barcelona, Spain : Image
        of the Day", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.kuEdKYM1VepA1LQtTVGOBAEsDh&pid=Api",
        "datePublished": "2010-01-30T18:21:00.0000000Z", "contentUrl": "http:\/\/eoimages.gsfc.nasa.gov\/images\/imagerecords\/7000\/7421\/ISS014-E-10547_lrg.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/earthobservatory.nasa.gov\/IOTD\/view.php?id=7421",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "680604 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "earthobservatory.nasa.gov\/IOTD\/view.php?id=7421",
        "width": 1000, "height": 750, "thumbnail": {"width": 300, "height": 225},
        "imageInsightsToken": "ccid_kuEdKYM1*mid_7A54A3A6F1E98BAF2692221096CB6E11950374A2*simid_608011274425075899",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "7A54A3A6F1E98BAF2692221096CB6E11950374A2", "accentColor": "1D455A"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=BB805BC66624FA7039BDC58D9B9AD3808C98B9D0&simid=608043108721560259",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "Gothic Cathedral - Barcelona
        Spain 14th Century", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.VTCefxqzav7Mlyva42XwEgDSEs&pid=Api",
        "datePublished": "2017-06-26T03:05:00.0000000Z", "contentUrl": "http:\[...]
