---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=barcelona%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5557536559C143BAA897995E29F4B393
      X-Msedge-Clientid:
      - 2C4F1B630EE067CA1E3C10FD0F056687
      X-Msapi-Userstate:
      - c7d5
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E3DA6535A0804A639555DF82D2779B21&CID=2C4F1B630EE067CA1E3C10FD0F056687&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E3DA6535A0804A639555DF82D2779B21&CID=2C4F1B630EE067CA1E3C10FD0F056687&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=barcelona%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5188.1", "totalEstimatedMatches": 100, "nextOffset":
        23, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=BB805BC66624FA7039BDC58D9B9AD3808C98B9D0&simid=608043109259872780",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "NYSED Global History and
        Geography Online Resource Guide: Turningpoints", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.VTCefxqzav7Mlyva42XwEgHaKk&pid=Api",
        "datePublished": "2017-09-17T05:58:00.0000000Z", "contentUrl": "http:\/\/www.p12.nysed.gov\/ciai\/socst\/ghgonline\/turnpoint\/images\/content\/tp36\/barcelona.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/www.p12.nysed.gov\/ciai\/socst\/ghgonline\/turnpoint\/cities6.html",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "108209 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.p12.nysed.gov\/ciai\/socst\/ghgonline\/turnpoint\/cities6.html",
        "width": 307, "height": 438, "thumbnail": {"width": 474, "height": 676}, "imageInsightsToken":
        "ccid_VTCefxqz*mid_BB805BC66624FA7039BDC58D9B9AD3808C98B9D0*simid_608043109259872780",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "BB805BC66624FA7039BDC58D9B9AD3808C98B9D0", "accentColor": "62464A"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=9A7AFB70D6F872011900A7EF144EB87866F40B7A&simid=608037615989689535",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "Huitième", "thumbnailUrl":
        "https:\/\/tse1.mm.bing.net\/th?id=OIP.NAtt1FGsznDDMYfla25phwHaFj&pid=Api",
        "datePublished": "2017-09-10T00:51:00.0000000Z", "contentUrl": "http:\/\/math.nist.gov\/~JBernal\/ramblas.jpg[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=barcelona%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 37ED89B6A7484DB[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/search?count=20&mkt=en-US&offset=0&q=barcelona%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2739B67B6DE24B6AB9C69B180727F65D
      X-Msedge-Clientid:
      - 1BFE90BF20E66A1130DB9C4521AA6B9C
      X-Msapi-Userstate:
      - c38e
      X-Search-Responseinfo:
      - InternalResponseTime=297,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "images\/search?q=barcelona (site:gov OR site:mil)", "webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?q=barcelona (site:gov OR site:mil)&FORM=OIIARP",
        "queryContext": {"originalQuery": "barcelona (site:gov OR site:mil)", "alterationDisplayQuery":
        "barcelona (site:gov OR site:mil)", "alterationOverrideQuery": "+barcelona
        (site:gov OR site:mil)", "alterationMethod": "AM_JustChangeIt", "alterationType":
        "CombinedAlterationsChained"}, "totalEstimatedMatches": 100, "nextOffset":
        22, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=753DD79C6E6ECFA35CD168DB7F57D99CB81BC5C8&simid=608029834246489172",
        "name": "Multipurpose Complex to host FC Barcelona for youth soccer training
        program - City of Round Rock", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.jsNLG85IRlhmD2eLnbN7YAHaE8&pid=Api",
        "datePublished": "2018-09-09T22:54:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "https:\/\/www.roundrocktexas.gov\/wp-content\/uploads\/2017\/03\/2016FCBEscolaCamp-CharlotteRound2-June202016-15-1948x1300.jpg",
        "hostPageUrl": "https:\/\/www.roundrocktexas.gov\/news\/official-fc-barcelona-soccer-school-opening-round-rock-austin\/",
        "contentSize": "198990 B", "encodingFormat": "jpeg", "hostPageDisplayUrl":
        "https:\/\/www.roundrocktexas.gov\/news\/official-fc-barcelona-soccer...",
        "width": 1948, "height": 1300, "thumbnail": {"width": 474, "height": 316},
        "imageInsightsToken": "ccid_jsNLG85I*mid_753DD79C6E6ECFA35CD168DB7F57D99CB81BC5C8*simid_608029834246489172*thid_OIP.jsNLG85IRlhmD2eLnbN7YAHaE8",
        "insightsMetadata": {"recipeSourcesCount": 0, "bestRepresentativeQuery": {"text":
        "Barcelona Youth Soccer Club", "displayText": "Barcelona Youth Soccer Club",
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=Barcelona+Youth+Soccer+Club&id=753DD79C6E6ECFA35CD168DB7F57D99CB81BC5C8&FORM=IDBQDM"},
        "pagesIncludingCount": 9, "availableSizesCount": 5}, "imageId": "753DD79C6E6ECFA35CD168DB7F57D99CB81BC5C8",
        "accentColor": "B91228"}, {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=3D4243C820FBA4CEAF5FC966054CA140B4A54898&simid=608014758983175555",
        "name": "Economic Development Archives | City of Casa Grande", "thumbnailUrl":
        "https:\/\/tse1.explicit.bing.net\/th?id=OIP.CTX9L3ONJSvu36MoJYf67wHaEr&pid=Api",
        "datePublished": "2017-11-09[...]
