---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=barcelona%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D0A68D48E48447DFB0B1BD30EDC464D3
      X-Msedge-Clientid:
      - 36E663602CBB6DA62B2168272D2C6C0E
      X-Msapi-Userstate:
      - 385a
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=56ECBF1A17584C0B88D748C3FC86A2D8&CID=36E663602CBB6DA62B2168272D2C6C0E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=56ECBF1A17584C0B88D748C3FC86A2D8&CID=36E663602CBB6DA62B2168272D2C6C0E&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=barcelona%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5186.1", "totalEstimatedMatches": 100, "nextOffset":
        22, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=738ECAB832C51213AD65B4F18601DD71221C5C39&simid=608025005739674316",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "NYSED Global History and
        Geography Online Resource Guide: Turningpoints", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.VTCefxqzav7Mlyva42XwEgDSEs&pid=Api",
        "datePublished": "2010-02-10T17:10:00.0000000Z", "contentUrl": "http:\/\/www.emsc.nysed.gov\/ciai\/socst\/ghgonline\/turnpoint\/images\/content\/tp36\/barcelona.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/www.emsc.nysed.gov\/ciai\/socst\/ghgonline\/turnpoint\/cities6.html",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "108209 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.emsc.nysed.gov\/ciai\/socst\/ghgonline\/turnpoint\/cities6.html",
        "width": 307, "height": 438, "thumbnail": {"width": 210, "height": 300}, "imageInsightsToken":
        "ccid_VTCefxqz*mid_738ECAB832C51213AD65B4F18601DD71221C5C39*simid_608025005739674316",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "738ECAB832C51213AD65B4F18601DD71221C5C39", "accentColor": "614649"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=CDAFB350F666045DFCC4C46D448D88C2623FD2EA&simid=608049225083457270",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "NASA - Members of the FC
        Barcelona Soccer Team", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.eyJX5eLaSaDJ00ORE_dOtgEsDH&pid=Api",
        "datePublished": "2016-11-21T20:50:00.0000000Z", "contentUrl": "https:\[...]
