---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=barcelona%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 27478401F51B4A3A81BA87506BA2F4B9
      X-Msedge-Clientid:
      - 1E5AEF9152A968D8039FE3C953A66952
      X-Msapi-Userstate:
      - 1b03
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=739871B2AD044D72AA60F70A418BF10E&CID=1E5AEF9152A968D8039FE3C953A66952&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=739871B2AD044D72AA60F70A418BF10E&CID=1E5AEF9152A968D8039FE3C953A66952&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=barcelona%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5188.1", "totalEstimatedMatches": 100, "nextOffset":
        22, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=753DD79C6E6ECFA35CD168DB7F57D99CB81BC5C8&simid=608029833877914416",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "Multipurpose Complex to
        host FC Barcelona for youth soccer training program - City of Round Rock",
        "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.jsNLG85IRlhmD2eLnbN7YAHaE8&pid=Api",
        "datePublished": "2018-07-15T19:35:00.0000000Z", "contentUrl": "https:\/\/www.roundrocktexas.gov\/wp-content\/uploads\/2017\/03\/2016FCBEscolaCamp-CharlotteRound2-June202016-15-1948x1300.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "https:\/\/www.roundrocktexas.gov\/news\/official-fc-barcelona-soccer-school-opening-round-rock-austin\/",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "198990 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.roundrocktexas.gov\/news\/official-fc-barcelona-soccer...",
        "width": 1948, "height": 1300, "thumbnail": {"width": 474, "height": 316},
        "imageInsightsToken": "ccid_jsNLG85I*mid_753DD79C6E6ECFA35CD168DB7F57D99CB81BC5C8*simid_608029833877914416",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "753DD79C6E6ECFA35CD168DB7F57D99CB81BC5C8", "accentColor": "B91228"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=BB805BC66624FA7039BDC58D9B9AD3808C98B9D0&simid=608043109663378062",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "NYSED Global History and
        Geography Online Resource Guide: Turningpoints", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.VTCefxqzav7Mlyva42XwEgAAAA&pid=Api",
        "datePublished": "2018-06-15T15:46:00.0000000Z[...]
