---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=barcelona%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 59918D821D44432493C6FBAFFA837F99
      X-Msedge-Clientid:
      - 3E796ECEB3ED610228826542B242604D
      X-Msapi-Userstate:
      - ce11
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=CA80672ACF7A494DBF9AE58F2228A20A&CID=3E796ECEB3ED610228826542B242604D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=CA80672ACF7A494DBF9AE58F2228A20A&CID=3E796ECEB3ED610228826542B242604D&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=barcelona%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5188.1", "totalEstimatedMatches": 101, "nextOffset":
        22, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=9A7AFB70D6F872011900A7EF144EB87866F40B7A&simid=608037615934309965",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "Huitième", "thumbnailUrl":
        "https:\/\/tse1.mm.bing.net\/th?id=OIP.NAtt1FGsznDDMYfla25phwHaFj&pid=Api",
        "datePublished": "2017-09-10T00:51:00.0000000Z", "contentUrl": "http:\/\/math.nist.gov\/~JBernal\/ramblas.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/math.nist.gov\/~JBernal\/JBernal_Htn.html",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "442821 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "math.nist.gov\/~JBernal\/JBernal_Htn.html",
        "width": 1296, "height": 972, "thumbnail": {"width": 474, "height": 355},
        "imageInsightsToken": "ccid_NAtt1FGs*mid_9A7AFB70D6F872011900A7EF144EB87866F40B7A*simid_608037615934309965",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "9A7AFB70D6F872011900A7EF144EB87866F40B7A", "accentColor": "AB3020"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=0C479EBB26094A645A8CA811CBD2DDBFB2A359C4&simid=607989422112574590",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "NASA Visible Earth: Barcelona,
        Spain", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.kuEdKYM1VepA1LQtTVGOBAHaFj&pid=Api",
        "datePublished": "2017-11-13T12:07:00.0000000Z", "contentUrl": "https:\/\/eoimage[...]
