---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&image.count=20&query=(barcelona)%20language:es%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028barcelona\u0029
        language\u003aes \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Image":{"Total":40,"Offset":0,"Results":[{"Title":"El
        Consulado \u007c Barcelona, Espa\u00f1a - Consulado General de los Estados
        ...","MediaUrl":"http\u003a\u002f\u002fphotos.state.gov\u002flibraries\u002fkarachi\u002f788\u002fimages\u002fDSC00446web.jpg","Url":"http\u003a\u002f\u002fspanish.barcelona.usconsulate.gov\u002fes\u002fconsulado.html","DisplayUrl":"spanish.barcelona.usconsulate.gov\u002fes\u002fconsulado.html","Width":640,"Height":480,"FileSize":136962,"ContentType":"image\u002fjpeg","Thumbnail":{"Url":"http\u003a\u002f\u002fts2.mm.bing.net\u002fth\u003fid\u003dOIP.M0ef759b38e0a183b152e48b95d24ff30o0\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":300,"Height":225,"FileSize":12991}},{"Title":"...
        Cole visita el instituto de secundaria INS Pau Claris de Barcelona","MediaUrl":"http\u003a\u002f\u002fphotos.state.gov\u002flibraries\u002fspain\u002f164311\u002factividades2012\u002fIMG_4785.jpg","Url":"http\u003a\u002f\u002fspanish.barcelona.usconsulate.gov\u002fes\u002fnot[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=barcelona%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B500F6E773234F8FB4766975B8F26A90
      X-Msedge-Clientid:
      - 26DD28A23ACF6D710065215D3B586C42
      X-Msapi-Userstate:
      - '7924'
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8EB540807F794CD38D3CE7C4AFEB345A&CID=26DD28A23ACF6D710065215D3B586C42&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8EB540807F794CD38D3CE7C4AFEB345A&CID=26DD28A23ACF6D710065215D3B586C42&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=barcelona%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5165.1", "totalEstimatedMatches": 100, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=9A7AFB70D6F872011900A7EF144EB87866F40B7A&simid=608037615162887183",
        "webSearchUrlPingSuffix": "DevEx,5006.1", "name": "Las Ramblas, Barcelona,
        Spain", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.M340b6dd451acce70c33187e56b6e6987o0&pid=Api",
        "datePublished": "2016-12-15T19:25:00.0000000Z", "contentUrl": "http:\/\/math.nist.gov\/~JBernal\/ramblas.jpg",
        "contentUrlPingSuffix": "DevEx,5008.1", "hostPageUrl": "http:\/\/math.nist.gov\/~JBernal\/JBernal_Htn.html",
        "hostPageUrlPingSuffix": "DevEx,5007.1", "contentSize": "442821 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "math.nist.gov\/~JBernal\/JBernal_Htn.html",
        "width": 1296, "height": 972, "thumbnail": {"width": 300, "height": 225},
        "imageInsightsToken": "ccid_NAtt1FGs*mid_9A7AFB70D6F872011900A7EF144EB87866F40B7A*simid_608037615162887183",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "9A7AFB70D6F872011900A7EF144EB87866F40B7A", "accentColor": "AB3020"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=BB805BC66624FA7039BDC58D9B9AD3808C98B9D0&simid=608043108419046322",
        "webSearchUrlPingSuffix": "DevEx,5012.1", "name": "Gothic Cathedral - Barcelona
        Spain 14th Century", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.M55309e7f1ab36afecc972bdae365f012o0&pid=Api",
        "datePublished": "2016-12-09T22:38:00.0000000Z", "contentUrl"[...]
