---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=barcelona%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 896EDF1813C4483CA856BEA302905197
      X-Msedge-Clientid:
      - 13ED496F6140660F2B41435E6071672F
      X-Msapi-Userstate:
      - 4c3e
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=4C37B5D5271549D6867DE4A7E1113235&CID=13ED496F6140660F2B41435E6071672F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=4C37B5D5271549D6867DE4A7E1113235&CID=13ED496F6140660F2B41435E6071672F&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=barcelona%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5163.1", "totalEstimatedMatches": 102, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=9A7AFB70D6F872011900A7EF144EB87866F40B7A&simid=608037615225998281",
        "webSearchUrlPingSuffix": "DevEx,5006.1", "name": "Las Ramblas, Barcelona,
        Spain", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.NAtt1FGsznDDMYfla25phwEsDh&pid=Api",
        "datePublished": "2017-02-10T01:50:00.0000000Z", "contentUrl": "http:\/\/math.nist.gov\/~JBernal\/ramblas.jpg",
        "contentUrlPingSuffix": "DevEx,5008.1", "hostPageUrl": "http:\/\/math.nist.gov\/~JBernal\/JBernal_Htn.html",
        "hostPageUrlPingSuffix": "DevEx,5007.1", "contentSize": "442821 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "math.nist.gov\/~JBernal\/JBernal_Htn.html",
        "width": 1296, "height": 972, "thumbnail": {"width": 300, "height": 225},
        "imageInsightsToken": "ccid_NAtt1FGs*mid_9A7AFB70D6F872011900A7EF144EB87866F40B7A*simid_608037615225998281",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "9A7AFB70D6F872011900A7EF144EB87866F40B7A", "accentColor": "AB3020"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=BB805BC66624FA7039BDC58D9B9AD3808C98B9D0&simid=608043108482223053",
        "webSearchUrlPingSuffix": "DevEx,5012.1", "name": "Gothic Cathedral - Barcelona
        Spain 14th Century", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.VTCefxqzav7Mlyva42XwEgDSEs&pid=Api",
        "datePublished": "2017-02-04T23:54:00.0000000Z", "contentUrl": "http:\[...]
