---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/search?count=20&mkt=en-US&offset=0&q=barcelona%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 455BA766B14D483FAEA90B003716A675
      X-Msedge-Clientid:
      - 38A6D53B7DF66B240B21C5907CB96A92
      X-Msapi-Userstate:
      - b206
      X-Search-Responseinfo:
      - InternalResponseTime=215,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "images\/search?q=barcelona (site:gov OR site:mil)", "webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?q=barcelona (site:gov OR site:mil)&FORM=OIIARP",
        "queryContext": {"originalQuery": "barcelona (site:gov OR site:mil)", "alterationDisplayQuery":
        "barcelona", "alterationOverrideQuery": "+barcelona (site:gov OR site:mil)",
        "alterationMethod": "AM_JustChangeIt", "alterationType": "CombinedAlterationsChained"},
        "totalEstimatedMatches": 103, "nextOffset": 24, "currentOffset": 0, "value":
        [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=93F8EE23F43ADE53AF0CF2ADCCA10CCC9F91BBFB&simid=608013965895678106",
        "name": "(Miss)adventures: Streets of Barcelona > Royal Air Force ...", "thumbnailUrl":
        "https:\/\/tse1.mm.bing.net\/th?id=OIP.dZuL1RDLWpvaXGBxAy-qJAHaFS&pid=Api",
        "datePublished": "2020-07-15T13:36:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "https:\/\/media.defense.gov\/2019\/Feb\/06\/2002086838\/-1\/-1\/0\/181231-F-ZB805-0457.JPG",
        "hostPageUrl": "https:\/\/www.lakenheath.af.mil\/News\/Article-Display\/Article\/1749503\/missadventures-streets-of-barcelona\/",
        "contentSize": "6481871 B", "encodingFormat": "jpeg", "hostPageDisplayUrl":
        "https:\/\/www.lakenheath.af.mil\/News\/Article-Display\/Article\/1749503\/missadventures...",
        "width": 4444, "height": 3175, "hostPageFavIconUrl": "https:\/\/www.bing.com\/th?id=ODF.rTXDQZe7X_vnIk5tbI3WFQ&pid=Api",
        "hostPageDomainFriendlyName": "AF.mil", "hostPageDiscoveredDate": "2019-02-09T00:00:00.0000000Z",
        "thumbnail": {"width": 474, "height": 338}, "imageInsightsToken": "ccid_dZuL1RDL*cp_B1977939EF46A4A06C47F44EC90981A8*mid_93F8EE23F43ADE53AF0CF2ADCCA10CCC9F91BBFB*simid_608013965895678106*thid_OIP.dZuL1RDLWpvaXGBxAy-qJAHaFS",
        "insightsMetadata": {"pagesIncludingCount": 2, "availableSizesCount": 3},
        "imageId": "93F8EE23F43ADE53AF0CF2ADCCA10CCC9F91BBFB", "accentColor": "0D64BE"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=C4C53F714E6B34D1FD160E57A9816C01E94348B4&simid=608020747655334849",
        "name": "Barcelona, Spain : Image of the Day", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.bXoVxXWEqTBfEW9DCn7jUQHaE5&pid=Api",
        "datePublished": "2018-04-08T00:17:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "https:\/\/eoimages.gsfc.nasa.gov\/images\/imagerecords\/4000\/4627\/ISS009-E-9987_lrg.jpg",
        "hostPageUrl": "https:\/\/earthobservatory.nasa.gov\/IOTD\/view.php?id=4627&eocn=image&eoci=moreiotd",
        "contentSize": "499979 B", "encodingFormat": "jpeg", "hostPageDisplayUrl":
        "https:\/\/earthobservatory.nasa.gov\/IOTD\/view.php?id=4627&eocn=image&eoci=moreiotd",
        "width": 1000, "height": 662, "hostPageFavIconUrl": "https:\/\/www.bing.com\/th?id=ODF.5zxVvlA0OWF-n6V_axbwXQ&pid=Api",
        "hostPageDomainFriendlyName": "NASA''s Earth Observatory", "hostPageDiscoveredDate":
        "2017-04-05T00:00:00.0000000Z", "thumbnail": {"width": 474, "height": 313},
        "imageInsightsToken": "ccid_bXoVxXWE*cp_66FADDD21E8512F05929031534B35579*mid_C4C53F714E6B34D1FD160E57A9816C01E94348B4*simid_608020747655334849*thid_OIP.bXoVxXWEqTBfEW9DCn7jUQHaE5",
        "insightsMetadata": {"recipeSourcesCount": 0, "pagesIncludingCount": 35, "availableSizesCount":
        16}, "imageId": "C4C53F714E6B34D1FD160E57A9816C01E94348B4", "accentColor":
        "22446B"}, {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=7A54A3A6F1E98BAF2692221096CB6E11950374A2&simid=608011272955572445",
        "name": "Barcelona, Spain : Image of the Day", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.kuEdKYM1VepA1LQtTVGOBAHaFj&pid=Api",
    [...]
