---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=barcelona%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 88435C30EB5C4DC69BA1B029562908B6
      X-Msedge-Clientid:
      - 2B135CA4652D6099174857AC64BA6195
      X-Msapi-Userstate:
      - '09dc'
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=4553E1BAD73E44C5865FC015DACED96B&CID=2B135CA4652D6099174857AC64BA6195&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=4553E1BAD73E44C5865FC015DACED96B&CID=2B135CA4652D6099174857AC64BA6195&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=barcelona%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5184.1", "totalEstimatedMatches": 101, "nextOffset":
        22, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=BB805BC66624FA7039BDC58D9B9AD3808C98B9D0&simid=608043108868688531",
        "webSearchUrlPingSuffix": "DevEx,5023.1", "name": "NYSED Global History and
        Geography Online Resource Guide ...", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.VTCefxqzav7Mlyva42XwEgDSEs&pid=Api",
        "datePublished": "2017-06-26T03:05:00.0000000Z", "contentUrl": "http:\/\/www.p12.nysed.gov\/ciai\/socst\/ghgonline\/turnpoint\/images\/content\/tp36\/barcelona.jpg",
        "contentUrlPingSuffix": "DevEx,5025.1", "hostPageUrl": "http:\/\/www.p12.nysed.gov\/ciai\/socst\/ghgonline\/turnpoint\/cities6.html",
        "hostPageUrlPingSuffix": "DevEx,5024.1", "contentSize": "108209 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.p12.nysed.gov\/ciai\/socst\/ghgonline\/turnpoint\/cities6.html",
        "width": 307, "height": 438, "thumbnail": {"width": 210, "height": 300}, "imageInsightsToken":
        "ccid_VTCefxqz*mid_BB805BC66624FA7039BDC58D9B9AD3808C98B9D0*simid_608043108868688531",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "BB805BC66624FA7039BDC58D9B9AD3808C98B9D0", "accentColor": "62464A"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=753DD79C6E6ECFA35CD168DB7F57D99CB81BC5C8&simid=608029833122939702",
        "webSearchUrlPingSuffix": "DevEx,5029.1", "name": "Multipurpose Complex to
        host FC Barcelona for youth soccer ...", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.jsNLG85IRlhmD2eLnbN7YAEsDI&pid=Api",
        "datePublished": "2017-07-07T00:00:00.0000000Z", "conte[...]
