---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=barcelona%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 43F9CD8073F340038FF2C08B16F3A557
      X-Msedge-Clientid:
      - 35A7FDF047946B2E28B6F77046036AA0
      X-Msapi-Userstate:
      - e34a
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=642C59995F1B4EE3A1292D3ED814F1D9&CID=35A7FDF047946B2E28B6F77046036AA0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=642C59995F1B4EE3A1292D3ED814F1D9&CID=35A7FDF047946B2E28B6F77046036AA0&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=barcelona%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5181.1", "totalEstimatedMatches": 100, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=BB805BC66624FA7039BDC58D9B9AD3808C98B9D0&simid=608043108587735764",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "Gothic Cathedral - Barcelona
        Spain 14th Century", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.VTCefxqzav7Mlyva42XwEgDSEs&pid=Api",
        "datePublished": "2017-03-04T01:23:00.0000000Z", "contentUrl": "http:\/\/www.p12.nysed.gov\/ciai\/socst\/ghgonline\/turnpoint\/images\/content\/tp36\/barcelona.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/www.p12.nysed.gov\/ciai\/socst\/ghgonline\/turnpoint\/cities6.html",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "108209 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.p12.nysed.gov\/ciai\/socst\/ghgonline\/turnpoint\/cities6.html",
        "width": 307, "height": 438, "thumbnail": {"width": 210, "height": 300}, "imageInsightsToken":
        "ccid_VTCefxqz*mid_BB805BC66624FA7039BDC58D9B9AD3808C98B9D0*simid_608043108587735764",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "BB805BC66624FA7039BDC58D9B9AD3808C98B9D0", "accentColor": "62464A"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=7A54A3A6F1E98BAF2692221096CB6E11950374A2&simid=608011274291709828",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "Barcelona, Spain : Image
        of the Day", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.kuEdKYM1VepA1LQtTVGOBAEsDh&pid=Api",
        "datePublished": "2010-01-30T18:21:00.0000000Z", "contentUrl": "http:\/\/eoimages.[...]
