---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=barcelona%20(site:gov%20OR%20site:mil)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - CC5EEF163DC8437B9D53ED8449C62604
      X-Msedge-Clientid:
      - 01ED21BC1DA56115179C2B821C32607E
      X-Msapi-Userstate:
      - c635
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E13DC9FF983949198A1CB6049F9DBAD8&CID=01ED21BC1DA56115179C2B821C32607E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E13DC9FF983949198A1CB6049F9DBAD8&CID=01ED21BC1DA56115179C2B821C32607E&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=barcelona%20(site:gov%20OR%20site:mil)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5179.1", "totalEstimatedMatches": 100, "nextOffset":
        22, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=9A7AFB70D6F872011900A7EF144EB87866F40B7A&simid=608037615236483447",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "Las Ramblas, Barcelona,
        Spain", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.NAtt1FGsznDDMYfla25phwEsDh&pid=Api",
        "datePublished": "2017-02-10T01:50:00.0000000Z", "contentUrl": "http:\/\/math.nist.gov\/~JBernal\/ramblas.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/math.nist.gov\/~JBernal\/JBernal_Htn.html",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "442821 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "math.nist.gov\/~JBernal\/JBernal_Htn.html",
        "width": 1296, "height": 972, "thumbnail": {"width": 300, "height": 225},
        "imageInsightsToken": "ccid_NAtt1FGs*mid_9A7AFB70D6F872011900A7EF144EB87866F40B7A*simid_608037615236483447",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "9A7AFB70D6F872011900A7EF144EB87866F40B7A", "accentColor": "AB3020"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=7A54A3A6F1E98BAF2692221096CB6E11950374A2&simid=608011274197993431",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "Barcelona, Spain : Image
        of the Day", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.M92e11d29833555ea40d4b42d4d518e04o0&pid=Api",
        "datePublished": "2010-01-30T18:21:00.0000000Z", "contentUrl": "http:\/\/[...]
