#results
  .govbox-wrapper-top
    :background image-url('legacy/backgrounds/related_topics_top.png') no-repeat 0 0
    :height 8px
    :line-height 8px
    :margin-top 0.75em

  .govbox-wrapper-bottom
    :background image-url('legacy/backgrounds/related_topics_bottom.png') no-repeat 0 0
    :height 8px

  .govbox-wrapper-middle
    +clearfix
    :background image-url('legacy/backgrounds/related_topics_middle.png') repeat-y 0 0
    margin: 0
    padding: 0.8em 0 0 25px

.govbox-title
  h3.alt
    font-size: 1.15em
    margin:
      top: 0
      bottom: 0.8em
    span.recommended-by, span.jobs-agency
      color: gray
      font:
        size: 0.9em
        style: italic
        weight: normal
      a
        color: gray
        text-decoration: underline

#results .govbox
  margin:
    bottom: 1em
    left: 10px
  @extend .govbox-title

#results .blended
  margin-left: 0
  padding: 0
  .agency, .medline
    +clearfix
    :line-height 1
    h2
      margin-bottom: 3px
    h3
      font:
        size: 1.1em
        weight: bold
      &.result-url
        margin: 0
    a.link-to-full-url
      font:
        weight: normal
      :line-height 1.1
      :padding-right 8px
      :margin-right 3px
    .official-tag
      :float right
      :font
        :size 1.1em
        :weight bold
    .description
      :font-size 1.1em
      :line-height 1.1
      :margin 0.5em 0 0.3em
      ul
        list-style: none
        margin: 0
        padding: 0 0 0 8px
    .section
      :float left
      :margin
        :top 0.4em
      :width 50%
      h3
        margin: 0
  .agency
    .stay-connected
      @extend .section
      .phone-wrapper
        :float left
        img, ul
          :float left
        img
          :margin-top 0.3em
        ul
          :margin-left 7px
          :width 270px
      ul
        :color #222222
        :list-style none
        :margin 0.3em 0 0
        :padding 0
        li
          :line-height 1.2
        &.social-media
          :background none
          :float left
          :height 16px
          li
            :display inline
            :float left
          a
            :float left
            :font-size 0
            :height 16px
            :line-height 0
            :padding 0 3px
            :text-indent -999em
            :width 16px
            &.flickr
              :background image-url('legacy/govbox/flickr.gif') left top no-repeat
            &.twitter
              :background image-url('legacy/govbox/twitter.png') -7px -8px no-repeat
            &.youtube
              :background image-url('legacy/govbox/youtube.gif') left top no-repeat
    .search-within
      @extend .section
      form
        :margin 0.4em 0 0
        #query
          :width 230px
  .medline
    p
      :margin-top 0
      :margin-bottom .2em
    ul
      :margin 0 0 0 1em
      :padding-left 0.5em
    .official-tag
      padding-right: 20px
    .related-medline-topics, .clinical-trials, .lang-mapped-topic
      @extend .section
      ul
        list-style: none
        margin: 0.3em 0 0
        padding: 0
        li
          line-height: 1.2

.en #results .medline .official-tag
  background: image-url('legacy/medline.en.png') no-repeat right center
.es #results .medline .official-tag
  background: image-url('legacy/medline.es.png') no-repeat right center

#results #boosted
  .searchresult
    margin:
      left: 0
    padding: 0

#results .featured-collection
  +clearfix
  margin:
    left: 0
  padding: 0
  h2
    margin: 0 0 0.5em
    span.recommended-by
      color: gray
      font:
        size: 0.8em
        style: italic
        weight: normal
  .image
    float: left
    img
      display: block
      margin-bottom: 5px
    span
      font-weight: normal
      width: auto
      word-wrap: break-word
      &.attribution
        font-weight: normal
    a
      display: inline
      word-wrap: break-word
  ul
    +clearfix
    list-style: none
    margin: 0
    padding: 0
    li
      +inline-block
      vertical-align: top
      margin: 0 0 3px 0
      padding: 0
  &.one-column
    li
      clear: left
      width: 99%
    &.with-image
      .image
        width: 125px
      ul
        margin-left: 135px
  &.two-column
    li
      width: 48%
    li.left
      clear: left
      margin-right: 5px
    &.with-image
      .image
        width: 100px
      ul
        margin-left: 110px

#results #photo_govbox
  .photo
    +inline-block
    margin:
      right: 5px
      bottom: 0.8em

#results #video_news_items_govbox
  +clearfix
  .searchresult.newsitem
    +clearfix
    float: left
    font-size: 0.8em
    height: auto
    margin:
      right: 5px
      left: 0
    padding: 0
    width: 120px
    h4
      font-size: 1.25em
      margin-bottom: 0

#results #news_items_govbox
  .newsitem
    margin:
      left: 0
    padding: 0

#results #indexed_documents
  .indexeddocresult.searchresult
    margin:
      left: 0
    padding: 0
  .indexeddocresult h2
    font-size: 1.1em
    font-weight: normal
    span.uext_type
      font-size: 0.7em

#results #related_searches
  ul
    +clearfix
    margin: 0 0 1em 0
    padding: 0
  li
    +inline-block
    line-height: 1.2
    width: 49%

#right_column .right-column-govbox
  +border-radius
  @extend .govbox-title
  border: 1px solid #CACACA
  margin:
    top: 1em
    bottom: 1em

.right-column-govbox #twitter_govbox
  +clearfix
  padding: 10px 10px 0
  h3.alt
    margin: 0
    font-size: 1.1em
    padding: 0 25px 0.4em 0
    background: image-url('legacy/govbox/twitter.png') no-repeat 103% -4px
  a
    text-decoration: none
  .tweet
    border-top: 1px solid #EEE
    margin: 0 0 1em 0
    padding: 0.4em 0 0
  .screen-name
    color: gray
    font-size: 0.95em
  .tweet-text
    margin: 0.4em 0 0
  .timestamp
    font-size: 0.95em
    margin: 0.4em 0 0
    text-align: right

.right-column-govbox #jobs_govbox
  +clearfix
  padding: 10px 10px
  h3.alt
    margin: 0
    font-size: 1.1em
    padding: 0 25px 0.4em 0
  a
    text-decoration: none
  .job
    border-top: 1px solid #EEE
    margin: 0 0 1em 0
    padding: 0.4em 0 0
    .job-title
      a em
        font-weight: bold
        font-style: normal
    .field-separator
      display: none
