$red: #990000
$link: #2200CC
$green: #008000
$serp-link-visited-color: #551a8b
$results-padding-size: 15px

a.serp-link
  :color $link
  &:visited
    :color $serp-link-visited-color

#search_form
  ul.navigation
    list-style: none
    margin: 0
    padding: 0
    margin-bottom: 5px

    li
      font-weight: bold
      :color $red
      display: inline
      border-left: 2px solid #CCC
      padding: 0 5px 0 8px

      a
        text-decoration: none
        font-weight: bold
      a:hover
        text-decoration: underline
    li.first
      padding-left: 0
      border-left: 0

#results
  .did-you-mean
    :padding-left $results-padding-size
  #summary
    margin-bottom: 1em
    :padding-left $results-padding-size

  #boosted
    :margin-bottom 0.5em

  div.searchresult
    :margin-bottom 0.75em
    clear: both
    :padding 0 $results-padding-size
    &.blended
      :padding 0
    a.link-to-full-url
      :text-decoration none
      :color green
      &:visited
        :color green
    h2
      :font-size 1.4em
      :margin 0
      a
        :text-decoration underline
        &:hover
          :color $link
        &:visited
          :color $serp-link-visited-color
      span.uext_type
        :font-size 0.7em
    h3
      :font-size 1.1em
      :margin 0 0 0.3em 0
      a, a:visited, a:hover
        :color $green
      a.cache_link, a.cache_link:visited, a.cache_link:hover
        :color gray

  span.image_result, span.small_image_result
    width: 210px
    height: 210px
    margin: 0
    padding: 0
    text-align: center
    display: inline-block
    vertical-align: top

    img
      margin: 0
      padding: 5px
      border: 1px solid #CCC
      vertical-align: top
    a
      font-size: 0.8em
      display: block

  span.small_image_result
    height: 100px
    width: 150px


  .pagination-and-logo
    :border-bottom 1px solid #DDD
    clear: both
    height: 30px
    margin-top: 1.5em
    padding-left: $results-padding-size - 7px
    :padding-bottom 0.75em

  .pagination
    :font-size 1em
    float: left
    .disabled
      :display none
    em
      @include border-radius(3px)
      :background #0b3c71
      :color white
      :font-style normal
      :padding 2px 7px
    a, a:visited
      :color gray
      :padding 2px 7px
      :text-decoration none
      &:hover
        @include border-radius(3px)
        :background #0b3c71
        :color white

  .results-by-logo
    float: right

.no-results
  :padding-left $results-padding-size
  a
    :font
      :size 14px
      :weight normal
  .no-results-header
    :margin-bottom 1.5em
    h3
      background: none
      color: #C30E2C
      display: inline
      :font
        :size 18px
        :weight bold
    span.query
      :color #010101
      :font
        :size 18px
        :weight bold
    span.source-label
      :color #010101
  .no-results-banner
    :clear right
    :float right
    :text-align right
    .no-results-banner-source
      :font
        :size 14px
        :weight bold
      a
        @extend .serp-link
      .in-english
        :font-weight normal
  .no-results-suggestions
    :font
      :size 13px
    :width 315px
    h4
      :font
        :weight bold
      :margin-bottom 0.5em
    ul
      :color #222
      :list-style none
      :margin 0 0 12px 0
      :padding 0
      &.no-results-custom-suggestions
        :border-top 1px solid #DDD
        :padding-top 5px
        a
          @extend .serp-link
    li
      :background url('/images/govbox/star.gif') left 5px no-repeat
      :display block
      :line-height 1.6
      :list-style none
      :padding-left 15px

.page-not-found
  :margin 0
  :padding-top 50px
  :text-align center
  :width 99%
  h3
    :color #C30E2C
    :line-height 26px
    :font
      :size 20px
      :weight bold
    &.message
      :margin 30px auto
      :width 750px
  .logo-wrapper
    :background url(/images/footer_line.gif) no-repeat center bottom
    :padding-bottom 15px
  .what-to-do-wrapper
    :margin 0 auto 35px
    :width 575px
    h3
      :color #222
      :margin 10px 0
      :text-align left
  ul
    :line-height 18px
    :list-style none
    :margin 0
    :padding 0
    :text-align left
  li
    :background url('/images/backgrounds/star_large.gif') left 2px no-repeat
    :color #222
    :font-size 15px
    :padding-left 20px
    a
      @extend .serp-link
  #search_form
    :margin 0 auto
.es .page-not-found .what-to-do-wrapper
  :width 635px

#results .featured-collections
  .featured-collection.searchresult
    padding: 15px
    margin-bottom:  0.75em
    h2
      color: #C51432
      line-height: 1.2em
      margin: 0 0 10px
    span.by-usa-gov, span.recommended-by
      :color gray
      :font
        :size 0.75em
        :style italic
        :weight normal
    .image
      float: left
      img
        display: block
        margin-bottom: 5px
    ul
      float: left
      list-style-type: none
      margin: 0
      padding: 0
    li
      background: url('/images/govbox/star.gif') left 5px no-repeat
      line-height: 1.6
      list-style-type: none
      padding-left: 15px
    &.one-column-with-image
      .image
        width: 125px
      ul
        margin: 0 0 0 10px
        width: 480px
    &.one-column-without-image
      ul
        margin: 0
        padding: 0
    &.two-column-with-image
      .image
        width: 100px
      ul
        margin: 0 0 0 10px
        width: 505px
      li
        float: left
        width: 233px
      li.left
        clear: left
      li.right
        margin-left: 7px
    &.two-column-without-image
      ul
        margin: 0
        padding: 0
      li
        float: left
        width: 290px
      li.left
        clear: left
      li.right
        margin-left: 7px

