@import "blueprint"
@import "compass/css3/border-radius"
@import "compass/css3/inline-block"
@import "compass/typography/text/replacement"
@import "compass/utilities/general/clearfix"
@import "font-awesome.css"

a
  +link-colors(#21548B, #C81B2A, #21548B, #21548B, #21548B)
  text-decoration: underline

  /*** containers for login page ***/
  .outer-container
    width: 912px
    margin: 0 auto

  .inner-container
    float: left
    padding: 15px 0
    width: 912px

.header
  +clearfix
  margin-bottom: 5px
  width: 100%

/*** Program Header ***/
#top_logo
  float: left
  a
    display: block
    font-size: 20px
    padding: 8px 10px
    text-decoration: none
    .gov
      font-style: italic
    .search
      padding: 0 15px 0 10px

#top_nav
  color: #fff
  float: right
  font:
    size: 18px
    weight: bold
  padding-right: 10px
  ul
    +border-bottom-radius
    background-color: #12396A
    +background-image(linear-gradient(#5787c7, #12396A))
    margin: 0
    padding: 3px 10px 8px
  li
    border-left: 1px solid white
    color: #fff
    display: inline
    padding: 0 10px
    &.first
      border-left: none
    a, a:visited
      color: #fff
      text-decoration: none
    a:hover
      color: #FF5A00

#main_nav
  +clearfix
  float: left
  font:
    size: 16px
    weight: bold
  border-top: 1px solid #CACACA
  border-bottom: 1px solid #CACACA
  line-height: 16px
  padding: 10px 0
  width: 100%
  ul
    margin: 0
    padding: 0
  li
    +inline-block
    border-left: 1px solid #12396A
    padding: 0 8px 0 10px
    &.first
      border-left: 0
  a, a:visited
    text-decoration: none
  a:hover
    color: #FF5A00
  .main-menu
    float: left
  .user-menu
    float: right
    padding-right: 2px

/*** Super Admin breadcrumbs ***/
.breadcrumbs
  clear: both
  font-size: 0.9em
  font-family: Arial, Helvetica, sans-serif
  margin-bottom: 12px
  padding-bottom: 8px
  a
    background: image-url('legacy/breadcrumbs_separator.png') no-repeat right 0
    margin-right: 5px
    padding-right: 16px

.footer
  background-color: #E9E9E9
  font-size: 14px
  margin-top: 20px
  padding: 20px 0 10px
  text-align: center

  .container
    *zoom: 1
    width: 940px
    &:before, &:after
      content: ""
      display: table
      line-height: 0
      margin-right: auto
      margin-left: auto
    &:after
      clear: both
    > p
      margin-bottom: 10px

  .footer-links
    list-style: none
    margin: 0 0 10px 0
    padding: 0
    > li
      display: inline-block
      *display: inline
      padding-right: 5px
      padding-left: 5px
      *zoom: 1

  .muted
    color: #999

.outer-container
  width: 98%
  margin: 0 auto

.inner-container
  +clearfix
  padding: 0 0 10px 0
  width: 100%

/*** content ***/
.content
  margin: 0 0 0 200px
  padding: 10px 0 0 10px
  .container
    margin: 0
    min-width: 790px

* html
  .outer-container
    margin: 0 0 0 10px
    width: 1080px
  .content .container
    width: 790px

#top_urls
  padding: 0
  table.kv_pairs
    margin-bottom: 0
    thead
      th
        background: #444
      div.title
        color: white
        font-weight: bold
        padding: 0.3em 0
        text-align: center
    thead, tbody
      th, td
        border: 1px solid darkgrey

.related-topics
  margin-bottom: 21px
  ul
    list-style: none
    margin: 0 0 1.5em 0
    padding: 0

#urls
  +clearfix
