@import "compass/utilities/general/clearfix"
@import "compass/css3/border-radius"
@import "compass/css3/inline-block"
@import "compass/typography/text/replacement"
$results-padding-top-size: 8px
$results-padding-size: 15px
$red: #990000
$green: #008000

body
  background-color: white
  margin: 0
  padding: 0
  text-align: center

@import 'skiplink'

#container
  +inline-block
  text-align: left
  margin: 0 auto

.with-content-border
  padding: 20px 0
  #container
    +border-radius(8px)
    +clearfix
  .managed-header-footer-links-wrapper
    border-bottom: 0

#header
  margin-bottom: 10px

#managed_header
  +clearfix
  font-family: Georgia, serif
  min-width: 960px
  text-align: center
  img
    border: 0

.managed-header-footer-links-wrapper
  border-top: 1px solid #CACACA
  border-bottom: 1px solid #CACACA
  min-width: 960px
  text-align: center

.managed ul.managed-header-footer-links
  +clearfix
  +inline-block
  font:
    family: Georgia, serif
    weight: bold
  margin: 0 auto
  padding: 10px 0
  list-style: none
  li
    display: inline
    float: left
    a
      border-left:
        style: solid
        width: 1px
      padding: 0 10px
      text-decoration: none
      &.first
        border: 0

#header.managed ul.managed-header-footer-links
  font-size: 1em

#usasearch_footer.managed ul.managed-header-footer-links
  font-size: 0.8em

#search
  +clearfix
  font-size: 0.75em
  text-align: left
  width: 960px
  img
    border: 0
  h1
    +hide-text
    height: 0
    margin: 0
    padding: 0
    width: 0
  .hide
    display: none
  #search_box
    +clearfix
    border-bottom: 1px solid #CACACA
    padding: 0 0 10px 0
  .left-nav-label-wrapper
    float: left
    padding: 0 0 0 18px
    width: 142px
    h3
      margin: 0
  #left_nav_label
    font-size: 1.5em
    line-height: 1
  .summary-wrapper
    float: left
    padding-left: $results-padding-size
  #summary
    +inline-block
    p
      +inline-block
      margin: 0
  .advancedsearch
    +inline-block
  .did-you-mean, .search-all-sites-suggestion
    margin: 0 0 10px 0
    font-size: 1em
  .noresults
    margin: 0

#search_form
  +clearfix
  padding: 0 0 0 160px
  margin: 0 0 15px 0
  #search_query
    +border-top-left-radius
    +border-bottom-left-radius
    float: left
    background-color: #FFF
    border: 1px solid #CACACA
    font:
      size: 13px
      weight: normal
    height: 20px
    outline: 0
    padding: 4px 0 4px $results-padding-size - 1
    width: 545px
    &.has-sayt-suggestion
      +border-bottom-left-radius(0px)

  #search_button
    +hide-text
    +border-top-right-radius
    +border-bottom-right-radius
    background:
      image: asset-data-url('searches/search_button.png')
      repeat: no-repeat
      position: center
    float: left
    font:
      size: 13px
      weight: bold
    margin: 0
    padding: 0
    text-transform: uppercase
    width: 30px
    height: 30px

#results
  float: left
  overflow: hidden
  display: inline
  padding-top: 8px
  width: 550px
  .results-filters
    +clearfix
    padding-bottom: 10px
  &.text, &.videos
    .results-filters
      margin-left: 15px
  .time-filters, .sort-filters, .clear-filters
    float: left
    font-size: 1.1em
    a
      display: block
  .time-filters, .sort-filters
    margin-right: 15px
  .current-time-filter, .current-sort-filter, .clear-filter
    +clearfix
    cursor: pointer
    font-weight: bold
    padding: 5px $results-padding-size
    &:hover
      background-color: #F0F0F0
    span
      float: left
      &.current-label
        margin-right: 5px
    #show_options, #hide_options
      float: left
      font-size: 0.85em
      margin-right: 5px
    .triangle
      border:
        color: transparent
        style: solid
      float: left
      height: 0
      margin-top: 5px
      padding: 0
      width: 0
      &.show-options
        border-width: 6px 6px 0
      &.hide-options
        border-width: 0 6px 6px
  .current-time-filter
    padding-left: 0
  .clear-filter
    font-weight: normal
    padding: 5px $results-padding-size
    &:hover
      background-color: #F0F0F0
    a
      text-decoration: none
  .time-filter-options, .sort-filter-options
    background: #FFF
    border:
      style: solid
      width: 1px
    border-color: #CACACA
    display: none
    float: left
    list-style: none
    margin: 0
    padding: 0
    position: absolute
    z-index: 9999999
    li
      padding: 0
      &:hover
        background-color: #F0F0F0
      a, div
        padding: 5px $results-padding-size
        text-decoration: none
      .selected
        font-weight: bold
  #cdr_search_form
    +border-radius
    background: #FFF
    border:
      color: #CACACA
      style: solid
      width: 1pix
    display: none
    font-family: Verdana,Arial,sans-serif
    padding: 10px
    h3
      margin-bottom: 0.5em
    a.close
      background-image: image-url('searches/close.png')
      cursor: pointer
      height: 28px
      position: absolute
      right: -15px
      top: -15px
      width: 28px
    ul
      +clearfix
      list-style: none
      margin: 0
      padding: 0
    li
      padding: 4px 4px 0 0
      width: 354px
      &:hover
        background-color: transparent
      #cdr_date_picker
        float: right
        .ui-datepicker
          padding: 0.2em 0.5em 0
        .ui-datepicker-inline
          +border-top-left-radius(0)
        .ui-widget-content
          background: #EFEFEF
          border:
            width: 0
        a
          color: black
      .from, .to
        float: left
        width: 174px
        label
          float: left
          font-size: 1.2em
          padding: 5px 3px
          width: 50px
        .date-wrapper
          float: left
          padding: 5px
          &.highlight
            background-color: #EFEFEF
            +border-left-radius
        input
          border: 1px solid #AAA
          float: left
          margin: 0
          padding: 3px
          width: 100px
      .to
        clear: left
        margin-top: 10px
      .button
        clear: left
        float: left
        margin-top: 10px
        #cdr_search_button
          +border-radius
          +inline-block
          font:
            size: 1.2em
            weight: bold
          margin-left: 61px
          padding: 0.3em 0.5em
  &.images, &.videos, &.media
    padding-top: 18px
    padding-left: 20px
  &.text
    .results-filters
      margin-left: 35px
  &.videos
    width: 695px
    .searchresult.video
      margin-left: 0
  &.media
    padding-left: 35px
    width: 780px
  &.images
    width: 740px
    padding-left: 34px
  &.news
    .results-filters
      margin-left: 20px

  span.image_result
    float: left
    height: 165px
    margin: 0 5px 5px 0
    vertical-align: top

    a.image-link
      float: left
      clear: both
      display: block
      margin: 0
      padding: 0

    img
      margin: 0
      padding: 5px 3px
      border: 1px solid #CCC
      vertical-align: top
      max-width: 135px
      max-height: 135px

    a.host-link
      clear: both
      display: block
      font-size: 0.8em
      text-align: center
      vertical-align: top
      max-width: 135px

  .pagination-and-logo
    clear: both
    height: 35px
    margin: 0 0 0 20px
    padding: 14px 0 14px $results-padding-size - 6px

  .pagination
    float: left
    font-size: 1em
    line-height: 1.5
    margin: 0
    padding: 0
    .disabled
      display: none
    em
      +border-radius(3px)
      font-style: normal
      padding: 2px 7px
    a, a:visited
      padding: 2px 7px
      text-decoration: none
      &:hover
        +border-radius(3px)

#left_column
  float: left
  width: 140px
  overflow: hidden
  display: inline
  padding: 3px 0 0 0
  ul.navigations, ul.facet
    font-size: 1.1em
    margin: 0
    list-style: none
    li
      margin: 0
      width: 140px
      &:hover
        background-color: #F0F0F0
        +border-top-right-radius
        +border-bottom-right-radius
      &.facet-name:hover
        background-color: inherit
    a, div
      width: 118px
    a
      display: block
      font-weight: normal
      padding: 5px 4px 5px 18px
      text-decoration: none
    div
      border-width: 4px 0 4px 4px
      border-style: solid
      border-top-color: transparent
      border-bottom-color: transparent
      font-weight: bold
      padding: 1px 4px 1px 14px
      cursor: pointer
      &.facet-name
        border-width: 0
        cursor: default
        padding: 3px 4px 3px 18px

  ul.navigations
    padding: 12px 0 0
  .time-filters-and-facets-wrapper
    +clearfix
  ul.facet
    border-top: 1px solid #CACACA
    padding: 12px 0
    .collapsible
      display: none
    li .selected
      padding: 0px 4px 0px 14px
    li div.more-facets-wrapper
      border: 0
      font:
        size: 1em
        weight: normal
      margin: 0 5px 0 0
      padding: 3px 4px 3px 18px

  .options-wrapper, .more-facets-wrapper, .less-facets-wrapper
    +clearfix
    font-size: 1.1em
    margin-bottom: 15px
    padding: 5px 4px 5px 18px
    &:hover
      background-color: #F0F0F0
      +border-top-right-radius
      +border-bottom-right-radius
      cursor: pointer
  .options-wrapper
    #hide_options
      display: none
    &.expanded
      #show_options
        display: none
      #hide_options
        display: block
  #show_options, #hide_options, .more-facets, .less-facets
    float: left
    font-size: 0.85em
    margin-right: 5px
  .triangle
    border:
      color: transparent
      style: solid
    float: left
    height: 0
    margin-top: 5px
    padding: 0
    width: 0
    &.show-options
      border-width: 6px 6px 0
    &.hide-options
      border-width: 0 6px 6px
  .time-filters-and-facets-wrapper
    display: none
    &.expanded
      display: block
  .more-facets-wrapper
    .less-facets
      display: none

* html #left_column
  ul.navigations
    li
      div
        border-width: 0 0 0 4px
        padding: 5px 4px 5px 14px
      a:hover
        background-color: #F0F0F0

#results
  .searchresult
    margin: 0 0 1em 20px
    padding-left: $results-padding-size

  .searchresult  h2
    font-size: 1.4em
    font-weight: normal
    margin: 0
    span.uext_type
      font-size: 0.7em


  .searchresult  h3
    font-size: 1.1em
    font-weight: normal
    margin: 0
    a
      text-decoration: none

  .searchresult h4
    margin: 3px 0
  .results-by-logo
    float: right

  .disabled
    color: white
    display: none

  .results
    display: block
    overflow: hidden
    padding-left: 20em
    padding-right: 5em
    padding-top:   1em

#search .page-not-found
  :margin 50px auto
  :text-align center
  :width 100%
  $element-width: 754px
  h3
    :line-height 26px
    :font
      :size 20px
      :weight bold
    &.message
      :margin 30px auto
      :text-align left
      :width $element-width
  .what-to-do-wrapper
    :margin 0 auto 35px
    :text-align left
    :width $element-width
    h3
      :margin 10px 0
    span
      :font-size 15px
    ul
      :line-height 18px
      :margin 0 0 35px 0
      :padding 0
      :text-align left
    li
      :font-size 15px
      :list-style-position inside
      :padding 0 0 0 3px
  #search_form
    :margin 10px auto 0
    padding: 0
.es #search .page-not-found
  .message, .what-to-do-wrapper
    :width 765px

.news-items
  margin: 0
  padding: 0
.media .news-items
  padding-left: $results-padding-size
.newsitem
  +clearfix
  h4
    font-size: 1em
  .thumbnail
    float: left
    padding-top: 3px
    margin-right: 10px
  .mixed
    margin-left: 130px

.newsitem.video
  +clearfix
  +inline-block
  font-size: 0.8em
  height: 165px
  margin-right: 10px
  width: 120px
  h4
    font-size: 1.25em

#results .newsitem.searchresult.image
  float: left
  font-size: 1em
  margin: 0 8px 8px 0
  height: 110px
  padding: 0
  min-width: 100px
  max-width: 146px
  a
    float: left
  span.host
    background-color: #333
    color: #EEE
    display: none
    padding: 0 5px
    position: absolute
    z-index: 10
  img
    float: left
    max-width: 146px

#searchresult1
  &.first
    padding-top: $results-padding-top-size + 1
#indexeddocresult1
  padding-top: $results-padding-top-size + 1
#results.text #newsitem1
  padding-top: $results-padding-top-size + 1

#search
  .connections-wrapper
    +clearfix
    margin-bottom: 15px
    padding-right: 10px
  .connections
    float: right
    font-size: 1.1em
    ul
      margin: 0
      padding: 0
    li
      display: inline
      list-style: none
    a
      border-left:
        style: solid
        width: 1px
      padding: 0 6px 0 8px
      text-decoration: none
      &.first
        border-left-width: 0

#right_column
  margin:
    left: 708px
  overflow: hidden
  width: 240px

@import "govbox"

#usasearch_footer_container
  height: 0
  position: fixed
  bottom: 0
  left: 0
  text-align: left
  width: 100%
  z-index: 10000
  #usasearch_footer_button
    +border-top-radius
    cursor: pointer
    display: none
    font:
      size: 1em
    position: fixed
    right: 8px
    bottom: 0
    padding: 5px 10px
  #usasearch_footer.header-footer
    +clearfix
