---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&q=tradiksyon&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"W18CoImQKYKeZ22usPfNI43IHMc/Jh0-kNEErDRHfDROZj8VnbLHp4I"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - tradiksyon",
            "totalResults": "8",
            "searchTerms": "tradiksyon",
            "count": 8,
            "startIndex": 1,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.18006,
          "formattedSearchTime": "0.18",
          "totalResults": "8",
          "formattedTotalResults": "8"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "How to Find Help When Applying for an Immigration Benefit…",
           "htmlTitle": "How to Find Help When Applying for an Immigration Benefit…",
           "link": "https://www.uscis.gov/sites/default/files/USCIS/Avoid%20Scams/Educational%20Tools/UPIL%20Brochure/Avoid-howtofindhelp_Haitian_Creole.pdf",
           "displayLink": "www.uscis.gov",
           "snippet": "tradiksyon. Moun oswa gwoup sa yo se: • Yon reprezantan ki gen akreditasyon \nKomisyon. Apèl Imigrasyon k ap travay pou yon òganizasyon yo rekonèt, ak. • \nYon avoka ki gen bon repitasyon. Kijan pou mwen jwenn pwofesyonèl sèvis \nimigrasyon otorize sou Entènèt? • Ale nan sitwèb Komisyon Apèl Imigrasyon \nDepatman.",
           "htmlSnippet": "\u003cb\u003etradiksyon\u003c/b\u003e. Moun oswa gwoup sa yo se: • Yon reprezantan ki gen akreditasyon \u003cbr\u003e\nKomisyon. Apèl Imigrasyon k ap travay pou yon òganizasyon yo rekonèt, ak. • \u003cbr\u003e\nYon avoka ki gen bon repitasyon. Kijan pou mwen jwenn pwofesyonèl sèvis \u003cbr\u003e\nimigrasyon otorize sou Entènèt? • Ale nan sitwèb Komisyon Apèl Imigrasyon \u003cbr\u003e\nDepatman.",
           "cacheId": "XuNYUpUTI8YJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://www.uscis.gov/.../Avoid-howtofindhelp_Haitian_Creole.pdf",
           "htmlFormattedUrl": "https://www.uscis.gov/.../Avoid-howtofindhelp_Haitian_Creole.pdf",
           "pagemap": {
            "metatags": [
             {
              "creationdate": "D:20131212211347-08'00'",
              "creator": "Adobe InDesign CS5 (7.0)",
              "moddate": "D:20131212211351-08'00'",
              "producer": "Adobe PDF Library 9.9"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "State of New Jersey",
           "htmlTitle": "State of New Jersey",
           "link": "http://www.state.nj.us/humanservices/dmahs/home/2017_Health_Plan_Open_Enrollment_Period.pdf",
           "displayLink": "www.state.nj.us",
           "snippet": "Cna6oCnb aw,lt1X: 1-800-701-0720). French Creole (Haitian Creole). NJ \nFamilyCare obeyi lwa f[...]
