---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=anything&quotaUser=USASearch&safe=medium&start=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/TFQVsREQ1EVWTD-NC-rwzUJUjjM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "2140000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 12,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "previousPage": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "2140000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 2,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "2140000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 22,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.559776,
          "formattedSearchTime": "0.56",
          "totalResults": "2140000",
          "formattedTotalResults": "2,140,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Anything Else You Think We Need to Know — City of Albuquerque",
           "htmlTitle": "\u003cb\u003eAnything\u003c/b\u003e Else You Think We Need to Know — City of Albuquerque",
           "link": "https://www.cabq.gov/efficiency-stewardship-accountability/esa-reporting-form/anything-else-you-think-we-need-to-know",
           "displayLink": "www.cabq.gov",
           "snippet": "Anything Else You Think We Need to Know. Anything Else You Think We Need to \nKnow. Navigation · Form Folder RealAudio broadcast ESA Reporting Form.",
           "htmlSnippet": "\u003cb\u003eAnything\u003c/b\u003e Else You Think We Need to Know. \u003cb\u003eAnything\u003c/b\u003e Else You Think We Need to \u003cbr\u003e\nKnow. Navigation &middot; Form Folder RealAudio broadcast ESA Reporting Form.",
           "cacheId": "eahdvCY9PbUJ",
           "formattedUrl": "https://www.cabq.gov/.../anything-else-you-think-we-need-to-know",
           "htmlFormattedUrl": "https://www.cabq.gov/.../\u003cb\u003eanything\u003c/b\u003e-else-you-think-we-need-to-know",
           "pagemap": {
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1",
              "msapplication-tilecolor": "#ffffff",
              "msapplication-tileimage": "/++theme++cabq.theme/img/ms-icon-144x144.png",
              "google-translate-customization": "7681c217d38ad33b-476c4dfe35bbc685-g003661c2c14afd79-c"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Salmonella",
           "htmlTitle": "Salmonella",
           "link": "https://www.cdc.gov/features/salmonellafrogturtle/",
           "displayLink": "www.cdc.gov",
           "snippet": "Aug 3, 2016 ... Salmonella germs in reptile and amphibian droppings (feces) can contaminate \nanything they contact. If there are young children in your home, ...",
           "htmlSnippet": "Aug 3, 2016 \u003cb\u003e...\u003c/b\u003e Salmonella germs in reptile and amphibian droppings (feces) can contaminate \u003cbr\u003e\n\u003cb\u003eanything\u003c/b\u003e they contact. If there are young children in your home,&nbsp;...",
           "cacheId": "fz3lJxeN_1kJ",
           "formattedUrl": "https://www.cdc.gov/features/salmonellafrogturtle/",
           "htmlFormattedUrl": "https://www.cdc.gov/features/salmonellafrogturtle/",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "318",
              "height": "159",
              "src": "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTP6e9XIdN2jQhx_BLF83-aACCWsBkIZBgz1wdVD5pZkXSaMBaSdc5ZDMg"
             }
            ],
            "organization": [
             {
              "telephone": "800-CDC-INFO (800-232-4636)"
             }
            ],
            "postaladdress": [
             {
              "streetaddress": "1600 Clifton Road",
              "addresslocality": "Atlanta",
              "addressregion": "GA",
              "postalcode": "30329-4027",
              "addresscountry": "USA"
             }
            ],
            "contactpoint": [
             {
              "url": "Email CDC-INFO"
             },
             {
              "url": "U.S. Department of Health & Human Services"
             },
             {
              "url": "HHS/Open"
             },
             {
              "url": "USA.gov"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1",
              "og:title": "Take Care with Pet Reptiles",
              "og:description[...]
