---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=sailing%20dingies&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/Sz5NyWv-sC6SCytptgjkNUuttuk"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - sailing dingies",
            "totalResults": "77",
            "searchTerms": "sailing dingies",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - sailing dingies",
            "totalResults": "77",
            "searchTerms": "sailing dingies",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.186021,
          "formattedSearchTime": "0.19",
          "totalResults": "77",
          "formattedTotalResults": "77"
         },
         "spelling": {
          "correctedQuery": "sailing dinghies",
          "htmlCorrectedQuery": "sailing \u003cb\u003e\u003ci\u003edinghies\u003c/i\u003e\u003c/b\u003e"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Pleasure Boats - Procedures for entering the U.S.",
           "htmlTitle": "Pleasure \u003cb\u003eBoats\u003c/b\u003e - Procedures for entering the U.S.",
           "link": "https://help.cbp.gov/app/answers/detail/a_id/226/~/pleasure-boats---procedures-for-entering-the-u.s.",
           "displayLink": "help.cbp.gov",
           "snippet": "A cruising license exempt pleasure boats of certain countries from having to \nundergo formal entry and clearance procedures and can be obtained from the \nCBP ...",
           "htmlSnippet": "A cruising license exempt pleasure \u003cb\u003eboats\u003c/b\u003e of certain countries from having to \u003cbr\u003e\nundergo formal entry and clearance procedures and can be obtained from the \u003cbr\u003e\nCBP&nbsp;...",
           "cacheId": "Netpg5Ih_QYJ",
           "formattedUrl": "https://help.cbp.gov/.../pleasure-boats---procedures-for-entering-the-u.s.",
           "htmlFormattedUrl": "https://help.cbp.gov/.../pleasure-\u003cb\u003eboats\u003c/b\u003e---procedures-for-entering-the-u.s.",
           "pagemap": {
            "hcard": [
             {
              "fn": "U.S. Customs & Border Protection",
              "url": "http://www.cbp.gov/",
              "url_text": "U.S. Customs & Border Protection"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Importing a boat for personal use into the U.S.",
           "htmlTitle": "Importing a boat for personal use into the U.S.",
           "link": "https://help.cbp.gov/app/answers/detail/a_id/1184/~/importing-a-boat-for-personal-use-into-the-u.s.",
           "displayLink": "help.cbp.gov",
           "snippet": "Rates of Duty: Pleasur[...]
