---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=anything&quotaUser=USASearch&safe=medium&start=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/4BpL-pZrJMY9zL9V7iRTb6aRPlQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "842000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 12,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "previousPage": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "842000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 2,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "842000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 22,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.270198,
          "formattedSearchTime": "0.27",
          "totalResults": "842000",
          "formattedTotalResults": "842,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Lawriter - ORC - 1.03 Anything of value defined.",
           "htmlTitle": "Lawriter - ORC - 1.03 \u003cb\u003eAnything\u003c/b\u003e of value defined.",
           "link": "http://codes.ohio.gov/orc/gp1.03",
           "displayLink": "codes.ohio.gov",
           "snippet": "1.03 Anything of value defined. As used in any section of the Revised Code for \nthe violation of which there is provided a penalty or forfeiture, unless the context ...",
           "htmlSnippet": "1.03 \u003cb\u003eAnything\u003c/b\u003e of value defined. As used in any section of the Revised Code for \u003cbr\u003e\nthe violation of which there is provided a penalty or forfeiture, unless the context&nbsp;...",
           "cacheId": "ikx8eJvdGVcJ",
           "formattedUrl": "codes.ohio.gov/orc/gp1.03",
           "htmlFormattedUrl": "codes.ohio.gov/orc/gp1.03"
          },
          {
           "kind": "customsearch#result",
           "title": "2017 News Feature: Reddit \"Ask Me Anything\" Recap: The ...",
           "htmlTitle": "2017 News Feature: Reddit &quot;Ask Me \u003cb\u003eAnything\u003c/b\u003e&quot; Recap: The ...",
           "link": "https://www.genome.gov/27568204/2017-news-feature-reddit-ask-me-anything-recap-the-undiagnosed-diseases-network/",
           "displayLink": "www.genome.gov",
           "snippet": "Mar 8, 2017 ... Reddit \"Ask Me Anything\" Recap: The Undiagnosed Diseases Network. By \nSheena Faherty, Ph.D. Science Writer, NHGRI ...",
           "htmlSnippet": "Mar 8, 2017 \u003cb\u003e...\u003c/b\u003e Reddit &quot;Ask Me \u003cb\u003eAnything\u003c/b\u003e&quot; Recap: The Undiagnosed Diseases Network. By \u003cbr\u003e\nSheena Faherty, Ph.D. Science Writer, NHGRI&nbsp;...",
           "cacheId": "dXH7dKn_D4cJ",
           "formattedUrl": "https://www.genome.gov/.../2017-news-feature-reddit-ask-me-anything-recap -the-undiagnosed-diseases-network/",
           "htmlFormattedUrl": "https://www.genome.gov/.../2017-news-feature-reddit-ask-me-\u003cb\u003eanything\u003c/b\u003e-recap -the-undiagnosed-diseases-network/",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "275",
              "height": "183",
              "src": "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTQvp8P8vnSNnl5raCOkrbKzAKdyAvS8KcbkXt6lCb8W96xbuQmWsm4U7HR"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1",
              "og:title": "2017 News Feature: Reddit",
              "og:type": "website",
              "og:url": "https://www.genome.gov/27568204/2017-News-Feature-Reddit-Ask-Me-Anything-Recap-The-Undiagnosed-Diseases-Network",
              "og:image": "https://www.genome.gov/images/content/UDN_Reddit_AMA.jpg",
              "og:site_name": "National Human Genome Research Institute (NHGRI)",
              "apple-mobile-web-app-title": "Genome.gov",
              "application-name": "Genome.gov"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.genome.gov/images/content/UDN_Reddit_AMA.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Ask Me Anything | Space Station",
           "htmlTitle": "Ask Me \u003cb\u003eAnything\u003c/b\u003e | Space Station",
           "link": "https://blogs.nasa.gov/spacestation/tag/ask-me-anything/",
           "displayLink": "blogs.nasa.gov",
           "snippet": "Jan 22[...]
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=anything&quotaUser=USASearch&safe=medium&start=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/81EX6Gc9RI48nTeWWRkF6Wit22E"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      [...]
