---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=anything&quotaUser=USASearch&safe=medium&start=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"qJqSYYBKC7OE65YzOsiOXjJ8lYg/JNgBpdG7XSv02bovFthO3xFhFv0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "936000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 12,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "previousPage": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "936000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 2,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "936000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 22,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.712724,
          "formattedSearchTime": "0.71",
          "totalResults": "936000",
          "formattedTotalResults": "936,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Tag - anything for my hubs and son",
           "htmlTitle": "Tag - \u003cb\u003eanything\u003c/b\u003e for my hubs and son",
           "link": "https://onlinetraining.tsl.texas.gov/tag/index.php?tag=anything%20for%20my%20hubs%20and%20son",
           "displayLink": "onlinetraining.tsl.texas.gov",
           "snippet": "Page path. Home / ▻; Site pages / ▻; Tags / ▻; anything for my hubs and son. \nanything for my hubs and son. Users tagged with \"anything for my hubs and son\":\n ...",
           "htmlSnippet": "Page path. Home / ▻; Site pages / ▻; Tags / ▻; \u003cb\u003eanything\u003c/b\u003e for my hubs and son. \u003cbr\u003e\n\u003cb\u003eanything\u003c/b\u003e for my hubs and son. Users tagged with &quot;\u003cb\u003eanything\u003c/b\u003e for my hubs and son&quot;:\u003cbr\u003e\n&nbsp;...",
           "cacheId": "M4r6uRCAAkoJ",
           "formattedUrl": "https://onlinetraining.tsl.texas.gov/.../index.php?... anything%20for%20my%20hubs%20and%20son",
           "htmlFormattedUrl": "https://onlinetraining.tsl.texas.gov/.../index.php?... \u003cb\u003eanything\u003c/b\u003e%20for%20my%20hubs%20and%20son",
           "pagemap": {
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1.0"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "I've been contacted by a mortgage relief company. Is there anything ...",
           "htmlTitle": "I&#39;ve been contacted by a mortgage relief company. Is there \u003cb\u003eanything\u003c/b\u003e ...",
           "link": "http://www.consumerfinance.gov/askcfpb/277/ive-been-contacted-by-a-mortgage-relief-company-is-there-anything-that-these-companies-have-to-tell-me.html",
           "displayLink": "www.consumerfinance.gov",
           "snippet": "Is there anything that these companies have to tell me? These companies must \ndisclose that: They are not associated with the government, and their services ...",
           "htmlSnippet": "Is there \u003cb\u003eanything\u003c/b\u003e that these companies have to tell me? These companies must \u003cbr\u003e\ndisclose that: They are not associated with the government, and their services&nbsp;...",
           "cacheId": "fQjhWEgWisYJ",
           "formattedUrl": "www.consumerfinance.gov/.../ive-been-contacted-by-a-mortgage-relief- company-is-there-anything-that-these-companies-have-to-tell-me.ht...",
           "htmlFormattedUrl": "www.consumerfinance.gov/.../ive-been-contacted-by-a-mortgage-relief- company-is-there-\u003cb\u003eanything\u003c/b\u003e-that-these-companies-have-to-tell-me.ht...",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "301",
              "height": "167",
              "src": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzK6GuJJ18K01TlykHlF_MPa2VXsyXD1G10mWbkj4LQ8uCH2eotPbqTHg"
             }
            ],
            "metatags": [
             {
              "copyright": "Public domain",
              "og:type": "government",
              "og:site_name": "Consumer Financial Protection Bureau",
              "fb:app_id": "210516218981921",
              "og:image": "/static/nemo/_/img/logo.8bb2ca7afdb4.svg",
              "og:title": "I&#146;ve been contacted by a mortgage relief company. Is there anything that these companies have to tell me?",
              "og:description": "These companies must disclose that:    They are not associated with the government, and their services have not been approved by the government or your lender  Your lender may not agree to change the terms of your loan  You could lose your home and damage your credit rating if the company tells you to stop paying your mortgage    These companies must also explain in their communications to you",
              "og:url": "https://www.consumerfinance.gov/askcfpb/277/ive-been-contacted-by-a-mortgage-relief-company-is-there-anything-that-these-companies-have-to-tell-me.html",
              "viewport": "width=device-width, initial-scale=1"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.consumerfinance.gov/static/img/fmc-consumer-tools-540x300.41fe63804fc1.png"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Lawriter - ORC - 1.03 Anything of value defined.",
           "htmlTitle": "Lawriter - ORC - 1.03 \u003cb\u003eAnything\u003c/b\u003e of value defined.",
           "link": "http://codes.ohio.gov/orc/gp1.03",
           "displayLink": "codes.[...]
