---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=white%20house&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/_j3kJ1Zhg9pKQ-RlAPDJ9amNW58"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - white house",
            "totalResults": "2890000",
            "searchTerms": "white house",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - white house",
            "totalResults": "2890000",
            "searchTerms": "white house",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.385662,
          "formattedSearchTime": "0.39",
          "totalResults": "2890000",
          "formattedTotalResults": "2,890,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "The White House | whitehouse.gov",
           "htmlTitle": "The \u003cb\u003eWhite House\u003c/b\u003e | \u003cb\u003ewhitehouse\u003c/b\u003e.gov",
           "link": "https://www.whitehouse.gov/",
           "displayLink": "www.whitehouse.gov",
           "snippet": "Official White House site presents issue positions, news, Cabinet, appointments, \noffices and major speeches. Includes biography, video tour and photo essays.",
           "htmlSnippet": "Official \u003cb\u003eWhite House\u003c/b\u003e site presents issue positions, news, Cabinet, appointments, \u003cbr\u003e\noffices and major speeches. Includes biography, video tour and photo essays.",
           "cacheId": "DiSks2mO_OAJ",
           "formattedUrl": "https://www.whitehouse.gov/",
           "htmlFormattedUrl": "https://www.\u003cb\u003ewhitehouse\u003c/b\u003e.gov/",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "360",
              "height": "140",
              "src": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiC2VIxhkb2DlYvD1513Wq4YzMD0se9XmuZ8m09g4tS03NKZUl48qq-Ww"
             }
            ],
            "Item": [
             {
              "title": "HERO MODULE SLUG",
              "num_replies": "0"
             }
            ],
            "metatags": [
             {
              "msapplication-square70x70logo": "https://www.whitehouse.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-70x70.png",
              "msapplication-tileimage": "https://www.whitehouse.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-70x70.png",
              "msapplication-square150x150logo": "https://www.whitehouse.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-150x150.png",
              "msapplication-wide310x150logo": "https://www.whitehouse.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-310x150.png",
              "msapplication-square310x310logo": "https://www.whitehouse.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-310x310.png",
              "msapplication-tilecolor": "#003C80",
              "application-name": "Whitehouse",
              "msapplication-config": "https://www.whitehouse.gov/profiles/forall/themes/custom/fortyfour/browserconfig.xml",
              "og:site_name": "whitehouse.gov",
              "og:type": "website",
              "og:url": "https://www.whitehouse.gov/",
              "og:title": "The White House",
              "og:description": "President Donald J. Trump",
              "twitter:card": "summary",
              "twitter:site": "@WhiteHouse",
              "twitter:creator": "@WhiteHouse",
              "twitter:url": "https://www.whitehouse.gov/",
              "twitter:title": "The White House",
              "twitter:description": "President Donald J. Trump",
              "twitter:image:src": "https://www.whitehouse.gov/sites/whitehouse.gov/files/images/twitter_cards_default.jpg",
              "twitter:image:width": "240",
              "twitter:image:height": "240",
              "mobileoptimized": "width",
              "handheldfriendly": "true",
              "viewport": "width=device-width"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.whitehouse.gov/sites/whitehouse.gov/files/hero-backgrounds/DJT-Bio-Header%20(2).jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "The White House Newsroom | whitehouse.gov",
           "htmlTitle": "The \u003cb\u003eWhite House\u003c/b\u003e Newsroom | \u003cb\u003ewhitehouse\u003c/b\u003e.gov",
           "link": "https://www.whitehouse.gov/blog",
           "[...]
