---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&q=tradiksyon&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/gZVOHFJYb6Jtxwt_rhFIcadjDfQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - tradiksyon",
            "totalResults": "39",
            "searchTerms": "tradiksyon",
            "count": 10,
            "startIndex": 1,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - tradiksyon",
            "totalResults": "39",
            "searchTerms": "tradiksyon",
            "count": 10,
            "startIndex": 11,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 1.347111,
          "formattedSearchTime": "1.35",
          "totalResults": "39",
          "formattedTotalResults": "39"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Further Action Notice",
           "htmlTitle": "Further Action Notice",
           "link": "https://www.uscis.gov/sites/default/files/USCIS/Verification/E-Verify/E-Verify_Native_Documents/FurtherActionNotice/Haitian-Creole/SSA_Further_Action_Notice_Haitain_Creole.pdf",
           "displayLink": "www.uscis.gov",
           "snippet": "kapab li ak konprann lang Angle-a, ou pab bay anplwaye-a on tradiksyon Avi \nPou Aksyon Siplemantè sa. Tradiksyon yo disponib nan seksyon 'View Essential\n ...",
           "htmlSnippet": "kapab li ak konprann lang Angle-a, ou pab bay anplwaye-a on \u003cb\u003etradiksyon\u003c/b\u003e Avi \u003cbr\u003e\nPou Aksyon Siplemantè sa. \u003cb\u003eTradiksyon\u003c/b\u003e yo disponib nan seksyon &#39;View Essential\u003cbr\u003e\n&nbsp;...",
           "cacheId": "sBVFlNSQ2bcJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://www.uscis.gov/.../SSA_Further_Action_Notice_Haitain_Creole.pdf",
           "htmlFormattedUrl": "https://www.uscis.gov/.../SSA_Further_Action_Notice_Haitain_Creole.pdf",
           "pagemap": {
            "metatags": [
             {
              "author": "DHS/USCIS/VER",
              "company": "DHS",
              "contenttypeid": "0x0101006F97F1943B6CC544B390D0FFE672C365",
              "creationdate": "D:20130903115509-04'00'",
              "creator": "Acrobat PDFMaker 10.1 for Word",
              "moddate": "D:20130903215254-04'00'",
              "order": "1100.000000",
              "producer": "Adobe PDF Library 10.0",
              "sourcemodified": "D:20130830133922",
              "title": "Further Action Notice"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Estati Tanporè Pwoteje pou Ayiti",
           "htmlTitle": "Estati Tanporè Pwoteje pou Ayiti",
           "link": "https://www.uscis.gov/sites/default/files/USCIS/Humanitarian/Temporary%20Protected%20Status%20(TPS)%20%26%20Deferred%20Enforced%20Departure%20(DED)/Temporary%20Protected%20Status/haiti-tps-creole.pdf",
           "displayLink": "www.uscis.gov",
           "snippet": "ki pa ekri nan lang angle dwe gen yon tradiksyon anglè sètifye ki akonpaye l. 11. \nKouman pou m pwouve prezans fizik kontinyèl ak rezidans kontinyèl Ozetazini ...",
           "htmlSnippet": "ki pa ekri nan lang angle dwe gen yon \u003cb\u003etradiksyon\u003c/b\u003e anglè sètifye ki akonpaye l. 11. \u003cbr\u003e\nKouman pou m pwouve prezans fizik kontinyèl ak rezidans kontinyèl Ozetazini&nbsp;...",
           "cacheId": "c1CBU0_XRDQJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://www.uscis.gov/sites/default/files/USCIS/.../haiti-tps-creole.pdf",
           "htmlFormattedUrl": "https://www.uscis.gov/sites/default/files/USCIS/.../haiti-tps-creole.pdf",
           "pagemap": {
            "metatags": [
             {
              "creationdate": "D:20100118183535-05'00'",
              "subject": "Temporary Protected Status - Haiti in Creole",
              "author": "DHS/USCIS",
              "creator": "Acrobat PDFMaker 8.1 for Word",
              "producer": "Acrobat Distiller 8.1.0 (Windows)",
              "moddate": "D:20100118183922-05'00'",
              "company": "USCIS",
              "sourcemodified": "D:20100118233419",
              "title": "Estati Tanporè Pwoteje pou Ayiti"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Title VI Complaint Form",
           "htmlTitle": "Title VI Complaint Form",
           "link": "http://www.broward.org/BCT/Riders/Pages/TitleVIComplaintForm.aspx",
           "displayLink": "www.broward.org",
           "snippet": "LANG TRADIKSYON SÈVIS KI DISPONIB REMAK: Si w mande pou s a Tit VI \nFòm Plent dwe tradui nan yon lòt lang, tanpri klike sou swa “Google Translate” \nnan ...",
           "htmlSnippet": "LANG \u003cb\u003eTRADIKSYON\u003c/b\u003e SÈVIS KI DISPONIB REMAK: Si w mande pou s a Tit VI \u003cbr\u003e\nFòm Plent dwe tradui nan yon lòt lang, tanpri klike sou swa “Google Translate” \u003cbr\u003e\nnan&nbsp;...",
           "cacheId": "hZLPD5rI3f4J",
           "formattedUrl": "www.broward.org/BCT/Riders/Pages/TitleVIComplaintForm.aspx",
           "htmlFormattedUrl": "www.broward.org/BCT/Riders/Pages/TitleVIComplaintForm.aspx",
           "pagemap": {
            "metatags": [
             {
              "msvalidate.01": "087CD2A10401EE729CCC24346CEB82F5",
              "viewport": "width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "CDC - Haiti Cholera Outbreak - Materyèl Travayè Sante Nan ...",
           "htmlTitle": "CDC - Haiti Cholera Outbreak - Materyèl Travayè Sante Nan ...",
           "link": "http://www.cdc.gov/haiticholera/training/creole/chw_materials_creole.htm",
           "displayLink": "www.cdc.gov",
           "snippet": "Materyèl Travayè Sante Nan Kominote Yo Akòz kalite ijan repons CDC pou \nEpidemi Kolera a, tradiksyon sa a pa pase nan pwosesis kalite estanda nou. \nKidonk ...",
           "htmlSnippet": "Materyèl Travayè Sante Nan Kominote Yo Akòz kalite ijan repons CDC pou \u003cbr\u003e\nEpidemi Kolera a, \u003cb\u003etradiksyon\u003c/b\u003e sa a pa pase nan pwosesis kalite estanda nou. \u003cbr\u003e\nKidonk&nbsp;...",
           "cacheId": "JeeIfejNAhwJ",
           "formattedUrl": "www.cdc.gov/haiticholera/training/creole/chw_materials_creole.htm",
           "htmlFormattedUrl": "www.cdc.gov/haiticholera/training/creole/chw_materials_creole.htm",
           "pagemap": {
            "metatags": [
             {
              "dc.subject": "Global Health",
              "dc.language": "eng",
              "template.version": "2.3.0"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "How to Find Help When Applying for an Immigration Benefit…",
           "htmlTitle": "How to Find Help When Applying for an Immigration Benefit…",
           "link": "https://www.uscis.gov/sites/default/files/USCIS/Avoid%20Scams/Educational%20Tools/UPIL%20Brochure/Avoid-howtofindhelp_Haitian_Creole.pdf",
           "displayLink": "www.uscis.gov",
           "[...]
