---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_zh-cn&q=%E4%B8%AD%E5%9B%BD&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"W18CoImQKYKeZ22usPfNI43IHMc/76sE6xOZCGIe-PNPR1L8z58Uow4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - 中国",
            "totalResults": "118000",
            "searchTerms": "中国",
            "count": 10,
            "startIndex": 1,
            "language": "lang_zh-cn",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - 中国",
            "totalResults": "118000",
            "searchTerms": "中国",
            "count": 10,
            "startIndex": 11,
            "language": "lang_zh-cn",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.256729,
          "formattedSearchTime": "0.26",
          "totalResults": "118000",
          "formattedTotalResults": "118,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "申请美国签证| 节假日及闭馆说明- 在中国",
           "htmlTitle": "申请美国签证| 节假日及闭馆说明- 在\u003cb\u003e中国\u003c/b\u003e",
           "link": "http://www.ustraveldocs.com/cn_zh/cn-gen-holidays.asp",
           "displayLink": "www.ustraveldocs.com",
           "snippet": "闭馆日- 2018年. 日期, 星期, 节假日, 国家. 1月1日, 星期一, 元旦, 中国/美国节假日. 1\n月15日, 星期一, 马丁路德金诞辰日, 美国节假日. 2月15-20日, 星期四至星期二, 春节, \n中国节假日. 2月19日, 星期一, 华盛顿诞辰日, 美国节假日. 4月5日, 星期四, 清明节, \n中国节假日. 5月1日, 星期二, 国际劳动节, 中国节假日. 5月28日, 星期一, 阵亡烈士 ...",
           "htmlSnippet": "闭馆日- 2018年. 日期, 星期, 节假日, 国家. 1月1日, 星期一, 元旦, \u003cb\u003e中国\u003c/b\u003e/美国节假日. 1\u003cbr\u003e\n月15日, 星期一, 马丁路德金诞辰日, 美国节假日. 2月15-20日, 星期四至星期二, 春节, \u003cbr\u003e\n\u003cb\u003e中国\u003c/b\u003e节假日. 2月19日, 星期一, 华盛顿诞辰日, 美国节假日. 4月5日, 星期四, 清明节, \u003cbr\u003e\n\u003cb\u003e中国\u003c/b\u003e节假日. 5月1日, 星期二, 国际劳动节, \u003cb\u003e中国\u003c/b\u003e节假日. 5月28日, 星期一, 阵亡烈士&nbsp;...",
           "cacheId": "EOBzr5yTsbwJ",
           "formattedUrl": "www.ustraveldocs.com/cn_zh/cn-gen-holidays.asp",
           "htmlFormattedUrl": "www.ustraveldocs.com/cn_zh/cn-gen-holidays.asp"
          },
          {
           "kind": "customsearch#result",
           "title": "申请美国签证| 主页- China (English)",
           "htmlTitle": "申请美国签证| 主页- China (English)",
           "link": "http://www.ustraveldocs.com/cn_zh/index.html",
           "displayLink": "www.ustraveldocs.com",
           "snippet": "对居住在俄罗斯的美国签证申请人的公告：通常在俄罗斯居住但暂时无法及时申请\n美国签证的申请人，可以在中国的任一美国使领馆递交你们的签证申请。申请人不\n需要拥有中国居民身份来递交在中国的美国签证申请，但是由于我们不接受申请人\n本人不在中国的免面谈申请， 因此申请人在签证申请和面谈期间必须本人在中国。\n所有的 ...",
           "htmlSnippet": "对居住在俄罗斯的美国签证申请人的公告：通常在俄罗斯居住但暂时无法及时申请\u003cbr\u003e\n美国签证的申请人，可以在\u003cb\u003e中国\u003c/b\u003e的任一美国使领馆递交你们的签证申请。申请人不\u003cbr\u003e\n需要拥有\u003cb\u003e中国\u003c/b\u003e居民身份来递交在\u003cb\u003e中国\u003c/b\u003e的美国签证申请，但是由于我们不接受申请人\u003cbr\u003e\n本人不在\u003cb\u003e中国\u003c/b\u003e的免面谈申请， 因此申请人在签证申请和面谈期间必须本人在\u003cb\u003e中国\u003c/b\u003e。\u003cbr\u003e\n所有的&nbsp;...",
           "cacheId": "72nHFUVbiSgJ",
           "formattedUrl": "www.ustraveldocs.com/cn_zh/index.html",
           "htmlFormattedUrl": "www.ustraveldocs.com/cn_zh/index.html",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "305",
              "height": "165",
              "src": "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSfMA7caQPVB5GfIIgfqiQm9S2d91hJg65e1_-GG5Gov0bRqqWyXmoI72jx"
             }
            ],
            "cse_image": [
             {
              "src": "http://www.ustraveldocs.com/cn_zh/images/brooklyn_bridge.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "申请美国签证| 签证类型- 在中国",
           "htmlTitle": "申请美国签证| 签证类型- 在\u003cb\u003e中国\u003c/b\u003e",
           "link": "http://www.ustraveldocs.com/cn_zh/cn-niv-visatypeinfo.asp",
           "displayLink": "www.ustraveldocs.com",
           "snippet": "签证类型. 当前页面. 概述; 非移民签证. [...]
