---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=anything&quotaUser=USASearch&safe=medium&start=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ZK6WcJ2_cdL-1Kol5cpaPQsD0mI/-TWIwPHw7PeuGRbnPZC3oJNWvSQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "1740000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 12,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "previousPage": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "1740000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 2,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "1740000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 22,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.404603,
          "formattedSearchTime": "0.40",
          "totalResults": "1740000",
          "formattedTotalResults": "1,740,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "USCIS - Help Center - Answer for Can I do anything about an ...",
           "htmlTitle": "USCIS - Help Center - Answer for Can I do \u003cb\u003eanything\u003c/b\u003e about an ...",
           "link": "https://my.uscis.gov/helpcenter/article/can-i-do-anything-about-an-unfavorable-decision-issued-by-uscis",
           "displayLink": "my.uscis.gov",
           "snippet": "Can I do anything about an unfavorable decision issued by USCIS? Yes, you \nmay file an appeal on some unfavorable decisions to the USCIS Administrative ...",
           "htmlSnippet": "Can I do \u003cb\u003eanything\u003c/b\u003e about an unfavorable decision issued by USCIS? Yes, you \u003cbr\u003e\nmay file an appeal on some unfavorable decisions to the USCIS Administrative&nbsp;...",
           "cacheId": "yV69kUbcluMJ",
           "formattedUrl": "https://my.uscis.gov/.../can-i-do-anything-about-an-unfavorable-decision- issued-by-uscis",
           "htmlFormattedUrl": "https://my.uscis.gov/.../can-i-do-\u003cb\u003eanything\u003c/b\u003e-about-an-unfavorable-decision- issued-by-uscis",
           "pagemap": {
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1",
              "csrf-param": "authenticity_token",
              "csrf-token": "qXd9Mo2bC2BQdYVsUdLV+L3GU3YUn1j9fFMYeXU04DedThQCreb9QaMADoqQuK+Vovg/z9pPZYA8INI586Osyg=="
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Can't find anything? | BadgerLink",
           "htmlTitle": "Can&#39;t find \u003cb\u003eanything\u003c/b\u003e? | BadgerLink",
           "link": "http://badgerlink.dpi.wi.gov/research-guide/research/cant-find-anything",
           "displayLink": "badgerlink.dpi.wi.gov",
           "snippet": "Don't panic! Look for different keywords to search; Add or remove a word or two \nfrom your search phrase; Try using either the singular or plural form of the word ...",
           "htmlSnippet": "Don&#39;t panic! Look for different keywords to search; Add or remove a word or two \u003cbr\u003e\nfrom your search phrase; Try using either the singular or plural form of the word&nbsp;...",
           "cacheId": "p-bNeOdhAW0J",
           "formattedUrl": "badgerlink.dpi.wi.gov/research-guide/research/cant-find-anything",
           "htmlFormattedUrl": "badgerlink.dpi.wi.gov/research-guide/research/cant-find-\u003cb\u003eanything\u003c/b\u003e",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "120",
              "height": "120",
              "src": "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSnC6Gmq2QchF-TXc79n_VLOAZcDBMdzq1WW8eGIWDiaVFr-DrT-SOZdw"
             }
            ],
            "Item": [
             {
              "title": "Header - social media"
             },
             {
              "title": "Footer Text"
             },
             {
              "title": "Footer Back to top block"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1.0",
              "msapplication-tilecolor": "#333399",
              "msapplication-tileimage": "/mstile-144x144.png",
              "theme-color": "#333399"
             }
            ],
            "cse_image": [
             {
              "src": "http://badgerlink.dpi.wi.gov/sites/default/files/imce/research_guide/research.png"
             }
            ],
            "Document": [
             {
              "title": "Can't find anything?"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Anything but Bland",
           "htmlTitle": "\u003cb\u003eAnything\u003c/b\u003e but Bland",
           "link": "http://gov.texas.gov/files/disabilities/Anything_But_Bland.pdf",
           "displayLink": "gov.texas.gov",
           "snippet": "degree or anything in higher education,” Scanlan said. “You can't get most of \nthese books in Braille, so she has to scan every page so that her computer can ...",
           "htmlSnippet": "degree or \u003cb\u003eanything\u003c/b\u003e in higher education,” Scanlan said. “You can&#39;t get most of \u003cbr\u003e\nthese books in Braille, so she has to scan every page so that her computer can&nbsp;...",
           "cacheId": "r-IwzoavsnoJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "gov.texas.gov/files/disabilities/Anything_But_Bland.pdf",
           "htmlFormattedUrl": "gov.texas.gov/files/disabilities/\u003cb\u003eAnything\u003c/b\u003e_But_Bland.pdf",
           "pagemap": {
            "metatags": [
             {
              "creationdate": "D:20111019152309-05'00'",
              "creator": "Adobe InDesign CS3 (5.0)",
              "producer": "Adobe PDF Library 8.0",
              "moddate": "D:20120227153142-06'00'"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Salmonella",
           "htmlTitle": "Salmonella",
           "link": "https://www.cdc.gov/features/salmonellafrogturtle/",
           "displayLink": "www.cdc.gov",
           "snippet": "Aug 3, 2016 ... Salmonella germs in reptile and amphibian droppings (feces) can contaminate \nanything they contact. If there are young children in your home, ...",
           "htmlSnippet": "Aug 3, 2016 \u003cb\u003e...\u003c/b\u003e Salmonella germs in reptile and amphibian droppings (feces) can contaminate \u003cbr\u003e\n\u003cb\u003eanything\u003c/b\u003e they contact. If there are young children in your home,&nbsp;...",
           "cacheId": "fz3lJxeN_1kJ",
           "formattedUrl": "https://www.cdc.gov/features/salmonellafrogturtle/",
           "htmlFormattedUrl": "https://www.cdc.gov/features/salmonellafrogturtle/",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "318",
              "height": "159",
              "src": "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTP6e9XIdN2jQhx_BLF83-aACCWsBkIZBgz1wdVD5pZkXSaMBaSdc5ZDMg"
             }
            ],
            "organization": [
             {
              "telephone": "800-CDC-INFO (800-232-4636)"
             }
            ],
            "postaladdress": [
             {
              "streetaddress": "1600 Clifton Road",
              "addresslocality": "Atlanta",
              "addressregion": "GA",
              "postalcode": "30329-4027",
              "addresscountry": "USA"
             }
            ],
            "contactpoint": [
             {
              "url": "Email CDC-INFO"
             },
             {
              "url": "U.S. Department of Health & Human Services"
             },
             {
              "url": "HHS/Open"
             },
             {
              "url": "USA.gov"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1",
              "og:title": "Take Care with Pet Reptiles",
              "og:description[...]
