---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_es&q=casa%20blanca&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/1FP_bO3_HUMXD4j5qDlYRTOFp-c"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - casa blanca",
            "totalResults": "168000",
            "searchTerms": "casa blanca",
            "count": 10,
            "startIndex": 1,
            "language": "lang_es",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - casa blanca",
            "totalResults": "168000",
            "searchTerms": "casa blanca",
            "count": 10,
            "startIndex": 11,
            "language": "lang_es",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.394576,
          "formattedSearchTime": "0.39",
          "totalResults": "168000",
          "formattedTotalResults": "168,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Whitehouse.gov en Espanol | whitehouse.gov",
           "htmlTitle": "Whitehouse.gov en Espanol | whitehouse.gov",
           "link": "https://www.whitehouse.gov/espanol",
           "displayLink": "www.whitehouse.gov",
           "snippet": "El Presidente participa en un foro sobre inmigración en el centro comunitario, \nCasa Azafrán en. Los Nuevos Estadounidenses ... Blog de la Casa Blanca ...",
           "htmlSnippet": "El Presidente participa en un foro sobre inmigración en el centro comunitario, \u003cbr\u003e\nCasa Azafrán en. Los Nuevos Estadounidenses ... Blog de la \u003cb\u003eCasa Blanca\u003c/b\u003e&nbsp;...",
           "cacheId": "eSD_davNl0AJ",
           "formattedUrl": "https://www.whitehouse.gov/espanol",
           "htmlFormattedUrl": "https://www.whitehouse.gov/espanol",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "310",
              "height": "163",
              "src": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpPc6d4VrDYnwpvxMHDZf26Osef28UFy7AZjBRb04QgabMUNcxNqFXU8V9"
             }
            ],
            "Item": [
             {
              "title": "Spanish POST: The President Delivers the 2016 State of the Union Address",
              "num_replies": "0"
             },
             {
              "title": "“Ya que una vez fuimos inmigrantes.” –Presidente Obama",
              "num_replies": "0"
             },
             {
              "title": "¿Cúales son las acciones ejecutivas de inmigración del presidente?",
              "num_replies": "0"
             },
             {
              "title": "La comunidad hispana está vinculada directamente al éxito de la nación",
              "num_replies": "0"
             },
             {
              "title": "Fortaleciendo a las Comunidades al Integrar a los Inmigrantes",
              "num_replies": "0"
             }
            ],
            "metatags": [
             {
              "msapplication-square70x70logo": "https://www.whitehouse.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-70x70.png",
              "msapplication-tileimage": "https://www.whitehouse.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-70x70.png",
              "msapplication-square150x150logo": "https://www.whitehouse.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-150x150.png",
              "msapplication-wide310x150logo": "https://www.whitehouse.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-310x150.png",
              "msapplication-square310x310logo": "https://www.whitehouse.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-310x310.png",
              "msapplication-tilecolor": "#003C80",
              "application-name": "Whitehouse",
              "msapplication-config": "https://www.whitehouse.gov/profiles/forall/themes/custom/fortyfour/browserconfig.xml",
              "abstract": "Infórmate sobre los compromisos históricos del presidente con la comunidad latina y encuentra respuestas a tus preguntas.",
              "og:type": "website",
              "og:site_name": "whitehouse.gov",
              "og:title": "Whitehouse.gov en Espanol",
              "og:url": "https://www.whitehouse.gov/espanol",
              "og:description": "Infórmate sobre los compromisos históricos del presidente con la comunidad latina y encuentra respuestas a tus preguntas.",
              "o[...]
