---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=anything&quotaUser=USASearch&safe=medium&start=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/hyOejI8YBNrBw5jBEW4IadPoBo0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "483000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 12,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "previousPage": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "483000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 2,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "483000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 22,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.343799,
          "formattedSearchTime": "0.34",
          "totalResults": "483000",
          "formattedTotalResults": "483,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Lawriter - ORC - 1.03 Anything of value defined.",
           "htmlTitle": "Lawriter - ORC - 1.03 \u003cb\u003eAnything\u003c/b\u003e of value defined.",
           "link": "http://codes.ohio.gov/orc/gp1.03",
           "displayLink": "codes.ohio.gov",
           "snippet": "1.03 Anything of value defined. As used in any section of the Revised Code for \nthe violation of which there is provided a penalty or forfeiture, unless the context ...",
           "htmlSnippet": "1.03 \u003cb\u003eAnything\u003c/b\u003e of value defined. As used in any section of the Revised Code for \u003cbr\u003e\nthe violation of which there is provided a penalty or forfeiture, unless the context&nbsp;...",
           "cacheId": "ikx8eJvdGVcJ",
           "formattedUrl": "codes.ohio.gov/orc/gp1.03",
           "htmlFormattedUrl": "codes.ohio.gov/orc/gp1.03"
          },
          {
           "kind": "customsearch#result",
           "title": "Ask Me Anything | Space Station",
           "htmlTitle": "Ask Me \u003cb\u003eAnything\u003c/b\u003e | Space Station",
           "link": "https://blogs.nasa.gov/spacestation/tag/ask-me-anything/",
           "displayLink": "blogs.nasa.gov",
           "snippet": "Jan 22, 2016 ... NASA astronaut Scott Kelly will conduct the first ever NASA Reddit Ask Me \nAnything from space to help everyone understand what it means to ...",
           "htmlSnippet": "Jan 22, 2016 \u003cb\u003e...\u003c/b\u003e NASA astronaut Scott Kelly will conduct the first ever NASA Reddit Ask Me \u003cbr\u003e\n\u003cb\u003eAnything\u003c/b\u003e from space to help everyone understand what it means to&nbsp;...",
           "cacheId": "EHvBTcubvRkJ",
           "formattedUrl": "https://blogs.nasa.gov/spacestation/tag/ask-me-anything/",
           "htmlFormattedUrl": "https://blogs.nasa.gov/spacestation/tag/ask-me-\u003cb\u003eanything\u003c/b\u003e/",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "299",
              "height": "168",
              "src": "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR3UJZK4xe7TXFvEDO-buCXgS_ZVNdFLXmYMFcLnyPJ3P2xBeVvMJzp3Uo"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width"
             }
            ],
            "cse_image": [
             {
              "src": "https://blogs.nasa.gov/spacestation/wp-content/uploads/sites/240/2016/01/stationcdrkelly_reddit.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Anything Else You Think We Need to Know — City of Albuquerque",
           "htmlTitle": "\u003cb\u003eAnything\u003c/b\u003e Else You Think We Need to Know — City of Albuquerque",
           "link": "https://www.cabq.gov/efficiency-stewardship-accountability/esa-reporting-form/anything-else-you-think-we-need-to-know",
           "displayLink": "www.cabq.gov",
           "snippet": "You are here: Home / Efficiency, Stewardship & Accountability / ESA Reporting \nForm / Anything Else You Think We Need to Know ...",
           "htmlSnippet": "You are here: Home / Efficiency, Stewardship &amp; Accountability / ESA Reporting \u003cbr\u003e\nForm / \u003cb\u003eAnything\u003c/b\u003e Else You Think We Need to Know&nbsp;...",
           "cacheId": "eahdvCY9PbUJ",
           "formattedUrl": "https://www.cabq.gov/.../anything-else-you-think-we-need-to-know",
           "htmlFormattedUrl": "https://www.cabq.gov/.../\u003cb\u003eanything\u003c/b\u003e-else-you-think-we-need-to-know",
           "pagemap": {
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1",
              "msapplication-tilecolor": "#ffffff",
              "msapplication-tileimage": "/++theme++cabq.theme/img/ms-icon-144x144.png",
              "google-translate-customization": "7681c217d38ad33b-476c4dfe35bbc685-g003661c2c14afd79-c"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "MiCSC - Do I need to submit anything else with a claim?",
           "htmlTitle": "MiCSC - Do I need to submit \u003cb\u003eanything\u003c/b\u003e else with a claim?",
           "link": "http://www.michigan.gov/mdcs/0,4614,7-147-22854_6095_74030-368010--,00.html",
           "displayLink": "www.michigan.gov",
 [...]
