---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=anything&quotaUser=USASearch&safe=medium&start=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/-d4JsxkUGvnyfGmNf4QvKVo8GXA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "1910000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 12,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "previousPage": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "1910000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 2,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "1910000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 22,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.337195,
          "formattedSearchTime": "0.34",
          "totalResults": "1910000",
          "formattedTotalResults": "1,910,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Kill Anything That Moves: The Real American War in Vietnam By ...",
           "htmlTitle": "Kill \u003cb\u003eAnything\u003c/b\u003e That Moves: The Real American War in Vietnam By ...",
           "link": "http://www.strategicstudiesinstitute.army.mil/pubs/parameters/issues/Winter_2013/Book%20Reviews/Turse_KillAnything.pdf",
           "displayLink": "www.strategicstudiesinstitute.army.mil",
           "snippet": "Kill Anything That Moves: The Real American War in Vietnam. By Nick Turse. \nReviewed by William Thomas Allison, PhD, Gen. Harold K. Johnson Visiting.",
           "htmlSnippet": "Kill \u003cb\u003eAnything\u003c/b\u003e That Moves: The Real American War in Vietnam. By Nick Turse. \u003cbr\u003e\nReviewed by William Thomas Allison, PhD, Gen. Harold K. Johnson Visiting.",
           "cacheId": "IUuZjSErg6IJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "www.strategicstudiesinstitute.army.mil/.../Turse_KillAnything.pdf",
           "htmlFormattedUrl": "www.strategicstudiesinstitute.army.mil/.../Turse_Kill\u003cb\u003eAnything\u003c/b\u003e.pdf",
           "pagemap": {
            "metatags": [
             {
              "creationdate": "D:20140103104410-05'00'",
              "creator": "Adobe Acrobat Pro 10.1.8",
              "moddate": "D:20140103104430-05'00'",
              "producer": "Adobe Acrobat Pro 10.1.8"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "USCIS - Help Center - Answer for Can I do anything about an ...",
           "htmlTitle": "USCIS - Help Center - Answer for Can I do \u003cb\u003eanything\u003c/b\u003e about an ...",
           "link": "https://my.uscis.gov/helpcenter/article/can-i-do-anything-about-an-unfavorable-decision-issued-by-uscis",
           "displayLink": "my.uscis.gov",
           "snippet": "Can I do anything about an unfavorable decision issued by USCIS? Yes, you \nmay file an appeal on some unfavorable decisions to the USCIS Administrative ...",
           "htmlSnippet": "Can I do \u003cb\u003eanything\u003c/b\u003e about an unfavorable decision issued by USCIS? Yes, you \u003cbr\u003e\nmay file an appeal on some unfavorable decisions to the USCIS Administrative&nbsp;...",
           "cacheId": "yV69kUbcluMJ",
           "formattedUrl": "https://my.uscis.gov/.../can-i-do-anything-about-an-unfavorable-decision- issued-by-uscis",
           "htmlFormattedUrl": "https://my.uscis.gov/.../can-i-do-\u003cb\u003eanything\u003c/b\u003e-about-an-unfavorable-decision- issued-by-uscis",
           "pagemap": {
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1",
              "csrf-param": "authenticity_token",
              "csrf-token": "zlZ6RcME2f7kJ5E//fBvcRZbA4CYX0DDPzNOx2X3+vf5IfYw2R+RaZWgao8DbbGqF1vgbYISTH2WljK43FhUNA=="
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Is there anything I can do to make this event personal? | Eclipse 2017",
           "htmlTitle": "Is there \u003cb\u003eanything\u003c/b\u003e I can do to make this event personal? | Eclipse 2017",
           "link": "https://eclipse2017.nasa.gov/there-anything-i-can-do-make-event-personal",
           "displayLink": "eclipse2017.nasa.gov",
           "snippet": "Other than watch it with your family and friends, you may want to create a time \ncapsule, which you would open on April 8, 2024 when the next total solar eclipse\n ...",
           "htmlSnippet": "Other than watch it with your family and friends, you may want to create a time \u003cbr\u003e\ncapsule, which you would open on April 8, 2024 when the next total solar eclipse\u003cbr\u003e\n&nbsp;...",
           "cacheId": "X7QmB8qFswEJ",
           "formattedUrl": "https://eclipse2017.nasa.gov/there-anything-i-can-do-make-event-personal",
           "htmlFormattedUrl": "https://eclipse2017.nasa.gov/there-\u003cb\u003eanything\u003c/b\u003e-i-can-do-make-event-personal",
           "pagemap": {
            "Item": [
             {
              "encoded": "Other than watch it with your family and friends, you may want to create a time capsule, which you would open on April 8, 2024 when the next total solar eclipse occurs over the continental...",
              "title": "Is there anything I can do to make this event personal?"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1, maximum-scale=1"
             }
            ]
           }
          },
          {
    [...]
