---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=anything&quotaUser=USASearch&safe=medium&start=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/8BBFspOv6fWwLXdq74k6cMg4H9Y"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "1590000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 12,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "previousPage": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "1590000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 2,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "1590000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 22,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.624941,
          "formattedSearchTime": "0.62",
          "totalResults": "1590000",
          "formattedTotalResults": "1,590,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Space Station Worms' Research Potential is Anything But Flat | NASA",
           "htmlTitle": "Space Station Worms&#39; Research Potential is \u003cb\u003eAnything\u003c/b\u003e But Flat | NASA",
           "link": "https://www.nasa.gov/mission_pages/station/research/news/flatworm_regeneration",
           "displayLink": "www.nasa.gov",
           "snippet": "Space Station Worms' Research Potential is Anything But Flat. regeneration.jpg. \nSample test tubes used to contain flatworms during the Flatworm Regeneration ...",
           "htmlSnippet": "Space Station Worms&#39; Research Potential is \u003cb\u003eAnything\u003c/b\u003e But Flat. regeneration.jpg. \u003cbr\u003e\nSample test tubes used to contain flatworms during the Flatworm Regeneration&nbsp;...",
           "cacheId": "VK48WCrrCpcJ",
           "formattedUrl": "https://www.nasa.gov/mission_pages/.../flatworm_regeneration",
           "htmlFormattedUrl": "https://www.nasa.gov/mission_pages/.../flatworm_regeneration",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "271",
              "height": "186",
              "src": "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQM_wCDGYf86KLY0-zaSKSodOnNF0aXTAoMoFseTLmBOakNABMRX-F-vFlG"
             }
            ],
            "Item": [
             {
              "title": "Space Station Worms’ Research Potential is Anything But Flat "
             }
            ],
            "metatags": [
             {
              "dc.description": "The Flatworm Regeneration investigation aboard the International Space Station could influence the development of medicine on Earth.",
              "dc.title": "Space Station Worms’ Research Potential is Anything But Flat",
              "twitter:url": "/mission_pages/station/research/news/flatworm_regeneration",
              "twitter:site": "@NASA",
              "twitter:site:id": "11348282",
              "dc.creator": "Kristine Rainey",
              "dc.identifier": "/mission_pages/station/research/news/flatworm_regeneration",
              "dc.format": "text/html",
              "dc.type": "Text",
              "dc.language": "und",
              "dc.date": "2015-06-11T15:58-04:00",
              "twitter:card": "summary_large_image",
              "twitter:title": "Space Station Worms’ Research Potential is Anything But Flat",
              "twitter:description": "The Flatworm Regeneration investigation aboard the International Space Station could influence the development of medicine on Earth.",
              "og:description": "The Flatworm Regeneration investigation aboard the International Space Station could influence the development of medicine on Earth.",
              "og:title": "Space Station Worms’ Research Potential is Anything But Flat",
              "og:image": "http://www.nasa.gov/sites/default/files/thumbnails/image/s133e011175.jpg",
              "og:url": "http://www.nasa.gov/mission_pages/station/research/news/flatworm_regeneration",
              "og:site_name": "NASA",
              "og:type": "article",
              "twitter:image": "http://www.nasa.gov/sites/default/files/styles/800x600_autoletterbox/public/thumbnails/image/s133e011175.jpg?itok=5pQJ_BPK",
              "viewport": "width=device-width, initial-scale=1.0, maximum-scale=10.0",
              "nasa/config/environment": "%7B%22modulePrefix%22%3A%22nasa%22%2C%22environment%22%3A%22development%22%2C%22baseURL%22%3A%22/%22%2C%22locationType%22%3A%22none%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%7D%2C%22APP%22%3A%7B%22LOG_ACTIVE_GENERATION%22%3Atrue%2C%22LOG_VIEW_LOOKUPS%22%3Atrue%7D%2C%22contentSecurityPolicyHeader%22%3A%22Content-Security-Policy-Report-Only%22%2C%22contentSecurityPolicy%22%3A%7B%22default-src%22%3A%22%27none%27%22%2C%22script-src%22%3A%22%27self%27%20%27unsafe-eval%27%22%2C%22font-src%22%3A%22%27self%27%22%2C%22connect-src%22%3A%22%27self%27%22%2C%22img-src%22%3A%22%27self%27%22%2C%22style-src%22%3A%22%27self%27%22%2C%22media-src%22%3A%22%27self%27%22%7D%2C%22exportApplicationGlobal%22%3Atrue%7D"
             }
            ],
            "cse_image": [
             {
              "src": "http://www.nasa.gov/sites/default/files/thumbnails/image/s133e011175.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "USCIS - Help Center - Answer for Can I do anything about an ...",
           "htmlTitle": "USCIS - Help Center - Answer for Can I do \u003cb\u003eanything\u003c/b\u003e about an ...",
           "link": "https://my.uscis.gov/helpcenter/article/can-i-do-any[...]
