---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=anything&quotaUser=USASearch&safe=medium&start=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/0l3bBy54cHRQyZ_kMqR-Q8XdzBs"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "293000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 12,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "previousPage": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "293000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 2,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "293000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 22,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.522918,
          "formattedSearchTime": "0.52",
          "totalResults": "293000",
          "formattedTotalResults": "293,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Prepared for Anything: City Life | FEMA.gov",
           "htmlTitle": "Prepared for \u003cb\u003eAnything\u003c/b\u003e: City Life | FEMA.gov",
           "link": "https://www.fema.gov/blog/2012-09-28/prepared-anything-city-life",
           "displayLink": "www.fema.gov",
           "snippet": "Jun 2, 2017 ... Prepared for Anything: City Life. Author: Andrew Velasquez III. National \nPreparedness Month is a good time to consider the unique challenges we face in \nour communities when disaster strikes. FEMA Region V located in downtown \nChicago, IL. -- the third largest city in the U.S. in a vibrant metropolitan area.",
           "htmlSnippet": "Jun 2, 2017 \u003cb\u003e...\u003c/b\u003e Prepared for \u003cb\u003eAnything\u003c/b\u003e: City Life. Author: Andrew Velasquez III. National \u003cbr\u003e\nPreparedness Month is a good time to consider the unique challenges we face in \u003cbr\u003e\nour communities when disaster strikes. FEMA Region V located in downtown \u003cbr\u003e\nChicago, IL. -- the third largest city in the U.S. in a vibrant metropolitan area.",
           "cacheId": "N6qdezYPY3sJ",
           "formattedUrl": "https://www.fema.gov/blog/2012-09.../prepared-anything-city-life",
           "htmlFormattedUrl": "https://www.fema.gov/blog/2012-09.../prepared-\u003cb\u003eanything\u003c/b\u003e-city-life",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "275",
              "height": "183",
              "src": "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTNdEddagh5IE9OS4h0YBNJR2bz31WuUMHFREaW7Eliio6cTRYFrkodrcVm"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1.0"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.fema.gov/system/medias/8119/original/Readyurban.JPG"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Anytime, Anywhere, Anything: The Effect of Mobile on the Web in 25 ...",
           "htmlTitle": "Anytime, Anywhere, \u003cb\u003eAnything\u003c/b\u003e: The Effect of Mobile on the Web in 25 ...",
           "link": "https://www.digitalgov.gov/2014/03/13/anytime-a[...]
