---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=anything&quotaUser=USASearch&safe=medium&start=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"W18CoImQKYKeZ22usPfNI43IHMc/zZv1DTdrFRtI3nHvETTPtu9HF1M"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "previousPage": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "1360000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 2,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "request": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "1360000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 12,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "1360000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 22,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.50012,
          "formattedSearchTime": "0.50",
          "totalResults": "1360000",
          "formattedTotalResults": "1,360,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "“They Won't Agree on Anything!”",
           "htmlTitle": "“They Won&#39;t Agree on \u003cb\u003eAnything\u003c/b\u003e!”",
           "link": "https://www.archives.gov/exhibits/running-for-office/slurp-file.php?fileref=28",
           "displayLink": "www.archives.gov",
           "snippet": "“They Won't Agree on Anything!” September 24, 1922. As they exit the Capitol \nand return home to campaign for reelection, the. Republican elephant and \nDemocratic donkey have differing perspectives on the session. The elephant \nremembers Republican successes while the donkey remembers the. Republican \nmajority's ...",
           "htmlSnippet": "“They Won&#39;t Agree on \u003cb\u003eAnything\u003c/b\u003e!” September 24, 1922. As they exit the Capitol \u003cbr\u003e\nand return home to campaign for reelection, the. Republican elephant and \u003cbr\u003e\nDemocratic donkey have differing perspectives on the session. The elephant \u003cbr\u003e\nremembers Republican successes while the donkey remembers the. Republican \u003cbr\u003e\nmajority&#39;s&nbsp;...",
           "cacheId": "wdO-qmkyQcUJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://www.archives.gov/exhibits/running-for.../slurp-file.php?...28",
           "htmlFormattedUrl": "https://www.archives.gov/exhibits/running-for.../slurp-file.php?...28",
           "pagemap": {
            "metatags": [
             {
              "producer": "Mac OS X 10.5.1 Quartz PDFContext",
              "creationdate": "D:20080204064459Z00'00'",
              "moddate": "D:20080204064459Z00'00'"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "SAFER Web - Company Snapshot MOVING ANYTHING LLC",
           "htmlTitle": "SAFER Web - Company Snapshot MOVING \u003cb\u003eANYTHING\u003c/b\u003e LLC",
           "link": "https://safer.fmcsa.dot.gov/query.asp?query_type=queryCarrierSnapshot&query_param=USDOT&query_string=1580976",
           "displayLink": "safer.fmcsa.dot.gov",
         [...]
