---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=electro%20coagulation&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ZK6WcJ2_cdL-1Kol5cpaPQsD0mI/6SfaOvaJFq_h5kFonTDd2SaLkTI"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - electro coagulation",
            "totalResults": "3690",
            "searchTerms": "electro coagulation",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - electro coagulation",
            "totalResults": "3690",
            "searchTerms": "electro coagulation",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.525993,
          "formattedSearchTime": "0.53",
          "totalResults": "3690",
          "formattedTotalResults": "3,690"
         },
         "spelling": {
          "correctedQuery": "electrocoagulation",
          "htmlCorrectedQuery": "\u003cb\u003e\u003ci\u003eelectrocoagulation\u003c/i\u003e\u003c/b\u003e"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "General Environmental Corporation CURE Electrocoagulation ...",
           "htmlTitle": "General Environmental Corporation CURE \u003cb\u003eElectrocoagulation\u003c/b\u003e \u003cb\u003e...\u003c/b\u003e",
           "link": "https://clu-in.org/download/toolkit/540r96502.pdf",
           "displayLink": "clu-in.org",
           "snippet": "Abstract. The CURE electrocoagulation system was evaluated for removal of low \nlevels of the radionuclides uranium, plutonium, and americium as well as other ...",
           "htmlSnippet": "Abstract. The CURE \u003cb\u003eelectrocoagulation\u003c/b\u003e system was evaluated for removal of low \u003cbr\u003e\nlevels of the radionuclides uranium, plutonium, and americium as well as other&nbsp;...",
           "cacheId": "F3wSf_GmPNwJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://clu-in.org/download/toolkit/540r96502.pdf",
           "htmlFormattedUrl": "https://clu-in.org/download/toolkit/540r96502.pdf",
           "pagemap": {
            "metatags": [
             {
              "creator": "Acrobat Capture Server 2.01",
              "creationdate": "Wednesday, February 03, 1999 10:26:47 AM",
              "producer": "Acrobat PDFWriter 3.03 for Windows",
              "moddate": "D:19990203102952"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "KASELCO Electrocoagulation Sales Training",
           "htmlTitle": "KASELCO \u003cb\u003eElectrocoagulation\u003c/b\u003e Sales Training",
           "link": "http://www.navair.navy.mil/frce/documention/2012%20Eastern%20Carolina%20Environmental%20Conference/2012%20ECEC%20Presentations/ECEC2012-Day_2/4-Lesikar-Cherry%20Point%20EC%2005-7-12.ppt",
           "displayLink": "www.navair.navy.mil",
           "snippet": "What is electrocoagulation? History of electrocoagulation: Old technology with a \nnew beginning at KASELCO; Why is electrocoagulation important for our future?",
           "htmlSnippet": "What is \u003cb\u003eelectrocoagulation\u003c/b\u003e? History of \u003cb\u003eelectrocoagulation\u003c/b\u003e: Old technology with a \u003cbr\u003e\nnew beginning at KASELCO; Why is \u003cb\u003eelectrocoagulation\u003c/b\u003e important for our future?",
           "cacheId": "fb36eC1dEQYJ",
           "mime": "application/vnd.ms-powerpoint",
           "fileFormat": "Microsoft Powerpoint",
           "formattedUrl": "www.navair.navy.mil/.../4-Lesikar-Cherry%20Point%20EC%2005-7-12.ppt",
           "htmlFormattedUrl": "www.navair.navy.mil/.../4-Lesikar-Cherry%20Point%20EC%2005-7-12.ppt",
           "pagemap": {
            "metatags": [
             {
              "author": "Paul Morkovsky & Scott Baer",
              "subject": "with photos, maps, cartoons & quotes",
              "comments": "Created for ELCO Sales Rep Training Seminar at MacDermid in Dallas  Monday 08Sep97  (as of Friday morning)",
              "document template": "Urban",
              "last saved by": "Bruce Lesikar",
              "revision number": "80",
              "source": "Microsoft Office PowerPoint",
              "edit minutes": "1202",
              "last print date": "10/18/2011 14:53:54",
              "creation date": "9/5/1997 09:45:18",
              "last saved date": "5/8/2012 23:45:19",
              "page count": "72",
              "word count": "438",
              "presentation format": "Overhead",
              "count bytes": "3366146",
              "count paragraphs": "157",
              "count slides": "24",
              "count notes": "9",[...]
