---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=white%20house&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/evVJY550NHyeSOEOrxjML6dQNvU"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - white house",
            "totalResults": "1940000",
            "searchTerms": "white house",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - white house",
            "totalResults": "1940000",
            "searchTerms": "white house",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.653592,
          "formattedSearchTime": "0.65",
          "totalResults": "1940000",
          "formattedTotalResults": "1,940,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "The White House | whitehouse.gov",
           "htmlTitle": "The \u003cb\u003eWhite House\u003c/b\u003e | \u003cb\u003ewhitehouse\u003c/b\u003e.gov",
           "link": "https://www.whitehouse.gov/",
           "displayLink": "www.whitehouse.gov",
           "snippet": "Get news, events and updates from the White House at 1600 Daily. Read · Twitter \n· Instagram · Facebook · Contact Us · Home · Briefing Room. From the News ...",
           "htmlSnippet": "Get news, events and updates from the \u003cb\u003eWhite House\u003c/b\u003e at 1600 Daily. Read &middot; Twitter \u003cbr\u003e\n&middot; Instagram &middot; Facebook &middot; Contact Us &middot; Home &middot; Briefing Room. From the News&nbsp;...",
           "cacheId": "DiSks2mO_OAJ",
           "formattedUrl": "https://www.whitehouse.gov/",
           "htmlFormattedUrl": "https://www.\u003cb\u003ewhitehouse\u003c/b\u003e.gov/",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "310",
              "height": "163",
              "src": "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQxbuTubmWqT4ynlsq8vaLrPSTyRukGdvO9k9gmeGHkYT6C6tiDEmf0joMK"
             }
            ],
            "Item": [
             {
              "title": "Home Page Image Centered Text",
              "num_replies": "0"
             }
            ],
            "metatags": [
             {
              "msapplication-square150x150logo": "https://www.whitehouse.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-150x150.png",
              "msapplication-square70x70logo": "https://www.whitehouse.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-70x70.png",
              "msapplication-wide310x150logo": "https://www.whitehouse.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-310x150.png",
              "msapplication-square310x310logo": "https://www.whitehouse.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-310x310.png",
              "msapplication-tileimage": "https://www.whitehouse.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-70x70.png",
              "msapplication-tilecolor": "#003C80",
              "msapplication-config": "https://www.whitehouse.gov/profiles/forall/themes/custom/fortyfour/browserconfig.xml",
              "application-name": "Whitehouse",
              "og:site_name": "whitehouse.gov",
              "og:type": "website",
              "og:url": "https://www.whitehouse.gov/",
              "og:title": "The White House",
              "og:description": "President Donald J. Trump",
              "og:image": "https://www.whitehouse.gov/sites/whitehouse.gov/files/og-image.png",
              "og:image:secure_url": "https://www.whitehouse.gov/sites/whitehouse.gov/files/twitter.png",
              "twitter:card": "summary",
              "twitter:site": "@WhiteHouse",
              "twitter:creator": "@WhiteHouse",
              "twitter:url": "https://www.whitehouse.gov/",
              "twitter:title": "The White House",
              "twitter:description": "President Donald J. Trump",
              "twitter:image": "https://www.whitehouse.gov/sites/whitehouse.gov/files/twitter.png",
              "twitter:image:width": "240",
              "twitter:image:height": "240",
              "mobileoptimized": "width",
              "handheldfriendly": "true",
              "viewport": "width=device-width"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.whitehouse.gov/sites/whitehouse.gov/files/og-image.png"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Get in Touch with The White House | whitehouse.gov",
           "htmlTitle": "Get in Touch with The \u003cb\u003eWhite House\u003c/b\u003e | \u003cb\u003ewhitehouse\u003c/b\u003e.gov",
           "link": "https://www.whitehouse.gov/contact",
           "displayL[...]
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=white%20house&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/hqkg3PPiwLiV-yrt4Lilwus2kEA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      stri[...]
