---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=anything&quotaUser=USASearch&safe=medium&start=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/JwtVXLZ-cu9nEsVPB9MpH3VLTQA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "190000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 12,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "previousPage": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "190000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 2,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "190000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 22,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.280932,
          "formattedSearchTime": "0.28",
          "totalResults": "190000",
          "formattedTotalResults": "190,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "USCIS - Help Center - Answer for Can I do anything about an ...",
           "htmlTitle": "USCIS - Help Center - Answer for Can I do \u003cb\u003eanything\u003c/b\u003e about an ...",
           "link": "https://my.uscis.gov/helpcenter/article/can-i-do-anything-about-an-unfavorable-decision-issued-by-uscis",
           "displayLink": "my.uscis.gov",
           "snippet": "Can I do anything about an unfavorable decision issued by USCIS? Yes, you \nmay file an appeal on some unfavorable decisions to the USCIS Administrative ...",
           "htmlSnippet": "Can I do \u003cb\u003eanything\u003c/b\u003e about an unfavorable decision issued by USCIS? Yes, you \u003cbr\u003e\nmay file an appeal on some unfavorable decisions to the USCIS Administrative&nbsp;...",
           "cacheId": "yV69kUbcluMJ",
           "formattedUrl": "https://my.uscis.gov/.../can-i-do-anything-about-an-unfavorable-decision- issued-by-uscis",
           "htmlFormattedUrl": "https://my.uscis.gov/.../can-i-do-\u003cb\u003eanything\u003c/b\u003e-about-an-unfavorable-decision- issued-by-uscis",
           "pagemap": {
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1",
              "csrf-param": "authenticity_token",
              "csrf-token": "hYck7/LA1V30eSidGeVv8rWw7FUxLssbr5UQ9POu6gmxOlf4buQ049EeyHLuPhLikoiHccPfFLGmj2uUeAgMjw=="
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Being Ready for Anything in the Workplace | FEMA.gov",
           "htmlTitle": "Being Ready for \u003cb\u003eAnything\u003c/b\u003e in the Workplace | FEMA.gov",
           "link": "https://www.fema.gov/blog/2015-09-27/being-ready-anything-workplace",
           "displayLink": [...]
