---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=anything&quotaUser=USASearch&safe=medium&start=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ZK6WcJ2_cdL-1Kol5cpaPQsD0mI/oYUrZQS2CogCK0Y3Rz-M-0SGdyM"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "771000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 12,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "previousPage": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "771000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 2,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "771000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 22,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.479384,
          "formattedSearchTime": "0.48",
          "totalResults": "771000",
          "formattedTotalResults": "771,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Anything but Bland",
           "htmlTitle": "\u003cb\u003eAnything\u003c/b\u003e but Bland",
           "link": "http://gov.texas.gov/files/disabilities/Anything_But_Bland.pdf",
           "displayLink": "gov.texas.gov",
           "snippet": "degree or anything in higher education,” Scanlan said. “You can't get most of \nthese books in Braille, so she has to scan every page so that her computer can ...",
           "htmlSnippet": "degree or \u003cb\u003eanything\u003c/b\u003e in higher education,” Scanlan said. “You can&#39;t get most of \u003cbr\u003e\nthese books in Braille, so she has to scan every page so that her computer can&nbsp;...",
           "cacheId": "r-IwzoavsnoJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "gov.texas.gov/files/disabilities/Anything_But_Bland.pdf",
           "htmlFormattedUrl": "gov.texas.gov/files/disabilities/\u003cb\u003eAnything\u003c/b\u003e_But_Bland.pdf",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "179",
              "height": "282",
              "src": "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcShR1Q_bcBdZNl-VjfrEtbOU96sclGCjyBlE1Q9cx9SxmLichRiYcMH9LQ"
             }
            ],
            "metatags": [
             {
              "creationdate": "D:20111019152309-05'00'",
              "creator": "Adobe InDesign CS3 (5.0)",
              "producer": "Adobe PDF Library 8.0",
              "moddate": "D:20120227153142-06'00'"
             }
            ],
            "cse_image": [
             {
              "src": "x-raw-image:///bc3e246ad84505e647877f34ff0480cbebc3ade345ceade61a02081c4e66018a"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Anything Else You Think We Need to Know — City of Albuquerque",
           "htmlTitle": "\u003cb\u003eAnything\u003c/b\u003e Else You Think We Need to Know — City of Albuquerque",
           "link": "https://www.cabq.gov/efficiency-stewardship-accountability/esa-reporting-form/anything-else-you-think-we-need-to-know",
           "displayLink": "www.cabq.gov",
           "snippet": "Anything Else You Think We Need to Know. Anything Else You Think We Need to \nKnow. Navigation · Form Folder RealAudio broadcast ESA Reporting Form.",
           "htmlSnippet": "\u003cb\u003eAnything\u003c/b\u003e Else You Think We Need to Know. \u003cb\u003eAnything\u003c/b\u003e Else You Think We Need to \u003cbr\u003e\nKnow. Navigation &middot; Form Folder RealAudio broadcast ESA Reporting Form.",
           "cacheId": "eahdvCY9PbUJ",
           "formattedUrl": "https://www.cabq.gov/.../anything-else-you-think-we-need-to-know",
           "htmlFormattedUrl": "https://www.cabq.gov/.../\u003cb\u003eanything\u003c/b\u003e-else-you-think-we-need-to-know",
           "pagemap": {
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1",
              "msapplication-tilecolor": "#ffffff",
              "msapplication-tileimage": "/++theme++cabq.theme/img/ms-icon-144x144.png",
              "google-translate-customization": "7681c217d38ad33b-476c4dfe35bbc685-g003661c2c14afd79-c"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Building and Infrastructure Protection Series: Designing Buildings to ...",
           "htmlTitle": "Building and Infrastructure Protection Series: Designing Buildings to \u003cb\u003e...\u003c/b\u003e",
           "link": "https://www.dhs.gov/science-and-technology/building-and-infrastructure-protection-series-[...]
