---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=white%20house&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ZK6WcJ2_cdL-1Kol5cpaPQsD0mI/NFtMnQ8NWW908XorBDS2oEuBInw"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - white house",
            "totalResults": "2150000",
            "searchTerms": "white house",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - white house",
            "totalResults": "2150000",
            "searchTerms": "white house",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.675734,
          "formattedSearchTime": "0.68",
          "totalResults": "2150000",
          "formattedTotalResults": "2,150,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "The White House | whitehouse.gov",
           "htmlTitle": "The \u003cb\u003eWhite House\u003c/b\u003e | \u003cb\u003ewhitehouse\u003c/b\u003e.gov",
           "link": "https://www.whitehouse.gov/",
           "displayLink": "www.whitehouse.gov",
           "snippet": "Official White House site presents issue positions, news, Cabinet, appointments, \noffices and major speeches. Includes biography, video tour and photo essays.",
           "htmlSnippet": "Official \u003cb\u003eWhite House\u003c/b\u003e site presents issue positions, news, Cabinet, appointments, \u003cbr\u003e\noffices and major speeches. Includes biography, video tour and photo essays.",
           "cacheId": "DiSks2mO_OAJ",
           "formattedUrl": "https://www.whitehouse.gov/",
           "htmlFormattedUrl": "https://www.\u003cb\u003ewhitehouse\u003c/b\u003e.gov/",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "310",
              "height": "163",
              "src": "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSFlBh3GZptnnKxFASiGxBBhsHTicocxOpF06mrfB3qbR9fHWHRsE_ci4E"
             }
            ],
            "Item": [
             {
              "title": "Cory Remsburg",
              "num_replies": "0"
             },
             {
              "title": "The Centers for Disease Control shares why Congress needs to act on Zika",
              "num_replies": "0"
             },
             {
              "title": "First Lady Michelle Obama: \"Together, we are stronger\"",
              "num_replies": "0"
             },
             {
              "title": "See the President and Vice President’s daily public schedules online.",
              "num_replies": "0"
             },
             {
              "title": "Share your questions or your story with President Obama.  ",
              "num_replies": "0"
             }
            ],
            "metatags": [
             {
              "msapplication-square70x70logo": "https://www.whitehouse.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-70x70.png",
              "msapplication-tileimage": "https://www.whitehouse.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-70x70.png",
              "msapplication-square150x150logo": "https://www.whitehouse.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-150x150.png",
              "msapplication-wide310x150logo": "https://www.whitehouse.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-310x150.png",
              "msapplication-square310x310logo": "https://www.whitehouse.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-310x310.png",
              "msapplication-tilecolor": "#003C80",
              "msapplication-config": "https://www.whitehouse.gov/profiles/forall/themes/custom/fortyfour/browserconfig.xml",
              "application-name": "Whitehouse",
              "abstract": "See the President's daily schedule, explore behind-the-scenes photos from inside the White House, and find out all the ways you can engage with the most interactive administration in our country's history.",
              "og:type": "website",
              "og:site_name": "whitehouse.gov",
              "og:title": "The White House",
              "og:url": "https://www.whitehouse.gov/homepage",
              "og:description": "See the President's daily schedule, explore behind-the-scenes pho[...]
