---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_es&q=casa%20blanca&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/9dWTx5brofnGQVc13Q8dkSseZMo"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - casa blanca",
            "totalResults": "205000",
            "searchTerms": "casa blanca",
            "count": 10,
            "startIndex": 1,
            "language": "lang_es",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - casa blanca",
            "totalResults": "205000",
            "searchTerms": "casa blanca",
            "count": 10,
            "startIndex": 11,
            "language": "lang_es",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.575365,
          "formattedSearchTime": "0.58",
          "totalResults": "205000",
          "formattedTotalResults": "205,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Cómo Visitar la Casa Blanca",
           "htmlTitle": "Cómo Visitar la \u003cb\u003eCasa Blanca\u003c/b\u003e",
           "link": "https://georgewbush-whitehouse.archives.gov/history/tours/index.es.html",
           "displayLink": "georgewbush-whitehouse.archives.gov",
           "snippet": "Giras de la Casa Blanca. Se ofrece al público la oportunidad de visitar la Casa \nBlanca en grupos de 10 o más personas. Debe entregar las solicitudes para las\n ...",
           "htmlSnippet": "Giras de la \u003cb\u003eCasa Blanca\u003c/b\u003e. Se ofrece al público la oportunidad de visitar la \u003cb\u003eCasa\u003c/b\u003e \u003cbr\u003e\n\u003cb\u003eBlanca\u003c/b\u003e en grupos de 10 o más personas. Debe entregar las solicitudes para las\u003cbr\u003e\n&nbsp;...",
           "cacheId": "YxkxctbAi28J",
           "formattedUrl": "https://georgewbush-whitehouse.archives.gov/history/.../index.es.html",
           "htmlFormattedUrl": "https://georgewbush-whitehouse.archives.gov/history/.../index.es.html",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "176",
              "height": "168",
              "src": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbG37vNc0tslVO0O7zKbShEXCLEOvWNfq0fKl8nwMz0fDOIJFHQk0hTN4"
             }
            ],
            "metatags": [
             {
              "date": "2008-09-12"
             }
            ],
            "cse_image": [
             {
              "src": "https://georgewbush-whitehouse.archives.gov/history/tours/images/vo-center.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Cómo Comunicarse con la Casa Blanca",
           "htmlTitle": "Cómo Comunicarse con la \u003cb\u003eCasa Blanca\u003c/b\u003e",
           "link": "https://georgewbush-whitehouse.archives.gov/contact/index.es.html",
           "displayLink": "georgew[...]
