---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_zh-cn&q=%E4%B8%AD%E5%9B%BD&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/iH2rn02xX9g7IWL9W4e-BRkCaFw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - 中国",
            "totalResults": "69700",
            "searchTerms": "中国",
            "count": 10,
            "startIndex": 1,
            "language": "lang_zh-cn",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - 中国",
            "totalResults": "69700",
            "searchTerms": "中国",
            "count": 10,
            "startIndex": 11,
            "language": "lang_zh-cn",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.294414,
          "formattedSearchTime": "0.29",
          "totalResults": "69700",
          "formattedTotalResults": "69,700"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "申请美国签证| 签证类型- 在中国",
           "htmlTitle": "申请美国签证| 签证类型- 在\u003cb\u003e中国\u003c/b\u003e",
           "link": "http://ustraveldocs.com/cn_zh/cn-niv-visatypeinfo.asp",
           "displayLink": "ustraveldocs.com",
           "snippet": "签证类型. 当前页面. 概述; 非移民签证. 概述. 一般来说，想要入境美国的外国公民\n必须首先获得签证，其中非移民签证用于临时居留，而移民签证用于永久居住。",
           "htmlSnippet": "签证类型. 当前页面. 概述; 非移民签证. 概述. 一般来说，想要入境美国的外国公民\u003cbr\u003e\n必须首先获得签证，其中非移民签证用于临时居留，而移民签证用于永久居住。",
           "cacheId": "HHLq32OJL5cJ",
           "formattedUrl": "ustraveldocs.com/cn_zh/cn-niv-visatypeinfo.asp",
           "htmlFormattedUrl": "ustraveldocs.com/cn_zh/cn-niv-visatypeinfo.asp"
          },
          {
           "kind": "customsearch#result",
           "title": "申请美国签证| 申请签证- 在中国",
           "htmlTitle": "申请美国签证| 申请签证- 在\u003cb\u003e中国\u003c/b\u003e",
           "link": "http://ustraveldocs.com/cn_zh/cn-niv-visaapply.asp",
           "displayLink": "ustraveldocs.com",
           "snippet": "申请签证. 当前页面. 概述; 如何申请. 概述. 请确认自己是否需要申请签证。如果您\n已经持有与出访目的相符的有效美国签证，或者持有豁免签证计划成员国护照或 ...",
           "htmlSnippet": "申请签证. 当前页面. 概述[...]
