---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_zh-cn&q=%E4%B8%AD%E5%9B%BD&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/n12J0ro_mVu1joL6DKhHjd7n-WY"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - 中国",
            "totalResults": "10800",
            "searchTerms": "中国",
            "count": 10,
            "startIndex": 1,
            "language": "lang_zh-cn",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - 中国",
            "totalResults": "10800",
            "searchTerms": "中国",
            "count": 10,
            "startIndex": 11,
            "language": "lang_zh-cn",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.443528,
          "formattedSearchTime": "0.44",
          "totalResults": "10800",
          "formattedTotalResults": "10,800"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "申请美国签证| 签证类型- 在中国",
           "htmlTitle": "申请美国签证| 签证类型- 在\u003cb\u003e中国\u003c/b\u003e",
           "link": "http://www.ustraveldocs.com/cn_zh/cn-niv-visatypeinfo.asp",
           "displayLink": "www.ustraveldocs.com",
           "snippet": "签证类型. 当前页面. 概述; 非移民签证. 概述. 一般情况，外国公民想进入美国，必须\n首先取得短暂停留的非移民签证或永久居留的移民签证。合资格国家的公民可透过 ...",
           "htmlSnippet": "签证类型. 当前页面. 概述; 非移民签证. 概述. 一般情况，外国公民想进入美国，必须\u003cbr\u003e\n首先取得短暂停留的非移民签证或永久居留的移民签证。合资格国家的公民可透过&nbsp;...",
           "cacheId": "Mib9eYe2I8sJ",
           "formattedUrl": "www.ustraveldocs.com/cn_zh/cn-niv-visatypeinfo.asp",
           "htmlFormattedUrl": "www.ustraveldocs.com/cn_zh/cn-niv-visatypeinfo.asp"
          },
          {
           "kind": "customsearch#result",
           "title": "申请美国签证| 主页- China (English)",
           "htmlTitle": "申请美国签证| 主页- China (English)",
           "link": "http://www.ustraveldocs.com/cn_zh/",
           "displayLink": "www.ustraveldocs.com",
           "snippet": "同时，我们建议所有的签证申请人预约到我们的日坛签证分部或在中国任意的一个领\n区(上海，广州，成都以及沈阳) 进行签证申请。 为此带来的不便，我们表示抱歉。",
           "htmlSnippet": "同时，我们建议所有的签证申请人预约到我们的日坛签证分部或在\u003cb\u003e中国\u003c/b\u003e任意的一个领\u003cbr\u003e\n区(上海，广州，成都以及沈阳) 进行签证申请。 为此带来的不便，我们表示抱歉。",
           "cacheId": "5BZq2w5iSgIJ",
           "formattedUrl": "www.ustraveldocs.com/cn_zh/",
           "htmlFormattedUrl": "www.ustraveldocs.com/cn_zh/",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "305",
              "height": "165",
              "src": "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSfMA7caQPVB5GfIIgfqiQm9S2d91hJg65e1_-GG5Gov0bRqqWyXmoI72jx"
             }
            ],
            "cse_image": [
             {
              "src": "http://www.ustraveldocs.com/cn_zh/images/brooklyn_bridge.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "申请美国签证| 申请签证- 在中国",
           "htmlTitle": "申请美国签证| 申请签证- 在\u003cb\u003e中国\u003c/b\u003e",
           "link": "http://ustraveldocs.com/cn_zh/cn-niv-visaapply.asp",
           "displayLink": "ustraveldocs.com",
           "snippet": "申请签证. 当前页面. 概述; 如何申请. 概述. 请你确认是否需要[...]
