---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=english&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ZK6WcJ2_cdL-1Kol5cpaPQsD0mI/TqbzgGKjA7pRIhjq-bItN98lImc"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - english",
            "totalResults": "2410000",
            "searchTerms": "english",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - english",
            "totalResults": "2410000",
            "searchTerms": "english",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.408623,
          "formattedSearchTime": "0.41",
          "totalResults": "2410000",
          "formattedTotalResults": "2,410,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "English Teaching Forum | American English",
           "htmlTitle": "\u003cb\u003eEnglish\u003c/b\u003e Teaching Forum | American \u003cb\u003eEnglish\u003c/b\u003e",
           "link": "https://americanenglish.state.gov/english-teaching-forum-0",
           "displayLink": "americanenglish.state.gov",
           "snippet": "Read about pragmatics, learn tips for publishing, and use the latest “Try This” \nactivity in your classroom. All of this and more can be found in the newest English\n ...",
           "htmlSnippet": "Read about pragmatics, learn tips for publishing, and use the latest “Try This” \u003cbr\u003e\nactivity in your classroom. All of this and more can be found in the newest \u003cb\u003eEnglish\u003c/b\u003e\u003cbr\u003e\n&nbsp;...",
           "cacheId": "4oKdY8FkdQAJ",
           "formattedUrl": "https://americanenglish.state.gov/english-teaching-forum-0",
           "htmlFormattedUrl": "https://american\u003cb\u003eenglish\u003c/b\u003e.state.gov/\u003cb\u003eenglish\u003c/b\u003e-teaching-forum-0",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "348",
              "height": "145",
              "src": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwXUe_yravnaqL8JcfTXQ7eFGJL32NtIBQF-_9u7-e5lBgTk-N6xyY_m0"
             }
            ],
            "metatags": [
             {
              "mobileoptimized": "width",
              "handheldfriendly": "true",
              "viewport": "width=device-width"
             }
            ],
            "cse_image": [
             {
              "src": "https://americanenglish.state.gov/files/ae/styles/full-width-billboard-480x200/public/ae_billboard_images/forum-nameplate-white_0.png?itok=C4PBd63i"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "American English | For English Language Teachers Around the World",
           "htmlTitle": "American \u003cb\u003eEnglish\u003c/b\u003e | For \u003cb\u003eEnglish\u003c/b\u003e Lan[...]
