---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=electro%20coagulation&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/0pa6ZQem9n9nt3-JtV1L8_HhPas"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - electro coagulation",
            "totalResults": "7940",
            "searchTerms": "electro coagulation",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - electro coagulation",
            "totalResults": "7940",
            "searchTerms": "electro coagulation",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.398146,
          "formattedSearchTime": "0.40",
          "totalResults": "7940",
          "formattedTotalResults": "7,940"
         },
         "spelling": {
          "correctedQuery": "electrocoagulation",
          "htmlCorrectedQuery": "\u003cb\u003e\u003ci\u003eelectrocoagulation\u003c/i\u003e\u003c/b\u003e"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Definition of electrocoagulation - NCI Dictionary of Cancer Terms ...",
           "htmlTitle": "Definition of \u003cb\u003eelectrocoagulation\u003c/b\u003e - NCI Dictionary of Cancer Terms ...",
           "link": "https://www.cancer.gov/publications/dictionaries/cancer-terms?cdrid=751149",
           "displayLink": "www.cancer.gov",
           "snippet": "electrocoagulation: listen (ee-LEK-troh-koh-A-gyuh-LAY-shun): A procedure that \nuses heat from an electric current to destroy abnormal tissue, such as a tumor ...",
           "htmlSnippet": "\u003cb\u003eelectrocoagulation\u003c/b\u003e: listen (ee-LEK-troh-koh-A-gyuh-LAY-shun): A procedure that \u003cbr\u003e\nuses heat from an electric current to destroy abnormal tissue, such as a tumor&nbsp;...",
           "cacheId": "Px4waZL773QJ",
           "formattedUrl": "https://www.cancer.gov/publications/dictionaries/cancer-terms?...",
           "htmlFormattedUrl": "https://www.cancer.gov/publications/dictionaries/cancer-terms?...",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "259",
              "height": "194",
              "src": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4ZlUEMcMuv0X7ZjVtmJS6Zczzm5cpXwUyPKntxjE1mKalix-plK4eHbdC"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, shrink-to-fit=no",
              "apple-mobile-web-app-title": "Cancer.gov",
              "application-name": "Cancer.gov",
              "msapplication-tilecolor": "#ffffff",
              "msapplication-tileimage": "/publishedcontent/images/images/design-elements/icons/favicons/mstile-144x144.png",
              "msapplication-config": "/publishedcontent/images/images/design-elements/icons/favicons/browserconfig.xml",
              "theme-color": "#ffffff",
              "content-language": "en",
              "english-linking-policy": "/policies/linking",
              "espanol-linking-policy": "/espanol/politicas/enlaces",
              "dcterms.type": "nciAppModulePage",
              "og:title": "NCI Dictionary of Cancer Terms",
              "og:description": "Definition of electrocoagulation",
              "og:type": "Website",
              "og:site_name": "National Cancer Institute",
              "og:url": "https://www.cancer.gov/publications/dictionaries/cancer-terms",
              "og:image": "https://www.cancer.gov/PublishedContent/Images/images/patient-focused/work/stethescope-dictionary-wide-feature.jpg",
              "twitter:card": "summary"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.cancer.gov/PublishedContent/Images/images/patient-focused/work/stethescope-dictionary-wide-feature.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "General Environmental Corporation CURE Electrocoagulation ...",
           "htmlTitle": "General Environmental Corporation CURE \u003cb\u003eElectrocoagulation\u003c/b\u003e ...",
           "link": "https://clu-in.org/download/toolkit/540r96502.pdf",
           "displayLink": "clu-in.org",
           "snippet": "The CURE electrocoagulation system was evaluated for removal of low levels of \nthe ... The CURE electrocoagulation technology was developed by General ...",
           "htmlSnippet": "The CURE \u003cb\u003eelectrocoagulation\u003c/b\u003e system was evaluated for removal of low levels of \u003cbr\u003e\nthe ... The CURE \u003cb\u003eelectrocoagulation\u003c/b\u003e technology was developed by General&nbsp;...",
           "cacheId": "F3wSf_GmPNwJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://clu-in.org/download/toolkit/540r96502.pdf",
           "htmlFormattedUrl": "https://clu-in.org/download/toolkit/540r96502.pdf",
           "pagemap": {
            "metatags": [
             {
              "creator": "Acrobat Capture Server 2.01",
              "creationdate": "Wednesday, February 03, 1999 10:26:47 AM",
              "producer": "Acrobat PDFWriter 3.03 for Windows",
              "moddate": "D:19990203102952"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "RECRA Environmental, Inc. (Alternating Current Electrocoagulation ...",
           "htmlTitle": "RECRA Environmental, Inc. (Alternating Current \u003cb\u003eElectrocoagulation\u003c/b\u003e ...",
           "link": "https://clu-in.org/products/site/complete/rcraenvi.htm",
           "displayLink": "clu-in.org",
           "snippet": "The alternatin[...]
