---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&q=tradiksyon&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/P4R8xlvt22Iz_U9tKQ9A9TbS5fM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - tradiksyon",
            "totalResults": "50",
            "searchTerms": "tradiksyon",
            "count": 10,
            "startIndex": 1,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - tradiksyon",
            "totalResults": "50",
            "searchTerms": "tradiksyon",
            "count": 10,
            "startIndex": 11,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.44167,
          "formattedSearchTime": "0.44",
          "totalResults": "50",
          "formattedTotalResults": "50"
         },
         "spelling": {
          "correctedQuery": "tradisyon",
          "htmlCorrectedQuery": "\u003cb\u003e\u003ci\u003etradisyon\u003c/i\u003e\u003c/b\u003e"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Residential Claim for Moving and Related Expenses",
           "htmlTitle": "Residential Claim for Moving and Related Expenses",
           "link": "https://portal.hud.gov/hudportal/documents/huddoc?id=40054-Bi-Creole.pdf",
           "displayLink": "portal.hud.gov",
           "snippet": "Dokiman sa a se yon tradiksyon yon dokiman legal ki sot nan HUD. HUD ofri w \ntradiksyon sa a senpleman pou ede w konprann dwa ak obligasyon ou genyen.",
           "htmlSnippet": "Dokiman sa a se yon \u003cb\u003etradiksyon\u003c/b\u003e yon dokiman legal ki sot nan HUD. HUD ofri w \u003cbr\u003e\n\u003cb\u003etradiksyon\u003c/b\u003e sa a senpleman pou ede w konprann dwa ak obligasyon ou genyen.",
           "cacheId": "PcOXowARX78J",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://portal.hud.gov/hudportal/documents/huddoc?id=40054-Bi...",
           "htmlFormattedUrl": "https://portal.hud.gov/hudportal/documents/huddoc?id=40054-Bi...",
           "pagemap": {
            "metatags": [
             {
              "author": "Keith",
              "creationdate": "D:20111006074748-07'00'",
              "creator": "PScript5.dll Version 5.2.2",
              "moddate": "D:20111006074748-07'00'",
              "producer": "Acrobat Distiller 10.1.1 (Windows)",
              "title": "Microsoft Word - 40054-Bi-Creole.docx"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Wi Non Yes No Wi Non Yes No",
           "htmlTitle": "Wi Non Yes No Wi Non Yes No",
           "link": "https://portal.hud.gov/hudportal/documents/huddoc?id=40030-Bi-Creole.pdf",
           "displayLink": "portal.hud.gov",
           "snippet": "Dokiman sa a se yon t[...]
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&q=tradiksyon&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/CjKaKdFqQCx0PakKyH7fKbRQdkg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        [...]
