---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=<GOOGLE_SEARCH_CX>&key=<GOOGLE_API_KEY>&lr=lang_zh-cn&q=%E4%B8%AD%E5%9B%BD&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"W18CoImQKYKeZ22usPfNI43IHMc/DC8dZXLe6RUGpsI5EsNvvbIDVtU"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - 中国",
            "totalResults": "24000",
            "searchTerms": "中国",
            "count": 10,
            "startIndex": 1,
            "language": "lang_zh-cn",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "<GOOGLE_SEARCH_CX>"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - 中国",
            "totalResults": "24000",
            "searchTerms": "中国",
            "count": 10,
            "startIndex": 11,
            "language": "lang_zh-cn",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "<GOOGLE_SEARCH_CX>"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.306539,
          "formattedSearchTime": "0.31",
          "totalResults": "24000",
          "formattedTotalResults": "24,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "申请美国签证| 签证类型- 在中国",
           "htmlTitle": "申请美国签证| 签证类型- 在\u003cb\u003e中国\u003c/b\u003e",
           "link": "http://www.ustraveldocs.com/cn_zh/cn-niv-visatypeinfo.asp",
           "displayLink": "www.ustraveldocs.com",
           "snippet": "签证类型. 当前页面. 概述; 非移民签证. 概述. 一般情况，外国公民想进入美国，必须\n首先取得短暂停留的非移民签证或永久居留的移民签证。合资格国家的公民可透过\n豁免签证计划豁免签证进入美国。在启程到美国前，所有透过豁免签证计划来到美国\n的旅游人士必须透过旅游授权电子(ESTA)系统取得授权。如果你持有加拿大护照，请\n ...",
           "htmlSnippet": "签证类型. 当前页面. 概述; 非移民签证. 概述. 一般情况，外国公民想进入美国，必须\u003cbr\u003e\n首先取得短暂停留的非移民签证或永久居留的移民签证。合资格国家的公民可透过\u003cbr\u003e\n豁免签证计划豁免签证进入美国。在启程到美国前，所有透过豁免签证计划来到美国\u003cbr\u003e\n的旅游人士必须透过旅游授权电子(ESTA)系统取得授权。如果你持有加拿大护照，请\u003cbr\u003e\n&nbsp;...",
           "cacheId": "Mib9eYe2I8sJ",
           "formattedUrl": "www.ustraveldocs.com/cn_zh/cn-niv-visatypeinfo.asp",
           "htmlFormattedUrl": "www.ustraveldocs.com/cn_zh/cn-niv-visatypeinfo.asp"
          },
          {
           "kind": "customsearch#result",
           "title": "申请美国签证| 申请签证- 在中国",
           "htmlTitle": "申请美国签证| 申请签证- 在\u003cb\u003e中国\u003c/b\u003e",
           "link": "http://www.ustraveldocs.com/cn_zh/cn-niv-visaapply.asp",
           "displayLink": "www.ustraveldocs.com",
           "snippet": "申请签证. 当前页面. 概述; 如何申请. 概述. 请你确认是否需要申请签证。如果你已持\n有有效美国签证，而签证类别适用于你的旅游目的，或者你已持有符合签证豁免计划\n资格的护照，那么你便可能毋须申请新的美国签证。如果你持有加拿大[...]
