---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=english&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"W18CoImQKYKeZ22usPfNI43IHMc/4wcuODTXf7IuP6oSA9y_w_45Dj0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - english",
            "totalResults": "2410000",
            "searchTerms": "english",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - english",
            "totalResults": "2410000",
            "searchTerms": "english",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.309347,
          "formattedSearchTime": "0.31",
          "totalResults": "2410000",
          "formattedTotalResults": "2,410,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "E-Verify Participation Poster English Version",
           "htmlTitle": "E-Verify Participation Poster \u003cb\u003eEnglish\u003c/b\u003e Version",
           "link": "https://e-verify.uscis.gov/emp/media/resourcesContents/EverifyPosterenglish.pdf",
           "displayLink": "e-verify.uscis.gov",
           "snippet": "IMPORTANT: If the Government cannot confirm that you are authorized to work, \nthis employer is required to provide you written instructions and an opportunity to \ncontact SSA and/or DHS before taking adverse action against you, including \nterminating your employment. Employers may not use E-Verify to pre-screen job\n ...",
           "htmlSnippet": "IMPORTANT: If the Government cannot confirm that you are authorized to work, \u003cbr\u003e\nthis employer is required to provide you written instructions and an opportunity to \u003cbr\u003e\ncontact SSA and/or DHS before taking adverse action against you, including \u003cbr\u003e\nterminating your employment. Employers may not use E-Verify to pre-screen job\u003cbr\u003e\n&nbsp;...",
           "cacheId": "S30UpAzhC6gJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://e-verify.uscis.gov/emp/media/.../EverifyPosterenglish.pdf",
           "htmlFormattedUrl": "https://e-verify.uscis.gov/emp/media/.../EverifyPoster\u003cb\u003eenglish\u003c/b\u003e.pdf",
           "pagemap": {
            "metatags": [
             {
              "creationdate": "D:20070926132149-04'00'",
              "subject": "Participation Poster",
              "author": "USCIS/DHS/VER",
              "creator": "Adobe InDesign CS3 (5.0)",
              "producer": "Adobe PDF Library 8.0",
              "moddate": "D:20090828150258-04'00'",
              "title": "E-Verify Participation Poster English Version"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Study Materials for the English Test | USCIS",
           "htmlTitle": "Study Materials for the \u003cb\u003eEnglish\u003c/b\u003e Test | USCIS",
           "link": "https://www.uscis.gov/citizenship/learners/study-test/study-materials-english-test",
           "displayL[...]
