---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=english&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/R5NbdrgSg19gXVFXXd_BZ75zb-E"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - english",
            "totalResults": "4440000",
            "searchTerms": "english",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - english",
            "totalResults": "4440000",
            "searchTerms": "english",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.338887,
          "formattedSearchTime": "0.34",
          "totalResults": "4440000",
          "formattedTotalResults": "4,440,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Study Materials for the English Test | USCIS",
           "htmlTitle": "Study Materials for the \u003cb\u003eEnglish\u003c/b\u003e Test | USCIS",
           "link": "https://www.uscis.gov/citizenship/learners/study-test/study-materials-english-test",
           "displayLink": "www.uscis.gov",
           "snippet": "The English test has three components: reading, writing, and speaking. Your \nability to speak English will be determined by a USCIS Officer during your \neligibility ...",
           "htmlSnippet": "The \u003cb\u003eEnglish\u003c/b\u003e test has three components: reading, writing, and speaking. Your \u003cbr\u003e\nability to speak \u003cb\u003eEnglish\u003c/b\u003e will be determined by a USCIS Officer during your \u003cbr\u003e\neligibility&nbsp;...",
           "cacheId": "LOC0LMc--EMJ",
           "formattedUrl": "https://www.uscis.gov/citizenship/...test/study-materials-english-test",
           "htmlFormattedUrl": "https://www.uscis.gov/citizenship/...test/study-materials-\u003cb\u003eenglish\u003c/b\u003e-test",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "200",
              "height": "200",
              "src": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQQj1TJ4NALgGKS9m4KNtuwSIEUQNJty2zrQ6tCzBIuEfLIc1rgBhvvx4"
             }
            ],
            "metatags": [
             {
              "og:site_name": "USCIS",
              "og:type": "article",
              "og:url": "https://www.uscis.gov/citizenship/learners/study-test/study-materials-english-test",
              "og:title": "Study Materials for the English Test",
              "og:image": "https://www.uscis.gov/sites/default/files/ocomm/en/images/hp/socialmed_icons/facebook_image.jpg",
              "twitter:card": "summary",
              "twitter:site": "@USCIS",
              "twitter:url": "https://www.uscis.gov/citizenship/learners/study-test/study-materials-english-test",
              "twitter:title": "Study Materials for the English Test",
              "twitter:image:src": "https://www.uscis.gov/sites/default/files/ocomm/en/images/hp/socialmed_icons/twitter_image.jpg",
              "mobileoptimized": "width",
              "handheldfriendly": "true",
              "viewport": "width=device-width, initial-scale=1"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.uscis.gov/sites/default/files/ocomm/en/images/hp/socialmed_icons/facebook_image.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Forum | American English",
           "htmlTitle": "Forum | American \u003cb\u003eEnglish\u003c/b\u003e",
           "link": "https://americanenglish.state.gov/forum",
           "displayLink": "americanenglish.state.gov",
          [...]
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=english&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/_il73qDNnX0PhFbk1uzyb4WRfUQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
[...]
