---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_zh-cn&q=%E4%B8%AD%E5%9B%BD&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/6BOJj0E_zTOv33l3nENA7unokYY"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - 中国",
            "totalResults": "3560",
            "searchTerms": "中国",
            "count": 10,
            "startIndex": 1,
            "language": "lang_zh-cn",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - 中国",
            "totalResults": "3560",
            "searchTerms": "中国",
            "count": 10,
            "startIndex": 11,
            "language": "lang_zh-cn",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.271853,
          "formattedSearchTime": "0.27",
          "totalResults": "3560",
          "formattedTotalResults": "3,560"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "申请美国签证| 签证类型- 在中国",
           "htmlTitle": "申请美国签证| 签证类型- 在\u003cb\u003e中国\u003c/b\u003e",
           "link": "http://www.ustraveldocs.com/cn_zh/cn-niv-visatypeinfo.asp",
           "displayLink": "www.ustraveldocs.com",
           "snippet": "签证类型. 当前页面. 概述; 非移民签证. 概述. 一般情况，外国公民想进入美国，必须\n首先取得短暂停留的非移民签证或永久居留的移民签证。合资格国家的公民可透过 ...",
           "htmlSnippet": "签证类型. 当前页面. 概述; 非移民签证. 概述. 一般情况，外国公民想进入美国，必须\u003cbr\u003e\n首先取得短暂停留的非移民签证或永久居留的移民签证。合资格国家的公民可透过&nbsp;...",
           "cacheId": "Mib9eYe2I8sJ",
           "formattedUrl": "www.ustraveldocs.com/cn_zh/cn-niv-visatypeinfo.asp",
           "htmlFormattedUrl": "www.ustraveldocs.com/cn_zh/cn-niv-visatypeinfo.asp"
          },
          {
           "kind": "customsearch#result",
           "title": "申请美国签证| 申请签证- 在中国",
           "htmlTitle": "申请美国签证| 申请签证- 在\u003cb\u003e中国\u003c/b\u003e",
           "link": "http://www.ustraveldocs.com/cn_zh/cn-niv-visaapply.asp",
           "displayLink": "www.ustraveldocs.com",
           "snippet": "申请签证. 当前页面. 概述; 如何申请. 概述. 请你确认是否需要申请签证。如果你已持\n有有效美国签证，而签证类别适用于你的旅游目的，或者你已持有符合签证豁免 ...",
           "htmlSnippet": "申[...]
