---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=<GOOGLE_SEARCH_CX>&key=<GOOGLE_API_KEY>&lr=lang_en&q=white%20house&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"W18CoImQKYKeZ22usPfNI43IHMc/HeycvrfxOromVqSxbDj3D1dzshc"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - white house",
            "totalResults": "5770000",
            "searchTerms": "white house",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "<GOOGLE_SEARCH_CX>"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - white house",
            "totalResults": "5770000",
            "searchTerms": "white house",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "<GOOGLE_SEARCH_CX>"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.540027,
          "formattedSearchTime": "0.54",
          "totalResults": "5770000",
          "formattedTotalResults": "5,770,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "The White House",
           "htmlTitle": "The \u003cb\u003eWhite House\u003c/b\u003e",
           "link": "https://www.whitehouse.gov/",
           "displayLink": "www.whitehouse.gov",
           "snippet": "History of The White House. Our first president, George Washington, selected the \nsite for the White House in 1791. Every president since John Adams has \noccupied the White House, and the history of this building extends far beyond the \nconstruction of its walls. The Building · Past Presidents and First Ladies · About \nThe ...",
           "htmlSnippet": "History of The \u003cb\u003eWhite House\u003c/b\u003e. Our first president, George Washington, selected the \u003cbr\u003e\nsite for the \u003cb\u003eWhite House\u003c/b\u003e in 1791. Every president since John Adams has \u003cbr\u003e\noccupied the \u003cb\u003eWhite House\u003c/b\u003e, and the history of this building extends far beyond the \u003cbr\u003e\nconstruction of its walls. The Building &middot; Past Presidents and First Ladies &middot; About \u003cbr\u003e\nThe&nbsp;...",
           "cacheId": "DiSks2mO_OAJ",
           "formattedUrl": "https://www.whitehouse.gov/",
           "htmlFormattedUrl": "https://www.\u003cb\u003ewhitehouse\u003c/b\u003e.gov/",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "310",
              "height": "163",
              "src": "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTlVfFyw9eR9y0nFaPA79nQkkonl8-rKX1Zs0b3-XUggUfT5-mPPQbQWQz0"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1",
              "og:locale": "en_US",
              "og:type": "website",
              "og:title": "Home Page",
              "og:url": "https://www.whitehouse.gov/",
              "og:site_name": "The White House",
              "og:image": "https://www.whitehouse.gov/wp-content/uploads/2017/12/wh.gov-share-img_03.png",
              "og:image:secure_url": "https://www.whitehouse.gov/wp-content/uploads/2017/12/wh.gov-share-img_03.png",
              "twitter:card": "summary_large_image",
              "twitter:title": "Home Page",
              "twitter:site": "@whitehouse",
              "twitter:image": "https://www.whitehouse.gov/wp-content/uploads/2017/12/wh.gov-share-img_03.png",
              "twitter:creator": "@whitehouse",
              "msapplication-tileimage": "https://www.whitehouse.gov/wp-content/uploads/2017/12/cropped-WH.gov_favicon_512X512-1-270x270.png"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.whitehouse.gov/wp-content/uploads/2017/12/wh.gov-share-img_03.png"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Contact the White House",
           "htmlTitle": "Contact the \u003cb\u003eWhite House\u003c/b\u003e",
           "link": "https://www.whitehouse.gov/contact/",
           "displayLink": "www.whitehouse.gov",
           "snippet": "Get Involved. Cont[...]
