---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_es&q=casa%20blanca&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/DZgdpjf3EJfPNOgPHxaucXcck1Y"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - casa blanca",
            "totalResults": "4890",
            "searchTerms": "casa blanca",
            "count": 10,
            "startIndex": 1,
            "language": "lang_es",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - casa blanca",
            "totalResults": "4890",
            "searchTerms": "casa blanca",
            "count": 10,
            "startIndex": 11,
            "language": "lang_es",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.405867,
          "formattedSearchTime": "0.41",
          "totalResults": "4890",
          "formattedTotalResults": "4,890"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "La Casa Blanca | USAGov",
           "htmlTitle": "La \u003cb\u003eCasa Blanca\u003c/b\u003e | USAGov",
           "link": "https://gobierno.usa.gov/agencias-federales/la-casa-blanca",
           "displayLink": "gobierno.usa.gov",
           "snippet": "La Casa Blanca es el lugar donde vive el Presidente de Estados Unidos durante \nsu mandato. El Presidente es el líder de la nación y el Comandante de las ...",
           "htmlSnippet": "La \u003cb\u003eCasa Blanca\u003c/b\u003e es el lugar donde vive el Presidente de Estados Unidos durante \u003cbr\u003e\nsu mandato. El Presidente es el líder de la nación y el Comandante de las&nbsp;...",
           "cacheId": "rHADUI3nEZkJ",
           "formattedUrl": "https://gobierno.usa.gov/agencias-federales/la-casa-blanca",
           "htmlFormattedUrl": "https://gobierno.usa.gov/agencias-federales/la-\u003cb\u003ecasa\u003c/b\u003e-\u003cb\u003eblanca\u003c/b\u003e",
           "pagemap": {
            "hcard": [
             {
              "name": "Contacto:"
             },
             {
              "name": "Dirección:"
             },
             {
              "name": "Teléfono:"
             },
             {
              "name": "TTY:"
             },
             {
              "name": "Agencia en inglés:"
             }
            ],
            "breadcrumb": [
             {
              "url": "Agencias del Gobierno",
              "title": "Agencias del Gobierno"
             },
             {
              "title": "Agencias federales"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1.0"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Cómo Visitar la Casa Blanca",
           "htmlTitle": "Cómo Visitar la \u003cb\u003eCasa Blanca\u003c/b\u003e",
           "link": "https://georgewbush-whitehouse.archives.gov/history/tours/index.es.html",
           "displayLink": "georgewbush-whitehouse.archives.gov",
           "snippet": "Giras de la Casa Blanca. Se ofrece al público la oportunidad de visitar la Casa \nBlanca en grupos de 10 o más personas. Debe entregar las solicitudes para las\n ...",
           "htmlSnippet": "Giras de la \u003cb\u003eCasa Blanca\u003c/b\u003e. Se ofrece al público la oportunidad de visitar la \u003cb\u003eCasa\u003c/b\u003e \u003cbr\u003e\n\u003cb\u003eBlanca\u003c/b\u003e en grupos de 10 o más personas. Debe entregar las solicitudes para las\u003cbr\u003e\n&nbsp;...",
           "cacheId": "YxkxctbAi28J",
           "formattedUrl": "https://georgewbush-whitehouse.archives.gov/history/.../index.es.html",
           "htmlFormattedUrl": "https://georgewbush-whitehouse.archives.gov/history/.../index.es.html",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "221",
              "height": "211",
              "src": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRitMIoSQzzR5T7WnuYhADyAyYQ9RhzcfS5FDp7aQECwL3I70_IVEpyEd8"
             }
            ],
            "metatags": [
             {
              "date": "2008-09-12"
             }
            ],
            "cse_image": [
             {
              "src": "https://georgewbush-whitehouse.archives.gov/history/tours/images/vo-center.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Cómo Comunicarse con la Casa Blanca",
           "htmlTitle": "Cómo Comunicarse con la \u003cb\u003eCasa Blanca\u003c/b\u003e",
           "link": "https://georgewbush-whitehouse.archives.gov/contact/index.es.html",
           "displayLink": "georgew[...]
