---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=<GOOGLE_SEARCH_CX>&key=<GOOGLE_API_KEY>&lr=lang_en&q=anything&quotaUser=USASearch&safe=medium&start=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"W18CoImQKYKeZ22usPfNI43IHMc/jaKwQfs_IbbF2gzmHznzg7n2TNA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "previousPage": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "1560000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 2,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "<GOOGLE_SEARCH_CX>"
           }
          ],
          "request": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "1560000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 12,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "<GOOGLE_SEARCH_CX>"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "1560000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 22,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "<GOOGLE_SEARCH_CX>"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.324226,
          "formattedSearchTime": "0.32",
          "totalResults": "1560000",
          "formattedTotalResults": "1,560,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "SAFER Web - Company Snapshot MOVING ANYTHING LLC",
           "htmlTitle": "SAFER Web - Company Snapshot MOVING \u003cb\u003eANYTHING\u003c/b\u003e LLC",
           "link": "https://safer.fmcsa.dot.gov/query.asp?query_type=queryCarrierSnapshot&query_param=USDOT&query_string=1580976",
           "displayLink": "safer.fmcsa.dot.gov",
           "snippet": "Entity Type: CARRIER. Operating Status: AUTHORIZED FOR Property, Out of \nService Date: None. Legal Name: MOVING ANYTHING LLC. DBA Name: · \nPhysical Address: 247 STOW AVE TROY, NY 12180. Phone: (518) 229-8275. \nMailing Address: 247 STOW AVE TROY, NY 12180. USDOT Number: 1580976, \nState Carrier ...",
           "htmlSnippet": "Entity Type: CARRIER. Operating Status: AUTHORIZED FOR Property, Out of \u003cbr\u003e\nService Date: None. Legal Name: MOVING \u003cb\u003eANYTHING\u003c/b\u003e LLC. DBA Name: &middot; \u003cbr\u003e\nPhysical Address: 247 STOW AVE TROY, NY 12180. Phone: (518) 229-8275. \u003cbr\u003e\nMailing Address: 247 STOW AVE TROY, NY 12180. USDOT Number: 1580976, \u003cbr\u003e\nState Carrier&nbsp;...",
           "cacheId": "pbiCloEWoHkJ",
           "formattedUrl": "https://safer.fmcsa.dot.gov/query.asp?query_type...query...",
           "htmlFormattedUrl": "https://safer.fmcsa.dot.gov/query.asp?query_type...query..."
          },
          {
           "kind": "customsearch#result",
           "title": "Ask Me Anything – Space Station",
           "htmlTitle": "Ask Me \u003cb\u003eAnything\u003c/b\u003e – Space Station",
           "link": "https://blogs.nasa.gov/spacestation/tag/ask-me-anything/",
           "displayLink": "blogs.nasa.gov",
           "snippet": "Jan 22, 2016 ... You're invited! 300 days of a #YearInSpace today! Ready to @Reddit? Join me \nSat., Jan 23, 4pm ET to #AskMeAnything! Credit: @StationCDRKelly. NASA \nastronaut Scott Kelly will conduct the first ever NASA Reddit Ask Me Anything \nfrom space to help everyone understand what it means to spend a year ...",
           "htmlSnippet": "Jan 22, 2016 \u003cb\u003e...\u003c/b\u003e You&#39;re invited! 300 days of a #YearInSpace today! Ready to @Reddit? Join me \u003cbr\u003e\nSat., Jan 23, 4pm ET to #AskMeAnything! Credit: @StationCDRKelly. NASA \u003cbr\u003e\nastronaut Scott Kelly will conduct the first ever NASA Reddit Ask Me \u003cb\u003eAnything\u003c/b\u003e \u003cbr\u003e\nfrom space to help everyone understand what it means to spend a year&nbsp;...",
           "cacheId": "EHvBTcubvRkJ",
           "formattedUrl": "https://blogs.nasa.gov/spacestation/tag/ask-me-anything/",
           "htmlFormattedUrl": "https://blogs.nasa.gov/spacestation/tag/ask-me-\u003cb\u003eanything\u003c/b\u003e/",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "300",
              "height": "168",
              "src": "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSTQJJ0I6CtzpRZYk2Bqm0qhksXPxcUBC7psTQH9MrcvdiLOxmVmV_kSZ8P"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1"
             }
            ],
            "cse_image": [
             {
              "src": "https://blogs.nasa.gov/spacestation/wp-content/uploads/sites/240/2016/01/stationcdrkelly_reddit-624x351.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "2018 News Feature: CRISPR Ask Me Anything hits Reddit's front ...",
           "htmlTitle": "2018 News Feature: CRISPR Ask Me \u003cb\u003eAnything\u003c/b\u003e hits Reddit&#39;s front ...",
           "link": "https://w[...]
