---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=anything&quotaUser=USASearch&safe=medium&start=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/5JcVyk2QsoB5OOA8mQ0WqIFAmV0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "886000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 12,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "previousPage": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "886000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 2,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - anything",
            "totalResults": "886000",
            "searchTerms": "anything",
            "count": 10,
            "startIndex": 22,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.464623,
          "formattedSearchTime": "0.46",
          "totalResults": "886000",
          "formattedTotalResults": "886,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "The Floor of Yellowstone Lake is Anything but Quiet—New ...",
           "htmlTitle": "The Floor of Yellowstone Lake is \u003cb\u003eAnything\u003c/b\u003e but Quiet—New ...",
           "link": "https://pubs.usgs.gov/pp/1717/downloads/pdf/p1717D.pdf",
           "displayLink": "pubs.usgs.gov",
           "snippet": "D. The Floor of Yellowstone Lake is. Anything but Quiet—New Discoveries from. \nHigh-Resolution Sonar Imaging, Seismic-. Reflection Profiling, and Submersible.",
           "htmlSnippet": "D. The Floor of Yellowstone Lake is. \u003cb\u003eAnything\u003c/b\u003e but Quiet—New Discoveries from. \u003cbr\u003e\nHigh-Resolution Sonar Imaging, Seismic-. Reflection Profiling, and Submersible.",
           "cacheId": "0ymsLre1PSUJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://pubs.usgs.gov/pp/1717/downloads/pdf/p1717D.pdf",
           "htmlFormattedUrl": "https://pubs.usgs.gov/pp/1717/downloads/pdf/p1717D.pdf",
           "pagemap": {
            "metatags": [
             {
              "creationdate": "D:20071211091227-07'00'",
              "subject": "Template Version 2.0 beta",
              "creator": "Adobe InDesign CS3 (5.0.1)",
              "producer": "Adobe PDF Library 8.0",
              "moddate": "D:20080107134842-07'00'"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "USCIS - Help Center - Answer for Do I need to send anything with ...",
           "htmlTitle": "USCIS - Help Center - Answer for Do I need to send \u003cb\u003eanything\u003c/b\u003e with ...",
           "link": "https://my.uscis.gov/helpcenter/article/do-i-need-to-send-anything-with-my-change-of-address-form",
           "displayLink": "my.uscis.gov",
           "snippet": "Do I need to send anything with my change of address form? If you have \nsubmitted the AR-11 by mail, you do not need to mail additional documentation, ...",
           "htmlSnippet": "Do I need to send \u003cb\u003eanything\u003c/b\u003e with my change of address form? If you have \u003cbr\u003e\nsubmitted the AR-11 by mail, you do not need to mail additional documentation,&nbsp;...",
           "cacheId": "I34Ird4n9GEJ",
           "formattedUrl": "https://my.uscis.gov/.../do-i-need-to-send-anything-with-my-change-of- address-form",
           "htmlFormattedUrl": "https://my.uscis.gov/.../do-i-need-to-send-\u003cb\u003eanything\u003c/b\u003e-with-my-change-of- address-form",
           "pagemap": {
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1",
              "csrf-param": "authenticity_token",
              "csrf-token": "9BLr130H0wdBge+5MJ2ogxC5XGsGZL7DAZmyXWJLjKVry1V3mB8oTki59zj6t2QXD22tDIZ8VH6Y9K7O863SHQ=="
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Ask Me Anything | Space Station",
           "htmlTitle": "Ask Me \u003cb\u003eAnything\u003c/b\u003e | Space Station",
           "link": "https://blogs.nasa.gov/spacestation/tag/ask-me-anything/",
           "displayLink": "blogs.nasa.gov",
           "snippet": "Jan 22, 2016 ... NASA astronaut Scott Kelly will conduct the first ever NASA Reddit Ask Me \nAnything from space to help everyone understand what it means to ...",
           "htmlSnippet": "Jan 22, 2016 \u003cb\u003e...\u003c/b\u003e NASA astronaut Scott Kelly will conduct the first ever NASA Reddit Ask Me \u003cbr\u003e\n\u003cb\u003eAnything\u003c/b\u003e from space to help everyone understand what it means to&nbsp;...",
           "cacheId": "EHvBTcubvRkJ",
           "formattedUrl": "https://blogs.nasa.gov/spacestation/tag/ask-me-anything/",
           "htmlFormattedUrl": "https://blogs.nasa.gov/spacestation/tag/ask-me-\u003cb\u003eanything\u003c/b\u003e/",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "299",
              "height": "168",
              "src": "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR3UJZK4xe7TXFvEDO-buCXgS_ZVNdFLXmYMFcLnyPJ3P2xBeVvMJzp3Uo"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width"
             }
            ],
            "cse_image": [
             {
              "src": "https://blogs.nasa.gov/spacestation/wp-content/uploads/sites/240/2016/01/stationcdrkelly_reddit.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Do I need to do anything before I call a housing counselor ...",
           "htmlTitle": "Do I need to do \u003cb\u003eanything\u003c/b\u003e before I call a housing counselor ...",
           "link": "https://www.consumerfinance.gov/askcfpb/262/do-i-need-to-do-anything-before-i-call-a-housing-counselor.html",
           "displayLink": "www.consumerfinance.gov",
           "snippet": "Before speaking with a housing counselor, you should collect as much of your \nfinancial information as possible, including: Your last mortgage loan statement ...",
           "htmlSnippet": "Before speaking with a housing counselor, you should collect as much of your \u003cbr\u003e\nfinancial information as possible, including: Your last mortgage loan statement&nbsp;...",
           "cacheId": "jrZbo9nDopEJ",
           "formattedUrl": "https://www.consumerfinance.gov/.../do-i-need-to-do-anything-before-i-call- a-housing-counselor.html",
           "htmlFormattedUrl": "https://www.consumerfinance.gov/.../do-i-need-to-do-\u003cb\u003eanything\u003c/b\u003e-before-i-call- a-housing-counselor.html",
           "pagemap": {
            "metatags": [
             {
              "copyright": "Public domain",
              "og:type": "government",
              "og:site_name": "Consumer Financial Protection Bureau",
              "fb:app_id": "210516218981921",
              "og:image": "/static/nemo/_/img/logo.8bb2ca7afdb4.svg",
              "og:title": "Do I need to do anything before I call a housing counselor?",
              "og:description": "Before speaking with a housing counselor, you should collect as much of your financial information as possible, including:    Your last[...]
