---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&q=tradiksyon&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"W18CoImQKYKeZ22usPfNI43IHMc/aENmQOHb79DOdQORXPHwrw7qUAM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - tradiksyon",
            "totalResults": "8560",
            "searchTerms": "tradiksyon",
            "count": 10,
            "startIndex": 1,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - tradiksyon",
            "totalResults": "8560",
            "searchTerms": "tradiksyon",
            "count": 10,
            "startIndex": 11,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.281959,
          "formattedSearchTime": "0.28",
          "totalResults": "8560",
          "formattedTotalResults": "8,560"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Wi Non No",
           "htmlTitle": "Wi Non No",
           "link": "https://www.hud.gov/sites/documents/40072-Bi-Creole.pdf",
           "displayLink": "www.hud.gov",
           "snippet": "Ansyen edisyon yo pase mòd. Paj 1 nan 3 fòm HUD-40072 (04/2005). Previous \neditions are obsolete. Page 1 of 3 form HUD-40072 (04/2005) - Creole. Dokiman \nsa a se yon tradiksyon yon dokiman legal ki sot nan HUD. HUD ofri w tradiksyon \nsa a senpleman pou ede w konprann dwa ak obligasyon ou genyen. Vèsyon ...",
           "htmlSnippet": "Ansyen edisyon yo pase mòd. Paj 1 nan 3 fòm HUD-40072 (04/2005). Previous \u003cbr\u003e\neditions are obsolete. Page 1 of 3 form HUD-40072 (04/2005) - Creole. Dokiman \u003cbr\u003e\nsa a se yon \u003cb\u003etradiksyon\u003c/b\u003e yon dokiman legal ki sot nan HUD. HUD ofri w \u003cb\u003etradiksyon\u003c/b\u003e \u003cbr\u003e\nsa a senpleman pou ede w konprann dwa ak obligasyon ou genyen. Vèsyon&nbsp;...",
           "cacheId": "yiImZ2q8p4YJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://www.hud.gov/sites/documents/40072-Bi-Creole.pdf",
           "htmlFormattedUrl": "https://www.hud.gov/sites/documents/40072-Bi-Creole.pdf",
           "pagemap": {
            "metatags": [
             {
              "author": "Keith",
              "creationdate": "D:20111006075050-07'00'",
              "creator": "PScript5.dll Version 5.2.2",
              "moddate": "D:20111006075050-07'00'",
              "producer": "Acrobat Distiller 10.1.1 (Windows)",
              "title": "Microsoft Word - 40072-Bi-Creole.docx"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "(49 CFR 24.402 and 24.401(f))",
           "htmlTitle": "(49 CFR 24.402 and 24.401(f))",
           "link": "https://www.hud.gov/sites/documents/40058-Bi-Creole.pdf",
           "displayLink": "www.hud.gov",
           "snippet": "Ansyen edisyon yo pase mòd. Paj 1 nan[...]
