---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 42393BE224A448BC940E2951B35F1153
      X-Msedge-Clientid:
      - 39CA03DA09F86EA008120FFA082F6F5D
      X-Msapi-Userstate:
      - 8b44
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=65A3E9E8E124402FA7ACFE73E2F0B0AE&CID=39CA03DA09F86EA008120FFA082F6F5D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=65A3E9E8E124402FA7ACFE73E2F0B0AE&CID=39CA03DA09F86EA008120FFA082F6F5D&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 02 Jul 2018 21:58:03 GMT
recorded_with: VCR 4.0.0
