= content_for_site_page_title @site, 'Code Snippets'
.sub-nav-heading
  %h2 Code Snippets
  .action-bar
    %ul

- raw_html = render(partial: 'form_embed_code_text_area')
- formatted_html = HtmlBeautifier.beautify(raw_html)

%h3 Form Snippet
%pre{id: "embed_code_textarea_#{@site.locale}"}
  %code
    = formatted_html