---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/channels?forUsername=nihod&key=<YOUTUBE_KEY>&part=id
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Mon, 17 Apr 2023 15:00:01 GMT
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: method=flickr.reflection.getMethods&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<FLICKR_API_KEY>",
        oauth_nonce="QMosQHMjeRp12ePRtJCdhh5Mcr%2F1UVJSRE945FRjldE%3D", oauth_signature="<FLICKR_SHARED_SECRET>%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1681743601", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"stat":"fail","code":100,"message":"Invalid API Key (Key has invalid
        format)"}'
  recorded_at: Mon, 17 Apr 2023 15:00:04 GMT
recorded_with: VCR 6.1.0
