---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=nih
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="b21d14a02bb67633e703bc840b371521",
        oauth_signature="%2BzSAZtFe80K%2FHeNVPMxHgE5Bn7k%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1642688426", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - '75'
      X-Connection-Hash:
      - 7bcc776a03301784bf9d8a569611c2f7a69b4cf4fbd84956fc1ca0288676b265
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":89,"message":"Invalid or expired token."}]}'
  recorded_at: Thu, 20 Jan 2022 14:20:26 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?forUsername=nihod&key=<YOUTUBE_KEY>&part=id
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Thu, 20 Jan 2022 14:20:27 GMT
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: method=flickr.reflection.getMethods&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<FLICKR_API_KEY>",
        oauth_nonce="LdYZm5Ny1qnd3%2BKvaDL58NgcRiqCz6eFVVEChVZ2mtQ%3D", oauth_signature="<FLICKR_SHARED_SECRET>%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1642688427", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"stat":"fail","code":100,"message":"Invalid API Key (Key has invalid
        format)"}'
  recorded_at: Thu, 20 Jan 2022 14:20:27 GMT
recorded_with: VCR 6.0.0
