---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/channels?forUsername=nihod&key=<YOUTUBE_KEY>&part=id
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Mon, 17 Apr 2023 15:00:01 GMT
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: method=flickr.reflection.getMethods&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<FLICKR_API_KEY>",
        oauth_nonce="QMosQHMjeRp12ePRtJCdhh5Mcr%2F1UVJSRE945FRjldE%3D", oauth_signature="<FLICKR_SHARED_SECRET>%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1681743601", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"stat":"fail","code":100,"message":"Invalid API Key (Key has invalid
        format)"}'
  recorded_at: Mon, 17 Apr 2023 15:00:04 GMT
- request:
    method: get
    uri: http://www.nih.gov/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.nih.gov/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 22 Sep 2025 20:16:10 GMT
- request:
    method: get
    uri: https://www.nih.gov/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - text/html; charset=UTF-8
      Etag:
      - '"1758562972-gzip"'
      Last-Modified:
      - Mon, 22 Sep 2025 17:42:52 GMT
      X-Age:
      - '57'
      X-Ah-Environment:
      - prod
      X-Drupal-Cache:
      - HIT
      X-Drupal-Dynamic-Cache:
      - UNCACHEABLE (poor cacheability)
      X-Generator:
      - Drupal 10 (https://www.drupal.org)
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\" dir=\"ltr\" prefix=\"og: https://ogp.me/ns#\">\n
        \ <head>\n    <meta charset=\"utf-8\" />\n<meta name=\"description\" content=\"Official
        website of the National Institutes of Health (NIH). NIH is one of the world&#039;s
        foremost medical research centers. An agency of the U.S. Department of Health
        and Human Services, the NIH is the Federal focal point for health and medical
        research. The NIH website offers health information for the public, scientists,
        researchers, medical professionals, patients, educators,\" />\n<meta name=\"keywords\"
        content=\"NIH, Health, research funding, medical research, medical information,
        grants, biomedical, disease prevention, biological science, clinical trials\"
        />\n<meta name=\"robots\" content=\"index, follow\" />\n<link rel=\"canonical\"
        href=\"https://www.nih.gov/\" />\n<link rel=\"shortlink\" href=\"https://www.nih.gov/\"
        />\n<link rel=\"image_src\" href=\"/sites/default/files/styles/thumbnail_large/public/2025-01/thumbnail-generic.png\"
        />\n<meta property=\"og:site_name\" content=\"National Institutes of Health
        (NIH)\" />\n<meta property=\"og:type\" content=\"Article\" />\n<meta property=\"og:url\"
        content=\"https://www.nih.gov/node\" />\n<meta property=\"og:description\"
        content=\"Official website of the National Institutes of Health (NIH). NIH
        is one of the world&#039;s foremost medical research centers. An agency of
        the U.S. Department of Health and Human Services, the NIH is the Federal focal
        point for health and medical research. The NIH website offers health information
        for the public, scientists, researchers, medical professionals, patients,
        educators,\" />\n<meta property=\"og:image\" content=\"https://www.nih.gov/sites/default/files/styles/thumbnail_large/public/2025-01/thumbnail-generic.png\"
        />\n<meta name=\"twitter:card\" content=\"summary\" />\n<meta name=\"Generator\"
        content=\"Drupal 10 (https://www.drupal.org)\" />\n<meta name=\"MobileOptimized\"
        content=\"width\" />\n<meta name=\"HandheldFriendly\" content=\"<DATADOG_API_ENABLED>\"
        />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"
        />\n<link rel=\"icon\" href=\"/themes/custom/nih2_uswds/assets/img/favicons/custom/favicon-192x192.png\"
        type=\"image/png\" />\n<link rel=\"alternate\" type=\"application/rss+xml\"
        title=\"\" href=\"https://www.nih.gov/rss.xml\" />\n\n    <title>National
        Institutes of Health (NIH) |</title>\n    <link rel=\"stylesheet\" media=\"all\"
        href=\"/sites/default/files/css/css_nTZzVV0LsLVxmxXdLTGxvjouVfn31AzT0bze53_rVlY.css?delta=0&amp;language=en&amp;theme=nih2_uswds&amp;include=eJxFjGsOwiAQhC-0lsQLmS1sAOUVBmzx9JrSxj-TfPPSgYGhogBsBaRzFWVqLxwWfvI-jZRr5OA_QrK34NPrqpxIybv7o2MzULqj5XhDG7_EUuHKtnJxuDZ_Z-mp9DV4ODGEgSZRrQyh-TT7JxxKby8b1KFLzKYH-QKRDUum\"
        />\n<link rel=\"stylesheet\" media=\"all\" href=\"/sites/default/files/css/css_zvnmitdxF7Azlr40tTVTUAnwywPlL_yNojzXeI2geVM.css?delta=1&amp;language=en&amp;theme=nih2_uswds&amp;include=eJxFjGsOwiAQhC-0lsQLmS1sAOUVBmzx9JrSxj-TfPPSgYGhogBsBaRzFWVqLxwWfvI-jZRr5OA_QrK34NPrqpxIybv7o2MzULqj5XhDG7_EUuHKtnJxuDZ_Z-mp9DV4ODGEgSZRrQyh-TT7JxxKby8b1KFLzKYH-QKRDUum\"
        />\n\n    <script type=\"application/json\" data-drupal-selector=\"drupal-settings-json\">{\"path\":{\"baseUrl\":\"\\/\",\"pathPrefix\":\"\",\"currentPath\":\"node\",\"currentPathIsAdmin\":false,\"isFront\":<DATADOG_API_ENABLED>,\"currentLanguage\":\"en\"},\"pluralDelimiter\":\"\\u0003\",\"suppressDeprecationErrors\":<DATADOG_API_ENABLED>,\"gtag\":{\"tagId\":\"\",\"consentMode\":false,\"otherIds\":[],\"events\":[],\"additionalConfigInfo\":[]},\"ajaxPageState\":{\"libraries\":\"eJxdkAuOwyAMRC9EgtQLVS64jnf5CZu06emLmmQ3qYQGzzxky7gAIou9gaBxax1RBAjFuFzRplwjBH51XOG1IJHdC4NPDZx-ra-tQBg3a-6sM3ux2_3nObEaypkCXhXIUpdvP8IPPM9hNImny7XJo_dwTTTHQXTpo-hI7oHL4KD6Y1hRUIfS1zmn2moaNPdTjkDYY4K5x9Tnn4niAAGr7rBABapQJtn3_0_Glkq7BZYJvZFFFOP6xWuz9f1mPmpmxofYj44x-xbwDTz3nqQ\",\"theme\":\"nih2_uswds\",\"theme_token\":null},\"ajaxTrustedUrl\":[],\"gtm\":{\"tagId\":null,\"settings\":{\"data_layer\":\"dataLayer\",\"include_classes\":false,\"allowlist_classes\":\"\",\"blocklist_classes\":\"\",\"include_environment\":false,\"environment_id\":\"\",\"environment_token\":\"\"},\"tagIds\":[\"GTM-5CBCNW2\"]},\"fitvids\":{\"selectors\":\".node\\r,.field--name-field-media-oembed-video\",\"custom_vendors\":\"iframe[src^=\\u0022https:\\/\\/youtu.be\\u0022],iframe[src^=\\u0022https:\\/\\/youtu.be\\u0022],iframe[src^=\\u0022https:\\/\\/www.youtube.com\\u0022],iframe[src^=\\u0022\\/media\\/oembed?url=https:\\/\\/youtu.be\\u0022],iframe[src^=\\u0022\\/media\\/oembed?url=https%3A\\/\\/youtu.be\\u0022],iframe[src^=\\u0022\\/media\\/oembed?url=https:\\/\\/youtube.com\\u0022],iframe[src^=\\u0022\\/media\\/oembed?url=https%3A\\/\\/youtube.com\\u0022]\",\"ignore_selectors\":\"\"},\"data\":{\"extlink\":{\"extTarget\":<DATADOG_API_ENABLED>,\"extTargetAppendNewWindowLabel\":\"(opens
        in a new window)\",\"extTargetNoOverride\":false,\"extNofollow\":<DATADOG_API_ENABLED>,\"extTitleNoOverride\":false,\"extNoreferrer\":<DATADOG_API_ENABLED>,\"extFollowNoOverride\":false,\"extClass\":\"ext\",\"extLabel\":\"(link
        is external)\",\"extImgClass\":false,\"extSubdomains\":false,\"extExclude\":\"\",\"extInclude\":\"\",\"extCssExclude\":\".usa-nav,
        .usa-sidenav, .usa-button, .icon-link, .share-buttons, .usa-footer__social-links,
        .teaser-list, .usa-card-group, .link--no-tag\",\"extCssInclude\":\"\",\"extCssExplicit\":\"\",\"extAlert\":false,\"extAlertText\":\"You
        are leaving the NIH website.\\r\\n\\r\\nThis external link provides additional
        information that is consistent with the intended purpose of this site. NIH
        cannot attest to the accuracy of a non-federal site.\\r\\n\\r\\nLinking to
        a non-federal site does not constitute an endorsement by NIH or any of its
        employees of the sponsors or the information and products presented on the
        site. You will be subject to the destination site\\u2019s privacy policy when
        you follow the link.\",\"extHideIcons\":false,\"mailtoClass\":\"mailto\",\"telClass\":\"0\",\"mailtoLabel\":\"(link
        sends email)\",\"telLabel\":\"\",\"extUseFontAwesome\":false,\"extIconPlacement\":\"after\",\"extPreventOrphan\":false,\"extFaLinkClasses\":\"fa
        fa-external-link\",\"extFaMailtoClasses\":\"fa fa-envelope-o\",\"extAdditionalLinkClasses\":\"\",\"extAdditionalMailtoClasses\":\"\",\"extAdditionalTelClasses\":\"\",\"extFaTelClasses\":\"fa
        fa-phone\",\"whitelistedDomains\":[\"www.nih.gov\",\"salud.nih.gov\",\"ned.nih.gov\",\"calendar.nih.gov\",\"search.usa.gov\",\"search.nih.gov\",\"search.gov\",\"cloud.acquia.com\"],\"extExcludeNoreferrer\":\"\"}},\"user\":{\"uid\":0,\"permissionsHash\":\"52c204d27c77368827b33df801757282ad522f57fc486a23070b7ac529ab2eeb\"}}</script>\n<script
        src=\"/sites/default/files/js/js_I8yN2jcadLwQ2UnJhfoYhgH0rMoIYFCge7ov_eWFMGQ.js?scope=header&amp;delta=0&amp;language=en&amp;theme=nih2_uswds&amp;include=eJxdjYEOwiAMRH8IRuIPLQ3UWkUgpczp14uKZjNprr13ydULPO5I5Pw4DK4aOV1ckFYgTsOaI-vCobqxf54Tq6GcKeKsQI66_PsJzrDu4dUkPh3mVm-vzsjFepCwhYIV1RYg3FNtkqzmPmUbVA6YYOmY-pd9omghoug3_PC3PgGlVmKC\"></script>\n<script
        src=\"https://script.crazyegg.com/pages/scr[...]
- request:
    method: get
    uri: https://www.nih.gov/rss.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/rss+xml; charset=utf-8
      Etag:
      - '"1758562663"'
      Last-Modified:
      - Mon, 22 Sep 2025 17:37:43 GMT
      X-Age:
      - '738'
      X-Ah-Environment:
      - prod
      X-Drupal-Cache:
      - HIT
      X-Drupal-Dynamic-Cache:
      - MISS
      X-Generator:
      - Drupal 10 (https://www.drupal.org)
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <rss xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0" xml:base="https://www.nih.gov/">
          <channel>
            <title>National Institutes of Health (NIH)</title>
            <link>https://www.nih.gov/</link>
            <description><![CDATA[]]></description>
            <language>en</language>
                </channel>
        </rss>
  recorded_at: Mon, 22 Sep 2025 20:16:11 GMT
recorded_with: VCR 6.3.1
