---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=usagov
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="***REMOVED***", oauth_nonce="fec208063de5ba8991334c67df7612ff",
        oauth_signature="e%2BQ2Ydmw4ahdZQpQ1fBqLHj586A%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1517707917", oauth_token="***REMOVED***",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 04 Feb 2018 01:31:57 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - bc69b0c7b459bab0826bdd0f5d82b4e2
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1517708817'
      X-Response-Time:
      - '53'
      X-Transaction:
      - 00af915100c4d79d
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"id":14074515,"id_str":"14074515","name":"USA.gov","screen_name":"USAgov","location":"Washington,
        DC","profile_location":null,"description":"We help you discover official U.S.
        government information and services on the Internet. Retweets or follows don''t
        equal endorsement.","url":"http:\/\/t.co\/1RLTFbrRrK","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/1RLTFbrRrK","expanded_url":"http:\/\/USA.gov","display_url":"USA.gov","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":347169,"friends_count":1065,"listed_count":5705,"created_at":"Mon
        Mar 03 21:06:45 +0000 2008","favourites_count":1816,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":14124,"lang":"en","status":{"created_at":"Sun
        Feb 04 00:00:01 +0000 2018","id":959939565090934786,"id_str":"959939565090934786","text":"How
        much do you know about the flu? Test your knowledge and take this Flu IQ quiz:
        https:\/\/t.co\/XfxyudvTLs https:\/\/t.co\/sBRICT8RRs","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/XfxyudvTLs","expanded_url":"http:\/\/bit.ly\/2DX9iFQ","display_url":"bit.ly\/2DX9iFQ","indices":[83,106]}],"media":[{"id":959939561773137921,"id_str":"959939561773137921","indices":[107,130],"media_url":"http:\/\/pbs.twimg.com\/media\/DVJj8glVAAEB7UP.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DVJj8glVAAEB7UP.jpg","url":"https:\/\/t.co\/sBRICT8RRs","display_url":"pic.twitter.com\/sBRICT8RRs","expanded_url":"https:\/\/twitter.com\/USAgov\/status\/959939565090934786\/photo\/1","type":"photo","sizes":{"large":{"w":600,"h":1014,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":402,"h":680,"resize":"fit"},"medium":{"w":600,"h":1014,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":959939561773137921,"id_str":"959939561773137921","indices":[107,130],"media_url":"http:\/\/pbs.twimg.com\/media\/DVJj8glVAAEB7UP.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DVJj8glVAAEB7UP.jpg","url":"https:\/\/t.co\/sBRICT8RRs","display_url":"pic.twitter.com\/sBRICT8RRs","expanded_url":"https:\/\/twitter.com\/USAgov\/status\/959939565090934786\/photo\/1","type":"photo","sizes":{"large":{"w":600,"h":1014,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":402,"h":680,"resize":"fit"},"medium":{"w":600,"h":1014,"resize":"fit"}}}]},"source":"\u003ca
        href=\"http:\/\/www.hubspot.com\/\" rel=\"nofollow\"\u003eHubSpot\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":3,"favorite_count":2,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F7F7F7","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/64898326\/twitter-bg-usagov.gif","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/64898326\/twitter-bg-usagov.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/775182853411921920\/tqiVTMjO_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/775182853411921920\/tqiVTMjO_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14074515\/1517258463","profile_link_color":"022945","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"FFFFFF","profile_text_color":"6C6C6C","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}'
  recorded_at: Sun, 04 Feb 2018 01:31:57 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?forUsername=usagov1&key=***REMOVED***&part=id
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Wu2llbfqCdxIVjGbVPm2DslKPCA/6uvK8IjShzZ17Ahyr1FaURwOhkM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"Wu2llbfqCdxIVjGbVPm2DslKPCA/6uvK8IjShzZ17Ahyr1FaURwOhkM\"",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 5
         },
         "items": []
        }
  recorded_at: Sun, 04 Feb 2018 01:31:58 GMT
recorded_with: VCR 4.0.0
