---
http_interactions:
- request:
    method: get
    uri: https://search.usa.gov/rss/updates.xml
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Found
    headers:
      Content-Type:
      - text/html
      Location:
      - https://www.usa.gov/search-error
      Status:
      - 302 Found
      'Http/2 404 ':
      - ''
      Last-Modified:
      - Wed, 12 Aug 2020 16:41:24 GMT
      X-Amz-Version-Id:
      - U4yzwXK.DUck1Yq6_gey2eER.hnC10Zr
      Etag:
      - '"d3b4bbaf143f892275474e801feb5582"'
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n\n\t\n\n    \n\n\n\n\n    \n<html  lang=\"en\" xml:lang=\"en\">\n\n<head>\n\t\n<script>\n
        \    dataLayer = [ {\n    \"pageType\": \"generic-content-page\",\n    \"assetIDs\":
        \"214314, 214371\",\n    \"TaxLevel1\": \"USA.gov\",\n    \"TaxLevel2\": \"Contact
        USA.gov\",\n    \"TaxLevel3\": \"Search Error\",\n    \"TaxLevel4\": \"Search
        Error\",\n    \"TaxLevel5\": \"Search Error\",\n    \"TaxLevel6\": \"Search
        Error\",\n    \"PageTermId\": \"11843\",\n    \"TaxLevel2termID\": \"10978\",\n
        \   \"TaxLevel3termID\": \"11843\"\n} ];\n </script>\n\n <!-- Google Tag Manager
        -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\n
        \       new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\n
        \       j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n
        \       'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\n
        \   })(window,document,'script','dataLayer','GTM-KV4BZFD');</script>\n<!--
        End Google Tag Manager -->\n\n<meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=UTF-8\">\n\n    <title>Search Error  &#124; USAGov</title>\n\n<link
        rel=\"canonical\" href=\"https://www.usa.gov/search-error\" />\n\n<meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0\">\n<meta name=\"description\"
        content=\"Unfortunately your search did not work.\" />\n\n<meta property=\"og:url\"
        content=\"https://www.usa.gov/search-error\" />\n<meta property=\"og:type\"
        content=\"website\" />\n<meta property=\"og:title\" content=\"Search Error
        &#124; USAGov\" />\n\n<meta property=\"og:description\" content=\"Unfortunately
        your search did not work.\" />\n\n<meta property=\"og:image\" content=\"https://www.usa.gov/images/facebook_share_thumbnail.png\"
        />\n<meta property=\"og:image:secure_url\" content=\"https://www.usa.gov/images/facebook_share_thumbnail.png\"
        />\n\n<!-- RSS Autodiscovery -->\n<link rel=\"alternate\" type=\"application/rss+xml\"
        title=\"USA.gov Updates\" href=\"/rss/updates.xml\" />\n\n<!-- Favicons -->\n<link
        rel=\"apple-touch-icon-precomposed\" href=\"/images/USA_Fav_Icon152_default.png\">\n<link
        rel=\"icon\" sizes=\"16x16\" href=\"/images/USA_Fav_Icon16.ico\">\n<link rel=\"icon\"
        sizes=\"32x32\" href=\"/images/favicon.ico\">\n<link rel=\"icon\" sizes=\"152x152\"
        href=\"/images/USA_Fav_Icon152_default.png\">\n\n\n<!-- Styles -->\n<link
        rel=\"stylesheet\" href=\"/css/style.css\">\n<link rel=\"stylesheet\" href=\"/css/pagelevelsurvey.css\">\n<link
        rel=\"stylesheet\" href=\"/css/print.css\" media=\"print\" />\n\n\n\n<!--
        Scripts -->\n<script type=\"text/javascript\" src=\"/js/jquery-3.5.1.min.js\"></script>\n<script
        type=\"text/javascript\" src=\"/js/media_link_alter.js\"></script>\n\n\n\n<script
        type=\"text/javascript\">\n<!--//--><![CDATA[//><!--\n\n/* The following script
        is injected from /var/www/html/sites/all/modules/custom/media_link_alter/media_link_alter.module
        */\njQuery(document).ready( function () {\n    var linksAltered = alterMediaLinks({\"pdf\":\"(<span
        aria-labelledby=\\\"usorg[ID]\\\" aria-describedby=\\\"usorg[ID]\\\">PDF,
        <a href=\\\"https:\\/\\/get.adobe.com\\/reader\\/\\\">Download Adobe Reader<\\/a><\\/span>)\",\"xls\":\"(<span
        aria-labelledby=\\\"usorg[ID]\\\" aria-describedby=\\\"usorg[ID]\\\">XLS,
        <a href=\\\"http:\\/\\/www.microsoft.com\\/en-us\\/download\\/details.aspx?id=10\\\">Download
        Excel Reader<\\/a><\\/span>)\",\"ppt\":\"(<span aria-labelledby=\\\"usorg[ID]\\\"
        aria-describedby=\\\"usorg[ID]\\\">PPT, <a href=\\\"http:\\/\\/www.microsoft.com\\/en-us\\/download\\/details.aspx?id=13\\\">Download
        Power Point Reader<\\/a><\\/span>)\"});\n});\n\n//--><!]]>\n</script>\n\t\n<script
        type=\"text/javascript\">\n<!--//--><![CDATA[//><!--\ntermId = '11843';\n//--><!]]>\n</script>\n\n\n\n
        \                             \n\n<script type=\"application/ld+json\">\n{\n
        \   \"@context\": \"https://schema.org\",\n    \"@type\": \"BreadcrumbList\",\n
        \   \"itemListElement\": [{\n            \"@type\": \"ListItem\",\n            \"position\":
        1,\n            \"name\": \"Contact USA.gov\",\n            \"item\": \"https://www.usa.gov/contact\"\n
        \       },\n        {\n            \"@type\": \"ListItem\",\n            \"position\":
        2,\n            \"name\": \"Search Error\",\n            \"item\": \"https://www.usa.gov/search-error\"\n
        \       }\n            ]\n}\n</script>\n\n\n\n<META NAME=\"ROBOTS\" CONTENT=\"NOINDEX,
        NOFOLLOW\">\r\n<script type=\"application/javascript\">\r\n  var ErrorPageTestQualtrics
        = \"yes\";\r\n</script>\n<script type=\"application/ld+json\">\n{\n  \"@context\":
        \"https://schema.org\",\n  \"@type\": \"Organization\",\n  \"url\": \"https://www.usa.gov/\",\n
        \ \"logo\": \"https://app-usa-modeast-prod-a01239f.s3.amazonaws.com/Logo_USAGov.png\"\n}\n</script>\n\n<script
        type=\"text/javascript\" src=\"/js/respond.js\"></script>\n<script type=\"text/javascript\"
        src=\"/js/platform.js\"></script>\n<script type=\"text/javascript\" src=\"/js/menu.js\"></script>\n<script
        type=\"text/javascript\" src=\"/js/standardsModifications.js\"></script>\n<script
        type=\"text/javascript\" src=\"/js/modal.js\"></script>\n<script type=\"text/javascript\"
        src=\"/js/states.js\"></script>\n<script type=\"text/javascript\" src=\"/js/homepage.js\"></script>\n<script
        type=\"text/javascript\" src=\"/js/uswds.js\"></script>\n\n<!--[if lte IE
        8]>\n<script src=\"https://html5shiv.googlecode.com/svn/trunk/html5.js\"></script>\n<![endif]-->\n\n\t\n\t\n</head>\n\n<body>\n\t\n<span
        role=\"banner\">\n\t<!-- Google Tag Manager (noscript) -->\n<noscript><iframe
        role=\"application\" src=\"https://www.googletagmanager.com/ns.html?id=GTM-KV4BZFD\"\n\theight=\"0\"
        width=\"0\" style=\"display:none;visibility:hidden\"></iframe></noscript>\n\t<!--
        End Google Tag Manager (noscript) -->\n\n<noscript>\n\t<div style=\"background-color:#c61f0c;
        color:#fff; margin:0; padding-left:1.3rem; width:100%; padding-top:.5%; min-height:7rem;\">\n\t\t\t\t<span
        role=\"img\" style=\"display:inline-block; padding-top:.2%; padding-bottom:.2%;
        padding-left:4.5rem; padding-right:5rem; background-image:url(../images/Icon_Alert.png);
        background-repeat:no-repeat; background-size:1.4em; background-position:1%
        42%; line-height:20px; font-size:medium;\">\n\t\t\t\t\t<p>Please enable JavaScript
        in your web browser; otherwise some parts of this site might not work properly.</p>\n\t\t\t\t</span>\n\t\t\t</div>\n</noscript>\n<a
        class=\"usa-skipnav\" href=\"#content\" onclick=\"document.getElementById('content').focus();\"
        onfocus=\"dataLayer.push({'event' : 'skipNavOpened'});\">\n\tSkip to main
        content\n</a>\n\n\n<header aria-labelledby=\"bner\" class=\"usa-header usa-header-extended\"
        data-stickyheight=\"22\">\n\t<div class=\"usa-banner\">\n      <div class=\"usa-accordion\">\n
        \       <div class=\"usa-banner-header\">\n          <div id=\"bner\" class=\"usa-grid
        usa-banner-inner\">\n          <img src=\"../../../images/favicon-57.png\"
        alt=\"U.S. flag\">\n          <p>\n\t          An official website of the
        United States government\n\t      </p>\n          <button class=\"usa-accordion-button
        usa-banner-button\"\n            aria-expanded=\"false\" aria-controls=\"gov-banner\">\n
        \           <span class=\"usa-banner-button-text\">\n\n            \tHere's
        how you know\n            </span>\n          </button>\n          </div>\n
        \       </div>\n                <div class=\"usa-banner-content usa-grid usa-accordion-content\"
        id=\"gov-banner\">\n          <div class=\"usa-banner-guidance-gov usa-width-one-half\">\n
        \           <img class=\"usa-banner-icon usa-media_block-img\" src=\"../../../images/icon-dot-gov.svg\"
        alt=\"Dot gov\">\n            <div class=\"usa-media_block-body\">\n\t\t\t\t\t\t\t\t\t\t\t\t<p>\n\t\t\t\t\t\t\t<strong>Official
        websites use .gov</strong>\n\t\t\t\t\t\t\t<br>\n\t\t\t\t\t\t\tA <strong>.gov</strong>
        website belongs to an official government organization in the United States.\n\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t
        \           </div>\n          </div>\n          <div class=\"usa-banner-guidance-ssl
        usa-width-one-half\">\n            <img class=\"usa-banner-icon usa-media_block-img\"
        src=\"../../../images/icon-https.svg\" alt=\"SSL\">\n            <div class=\"usa-media_block-body\">\n\t\t\t\t\t\t\t\t\t\t\t\t<p>\n\t\t\t\t\t\t\t<strong>Secure
        .gov websites use HTTPS</strong>\n\t\t\t\t\t\t\t<br>\n\t\t\t\t\t\t\tA <strong>lock</strong>
        (\n\t\t\t\t\t\t\t\t<span class=\"icon-lock\">\n\t\t\t\t\t\t\t\t\t<svg xmlns=\"http://www.w3.org/2000/svg\"
        width=\"52\" height=\"64\" viewBox=\"0 0 52 64\" class=\"usa-banner__lock-image\"
        role=\"img\" aria-labelledby=\"banner-lock-title-default banner-lock-description-default\">\n\t\t\t\t\t\t\t\t\t\t<title
        id=\"banner-lock-title-default\">Lock</title>\n\t\t\t\t\t\t\t\t\t\t<desc id=\"banner-lock-description-default\">A
        locked padlock</desc>\n\t\t\t\t\t\t\t\t\t\t<path fill=\"#000000\" fill-rule=\"evenodd\"
        d=\"M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4
        0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843
        4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z\"></path>\n\t\t\t\t\t\t\t\t\t</svg>\n\t\t\t\t\t\t\t\t</span>\n\t\t\t\t\t\t\t)
        or https:// means you’ve safely connected to the .gov website. Share sensitive
        information only on official, secure websites.\n\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t
        \           </div>\n          </div>\n        </div>\n      </div>\n    </div>\n\n</span>\n<span
        role=\"navigation\">\n\t<div class=\"usa-navbar\">\n\t\t\t\t        <div class=\"usa-logo\"
        id=\"logo\">\r\n          <em class=\"usa-logo-text\">\r\n            <a href=\"/\"
        title=\"USAGov Logo\"><img src=\"https://app-usa-modeast-prod-a01239f-ecas.s3.amazonaws.com/Logo_USAGov.png\"
        alt=\"USAGov Logo\"/></a>\r\n          </em>\r\n        </div>\n\n\t\t\n\t\t\t<button
        class=\"usa-menu-btn\">MENU</button>\n\t\t</div>\n\n\t\t<div class=\"usa-navbar
        breadcrumb\">\n\t\t\t<a href=\"/contact\" class=\"url\" aria-describedby=\"sr-previous\">\n\t\t\t\t<span>Contact
        USA.gov</span>\n\t\t\t</a>\n\t</div>\n\t\n\n\t<nav aria-labelledby=\"navi\"
        class=\"usa-nav\" aria-hidden=\"false\">\n\t\t<div id=\"navi\" class=\"usa-sr-only\">Main
        Navigation</div>\n\t\t<div class=\"usa-nav-inner\">\n\n\n\t\t\t\t\t\t<div
        class=\"usa-nav-secondary\">\r\n         <button class=\"usa-nav-close\">Close</button>\r\n
        \        <form action=\"https://search.usa.gov/search\" method=\"get\" name=\"search_form\"
        accept-charset=\"UTF-8\" class=\"usa-search usa-search-small\">\r\n           <div
        role=\"search\" aria-labelledby=\"top-srch\">\r\n             <label id=\"top-srch\"
        class=\"usa-sr-only\" for=\"search-field-small\">Search</label>\r\n             <input
        id=\"affiliate\" name=\"affiliate\" type=\"hidden\" value=\"usagov\">\r\n
        \            <input id=\"search-field-small\" type=\"search\" name=\"query\"
        placeholder=\"Search All Government\" onfocus=\"this.placeholder = ''\" class=\"text
        usagov-search-autocomplete ui-autocomplete-input\" autocomplete=\"off\" aria-autocomplete=\"list\"
        aria-haspopup=\"true\">\r\n             <button type=\"submit\">\r\n               <span
        class=\"usa-sr-only\">Search</span>\r\n             </button>\r\n           </div>\r\n
        \        </form>\r\n         <ul class=\"usa-unstyled-list usa-nav-secondary-links\">\r\n
        \          <li class=\"js-search-button-container\">\r\n             <button
        class=\"usa-header-search-button js-search-button\">Search</button>\r\n           </li>\r\n
        \          <li>\r\n             <a href=\"/phone\">1-844-USA-GOV1</a>\r\n
        \          </li>\r\n         </ul>\r\n       </div>\r\n\n\n\n\t\t\t\t\t\t\n\n\n\n\n\n\n\n
        \                                                                                                                                                     [...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=usagov
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="02fc4b0ebd169264a2b38db88eb4869c",
        oauth_signature="G6VNbCW%2BtOO7ozBT4hsBzMrjEvM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1597250573", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 401
      message: Authorization Required
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Connection-Hash:
      - aa78d6175e452ace8bd6d05dcb67af8b
      X-Response-Time:
      - '9'
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":89,"message":"Invalid or expired token."}]}'
  recorded_at: Wed, 12 Aug 2020 16:42:53 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?forUsername=usagov1&key=<YOUTUBE_KEY>&part=id
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT"
          }
        }
  recorded_at: Wed, 12 Aug 2020 16:42:53 GMT
- request:
    method: '{"method"=>:get}'
    uri: https://www.usa.gov/search-error
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Found
    headers:
      Content-Type:
      - text/html
      Location:
      - https://www.usa.gov/search-error
      Status:
      - 302 Found
      'Http/2 404 ':
      - ''
      Last-Modified:
      - Wed, 12 Aug 2020 16:41:24 GMT
      X-Amz-Version-Id:
      - U4yzwXK.DUck1Yq6_gey2eER[...]
[...]
