---
http_interactions:
- request:
    method: get
    uri: https://search.gov/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://digital.gov/guides/search
      X-Vcap-Request-Id:
      - 89d7ed20-8e15-447a-720c-cf8a511d33dc
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx/1.28.0</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Mon, 22 Sep 2025 20:16:13 GMT
- request:
    method: get
    uri: https://digital.gov/guides/search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Last-Modified:
      - Mon, 22 Sep 2025 20:06:53 GMT
      X-Vcap-Request-Id:
      - a2175ed3-79ab-4962-47d4-3514aaba8e9d
      Etag:
      - '"4fb6e6f2cd34f8d8be65c0970017fdcf"'
    body:
      encoding: UTF-8
      string: "\n<!DOCTYPE html>\n<html lang=\"en\" dir=\"ltr\" prefix=\"og: https://ogp.me/ns#\">\n<head>\n
        \ <meta charset=\"utf-8\" />\n<meta name=\"description\" content=\"Search.gov
        is a configurable search engine built by the government, for the government,
        with the government. \" />\n<link rel=\"canonical\" href=\"https://digital.gov/guides/search\"
        />\n<meta name=\"robots\" content=\"index, follow\" />\n<meta property=\"og:site_name\"
        content=\"Digital.gov\" />\n<meta property=\"og:type\" content=\"article\"
        />\n<meta property=\"og:url\" content=\"https://digital.gov/guides/search\"
        />\n<meta property=\"og:title\" content=\"Optimizing site search with Search.gov\"
        />\n<meta property=\"og:description\" content=\"Search.gov is a configurable
[...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/channels?forUsername=@digitalgov&key=<YOUTUBE_KEY>&part=id
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "errors": [
              {
                "message": "API key not valid. Please pass a valid API key.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "youtube.googleapis.com"
                }
              },
              {
                "@type": "type.googleapis.com/google.rpc.LocalizedMessage",
                "locale": "en-US",
                "message": "API key not valid. Please pass a valid API key."
              }
            ]
          }
        }
  recorded_at: Mon, 22 Sep 2025 20:16:13 GMT
recorded_with: VCR 6.3.1
