---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=usagov
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="e854da44274aa25efbad5de2f1a77cf1",
        oauth_signature="U2Hs39IpTW%2BsZslkviIkjqCOX2U%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1519283428", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 22 Feb 2018 07:10:28 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - d8b4c028fdbedb5b9c5a3509ccb1ba7b
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1519284328'
      X-Response-Time:
      - '211'
      X-Transaction:
      - 00d0ac8a0031bf79
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"id":14074515,"id_str":"14074515","name":"USA.gov","screen_name":"USAgov","location":"Washington,
        DC","profile_location":null,"description":"We help you discover official U.S.
        government information and services on the Internet. Retweets or follows don''t
        equal endorsement.","url":"http:\/\/t.co\/1RLTFbrRrK","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/1RLTFbrRrK","expanded_url":"http:\/\/USA.gov","display_url":"USA.gov","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":347508,"friends_count":1064,"listed_count":5707,"created_at":"Mon
        Mar 03 21:06:45 +0000 2008","favourites_count":1817,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":14229,"lang":"en","status":{"created_at":"Thu
        Feb 22 00:00:01 +0000 2018","id":966462546520702976,"id_str":"966462546520702976","text":"Before
        you invest in cryptocurrencies like bitcoin, know the risks and see how you
        could be scammed as an investor:\u2026 https:\/\/t.co\/92pJKVIt9o","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/92pJKVIt9o","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/966462546520702976","display_url":"twitter.com\/i\/web\/status\/9\u2026","indices":[117,140]}]},"source":"\u003ca
        href=\"http:\/\/www.hubspot.com\/\" rel=\"nofollow\"\u003eHubSpot\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":3,"favorite_count":4,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F7F7F7","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/64898326\/twitter-bg-usagov.gif","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/64898326\/twitter-bg-usagov.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/775182853411921920\/tqiVTMjO_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/775182853411921920\/tqiVTMjO_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14074515\/1517258463","profile_link_color":"022945","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"FFFFFF","profile_text_color":"6C6C6C","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"}'
  recorded_at: Thu, 22 Feb 2018 07:10:28 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?forUsername=usagov1&key=<YOUTUBE_KEY>&part=id
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"_gJQceDMxJ8gP-8T2HLXUoURK8c/6uvK8IjShzZ17Ahyr1FaURwOhkM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"_gJQceDMxJ8gP-8T2HLXUoURK8c/6uvK8IjShzZ17Ahyr1FaURwOhkM\"",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 5
         },
         "items": []
        }
  recorded_at: Thu, 22 Feb 2018 07:39:53 GMT
- request:
    method: get
    uri: https://search.usa.gov/rss/updates.xml
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
      - text/html
      Location:
      - https://www.usa.gov/search-error
      Status:
      - 302 Found
      Last-Modified:
      - Fri, 13 Sep 2019 20:20:36 GMT
      Etag:
      - '"916b99c57dcc0fcf70e0fdf9178604ef"'
      X-Amz-Server-Side-Encryption:
      - AES256
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n\n\t\n<html  lang=\"en\" xml:lang=\"en\"  >\n\n<head>\n\t\n<script>\n
        \    dataLayer = [ {\n    \"pageType\": \"generic-content-page\",\n    \"assetIDs\":
        \"214314, 214371\",\n    \"TaxLevel1\": \"USA.gov\",\n    \"TaxLevel2\": \"Contact
        USA.gov\",\n    \"TaxLevel3\": \"Search Error\",\n    \"TaxLevel4\": \"Search
        Error\",\n    \"TaxLevel5\": \"Search Error\",\n    \"TaxLevel6\": \"Search
        Error\"\n} ];\n </script>\n\n <!– Google Tag Manager –>\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\n
        \       new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\n
        \       j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n
        \       'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\n
        \   })(window,document,'script','dataLayer','GTM-KV4BZFD');</script>\n<!–
        End Google Tag Manager –>\n\n<meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=UTF-8\">\n\n    <title>Your Search Didn&#039;t Work  &#124; USAGov</title>\n\n<link
        rel=\"canonical\" href=\"https://www.usa.gov/search-error\" />\n<meta name=\"google\"
        value=\"notranslate\">\n<meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0\">\n<meta name=\"description\" content=\"Unfortunately your
        search did not work.\" />\n\n<meta property=\"og:url\" content=\"https://www.usa.gov/search-error\"
        />\n<meta property=\"og:type\" content=\"website\" />\n<meta property=\"og:title\"
        content=\"Search Error &#124; USAGov\" />\n\n<meta property=\"og:description\"
        content=\"Unfortunately your search did not work.\" />\n\n<meta property=\"og:image\"
        content=\"https://www.usa.gov/images/facebook_share_thumbnail.png\" />\n<meta
        property=\"og:image:secure_url\" content=\"https://www.usa.gov/images/facebook_share_thumbnail.png\"
        />\n\n<!-- RSS Autodiscovery -->\n<link rel=\"alternate\" type=\"application/rss+xml\"
        title=\"USA.gov Updates\" href=\"/rss/updates.xml\" />\n\n<!-- Favicons -->\n<link
        rel=\"apple-touch-icon-precomposed\" href=\"/images/USA_Fav_Icon152_default.png\">\n<link
        rel=\"icon\" sizes=\"16x16\" href=\"/images/USA_Fav_Icon16.ico\">\n<link rel=\"icon\"
        sizes=\"32x32\" href=\"/images/favicon.ico\">\n<link rel=\"icon\" sizes=\"152x152\"
        href=\"/images/USA_Fav_Icon152_default.png\">\n\n\n<!-- Styles -->\n<link
        rel=\"stylesheet\" href=\"/css/style.css\">\n<link rel=\"stylesheet\" href=\"/css/pagelevelsurvey.css\">\n<link
        rel=\"stylesheet\" href=\"/css/print.css\" media=\"print\" />\n\n\n\n<!--
        Scripts -->\n<script type=\"text/javascript\" src=\"/js/jquery-2.2.4.min.js\"></script>\n<script
        type=\"text/javascript\" src=\"/js/media_link_alter.js\"></script>\n\n<script
        type=\"text/javascript\">\n<!--//--><![CDATA[//><!--\n\n/* The following script
        is injected from /var/www/html/sites/all/modules/custom/media_link_alter/media_link_alter.module
        */\njQuery(document).ready( function () {\n    var linksAltered = alterMediaLinks({\"pdf\":\"(<span
        aria-labelledby=\\\"usorg[ID]\\\" aria-describedby=\\\"usorg[ID]\\\">PDF,
        <a href=\\\"https:\\/\\/get.adobe.com\\/reader\\/\\\">Download Adobe Reader<\\/a><\\/span>)\",\"xls\":\"(<span
        aria-labelledby=\\\"usorg[ID]\\\" aria-describedby=\\\"usorg[ID]\\\">XLS,
        <a href=\\\"http:\\/\\/www.microsoft.com\\/en-us\\/download\\/details.aspx?id=10\\\">Download
        Excel Reader<\\/a><\\/span>)\",\"ppt\":\"(<span aria-labelledby=\\\"usorg[ID]\\\"
        aria-describedby=\\\"usorg[ID]\\\">PPT, <a href=\\\"http:\\/\\/www.microsoft.com\\/en-us\\/download\\/details.aspx?id=13\\\">Download
        Power Point Reader<\\/a><\\/span>)\"});\n});\n\n//--><!]]>\n</script>\n\t\n<script
        type=\"text/javascript\">\n<!--//--><![CDATA[//><!--\ntermId = '11843';\n//--><!]]>\n</script>\n\n\n<META
        NAME=\"ROBOTS\" CONTENT=\"NOINDEX, NOFOLLOW\">\r\n<script type=\"application/javascript\">\r\n
        \ var ErrorPageTestQualtrics = \"yes\";\r\n</script>\n\n<script type=\"text/javascript\"
        src=\"/js/respond.js\"></script>\n<script type=\"text/javascript\" src=\"/js/platform.js\"></script>\n<script
        type=\"text/javascript\" src=\"/js/menu.js\"></script>\n<script type=\"text/javascript\"
        src=\"/js/standardsModifications.js\"></script>\n<script type=\"text/javascript\"
        src=\"/js/modal.js\"></script>\n<script type=\"text/javascript\" src=\"/js/states.js\"></script>\n<script
        type=\"text/javascript\" src=\"/js/homepage.js\"></script>\n<script type=\"text/javascript\"
        src=\"/js/uswds.js\"></script>\n\n<!--[if lte IE 8]>\n<script src=\"https://html5shiv.googlecode.com/svn/trunk/html5.js\"></script>\n<![endif]-->\n\n\t\n\t\n</head>\n\n<body>\n\t<!--
        Google Tag Manager (noscript) -->\n<noscript><iframe src=\"https://www.googletagmanager.com/ns.html?id=GTM-KV4BZFD\"\nheight=\"0\"
        width=\"0\" style=\"display:none;visibility:hidden\"></iframe></noscript>\n<!--
        End Google Tag Manager (noscript) -->\n\t\n<noscript>\n\t<div style=\"background-color:#c61f0c;
        color:#fff; margin:0; padding-left:1.3rem; width:100%; padding-top:.5%; min-height:7rem;\">\n\t\t\t\t<span
        style=\"display:inline-block; padding-top:.2%; padding-bottom:.2%; padding-left:4.5rem;
        padding-right:5rem; background-image:url(../images/Icon_Alert.png); background-repeat:no-repeat;
        background-size:1.4em; background-position:1% 42%; line-height:20px; font-size:medium;\">\n\t\t\t\t\t<p>Please
        enable JavaScript in your web browser; otherwise some parts of this site might
        not work properly.</p>\n\t\t\t\t</span>\n\t\t\t</div>\n</noscript>\n<a class=\"usa-skipnav\"
        href=\"#content\" onclick=\"document.getElementById('#content').focus();\"
        onfocus=\"dataLayer.push({'event' : 'skipNavOpened'});\">\n\tSkip to main
        content\n</a>\n\n\n<header class=\"usa-header usa-header-extended\" role=\"banner\"
        data-stickyheight=\"22\">\n\n\t<div class=\"usa-banner\">\n      <div class=\"usa-accordion\">\n
        \       <header class=\"usa-banner-header\">\n          <div class=\"usa-grid
        usa-banner-inner\">\n          <img src=\"../../images/favicon-57.png\" alt=\"U.S.
        flag\">\n          <p>\n\t          An official website of the United States
        government\n\t      </p>\n          <button class=\"usa-accordion-button usa-banner-button\"\n
        \           aria-expanded=\"false\" aria-controls=\"gov-banner\">\n            <span
        class=\"usa-banner-button-text\">\n\n            \tHere's how you know\n            </span>\n
        \         </button>\n          </div>\n        </header>\n                <div
        class=\"usa-banner-content usa-grid usa-accordion-content\" id=\"gov-banner\">\n
        \         <div class=\"usa-banner-guidance-gov usa-width-one-half\">\n            <img
        class=\"usa-banner-icon usa-media_block-img\" src=\"../../images/icon-dot-gov.svg\"
        alt=\"Dot gov\">\n            <div class=\"usa-media_block-body\">\n\t\t\t\t\t\t\t\t\t\t\t\t<p>\n\t\t\t\t\t\t\t<strong>The
        .gov means it’s official.</strong>\n\t\t\t\t\t\t\t<br>\n\t\t\t\t\t\t\tFederal
        government websites often end in .gov or .mil. Before sharing sensitive information,
        make sure you're on a federal government site.\n\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t
        \           </div>\n          </div>\n          <div class=\"usa-banner-guidance-ssl
        usa-width-one-half\">\n            <img class=\"usa-banner-icon usa-media_block-img\"
        src=\"../../images/icon-https.svg\" alt=\"SSL\">\n            <div class=\"usa-media_block-body\">\n\t\t\t\t\t\t\t\t\t\t\t\t<p>\n\t\t\t\t\t\t\t<strong>This
        site is secure.</strong>\n\t\t\t\t\t\t\t<br>\n\t\t\t\t\t\t\tThe <strong>https://</strong>
        ensures that you are connecting to the official website and that any information
        you provide is encrypted and transmitted securely.\n\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t
        \           </div>\n          </div>\n        </div>\n      </div>\n    </div>\n\n\t<div
        class=\"usa-navbar\">\n\t\t\t\t        <div class=\"usa-logo\" id=\"logo\">\r\n
        \         <em class=\"usa-logo-text\">\r\n            <a href=\"/\" title=\"Home\"><img
        src=\"https://app-usa-modeast-prod-a01239f.s3.amazonaws.com/Logo_USAGov.png\"
        alt=\"USAGov Logo\"/></a>\r\n          </em>\r\n        </div>\n\n\t\t\n\t\t\t<button
        class=\"usa-menu-btn\">MENU</button>\n\t\t</div>\n\n\t\t<div class=\"usa-navbar
        breadcrumb\">\n\t\t\t<a href=\"/contact\" class=\"url\"\n\t\t\titemtype=\"http://schema.org/Thing\"
        itemprop=\"item\" aria-describedby=\"sr-previous\">\n\t\t\t\t<span itemprop=\"name\">Contact
        USA.gov</span>\n\t\t\t</a>\n\t</div>\n\t\n\t<nav role=\"navigation\" class=\"usa-nav\"
        aria-hidden=\"true\">\n\t\t<div class=\"usa-nav-inner\">\n\n\t\t\t\t\t\t<div
        class=\"usa-nav-secondary\">\r\n         <button class=\"usa-nav-close\">Close</button>\r\n
        \        <form action=\"https://search.usa.gov/search\" method=\"get\" name=\"search_form\"
        accept-charset=\"UTF-8\" class=\"usa-search usa-search-small\">\r\n           <div
        role=\"search\">\r\n             <label class=\"usa-sr-only\" for=\"search-field-small\">Search</label>\r\n
        \            <input id=\"affiliate\" name=\"affiliate\" type=\"hidden\" value=\"usagov\">\r\n
        \            <input id=\"search-field-small\" type=\"search\" name=\"query\"
        placeholder=\"Search All Government\" onfocus=\"this.placeholder = ''\" class=\"text
        usagov-search-autocomplete ui-autocomplete-input\" autocomplete=\"off\" aria-autocomplete=\"list\"
        aria-haspopup=\"true\">\r\n             <button type=\"submit\">\r\n               <span
        class=\"usa-sr-only\">Search</span>\r\n             </button>\r\n           </div>\r\n
        \        </form>\r\n         <ul class=\"usa-unstyled-list usa-nav-secondary-links\">\r\n
        \          <li class=\"js-search-button-container\">\r\n             <button
        class=\"usa-header-search-button js-search-button\">Search</button>\r\n           </li>\r\n
        \          <li>\r\n             <a href=\"/phone\">1-844-USA-GOV1</a>\r\n
        \          </li>\r\n         </ul>\r\n       </div>\r\n\n\n\n\t\t\t\t\t\t\n\n\n
        \   \n\n\n\n\n    \n\n\n\n                                                                                                                                      [...]
