---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 90EC0101C21B422BA879B6B3299A2B65
      Bingapis-Sessionid:
      - 79905B34B203471BB85C5D546C679A18
      X-Msedge-Clientid:
      - 1F3245D6904661301432557D91F6607B
      X-Msapi-Userstate:
      - 8da8
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=251,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "news
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=news+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 31200000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Newsroom", "url": "https:\/\/www.defense.gov\/Newsroom\/", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.defense.gov\/Newsroom", "snippet":
        "The Department of Defense and the Office of Military Commissions will allocate
        seats for news media aboard a military-chartered aircraft for travel from
        Joint Base Andrews in Maryland to Naval ...", "dateLastCrawled": "2021-09-04T15:15:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "News | Homeland Security", "url": "https:\/\/www.dhs.gov\/news",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.dhs.gov\/news",
        "snippet": "News and important communications from the Department of Homeland
        Security. Press Releases. Latest news and press releases. National Terrorism
        Advisory System. The National Terrorism Advisory System (NTAS) commun[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 0027EFEA078A487BAD03DE70A853AE96
      Bingapis-Sessionid:
      - 31E64BDD76F146EE856C0795D9C12AB1
      X-Msedge-Clientid:
      - 3B2A10D4831D63E6239E001C82AD626E
      X-Msapi-Userstate:
      - '2420'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=3[...]
