---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1F8ECB87C53E4182A71D54609A5F850B
      X-Msedge-Clientid:
      - 24CBE47E7DEB61AE3D47EEC17C7C6061
      X-Msapi-Userstate:
      - '6064'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F01C1FDC50404235BEA3127CA954E417&CID=24CBE47E7DEB61AE3D47EEC17C7C6061&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F01C1FDC50404235BEA3127CA954E417&CID=24CBE47E7DEB61AE3D47EEC17C7C6061&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=news+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5519.1", "totalEstimatedMatches": 45000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "HHS Media - Official Site", "url": "https:\/\/www.hhs.gov\/about\/news\/index.html",
        "urlPingSuffix": "DevEx,5081.1", "displayUrl": "https:\/\/www.hhs.gov\/about\/news",
        "snippet": "News. Public Affairs Contacts. Visit our Public Affairs Contacts
        page to access HHS media information as well as press office contact information
        for ASPA and HHS ...", "dateLastCrawled": "2017-07-09T22:58:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "News
        | NSF - National Science Foundation", "url": "https:\/\/nsf.gov\/news\/",
        "urlPingSuffix": "DevEx,5101.1", "displayUrl": "https:\/\/nsf.gov\/news",
        "snippet": "NSF''s mission is to advance the progress of science, a mission
        accomplished by funding proposals for research and education made by scientists,
        engineers, and ...", "deepLinks": [{"name": "News Releases", "url": "https:\/\/www.nsf.gov\/news\/news_list.cfm?nt=2",
        "urlPingSuffix": "DevEx,5094.1"}, {"name": "Search News", "url": "https:\/\/www.nsf.gov\/news\/search.jsp",
        "urlPingSuffix": "DevEx,5095.1"}, {"name": "Generation Nano Challenge", "url":
        "https:\/\/www.nsf.gov\/news\/special_reports\/gennano\/", "urlPingSuffix":
        "DevEx,5096.1"}, {"name": "Molecular Orientation", "url": "https:\/\/www.nsf.gov\/news\/news_summ.jsp?cntn_id=189962&or[...]
