---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 59869FFE107540ACA3D086C9BD76368A
      X-Msedge-Clientid:
      - 162831BD143E6C3B17A83A3115916DD5
      X-Msapi-Userstate:
      - '6132'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=67141944A1C04D718CB61A989F485A82&CID=162831BD143E6C3B17A83A3115916DD5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=67141944A1C04D718CB61A989F485A82&CID=162831BD143E6C3B17A83A3115916DD5&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=news+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5528.1", "totalEstimatedMatches": 35700000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "News - usgs.gov", "url": "https:\/\/www.usgs.gov\/news", "urlPingSuffix":
        "DevEx,5094.1", "displayUrl": "https:\/\/www.usgs.gov\/news", "snippet":
        "News Dive into the world of science! Read these stories and narratives
        to learn about news items, hot topics, expeditions underway, and much more.",
        "deepLinks": [{"name": "News Releases", "url": "https:\/\/www.usgs.gov\/news\/news-releases",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "Featured Stories", "url": "https:\/\/www.usgs.gov\/news\/featured-stories",
        "urlPingSuffix": "DevEx,5089.1"}], "dateLastCrawled": "2018-01-14T11:16:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "News
        | USCIS", "url": "https:\/\/www.uscis.gov\/news", "urlPingSuffix": "DevEx,5114.1",
        "displayUrl": "https:\/\/www.uscis.gov\/news", "snippet": "Here we have
        the latest news within the immigration benefit world, handled by U.S. Citizenship
        and Immigration Services (USCIS). Both news media and general public ...",
        "deepLinks": [{"nam[...]
