---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 404BD32C59544701AAAC556CB07563F6
      X-Msedge-Clientid:
      - 17FFDCFED9F56BA73C0FD778D85A6A8A
      X-Msapi-Userstate:
      - 1d56
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=18D4DADE7B4E43999D3F1CECA8908C90&CID=17FFDCFED9F56BA73C0FD778D85A6A8A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=18D4DADE7B4E43999D3F1CECA8908C90&CID=17FFDCFED9F56BA73C0FD778D85A6A8A&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=news+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5531.1", "totalEstimatedMatches": 35900000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "News | USCIS", "url": "https:\/\/www.uscis.gov\/news", "urlPingSuffix":
        "DevEx,5100.1", "displayUrl": "https:\/\/www.uscis.gov\/news", "snippet":
        "Here we have the latest news within the immigration benefit world, handled
        by U.S. Citizenship and Immigration Services (USCIS). Both news media
        and general public ...", "deepLinks": [{"name": "All News", "url": "https:\/\/www.uscis.gov\/news\/all-news",
        "urlPingSuffix": "DevEx,5091.1"}, {"name": "News Releases", "url": "https:\/\/www.uscis.gov\/news-releases",
        "urlPingSuffix": "DevEx,5092.1"}, {"name": "Alerts", "url": "https:\/\/www.uscis.gov\/news\/alerts",
        "urlPingSuffix": "DevEx,5093.1"}, {"name": "Media Contacts", "url": "https:\/\/www.uscis.gov\/news\/media-contacts",
        "urlPingSuffix": "DevEx,5094.1"}], "dateLastCrawled": "2018-01-22T23:03:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "News
        - USGS", "url": "https:\/\/www.usgs.gov\/news", "urlPingSuffix": "DevEx,5117.1",
        "displayUrl": "https:\/\/www.usgs.gov\/news", "snippet": "News Dive
        into the world of science! Read these stories and narratives to learn about
        news items, hot topics, expeditions underway, and much more.", "deepLinks":
        [{"name": "News Releases", "url": "https:\/\/www.usgs.gov\/news\/news-releases",
        "urlPingSuffix": "DevEx,5112.1"}, {"name": "Featured Stories", "url": "https:\/\/www.usgs.gov\/news\/featured-stories",
        "urlPingSuffix": "DevEx,5113.1"}], "dateLastCrawled": "2018-01-21T08:02:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Defense.gov
        - News", "url": "https:\/\/www.defense.gov\/News\/", "urlPingSuffix": "DevEx,5137.1",
        "displayUrl": "https:\/\/www.defense.gov\/News", "snippet": "News. Mattis
        Issues Guidance As Federal Government Shuts Down The Defense Department will
        continue its mission to defend the people of the United States, ...", "dateLastCrawled":
        "2018-01-22T18:16:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3",
        "name": "News | NSF - National Science Foundation", "url": "https:\/\/nsf.gov\/news\/",
        "urlPingSuffix": "DevEx,5152.1", "about": [{"name": "National Science Foundation"}],
        "displayUrl": "https:\/\/nsf.gov\/news", "snippet": "NSF''s mission is to
        advance the progress of science, a mission accomplished by funding proposals
        for research and education made by scientists, engineers, and ...", "dateLastCrawled":
        "2018-01-18T07:54:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.4",
        "name": "News - whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/news\/",
[...]
