---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5C4F796F2D804D0CA582DF14C1810B3A
      X-Msedge-Clientid:
      - 2314EA6095D66B1F0F6CE1FE94336AB5
      X-Msapi-Userstate:
      - 012e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=CD82C6BD828C4B949682B3D6021AA6C5&CID=2314EA6095D66B1F0F6CE1FE94336AB5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=CD82C6BD828C4B949682B3D6021AA6C5&CID=2314EA6095D66B1F0F6CE1FE94336AB5&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=news+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5527.1", "totalEstimatedMatches": 15600000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Presidential News and Speeches - whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/news\/",
        "urlPingSuffix": "DevEx,5089.1", "displayUrl": "https:\/\/www.whitehouse.gov\/news",
        "snippet": "Statements & Releases Readout of President Donald J. Trump’s Call
        with President Vladimir Putin of Russia", "dateLastCrawled": "2018-02-15T00:36:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "News
        | USCIS", "url": "https:\/\/www.uscis.gov\/news", "urlPingSuffix": "DevEx,5111.1",
        "displayUrl": "https:\/\/www.uscis.gov\/news", "snippet": "Here we have
        the latest news within the immigration benefit world, handled by U.S. Citizenship
        and Immigration Services (USCIS). Both news media and general public ...",
        "deepLinks": [{"name": "All News", "url": "https:\/\/www.uscis.gov\/news\/all-news",
        "urlPingSuffix": "DevEx,5103.1"}, {"name": "News Releases", "url": "https:\/\/www.uscis.gov\/news-releases",
        "urlPingSuffix": "DevEx,5104.1"}, {"name": "Alerts", "url": "https:\/\/www.uscis.gov\/news\/alerts",
        "urlPingSuffix": "DevEx,5105.1"}, {"name": "Media Contacts", "url": "https:\/\/www.uscis.gov\/news\/media-contacts",
        "urlPingSuffix": "DevEx,5106.1"}], "dateLastCrawled": "2018-02-13T11:14:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "News
        | Governor Andrew M. Cuomo", "url": "http:\/\/www.governor.ny.gov\/news",
        "urlPingSuffix": "DevEx,5131.1", "about": [{"name": "Andrew Cuomo"}], "displayUrl":
        "www.governor.ny.gov\/news", "snippet": "The official website of the 56th
        Governor of New York State, Andrew M. Cuomo. Find information about the administration,
        issues, & news that affects you.", "dateLastCrawled": "2018-02-13T14:15:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "News
        | NSF - National Science Foundation", "url": "https:\/\/nsf.gov\/news\/",
        "urlP[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - FF61F8A9000A4ECEAF6125E5B18F[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1E668A530653416393EB7A99EF4832D8
      Bingapis-Sessionid:
      - E4E9EBB55F1340F483BF0035CB32C6F5
      X-Msedge-Clientid:
      - 360C5CFCA96D6D71057D5006A8216CF7
      X-Msapi-Userstate:
      - e2f0
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=235,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "news
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=news+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 28700000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "News | USCIS", "url": "https:\/\/www.uscis.gov\/news", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.uscis.gov\/news", "snippet": "All News
        This page lists all USCIS releases, searchable by topic and date. It also
        includes policy and procedure updates as well as late-breaking news about
        USCIS office closures and other emergencies.", "dateLastCrawled": "2019-01-29T08:51:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "News | The White House", "url": "https:\/\/www.whitehouse.gov\/news\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.whitehouse.gov\/news",
        "snippet": "Follow the latest updates from the Trump Administration, including
        briefings and statements, Presidential actions, and news articles.", "dateLastCrawled":
        "2019-02-01T09:23:00.0000000Z", "language": "[...]
