---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659eab869ed8403ebbb4fc48adced395
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659eab869ed8403ebbb4fc48adced395
      Bingapis-Sessionid:
      - CC5080124A7E41D497D26F59F849B993
      X-Msedge-Clientid:
      - 28D7078749E56D8F1A1F138548E46C45
      X-Msapi-Userstate:
      - '09e5'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=274,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "news
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=news+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 32700000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "News - U.S. Department of Defense", "url": "https:\/\/www.defense.gov\/News\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.defense.gov\/News",
        "snippet": "Self-Defense Strike in Iraq Kills Terrorist Leader. U.S. forces
        in Iraq conducted a self-defense strike that killed Mushtaq Jawad Kazim al-Jawari,
        a leader of the Iran-backed Harakat-al-Nujaba ...", "dateLastCrawled": "2024-01-10T00:34:00.0000000Z",
        "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=news+(site%3agov+OR+site%3amil)&d=4708637423640659&mkt=en-US&setlang=en-US&w=lomD0S-NScVdPcWL4Xejb-q13Bmlqnaa",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "News Stories - U.S. Department of Defense", "url": "https:\/\/www.defense.gov\/News\/News-Stories\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.defense.gov\/News\/News-Stories",
        "snippet": "News Stories. Stories from around the Defense Department. This
        is a simulated response. News Stories; Features; From the Services; Press
        Products; Live Events; Search. List of News Stories.", "dateLastCrawled":
        "2024-01-09T07:20:00.0000000Z", "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=news+(site%3agov+OR+site%3amil)&d=4890172800132596&mkt=en-US&setlang=en-US&w=UyN7-l135ZOvy3JTHVBi5u4wwr-M3jaZ",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.2",
        "name": "U.S. Army News Service | ARNEWS", "url": "https:\/\/www.army.mil\/ARNews",
        "datePublished": "2023-12-06T00:00:00.0000000", "datePublishedDisplayText":
        "Dec 6, 2023", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.army.mil\/ARNews",
        "snippet": "Latest News. Army asks for help in alleviating burden on missile
        air and missile defense Soldiers January 2, 2024. Army stands up Special
        Trial Counsel with independent authority for 13 UCMJ ...", "dateLastCrawled":
        "2024-01-07T06:14:00.0000000Z", "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=news+(site%3agov+OR+site%3amil)&d=505549454626[...]
