= stylesheet_link_tag 'compiled/widgets.css'
#most_popular
  .t
    .b
      .bl
        .br
          .tr
            .tl
              .head3
                TOP SEARCHES
              %ol.pop_list
                - @active_top_searches.each do |top_search|
                  %li
                    = top_search_link_for top_search
