.custom_look_and_feel
  %h2.sub-title
    API Key
  Control the look and feel of your search results pages by using the application program interface (API) for USASearch affiliates below.
  %br
  %br
  .content-box
    Your API key is:
    %b= current_user.api_key
    %br
    = link_to_unless(affiliate.nil?, "Search API Documentation", affiliate_api_index_path(affiliate))
    - if affiliate.nil?
      (please
      = link_to("register an affiliate", home_affiliates_path)
      in order to use the Search API)
