.custom_look_and_feel
  %h2.sub-title
    API Key
  %br
  %br
  .content-box
    Your API key is:
    %b= current_user.api_key
    %br
    - if affiliate.nil?
      (please
      = link_to("register an affiliate", home_affiliates_path)
      in order to use the Search API)
    - else
      = link_to "Search API Documentation", affiliate_api_index_path(affiliate)

