---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=fish%20site:nps.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"W18CoImQKYKeZ22usPfNI43IHMc/1hkprecsK-Y4amePLgZvnPF59vY"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - fish site:nps.gov",
            "totalResults": "2660",
            "searchTerms": "fish site:nps.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - fish site:nps.gov",
            "totalResults": "2660",
            "searchTerms": "fish site:nps.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.168939,
          "formattedSearchTime": "0.17",
          "totalResults": "2660",
          "formattedTotalResults": "2,660"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "VANIKORO SWIFTLET",
           "htmlTitle": "VANIKORO SWIFTLET",
           "link": "https://ecos.fws.gov/ServCat/DownloadFile/16085?Reference=16524",
           "displayLink": "ecos.fws.gov",
           "snippet": "U.S. Fish and Wildlife Service. 1991. Recovery Plan for the Mariana Islands \nPopulation of the. Vanikoro Swiftlet, Aerodramus vanikorensis bartschi . U.S. Fish \nand Wildlife Service, Portland, OR. 49 pp. ADDITIONAL COPIES MAY BE \nPURCHASED FROM. Fish and Wildlife Reference Service. 5430 Grosvenor Lane\n, Suite 110.",
           "htmlSnippet": "U.S. \u003cb\u003eFish\u003c/b\u003e and Wildlife Service. 1991. Recovery Plan for the Mariana Islands \u003cbr\u003e\nPopulation of the. Vanikoro Swiftlet, Aerodramus vanikorensis bartschi . U.S. \u003cb\u003eFish\u003c/b\u003e \u003cbr\u003e\nand Wildlife Service, Portland, OR. 49 pp. ADDITIONAL COPIES MAY BE \u003cbr\u003e\nPURCHASED FROM. \u003cb\u003eFish\u003c/b\u003e and Wildlife Reference Service. 5430 Grosvenor Lane\u003cbr\u003e\n, Suite 110.",
           "cacheId": "5Mml1vTkwWUJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://ecos.fws.gov/ServCat/DownloadFile/16085?Reference...",
           "htmlFormattedUrl": "https://ecos.fws.gov/ServCat/DownloadFile/16085?Reference...",
           "pagemap": {
            "metatags": [
             {
              "creationdate": "D:20000207091952-05'00'",
              "creator": "Acrobat 4.0 Capture Plug-in for Windows",
              "moddate": "D:20130315114738-10'00'"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Water System Operator's Guide",
           "htmlTitle": "Water System Operator&#39;s Guide",
           "link": "https://www.fs.fed.us/eng/pubs/pdf/waterguide/lo_res/06231802.pdf",
           "displayLink": "www.fs.fed.us",
           "snippet": "and can injure or kill fish. The water may be discharged onto the ground, or \ndechlorinated wit[...]
