---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=fish%20(site:nps.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 006B1BC305DD4E2796922C570B9E1446
      Bingapis-Sessionid:
      - D6B7074249A54108BF0DD104B685101B
      X-Msedge-Clientid:
      - 14A780CBCACB6EF80708909ACBD96FC0
      X-Msapi-Userstate:
      - bd95
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=232,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "fish
        (site:nps.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=fish+(site%3anps.gov)",
        "totalEstimatedMatches": 1870000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Fish - Rocky Mountain National Park (U.S. National Park ...", "url":
        "https:\/\/www.nps.gov\/romo\/learn\/nature\/fish.htm", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.nps.gov\/romo\/learn\/nature\/fish.htm",
        "snippet": "Fish. Fish known to be native to the area that became Rocky
        Mountain National Park were cutthroat trout, suckers and sculpins. These fish
        were only historically found in the lower reaches of what would become the
        park due to waterfalls and cascades which served as fish migration barriers.
        Cold water temperatures make it probable that many of ...", "dateLastCrawled":
        "2021-04-28T02:19:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "Fish - Capitol Reef National Park (U.S. National Park Service)", "url":
        "https:\/\/www.nps.gov\/care\/learn\/nature\/fish.htm", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.nps.gov\/care\/learn\/nature\/fish.htm",
        "snippet": "Fish. Much of the Capitol Reef region is considered “high desert,”
        with an average of 8 inches (20.3 cm) of precipitat[...]
