---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=<GOOGLE_SEARCH_CX>&key=<GOOGLE_API_KEY>&lr=lang_en&q=fish%20site:nps.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "usageLimits",
            "reason": "accessNotConfigured",
            "message": "Access Not Configured. CustomSearch API has not been used in project 913155601333 before or it is disabled. Enable it by visiting https://console.developers.google.com/apis/api/customsearch.googleapis.com/overview?project=913155601333 then retry. If you enabled this API recently, wait a few minutes for the action to propagate to our systems and retry.",
            "extendedHelp": "https://console.developers.google.com/apis/api/customsearch.googleapis.com/overview?project=913155601333"
           }
          ],
          "code": 403,
          "message": "Access Not Configured. CustomSearch API has not been used in project 913155601333 before or it is disabled. Enable it by visiting https://console.developers.google.com/apis/api/customsearch.googleapis.com/overview?project=913155601333 then retry. If you enabled this API recently, wait a few minutes for the action to propagate to our systems and retry."
         }
        }
  recorded_at: Thu, 26 Apr 2018 23:28:53 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=fish%20(site:nps.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - EEC6FC55F6C04D70B71D77138159B3BE
      X-Msedge-Clientid:
      - 28A7111CB2FB693A1E2F1AC2B36C68B6
      X-Msapi-Userstate:
      - 13f8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=2782CC85C06C4FAA93265DAC8B103500&CID=28A7111CB2FB693A1E2F1AC2B36C68B6&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=2782CC85C06C4FAA93265DAC8B103500&CID=28A7111CB2FB693A1E2F1AC2B36C68B6&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=fish+(site%3anps.gov)",
        "webSearchUrlPingSuffix": "DevEx,5537.1", "totalEstimatedMatches": 2160000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Fish - Rocky Mountain National Park (U.S. National Park ...", "url": "https:\/\/www.nps.gov\/romo\/learn\/nature\/fish.htm",
        "urlPingSuffix": "DevEx,5092.1", "displayUrl": "https:\/\/www.nps.gov\/romo\/learn\/nature\/fish.htm",
        "snippet": "Fish known to be native to the area that became Rocky Mountain
        National Park were cutthroat trout, suckers and sculpins. These fish were
        only historically found in the lower reaches of what would become the park
        due to waterfalls and cascades which served as fish migration barriers.",
        "dateLastCrawled": "2018-04-18T17:21:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Fish - Glacier National Park (U.S. National Park Service)",
        "url": "https:\/\/www.nps.gov\/glac\/learn\/nature\/fish.htm", "urlPingSuffix":
        "DevEx,5109.1", "displayUrl": "https:\/\/www.nps.gov\/glac\/learn\/nature\/fish.htm",
        "snippet": "Bull trout in St. Mary drainage . Shannon Downey \/ USFWS. The
        historic assemblage of fish species in Glacie[...]
