---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=fish%20site:nps.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/WYsFQ5UVNMDlIFB2SBCu8AuwX8w"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - fish site:nps.gov",
            "totalResults": "200",
            "searchTerms": "fish site:nps.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - fish site:nps.gov",
            "totalResults": "200",
            "searchTerms": "fish site:nps.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.464756,
          "formattedSearchTime": "0.46",
          "totalResults": "200",
          "formattedTotalResults": "200"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Facts for 63 Gravity Stations in the Vicinity of Katmai National Park ...",
           "htmlTitle": "Facts for 63 Gravity Stations in the Vicinity of Katmai National Park ...",
           "link": "https://pubs.usgs.gov/of/1992/0310/report.pdf",
           "displayLink": "pubs.usgs.gov",
           "snippet": "Two new bases were established in King Salmon, KS91A at the Post Office (at \nthe Airport) and KS91B at the U.S. Fish and Wildlife Office (near the Naknek river\n);.",
           "htmlSnippet": "Two new bases were established in King Salmon, KS91A at the Post Office (at \u003cbr\u003e\nthe Airport) and KS91B at the U.S. \u003cb\u003eFish\u003c/b\u003e and Wildlife Office (near the Naknek river\u003cbr\u003e\n);.",
           "cacheId": "5wpwvl1bsL4J",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://pubs.usgs.gov/of/1992/0310/report.pdf",
           "htmlFormattedUrl": "https://pubs.usgs.gov/of/1992/0310/report.pdf",
           "pagemap": {
            "metatags": [
             {
              "creationdate": "D:20101201131232-06'00'",
              "moddate": "D:20101201131538-06'00'",
              "producer": "SAFER Create 3.000"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "The Amphibian Research and Monitoring Initiative (ARMI): 5-Year ...",
           "htmlTitle": "The Amphibian Research and Monitoring Initiative (ARMI): 5-Year ...",
           "link": "https://pubs.usgs.gov/sir/2006/5224/report.pdf",
           "displayLink": "pubs.usgs.gov",
           "snippet": "Endangered Species listed by the U.S. Fish and Wildlife Service (California red-\nlegged frog [Rana draytonii], Chiricahua leopard frog [R. chiricahuensis], arroyo ...",
           "htmlSnippet": "Endangered Species listed by the U.S. \u003cb\u003eFish\u003c/b\u003e and Wildlife Service (California red-\u003cbr\u003e\nlegged frog [Rana draytonii], Chiricahua leopard frog [R. chiricahuensis], arroyo&nbsp;...",
           "cacheId": "hzhgHb0oA9sJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://pubs.usgs.gov/sir/2006/5224/report.pdf",
           "htmlFormattedUrl": "https://pubs.usgs.gov/sir/2006/5224/report.pdf",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "160",
              "height": "207",
              "src": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3ENC9nAgrRKKGZz4n8y89_kLvbNoH7UIets6OO9FLPOOgAla_TnUwXh73"
             }
            ],
            "metatags": [
             {
              "creationdate": "D:20061227144554-07'00'",
              "subject": "Template Version 2.0 beta",
              "creator": "Adobe InDesign CS2 (4.0)",
              "producer": "Adobe PDF Library 7.0",
              "moddate": "D:20061228114339-07'00'"
             }
            ],
            "cse_image": [
             {
              "src": "https://pubs.er.usgs.gov/imgsizer/_?u=https%3A%2F%2Fpubs.er.usgs.gov%2Fthumbnails%2Fsir20065224.PNG&w=200&s=Up2MHaWT9bY7wczK49mBMnJMdnU"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Land Use On The Island Of Oahu, Hawaii, 1998",
           "htmlTitle": "Land Use On The Island Of Oahu, Hawaii, 1998",
           "link": "https://pubs.usgs.gov/wri/wri024301/pdf/wri02-4301.pdf[...]
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=fish%20site:nps.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/g-Ojhvxc3JdwNGPMNKCxlUpbdOc"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
    [...]
