---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=fish%20site:nps.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/DBoGDRpcE-igpFqarwxuEqIIcUw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - fish site:nps.gov",
            "totalResults": "473",
            "searchTerms": "fish site:nps.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - fish site:nps.gov",
            "totalResults": "473",
            "searchTerms": "fish site:nps.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.529189,
          "formattedSearchTime": "0.53",
          "totalResults": "473",
          "formattedTotalResults": "473"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Wilson's Creek National Battlefield Natural Resource Condition ...",
           "htmlTitle": "Wilson&#39;s Creek National Battlefield Natural Resource Condition ...",
           "link": "https://www.cerc.usgs.gov/morap/Assets/UploadedFiles/Projects/NPSConditionAssessments/Wilson's_Creek_NRCA.pdf",
           "displayLink": "www.cerc.usgs.gov",
           "snippet": "Fish survey locations during 2003 for Wilson's Creek and Skegg's Branch. (\nPeterson and ...... Fish species observed1 and predicted2 to occur in Wilson's \nCreek.",
           "htmlSnippet": "\u003cb\u003eFish\u003c/b\u003e survey locations during 2003 for Wilson&#39;s Creek and Skegg&#39;s Branch. (\u003cbr\u003e\nPeterson and ...... \u003cb\u003eFish\u003c/b\u003e species observed1 and predicted2 to occur in Wilson&#39;s \u003cbr\u003e\nCreek.",
           "cacheId": "Y__LHmQVu9EJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://www.cerc.usgs.gov/morap/.../Wilson's_Creek_NRCA.pdf",
           "htmlFormattedUrl": "https://www.cerc.usgs.gov/morap/.../Wilson&#39;s_Creek_NRCA.pdf"
          },
          {
           "kind": "customsearch#result",
           "title": "Florida Panther National Wildlife Refuge",
           "htmlTitle": "Florida Panther National Wildlife Refuge",
           "link": "https://www.fws.gov/uploadedFiles/FPR%20FMP%2012%2001%2009%20Final.pdf",
           "displayLink": "www.fws.gov",
           "snippet": "US Fish & Wildlife Service. Florida Panther National Wildlife Refuge Complex. \nFire Management Plan. Florida Panther National Wildlife Refuge. 3860 Tollgate ...",
           "htmlSnippet": "US \u003cb\u003eFish\u003c/b\u003e &amp; Wildlife Service. Florida Panther National Wildlife Refuge Complex. \u003cbr\u003e\nFire Management Plan. Florida Panther National Wildlife Refuge. 3860 Tollgate&nbsp;...",
           "cacheId": "FU99zRl1-k0J",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://www.fws.gov/.../FPR%20FMP%2012%2001%2009%20Final.pdf",
           "htmlFormattedUrl": "https://www.fws.gov/.../FPR%20FMP%2012%2001%2009%20Final.pdf",
           "pagemap": {
            "metatags": [
             {
              "author": "kernstrom",
              "creationdate": "D:20150107151053-05'00'",
              "creator": "Microsoft® Word 2010",
              "moddate": "D:20150107151053-05'00'",
              "producer": "Microsoft® Word 2010",
              "title": "Florida Panther National Wildlife Refuge"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Scoping Summary Report",
           "htmlTitle": "Scoping Summary Report",
           "link": "http://moriverrecovery.usace.army.mil/mrrp/mrrp_pub_dev.download_documentation?p_file=7958",
           "displayLink": "moriverrecovery.usace.army.mil",
           "snippet": "May 7, 2014 ... thermal generation, lower basin fish and recreation and Mississippi River water \ncommerce be included within the scope of the MRRMP/EIS.",
           "htmlSnippet": "May 7, 2014 \u003cb\u003e...\u003c/b\u003e thermal generation, lower basin \u003cb\u003efish\u003c/b\u003e and recreation and Mississippi River water \u003cbr\u003e\ncommerce be included within the scope of the MRRMP/EIS.",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "moriverrecovery.usace.army.mil/.../mrrp_pub_dev.download_documentation ?...",
           "htmlFormattedUrl": "moriverrecovery.usace.army.mil/.../mrrp_pub_dev.download_documentation ?...",
           "pagemap": {
            "metatags": [
             {
              "author": "Missouri River Recovery Program, U.S. Army Corps of Engineers, Omaha and Kansas City Districts",
              "company": "USACE",
              "creationdate": "D:20140520122607-05'00'",
              "creator": "Acrobat PDFMaker 10.1 for Word",
              "moddate": "D:20170905161655-05'00'",
              "producer": "Adobe PDF Library 10.0",
              "sourcemodified": "D:20140520172428",
              "subject": "Missouri River Recovery Management Plan Scoping Summary Report May 2014",
              "title": "Missouri River Recovery Management Plan and Environmental Impact Statement Scoping Summary Report, May 7, 2014",
              "_dochome": "-234010164"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "APPENDIX B: DRAFT FEDERAL CONSISTENCY DETERMINATION",
           "htmlTitle": "APPENDIX B: DRAFT FEDERAL CONSISTENCY DETERMINATION",
           "link": "https://flh.fhwa.dot.gov/projects/ga/pra-fopu/documents/mar2015/FOPU-EA-Appendix-B-FCD.pdf",
           "displayLink": "flh.fhwa.dot.gov",
           "snippet": "The proposed action would have no to negl[...]
