---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=healthy%20snack%20-kittens%20(chili%20OR%20cheese%20OR%20fries)%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - DEE85077279A4591B3B5C8546C9F6AA2
      X-Msedge-Clientid:
      - 15C40A88960A6CBC013400B1979D6DAF
      X-Msapi-Userstate:
      - af5b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9077CBA8ADA8411596069239D1CEA5B3&CID=15C40A88960A6CBC013400B1979D6DAF&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9077CBA8ADA8411596069239D1CEA5B3&CID=15C40A88960A6CBC013400B1979D6DAF&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+-kittens+(chili+OR+cheese+OR+fries)+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5151.1", "totalEstimatedMatches": 1, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "USA.gov
        - Official Site", "url": "https:\/\/www.usa.gov\/", "urlPingSuffix": "DevEx,5069.1",
        "about": [{"name": "Crockett County Head Start"}], "displayUrl": "https:\/\/www.usa.gov",
        "snippet": "USA.gov is your online guide to government information and services.
        Learn what you can do on this site. Back to Top. What''s New. Bouquets and
        Bruises: This Valentine ...", "deepLinks": [{"name": "Federal Agencies", "url":
        "https:\/\/www.usa.gov\/federal-agencies\/a", "urlPingSuffix": "DevEx,5058.1"},
        {"name": "Unclaimed Money", "url": "https:\/\/www.usa.gov\/unclaimed-money",
        "urlPingSuffix": "DevEx,5059.1"}, {"name": "Branches of Government", "url":
        "https:\/\/www.usa.gov\/branches-of-government", "urlPingSuffix": "DevEx,5060.1"}],
        "dateLastCrawled": "2017-02-26T13:05:00.0000000Z"}]}, "rankingResponse": {"mainline":
        {"items": [{"answerType": "WebPages", "resultIndex": 0, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0"}}]}}}'
  recorded_at: Thu, 02 Mar 2017 19:50:45 GMT
recorded_with: VCR 3.0.3
