---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=healthy%20snack%20-kittens%20(chili%20OR%20cheese%20OR%20fries)%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9A68A32FB8E34F2AAC78A3FB02ACF785
      X-Msedge-Clientid:
      - 376FB908B4C866181E5FB391B55F67EE
      X-Msapi-Userstate:
      - 257e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=3DF37F6093C545749478491DA9B7050A&CID=376FB908B4C866181E5FB391B55F67EE&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=3DF37F6093C545749478491DA9B7050A&CID=376FB908B4C866181E5FB391B55F67EE&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+-kittens+(chili+OR+cheese+OR+fries)+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5251.1", "totalEstimatedMatches": 7, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Charger
        Wrap (Chicken Veggie Cheese Wrap) | Video | Kids ...", "url": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/chicken-veggie-wrap\/index.shtml",
        "urlPingSuffix": "DevEx,5065.1", "displayUrl": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/...",
        "snippet": "You are here Kids.gov Home > Kids.USA.gov > Watch Videos > Exercise
        and Eating Healthy > Healthy Snack #2: Charger Wrap. ... veggie and cheese
        wrap. Ingredients:", "dateLastCrawled": "2017-05-19T08:25:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Healthy Snack
        #2: Charger Wrap (Accessible Version) - USAGov", "url": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/chicken-veggie-wrap-accessible\/index.shtml",
        "urlPingSuffix": "DevEx,5081.1", "displayUrl": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/...",
        "snippet": "Healthy Snack #2: Charger Wrap (Accessible Version) ... Ingredients
        and steps to prepare a healthy chicken, veggie and cheese wrap. Ingredients:
        Chicken breast, ...", "dateLastCrawled": "2017-05-06T16:16:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Why Kids
        Should Eat Healthy and Exercise Lesson Plan ...", "url": "https:\/\/kids.usa.gov\/teachers\/lesson-plans\/exercise-fitness-and-nutrition\/eat-healthy\/index.shtml",
        "urlPingSuffix": "DevEx,5097.1", "displayUrl": "https:\/\/kids.usa.gov\/...\/eat-healthy\/index.shtml",
        "snippet": "Healthy Snack Video: Peanut Butter Apple Wrap Healthy Snack
        Video: Charger (Chicken Veggie Cheese) ...", "dateLastCrawled": "2017-05-29T16:49:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "Eating
        Healthy for Kids | Grades K - 5 | Kids.gov | USAGov", "url": "https:\/\/kids.usa.gov\/exercise-and-eating-healthy\/eating-healthy\/index.shtml",
        "urlPingSuffix": "DevEx,5113.1", "displayUrl": "https:\/\/kids.usa.gov\/exercise-and-eating-healthy\/eating-healthy\/...",
        "snippet": "Eating He[...]
