---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=healthy%20snack%20-kittens%20(chili%20OR%20cheese%20OR%20fries)%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6910D93FEDD3463DB1375680B7258FFE
      X-Msedge-Clientid:
      - 32AE013B33F46ABE01820B5932636B71
      X-Msapi-Userstate:
      - '7630'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9271FB2803BB4F9EA5305481ACD7B708&CID=32AE013B33F46ABE01820B5932636B71&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9271FB2803BB4F9EA5305481ACD7B708&CID=32AE013B33F46ABE01820B5932636B71&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+-kittens+(chili+OR+cheese+OR+fries)+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5151.1", "totalEstimatedMatches": 1, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "USA.gov
        - Official Site", "url": "https:\/\/www.usa.gov\/", "urlPingSuffix": "DevEx,5069.1",
        "about": [{"name": "Crockett County Head Start"}], "displayUrl": "https:\/\/www.usa.gov",
        "snippet": "USA.gov can help you start your search for government information
        by topic and agency. Skip to main content. An official website of the United
        States government ...", "deepLinks": [{"name": "Federal Agencies", "url":
        "https:\/\/www.usa.gov\/federal-agencies\/a", "urlPingSuffix": "DevEx,5058.1"},
        {"name": "Unclaimed Money", "url": "https:\/\/www.usa.gov\/unclaimed-money",
        "urlPingSuffix": "DevEx,5059.1"}, {"name": "Branches of Government", "url":
        "https:\/\/www.usa.gov\/branches-of-government", "urlPingSuffix": "DevEx,5060.1"}],
        "dateLastCrawled": "2017-04-07T23:02:00.0000000Z"}]}, "rankingResponse": {"mainline":
        {"items": [{"answerType": "WebPages", "resultIndex": 0, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0"}}]}}}'
  recorded_at: Wed, 12 Apr 2017 20:40:12 GMT
recorded_with: VCR 3.0.3
