---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=healthy%20snack%20-kittens%20(chili%20OR%20cheese%20OR%20fries)%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 92E143E1774D4A379DAA089AB4C2268B
      X-Msedge-Clientid:
      - 0112F3E2B52768DD28B3FF3BB4F0694C
      X-Msapi-Userstate:
      - 932a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=391350F7A9E846ADB571768A8D6EF810&CID=0112F3E2B52768DD28B3FF3BB4F0694C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=391350F7A9E846ADB571768A8D6EF810&CID=0112F3E2B52768DD28B3FF3BB4F0694C&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 03 Jan 2019 18:31:12 GMT
recorded_with: VCR 4.0.0
