---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(healthy%20snack%20-kittens%20(chili%20OR%20cheese%20OR%20fries))%20language:en%20(site:usa.gov)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028healthy
        snack -kittens \u0028chili OR cheese OR fries\u0029\u0029 language\u003aen
        \u0028site\u003ausa.gov\u0029"},"Web":{"Total":7,"Offset":0,"Results":[{"Title":"Charger
        Wrap \u0028Chicken Veggie Cheese Wrap\u0029 \u007c Video \u007c Kids ...","Description":"Healthy
        Snack \u00232\u003a Charger Wrap ... Sprinkle mozzarella cheese on top
        of Romaine lettuce. Roll up tortilla. ...","Url":"https\u003a\u002f\u002fkids.usa.gov\u002fwatch-videos\u002fexercise-and-eating-healthy\u002fchicken-veggie-wrap\u002findex.shtml","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealthy\u002bsnack\u002bchili\u002bcheese\u002bfries\u0026d\u003d4728155024132967\u0026w\u003d6XBwKhDwGudmHcSPIimNgTq4JcGJ5VRt","DisplayUrl":"https\u003a\u002f\u002fkids.usa.gov\u002fwatch-videos\u002fexercise-and-eating-healthy\u002f...","DateTime":"2016-11-27T12\u003a42\u003a00Z"},{"Title":"Why
        Kids Should Eat Healthy and Exercise Lesson Plan ...","Description":"Why
        Kids Should Eat Healthy and Exercise Lesson Plan Tweet it Share it . ...
        Healthy Snack Video\u003a Charger \u0028Chicken Veggie Cheese\u0029
        Wrap ...","Url":"https\u003a\u002f\u002fkids.usa.gov\u002fteachers\u002flesson-plans\u002fexercise-fitness-and-nutrition\u002feat-healthy\u002findex.shtml","CacheUrl":"http\u003a\u002f\u002fcc.bin[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=healthy%20snack%20-kittens%20(chili%20OR%20cheese%20OR%20fries)%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 260AF4CBE3384188A87A38F8C0465783
      X-Msedge-Clientid:
      - 28A21CA471556CEC04F216AD70C26D3C
      X-Msapi-Userstate:
      - b045
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=0550FDD01A9240BAB4CA785FF7B0A13B&CID=28A21CA471556CEC04F216AD70C26D3C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=0550FDD01A9240BAB4CA785FF7B0A13B&CID=28A21CA471556CEC04F216AD70C26D3C&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+-kittens+(chili+OR+cheese+OR+fries)+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5155.1", "totalEstimatedMatches": 1, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "USA.gov
        - Official Site", "url": "https:\/\/www.usa.gov\/", "urlPingSuffix": "DevEx,5073.1",
        "displayUrl": "https:\/\/www.usa.gov", "snippet": "USA.gov is your online
        guide to government information and services. Most Popular. Health Insurance.
        Apply for health insurance: Finding Health Care; Affordable Care Act;", "deepLinks":
        [{"name": "Unclaimed Money", "url": "https:\/\/www.usa.gov\/unclaimed-money",
        "urlPingSuffix": "DevEx,5062.1"}, {"name": "Federal Agencies", "url": "https:\/\/www.usa.gov\/federal-agencies\/a",
        "urlPingSuffix": "DevEx,5063.1"}, {"name": "Government Agencies", "url": "https:\/\/www.usa.gov\/agencies",
        "urlPingSuffix": "DevEx,5064.1"}, {"name": "Health", "url": "https:\/\/www.usa.gov\/health",
        "urlPingSuffix": "DevEx,5065.1"}], "dateLastCrawled": "2017-01-08T19:44:00.0000000Z"}]},
        "rankingResponse": {"mainline": {"items": [{"answerType": "WebPages", "resultIndex":
        0, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0"}}]}}}'
  recorded_at: Fri, 13 Jan 2017 18:34:20 GMT
recorded_with: VCR 3.0.3
