---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=healthy%20snack%20-kittens%20(chili%20OR%20cheese%20OR%20fries)%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 0DAB32C918D2447C87BA1EBB50D19DC1
      X-Msedge-Clientid:
      - 390284BB1B4B6CE2009D941F1AB66D5B
      X-Msapi-Userstate:
      - '8185'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=0CCD41BA5BEC4163B5791F0D3EDB9F5B&CID=390284BB1B4B6CE2009D941F1AB66D5B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=0CCD41BA5BEC4163B5791F0D3EDB9F5B&CID=390284BB1B4B6CE2009D941F1AB66D5B&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 31 Aug 2021 20:32:24 GMT
recorded_with: VCR 4.0.0
