---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(healthy%20snack%20-kittens%20(chili%20OR%20cheese%20OR%20fries))%20language:en%20(site:usa.gov)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028healthy
        snack -kittens \u0028chili OR cheese OR fries\u0029\u0029 language\u003aen
        \u0028site\u003ausa.gov\u0029"},"Web":{"Total":7,"Offset":0,"Results":[{"Title":"Charger
        Wrap \u0028Chicken Veggie Cheese Wrap\u0029 \u007c Video \u007c Kids ...","Description":"Healthy
        Snack \u00232\u003a Charger Wrap ... Sprinkle mozzarella cheese on top
        of Romaine lettuce. Roll up tortilla. ...","Url":"https\u003a\u002f\u002fkids.usa.gov\u002fwatch-videos\u002fexercise-and-eating-healthy\u002fchicken-veggie-wrap\u002findex.shtml","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealthy\u002bsnack\u002bchili\u002bcheese\u002bfries\u0026d\u003d4728155024132967\u0026w\u003d6XBwKhDwGudmHcSPIimNgTq4JcGJ5VRt","DisplayUrl":"https\u003a\u002f\u002fkids.usa.gov\u002fwatch-videos\u002fexercise-and-eating-healthy\u002f...","DateTime":"2016-11-27T12\u003a42\u003a00Z"},{"Title":"Why
        Kids Should Eat Healthy and Exercise Lesson Plan ...","Description":"Why
        Kids Should Eat Healthy and Exercise Lesson Plan Tweet it Share it . ...
        Healthy Snack Video\u003a Charger \u0028Chicken Veggie Cheese\u0029
        Wrap ...","Url":"https\u003a\u002f\u002fkids.usa.gov\u002fteachers\u002flesson-plans\u002fexercise-fitness-and-nutrition\u002feat-healthy\u002findex.shtml","CacheUrl":"http\u003a\u002f\u002fcc.bin[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=healthy%20snack%20-kittens%20(chili%20OR%20cheese%20OR%20fries)%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2CE97E2D4C324B34A69ACF3E2662544A
      X-Msedge-Clientid:
      - 127891A8F4EB6E150CC89B9EF57C6FD9
      X-Msapi-Userstate:
      - 37d4
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D3FF0F87DA3F4D3F8DA05A63BFD3E2FA&CID=127891A8F4EB6E150CC89B9EF57C6FD9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D3FF0F87DA3F4D3F8DA05A63BFD3E2FA&CID=127891A8F4EB6E150CC89B9EF57C6FD9&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+-kittens+(chili+OR+cheese+OR+fries)+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5151.1", "totalEstimatedMatches": 1, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "USA.gov
        - Official Site", "url": "https:\/\/www.usa.gov\/", "urlPingSuffix": "DevEx,5069.1",
        "about": [{"name": "Crockett County Head Start"}], "displayUrl": "https:\/\/www.usa.gov",
        "snippet": "USA.gov is your online guide to government information and services.
        Learn what you can do on this site. Back to Top. What''s New. Bouquets and
        Bruises: This Valentine ...", "deepLinks": [{"name": "Federal Agencies", "url":
        "https:\/\/www.usa.gov\/federal-agencies\/a", "urlPingSuffix": "DevEx,5058.1"},
        {"name": "Unclaimed Money", "url": "https:\/\/www.usa.gov\/unclaimed-money",
        "urlPingSuffix": "DevEx,5059.1"}, {"name": "Branches of Government", "url":
        "https:\/\/www.usa.gov\/branches-of-government", "urlPingSuffix": "DevEx,5060.1"}],
        "dateLastCrawled": "2017-02-21T14:16:00.0000000Z"}]}, "rankingResponse": {"mainline":
        {"items": [{"answerType": "WebPages", "resultIndex": 0, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0"}}]}}}'
  recorded_at: Mon, 27 Feb 2017 19:00:32 GMT
recorded_with: VCR 3.0.3
