---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(healthy%20snack%20-kittens%20(chili%20OR%20cheese%20OR%20fries))%20language:en%20(site:usa.gov)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028healthy
        snack -kittens \u0028chili OR cheese OR fries\u0029\u0029 language\u003aen
        \u0028site\u003ausa.gov\u0029"},"Web":{"Total":7,"Offset":0,"Results":[{"Title":"Charger
        Wrap \u0028Chicken Veggie Cheese Wrap\u0029 \u007c Video \u007c Kids ...","Description":"Healthy
        Snack \u00232\u003a Charger Wrap ... Sprinkle mozzarella cheese on top
        of Romaine lettuce. Roll up tortilla. ...","Url":"https\u003a\u002f\u002fkids.usa.gov\u002fwatch-videos\u002fexercise-and-eating-healthy\u002fchicken-veggie-wrap\u002findex.shtml","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealthy\u002bsnack\u002bchili\u002bcheese\u002bfries\u0026d\u003d4728155024132967\u0026w\u003d6XBwKhDwGudmHcSPIimNgTq4JcGJ5VRt","DisplayUrl":"https\u003a\u002f\u002fkids.usa.gov\u002fwatch-videos\u002fexercise-and-eating-healthy\u002f...","DateTime":"2016-11-27T12\u003a42\u003a00Z"},{"Title":"Why
        Kids Should Eat Healthy and Exercise Lesson Plan ...","Description":"Why
        Kids Should Eat Healthy and Exercise Lesson Plan Tweet it Share it . ...
        Healthy Snack Video\u003a Charger \u0028Chicken Veggie Cheese\u0029
        Wrap ...","Url":"https\u003a\u002f\u002fkids.usa.gov\u002fteachers\u002flesson-plans\u002fexercise-fitness-and-nutrition\u002feat-healthy\u002findex.shtml","CacheUrl":"http\u003a\u002f\u002fcc.bin[...]
