---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=healthy%20snack%20-kittens%20(chili%20OR%20cheese%20OR%20fries)%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 691CB77AA0EA45BEBD740100F47AEBD2
      X-Msedge-Clientid:
      - 10A71AAD684C6D40398D117069DB6CF3
      X-Msapi-Userstate:
      - fd39
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=EFB8ECEFD7A943DF85AF86E623D7DC3B&CID=10A71AAD684C6D40398D117069DB6CF3&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=EFB8ECEFD7A943DF85AF86E623D7DC3B&CID=10A71AAD684C6D40398D117069DB6CF3&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 26 Apr 2018 23:53:49 GMT
recorded_with: VCR 4.0.0
