%p
  %a{ :name => "content" }
%h1
  Accessibility
%p
  The Search.USA.gov website is being updated frequently to make it as
  accessible as possible.  If you use assistive technology to
  access the Web and encounter problems when using our site, please let
  us know. Write to:
  %a{ :href => "mailto:support@searchusa.zendesk.com" }
    support@searchusa.zendesk.com
  and we will attempt to provide the information to you in a suitable
  format. It would be helpful if you can be as specific as possible when
  describing the information you seek.
%p
  In addition, the Search.USA.gov site is also routinely reviewed for
  alignment with the latest Web Content Accessibility Guidelines (WCAG)
  from the W3C Web Accessibility Initiative. The
  %a{ :href => "http://www.w3.org/TR/WCAG10/" }
    Web Content Accessibility Guidelines (WCAG)
  define how browsers, media players, and other "user agents" support
  people with disabilities and work assistive technologies.
%p
  If you need help accessing a PDF document, Adobe&reg; offers conversion
  tools at its
  %a{ :href => "http://www.adobe.com/accessibility/" }
    Accessibility Resource Center
  \.
%p
  For help with other Microsoft&reg; products, visit their
  %a{ :href => "http://www.microsoft.com/enable/" }
    accessibility
    page
  \.
%p
  To learn more about the regulations governing the accessibility of
  Federal electronic information products, visit the
  %a{ :href => "http://www.access-board.gov/" }
    United States Access Board
  or the
  %a{ :href => "http://www.section508.gov/" }
    official Section 508 page
  \.
%p
  Thanks for using the Search.USA.gov website.
%h1
  Accessibility Check List
%p
  The following are the results of our first accessibility review of
  %a{ :href => "http://search.usa.gov/" }
    search.usa.gov
  \.  For more
  information about government accessibility standards see
  %a{ :href => "http://www.section508.gov/" }
    Section 508
  \.
%h2
  Section 1194.22: Web-based Internet Information and Applications
%table{ :border => "1" }
  %tr
    %th{ :scope => "col" }
      Criteria
    %th{ :scope => "col" }
      Supporting Features
    %th{ :scope => "col" }
      Remarks and explanations
  %tr
    %th{ :scope => "row" }
      (a) Text equivalent of non-text items
    %td
      Supports
    %td
      Images on the site contain 'alt text'.
  %tr
    %th{ :scope => "row" }
      (b) Provide synchronized alternatives for media
    %td
      Not Applicable
    %td
      The site is primarily text based.
  %tr
    %th{ :scope => "row" }
      (c) Information should not be conveyed only with color
    %td
      Supports
    %td
      All information that is conveyed with color in the default end
      user display is also conveyed through markup.
  %tr
    %th{ :scope => "row" }
      (d) Documents must be readable without style sheets
    %td
      Supports
    %td
      The search and results screens are readable without a style sheet.
  %tr
    %th{ :scope => "row" }
      (e) Redundant text link for server-side image maps
    %td
      Not Applicable
    %td
      Image maps are not used.
  %tr
    %th{ :scope => "row" }
      (f) Client side images maps should be used
    %td
      Not Applicable
    %td
      Image maps are not used.
  %tr
    %th{ :scope => "row" }
      (g) Identify table headers
    %td
      Supports
    %td
      Tables are used sparingly to organize deep links in search results page.  There are no headers.
  %tr
    %th{ :scope => "row" }
      (h) Markup shall be used to associate data cells and header cells for data tables that have two or more logical levels of row or column headers.
    %td
      Supports
    %td
      Data tables have header cell markup.
  %tr
    %th{ :scope => "row" }
      (i) Properly title frames
    %td
      Not Applicable
    %td
      Frames are not used.
  %tr
    %th{ :scope => "row" }
      (j) Avoid causing pages to flicker
    %td
      Supports
    %td
      The site does not use text effects or animation.
  %tr
    %th{ :scope => "row" }
      (k) As a last resort provide a text-only page
    %td
      Not Applicable
    %td
      The search and results screens are primarily text-only site.
  %tr
    %th{ :scope => "row" }
      (l) Ensure scripts are accessible
    %td
      Supports with Exceptions
    %td
      Not tested in all assistive technology devices.  Further testing is on going.
  %tr
    %th{ :scope => "row" }
      (m) Ensure embedded files are accessible
    %td
      Not Applicable
    %td
      Files are not embedded.
  %tr
    %th{ :scope => "row" }
      (n) Ensure electronic forms are accessible
    %td
      Supports
    %td
      The search forms have the appropriate labels in order to make them navigable.
  %tr
    %th{ :scope => "row" }
      (o) Provide a method for skipping repetitive links
    %td
      Supports
    %td
      There is no repetitive navigation.
  %tr
    %th{ :scope => "row" }
      (p) Ensure user control over timed responses
    %td
      Not Applicable
    %td
%h2
  Section 1194.31 Functional Performance Criteria – Detail
%table{ :border => "1" }
  %tr
    %th{ :scope => "col" }
      Criteria
    %th{ :scope => "col" }
      Supporting Features
    %th{ :scope => "col" }
      Remarks and explanations
  %tr
    %th{ :scope => "row" }
      (a) At least one mode of operation and information retrieval that does not require user vision shall be provided, or support for Assistive Technology used by people who are blind or visually impaired shall be provided.
    %td
      Supports
      </th>
    %td
      Supported through assistive technology
  %tr
    %th{ :scope => "row" }
      (b) At least one mode of operation and information retrieval that does not require visual acuity greater than 20/70 shall be provided in audio and enlarged print output working together or independently, or support for Assistive Technology used by people who are visually impaired shall be provided.
    %td
      Supports when combined with compatible assistive technology
    %td
      Most of the interface elements can be changed through the browser's accessibility options
  %tr
    %th{ :scope => "row" }
      (c) At least one mode of operation and information retrieval that does not require user hearing shall be provided, or support for Assistive Technology used by people who are deaf or hard of hearing shall be provided
    %td
      Not Applicable
    %td
      No audio features.
  %tr
    %th{ :scope => "row" }
      (d) Where audio information is important for the use of a product, at least one mode of operation and information retrieval shall be provided in an enhanced auditory fashion, or support for assistive hearing devices shall be provided.
    %td
      Not Applicable
    %td
      No audio features.
  %tr
    %th{ :scope => "row" }
      (e) At least one mode of operation and information retrieval that does not require user speech shall be provided, or support for Assistive Technology used by people with disabilities shall be provided.
    %td
      Not Applicable
    %td
      No audio features.
  %tr
    %th{ :scope => "row" }
      (f) At least one mode of operation and information retrieval that does not require fine motor control or simultaneous actions and that is operable with limited reach and strength shall be provided.
    %td
      Supports
    %td
      The site can be navigated through keyboard and the site will function with other non-mouse assistive technologies.
