= breadcrumbs("APIs & Web Services")
%p
  %a{ :name => "content" }
= render "/shared/api_key"
%h1
  APIs and Web Services
%p
  USASearch’s application program interfaces (APIs) provide methods for obtaining government data used by USA.gov's search tools. Use our APIs and services, which are free of charge, to build new applications and mashups using authoritative information from federal, state, local, tribal, and territorial government agencies. 
%p
  Feedback is welcome regarding our APIs and services. Please send comments to 
  %a{:href=>"mailto:***REMOVED***"}
    ***REMOVED***.

%h2
  Available APIs and Web Services
%p
  USASearch is committed to providing APIs to simplifying access to government information and services. We currently offer the following API (and we plan to offer several more soon).
%p
  %a{:href=>"/api/recalls"}
    Product Recall Data API
  %br
  Returns product recall data from three federal government agencies: (1) food safety data from the Centers for Disease Control and Prevention (CDC); (2) car safety data from the National Highway Traffic Safety Administration (NHTSA); and (3) product safety data from the Consumer Product Safety Commission (CPSC). Data include descriptions of recalled products, defect summaries, manufacturer information, and recall dates, among other fields.

%h2
  Terms of Service
%p
  By using a USASearch API or web service, you agree to our 
  %a{:href=>"/api/tos"}
    Terms of Service.
