= breadcrumbs("API & Web Services")
%p
  %a{ :name => "content" }
%h1
  USASearch APIs
%h2
  About the APIs
%p
  USASearch’s application program interfaces (APIs) provide methods for obtaining government data used by USA.gov's search tools. Use our APIs, which are free of charge, to build new applications and mashups using authoritative information from federal, state, local, tribal, and territorial government agencies. 
%p
  Feedback is welcome regarding our APIs. Please send comments to 
  %a{:href=>"mailto:***REMOVED***"}
    ***REMOVED***.

%h2
  Available APIs
%p
  USASearch is committed to providing APIs to simplifying access to government information and services. We currently offer the following API (and we plan to offer several more soon).
%p
%ul
  %li
    %a{:href=>"/api/recalls"}
      Product Recall Data
    %br
    Returns product recall data from three federal government agencies: (1) food safety data from the Centers for Disease Control and Prevention (CDC); (2) car safety data from the National Highway Traffic Safety Administration (NHTSA); and (3) product safety data from the Consumer Product Safety Commission (CPSC). Data include descriptions of recalled products, defect summaries, manufacturer information, and recall dates, among other fields.

%h2
  About USASearch
%p
  USASearch is a service of the General Services Administration’s Office of Citizen Services and Innovative Technologies. USASearch provides several services, including: 
%ul
  %li
    Powering 
    %a{:href=>"http://usa.gov"} USA.gov’s 
    government-wide Internet 
    %a{:href=>"http://search.usa.gov"} search 
    capability. 
  %li
    Allowing any federal, state, local, tribal, or territorial government agency to power its website’s search at no cost through our 
    %a{:href=>"http://search.usa.gov/affiliates"} USASearch Affiliates Program.
  %li
    Sharing our APIs free to anyone who is interested in using them to build new applications or mashups.

%h2
  Terms of Service
%p
  By using a USASearch API, you agree to our 
  %a{:href=>"/api/tos"}
    Terms of Service.
