%p
  %a{ :name => "content" }
%h1
  Contact Us
%p
  %strong
    USASearch Program
  %br
  %br
  US General Services Administration 
  %br
  1275 First Street NE
  %br
  11th Floor
  %br
  Washington, DC 20417
  %br 
  %br
  Email:
  %br
  %a{:href=>"mailto:USASearch@gsa.gov"}
    USASearch@gsa.gov
  