%h1
  USASearch Program
%p
  USASearch is a program of General Services Administration’s Office of Citizen Services and Information Technology (OCSIT). For over ten years, USASearch has improved the general public’s access to government information by providing hosted search services for more than 300 government affiliate organizations, sharing APIs and web services, and operating the U.S. government’s official search engine at Search.USA.gov.
.prepend-1.span-20
  .affiliate-marketing-left
    %img{:src=>"/images/affiliates/thumb_affiliate.png"}
  .affiliate-marketing-right
    %a{:href => "/affiliates"}
      Affiliate Program
    \-- Free hosted search services for any federal, state, local, tribal, or territorial government agency.
  .clear
  .affiliate-marketing-left
    %img{:src=>"/images/affiliates/thumb_analytics.png"}
  .affiliate-marketing-right
    %a{:href => "/api"}
      APIs and other web services
    \-- Free for anyone interested in using them to build new applications or mashups from government data.
  .clear
  .affiliate-marketing-left
    %img{:src=>"/images/affiliates/thumb_spotlight.png"}
  .affiliate-marketing-right
    %a{:href => "/searchusagov"}
      Search.USA.gov
    \-- The U.S. government’s official search engine.
