%h1
  USASearch Program
%p
  USASearch is a program of General Services Administration’s Office of Citizen Services and Information Technology (OCSIT). For over ten years, USASearch has improved the general public’s access to government information by providing hosted search services for more than 300 government affiliate organizations, sharing APIs and web services, and operating the U.S. government’s official search engine at Search.USA.gov.
.prepend-1.span-22
  .affiliate-marketing-left
    %img{:src=>"/images/program_affiliate.png"}
  .affiliate-marketing-right
    %h2
      Affiliate Program
    %p
      Free hosted search services for any federal, state, local, tribal, or territorial government agency.
      = link_to "Learn more", affiliates_path, :id => "learn_more_affiliates"
  .clear
  .affiliate-marketing-left
    %img{:src=>"/images/program_api.png"}
  .affiliate-marketing-right
    %h2
      APIs and other web services
    %p
      Free for anyone interested in using them to build new applications or mashups from government data.
      = link_to "Learn more", api_docs_path, :id => "learn_more_api"
  .clear
  .affiliate-marketing-left
    %img{:src=>"/images/program_search.png"}
  .affiliate-marketing-right
    %h2
      Search.USA.gov
    The U.S. government’s official search engine with about 50 million pages from federal, state, local, territorial and tribal websites.
    = link_to "Learn more", searchusagov_path, :id => "learn_more_searchusagov"
    = render "/shared/basic_search_form"
