= breadcrumbs("Search.USA.gov")
%h1
  Search.USA.gov
%p
  %a{:href=>"http://search.usa.gov"}
    Search.USA.gov
  is the U.S. government’s official search engine. It is a comprehensive, searchable index of about 50 million pages from federal, state, local, territorial, and tribal websites.
%ul
  %li
    Leverages Bing™ index of government websites.
  %li
    Customizes search using structured algorithms specific to government information.
  %li
    Optimizes search to retrieve and make sense of relevant information quickly.
  %li
    Improves navigation by providing customized search suggestions, such as related topics and type-ahead search.
  %li
    Enhances mobile access through a
    %a{:href=>"http://m.usa.gov"}
      mobile site
    and
    %a{:href=>"http://itunes.apple.com/us/app/usa-search/id389585696?mt=8"}
      native iPhone application.
  %li
    Provides access to all Spanish language government websites at
    %a{:href=>"http://Buscador.USA.gov"}
      Buscador.USA.gov
