<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Top Searches</title>
	
	<!-- BEGIN: Copy this style code to the head section of your HTML document -->
	<style type="text/css">
  	#outerdiv{
      width:232px;
      height:265px;
      overflow:hidden;
      position:relative;
      background: transparent;
    }
    #top_searches_iframe{
      position:absolute;
      top: -10px;
      left:-10px;
      overflow: hidden;
      border: 0;
      padding: 0;
      margin: 0;
      width: 245px;
      height: 280px;
    }
  </style>
  <!-- END:  End Style copy -->
  
</head>
<body>


<!-- BEGIN: Copy this code to the place in your HTML where you want the widget to show up -->
<div id="outerdiv">
  <iframe id="top_searches_iframe" scrolling='no' src="/top_searches">
  </iframe>
</div>
<!-- END:  End HTML copy -->


</body>
</html>