= breadcrumbs([link_to("APIs & Web Services", api_docs_path), "Terms of Service"])
%a{ :id => "content" }
= render "/shared/api_key", :hide_tos_link => true
%h1
  USASearch Terms of Service
%p
  The following terms of service govern the General Services Administration’s USASearch Program website and services. These are offered subject to your acceptance of the terms and conditions contained herein as well as any relevant sections of the USA.gov
  %a{:href=>"http://www.usa.gov/About/Important_Notices.shtml"}
    Website Policies and Notices
  and
  %a{:href=>"http://www.usa.gov/About/Privacy_Security.shtml"}
    Privacy and Security statements
  (collectively, the “Agreement”).
%h2
  Scope
%p
  All of the content, documentation, code and related materials made available to you through the USASearch is subject to these terms. Access to or use of USASearch services or its content constitutes acceptance to this Agreement.
%h2
  Secondary Use
%p
  Data accessed through USASearch do not, and should not, include controls over its end use. However, as the data owners or authoritative sources, the Departments and Agencies providing the data retain version control. Once the data has been downloaded from Search.USA.gov, the U.S. Government cannot vouch for the quality and timeliness of any analyses conducted with data retrieved.
%p
  Affiliate Program users of the Search Data API cannot cache results.
%h2
  Citing Data
%p
  Affiliate Program users of the Search Data API must display the “Web Results by Bing” logo on search results pages for attribution of web results.
%p
  Users of publically-available APIs should cite the date that data were accessed or retrieved using the APIs. Finally, users must clearly state that "The USASearch Program and Federal Government cannot vouch for the data or analyses derived from these data after the data have been retrieved from USASearch." GSA or USASearch logos may not be used by persons who are not GSA employees or on products (including Web pages) that are not GSA-sponsored.
%h2
  Public Participation
%p
  In support of the Transparency and Open Government Initiative, recommendations from individuals, groups, and organizations regarding the presentation of data, data types, and metadata will contribute to the evolution of USASearch’s publically-accessible APIs.
%h2
  Modification or False Representation of Content
%p
  You may not modify or falsely represent content accessed through USASearch and still claim the source is USASearch.
%h2
  Right to Limit
%p
  Users of the Affiliate Program must have a valid government email address from a federal, state, local, tribal, or territorial government agency. If GSA reasonably believes that you are not an employee or contractor with a government agency, your ability to use the Affiliate Program may be permanently or temporarily blocked.
%p
  Use of the APIs may be subject to certain limitations on access, calls, or use as set forth within this Agreement or otherwise provided by GSA. If GSA reasonably believes that you have attempted to exceed or circumvent these limits, your ability to use the API may be permanently or temporarily blocked.
%p
  GSA may monitor your use of its services to improve the service or to insure compliance with this Agreement.
%h2
  Service Termination
%p
  If you wish to terminate this Agreement, you may do so by refraining from further use of the services. GSA reserves the right (though not the obligation) to (1) refuse to provide the services to you, if it is GSA’s opinion that use violates any GSA policy, or (2) terminate or deny you access to and use of all or part of the services at any time for any other reason in its sole discretion. Any hosted applications may also be shutdown or removed.  All provisions of this Agreement which by their nature should survive termination shall survive termination including, without limitation, warranty disclaimers, indemnity, and limitations of liability.
%h2
  Changes
%p
  GSA reserves the right, at its sole discretion, to modify or replace this Agreement, in whole or in part. Your continued use of or access to the USASearch services following posting of any changes to this Agreement constitutes acceptance of those modified terms. GSA may, in the future, offer new services and/or features. Such new features and/or services shall be subject to the terms and conditions of this Agreement.
%h2
  Disclaimer of Warranties
%p
  USASearch services are provided “as is” and on an “as-available” basis. GSA hereby disclaims all warranties of any kind, express or implied, including without limitation the warranties of merchantability, fitness for a particular purpose, and non-infringement. GSA makes no warranty that the services will be error free or that access thereto will be continuous or uninterrupted.
%h2
  Limitations on Liability
%p
  In no event will GSA be liable with to respect to any subject matter of this Agreement under any contract, negligence, strict liability or other legal or equitable theory for: (1) any special, incidental, or consequential damages; (2) the cost of procurement of substitute products or services; or (3) for interruption of use or loss or corruption of data.
%h2
  General Representations
%p
  You hereby warrant that (1) your use of the services will be in strict accordance with the USA.gov privacy policy, this Agreement, and all applicable laws and regulations, and (2) your use of the services will not infringe or misappropriate the intellectual property rights of any third party.
%h2
  Indemnification
%p
  You agree to indemnify and hold harmless GSA, its contractors, employees, agents, and the like from and against any and all claims and expenses including attorney’s fees, arising out of your use of the APIs, including but not limited to violation of this Agreement.
%h2
  Miscellaneous
%p
  This Agreement constitutes the entire Agreement between GSA and you concerning the subject matter hereof, and may only be modified by the posting of a revised version on this page by GSA.
%h2
  Disputes
%p
  Any disputes arising out of this Agreement and access to or use of the services shall be governed by federal law.
%h2
  No Waiver of Rights
%p
  GSA’s failure to exercise or enforce any right or provision of this Agreement shall not constitute waiver of such right or provision.
%h1 Bing Logo Usage Guidelines
%p
  The
  %a{ :href => 'http://download.microsoft.com/download/0/4/E/04E076D4-60B2-4D31-BCC7-C4805B558DBB/Bing%20product%20guidelines.pdf'}
    Bing Product Guidelines
  explain in detail when and how to use the Bing Logo.
%h2
  Logo Color
%p
  Full Color and Reverse Color versions of the logo are the only two versions that should be used in user interfaces that include the Bing searchbox.
%h2
  Logo Orientation
%p
  The Bing brand signature should never vary in orientation from how it appears in the artwork provided in the product. Always position the Bing logo at a 0 degrees horizontal angle. Never tilt it or position it at an angle that is not perpendicular.
%h2
  Logo Minimum Size
%p
  The graphic below shows the Bing logo at its smallest acceptable size. The logo (excluding the trademark symbol) should never be less than .625" in print or 45 pixels online.
%h2
  Clear space
%p
  A minimum clearance must be maintained around the logo and other graphics and visual elements. The clear space around the logo is equal to the height of the lowercase letter "n" in the word "Bing."
%h2
  Logos for dark backgrounds
%p
  Use the reverse full-color versions of the Bing logo (with the "Bing" letterforms in white and the dot over the letter "i" in Bing orange) on dark backgrounds.
%p
  Because it would lack sufficient contrast with the dot over the letter "i", the full-color version of the Bing logo should never be placed against an orange background. Never use the single color black Bing logo over the orange. If the Bing logo must appear on an orange background, use the single color reverse white version only.
%h2
  Bing Logo Usage
%ul
  %li
    The logo should never appear connected to, or as part of, any other symbol or icon.
  %li
    The logo should never be contained in a box, circle, or other shape.
  %li
    The logo should never be modified in any way. Do not recombine the artwork elements together with other logos or graphics to create new artwork.
    Use the artwork as it is provided from the Bing branding team.
    The Bing logo brand signature should also not be used by third parties without obtaining written permission from Microsoft, and obtaining approval from the Legal and Corporate Affairs (LCA) department.

%h2
  The Brand Asset Interface
%p
  The assets described in the
  %a{ :href => 'http://download.microsoft.com/download/0/4/E/04E076D4-60B2-4D31-BCC7-C4805B558DBB/Bing%20product%20guidelines.pdf'}
    Bing Product Guidelines
  are available from the Brand distribution interfaces that were created to define brand locations. The intent of these interfaces is to make it easy for partners to be able to implement the brand. It was designed as an interface to support the rebrand change automatically and post rebrand all the partners should use this as text file and hardcode the path instead of dynamically reading it from the file.
%p
  The location to the assets will be contained in XML and JSON static files on the API server that will contain the branding logos and URLs .
%p
  The static files will be named BrandAssets.xml and BrandAssets.js and will be available on api.bing.com at the following URLs:
%ul
  %li
    %a{:href => 'http://api.bing.com/Brandassets.xml'}
      http://api.bing.com/Brandassets.js
  %li
    %a{:href => 'http://api.bing.com/Brandassets.js'}
      http://api.bing.com/Brandassets.xml
