<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Weather Widget</title>
</head>
<body>

<!-- BEGIN: Copy this code to the place in your HTML where you want the widget to show up -->
  <iframe id="weather_widget" scrolling='no' src="/widgets/weather_spotlight" style="border: 0; padding: 0; margin: 0; width: 620px; height: 257px;"></iframe>
<!-- END:  End HTML copy -->

</body>
</html>