#news-items, #video-news-items {
  .content-block();

  .content-provider, .see-more {
    span {
      font-weight: bold;
    }
  }

  .content-host, .feed-name {
    margin-right: 0.5em;
  }

  .feed-name, .published-distance {
    font-size: @font-size-default;
  }

  .published-distance {
    color: @text-color;
  }
}
