---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/search?count=10&mkt=en-US&offset=20&q=agncy%20(site:nasa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - BA637411FD8E4525ABA61CFC162C1100
      X-Msedge-Clientid:
      - 3E8C8C59BE1F63793B429CFDBFE26297
      X-Msapi-Userstate:
      - f6a3
      X-Search-Responseinfo:
      - InternalResponseTime=139,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "images\/search?q=agncy (site:nasa.gov)", "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=agncy
        (site:nasa.gov)&FORM=OIIARP", "queryContext": {"originalQuery": "agncy (site:nasa.gov)",
        "alterationDisplayQuery": "agency site:nasa.gov", "alterationOverrideQuery":
        "+agncy (site:nasa.gov)", "alterationMethod": "AM_ChangeItWithRecourse", "alterationType":
        "CombinedAlterationsChained"}, "totalEstimatedMatches": 200, "nextOffset":
        30, "currentOffset": 20, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=59F69CC4801CC2570A23EB7E4ED20FBC1DC007BD&simid=608028177949276033",
        "name": "European Space Agency astronaut Luca Parmitano | NASA", "thumbnailUrl":
        "https:\/\/tse1.mm.bing.net\/th?id=OIP.KIdhIXMDPgSQa1jUSgUl-gHaLJ&pid=Api",
        "datePublished": "2021-03-01T15:03:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "http:\/\/www.nasa.gov\/sites\/default\/files\/iss037e004496.jpg",
        "hostPageUrl": "https:\/\/www.nasa.gov\/content\/european-space-agency-astronaut-luca-parmitano-20\/",
        "contentSize": "1845642 B", "encodingFormat": "jpeg", "hostPageDisplayUrl":
        "https:\/\/www.nasa.gov\/content\/european-space-agency-astronaut-luca-parmitano-20",
        "width": 2848, "height": 4288, "hostPageFavIconUrl": "https:\/\/www.bing.com\/th?id=ODF.OX0AsTxA43cR2cvqf6Yb0A&pid=Api",
        "hostPageDomainFriendlyName": "NASA", "hostPageDiscoveredDate": "2016-12-29T00:00:00.0000000Z",
        "thumbnail": {"width": 474, "height": 713}, "imageInsightsToken": "ccid_KIdhIXMD*cp_8A66AAE511EF83C633140A0B70B5EC94*mid_59F69CC4801CC2570A23EB7E4ED20FBC1DC007BD*simid_608028177949276033*thid_OIP.KIdhIXMDPgSQa1jUSgUl-gHaLJ",
        "insightsMetadata": {"recipeSourcesCount": 0, "pagesIncludingCount": 1, "availableSizesCount":
        2}, "imageId": "59F69CC4801CC2570A23EB7E4ED20FBC1DC007BD", "accentColor":
        "048DC8"}, {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=97C172426C9046B82DAAA1F2DCD2816F969ECD42&simid=608049742980270728",
        "name": "European Space Agency astronaut Luca Parmitano | NASA", "thumbnailUrl":
        "https:\/\/tse4.mm.bing.net\/th?id=OIP.rgj6_l7rhHxL0zGTqzX01gHaE6&pid=Api",
        "datePublished": "2018-11-07T05:44:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "http:\/\/www.nasa.gov[...]
