---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/search?count=10&mkt=en-US&offset=20&q=agncy%20(site:nasa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4FFFB0BBFE184147BB04640B2527B784
      X-Msedge-Clientid:
      - 2FDA196E00AC6100214A153201C06011
      X-Msapi-Userstate:
      - ad9e
      X-Search-Responseinfo:
      - InternalResponseTime=235,MSDatacenter=BN2
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "images\/search?q=agncy (site:nasa.gov)", "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=agncy
        (site:nasa.gov)&FORM=OIIARP", "totalEstimatedMatches": 109, "nextOffset":
        30, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=387E69631812AEA5817C068D0DC97657B027177D&simid=608043431770915070",
        "name": "International spacecraft carrying Aquarius instrument ends ...",
        "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.K-8cdwSCCsBw-ebH6ynF6gHaFM&pid=Api",
        "datePublished": "2018-07-08T07:33:00.0000000Z", "contentUrl": "https:\/\/climate.nasa.gov\/system\/news_items\/main_images\/2298_aquariusend_768_60.jpg",
        "hostPageUrl": "https:\/\/climate.nasa.gov\/news\/2298\/international-spacecraft-carrying-aquarius-instrument-ends-operations\/",
        "contentSize": "126854 B", "encodingFormat": "jpeg", "hostPageDisplayUrl":
        "https:\/\/climate.nasa.gov\/news\/2298\/international-spacecraft...", "width":
        768, "height": 539, "thumbnail": {"width": 474, "height": 332}, "imageInsightsToken":
        "ccid_K+8cdwSC*mid_387E69631812AEA5817C068D0DC97657B027177D*simid_608043431770915070*thid_OIP.K-8cdwSCCsBw-ebH6ynF6gHaFM",
        "insightsMetadata": {"recipeSourcesCount": 0, "bestRepresentativeQuery": {"text":
        "Aquarius NASA Spacecraft", "displayText": "Aquarius NASA Spacecraft", "webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?q=Aquarius+NASA+Spacecraft&id=387E69631812AEA5817C068D0DC97657B027177D&FORM=IDBQDM"},
        "pagesIncludingCount": 56, "availableSizesCount": 33}, "imageId": "387E69631812AEA5817C068D0DC97657B027177D",
        "accentColor": "A57526"}, {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=B9B7A61DD7BE33240BA91EFCEB3B68FB51411D97&simid=607997943797056366",
        "name": "NASA - Marshall Star, September 26, 2012 Edition", "thumbnailUrl":
        "https:\/\/tse3.mm.bing.net\/th?id=OIP.Quy6-h16LlihkIqXb1Jf4AHaFj&pid=Api",
        "datePublished": "2017-05-29T08:38:00.0000000Z", "contentUrl": "http:\/\/www.nasa.gov\/centers\/marshall\/images\/content\/672245mai[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/search?count=10&mkt=en-US&offset=20&q=mars%20(site:nasa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
  [...]
