---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=chocolate%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=<DATADOG_API_ENABLED>&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659c49aef1b94b6089ccc854f4d26927
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659c49aef1b94b6089ccc854f4d26927
      Bingapis-Sessionid:
      - 67F5DF3EF59E478E876862949E1052E9
      X-Msedge-Clientid:
      - 31CC3CA21EF36B6A36B128A21F676A85
      X-Msapi-Userstate:
      - ce16
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=267,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "chocolate
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=chocolate+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 4920000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "The Health Effects of Chocolate and Cocoa: A Systematic Review",
        "url": "https:\/\/www.ncbi.nlm.nih.gov\/pmc\/articles\/PMC8470865\/", "datePublished":
        "2021-08-24T00:00:00.0000000", "datePublishedDisplayText": "Aug 24, 2021",
        "isFamilyFriendly": <DATADOG_API_ENABLED>, "displayUrl": "https:\/\/www.ncbi.nlm.nih.gov\/pmc\/articles\/PMC8470865",
        "snippet": "Chocolate is generally well accepted by study subjects, with gastrointestinal
        disturbances and unpalatability being the most reported concerns. There is
        a wide variation in terms of form of chocolate or cocoa products investigated,
        limited data on quantitative analysis of any biomarkers or chemical markers
        and studies conducted are short-term ...", "dateLastCrawled": "2024-01-07T06:14:00.0000000Z",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "The Chemistry of Chocolate - NIGMS Biomedical Beat Blog", "url":
        "https:\/\/biobeat.nigms.nih.gov\/2020\/02\/the-chemistry-of-chocolate\/",
        "datePublished": "2020-02-12T00:00:00.0000000", "datePublishedDisplayText":
        "Feb 12, 2020", "isFamilyFriendly": <DATADOG_API_ENABLED>, "displayUrl": "https:\/\/biobeat.nigms.nih.gov\/2020\/02\/the-chemistry-of-chocolate",
        "snippet": "The Chemistry of Chocolate. Chocolate is a Valentine’s Day must-have
        and popular among people with a sweet tooth. Many also claim it lifts mood
        or even acts as an aphrodisiac, and we’ve all heard someone say it’s habit
        forming. The compounds in chocolate that allegedly have positive effects come
        from the cacao bean, so the darker the ...", "dateLastCrawled": "2024-01-06T00:42:00.0000000Z",
        "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=chocolate+(site%3agov+OR+site%3amil)&d=5062916379971412&mkt=en-US&setlang=en-US&w=90nDl-HDwfX-WSdU0lCMsCLJbSvLRzyn",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.2",
        "name": "Chocolate, “Food of the Gods”: History, Science, and Human Health",
        "url": "https:\/\/www.ncbi.nlm.nih.gov\/pmc\/articles\/PMC6950163\/", "datePublished":
        "2019-12-06T00:00:00.000[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=chocolate%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
[...]
