= content_for_site_page_title @site, 'Best Bets: Graphics'
.sub-nav-heading
  %h2 Best Bets: Graphics
  .action-bar
    %ul
      = list_item_with_link_to_current_help_page

%p
  Coming soon! You can update your Best Bets
  = link_to 'here', affiliate_featured_collections_path(@site), { 'data-no-turbolink' => true }
