---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=white%20house&sources=Spell%20Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"white house"},"Image":{"Total":95200,"Offset":0,"Results":[{"Title":"The
        White House Public Domain Clip Art Photos and Images","MediaUrl":"http\u003a\u002f\u002fupload.wikimedia.org\u002fwikipedia\u002fcommons\u002fd\u002fd5\u002fNorth_Fa\u0025C3\u0025A7ade_White_House.JPG","Url":"http\u003a\u002f\u002fpublicdomainclip-art.blogspot.com\u002f2007\u002f09\u002fwhite-house.html","DisplayUrl":"publicdomainclip-art.blogspot.com\u002f2007\u002f09\u002fwhite-house.html","Width":2592,"Height":1735,"FileSize":2269086,"ContentType":"image\u002fjpeg","Thumbnail":{"Url":"http\u003a\u002f\u002fts3.mm.bing.net\u002fth\u003fid\u003dOIP.Md0625f31755bed5ebf196629ebb54503o0\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":300,"Height":200,"FileSize":10566}},{"Title":"was
        chosen to participate in the nationally competitive White House ...","MediaUrl":"http\u003a\u002f\u002fuanews.org\u002fsites\u002fdefault\u002ffiles\u002fstory-images\u002fwhite_house_h.jpg","Url":"http\u003a\u002f\u002fuanews.org\u002fstory\u002fua-student-named-white-house-[...]
