---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=white%20house&sources=Spell%20Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"white house"},"Image":{"Total":80600,"Offset":0,"Results":[{"Title":"was
        chosen to participate in the nationally competitive White House ...","MediaUrl":"http\u003a\u002f\u002fuanews.org\u002fsites\u002fdefault\u002ffiles\u002fstory-images\u002fwhite_house_h.jpg","Url":"http\u003a\u002f\u002fuanews.org\u002fstory\u002fua-student-named-white-house-intern","DisplayUrl":"uanews.org\u002fstory\u002fua-student-named-white-house-intern","Width":2500,"Height":1667,"FileSize":765770,"ContentType":"image\u002fjpeg","Thumbnail":{"Url":"http\u003a\u002f\u002fts3.mm.bing.net\u002fth\u003fid\u003dOIP.Ma264902120c099dfb0c6539b977de2f5H0\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":300,"Height":200,"FileSize":16769}},{"Title":"White
        House seeks \u201eOpen Science\u201d Champions of Change \u007c Open ...","MediaUrl":"http\u003a\u002f\u002fopenscience.com\u002fwp-content\u002fuploads\u002f2013\u002f05\u002fWhite_House_Washington.jpg","Url":"http\u003a\u002f\u002fopenscience.com\u002fwhite-house-seeks-op[...]
