---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=white%20house&sources=Spell%20Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"white house"},"Image":{"Total":110000,"Offset":0,"Results":[{"Title":"White
        House Ends Tours, Will Throw Birthday Bash for the First Lady ...","MediaUrl":"http\u003a\u002f\u002fwww.unitedliberty.org\u002ffiles\u002fimages\u002fwhitehouse_0.jpg","Url":"http\u003a\u002f\u002fwww.unitedliberty.org\u002farticles\u002f12951-white-house-end-tours-will-throw-birthday-bash-for-the-first-lady","DisplayUrl":"www.unitedliberty.org\u002farticles\u002f12951-white-house-end-tours-will...","Width":1600,"Height":1200,"FileSize":384179,"ContentType":"image\u002fjpeg","Thumbnail":{"Url":"http\u003a\u002f\u002fts3.mm.bing.net\u002fth\u003fid\u003dOIP.M462c5ce8753e9524de0105a03d6c587eH0\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":300,"Height":225,"FileSize":12910}},{"Title":"Drake
        Hamilton at the White House for historic Clean Power Plan ...","MediaUrl":"https\u003a\u002f\u002fupload.wikimedia.org\u002fwikipedia\u002fcommons\u002fe\u002fe1\u002fWhite_House_Washington.JPG","Url":"http\u003a\u002f\u002ffresh-energy.org\u002f2015\u002f08\u002fj-drake-ha[...]
