- content_for :head do
  %meta{:name => 'description', :content => 'Search.USA.gov Recalls is the U.S. government’s official database for recalls.'}
  %meta{:name => 'keywords', :content => 'government recalls, recalls, recalled items, recall list, product recalls, auto recalls, vehicle recalls, car recalls, automobile recalls, food recalls, drug recalls, fda recalls, usda recalls, nhtsa recalls, cdc recalls, SearchUSAgov, USASearch, USA Search, SearchUSA, Firstgov search, first gov search, USAGovSearch, USA gov search, government websites, government web'}  

.prepend-6.span-15.append-3.homepage
  %a{:name => "content"}
  = link_to(image_tag("USAsearch_large_#{I18n.locale}_recalls.gif" , :alt => "USASearch Recalls Home"), recalls_path(:locale => I18n.locale))
  = render "shared/search", :path => recalls_search_path

- if @latest_recalls.results.size > 0
  .prepend-6.span-12.append-6.homepage
    #popular
      %h2 Latest Recalls
      #results.recalls
        - @latest_recalls.results[0..4].each_with_index do |result, index|
          = render 'result', :object => result, :index => index, :hit => @latest_recalls.hits[index]
