!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => I18n.locale, :lang => I18n.locale }
  %head
    = tag(:meta, {:name => 'ROBOTS', :content => 'NOINDEX, NOFOLLOW'})
    = (javascript_include_tag "jquery/jquery.min.js").html_safe
    = (javascript_include_tag "easyXDM/easyXDM.min.js").html_safe
    = (javascript_include_tag "affiliates.intermediate").html_safe
    :css
       html, body {
         overflow: hidden;
         margin: 0px;
         padding: 0px;
         width: 100%;
         height: 100%;
       }

       iframe {
         width: 100%;
         height: 100%;
         border: 0px;
       }
  %body
