---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=666&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='food%20nutrition%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 085e404e-9da2-4639-adff-5ae0adaf1557
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027food
        nutrition (site:usa.gov)\u0027&$skip=666&$top=1","type":"WebResult"},"ID":"2f37b1eb-7401-4474-89ac-953ba738209d","Title":"Search
        Results - Publications.USA.gov Main Page","Description":"Order FREE and
        low cost federal consumer publications from the Federal Citizen Information
        Center at GSA from Publications.USA.gov","DisplayUrl":"publications.usa.gov/USAPubs.php?NavCode=R&PageButton=25&PageCatID=...","Url":"http://publications.usa.gov/USAPubs.php?NavCode=R&PageButton=25&PageCatID=0&PageCatName=&BegPub=0&selPubFormatID=0&LanguageID=2&searchText=&QueryType=search"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027food
        nutrition (site:usa.gov)\u0027&$skip=667&$top=1","type":"WebResult"},"ID":"9940d571-5a76-45da-923d-9703a0ff49ee","Title":"Select
        Publications","Description":"Order FREE and low cost federal consumer publications
        from the Federal Citizen Information Center at GSA from Publications.USA.gov","DisplayUrl":"publications.usa.gov/USAPubs.php?NavCode=R&PageButton=26&PageCatID=...","Url":"http://publications.usa.gov/USAPubs.php?NavCode=R&PageButton=26&PageCatID=13&PageCatName=Espa&BegPub=270&selPubFormatID=0&LanguageID=0&searchText=&QueryType=category"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027food
        nutrition (site:usa.gov)\u0027&$skip=668&$top=1","type":"WebResult"},"ID":"9412c84c-7d98-4242-8531-a8193d9f750f","Title":"Apps
        Accessible Site | Mobile Apps Gallery | USA.gov","Description":"Women\u0027s
        Health: Learn About Your Body in 52 Weeks. The National Institutes of Health
        (NIH), Office of Research on Women’s Health (ORWH), has created the Women’s
        ...","DisplayUrl":"origin.apps.usa.gov/accessible.shtml","Url":"http://origin.apps.usa.gov/accessible.shtml"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027food
        nutrition (site:usa.gov)\u0027&$skip=669&$top=1","[...]
