---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='es-US'&Options='EnableHighlighting'&Query='educaci%C3%B3n%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 9d2bdf04-ecf4-4640-a90f-25de2eb4a9ce
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027es-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027educación
        (site:usa.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"094e6e61-3bd1-4010-8498-dbbc49e0c33b","Title":"Recursos
        para la educación | USAGov","Description":"Educación. Información del
        Gobierno sobre ayuda para estudiantes y personas que quieren aprender inglés.
        Ayuda financiera para estudiantes. Becas, productos ...","DisplayUrl":"https://gobierno.usa.gov/educacion","Url":"https://gobierno.usa.gov/educacion"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027es-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027educación
        (site:usa.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"d61c9527-ff15-469e-b8dc-ef0291a5ea71","Title":"Recursos
        educativos | USAGov","Description":"Consulte el sitio web del Departamento
        de Educación para ver todos los recursos educativos disponibles en es[...]
