---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='es-US'&Options='EnableHighlighting'&Query='educaci%C3%B3n%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - b32e662f-bc8a-460b-9eb3-33ae842e3225
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027es-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027educación
        (site:usa.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"aaa42eae-cdc3-4df6-ba3a-27cc87764b2f","Title":"Recursos
        para la educación | GobiernoUSA.gov","Description":"Educación. Información
        del Gobierno sobre ayuda para estudiantes y personas que quieren aprender
        inglés. Ayuda financiera para estudiantes. Becas, productos ...","DisplayUrl":"https://gobierno.usa.gov/educacion","Url":"https://gobierno.usa.gov/educacion"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027es-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027educación
        (site:usa.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"4f4a64e4-cd32-4adf-9372-d3503828b138","Title":"Recursos
        educativos | GobiernoUSA.gov","Description":"Kids.gov cuenta con recursos
        educativos dedicados a la educación de niños y adolescentes (en inglés[...]
