---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=666&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='food%20nutrition%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 7bbab705-38e9-4c1b-b21d-0bbe5771c2d9
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027food
        nutrition (site:usa.gov)\u0027&$skip=666&$top=1","type":"WebResult"},"ID":"bf8fa084-3cb4-497b-b478-e0b928e7776f","Title":"Using
        the Census to Evaluate Administrative Records and ...","Description":"2 2.
        Data The study employs data from three sources: (1) the 2010 decennial census
        person and housing unit response files, (2) administrative records sources,
        and (3 ...","DisplayUrl":"fcsm.sites.usa.gov/files/2016/03/H1_Brown_2015FCSM.pdf","Url":"http://fcsm.sites.usa.gov/files/2016/03/H1_Brown_2015FCSM.pdf"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027food
        nutrition (site:usa.gov)\u0027&$skip=667&$top=1","type":"WebResult"},"ID":"2a63322a-1b84-4124-9a90-31b0a9eb914a","Title":"Search
        Results - Publications.USA.gov Main Page","Description":"Supplemental Nutrition
        Assistance Program View More D[...]
