---
http_interactions:
- request:
    method: get
    uri: https://data.usajobs.gov/api/search?Keyword=Nursing&LocationName=Baltimore,%20MD,%20USA&Organization=HE38&Radius=75&ResultsPerPage=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization-Key:
      - "<JOBS_AUTHORIZATION_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hr+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"LanguageCode":"EN","SearchParameters":{},"SearchResult":{"SearchResultCount":3,"SearchResultCountAll":3,"SearchResultItems":[{"MatchedObjectId":"599253800","MatchedObjectDescriptor":{"PositionID":"NIH-CC-DH-21-11086960","PositionTitle":"Nurse
        (Clinical Research)","PositionURI":"https://www.usajobs.gov:443/GetJob/ViewDetails/599253800","ApplyURI":["https://www.usajobs.gov:443/GetJob/ViewDetails/599253800?PostingChannelID="],"PositionLocationDisplay":"Montgomery
        County, Maryland","PositionLocation":[{"LocationName":"Montgomery County,
        Maryland","CountryCode":"United States","CountrySubDivisionCode":"Maryland","CityName":"Montgomery
        County, Maryland","Longitude":-77.20451,"Latitude":39.1366}],"OrganizationName":"National
        Institutes of Health","DepartmentName":"Department of Health And Human Services","SubAgency":"Clinical
        Center, Nursing Department","JobCategory":[{"Name":"Nurse","Code":"0610"}],"JobGrade":[{"Code":"GS"}],"PositionSchedule":[{"Name":"Multiple
        Schedules","Code":"6"}],"PositionOfferingType":[{"Name":"Permanent","Code":"15317"}],"QualificationSummary":"In
        order to meet the Basic Qualification Requirements for a Nurse (Clinical Research),
        GS-0610, you must: A. Have a graduate or higher level degree, bachelor''s
        degree, associate degree, or diploma from an accredited professional nursing
        educational program. (This education must have been accredited by the Commission
        on Collegiate Nursing Education, Council on Accreditation of Nurse Anesthesia
        Educational Programs, Accreditation Commission for Mid[...]
