---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='food%20nutrition%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 46e40a73-a63e-4a09-82bf-40c6da1dcd9b
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027food
        nutrition (site:usa.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"c731be07-98f4-4f87-9d40-af8040af8da3","Title":"Food
        and Nutrition | USAGov","Description":"Find out how to get help buying nutritious
        food for you and your family. Food Safety Resources Find out how to safely
        buy, store, and prepare food. Nutrition, Dietary ...","DisplayUrl":"https://www.usa.gov/food-and-nutrition","Url":"https://www.usa.gov/food-and-nutrition"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027food
        nutrition (site:usa.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"78929998-5770-4e63-86ff-8105d896816f","Title":"Nutrition,
        Dietary Guidelines and Tips | USAGov","Description":"Nutrition, Dietary
        Guidelines and Tips. Get information about healthy eating a[...]
