---
http_interactions:
- request:
    method: get
    uri: https://search.gov/admin-center/dashboard/settings.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Last-Modified:
      - Thu, 19 Jan 2023 14:57:35 GMT
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Server:
      - Cloud.gov Pages
      X-Vcap-Request-Id:
      - 6bf32392-fe6c-4f16-523b-083cfc83463f
      Etag:
      - '"afcd3c17cdc28767dbd0b8289e1aa5db"'
    body:
      encoding: UTF-8
      string: "\n\n<!DOCTYPE html>\n\n<html lang=\"en\">\n\n\n\n<head>\n  <!-- Basic
        Page Needs\n    ================================================== -->\n  <meta
        charset=\"utf-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n
        \ \n  <!-- Mobile Specific Metas\n    ==================================================
        -->\n  <meta name=\"HandheldFriendly\" content=\"True\">\n  <meta name=\"MobileOptimized\"
        content=\"320\">\n  <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0\">\n\n  <!-- Favicons\n    ==================================================
        -->\n  <link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"https://search.gov/assets/img/favicons/apple-touch-icon.png\">\n
        \ <link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"https://search.gov/assets/img/favicons/favicon-32x32.png\">\n
        \ <link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"https://search.gov/assets/img/favicons/favicon-16x16.png\">\n
        \ <link rel=\"manifest\" href=\"https://search.gov/assets/img/favicons/site.webmanifest\">\n
        \ <link rel=\"mask-icon\" href=\"https://search.gov/assets/img/favicons/safari-pinned-tab.svg\"
        color=\"#5bbad5\">\n  <link rel=\"shortcut icon\" href=\"https://search.gov/assets/img/favicons/favicon.ico\">\n
        \ <meta name=\"msapplication-TileColor\" content=\"#da532c\">\n  <meta name=\"msapplication-config\"
        content=\"https://search.gov/assets/img/favicons/browserconfig.xml\">\n  <meta
        name=\"theme-color\" content=\"#ffffff\">\n  <!-- CSS\n    ==================================================
        -->\n  <link rel=\"stylesheet\" type=\"text/css\" integrity=\"sha512-7+pSWFp0JkiO+EQ5YQyNIuTbgw5OoEFWnV1MLOD1BGsQSqtJzQRqw5pv9NQXM4WGxWKcE0whNQeei0zUBmE02A==\"
        crossorigin=\"anonymous\" href=\"/assets/styles-efea52585a7426488ef84439610c8d22e4db830e4ea041569d5d4c2ce0f5046b104aab49cd046ac39a6ff4d417338586c5629c134c2135079e8b4cd4066134d8.css\">\n\n
        \ <!-- Google Tag Manager -->\n    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\n
        \     new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\n
        \     j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n
        \     'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\n
        \     })(window,document,'script','dataLayer','GTM-N56JXGD');</script>\n  <!--
        End Google Tag Manager -->\n  <!-- Begin Jekyll SEO tag v2.8.0 -->\n<title>Editing
        Your Site Settings | Search.gov</title>\n<meta name=\"generator\" content=\"Jekyll
        v4.3.0\" />\n<meta property=\"og:title\" content=\"Editing Your Site Settings\"
        />\n<meta property=\"og:locale\" content=\"en_US\" />\n<link rel=\"canonical\"
        href=\"https://search.gov/admin-center/dashboard/settings.html\" />\n<meta
        property=\"og:url\" content=\"https://search.gov/admin-center/dashboard/settings.html\"
        />\n<meta property=\"og:site_name\" content=\"Search.gov\" />\n<meta property=\"og:type\"
        content=\"article\" />\n<meta property=\"article:published_time\" content=\"2017-12-29T00:00:00-05:00\"
        />\n<meta name=\"twitter:card\" content=\"summary\" />\n<meta property=\"twitter:title\"
        content=\"Editing Your Site Settings\" />\n<script type=\"application/ld+json\">\n{\"@context\":\"https://schema.org\",\"@type\":\"BlogPosting\",\"dateModified\":\"2017-12-29T00:00:00-05:00\",\"datePublished\":\"2017-12-29T00:00:00-05:00\",\"headline\":\"Editing
        Your Site Settings\",\"mainEntityOfPage\":{\"@type\":\"WebPage\",\"@id\":\"https://search.gov/admin-center/dashboard/settings.html\"},\"url\":\"https://search.gov/admin-center/dashboard/settings.html\"}</script>\n<!--
        End Jekyll SEO tag -->\n\n\n  <!-- Custom Fields -->\n  \n    <meta name=\"searchgov_custom1\"
        content='help-manual,dashboard,settings'>\n  \n  \n    <meta name=\"searchgov_custom2\"
        content=\"admin-center\">\n  \n  \n    <meta name=\"searchgov_custom3\" content=\"admin_center\">\n
        \ \n  <!-- End Custom Fields -->\n\n</head>\n\n\n<body>\n  \n\n<!-- Google
        Tag Manager (noscript) -->\n<noscript><iframe sandbox src=\"https://www.googletagmanager.com/ns.html?id=GTM-N56JXGD\"\n
        \ height=\"0\" width=\"0\" style=\"display:none;visibility:hidden\"></iframe></noscript>\n<!--
        End Google Tag Manager (noscript) -->\n\n<a class=\"usa-skipnav\" href=\"#main-content\">Skip
        to main content</a>\n<div class=\"usa-banner\">\n  <div class=\"usa-accordion\">\n
        \   <section\n      id=\"gov-banner-header-section\"\n      aria-label=\"USA
        Gov banner section header\"\n      class=\"usa-banner__header\"\n    >\n      <div
        class=\"usa-banner__inner\">\n        <div class=\"grid-col-auto\">\n          <img
        class=\"usa-banner__header-flag\" alt=\"U.S. flag\" integrity=\"sha512-uSWIIwOanmGwp0KJV/SGYmxhjWDg9ngjQ1Er+SjC3gRGZtxXhzLTsifgPfZyDMGGL6Vyn3KQ5RmTWApj8sRY8A==\"
        crossorigin=\"anonymous\" src=\"/assets/img/us_flag_small-b9258823039a9e61b0a7428957f486626c618d60e0f6782343512bf928c2de044666dc578732d3b227e03df6720cc1862fa5729f7290e51993580a63f2c458f0.png\">\n
        \       </div>\n        <div class=\"grid-col-fill tablet:grid-col-auto\">\n
        \         <p class=\"usa-banner__header-text\">\n            An official website
        of the United States government\n          </p>\n          <p class=\"usa-banner__header-action\"
        aria-hidden=\"true\">\n            Here’s how you know\n          </p>\n        </div>\n
        \       <button\n          class=\"usa-accordion__button usa-banner__button\"\n
        \         aria-expanded=\"<DATADOG_API_ENABLED>\"\n          aria-controls=\"gov-banner\"\n
        \       >\n          <span class=\"usa-banner__button-text\">Here's how you
        know</span>\n        </button>\n      </div>\n    </section>\n    <div class=\"usa-banner__content
        usa-accordion__content\" id=\"gov-banner\">\n      <div class=\"grid-row grid-gap-lg\">\n
        \       <div class=\"usa-banner__guidance tablet:grid-col-6\">\n          <img
        class=\"usa-banner__icon\n          usa-media-block__img\" alt=\"Dot gov\"
        integrity=\"sha512-fSYGEfY4VE+QwNhsxp+pjVWfkGQNZF1RIsjIcTK2tMT2kwb338iJPzSNonq1aO62h4S8102d90nk5+ksggTL9Q==\"
        crossorigin=\"anonymous\" src=\"/assets/img/icon-dot-gov-7d260611f638544f90c0d86cc69fa98d559f90640d645d5122c8c87132b6b4c4f69306f7dfc8893f348da27ab568eeb68784bcd74d9df749e4e7e92c8204cbf5.svg\">\n
        \         <div class=\"usa-media-block__body\">\n            <p>\n              <strong>Official
        websites use .gov</strong><br />A\n              <strong>.gov</strong> website
        belongs to an official government\n              organization in the United
        States.\n            </p>\n          </div>\n        </div>\n        <div
        class=\"usa-banner__guidance tablet:grid-col-6\">\n          <img class=\"usa-banner__icon\n
        \         usa-media-block__img\" alt=\"Https\" integrity=\"sha512-FU6sa4/cQsh+FNHPDA6iCZQe6OyrI7Xazfd204sdikCyCHhqjniJVKIcG4BgACPwvynfb/2SyQlRtkzkmUB9hQ==\"
        crossorigin=\"anonymous\" src=\"/assets/img/icon-https-154eac6b8fdc42c87e14d1cf0c0ea209941ee8ecab23b5dacdf776d38b1d8a40b208786a8e788954a21c1b80600023f0bf29df6ffd92c90951b64ce499407d85.svg\">\n
        \         <div class=\"usa-media-block__body\">\n            <p>\n              <strong>Secure
    [...]
