---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&image.count=20&query=%28white+house%29+language%3Aen+%28site%3Awhitehouse.gov%29&sources=Spell+Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028white
        house\u0029 language\u003aen \u0028site\u003awhitehouse.gov\u0029"},"Image":{"Total":9340,"Offset":0,"Results":[{"Title":"The
        President, the Taoiseach, and the Shamrocks \u007c The White House","MediaUrl":"http\u003a\u002f\u002fwww.whitehouse.gov\u002fassets\u002fhi_res\u002fstpattys_hires.JPG","Url":"http\u003a\u002f\u002fwww.whitehouse.gov\u002fblog\u002f09\u002f03\u002f17\u002fThe-President-the-Taoiseach-and-the-Shamrocks\u002f","DisplayUrl":"www.whitehouse.gov\u002fblog\u002f09\u002f03\u002f17\u002fThe-President-the-Taoiseach-and...","Width":4074,"Height":2639,"FileSize":2777591,"ContentType":"image\u002fjpeg","Thumbnail":{"Url":"http\u003a\u002f\u002fts3.mm.bing.net\u002fth\u003fid\u003dOIP.M53f76fac84c628984964e96fad943b55o0\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":300,"Height":194,"FileSize":8578}},{"Title":"Inside
        the White House \u007c The White House","MediaUrl":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fsites\u002fdefault\u002ffiles\u002fimage\u002fwhitehouse_historypg.jpg","Url":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fabout\u002finside-white-house","DisplayUrl":"http[...]
