---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&image.count=20&query=%28agency%29+language%3Aen+%28site%3A.gov%29&sources=Spell+Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028agency\u0029
        language\u003aen \u0028site\u003a.gov\u0029"},"Image":{"Total":16400,"Offset":0,"Results":[{"Title":"AGENCY
        INFORMATION","MediaUrl":"http\u003a\u002f\u002fwww.ok.gov\u002fodc\u002fimages\u002fagency1.jpg","Url":"http\u003a\u002f\u002fwww.ok.gov\u002fodc\u002fAbout_ODC\u002f","DisplayUrl":"www.ok.gov\u002fodc\u002fAbout_ODC","Width":490,"Height":406,"FileSize":16774,"ContentType":"image\u002fjpeg","Thumbnail":{"Url":"http\u003a\u002f\u002fts2.mm.bing.net\u002fth\u003fid\u003dOIP.Mfa39285fb46b4874ee69510475706e01o0\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":300,"Height":248,"FileSize":6006}},{"Title":"California\u0027s
        Critical Coastal Areas\u003a Agency Partners","MediaUrl":"http\u003a\u002f\u002fwww.coastal.ca.gov\u002fnps\u002fWeb\u002fImage\u002fagencies.gif","Url":"http\u003a\u002f\u002fcoastal.ca.gov\u002fnps\u002fweb\u002fcca_agencypartners.htm","DisplayUrl":"coastal.ca.[...]
