---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&image.count=20&query=%28barcelona%29+language%3Aes+%28scopeid%3Ausagovall+OR+site%3Agov+OR+site%3Amil%29&sources=Spell+Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028barcelona\u0029
        language\u003aes \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Image":{"Total":60,"Offset":0,"Results":[{"Title":"...
        Consulado \u007c Consulado General de los Estados Unidos Barcelona, Espa\u00f1a","MediaUrl":"http\u003a\u002f\u002fphotos.state.gov\u002flibraries\u002fkarachi\u002f788\u002fimages\u002fDSC00446web.jpg","Url":"http\u003a\u002f\u002fspanish.barcelona.usconsulate.gov\u002fes\u002fconsulado.html","DisplayUrl":"spanish.barcelona.usconsulate.gov\u002fes\u002fconsulado.html","Width":640,"Height":480,"FileSize":136962,"ContentType":"image\u002fjpeg","Thumbnail":{"Url":"http\u003a\u002f\u002fts1.mm.bing.net\u002fth\u003fid\u003dOIP.M0ef759b38e0a183b152e48b95d24ff30o0\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":300,"Height":225,"FileSize":12991}},{"Title":"...
        Cole visita el instituto de secundaria INS Pau Claris de Barcelona","MediaUrl":"http\u003a\u002f\u002fphotos.state.gov\u002flibraries\u002fspain\u002f164311\u002factividades2012\u002fIMG_4785.jpg","Url":"http\u003a\u002f\u002fspanish.barcelona.usconsulate.gov\u002fes\u002fnot[...]
