= analytics_center_breadcrumbs
%h2 Search.USA.gov Analytics Center
%ul
  %li=link_to("Queries", analytics_queries_path)
  %li=link_to("Search Module Stats", analytics_search_modules_path)
  %li= link_to 'Monthly Reports', monthly_reports_path
