---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=electro%20coagulation%20site:www.whitehouse.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ZK6WcJ2_cdL-1Kol5cpaPQsD0mI/P2uNX1JDcn2u9a1HhSqM6JMqVZo"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - electro coagulation site:www.whitehouse.gov",
            "totalResults": "3",
            "searchTerms": "electro coagulation site:www.whitehouse.gov",
            "count": 3,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.362722,
          "formattedSearchTime": "0.36",
          "totalResults": "3",
          "formattedTotalResults": "3"
         },
         "spelling": {
          "correctedQuery": "electrocoagulation site:www.whitehouse.gov",
          "htmlCorrectedQuery": "\u003cb\u003e\u003ci\u003eelectrocoagulation\u003c/i\u003e\u003c/b\u003e site:www.whitehouse.gov"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Converging Technologies for Improving Human Performance",
           "htmlTitle": "Converging Technologies for Improving Human Performance",
           "link": "https://www.whitehouse.gov/sites/default/files/microsites/ostp/bioecon-(%23%20023SUPP)%20NSF-NBIC.pdf",
           "displayLink": "www.whitehouse.gov",
           "snippet": "nano-electro-mechanical systems (NEMS) will be the basis for future avionics ...... \nStable gene transfer and expression of human blood coagulation factor IX after.",
           "htmlSnippet": "nano-\u003cb\u003eelectro\u003c/b\u003e-mechanical systems (NEMS) will be the basis for future avionics ...... \u003cbr\u003e\nStable gene transfer and expression of human blood \u003cb\u003ecoagulation\u003c/b\u003e factor IX after.",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://www.whitehouse.gov/.../bioecon-(%23%20023SUPP)%20NSF-NBIC. pdf",
           "htmlFormattedUrl": "https://www.whitehouse.gov/.../bioecon-(%23%20023SUPP)%20NSF-NBIC. pdf",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "296",
              "height": "170",
              "src": "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcREDHtiqIKP2thR6fiLlIt4Ci-_6nirgnEZmtJTTaxGxkfZVB7lev3EjiQ"
             }
            ],
            "metatags": [
             {
              "creationdate": "D:20021126193303Z",
              "creator": "LEXPSNT3 Version 7.4",
              "moddate": "D:20111208141724-05'00'",
              "producer": "Acrobat Distiller 5.0 (Windows)",
              "title": "Microsoft Word - NBIC_0_frontmatter.doc"
             }
            ],
            "cse_image": [
             {
              "src": "x-raw-image:///b094754ecf3b1663954bd7b0d31fd989cf96cc529557a4bfe755ca07374e16ce"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Scientific Assessment of Freshwater Harmful Algal Blooms",
           "htmlTitle": "Scientific Assessment of Freshwater Harmful Algal Blooms",
           "link": "https://www.whitehouse.gov/sites/default/files/microsites/ostp/frshh2o0708.pdf",
           "displayLink": "www.whitehouse.gov",
           "snippet": "coagulation, flocculation, and sedimentation result in increased ...... \ndestratification, increasing flushing rates, ultrasound, electrocoagulation, new \nand existing.",
           "htmlSnippet": "coagulation, flocculation, and sedimentation result in increased ...... \u003cbr\u003e\ndestratification, increasing flushing rates, ultrasound, \u003cb\u003eelectrocoagulation\u003c/b\u003e, new \u003cbr\u003e\nand existing.",
           "cacheId": "VsPCryNm3XYJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "https://www.whitehouse.gov/sites/default/files/.../frshh2o0708.pdf",
           "htmlFormattedUrl": "https://www.whitehouse.gov/sites/default/files/.../frshh2o0708.pdf",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "236",
              "height": "213",
              "src": "https://encrypted-tbn3.gstatic.com/images?q=tbn:[...]
