---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=scientost%20(site:www100.whitehouse.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8E7741AE7EC640DB9DC3479ABAB94DB1
      X-Msedge-Clientid:
      - 34A9D5D441D764A11972D98C40D86581
      X-Msapi-Userstate:
      - 7a53
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B703A249B8D846948E595575BB059DB3&CID=34A9D5D441D764A11972D98C40D86581&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B703A249B8D846948E595575BB059DB3&CID=34A9D5D441D764A11972D98C40D86581&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 27 Aug 2018 00:04:08 GMT
recorded_with: VCR 4.0.0
