---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=scientost%20(site:www100.whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - AE50E2006DD24CF2AA2012F02B80B910
      X-Msedge-Clientid:
      - 3124E84760C965B01923E2DE615E649D
      X-Msapi-Userstate:
      - '9550'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=50EC85D159BA4E7383CA58934C5D9110&CID=3124E84760C965B01923E2DE615E649D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=50EC85D159BA4E7383CA58934C5D9110&CID=3124E84760C965B01923E2DE615E649D&Type=Event.CPT&DATA=0"},
        "rankingResponse": {"mainline": {"items": [{"answerType": "DictionaryWords"}]}}}'
  recorded_at: Tue, 06 Jun 2017 23:00:35 GMT
recorded_with: VCR 3.0.3
