---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=scientost%20(site:www100.whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 36A25EEF947F46B7892C56ECC9E8FFF8
      X-Msedge-Clientid:
      - 02FB26F90BDA675608C72C600A4D6616
      X-Msapi-Userstate:
      - '9215'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=481327D1D6BE497598D0241B899B0AD1&CID=02FB26F90BDA675608C72C600A4D6616&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=481327D1D6BE497598D0241B899B0AD1&CID=02FB26F90BDA675608C72C600A4D6616&Type=Event.CPT&DATA=0"},
        "rankingResponse": {"mainline": {"items": [{"answerType": "DictionaryWords"}]}}}'
  recorded_at: Tue, 06 Jun 2017 23:00:35 GMT
recorded_with: VCR 3.0.3
