---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=<GOOGLE_SEARCH_CX>&key=<GOOGLE_API_KEY>&lr=lang_en&q=militry%20site:www.whitehouse.gov/&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "usageLimits",
            "reason": "accessNotConfigured",
            "message": "Access Not Configured. CustomSearch API has not been used in project 913155601333 before or it is disabled. Enable it by visiting https://console.developers.google.com/apis/api/customsearch.googleapis.com/overview?project=913155601333 then retry. If you enabled this API recently, wait a few minutes for the action to propagate to our systems and retry.",
            "extendedHelp": "https://console.developers.google.com/apis/api/customsearch.googleapis.com/overview?project=913155601333"
           }
          ],
          "code": 403,
          "message": "Access Not Configured. CustomSearch API has not been used in project 913155601333 before or it is disabled. Enable it by visiting https://console.developers.google.com/apis/api/customsearch.googleapis.com/overview?project=913155601333 then retry. If you enabled this API recently, wait a few minutes for the action to propagate to our systems and retry."
         }
        }
  recorded_at: Fri, 27 Apr 2018 15:56:55 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=militry%20(site:www.whitehouse.gov/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 14837640CE6D4B18AA44BE1CF25E7D8C
      X-Msedge-Clientid:
      - 2D89CD5335D766DE20CEC68D34406722
      X-Msapi-Userstate:
      - 5fc9
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E5D5E89EB03A41329301C13C58790162&CID=2D89CD5335D766DE20CEC68D34406722&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E5D5E89EB03A41329301C13C58790162&CID=2D89CD5335D766DE20CEC68D34406722&Type=Event.CPT&DATA=0"},
        "queryContext": {"originalQuery": "militry (site:www.whitehouse.gov\/)", "alteredQuery":
        "military", "alterationOverrideQuery": "+militry (site:www.whitehouse.gov\/)",
        "adultIntent": false}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=militry+(site%3awww.whitehouse.gov%2f)",
        "webSearchUrlPingSuffix": "DevEx,5533.1", "totalEstimatedMatches": 213000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "MILITARY PERSONNEL ACTIVE AND RESERVE FORCES", "url": "https:\/\/www.whitehouse.gov\/wp-content\/uploads\/2018\/02\/mil-fy2019.pdf",
        "urlPingSuffix": "DevEx,5090.1", "displayUrl": "https:\/\/www.whitehouse.gov\/wp-content\/uploads\/2018\/02\/mil-fy2019.pdf",
        "snippet": "DEPARTMENT OF DEFENSE—MILITARY PROGRAMS MILITARY PERSONNEL ACTIVE
        AND RESERVE FORCES These appropriations finance the personnel costs of the
        Active, Reserve,", "dateLastCrawled": "2018-04-15T01:01:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Presidential
        Memorandum for the Secretary of Defense and ...", "url": "https:\/\/www.whitehouse.gov\/presidential-actions\/presidential-memorandum-secretary-defense-secretary-homeland-security-regarding-military-service-transgender-individuals\/",
        "urlPingSuffix": "DevEx,5105.1", "displayUrl": "https:\/\/www.whitehouse.gov\/presidential-actions\/presidential...",
        [...]
