---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=scientost%20(site:www100.whitehouse.gov/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - EE96C294D8BC4A9DB9013F8E7A1E54CC
      X-Msedge-Clientid:
      - 2F95279E2386697E289C2CFB22296834
      X-Msapi-Userstate:
      - 45c0
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=90CFFA6CE0E64579BC6C408CB6EEE6AF&CID=2F95279E2386697E289C2CFB22296834&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=90CFFA6CE0E64579BC6C408CB6EEE6AF&CID=2F95279E2386697E289C2CFB22296834&Type=Event.CPT&DATA=0"},
        "rankingResponse": {"mainline": {"items": [{"answerType": "DictionaryWords"}]}}}'
  recorded_at: Wed, 27 Dec 2017 18:44:34 GMT
recorded_with: VCR 3.0.3
