---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=scientost%20(site:www100.whitehouse.gov/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B9C7CC3434724389933AA2B15EAD75B5
      X-Msedge-Clientid:
      - 1DAC5DDED305654A1F7856BBD2AA64C8
      X-Msapi-Userstate:
      - 549b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=582F930F97DB4DC9BC1EC30A1084CECE&CID=1DAC5DDED305654A1F7856BBD2AA64C8&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=582F930F97DB4DC9BC1EC30A1084CECE&CID=1DAC5DDED305654A1F7856BBD2AA64C8&Type=Event.CPT&DATA=0"},
        "rankingResponse": {"mainline": {"items": [{"answerType": "DictionaryWords"}]}}}'
  recorded_at: Wed, 27 Dec 2017 18:44:33 GMT
recorded_with: VCR 3.0.3
