---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=scientost%20(site:www100.whitehouse.gov/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 19CE3986816F43489539C3727D3468D2
      X-Msedge-Clientid:
      - 1DAA1C50B40260BA34D317CEB5E7618F
      X-Msapi-Userstate:
      - '9793'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D8D1676E5CD74FCE8177E34A750231C4&CID=1DAA1C50B40260BA34D317CEB5E7618F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D8D1676E5CD74FCE8177E34A750231C4&CID=1DAA1C50B40260BA34D317CEB5E7618F&Type=Event.CPT&DATA=0"},
        "rankingResponse": {"mainline": {"items": [{"answerType": "DictionaryWords"}]}}}'
  recorded_at: Thu, 22 Feb 2018 07:08:24 GMT
recorded_with: VCR 4.0.0
