---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=scientost%20(site:www100.whitehouse.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 0F7774AF3F054C5095547562A5F791F9
      Bingapis-Sessionid:
      - BEBF7AF1F88E4387A1C564827167E72D
      X-Msedge-Clientid:
      - 0E04066EA76B6FDD009516CAA6966EEB
      X-Msapi-Userstate:
      - 76fb
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=147,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "scientost
        (site:www100.whitehouse.gov\/)"}, "rankingResponse": {}}'
  recorded_at: Tue, 31 Aug 2021 20:33:25 GMT
recorded_with: VCR 4.0.0
