---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=<GOOGLE_SEARCH_CX>&key=<GOOGLE_API_KEY>&lr=lang_en&q=militry%20site:www.whitehouse.gov/&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"W18CoImQKYKeZ22usPfNI43IHMc/QS50mxKH5bBzetuLFYViiTryikw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - militry site:www.whitehouse.gov/",
            "totalResults": "1",
            "searchTerms": "militry site:www.whitehouse.gov/",
            "count": 1,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "<GOOGLE_SEARCH_CX>"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.295252,
          "formattedSearchTime": "0.30",
          "totalResults": "1",
          "formattedTotalResults": "1"
         },
         "spelling": {
          "correctedQuery": "military site:www.whitehouse.gov/",
          "htmlCorrectedQuery": "\u003cb\u003e\u003ci\u003emilitary\u003c/i\u003e\u003c/b\u003e site:www.whitehouse.gov/"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Foreign Policy",
           "htmlTitle": "Foreign Policy",
           "link": "https://www.whitehouse.gov/issues/foreign-policy/",
           "displayLink": "www.whitehouse.gov",
           "snippet": "Foreign Policy. President Trump is bolstering American influence by leading a \ncoalition of strong and independent nations to promote security, prosperity, and \npeace both within America's borders and beyond. The promise of a better future \nwill come in part from reasserting American sovereignty and the right of all \nnations to ...",
           "htmlSnippet": "Foreign Policy. President Trump is bolstering American influence by leading a \u003cbr\u003e\ncoalition of strong and independent nations to promote security, prosperity, and \u003cbr\u003e\npeace both within America&#39;s borders and beyond. The promise of a better future \u003cbr\u003e\nwill come in part from reasserting American sovereignty and the right of all \u003cbr\u003e\nnations to&nbsp;...",
           "cacheId": "JItJpXbMzFMJ",
           "formattedUrl": "https://www.whitehouse.gov/issues/foreign-policy/",
           "htmlFormattedUrl": "https://www.whitehouse.gov/issues/foreign-policy/",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "312",
              "height": "162",
              "src": "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSgOqVvsxHaTn775WpwlS6oLf1y2C1C1AOOWof8gCCTLgaIxWneO1SlzoA"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1",
              "og:locale": "en_US",
              "og:type": "article",
              "og:title": "Foreign Policy",
              "og:url": "https://www.whitehouse.gov/issues/foreign-policy/",
              "og:site_name": "The White House",
              "article:publisher": "https://facebook.com/whitehouse",
              "og:image": "https://www.whitehouse.gov/wp-content/uploads/2017/11/Foreign-Policy.jpg",
              "og:image:secure_url": "https://www.whitehouse.gov/wp-content/uploads/2017/11/Foreign-Policy.jpg",
              "og:image:width": "1250",
              "og:image:height": "648",
              "og:image:type": "image/jpeg",
              "twitter:card": "summary_large_image",
              "twitter:title": "Foreign Policy",
              "twitter:site": "@whitehouse",
              "twitter:image": "https://www.whitehouse.gov/wp-content/uploads/2017/11/Foreign-Policy.jpg",
              "twitter:creator": "@whitehouse",
              "twitter:image:alt": "Foreign Policy",
              "msapplication-tileimage": "https://www.whitehouse.gov/wp-content/uploads/2017/12/cropped-WH.gov_favicon_512X512-1-270x270.png"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.whitehouse.gov/wp-content/uploads/2017/11/Foreign-Policy.jpg"
             }
            ]
           }
          }
         ]
        }
  recorded_at: Thu, 22 Feb 2018 07:08:23 GMT
recorded_with: VCR 4.0.0
