---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=scientost%20(site:www100.whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 853E1E43DACD4BC0BEFF8E40D2A65E1A
      X-Msedge-Clientid:
      - 0D686B5DCAC6665C0CB9616CCBF76793
      X-Msapi-Userstate:
      - '8753'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=73E07EDFE255482F9F08D603781E7645&CID=0D686B5DCAC6665C0CB9616CCBF76793&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=73E07EDFE255482F9F08D603781E7645&CID=0D686B5DCAC6665C0CB9616CCBF76793&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 22 Feb 2017 21:45:57 GMT
recorded_with: VCR 3.0.3
