---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=scientost%20(site:www100.whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - AA42B3B5C2994FE9B037C5296C78CBB1
      X-Msedge-Clientid:
      - 0B63D6535199649C28C5DC6A500E65BA
      X-Msapi-Userstate:
      - 9f77
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E475EE37B1DA488BB83ABDE74F0CEAFC&CID=0B63D6535199649C28C5DC6A500E65BA&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E475EE37B1DA488BB83ABDE74F0CEAFC&CID=0B63D6535199649C28C5DC6A500E65BA&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 02 Mar 2017 19:53:28 GMT
recorded_with: VCR 3.0.3
