---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=scientost%20(site:www100.whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 38C21648AF0040E5AD7259031FD5E4D7
      X-Msedge-Clientid:
      - 3D87D5892A5E61A304F9DFB82B6F6070
      X-Msapi-Userstate:
      - 7d4a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C14FF1B2EA414B2782BEBBDC51A82307&CID=3D87D5892A5E61A304F9DFB82B6F6070&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C14FF1B2EA414B2782BEBBDC51A82307&CID=3D87D5892A5E61A304F9DFB82B6F6070&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 22 Feb 2017 21:45:57 GMT
recorded_with: VCR 3.0.3
