---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=militry%20site:www.whitehouse.gov/&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"W18CoImQKYKeZ22usPfNI43IHMc/pns54sOwZ9yxPud79EZmy2q9s6c"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - militry site:www.whitehouse.gov/",
            "totalResults": "2",
            "searchTerms": "militry site:www.whitehouse.gov/",
            "count": 2,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.153661,
          "formattedSearchTime": "0.15",
          "totalResults": "2",
          "formattedTotalResults": "2"
         },
         "spelling": {
          "correctedQuery": "military site:www.whitehouse.gov/",
          "htmlCorrectedQuery": "\u003cb\u003e\u003ci\u003emilitary\u003c/i\u003e\u003c/b\u003e site:www.whitehouse.gov/"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Help for Military Homeowners | whitehouse.gov",
           "htmlTitle": "Help for Military Homeowners | whitehouse.gov",
           "link": "https://www.whitehouse.gov/blog/2012/03/06/help-military-homeowners",
           "displayLink": "www.whitehouse.gov",
           "snippet": "Mar 6, 2012 ... Ed note: this was originally posted on the CFPB's blog. When I was at Fort Drum, \nNY last week I heard from a military spouse who said her family has been \nseparated for four years – partly because of deployments but also because they \ncan't sell their house. At the same meeting an officer told me that he is ...",
           "htmlSnippet": "Mar 6, 2012 \u003cb\u003e...\u003c/b\u003e Ed note: this was originally posted on the CFPB&#39;s blog. When I was at Fort Drum, \u003cbr\u003e\nNY last week I heard from a military spouse who said her family has been \u003cbr\u003e\nseparated for four years – partly because of deployments but also because they \u003cbr\u003e\ncan&#39;t sell their house. At the same meeting an officer told me that he is&nbsp;...",
           "cacheId": "x9TONaCD74YJ",
           "formattedUrl": "https://www.whitehouse.gov/blog/2012/.../help-military-homeowners",
           "htmlFormattedUrl": "https://www.whitehouse.gov/blog/2012/.../help-\u003cb\u003emilit\u003c/b\u003eary-homeowners",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "225",
              "height": "225",
              "src": "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQf1pJsP7x33qEM9rfkXOdZN6JCvjGc3FZ7WWmY-z0aYynW2H494ukz4jfm"
             }
            ],
            "metatags": [
             {
              "msapplication-square150x150logo": "https://obamawhitehouse.archives.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-150x150.png",
              "msapplication-square70x70logo": "https://obamawhitehouse.archives.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-70x70.png",
              "msapplication-wide310x150logo": "https://obamawhitehouse.archives.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-310x150.png",
              "msapplication-square310x310logo": "https://obamawhitehouse.archives.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-310x310.png",
              "msapplication-tileimage": "https://obamawhitehouse.archives.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-70x70.png",
              "msapplication-tilecolor": "#003C80",
              "msapplication-config": "https://obamawhitehouse.archives.gov/profiles/forall/themes/custom/fortyfour/browserconfig.xml",
              "application-name": "Whitehouse",
              "og:site_name": "whitehouse.gov",
              "og:type": "article",
              "og:url": "https://obamawhitehouse.archives.gov/blog/2012/03/06/help-military-homeowners",
              "og:title": "Help for Military Homeowners",
              "og:description": "Important protections for military homeowners were included in the recent settlement between the Federal government, 49 state Attorneys General, and five of the largest mortgage loan servicers",
          [...]
