---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=scientost%20(site:www100.whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 508404787B9F40D3963F69075167B618
      X-Msedge-Clientid:
      - 06D4BB9A9881626B068BB09B99166372
      X-Msapi-Userstate:
      - 4bae
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=72BAA70300CB4105BB57229CB2D452E5&CID=06D4BB9A9881626B068BB09B99166372&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=72BAA70300CB4105BB57229CB2D452E5&CID=06D4BB9A9881626B068BB09B99166372&Type=Event.CPT&DATA=0"},
        "rankingResponse": {"mainline": {"items": [{"answerType": "DictionaryWords"}]}}}'
  recorded_at: Mon, 18 Sep 2017 19:51:45 GMT
recorded_with: VCR 3.0.3
