---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=militry%20(site:www.whitehouse.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6A2714316AC6426C9A0FEAEA723A7D19
      X-Msedge-Clientid:
      - 147431069ED666B92A793D5E9FD967AB
      X-Msapi-Userstate:
      - 2a85
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9917B7D46D7D4AD49AE4E7409C40CEE5&CID=147431069ED666B92A793D5E9FD967AB&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9917B7D46D7D4AD49AE4E7409C40CEE5&CID=147431069ED666B92A793D5E9FD967AB&Type=Event.CPT&DATA=0"},
        "queryContext": {"originalQuery": "militry (site:www.whitehouse.gov\/)", "alteredQuery":
        "military", "alterationOverrideQuery": "+militry (site:www.whitehouse.gov\/)",
        "adultIntent": false}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=militry+(site%3awww.whitehouse.gov%2f)",
        "webSearchUrlPingSuffix": "DevEx,5392.1", "totalEstimatedMatches": 335000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Executive Order Enhancing Noncompetitive Civil Service ...", "url": "https:\/\/www.whitehouse.gov\/presidential-actions\/executive-order-enhancing-noncompetitive-civil-service-appointments-military-spouses\/",
        "urlPingSuffix": "DevEx,5057.1", "displayUrl": "https:\/\/www.whitehouse.gov\/presidential-actions\/executive-order...",
        "snippet": "Section 1. Definitions. (a) “Military spouse” means: (i) the husband
        or wife of a member of the Armed Forces who, as determined by the Secretary
        of Defense, is performing active duty pursuant to orders that authorize a
        permanent change of station move, if such husband or wife ...", "dateLastCrawled":
        "2018-08-19T10:45:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Military Spouses in the Labor Market - whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/wp-content\/uploads\/2018\/05\/Military-Spouses-in-the-Labor-Market.pdf",
        "urlPingSuffix": "DevEx,5068.1", "displayUrl": "https:\/\/www.whitehouse.gov\/wp-content\/uploads\/2018\/05\/Military...",
        "snippet": "CEA • Military Spouses in the Labor Market 2 average American
 [...]
