---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=militry%20site:www.whitehouse.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/dQ6MQlPca7laflHVkmSswLUlCHM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - militry site:www.whitehouse.gov",
            "totalResults": "2",
            "searchTerms": "militry site:www.whitehouse.gov",
            "count": 2,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.365987,
          "formattedSearchTime": "0.37",
          "totalResults": "2",
          "formattedTotalResults": "2"
         },
         "spelling": {
          "correctedQuery": "military site:www.whitehouse.gov",
          "htmlCorrectedQuery": "\u003cb\u003e\u003ci\u003emilitary\u003c/i\u003e\u003c/b\u003e site:www.whitehouse.gov"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "President Obama Nominates New Military Leadership: Generals Joe ...",
           "htmlTitle": "President Obama Nominates New Military Leadership: Generals Joe ...",
           "link": "https://www.whitehouse.gov/blog/2015/05/05/president-obama-nominates-new-military-leadership-generals-joe-dunford-and-paul-selv",
           "displayLink": "www.whitehouse.gov",
           "snippet": "May 5, 2015 ... President Barack Obama delivers remarks announcing Gen. Joseph F. Dunford, \nJr. as the nominee for Chairman of the Joint Chiefs of Staff and ...",
           "htmlSnippet": "May 5, 2015 \u003cb\u003e...\u003c/b\u003e President Barack Obama delivers remarks announcing Gen. Joseph F. Dunford, \u003cbr\u003e\nJr. as the nominee for Chairman of the Joint Chiefs of Staff and&nbsp;...",
           "cacheId": "frW-znzLuKMJ",
           "formattedUrl": "https://www.whitehouse.gov/.../president-obama-nominates-new-military- leadership-generals-joe-dunford-and-paul-selv",
           "htmlFormattedUrl": "https://www.whitehouse.gov/.../president-obama-nominates-new-military- leadership-generals-joe-dunford-and-paul-selv",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "192",
              "height": "192",
              "src": "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRrSnIRZuw_I5-gwbFInkvvfsHCfqRO8K6MUgg31eZl71Wiy4Fyze59vhmD"
             }
            ],
            "Item": [
             {
              "title": "Watch President Obama's final State of the Union address.",
              "num_replies": "0"
             },
             {
              "title": "Read what the President is looking for in his next Supreme Court nominee.",
              "num_replies": "0"
             },
             {
              "title": "Take a look at America's three newest national monuments.",
              "num_replies": "0"
             }
            ],
            "metatags": [
             {
              "msapplication-square150x150logo": "https://obamawhitehouse.archives.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-150x150.png",
              "msapplication-square70x70logo": "https://obamawhitehouse.archives.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-70x70.png",
              "msapplication-wide310x150logo": "https://obamawhitehouse.archives.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-310x150.png",
              "msapplication-square310x310logo": "https://obamawhitehouse.archives.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-310x310.png",
              "msapplication-tileimage": "https://obamawhitehouse.archives.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-70x70.png",
              "msapplication-tilecolor": "#003C80",
              "msapplication-config": "https://obamawhitehouse.archives.gov/profiles/forall/themes/custom/fortyfour/browserconfig.xml",
              "application-name": "Whitehouse",
              "og:site_name": "whitehouse.gov",
              "og:type": "article",
              "og:url": "https://obamawhitehouse.archives.gov/blog/2015/05/05/president-obama-nominates-new-military-leadership-generals-joe-dunford-and-paul-selv",
              "og:title": "President Obama Nominates New Military Leadership: Generals Joe Dunford and Paul Selva",
              "og:description": "President Obama nominates a new Joint Chiefs of Staff Chairman and Vice Chairman.",
   [...]
