---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=scientost%20(site:www100.whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E11435B698B64998A460399BF5A374D7
      X-Msedge-Clientid:
      - 0AB427CA9562654318D12D0994F56468
      X-Msapi-Userstate:
      - 5a5d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D6A97DEF2A124D2E9E5A9B1A42291EF3&CID=0AB427CA9562654318D12D0994F56468&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D6A97DEF2A124D2E9E5A9B1A42291EF3&CID=0AB427CA9562654318D12D0994F56468&Type=Event.CPT&DATA=0"},
        "rankingResponse": {"mainline": {"items": [{"answerType": "DictionaryWords"}]}}}'
  recorded_at: Tue, 18 Jul 2017 17:48:38 GMT
recorded_with: VCR 3.0.3
