---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=militry%20(site:www.whitehouse.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 06A80C738F47466EB4511BE9F71FEBEA
      X-Msedge-Clientid:
      - 3694FAB4A386681704FCEA10A27B697A
      X-Msapi-Userstate:
      - 3a22
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B492150AB64640B892C189630D53BF2B&CID=3694FAB4A386681704FCEA10A27B697A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B492150AB64640B892C189630D53BF2B&CID=3694FAB4A386681704FCEA10A27B697A&Type=Event.CPT&DATA=0"},
        "queryContext": {"originalQuery": "militry (site:www.whitehouse.gov\/)", "alteredQuery":
        "military", "alterationOverrideQuery": "+militry (site:www.whitehouse.gov\/)",
        "adultIntent": false}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=militry+(site%3awww.whitehouse.gov%2f)",
        "webSearchUrlPingSuffix": "DevEx,5439.1", "totalEstimatedMatches": 224000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Readout of White House Meeting with Veteran and Military ...", "url": "https:\/\/www.whitehouse.gov\/briefing-room\/statements-releases\/2021\/08\/27\/readout-of-white-house-meeting-with-veteran-and-military-family-organizations\/",
        "urlPingSuffix": "DevEx,5065.1", "displayUrl": "https:\/\/www.whitehouse.gov\/briefing-room\/statements-releases\/2021\/08\/27\/readout-of...",
        "snippet": "Readout of White. House Meeting with Veteran and Military Family
        Organizations. August 27, 2021 • Statements and Releases. Today, Secretary
        of Veterans Affairs Dennis McDonough, Senior Advisor ...", "dateLastCrawled":
        "2021-08-27T23:28:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Statement by President Joe Biden on the Evacuation Mission ...",
        "url": "https:\/\/www.whitehouse.gov\/briefing-room\/statements-releases\/2021\/08\/28\/statement-by-president-joe-biden-on-the-evacuation-mission-in-kabul\/",
        "urlPingSuffix": "DevEx,5081.1", "displayUrl": "https:\/\/www.whitehouse.gov\/briefing-room\/statements-releases\/2021\/08\/28\/statement-by.[...]
