---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=scientost%20(site:www100.whitehouse.gov/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - '09A7686795B443F5AE7AACDF5C87D7B2'
      X-Msedge-Clientid:
      - 2258BAC29FE068543671B1499E4F69E1
      X-Msapi-Userstate:
      - 33ee
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=62115170E0AD466AB78E6AE1AE3C2822&CID=2258BAC29FE068543671B1499E4F69E1&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=62115170E0AD466AB78E6AE1AE3C2822&CID=2258BAC29FE068543671B1499E4F69E1&Type=Event.CPT&DATA=0"},
        "rankingResponse": {"mainline": {"items": [{"answerType": "DictionaryWords"}]}}}'
  recorded_at: Sat, 03 Feb 2018 23:31:10 GMT
recorded_with: VCR 4.0.0
