---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=scientost%20(site:www100.whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E4808A13E0CD49768F9796E8DC7D6C57
      X-Msedge-Clientid:
      - 2CC292DAB1E4670A374498E0B07366D4
      X-Msapi-Userstate:
      - ac86
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=22BD50F2B1654C3DBC267A13ED366FCF&CID=2CC292DAB1E4670A374498E0B07366D4&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=22BD50F2B1654C3DBC267A13ED366FCF&CID=2CC292DAB1E4670A374498E0B07366D4&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Fri, 03 Mar 2017 23:46:41 GMT
recorded_with: VCR 3.0.3
