---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=scientost%20(site:www100.whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E66D51273385433D811B851FF3950C16
      X-Msedge-Clientid:
      - 19E30873786864BA1E8502CC79FF65FE
      X-Msapi-Userstate:
      - 9e87
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E1DDF40E1592433EBDA2A1B6F6D13F00&CID=19E30873786864BA1E8502CC79FF65FE&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E1DDF40E1592433EBDA2A1B6F6D13F00&CID=19E30873786864BA1E8502CC79FF65FE&Type=Event.CPT&DATA=0"},
        "rankingResponse": {"mainline": {"items": [{"answerType": "DictionaryWords"}]}}}'
  recorded_at: Fri, 14 Jul 2017 16:22:30 GMT
recorded_with: VCR 3.0.3
