---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=scientost%20(site:www100.whitehouse.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - F44B617093534A7E8E8E9D8DBFC408AB
      Bingapis-Sessionid:
      - 4AC82E0DFD8A41CB9A87E8B79797CC95
      X-Msedge-Clientid:
      - 299EABF4FBBE69FB01CABB50FA0E689E
      X-Msapi-Userstate:
      - e14c
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=196,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "scientost
        (site:www100.whitehouse.gov\/)"}, "rankingResponse": {}}'
  recorded_at: Tue, 31 Aug 2021 20:33:24 GMT
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=scientost%20(site:www100.whitehouse.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 9FBCF8AB3C224E6BA13A3CCECFCC7D9F
      Bingapis-Sessionid:
      - EF949ADB0C6C40BC9359FA38A4A5E2AD
      X-Msedge-Clientid:
      - 39A1E486FD366EA831E3F44EFCCB6F06
      X-Msapi-Userstate:
      - '3675'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=250,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "scientost
        (site:www100.whitehouse.gov\/)"}, "rankingResponse": {}}'
  recorded_at: Wed, 06 Oct 2021 04:34:46 GMT
recorded_with: VCR 6.0.0
