---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=scientost%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2AD175CD29D3459CB6C40EDC7A964F14
      X-Msedge-Clientid:
      - 34B773D5FF8E6A0B3C91786CFED16B83
      X-Msapi-Userstate:
      - 33e8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "ErrorResponse", "errors": [{"code": "InvalidAuthorization",
        "message": "Invalid authorization credentials."}]}'
  recorded_at: Wed, 21 Mar 2018 21:42:56 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=scientost%20(site:www100.whitehouse.gov/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 58FA2FC1E1034496963C3F2B7D5EF8C2
      X-Msedge-Clientid:
      - 299076041BF66EF725D77DBD1AA96FD6
      X-Msapi-Userstate:
      - 93d5
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "ErrorResponse", "errors": [{"code": "InvalidAuthorization",
        "message": "Invalid authorization credentials."}]}'
  recorded_at: Wed, 21 Mar 2018 21:43:54 GMT
recorded_with: VCR 4.0.0
