---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=scientost%20(site:www100.whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7F74F5FE86D6432AA41D06D4FC14743D
      X-Msedge-Clientid:
      - 05D70CA898DA624D396B0691994D63C8
      X-Msapi-Userstate:
      - d37c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=0D00ABEEE2C1447584018285D2C35F27&CID=05D70CA898DA624D396B0691994D63C8&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=0D00ABEEE2C1447584018285D2C35F27&CID=05D70CA898DA624D396B0691994D63C8&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 02 Mar 2017 19:53:29 GMT
recorded_with: VCR 3.0.3
