---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=scientost%20(site:www100.whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C539002F82D546DABA7484931831D129
      X-Msedge-Clientid:
      - 0CC2413397486439290C4A3B96DF6564
      X-Msapi-Userstate:
      - dd31
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1C0DD944F3394A67BEC2178F4FB38A97&CID=0CC2413397486439290C4A3B96DF6564&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1C0DD944F3394A67BEC2178F4FB38A97&CID=0CC2413397486439290C4A3B96DF6564&Type=Event.CPT&DATA=0"},
        "rankingResponse": {"mainline": {"items": [{"answerType": "DictionaryWords"}]}}}'
  recorded_at: Mon, 25 Sep 2017 16:53:17 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=scientost%20(site:www100.whitehouse.gov/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 23BCEEAEF52B4DD48D4FF015F757B018
      X-Msedge-Clientid:
      - 0426ADF4F82663E91404A690F989626E
      X-Msapi-Userstate:
      - d9fe
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=AD66C6FFCDCC4B9DB8D11A5ABCB005AB&CID=0426ADF4F82663E91404A690F989626E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=AD66C6FFCDCC4B9DB8D11A5ABCB005AB&CID=0426ADF4F82663E91404A690F989626E&Type=Event.CPT&DATA=0"},
        "rankingResponse": {"mainline": {"items": [{"answerType": "DictionaryWords"}]}}}'
  recorded_at: Tue, 26 Dec 2017 21:10:52 GMT
recorded_with: VCR 3.0.3
