---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=scientost%20(site:www100.whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 748116DC70974252AE3459864FAF7785
      X-Msedge-Clientid:
      - 392667DC61416F1835CB6CDD60D66E71
      X-Msapi-Userstate:
      - 60a0
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=828CB37C0D184788AC61F51B1C1C242A&CID=392667DC61416F1835CB6CDD60D66E71&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=828CB37C0D184788AC61F51B1C1C242A&CID=392667DC61416F1835CB6CDD60D66E71&Type=Event.CPT&DATA=0"},
        "rankingResponse": {"mainline": {"items": [{"answerType": "DictionaryWords"}]}}}'
  recorded_at: Mon, 18 Sep 2017 19:51:45 GMT
recorded_with: VCR 3.0.3
