---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=scientost%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0A554A235C4F4B3FA02DCBBCF79F3F1B
      X-Msedge-Clientid:
      - '00960B1BD8CD65B305F500A2D99264B5'
      X-Msapi-Userstate:
      - 42b9
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "ErrorResponse", "errors": [{"code": "InvalidAuthorization",
        "message": "Invalid authorization credentials."}]}'
  recorded_at: Wed, 21 Mar 2018 21:42:56 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=scientost%20(site:www100.whitehouse.gov/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 16D0C27495E74EE8BF0E01921E0B834E
      X-Msedge-Clientid:
      - '038D673B2B7C6DA0259B6C822A236CE7'
      X-Msapi-Userstate:
      - d582
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "ErrorResponse", "errors": [{"code": "InvalidAuthorization",
        "message": "Invalid authorization credentials."}]}'
  recorded_at: Wed, 21 Mar 2018 21:43:55 GMT
recorded_with: VCR 4.0.0
