---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=scientost%20(site:www100.whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 55F7C01FDA2E43299A72617590D4E2E6
      X-Msedge-Clientid:
      - 2346C0FEB67B6FB70D75CBF6B7EC6E3C
      X-Msapi-Userstate:
      - 7eb6
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8DDEB5EF51504C939FABA0EF7F9920B5&CID=2346C0FEB67B6FB70D75CBF6B7EC6E3C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8DDEB5EF51504C939FABA0EF7F9920B5&CID=2346C0FEB67B6FB70D75CBF6B7EC6E3C&Type=Event.CPT&DATA=0"},
        "rankingResponse": {"mainline": {"items": [{"answerType": "DictionaryWords"}]}}}'
  recorded_at: Mon, 25 Sep 2017 16:53:18 GMT
recorded_with: VCR 3.0.3
