---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=militry%20(site:www.whitehouse.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 65b2edfbd95f4656b9fc20d4f166b3d6
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 65b2edfbd95f4656b9fc20d4f166b3d6
      Bingapis-Sessionid:
      - 84FF3533A2984846801587D18E90B2BF
      X-Msedge-Clientid:
      - 1FABBD264F1466A31F76A9374E176783
      X-Msapi-Userstate:
      - '2878'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=248,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "militry
        (site:www.whitehouse.gov\/)", "alteredQuery": "military", "alterationDisplayQuery":
        "military", "alterationOverrideQuery": "+militry (site:www.whitehouse.gov\/)",
        "adultIntent": false}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=militry+(site%3awww.whitehouse.gov%2f)",
        "totalEstimatedMatches": 43100, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Joining Forces: A Look Back at 2023 - The White House", "url": "https:\/\/www.whitehouse.gov\/joiningforces\/blog\/2024\/01\/23\/joining-forces-a-look-back-at-2023\/",
        "datePublished": "2024-01-23T00:00:00.0000000", "datePublishedFreshnessText":
        "2 days ago", "isFamilyFriendly": <DATADOG_API_ENABLED>, "displayUrl": "https:\/\/www.whitehouse.gov\/joiningforces\/blog\/2024\/01\/23\/joining-forces-a-look-back-at...",
        "snippet": "By Sheila Casey, Executive Director of Joining Forces As we begin
        a new year, we reflect on Joining Forces’ continuing efforts to support military
        and veteran families, caregivers, and survivors ...", "dateLastCrawled": "2024-01-23T17:50:00.0000000Z",
        "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=militry+(site%3awww.whitehouse.gov%2f)&d=4041224891292&mkt=en-US&setlang=en-US&w=QpIyShp1TEpaGtXlwE3e-cQveFLDB7xO",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Joining Forces | The White House", "url": "https:\/\/www.whitehouse.gov\/joiningforces\/",
        "datePublished": "2021-04-07T00:00:00.0000000", "datePublishedDisplayText":
        "Apr 7, 2021", "isFamilyFriendly": <DATADOG_API_ENABLED>, "displayUrl": "https:\/\/www.whitehouse.gov\/joiningforces",
        "snippet": "The Military Crisis Line is staffed by caring, qualified responders,
        many of whom are veterans and understand the challenges that members of the
        military and their families face. Call 1-800-273 ...", "dateLastCrawled":
        "2024-01-23T06:07:00.0000000Z", "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=militry+(site%3awww.whi[...]
