.boosted-sites
  %h1 Edit Best Bets: Text Entry
.edit-boosted-content
  = form_for([:admin, @boosted_content]) do |f|
    = render :partial => 'shared/boosted_contents/form', :locals => { :form => f }
    = f.submit "Update"
    = link_to "Cancel", admin_boosted_contents_path, :class => 'cancel'
