.no-result-error{
  color: #3D4551;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 162%;
}

.additional-guidance-text{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 1rem;
}

.search-tips{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 1rem;
}

.search-tips-label{
  font-weight: 700;
}

.no-results-pages-alt-links ul{
  margin-top: 0.25rem;
  padding-left: 1.5rem;
}
