---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - EDBC2A2B6E9F4F3895B1727F4EC6C5B4
      X-Msedge-Clientid:
      - 2389E356D1E6665307A7E96CD07167D7
      X-Msapi-Userstate:
      - 3f59
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8DC4CB58BBA3431483C6F5A9BA4CB8A5&CID=2389E356D1E6665307A7E96CD07167D7&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8DC4CB58BBA3431483C6F5A9BA4CB8A5&CID=2389E356D1E6665307A7E96CD07167D7&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Fri, 03 Mar 2017 23:47:10 GMT
recorded_with: VCR 3.0.3
