---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 460B21929DBC49AE8EDC0E1949DE74A7
      X-Msedge-Clientid:
      - '0594BA3427156F981BF7B1BF26BA6E0A'
      X-Msapi-Userstate:
      - '5120'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=483EACCA7B5F4C0BB0FF4E26560AA189&CID=0594BA3427156F981BF7B1BF26BA6E0A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=483EACCA7B5F4C0BB0FF4E26560AA189&CID=0594BA3427156F981BF7B1BF26BA6E0A&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Sat, 03 Feb 2018 23:31:28 GMT
recorded_with: VCR 4.0.0
