---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1C9317869315405B97155990A2DA620D
      X-Msedge-Clientid:
      - 318FD752A0166C1D3651DB0AA1196D9F
      X-Msapi-Userstate:
      - '1959'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=6772C5EBAB4547BABCF0C6D3F994CFF4&CID=318FD752A0166C1D3651DB0AA1196D9F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=6772C5EBAB4547BABCF0C6D3F994CFF4&CID=318FD752A0166C1D3651DB0AA1196D9F&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 27 Aug 2018 00:04:45 GMT
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7B9D3E6F792C48B18A9D7A2A3F37CA6A
      Bingapis-Sessionid:
      - 9E7ED5A3AC5440F59FF97D6F113AB605
      X-Msedge-Clientid:
      - 361657E2FD606FAA00995B18FC2C6EBE
      X-Msapi-Userstate:
      - 47f9
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=188,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "english
        (site:nonsense.gov)"}, "rankingResponse": {}}'
  recorded_at: Tue, 05 Feb 2019 21:33:58 GMT
recorded_with: VCR 4.0.0
