---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1DFD8C6F429944E3BB868B8EE01CCB2C
      X-Msedge-Clientid:
      - '006809E6BFCC643D003F02EEBE5B65BB'
      X-Msapi-Userstate:
      - c391
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=84CCCC403A5445A6B7ADF5CA3E32923B&CID=006809E6BFCC643D003F02EEBE5B65BB&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=84CCCC403A5445A6B7ADF5CA3E32923B&CID=006809E6BFCC643D003F02EEBE5B65BB&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 25 Sep 2017 16:53:42 GMT
recorded_with: VCR 3.0.3
