---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - DD16088B0D8A4273BE490047256BB9A4
      X-Msedge-Clientid:
      - 2CC7963E8DC9682B1C9D9C5C8C5E6914
      X-Msapi-Userstate:
      - 32c8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=2F258F5AA868451690229F5F741E12B1&CID=2CC7963E8DC9682B1C9D9C5C8C5E6914&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=2F258F5AA868451690229F5F741E12B1&CID=2CC7963E8DC9682B1C9D9C5C8C5E6914&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 12 Apr 2017 20:43:14 GMT
recorded_with: VCR 3.0.3
