---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0ADF84C664504D3AA24C889C42F1AD58
      X-Msedge-Clientid:
      - 2E0C1B9667086A9B3C13101066A76B49
      X-Msapi-Userstate:
      - 24fa
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DEA21AD7B58C4481B0A8C77C7EA076A1&CID=2E0C1B9667086A9B3C13101066A76B49&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DEA21AD7B58C4481B0A8C77C7EA076A1&CID=2E0C1B9667086A9B3C13101066A76B49&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 29 Jan 2018 19:04:30 GMT
recorded_with: VCR 3.0.3
