---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 8C71479CCD41436E9294280B0228F769
      Bingapis-Sessionid:
      - 1C5E840DB62F4C90982E0E570006ADC8
      X-Msedge-Clientid:
      - 00F2318FF5CF647B0230212BF4BA653F
      X-Msapi-Userstate:
      - 0ea4
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=134,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "english
        (site:nonsense.gov)"}, "rankingResponse": {}}'
  recorded_at: Tue, 31 Aug 2021 20:30:53 GMT
recorded_with: VCR 4.0.0
