---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 56EF4A91F09B4AD0AA2C8AD53617E7B7
      X-Msedge-Clientid:
      - 1D6441C9FE4964BD01614A57FFAC6519
      X-Msapi-Userstate:
      - 02b6
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=EBF73B2E47EC47738B179E902D1C50E4&CID=1D6441C9FE4964BD01614A57FFAC6519&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=EBF73B2E47EC47738B179E902D1C50E4&CID=1D6441C9FE4964BD01614A57FFAC6519&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 22 Feb 2018 07:08:47 GMT
recorded_with: VCR 4.0.0
