---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5B1CE4D9C1AE4EF6A33ED597758209BB
      X-Msedge-Clientid:
      - 2ABDE9ABF6BC6B722409E39AF78D6A48
      X-Msapi-Userstate:
      - '3769'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=312255529A8542C88752DA9317691AFB&CID=2ABDE9ABF6BC6B722409E39AF78D6A48&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=312255529A8542C88752DA9317691AFB&CID=2ABDE9ABF6BC6B722409E39AF78D6A48&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 22 Feb 2017 21:46:21 GMT
recorded_with: VCR 3.0.3
