---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - BD671BAF450F47D0823CBA8D934F2150
      X-Msedge-Clientid:
      - 1278DFD4A369638E2114D4D5A2FE62F0
      X-Msapi-Userstate:
      - affa
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B8C747392CDB4FE8AB5A5DF9BE202B67&CID=1278DFD4A369638E2114D4D5A2FE62F0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B8C747392CDB4FE8AB5A5DF9BE202B67&CID=1278DFD4A369638E2114D4D5A2FE62F0&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 18 Sep 2017 19:52:11 GMT
recorded_with: VCR 3.0.3
