---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=healthy%20snack%20-kittens%20(chili%20OR%20cheese%20OR%20fries)%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/tvSPJRw6tUCjsqnjpfcA8WecnVI"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - healthy snack -kittens (chili OR cheese OR fries) site:usa.gov",
            "totalResults": "174",
            "searchTerms": "healthy snack -kittens (chili OR cheese OR fries) site:usa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - healthy snack -kittens (chili OR cheese OR fries) site:usa.gov",
            "totalResults": "174",
            "searchTerms": "healthy snack -kittens (chili OR cheese OR fries) site:usa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.193361,
          "formattedSearchTime": "0.19",
          "totalResults": "174",
          "formattedTotalResults": "174"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "How to Use Fruits and Vegetables to Help Manage Your Weight ...",
           "htmlTitle": "How to Use Fruits and Vegetables to Help Manage Your Weight ...",
           "link": "http://1.usa.gov/1exqTki",
           "displayLink": "1.usa.gov",
           "snippet": "Nov 9, 2015 ... There are many different ways to lose or maintain a healthy weight. ... add \nvolume and flavor to the dish with fewer calories than the egg or cheese. ... \nChoosing most fruits and vegetables will allow you to eat a snack with only ...",
           "htmlSnippet": "Nov 9, 2015 \u003cb\u003e...\u003c/b\u003e There are many different ways to lose or maintain a \u003cb\u003ehealthy\u003c/b\u003e weight. ... add \u003cbr\u003e\nvolume and flavor to the dish with fewer calories than the egg or \u003cb\u003echeese\u003c/b\u003e. ... \u003cbr\u003e\nChoosing most fruits and vegetables will allow you to eat a \u003cb\u003esnack\u003c/b\u003e with only&nbsp;...",
           "cacheId": "UQQmdR3EkP4J",
           "formattedUrl": "1.usa.gov/1exqTki",
           "htmlFormattedUrl": "1.usa.gov/1exqTki",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "180",
              "height": "170",
              "src": "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRCCbmHXs6S4wSY3vR9DjD719cvJnPt6HiDdT-TYV90NR1wxm5IVPhjEf37"
             }
            ],
            "organization": [
             {
              "telephone": "800-CDC-INFO (800-232-4636)"
             }
            ],
            "postaladdress": [
             {
              "streetaddress": "1600 Clifton Road",
              "addresslocality": "Atlanta",
              "addressregion": "GA",
              "postalcode": "30329-4027",
              "addresscountry": "USA"
             }
            ],
            "contactpoint": [
             {
              "url": "Email CDC-INFO"
             },
             {
              "url": "U.S. Department of Health & Human Services"
             },
             {
              "url": "HHS/Open"
             },
             {
              "url": "USA.gov"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1",
              "cdc:template_version": "3.0",
              "cdc:content-id": "737905",
              "cdc:revision-id": "12",
              "application-name": "CDC.gov",
              "msapplication-tilecolor": "#0061aa",
              "msapplication-square70x70logo": "/TemplatePackage/3.0/images/Win8_tile_70x70.png",
              "msapplication-square150x150logo": "/TemplatePackage/3.0/images/Win8_tile_150x150.png",
              "msapplication-wide310x150logo": "/TemplatePackage/3.0/images/Win8_tile_310x150.png",
              "msapplication-square310x310logo": "/TemplatePackage/3.0/images/Win8_tile_310x310.png"
             }
            ],
            "webpage": [
             {
              "lastreviewed": "November 9, 2015",
              "datemodified": "November 9, 2015"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.cdc.gov/healthyweight/images/healthy-eating/soups.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Charger Wrap (Chicken Veggie Cheese Wrap) | Video | Kids.gov ...",
           "htmlTitle": "Charger Wrap (Chicken Veggie \u003cb\u003eCheese\u003c/b\u003e Wrap) | Video | Kids.gov ...",
           "link": "https://kids.usa.gov/watch-videos/exercise-and-eating-healthy/chicken-veggie-wrap/index.shtml",
           "displayLink": "kids.usa.gov",
           "snippet": "Mar 20, 2015 ... Healthy Snack #2: Charger Wrap. Date: March 20 ... Video description: \nIngredients and steps to prepare a chicken, veggie and cheese wrap.",
           "htmlSnippet": "Mar 20, 2015 \u003cb\u003e...\u003c/b\u003e \u003cb\u003eHealthy Snack\u003c/b\u003e #2: Charger Wrap. Date: March 20 ... Video description: \u003cbr\u003e\nIngredients and steps to prepare a chicken, veggie and \u003cb\u003echeese\u003c/b\u003e wrap.",
           "cacheId": "Yo6bgVa-yB4J",
           "formattedUrl": "https://kids.usa.gov/watch-videos/...eating-healthy/.../index.shtml",
           "htmlFormattedUrl": "https://kids.usa.gov/watch-videos/...\u003cb\u003eeating\u003c/b\u003e-\u003cb\u003ehealthy\u003c/b\u003e/.../index.shtml",
           "pagemap": {
            "Concept": [
             {
              "label": "Healthy Snack #2: Charger Wrap",
              "prefLabel": "Healthy Snack #2: Charger Wrap"
             }
            ],
            "cse_thumbnail": [
             {
              "width": "259",
              "height": "194",
              "src": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRftBjscSeXHOJiYicLNYun2z2A-X5-e-sYNz2WMMDtOyLJrT95VCs5yc"
             }
            ],
            "metatags": [
             {
              "rdfs:label skos:preflabel": "Healthy Snack #2: Charger Wrap"
             }
            ],
            "cse_[...]
