---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=healthy%20snack%20-kittens%20(chili%20OR%20cheese%20OR%20fries)%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/M_tGSLFBOKCX4I4aDEMVX-n68CU"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - healthy snack -kittens (chili OR cheese OR fries) site:usa.gov",
            "totalResults": "161",
            "searchTerms": "healthy snack -kittens (chili OR cheese OR fries) site:usa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - healthy snack -kittens (chili OR cheese OR fries) site:usa.gov",
            "totalResults": "161",
            "searchTerms": "healthy snack -kittens (chili OR cheese OR fries) site:usa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.299422,
          "formattedSearchTime": "0.30",
          "totalResults": "161",
          "formattedTotalResults": "161"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "How to Use Fruits and Vegetables to Help Manage Your Weight ...",
           "htmlTitle": "How to Use Fruits and Vegetables to Help Manage Your Weight ...",
           "link": "http://1.usa.gov/1exqTki",
           "displayLink": "1.usa.gov",
           "snippet": "Nov 9, 2015 ... There are many different ways to lose or maintain a healthy weight. ... add \nvolume and flavor to the dish with fewer calories than the egg or cheese. ... \nChoosing most fruits and vegetables will allow you to eat a snack with only ...",
           "htmlSnippet": "Nov 9, 2015 \u003cb\u003e...\u003c/b\u003e There are many different ways to lose or maintain a \u003cb\u003ehealthy\u003c/b\u003e weight. ... add \u003cbr\u003e\nvolume and flavor to the dish with fewer calories than the egg or \u003cb\u003echeese\u003c/b\u003e. ... \u003cbr\u003e\nChoosing most fruits and vegetables will allow you to eat a \u003cb\u003esnack\u003c/b\u003e with only&nbsp;...",
           "cacheId": "UQQmdR3EkP4J",
           "formattedUrl": "1.usa.gov/1exqTki",
           "htmlFormattedUrl": "1.usa.gov/1exqTki",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "225",
              "height": "213",
              "src": "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQg6P0p_IDzcLAnYbHd6sYkBN-ksDfhUBS3-znYf6XciCu5vO9V1UCQQLSi"
             }
            ],
            "organization": [
             {
              "telephone": "800-CDC-INFO (800-232-4636)"
             }
            ],
            "postaladdress": [
             {
              "streetaddress": "1600 Clifton Road",
              "addresslocality": "Atlanta",
              "addressregion": "GA",
              "postalcode": "30329-4027",
              "addresscountry": "USA"
             }
            ],
            "contactpoint": [
             {
              "url": "Email CDC-INFO"
             },
             {
              "url": "U.S. Department of Health & Human Services"
             },
             {
              "url": "HHS/Open"
             },
             {
              "url": "USA.gov"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1",
              "cdc:template_version": "3.0",
              "cdc:content-id": "737905",
              "cdc:revision-id": "12",
              "application-name": "CDC.gov",
              "msapplication-tilecolor": "#0061aa",
              "msapplication-square70x70logo": "/TemplatePackage/3.0/images/Win8_tile_70x70.png",
              "msapplication-square150x150logo": "/TemplatePackage/3.0/images/Win8_tile_150x150.png",
              "msapplication-wide310x150logo": "/TemplatePackage/3.0/images/Win8_tile_310x150.png",
              "msapplication-square310x310logo": "/TemplatePackage/3.0/images/Win8_tile_310x310.png"
             }
            ],
            "webpage": [
             {
              "lastreviewed": "November 9, 2015",
              "datemodified": "November 9, 2015"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.cdc.gov/healthyweight/images/healthy-eating/soups.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Cutting Calories | Healthy Weight | CDC",
           "htmlTitle": "Cutting Calories | \u003cb\u003eHealthy\u003c/b\u003e Weight | CDC",
           "link": "http://1.usa.gov/1P7JZ4Z",
           "displayLink": "1.usa.gov",
           "snippet": "May 15, 2015 ... Y[...]
