= form.error_messages(:header_message => nil, :class => "error")
.basic-information
  %ul
    %li
      = form.label :domain, "Domain*"
      = form.text_field :domain, { :class => 'text', :maxlength => 255, :size => nil }