---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hdakfjd%3Bkljowaurei%3Bak%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 20C288E26C1540CA9D615A3831F49493
      X-Msedge-Clientid:
      - 00DFBF3DD0EC69A81269B4B1D1436810
      X-Msapi-Userstate:
      - 0ab5
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=7FF46CC8B9924910A8E9FDD58D32E963&CID=00DFBF3DD0EC69A81269B4B1D1436810&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=7FF46CC8B9924910A8E9FDD58D32E963&CID=00DFBF3DD0EC69A81269B4B1D1436810&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Sun, 04 Feb 2018 01:34:09 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hdakfjd%3Bkljowaurei%3Bak%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A939CDDCCBB940A68B844F2671CB5714
      X-Msedge-Clientid:
      - 2380C6CFBB2A613B0575CD43BA856027
      X-Msapi-Userstate:
      - 948a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E336F7AE4A1E4FD78C8481B80D2C7E85&CID=2380C6CFBB2A613B0575CD43BA856027&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E336F7AE4A1E4FD78C8481B80D2C7E85&CID=2380C6CFBB2A613B0575CD43BA856027&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Sun, 04 Feb 2018 01:34:10 GMT
recorded_with: VCR 4.0.0
