---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=hdakfjd%3Bkljowaurei%3Bak%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - B19DB27FF5FA407196DA0D2D7A55CBB8
      Bingapis-Sessionid:
      - DD8A1897BA0C440AB55FCA4D76E84BC5
      X-Msedge-Clientid:
      - 0FDB43EDB76562563F4C53CBB67763A9
      X-Msapi-Userstate:
      - c7ab
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=163,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "hdakfjd;kljowaurei;ak
        (site:gov OR site:mil)"}, "rankingResponse": {}}'
  recorded_at: Tue, 27 Apr 2021 16:37:44 GMT
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=hdakfjd%3Bkljowaurei%3Bak%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 651802221D2E49F38B2A2C116AD1C881
      Bingapis-Sessionid:
      - C684F79139A1490B85D6516BB6E35724
      X-Msedge-Clientid:
      - '09C9AD543ECF610C32ECBD723FDD60FB'
      X-Msapi-Userstate:
      - d143
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=116,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "hdakfjd;kljowaurei;ak
        (site:gov OR site:mil)"}, "rankingResponse": {}}'
  recorded_at: Tue, 27 Apr 2021 16:37:45 GMT
recorded_with: VCR 4.0.0
