---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hdakfjd%3Bkljowaurei%3Bak%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E2683494DE3B4449B3774064F9CD3D85
      X-Msedge-Clientid:
      - 0AA51C70EF3F650B387D16B3EEA86442
      X-Msapi-Userstate:
      - fb9a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=08A66372F3EA4C4E8D5D7B7C02B8BE98&CID=0AA51C70EF3F650B387D16B3EEA86442&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=08A66372F3EA4C4E8D5D7B7C02B8BE98&CID=0AA51C70EF3F650B387D16B3EEA86442&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 18 Jul 2017 17:56:32 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hdakfjd%3Bkljowaurei%3Bak%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5813F18BABB3442EA062A5B1F60F7124
      X-Msedge-Clientid:
      - 26D6CEA74A4D65B83D62C4644BDA64E2
      X-Msapi-Userstate:
      - a7ee
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E585CD99E1454EFE892F48F052514335&CID=26D6CEA74A4D65B83D62C4644BDA64E2&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E585CD99E1454EFE892F48F052514335&CID=26D6CEA74A4D65B83D62C4644BDA64E2&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 18 Jul 2017 17:56:36 GMT
recorded_with: VCR 3.0.3
