---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=hdakfjd%3Bkljowaurei%3Bak%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4E1C4E17C8E74D508D199499CAEF4195
      X-Msedge-Clientid:
      - 1343DD23880F64B32E57D6BD89EA6556
      X-Msapi-Userstate:
      - '2391'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=CE05255384BC4C5DB6744AE540C511CA&CID=1343DD23880F64B32E57D6BD89EA6556&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=CE05255384BC4C5DB6744AE540C511CA&CID=1343DD23880F64B32E57D6BD89EA6556&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 22 Feb 2018 07:15:03 GMT
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=hdakfjd%3Bkljowaurei%3Bak%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3BFB0C8EC3AF480DB62F76FBBB7B0FEF
      X-Msedge-Clientid:
      - 17859FC09F566DA20129936C9E816CF0
      X-Msapi-Userstate:
      - f55d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=489AF567FA894865A4A1E0F3E53AE00F&CID=17859FC09F566DA20129936C9E816CF0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=489AF567FA894865A4A1E0F3E53AE00F&CID=17859FC09F566DA20129936C9E816CF0&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 19 Nov 2018 22:38:45 GMT
[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=hdakfjd%3Bkljowaurei%3Bak%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1E229B04BCB04243B9CAAC73258A8912
      Bingapis-Sessionid:
      - 404E35C9A2F54F8E81E905789A750A79
      X-Msedge-Clientid:
      - 0EA039C13524675E249C353B346866DE
      X-Msapi-Userstate:
      - 11e2
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=143,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "hdakfjd;kljowaurei;ak
        (site:gov OR site:mil)"}, "rankingResponse": {}}'
  recorded_at: Tue, 05 Feb 2019 21:43:45 GMT
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=hdakfjd%3Bkljowaurei%3Bak%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1ED4E8DE31ED42168CED7688F9C04574
      Bingapis-Sessionid:
      - '075877089A1D402B9BE25E7FAD221C4F'
      X-Msedge-Clientid:
      - 0A4E83A112D560DB21588F5B139961E8
      X-Msapi-Userstate:
      - 21f2
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=75,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "hdakfjd;kljowaurei;ak
        (site:gov OR site:mil)"}, "rankingResponse": {}}'
  recorded_at: Tue, 05 Feb 2019 21:43:46 GMT
recorded_with: VCR 4.0.0
