---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2Fwhitehouse%2F&method=flickr.urls.lookupUser&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="***REMOVED***",
        oauth_nonce="x1guCJqsDI9vpE7b8o5nqhBRWeukasGTbVpoXcAQBDo%3D", oauth_signature="***REMOVED***%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1484067712", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user":{"id":"35591378@N03","username":{"_content":"The White House"}},"stat":"ok"}'
  recorded_at: Tue, 10 Jan 2017 17:01:52 GMT
recorded_with: VCR 3.0.3
