---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=hdakfjd%3Bkljowaurei%3Bak%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - C66E1C42626A418098749FED7B03A2C1
      Bingapis-Sessionid:
      - 0EB9B6AC3E704A6FABBC7170A79EAEA4
      X-Msedge-Clientid:
      - 0E9A51679463619E373641CC959E606B
      X-Msapi-Userstate:
      - ccf5
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=168,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "hdakfjd;kljowaurei;ak
        (site:gov OR site:mil)"}, "rankingResponse": {}}'
  recorded_at: Tue, 07 Sep 2021 16:15:37 GMT
[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=hdakfjd%3Bkljowaurei%3Bak%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - F15FD347517D4C7CB1339C2EF1C88C4B
      Bingapis-Sessionid:
      - E3BF9168CAAC4A88ACB4A50A07408CE2
      X-Msedge-Clientid:
      - 21C46E6AEAEA604933E37EA2EB5A61B4
      X-Msapi-Userstate:
      - 9e62
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=166,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "hdakfjd;kljowaurei;ak
        (site:gov OR site:mil)"}, "rankingResponse": {}}'
  recorded_at: Wed, 06 Oct 2021 15:35:02 GMT
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=hdakfjd%3Bkljowaurei%3Bak%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 3C89C7A77A0A462A8824BD47E8410F7B
      Bingapis-Sessionid:
      - 955E794127894237ADB136D661DFEC40
      X-Msedge-Clientid:
      - 32DC59F94A9669D3179249314B70687C
      X-Msapi-Userstate:
      - '9058'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=166,MSDatacenter=CH1B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "hdakfjd;kljowaurei;ak
        (site:gov OR site:mil)"}, "rankingResponse": {}}'
  recorded_at: Wed, 06 Oct 2021 15:35:04 GMT
recorded_with: VCR 6.0.0
