---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=hdakfjd%3Bkljowaurei%3Bak%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - C66E1C42626A418098749FED7B03A2C1
      Bingapis-Sessionid:
      - 0EB9B6AC3E704A6FABBC7170A79EAEA4
      X-Msedge-Clientid:
      - 0E9A51679463619E373641CC959E606B
      X-Msapi-Userstate:
      - ccf5
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=168,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "hdakfjd;kljowaurei;ak
        (site:gov OR site:mil)"}, "rankingResponse": {}}'
  recorded_at: Tue, 07 Sep 2021 16:15:37 GMT
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=hdakfjd%3Bkljowaurei%3Bak%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - A96771CB1A5545BB80582946DDA68BB8
      Bingapis-Sessionid:
      - 5E8E8E4D9F5F408DAA1D3A8F2BA3E220
      X-Msedge-Clientid:
      - '099F683943D86B6C3DF17892423E6AEC'
      X-Msapi-Userstate:
      - c019
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=170,MSDatacenter=CH1B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "hdakfjd;kljowaurei;ak
        (site:gov OR site:mil)"}, "rankingResponse": {}}'
  recorded_at: Tue, 07 Sep 2021 16:15:38 GMT
recorded_with: VCR 6.0.0
