---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Query='healthy%20snack%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 0
      message: 
    headers: {}
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 06 Feb 2017 23:48:45 GMT
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Query='healthy%20snack%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 0477f543-cf32-4175-a383-66771354a036
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Query=\u0027healthy
        snack (site:usa.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"5fb90165-d9b2-486f-ab4b-17d88cf2b06b","Title":"Peanut
        Butter and Apple Wrap | Video | Kids.gov | USAGov","Description":"Video Description:
        Ingredients and steps to prepare the \"Peanut Butter and Apple Wrap\" snack.
        Ingredients: Whole-wheat tortilla Peanut butter, sunflower seed butter ...","DisplayUrl":"https://kids.usa.gov/watch-videos/exercise-and-eating-healthy/...","Url":"https://kids.usa.gov/watch-videos/exercise-and-eating-healthy/peanut-butter-apple-wrap/index.shtml"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Query=\u0027healthy
        snack (site:usa.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"f846deab-023e-4a28-896b-caee1b187db0","Title":"Healthy
        Snack #2: Charger Wrap - USA.gov","Description":"Ingredients and steps to
        prepare a chicken veggie wrap snack.","Displ[...]
