---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=government%20(site:nps.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 8275F203C0F64BC696534D2A01EFDAA2
      Bingapis-Sessionid:
      - 80290A50C36444E49BBEC370D3BAE2E9
      X-Msedge-Clientid:
      - 0A40DF2B874C611B2F12CF7A865E6094
      X-Msapi-Userstate:
      - d96c
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=250,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "government
        (site:nps.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=government+(site%3anps.gov)",
        "totalEstimatedMatches": 2220000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Thoughts on Government - nps.gov", "url": "https:\/\/www.nps.gov\/inde\/upload\/Thoughts-on-Government-John-Adams-2.pdf",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.nps.gov\/inde\/upload\/Thoughts-on-Government-John-Adams-2.pdf",
        "snippet": "government which communicates ease, comfort, security, or, in
        one word, happiness, to the greatest number of persons, and in the greatest
        degree, is the best. All sober inquirers after truth, ancient and modern,
        pagan and Christian, have declared that", "dateLastCrawled": "2021-01-31T17:04:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "The Federal Civil Service and the Death of President James ...",
        "url": "https:\/\/www.nps.gov\/articles\/000\/the-federal-civil-service-and-the-death-of-president-james-a-garfield.htm",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.nps.gov\/articles\/000\/the-federal-civil-service-and-the-death-of-president...",
        "snippet": "The Federal bureaucracy had been growing sin[...]
