---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Query='healthy%20snack%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 79e251da-c3c7-48ef-98ce-0711e04be4f7
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Query=\u0027healthy
        snack (site:usa.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"c8d1b3a7-149f-4767-817d-3313a98ba3a1","Title":"Food
        and Nutrition | USA.gov","Description":"Food and Nutrition. Learn about nutrition,
        help to feed your family, and how to safely prepare food. Food Assistance.
        Find out how to get help buying nutritious food ...","DisplayUrl":"https://www.usa.gov/food-and-nutrition","Url":"https://www.usa.gov/food-and-nutrition"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Query=\u0027healthy
        snack (site:usa.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"31384ac7-cef5-42f6-8a0e-a79f5f7c78b6","Title":"Healthy
        Snack #5: Frozen Fruit Cups (Accessible Version ...","Description":"Ingredients
        and steps to make this fun frozen treat to keep you cool this summer.","DisplayUrl":"https://kids.[...]
