---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=highlight%20enabled&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/vbWS6SOqdgdcUF4KHw4TCQ_pTNU"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - highlight enabled",
            "totalResults": "377000",
            "searchTerms": "highlight enabled",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - highlight enabled",
            "totalResults": "377000",
            "searchTerms": "highlight enabled",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.333547,
          "formattedSearchTime": "0.33",
          "totalResults": "377000",
          "formattedTotalResults": "377,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Cellulose Nano-enabled Products: Applications and Volume Estimates",
           "htmlTitle": "Cellulose Nano-\u003cb\u003eenabled\u003c/b\u003e Products: Applications and Volume Estimates",
           "link": "https://www.fs.fed.us/research/highlights/highlights_display.php?in_high_id=578",
           "displayLink": "www.fs.fed.us",
           "snippet": "Dec 15, 2016 ... Individual Highlight. Cellulose Nano-enabled Products: Applications and Volume \nEstimates ... Laboratory (FPL). Year : 2014. Highlight ID : 578 ...",
           "htmlSnippet": "Dec 15, 2016 \u003cb\u003e...\u003c/b\u003e Individual \u003cb\u003eHighlight\u003c/b\u003e. Cellulose Nano-\u003cb\u003eenabled\u003c/b\u003e Products: Applications and Volume \u003cbr\u003e\nEstimates ... Laboratory (FPL). Year : 2014. \u003cb\u003eHighlight\u003c/b\u003e ID : 578&nbsp;...",
           "cacheId": "a0M2hCmb_hYJ",
           "formattedUrl": "https://www.fs.fed.us/research/highlights/highlights_display.php?...",
           "htmlFormattedUrl": "https://www.fs.fed.us/research/\u003cb\u003ehighlights\u003c/b\u003e/\u003cb\u003ehighlights\u003c/b\u003e_display.php?...",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "248",
              "height": "203",
              "src": "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQGOKRf96wA19ELnjwjLzPBTM7lOe1Qimr4AmImGkOXqEefkXxs4F1KnI7v"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.fs.usda.gov/research/products/images/2014/fullsize/fpl-2014-172.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Web-enabled Database for Center for Forest Mycology Research ...",
           "htmlTitle": "Web-\u003cb\u003eenabled\u003c/b\u003e Database for Center for Forest Mycology Research ...",
           "link": "https://www.fs.fed.us/research/highlights/h[...]
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=highlight%20enabled&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/AHWCjChZiKTaoncRNypruorPKI0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
    [...]
