---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=highlight%20enabled&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/gfP1nUMqj9xWWdrAtsTgSdDy090"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - highlight enabled",
            "totalResults": "402000",
            "searchTerms": "highlight enabled",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - highlight enabled",
            "totalResults": "402000",
            "searchTerms": "highlight enabled",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.3824,
          "formattedSearchTime": "0.38",
          "totalResults": "402000",
          "formattedTotalResults": "402,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "SAFER Web - Company Snapshot HIGHLIGHT MOTOR FREIGHT INC",
           "htmlTitle": "SAFER Web - Company Snapshot \u003cb\u003eHIGHLIGHT\u003c/b\u003e MOTOR FREIGHT INC",
           "link": "http://safer.fmcsa.dot.gov/query.asp?searchtype=ANY&query_type=queryCarrierSnapshot&query_param=USDOT&original_query_param=NAME&query_string=1622865&original_query_string=HIGHLIGHT",
           "displayLink": "safer.fmcsa.dot.gov",
           "snippet": "Entity Type: CARRIER. Operating Status: AUTHORIZED FOR Property, Out of \nService Date: None. Legal Name: HIGHLIGHT MOTOR FREIGHT INC. DBA \nName:.",
           "htmlSnippet": "Entity Type: CARRIER. Operating Status: AUTHORIZED FOR Property, Out of \u003cbr\u003e\nService Date: None. Legal Name: \u003cb\u003eHIGHLIGHT\u003c/b\u003e MOTOR FREIGHT INC. DBA \u003cbr\u003e\nName:.",
           "cacheId": "MlJxqJYfUeAJ",
           "formattedUrl": "safer.fmcsa.dot.gov/query.asp?...HIGHLIGHT",
           "htmlFormattedUrl": "safer.fmcsa.dot.gov/query.asp?...\u003cb\u003eHIGHLIGHT\u003c/b\u003e"
          },
          {
           "kind": "customsearch#result",
           "title": "Balloon (NASA World Wind)",
           "htmlTitle": "Balloon (NASA World Wind)",
           "link": "https://worldwind.arc.nasa.gov/java/latest/javadoc/gov/nasa/worldwind/render/Balloon.html",
           "displayLink": "worldwind.arc.nasa.gov",
           "snippet": "Get the highlight attributes. double, getMaxActiveAltitude() ... Is the balloon \nenabled for picking? boolean, isVisible() ... Set the balloon to be pick enabled or \nnot.",
           "htmlSnippet": "Get the \u003cb\u003ehighlight\u003c/b\u003e attributes. double, getMaxActiveAltitude() ... Is the balloon \u003cbr\u003e\n\u003cb\u003eenabled\u003c/b\u003e for picking? boolean, isVisible() ... Set the balloon to be pick \u003cb\u003eenabled\u003c/b\u003e or \u003cbr\u003e\nnot.",
           "cacheId": "jBmoGD6oCZQJ",
           "formattedUrl": "https://worldwind.arc.nasa.gov/java/latest/javadoc/.../Balloon.html",
           "htmlFormattedUrl": "https://worldwind.arc.nasa.gov/java/latest/javadoc/.../Balloon.html",
           "pagemap": {
            "metatags": [
             {
              "date": "2016-12-13"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Cellulose Nano-enabled Products: Applications and Volume Estimates",
           "htmlTitle": "Cellulose Nano-\u003cb\u003eenabled\u003c/b\u003e Products: Applications and Volume Estimates",
           "link": "https://www.fpl.fs.fed.us/research/highlights/highlight.php?high_id=578",
           "displayLink": "www.fpl.fs.fed.us",
           "snippet": "... A Difference · View all Research Highlights. Cellulose Nano-enabled Products: \nApplications and Volume Estimates ... Highlight ID: 578. Related Research ...",
           "htmlSnippet": "... A Difference &middot; View all Research \u003cb\u003eHighlights\u003c/b\u003e. Cellulose Nano-\u003cb\u003eenabled\u003c/b\u003e Products: \u003cbr\u003e\nApplications and Volume Estimates ... \u003cb\u003eHighlight\u003c/b\u003e ID: 578. Related Research&nbsp;...",
           "cacheId": "hh3SwpTUgkEJ",
           "formattedUrl": "https://www.fpl.fs.fed.us/research/highlights/highlight.php?high_id...",
           "htmlFormattedUrl": "https://www.fpl.fs.fed.us/research/\u003cb\u003ehighlights\u003c/b\u003e/\u003cb\u003ehighlight\u003c/b\u003e.php?high_id...",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "248",
              "height": "203",
              "src": "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQGOKRf96wA19ELnjwjLzPBTM7lOe1Qimr4AmImGkOXqEefkXxs4F1KnI7v"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1",
              "referrer": "always"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.fs.usda.gov/research/products/images/2014/fullsize/fpl-2014-172.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "LWS Science Research Highlights",
           "htmlTitle": "LWS Science Research \u003cb\u003eHighlights\u003c/b\u003e",
           "link": "https://lwstrt.gsfc.nasa.gov/research-highlight",
           "displayLink": "lwstrt.gsfc.nasa.gov",
         [...]
