---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=highlight%20enabled&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/5JCzirksJxOuIMLAcRAUo43L6Cs"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - highlight enabled",
            "totalResults": "33900",
            "searchTerms": "highlight enabled",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - highlight enabled",
            "totalResults": "33900",
            "searchTerms": "highlight enabled",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.312096,
          "formattedSearchTime": "0.31",
          "totalResults": "33900",
          "formattedTotalResults": "33,900"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Web-enabled Database for Center for Forest Mycology Research ...",
           "htmlTitle": "Web-\u003cb\u003eenabled\u003c/b\u003e Database for Center for Forest Mycology Research ...",
           "link": "https://www.fs.fed.us/research/highlights/highlights_display.php?in_high_id=200",
           "displayLink": "www.fs.fed.us",
           "snippet": "Individual Highlight. Web-enabled Database for Center for Forest Mycology \nResearch Expanded ... The CFMR's web-enabled database, accessible at ...",
           "htmlSnippet": "Individual \u003cb\u003eHighlight\u003c/b\u003e. Web-\u003cb\u003eenabled\u003c/b\u003e Database for Center for Forest Mycology \u003cbr\u003e\nResearch Expanded ... The CFMR&#39;s web-\u003cb\u003eenabled\u003c/b\u003e database, accessible at&nbsp;...",
           "cacheId": "Fz5sYrmxgyoJ",
           "formattedUrl": "https://www.fs.fed.us/research/highlights/highlights_display.php?...",
           "htmlFormattedUrl": "https://www.fs.fed.us/research/\u003cb\u003ehighlights\u003c/b\u003e/\u003cb\u003ehighlights\u003c/b\u003e_display.php?...",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "194",
              "height": "141",
              "src": "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQh9jdKgO6-tdebJftiQdwK1bClRYJh2dqmeZYJU7ujtewjl_LPrdSCs7c"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.fs.usda.gov/research/products/images/2010/fullsize/NRS-2010-009.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Science Highlights Archives - DOE Joint Genome Institute",
           "htmlTitle": "Science \u003cb\u003eHighlights\u003c/b\u003e Archives - DOE Joint Genome Institute",
           "link": "https://jgi.doe.gov/category/science-highlights/",
           "displayLink": "jgi.doe.gov",
           "snippet": "The work was enabled by the Emerging Technologies Opportunity Program (\nETOP) of the ... gene in maize was identified as playing a similar role highlighting\n…",
           "htmlSnippet": "The work was \u003cb\u003eenabled\u003c/b\u003e by the Emerging Technologies Opportunity Program (\u003cbr\u003e\nETOP) of the ... gene in maize was identified as playing a similar role \u003cb\u003ehighlighting\u003c/b\u003e\u003cbr\u003e\n…",
           "cacheId": "LHFSWRi1NJcJ",
           "formattedUrl": "https://jgi.doe.gov/category/science-highlights/",
           "htmlFormattedUrl": "https://jgi.doe.gov/category/science-\u003cb\u003ehighlights\u003c/b\u003e/",
           "pagemap": {
            "wpfooter": [
             {
              "url": "Careers"
             }
            ],
            "cse_thumbnail": [
             {
              "width": "220",
              "height": "170",
              "src": "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRL8dZ6HOLMHtBdFHp1J_dFYfD5NZYj_daEdrAZdyKf_QFA21T0ud0zeIGx"
             }
            ],
            "metatags": [
             {
              "og:locale": "en_US",
              "og:type": "object",
              "og:title": "Science Highlights Archives - DOE Joint Genome Institute",
              "og:url": "https://jgi.doe.gov/category/science-highlights/",
              "og:site_name": "DOE Joint Genome Institute"
             }
            ],
            "creativework": [
             {
              "datepublished": "2017-09-05T08:55:47+00:00",
              "headline": "Scaling Microbial Genomics Discoveries for Ecosystem Modeling",
              "text": "Nutrient availability in model wetlands helps regulate microbial metabolism and soil carbon cycling rates The Science Studying microbial communities in San Joaquin Delta rice fields, researchers...",
              "image": "https://1ofdmq2n8tc36m6i46scovo2e-wpengine.netdna-ssl.com/wp-content/uploads/2017/09/wRhonzhong-Ye-Jennifer-Morris-Ghg-fluxes-IMG_2016-by-WHartman-220x170.jpg"
             },
             {
              "datepublished": "2017-07-31T08:55:30+00:00",
              "headline": "Tracking Microbial Succession in Petroleum Wells",
              "text": "Offshore subsurface reservoirs demonstrate human impacts on well microbiomes. The Science Microbes are invisible to the naked eye, but play key ro[...]
