---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=government%20(site:nps.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 35EE310AB6D4434EA31E5D28877C6033
      Bingapis-Sessionid:
      - 9A62C701183540238689DC17DE829921
      X-Msedge-Clientid:
      - 0A9CEF046DD96EA83925FF556C246FE9
      X-Msapi-Userstate:
      - 60c7
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=217,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "government
        (site:nps.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=government+(site%3anps.gov)",
        "totalEstimatedMatches": 2220000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Thoughts on Government - nps.gov", "url": "https:\/\/www.nps.gov\/inde\/upload\/Thoughts-on-Government-John-Adams-2.pdf",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.nps.gov\/inde\/upload\/Thoughts-on-Government-John-Adams-2.pdf",
        "snippet": "government which communicates ease, comfort, security, or, in
        one word, happiness, to the greatest number of persons, and in the greatest
        degree, is the best. All sober inquirers after truth, ancient and modern,
        pagan and Christian, have declared that", "dateLastCrawled": "2021-01-31T17:04:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Certified Local Government Program - NPS", "url": "https:\/\/www.nps.gov\/clg\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.nps.gov\/clg", "snippet":
        "Preservation through Partnership: this is the goal of the Certified Local
        Government (CLG) Program. Local, State, and Federal governments work together
        in the Federal Preservation Program to help communities [...]
