---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Query='healthy%20snack%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 9f73f1ef-a4ba-4e7f-8d84-54f0f779332b
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Query=\u0027healthy
        snack (site:usa.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"e545e59e-4ea7-430c-ba0e-e159a58364fa","Title":"Food
        and Nutrition | USAGov","Description":"Food and Nutrition. Learn about nutrition,
        help to feed your family, and how to safely prepare food. Food Assistance.
        Find out how to get help buying nutritious food ...","DisplayUrl":"https://www.usa.gov/food-and-nutrition","Url":"https://www.usa.gov/food-and-nutrition"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Query=\u0027healthy
        snack (site:usa.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"de6cf2a6-c11d-4f4a-bf6f-d204c3e5b089","Title":"Healthy
        Snack #5: Frozen Fruit Cups | Videos | Kids.gov ...","Description":"Healthy
        Snack #5: Frozen Fruit Cups ... And for more about eating healthy, visit Kids.gov.
        Original Re[...]
