---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=highlight%20enabled&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"W18CoImQKYKeZ22usPfNI43IHMc/GOGyK-BuEUqkuYm-AdxwBnc9AUk"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - highlight enabled",
            "totalResults": "571000",
            "searchTerms": "highlight enabled",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - highlight enabled",
            "totalResults": "571000",
            "searchTerms": "highlight enabled",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.300977,
          "formattedSearchTime": "0.30",
          "totalResults": "571000",
          "formattedTotalResults": "571,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Web-enabled Database for Center for Forest Mycology Research ...",
           "htmlTitle": "Web-\u003cb\u003eenabled\u003c/b\u003e Database for Center for Forest Mycology Research ...",
           "link": "https://www.fs.fed.us/research/highlights/highlights_display.php?in_high_id=200",
           "displayLink": "www.fs.fed.us",
           "snippet": "Dec 15, 2016 ... Research Highlights. Individual Highlight. Web-enabled Database for Center for \nForest Mycology Research Expanded ... ecosystems. The CFMR's web-enabled \ndatabase, accessible at http://www.fpl.fs.fed.us/research/centers/mycology/culture\n-collection.shtml, has recently been enlarged and updated.",
           "htmlSnippet": "Dec 15, 2016 \u003cb\u003e...\u003c/b\u003e Research \u003cb\u003eHighlights\u003c/b\u003e. Individual \u003cb\u003eHighlight\u003c/b\u003e. Web-\u003cb\u003eenabled\u003c/b\u003e Database for Center for \u003cbr\u003e\nForest Mycology Research Expanded ... ecosystems. The CFMR&#39;s web-\u003cb\u003eenabled\u003c/b\u003e \u003cbr\u003e\ndatabase, accessible at http://www.fpl.fs.fed.us/research/centers/mycology/culture\u003cbr\u003e\n-collection.shtml, has recently been enlarged and updated.",
           "cacheId": "Fz5sYrmxgyoJ",
           "formattedUrl": "https://www.fs.fed.us/research/highlights/highlights_display.php?...",
           "htmlFormattedUrl": "https://www.fs.fed.us/research/\u003cb\u003ehighlights\u003c/b\u003e/\u003cb\u003ehighlights\u003c/b\u003e_display.php?...",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "194",
              "height": "141",
              "src": "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQh9jdKgO6-tdebJftiQdwK1bClRYJh2dqmeZYJU7ujtewjl_LPrdSCs7c"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.fs.usda.gov/research/products/images/2010/fullsize/NRS-2010-009.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Cellulose Nano-enabled Products: Applications and Volume Estimates",
           "htmlTitle": "Cellulose Nano-\u003cb\u003eenabled\u003c/b\u003e Products: Applications and Volume Estimates",
           "link": "https://www.fs.fed.us/research/highligh[...]
