---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Query='healthy%20snack%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 2a290ba1-ee2f-4b1e-b592-b92c1dbc6911
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Query=\u0027healthy
        snack (site:usa.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"e623c2a4-2dd6-408d-b266-1c20b85bd608","Title":"Peanut
        Butter and Apple Wrap | Video | Kids.gov | USAGov","Description":"Video Description:
        Ingredients and steps to prepare the \"Peanut Butter and Apple Wrap\" snack.
        Ingredients: Whole-wheat tortilla Peanut butter, sunflower seed butter ...","DisplayUrl":"https://kids.usa.gov/watch-videos/exercise-and-eating-healthy/...","Url":"https://kids.usa.gov/watch-videos/exercise-and-eating-healthy/peanut-butter-apple-wrap/index.shtml"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Query=\u0027healthy
        snack (site:usa.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"b7ca5d22-3439-4400-8162-fad3731c64c1","Title":"Healthy
        Snack #2: Charger Wrap - USA.gov","Description":"Ingredients and steps to
        prepare a chicken veggie wrap snack.","Displ[...]
