---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=highlight%20enabled&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ZK6WcJ2_cdL-1Kol5cpaPQsD0mI/lEs9UMgyu1j208RQnH2ZdH358Dg"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - highlight enabled",
            "totalResults": "151000",
            "searchTerms": "highlight enabled",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - highlight enabled",
            "totalResults": "151000",
            "searchTerms": "highlight enabled",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.398284,
          "formattedSearchTime": "0.40",
          "totalResults": "151000",
          "formattedTotalResults": "151,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Web-enabled Database for Center for Forest Mycology Research ...",
           "htmlTitle": "Web-\u003cb\u003eenabled\u003c/b\u003e Database for Center for Forest Mycology Research \u003cb\u003e...\u003c/b\u003e",
           "link": "http://www.fs.fed.us/research/highlights/highlights_display.php?in_high_id=200",
           "displayLink": "www.fs.fed.us",
           "snippet": "Individual Highlight. Web-enabled Database for Center for Forest Mycology \nResearch Expanded ... The CFMR's web-enabled database, accessible at ...",
           "htmlSnippet": "Individual \u003cb\u003eHighlight\u003c/b\u003e. Web-\u003cb\u003eenabled\u003c/b\u003e Database for Center for Forest Mycology \u003cbr\u003e\nResearch Expanded ... The CFMR&#39;s web-\u003cb\u003eenabled\u003c/b\u003e database, accessible at&nbsp;...",
           "cacheId": "I8KXSzPFWqIJ",
           "formattedUrl": "www.fs.fed.us/research/highlights/highlights_display.php?in...id...",
           "htmlFormattedUrl": "www.fs.fed.us/research/\u003cb\u003ehighlights\u003c/b\u003e/\u003cb\u003ehighlights\u003c/b\u003e_display.php?in...id...",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "155",
              "height": "112",
              "src": "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTkwfLSYSuCgCz61sbzEAMObxLGUMJmhPWd1m6yc1aglNK9jTO8S8AxKfU"
             }
            ],
            "cse_image": [
             {
              "src": "http://www.fs.usda.gov/research/products/images/2010/fullsize/NRS-2010-009.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Cellulose Nano-enabled Products: Applications and Volume Estimates",
           "htmlTitle": "Cellulose Nano-\u003cb\u003eenabled\u003c/b\u003e Products: Applications and Volume Estimates",
           "link": "http://www.fs.fed.us/research/highlights[...]
