---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 70C4E097A9FE45A8A15EB8F58C2555E3
      X-Msedge-Clientid:
      - 07B65ECB4B386317031C55CA4AAF6221
      X-Msapi-Userstate:
      - b014
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=22CFDDC4C35A45669280B6DAA556985E&CID=07B65ECB4B386317031C55CA4AAF6221&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=22CFDDC4C35A45669280B6DAA556985E&CID=07B65ECB4B386317031C55CA4AAF6221&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 18 Sep 2017 19:52:00 GMT
recorded_with: VCR 3.0.3
