---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 6C6C81ACC8824674A4564366BE6D3714
      Bingapis-Sessionid:
      - 429EE0949CF242399494F4AE6C19A53F
      X-Msedge-Clientid:
      - 21FFE82A83316EFE393BF88E82CC6F1F
      X-Msapi-Userstate:
      - 6aa1
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=142,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "english
        (site:nonsense.gov)"}, "rankingResponse": {}}'
  recorded_at: Tue, 31 Aug 2021 20:30:49 GMT
recorded_with: VCR 4.0.0
