---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C1A0CDFF3B3844558A64A1F08E476C92
      X-Msedge-Clientid:
      - 2EC5ACCAD33F6C9712A0A741D2906DF1
      X-Msapi-Userstate:
      - 6d8b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=AA78A5032C794DCD8ADDBE6BCB3CA513&CID=2EC5ACCAD33F6C9712A0A741D2906DF1&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=AA78A5032C794DCD8ADDBE6BCB3CA513&CID=2EC5ACCAD33F6C9712A0A741D2906DF1&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Sat, 03 Feb 2018 23:31:19 GMT
recorded_with: VCR 4.0.0
