---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F56EA67533394B70ADE8DB3432E9967D
      X-Msedge-Clientid:
      - 3DEE0C3F5C6B6D4112CC06A65DFC6C39
      X-Msapi-Userstate:
      - 175d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DFF9792E3A174A35BFF18E38291B7C47&CID=3DEE0C3F5C6B6D4112CC06A65DFC6C39&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DFF9792E3A174A35BFF18E38291B7C47&CID=3DEE0C3F5C6B6D4112CC06A65DFC6C39&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 06 Jun 2017 23:00:56 GMT
recorded_with: VCR 3.0.3
