---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 54A7A2895E734114A9993B2EB6D5CA97
      X-Msedge-Clientid:
      - 3106DAE93EF66367245AD1E13F616272
      X-Msapi-Userstate:
      - 0d9f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=23068E9AEF5544E3B8B74BD8E5D8EC49&CID=3106DAE93EF66367245AD1E13F616272&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=23068E9AEF5544E3B8B74BD8E5D8EC49&CID=3106DAE93EF66367245AD1E13F616272&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 25 Sep 2017 19:12:29 GMT
recorded_with: VCR 3.0.3
