---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 49E45B12676345DCAE78FF56F8803E22
      X-Msedge-Clientid:
      - 200665F4B16B699210956EB3B0FC68D6
      X-Msapi-Userstate:
      - '0276'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=CCC4A87B1A0B4BCDA485E30B19B91676&CID=200665F4B16B699210956EB3B0FC68D6&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=CCC4A87B1A0B4BCDA485E30B19B91676&CID=200665F4B16B699210956EB3B0FC68D6&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 27 Nov 2017 17:53:02 GMT
recorded_with: VCR 3.0.3
