---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4946583023AD42D3A50F5F1C5735E4B3
      X-Msedge-Clientid:
      - 1E6614E6E9336DAD02A61F60E89C6C7F
      X-Msapi-Userstate:
      - 9ab2
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9195E5584A7246398D7236D0EBF033AF&CID=1E6614E6E9336DAD02A61F60E89C6C7F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9195E5584A7246398D7236D0EBF033AF&CID=1E6614E6E9336DAD02A61F60E89C6C7F&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 29 Jan 2018 19:04:21 GMT
recorded_with: VCR 3.0.3
