---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3C9F2F75AE484D66B26981A149F0DB1E
      X-Msedge-Clientid:
      - 01F887DF886763B12A008B878968624B
      X-Msapi-Userstate:
      - 1a98
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=7E523581F7394A3F95D3F77E41707819&CID=01F887DF886763B12A008B878968624B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=7E523581F7394A3F95D3F77E41707819&CID=01F887DF886763B12A008B878968624B&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 27 Aug 2018 00:04:35 GMT
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 24820D1F71134BB7B9E606666E28FC31
      Bingapis-Sessionid:
      - DCFF9FB7F03D4B76962CDF32D2D7D8A8
      X-Msedge-Clientid:
      - 072CA01530EA6B1B093DACEF31A66AE0
      X-Msapi-Userstate:
      - 65fb
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=148,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "english
        (site:nonsense.gov)"}, "rankingResponse": {}}'
  recorded_at: Tue, 05 Feb 2019 21:33:57 GMT
recorded_with: VCR 4.0.0
