---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=<GOOGLE_SEARCH_CX>&key=<GOOGLE_API_KEY>&lr=lang_en&q=law%20-site:justice.gov/archives%20site:justice.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"W18CoImQKYKeZ22usPfNI43IHMc/USsGFQbNvwMAWvzMOIA00YFuYCQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - law -site:justice.gov/archives site:justice.gov",
            "totalResults": "787000",
            "searchTerms": "law -site:justice.gov/archives site:justice.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "<GOOGLE_SEARCH_CX>"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - law -site:justice.gov/archives site:justice.gov",
            "totalResults": "787000",
            "searchTerms": "law -site:justice.gov/archives site:justice.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "<GOOGLE_SEARCH_CX>"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.217074,
          "formattedSearchTime": "0.22",
          "totalResults": "787000",
          "formattedTotalResults": "787,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "National Consumer Bankruptcy Law Firm Sanctioned for Harming ...",
           "htmlTitle": "National Consumer Bankruptcy \u003cb\u003eLaw\u003c/b\u003e Firm Sanctioned for Harming ...",
           "link": "https://www.justice.gov/opa/pr/national-consumer-bankruptcy-law-firm-sanctioned-harming-financially-distressed-consumers-and",
           "displayLink": "www.justice.gov",
           "snippet": "Feb 13, 2018 ... After a four-day trial, a national consumer bankruptcy law firm and its local \npartner attorneys were sanctioned and enjoined by the U.S. Bankruptcy Court for \nthe Western District of Virginia for causing “unconscionable” harm to their clients. \nThe court found that the law firm and its attorneys, among other ...",
           "htmlSnippet": "Feb 13, 2018 \u003cb\u003e...\u003c/b\u003e After a four-day trial, a national consumer bankruptcy \u003cb\u003elaw\u003c/b\u003e firm and its local \u003cbr\u003e\npartner attorneys were sanctioned and enjoined by the U.S. Bankruptcy Court for \u003cbr\u003e\nthe Western District of Virginia for causing “unconscionable” harm to their clients. \u003cbr\u003e\nThe court found that the \u003cb\u003elaw\u003c/b\u003e firm and its attorneys, among other&nbsp;...",
           "cacheId": "N6TIJqkkqqEJ",
           "formattedUrl": "https://www.justice.gov/.../national-consumer-bankruptcy-law-firm- sanctioned-harming-financially-distressed-consumers-and",
           "htmlFormattedUrl": "https://www.justice.gov/.../national-consumer-bankruptcy-\u003cb\u003elaw\u003c/b\u003e-firm- sanctioned-harming-financially-distressed-consumers-and",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "200",
              "height": "200",
              "src": "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcShz09gnUqIC5hApYlhj3effRqZnE3PNLfAEDVK3S253G-8Uz1D95Zs7qI"
             }
            ],
            "metatags": [
             {
              "mobileoptimized": "width",
              "handheldfriendly": "true",
              "viewport": "width=device-width",
              "og:title": "National Consumer Bankruptcy Law Firm Sanctioned for Harming Financially Distressed Consumers and Auto Lenders",
              "og:description": "After a four-day trial, a national consumer bankruptcy law firm and its local partner attorneys were sanctioned and enjoined by the U.S. Bankruptcy Court for the Western District of Virginia for causing “unconscionable” harm to their clients.",
              "og:image": "https://www.justice.gov/sites/all/modules/features/doj_sharing/images/doj-seal-fb.jpg",
              "twitter:title": "National Consumer Bankruptcy Law Firm Sanctioned for Harming Financially Distressed Consumers and Auto Lenders",
              "twitter:description": "After a four-day trial, a national consumer bankruptcy law firm and its local partner attorneys were sanctioned and enjoined by the U.S. Bankruptcy Court for the Western District of Virginia for causing “unconscionable” harm to their clients.",
              "twitter:image": "https://www.justice.gov/sites/all/modules/features/doj_sharing/images/doj-seal-fb.jpg"
             }
            ],
            "Item": [
             {
              "title": "National Consumer Bankruptcy Law Firm Sanctioned for Harming Financially Distressed Consumers and Auto Lenders ",
              "date": "2018-02-13T00:00:00-05:00",
              "label": "U.S. Trustee Program"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.justice.gov/sites/all/modules/features/doj_sharing/images/doj-seal-fb.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Law Enforcement | EJI | Department of Justice",
           "htmlTitle": "\u003cb\u003eLaw\u003c/b\u003e Enforcement | EJI | Department of Justice",
           "link": "https://www.justice.gov/elderjustice/law-enforcement-1",
           "displa[...]
