---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(english)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028english\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":9620000,"Offset":0,"Results":[{"Title":"About
        Us \u007c American English","Description":"American English is a resource
        center for teaching and learning about American English language and culture.
        This website provides a variety of engaging materials and ...","Url":"https\u003a\u002f\u002famericanenglish.state.gov\u002fabout-us","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003denglish\u0026d\u003d5019697346446288\u0026w\u003d1B3wgz_1iVPqsc45gIkxg6f0h2UvFWiD","DisplayUrl":"https\u003a\u002f\u002famericanenglish.state.gov\u002fabout-us","DateTime":"2016-06-02T20\u003a51\u003a00Z"},{"Title":"FAQ
        - English","Description":"English Graduation Requirement Frequently Asked
        Questions. Updated\u003a January 2013. What is the State Board of Education\u2019s
        role in graduation requirements\u003f","Url":"http\u003a\u002f\u002fwww.sbe.wa.gov\u002ffaq\u002fenglish.php","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003denglish\u0026d\u003d4510919866908941\u0026w\u003dDTrhw2npt3MDVBaIlXPEzum8ZYgaETVR"[...]
