---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2FE572AA0E264B1DBA721465EB2B4C74
      X-Msedge-Clientid:
      - 042DAEB495FA60A107D5A48D946D615B
      X-Msapi-Userstate:
      - 3c09
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1100876FBAFA4478B258B5D2F47BA5C0&CID=042DAEB495FA60A107D5A48D946D615B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1100876FBAFA4478B258B5D2F47BA5C0&CID=042DAEB495FA60A107D5A48D946D615B&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5469.1", "totalEstimatedMatches": 4750000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Get Covered Illinois - Official Site", "url": "https:\/\/getcovered.illinois.gov\/",
        "urlPingSuffix": "DevEx,5080.1", "displayUrl": "https:\/\/getcovered.illinois.gov",
        "snippet": "English (United States) ... Get the latest news from the Illinois
        Department of Insurance here. Stay informed. Please enter a valid email address.",
        "dateLastCrawled": "2017-02-25T14:13:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "American English | For English Language Teachers Around ...", "url":
        "https:\/\/americanenglish.state.gov\/", "urlPingSuffix": "DevEx,5097.1",
        "displayUrl": "https:\/\/americanenglish.state.gov", "snippet": "American
        English is a website for teachers and learners of English as a foreign language
        abroad.", "deepLinks": [{"name": "Exchanges", "url": "http:\/\/exchanges.state.gov\/",
        "urlPingSuffix": "DevEx,5092.1"}, {"name": "Poetry Foundation", "url": "https:\/\/americanenglish.state.gov\/resources\/poetry-foundation",
        "urlPingSuffix": "DevEx,5093.1"}, {"name": "ECA", "url": "http:\/\/www.eca.state.gov\/",
        "urlPingSuffix": "DevEx,5094.1"}], "dateLastCrawled": "2017-02-28T02:54:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "VDOE ::
        Eng[...]
