---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=english%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 6807e338a8f642139c5b7f753a5bacdc
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 6807e338a8f642139c5b7f753a5bacdc
      Bingapis-Sessionid:
      - 29E210F467E94EB89EE0BF6870DDF547
      X-Msedge-Clientid:
      - 2DA41AE78A13676F39FF0F318B5F6682
      X-Msapi-Userstate:
      - b8d2
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=207,MSDatacenter=MWHE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "english
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 35600000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Office of English Language Acquisition - U.S. Department of Education",
        "url": "https:\/\/www.ed.gov\/about\/ed-offices\/oela", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.ed.gov\/about\/ed-offices\/oela", "snippet":
        "Programs and Initiatives . Office of English Learners (OEL) The OEL has lead
        responsibility for English learner (EL) activities and English Language Acquisition
        State Grants – Title III, Part A programs and activities that will strengthen
        and enhance the work of the office and others in supporting and addressing
        services to EL students. The office will accomplish this mission by overseeing
        ...", "dateLastCrawled": "2025-04-21T08:11:00.0000000Z", "language": "en",
        "isNavigational": false, "noCache": false}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Find courses to help you learn English - USAGov", "url": "https:\/\/www.usa.gov\/learn-english",
        "datePublished": "2025-04-09T00:00:00.0000000", "datePublishedDisplayText":
        "Apr 9, 2025", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usa.gov\/learn-english",
        "snippet": "Listen to audio conversations that help you learn English. Learn
        English in person. Find literacy and ESL programs near you for learning or
        improving your English. If you have children, ask their school staff about
        ESL classes in their school district. In some communities, libraries offer
        English classes and materials to study. Find a library[...]
[...]
