---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 50D238CAEE7748288C4B687BA1925BC0
      X-Msedge-Clientid:
      - '069D0B1DE8286E8B0A23001CE9BF6FC8'
      X-Msapi-Userstate:
      - faff
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=93498798E5914C29808C059E491D40A9&CID=069D0B1DE8286E8B0A23001CE9BF6FC8&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=93498798E5914C29808C059E491D40A9&CID=069D0B1DE8286E8B0A23001CE9BF6FC8&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5487.1", "totalEstimatedMatches": 184000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "VDOE :: English Standards of Learning Resources", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/standards_docs\/english\/index.shtml",
        "urlPingSuffix": "DevEx,5090.1", "displayUrl": "www.doe.virginia.gov\/testing\/sol\/standards_docs\/english\/index.shtml",
        "snippet": "Standards of Learning Documents for English . The Standards of
        Learning and Curriculum Framework comprise the English language arts content
        that teachers in Virginia ...", "deepLinks": [{"name": "Released Sol Tests",
        "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/released_tests\/index.shtml",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Mathematics", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/standards_docs\/mathematics\/index.shtml",
        "urlPingSuffix": "DevEx,5081.1"}, {"name": "Practice Items", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/practice_items\/testnav8.shtml",
        "urlPingSuffix": "DevEx,5082.1"}, {"name": "History & Social Science", "url":
        "http:\/\/www.doe.virginia.gov\/testing\/sol\/standards_docs\/history_socialscience\/index.shtml",
        "urlPingSuffix": "DevEx,5083.1"}], "dateLastCrawled": "2017-09-15T17:28:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "American
        English | For English Language Teachers Around ...", "url": "https:\/\/americanenglish.state.gov\/",
        "urlPingSuffix": "DevEx,5103.1", "about": [{"name": "American English Education"}],
        "displayUrl": "https:\/\/americanenglish.state.gov", "snippet": "American
        English is a website for teachers and learners of English as a foreign language
        abroad.", "dateLastCrawled": "2017-09-08T17:13:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "Study Materials for the English Test | USCIS", "url": "https:\/\/www.uscis.gov\/citizenship\/learners\/study-test\/study-materials-english-te[...]
