---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=<GOOGLE_SEARCH_CX>&key=<GOOGLE_API_KEY>&lr=lang_en&q=mars%20-site:mars.nasa.gov%20site:nasa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"W18CoImQKYKeZ22usPfNI43IHMc/7uCfL0E1o8pR2jTo6j2fnydFGho"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - mars -site:mars.nasa.gov site:nasa.gov",
            "totalResults": "1260000",
            "searchTerms": "mars -site:mars.nasa.gov site:nasa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "<GOOGLE_SEARCH_CX>"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - mars -site:mars.nasa.gov site:nasa.gov",
            "totalResults": "1260000",
            "searchTerms": "mars -site:mars.nasa.gov site:nasa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "<GOOGLE_SEARCH_CX>"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.342181,
          "formattedSearchTime": "0.34",
          "totalResults": "1260000",
          "formattedTotalResults": "1,260,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Overview | Mars – Solar System Exploration: NASA Science",
           "htmlTitle": "Overview | \u003cb\u003eMars\u003c/b\u003e – Solar System Exploration: NASA Science",
           "link": "https://solarsystem.nasa.gov/planets/mars/overview/",
           "displayLink": "solarsystem.nasa.gov",
           "snippet": "Jan 22, 2018 ... Mars may have once been a wet world like Earth. Where did the water go?",
           "htmlSnippet": "Jan 22, 2018 \u003cb\u003e...\u003c/b\u003e \u003cb\u003eMars\u003c/b\u003e may have once been a wet world like Earth. Where did the water go?",
           "cacheId": "jQTrZbVfmGgJ",
           "formattedUrl": "https://solarsystem.nasa.gov/planets/mars/overview/",
           "htmlFormattedUrl": "https://solarsystem.nasa.gov/planets/\u003cb\u003emars\u003c/b\u003e/overview/",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "225",
              "height": "225",
              "src": "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQqVf_bnS3fLiwe14nPhlDu69-L_j7B3fx0O6EyL-LfsVXt7rMPYcpkrj0"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1.0",
              "theme-color": "#ffffff",
              "csrf-param": "authenticity_token",
              "csrf-token": "JrAu578/71XXD6yV5ZGgds5Rjo8YBfiNfrQrne2OVfY=",
              "og:site_name": "Solar System Exploration: NASA Science",
              "og:description": "Mars may have once been a wet world like Earth. Where did the water go?",
              "og:title": "Mars",
              "og:url": "https://solarsystem.nasa.gov/planets/mars/overview",
              "og:type": "article",
              "og:updated_time": "2018-01-22 15:06:30 -0800",
              "og:image": "https://solarsystem.nasa.gov/system/stellar_items/image_files/6_mars.jpg"
             }
            ],
            "cse_image": [
             {
              "src": "https://solarsystem.nasa.gov/system/stellar_items/image_files/6_mars.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "NASA's Journey to Mars | NASA",
           "htmlTitle": "NASA&#39;s Journey to \u003cb\u003eMars\u003c/b\u003e | NASA",
           "link": "https://www.nasa.gov/topics/journeytomars/index.html",
           "displayLink": "www.nasa.gov",
           "snippet[...]
