---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=legal%20careers%20(site:justice.gov)%20(-site:justice.gov/legal-careers)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 65c23f79f6a742b5b5f921f166ba461e
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 65c23f79f6a742b5b5f921f166ba461e
      Bingapis-Sessionid:
      - 73D323FBD1B942E69992887599A47FDD
      X-Msedge-Clientid:
      - 11458D03A1BB6EDA11C5991EA0116F3D
      X-Msapi-Userstate:
      - 35d4
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=299,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "legal
        careers (site:justice.gov) (-site:justice.gov\/legal-careers)"}, "webPages":
        {"webSearchUrl": "https:\/\/www.bing.com\/search?q=legal+careers+(site%3ajustice.gov)+(-site%3ajustice.gov%2flegal-careers)",
        "totalEstimatedMatches": 692000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Legal Careers | Legal Careers - United States Department of Justice",
        "url": "https:\/\/www.justice.gov\/legal-careers", "isFamilyFriendly": <DATADOG_API_ENABLED>,
        "displayUrl": "https:\/\/www.justice.gov\/legal-careers", "snippet": "Explore
        Legal Careers at Justice. The Office of Attorney Recruitment and Management
        (OARM) leads Justice’s outreach and recruitment efforts for law students and
        attorneys with the goal of attracting a highly-qualified and diverse talent
        pool. Search Attorney Vacancies and Volunteer Legal Internships.", "dateLastCrawled":
        "2024-02-05T04:15:00.0000000Z", "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=legal+careers+(site%3ajustice.gov)+(-site%3ajustice.gov%2flegal-careers)&d=4708289540283085&mkt=en-US&setlang=en-US&w=zTtkgRacGaFdFTjD0Z7u9Kzf7mupMm8t",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "U.S. Attorneys | Current Job Openings - United States Department
        of Justice", "url": "https:\/\/www.justice.gov\/usao\/career-center\/job-openings",
        "datePublished": "2015-09-18T00:00:00.0000000", "datePublishedDisplayText":
        "Sep 18, 2015", "isFamilyFriendly": <DATADOG_API_ENABLED>, "displayUrl": "https:\/\/www.justice.gov\/usao\/career-center\/job-openings",
        "snippet": "Current Job Openings. Select a link below to view job openings
        at the Executive Office for United States Attorneys and the 94 United States
        Attorneys'' offices. Professional staff opportunities are posted on USAJobs,
        and applicants should apply there. Attorney and volunteer legal internship
        opportunit[...]
