---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=mars%20(site:nasa.gov)%20(-site:mars.nasa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 65c23f7ae4194aa2a9d1fb9ea0d01e6f
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 65c23f7ae4194aa2a9d1fb9ea0d01e6f
      Bingapis-Sessionid:
      - 785712CB49D74382A4E02B6BE6118ACF
      X-Msedge-Clientid:
      - '0095E8932D8B6D93010BFC8E2C8A6C08'
      X-Msapi-Userstate:
      - fa01
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=259,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "mars
        (site:nasa.gov) (-site:mars.nasa.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=mars+(site%3anasa.gov)+(-site%3amars.nasa.gov)",
        "totalEstimatedMatches": 9380000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Mars: Facts - NASA Science", "url": "https:\/\/science.nasa.gov\/mars\/facts\/",
        "isFamilyFriendly": <DATADOG_API_ENABLED>, "displayUrl": "https:\/\/science.nasa.gov\/mars\/facts",
        "snippet": "Mars has a dense core at its center between 930 and 1,300 miles
        (1,500 to 2,100 kilometers) in radius. It''s made of iron, nickel, and sulfur.
        Surrounding the core is a rocky mantle between 770 and 1,170 miles (1,240
        to 1,880 kilometers) thick, and above that, a crust made of iron, magnesium,
        aluminum, calcium, and potassium.", "dateLastCrawled": "2024-02-06T05:26:00.0000000Z",
        "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=mars+(site%3anasa.gov)+(-site%3amars.nasa.gov)&d=4526002536593198&mkt=en-US&setlang=en-US&w=VLeibBH6d1AKMGBMpUTLXo5l2iLSNbDn",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Mars - NASA Science", "url": "https:\/\/science.nasa.gov\/mars\/",
        "isFamilyFriendly": <DATADOG_API_ENABLED>, "displayUrl": "https:\/\/science.nasa.gov\/mars",
        "snippet": "Mars is no place for the faint-hearted. It’s dry, rocky, and bitter
        cold. The fourth planet from the Sun, Mars is one of Earth''s two closest
        planetary neighbors (Venus is the other). Mars is one of the easiest planets
        to spot in the night sky – it looks like a bright red point of light. Despite
        being inhospitable to humans, robotic ...", "dateLastCrawled": "2024-02-05T18:05:00.0000000Z",
        "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=mars+(site%3anasa.gov)+(-site%3amars.nasa.gov)&d=5046668533057702&mkt=en-US&setlang=en-US&w=-K-OEf9sMaf29fPCzODma7RHXhEUFEpC",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.2",
        "name": "All About Mars | NASA Space Place – NASA Science for Kids", "url":
        "https:\/\/spaceplace.nasa.gov\/all-about-mars\/en\/", "datePublished": "2024-01-25T00:00:00.0000000",
        "datePublishedDisplayText": "Jan 25, 2024", "isFamilyFriendly": <DATADOG_API_ENABLED>,
        "displayUrl": "https:\/\/spaceplace.nasa.gov\/all-about-mars\/en", "snippet":
        "Mars is a cold desert world. The average temperature on Mars is minus 85
        degrees Fahrenheit – way below freezing. It is half the size of Earth. Mars
        is sometimes called the Red Planet. It''s red because of rusty iron in the
        ground. Like Earth, Mars has seasons, polar ice caps, volcanoes, canyons,
        and weather. It[...]
