---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A278B58DEAB347E39355526D65BB1C9D
      X-Msedge-Clientid:
      - 10AEFF4EAD7D6FF61A37F409ACEA6EDE
      X-Msapi-Userstate:
      - 8fc9
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=FC40850F162740CDA9AE5B6813BCF4A5&CID=10AEFF4EAD7D6FF61A37F409ACEA6EDE&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=FC40850F162740CDA9AE5B6813BCF4A5&CID=10AEFF4EAD7D6FF61A37F409ACEA6EDE&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5507.1", "totalEstimatedMatches": 18400000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "VDOE :: English Standards of Learning Resources", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/standards_docs\/english\/index.shtml",
        "urlPingSuffix": "DevEx,5105.1", "displayUrl": "www.doe.virginia.gov\/testing\/sol\/standards_docs\/english\/index.shtml",
        "snippet": "Standards of Learning Documents for English . The Standards of
        Learning and Curriculum Framework comprise the English language arts content
        that teachers in Virginia ...", "deepLinks": [{"name": "Released Sol Tests",
        "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/released_tests\/index.shtml",
        "urlPingSuffix": "DevEx,5092.1"}, {"name": "Mathematics", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/standards_docs\/mathematics\/index.shtml",
        "urlPingSuffix": "DevEx,5093.1"}, {"name": "Practice Items", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/practice_items\/testnav8.shtml",
        "urlPingSuffix": "DevEx,5094.1"}, {"name": "History & Social Science", "url":
        "http:\/\/www.doe.virginia.gov\/testing\/sol\/standards_docs\/history_socialscience\/index.shtml",
        "urlPingSuffix": "DevEx,5095.1"}], "dateLastCrawled": "2017-11-20T01:58:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "FAQ -
        English", "url": "http:\/\/www.sbe.wa.gov\/faq\/english.php", "urlPingSuffix":
        "DevEx,5120.1", "displayUrl": "www.sbe.wa.gov\/faq\/english.php", "snippet":
        "English Graduation Requirement Frequently Asked Questions. Updated: January
        2013. What is the State Board of Education’s role in graduation requirements?",
        "dateLastCrawled": "2017-11-22T[...]
