---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=english%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 56DA95B99B2042E098D6F82C8FA9E640
      X-Msedge-Clientid:
      - 3981ABD510656D4820FBA00811F26C30
      X-Msapi-Userstate:
      - 953a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=47A3093ABE26434281413C2CF6AAF0B6&CID=3981ABD510656D4820FBA00811F26C30&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=47A3093ABE26434281413C2CF6AAF0B6&CID=3981ABD510656D4820FBA00811F26C30&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5542.1", "totalEstimatedMatches": 25800000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "VDOE :: English Standards of Learning Resources", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/standards_docs\/english\/index.shtml",
        "urlPingSuffix": "DevEx,5107.1", "about": [{"name": "Standards of Learning"}],
        "displayUrl": "www.doe.virginia.gov\/testing\/sol\/standards_docs\/english\/index.shtml",
        "snippet": "Standards of Learning Documents for English . The Standards of
        Learning and Curriculum Framework comprise the English language arts content
        that teachers in Virginia are expected to teach and students are expected
        to learn.", "deepLinks": [{"name": "Released Sol Tests", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/released_tests\/index.shtml",
        "urlPingSuffix": "DevEx,5093.1"}, {"name": "Mathematics", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/standards_docs\/mathematics\/index.shtml",
        "urlPingSuffix": "DevEx,5094.1"}, {"name": "Science", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/standards_docs\/science\/index.shtml",
        "urlPingSuffix": "DevEx,5095.1"}, {"name": "Fine Arts", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/standards_docs\/fine_arts\/index.shtml",
        "urlPingSuffix": "DevEx,5096.1"}, {"name": "Sol Practice Items", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/practice_items\/testnav8.shtml",
        "urlPingSuffix": "DevEx,5097.1"}], "dateLastCrawled": "2018-04-23T01:20:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "American
        English | For English Language Teachers Around ...", "url": "https:\/\/americanenglish.state.gov\/",
        "urlPingSuffix": "DevEx,5124.1", "displayUrl": "https:\/\/americanenglish.state.gov",
        "snippet": "American English is a website for teachers and learners of English
        as a foreign language abroad.", "deepLinks": [{"name": "StudyAbroad", "url":
      [...]
