---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=mars%20-site:nasa.gov%20site:.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/iLvixt_om0qXV1Y1d75K4CZ0Qd4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - mars -site:nasa.gov site:.gov",
            "totalResults": "43700",
            "searchTerms": "mars -site:nasa.gov site:.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - mars -site:nasa.gov site:.gov",
            "totalResults": "43700",
            "searchTerms": "mars -site:nasa.gov site:.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.264417,
          "formattedSearchTime": "0.26",
          "totalResults": "43700",
          "formattedTotalResults": "43,700"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Previous Evidence of Water on Mars Now Identified as Grainflows",
           "htmlTitle": "Previous Evidence of Water on \u003cb\u003eMars\u003c/b\u003e Now Identified as Grainflows",
           "link": "https://www.usgs.gov/news/previous-evidence-water-mars-now-identified-grainflows",
           "displayLink": "www.usgs.gov",
           "snippet": "Nov 20, 2017 ... Dark features previously proposed as evidence for significant liquid water flowing \non Mars have now been identified as granular flows, where ...",
           "htmlSnippet": "Nov 20, 2017 \u003cb\u003e...\u003c/b\u003e Dark features previously proposed as evidence for significant liquid water flowing \u003cbr\u003e\non \u003cb\u003eMars\u003c/b\u003e have now been identified as granular flows, where&nbsp;...",
           "cacheId": "aIYpOU8ZERkJ",
           "formattedUrl": "https://www.usgs.gov/.../previous-evidence-water-mars-now-identified- grainflows",
           "htmlFormattedUrl": "https://www.usgs.gov/.../previous-evidence-water-\u003cb\u003emars\u003c/b\u003e-now-identified- grainflows",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "259",
              "height": "194",
              "src": "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSMxBeuQBefgtpEnVLGshyzGYZsmD6MYoM6nwwJD-IDFWdZmzfTXbE1hAA"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1.0",
              "abstract": "Dark features previously proposed as evidence for significant liquid water flowing on Mars have now been identified as granular flows, where sand and dust move rather than liquid water, according to a new article published in Nature Geoscience by the U.S. Geological Survey.",
              "msapplication-tilecolor": "#008457",
              "msapplication-tileimage": "/sites/all/themes/usgs_palladium/favicons/mstile-144x144.png",
              "msapplication-config": "/sites/all/themes/usgs_palladium/favicons/browserconfig.xml",
              "theme-color": "#008457"
             }
            ],
            "cse_image": [
             {
              "src": "https://prd-wret.s3-us-west-2.amazonaws.com/assets/palladium/production/s3fs-public/styles/full_width/public/thumbnails/image/ESP_023184_1335_cutout_scalebar.jpg?itok=3f0CSHA3"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Mars | USGS Astrogeology Science Center",
           "htmlTitle": "\u003cb\u003eMars\u003c/b\u003e | USGS Astrogeology Science Center",
           "link"[...]
