---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=mars%20-site:mars.nasa.gov%20site:nasa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"W18CoImQKYKeZ22usPfNI43IHMc/IDkj5USOwvm0idq2DjyuJIco4i4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - mars -site:mars.nasa.gov site:nasa.gov",
            "totalResults": "470000",
            "searchTerms": "mars -site:mars.nasa.gov site:nasa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - mars -site:mars.nasa.gov site:nasa.gov",
            "totalResults": "470000",
            "searchTerms": "mars -site:mars.nasa.gov site:nasa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.343118,
          "formattedSearchTime": "0.34",
          "totalResults": "470000",
          "formattedTotalResults": "470,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Mars - Overview | Planets - NASA Solar System Exploration",
           "htmlTitle": "\u003cb\u003eMars\u003c/b\u003e - Overview | Planets - NASA Solar System Exploration",
           "link": "https://solarsystem.nasa.gov/planets/mars",
           "displayLink": "solarsystem.nasa.gov",
           "snippet": "Mars is a cold desert world. It is half the diameter of Earth and has the same \namount of dry land. Like Earth, Mars has seasons, polar ice caps, volcanoes, \ncanyons and weather, but its atmosphere is too thin for liquid water to exist for \nlong on the surface. There are signs of ancient floods on Mars, but evidence for \nwater now ...",
           "htmlSnippet": "\u003cb\u003eMars\u003c/b\u003e is a cold desert world. It is half the diameter of Earth and has the same \u003cbr\u003e\namount of dry land. Like Earth, \u003cb\u003eMars\u003c/b\u003e has seasons, polar ice caps, volcanoes, \u003cbr\u003e\ncanyons and weather, but its atmosphere is too thin for liquid water to exist for \u003cbr\u003e\nlong on the surface. There are signs of ancient floods on \u003cb\u003eMars\u003c/b\u003e, but evidence for \u003cbr\u003e\nwater now&nbsp;...",
           "cacheId": "3uRZIwBZmYQJ",
           "formattedUrl": "https://solarsystem.nasa.gov/planets/mars",
           "htmlFormattedUrl": "https://solarsystem.nasa.gov/planets/\u003cb\u003emars\u003c/b\u003e",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "311",
              "height": "162",
              "src": "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRtc-vA0VfrOxUWEBGtqEHe_ZirqB4vPknMwk9D6g8kZXQOousY2sE8rxo"
             }
            ],
            "metatags": [
             {
              "fragment": "!",
              "og:title": "Mars - Overview | Planets - NASA Solar System Exploration",
              "og:site_name": "NASA Solar System Exploration",
              "og:description": "Mars is a cold desert world. It is half the diameter of Earth and has the same amount of dry land. Like Earth, Mars has seasons, polar ice caps, volcanoes, canyons and weather, but its atmosphere is too thin for liquid water to exist for long on the surface. There are signs of ancient floods on Mars, but evidence for water now exists mainly in icy soil and thin clouds.",
              "og:url": "http://solarsystem.nasa.gov/planets/mars",
              "og:image": "http://solarsystem.nasa.gov/images/slideshow/galelayers_835.jpg"
             }
            ],
            "cse_image": [
             {
              "src": "http://solarsystem.nasa.gov/images/slideshow/galelayers_835.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Mars Exploration | NASA",
           "htmlTitle": "\u003cb\u003eMars\u003c/b\u003e Exploration | NASA",
           "link": "https://www.nasa.gov/mission_pages/mars/main/index.html",
           "displayLink": "www.nasa.gov",
           "snippet": "Oct 1, 2017 ... Du[...]
