---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=english%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - C01B46FCB830440A8CEA369A41FA5E8A
      X-Msedge-Clientid:
      - 000221E0859D6A64015E314484606B67
      X-Msapi-Userstate:
      - e985
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=952EDAB63D1D4618A5DD1D848C4B6A18&CID=000221E0859D6A64015E314484606B67&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=952EDAB63D1D4618A5DD1D848C4B6A18&CID=000221E0859D6A64015E314484606B67&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5398.1", "totalEstimatedMatches": 13800000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "English Language Training | Study in the States", "url": "https:\/\/studyinthestates.dhs.gov\/students\/get-started\/english-language-training",
        "urlPingSuffix": "DevEx,5062.1", "displayUrl": "https:\/\/studyinthestates.dhs.gov\/students\/get-started\/english-language-training",
        "snippet": "A “stand-alone” English language training program is an SEVP-certified
        institution whose officials have indicated on the school''s Form I-17, “Petition
        for Approval of School for Attendance by Nonimmigrant Student,” that the school
        offers only English language training programs of study.", "dateLastCrawled":
        "2021-08-25T04:29:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Field of degree: English : Occupational Outlook Handbook ...", "url":
        "https:\/\/www.bls.gov\/ooh\/field-of-degree\/english\/english-field-of-degree.htm",
        "urlPingSuffix": "DevEx,5076.1", "displayUrl": "https:\/\/www.bls.gov\/ooh\/field-of-degree\/english\/english-field-of-degree.htm",
        "snippet": "Table 2. Top-employing occupations for workers with an Engl[...]
