---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=law%20-site:justice.gov/archives%20site:justice.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/JaW4SsAee0Nr2d7jd2PZVgEBBYE"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - law -site:justice.gov/archives site:justice.gov",
            "totalResults": "159000",
            "searchTerms": "law -site:justice.gov/archives site:justice.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - law -site:justice.gov/archives site:justice.gov",
            "totalResults": "159000",
            "searchTerms": "law -site:justice.gov/archives site:justice.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.34302,
          "formattedSearchTime": "0.34",
          "totalResults": "159000",
          "formattedTotalResults": "159,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Law Enforcement | EJI | Department of Justice",
           "htmlTitle": "\u003cb\u003eLaw\u003c/b\u003e Enforcement | EJI | Department of Justice",
           "link": "https://www.justice.gov/elderjustice/law-enforcement-1",
           "displayLink": "www.justice.gov",
           "snippet": "Federal, state, and local law enforcement officers play a unique and critical role \nin our response to elder abuse and financial exploitation. The Department of ...",
           "htmlSnippet": "Federal, state, and local \u003cb\u003elaw\u003c/b\u003e enforcement officers play a unique and critical role \u003cbr\u003e\nin our response to elder abuse and financial exploitation. The Department of&nbsp;...",
           "cacheId": "tOIxWioTI6kJ",
           "formattedUrl": "https://www.justice.gov/elderjustice/law-enforcement-1",
           "htmlFormattedUrl": "https://www.justice.gov/elderjustice/\u003cb\u003elaw\u003c/b\u003e-enforcement-1",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "235",
              "height": "140",
              "src": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6xMmPcmsC8FVFCA3xRM1xrFmwFA_DEYYIkHGE2AE6SZvxgOkbeNFDQCsP"
             }
            ],
            "metatags": [
             {
              "mobileoptimized": "width",
              "handheldfriendly": "true",
              "viewport": "width=device-width"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.justice.gov/sites/default/files/basic_panes/images/2016/09/09/le_reporting_obligations2.png"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "First U.S.-China Law Enforcement and Cybersecurity Dialogue ...",
           "htmlTitle": "First U.S.-China \u003cb\u003eLaw\u003c/b\u003e Enforcement and Cybersecurity Dialogue ...",
           "link": "https://www.justice.g[...]
