---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(english)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028english\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":8760000,"Offset":0,"Results":[{"Title":"Draft
        Standards for English Language Arts \u007c New York State ...","Description":"On
        September 21, 2016, the New York State Education Department \u0028NYSED\u0029
        released new draft New York State P-12 English Language Arts and Mathematics
        Learning Standards.","Url":"http\u003a\u002f\u002fwww.nysed.gov\u002fteachers\u002fdraft-standards-english-language-arts","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003denglish\u0026d\u003d4772148385023511\u0026w\u003dGYfEr1b6aI96HzsIh99SRzF1vHxTq1ML","DisplayUrl":"www.nysed.gov\u002fteachers\u002fdraft-standards-english-language-arts","DateTime":"2016-12-01T01\u003a52\u003a00Z"},{"Title":"English
        \u0028United States\u0029 Home","Description":"English \u0028United States\u0029
        ... Get the latest news from the Illinois Department of Insurance here. Stay
        informed. Please enter a valid email address.","Url":"https\u003a\u002f\u002fgetcovered.illinois.gov\u002f","DisplayUrl":"https\u003a\u002f\u002fgetcovered.illinois.gov","DateTime":"2016-11-30T23\u003a25\u003a00Z"},{"Title":"English
        \u0028PDF\u0029 - d[...]
