---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 35F584D8F66B46749047C675B18E6E90
      X-Msedge-Clientid:
      - 030715AF75246C060B9C1E24748B6DC5
      X-Msapi-Userstate:
      - 6d47
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=0BBF762DECEA499785530D75042C802D&CID=030715AF75246C060B9C1E24748B6DC5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=0BBF762DECEA499785530D75042C802D&CID=030715AF75246C060B9C1E24748B6DC5&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5516.1", "totalEstimatedMatches": 26900000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "VDOE :: English Standards of Learning Resources", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/standards_docs\/english\/index.shtml",
        "urlPingSuffix": "DevEx,5103.1", "about": [{"name": "Standards of Learning"}],
        "displayUrl": "www.doe.virginia.gov\/testing\/sol\/standards_docs\/english\/index.shtml",
        "snippet": "Standards of Learning Documents for English . The Standards of
        Learning and Curriculum Framework comprise the English language arts content
        that teachers in Virginia ...", "deepLinks": [{"name": "Released Sol Tests",
        "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/released_tests\/index.shtml",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "Mathematics", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/standards_docs\/mathematics\/index.shtml",
        "urlPingSuffix": "DevEx,5091.1"}, {"name": "Practice Items", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/practice_items\/testnav8.shtml",
        "urlPingSuffix": "DevEx,5092.1"}, {"name": "History & Social Science", "url":
        "http:\/\/www.doe.virginia.gov\/testing\/sol\/standards_docs\/history_socialscience\/index.shtml",
        "urlPingSuffix": "DevEx,5093.1"}], "dateLastCrawled": "2018-01-27T03:48:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "American
        English | For English Language Teachers Around ...", "url": "https:\/\/americanenglish.state.gov\/",
        "urlPingSuffix": "DevEx,5116.1", "displayUrl": "https:\/\/americanenglish.state.gov",
        "snippet": "American English is a website for teachers and learners of English
        as a foreign language abroad.", "dateLastCrawled": "2018-01-04T21:34:00.0000000Z"},[...]
