---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D2FD3E3525444B1C9508CBD642FBFFDC
      X-Msedge-Clientid:
      - 1FA85F271E02615907CE55981F95605E
      X-Msapi-Userstate:
      - 889c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=525372EB6FA445AE845936D1E8D3054B&CID=1FA85F271E02615907CE55981F95605E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=525372EB6FA445AE845936D1E8D3054B&CID=1FA85F271E02615907CE55981F95605E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5471.1", "totalEstimatedMatches": 16600000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "FAQ - English", "url": "http:\/\/www.sbe.wa.gov\/faq\/english.php", "urlPingSuffix":
        "DevEx,5078.1", "displayUrl": "www.sbe.wa.gov\/faq\/english.php", "snippet":
        "English Graduation Requirement Frequently Asked Questions. Updated: January
        2013. What is the State Board of Education’s role in graduation requirements?",
        "dateLastCrawled": "2017-07-03T04:28:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "American English | For English Language Teachers Around ...", "url":
        "https:\/\/americanenglish.state.gov\/", "urlPingSuffix": "DevEx,5094.1",
        "about": [{"name": "American English Education"}], "displayUrl": "https:\/\/americanenglish.state.gov",
        "snippet": "American English is a website for teachers and learners of English
        as a foreign language abroad.", "deepLinks": [{"name": "Exchanges", "url":
        "http:\/\/exchanges.state.gov\/", "urlPingSuffix": "DevEx,5089.1"}, {"name":
        "ECA", "url": "http:\/\/www.eca.state.gov\/", "urlPingSuffix": "DevEx,5090.1"}],
        "dateLastCrawled": "2017-06-21T22:58:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "VDOE :: English Standards of Learning Resources", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/standards_docs\/english\/index.shtml",
        "urlPingS[...]
