---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(electro%20coagulation)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028electro
        coagulation\u0029 language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov
        OR site\u003amil\u0029"},"Spell":{"Total":1,"Results":[{"Value":"electrocoagulation"}]},"Web":{"Total":13700,"Offset":0,"Results":[{"Title":"Remediation
        of biodiesel wastewater by chemical- and ...","Description":"Remediation of
        biodiesel wastewater by chemical- and electro-coagulation\u003a a comparative
        study. Ngamlerdpokin K\u00281\u0029, Kumjadpai S, Chatanon P, Tungmanee U,
        ...","Url":"http\u003a\u002f\u002fwww.ncbi.nlm.nih.gov\u002fpubmed\u002f21641715","DisplayUrl":"www.ncbi.nlm.nih.gov\u002fpubmed\u002f21641715","DateTime":"2016-10-23T03\u003a41\u003a00Z"},{"Title":"Electro-coagulation
        treatment of oily wastewater with ...","Description":"Electro-coagulation
        treatment of oily wastewater with sludge analysis. ... Electro-coagulation
        can be used as an efficient treatment technique for oily wastewater.","Url":"http\u003a\u002f\u002fwww.ncbi.nlm.nih.gov\u002fpubmed\u002f23109567","DisplayUrl":"www.ncbi.nlm.nih.gov\u002fpubmed\u002f23109567","DateTime":"2016-10-25T00\u003a33\u003a00Z"},{"T[...]
