---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=mars%20(site:.gov)%20(-site:nasa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 65c23f7982a241d0af40e263a1dfc57c
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 65c23f7982a241d0af40e263a1dfc57c
      Bingapis-Sessionid:
      - 75D9553FD6414C83B3F3EC27A1FC8C54
      X-Msedge-Clientid:
      - 3CF2F35D9F3560B81661E7409EA16156
      X-Msapi-Userstate:
      - 73cb
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=250,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "mars
        (site:.gov) (-site:nasa.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=mars+(site%3a.gov)+(-site%3anasa.gov)",
        "totalEstimatedMatches": 48000000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Mars Colonization: Beyond Getting There - PMC - National Center for
        ...", "url": "https:\/\/www.ncbi.nlm.nih.gov\/pmc\/articles\/PMC6383964\/",
        "datePublished": "2018-10-25T00:00:00.0000000", "datePublishedDisplayText":
        "Oct 25, 2018", "isFamilyFriendly": <DATADOG_API_ENABLED>, "displayUrl": "https:\/\/www.ncbi.nlm.nih.gov\/pmc\/articles\/PMC6383964",
        "snippet": "Beyond an active target for space exploration, colonization of
        Mars has become a popular topic nowadays, fuelled by a potentially naive and
        somewhat questionable belief that this planet could at some point in time
        be terraformed to sustain human life. 1 Indeed, the Moon, while very close,
        is small, barren and devoid of atmosphere.", "dateLastCrawled": "2024-02-05T06:05:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Mars - Science On a Sphere", "url": "https:\/\/sos.noaa.gov\/catalog\/datasets\/mars\/",
        "datePublished": "2010-01-01T00:00:00.0000000", "datePublishedDisplayText":
        "Jan 1, 2010", "isFamilyFriendly": <DATADOG_API_ENABLED>, "displayUrl": "https:\/\/sos.noaa.gov\/catalog\/datasets\/mars",
        "snippet": "Mars touts not only the highest point in the solar system, but
        also a canyon over 4 miles (6.5 km) deep. The highest point, the mountain
        Olympus Mons is 88,500 feet (almost 17 miles) above the surrounding area and
        has an astounding diameter of over 300 miles. The base of the mountain is
        surrounded by a cliff that drops 20,000 feet (almost 4 miles).", "dateLastCrawled":
        "2024-02-03T10:41:00.0000000Z", "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=mars+(site%3a.gov)+(-site%3anasa.gov)&d=4877760235569253&mkt=en-US&setlang=en-US&w=cZJgRiCje1yqJifinIfazDP60bhObmN6",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.2",
        "name": "Interactive GIS Map of Mars | USGS Astrogeology Science Center",
        "url": "https:\/\/astrogeology.usgs.gov\/facilities\/mrctr\/mars-online-map",
        "isFamilyFriendly": <DATADOG_API_ENABLED>, "display[...]
