---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(electro%20coagulation)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028electro
        coagulation\u0029 language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov
        OR site\u003amil\u0029"},"Spell":{"Total":1,"Results":[{"Value":"electrocoagulation"}]},"Web":{"Total":64200,"Offset":0,"Results":[{"Title":"Electrocoagulation
        in the treatment of cancer of the ...","Description":"These references are
        in PubMed. This may not be the complete list of references from this article.","Url":"http\u003a\u002f\u002fwww.ncbi.nlm.nih.gov\u002fpmc\u002farticles\u002fPMC1397611\u002f","DisplayUrl":"www.ncbi.nlm.nih.gov\u002fpmc\u002farticles\u002fPMC1397611","DateTime":"2016-05-25T20\u003a00\u003a00Z"},{"Title":"Laparoscopic
        tubal electrocoagulation for sterilization ...","Description":"1. Int J
        Gynaecol Obstet. 1980\u003b18\u00286\u0029\u003a411-3. Laparoscopic tubal
        electrocoagulation for sterilization\u003a 5000 cases. Limpaphayom K, Reinprayoon
        D, Aribarg A, Sinivongs V ...","Url":"http\u003a\u002f\u002fwww.ncbi.nlm.nih.gov\u002fpubmed\u002f6111477","DisplayUrl":"www.ncbi.nlm.nih.gov\u002fpubmed\u002f6111477","DateTime":[...]
