---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=law%20-site:justice.gov/archives%20site:justice.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/2Pc2a8U7qPS5dN-K5IanpGod7bA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - law -site:justice.gov/archives site:justice.gov",
            "totalResults": "122000",
            "searchTerms": "law -site:justice.gov/archives site:justice.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - law -site:justice.gov/archives site:justice.gov",
            "totalResults": "122000",
            "searchTerms": "law -site:justice.gov/archives site:justice.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.706294,
          "formattedSearchTime": "0.71",
          "totalResults": "122000",
          "formattedTotalResults": "122,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Virtual Law Library | EOIR | Department of Justice",
           "htmlTitle": "Virtual \u003cb\u003eLaw\u003c/b\u003e Library | EOIR | Department of Justice",
           "link": "https://www.justice.gov/eoir/virtual-law-library",
           "displayLink": "www.justice.gov",
           "snippet": "This site serves as a complement to the Law Library and Immigration Research \nCenter (LLIRC) located within the headquarters complex of the Executive Office ...",
           "htmlSnippet": "This site serves as a complement to the \u003cb\u003eLaw\u003c/b\u003e Library and Immigration Research \u003cbr\u003e\nCenter (LLIRC) located within the headquarters complex of the Executive Office&nbsp;...",
           "cacheId": "UAMId3duZVYJ",
           "formattedUrl": "https://www.justice.gov/eoir/virtual-law-library",
           "htmlFormattedUrl": "https://www.justice.gov/eoir/virtual-\u003cb\u003elaw\u003c/b\u003e-library",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "225",
              "height": "100",
              "src": "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTLTpLlV7zpF3onNnQMsoBibWMhEGmgM-DJrZCENOYBZ-Pe36EaujLE96k"
             }
            ],
            "metatags": [
             {
              "mobileoptimized": "width",
              "handheldfriendly": "true",
              "viewport": "width=device-width"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.justice.gov/sites/default/files/eoir/fieldable-panel-panes/image-panes/images/2015/02/03/eoir-virtual-law-library.png"
             }
            ],
            "Document": [
             {
              "title": "Virtual Law Library"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Immigration Law Advisor | EOIR | Department of Justice",
           "htmlTitle": "Immigration \u003cb\u003eLaw\u003c/b\u003e Advisor | EOIR | Department of Justice",
           "link": "https://www.justice.gov/eoir/immigration-law-advisor",
           "displayLink": "www.justice.gov",
           "snippet":[...]
