---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=english%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 65b2edb0a89a4653977adb43569f0a5c
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 65b2edb0a89a4653977adb43569f0a5c
      Bingapis-Sessionid:
      - 8BFF337C48E24476B73F92AD17B03CD9
      X-Msedge-Clientid:
      - 0B79E54AF7F9676D2606F15BF6536699
      X-Msapi-Userstate:
      - af10
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=237,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "english
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 24400000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Find courses to help you learn English | USAGov", "url": "https:\/\/www.usa.gov\/learn-english",
        "isFamilyFriendly": <DATADOG_API_ENABLED>, "displayUrl": "https:\/\/www.usa.gov\/learn-english",
        "snippet": "Find literacy and ESL programs near you for learning or improving
        your English. If you have children, ask their school staff about ESL classes
        in their school district. In some communities, libraries offer English classes
        and materials to study. Find a library near you. You may also visit the National
        Literacy Directory to find literacy ...", "dateLastCrawled": "2024-01-24T18:12:00.0000000Z",
        "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=english+(site%3agov+OR+site%3amil)&d=4536598211686278&mkt=en-US&setlang=en-US&w=38OiTa8zH20PAd8hCCqTezY811g6HQ_v",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "IRS Free File is now available for the 2024 filing season", "url":
        "https:\/\/www.irs.gov\/newsroom\/irs-free-file-is-now-available-for-the-2024-filing-season",
        "datePublished": "2024-01-22T00:00:00.0000000", "datePublishedFreshnessText":
        "3 days ago", "isFamilyFriendly": <DATADOG_API_ENABLED>, "displayUrl": "https:\/\/www.irs.gov\/newsroom\/irs-free-file-is-now-available-for-the-2024-filing-season",
        "snippet": "Tax Tip 2024-03, Jan. 22, 2024 — IRS Free File is now available
        for the 2024 filing season. With this program, eligible taxpayers can prepare
        and file their federal tax returns using free tax software from trusted IRS
        Free File partners.", "dateLastCrawled": "2024-01-23T22:45:00.00[...]
