---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=mars%20-site:nasa.gov%20site:.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/DXSXKjsVaEYkRsZrzTfQS5b5XXs"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - mars -site:nasa.gov site:.gov",
            "totalResults": "55300",
            "searchTerms": "mars -site:nasa.gov site:.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - mars -site:nasa.gov site:.gov",
            "totalResults": "55300",
            "searchTerms": "mars -site:nasa.gov site:.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.291764,
          "formattedSearchTime": "0.29",
          "totalResults": "55300",
          "formattedTotalResults": "55,300"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "USGS Scientific Investigations Map 3292: Geologic Map of Mars",
           "htmlTitle": "USGS Scientific Investigations Map 3292: Geologic Map of \u003cb\u003eMars\u003c/b\u003e",
           "link": "https://pubs.usgs.gov/sim/3292/",
           "displayLink": "pubs.usgs.gov",
           "snippet": "Jul 14, 2014 ... This global geologic map of Mars, which records the distribution of geologic units \nand landforms on the planet's surface through time, is based ...",
           "htmlSnippet": "Jul 14, 2014 \u003cb\u003e...\u003c/b\u003e This global geologic map of \u003cb\u003eMars\u003c/b\u003e, which records the distribution of geologic units \u003cbr\u003e\nand landforms on the planet&#39;s surface through time, is based&nbsp;...",
           "cacheId": "C_TmTWc6zcoJ",
           "formattedUrl": "https://pubs.usgs.gov/sim/3292/",
           "htmlFormattedUrl": "https://pubs.usgs.gov/sim/3292/",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "254",
              "height": "198",
              "src": "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQMqO3bPEqdTQenwrC6MCmBhTvpIaIMCFwTATlHidIHqe7P028LumPIrvFj"
             }
            ],
            "metatags": [
             {
              "author": "Kenneth L. Tanaka, James A. Skinner, Jr., James M. Dohm, Rossman P. Irwin, III, Eric J. Kolb, Corey M. Fortezzo, Thomas Platz, Gregory G. Michael, and Trent M. Hare",
              "publisher": "U.S. Geological Survey (USGS)",
              "version": "2.0",
              "originating psc": "Tacoma PSC",
              "originating poster": "Bobbie Hanks"
             }
            ],
            "cse_image": [
             {
              "src": "https://pubs.usgs.gov/sim/3292/images/coverthb.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "USGS Mars Global GIS Mapping Application",
           "htmlTitle": "USGS \u003cb\u003eMars\u003c/b\u003e Global GIS Mapping Application",
           "link": "https://webgis2.wr.usgs.gov/Mars_Global_GIS/",
           "displayLink": "webgis2.wr.usgs.gov",
           "snippet": "M[...]
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=mars%20-site:nasa.gov%20site:.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/DVw_7LZxcJDpBQ3C693KUf8k7x8"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encodi[...]
