---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=park%20-site:mars.nasa.gov%20site:nasa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/V6BIbEtUn15of58O9YvvpbHLa1Q"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - park -site:mars.nasa.gov site:nasa.gov",
            "totalResults": "337000",
            "searchTerms": "park -site:mars.nasa.gov site:nasa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - park -site:mars.nasa.gov site:nasa.gov",
            "totalResults": "337000",
            "searchTerms": "park -site:mars.nasa.gov site:nasa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 1.011017,
          "formattedSearchTime": "1.01",
          "totalResults": "337000",
          "formattedTotalResults": "337,000"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "NASA Research Park | NASA",
           "htmlTitle": "NASA Research \u003cb\u003ePark\u003c/b\u003e | NASA",
           "link": "https://www.nasa.gov/researchpark",
           "displayLink": "www.nasa.gov",
           "snippet": "Nov 30, 2016 ... NASA Research Park (NRP) at NASA Ames Research Center in Silicon Valley is \na world-class shared-use R&D and education campus for ...",
           "htmlSnippet": "Nov 30, 2016 \u003cb\u003e...\u003c/b\u003e NASA Research \u003cb\u003ePark\u003c/b\u003e (NRP) at NASA Ames Research Center in Silicon Valley is \u003cbr\u003e\na world-class shared-use R&amp;D and education campus for&nbsp;...",
           "cacheId": "eLn0fVbZKssJ",
           "formattedUrl": "https://www.nasa.gov/researchpark",
           "htmlFormattedUrl": "https://www.nasa.gov/research\u003cb\u003epark\u003c/b\u003e",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "225",
              "height": "225",
              "src": "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTLrcxQ1bni05bX5uET7tvsY2dtfjLQfRyLF6XKMDwH8dKfEhSQgOSi6IQu"
             }
            ],
            "metatags": [
             {
              "twitter:url": "/researchpark",
              "dc.title": "NASA Research Park",
              "twitter:site:id": "11348282",
              "og:type": "article",
              "og:site_name": "NASA",
              "dc.creator": "Emily Chan",
              "twitter:site": "@NASA",
              "dc.date": "2016-01-12T12:35-05:00",
              "dc.format": "text/html",
              "dc.type": "Text",
              "dc.identifier": "/researchpark",
              "dc.language": "und",
              "twitter:description": "NASA brings you images, videos and features from the unique perspective of America's space agency. Get updates on missions, watch NASA TV, read blogs, view the latest discoveries, and more.",
              "twitter:image0": "http://www.nasa.gov/sites/default/files/images/astro.jpg",
              "twitter:card": "gallery",
              "og:image": "http://www.nasa.gov/sites/default/files/files/nasa_insignia_300.jpg",
              "og:description": "NASA.gov brings you the latest images, videos and news from America's space agency. Get the latest updates on NASA missions, watch NASA TV live, and learn about our quest to reveal the unknown and benefit all humankind.",
              "twitter:image1": "http://www.nasa.gov/sites/default/files/images/potw1335a_0.jpg",
              "twitter:title": "NASA Research Park",
              "twitter:image": "http://www.nasa.gov",
              "twitter:image2": "http://www.nasa.gov/sites/default/files/images/earth_1000.jpg",
              "og:url": "http://www.nasa.gov/researchpark",
              "og:title": "NASA Research Park",
              "twitter:image3": "http://www.nasa.gov/sites/default/files/images/Aeroplane.jpeg",
              "viewport": "width=device-width, initial-scale=1.0, maximum-scale=10.0",
              "nasa/config/environment": "%7B%22modulePrefix%22%3A%22nasa%22%2C%22environment%22%3A%22development%22%2C%22baseURL%22%3A%22/%22%2C%22locationType%22%3A%22none%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%7D%2C%22APP%22%3A%7B%22LOG_ACTIVE_GENERATION%22%3Atrue%2C%22LOG_VIEW_LOOKUPS%22%3Atrue%7D%2C%22contentSecurityPolicyHeader%22%3A%22Content-Security-Policy-Report-Only%22%2C%22contentSecurityPolicy%22%3A%7B%22default-src%22%3A%22%27none%27%22%2C%22script-src%22%3A%22%27self%27%20%27unsafe-eval%27%22%2C%22font-src%22%3A%22%27self%27%22%2C%22connect-src%22%3A%22%27self%27%22%2C%22img-src%22%3A%22%27self%27%22%2C%22style-src%22%3A%22%27self%27%22%2C%22media-src%22%3A%22%27self%27%22%7D%2C%22exportApplicationGlobal%22%3Atrue%7D"
             }
            ],
            "cse_image": [
             {
              "src": "http://www.nasa.gov/sites/default/files/files/nasa_insignia_300.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Kennedy Space Center NASA Exchange Council - KARS Park",
           "htmlTitle": "Kennedy Space Center NASA Exchange Council - KARS \u003cb\u003ePark\u003c/b\u003e",
           "link": "https://nasaexchange.ksc.nasa.gov/kars/",
           "displayLink": "nasaexchange.ksc.nasa.gov",
           "snippet": "Feb 28, 2017 ... Per NASA Policy Directive (NPD) 9050.6 (as revised), KARS Parks I & II were \nestablished as recreational facilities operated by the NASA ...",
           "htmlSnippet": "Feb 28, 2017 \u003cb\u003e...\u003c/b\u003e Per NASA Policy Directive (NPD) 9050.6 (as revised), KARS \u003cb\u003eParks\u003c/b\u003e I &amp; II were \u003cbr\u003e\nestablished as recreational facilities operated by the NASA&nbsp;...",
           "cacheId": "XeD-KwdC1NEJ",
           "formattedUrl": "https://nasaexchange.ksc.nasa.gov/kars/",
           "htmlFormattedUrl": "https://nasaexchange.ksc.nasa.gov/kars/",
           "pagemap": {
            "metatags": [
             {
              "dc.title": "Kennedy Space Center NASA Exchange Council - KARS Park",
              "dc.format": "text/html",
              "dc.language": "en",
              "dc.creator": "Sayre Sallee",
              "dc.publisher": "Sayre Sallee",
              "dc.contributor": "Roberto Perez",
              "dc.date": "6.10.2010",
              "dc.description": "Kennedy Space Center NASA Exchange Council - KARS Park",
              "dc.identifier": "Kennedy Space Center NASA Exchange Council - KARS Park",
              "dc.type": "feature",
              "dc.subject": "Kennedy Space Center NASA Exchange Council - KARS Park",
              "dc.subject.organization": "Kennedy Space Center (KSC)",
              "dc.audience": "Contractors, NASA Personnel",
              "dc.type.interactivitylevel": "Passive very low"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "National Parks from Space : Feature Articles",
           "htmlTitle": "National \u003cb\u003eParks\u003c/b\u003e from Space : Feature Articles",
           "link": "http://earthobservatory.nasa.gov/Features/NationalParks/",
           "displayLink": "earthobservatory.nasa.gov",
           "snippet": "The U.S. National Park Service celebrates its centennial in 2016, \ncommemorating 100 years of stewardship of America's natural and historic \ntreasures. Many of ...",
           "htmlSnippet": "The U.S. National \u003cb\u003ePark\u003c/b\u003e Service celebrates its centennial in 2016, \u003cbr\u003e\ncommemorating 100 years of stewardship of America&#39;s natural and historic \u003cbr\u003e\ntreasures. Many of&nbsp;...",
           "cacheId": "wXELk9wekCYJ",
           "formattedUrl": "earthobservatory.nasa.gov/Features/NationalParks/",
           "htmlFormattedUrl": "earthobservatory.nasa.gov/Features/National\u003cb\u003eParks\u003c/b\u003e/",
           "pagemap": {
            "thumbnail": [
             {
              "src": "http://eoimages.gsfc.nasa.gov/images/featureteasers/88000/88160/national_parks_tn.jpg"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1, maximum-scale=1",
              "title": "National Parks from Space : Feature Articles",
              "orgcode": "610",
              "rno": "Charles.M.Ichoku.1",
              "content-owner": "Paul.D.Przyborski.1",
              "webmaster": "Paul.D.Przyborski.1",
              "dc.identifier": "http://earthobservatory.nasa.gov",
              "dc.title": "National Parks from Space : Feature Articles",
              "dc.description": "The U.S. National Park Service celebrates its centennial in 2016, commemorating 100 years of stewardship of America’s natural and historic treasures. Many of those monuments, scenic rivers, parks, and historic sites are visible from space—where the views are just as compelling.",
              "dc.date": "2016-08-22",
              "dc.date.x-metadatalastmodified": "2016-08-25",
              "dc.publisher": "NASA Earth Observatory",
              "dc.publisher.address": "http://earthobservatory.nasa.gov/Contact/",
              "dc.language": "en",
              "dc.type": "Text.Article",
              "dc.format": "text/html",
              "dc.subject": "national parks, trees, NASA, Yellowstone, Appalachian, Rogers, Delaware Water Gap, Shenandoah, Great Smoky Mountains",
              "dc.creator": "Carlowitcz, Michael",
              "thumbnail": "http://eoimages.gsfc.nasa.gov/images/featureteasers/88000/88160/national_parks_tn.jpg"
             }
         [...]
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=mars%20site:nasa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/GCf570yJphXhxfL3i60XdYh5qFg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
     [...]
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=mars%20-site:mars.nasa.gov%20site:nasa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/bvHmsPKsBzrh5ZpTe188UkSp0qc"'
      Content-Type:
      - application/json; charset[...]
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=mars%20-site:excluded.gov%20site:nasa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/l1f8-h7VEwYOiy_zKUG8Pzw6DdU"'
      Content-Type:
      - application/json; charset=[...]
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=law%20-site:justice.gov/archives%20site:justice.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/9s4LcXl3XrZ7kiF7PNSSEK8H-AY"'
      Content-Type:
      - application/json[...]
