.serp-pagination-wrapper nav.usa-pagination {
  justify-content: flex-start;
  margin-top: 5rem;
}

.serp-pagination-wrapper nav.usa-pagination li.usa-pagination__item:first-child{
  margin-left: 0;
}
