---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='casa%20blanca%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 71f5a18d-05dc-4aa4-b98e-834086210051
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027casa
        blanca (site:usa.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"32e5faaa-08e2-44b4-9fd6-d615c849d98e","Title":"La
        Casa Blanca | USAGov","Description":"La Casa Blanca ; Contacto: Formulario
        de contacto (en inglés) Dirección: The White House 1600 Pennsylvania Avenue,
        NW Washington, DC 20500. Teléfono: 202-456-1111 ...","DisplayUrl":"https://gobierno.usa.gov/agencias-federales/la-casa-blanca","Url":"https://gobierno.usa.gov/agencias-federales/la-casa-blanca"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027casa
        blanca (site:usa.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"d4109f4b-9cd3-4b4f-b6a6-edd083bc25a2","Title":"International
        Office - Casablanca | BusinessUSA","Description":"International Office -
        Casablanca | BusinessUSA ... Casablan[...]
