---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=888&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='nutrition%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 0d3f3491-b5a3-413d-9db7-61bed48f1efe
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027nutrition
        (site:usa.gov)\u0027&$skip=888&$top=1","type":"WebResult"},"ID":"2ade710c-f210-43cd-8f9f-fee78507e48a","Title":"Search
        Results - Publications.USA.gov Main Page","Description":"Supplemental Nutrition
        Assistance Program View More Details SNAP ayuda a personas de escasos ingresos
        o sin ingresos a comprar alimentos para una buena salud.","DisplayUrl":"publications.usa.gov/USAPubs.php?NavCode=R&PageButton=122&...","Url":"http://publications.usa.gov/USAPubs.php?NavCode=R&PageButton=122&PageCatID=0&PageCatName=&BegPub=1230&selPubFormatID=0&LanguageID=0&searchText=&QueryType=search"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027nutrition
        (site:usa.gov)\u0027&$skip=889&$top=1","type":"WebResult"},"ID":"a93ac59d-057c-45bc-8852-c805c95e16f4","Title":"Participating
        DAP sites - analytics[...]
