---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='gobierno%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 38baef26-c55c-47d0-8478-dd6d64afbe63
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027gobierno
        (site:usa.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"16fd0ea6-f83c-4dbf-beb7-bfa89e797107","Title":"Guía
        oficial de información y servicios del Gobierno ...","Description":"Página
        principal de GobiernoUSA.gov, el portal oficial del Gobierno de Estados
        Unidos en español..","DisplayUrl":"https://gobierno.usa.gov","Url":"https://gobierno.usa.gov/"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027gobierno
        (site:usa.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"78852a0d-3b3a-4e76-bfb9-3b34c6152433","Title":"Recursos
        para la educación | GobiernoUSA.gov","Description":"Becas, productos financieros
        y programas del Gobierno para la educación superior. Recursos educativos.[...]
