---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=888&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='nutrition%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 226a3d91-cbe2-41bb-9b21-163eeac55234
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027nutrition
        (site:usa.gov)\u0027&$skip=888&$top=1","type":"WebResult"},"ID":"2c59630b-8adb-4f06-95d5-a64a78bde8f8","Title":"Listeria
        - Federal Citizen Information Center","Description":"OVER 2007 Listeria You
        can get very sick from some ready-to-eat foods if you wait too long to eat
        them. The sickness is called Listeriosis. A germ called","DisplayUrl":"publications.usa.gov/pdfs/pdf5967.pdf","Url":"http://publications.usa.gov/pdfs/pdf5967.pdf"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027nutrition
        (site:usa.gov)\u0027&$skip=889&$top=1","type":"WebResult"},"ID":"8228a777-31b9-4375-b126-0bc6fc8a5bae","Title":"analytics.usa.gov","Description":"...
        gov ntptest.niehs.nih.gov ntr.jpl.nasa.gov ntr.ndc.nasa.gov ntrs.nasa.gov
        ntwc.arh.noaa.gov nureg.nrc.g[...]
