---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='nutrition%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 0ecdce32-020e-46fd-a4d5-d44812f26e5b
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027nutrition
        (site:usa.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"6ece2994-7723-4eba-bc0e-495678255e28","Title":"This
        Content Has Been Discontinued | USAGov","Description":"This Content Has Been
        Discontinued. We apologize for the inconvenience. Please use our search bar
        to continue your search. On mobile and tablet devices, the search ...","DisplayUrl":"https://www.usa.gov/food-and-nutrition","Url":"https://www.usa.gov/food-and-nutrition"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027nutrition
        (site:usa.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"16a2cc86-519e-4943-9625-92e5abc73400","Title":"Nutritionist
        | Videos | Kids.gov | USAGov","Description":"A nutritionist or a dietician
        is an expert in food, health and nutrition. And nutritionists[...]
