---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Query='nutrition%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 1f626031-c9cb-49d0-b226-3d7cc8723348
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Query=\u0027nutrition
        (site:usa.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"77943dc3-e909-4d5b-977f-47942cfa43ac","Title":"Nutritionist
        | Videos | Kids.gov | USAGov","Description":"A nutritionist or a dietician
        is an expert in food, health and nutrition. And nutritionists are health professionals,
        so they work in a variety of settings:","DisplayUrl":"https://kids.usa.gov/watch-videos/jobs/nutritionist/index.shtml","Url":"https://kids.usa.gov/watch-videos/jobs/nutritionist/index.shtml"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Query=\u0027nutrition
        (site:usa.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"9911edca-be7a-4db6-ad18-95b24dda2755","Title":"Consumer
        Info. Catalog - Food & Nutrition","Description":"Food Publications. Learn
        more about making healthy food choices and nutrition for better health, safe
     [...]
