---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='gobierno%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 9db40a5b-71f0-4034-8962-5cd72af5eca1
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027gobierno
        (site:usa.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"4e0ec89f-42ac-482c-9300-6177e5c9a995","Title":"Guía
        oficial de información y servicios del Gobierno | USAGov","Description":"Página
        principal de GobiernoUSA.gov, el portal oficial del Gobierno de Estados
        Unidos en español..","DisplayUrl":"https://gobierno.usa.gov","Url":"https://gobierno.usa.gov/"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027gobierno
        (site:usa.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"9333dbc2-f8e2-4012-813e-1dc987a5db28","Title":"Trabajo
        y desempleo | USAGov - gobierno.usa.gov","Description":"Ayuda del Gobierno
        para recibir los beneficios de desempleo e información sobre las obligacione[...]
