---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='gobierno%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 3eac24e5-38c3-4e3a-96c6-1f908a9b8c39
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027gobierno
        (site:usa.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"ff276ff4-e6f2-4eab-ac25-b8b0d05e75a2","Title":"Guía
        oficial de información y servicios del Gobierno ...","Description":"Página
        principal de GobiernoUSA.gov, el portal oficial del Gobierno de Estados
        Unidos en español..","DisplayUrl":"https://gobierno.usa.gov","Url":"https://gobierno.usa.gov/"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027gobierno
        (site:usa.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"c76f8476-b1d8-4d97-babd-d3653d06ea3b","Title":"Recursos
        para la educación | GobiernoUSA.gov","Description":"Becas, productos financieros
        y programas del Gobierno para la educación superior. Recursos educativos.[...]
