---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='gobierno%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - e2c02099-378f-4662-a13b-c70914919777
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027gobierno
        (site:usa.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"c7f30225-d1a8-484e-814b-b9e5b19a120f","Title":"Guía
        oficial de información y servicios del Gobierno | USAGov","Description":"Página
        principal de GobiernoUSA.gov, el portal oficial del Gobierno de Estados
        Unidos en español..","DisplayUrl":"https://gobierno.usa.gov","Url":"https://gobierno.usa.gov/"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027gobierno
        (site:usa.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"1ab50a46-e2f4-43db-a636-ef25a4aafb8b","Title":"Recursos
        para la educación | USAGov - gobierno.usa.gov","Description":"Becas, productos
        financieros y programas del Gobierno para la educación superior. Recurs[...]
