---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=888&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='nutrition%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - c1b8167d-370b-4040-a362-2611bb8ec3b7
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027nutrition
        (site:usa.gov)\u0027&$skip=888&$top=1","type":"WebResult"},"ID":"d5eedba9-06f9-4935-a2e2-6ac5e7ea8808","Title":"Tómese
        el tiempo para cuidarse de LA DIABETES Tómese el tiempo","Description":"Nutrition
        Facts/Datos De Nutrición % Daily Value/Valor Diario* Total Fat/Grasa Total
        1g 11g Sodium/Sodio 173mg Cholesterol/Colesterol 0mg 1%","DisplayUrl":"publications.usa.gov/pdfs/pdf8100.pdf","Url":"http://publications.usa.gov/pdfs/pdf8100.pdf"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027nutrition
        (site:usa.gov)\u0027&$skip=889&$top=1","type":"WebResult"},"ID":"815afb0b-b0cf-45c4-9b8d-6afa526634c5","Title":"Español
        Publications","Description":"Supplemental Nutrition Assistance Program View
        More Details SNAP ayuda a personas de escasos ingresos o [...]
