---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='nutrition%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - d89c08a9-2fc8-4842-b6ce-8c529466d6d8
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027nutrition
        (site:usa.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"d9644b9b-1d9e-4a2a-b34d-91e223b0e488","Title":"Nutritionist
        | Videos | Kids.gov | USAGov","Description":"A nutritionist or a dietician
        is an expert in food, health and nutrition. And nutritionists are health
        professionals, so they work in a variety of settings:","DisplayUrl":"https://kids.usa.gov/watch-videos/jobs/nutritionist/index.shtml","Url":"https://kids.usa.gov/watch-videos/jobs/nutritionist/index.shtml"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027nutrition
        (site:usa.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"990ac638-e264-4def-bdcc-46b9219602d0","Title":"Health
        | USA.gov","Description":"Health. Find health resources from the government.
        Child Care and Related Issues. Find reso[...]
