---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=888&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='nutrition%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 62879d21-cfda-475f-80a3-e8e167cbc700
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027nutrition
        (site:usa.gov)\u0027&$skip=888&$top=1","type":"WebResult"},"ID":"e3a8a9b0-ab1d-4b24-9ba2-e45e6823bd6e","Title":"Select
        Publications","Description":"Order FREE and low cost federal consumer publications
        from the Federal Citizen Information Center at GSA from Publications.USA.gov","DisplayUrl":"publications.usa.gov/USAPubs.php?NavCode=R&PageButton=26&PageCatID=...","Url":"http://publications.usa.gov/USAPubs.php?NavCode=R&PageButton=26&PageCatID=13&PageCatName=Espa&BegPub=240&selPubFormatID=0&LanguageID=0&searchText=&QueryType=category"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027nutrition
        (site:usa.gov)\u0027&$skip=889&$top=1","type":"WebResult"},"ID":"d3afa2c9-12b7-47b4-af3d-d68fdcfbc1ed","Title":"www.usa.gov","Description":"45900
        https://www.usa.gov/api/USAGovAPI/corporate/contacts.json/contact/45900
        en Carvel Corporation http://www.usa.gov/notpublishable.shtml 11401 Century
        Oaks Terrace ...","DisplayUrl":"https://www.usa.gov/api/USAGovAPI/corporate/contacts.xml/contacts","Url":"https://www.usa.gov/api/USAGovAPI/corporate/contacts.xml/contacts"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u002[...]
