---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Query='nutrition%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - a5dde466-b334-49e4-b290-408466ba862d
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Query=\u0027nutrition
        (site:usa.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"a2971c14-c189-4626-b60f-20391d634802","Title":"Nutritionist
        | Videos | Kids.gov | USAGov","Description":"A nutritionist or a dietician
        is an expert in food, health and nutrition. And nutritionists are health professionals,
        so they work in a variety of settings:","DisplayUrl":"https://kids.usa.gov/watch-videos/jobs/nutritionist/index.shtml","Url":"https://kids.usa.gov/watch-videos/jobs/nutritionist/index.shtml"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Query=\u0027nutrition
        (site:usa.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"1bb44936-3369-43c0-a26b-9ce8c9a767be","Title":"Exercise,
        Fitness & Nutrition for Teachers | Kids.gov | USAGov","Description":"Exercise
        & Fitness. Activity and Nutrition - We Can! - Program for families and commun[...]
