---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='nutrition%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 64a5ca40-1f43-4eb2-b070-ed0e6f0e033a
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027nutrition
        (site:usa.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"345c5c82-3ea9-4315-a9fc-5c98ffaea520","Title":"Nutritionist
        | Videos | Kids.gov | USAGov","Description":"A nutritionist or a dietician
        is an expert in food, health and nutrition. And nutritionists are health
        professionals, so they work in a variety of settings:","DisplayUrl":"https://kids.usa.gov/watch-videos/jobs/nutritionist/index.shtml","Url":"https://kids.usa.gov/watch-videos/jobs/nutritionist/index.shtml"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027nutrition
        (site:usa.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"a995c86d-161d-44af-a635-3ff7cd75ad63","Title":"Health
        | USA.gov","Description":"Health. Find health resources from the government.
        Child Care and Related Issues. Find reso[...]
