---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=888&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='nutrition%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - c23812e6-9d63-40ba-b64a-195ba6e12d59
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027nutrition
        (site:usa.gov)\u0027&$skip=888&$top=1","type":"WebResult"},"ID":"368f99a4-c83c-4dfa-82dd-fee556ba0f31","Title":"Introducing
        Parametric Models and Administrative Records ...","Description":"Assistance
        for Needy Families (TANF), Supplemental Nutrition Assistance Program (SNAP),
        and Supplemental Security Income (SSI) receipt.","DisplayUrl":"https://fcsm.sites.usa.gov/files/2016/03/D1_Benedetto_2015FCSM.pdf","Url":"https://fcsm.sites.usa.gov/files/2016/03/D1_Benedetto_2015FCSM.pdf"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027nutrition
        (site:usa.gov)\u0027&$skip=889&$top=1","type":"WebResult"},"ID":"b6b0b0ae-6eb9-4c4f-9281-46df07c7a254","Title":"Export.gov
        - Doing Business in Kenya | BusinessUSA","Description":"... and development
        to improve agricultural productivi[...]
