---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='gobierno%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - eb17be88-3cb4-4d37-a806-64382033ffd4
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027gobierno
        (site:usa.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"7bdbf660-938a-461d-a953-9f1723ee5480","Title":"Trabajo
        y desempleo | USAGov - gobierno.usa.gov","Description":"Ayuda del Gobierno
        para recibir los beneficios de desempleo e información sobre las obligaciones
        tributarias. Empleo y capacitación laboral.","DisplayUrl":"https://gobierno.usa.gov/trabajo-y-desempleo","Url":"https://gobierno.usa.gov/trabajo-y-desempleo"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027gobierno
        (site:usa.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"fe4fc270-98c7-43dc-a9be-66e8d5e5f245","Title":"Guía
        oficial de información y servicios del Gobierno | USAGov","Description":"Página
        principal de GobiernoUSA.gov, el portal oficial del Gobier[...]
