---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=888&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='nutrition%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - f4e08154-7121-4607-b562-da8931ee1a6b
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027nutrition
        (site:usa.gov)\u0027&$skip=888&$top=1","type":"WebResult"},"ID":"803172d4-c78a-4df2-82a4-c2c9a3c367b9","Title":"Measurement
        Services Program | BusinessUSA","Description":"Measurement Services provides
        customers with the means to obtain National Institute of Standards and Technology
        (NIST) Standard Reference Materials®, Calibration ...","DisplayUrl":"https://business.usa.gov/program/measurement-services-program","Url":"https://business.usa.gov/program/measurement-services-program"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027nutrition
        (site:usa.gov)\u0027&$skip=889&$top=1","type":"WebResult"},"ID":"9deca388-7623-45c0-9c9c-6cc5e811e89e","Title":"Events
        | BusinessUSA","Description":"Start a Business Access Financing Explore Exporting
        Grow Your Business Explore Government[...]
