---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=888&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='nutrition%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 875a6afd-16aa-47b7-b996-4f7d8cd7c07d
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027nutrition
        (site:usa.gov)\u0027&$skip=888&$top=1","type":"WebResult"},"ID":"7f376ad0-d27c-4346-9891-109865b96637","Title":"Programa
        de Cupones para Alimentos | GobiernoUSA.gov","Description":"USDA Food and
        Nutrition Service 3101 Park Center Drive Room 926 Alexandria, VA 22302.
        Línea gratuita: 1-800-221-5689 (para español presione el 2) Agencia en inglés:","DisplayUrl":"https://gobierno.usa.gov/agencias-federales/programa-de-cupones...","Url":"https://gobierno.usa.gov/agencias-federales/programa-de-cupones-para-alimentos"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027nutrition
        (site:usa.gov)\u0027&$skip=889&$top=1","type":"WebResult"},"ID":"e793af94-ffca-4553-9be2-c3569020ed91","Title":"Select
        Publications","Description":"Order FREE and low cost federal consumer publications
        from the Federal Ci[...]
