%ul.inline
  = render partial: 'date_picker', locals: { date_label: 'From', date_method: :start_date, form: form}
  = render partial: 'date_picker', locals: { date_label: 'To', date_method: :end_date, form: form}
  %li= form.label :query, "Query"
  %li
    %div= form.text_field :query
