---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9D5E18AF237D435FBFDE98768EF8F3C4
      X-Msedge-Clientid:
      - 3D03572F20C16DDB25315B0F21166CE5
      X-Msapi-Userstate:
      - dacb
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=03989920E9694B64AD4B3BEFCDC575B7&CID=3D03572F20C16DDB25315B0F21166CE5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=03989920E9694B64AD4B3BEFCDC575B7&CID=3D03572F20C16DDB25315B0F21166CE5&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 02 Jul 2018 21:58:02 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 993B13DF28904EE3BBD5BA2E17BED947
      X-Msedge-Clientid:
      - 106ED5BE518A64372BA9D9E6508565C9
      X-Msapi-Userstate:
      - 7e28
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A8CD73C4A0934C2A9F69F48A1B7BF3D8&CID=106ED5BE518A64372BA9D9E6508565C9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A8CD73C4A0934C2A9F69F48A1B7BF3D8&CID=106ED5BE518A64372BA9D9E6508565C9&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 27 Aug 2018 00:00:54 GMT
recorded_with: VCR 4.0.0
