%h1 Super Admin

%h2 Administration
%ul
  %li=link_to("Users", admin_users_path)
  %li=link_to("Sites", admin_affiliates_path)
  %li=link_to('Rss Feeds', admin_rss_feeds_path)
  %li=link_to('Rss Feed Urls', admin_rss_feed_urls_path)
  %li=link_to("System Alerts", admin_system_alerts_path)
  %li=link_to("Email Templates", admin_email_templates_path)

%h2 Type Ahead
%ul
  %li=link_to("Filters", admin_sayt_filters_path)
  %li=link_to("Misspellings", admin_misspellings_path)
  %li=link_to("Suggestions", admin_sayt_suggestions_path)

%h2 GovBoxes
%ul
  %li=link_to("Agencies", admin_agencies_path)

%h2 Local Indexes
%ul
  %li=link_to("Synonyms", admin_synonyms_path)

%h2 Naming Conventions & Links
%ul
  %li=link_to("Features", admin_features_path)
  %li=link_to("Modules", admin_search_modules_path)
  %li=link_to('Statuses', admin_statuses_path)
  %li=link_to('Tags', admin_tags_path)
  %li=link_to("Help Links", admin_help_links_path)

%h2 Analytics
%ul
  %li=link_to("Search Module Stats", admin_search_module_stats_path)
  %li=link_to("Monthly Reports", admin_monthly_reports_path)
  %li=link_to("Customer Reports", admin_affiliate_reports_path)
  %li=link_to("Trending URLs", admin_trending_urls_path)

%h2 Customer Content
%ul
  %li=link_to("RSS News Items", admin_news_items_path)
  %li=link_to("Best Bets: Text", admin_affiliate_boosted_contents_path)
  %li=link_to("Collections", admin_document_collections_path)
  %li=link_to("Customer Scopes", admin_affiliate_scopes_path)
  %li=link_to("Customer Catalog Prefix Whitelist", admin_catalog_prefixes_path)
  %li=link_to("Site RSS Feed Quotas", admin_site_feed_urls_path)

%h2 URL Management
%ul
  %li=link_to("Compare Search Results", admin_compare_search_results_path)
  %li=link_to("Superfresh Urls", admin_superfresh_urls_path)
  %li=link_to("Superfresh Bulk Upload", admin_superfresh_urls_bulk_upload_index_path)

%h2 Logfiles
%ul
  %li=link_to("Blocked Queries", admin_logfile_blocked_queries_path)
  %li=link_to("Blocked Regexps", admin_logfile_blocked_regexps_path)
  %li=link_to("Blocked User Agents", admin_logfile_blocked_user_agents_path)
  %li=link_to("Blocked IPs", admin_logfile_blocked_ips_path)
  %li=link_to("Blocked Class Cs", admin_logfile_blocked_class_cs_path)
  %li=link_to("Whitelisted Class Cs", admin_logfile_whitelisted_class_cs_path)
