%h1 Super Admin

%ul
  %li=link_to("Users", admin_users_path)
  %li=link_to("Affiliates", admin_affiliates_path)
  %li=link_to("SAYT Filters", admin_sayt_filters_path)
  %li=link_to("SAYT Suggestions", admin_sayt_suggestions_path)
  %li=link_to("SAYT Misspellings", admin_misspellings_path)
  %li=link_to("Affiliate Boosted Content", admin_affiliate_boosted_contents_path)
  %li=link_to("Collections", admin_document_collections_path)
  %li=link_to("Government Forms", admin_gov_forms_path)
  %li=link_to("Superfresh Urls", admin_superfresh_urls_path)
  %li=link_to("Superfresh Bulk Upload", admin_superfresh_urls_bulk_upload_index_path)
  %li=link_to("Usa.gov mobile site pages", admin_site_pages_path)
  %li=link_to("Agencies", admin_agencies_path)
  %li=link_to("Logfile Blocked Queries", admin_logfile_blocked_queries_path)
  %li=link_to("Logfile Blocked IPs", admin_logfile_blocked_ips_path)
  %li=link_to("Logfile Blocked Class Cs", admin_logfile_blocked_class_cs_path)
  %li=link_to("Logfile Whitelisted Class Cs", admin_logfile_whitelisted_class_cs_path)
  %li=link_to("Logfile Blocked Regexps", admin_logfile_blocked_regexps_path)
  %li=link_to("Logfile Blocked User Agents", admin_logfile_blocked_user_agents_path)
  %li=link_to("Monthly/Weekly Report Recipients", admin_report_recipients_path)
  %li=link_to("SERP Modules", admin_search_modules_path)
  %li=link_to("Features", admin_features_path)
  %li=link_to("Excluded Domains", admin_excluded_domains_path)
  %li=link_to("Affiliate Scopes", admin_affiliate_scopes_path)
  %li=link_to("Affiliate Catalog Prefix Whitelist", admin_catalog_prefixes_path)
  %li=link_to("Help Links", admin_help_links_path)
  %li=link_to("Search Module Stats", admin_search_module_stats_path)
  %li=link_to("Monthly Reports", admin_monthly_reports_path)
  %li=link_to("Affiliate Reports", admin_affiliate_reports_path)
  %li=link_to("Email Templates", admin_email_templates_path)
  %li=link_to("Common Website Substrings", admin_common_substrings_path)
  %li=link_to("Compare Search Results", admin_compare_search_results_path)
  %li=link_to("Form Agencies", admin_form_agencies_path)
  %li=link_to("Forms", admin_forms_path)
  %li=link_to("Bing URLs", admin_bing_urls_path)
  %li=link_to("System Alerts", admin_system_alerts_path)
