%h2 Search.USA.gov Admin Center

%ul
  %li=link_to("Users", admin_users_path)
  %li=link_to("Search Clickthrus", admin_clicks_path)
  %li=link_to("Affiliates", admin_affiliates_path)
  %li=link_to("Affiliate Broadcast", new_admin_affiliate_broadcast_path)
  %li=link_to("SAYT Filters", admin_sayt_filters_path)
  %li=link_to("SAYT Suggestions", admin_sayt_suggestions_path)
  %li=link_to("SAYT Misspellings", admin_misspellings_path)
  %li=link_to("SAYT Suggestions Bulk Upload", new_admin_sayt_suggestions_upload_path)
  %li=link_to("Search.USA.gov Boosted Content", admin_global_boosted_contents_path)
  %li=link_to("Affiliate Boosted Content", admin_affiliate_boosted_contents_path)
  %li=link_to("Spotlights", admin_spotlights_path)
  %li=link_to("FAQs", admin_faqs_path)
  %li=link_to("Government Forms", admin_gov_forms_path)
  - if @current_user.is_analyst_admin?
    %li=link_to("Query Grouping", analytics_query_groups_path)
  %li=link_to("Calais Related Searches", admin_calais_related_searches_path)
  %li=link_to("Top Searches", admin_top_searches_path)
  %li=link_to("Top Forms", admin_top_forms_path)
  %li=link_to("Superfresh Urls", admin_superfresh_urls_path)
  %li=link_to("Usa.gov mobile site pages", admin_site_pages_path)
  %li=link_to("Popular Image Queries", admin_popular_image_queries_path)
  %li=link_to("Agencies", admin_agencies_path)
  %li=link_to("Logfile Blocked Queries", admin_logfile_blocked_queries_path)
  %li=link_to("Logfile Blocked IP's", admin_logfile_blocked_ips_path)
  %li=link_to("Logfile Blocked Class C's", admin_logfile_blocked_class_cs_path)
  %li=link_to("Logfile Whitelisted Class C's", admin_logfile_whitelisted_class_cs_path)
  %li=link_to("Logfile Blocked Regexp's", admin_logfile_blocked_regexps_path)

