%h2 Search.USA.gov Admin Center

%ul
  %li=link_to("Users", admin_users_path)
  %li=link_to("Search Clickthrus", admin_clicks_path)
  %li=link_to("Affiliates", admin_affiliates_path)
  %li=link_to("Affiliate Broadcast", new_admin_affiliate_broadcast_path)
  %li=link_to("Related Search Blocked Words", admin_block_words_path)
  %li=link_to("SAYT Filters", admin_sayt_filters_path)
  %li=link_to("SAYT Suggestions", admin_sayt_suggestions_path)
  %li=link_to("SAYT Misspellings", admin_misspellings_path)
  %li=link_to("Accepted SAYT Suggestions", admin_accepted_sayt_suggestions_path)
  %li=link_to("SAYT Suggestions Bulk Upload", new_admin_sayt_suggestions_upload_path)
  %li=link_to("Boosted Sites", admin_boosted_sites_path)
  %li=link_to("Spotlights", admin_spotlights_path)
  %li=link_to("FAQs", admin_faqs_path)
  %li=link_to("Government Forms", admin_gov_forms_path)
  %li=link_to("Query Grouping", analytics_query_groups_path)

