---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=educaci%C3%B3n%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 56131FF6C9B04FA99B0DEB29A436CFFE
      X-Msedge-Clientid:
      - '018BCEEC42E767CB3597C20D4330667C'
      X-Msapi-Userstate:
      - 624e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=438C898D7C6B47FBBA559170D462909B&CID=018BCEEC42E767CB3597C20D4330667C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=438C898D7C6B47FBBA559170D462909B&CID=018BCEEC42E767CB3597C20D4330667C&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=educaci%c3%b3n+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5235.1", "totalEstimatedMatches": 121, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Recursos
        para la educación | USAGov", "url": "https:\/\/www.usa.gov\/espanol\/educacion",
        "urlPingSuffix": "DevEx,5053.1", "displayUrl": "https:\/\/www.usa.gov\/espanol\/educacion",
        "snippet": "Ayuda financiera para estudiantes. Becas, productos financieros
        y programas del Gobierno para la educación superior. Cuidado de los hijos.
        Consejos para encontrar proveedores de cuidado de niños y programas que apoyan
        el bienestar de los niños y jóvenes.", "dateLastCrawled": "2019-01-06T09:57:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Recursos
        educativos | USAGov", "url": "https:\/\/www.usa.gov\/espanol\/recursos-educativos",
        "urlPingSuffix": "DevEx,5065.1", "displayUrl": "https:\/\/www.usa.gov\/espanol\/recursos-educativos",
        "snippet": "El Gobierno ofrece recursos para financiar la educación superior.
        Volver al inicio. Recursos del Departamento de Educación. El Departamento
     [...]
