---
http_interactions:
- request:
    method: get
    uri: https://repodb.net/robots.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - W/"6448ea28-8e75"
      X-Proxy-Cache:
      - MISS
      X-Fastly-Request-Id:
      - 7c07eda63e1b46d672b926c79cc463df67457586
    body:
      encoding: UTF-8
      string: '<!DOCTYPE html><html lang="en-US"><head><meta charset="UTF-8"><meta
        http-equiv="X-UA-Compatible" content="IE=Edge"><link rel="shortcut icon" href="/favicon.ico"
        type="image/x-icon"><link rel="stylesheet" href="/assets/css/just-the-docs-default.css">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2709176-10"></script>
        <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);}
        gtag(''js'', new Date()); gtag(''config'', ''UA-2709176-10'', { ''anonymize_ip'':
        true }); </script> <script type="text/javascript" src="/assets/js/vendor/lunr.min.js"></script>
        <script type="text/javascript" src="/assets/js/just-the-docs.js"></script><meta
        name="viewport" content="width=device-width, initial-scale=1"><title>Page
        Not Found | RepoDB</title><meta name="generator" content="Jekyll v3.9.3" /><meta
        property="og:title" content="Page Not Found" /><meta property="og:locale"
        content="en_US" /><meta name="description" content="A hybrid ORM library for
        .NET" /><meta property="og:description" content="A hybrid ORM library for
        .NET" /><link rel="canonical" href="https://repodb.net/404" /><meta property="og:url"
        content="https://repodb.net/404" /><meta property="og:site_name" content="RepoDB"
        /><meta property="og:type" content="website" /><meta name="twitter:card" content="summary"
        /><meta property="twitter:title" content="Page Not Found" /> <script type="application/ld+json">
        {"@context":"https://schema.org","@type":"WebPage","description":"A hybrid
        ORM library for .NET","headline":"Page Not Found","url":"https://repodb.net/404"}</script><body>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;"> <symbol id="svg-link"
        viewBox="0 0 24 24"><title>Link</title><svg xmlns="http://www.w3.org/2000/svg"
        width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather
        feather-link"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72
        1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
        </svg> </symbol> <symbol id="svg-search" viewBox="0 0 24 24"><title>Search</title><svg
        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24
        24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
        stroke-linejoin="round" class="feather feather-search"> <circle cx="11" cy="11"
        r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line> </svg>
        </symbol> <symbol id="svg-menu" viewBox="0 0 24 24"><title>Menu</title><svg
        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24
        24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
        stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12"
        x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3"
        y1="18" x2="21" y2="18"></line> </svg> </symbol> <symbol id="svg-arrow-right"
        viewBox="0 0 24 24"><title>Expand</title><svg xmlns="http://www.w3.org/2000/svg"
        width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather
        feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline> </svg>
        </symbol> <symbol id="svg-doc" viewBox="0 0 24 24"><title>Document</title><svg
        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24
        24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
        stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2
        0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13
        2 13 9 20 9"></polyline> </svg> </symbol> </svg><div class="side-bar"><div
        class="site-header"> <a href="https://repodb.net/" class="site-title lh-tight">
        RepoDB </a> <a href="#" id="menu-button" class="site-button"> <svg viewBox="0
        0 24 24" class="icon"><use xlink:href="#svg-menu"></use></svg> </a></div><nav
        role="navigation" aria-label="Main" id="site-nav" class="site-nav"><ul class="nav-list"><li
        class="nav-list-item"><a href="https://repodb.net/" class="nav-list-link">HOME</a><li
        class="nav-list-item"><a href="https://repodb.net/docs" class="nav-list-link">DOCS</a><li
        class="nav-list-item"><a href="#" class="nav-list-expander"><svg viewBox="0
        0 24 24"><use xlink:href="#svg-arrow-right"></use></svg></a><a href="https://repodb.net/tutorial"
        class="nav-list-link">GET STARTED</a><ul class="nav-list "><li class="nav-list-item
        "><a href="https://repodb.net/tutorial/get-started-sqlserver" class="nav-list-link">SQL
        Server</a><li class="nav-list-item "><a href="https://repodb.net/tutorial/get-started-postgresql"
        class="nav-list-link">PostgreSQL</a><li class="nav-list-item "><a href="https://repodb.net/tutorial/get-started-sqlite"
        class="nav-list-link">SQLite</a><li class="nav-list-item "><a href="https://repodb.net/tutorial/get-started-mysql"
        class="nav-list-li[...]
