- position = index + 1
.content-block-item.result{ class: "boosted-content-#{position}", onclick: 'void(0)' }
  - boosted_content_url = hit.instance.url
  %h3= link_to_best_bet_title(hit, boosted_content_url, position)
  %span.url= truncate_url(boosted_content_url)
  %span.description= highlight_hit(hit, :description).html_safe
