.content-block-item.result.collapsible-item{ id: "best-bet-#{position}", class: 'boosted-content', onclick: 'void(0)' }
  %h3= link_to_result_title(result.id, result.title, result.url, position, 'BOOS')
  %span.url= truncate_url(result.url)
  %span.description= raw result.description
