.content-block-item.result{ id: "best-bet-#{position}", class: 'boosted-content', onclick: 'void(0)' }
  %h3= link_to_best_bet_title(result.id, result.title, result.url, position, 'BOOS')
  %span.url= truncate_url(result.url)
  %span.description= truncate_html result.description
