.content-block-item.result.collapsible-item{ id: "best-bet-#{position}", class: 'boosted-content' }
  %h4.title= link_to_result_title(result.title, result.url, position, 'BOOS')
  %span.url= truncate_url(result.url)
  %span.description= raw result.description
