- links = result.featured_collection_links
- links_size = links.size
- left_links_size = (links_size / 2) + (links_size % 2)

%ul
  - links.slice(0, left_links_size).each do |link|
    %li= link_to_best_bet_title result.id, link.title, link.url, position, 'BBG'
%ul
  - links.slice(left_links_size, links_size - left_links_size).each do |link|
    %li= link_to_best_bet_title result.id, link.title, link.url, position, 'BBG'
