- first_links_list_count = featured_collection_links_list[0].count.freeze
- featured_collection_links_list.each_with_index do |featured_collection_links, index|
  %ul{ class: "links-#{index + 1}" }
    - featured_collection_links.each_with_index do |link, link_index|
      - overall_position = (index * first_links_list_count) + link_index + 1
      - css_classes = ["fc-link-item-#{link_index + 1}"]
      - css_classes << 'one-column-always-show-item' if overall_position <= FeaturedCollectionsHelper::MAX_LINKS_SHOW_PER_LIST_ON_COLLAPSED
      %li{ class: css_classes.join(' ') }= link_to_result_title link.title, link.url, position, 'BBG'
