#header-tagline-wrapper
  #header-tagline    
    = header_tagline_logo(affiliate)
    
    - if !affiliate.header_tagline_url.blank?
      %span
        =link_to affiliate.header_tagline, affiliate.header_tagline_url
    - else 
      %span= affiliate.header_tagline