#header-tagline-wrapper
  #header-tagline-inner
    = header_tagline_logo(affiliate)

    - if !affiliate.header_tagline_url.blank?
      #header-tagline
        =link_to affiliate.header_tagline, sanitize(affiliate.header_tagline_url)
    - else
      #header-tagline
        = affiliate.header_tagline