.navbar-default
  = button_tag data: { target: '#nav', toggle: 'collapse' }, id: 'nav-button', class: 'navbar-toggle' do
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar

