= button_tag class: menu_button_class(search.affiliate), data: { target: '#main-menu', toggle: 'collapse' }, id: 'menu-button', tabindex: 2 do
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
  %span.menu-text= t :'searches.menu'
  %span.browse-site-text= t :'searches.browse_site'

