.pagination
  = will_paginate(results,
      class: 'content-block-item',
      link_separator: pagination_link_separator(params[:page]),
      next_label: pagination_label(:next),
      page_links: false,
      previous_label: pagination_label(:prev))
