#related-searches
  .content-block-item.content-block-item-header
    %h3.content-heading= t :related_searches
  .content-block-item
    %ul
      - search.related_search.each_with_index do |related_term, index|
        %li= link_to_related_search(search, related_term, index + 1)
