- if search.results.present?
  = render 'shared/jobs_gov_box', :search => @search if search.has_jobs?
  = render 'shared/tweet_gov_box', :search => @search if search.tweets and search.tweets.results.any?
