.show-more{ tabindex: 0 }
  = content_tag(:span, nil, class: 'icon icon-chevron-down')
  %span.text-hide= t(:show_more_label)
.show-less{ tabindex: 0 }
  = content_tag(:span, nil, class: 'icon icon-chevron-up')
  %span.text-hide= t(:show_less_label)
