.show-more
  = content_tag(:span, nil, class: 'glyphicon glyphicon-chevron-down')
  %span.text-hide= t(:show_more_label)
.show-less
  = content_tag(:span, nil, class: 'glyphicon glyphicon-chevron-up')
  %span.text-hide= t(:show_less_label)
