#tweets
  .content-block-item.content-block-item-header
    %h3.content-heading Tweets
  - search.tweets.results.each_with_index do |tweet, index|
    .content-block-item.tweet
      %span.logo
      = twitter_profile(tweet, index + 1)
      .text= tweet_text(tweet , index + 1)
      .timestamp
        = link_to_tweet_link(tweet, time_ago_in_words(tweet.published_at), tweet.url_to_tweet, index + 1)
