#tweets
  - search.tweets.results.each_with_index do |tweet, index|
    .content-block-item.tweet
      = link_to 'Twitter', 'https://twitter.com', class: 'logo'
      = twitter_profile(tweet, index + 1)
      .text= tweet_text(tweet , index + 1)
      .timestamp
        = link_to_tweet_link(tweet, time_ago_in_words(tweet.published_at), tweet.link_to_tweet, index + 1)
