#left_column
  - if (english_locale? && @search && @search.related_search.size > 0)
    #related_searches
      = render "/shared/relatedsearches"
  &nbsp;
#results
  = render "shared/search", :path => search_path
  = render :partial => "shared/searchresults", :locals => { :search => @search }
  = render :partial => "shared/footer_search", :locals => { :search => @search }
