#left_column
  - if @affiliate.has_active_rss_feeds? or @affiliate.is_image_search_enabled?
    = render "shared/affiliate_news_vertical_navigation"
  &nbsp;
#results
  = render "shared/search", :path => search_path
  = render :partial => "shared/searchresults", :locals => { :search => @search }