- if @search.results.present?
  .hide-on-sayt-open
    = render partial: 'organic_results', locals: { search: @search }
    = render partial: 'pagination', locals: { results: @search.results }

- else
  = render partial: 'no_results', locals: { search: @search }
