#results-wrap
  #sidebar
    = search_results_logo
  #results{ :class => controller.action_name }
    = render "/shared/search", :path => @form_path
    = render "/shared/searchresults", :search => @search

