= react_component("SearchResultsLayout", { resultsData: @search.normalized_results, additionalResults: @search.govbox_set, params: @search_params, vertical: @search_vertical, noResultsMessage: (@search.affiliate.no_results_error if @search.results.blank? && @search.query.present?), locale: YAML.load_file("config/locales/#{@affiliate.locale}.yml") }.compact_blank )
