= render :partial => "shared/header_search_links"
= render :partial => "shared/header_search" if @show_searchbox
= render :partial => "shared/searchresults", :locals => { :search => @search }
= render :partial => "shared/footer_search", :locals => { :search => @search }