#left_column
  - if @affiliate.rss_feeds.navigable_only.present? or @affiliate.is_image_search_enabled? or @affiliate.document_collections.navigable_only.present?
    = render "shared/affiliate_vertical_navigation"
  &nbsp;
#results
  = render "shared/search", :path => search_path
  = render :partial => "shared/searchresults", :locals => { :search => @search }