- if @search.results.present?
  #search.hide-on-sayt-open{ search_data(@search, @search_vertical) }
    = render partial: 'news_results', locals: { search: @search }
    = render partial: 'pagination', locals: { results: @search.results }

- else
  = render partial: 'no_results', locals: { search: @search }
