= breadcrumbs([link_to("Affiliate Program", affiliates_path), link_to("Analyst Center", analytics_home_page_path), "Query Search"])
.span-24
  = render :partial => "analytics/shared/search", :locals => { :path => analytics_query_search_path, :affiliate => nil }
.span-16
  = render :partial => "analytics/shared/searchresults", :locals => { :search => @search_results, :affiliate => nil }
