---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=usa%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659eaef2944d4ca6be841962e4ebae6a
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659eaef2944d4ca6be841962e4ebae6a
      Bingapis-Sessionid:
      - CD6D9E21967544ED99E32A23FA4BB894
      X-Msedge-Clientid:
      - 1E9463B5BF146F4013E777B7BE176EA7
      X-Msapi-Userstate:
      - dae3
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=239,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "usa
        (site:usa.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=usa+(site%3ausa.gov)",
        "totalEstimatedMatches": 47400, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Making government services easier to find | USAGov", "url": "https:\/\/www.usa.gov\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usa.gov", "snippet":
        "Voting and elections. Find answers to common questions about voting in the
        United States. Top. Find government benefits, services, agencies, and information
        at USA.gov. Contact elected officials. Learn about passports, Social Security,
        taxes, and more.", "dateLastCrawled": "2024-01-09T06:07:00.0000000Z", "cachedPageUrl":
        "http:\/\/cc.bingj.com\/cache.aspx?q=usa+(site%3ausa.gov)&d=5022646775467264&mkt=en-US&setlang=en-US&w=W7vIvZcxic7sCVZ8QKbGM7O9mXJjhpZE",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "About the U.S. and its government | USAGov", "url": "https:\/\/www.usa.gov\/about-the-us",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usa.gov\/about-the-us",
        "snippet": "Ask USA.gov a question at 1-844-USAGOV1 (1-844-872-4681) Find
        us on social media Facebook. Twitter. YouTube. Instagram. USAGov is the official
        guide to government information and services ...", "dateLastCrawled": "2024-01-08T14:04:00.0000000Z",
        "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=usa+(site%3ausa.gov)&d=4644986005953379&mkt=en-US&setlang=en-US&w=tRQkIxBObF1AS4-e663P33mf7fwzCXkD",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.2",
        "name": "COVID-19 testing and vaccinations | USAGov", "url": "https:\/\/www.usa.gov\/covid-tests-vaccinations",
        "datePublished": "2023-12-06T00:00:00.0000000", "datePublishedDisplayText":
        "Dec 6, 2023", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usa.gov\/covid-tests-vaccinations",
        "snippet": "Call 1-888-677-1199, the Disability Information and Access Line,
        if you have a disability and need help getting a COVID-19 vaccine. You may
        also email DIAL@n4a.org. Trained staff will: Help you find nearby vaccination
        centers. Schedule a vaccination appointment for you. Contact you with local
        accessible transportation services.",[...]
