---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=president%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659eaf5625da46ca968e5e489ef1aaaf
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659eaf5625da46ca968e5e489ef1aaaf
      Bingapis-Sessionid:
      - 4DC0C5E6FC074939B25D0F83C4D4BD84
      X-Msedge-Clientid:
      - 2C5CFFF1EFE06F912110EBF3EE6C6ED5
      X-Msapi-Userstate:
      - 7fd1
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=288,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "president
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=president+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 26000000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Presidents | The White House", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/presidents\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house\/presidents",
        "snippet": "Joseph R. Biden Jr. THE 46TH PRESIDENT OF THE UNITED STATES.
        Learn more about the Presidents of the United States from WhiteHouse.gov.",
        "dateLastCrawled": "2024-01-08T21:03:00.0000000Z", "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=president+(site%3agov+OR+site%3amil)&d=4950499911417626&mkt=en-US&setlang=en-US&w=nTkqDHeiK4_LOnLvkQtw3Qp9bp0lJwoL",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Joe Biden: The President | The White House", "url": "https:\/\/www.whitehouse.gov\/administration\/president-biden\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.whitehouse.gov\/administration\/president-biden",
        "snippet": "President Biden represented Delaware for 36 years in the U.S.
        Senate before becoming the 47th Vice President of the United States. As
        President, Biden will restore America’s leadership and build ...", "dateLastCrawled":
        "2024-01-08T10:06:00.0000000Z", "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=president+(site%3agov+OR+site%3amil)&d=4543474310643813&mkt=en-US&setlang=en-US&w=4EPWBBF06_YSIiYYliuBhxKE29ffPmtS",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.2",
        "name": "Presidents, vice presidents, and first ladies | USAGov", "url":
        "https:\/\/www.usa.gov\/presidents", "datePublished": "2023-12-06T00:00:00.0000000",
        "datePublishedDisplayText": "Dec 6, 2023", "isFamilyFriendly": true, "displayUrl":
        "https:\/\/www.usa.gov\/presidents", "snippet": "The president of the
        United States is the: U.S. head of state; Chief executive of the federal government;
        Commander-in-Chief of the armed forces; Current president. The 46th and
        current president of the United States is Joseph R. Biden, Jr. He was sworn
        into office on January 20, 2021. Former U.S. presidents. The United States
        has had [...]
