---
http_interactions:
- request:
    method: post
    uri: https://api.datadoghq.com/api/v1/events?api_key=<DATADOG_API_KEY>
    body:
      encoding: UTF-8
      string: '{"msg_text":"%%%\n### **Backtrace**\n````\nlib/faraday_middleware/exception_notifier.rb:14:in
        `call''\napp/engines/cached_search_api_connection.rb:36:in `get_from_api''\napp/engines/cached_search_api_connection.rb:28:in
        `get''\n````\n___\n%%%","date_happened":1708527205,"msg_title":" (Faraday::TimeoutError)
        \"too many connection resets (due to Net::ReadTimeout with #<TCPSocket:(closed)>
        - Net::ReadTime...","priority":"normal","parent":null,"tags":["bing_v7"],"aggregation_key":"[\"
        (Faraday::TimeoutError) \\\"too many connection resets (due to Net::ReadTimeout
        with #<TCPSocket:(closed)> - Net::ReadTime...\"]","alert_type":"error","event_type":null,"source_type_name":null,"title":"
        (Faraday::TimeoutError) \"too many connection resets (due to Net::ReadTimeout
        with #<TCPSocket:(clos","text":"%%%\n### **Backtrace**\n````\nlib/faraday_middleware/exception_notifier.rb:14:in
        `call''\napp/engines/cached_search_api_connection.rb:36:in `get_from_api''\napp/engines/cached_search_api_connection.rb:28:in
        `get''\n````\n___\n%%%","host":"dariuszdzien-C02D1CQTMD6M","device":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ok","event":{"id":7453518793973590101,"id_str":"7453518793973590101","title":"
        (Faraday::TimeoutError) \"too many connection resets (due to Net::ReadTimeout
        with #\u003cTCPSocket:(clos","text":"%%%\n### **Backtrace**\n````\nlib/faraday_middleware/exception_notifier.rb:14:in
        `call''\napp/engines/cached_search_api_connection.rb:36:in `get_from_api''\napp/engines/cached_search_api_connection.rb:28:in
        `get''\n````\n___\n%%%","date_happened":1708527205,"handle":null,"priority":"normal","related_event_id":null,"tags":["bing_v7"],"url":"https://app.datadoghq.com/event/event?id=7453518793973590101"}}'
  recorded_at: Wed, 21 Feb 2024 14:53:25 GMT
[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=video%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=<DATADOG_API_ENABLED>&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 65d60ebcc0b44c2b8966edca8f0d75e2
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 65d60ebcc0b44c2b8966edca8f0d75e2
      Bingapis-Sessionid:
      - D1E800EC6640494F8965EE2960E9F5EE
      X-Msedge-Clientid:
      - 3E6A1786845C6F45226E03AA85446E16
      X-Msapi-Userstate:
      - 14bb
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=278,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "video
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=video+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 21500000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Videos - U.S. Department of Defense", "url": "https:\/\/www.defense.gov\/Multimedia\/Videos\/",
        "datePublished": "2024-02-15T00:00:00.0000000", "datePublishedFreshnessText":
        "6 days ago", "isFamilyFriendly": <DATADOG_API_ENABLED>, "displayUrl": "https:\/\/www.defense.gov\/Multimedia\/Videos",
        "snippet": "FY 2024 Defense Budget. National Defense Strategy. The Department
        of Defense provides the military forces needed to deter war and ensure our
        nation''s security. Hosted by Defense Media Activity ...", "dateLastCrawled":
        "2024-02-19T09:06:00.0000000Z", "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=video+(site%3agov+OR+site%3amil)&d=4789794802434517&mkt=en-US&setlang=en-US&w=NFvONfzv3TCCJb1c-hARxEXBHBZcZ-jg",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Posting of Informational Video: Cybersecurity Maturity Model ...",
        "url": "https:\/\/www.federalregister.gov\/documents\/2024\/02\/21\/2024-03460\/posting-of-informational-video-cybersecurity-maturity-model-certification-cmmc-program",
        "datePublished": "2024-02-21T00:00:00.0000000", "datePublishedFreshnessText":
        "14 hours ago", "isFamilyFriendly": <DATADOG_API_ENABLED>, "displayUrl": "https:\/\/www.federalregister.gov\/documents\/2024\/02\/21\/2024-03460\/posting-of...",
        "snippet": "This document announces that a video file containing an overview
        briefing of the CMMC proposed rule, presented by leadership and staff from
        the Office of the DoD Deputy CIO for Cybersecurity, was posted on the internet
        on February 14, 2024. DATES: The video is available as of February 14, 2024.
        ADDRESSES:", "dateLastCrawled": "2024-02-21T09:34:00.0000000Z", "cachedPageUrl":
        "http:\/\/cc.bingj.com\/cache.aspx?q=video+(site%3agov+OR+site%3amil)&d=2053807824404&mkt=en-US&setlang=en-US&w=0I9c9uBfBglI6euGSMMST6vR0OCuVWu2",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.2",
        "name": "Video Gallery: Perseverance Rover - NASA Mars", "url": "https:\/\/mars.nasa.gov\/mars2020\/multimedia\/videos\/",
        "isFamilyFriendl[...]
