---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=carbon%20emissions%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659eaf5e525c4849853492e920edfdbf
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659eaf5e525c4849853492e920edfdbf
      Bingapis-Sessionid:
      - 1E2AFE553B6845339798E617EDFAE00A
      X-Msedge-Clientid:
      - 2F84273194E061940EEE3333956C6037
      X-Msapi-Userstate:
      - 50fb
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=249,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "carbon
        emissions (site:usa.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=carbon+emissions+(site%3ausa.gov)",
        "totalEstimatedMatches": 59, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Environmental Protection Agency (EPA) | USAGov", "url": "https:\/\/www.usa.gov\/agencies\/environmental-protection-agency",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usa.gov\/agencies\/environmental-protection-agency",
        "snippet": "Top The Environmental Protection Agency protects people and the
        environment from significant health risks, sponsors and conducts research,
        and develops and enforces environmental regulations.", "dateLastCrawled":
        "2024-01-08T06:19:00.0000000Z", "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=carbon+emissions+(site%3ausa.gov)&d=4649186483246164&mkt=en-US&setlang=en-US&w=l16dtotj01hCNPAVE279Z6BxsoCTToGm",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Energy Efficiency and Renewable Energy (EERE) | USAGov", "url": "https:\/\/www.usa.gov\/agencies\/energy-efficiency-and-renewable-energy",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usa.gov\/agencies\/energy-efficiency-and-renewable-energy",
        "snippet": "Top The EERE Information Center answers questions about EEREs
        products, services, and technology programs, and refers calle[...]
