---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=white%20house%20(site:whitehouse.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 63bc7b8557604f32a8582288a0bf34fb
      Bingapis-Sessionid:
      - 9EABC0C714244D1391EFC2481C3EE933
      X-Msedge-Clientid:
      - 36FEF21E43856AD73980E08A42626BBE
      X-Msapi-Userstate:
      - '0573'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=271,MSDatacenter=CH1B
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "white
        house (site:whitehouse.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=white+house+(site%3awhitehouse.gov)",
        "totalEstimatedMatches": 1350000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "The White House", "url": "https:\/\/www.whitehouse.gov\/", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.whitehouse.gov", "snippet": "November
        11, 2022 • Statements and Releases Statement by White House Press Secretary
        Karine Jean-Pierre on the Meeting Between President Joe Biden and President
        Xi Jinping of the People’s...", "dateLastCrawled": "2023-01-08T03:34:00.0000000Z",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "About The White House | The White House", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house",
        "snippet": "The White House is where the President and First Family of the
        United States live and work — but it’s also the People’s House, where we
        hope all Americans fee[...]
