---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=hippopotomonstrosesquippedaliophobia%20(site:nih.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659eaf13ff374cfeb94bff728ffe64c0
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659eaf13ff374cfeb94bff728ffe64c0
      Bingapis-Sessionid:
      - 32B39DC58FF04DEC8F07568CA728F6A6
      X-Msedge-Clientid:
      - 1C43AAC1280767BA11AEBEC32993667A
      X-Msapi-Userstate:
      - 31da
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=256,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "hippopotomonstrosesquippedaliophobia
        (site:nih.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hippopotomonstrosesquippedaliophobia+(site%3anih.gov)",
        "totalEstimatedMatches": 4800, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Anxiety Disorders - National Institute of Mental Health (NIMH)",
        "url": "https:\/\/www.nimh.nih.gov\/health\/topics\/anxiety-disorders", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.nimh.nih.gov\/health\/topics\/anxiety-disorders",
        "snippet": "Cognitive Behavioral Therapy (CBT) is an example of one type of
        psychotherapy that can help people with anxiety disorders. It teaches people
        different ways of thinking, behaving, and reacting to situations to help you
        feel less anxious and fearful. CBT has been well studied and is the gold standard
        for psychotherapy.", "dateLastCrawled": "2024-01-09T08:09:00.0000000Z", "cachedPageUrl":
        "http:\/\/cc.bingj.com\/cache.aspx?q=hippopotomonstrosesquippedaliophobia+(site%3anih.gov)&d=4993552667639860&mkt=en-US&setlang=en-US&w=UKZl6m54qSzezgYZH3mLd2SWDEuMvSOY",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Anxiety - StatPearls - NCBI Bookshelf", "url": "https:\/\/www.ncbi.nlm.nih.gov\/books\/NBK470361\/",
        "datePublished": "2023-04-24T00:00:00.0000000", "datePublishedDisplayText":
        "Apr 24, 2023", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.ncbi.nlm.nih.gov\/books\/NBK470361",
        "snippet": "Fear is an automatic neurophysiological state of alarm characterized
        by a fight or flight response to a cognitive appraisal of present or imminent
        danger (real or perceived). Anxiety is linked to fear and manifests as a future-oriented
        mood state that consists of a complex cognitive, affective, physiological,
        and behavioral res[...]
[...]
