---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=video%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659eaf36ac6e4b68a362f85b6b6d04af
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659eaf36ac6e4b68a362f85b6b6d04af
      Bingapis-Sessionid:
      - 8DAED9000DCB4857B3C1C1A64FA027C2
      X-Msedge-Clientid:
      - 30F65436DA35698C1CF74034DBA16801
      X-Msapi-Userstate:
      - '8871'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=268,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "video
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=video+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 23600000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "BOP: Unlocking Potential Video Series - Federal Bureau of Prisons",
        "url": "https:\/\/www.bop.gov\/resources\/news\/20240109-ald-fire-brigade.jsp",
        "datePublished": "2024-01-09T00:00:00.0000000", "datePublishedFreshnessText":
        "1 day ago", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.bop.gov\/resources\/news\/20240109-ald-fire-brigade.jsp",
        "snippet": "(FBOP) - In fiscal year 2024, the Federal Bureau of Prisons (FBOP)
        established a new video series titled, Unlocking Potential, featuring a
        variety of programs it has available to prepare adults in our custody to return
        to their families and communities as better individuals and neighbors. This
        second video of the series showcases a group of females in custody at the
        Federal Prison Camp (FPC ...", "dateLastCrawled": "2024-01-09T21:19:00.0000000Z",
        "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=video+(site%3agov+OR+site%3amil)&d=4862328222949&mkt=en-US&setlang=en-US&w=NckpsYab_ZJs2dwyjj0tDOEj_sMRY0sU",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "VA Video Connect | VA Mobile", "url": "https:\/\/mobile.va.gov\/app\/va-video-connect",
        "datePublished": "2024-01-09T00:00:00.0000000", "datePublishedFreshnessText":
        "1 day ago", "isFamilyFriendly": true, "displayUrl": "https:\/\/mobile.va.gov\/app\/va-video-connect",
        "snippet": "With VA Video Connect, you can take part in video visits with
        your VA care team and gain acces[...]
