---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2732FC320C8649D6A02248764F0479D1
      X-Msedge-Clientid:
      - 3F5181682A6B606A113A8A2F2BFC6136
      X-Msapi-Userstate:
      - 5c6c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=2928B796481B4D5CA7A3E177D60F009F&CID=3F5181682A6B606A113A8A2F2BFC6136&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=2928B796481B4D5CA7A3E177D60F009F&CID=3F5181682A6B606A113A8A2F2BFC6136&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 27 Nov 2017 17:50:56 GMT
recorded_with: VCR 3.0.3
