---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - AF41E7E1D1F34598AE968CA59431A8E3
      X-Msedge-Clientid:
      - 1D10C7F9A7D86E490133CB20A60F6F69
      X-Msapi-Userstate:
      - 6d0f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=76D080052A4849BC988A5F9E71D36B4F&CID=1D10C7F9A7D86E490133CB20A60F6F69&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=76D080052A4849BC988A5F9E71D36B4F&CID=1D10C7F9A7D86E490133CB20A60F6F69&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 03 Jan 2019 18:34:42 GMT
recorded_with: VCR 4.0.0
