---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=food%20nutrition%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1DDD30B041CA4B129EFF51CFB2EA6C41
      X-Msedge-Clientid:
      - 26332E750A7B63F114DA244F0BEC623C
      X-Msapi-Userstate:
      - d41f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=21090E111CE64E1EB064CC6122941ED5&CID=26332E750A7B63F114DA244F0BEC623C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=21090E111CE64E1EB064CC6122941ED5&CID=26332E750A7B63F114DA244F0BEC623C&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=food+nutrition+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5308.1", "totalEstimatedMatches": 23200,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Nutritionist | Videos | Kids.gov | USAGov", "url": "https:\/\/kids.usa.gov\/watch-videos\/jobs\/nutritionist\/index.shtml",
        "urlPingSuffix": "DevEx,5069.1", "displayUrl": "https:\/\/kids.usa.gov\/watch-videos\/jobs\/nutritionist\/index.shtml",
        "snippet": "What does a nutritionist do? A nutritionist or a dietician
        is an expert in food, health and nutrition. And nutritionists are health
        professionals, ...", "dateLastCrawled": "2017-02-25T10:27:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Exercise, Fitness
        & Nutrition for Teachers | Kids.gov | USAGov", "url": "https:\/\/kids.usa.gov\/teachers\/exercise-fitness-nutrition\/index.shtml",
        "urlPingSuffix": "DevEx,5084.1", "displayUrl": "https:\/\/kids.usa.gov\/teachers\/exercise-fitness-nutrition",
        "snippet": "Exercise & Fitness. Activity and Nutrition - We Can! - Program
        for fam[...]
