---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 87FDB36B4BFE4C8DA403D03651A22AE0
      X-Msedge-Clientid:
      - 3A935C2A8FE76ADC1098572B8E706B35
      X-Msapi-Userstate:
      - 2b23
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E66A666CB5114032AA878E72B75C3202&CID=3A935C2A8FE76ADC1098572B8E706B35&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E66A666CB5114032AA878E72B75C3202&CID=3A935C2A8FE76ADC1098572B8E706B35&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 18 Sep 2017 19:49:50 GMT
recorded_with: VCR 3.0.3
