---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=api%20bing%20no%20next%20(site:usa.gov)%20(-site:www.usa.gov%20AND%20-site:kids.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3CE20B4A49F744B4BEF170E0F77F4AD2
      X-Msedge-Clientid:
      - 0C08BFE8C76463021373B5E1C6F36293
      X-Msapi-Userstate:
      - 5d08
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8F39ACDB517A4192BF163715E497C488&CID=0C08BFE8C76463021373B5E1C6F36293&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8F39ACDB517A4192BF163715E497C488&CID=0C08BFE8C76463021373B5E1C6F36293&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=api+bing+no+next+(site%3ausa.gov)+(-site%3awww.usa.gov+AND+-site%3akids.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5167.1", "totalEstimatedMatches": 3, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Publications.USA.gov
        Main Page", "url": "http:\/\/publications.usa.gov\/", "urlPingSuffix": "DevEx,5069.1",
        "displayUrl": "publications.usa.gov", "snippet": "Order FREE and low cost
        federal consumer publications from the Federal Citizen Information Center
        at GSA ... President of the United States. ... USA.gov | About Us | ...",
        "deepLinks": [{"name": "Select Publications", "url": "http:\/\/publications.usa.gov\/USAPubs.php?NavCode=Q",
        "urlPingSuffix": "DevEx,5060.1"}, {"name": "Government Printing Office", "url":
        "http:\/\/publications.usa.gov\/USAPubs.php?NavCode=K", "urlPingSuffix": "DevEx,5061.1"},
        {"name": "Publication Information", "url": "http:\/\/publications.usa.gov\/USAPubs.php?PubID=9801",
        "urlPingSuffix": "DevEx,5062.1"}], "dateLastCrawled": "2017-01-10T07:18:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "National
        Agricultural Statistics Service - fcsm.sites.usa.gov", "url": "https:\/\/fcsm.sites.usa.gov\/files\/2014\/05\/I1_Gerling_2013FCSM.pdf",
        "urlPingSuffix": "DevEx,5079.1", "displayUrl": "https:\/\/fcsm.sites.usa.gov\/files\/2014\/05\/I1_Gerling_2013FCSM.pdf",
        "snippet": "sampling scheme and what is displayed on the iPAD for the next
        ... API = Application Programming Interface 18 Google Maps Bing Maps
        ...", "dateLastCrawled": "2017-01-01T15:19:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "BusinessUSA - Official Site", "url": "https:\/\/business.usa.gov\/",
        "urlPingSuffix": "DevEx,5101.1", "displayUrl": "https:\/\/business.usa.gov",
        "snippet": "BusinessUSA implements a \"no wrong door\" approach for small
        businesses and ... Browse Resources for Veterans Invest in the USA ... USA.gov
        is an official ...", "dateLastCrawled": "2017-01-07T00:06:00.0000000Z"}]},
        "rankingResponse": {"mainline": {"items": [{"answerType": "WebPages", "resultIndex":
        0, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0"}}, {"answerType":
        "WebPages", "resultIndex": 1, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1"}},
        {"answerType": "WebPages", "resultIndex": 2, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2"}}]}}}'
  recorded_at: Fri, 13 Jan 2017 18:30:58 GMT
recorded_with: VCR 3.0.3
