---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=food%20nutrition%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4CCBEC37B4194F5184371B9C13BEFE89
      X-Msedge-Clientid:
      - 0074C47861296EC733E4CFE660CC6F05
      X-Msapi-Userstate:
      - 2e90
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=CAE033E4AC304B2EA1D919BC17561824&CID=0074C47861296EC733E4CFE660CC6F05&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=CAE033E4AC304B2EA1D919BC17561824&CID=0074C47861296EC733E4CFE660CC6F05&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=food+nutrition+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5344.1", "totalEstimatedMatches": 55700,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Food and Nutrition Service | USAGov", "url": "https:\/\/www.usa.gov\/federal-agencies\/food-and-nutrition-service",
        "urlPingSuffix": "DevEx,5082.1", "about": [{"name": "Food and Nutrition Service"}],
        "displayUrl": "https:\/\/www.usa.gov\/federal-agencies\/food-and-nutrition-service",
        "snippet": "Food and Nutrition Service. The Food and Nutrition Service
        provides children and low-income people access to food, a healthful diet,
        and nutrition education.", "dateLastCrawled": "2018-02-07T20:05:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Health
        and Nutrition: Online Services - USAGov", "url": "https:\/\/www.usa.gov\/health",
        "urlPingSuffix": "DevEx,5101.1", "displayUrl": "https:\/\/www.usa.gov\/health",
        "snippet": "Food Assistance; Social Security Questions; ... Health Information
        from the Government. Learn more about the best ways to find health information
        from the gove[...]
