---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=food%20nutrition%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B796E0D4562D43F3B0AEE439D62631A4
      X-Msedge-Clientid:
      - 1539CBBD8A5468A83EF7C7648B8369D3
      X-Msapi-Userstate:
      - 2d1a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1B1671134B9E4DCAA10257C97CB491C3&CID=1539CBBD8A5468A83EF7C7648B8369D3&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1B1671134B9E4DCAA10257C97CB491C3&CID=1539CBBD8A5468A83EF7C7648B8369D3&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=food+nutrition+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5242.1", "totalEstimatedMatches": 129, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Health
        | USAGov", "url": "https:\/\/www.usa.gov\/health", "urlPingSuffix": "DevEx,5054.1",
        "displayUrl": "https:\/\/www.usa.gov\/health", "snippet": "Health Information
        from the Government. Learn more about the best ways to find health information
        from the government. Health Insurance. Learn about health insurance, including
        Medicaid and Medicare. Medications. Get answers to common questions about
        buying and using medicine and medical products. Mental Health and Substance
        Abuse", "dateLastCrawled": "2018-12-27T17:34:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "U.S. Department of Agriculture | USAGov", "url": "https:\/\/www.usa.gov\/federal-agencies\/u-s-department-of-agriculture",
        "urlPingSuffix": "DevEx,5067.1", "about": [{"name": "United States Department
        of Agriculture"}], "displayUrl": "https:\/\/www.usa.gov\/federal-agencies\/u-s-department-of-agriculture",
        "snippet": "Popular Services from U.S. Department of Agriculture. Food
        Stamps\/SNAP Information . How to Apply for Food Stamps\/SNAP . Food and
        Nutrition . USDA Food and Food Safety Recalls. Back to Top. Parent Agency.
        White House Related Agency. Center for Nutrition Policy and Promotion Food
[...]
