---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A4ED07372FC74792A63D7E19186212F3
      X-Msedge-Clientid:
      - 1295BFB3A75F6A7932B5B52AA6C86B07
      X-Msapi-Userstate:
      - c927
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=731CB458143640C3B3AA0B9D5A007BBB&CID=1295BFB3A75F6A7932B5B52AA6C86B07&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=731CB458143640C3B3AA0B9D5A007BBB&CID=1295BFB3A75F6A7932B5B52AA6C86B07&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 06 Jun 2017 22:58:04 GMT
recorded_with: VCR 3.0.3
