---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 47F6FCE165764CD2A7D6F54AE3DFEA6B
      X-Msedge-Clientid:
      - 35638F25F31F63700CE4842DF28862ED
      X-Msapi-Userstate:
      - c52b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=33A63DFA4FC74C77A9CC6FFEC7BEA370&CID=35638F25F31F63700CE4842DF28862ED&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=33A63DFA4FC74C77A9CC6FFEC7BEA370&CID=35638F25F31F63700CE4842DF28862ED&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 25 Sep 2017 16:51:23 GMT
recorded_with: VCR 3.0.3
