---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2A2FE69CFE1543419FD5A945B586B3ED
      X-Msedge-Clientid:
      - 072D823C710A678139968806709D66AA
      X-Msapi-Userstate:
      - 7d39
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=2D5E297E325B44A6BBB3AECA271B29D9&CID=072D823C710A678139968806709D66AA&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=2D5E297E325B44A6BBB3AECA271B29D9&CID=072D823C710A678139968806709D66AA&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Fri, 03 Mar 2017 23:44:03 GMT
recorded_with: VCR 3.0.3
