---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(mango%20smoothie)%20language:en%20(site:usa.gov)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028mango
        smoothie\u0029 language\u003aen \u0028site\u003ausa.gov\u0029"},"Web":{"Total":0,"Offset":0}}}'
  recorded_at: Mon, 06 Feb 2017 01:00:00 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 03849361EB56402B940A14F0AC3D4E75
      X-Msedge-Clientid:
      - 19EA96251050614B1E529C1311C76029
      X-Msapi-Userstate:
      - ba2b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=0935B6222B2C45C99015D5F4E5409CA7&CID=19EA96251050614B1E529C1311C76029&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=0935B6222B2C45C99015D5F4E5409CA7&CID=19EA96251050614B1E529C1311C76029&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 27 Feb 2017 19:00:39 GMT
recorded_with: VCR 3.0.3
