---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&fdtrace=1&query=(food%20nutrition)%20language:en%20(site:usa.gov)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028food
        nutrition\u0029 language\u003aen \u0028site\u003ausa.gov\u0029"},"Web":{"Total":44100,"Offset":0,"Results":[{"Title":"Health
        Insurance, Nutrition, and Food Safety - USAGov","Description":"Health. Find
        health resources from the government. Blood and Organ Donations. Find out
        how to help others through medical donations. Child Care and Related Issues","Url":"https\u003a\u002f\u002fwww.usa.gov\u002fhealth","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dfood\u002bnutrition\u0026d\u003d5040772769974511\u0026w\u003dFRqoG0vP4Hv0R10QwelOt5P-D__5ZHmn","DisplayUrl":"https\u003a\u002f\u002fwww.usa.gov\u002fhealth","DateTime":"2016-11-30T04\u003a58\u003a00Z"},{"Title":"Food
        and Nutrition Service \u007c USAGov","Description":"Food and Nutrition Service.
        The Food and Nutrition Service provides children and low-income people access
        to food, a healthful diet, and nutrition education.","Url":"https\u003a\u002f\u002fwww.usa.gov\u002ffederal-agencies\u002ffood-and-nutrition-service","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dfood\u002bnutrition\u0026d\u003d492371345624[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=food%20nutrition%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 550A4A17AE034C90AC2DCA1D85B4B047
      X-Msedge-Clientid:
      - 22432E26C3076654290C242FC2906717
      X-Msapi-Userstate:
      - a3bf
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=700532CDB02A48CAA58B9E074ECD75F9&CID=22432E26C3076654290C242FC2906717&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=700532CDB02A48CAA58B9E074ECD75F9&CID=22432E26C3076654290C242FC2906717&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=food+nutrition+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5315.1", "totalEstimatedMatches": 19300,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Consumer Info. Catalog - Food & Nutrition", "url": "http:\/\/publications.usa.gov\/USAPubs.php?CatID=6",
        "urlPingSuffix": "DevEx,5071.1", "displayUrl": "publications.usa.gov\/USAPubs.php?CatID=6",
        "snippet": "Food Publications. Learn more about making healthy food choices
        and nutrition for better health, safe food handling practices and preparation,
        and healthy food recipes.", "dateLastCrawled": "2017-01-09T21:05:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "This Content
        Has Been Discontinued | USAGov", "url": "https:\/\/www.usa.gov\/food-and-nutrition",
        "urlPingSuffix": "DevEx,5086.1", "displayUrl": "https:\/\/www.usa.gov\/food-and-nutrition",
        "snippet": "Food Assistance; Social Security Questions; Affordable Housing;
        Financial Aid for Students; Programs and Benefits for Active Military; Unemployment
        [...]
