---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&fdtrace=1&query=(food%20nutrition)%20language:en%20(site:usa.gov)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028food
        nutrition\u0029 language\u003aen \u0028site\u003ausa.gov\u0029"},"Web":{"Total":44100,"Offset":0,"Results":[{"Title":"Consumer
        Info. Catalog - Food \u0026 Nutrition","Description":"Food Publications. Learn
        more about making healthy food choices and nutrition for better health, safe
        food handling practices and preparation, and healthy food recipes.","Url":"http\u003a\u002f\u002fpublications.usa.gov\u002fUSAPubs.php\u003fCatID\u003d6","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dfood\u002bnutrition\u0026d\u003d4629259144528749\u0026w\u003dno0WhlJbjD05JKGiZ1w3ovybHWhqG48i","DisplayUrl":"publications.usa.gov\u002fUSAPubs.php\u003fCatID\u003d6","DateTime":"2016-11-30T07\u003a28\u003a00Z"},{"Title":"Nutritionist
        \u007c Videos \u007c Kids.gov \u007c USAGov","Description":"What does a nutritionist
        do\u003f A nutritionist or a dietician is an expert in food, health and nutrition.
        And nutritionists are health professionals, ...","Url":"https\u003a\u002f\u002fkids.usa.gov\u002fwatch-videos\u002fjobs\u002fnutritionist\u002findex.shtml","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dfood\u002bnutrition\[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=food%20nutrition%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 854D75BC05E44D4689DCAC7E20EFE4D1
      X-Msedge-Clientid:
      - 0579C319CE0168CE2261C910CF966984
      X-Msapi-Userstate:
      - 9c61
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=23F9F6C8102D4D53A0D3A1FC3725AA49&CID=0579C319CE0168CE2261C910CF966984&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=23F9F6C8102D4D53A0D3A1FC3725AA49&CID=0579C319CE0168CE2261C910CF966984&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=food+nutrition+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5315.1", "totalEstimatedMatches": 19300,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Consumer Info. Catalog - Food & Nutrition", "url": "http:\/\/publications.usa.gov\/USAPubs.php?CatID=6",
        "urlPingSuffix": "DevEx,5071.1", "displayUrl": "publications.usa.gov\/USAPubs.php?CatID=6",
        "snippet": "Food Publications. Learn more about making healthy food choices
        and nutrition for better health, safe food handling practices and preparation,
        and healthy food recipes.", "dateLastCrawled": "2017-01-09T21:05:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "This Content
        Has Been Discontinued | USAGov", "url": "https:\/\/www.usa.gov\/food-and-nutrition",
        "urlPingSuffix": "DevEx,5086.1", "displayUrl": "https:\/\/www.usa.gov\/food-and-nutrition",
        "snippet": "Food Assistance; Social Security Questions; Affordable Housing;
        Financial Aid for Students; Programs and Benefits for Active Military; Unemployment
        [...]
