---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D4BC2EFD6E9349EBAD754D7B72937F5A
      X-Msedge-Clientid:
      - 25026F1446C064A41191652547F16549
      X-Msapi-Userstate:
      - 3b14
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=942C7C6FB591436BBD05409CD6A51433&CID=25026F1446C064A41191652547F16549&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=942C7C6FB591436BBD05409CD6A51433&CID=25026F1446C064A41191652547F16549&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 22 Feb 2017 21:43:29 GMT
recorded_with: VCR 3.0.3
