---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=educaci%C3%B3n%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1D909D93B3AA42DBA8FA47DA00C0A4CC
      X-Msedge-Clientid:
      - 257B83CE674367411C8F881366D466B0
      X-Msapi-Userstate:
      - fda5
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=2C37E2A09A1D4DA2B69D29811196ECB4&CID=257B83CE674367411C8F881366D466B0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=2C37E2A09A1D4DA2B69D29811196ECB4&CID=257B83CE674367411C8F881366D466B0&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=educaci%c3%b3n+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5340.1", "totalEstimatedMatches": 126, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Recursos
        para la educación | USAGov", "url": "https:\/\/gobierno.usa.gov\/educacion",
        "urlPingSuffix": "DevEx,5078.1", "displayUrl": "https:\/\/gobierno.usa.gov\/educacion",
        "snippet": "Información del Gobierno sobre ayuda para estudiantes y personas
        que quieren aprender inglés.", "dateLastCrawled": "2018-04-22T05:58:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Ayuda
        financiera para estudiantes | USAGov", "url": "https:\/\/gobierno.usa.gov\/ayuda-financiera-para-estudiantes",
        "urlPingSuffix": "DevEx,5095.1", "displayUrl": "https:\/\/gobierno.usa.gov\/ayuda-financiera-para-estudiantes",
        "snippet": "Becas, productos financieros y programas del Gobierno para la
        educación superior.", "dateLastCrawled": "2018-04-1[...]
