---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E32C5AA50D5E4643B14E09ACFB62F521
      X-Msedge-Clientid:
      - 0A359DD1EAA86F0708E3965AEB076ED3
      X-Msapi-Userstate:
      - 8fd2
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1BFC3106F0AB4D78847BDB118ABF98EE&CID=0A359DD1EAA86F0708E3965AEB076ED3&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1BFC3106F0AB4D78847BDB118ABF98EE&CID=0A359DD1EAA86F0708E3965AEB076ED3&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Sat, 03 Feb 2018 23:29:30 GMT
recorded_with: VCR 4.0.0
