---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E502F9C547EB40CDB904E394F4F06DD2
      X-Msedge-Clientid:
      - 1C13C4EF9E6C6EC016D3CED69FFB6F00
      X-Msapi-Userstate:
      - b1b6
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=02949D6FF10746DCB06452AE233804E2&CID=1C13C4EF9E6C6EC016D3CED69FFB6F00&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=02949D6FF10746DCB06452AE233804E2&CID=1C13C4EF9E6C6EC016D3CED69FFB6F00&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 02 Mar 2017 19:50:52 GMT
recorded_with: VCR 3.0.3
