---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4DF52C29EA1F4D11AAD823A3435151C0
      X-Msedge-Clientid:
      - 052F49E8E7EB6AC51E4843D9E6DA6B93
      X-Msapi-Userstate:
      - 95df
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=945352EAE02E44E293CCD2B84B524564&CID=052F49E8E7EB6AC51E4843D9E6DA6B93&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=945352EAE02E44E293CCD2B84B524564&CID=052F49E8E7EB6AC51E4843D9E6DA6B93&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 22 Feb 2017 21:43:28 GMT
recorded_with: VCR 3.0.3
