---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F0B8C5AFF0AC4009A7A4C13AA4CA998A
      X-Msedge-Clientid:
      - 2233B98980786AFE070FB55081AF6BE8
      X-Msapi-Userstate:
      - a4ad
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=04359BFA12B043B3B23F7FCDB5C35A18&CID=2233B98980786AFE070FB55081AF6BE8&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=04359BFA12B043B3B23F7FCDB5C35A18&CID=2233B98980786AFE070FB55081AF6BE8&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 03 Jan 2019 18:34:42 GMT
recorded_with: VCR 4.0.0
