---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(food%20nutrition)%20language:en%20(site:usa.gov)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028food
        nutrition\u0029 language\u003aen \u0028site\u003ausa.gov\u0029"},"Web":{"Total":40400,"Offset":0,"Results":[{"Title":"Consumer
        Info. Catalog - Food \u0026 Nutrition","Description":"Food Publications.
        Learn more about making healthy food choices and nutrition for better
        health, safe food handling practices and preparation, and healthy food
        recipes.","Url":"http\u003a\u002f\u002fpublications.usa.gov\u002fUSAPubs.php\u003fCatID\u003d6","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dfood\u002bnutrition\u0026d\u003d4629259144528749\u0026w\u003dno0WhlJbjD05JKGiZ1w3ovybHWhqG48i","DisplayUrl":"publications.usa.gov\u002fUSAPubs.php\u003fCatID\u003d6","DateTime":"2016-11-30T07\u003a28\u003a00Z"},{"Title":"Exercise,
        Fitness \u0026 Nutrition for Teachers \u007c Kids.gov \u007c USAGov","Description":"Exercise
        \u0026 Fitness. Activity and Nutrition - We Can\u0021 - Program for families
        and communities to help children maintain a healthy weight focusing on improved
        food ...","Url":"https\u003a\u002f\u002fkids.usa.gov\u002fteachers\u002fexercise-fitness-nutrition\u002findex.shtml","CacheUrl":"http\u003a\u002f\u002fcc.bing[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=food%20nutrition%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D54411FF95804A89AD57F180432B0193
      X-Msedge-Clientid:
      - 2CF4A2D28B896BB0316BAB388AB86A15
      X-Msapi-Userstate:
      - 3db9
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D2F125D39D894E9BA3449541C9F4DB81&CID=2CF4A2D28B896BB0316BAB388AB86A15&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D2F125D39D894E9BA3449541C9F4DB81&CID=2CF4A2D28B896BB0316BAB388AB86A15&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=food+nutrition+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5334.1", "totalEstimatedMatches": 51300,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Consumer Info. Catalog - Food & Nutrition", "url": "http:\/\/publications.usa.gov\/USAPubs.php?CatID=6",
        "urlPingSuffix": "DevEx,5088.1", "displayUrl": "publications.usa.gov\/USAPubs.php?CatID=6",
        "snippet": "Food Publications. Learn more about making healthy food choices
        and nutrition for better health, safe food handling practices and preparation,
        and healthy food recipes.", "dateLastCrawled": "2016-12-05T10:33:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Nutritionist
        | Videos | Kids.gov | USAGov", "url": "https:\/\/kids.usa.gov\/watch-videos\/jobs\/nutritionist\/index.shtml",
        "urlPingSuffix": "DevEx,5104.1", "displayUrl": "https:\/\/kids.usa.gov\/watch-videos\/jobs\/nutritionist\/index.shtml",
        "snippet": "What does a nutritionist do? A nutritionist or a dietician
        is an expert in food, health [...]
