---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A2808C6BDD044B2B86E684D1C015219B
      X-Msedge-Clientid:
      - 1C67D8238B796E25093CD3FE8AEE6F23
      X-Msapi-Userstate:
      - bfbf
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DB2EC2D28EDE4F529EE7870C2EA63B68&CID=1C67D8238B796E25093CD3FE8AEE6F23&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DB2EC2D28EDE4F529EE7870C2EA63B68&CID=1C67D8238B796E25093CD3FE8AEE6F23&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 26 Apr 2018 23:53:57 GMT
recorded_with: VCR 4.0.0
