---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 61F3135EC68E463DB0BA7267FD741747
      X-Msedge-Clientid:
      - 36C6DD69FD2A6C7B3859D6F7FCCF6DF6
      X-Msapi-Userstate:
      - 429e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=41E909718BF84E0897CB47386E70EAFE&CID=36C6DD69FD2A6C7B3859D6F7FCCF6DF6&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=41E909718BF84E0897CB47386E70EAFE&CID=36C6DD69FD2A6C7B3859D6F7FCCF6DF6&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 22 Feb 2018 07:05:57 GMT
recorded_with: VCR 4.0.0
