---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 2FB3EE04EF1D4CE389A592206B121E16
      X-Msedge-Clientid:
      - 3D88F06BDA436EB70418E0CFDBBE6F69
      X-Msapi-Userstate:
      - 28fc
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=50AF9BA848884DF5856D1E8F50E57021&CID=3D88F06BDA436EB70418E0CFDBBE6F69&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=50AF9BA848884DF5856D1E8F50E57021&CID=3D88F06BDA436EB70418E0CFDBBE6F69&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 31 Aug 2021 20:30:44 GMT
recorded_with: VCR 4.0.0
