---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B8125FBE6EB840DC8FDCAA9D058317EA
      X-Msedge-Clientid:
      - 0CB581DD954C64EA0A0E8A0094DB657A
      X-Msapi-Userstate:
      - b18f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=835D44283B7E40A48DA05081E1526864&CID=0CB581DD954C64EA0A0E8A0094DB657A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=835D44283B7E40A48DA05081E1526864&CID=0CB581DD954C64EA0A0E8A0094DB657A&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 26 Apr 2018 23:53:56 GMT
recorded_with: VCR 4.0.0
