---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=food%20nutrition%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 85371BE1564C444CB559AFB3AEDDBA1A
      X-Msedge-Clientid:
      - 257E3F8CC2926FAC14602F28C36F6E73
      X-Msapi-Userstate:
      - cacd
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=90798D4A257048E4800F947101A72441&CID=257E3F8CC2926FAC14602F28C36F6E73&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=90798D4A257048E4800F947101A72441&CID=257E3F8CC2926FAC14602F28C36F6E73&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=food+nutrition+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5260.1", "totalEstimatedMatches": 49, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Food
        and Nutrition Service | USAGov", "url": "https:\/\/www.usa.gov\/federal-agencies\/food-and-nutrition-service",
        "urlPingSuffix": "DevEx,5053.1", "displayUrl": "https:\/\/www.usa.gov\/federal-agencies\/food-and-nutrition-service",
        "snippet": "Food and Nutrition Service. The Food and Nutrition Service provides
        children and low-income people access to food, a healthful diet, and nutrition
        education. Agency Details Website: Food and Nutrition Service . Contact: Contact
        the Food and Nutrition Service . Food Stamps. Child Nutrition Programs. Main
        Address: Braddock Metro Center II", "dateLastCrawled": "2021-08-25T03:11:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Food Assistance
        | USAGov", "url": "https:\/\/www.usa.gov\/food-help", "urlPingSuffix": "DevEx,5068.1",
        "displayUrl": "https:\/\/www.usa.gov\/food-help", "snippet": "Food Stamps
        (SNAP Food Benefits) The Supplemental Nutrition Assistance Program (SNAP)
        is a federal nutrition program. Known previously as \"food stamps,\" SNAP
        benefits can help you str[...]
