---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=food%20nutrition%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B3C19329CDF64B7BB6D4C5410E9B72AF
      X-Msedge-Clientid:
      - 2B384C29EB286C8025634618EA196D2E
      X-Msapi-Userstate:
      - 9ccf
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=629B170D4B4B41508708E2D026F5C9C2&CID=2B384C29EB286C8025634618EA196D2E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=629B170D4B4B41508708E2D026F5C9C2&CID=2B384C29EB286C8025634618EA196D2E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=food+nutrition+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5310.1", "totalEstimatedMatches": 21100,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "This Content Has Been Discontinued | USA.gov", "url": "https:\/\/www.usa.gov\/food-and-nutrition",
        "urlPingSuffix": "DevEx,5069.1", "displayUrl": "https:\/\/www.usa.gov\/food-and-nutrition",
        "snippet": "Food Assistance; Social Security Questions; Affordable Housing;
        Financial Aid for Students; Programs and Benefits for Active Military; Unemployment
        Benefits and Other ...", "dateLastCrawled": "2017-02-13T03:38:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Consumer
        Info. Catalog - Food & Nutrition", "url": "http:\/\/publications.usa.gov\/USAPubs.php?CatID=6",
        "urlPingSuffix": "DevEx,5081.1", "displayUrl": "publications.usa.gov\/USAPubs.php?CatID=6",
        "snippet": "Food Publications. Learn more about making healthy food choices
        and nutrition for better health, safe food handling practices and preparation,
      [...]
