---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C1186324B6D74DBC8CD2AB89529D88B8
      X-Msedge-Clientid:
      - 2BC80099B40E61C222F80A26B59960CE
      X-Msapi-Userstate:
      - d036
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A61BDFB133514B718D25FAEA08E4D46E&CID=2BC80099B40E61C222F80A26B59960CE&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A61BDFB133514B718D25FAEA08E4D46E&CID=2BC80099B40E61C222F80A26B59960CE&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Fri, 14 Jul 2017 16:20:41 GMT
recorded_with: VCR 3.0.3
