---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=educaci%C3%B3n%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - F0985D95EF824668824E4787A6B3BB85
      X-Msedge-Clientid:
      - 2B25282E51DE6B78021C388A50AB6A3D
      X-Msapi-Userstate:
      - '7290'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=AF1D51476C3F46CABCCA713D41912A05&CID=2B25282E51DE6B78021C388A50AB6A3D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=AF1D51476C3F46CABCCA713D41912A05&CID=2B25282E51DE6B78021C388A50AB6A3D&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=educaci%C3%B3n+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5245.1", "totalEstimatedMatches": 59900,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Education | USAGov", "url": "https:\/\/www.usa.gov\/education", "urlPingSuffix":
        "DevEx,5052.1", "displayUrl": "https:\/\/www.usa.gov\/education", "snippet":
        "Find government information on education including primary, secondary, and
        higher education.", "dateLastCrawled": "2021-08-26T18:12:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Recursos para
        la educación | USAGov", "url": "https:\/\/www.usa.gov\/espanol\/educacion",
        "urlPingSuffix": "DevEx,5065.1", "displayUrl": "https:\/\/www.usa.gov\/espanol\/educacion",
        "snippet": "Información del Gobierno sobre ayuda para estudiantes y personas
        que quieren aprender inglés. Ayuda financiera para estudiantes. Becas, productos
        financ[...]
