---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=food%20nutrition%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E593409FE15843C598B1E0949EFA09FA
      X-Msedge-Clientid:
      - 1A4A6B7A801F6FAE0D8461E381886E88
      X-Msapi-Userstate:
      - '5957'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=28E671FD48A54F4CB877ACFDFE2C9992&CID=1A4A6B7A801F6FAE0D8461E381886E88&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=28E671FD48A54F4CB877ACFDFE2C9992&CID=1A4A6B7A801F6FAE0D8461E381886E88&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=food+nutrition+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5308.1", "totalEstimatedMatches": 43500,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Consumer Info. Catalog - Food & Nutrition", "url": "http:\/\/publications.usa.gov\/USAPubs.php?CatID=6",
        "urlPingSuffix": "DevEx,5064.1", "displayUrl": "publications.usa.gov\/USAPubs.php?CatID=6",
        "snippet": "Food Publications. Learn more about making healthy food choices
        and nutrition for better health, safe food handling practices and preparation,
        and healthy food recipes.", "dateLastCrawled": "2017-06-01T01:05:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Nutritionist
        | Videos | Kids.gov | USAGov", "url": "https:\/\/kids.usa.gov\/watch-videos\/jobs\/nutritionist\/index.shtml",
        "urlPingSuffix": "DevEx,5081.1", "displayUrl": "https:\/\/kids.usa.gov\/watch-videos\/jobs\/nutritionist\/index.shtml",
        "snippet": "What does a nutritionist do? A nutritionist or a dietician
        is an expert in food, health [...]
