---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=educaci%C3%B3n%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2ACAE69C5E9343879670DF68A0AFE804
      X-Msedge-Clientid:
      - 17DE42A6928B68E7070F49AE931C6931
      X-Msapi-Userstate:
      - 1df8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8EE70AD2FFE547D1BDC69BA56EB8DD00&CID=17DE42A6928B68E7070F49AE931C6931&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8EE70AD2FFE547D1BDC69BA56EB8DD00&CID=17DE42A6928B68E7070F49AE931C6931&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=educaci%c3%b3n+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5314.1", "totalEstimatedMatches": 11100,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Recursos para la educación | USAGov", "url": "https:\/\/gobierno.usa.gov\/educacion",
        "urlPingSuffix": "DevEx,5065.1", "displayUrl": "https:\/\/gobierno.usa.gov\/educacion",
        "snippet": "Información del Gobierno sobre ayuda para estudiantes y personas
        que quieren aprender inglés.", "dateLastCrawled": "2017-09-20T22:03:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Recursos
        educativos | USAGov", "url": "https:\/\/gobierno.usa.gov\/recursos-educativos",
        "urlPingSuffix": "DevEx,5080.1", "displayUrl": "https:\/\/gobierno.usa.gov\/recursos-educativos",
        "snippet": "El Departamento de Educación cuenta con recursos e información
        útil y práctica para todas las fases de la educación, ...", "dateLastCrawled":
        "20[...]
