---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=food%20nutrition%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 20997C50854D47008F4A23839A18D699
      X-Msedge-Clientid:
      - 33CC04AEF64E6697061A140AF7016795
      X-Msapi-Userstate:
      - d224
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=6A9BF22A0E75436BA33671368B7D018E&CID=33CC04AEF64E6697061A140AF7016795&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=6A9BF22A0E75436BA33671368B7D018E&CID=33CC04AEF64E6697061A140AF7016795&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=food+nutrition+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5250.1", "totalEstimatedMatches": 51, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Food
        and Nutrition Service | USAGov", "url": "https:\/\/www.usa.gov\/federal-agencies\/food-and-nutrition-service",
        "urlPingSuffix": "DevEx,5053.1", "displayUrl": "https:\/\/www.usa.gov\/federal-agencies\/food-and-nutrition-service",
        "snippet": "Food and Nutrition Service. The Food and Nutrition Service
        provides children and low-income people access to food, a healthful diet,
        and nutrition education. Agency Details Website: Food and Nutrition Service
        . Contact: Contact the Food and Nutrition Service . Food Stamps. Child
        Nutrition Programs. Main Address: Braddock Metro Center II", "dateLastCrawled":
        "2021-08-25T03:11:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Food Assistance | USAGov", "url": "https:\/\/www.usa.gov\/food-help",
        "urlPingSuffix": "DevEx,5067.1", "displayUrl": "https:\/\/www.usa.gov\/food-help",
        "snippet": "Food Stamps (SNAP Food Benefits) The Supplemental Nutrition
        Assistance Program (SNAP) is a federal nutrition program. Known previously
        as \"food stamps,\" SNAP benefits [...]
