= render :partial => 'breadcrumbs', :locals => { :breadcrumbs => [ link_to('Affiliate Program', affiliates_path)), 'How it Works'] }

.prepend-1.span-23.last
  %h1 How the Affiliate Program Works
.prepend-1.span-23.last
  %p
    The General Services Administration's USASearch program offers free search services to any federal, state, local, tribal, or territorial government agency through our Affiliates Program. As an affiliate, you can create a customized search experience that best fits your customers' needs through a simple, online administrative console.

.prepend-1.span-23.last
  .right
    = link_to(image_tag('register_now.png', :alt=>"Register Now"), new_user_path, :title => "Register Now")
  .left
    %img{:src=>"/images/affiliates/banner_how_it_works.png"}

.pad10.clear
.prepend-1.span-20
  %h1 Use Our Infrastructure
  .clear
  .affiliate-marketing-left
    %img{:src=>"/images/affiliates/thumb_affiliate.png"}
  .affiliate-marketing-right
    %h2
      Hosted Site Search
    .pad10
      %ul
        %li
          Power your search results from Bing&trade; index.
        %li
          Provide search results from one site, or across multiple sites.
        %li
          Customize the results page to match your site's look and feel.
        %li
          Leverage our application program interface.
        %li
          Ensure reliability and stability--99.9% uptime.
        %li
          Mobile and 508 compliant.
  .clear
  .affiliate-marketing-left
    %img{:src=>"/images/affiliates/thumb_analytics.png"}
  .affiliate-marketing-right
    %h2
      Search Analytics
    .pad10
      %ul
        %li
          Gain insight into your customers' search behavior.
        %li
          Read daily, weekly, and monthly summary reports.
        %li
          Access raw search logs.
        %li
          View dynamic charts and graphs.

.clear.pad20
.prepend-1.span-20
  %h1 Take Advantage of Our Features--All Industry Best Practices
  
  .pad10.clear
  .affiliate-marketing-left
    %img{:src=>"/images/affiliates/thumb_spotlight.png"}
  .affiliate-marketing-right
    %h2
      Content Highlighting
    .pad10
      %ul
        %li
          Create hand-edited spotlights to collate and highlight “best bets” content.
        %li
          Boost selected content, such as "deep web" content not found in search engines.
        %li
          Identify new, modified, or moved pages for crawling and indexing by Bing.
  
  .clear
  .affiliate-marketing-left
    %img{:src=>"/images/affiliates/thumb_sayt.png"}
  .affiliate-marketing-right
    %h2
      Customized Search Suggestions
    .pad10
      %ul
        %li
          Enable automatic mining of your search logs to provide your custumers with customized search suggestions.
        %li
          Provide type-ahead search suggestions as customers type in the search box.
        %li
          Display related topic suggestions on the search results page.

  .clear
  .affiliate-marketing-left
    %img{:src=>"/images/affiliates/thumb_spanish.png"}
  .affiliate-marketing-right
    %h2
      Spanish Language Support
    .pad10
      %ul
        %li
          Provide search results from your Spanish language sites.
        %li
          Provide Spanish language type-ahead search suggestions.


