.prepend-1.span-23.last
  %h1 USA.gov Search Service
.prepend-1.span-10
  %h2 What it is
  %p The USA.gov Search Service gives government organizations the ability to offer a customized search experience to their end users.
.span-10.append-2.last
  %h2 How it works
  %ol
    %li Create a user account using your government email address (e.g., "john@your-agency.gov")
    %li Configure your search affiliate domains (e.g., "your-agency.gov", "news.your-agency.gov")
    %li Add the USA.gov search box to your sites
%hr
.prepend-1.span-23.last
  %h2 Is USA.gov Search a solution for you?
  %ul
    %li Want a vetted search solution that you can customize with your own look and feel?
    %li Need editorial control to display your own results more prominently?
    %li Looking for analytics on what your visitors are searching for?
.prepend-10.last
  %h1= link_to(image_tag('register_now.png', :alt=>"Register Now"), new_user_path, :title => "Register Now")
