.prepend-1.span-23.last
  %h1 USASearch Affiliate Program
.prepend-1.span-23.last
  %p
    The General Services Administration's USASearch program offers free search services to any federal, state, local, tribal, or territorial government agency through our Affiliates Program.  As an affiliate, you can create a customized search experience that best fits your customers' needs through a simple, online administrative console.


.prepend-1.span-20
  %h2 Free, Hosted Search Services
  %p
    Sign up
    to become an affiliate today.  Add search to your government organization's website, network with other search and web professionals, and more.

.prepend-1.span-23.last
  .right
    = link_to(image_tag('register_now.png', :alt=>"Register Now"), new_user_path, :title => "Register Now")
    
  %h2 How It Works
  %ul
    %li
      Free and secure
    %li
      Set it up to search across one or your entire agency's websites
    %li
      Customized look and feel
    %li
      Display related topics and provide type-ahead search (both features based on your site's search logs)
    %li
      Spotlight "best bets" content in search results
    %li
      Site analytics to understand your customers' search behavior
    %li
      508 and mobile compliant

  %h2 What else will Search.USA.gov Services offer?
  %p
    The team at Search.USA.gov is committed to offering technology to help with the difficult problem of site search
    across government. In the near future, any customer of site search will have access to web based query analytics
    to see what users are searching for on their web site.

.prepend-1.span-20
  %h2 See It in Action
  %p
    We provide search services for over 300 government websites.  
    See it in action
    on other organizations' websites and learn how they've improved their customers' search experience.



