.prepend-1.span-23.last
  %h1 USA.gov Search Service
.prepend-1.span-10
  %h2 Who are we?
  %p
    Search.USA.gov Services (formally known as the Affiliate Program) allows any government organization (federal,
    state, and local) to power their web site search at no cost.
.span-10.append-2.last
  %h2 Site Search&mdash; Easy as 1-2-3
  %ol
    %li Sign up. You must have an email address that ends in .gov, .mil, *.us. If you have a different situation, e.g. your official government domain site ends in .com, please contact us at #{link_to '***REMOVED***', 'mailto:***REMOVED***'}.
    %li Customize the look and feel to match your site.
    %li Add the Search.USA.gov search box to your site.

.prepend-9= link_to(image_tag('register_now.png', :alt=>"Register Now"), new_user_path, :title => "Register Now")

.prepend-1.span-20
  %h2.alt New Feature
  %p
    Our number one feature request has been to enable customers to place their own listings above our Search.USA.gov results.
    Site search customers can now prioritize search results within their own administrative pages, using our "Boosted Sites" function.

  %h2.alt What else will Search.USA.gov Services offer?
  %p
    The team at Search.USA.gov is committed to offering technology to help with the difficult problem of site search
    across government. In the near future, any customer of site search will have access to web based query analytics
    to see what users are searching for on their web site.
