.span-22.prepend-1.faq
  %h1
    FAQs: Upgrading the USA.gov Search Affiliates Program
  %p
    We appreciate that you have chosen to use the USA.gov Search Affiliates
    service and hope you will continue your patronage in the future.
  %br
  %p
    We are upgrading the Search Affiliates service.
    From your perspective, the changes should not seem dramatic.  You will not
    be required to make any changes to your web site, and the service is
    still offered free of charge.   You will gain some additional flexibility
    in control over which services you receive and you will be able to
    subscribe to new features that are being developed by the USA.gov Search
    team.
  %br
  %ol
    %li
      %a{ :href => "#whatshappening" }
        What's happening, in a nutshell?
    %li
      %a{ :href => "#whatsdifferent" }
        What will be different in the new Affiliate search service compared to the
        old one?
    %li
      %a{ :href => "#howadmindifferent" }
        How will administration differ from the current Affiliates program?
    %li
      %a{ :href => "#howidpassword" }
        How will I get my new ID and password for the new administration
        interface?
    %li
      %a{ :href => "#loveit" }
        I love this new interface!  When can I switch my site over?
    %li
      %a{ :href => "#howkeepactive" }
        What do I as an Affiliate administrator need to do to keep
        search working on my Affiliate web site?
    %li
      %a{ :href => "#howtellactive" }
        How can I tell if I have an active site?
    %li
      %a{ :href => "#usebing" }
        Does the new interface still use Microsoft Search (Bing)?
    %li
      %a{ :href => "#whowriting" }
        Who is writing the code to support the search interface, and what
        is it written in?
    %li
      %a{ :href => "#accessindex" }
        Can I have direct access to the Bing index and host the service myself?
    %li
      %a{ :href => "#howlongguarantee" }
        What guarantees do I have that this service will continue, and
        remain free of charge?
  %p
    #whatshappening
      %h2
        What's happening, in a nutshell?
      %p
        The main change is that we will no longer be using an outside
        contractor to act as an intermediary between the USA.gov Search
        program and the search index provider (which currently is Microsoft).
        The front-end service will be hosted on machines at USA.gov using code
        written by USA.gov.
      %br
      %p
        You will see a few minor changes to the service, described in another FAQ below.
      %br
      %p
        All affiliates will be switched to the new system no later than
        February 24, 2010.  If you have an active service and take no action then
        you will be automatically switched over on or before February 24,
        2010.  You can switch over sooner if you like.
      %br
      %p
        If you have signed up for service under the old program but do not
        have an active site (fewer than 1 query per day on average), then you
        will have to create a new account in the new administrator system in
        order to receive service.
    #whatsdifferent
      %h2
        What will be different in the new Affiliate search service compared to the
        old one?
      %p
        As time goes by we will be soliciting your opinions about what you
        would like added (or subtracted) from the service and the interface.
        Some differences will be visible to users and others will not.  The
        current differences are:
      %ul
        %li
          Not visible to users:
          %ul
            %li
              The service is hosted at USA.gov (on Terramark servers).
            %li
              The service uses the Bing 2.0 API.
        %li
          Visible to users:
          %ul
            %li
              /
                This is not currently visible because we are
                making some modifications to the Related Searches feature.
              Related searches from Bing will be shown on the left hand side (Affiliates will be able to
              turn this feature off).
            %li
              Clusters (sometimes called topics) will no longer be shown on the
              left hand side.
            %li
              Search results are shown using the standard color scheme (as seen
              on Google).
            %li
              FAQs will no longer be shown embedded into tabs; we expect FAQs
              to appear high in organic search results after the FAQ team completes
              the opening up of the FAQs to web search engines for indexing.
            %li
              Image search will not be offered unless we receive
              requests for it.
    #howadmindifferent
      %h2
        How will administration differ from the current Affiliates program?
      %p
        Under the old program, affiliates used an administration tool
        at a contractor's website.
        Under the new program, a new administrative interface, with new user
        IDs and passwords, will be constructed and located at a new url:
        %a{ :href => "http://search.usa.gov/affiliates" }
          http://search.usa.gov/affiliates
      %br
      %p
        Using this new administration interface, Affiliate administrators will be able to
        subscribe to or unsubscribe from services. This interface
        will allow Affiliates to chose among a set of customization options,
        and design the headers and footers for their search results
        pages. This website will also  a modern trouble-ticket system that
        Affiliate managers can use to report problems as well as to make
        feature requests.
    #howidpassword
      %h2
        How will I get my new ID and password for the new administration
        interface?
      %p
        If you are the official administrator for your website's Affiliate
        interface, you were sent a new ID and password in the notification letter mailed
        to you on December 11, 2009.  If you need a new ID and/or password, or
        if you do not know who the administrator for your Affiliate site is, please
        send mail to
        %b
          XXX
        \.
    #loveit
      %h2
        I love this new interface!  When can I switch my site over?
      %p
        As of this writing, the system is in Beta.  It has not yet been
        stress-tested and we currently do not guarantee up time.  Taking those
        caveats in mind, you can switch starting on
        %b
          XXX
        \.
      %br
      %p
        Starting on February 24, 2010, if not sooner, we will be able to make
        up time guarantees.
    #howkeepactive
      %h2
        What do I as an Affiliate administrator need to do to keep
        search working on my Affiliate web site?
      %p
        Although you do not need to make any changes to your site in order to
        keep things working, we do recommend you make a very small change in
        your web pages if you can.  The only change that needs to be made is
        to change
      %ul
        usasearch.gov
      to
      %ul
        search.usa.gov
      %p
        On February 24, 2010, if not sooner, we will redirect the domain name
        of usasearch.gov to search.usa.gov (which is why you do not have to
        change your code), but it is better practice
        and may result in faster response time if you avoid relying on redirects.
    #howtellactive
      %h2
        How can I tell if I have an active site?
      %p
        The new Affiliate administrator tool will eventually show the
        administrator detailed information about their site usage, including
        number of queries per day and most frequent queries.
        For the transition from old to new
        service, any Affiliate with few than 1 query per day on average will
        be considered inactive and will have to register anew to activate
        their account.
      %br
      %p
        After the new service is in place, Affiliate administrators will be
        requested to periodically confirm, via email or the Affiliate
        administration interface, that their site is still active.
    #usebing
      %h2
        Does the new interface still use Microsoft Search (Bing)?
      %p
        The contract for 2009-2010 is for the use of Microsoft's Bing as the backend
        search engine.  If you want some other option you should let us know
        via the Affiliate administrator interface.
    #whowriting
      %h2
        Who is writing the code to support the search interface, and what
        is it written in?
      %p
        A team at USA.gov is developing the code in Ruby on Rails, using agile
        programming methods.  The code is being developed to be entirely unfettered
        by proprietary restrictions.
    #accessindex
      %h2
        Can I have direct access to the Bing index and host the service myself?
      %p
        Yes, Affiliates can make use of the contracted search index directly.
        We are looking into how to make our code available to those affiliates
        who want to use it but do not yet have that worked out.
    #howlongguarantee
      %h2
        What guarantees do I have that this service will continue, and
        remain free of charge?
      %p
        %b
          ???
