---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1F1339CD49A64B638FC07F913E43E5BB
      X-Msedge-Clientid:
      - 1952DCAD8DEB606C39F0D66E8C7C610C
      X-Msapi-Userstate:
      - 76a7
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=681DED3C9FBA4C53859E20944FEE9B6D&CID=1952DCAD8DEB606C39F0D66E8C7C610C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=681DED3C9FBA4C53859E20944FEE9B6D&CID=1952DCAD8DEB606C39F0D66E8C7C610C&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 18 Jul 2017 17:48:55 GMT
recorded_with: VCR 3.0.3
