---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 21AFB9F54BB1409A85D2B1474DC8B715
      X-Msedge-Clientid:
      - 3C7FD0BF4AAE63682415DA264B3962A3
      X-Msapi-Userstate:
      - ee8c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=CAD79E9626064770AE9B46C9A0DA342B&CID=3C7FD0BF4AAE63682415DA264B3962A3&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=CAD79E9626064770AE9B46C9A0DA342B&CID=3C7FD0BF4AAE63682415DA264B3962A3&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 06 Jun 2017 23:00:59 GMT
recorded_with: VCR 3.0.3
