---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9D7B7923E9FE434E967447CF1EB8CB2A
      X-Msedge-Clientid:
      - 2CEF8FC57A3F6459298D844E7B9065CA
      X-Msapi-Userstate:
      - 5ea6
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=431D379B1D8347A6BBD67B21F8AA0907&CID=2CEF8FC57A3F6459298D844E7B9065CA&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=431D379B1D8347A6BBD67B21F8AA0907&CID=2CEF8FC57A3F6459298D844E7B9065CA&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Sat, 03 Feb 2018 23:31:22 GMT
recorded_with: VCR 4.0.0
