---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C9E81B09AB2F483486EEA694C8679015
      X-Msedge-Clientid:
      - 0E5143096901670F3DFD493368966648
      X-Msapi-Userstate:
      - 51d7
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=2E671100D76B46E0B4EE8BAAD2FA9453&CID=0E5143096901670F3DFD493368966648&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=2E671100D76B46E0B4EE8BAAD2FA9453&CID=0E5143096901670F3DFD493368966648&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Fri, 03 Mar 2017 23:47:05 GMT
recorded_with: VCR 3.0.3
