---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7C147609019D4A88A1BC4457ECEE2345
      X-Msedge-Clientid:
      - 3EB93262E3316C09327D38FBE2A66D29
      X-Msapi-Userstate:
      - aea8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8555FD5D30DA4CE381121C60DA3FA85F&CID=3EB93262E3316C09327D38FBE2A66D29&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8555FD5D30DA4CE381121C60DA3FA85F&CID=3EB93262E3316C09327D38FBE2A66D29&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 06 Jun 2017 23:00:58 GMT
recorded_with: VCR 3.0.3
