---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6B81222806654F9898175429DCEC2A03
      X-Msedge-Clientid:
      - 1FC6240557CA63F729092EC6565D6203
      X-Msapi-Userstate:
      - '0710'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=235ACF2297F0456E80990C9DD5D363D4&CID=1FC6240557CA63F729092EC6565D6203&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=235ACF2297F0456E80990C9DD5D363D4&CID=1FC6240557CA63F729092EC6565D6203&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 18 Jul 2017 17:48:54 GMT
recorded_with: VCR 3.0.3
