---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6FB17AD6758B47148C5D995BFA43CA7D
      X-Msedge-Clientid:
      - 152522EC8A1769233C752EB48B186840
      X-Msapi-Userstate:
      - fc78
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A9134CB938F942E1A08F72572F15F6CD&CID=152522EC8A1769233C752EB48B186840&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A9134CB938F942E1A08F72572F15F6CD&CID=152522EC8A1769233C752EB48B186840&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 27 Aug 2018 00:04:37 GMT
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 60D65EC3060D4C74934302E9C7A06464
      Bingapis-Sessionid:
      - 0DEB9B9AEBF349B180F2831C420763B4
      X-Msedge-Clientid:
      - 0EE37BC677D86DD400C5773C76946C9E
      X-Msapi-Userstate:
      - a5d8
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=153,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "no_results
        (site:nonsense.gov)"}, "rankingResponse": {}}'
  recorded_at: Tue, 05 Feb 2019 21:28:56 GMT
recorded_with: VCR 4.0.0
