---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - DC36710B84E04BEB93C24C73BB892E83
      X-Msedge-Clientid:
      - 0C5195F8A32C633F09249FC2A2BB628D
      X-Msapi-Userstate:
      - '9418'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=0FF6B236731E463192E4798FC5B76AD0&CID=0C5195F8A32C633F09249FC2A2BB628D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=0FF6B236731E463192E4798FC5B76AD0&CID=0C5195F8A32C633F09249FC2A2BB628D&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Fri, 03 Mar 2017 23:47:06 GMT
recorded_with: VCR 3.0.3
