---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - EFC7DE0D363F425A98133F26065C0DC8
      X-Msedge-Clientid:
      - 1561A7082FFC6287257BAD6A2E6B630F
      X-Msapi-Userstate:
      - 9eb3
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5C4CEF5EC5444D439A2AB59AAA2BCACE&CID=1561A7082FFC6287257BAD6A2E6B630F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5C4CEF5EC5444D439A2AB59AAA2BCACE&CID=1561A7082FFC6287257BAD6A2E6B630F&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 12 Apr 2017 20:43:04 GMT
recorded_with: VCR 3.0.3
