---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 489DD793E00F445A8013CDD751F0327A
      X-Msedge-Clientid:
      - 33C71A886C3268AB1CB111806DA56935
      X-Msapi-Userstate:
      - '0113'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=52423CC0D4A3408BB5BAAE4B7B056D7F&CID=33C71A886C3268AB1CB111806DA56935&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=52423CC0D4A3408BB5BAAE4B7B056D7F&CID=33C71A886C3268AB1CB111806DA56935&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 25 Sep 2017 19:12:31 GMT
recorded_with: VCR 3.0.3
