---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - AB1C0574C8AA4167AD8DF0C230651EA2
      X-Msedge-Clientid:
      - 1F51709DA870619720EC7B9CA9E760B9
      X-Msapi-Userstate:
      - fe9c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8AE6D601BD3E4B6CA760329C2FAC996A&CID=1F51709DA870619720EC7B9CA9E760B9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8AE6D601BD3E4B6CA760329C2FAC996A&CID=1F51709DA870619720EC7B9CA9E760B9&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 18 Sep 2017 19:52:02 GMT
recorded_with: VCR 3.0.3
