---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C77908F2DBE945D3B2B263FF93F448D6
      X-Msedge-Clientid:
      - 20796FC915EE69FA3E9D65F0147968EF
      X-Msapi-Userstate:
      - '7406'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=98F047B8C3F8439BB94C7CF721F04852&CID=20796FC915EE69FA3E9D65F0147968EF&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=98F047B8C3F8439BB94C7CF721F04852&CID=20796FC915EE69FA3E9D65F0147968EF&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 02 Mar 2017 19:53:51 GMT
recorded_with: VCR 3.0.3
