---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 58C71E6D9E6145A18985A102B9B2D818
      X-Msedge-Clientid:
      - 3F404C4A21DF603B2E0146F52048615F
      X-Msapi-Userstate:
      - 7f8c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=FF9D9C8311A946D8A4DF7CF62A045A1A&CID=3F404C4A21DF603B2E0146F52048615F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=FF9D9C8311A946D8A4DF7CF62A045A1A&CID=3F404C4A21DF603B2E0146F52048615F&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Fri, 14 Jul 2017 16:22:46 GMT
recorded_with: VCR 3.0.3
