---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B6F0A395553B43B49C9442EF9EAD783B
      X-Msedge-Clientid:
      - 3629ED0AEA3A65AA35ECE681EB956432
      X-Msapi-Userstate:
      - a8ad
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=CF072F9C0D3F478DB86679E281400126&CID=3629ED0AEA3A65AA35ECE681EB956432&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=CF072F9C0D3F478DB86679E281400126&CID=3629ED0AEA3A65AA35ECE681EB956432&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Sat, 03 Feb 2018 23:31:21 GMT
recorded_with: VCR 4.0.0
