---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E2D85ED034514168BD7622C716FB16DB
      X-Msedge-Clientid:
      - 2A08CD849AA86C472553C1DC9BA76D10
      X-Msapi-Userstate:
      - '4421'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=48C0C85088784026BB3B45D29B3AAC15&CID=2A08CD849AA86C472553C1DC9BA76D10&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=48C0C85088784026BB3B45D29B3AAC15&CID=2A08CD849AA86C472553C1DC9BA76D10&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 27 Aug 2018 00:04:38 GMT
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F3E3142411FD4970A06EB2A1731F5B18
      Bingapis-Sessionid:
      - FD4E6A62DE2D48B6B1EB96837DB51440
      X-Msedge-Clientid:
      - 01FC3D429A8E6B8134C931B89BC26ACF
      X-Msapi-Userstate:
      - f55a
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=149,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "no_results
        (site:nonsense.gov)"}, "rankingResponse": {}}'
  recorded_at: Tue, 05 Feb 2019 21:33:56 GMT
recorded_with: VCR 4.0.0
