---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 14479165DEBB43FA928A868D1F90D32C
      X-Msedge-Clientid:
      - 36695BDDE0606FFB3ED551BFE1F76EB1
      X-Msapi-Userstate:
      - a292
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=6F1FEA0DA4B14ABC8C33BCCE5B9022B5&CID=36695BDDE0606FFB3ED551BFE1F76EB1&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=6F1FEA0DA4B14ABC8C33BCCE5B9022B5&CID=36695BDDE0606FFB3ED551BFE1F76EB1&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 12 Apr 2017 20:43:05 GMT
recorded_with: VCR 3.0.3
