---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9A0EA60BBDF14054AEBD9058697EE519
      X-Msedge-Clientid:
      - 0EEBF1971A6E667D343CFBA61B5F6716
      X-Msapi-Userstate:
      - 2d6d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=549F1EE4F1674B9889A085C82032280D&CID=0EEBF1971A6E667D343CFBA61B5F6716&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=549F1EE4F1674B9889A085C82032280D&CID=0EEBF1971A6E667D343CFBA61B5F6716&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 22 Feb 2017 21:46:16 GMT
recorded_with: VCR 3.0.3
