---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=no_results%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - AC1FE6C5DAD9459C899CD4059DED3612
      X-Msedge-Clientid:
      - 36E97E7445846FB8029175A944136E96
      X-Msapi-Userstate:
      - 0fe5
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DF0AAEA75A5E4CEBBDE0233653EE0FC9&CID=36E97E7445846FB8029175A944136E96&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DF0AAEA75A5E4CEBBDE0233653EE0FC9&CID=36E97E7445846FB8029175A944136E96&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 26 Apr 2018 23:56:29 GMT
recorded_with: VCR 4.0.0
