%html
  %head
    %title Search.gov
    = stylesheet_link_tag 'searches_mobile'
  %body
    %div{ align: "center" }
      %br
      %span= t(:are_you_human)
      %br
      %br
      %noscript
        %span= t(:captcha_requires_javascript)
      %form{ id: "captcha_form", action: "/human_session", method: "POST" }
        = recaptcha_tags(hl: @affiliate.locale)
        %input{ type: "hidden", name: "redirect_to", value: @redirect_to }
        %br
        %input{ type: "submit", value: t(:search) }
