---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=healthy%20snack%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/0hBVZS5wZ8NrisBbs5O5-JdfBxk"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - healthy snack site:usa.gov",
            "totalResults": "486",
            "searchTerms": "healthy snack site:usa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - healthy snack site:usa.gov",
            "totalResults": "486",
            "searchTerms": "healthy snack site:usa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.304572,
          "formattedSearchTime": "0.30",
          "totalResults": "486",
          "formattedTotalResults": "486"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "How to Use Fruits and Vegetables to Help Manage Your Weight ...",
           "htmlTitle": "How to Use Fruits and Vegetables to Help Manage Your Weight ...",
           "link": "http://1.usa.gov/1exqTki",
           "displayLink": "1.usa.gov",
           "snippet": "Nov 9, 2015 ... There are many different ways to lose or maintain a healthy weight. ... Choosing \nmost fruits and vegetables will allow you to eat a snack with ...",
           "htmlSnippet": "Nov 9, 2015 \u003cb\u003e...\u003c/b\u003e There are many different ways to lose or maintain a \u003cb\u003ehealthy\u003c/b\u003e weight. ... Choosing \u003cbr\u003e\nmost fruits and vegetables will allow you to eat a \u003cb\u003esnack\u003c/b\u003e with&nbsp;...",
           "cacheId": "UQQmdR3EkP4J",
           "formattedUrl": "1.usa.gov/1exqTki",
           "htmlFormattedUrl": "1.usa.gov/1exqTki",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "180",
              "height": "170",
              "src": "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRCCbmHXs6S4wSY3vR9DjD719cvJnPt6HiDdT-TYV90NR1wxm5IVPhjEf37"
             }
            ],
            "organization": [
             {
              "telephone": "800-CDC-INFO (800-232-4636)"
             }
            ],
            "postaladdress": [
             {
              "streetaddress": "1600 Clifton Road",
              "addresslocality": "Atlanta",
              "addressregion": "GA",
              "postalcode": "30329-4027",
              "addresscountry": "USA"
             }
            ],
            "contactpoint": [
             {
              "url": "Email CDC-INFO"
             },
             {
              "url": "U.S. Department of Health & Human Services"
             },
             {
              "url": "HHS/Open"
             },
             {
              "url": "USA.gov"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1",
              "cdc:template_version": "3.0",
              "cdc:content-id": "737905",
              "cdc:revision-id": "12",
              "application-name": "CDC.gov",
              "msapplication-tilecolor": "#0061aa",
              "msapplication-square70x70logo": "/TemplatePackage/3.0/images/Win8_tile_70x70.png",
              "msapplication-square150x150logo": "/TemplatePackage/3.0/images/Win8_tile_150x150.png",
              "msapplication-wide310x150logo": "/TemplatePackage/3.0/images/Win8_tile_310x150.png",
              "msapplication-square310x310logo": "/TemplatePackage/3.0/images/Win8_tile_310x310.png"
             }
            ],
            "webpage": [
             {
              "lastreviewed": "November 9, 2015",
              "datemodified": "November 9, 2015"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.cdc.gov/healthyweight/images/healthy-eating/soups.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Healthy Snack #3: Cucumber Yogurt Dip | Video | Kids.gov | USAGov",
           "htmlTitle": "\u003cb\u003eHealthy Snack\u003c/b\u003e #3: Cucumber Yogurt Dip | Video | Kids.gov | USAGov",
           "link": "https://kids.usa.gov/watch-videos/exercise-and-eating-healthy/cucumber-dip/index.shtml",
           "displayLink": "kids.usa.gov",
           "snippet": "Apr 22, 2016 ... Learn how to make a cool and healthy dip to eat with your favorite vegetables.",
           "htmlSnippet": "Apr 22, 2016 \u003cb\u003e...\u003c/b\u003e Learn how to make a cool and \u003cb\u003ehealthy\u003c/b\u003e dip to eat with your favorite vegetables.",
           "cacheId": "M6LU2N2E3McJ",
           "formattedUrl": "https://kids.usa.gov/watch-videos/exercise...healthy/.../index.shtml",
           "htmlFormattedUrl": "https://kids.usa.gov/watch-videos/exercise...\u003cb\u003ehealthy\u003c/b\u003e/.../index.shtml",
           "pagemap": {
            "Concept": [
             {
              "label": "Healthy Snack #3: Cucumber Yogurt Dip",
              "prefLabel": "Healthy Snack #3: Cucumber Yogurt Dip"
             }
            ],
            "cse_thumbnail": [
             {
              "width": "256",
              "height": "144",
              "src": "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT7UffT8N0rTDn5j_RV4hlIdgfxpKdzgC8hmhF0JvQYhs2pSfRTsQnM3o2N"
             }
            ],
            "metatags": [
             {
              "rdfs:label skos:preflabel": "Healthy Snack #3: Cucumber Yogurt Dip"
             }
            ],
  [...]
