---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_es&q=presidente%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ZK6WcJ2_cdL-1Kol5cpaPQsD0mI/KeU9KoSCk-PTRhb594gSTki3hkI"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - presidente site:usa.gov",
            "totalResults": "166",
            "searchTerms": "presidente site:usa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_es",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - presidente site:usa.gov",
            "totalResults": "166",
            "searchTerms": "presidente site:usa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_es",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.165098,
          "formattedSearchTime": "0.17",
          "totalResults": "166",
          "formattedTotalResults": "166"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Proceso electoral | USAGov",
           "htmlTitle": "Proceso electoral | USAGov",
           "link": "https://gobierno.usa.gov/proceso-electoral",
           "displayLink": "gobierno.usa.gov",
           "snippet": "Información sobre el proceso electoral en Estados Unidos, el Presidente y la \nPrimera Dama.",
           "htmlSnippet": "Información sobre el proceso electoral en Estados Unidos, el \u003cb\u003ePresidente\u003c/b\u003e y la \u003cbr\u003e\nPrimera Dama.",
           "cacheId": "LOwJVZXFPb0J",
           "formattedUrl": "https://gobierno.usa.gov/proceso-electoral",
           "htmlFormattedUrl": "https://gobierno.usa.gov/proceso-electoral",
           "pagemap": {
            "Concept": [
             {
              "label": "Proceso electoral",
              "prefLabel": "Proceso electoral"
             }
            ],
            "cse_thumbnail": [
             {
              "width": "228",
              "height": "221",
              "src": "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTQHkrAmdEFhh2q_BF1jOLlHd4rHIGnAJ35Iym_5Yk9JEATXv3IydPf6oA"
             }
            ],
            "breadcrumb": [
             {
              "url": "Votaciones y elecciones",
              "title": "Votaciones y elecciones"
             },
             {
              "title": "Proceso electoral"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1.0",
              "rdfs:label skos:preflabel": "Proceso electoral"
             }
            ],
            "cse_image": [
             {
              "src": "https://gsa-cmp-fileupload.s3.amazonaws.com/Votting_Chat_Basic_Gobierno_0.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Informe del Grupo de Trabajo del Presidente sobre el Estatus de ...",
           "htmlTitle": "Informe del Grupo de Trabajo del \u003cb\u003ePresidente\u003c/b\u003e sobre el Estatus de ...",
           "link": "http://1.usa.gov/ipItlT",
           "displayLink": "1.usa.gov",
           "snippet": "Presidente sobre el Estatus de Puerto Rico. Cecilia Muñoz, copresidenta. \nDirectora de la Oficina de Asuntos Intergubernamentales, La Casa Blanca. \nThomas J.",
           "htmlSnippet": "\u003cb\u003ePresidente\u003c/b\u003e sobre el Estatus de Puerto Rico. Cecilia Muñoz, copresidenta. \u003cbr\u003e\nDirectora de la Oficina de Asuntos Intergubernamentales, La Casa Blanca. \u003cbr\u003e\nThomas J.",
           "cacheId": "oaeiU3TnGjkJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "1.usa.gov/ipItlT",
           "htmlFormattedUrl": "1.usa.gov/ipItlT",
           "pagemap": {
            "metatags": [
             {
              "creationdate": "D:20110317140923-04'00'",
              "creator": "Adobe InDesign CS5 (7.0.3)",
              "moddate": "D:20110318130640-04'00'",
              "producer": "Adobe PDF Library 9.9"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Cómo funciona el Gobierno",
           "htmlTitle": "Cómo funciona el Gobierno",
           "link": "https://gobierno.usa.gov/como-funciona-el-gobiernousa.gov",
           "displayLink": "gobierno.usa.gov",
           "snippet": "Legislativa (la que inicia y crea las leyes- el Congreso); Ejecutiva (la que hace \ncumplir las leyes- el President[...]
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_es&q=casa%20blanca%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/qnUGxqVwiHbWXBZ4x6RI-T1vB4s"'
      Content-Type:
      - application/json; charset=UTF-8
    bod[...]
