---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=healthy%20snack%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/kXY29aBPHb93RyBJagY5XparZMU"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - healthy snack site:usa.gov",
            "totalResults": "410",
            "searchTerms": "healthy snack site:usa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - healthy snack site:usa.gov",
            "totalResults": "410",
            "searchTerms": "healthy snack site:usa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.30435,
          "formattedSearchTime": "0.30",
          "totalResults": "410",
          "formattedTotalResults": "410"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "How to Use Fruits and Vegetables to Help Manage Your Weight ...",
           "htmlTitle": "How to Use Fruits and Vegetables to Help Manage Your Weight ...",
           "link": "http://1.usa.gov/1exqTki",
           "displayLink": "1.usa.gov",
           "snippet": "Nov 9, 2015 ... Most healthy eating plans allow for one or two small snacks a day. Choosing \nmost fruits and vegetables will allow you to eat a snack with only ...",
           "htmlSnippet": "Nov 9, 2015 \u003cb\u003e...\u003c/b\u003e Most \u003cb\u003ehealthy\u003c/b\u003e eating plans allow for one or two small \u003cb\u003esnacks\u003c/b\u003e a day. Choosing \u003cbr\u003e\nmost fruits and vegetables will allow you to eat a \u003cb\u003esnack\u003c/b\u003e with only&nbsp;...",
           "cacheId": "UQQmdR3EkP4J",
           "formattedUrl": "1.usa.gov/1exqTki",
           "htmlFormattedUrl": "1.usa.gov/1exqTki",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "225",
              "height": "213",
              "src": "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQg6P0p_IDzcLAnYbHd6sYkBN-ksDfhUBS3-znYf6XciCu5vO9V1UCQQLSi"
             }
            ],
            "organization": [
             {
              "telephone": "800-CDC-INFO (800-232-4636)"
             }
            ],
            "postaladdress": [
             {
              "streetaddress": "1600 Clifton Road",
              "addresslocality": "Atlanta",
              "addressregion": "GA",
              "postalcode": "30329-4027",
              "addresscountry": "USA"
             }
            ],
            "contactpoint": [
             {
              "url": "Email CDC-INFO"
             },
             {
              "url": "U.S. Department of Health & Human Services"
             },
             {
              "url": "HHS/Open"
             },
             {
              "url": "USA.gov"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1",
              "cdc:template_version": "3.0",
              "cdc:content-id": "737905",
              "cdc:revision-id": "12",
              "application-name": "CDC.gov",
              "msapplication-tilecolor": "#0061aa",
              "msapplication-square70x70logo": "/TemplatePackage/3.0/images/Win8_tile_70x70.png",
              "msapplication-square150x150logo": "/TemplatePackage/3.0/images/Win8_tile_150x150.png",
              "msapplication-wide310x150logo": "/TemplatePackage/3.0/images/Win8_tile_310x150.png",
              "msapplication-square310x310logo": "/TemplatePackage/3.0/images/Win8_tile_310x310.png"
             }
            ],
            "webpage": [
             {
              "lastreviewed": "November 9, 2015",
              "datemodified": "November 9, 2015"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.cdc.gov/healthyweight/images/healthy-eating/soups.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Labeling & Nutrition \u003e Your Two Favorite Things: Snacks and ...",
           "htmlTitle": "Labeling &amp; Nutrition &gt; Your Two Favorite Things: \u003cb\u003eSnacks\u003c/b\u003e and ...",
           "link": "http://go.usa.gov/cGnBG",
           "displayLink": "go.usa.gov",
           "snippet": "May 22, 2016 ... Play the two exciting Snack Shack games often to win more clams and keep the \nfun going. Soon you'll be making healthy snack choices in the ...",
           "htmlSnippet": "May 22, 2016 \u003cb\u003e...\u003c/b\u003e Play the two exciting \u003cb\u003eSnack\u003c/b\u003e Shack games often to win more clams and keep the \u003cbr\u003e\nfun going. Soon you&#39;ll be making \u003cb\u003ehealthy snack\u003c/b\u003e choices in the&nbsp;...",
           "cacheId": "Rhvu1S4ZqMcJ",
           "formattedUrl": "go.usa.gov/cGnBG",
           "htmlFormattedUrl": "go.usa.gov/cGnBG",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "290",
              "height": "174",
              "src": "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTz87a0ItOX5KrOzp-svAot1vOD1Lp3Fc1YYpvF7Dip2YCR7IsTWLOlm5As"
             }
            ],
            "metatags": [
             {
              "id": "UCM490204",
              "msvalidate.01": "0AE61A039CC5BDCCF556A11C18A61D44",
              "dc.title": "Labeling & Nutrition - Your Two Favorite Things: Snacks and Games!  Visit the New Snack Shack Today",
              "dc.type": "WebContent",
              "dc.description": "In the virtual world of Whyville, young Ã¢â‚¬Å“citizensÃ¢â‚¬ï¿½ can practice label reading in the online community and develop skills for making healthy snack choices in the real world. Visit today, and play the new Label Lingo and Snack Sort games in the Snack Shack!",
              "dc.language": "en",
              "posted": "2016-03-15",
              "index_date": "2016-05-22",
              "dc.publisher": "Center for Food Safety and Applied Nutrition",
              "dc.audience": "Consumers, Educators",
              "dc.creator": "Center for Food Safety and Applied Nutrition",
              "archive": "No",
              "search_topic": "Food",
              "viewport": "width=device-width, initial-scale=1.0",
              "apple-mobile-web-app-title": "FDA",
              "apple-mobile-web-app-capable": "yes"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.fda.gov/ucm/groups/fdagov-public/documents/image/ucm489562.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Improving Your Eating Habits | Healthy Weight | CDC",
           "htmlTitle": "Improving Your Eating Habits | \u003cb\u003eHealthy\u003c/b\u003e Weight | CDC",
           "link": "http://go.usa[...]
