---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=ira%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"qJqSYYBKC7OE65YzOsiOXjJ8lYg/je8dDWD5qMGyACbSeEmXNeB6WtQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - ira site:usa.gov",
            "totalResults": "986",
            "searchTerms": "ira site:usa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - ira site:usa.gov",
            "totalResults": "986",
            "searchTerms": "ira site:usa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.233227,
          "formattedSearchTime": "0.23",
          "totalResults": "986",
          "formattedTotalResults": "986"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Individual Retirement Arrangements (IRAs)",
           "htmlTitle": "Individual Retirement Arrangements (\u003cb\u003eIRAs\u003c/b\u003e)",
           "link": "http://go.usa.gov/3C2zG",
           "displayLink": "go.usa.gov",
           "snippet": "Feb 8, 2017 ... Learn about saving for retirement using Traditional and Roth IRAs. ... How much \nof your IRA contributions can you deduct on your taxes?",
           "htmlSnippet": "Feb 8, 2017 \u003cb\u003e...\u003c/b\u003e Learn about saving for retirement using Traditional and Roth \u003cb\u003eIRAs\u003c/b\u003e. ... How much \u003cbr\u003e\nof your \u003cb\u003eIRA\u003c/b\u003e contributions can you deduct on your taxes?",
           "cacheId": "5Mb1U_YPpYkJ",
           "formattedUrl": "go.usa.gov/3C2zG",
           "htmlFormattedUrl": "go.usa.gov/3C2zG",
           "pagemap": {
            "metatags": [
             {
              "newurl": "https://www.irs.gov/retirement-plans/individual-retirement-arrangements-iras-1",
              "oldurl": "https://www.irs.gov/Retirement-Plans/Individual-Retirement-Arrangements-IRAs-1",
              "content-type": "Standard",
              "irsstandard-type": "st_other",
              "language": "en",
              "modified": "2017-02-08",
              "uniqueid": "226255"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Traditional and Roth IRAs",
           "htmlTitle": "Traditional and Roth \u003cb\u003eIRAs\u003c/b\u003e",
           "link": "http://go.usa.gov/zMVQ",
           "displayLink": "go.usa.gov",
           "snippet": "Jan 30, 2017 ... Features, Traditional IRA, Roth IRA. Who can contribute? You can contribute if \nyou (or your spouse if filing jointly) have taxable compensation ...",
           "htmlSnippet": "Jan 30, 2017 \u003cb\u003e...\u003c/b\u003e Features, Traditional \u003cb\u003eIRA\u003c/b\u003e, Roth \u003cb\u003eIRA\u003c/b\u003e. Who can contribute? You can contribute if \u003cbr\u003e\nyou (or your spouse if filing jointly) have taxable compensation&nbsp;...",
           "cacheId": "4GRtfJJo0NcJ",
           "formattedUrl": "go.usa.gov/zMVQ",
           "htmlFormattedUrl": "go.usa.gov/zMVQ",
           "pagemap": {
            "metatags": [
             {
              "newurl": "https://www.irs.gov/retirement-plans/traditional-and-roth-iras",
              "oldurl": "https://www.irs.gov/Retirement-Plans/Traditional-and-Roth-IRAs",
              "audience": "a_plan_participant_employee,a_plan_sponsor_employer,a_retirement_plans_community,a_benefits_practitioner",
              "content-type": "Standard",
              "irsstandard-type": "st_other",
              "language": "en",
              "modified": "2017-01-30",
              "uniqueid": "416154"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Education Exception to Additional Tax on Early IRA Distributions",
           "htmlTitle": "Education Exception to Additional Tax on Early \u003cb\u003eIRA\u003c/b\u003e Distributions",
           "link": "http://1.usa.gov/UvznBn",
           "displayLink": "1.usa.gov",
           "snippet": "Generally, if you take a distribution from your IRA before you reach age 59½, you \nmust pay a 10% additional tax on the early distribution. This applies to any IRA ...",
           "htmlSnippet": "Generally, if you take a distribution from your \u003cb\u003eIRA\u003c/b\u003e before you reach age 59½, you \u003cbr\u003e\nmust pay a 10% additional tax on the early distribution. This applies to any \u003cb\u003eIRA\u003c/b\u003e&nbsp;...",
           "cacheId": "15d5JumWjXoJ",
           "formattedUrl": "1.usa.gov/UvznBn",
           "htmlFormattedUrl": "1.usa.gov/UvznBn",
           "pagemap": {
            "metatags": [
             {
              "wct": "Forms and Publications",
              "releaseinfo": "DocBook file p970_public.xml generated 2017-01-19 at 11:44:19 using stylesheet tipx.xsl"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Individual Retirement Arrangements - Getting Started",
           "htmlTitle": "Individual Retirement Arrangements - Getting Started",
           "link": "http://go.usa.gov/TkYR",
           "displayLink": "go.usa.gov",
           "snippet": "Jan 23, 2017 ... Individual Retireme[...]
