---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_es&q=casa%20blanca%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/WOPeoiu3TL2Dh1j3WPJGVfwqJnQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - casa blanca site:usa.gov",
            "totalResults": "175",
            "searchTerms": "casa blanca site:usa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_es",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - casa blanca site:usa.gov",
            "totalResults": "175",
            "searchTerms": "casa blanca site:usa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_es",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.379592,
          "formattedSearchTime": "0.38",
          "totalResults": "175",
          "formattedTotalResults": "175"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "La Casa Blanca | USAGov",
           "htmlTitle": "La \u003cb\u003eCasa Blanca\u003c/b\u003e | USAGov",
           "link": "https://gobierno.usa.gov/agencias-federales/la-casa-blanca",
           "displayLink": "gobierno.usa.gov",
           "snippet": "La Casa Blanca es el lugar donde vive el Presidente de Estados Unidos durante \nsu mandato. El Presidente es el líder de la nación y el Comandante de las ...",
           "htmlSnippet": "La \u003cb\u003eCasa Blanca\u003c/b\u003e es el lugar donde vive el Presidente de Estados Unidos durante \u003cbr\u003e\nsu mandato. El Presidente es el líder de la nación y el Comandante de las&nbsp;...",
           "cacheId": "rHADUI3nEZkJ",
           "formattedUrl": "https://gobierno.usa.gov/agencias-federales/la-casa-blanca",
           "htmlFormattedUrl": "https://gobierno.usa.gov/agencias-federales/la-\u003cb\u003ecasa\u003c/b\u003e-\u003cb\u003eblanca\u003c/b\u003e",
           "pagemap": {
            "hcard": [
             {
              "name": "Contacto:"
             },
             {
              "name": "Dirección:"
             },
             {
              "name": "Teléfono:"
             },
             {
              "name": "TTY:"
             },
             {
              "name": "Agencia en inglés:"
             }
            ],
            "breadcrumb": [
             {
              "url": "Agencias del Gobierno",
              "title": "Agencias del Gobierno"
             },
             {
              "title": "Agencias federales"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1.0"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Proclamación Presidencial -- Mes de la Herencia Hispana, 2016 ...",
           "htmlTitle": "Proclamación Presidencial -- Mes de la Herencia Hispana, 2016 ...",
           "link": "https://go.usa.gov/xKbqz",
           "displayLink": "go.usa.gov",
           "snippet": "14 Sep 2016 ... Establecí el Grupo de Trabajo de la Casa Blanca sobre Nuevos \nEstadounidenses para apoyar la integración de inmigrantes y refugiados en ...",
           "htmlSnippet": "14 Sep 2016 \u003cb\u003e...\u003c/b\u003e Establecí el Grupo de Trabajo de la \u003cb\u003eCasa Blanca\u003c/b\u003e sobre Nuevos \u003cbr\u003e\nEstadounidenses para apoyar la integración de inmigrantes y refugiados en&nbsp;...",
           "cacheId": "co3N8jOAY8QJ",
           "formattedUrl": "https://go.usa.gov/xKbqz",
           "htmlFormattedUrl": "https://go.usa.gov/xKbqz",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "225",
              "height": "225",
              "src": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRt-q4RXmxvZw84b-607za7pty70sVhspiPb2BxLjVz4agWv2hKELO-ZAc"
             }
            ],
            "metatags": [
             {
              "msapplication-square150x150logo": "https://obamawhitehouse.archives.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-150x150.png",
              "msapplication-square70x70logo": "https://obamawhitehouse.archives.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-70x70.png",
              "msapplication-wide310x150logo": "https://obamawhitehouse.archives.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-310x150.png",
              "msapplication-square310x310logo": "https://obamawhitehouse.archives.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-310x310.png",
              "msapplication-tileimage": "https://obamawhitehouse.archives.gov/profiles/forall/themes/custom/fortyfour/images/fortyfour/favicons/mstile-70x70.png",
              "msapplication-tilecolor": "#003C80",
              "msapplication-config": "https://obamawhitehouse.archives.gov/profiles/forall/themes/custom/fortyfour/browserconfig.xml",
              "application-name": "Whitehouse",
              "og:site_name": "whitehouse.gov",
              "og:type": "article",
              "og:title": "Proclamación Presidencial -- Mes de la Herencia Hispana, 2016",
              "og:url": "https://obamawhitehouse.archives.gov/the-press-office/2016/09/14/proclamaci%C3%B3n-presidencial-mes-de-la-herencia-hispana-2016",
              "og:description": "MES DE LA HERENCIA HISPANA, 2016 POR EL PRESIDENTE DE LOS ESTADOS UNIDOS DE AMÉRICA UNA PROCLAMACIÓN",
              "og:u[...]
