---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=ira%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/cK6jZwjC-fvi4qcalQ7lGaYjmGM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - ira site:usa.gov",
            "totalResults": "927",
            "searchTerms": "ira site:usa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - ira site:usa.gov",
            "totalResults": "927",
            "searchTerms": "ira site:usa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.163577,
          "formattedSearchTime": "0.16",
          "totalResults": "927",
          "formattedTotalResults": "927"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Individual Retirement Arrangements IRAs | Internal Revenue Service",
           "htmlTitle": "Individual Retirement Arrangements \u003cb\u003eIRAs\u003c/b\u003e | Internal Revenue Service",
           "link": "http://1.usa.gov/1ktWXJh",
           "displayLink": "1.usa.gov",
           "snippet": "Aug 28, 2017 ... Learn about saving for retirement using Traditional and Roth IRAs. ... YouTube \nvideo - Retirement Plan and IRA Rollovers (1.20 mins.).",
           "htmlSnippet": "Aug 28, 2017 \u003cb\u003e...\u003c/b\u003e Learn about saving for retirement using Traditional and Roth \u003cb\u003eIRAs\u003c/b\u003e. ... YouTube \u003cbr\u003e\nvideo - Retirement Plan and \u003cb\u003eIRA\u003c/b\u003e Rollovers (1.20 mins.).",
           "cacheId": "Qb_WFysSukMJ",
           "formattedUrl": "1.usa.gov/1ktWXJh",
           "htmlFormattedUrl": "1.usa.gov/1ktWXJh",
           "pagemap": {
            "metatags": [
             {
              "title": "Individual Retirement Arrangements IRAs | Internal Revenue Service",
              "abstract": "Individual Retirement Arrangements (IRAs)",
              "original-source": "https://www.irs.gov/retirement-plans/individual-retirement-arrangements-iras-1",
              "rights": "United States Internal Revenue Services",
              "mobileoptimized": "width",
              "handheldfriendly": "true",
              "viewport": "width=device-width, initial-scale=1.0",
              "uniqueid": "4909",
              "ishistorical": "no",
              "changed": "1503943736",
              "otid": "226255",
              "seid": "f0nrb"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Traditional and Roth IRAs | Internal Revenue Service",
           "htmlTitle": "Traditional and Roth \u003cb\u003eIRAs\u003c/b\u003e | Internal Revenue Service",
           "link": "https://go.usa.gov/ZgNH",
           "displayLink": "go.usa.gov",
           "snippet": "Aug 12, 2017 ... Traditional and Roth IRAs allow you to save money for retirement. This ch[...]
