---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=healthy%20snack%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ZK6WcJ2_cdL-1Kol5cpaPQsD0mI/4XH-N76zo1SRg2jA_Ks0F-mM8lE"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - healthy snack site:usa.gov",
            "totalResults": "376",
            "searchTerms": "healthy snack site:usa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - healthy snack site:usa.gov",
            "totalResults": "376",
            "searchTerms": "healthy snack site:usa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.23917,
          "formattedSearchTime": "0.24",
          "totalResults": "376",
          "formattedTotalResults": "376"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Healthy Snack #5: Frozen Fruit Cups | Videos | Kids.gov | USAGov",
           "htmlTitle": "\u003cb\u003eHealthy Snack\u003c/b\u003e #5: Frozen Fruit Cups | Videos | Kids.gov | USAGov",
           "link": "https://kids.usa.gov/watch-videos/exercise-and-eating-healthy/fruit-cups/index.shtml",
           "displayLink": "kids.usa.gov",
           "snippet": "Apr 22, 2016 ... Ingredients and steps to make this fun frozen treat to keep you cool this summer.",
           "htmlSnippet": "Apr 22, 2016 \u003cb\u003e...\u003c/b\u003e Ingredients and steps to make this fun frozen treat to keep you cool this summer.",
           "cacheId": "6udNcKVoE2sJ",
           "formattedUrl": "https://kids.usa.gov/watch-videos/exercise...healthy/.../index.shtml",
           "htmlFormattedUrl": "https://kids.usa.gov/watch-videos/exercise...\u003cb\u003ehealthy\u003c/b\u003e/.../index.shtml",
           "pagemap": {
            "Concept": [
             {
              "label": "Healthy Snack #5: Frozen Fruit Cups",
              "prefLabel": "Healthy Snack #5: Frozen Fruit Cups"
             }
            ],
            "cse_thumbnail": [
             {
              "width": "259",
              "height": "194",
              "src": "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQPTOH3S5eg-gtqYgmOqfgPDOGrE9OSiuvoV4YoDXMkJ9FhQrq0NKWNWB4Y"
             }
            ],
            "metatags": [
             {
              "rdfs:label skos:preflabel": "Healthy Snack #5: Frozen Fruit Cups"
             }
            ],
            "cse_image": [
             {
              "src": "https://i.ytimg.com/vi/2Y9mPmbiwy8/hqdefault.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Healthy Snack #3: Cucumber Yogurt Dip (Accessible Version) | Videos",
           "htmlTitle": "\u003cb\u003eHealthy Snack\u003c/b\u003e #3: Cucumber Yogurt Dip (Accessible Version) | Videos",
           "link": "https://kids.usa.gov/watch-videos/exercise-and-eating-healthy/cucumb[...]
