---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=ira%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/hmRaDepdiVZnZlc4G6mrb0xzZl4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - ira site:usa.gov",
            "totalResults": "1670",
            "searchTerms": "ira site:usa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - ira site:usa.gov",
            "totalResults": "1670",
            "searchTerms": "ira site:usa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.307635,
          "formattedSearchTime": "0.31",
          "totalResults": "1670",
          "formattedTotalResults": "1,670"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Roth IRAs | Internal Revenue Service",
           "htmlTitle": "Roth \u003cb\u003eIRAs\u003c/b\u003e | Internal Revenue Service",
           "link": "http://1.usa.gov/1WfSBvY",
           "displayLink": "1.usa.gov",
           "snippet": "Oct 20, 2017 ... You cannot deduct contributions to a Roth IRA. If you satisfy the requirements, \nqualified distributions are tax-free. You can make contributions to ...",
           "htmlSnippet": "Oct 20, 2017 \u003cb\u003e...\u003c/b\u003e You cannot deduct contributions to a Roth \u003cb\u003eIRA\u003c/b\u003e. If you satisfy the requirements, \u003cbr\u003e\nqualified distributions are tax-free. You can make contributions to&nbsp;...",
           "cacheId": "_oGCFPNC5rMJ",
           "formattedUrl": "1.usa.gov/1WfSBvY",
           "htmlFormattedUrl": "1.usa.gov/1WfSBvY",
           "pagemap": {
            "metatags": [
             {
              "title": "Roth IRAs | Internal Revenue Service",
              "abstract": "Information About Roth IRAs",
              "original-source": "https://www.irs.gov/retirement-plans/roth-iras",
              "rights": "United States Internal Revenue Services",
              "mobileoptimized": "width",
              "handheldfriendly": "true",
              "viewport": "width=device-width, initial-scale=1.0",
              "uniqueid": "933",
              "ishistorical": "no",
              "changed": "1508528813",
              "otid": "137307"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Traditional and Roth IRAs | Internal Revenue Service",
           "htmlTitle": "Traditional and Roth \u003cb\u003eIRAs\u003c/b\u003e | Internal Revenue Service",
           "link": "https://go.usa.gov/ZgNH",
           "displayLink": "go.usa.gov",
           "snippet": "Oct 25, 2017 ... Traditional and Roth IRAs allow you to save money for retirement. This c[...]
