---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=<GOOGLE_SEARCH_CX>&key=<GOOGLE_API_KEY>&lr=lang_es&q=wharrgarbl%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"W18CoImQKYKeZ22usPfNI43IHMc/1GcpczxDTD0BfBMwBPcdANTOqms"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - wharrgarbl site:usa.gov",
            "totalResults": "0",
            "searchTerms": "wharrgarbl site:usa.gov",
            "count": 10,
            "language": "lang_es",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "<GOOGLE_SEARCH_CX>"
           }
          ]
         },
         "searchInformation": {
          "searchTime": 0.181963,
          "formattedSearchTime": "0.18",
          "totalResults": "0",
          "formattedTotalResults": "0"
         }
        }
  recorded_at: Thu, 22 Feb 2018 07:06:11 GMT
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=<GOOGLE_SEARCH_CX>&key=<GOOGLE_API_KEY>&lr=lang_en&q=wharrgarbl%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sO8ivgpSC0UY99pmeY9ECAYys5E/Q_kwf8Awcun8dRdM6f9GrR9aeMk"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encodi[...]
