---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=ira%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"W18CoImQKYKeZ22usPfNI43IHMc/We7LA23XSOp0jIX0qS-ScNCpcQE"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - ira site:usa.gov",
            "totalResults": "7320",
            "searchTerms": "ira site:usa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - ira site:usa.gov",
            "totalResults": "7320",
            "searchTerms": "ira site:usa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.277182,
          "formattedSearchTime": "0.28",
          "totalResults": "7320",
          "formattedTotalResults": "7,320"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Roth IRAs | Internal Revenue Service",
           "htmlTitle": "Roth \u003cb\u003eIRAs\u003c/b\u003e | Internal Revenue Service",
           "link": "http://1.usa.gov/1WfSBvY",
           "displayLink": "1.usa.gov",
           "snippet": "Oct 20, 2017 ... You cannot deduct contributions to a Roth IRA. If you satisfy the requirements, \nqualified distributions are tax-free. You can make contributions to your Roth IRA \nafter you reach age 70 ½. You can leave amounts in your Roth IRA as long as \nyou live. The account or annuity must be designated as a Roth IRA ...",
           "htmlSnippet": "Oct 20, 2017 \u003cb\u003e...\u003c/b\u003e You cannot deduct contributions to a Roth \u003cb\u003eIRA\u003c/b\u003e. If you satisfy the requirements, \u003cbr\u003e\nqualified distributions are tax-free. You can make contributions to your Roth \u003cb\u003eIRA\u003c/b\u003e \u003cbr\u003e\nafter you reach age 70 ½. You can leave amounts in your Roth \u003cb\u003eIRA\u003c/b\u003e as long as \u003cbr\u003e\nyou live. The account or annuity must be designated as a Roth \u003cb\u003eIRA\u003c/b\u003e&nbsp;...",
           "cacheId": "_oGCFPNC5rMJ",
           "formattedUrl": "1.usa.gov/1WfSBvY",
           "htmlFormattedUrl": "1.usa.gov/1WfSBvY",
           "pagemap": {
            "metatags": [
             {
              "title": "Roth IRAs | Internal Revenue Service",
              "abstract": "Information About Roth IRAs",
              "original-source": "https://www.irs.gov/retirement-plans/roth-iras",
              "rights": "United States Internal Revenue Services",
              "mobileoptimized": "width",
              "handheldfriendly": "true",
              "viewport": "width=device-width, initial-scale=1.0",
              "audience": "NULL",
              "irsstandard-type": "NULL",
              "uniqueid": "933",
              "ishistorical": "no",
              "historical-date": "NULL",
              "changed": "1508528813",
              "topic": "NULL",
              "guidance": "NULL",
              "channel": "NULL",
              "organization": "NULL",
              "otid": "137307",
              "prod_seid": "c6prb"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "IRS Offers IRA Tax Tips for the 2016 Tax Year | Internal Revenue ...",
           "htmlTitle": "IRS Offers \u003cb\u003eIRA\u003c/b\u003e Tax Tips for the 2016 Tax Year | Internal Revenue ...",
           "link": "https://go.usa.gov/xXCFB",
           "displayLink": "go.usa.gov",
           "snippet": "A taxpayer must have taxable compensation to contribute t[...]
