---
http_interactions:
- request:
    method: get
    uri: https://data.usajobs.gov/api/search?Keyword=Nursing&LocationName=Baltimore,%20MD,%20USA&Organization=HE38&Radius=75&ResultsPerPage=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization-Key:
      - Qbk5RB/WRc1ctYqwojqlSKeoLVrwokT8OnSLq+G1qu0=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hr+json
    body:
      encoding: UTF-8
      string: '{"LanguageCode":"EN","SearchParameters":{},"SearchResult":{"SearchResultCount":3,"SearchResultCountAll":3,"SearchResultItems":[{"MatchedObjectId":"510301500","MatchedObjectDescriptor":{"PositionID":"NIH-CC-DH-18-10295468","PositionTitle":"Nurse
        (Clinical Research)","PositionURI":"https://www.usajobs.gov:443/GetJob/ViewDetails/510301500","ApplyURI":["https://www.usajobs.gov:443/GetJob/ViewDetails/510301500?PostingChannelID=RESTAPI"],"PositionLocationDisplay":"Montgomery
        County, Maryland","PositionLocation":[{"LocationName":"Montgomery County,
        Maryland","CountryCode":"United States","CountrySubDivisionCode":"Maryland","CityName":"Montgomery
        County, Maryland","Longitude":-77.20451,"Latitude":39.1366}],"OrganizationName":"National
        Institutes of Health","DepartmentName":"Department of Health And Human Services","JobCategory":[{"Name":"Nurse","Code":"0610"}],"JobGrade":[{"Code":"GS"}],"PositionSchedule":[{"Name":"Full
        Time, Part Time - 16-32 Hours","Code":"6"}],"PositionOfferingType":[{"Name":"Permanent","Code":"15317"}],"QualificationSummary":"BASIC
        QUALIFICATIONS: In order to meet the Basic Qualification Requirements (click
        here for OPM Nurse Qualification Standards), for a Nurse (Clinical Research),
        GS-0610-11, you must: Have a graduate or higher level degree, bachelor''s
        degree, associate degree, or diploma from an accredited professional nursing
        educational program. Note: Official certification from the Commission on Graduates
        of Foreign Nursing Schools is required for individuals who graduated from
        fore[...]
