---
http_interactions:
- request:
    method: get
    uri: https://data.usajobs.gov/api/search?Keyword=&LocationName=Baltimore,%20MD,%20United%20States&Organization&ResultsPerPage=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization-Key:
      - Qbk5RB/WRc1ctYqwojqlSKeoLVrwokT8OnSLq+G1qu0=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hr+json
    body:
      encoding: UTF-8
      string: '{"LanguageCode":"EN","SearchParameters":{},"SearchResult":{"SearchResultCount":10,"SearchResultCountAll":212,"SearchResultItems":[{"MatchedObjectId":"485447700","MatchedObjectDescriptor":{"PositionID":"AFPC-MEDEHA-10081364-0601","PositionTitle":"Cytotechnologist","PositionURI":"https://www.usajobs.gov:443/GetJob/ViewDetails/485447700","ApplyURI":["https://www.usajobs.gov:443/GetJob/ViewDetails/485447700?PostingChannelID=RESTAPI"],"PositionLocationDisplay":"Multiple
        Locations","PositionLocation":[{"LocationName":"Eielson AFB, Alaska","CountryCode":"United
        States","CountrySubDivisionCode":"Alaska","CityName":"Eielson AFB, Alaska","Longitude":-147.058685,"Latitude":64.67567},{"LocationName":"Elmendorf
        AFB, Alaska","CountryCode":"United States","CountrySubDivisionCode":"Alaska","CityName":"Elmendorf
        AFB, Alaska","Longitude":-149.819611,"Latitude":61.2758446},{"LocationName":"Maxwell
        AFB, Alabama","CountryCode":"United States","CountrySubDivisionCode":"Alabama","CityName":"Maxwell
        AFB, Alabama","Longitude":-86.3577,"Latitude":32.3834},{"LocationName":"Little
        Rock, Arkansas","CountryCode":"United States","CountrySubDivi[...]
- request:
    method: get
    uri: https://data.usajobs.gov/api/search?Keyword=Nursing&LocationName=Washington,%20DC,%20USA&Organization=HE38&ResultsPerPage=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization-Key:
      - Qbk5RB/WRc1ctYqwojqlSKeoLVrwokT8OnSLq+G1qu0=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hr+json
    body:
      encoding: UTF-8
      string: '{"LanguageCode":"EN","SearchParameters":{},"SearchResult":{"SearchResultCount":4,"SearchResultCountAll":4,"SearchResultItems":[{"MatchedObjectId":"510301500","MatchedObjectDescriptor":{"PositionID":"NIH-CC-DH-18-10295468","PositionTitle":"Nurse
        (Clinical Research)","PositionURI":"https://www.usajobs.gov:443/GetJob/ViewDetails/510301500","ApplyURI":["https://www.usajobs.gov:443/GetJob/ViewDetails/510301500?PostingChannelID=RESTAPI"],"PositionLocationDisplay":"Montgomery
        County, Maryland","PositionLocation":[{"LocationName":"Montgomery County,
        Maryland","CountryCode":"United States","CountrySubDivisionCode":"Maryland","CityName":"Montgomery
        County, Maryland","Longitude":-77.20451,"Latitude":39.1366}],"OrganizationName":"National
        Institutes of Health","DepartmentName":"Department of Health And Human Services","JobCategory":[{"Name":"Nurse","Code":"0610"}],"JobGrade":[{"Code":"GS"}],"PositionSchedule":[{"Name":"Full
        Time, Part Time - 16-32 Hours","Code":"6"}],"PositionOfferingType":[{"Name":"Permanent","Code":"15317"}],"QualificationSummary":"BASIC
        QUALIFICATIONS: In order to meet the Basic Qualification Requirements (click
        here for OPM Nurse Qualification Standards), for a Nurse (Clinical Research),
        GS-0610-11, you must: Have a graduate or higher level degree, bachelor''s
        degree, associate degree, or diploma from an accredited professional nursing
        educational program. Note: Official certification from the Commission on Graduates
        of Foreign Nursing Schools is required for individuals who graduated from
        fore[...]
