---
http_interactions:
- request:
    method: get
    uri: https://data.usajobs.gov/api/search?Keyword=jobs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization-Key:
      - "<JOBS_AUTHORIZATION_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hr+json
    body:
      encoding: UTF-8
      string: '{"LanguageCode":"EN","SearchParameters":{},"SearchResult":{"SearchResultCount":10,"SearchResultCountAll":757,"SearchResultItems":[{"MatchedObjectId":"510075500","MatchedObjectDescriptor":{"PositionID":"VA-18-15717","PositionTitle":"Banquet
        Wait Staff","PositionURI":"https://www.usajobs.gov:443/GetJob/ViewDetails/510075500","ApplyURI":["https://www.usajobs.gov:443/GetJob/ViewDetails/510075500?PostingChannelID=RESTAPI"],"PositionLocationDisplay":"Naval
        Shipyard, Portsmouth, Virginia","PositionLocation":[{"LocationName":"Naval
        Shipyard, Portsmouth, Virginia","CountryCode":"United States","CountrySubDivisionCode":"Virginia","CityName":"Naval
        Shipyard, Portsmouth, Virginia","Longitude":-76.29812,"Latitude":36.8030968}],"OrganizationName":"Commander,
        Navy Installations","DepartmentName":"Department of the Navy","JobCategory":[{"Name":"Waiter","Code":"7420"}],"JobGrade":[{"Code":"NA"}],"PositionSchedule":[{"Name":"Flexible","Code":"4"}],"PositionOfferingType":[{"Name":"Permanent","Code":"15317"}],"QualificationSummary":"Specialized
        experience must demonstrate the following: Must possess working knowledge
        of sanitation practices and procedures. Knowledge of proper food handling
        techniques such as the correct sides to serve and remove from. A minimum of
        six months experience is strongly preferred. You will receive credit for all
        qualifying experience, including volunteer and part time experience. You must
        clearly identify the duties and responsibilities in each pos[...]
- request:
    method: get
    uri: https://data.usajobs.gov/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://developer.usajobs.gov/
    body:
      encoding: UTF-8
      string: "<html><head><title>Object moved</title></head><body>\r\n<h2>Object
        moved to <a href=\"https://developer.usajobs.gov/\">here</a>.</h2>\r\n</body></html>\r\n"
  recorded_at: Wed, 31 Oct 2018 01:32:28 GMT
recorded_with: VCR 4.0.0
