#results
  - search.results.each_with_index do |result, index|
    = render partial: 'searches/i14y/i14y_item', locals: { search: search, result: result, position: search.startrecord + index }
  .content-block-item.content-block-item-footer
    .content-provider= serp_attribution search.module_tag
