---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=legal%20careers%20(site:nasa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=<DATADOG_API_ENABLED>&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 6425ed78c8da419e86e8f2965b1a0762
      Bingapis-Sessionid:
      - B45E72E5F7884D96B62A5674F12C5FBE
      X-Msedge-Clientid:
      - 250FCDD4F3F460883F5FDF30F29561EF
      X-Msapi-Userstate:
      - e482
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=261,MSDatacenter=CH1B
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "legal
        careers (site:nasa.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=legal+careers+(site%3anasa.gov)",
        "totalEstimatedMatches": 1900000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Careers at NASA: Explore the Extraordinary, Every Day | NASA", "url":
        "https:\/\/www.nasa.gov\/careers\/", "isFamilyFriendly": true, "displayUrl":
        "https:\/\/www.nasa.gov\/careers", "snippet": "Careers at NASA: Explore the
        Extraordinary, Every Day Click Here to Search Jobs NASA is more than astronauts.
        We are scientists, engineers, IT specialists, human resources specialists,
        accountants, writers, technicians and many other kinds of people working together
        to break barriers to achieve the seemingly impossible.", "dateLastCrawled":
        "2023-03-29T19:00:00.0000000Z", "language": "en", "isNavigational": <DATADOG_API_ENABLED>},
        {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1", "name": "Featured
        Careers | NASA", "url": "https:\/\/www.nasa.gov\/careers\/featured-careers\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.nasa.gov\/careers\/featured-careers",
        "snippet": "Data Science, Cyber and IT Engineering To tackle our diverse missions,
        NASA hires 20 different types of engineers; the most common fields are aerospace,
        general[...]
