:plain
  jQuery('#new_social_media_profile').html("#{escape_javascript(render('facebook_profile_fields', :profile => FacebookProfile.new))}");
  jQuery('#new_social_media_profile input').first().focus();