:plain
  jQuery('#new_social_media_profile').html("#{escape_javascript(render('twitter_profile_fields', :profile => TwitterProfile.new))}");
  jQuery('#new_social_media_profile input').first().focus();