---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28jobs%29+language%3Aen+%28site%3A.gov%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028jobs\u0029
        language\u003aen \u0028site\u003a.gov\u0029"},"Web":{"Total":12800000,"Offset":0,"Results":[{"Title":"USAJOBS
        - The Federal Government\u0027s Official Jobs Site","Description":"USAJOBS
        is the Federal Government\u0027s official one-stop source for Federal jobs
        and employment information.","Url":"https\u003a\u002f\u002fwww.usajobs.gov\u002f","DisplayUrl":"https\u003a\u002f\u002fwww.usajobs.gov","DateTime":"2016-06-05T08\u003a55\u003a00Z"},{"Title":"State
        of California Jobs","Description":"What\u2019s New on the California Jobs
        website\u003a Getting a job with the State of California is now simpler
        than ever. Start by creating a CalCareer account.","Url":"http\u003a\u002f\u002fwww.jobs.ca.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003djobs\u0026d\u003d4564830268621307\u0026w\u003dVBeyPWs4y7kb2CpVm_9ODiehO4WQusU6","DisplayUrl":"www.jobs.ca.gov","DateTime":"2016-05-30T21\u003a55\u003a00Z"},{"Title":"jobs.utah.gov
        - Department of Workforce Services","Description":"Find Your New Job. Workforce
        Services has jobs in over 23 career fields in Utah. Start searching for
        your new job today.","Url":"https\u003a\u002f\u002fjobs.utah.gov\u00[...]
[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(jobs)%20language:en%20(site:.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028jobs\u0029
        language\u003aen \u0028site\u003a.gov\u0029"},"Web":{"Total":13400000,"Offset":0,"Results":[{"Title":"USAJOBS
        - The Federal Government\u0027s Official Jobs Site","Description":"USAJOBS
        is the Federal Government\u0027s official one-stop source for Federal jobs
        and employment information.","Url":"http[...]
[...]
