---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 32E740ACFFC94B8AB9E92BB1D5BEA461
      X-Msedge-Clientid:
      - 0BF715471FBF60C30E161E4F1E286132
      X-Msapi-Userstate:
      - 91b1
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=CB84102274B44ADEA6487A5C51C1338F&CID=0BF715471FBF60C30E161E4F1E286132&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=CB84102274B44ADEA6487A5C51C1338F&CID=0BF715471FBF60C30E161E4F1E286132&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5503.1", "totalEstimatedMatches": 50100000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "CA Jobs", "url": "http:\/\/www.jobs.ca.gov\/", "urlPingSuffix": "DevEx,5087.1",
        "displayUrl": "www.jobs.ca.gov", "snippet": "The State of California offers
        a wide variety of careers and jobs, ranging from accounting to zoology.
        The services our employees provide are truly ...", "deepLinks": [{"name":
        "Job Vacancy Search", "url": "http:\/\/jobs.ca.gov\/CalHRPublic\/Search\/LegacyJobSearchRedirect.aspx",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Calcareer Sign In", "url": "http:\/\/www.jobs.ca.gov\/CalHRPublic\/Login.aspx",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Job Seekers", "url": "http:\/\/www.americasjobcenter.ca.gov\/Job_Seekers.aspx",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Calhr", "url": "http:\/\/www.calhr.ca.gov\/",
        "urlPingSuffix": "DevEx,5081.1"}], "dateLastCrawled": "2017-09-17T17:35:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Jobs
        and Career Information | USAGov", "url": "https:\/\/www.usa.gov\/jobs-careers",
        "urlPingSuffix": "DevEx,5103.1", "displayUrl": "https:\/\/www.usa.gov\/jobs-careers",
        "snippet": "Jobs and Career Information. Find information about different
        career fields. Animal Care and Science. Find career information about animal
        science and care.", "dateLastCrawled": "2017-09-22T02:35:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "USAJOBS - The
        Federal Government''s Official Jobs Site", "url": "https:\/\/www.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5130.1", "about": [{"name": "USAJobs"}], "displayUrl":
        "https:\/\/www.usajobs.gov", "snippet": "USAJOBS is the Federal Government''s
        official one-stop source for Federal jobs and employment information.",
        "dateLastCrawled": "2017-09-16T22:11:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3",
        "name": "SPD: Home - IN.gov", "url": "http:\/\/in.gov\/jobs\/", "urlPingSuffix":
        "DevEx,5145.1", "displayUrl": "in.gov\/jobs", "snippet": "Search for [...]
[...]
