---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 02F0C88FCC2047A9B41E9361C70F3067
      X-Msedge-Clientid:
      - 14EEB4A395086C9E3AE4B8FB94076D33
      X-Msapi-Userstate:
      - 2cdd
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A5D45F2B7E33482581F941018EFDFFDC&CID=14EEB4A395086C9E3AE4B8FB94076D33&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A5D45F2B7E33482581F941018EFDFFDC&CID=14EEB4A395086C9E3AE4B8FB94076D33&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5411.1", "totalEstimatedMatches": 30200000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Virginia Jobs", "url": "http:\/\/jobs.virginia.gov\/", "urlPingSuffix":
        "DevEx,5058.1", "about": [{"name": "Virginia"}], "displayUrl": "jobs.virginia.gov",
        "snippet": "Job search website for individuals seeking employment with the
        Commonwealth of Virginia State Government.", "dateLastCrawled": "2018-08-17T23:14:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Job Search
        Results - CalCareers", "url": "https:\/\/jobs.ca.gov\/CalHRPublic\/Search\/JobSearchResults.aspx",
        "urlPingSuffix": "DevEx,5071.1", "displayUrl": "https:\/\/jobs.ca.gov\/CalHRPublic\/Search\/JobSearchResults.aspx",
        "snippet": "Job Search Results Advanced Job Search Geographical Job Search
        Exam \/ Assessment Search Keyword Search: Use Exa[...]
[...]
