---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 934863597D6C4C1F95208AECD3465AC2
      X-Msedge-Clientid:
      - 26D069E1DEC16DE51BB26383DF566C30
      X-Msapi-Userstate:
      - 225a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=756E0289D2CE42ADA4736DCF1D3C320A&CID=26D069E1DEC16DE51BB26383DF566C30&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=756E0289D2CE42ADA4736DCF1D3C320A&CID=26D069E1DEC16DE51BB26383DF566C30&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5473.1", "totalEstimatedMatches": 13600000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USAJOBS - The Federal Government''s Official Jobs Site", "url": "https:\/\/www.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5091.1", "about": [{"name": "USAJobs"}], "displayUrl":
        "https:\/\/www.usajobs.gov", "snippet": "USAJOBS is the Federal Government''s
        official one-stop source for Federal jobs and employment information.",
        "deepLinks": [{"name": "Sign In", "url": "https:\/\/my.usajobs.gov\/Account\/Login",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Veterans", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/veterans\/",
        "urlPingSuffix": "DevEx,5081.1"}, {"name": "Students", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/students\/",
        "urlPingSuffix": "DevEx,5082.1"}, {"name": "VA JOBS", "url": "https:\/\/www.usajobs.gov\/jobsearch\/search\/getresults?OrganizationID=VA",
        "urlPingSuffix": "DevEx,5083.1"}, {"name": "Senior Executives", "url": "https:\/\/www.usajobs.gov\/SeniorExecutives",
        "urlPingSuffix": "DevEx,5084.1"}, {"name": "FBI", "url": "https:\/\/fbi.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5085.1"}], "dateLastCrawled": "2017-04-08T00:41:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Workforce
        Services - Official Site", "url": "https:\/\/jobs.utah.gov\/", "urlPingSuffix":
        "DevEx,5111.1", "displayUrl": "https:\/\/jobs.utah.gov", "snippet": "Find
        Your New Job. Workforce Services has jobs in over 23 career fields in Utah.
        Start searching for your new job today.", "deepLinks": [{"name": "myCase",
        "url": "https:\/\/jobs.utah[...]
[...]
