---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E13DC796CA554BC8A6010D1598E57500
      X-Msedge-Clientid:
      - 1647E890FA0760D83604E316FBA8616B
      X-Msapi-Userstate:
      - df08
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=ABAC0F25A6CF4306A9E52458D3128D2A&CID=1647E890FA0760D83604E316FBA8616B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=ABAC0F25A6CF4306A9E52458D3128D2A&CID=1647E890FA0760D83604E316FBA8616B&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5510.1", "totalEstimatedMatches": 33800000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "State of California Jobs - CalCareers", "url": "http:\/\/www.jobs.ca.gov\/",
        "urlPingSuffix": "DevEx,5098.1", "about": [{"name": "California"}], "displayUrl":
        "www.jobs.ca.gov", "snippet": "The State of California offers a wide variety
        of careers and jobs, ranging from accounting to zoology. The services our
        employees provide are truly ...", "deepLinks": [{"name": "Log in", "url":
        "https:\/\/jobs.ca.gov\/CalHRPublic\/Login.aspx", "urlPingSuffix": "DevEx,5088.1"},
        {"name": "Advanced Job Search", "url": "https:\/\/jobs.ca.gov\/CalHRPublic\/Search\/AdvancedJobSearch.aspx",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Geographic Job Search", "url":
        "https:\/\/jobs.ca.gov\/CalHRPublic\/Search\/GeographicalJobSearch.aspx",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "Exam \/ Assessment Search", "url":
        "https:\/\/jobs.ca.gov\/CalHRPublic\/Search\/ExamSearch.aspx", "urlPingSuffix":
        "DevEx,5091.1"}], "dateLastCrawled": "2018-01-22T02:27:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "SPD: Home - IN.gov",
        "url": "http:\/\/in.gov\/jobs\/", "urlPingSuffix": "DevEx,5113.1", "displayUrl":
        "in.gov\/jobs", "snippet": "Search for jobs with Indiana State Government;
        Learn more about working for the state of Indiana; View my current benefits
        summary; Ask SPD a question related to my ...", "dateLastCrawled": "2018-01-20T22:07:00.00000[...]
[...]
