---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 519CE0D28AA240628879978FE642241C
      X-Msedge-Clientid:
      - 33FC007A145860EF3BA80BE415BD61BF
      X-Msapi-Userstate:
      - '1538'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=BCB11514709E45CE97374BC1DC60E67F&CID=33FC007A145860EF3BA80BE415BD61BF&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=BCB11514709E45CE97374BC1DC60E67F&CID=33FC007A145860EF3BA80BE415BD61BF&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5505.1", "totalEstimatedMatches": 15000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USAJOBS - The Federal Government''s Official Jobs Site", "url": "https:\/\/www.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5099.1", "about": [{"name": "USAJobs"}, {"name": "USAJobs"}],
        "displayUrl": "https:\/\/www.usajobs.gov", "snippet": "USAJOBS is the Federal
        Government''s official one-stop source for Federal jobs and employment information.",
        "deepLinks": [{"name": "Sign In", "url": "http:\/\/my.usajobs.gov\/Applicant\/ProfileDashboard\/Home",
        "urlPingSuffix": "DevEx,5087.1"}, {"name": "Veterans", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/veterans\/",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "Search Jobs", "url": "http:\/\/jobsearch.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Students", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/students\/",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "Create Account", "url": "https:\/\/login.usajobs.gov\/account\/Create",
        "urlPingSuffix": "DevEx,5091.1"}, {"name": "FBI", "url": "https:\/\/fbi.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5092.1"}], "dateLastCrawled": "2018-02-15T01:46:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "SPD:
        Home", "url": "http:\/\/www.jobs.in.gov\/", "urlPingSuffix": "DevEx,5114.1",
        "about": [{"name": "Louisiana"}], "displayUrl": "www.jobs.in.gov", "snippet":
        "Search for jobs with Indiana State Government; Learn more about working
        for the state of Indiana; View my current benefits summary; Ask SPD a question
        related to my ...", "dateLastC[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D87C0582D326458D9DE521DF09C1A6B3
      X-Ms[...]
[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C2FBCC1711B248E5BCF4783C03426312
      Bingapis-Sessionid:
      - 86E4BD5F0BA84076994A264DF7A9E725
      X-Msedge-Clientid:
      - 04EF34F292D661C922423808939A601B
      X-Msapi-Userstate:
      - cf8c
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=211,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "jobs
        (site:.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3a.gov)",
        "totalEstimatedMatches": 27900000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Virginia Jobs", "url": "http:\/\/jobs.virginia.gov\/", "about":
        [{"name": "Virginia"}], "isFamilyFriendly": true, "displayUrl": "jobs.virginia.gov",
        "snippet": "The Commonwealth of Virginia is an Employer of National Service.
        Virginia encourages AmeriCorps and Peace Corps alumni to continue their
        lifetime of service by applying for jobs with Virginia State Government.
        Preference is not awarded to national service alumni in the hiring process.",
        "dateLastCrawled": "2019-02-01T14:42:00.0000000Z", "language": "en", "isNavigational":
        false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Job Search Results", "url": "https:\/\/jobs.ca.gov\/CalHRPublic\/Search\/JobSearchResults.aspx",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/jobs.ca.gov\/CalHRPublic\/Search\/JobSearchResults.aspx",
        "snippet": "Note: documents in Portable Document Format (PDF) require Adobe
        Acrobat Reader 5.0 or higher to view download Adobe Acrobat Reader.", "dateLastCrawl[...]
[...]
