---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 273AF609BE5D4CAA8901FB65CEEF1C8C
      X-Msedge-Clientid:
      - 15EF06664973656605B60DEA48DC64CE
      X-Msapi-Userstate:
      - f341
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=97CFFC528E8748A1BC907143C51D9BFE&CID=15EF06664973656605B60DEA48DC64CE&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=97CFFC528E8748A1BC907143C51D9BFE&CID=15EF06664973656605B60DEA48DC64CE&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5493.1", "totalEstimatedMatches": 34300000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USAJOBS - The Federal Government''s Official Jobs Site", "url": "https:\/\/www.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5099.1", "about": [{"name": "USAJobs"}, {"name": "USAJobs"},
        {"name": "USAJobs"}], "displayUrl": "https:\/\/www.usajobs.gov", "snippet":
        "USAJOBS is the Federal Government''s official one-stop source for Federal
        jobs and employment information.", "deepLinks": [{"name": "Sign In", "url":
        "http:\/\/my.usajobs.gov\/Applicant\/ProfileDashboard\/Home", "urlPingSuffix":
        "DevEx,5087.1"}, {"name": "Veterans", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/veterans\/",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "Search Jobs", "url": "http:\/\/jobsearch.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Students", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/students\/",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "Create Account", "url": "https:\/\/login.usajobs.gov\/account\/Create",
        "urlPingSuffix": "DevEx,5091.1"}, {"name": "FBI", "url": "https:\/\/fbi.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5092.1"}], "dateLastCrawled": "2018-01-27T14:07:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "SPD: Home
        - IN.gov", "url": "http:\/\/in.gov\/jobs\/", "urlPingSuffix": "DevEx,5114.1",
        "displayUrl": "in.gov\/jobs", "snippet": "Search for jobs with Indiana
        State Government; Learn more about working for the state of Indiana; View
        my current benefits summary; Ask SPD a question related to my ...", "dateLastCrawled":
        "2018-01-20T22:07:[...]
[...]
