---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7B88ACB1903E435AA28A2E1E69AE9706
      X-Msedge-Clientid:
      - 232AAB27F330691D2279A1A7F2A76822
      X-Msapi-Userstate:
      - acfc
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C06D3A1A884F43B3986CB2A37E367CDD&CID=232AAB27F330691D2279A1A7F2A76822&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C06D3A1A884F43B3986CB2A37E367CDD&CID=232AAB27F330691D2279A1A7F2A76822&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5460.1", "totalEstimatedMatches": 13400000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USAJOBS - The Federal Government''s Official Jobs Site", "url": "https:\/\/www.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5089.1", "about": [{"name": "USAJobs"}], "displayUrl":
        "https:\/\/www.usajobs.gov", "snippet": "USAJOBS is the Federal Government''s
        official one-stop source for Federal jobs and employment information.",
        "deepLinks": [{"name": "Sign In", "url": "http:\/\/my.usajobs.gov\/Applicant\/ProfileDashboard\/Home",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Veterans", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/veterans\/",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Students", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/students\/",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "FBI", "url": "https:\/\/fbi.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5081.1"}, {"name": "New Account", "url": "https:\/\/my.usajobs.gov\/Account\/Account",
        "urlPingSuffix": "DevEx,5082.1"}, {"name": "Help", "url": "https:\/\/www.usajobs.gov\/Help\/",
        "urlPingSuffix": "DevEx,5083.1"}], "dateLastCrawled": "2017-05-06T21:10:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "CA Jobs",
        "url": "http:\/\/www.jobs.ca.gov\/", "urlPingSuffix": "DevEx,5104.1", "displayUrl":
        "www.jobs.ca.gov", "snippet": "The State of California offers a wide
        variety of careers and jobs, ranging from accounting to zoology. The services
        our employees provide are truly ...", "deepLinks": [{"name": "Job Vacancy
        Search", "url": "http:\/\[...]
[...]
