---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - ACEC1AA36037447F894ADBE7D8F68C59
      X-Msedge-Clientid:
      - 31E5111451636A1C07111A5350F46B96
      X-Msapi-Userstate:
      - 892a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=2CD92455DFC946E7856E8A2FC518256A&CID=31E5111451636A1C07111A5350F46B96&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=2CD92455DFC946E7856E8A2FC518256A&CID=31E5111451636A1C07111A5350F46B96&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5513.1", "totalEstimatedMatches": 28600000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "CA Jobs", "url": "http:\/\/www.jobs.ca.gov\/", "urlPingSuffix": "DevEx,5098.1",
        "displayUrl": "www.jobs.ca.gov", "snippet": "The State of California offers
        a wide variety of careers and jobs, ranging from accounting to zoology.
        The services our employees provide are truly ...", "deepLinks": [{"name":
        "Job Vacancy Search", "url": "http:\/\/jobs.ca.gov\/CalHRPublic\/Search\/LegacyJobSearchRedirect.aspx",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Calcareer Sign In", "url": "http:\/\/www.jobs.ca.gov\/CalHRPublic\/Login.aspx",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "Job Seekers", "url": "http:\/\/www.americasjobcenter.ca.gov\/Job_Seekers.aspx",
        "urlPingSuffix": "DevEx,5091.1"}, {"name": "Calhr", "url": "http:\/\/www.calhr.ca.gov\/",
        "urlPingSuffix": "DevEx,5092.1"}], "dateLastCrawled": "2017-11-20T23:10:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "SPD:
        Home", "url": "http:\/\/www.jobs.in.gov\/", "urlPingSuffix": "DevEx,5113.1",
        "displayUrl": "www.jobs.in.gov", "snippet": "Search for jobs with Indiana
        State Government; Learn more about working for the state of Indiana; View
        my current benefits summary; Ask SPD a question related to my ...", "dateLastCrawled":
        "2017-11-22T07:32:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "USAJOBS - The Federal Government''s Official Jobs Site", "url":
        "https:\/\/www.usajobs.gov\/", "urlPingSuffix": "DevEx,5140.1", "about": [{"name":
        "USAJobs"}], "displayUrl": "https:\/\/www.usajobs.gov", "snippet": "USAJOBS
        is the Federal Government''s official one-stop source for Federal jobs and
        employment information.", "dateLastCrawled": "2017-11-21T05:24:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "Employment",
        "url": "http:\/\/nv.gov\/employment\/", "urlPingSuffix": "DevEx,5154.1", "displayUrl":
        "nv.gov\/employment", "snippet": "Abou[...]
[...]
