---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(item)%20language:es%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028item\u0029
        language\u003aes \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":47800,"Offset":0,"Results":[{"Title":"Informaci\u00f3n
        General sobre el ITIN - irs.gov","Description":"Puede que tenga que renovar
        su ITIN. A partir del 1 de enero de 2017, todos los ITIN no utilizados en
        una declaraci\u00f3n de impuestos federales por lo menos una vez en ...","Url":"https\u003a\u002f\u002fwww.irs.gov\u002fspanish\u002finformacion-general-sobre-el-itin","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003ditem\u0026d\u003d4630663601193217\u0026w\u003dLZ7JBxIsevY5yAnPiack9LY7DnuzRIPz","DisplayUrl":"https\u003a\u002f\u002fwww.irs.gov\u002fspanish\u002finformacion-general-sobre-el-itin","DateTime":"2016-12-03T19\u003a27\u003a00Z"},{"Title":"Descripci\u0026\u0023x00f3\u003bn
        hist\u0026\u0023x00f3\u003brica y cronol\u0026\u0023x000f3\u003bgica ...","Description":"Retrieved
        from the Library of Congress, https\u003a\u002f\u002fwww.loc.gov\u002fitem\u002f02007344\u002f.
        \u0028Accessed November 22, 2016.\u0029 APA citation style\u003a Le\u00f3n
        Y Gama, A. D. ...","Url":"https\u003a\u002f\u002fwww.loc.gov\u002fitem\u002f02007344\u002f","CacheUrl":"http\u003a\u00[...]
[...]
