---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0E565FD772C34FB9886C5A0EF703B4C7
      X-Msedge-Clientid:
      - 066716F479B86FF40C621C4B782F6E88
      X-Msapi-Userstate:
      - a3db
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DDC0425C5761441793A5ED6E04CD1EDE&CID=066716F479B86FF40C621C4B782F6E88&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DDC0425C5761441793A5ED6E04CD1EDE&CID=066716F479B86FF40C621C4B782F6E88&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=item+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5450.1", "totalEstimatedMatches": 12500000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "The case of Dred Scott in the United States Supreme Court ...", "url": "https:\/\/www.loc.gov\/item\/10034357\/",
        "urlPingSuffix": "DevEx,5077.1", "displayUrl": "https:\/\/www.loc.gov\/item\/10034357",
        "snippet": "Articles and Essays with this item: Dred Scott v. Sandford:
        ... Retrieved from the Library of Congress, <https:\/\/www.loc.gov\/item\/10034357\/>.
        More Books\/Printed ...", "dateLastCrawled": "2017-06-11T03:50:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Test and
        Item Specifications - NYS Education Department", "url": "http:\/\/www.acces.nysed.gov\/common\/acces\/files\/hse\/tasc_2016_item_specifications_mathematics_may2016.pdf",
        "urlPingSuffix": "DevEx,5089.1", "displayUrl": "www.acces.nysed.gov\/...\/tasc_2016_item_specifications_mathematics...",
        "snippet": "Item specifications are used by item writers[...]
[...]
