---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0F1F45001DA44C3B8BC550D8D27FFB46
      X-Msedge-Clientid:
      - 2483B244979963B408EAB9DA967C62BD
      X-Msapi-Userstate:
      - 934b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=60410389A99540FEA078AFCA74E43E9D&CID=2483B244979963B408EAB9DA967C62BD&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=60410389A99540FEA078AFCA74E43E9D&CID=2483B244979963B408EAB9DA967C62BD&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=item+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5517.1", "totalEstimatedMatches": 8290000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Hospice Item Set (HIS) - Centers for Medicare & Medicaid ...", "url": "https:\/\/www.cms.gov\/Medicare\/Quality-Initiatives-Patient-Assessment-Instruments\/Hospice-Quality-Reporting\/Hospice-Item-Set-HIS.html",
        "urlPingSuffix": "DevEx,5096.1", "displayUrl": "https:\/\/www.cms.gov\/...\/Hospice-Item-Set-HIS.html",
        "snippet": "About this Page. The Hospice Item Set (HIS) web page provides
        updates, announcements, and resources specific to the HIS. On this page you
        will find direct links to ...", "deepLinks": [{"name": "His Technical Information",
        "url": "https:\/\/www.cms.gov\/Medicare\/Quality-Initiatives-Patient-Assessment-Instruments\/Hospice-Quality-Reporting\/HIS-Technical-Information.html",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "Current Measures", "url": "https:\/\/www.cms.gov\/Medicare\/Quality-Initiatives-Patient-Assessment-Instruments\/Hospice-Quality-Reporting\/Current-Measures.html",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Help Desks", "url": "https:\/\/www.cms.gov\/Medicare\/Quality-Initiatives-Patient-Assessment-Instruments\/Hospice-Quality-Reporting\/Help-Desks.html",
        "urlPingSuffix": "DevEx,5090.1"}], "dateLastCrawled": "2018-02-13T02:33:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Form
        8-K - Official Site", "url": "https:\/\/www.sec.gov\/about\/forms\/form8-k.pdf",
        "urlPingSuffix": "DevEx,5111.1", "displayUrl": "https:\/\/www.sec.gov\/about\/forms\/form8-k.pdf",
        "snippet": "If a report on Form 8-K contains disclosures under Item 2.02
        or Item 7.01, whether or not the report contains disclosures regarding other
        items[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3E7C1008E0C84E96B70FF621F27D[...]
[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A5424735F0C94E4FBB4111B255C5426C
      Bingapis-Sessionid:
      - 77798F5421EA488B91F2D2C32A6D6DF9
      X-Msedge-Clientid:
      - 2701D6E70E28611529F7DA1D0F6460FC
      X-Msapi-Userstate:
      - bcb5
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=132,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "item
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=item+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 16400000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Frankenstein | Library of Congress", "url": "https:\/\/www.loc.gov\/item\/2017600664\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.loc.gov\/item\/2017600664",
        "snippet": "This catalog data provides the details known to the Library of
        Congress regarding the corresponding item and may assist you in making independent
        assessments of the legal status of these items for their desired uses.", "dateLastCrawled":
        "2019-01-26T11:49:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "Colonies scolaires des Enfants de l''Yser. Out of door ...", "url": "https:\/\/www.loc.gov\/item\/2017667047\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.loc.gov\/item\/2017667047",
        "snippet": "Is the item digitized? (A thumbnail (small) image will be visible
        on the left.) Yes, the item is digitized. Please use the digital image in
        preferen[...]
[...]
