---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(item)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028item\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":5170000,"Offset":0,"Results":[{"Title":"Prohibited
        Items \u007c Transportation Security Administration","Description":"Even if
        an item is generally permitted, ... appears to have been tampered with,
        or poses other security concerns. Read about civil penalties for prohibited
        items. ...","Url":"https\u003a\u002f\u002fwww.tsa.gov\u002ftravel\u002fsecurity-screening\u002fprohibited-items","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003ditem\u0026d\u003d4973917333883453\u0026w\u003djywu7OkRWPfV4GpAmqzWTvUAeMS4QO7Z","DisplayUrl":"https\u003a\u002f\u002fwww.tsa.gov\u002ftravel\u002fsecurity-screening\u002fprohibited-items","DateTime":"2016-12-02T05\u003a59\u003a00Z"},{"Title":"Item
        5.03 of Form 8-K - SEC.gov","Description":"If a report on Form 8-K contains
        disclosures under Item 2.02 or Item 7.01, whether or not the report contains
        disclosures regarding other items, ...","Url":"https\u003a\u002f\u002fwww.sec.gov\u002fabout\u002fforms\u002fform8-k.pdf","DisplayUrl":"https\u003a\u002f\u002fwww.sec.gov\u002fabout\u002fforms\u002fform8-k.pdf","DateTime":"2016-11-30T09\u003a40\u003a00Z"},{"Title":"\u[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A132C0ABFB4F4950B78CABAE9924E722
      X-Msedge-Clientid:
      - 0A89F055991E652B0EA6FA4B98896438
      X-Msapi-Userstate:
      - 40d7
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1C72026178B2489CBB5BFFE3364EBADC&CID=0A89F055991E652B0EA6FA4B98896438&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1C72026178B2489CBB5BFFE3364EBADC&CID=0A89F055991E652B0EA6FA4B98896438&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=item+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5466.1", "totalEstimatedMatches": 2710000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Prohibited Items | Transportation Security Administration", "url": "https:\/\/www.tsa.gov\/travel\/security-screening\/prohibited-items",
        "urlPingSuffix": "DevEx,5107.1", "displayUrl": "https:\/\/www.tsa.gov\/travel\/security-screening\/prohibited-items",
        "snippet": "Even if an item is generally permitted, ... appears to have
        been tampered with, or poses other security concerns. Read about civil penalties
        for prohibited items. ...", "deepLinks": [{"name": "Liquids Rule", "url":
        "https:\/\/www.tsa.gov\/travel\/security-screening\/liquids-rule", "urlPingSuffix":
        "DevEx,5098.1"}, {"name": "Identification", "url": "https:\/\/www.tsa.gov\/travel\/security-screening\/identification",
        "urlPingSuffix": "DevEx,5099.1"}, {"name": "Travel Tips", "url": "https:\/\/www.tsa.gov\/travel\/travel-tips",
        "urlPingSuffix": "DevEx,5100.1"}, {"name": "Special Procedures", "url": "https:\/\/www.tsa.gov\/travel\/special-procedures",
        "urlPingSuffix": "DevEx,5101.1"}, {"name": "Tools", "url": "http:\/\/www.tsa.gov\/travel\/security-screening\/prohibited-items?qt-prohibited_items=4",
        "urlPingSuffix": "DevEx,5103.1"}], "dateLastCrawled": "2017-01-27T08:03:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Category
        and Item Commentary Business Nonprofit Criteria", "url": "https:\/\/www.nist.gov\/document-5784",
        "urlPingSuffix": "DevEx,5117.1", "displayUrl": "https:\/\/www.nist.gov\/document-5784",
        "snippet": "This item asks about the competitive environment in which your
        organization operates, including your key strategic challenges and advantages.",
 [...]
[...]
