---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 95B78FF871C64515A624F63578BC1FE6
      X-Msedge-Clientid:
      - 2C8BA881932B6BAD1EFDA31F92CE6A43
      X-Msapi-Userstate:
      - e0c8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=43881270C7754C50B29701AC68CB668B&CID=2C8BA881932B6BAD1EFDA31F92CE6A43&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=43881270C7754C50B29701AC68CB668B&CID=2C8BA881932B6BAD1EFDA31F92CE6A43&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=item+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5490.1", "totalEstimatedMatches": 8280000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "CARE Item Set and B-CARE - Centers for Medicare & Medicaid ...", "url":
        "https:\/\/www.cms.gov\/Medicare\/Quality-Initiatives-Patient-Assessment-Instruments\/Post-Acute-Care-Quality-Initiatives\/CARE-Item-Set-and-B-CARE.html",
        "urlPingSuffix": "DevEx,5094.1", "displayUrl": "https:\/\/www.cms.gov\/...\/CARE-Item-Set-and-B-CARE.html",
        "snippet": "The Development and Testing of the Continuity Assessment Record
        and Evaluation (CARE) Item Set: Final Report on the Development of the CARE
        Item Set.", "dateLastCrawled": "2018-02-09T20:38:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Pay Item Catalog - New York State Department of Transportation",
        "url": "https:\/\/www.dot.ny.gov\/pic?nd=nysdot", "urlPingSuffix": "DevEx,5109.1",
        "displayUrl": "https:\/\/www.dot.ny.gov\/pic?nd=nysdot", "snippet": "New
        York State Department of Transportation coordinates operation of transportation
        facilities and services including highway, bridge[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - '08E1D01410504951ABD9F2EFF59[...]
[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B95CA8FD1A604733B927262AD985E6E1
      Bingapis-Sessionid:
      - 3B3944E67F754DF8B2C7C45F953829B0
      X-Msedge-Clientid:
      - 265EA9B191666D523699A54B902A6CED
      X-Msapi-Userstate:
      - 97d3
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=138,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "item
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=item+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 16400000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Frankenstein | Library of Congress", "url": "https:\/\/www.loc.gov\/item\/2017600664\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.loc.gov\/item\/2017600664",
        "snippet": "This catalog data provides the details known to the Library of
        Congress regarding the corresponding item and may assist you in making independent
        assessments of the legal status of these items for their desired uses.", "dateLastCrawled":
        "2019-01-26T11:49:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "Colonies scolaires des Enfants de l''Yser. Out of door ...", "url": "https:\/\/www.loc.gov\/item\/2017667047\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.loc.gov\/item\/2017667047",
        "snippet": "Is the item digitized? (A thumbnail (small) image will be visible
        on the left.) Yes, the item is digitized. Please use the digital image in
        preferen[...]
[...]
