---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(item)%20language:es%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028item\u0029
        language\u003aes \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":47800,"Offset":0,"Results":[{"Title":"Informaci\u00f3n
        General sobre el ITIN - irs.gov","Description":"Puede que tenga que renovar
        su ITIN. A partir del 1 de enero de 2017, todos los ITIN no utilizados en
        una declaraci\u00f3n de impuestos federales por lo menos una vez en ...","Url":"https\u003a\u002f\u002fwww.irs.gov\u002fspanish\u002finformacion-general-sobre-el-itin","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003ditem\u0026d\u003d4630663601193217\u0026w\u003dLZ7JBxIsevY5yAnPiack9LY7DnuzRIPz","DisplayUrl":"https\u003a\u002f\u002fwww.irs.gov\u002fspanish\u002finformacion-general-sobre-el-itin","DateTime":"2016-12-03T19\u003a27\u003a00Z"},{"Title":"Descripci\u0026\u0023x00f3\u003bn
        hist\u0026\u0023x00f3\u003brica y cronol\u0026\u0023x000f3\u003bgica ...","Description":"Retrieved
        from the Library of Congress, https\u003a\u002f\u002fwww.loc.gov\u002fitem\u002f02007344\u002f.
        \u0028Accessed November 22, 2016.\u0029 APA citation style\u003a Le\u00f3n
        Y Gama, A. D. ...","Url":"https\u003a\u002f\u002fwww.loc.gov\u002fitem\u002f02007344\u002f","CacheUrl":"http\u003a\u00[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C451CED593DE47819C281AC7AD5E83EA
      X-Msedge-Clientid:
      - 0006871EA66167E431BF8EE1A7F6666C
      X-Msapi-Userstate:
      - '6961'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=65A6885B28C34C4696B5FEC43622E511&CID=0006871EA66167E431BF8EE1A7F6666C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=65A6885B28C34C4696B5FEC43622E511&CID=0006871EA66167E431BF8EE1A7F6666C&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=item+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5492.1", "totalEstimatedMatches": 3940000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Prohibited Items | Transportation Security Administration", "url": "https:\/\/www.tsa.gov\/travel\/security-screening\/prohibited-items",
        "urlPingSuffix": "DevEx,5094.1", "displayUrl": "https:\/\/www.tsa.gov\/travel\/security-screening\/prohibited-items",
        "snippet": "The final decision rests with the TSA officer on whether an item
        is allowed through the checkpoint. Explosives\/Flammable; Firearms; Food;
        Self Defense; Sharp Objects;", "deepLinks": [{"name": "Liquids Rule", "url":
        "https:\/\/www.tsa.gov\/travel\/security-screening\/liquids-rule", "urlPingSuffix":
        "DevEx,5085.1"}, {"name": "Special Procedures", "url": "https:\/\/www.tsa.gov\/travel\/special-procedures",
        "urlPingSuffix": "DevEx,5086.1"}, {"name": "Travel Tips", "url": "https:\/\/www.tsa.gov\/travel\/travel-tips",
        "urlPingSuffix": "DevEx,5087.1"}, {"name": "Identification", "url": "https:\/\/www.tsa.gov\/travel\/security-screening\/identification",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "TSA Pre", "url": "https:\/\/www.tsa.gov\/precheck",
        "urlPingSuffix": "DevEx,5089.1"}], "dateLastCrawled": "2016-12-28T17:31:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Form
        8-K - Official Site", "url": "https:\/\/www.sec.gov\/about\/forms\/form8-k.pdf",
        "urlPingSuffix": "DevEx,5106.1", "displayUrl": "https:\/\/www.sec.gov\/about\/forms\/form8-k.pdf",
        "snippet": "Item 2.02 or Item 7.01 will be deemed furnished, and not ﬁ
        led, unless the registrant speci ﬁ es, under Item 9.01 (Financial Statements
        and", "[...]
[...]
