---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 692E8932004647D5937F23BFE406AFE0
      X-Msedge-Clientid:
      - 10B01694B445615D15911CAAB5D26075
      X-Msapi-Userstate:
      - '0173'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=773A6B56BA6D45A0876C9223B65995CD&CID=10B01694B445615D15911CAAB5D26075&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=773A6B56BA6D45A0876C9223B65995CD&CID=10B01694B445615D15911CAAB5D26075&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=item+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5483.1", "totalEstimatedMatches": 1960000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Peking Street | Library of Congress", "url": "https:\/\/www.loc.gov\/item\/ggb2004009001\/",
        "urlPingSuffix": "DevEx,5078.1", "displayUrl": "https:\/\/www.loc.gov\/item\/ggb2004009001",
        "snippet": "No, the item is not digitized. Please go to #2. Do the Access
        Advisory or Call Number fields above indicate that a non-digital surrogate
        exists ...", "dateLastCrawled": "2017-03-04T20:01:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Form 8-K - Official Site", "url": "https:\/\/www.sec.gov\/about\/forms\/form8-k.pdf",
        "urlPingSuffix": "DevEx,5092.1", "displayUrl": "https:\/\/www.sec.gov\/about\/forms\/form8-k.pdf",
        "snippet": "If a report on Form 8-K contains disclosures under Item 2.02
        or Item 7.01, whether or not the report contains disclosures regarding other
        items, ..."[...]
[...]
