---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hippopotomonstrosesquippedaliophobia%20(site:nih.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - BDCDC01C9A2C46C8B56E7F6426C9823D
      X-Msedge-Clientid:
      - 20240C8B4D6E60DD377506BA4C5F6174
      X-Msapi-Userstate:
      - dc6f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F1FBDA82B7844FCFA95C19F948436ACE&CID=20240C8B4D6E60DD377506BA4C5F6174&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F1FBDA82B7844FCFA95C19F948436ACE&CID=20240C8B4D6E60DD377506BA4C5F6174&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 22 Feb 2017 21:53:54 GMT
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hippopotomonstrosesquippedaliophobia%20(site:nih.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C0B23F57C7A047BB91C0BE1598468909
      X-Msedge-Clientid:
      - 3F3A110B3EE96624372F1B3A3FD867F5
      X-Msapi-Userstate:
      - 85ab
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=4EB3908E211B4CB0AF4EBA60DF940DF2&CID=3F3A110B3EE96624372F1B3A3FD867F5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=4EB3908E211B4CB0AF4EBA60DF940DF2&CID=3F3A110B3EE96624372F1B3A3FD867F5&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 22 Feb 2017 21:53:57 GMT
recorded_with: VCR 3.0.3
