---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hello%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - AEF3552E383B4066B0C96DFD1C994334
      X-Msedge-Clientid:
      - 3F8E21097FEC60DC29742A857E43612A
      X-Msapi-Userstate:
      - ef13
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B405FFAD55E24782AB2938E52C7E52CE&CID=3F8E21097FEC60DC29742A857E43612A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B405FFAD55E24782AB2938E52C7E52CE&CID=3F8E21097FEC60DC29742A857E43612A&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hello+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5471.1", "totalEstimatedMatches": 1900000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Hello All", "url": "https:\/\/www.dir.ca.gov\/dosh\/ADA\/DisabilityAccomodationCoordinators.doc",
        "urlPingSuffix": "DevEx,5085.1", "displayUrl": "https:\/\/www.dir.ca.gov\/dosh\/ADA\/DisabilityAccomodationCoordinators.doc",
        "snippet": "Oakland DOSH Administration Headquarters ... William Estakhri
        – backup. San Bernardino ... Hello All Author: DIR Last modified by:", "dateLastCrawled":
        "2018-01-29T11:57:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Hello 2018: January in Photos | Speaker.gov", "url": "https:\/\/www.speaker.gov\/photo\/hello-2018-january-photos",
        "urlPingSuffix": "DevEx,5103.1", "displayUrl": "https:\/\/www.speaker.gov\/photo\/hello-2018-january-photos",
        "snippet": "2018 started with a bang. From a Congressional Delegation trip
        the Middle East to President Trump’s first State of t[...]
