---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=jobs%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - AAC4D92FEA0C47EE8C6F2DF85D760EAB
      X-Msedge-Clientid:
      - 3AC9F07570CB63BC1381FC2D71C46214
      X-Msapi-Userstate:
      - a70a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8E2D871854494BD68C463D24857A91FF&CID=3AC9F07570CB63BC1381FC2D71C46214&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8E2D871854494BD68C463D24857A91FF&CID=3AC9F07570CB63BC1381FC2D71C46214&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5443.1", "totalEstimatedMatches": 56400,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Find a Federal Government Job | USAGov", "url": "https:\/\/www.usa.gov\/government-jobs",
        "urlPingSuffix": "DevEx,5061.1", "displayUrl": "https:\/\/www.usa.gov\/government-jobs",
        "snippet": "The federal government has job opportunities available now in
        agencies throughout the U.S. If you’re interested in a job with the federal
        government, visit USAJOBS.gov, the official one-stop source for federal jobs
        and employment information. There, you can: You must create a USAJOBS profile
        to ...", "dateLastCrawled": "2018-08-19T20:10:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Research Career Fields | USAGov", "url": "https:\/\/www.usa.gov\/jobs-careers",
        "urlPingSuffix": "DevEx,5076.1", "displayUrl": "https:\/\/www.usa.gov\/jobs-careers",
        "snippet": "Find research information and videos about different career fields.
        Learn more about other jobs at the Occupational Outlook Handbook.", "dateLastCrawled":
        "2018-08-20T15:47:0[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=jazz%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 35E861B02BB644218FA6129C278D52AA
      X[...]
