---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(hello)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028hello\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":549000,"Offset":0,"Results":[{"Title":"ESDWAGOV
        - Monthly employment report","Description":"The monthly employment report
        is a comprehensive report on Washington\u2019s job market. We report the unemployment
        rate statewide and for the nation, the number of ...","Url":"https\u003a\u002f\u002fesd.wa.gov\u002flabormarketinfo\u002fmonthly-employment-report","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhello\u0026d\u003d4700607126309262\u0026w\u003dFzD5mG8FBy1Zlt_Edu04UBLyFfkrrpN0","DisplayUrl":"https\u003a\u002f\u002fesd.wa.gov\u002flabormarketinfo\u002fmonthly-employment-report","DateTime":"2016-12-01T04\u003a59\u003a00Z"},{"Title":"Hello,
        ma baby \u007c Library of Congress","Description":"Hello, ma baby\u007cHoward,
        Joseph E. \u0028Joseph Edgar\u0029 1878-1961. 1 sound disc \u003a analog,
        64.5 rpm, mono. \u003b 7 in. E. Berliner\u0027s Gramophone, United States\u005d,
        1899, monographic.","Url":"https\u003a\u002f\u002fwww.loc.gov\u002fitem\u002f99470294\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhello\u0026[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hello%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 979A7E4458CB4B62876AE1C6236730EC
      X-Msedge-Clientid:
      - 2ADCF2CC1D7D6B640203FB331CEA6AB1
      X-Msapi-Userstate:
      - e2bb
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=CD1DB719CFCC42ABA492EA4755BE2016&CID=2ADCF2CC1D7D6B640203FB331CEA6AB1&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=CD1DB719CFCC42ABA492EA4755BE2016&CID=2ADCF2CC1D7D6B640203FB331CEA6AB1&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hello+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5477.1", "totalEstimatedMatches": 281000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Hello La Nina | National Oceanic and Atmospheric ...", "url": "http:\/\/www.noaa.gov\/news\/hello-la-nina",
        "urlPingSuffix": "DevEx,5099.1", "displayUrl": "www.noaa.gov\/news\/hello-la-nina",
        "snippet": "November 10, 2016 La Nina has arrived and is favored to stick
        around through winter. Forecasters say the climate phenomena will likely contribute
        to drier ...", "dateLastCrawled": "2017-01-01T20:12:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "November 2016
        La Niña update: Hello, lady! | NOAA Climate.gov", "url": "https:\/\/www.climate.gov\/news-features\/blogs\/enso\/november-2016-la-ni%C3%B1a-update-hello-lady",
        "urlPingSuffix": "DevEx,5111.1", "displayUrl": "https:\/\/www.climate.gov\/...\/november-2016-la-niña-update-hello-lady",
        "snippet": "November 2016 La Niña update: Hello, lady! Author: E[...]
