---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hillary%20rodham%20clinton%20(site:whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5067E2CE320D453AB63F34B7F0770311
      X-Msedge-Clientid:
      - 16DF7AA8DD48682604D47096DCDF69EE
      X-Msapi-Userstate:
      - '8824'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1403F48917A34406A49C4912DA3BF45C&CID=16DF7AA8DD48682604D47096DCDF69EE&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1403F48917A34406A49C4912DA3BF45C&CID=16DF7AA8DD48682604D47096DCDF69EE&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hillary+rodham+clinton+(site%3awhitehouse.gov)",
        "webSearchUrlPingSuffix": "DevEx,5448.1", "totalEstimatedMatches": 17400,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Remarks by the President at Hillary for America Rally in ...", "url": "https:\/\/11111011100.whitehouse.gov\/the-press-office\/2016\/11\/04\/remarks-president-hillary-america-rally-charlotte-nc",
        "urlPingSuffix": "DevEx,5076.1", "displayUrl": "https:\/\/11111011100.whitehouse.gov\/the-press-office\/2016\/11\/04\/...",
        "snippet": "Music & Arts Performances See the lineup of artists and performers
        at the White House", "dateLastCrawled": "2017-02-07T21:33:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Secretary Of
        State Hillary Rodham Clinton Tours Africa ...", "url": "https:\/\/www.whitehouse.gov\/photos-and-video\/photogallery\/secretary-state-hillary-rodham-clinton-tours-africa?page=2",
        "urlPingSuffix": "DevEx,5088.1", "displayUrl": "https:\/\/www.whitehouse.gov\/photos-and-video\/photogallery\/secretary...",
        "snippet": "Hillary Rodham Clinton is the most traveled U.S. Secretary of
        State in history, having logged visits to 108 different countries so far.",
        "dateLastCrawled": "2016-07-10T14:59:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "William J. Clinton | whitehouse.gov", "url": "https:\/\/11111011100.whitehouse.gov\/1600\/presidents\/williamjclinton",
        "urlPingSuffix": "DevEx,5100.1", "displayUrl": "https:\/\/11111011100.whitehouse.gov\/1600\/presidents\/williamjclinton",
        "snippet": "The next year he married Hillary Rodham, a graduate of Wellesley
        College and Yale Law School. ... Learn more about William J. Clinton''s
        spouse, Hillary Rodham Clinton.", "dateLastCrawled": "2017-02-18T12:06:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "Cabinet
        Review: Secretary Hillary Rodham Clinton ...", "url": "https:\/\/www.whitehouse.gov\/photos-and-video\/video\/cabinet-review-secretary-hillary-rodham-clinton-department-state?page=5",
        "urlPingSuffix": "DevEx,5112.1", "displayUrl": "https:\/\/www.whitehouse.gov\/photos-and-video\/video\/cabinet-review...",
        "snippet": "Cabinet Review: Secretary Hillary Rodham Clinton, Department
        of State. January 19, 2010 | 1:12 | Public Domain. Download mp4 (9MB) Filter
        by", "dateLa[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hillary%20rodham%20clinton%20first%20lady%20(site:whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:[...]
