---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hillary%20rodham%20clinton%20(site:whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 312F54BF3BFA4866898C4FBFFDA216A3
      X-Msedge-Clientid:
      - 15ABBB0B1B456F1109F8B1351AD26EA7
      X-Msapi-Userstate:
      - 23e2
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1D8DA8295AFB40E78604A7424C897AF2&CID=15ABBB0B1B456F1109F8B1351AD26EA7&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1D8DA8295AFB40E78604A7424C897AF2&CID=15ABBB0B1B456F1109F8B1351AD26EA7&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hillary+rodham+clinton+(site%3awhitehouse.gov)",
        "webSearchUrlPingSuffix": "DevEx,5469.1", "totalEstimatedMatches": 17400,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Hillary Rodham Clinton | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/1600\/first-ladies\/hillaryclinton",
        "urlPingSuffix": "DevEx,5078.1", "displayUrl": "https:\/\/www.whitehouse.gov\/1600\/first-ladies\/hillaryclinton",
        "snippet": "Hillary Diane Rodham Clinton served as the First Lady of the
        United States to the 42nd President, Bill Clinton. She went on to become
        a U.S. Secretary of State and U ...", "dateLastCrawled": "2017-01-18T06:20:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "William
        J. Clinton | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/1600\/presidents\/williamjclinton",
        "urlPingSuffix": "DevEx,5095.1", "displayUrl": "https:\/\/www.whitehouse.gov\/1600\/presidents\/williamjclinton",
        "snippet": "William J. Clinton Foundation. Learn more about William J.
        Clinton''s spouse, Hillary Rodham Clinton. Did [...]
