---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=hippopotomonstrosesquippedaliophobia%20(site:nih.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - AB46BF36747C42A6A46171EDC7E79F52
      X-Msedge-Clientid:
      - 1F8179B882666AE10867722683836B70
      X-Msapi-Userstate:
      - c438
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=AD3459299B774CE8825748F6CF2710E0&CID=1F8179B882666AE10867722683836B70&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=AD3459299B774CE8825748F6CF2710E0&CID=1F8179B882666AE10867722683836B70&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hippopotomonstrosesquippedaliophobia+(site%3anih.gov)",
        "webSearchUrlPingSuffix": "DevEx,5133.1", "totalEstimatedMatches": 1, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "PubMed
        - National Center for Biotechnology Information", "url": "https:\/\/www.ncbi.nlm.nih.gov\/pubmed\/17551351",
        "urlPingSuffix": "DevEx,5058.1", "displayUrl": "https:\/\/www.ncbi.nlm.nih.gov\/pubmed\/17551351",
        "snippet": "Moved Permanently. The document has moved here.", "dateLastCrawled":
        "2017-02-24T12:26:00.0000000Z"}]}, "rankingResponse": {"mainline": {"items":
        [{"answerType": "WebPages", "resultIndex": 0, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0"}}]}}}'
  recorded_at: Thu, 22 Feb 2018 07:16:30 GMT
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=hippopotomonstrosesquippedaliophobia%20(site:nih.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3785B5456AAF449582D4D5542E795579
      X-Msedge-Clientid:
      - 1E8A551DB7526E3E05B259B1B6856F8D
      X-Msapi-Userstate:
      - d366
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1E27AEEED38B47F480443C1E7ACCADC1&CID=1E8A551DB7526E3E05B259B1B6856F8D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1E27AEEED38B47F480443C1E7ACCADC1&CID=1E8A551DB7526E3E05B259B1B6856F8D&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 19 Nov 2018 22:40:17 GMT
[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=hippopotomonstrosesquippedaliophobia%20(site:nih.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 75C606A20ACE41698A32FBFA1DE2F806
      Bingapis-Sessionid:
      - A5824DAA630F40C799DFAD3D510F646D
      X-Msedge-Clientid:
      - 3341B84F6A0C6C802706B4B56B406D0C
      X-Msapi-Userstate:
      - 3b5f
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=140,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "hippopotomonstrosesquippedaliophobia
        (site:nih.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hippopotomonstrosesquippedaliophobia+(site%3anih.gov)",
        "totalEstimatedMatches": 1, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "PubMed - National Center for Biotechnology Information", "url":
        "https:\/\/www.ncbi.nlm.nih.gov\/pubmed\/17551351", "isFamilyFriendly": true,
        "displayUrl": "https:\/\/www.ncbi.nlm.nih.gov\/pubmed\/17551351", "snippet":
        "Moved Permanently. The document has moved here.", "dateLastCrawled": "2017-02-24T12:26:00.0000000Z",
        "language": "en", "isNavigational": false}]}, "rankingResponse": {"mainline":
        {"items": [{"answerType": "WebPages", "resultIndex": 0, "value": {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0"}}]}}}'
  recorded_at: Tue, 05 Feb 2019 21:45:34 GMT
[...]
