---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=warnings%20for%20a%20tornado%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B6513DE393334EA0AD2E593E5371939F
      X-Msedge-Clientid:
      - 222683E849CF6BBD2E3C88AF48586AB9
      X-Msapi-Userstate:
      - 84e1
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8C007E90A3A5458F8B5679DBCD18D829&CID=222683E849CF6BBD2E3C88AF48586AB9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8C007E90A3A5458F8B5679DBCD18D829&CID=222683E849CF6BBD2E3C88AF48586AB9&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=warnings+for+a+tornado+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5557.1", "totalEstimatedMatches": 11100000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Tornadoes | Ready.gov", "url": "https:\/\/www.ready.gov\/tornadoes",
        "urlPingSuffix": "DevEx,5095.1", "displayUrl": "https:\/\/www.ready.gov\/tornado",
        "snippet": "This page explains what actions to take when you receive a tornado
        watch or warning alert from the National Weather Service for your local
        area and what to do before ...", "dateLastCrawled": "2017-11-20T11:55:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Severe
        Weather 101: Tornado Basics", "url": "http:\/\/www.nssl.noaa.gov\/education\/svrwx101\/tornadoes\/",
        "urlPingSuffix": "DevEx,5117.1", "displayUrl": "www.nssl.noaa.gov\/education\/svrwx101\/tornadoes",
        "snippet": "Watch and prepare for severe weather and stay tuned to NOAA Weather
        Radio to know when warnings are issued. A Tornado WARNING is issued by
        your local NOAA National ...", "deepLinks": [{"name": "Types", "url": "http:\/\/www.nssl.noaa.gov\/education\/svrwx101\/tornadoes\/types\/",
        "urlPingSuffix": "DevEx,5107.1"}, {"name": "Detection", "url": "http:\/\/www.nssl.noaa.gov\/education\/svrwx101\/tornadoes\/detection\/",
        "urlPingSuffix": "DevEx,5108.1"}, {"name": "FAQ", "url": "http:\/\/www.nssl.noaa.gov\/education\/svrwx101\/tornadoes\/faq\/",
        "urlPingSuffix": "DevEx,5109.1"}, {"name": "Forecasting", "url": "http:\/\/www.nssl.noaa.gov\/education\/svrwx101\[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=atlantic%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; c[...]
