---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28two+ferns%29+language%3Aen+%28site%3Awhitehouse.gov%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028two
        ferns\u0029 language\u003aen \u0028site\u003awhitehouse.gov\u0029"},"Web":{"Total":47,"Offset":0,"Results":[{"Title":"Watch
        President Obama on \u0022Between Two Ferns with Zach ...","Description":"President
        Obama sits down between two ferns to talk health care, Bradley Cooper, and
        basketball with Zach Galifianakis.","Url":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fblog\u002f2014\u002f03\u002f11\u002fwatch-president-obama-between-two-ferns-zach-galifianakis","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dtwo\u002bferns\u0026d\u003d4832625748284285\u0026w\u003dSeiRAkw-f_GVn_JfVYsDm-kmgZ1QPUaK","DisplayUrl":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fblog\u002f2014\u002f03\u002f11\u002fwatch-president-obama...","DateTime":"2015-12-12T19\u003a43\u003a00Z"},{"Title":"Weekly
        Wrap Up\u003a the President Sits Between Two Ferns, Moms ...","Description":"Between
        Two Ferns\u003a POTUS Edition. If you\u0027ve been living under a rock,
        you might not know that President Obama sat down between two ferns to talk
        health care, Bradley ...","Url":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fblog\u002f2014\u002f03\u002f14\u002fweekly-wrap-president-sits-between-two-ferns-first-lady-honors-[...]
