---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=hello%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7355CD33FCCF48E3AEF4E5083FD0E3D0
      X-Msedge-Clientid:
      - 2D2D42E8E47B65D4231F4976E59E6438
      X-Msapi-Userstate:
      - f56f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9694490011BA418AB31D43C5EBE84946&CID=2D2D42E8E47B65D4231F4976E59E6438&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9694490011BA418AB31D43C5EBE84946&CID=2D2D42E8E47B65D4231F4976E59E6438&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hello+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5477.1", "totalEstimatedMatches": 834000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Hello From Above | NASA", "url": "https:\/\/www.nasa.gov\/image-feature\/hello-from-above\/",
        "urlPingSuffix": "DevEx,5085.1", "displayUrl": "https:\/\/www.nasa.gov\/image-feature\/hello-from-above",
        "snippet": "Greetings from @Astro_Sabot, otherwise known as Mark Vande Hei,
        from aboard the International Space Station.", "dateLastCrawled": "2018-02-10T14:30:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Hello.
        How Are You? | Colchester, VT", "url": "http:\/\/colchestervt.gov\/2898\/Hello-How-Are-You",
        "urlPingSuffix": "DevEx,5098.1", "displayUrl": "colchestervt.gov\/2898\/Hello-How-Are-You",
        "snippet": "Hello. How Are You? An outreach program in which Colchester
        Police are developing, connecting senior citizens with the police department
        bef[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=hello%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9BCE88F11AD844899020FCED691[...]
