---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 44D694AE2C944D9FBBC81F9BD707A1D7
      X-Msedge-Clientid:
      - 25847047B90667F3353C7AC7B8916697
      X-Msapi-Userstate:
      - c94a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=695FB39CC92846E0BE3741A4FC11D4BA&CID=25847047B90667F3353C7AC7B8916697&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=695FB39CC92846E0BE3741A4FC11D4BA&CID=25847047B90667F3353C7AC7B8916697&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5490.1", "totalEstimatedMatches": 33700,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Looking for a New Job | USA.gov", "url": "https:\/\/www.usa.gov\/job-search",
        "urlPingSuffix": "DevEx,5082.1", "displayUrl": "https:\/\/www.usa.gov\/job-search",
        "snippet": "Looking for a New Job. Find out how to look for work in the
        private sector and federal government. Find a Federal Government Job. Learn
        how to find a job with the ...", "deepLinks": [{"name": "Government Jobs",
        "url": "https:\/\/www.usa.gov\/government-jobs", "urlPingSuffix": "DevEx,5077.1"},
        {"name": "Find a Job", "url": "https:\/\/www.usa.gov\/find-a-job", "urlPingSuffix":
        "DevEx,5078.1"}], "dateLastCrawled": "2017-05-06T20:41:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Find a Job
        | USA.gov", "url": "https:\/\/www.usa.gov\/find-a-job", "urlPingSuffix":
        "DevEx,5097.1", "displayUrl": "https:\/\/www.usa.gov\/find-a-job", "snippet":
        "Jobs for Teens and Young Adults. Learn about occupations to help you plan
        your future ... Vets.gov for resources to help you explore careers, find
        a job, ...", "dateLastCrawle[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jazz%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
   [...]
