---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hello%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 114301DC30284B7EB8B38F1F3BA70F1D
      X-Msedge-Clientid:
      - 1A05EC7A29196FA51C12E6FA288E6EBE
      X-Msapi-Userstate:
      - ad52
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B57607DCB4304485894CFD7B06C83AE9&CID=1A05EC7A29196FA51C12E6FA288E6EBE&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B57607DCB4304485894CFD7B06C83AE9&CID=1A05EC7A29196FA51C12E6FA288E6EBE&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hello+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5451.1", "totalEstimatedMatches": 376000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Hello La Nina | National Oceanic and Atmospheric ...", "url": "http:\/\/www.noaa.gov\/news\/hello-la-nina",
        "urlPingSuffix": "DevEx,5076.1", "displayUrl": "www.noaa.gov\/news\/hello-la-nina",
        "snippet": "November 10, 2016 La Nina has arrived and is favored to stick
        around through winter. Forecasters say the climate phenomena will likely contribute
        to drier ...", "dateLastCrawled": "2017-05-06T10:24:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "November 2016
        La Niña update: Hello, lady! | NOAA Climate.gov", "url": "https:\/\/www.climate.gov\/news-features\/blogs\/enso\/november-2016-la-ni%C3%B1a-update-hello-lady",
        "urlPingSuffix": "DevEx,5087.1", "displayUrl": "https:\/\/www.climate.gov\/...\/november-2016-la-niña-update-hello-lady",
        "snippet": "November 2016 La Niña update: Hello, lady! Author: E[...]
