---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28noaa%29+language%3Aen+%28site%3Awww.sba.gov%2Fblogs%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028noaa\u0029
        language\u003aen \u0028site\u003awww.sba.gov\u002fblogs\u0029"},"Web":{"Total":14,"Offset":0,"Results":[{"Title":"5
        Tips on Starting Your Hurricane Season Business ...","Description":"While
        weather experts NOAA are predicting a \u201cnear-normal\u201d 2012 Atlantic
        hurricane season, last year\u2019s Hurricane Irene is a reminder of the erratic
        and ...","Url":"https\u003a\u002f\u002fwww.sba.gov\u002fblogs\u002f5-tips-starting-your-hurricane-season-business-continuity-plan","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dnoaa\u0026d\u003d4520549171662067\u0026w\u003d1LZcCwpr990HtVT3tmCeuFXIS7h_1FXh","DisplayUrl":"https\u003a\u002f\u002fwww.sba.gov\u002fblogs\u002f5-tips-starting-your-hurricane-season...","DateTime":"2016-05-25T19\u003a19\u003a00Z"},{"Title":"Is
        Your Business Ready for the next Hurricane Sandy\u003f \u007c The ...","Description":"Is
        Your Business Ready for the next Hurricane Sandy\u003f By Carol Chastang,
        SBA Official . Published\u003a May 23, 2013. Even before the big storm hits,
        small businesses start ...","Url":"https\u003a\u002f\u002fwww.sba.gov\u002fblogs\u002fyour-business-ready-next-hurricane-sandy","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fc[...]
