---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=noaa%20(site:www.sba.gov/blogs/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 75C3DCF28C844401AABBA7D0AA421378
      X-Msedge-Clientid:
      - 06A340EA99F26D5B3BCA4CB298FD6C1A
      X-Msapi-Userstate:
      - 36c3
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F2498205549046AA97A34310FED3C187&CID=06A340EA99F26D5B3BCA4CB298FD6C1A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F2498205549046AA97A34310FED3C187&CID=06A340EA99F26D5B3BCA4CB298FD6C1A&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=noaa+(site%3awww.sba.gov%2fblogs%2f)",
        "webSearchUrlPingSuffix": "DevEx,5250.1", "totalEstimatedMatches": 10, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Get Tips
        and Information about Hurricane Preparedness for ...", "url": "https:\/\/www.sba.gov\/blogs\/get-tips-and-information-about-hurricane-preparedness-your-business",
        "urlPingSuffix": "DevEx,5048.1", "displayUrl": "https:\/\/www.sba.gov\/blogs\/get-tips-and-information-about-hurricane...",
        "snippet": "www.nhc.noaa.gov\/prepare\/--National Hurricane Center. About
        the Author: Carol Chastang. SBA Official . More Posts in this category.",
        "dateLastCrawled": "2018-08-08T20:52:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Seven Ways to Start Your Business Continuity Plan | The U ...", "url":
        "https:\/\/www.sba.gov\/blogs\/seven-ways-start-your-business-continuity-plan",
        "urlPingSuffix": "DevEx,5064.1", "displayUrl": "https:\/\/www.sba.gov\/blogs\/seven-ways-start-your-business...",
        "snippet": "So far this winter we’ve seen deadly tornadoes in Texas, severe
        flooding in Mis[...]
