---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3D043616C9ED4486953A73B38A1FD8EB
      X-Msedge-Clientid:
      - 1CC3B3AF5C52672C0404B8315DB766DD
      X-Msapi-Userstate:
      - f101
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=554B71A3F7EB4598AD3440C8A4AB6DF5&CID=1CC3B3AF5C52672C0404B8315DB766DD&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=554B71A3F7EB4598AD3440C8A4AB6DF5&CID=1CC3B3AF5C52672C0404B8315DB766DD&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=item+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5490.1", "totalEstimatedMatches": 8280000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "CARE Item Set and B-CARE - Centers for Medicare & Medicaid ...", "url":
        "https:\/\/www.cms.gov\/Medicare\/Quality-Initiatives-Patient-Assessment-Instruments\/Post-Acute-Care-Quality-Initiatives\/CARE-Item-Set-and-B-CARE.html",
        "urlPingSuffix": "DevEx,5094.1", "displayUrl": "https:\/\/www.cms.gov\/...\/CARE-Item-Set-and-B-CARE.html",
        "snippet": "The Development and Testing of the Continuity Assessment Record
        and Evaluation (CARE) Item Set: Final Report on the Development of the CARE
        Item Set.", "dateLastCrawled": "2018-02-09T20:38:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Pay Item Catalog - New York State Department of Transportation",
        "url": "https:\/\/www.dot.ny.gov\/pic?nd=nysdot", "urlPingSuffix": "DevEx,5109.1",
        "displayUrl": "https:\/\/www.dot.ny.gov\/pic?nd=nysdot", "snippet": "New
        York State Department of Transportation coordinates operation of transportation
        facilities and services including highway, bridge[...]
[...]
