---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=notes%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6895AA2CF44847F28398177F483F353B
      X-Msedge-Clientid:
      - 2ECAAD7C37B268BE2D43A7BF3625699C
      X-Msapi-Userstate:
      - 64ad
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=197854860F8345AAA9C3FA56E927C45F&CID=2ECAAD7C37B268BE2D43A7BF3625699C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=197854860F8345AAA9C3FA56E927C45F&CID=2ECAAD7C37B268BE2D43A7BF3625699C&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=notes+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5472.1", "totalEstimatedMatches": 12600000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Individual - Treasury Notes", "url": "https:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tnotes_glance.htm",
        "urlPingSuffix": "DevEx,5084.1", "displayUrl": "https:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tnotes_glance.htm",
        "snippet": "Treasury Notes. Treasury notes, sometimes called T-Notes,
        earn a fixed rate of interest every six months until maturity. Notes are
        issued in terms of 2, 3 ...", "deepLinks": [{"name": "Treasury Notes in Depth",
        "url": "http:\/\/www.treasurydirect.gov\/indiv\/research\/indepth\/tnotes\/res_tnote.htm",
        "urlPingSuffix": "DevEx,5075.1"}, {"name": "Rates & Terms", "url": "https:\/\/www.treasurydirect.gov\/indiv\/research\/indepth\/tnotes\/res_tnote_rates.htm",
        "urlPingSuffix": "DevEx,5076.1"}, {"name": "Treasury Bonds", "url": "http:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tbonds_glance.htm",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "Treasury Bills", "url": "http:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tbills_glance.htm",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Tips", "url": "http:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tips_glance.htm",
        "urlPingSuffix": "DevEx,5079.1"}], "dateLastCrawled": "2017-07-14T21:25:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Surety
        Bonds - Notes", "url": "https:\/\/www.fiscal.treasury.gov\/fsreports\/ref\/suretyBnd\/notes.htm",
        "urlPingSuffix": "DevEx,5098.1", "displayUrl": "https:\/\/www.fiscal.treasury.gov\/fsreports\/ref\/suretyBnd\/notes.htm",
        "snippet": "Department of the Treasury''s Listing of Approved Sureties (Department
        Circular 570) Notes (a) All Certificates[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=emergencia%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;[...]
