---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=two%20ferns%20(site:whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C7D63FF03DE6424AA009ADA7F6668750
      X-Msedge-Clientid:
      - 2549AD487E5B6F32325CA7797F6A6E45
      X-Msapi-Userstate:
      - 826c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A55201732E3D4793983F755825B4AB94&CID=2549AD487E5B6F32325CA7797F6A6E45&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A55201732E3D4793983F755825B4AB94&CID=2549AD487E5B6F32325CA7797F6A6E45&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=two+ferns+(site%3awhitehouse.gov)",
        "webSearchUrlPingSuffix": "DevEx,5443.1", "totalEstimatedMatches": 62, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Watch
        President Obama on \"Between Two Ferns with Zach ...", "url": "https:\/\/www.whitehouse.gov\/blog\/2014\/03\/11\/watch-president-obama-between-two-ferns-zach-galifianakis",
        "urlPingSuffix": "DevEx,5077.1", "displayUrl": "https:\/\/www.whitehouse.gov\/blog\/2014\/03\/11\/watch-president-obama...",
        "snippet": "President Obama sits down between two ferns to talk health care,
        Bradley Cooper, and basketball with Zach Galifianakis.", "dateLastCrawled":
        "2016-11-29T21:04:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Weekly Wrap Up: the President Sits Between Two Ferns, Moms ...",
        "url": "https:\/\/www.whitehouse.gov\/blog\/2014\/03\/14\/weekly-wrap-president-sits-between-two-ferns-first-lady-honors-kids-kermit-and-more",
        "urlPingSuffix": "DevEx,5090.1", "displayUrl": "https:\/\/www.whitehouse.gov\/blog\/2014\/03\/14\/weekly-wrap-president...",
        "snippet": "Between [...]
