---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=notes%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8C157DA45BA14642A0E6AD0464DED85A
      X-Msedge-Clientid:
      - 118C70565ED5620D12867BDA5F7A6357
      X-Msapi-Userstate:
      - f855
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9C26BAEC98AE41D7B24429318EC6F471&CID=118C70565ED5620D12867BDA5F7A6357&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9C26BAEC98AE41D7B24429318EC6F471&CID=118C70565ED5620D12867BDA5F7A6357&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=notes+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5515.1", "totalEstimatedMatches": 20600000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Individual - Treasury Notes", "url": "https:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tnotes_glance.htm",
        "urlPingSuffix": "DevEx,5100.1", "displayUrl": "https:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tnotes_glance.htm",
        "snippet": "Treasury Notes. Treasury notes, sometimes called T-Notes,
        earn a fixed rate of interest every six months until maturity. Notes are
        issued in terms of 2, 3 ...", "deepLinks": [{"name": "Treasury Bills", "url":
        "https:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tbills_glance.htm",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "Treasury Bonds", "url": "https:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tbonds_glance.htm",
        "urlPingSuffix": "DevEx,5091.1"}, {"name": "Rates & Terms", "url": "https:\/\/www.treasurydirect.gov\/indiv\/research\/indepth\/tnotes\/res_tnote_rates.htm",
        "urlPingSuffix": "DevEx,5092.1"}, {"name": "Treasury Notes in Depth", "url":
        "https:\/\/www.treasurydirect.gov\/indiv\/research\/indepth\/tnotes\/res_tnote.htm",
        "urlPingSuffix": "DevEx,5093.1"}, {"name": "Tips", "url": "https:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tips_glance.htm",
        "urlPingSuffix": "DevEx,5094.1"}], "dateLastCrawled": "2018-01-29T08:06:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Individual
        - Treasury Notes In Depth", "url": "https:\/\/www.treasurydirect.gov\/indiv\/research\/indepth\/tnotes\/res_tnote.htm",
        "urlPingSuffix": "DevEx,5118.1", "displayUrl": "https:\/\/www.treasurydirect.gov\/indiv\/research\/indepth\/tnotes\/res...",
        "snippet": "Treasury Notes In Depth. Treasury notes, or T-notes, are
        issued in terms of 2,[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=emergencia%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;[...]
