---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=%27death%20star%20r2d2%20xyz3%27%20(site:petitions.whitehouse.gov/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0A9EB4091EDC4DFC9FFB772572700C53
      X-Msedge-Clientid:
      - 0B2131967192684C22563A10703D69C0
      X-Msapi-Userstate:
      - 5e66
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=2DD93DF634964147A78C1492F1623BA2&CID=0B2131967192684C22563A10703D69C0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=2DD93DF634964147A78C1492F1623BA2&CID=0B2131967192684C22563A10703D69C0&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 29 Jan 2018 19:47:05 GMT
recorded_with: VCR 3.0.3
