---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=noaa%20(site:www.sba.gov/blogs)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B8342EF530444EC5884C2152C25F3CD7
      X-Msedge-Clientid:
      - 0D98DD48F5C86EE0048ED640F45F6F40
      X-Msapi-Userstate:
      - 3ccd
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C93244EE0A3443BCA79E51BB17140ECF&CID=0D98DD48F5C86EE0048ED640F45F6F40&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C93244EE0A3443BCA79E51BB17140ECF&CID=0D98DD48F5C86EE0048ED640F45F6F40&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=noaa+(site%3awww.sba.gov%2fblogs)",
        "webSearchUrlPingSuffix": "DevEx,5245.1", "totalEstimatedMatches": 6, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "5 Tips
        on Starting Your Hurricane Season Business ...", "url": "https:\/\/www.sba.gov\/blogs\/5-tips-starting-your-hurricane-season-business-continuity-plan",
        "urlPingSuffix": "DevEx,5066.1", "displayUrl": "https:\/\/www.sba.gov\/blogs\/5-tips-starting-your-hurricane-season...",
        "snippet": "While weather experts NOAA are predicting a “near-normal” 2012
        Atlantic hurricane season, last year’s Hurricane Irene is a reminder of the
        erratic and ...", "dateLastCrawled": "2017-08-23T18:26:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Five Easy Ways
        to Safeguard Your Small Business Before ...", "url": "https:\/\/www.sba.gov\/blogs\/five-easy-ways-safeguard-your-small-business-disaster-strikes",
        "urlPingSuffix": "DevEx,5084.1", "displayUrl": "https:\/\/www.sba.gov\/blogs\/five-easy-ways-safeguard-your-small...",
        "snippet": "Five Easy Ways to Safeguard Your Small Business Before Disaster
    [...]
