---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 45E0B5C70EA145BE9E4D49FC9D543C64
      X-Msedge-Clientid:
      - 164BFCB30E8C64A93FF1F6700F1B65A9
      X-Msapi-Userstate:
      - d5cc
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=BBD41A9AE06A4E17B71A9D0DFB2EC5E4&CID=164BFCB30E8C64A93FF1F6700F1B65A9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=BBD41A9AE06A4E17B71A9D0DFB2EC5E4&CID=164BFCB30E8C64A93FF1F6700F1B65A9&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5527.1", "totalEstimatedMatches": 32200,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Find a Federal Government Job | USAGov", "url": "https:\/\/www.usa.gov\/government-jobs",
        "urlPingSuffix": "DevEx,5079.1", "displayUrl": "https:\/\/www.usa.gov\/government-jobs",
        "snippet": "The federal government has job opportunities available now in
        agencies throughout the U.S. If you’re interested in a job with the federal
        government, visit USAJOBS ...", "dateLastCrawled": "2017-07-14T00:28:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Looking
        for a New Job | USAGov", "url": "https:\/\/www.usa.gov\/job-search", "urlPingSuffix":
        "DevEx,5099.1", "displayUrl": "https:\/\/www.usa.gov\/job-search", "snippet":
        "Looking for a New Job. Find out how to look for work in the private sector
        and federal government. Find a Federal Government Job. Learn how to find a
        job with the ...", "deepLinks": [{"name": "Government Jobs", "url": "https:\/\/www.usa.gov\/government-jobs",
        "urlPingSuffix": "DevEx,5094.1"}, {"name": "Find a Job", "url": "https:\/\/www.usa.gov\/find-a-job",
        "urlPingSuffix": "DevEx,5095.1"}], "dateLastCrawled": "2017-07-13T14:08:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Jobs
        - USA", "url": "https:\/\/kids.usa.gov\/jobs\/index.shtml", "urlPingSuffix":
        "DevEx,5121.1", "displayUrl": "https:\/\/[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jazz%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
   [...]
