---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=noaa%20(site:www.sba.gov/blogs)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4A9EB9B6F3A143BCB0AA1C1C753EC7FC
      X-Msedge-Clientid:
      - 20CAAE0391286A3A33B7A4BC90BF6BD0
      X-Msapi-Userstate:
      - '7140'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9E57C2ABDE404C108F37D6C876DC9DB5&CID=20CAAE0391286A3A33B7A4BC90BF6BD0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9E57C2ABDE404C108F37D6C876DC9DB5&CID=20CAAE0391286A3A33B7A4BC90BF6BD0&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=noaa+(site%3awww.sba.gov%2fblogs)",
        "webSearchUrlPingSuffix": "DevEx,5321.1", "totalEstimatedMatches": 11, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Get Tips
        and Information about Hurricane Preparedness for ...", "url": "https:\/\/www.sba.gov\/blogs\/get-tips-and-information-about-hurricane-preparedness-your-business",
        "urlPingSuffix": "DevEx,5068.1", "displayUrl": "https:\/\/www.sba.gov\/blogs\/get-tips-and-information-about-hurricane...",
        "snippet": "Get Tips and Information about Hurricane Preparedness for Your
        Business. ... www.nhc.noaa.gov\/prepare\/--National Hurricane Center. About
        the Author: Carol Chastang.", "dateLastCrawled": "2017-05-11T11:48:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Is Your
        Business Ready for the next Hurricane Sandy? | The ...", "url": "https:\/\/www.sba.gov\/blogs\/your-business-ready-next-hurricane-sandy",
        "urlPingSuffix": "DevEx,5085.1", "displayUrl": "https:\/\/www.sba.gov\/blogs\/your-business-ready-next-hurricane-sandy",
        "snippet": "Is Your Business Ready for the next Hurricane Sandy? SBA
        News an[...]
