---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q='death%20star%20r2d2%20xyz3'%20(site:petitions.whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 53FE10C149D7419D89A153B18475735B
      X-Msedge-Clientid:
      - 3797FE20A9EE64513131F442A87965B8
      X-Msapi-Userstate:
      - '6417'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=61572B78D958400EA28210D739A34618&CID=3797FE20A9EE64513131F442A87965B8&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=61572B78D958400EA28210D739A34618&CID=3797FE20A9EE64513131F442A87965B8&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 12 Apr 2017 02:17:16 GMT
recorded_with: VCR 3.0.3
