---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=hello%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 67A4751EB12B4453BE40D039F838D369
      X-Msedge-Clientid:
      - 0AF12C2C1072650823FA2074117D64E3
      X-Msapi-Userstate:
      - a3c9
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F6043692F8B84C4DA7A72949C9EDB30F&CID=0AF12C2C1072650823FA2074117D64E3&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F6043692F8B84C4DA7A72949C9EDB30F&CID=0AF12C2C1072650823FA2074117D64E3&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hello+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5414.1", "totalEstimatedMatches": 1630000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "DOD Occupational Database (ODB)", "url": "https:\/\/www.dmdc.osd.mil\/owa\/odb\/hello",
        "urlPingSuffix": "DevEx,5057.1", "displayUrl": "https:\/\/www.dmdc.osd.mil\/owa\/odb\/hello",
        "snippet": "Warning Notice and Consent to Monitor. You are accessing a U.S.
        Government(USG) information system(IS) that is provided for USG-authorized
        use only.", "dateLastCrawled": "2018-08-20T10:27:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Hello From Above | NASA", "url": "https:\/\/www.nasa.gov\/image-feature\/hello-from-above\/",
        "urlPingSuffix": "DevEx,5070.1", "displayUrl": "https:\/\/www.nasa.gov\/image-feature\/hello-from-above",
        "snippet": "Greetings from @Astro_Sabot, otherwise known as Mark Vande Hei,
        from aboard the International Space Station.", "dateLastCrawled": "2018-08-21T01:2[...]
