---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28%27death+star+r2d2+xyz3%27%29+language%3Aen+%28site%3Apetitions.whitehouse.gov%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028\u0027death
        star r2d2 xyz3\u0027\u0029 language\u003aen \u0028site\u003apetitions.whitehouse.gov\u0029"},"Web":{"Total":0,"Offset":0}}}'
  recorded_at: Fri, 10 Jun 2016 23:13:50 GMT
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=('death%20star%20r2d2%20xyz3')%20language:en%20(site:petitions.whitehouse.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028\u0027death
        star r2d2 xyz3\u0027\u0029 language\u003aen \u0028site\u003apetitions.whitehouse.gov\u0029"},"Web":{"Total":0,"Offset":0}}}'
  recorded_at: Tue, 22 Nov 2016 18:04:34 GMT
recorded_with: VCR 3.0.3
