---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hillary%20rodham%20clinton%20first%20lady%20(site:whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 27E4D22B23534F3A893CB378FCF799B2
      X-Msedge-Clientid:
      - 2C3EEDCE84496EE81711E70D85DE6FF0
      X-Msapi-Userstate:
      - '8075'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C74877D95C584652B614FF9EFAF7C4CF&CID=2C3EEDCE84496EE81711E70D85DE6FF0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C74877D95C584652B614FF9EFAF7C4CF&CID=2C3EEDCE84496EE81711E70D85DE6FF0&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hillary+rodham+clinton+first+lady+(site%3awhitehouse.gov)",
        "webSearchUrlPingSuffix": "DevEx,5357.1", "totalEstimatedMatches": 9, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Hillary
        Rodham Clinton | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/1600\/first-ladies\/hillaryclinton",
        "urlPingSuffix": "DevEx,5068.1", "about": [{"name": "Hillary Clinton"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/1600\/first-ladies\/hillaryclinton",
        "snippet": "Hillary Diane Rodham Clinton served as the First Lady of
        the United States to the 42nd President, Bill Clinton. She went on to become
        a U.S. Secretary of State and U ...", "dateLastCrawled": "2017-07-12T18:16:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "William
        J. Clinton | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/1600\/presidents\/williamjclinton",
        "urlPingSuffix": "DevEx,5086.1", "about": [{"name": "Bill Clinton"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/1600\/presidents\/williamjclinton", "snippet":
        "First Lady Melania Trump; ... William J. Clinton. ... Learn more about
[...]
