---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=%27death%20star%20r2d2%20xyz3%27%20(site:petitions.whitehouse.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - CC19169FC5224557B70B03271CCF8939
      X-Msedge-Clientid:
      - 162FBD895C236A46363EB1D15D2C6B26
      X-Msapi-Userstate:
      - '6273'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8513278999D94F7AB452B0D16C2F9135&CID=162FBD895C236A46363EB1D15D2C6B26&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8513278999D94F7AB452B0D16C2F9135&CID=162FBD895C236A46363EB1D15D2C6B26&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 27 Aug 2018 01:56:23 GMT
recorded_with: VCR 4.0.0
