---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28notes%29+language%3Aen+%28scopeid%3Ausagovall+OR+site%3Agov+OR+site%3Amil%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028notes\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":6940000,"Offset":0,"Results":[{"Title":"Individual
        - Treasury Notes","Description":"Treasury Notes. Treasury notes, sometimes
        called T-Notes, earn a fixed rate of interest every six months until maturity.
        Notes are issued in terms of 2, 3 ...","Url":"https\u003a\u002f\u002fwww.treasurydirect.gov\u002findiv\u002fproducts\u002fprod_tnotes_glance.htm","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dnotes\u0026d\u003d4509193278981027\u0026w\u003duGvo8YRARRoCi06CMgn8TxZfTE8-wOTz","DisplayUrl":"https\u003a\u002f\u002fwww.treasurydirect.gov\u002findiv\u002fproducts\u002fprod_tnotes_glance.htm","DateTime":"2016-06-02T10\u003a35\u003a00Z"},{"Title":"ESSA
        Notes - michigan.gov","Description":"ESSA Notes, Michigan\u2019s newsletter
        about our ESSA State Plan development efforts. Look for this newsletter as
        a source of information regarding\u003a","Url":"http\u003a\u002f\u002fwww.michigan.gov\u002fdocuments\u002fmde\u002fESSA_Notes_06-02-2016_525878_7.pdf","DisplayUrl":"www.michigan.gov\u002fdocuments\u002fmde\u002fESSA_Notes_06-02-2016_525878_7.pdf","DateTime":"2016-06-03[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28emergencia%29+language%3Aes+%28scopeid%3Ausagovall+OR+site%3Agov+OR+site%3Amil%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
  [...]
