---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=%27death%20star%20r2d2%20xyz3%27%20(site:petitions.whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 989B010D507F42A0B3454C771B5FCF29
      X-Msedge-Clientid:
      - 149FFC1153AF67BE01A0F6D25238661F
      X-Msapi-Userstate:
      - 456d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D2A7F0A900584C29BAE6BFE4EB2693C2&CID=149FFC1153AF67BE01A0F6D25238661F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D2A7F0A900584C29BAE6BFE4EB2693C2&CID=149FFC1153AF67BE01A0F6D25238661F&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 18 Jul 2017 18:12:55 GMT
recorded_with: VCR 3.0.3
