---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:www.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - FFC8FE945EBA4A58BEE1D94D9C4420F6
      X-Msedge-Clientid:
      - 1179806D787769A6312B8A5379E0686E
      X-Msapi-Userstate:
      - 529c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=69C1968A9C254D9BAA87AF5D5E965A58&CID=1179806D787769A6312B8A5379E0686E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=69C1968A9C254D9BAA87AF5D5E965A58&CID=1179806D787769A6312B8A5379E0686E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3awww.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5494.1", "totalEstimatedMatches": 12400,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Looking for a New Job | USA.gov", "url": "https:\/\/www.usa.gov\/job-search",
        "urlPingSuffix": "DevEx,5085.1", "displayUrl": "https:\/\/www.usa.gov\/job-search",
        "snippet": "Jobs and Unemployment. Business; Labor Laws and Issues; ...
        Looking for a New Job. Find out how to look for work in the private sector
        and federal government. Find a Federal Government Job. Learn ...", "deepLinks":
        [{"name": "Government Jobs", "url": "https:\/\/www.usa.gov\/government-jobs",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Find a Job", "url": "https:\/\/www.usa.gov\/find-a-job",
        "urlPingSuffix": "DevEx,5081.1"}], "dateLastCrawled": "2017-03-05T11:11:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Find a
        Job | USA.gov", "url": "https:\/\/www.usa.gov\/find-a-job", "urlPingSuffix":
        "DevEx,5101.1", "displayUrl": "https:\/\/www.usa.gov\/find-a-job", "snippet":
        "Jobs for Teens and Young Adults. Learn about occupations to help you plan
        your future (for grades K-12). Find tips and information for teens about how
        to get a job. Watch videos abo[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 11E8F6FDF8D449D3803B7C92DD0945B2
      X-Msedge-Clientid:
      - 36FC43792DA76D2D347B49472C306CEB
      X-Msapi-Userstate:
      - 5df5
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E103BC12F3E54EEAB20615FCCB61BC11&CID=36FC43792DA76D2D347B49472C306CEB&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E103BC12F3E54EEAB20615FCCB61BC11&CID=36FC43792DA76D2D347B49472C306CEB&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=jobs%20(site:.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5177.1", "totalEstimatedMatches": 143, "nextOffset":
        20, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=2DE1398FAA9526303BAE7C1267CD7DB4918F004D&simid=608013073792369870",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "Virginia Jobs", "thumbnailUrl":
        "https:\/\/tse4.mm.bing.net\/th?id=OIP.AIGFeteR54KszBGdtkt87wEsDQ&pid=Api",
        "datePublished": "2017-02-15T02:27:00.0000000Z", "contentUrl": "http:\/\/jobs.virginia.gov\/images\/people.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/jobs.virginia.gov\/",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "49581 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "jobs.virginia.gov", "width": 512, "height":
        356, "thumbnail": {"width": 300, "height": 208}, "imageInsightsToken": "ccid_AIGFeteR*mid_2DE1398FAA9526303BAE7C1267CD7DB4918F004D*simid_608013073792369870",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "2DE1398FAA9526303BAE7C1267CD7DB4918F004D", "accentColor": "9B8830"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=7047CBBB022DC63803C25D71F82773D87B882E2C&simid=608052488702526808",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "Highway sign saying, Careers,
        next exit", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.4fzVK9upjp2RBheObJqYngEsDH&pid=Api",
        "datePublished": "2010-02-06T04:22:00.0000000Z", "contentUrl": "http:\/\/www.mdt.mt.gov\/jobs\/i[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:usasearch.howto.gov/blog)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 11CEF1ED27F04F43805680FD6BD557F4
      X-Msedge-Clientid:
      - 12616537B155632110896F09B0C26245
      X-Msapi-Userstate:
      - 9c31
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B244EB7309FC407A9BFA88098E6E1CDD&CID=12616537B155632110896F09B0C26245&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B244EB7309FC407A9BFA88098E6E1CDD&CID=12616537B155632110896F09B0C26245&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 07 Mar 2017 20:12:21 GMT
[...]
