---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28first+item%29+language%3Aen+%28scopeid%3Ausagovall+OR+site%3Agov+OR+site%3Amil%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028first
        item\u0029 language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov
        OR site\u003amil\u0029"},"Web":{"Total":2590000,"Offset":0,"Results":[{"Title":"The
        first spadeful - Home \u007c Library of Congress","Description":"The first
        spadeful. About This Item\u003b Obtaining Copies\u003b Access to Original\u003b
        Title\u003a The first spadeful Creator\u0028s\u0029\u003a Rogers, W. A.
        \u0028William Allen \u0029, 1854-1931, artist ...","Url":"http\u003a\u002f\u002fwww.loc.gov\u002fpictures\u002fitem\u002f2010717820\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dfirst\u002bitem\u0026d\u003d4708415331045184\u0026w\u003djdhhqNTho9ddI9skKo02VfAs95mhyVKP","DisplayUrl":"www.loc.gov\u002fpictures\u002fitem\u002f2010717820","DateTime":"2016-05-16T19\u003a35\u003a00Z"},{"Title":"\u0022The
        first vote\u0022","Description":"\u0022The first vote\u0022 About This
        Item\u003b ... Title\u003a \u0022The first vote\u0022 \u002f AW \u005bmonogram\u005d
        \u003b drawn by A.R. Waud. Related Names\u003a Waud, Alfred R ...","Url":"http\u003a\u002f\u002fwww.loc.gov\u002fpictures\u002fitem\u002f00651117\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dfirst\u002bitem\u0026d\u003d45[...]
[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28loren%29+language%3Aen+%28scopeid%3Ausagovall+OR+site%3Agov+OR+site%3Amil%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    bod[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28noticia+uno%29+language%3Aes+%28scopeid%3Ausagovall+OR+site%3Agov+OR+site%3Amil%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028noticia
        uno\u0029 language\u003aes \u0028scopeid\u003ausagovall OR site\u003agov OR
        site\u003amil\u0029"},"Spell":{"Total":1,"Results":[{"Value":"noticias uno"}]},"Web":{"Total":112000,"Offset":0,"Results":[{"Title":"\u00bfQu\u00e9
        es una noticia\u003f \u007c IIP Digital","Description":"Una noticia es
        lo nuevo, ... El avi\u00f3n que se estrell\u00f3 en Chad aparecer\u00e1 en
        los titulares de todo el mundo si uno de los pasajeros era un famoso m\u00fasico
        de rock.","Url":"http\u003a\u002f\u002fiipdigital.usembassy.gov\u002fst\u002fspanish\u002fpublication\u002f2008\u002f11\u002f20081106112003pii0.6643[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28item%29+language%3Aen+%28scopeid%3Ausagovall+OR+site%3Agov+OR+site%3Amil%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body[...]
[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28obama%29+language%3Aes+%28scopeid%3Ausagovall+OR+site%3Agov+OR+site%3Amil%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    bod[...]
[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(first%20item)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028first
        item\u0029 language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov
        OR site\u003amil\u0029"},"Web":{"Total":3050000,"Offset":0,"Results":[{"Title":"Guidance
        for Industry\u003a A Food Labeling Guide \u00286 ...","Description":"A Food
        Labeling Guide, Chapter VI. Ingredient Lists Questions and Answers.","[...]
[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(loren)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    bod[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(noticia%20uno)%20language:es%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(item)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body[...]
[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(obama)%20language:es%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    bod[...]
[...]
