---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=jobs%20(site:www.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 47E8E09362E74DC8B6142853E0D7BA28
      X-Msedge-Clientid:
      - 2601BA8FAE2F6C7E1832B111AFCA6D46
      X-Msapi-Userstate:
      - '8125'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=44EAD9E6A7C94C7FB774F1EF23A1B589&CID=2601BA8FAE2F6C7E1832B111AFCA6D46&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=44EAD9E6A7C94C7FB774F1EF23A1B589&CID=2601BA8FAE2F6C7E1832B111AFCA6D46&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3awww.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5557.1", "totalEstimatedMatches": 100000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Jobs and Career Information | USAGov", "url": "https:\/\/www.usa.gov\/jobs-careers",
        "urlPingSuffix": "DevEx,5091.1", "displayUrl": "https:\/\/www.usa.gov\/jobs-careers",
        "snippet": "Jobs and Career Information. Find information about different
        career fields. Animal Care and Science. Find career information about animal
        science and care.", "dateLastCrawled": "2018-02-10T11:32:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Find a Federal
        Government Job | USAGov", "url": "https:\/\/www.usa.gov\/government-jobs",
        "urlPingSuffix": "DevEx,5112.1", "displayUrl": "https:\/\/www.usa.gov\/government-jobs",
        "snippet": "The federal government has job opportunities available now in
        agencies throughout the U.S. If you’re interested in a job with the federal
        government, v[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F4AB8A40E4944DFD9E9DBA145142A6E0
      X-Msedge-Clientid:
      - 32C70328BD346E150BEA08B6BCD16F9B
      X-Msapi-Userstate:
      - b4fb
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=20E22359C2F6432898470DB6419A1513&CID=32C70328BD346E150BEA08B6BCD16F9B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=20E22359C2F6432898470DB6419A1513&CID=32C70328BD346E150BEA08B6BCD16F9B&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=jobs%20(site:.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5184.1", "totalEstimatedMatches": 143, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=92A97DA7212D2447B5AF104B4DE742DB0F7E0094&simid=608028141260704548",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "Official website of the
        City of Tucson", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.CILJB7SU-MkBV5IvFEh1fAAAAA&pid=Api",
        "datePublished": "2017-12-11T19:55:00.0000000Z", "contentUrl": "https:\/\/www.tucsonaz.gov\/images\/jobs.png",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "https:\/\/www.tucsonaz.gov\/",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "6441 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "https:\/\/www.tucsonaz.gov", "width": 120, "height":
        120, "thumbnail": {"width": 120, "height": 120}, "imageInsightsToken": "ccid_CILJB7SU*mid_92A97DA7212D2447B5AF104B4DE742DB0F7E0094*simid_608028141260704548",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "92A97DA7212D2447B5AF104B4DE742DB0F7E0094", "accentColor": "996632"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=E361EF5CE0D389DAF5FF10EE7E19CB266F8C1B4D&simid=608016510554671549",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "Returning Service Members
        (OEF\/OIF\/OND) Home", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.M6_jOa2h1L7UCOf7vLlhsAAAAA&pid=Api",
        "datePublished": "2017-01-21T04:51:00.0000000Z", "contentUrl": "http:\/\/www.va.gov\/HEAL[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=jobs%20(site:search.gov/blog/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - BAE13B7C01CC4BA7A39AC9C413F7BFC1
      X-Msedge-Clientid:
      - '02799295BFCF68B32694990BBE2A695F'
      X-Msapi-Userstate:
      - 23b2
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=402FBFBBAE8244E9994D95EDD0EE547F&CID=02799295BFCF68B32694990BBE2A695F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=402FBFBBAE8244E9994D95EDD0EE547F&CID=02799295BFCF68B32694990BBE2A695F&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 22 Feb 2018 07:24:17 GMT
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=jobs%20(site:www.usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - BB7E5949A6284785B900E398C08F6AC9
   [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D629DE46D76D4DF9B4E0E9EA01CEC4D5
  [...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=jobs%20(site:search.gov/blog/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A43CFC7D0C5B4DFCAD725F333B41D75[...]
[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=jobs%20(site:www.usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F5F83F34425B496DBCE97721B77F02CF
      Bingapis-Sessionid:
      - 8DD9A1FCD59A40958D7379619AEC6271
      X-Msedge-Clientid:
      - 15238B25718A64AC0A1F87DF70C6650E
      X-Msapi-Userstate:
      - ec9e
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=223,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "jobs
        (site:www.usa.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3awww.usa.gov)",
        "totalEstimatedMatches": 141000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Find a Federal Government Job | USAGov", "url": "https:\/\/www.usa.gov\/government-jobs",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usa.gov\/government-jobs",
        "snippet": "Search for jobs, and explore the government''s most urgent
        hiring needs. Create or upload resumes and find\/apply for jobs. Learn about
        federal employment for non-U.S. citizens. Get help applying for federal jobs.
        How to Apply for a Federal Government Job Through USAJOBS. You must create
        a USAJOBS profile to apply for any jobs.", "dateLastCrawled": "2019-01-31T14:37:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Research Career Fields | USAGov", "url": "https:\/\/www.usa.gov\/jobs-careers",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usa.gov\/jobs-careers",
        "snippet": "Learn more about other jobs at the Bureau of Labor Statistic’s
        Occupational Outlook Handbook. Animal Care and Science. Find career information
        about animal science and care. Architecture and Engi[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/search?count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B092DBF2D30F4808A5CA409BBB251D90
      X-Msedge-Clientid:
      - 03E133A349F3692611743F5948BF68A6
      X-Msapi-Userstate:
      - f0d9
      X-Search-Responseinfo:
      - InternalResponseTime=268,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "images\/search?q=jobs (site:.gov)", "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=jobs
        (site:.gov)&FORM=OIIARP", "queryContext": {"originalQuery": "jobs (site:.gov)",
        "alterationDisplayQuery": "jobs (site:.gov)", "alterationOverrideQuery": "+jobs
        (site:.gov)", "alterationMethod": "AM_JustChangeIt", "alterationType": "CombinedAlterationsChained"},
        "totalEstimatedMatches": 143, "nextOffset": 21, "value": [{"webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=17611597FDFB36DB2F8A893F12BEEE0A0512966F&simid=608048199575669229",
        "name": "Job Opportunities - District Court of Guam", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.iwh6nih6vYJcmDEccMy3PgHaEg&pid=Api",
        "datePublished": "2016-11-04T13:54:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "http:\/\/www.gud.uscourts.gov\/sites\/default\/files\/dreamstime_m_21912762.jpg",
        "hostPageUrl": "http:\/\/www.gud.uscourts.gov\/public\/jobs-opportunities",
        "contentSize": "827132 B", "encodingFormat": "jpeg", "hostPageDisplayUrl":
        "www.gud.uscourts.gov\/public\/jobs-opportunities", "width": 2218, "height":
        1351, "thumbnail": {"width": 474, "height": 288}, "imageInsightsToken": "ccid_iwh6nih6*mid_17611597FDFB36DB2F8A893F12BEEE0A0512966F*simid_608048199575669229*thid_OIP.iwh6nih6vYJcmDEccMy3PgHaEg",
        "insightsMetadata": {"recipeSourcesCount": 0, "bestRepresentativeQuery": {"text":
        "Magnifying Glass with Job", "displayText": "Magnifying Glass with Job", "webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?q=Magnifying+Glass+with+Job&id=17611597FDFB36DB2F8A893F12BEEE0A0512966F&FORM=IDBQDM"},
        "pagesIncludingCount": 21, "availableSizesCount": 17}, "imageId": "17611597FDFB36DB2F8A893F12BEEE0A0512966F",
        "accentColor": "C61D05"}, {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=2DE1398FAA9526303BAE7C1267CD7DB4918F004D&simid=608013075363202524",
        "name": "Virginia Jobs", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.AIGFeteR54KszBGdtkt87wHaFJ&pid=Api",
        "datePublished": "2018-12-19T21:44:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": [...]
[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=jobs%20(site:search.gov/blog/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
   [...]
[...]
