---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(hippopotomonstrosesquippedaliophobia)%20language:en%20(site:nih.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028hippopotomonstrosesquippedaliophobia\u0029
        language\u003aen \u0028site\u003anih.gov\u0029"},"Web":{"Total":1,"Offset":0,"Results":[{"Title":"Age
        of onset of mental disorders\u003a a review of recent ...","Description":"1.
        Curr Opin Psychiatry. 2007 Jul\u003b20\u00284\u0029\u003a359-64. Age of onset
        of mental disorders\u003a a review of recent literature. Kessler RC\u00281\u0029,
        Amminger GP, Aguilar-Gaxiola S, Alonso ...","Url":"https\u003a\u002f\u002fwww.ncbi.nlm.nih.gov\u002fpubmed\u002f17551351","DisplayUrl":"https\u003a\u002f\u002fwww.ncbi.nlm.nih.gov\u002fpubmed\u002f17551351","DateTime":"2016-11-30T01\u003a28\u003a00Z"}]}}}'
  recorded_at: Wed, 06 Dec 2017 17:00:00 GMT
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hippopotomonstrosesquippedaliophobia%20(site:nih.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C4495DB58BF94B2D8965603615743121
      X-Msedge-Clientid:
      - 1010B27532206363094AB86B33B762F0
      X-Msapi-Userstate:
      - 0d28
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F2BFA07E7F6445DABA0430CBB1C3261A&CID=1010B27532206363094AB86B33B762F0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F2BFA07E7F6445DABA0430CBB1C3261A&CID=1010B27532206363094AB86B33B762F0&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Fri, 03 Feb 2017 23:00:07 GMT
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hippopotomonstrosesquippedaliophobia%20(site:nih.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F229FC83425A4B6EB3AC137954CBEB5C
      X-Msedge-Clientid:
      - 2D6710A7E6166A02214D1AB9E7816BA8
      X-Msapi-Userstate:
      - b897
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A0D98E2662C847C186BCBC54C6AE3A5C&CID=2D6710A7E6166A02214D1AB9E7816BA8&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A0D98E2662C847C186BCBC54C6AE3A5C&CID=2D6710A7E6166A02214D1AB9E7816BA8&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Fri, 03 Feb 2017 23:00:14 GMT
recorded_with: VCR 3.0.3
