---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=warnings%20for%20a%20tornado%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 124379DB7EC74C4EAE81CADD8E48B0A5
      X-Msedge-Clientid:
      - 15CC4666DCD6680C21F14D6EDD4169DC
      X-Msapi-Userstate:
      - '1992'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=3FFC254C6FF844098094DD289DA5AC04&CID=15CC4666DCD6680C21F14D6EDD4169DC&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=3FFC254C6FF844098094DD289DA5AC04&CID=15CC4666DCD6680C21F14D6EDD4169DC&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=warnings+for+a+tornado+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5511.1", "totalEstimatedMatches": 6570000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Being Prepared (Part 1)|Tornadoes", "url": "https:\/\/www.cdc.gov\/disasters\/tornadoes\/prepared.html",
        "urlPingSuffix": "DevEx,5080.1", "displayUrl": "https:\/\/www.cdc.gov\/disasters\/tornadoes\/prepared.html",
        "snippet": "Stay Tuned for Storm Watches and Warnings When there are thunderstorms
        in your area, turn on your radio or TV to get the latest emergency information
        from local ...", "dateLastCrawled": "2017-09-15T22:15:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Active Alerts
        - National Weather Service", "url": "https:\/\/www.weather.gov\/alerts",
        "urlPingSuffix": "DevEx,5095.1", "displayUrl": "https:\/\/www.weather.gov\/alerts",
        "snippet": "Active Alerts. Weather.gov > Active Alerts . Warnings
        By State ... Severe Weather Current Outlook Maps Drought Fire Weather Fronts\/Precipitation
        Maps"[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=atlantic%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; c[...]
