---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(jobs%20site:www.usa.gov)%20language:en&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028jobs
        site\u003awww.usa.gov\u0029 language\u003aen"},"Web":{"Total":63400,"Offset":0,"Results":[{"Title":"Looking
        for a New Job \u007c USAGov","Description":"Looking for a New Job. Find out
        how to look for work in the private sector and federal government. Find a
        Federal Government Job. Learn how to find a job with the ...","Url":"https\u003a\u002f\u002fwww.usa.gov\u002fjob-search","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003djobs\u0026d\u003d4922562393212896\u0026w\u003di8JzghFZlyW-hc1UKexwO_i6eTHZSFgu","DisplayUrl":"https\u003a\u002f\u002fwww.usa.gov\u002fjob-search","DateTime":"2016-12-02T23\u003a38\u003a00Z"},{"Title":"JOBS
        \u2013 USA \u2013 FIND A JOB - USAGov","Description":"Jobs for Teens and
        Young Adults. Learn about occupations to help you plan your future \u0028for
        grades K-12\u0029. Find tips and information for teens about how to get a
        job.","Url":"https\u003a\u002f\u002fwww.usa.gov\u002ffind-a-job","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003djobs\u0026d\u003d4674064207907396\u0026w\u003dWt_HL[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(jazz)%20language:en%20(site:usa.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string:[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 60842E3714CE4F85897533F63D68B6A3
      X-Msedge-Clientid:
      - 31BCE22BC4066EA32A3BEBD4C5916FBB
      X-Msapi-Userstate:
      - e80b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5E68BE4F28174C6DB79AD10164E077F0&CID=31BCE22BC4066EA32A3BEBD4C5916FBB&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5E68BE4F28174C6DB79AD10164E077F0&CID=31BCE22BC4066EA32A3BEBD4C5916FBB&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5475.1", "totalEstimatedMatches": 25300,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Looking for a New Job | USAGov", "url": "https:\/\/www.usa.gov\/job-search",
        "urlPingSuffix": "DevEx,5102.1", "displayUrl": "https:\/\/www.usa.gov\/job-search",
        "snippet": "Jobs and Unemployment. Business; Labor Laws and Issues; Looking
        for a New Job; Public Service and Volunteer Opportunities; Retirement; U.S.
        Government Employees;", "dateLastCrawled": "2017-01-01T08:33:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Find a
        Job | USAGov", "url": "https:\/\/www.usa.gov\/find-a-job", "urlPingSuffix":
        "DevEx,5115.1", "displayUrl": "https:\/\/www.usa.gov\/find-a-job", "snippet":
        "Jobs for Teens and Young Adults. Learn about occupations to help you plan
        your future (for grades K-12). Find tips and information for teens about how
        to get a job.", "dateLastCrawled"[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jazz%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
   [...]
