---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=noaa%20(site:www.sba.gov/blogs)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 77B691C48175409F8B874136A6F63996
      X-Msedge-Clientid:
      - 1F878159AB89665436E78B64AA1E6783
      X-Msapi-Userstate:
      - 8dd3
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=84A610A3DA4A48D6A1ECBE4336F3662F&CID=1F878159AB89665436E78B64AA1E6783&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=84A610A3DA4A48D6A1ECBE4336F3662F&CID=1F878159AB89665436E78B64AA1E6783&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=noaa+(site%3awww.sba.gov%2fblogs)",
        "webSearchUrlPingSuffix": "DevEx,5308.1", "totalEstimatedMatches": 13, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Get Tips
        and Information about Hurricane Preparedness for ...", "url": "https:\/\/www.sba.gov\/blogs\/get-tips-and-information-about-hurricane-preparedness-your-business",
        "urlPingSuffix": "DevEx,5068.1", "displayUrl": "https:\/\/www.sba.gov\/blogs\/get-tips-and-information-about-hurricane...",
        "snippet": "www.nhc.noaa.gov\/prepare\/--National Hurricane Center. About
        the Author: Carol Chastang. SBA Official . Comments: KimmyBurgess | 6\/1\/2015
        - 3:32 am.", "dateLastCrawled": "2017-02-03T02:54:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "U.S. Department of Commerce: Promoting Innovation through ...", "url":
        "https:\/\/www.sba.gov\/blogs\/us-department-commerce-promoting-innovation-through-small-business-innovation-research-program",
        "urlPingSuffix": "DevEx,5083.1", "displayUrl": "https:\/\/www.sba.gov\/blogs\/us-department-commerce-promoting...",
        "snippet": "NOAA’s FY 2016 solicitation is set [...]
