---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hello%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2C94BE03BA5F42AEB604990D1181D8D9
      X-Msedge-Clientid:
      - 18CC226E872965D63C4029E886866487
      X-Msapi-Userstate:
      - 72ea
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=BF59F677664440DB80E730949E875730&CID=18CC226E872965D63C4029E886866487&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=BF59F677664440DB80E730949E875730&CID=18CC226E872965D63C4029E886866487&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hello+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5467.1", "totalEstimatedMatches": 1870000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Hello All", "url": "https:\/\/www.dir.ca.gov\/dosh\/ADA\/DisabilityAccomodationCoordinators.doc",
        "urlPingSuffix": "DevEx,5085.1", "displayUrl": "https:\/\/www.dir.ca.gov\/dosh\/ADA\/DisabilityAccomodationCoordinators.doc",
        "snippet": "Oakland DOSH Administration Headquarters ... William Estakhri
        – backup. San Bernardino ... Hello All Author: DIR Last modified by:", "dateLastCrawled":
        "2018-01-12T00:37:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Hello!", "url": "https:\/\/ksbn.kansas.gov\/wp-content\/uploads\/Newsletter\/4qtr2017.pdf",
        "urlPingSuffix": "DevEx,5099.1", "displayUrl": "https:\/\/ksbn.kansas.gov\/wp-content\/uploads\/Newsletter\/4qtr2017.pdf",
        "snippet": "Hello, I would like to introduce myself. My name is Carol Moreland
        and I am the new Executive Administrator of the Kansas State[...]
