---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=hello%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7355CD33FCCF48E3AEF4E5083FD0E3D0
      X-Msedge-Clientid:
      - 2D2D42E8E47B65D4231F4976E59E6438
      X-Msapi-Userstate:
      - f56f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9694490011BA418AB31D43C5EBE84946&CID=2D2D42E8E47B65D4231F4976E59E6438&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9694490011BA418AB31D43C5EBE84946&CID=2D2D42E8E47B65D4231F4976E59E6438&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hello+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5477.1", "totalEstimatedMatches": 834000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Hello From Above | NASA", "url": "https:\/\/www.nasa.gov\/image-feature\/hello-from-above\/",
        "urlPingSuffix": "DevEx,5085.1", "displayUrl": "https:\/\/www.nasa.gov\/image-feature\/hello-from-above",
        "snippet": "Greetings from @Astro_Sabot, otherwise known as Mark Vande Hei,
        from aboard the International Space Station.", "dateLastCrawled": "2018-02-10T14:30:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Hello.
        How Are You? | Colchester, VT", "url": "http:\/\/colchestervt.gov\/2898\/Hello-How-Are-You",
        "urlPingSuffix": "DevEx,5098.1", "displayUrl": "colchestervt.gov\/2898\/Hello-How-Are-You",
        "snippet": "Hello. How Are You? An outreach program in which Colchester
        Police are developing, connecting senior citizens with the police department
        bef[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=hello%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9BCE88F11AD844899020FCED691[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=hello%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4F4BBB37D8D44C2DA7F2859C18C37F72
      Bingapis-Sessionid:
      - 262CC0620BEC482196CEFF1EF3D29EFB
      X-Msedge-Clientid:
      - 103A86E48A986B4F0D4D8A1E8BD46A37
      X-Msapi-Userstate:
      - f9a4
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=205,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "hello
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hello+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 2050000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "#GoodbyeViaduct – Hello, SR #99Tunnel! Here’s what you ...", "url":
        "http:\/\/sdotblog.seattle.gov\/2019\/01\/29\/goodbyeviaduct-hello-sr-99tunnel-heres-what-you-need-to-know\/",
        "isFamilyFriendly": true, "displayUrl": "sdotblog.seattle.gov\/2019\/01\/29\/goodbyeviaduct-hello-sr-99tunnel...",
        "snippet": "WSDOT’s website for the new SR 99 tunnel, www.99tunnel.com, is
        your best resource for learning all about the new tunnel.Watch these videos
        that show you how to use the new tunnel and how connections to downtown will
        be different. (Videos also available in Spanish and Chinese – Mandarin and
        Cantonese.) Check it out! Know about construction still underway.", "dateLastCrawled":
        "2019-01-31T20:38:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "WSDOT announces weekend celebration to say “hello” new ...", "url": "https:\/\/www.wsdot.wa.gov\/news\/2018\/11\/01\/wsdot-announces-weekend-celebration-say-hello-new-tunnel-goodbye-old-viaduct",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.wsdot.wa.gov\/news\/2018\/11\/01\/wsdot-announces-weekend...",
        "snippet": "WSDOT announces weekend celebration to say “hello[...]
