---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=chupacabra%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 347C43B796384D378C119C32208B1858
      X-Msedge-Clientid:
      - '080985BC73CD62D60D1589DC721A63E6'
      X-Msapi-Userstate:
      - 2de1
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=107371C0105F4ABCAE3E334C5AAE73BB&CID=080985BC73CD62D60D1589DC721A63E6&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=107371C0105F4ABCAE3E334C5AAE73BB&CID=080985BC73CD62D60D1589DC721A63E6&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=chupacabra+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5414.1", "totalEstimatedMatches": 16000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Show-Me Freaks of Nature", "url": "https:\/\/mdc.mo.gov\/blogs\/fresh-afield\/show-me-freaks-nature",
        "urlPingSuffix": "DevEx,5067.1", "displayUrl": "https:\/\/mdc.mo.gov\/blogs\/fresh-afield\/show-me-freaks-nature",
        "snippet": "Although the chupacabra and Momo are ... Really enjoyed learning
        about Show-Me Freaks of Nature. My brother wanted to know about the Piasa
        Bird he spotted flying ...", "dateLastCrawled": "2018-08-14T07:09:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "TPWD:
        Chupacabra Point | | Texas Paddling Trails", "url": "https:\/\/tpwd.texas.gov\/fishboat\/boat\/paddlingtrails\/inland\/runawaybay_chupacabra\/",
        "urlPingSuffix": "DevEx,5080.1", "displayUrl": "https:\/\/tpwd.texas.gov\/...\/paddlingtrails\/inland\/runawaybay_chupacabra",
        "snippet": "Chupacabra Point Paddling ... Proceed South on Blue Fathom drive,
    [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=foobarbazbiz%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 97F825619CA54D9CB6E44ED8B383AD9B
      X-Msedge-Clientid:
      - '038C16839D2769E213931AE39CF06849'
      X-Msapi-Userstate:
      - 1a11
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=412A3A0DCA284C6F880381F913D64EFA&CID=038C16839D2769E213931AE39CF06849&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=412A3A0DCA284C6F880381F913D64EFA&CID=038C16839D2769E213931AE39CF06849&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 04 Sep 2018 21:12:18 GMT
recorded_with: VCR 4.0.0
