---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=warnings%20for%20a%20tornado%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B6E703185EA441D6B35A78A0BA04EF05
      X-Msedge-Clientid:
      - 3757417BEC7D65A03E4E4B97EDEA64C9
      X-Msapi-Userstate:
      - 011b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DBA47F90982F471D831DCA346EE512A4&CID=3757417BEC7D65A03E4E4B97EDEA64C9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DBA47F90982F471D831DCA346EE512A4&CID=3757417BEC7D65A03E4E4B97EDEA64C9&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=warnings+for+a+tornado+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5509.1", "totalEstimatedMatches": 7550000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Being Prepared (Part 1)|Tornadoes", "url": "https:\/\/www.cdc.gov\/disasters\/tornadoes\/prepared.html",
        "urlPingSuffix": "DevEx,5080.1", "displayUrl": "https:\/\/www.cdc.gov\/disasters\/tornadoes\/prepared.html",
        "snippet": "Stay Tuned for Storm Watches and Warnings When there are thunderstorms
        in your area, turn on your radio or TV to get the latest emergency information
        from local ...", "dateLastCrawled": "2017-07-28T17:28:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Preparing for
        a Tornado - StormAware Tornado Safety", "url": "https:\/\/stormaware.mo.gov\/preparing-for-a-tornado\/",
        "urlPingSuffix": "DevEx,5099.1", "displayUrl": "https:\/\/stormaware.mo.gov\/preparing-for-a-tornado",
        "snippet": "Quick Tornado Facts. Parents should make sure their children
        know: What a tornado is; What tornado watches and warnings are; What
        county or parish they live in ...", "deepLinks": [{"name": "Alerts", "url":
        "https:\/\/stormaware.mo.gov\/alerts\/", "urlPingSuffix": "DevEx,5093.1"},
        {"name": "SEMA", "url": "http:\/\/sema.dps.mo.gov\/", "urlPingSuffix": "DevEx,5094.1"}],
        "dateLastCrawled": "2017-08-20T10:51:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "Tornadoes | Ready.gov", "url": "https:\/\/www.ready.gov\/tornadoes",
        "urlPingSuffix": "DevEx,5115.1", "displayUrl": "https:\/\/www.ready.gov\/tornado",
        "snippet": "This page explains what actions to take when you receive a tornado
        watch or warning alert from the National Weather Service for your local
        area and what to do before ...", "dateLastCrawled": "2017-08-22T05:57:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "NWS Tornado
        Safety: prepare for a Tornado", "url": "http:\/\/www.nws.noaa.gov\/om\/tornado\/prepare.shtml",
        "urlPingSuffix": "DevEx,5129.1", "displayUrl": "www.nws.noaa.gov\/om\/tornado\/prepare.shtml",
        "snippet": "Prepare! Don''t let Tornadoes Take You by Surprise. The links
        below will help you find out what you can do now to prepare for a tornado.
        Preparation is key to staying ...", "dateLastCrawled": "2017-08-09T21:19:00.0000000Z"},
        {"id": "https:\/\/www.binga[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=atlantic%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; c[...]
