---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28hippopotomonstrosesquippedaliophobia%29+language%3Aen+%28site%3Anih.gov%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028hippopotomonstrosesquippedaliophobia\u0029
        language\u003aen \u0028site\u003anih.gov\u0029"},"Web":{"Total":0,"Offset":0}}}'
  recorded_at: Fri, 10 Jun 2016 23:13:27 GMT
[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(hippopotomonstrosesquippedaliophobia)%20language:en%20(site:nih.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028hippopotomonstrosesquippedaliophobia\u0029
        language\u003aen \u0028site\u003anih.gov\u0029"},"Web":{"Total":1,"Offset":0,"Results":[{"Title":"Age
        of onset of mental disorders\u003a a review of recent ...","Description":"1.
        Curr Opin Psychiatry. 2007 Jul\u003b20\u00284\u0029\u003a359-64. Age of onset
        of mental disorders\u003a a review of recent literature. Kessler RC\u00281\u0029,
        Amminger GP, Aguilar-Gaxiola S, Alonso ...","Url":"https\u003a\u002f\u002fwww.ncbi.nlm.nih.gov\u002fpubmed\u002f17551351","DisplayUrl":"https\u003a\u002f\u002fwww.ncbi.nlm.nih.gov\u002fpubmed\u002f17551351","DateTime":"2016-11-13T12\u003a28\u003a00Z"}]}}}'
  recorded_at: Tue, 22 Nov 2016 18:03:52 GMT
[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(hippopotomonstrosesquippedaliophobia)%20language:en%20(site:nih.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028hippopotomonstrosesquippedaliophobia\u0029
        language\u003aen \u0028site\u003anih.gov\u0029"},"Web":{"Total":1,"Offset":0,"Results":[{"Title":"Age
        of onset of mental disorders\u003a a review of recent ...","Description":"1.
        Curr Opin Psychiatry. 2007 Jul\u003b20\u00284\u0029\u003a359-64. Age of onset
        of mental disorders\u003a a review of recent literature. Kessler RC\u00281\u0029,
        Amminger GP, Aguilar-Gaxiola S, Alonso ...","Url":"https\u003a\u002f\u002fwww.ncbi.nlm.nih.gov\u002fpubmed\u002f17551351","DisplayUrl":"https\u003a\u002f\u002fwww.ncbi.nlm.nih.gov\u002fpubmed\u002f17551351","DateTime":"2016-11-13T12\u003a28\u003a00Z"}]}}}'
  recorded_at: Tue, 22 Nov 2016 18:04:00 GMT
recorded_with: VCR 3.0.3
