---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=warnings%20for%20a%20tornado%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F49D1D24AFB74BC8A2F7A011B01AD835
      X-Msedge-Clientid:
      - 3F9E6B4C12D36AAA02E560C0137C6B27
      X-Msapi-Userstate:
      - 0fbd
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E40912341DAA4D7F9839D4664E57134C&CID=3F9E6B4C12D36AAA02E560C0137C6B27&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E40912341DAA4D7F9839D4664E57134C&CID=3F9E6B4C12D36AAA02E560C0137C6B27&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=warnings+for+a+tornado+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5544.1", "totalEstimatedMatches": 17400000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Tornadoes | Ready.gov", "url": "https:\/\/www.ready.gov\/tornadoes",
        "urlPingSuffix": "DevEx,5094.1", "about": [{"name": "Tornado"}, {"name": "Tornado"}],
        "displayUrl": "https:\/\/www.ready.gov\/tornado", "snippet": "This page
        explains what actions to take when you receive a tornado watch or warning
        alert from the National Weather Service for your local area and what to do
        before ...", "dateLastCrawled": "2018-01-26T03:58:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Alerts & Warning Systems - Storm Aware", "url": "https:\/\/stormaware.mo.gov\/alerts\/",
        "urlPingSuffix": "DevEx,5111.1", "displayUrl": "https:\/\/stormaware.mo.gov\/alerts",
        "snippet": "Tornado Sirens What should I do when I hear the sirens? When
        you hear tornado sirens, go inside and tune to local media to get more information.
        Why can’t I hear ...", "deepLinks": [{"name": "Local Warning Systems", "url":
        "https:\/\/stormaware.mo.gov\/alerts\/warning-systems\/", "urlPingSuffix":
        "DevEx,5105.1"}, {"name": "Facts & History", "url": "https:\/\/stormaware.mo.gov\/tornado-facts-history\/",
        "urlPingSuffix": "DevEx,5106.1"}], "dateLastCrawled": "2018-01-27T13:23:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Being
        Prepared (Part 1)|Tornadoes", "url": "https:\/\/www.cdc.gov\/disasters\/tornadoes\/prepared.html",
        "urlPingSuffix": "DevEx,5126.1", "displayUrl": "https:\/\/www.cdc.gov\/disasters\/tornadoes\/prepared.html",
        "snippet": "Stay Tuned for Storm Watches and Warnings When there are thunderstorms
        in your area, turn on your radio or TV to get the latest emergency information
        from local ...", "dateLastCrawled": "2018-01-21T11:05:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "Preparing for
        a Tornado - StormAware Tornado Safety", "url": "https:\/\/stormaware.mo.gov\/preparing-for-a-tornado\/",
        "urlPingSuffix": "DevEx,5141.1", "displayUrl": "https:\/\/stormaware.mo.gov\/preparing-for-a-tornado",
        "snippet": "Quick Tornado Facts. Parents should make sure their children
        know: What a tornado is; What tornado watches and warnings are; What
        county or parish they live in ...", "dateLastCrawled": "2018-01-28T12:07:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.4", "name": "Severe
        Weather Definitions", "url": "https:\/\/www.weather.gov\/bgm\/severedefinitions",
        "urlPingSuffix": "DevEx,5157.1", "displayUrl": "https:\/\/www.weather.gov\/bgm\/severedefinitions",
        "snippet": "A Tornado Warning is issued[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=atlantic%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; c[...]
