---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:www.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0577061F2EA3479AB585B68CA265B1C7
      X-Msedge-Clientid:
      - 22C6104C4F166CD61A881B444E816DCB
      X-Msapi-Userstate:
      - 03e9
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=32E8BEC17AA249B7A025007536320A87&CID=22C6104C4F166CD61A881B444E816DCB&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=32E8BEC17AA249B7A025007536320A87&CID=22C6104C4F166CD61A881B444E816DCB&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3awww.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5515.1", "totalEstimatedMatches": 120000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Find a Federal Government Job | USAGov", "url": "https:\/\/www.usa.gov\/government-jobs",
        "urlPingSuffix": "DevEx,5084.1", "displayUrl": "https:\/\/www.usa.gov\/government-jobs",
        "snippet": "The federal government has job opportunities available now in
        agencies throughout the U.S. If you’re interested in a job with the federal
        government, visit USAJOBS ...", "dateLastCrawled": "2017-09-18T18:29:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Looking
        for a New Job | USAGov", "url": "https:\/\/www.usa.gov\/job-search", "urlPingSuffix":
        "DevEx,5103.1", "displayUrl": "https:\/\/www.usa.gov\/job-search", "snippet":
        "Looking for a New Job. Find out how to look for work in the private sector
        and federal government. Find a Federal Government Job. Learn how to find a
        job with the ...", "deepLinks": [{"name": "Find a Job", "url": "https:\/\/www.usa.gov\/find-a-job",
        "urlPingSuffix": "DevEx,5098.1"}, {"name": "Government Jobs", "url": "https:\/\/www.usa.gov\/government-jobs",
        "urlPingSuffix": "DevEx,5099.1"}], "dateLastCrawled": "2017-09-17T08:59:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Government
        Careers | USAGov", "url": "https:\/\/www.usa.gov\/government-careers", "urlPingSuffix":
        "DevEx,5119.1", "displayUr[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3290FB5462CA4981AEBA01095856D09B
      X-Msedge-Clientid:
      - 06E20FB03D896DBB34D104B83C1E6C1D
      X-Msapi-Userstate:
      - f5ad
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=95AF13E8036147EEBEB7F18B3F280645&CID=06E20FB03D896DBB34D104B83C1E6C1D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=95AF13E8036147EEBEB7F18B3F280645&CID=06E20FB03D896DBB34D104B83C1E6C1D&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=jobs%20(site:.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5182.1", "totalEstimatedMatches": 144, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=909C9C2C54D476AEA7A3C15E0C60DF56070E4024&simid=608004479955176175",
        "webSearchUrlPingSuffix": "DevEx,5023.1", "name": "ACS - Youth", "thumbnailUrl":
        "https:\/\/tse1.mm.bing.net\/th?id=OIP.vNwNnviOn2F5EHQWmctciwEsEs&pid=Api",
        "datePublished": "2017-07-13T16:56:00.0000000Z", "contentUrl": "http:\/\/www1.nyc.gov\/assets\/acs\/images\/content\/youth\/jobs.jpg",
        "contentUrlPingSuffix": "DevEx,5025.1", "hostPageUrl": "http:\/\/www1.nyc.gov\/site\/acs\/youth\/youth.page",
        "hostPageUrlPingSuffix": "DevEx,5024.1", "contentSize": "57892 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www1.nyc.gov\/site\/acs\/youth\/youth.page",
        "width": 800, "height": 800, "thumbnail": {"width": 300, "height": 300}, "imageInsightsToken":
        "ccid_vNwNnviO*mid_909C9C2C54D476AEA7A3C15E0C60DF56070E4024*simid_608004479955176175",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "909C9C2C54D476AEA7A3C15E0C60DF56070E4024", "accentColor": "3A9190"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=92A97DA7212D2447B5AF626A5FF02F4C3DCFB73A&simid=608025435075576002",
        "webSearchUrlPingSuffix": "DevEx,5029.1", "name": "Official website of the
        City of Tucson", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.4cPKQZlgs-e_5u2kwpAoxAB4B4&pid=Api",
        "datePublished": "2017-08-18T04:11:00.0000000Z", "contentUrl": "https:\/\/www.tucsonaz.gov\/image[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:usasearch.howto.gov/blog)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F82647B83CB844F2908FB0535589379B
      X-Msedge-Clientid:
      - 3DE5613911176BF91EFB6A3110806ACC
      X-Msapi-Userstate:
      - a570
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=6B19F2A7D1654E7E9682A312FB621985&CID=3DE5613911176BF91EFB6A3110806ACC&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=6B19F2A7D1654E7E9682A312FB621985&CID=3DE5613911176BF91EFB6A3110806ACC&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 25 Sep 2017 17:01:08 GMT
[...]
