---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=noaa%20(site:www.sba.gov/blogs/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 140377C934E34D83821F0D505DE72F62
      X-Msedge-Clientid:
      - 2F25031CDAC169AC27220882DB24686E
      X-Msapi-Userstate:
      - 0b66
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C39A036144BD47DDAE5269BA840F9019&CID=2F25031CDAC169AC27220882DB24686E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C39A036144BD47DDAE5269BA840F9019&CID=2F25031CDAC169AC27220882DB24686E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=noaa+(site%3awww.sba.gov%2fblogs%2f)",
        "webSearchUrlPingSuffix": "DevEx,5257.1", "totalEstimatedMatches": 7, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Get Tips
        and Information about Hurricane Preparedness for ...", "url": "https:\/\/www.sba.gov\/blogs\/get-tips-and-information-about-hurricane-preparedness-your-business",
        "urlPingSuffix": "DevEx,5068.1", "displayUrl": "https:\/\/www.sba.gov\/blogs\/get-tips-and-information-about-hurricane...",
        "snippet": "www.nhc.noaa.gov\/prepare\/--National Hurricane Center. About
        the Author: Carol Chastang. SBA Official . More Posts in this category. African
        American History Month.", "dateLastCrawled": "2018-02-16T02:00:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Blogs
        Category - SBA News and Views | The U.S. Small ...", "url": "https:\/\/www.sba.gov\/blogs\/sba-news-and-views?page=12",
        "urlPingSuffix": "DevEx,5085.1", "displayUrl": "https:\/\/www.sba.gov\/blogs\/sba-news-and-views?page=12",
        "snippet": "While weather experts NOAA are predicting a “near-normal” 2012
        Atlantic hurricane season, last year’s Hurri[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=noaa%20(site:www.sba.gov/blogs/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - DEC7AA56A96B42529946DDC5AF504[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=noaa%20(site:www.sba.gov/blogs/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - DB90DF447E6649E1ADFC593225D05CFD
      Bingapis-Sessionid:
      - 7CAA5E3156F445B2ADB99EB9634FF2D6
      X-Msedge-Clientid:
      - 182C565C75C9610905BC5AA674856096
      X-Msapi-Userstate:
      - 6d63
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=195,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "noaa
        (site:www.sba.gov\/blogs\/)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=noaa+(site%3awww.sba.gov%2fblogs%2f)",
        "totalEstimatedMatches": 11, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Get Tips and Information about Hurricane Preparedness for ...", "url":
        "https:\/\/www.sba.gov\/blogs\/get-tips-and-information-about-hurricane-preparedness-your-business",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.sba.gov\/blogs\/get-tips-and-information-about-hurricane...",
        "snippet": "Nearly three years have passed since Hurricane Sandy devastated
        the East Coast, and the recovery continues in some of the hardest-hit areas.
        According to a National Hurricane Center report, Hurricane Sandy was the second
        costliest storm in U.S. history.", "dateLastCrawled": "2019-01-25T16:11:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "5 Tips on Starting Your Hurricane Season Business ...", "url": "https:\/\/www.sba.gov\/blogs\/5-tips-starting-your-hurricane-season-business-continuity-plan",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.sba.gov\/blogs\/5-tips-starting-your-hurricane-season...",
        "snippet": "While weather experts NOAA are predicting a “near-normal” 2012
        Atlantic hurricane season, l[...]
