---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:www.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 818E58C0B76F4CDB98563C9E66BE0844
      X-Msedge-Clientid:
      - 1E1D77797185623F09CB7D44701263B0
      X-Msapi-Userstate:
      - '4279'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=02927957875C4BD3914FB848E2FD70E0&CID=1E1D77797185623F09CB7D44701263B0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=02927957875C4BD3914FB848E2FD70E0&CID=1E1D77797185623F09CB7D44701263B0&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3awww.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5487.1", "totalEstimatedMatches": 12500,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Looking for a New Job | USA.gov", "url": "https:\/\/www.usa.gov\/job-search",
        "urlPingSuffix": "DevEx,5083.1", "displayUrl": "https:\/\/www.usa.gov\/job-search",
        "snippet": "Looking for a New Job. Find out how to look for work in the
        private sector and federal government. Find a Federal Government Job. Learn
        how to find a job with the ...", "deepLinks": [{"name": "Government Jobs",
        "url": "https:\/\/www.usa.gov\/government-jobs", "urlPingSuffix": "DevEx,5078.1"},
        {"name": "Find a Job", "url": "https:\/\/www.usa.gov\/find-a-job", "urlPingSuffix":
        "DevEx,5079.1"}], "dateLastCrawled": "2017-02-26T00:51:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Find a Job |
        USA.gov", "url": "https:\/\/www.usa.gov\/find-a-job", "urlPingSuffix": "DevEx,5098.1",
        "displayUrl": "https:\/\/www.usa.gov\/find-a-job", "snippet": "Jobs for
        Teens and Young Adults. Learn about occupations to help you plan your future
        (for grades K-12). Find tips and information for teens about how to get a
        job.", "dateLastCrawl[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7F4478B6B34F403A85A3005864551DF9
      X-Msedge-Clientid:
      - 0729406033A96C4A002F4A5D323E6D05
      X-Msapi-Userstate:
      - '3512'
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C13DF64EFAD1482ABACF819D2A31485A&CID=0729406033A96C4A002F4A5D323E6D05&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C13DF64EFAD1482ABACF819D2A31485A&CID=0729406033A96C4A002F4A5D323E6D05&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=jobs%20(site:.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5177.1", "totalEstimatedMatches": 143, "nextOffset":
        20, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=2DE1398FAA9526303BAE7C1267CD7DB4918F004D&simid=608013073792369870",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "Virginia Jobs", "thumbnailUrl":
        "https:\/\/tse4.mm.bing.net\/th?id=OIP.AIGFeteR54KszBGdtkt87wEsDQ&pid=Api",
        "datePublished": "2017-02-15T02:27:00.0000000Z", "contentUrl": "http:\/\/jobs.virginia.gov\/images\/people.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/jobs.virginia.gov\/",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "49581 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "jobs.virginia.gov", "width": 512, "height":
        356, "thumbnail": {"width": 300, "height": 208}, "imageInsightsToken": "ccid_AIGFeteR*mid_2DE1398FAA9526303BAE7C1267CD7DB4918F004D*simid_608013073792369870",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "2DE1398FAA9526303BAE7C1267CD7DB4918F004D", "accentColor": "9B8830"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=7047CBBB022DC63803C25D71F82773D87B882E2C&simid=608052488702526808",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "Highway sign saying, Careers,
        next exit", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.4fzVK9upjp2RBheObJqYngEsDH&pid=Api",
        "datePublished": "2010-02-06T04:22:00.0000000Z", "contentUrl": "http:\/\/www.mdt.mt.gov\/jobs\/i[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:usasearch.howto.gov/blog)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 33AA091B8A204E8688F78478C5F81120
      X-Msedge-Clientid:
      - 170025CD268266620EA12FF027156771
      X-Msapi-Userstate:
      - 3ca5
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=853BF29F5F6C406F9FE6B1B82BB88888&CID=170025CD268266620EA12FF027156771&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=853BF29F5F6C406F9FE6B1B82BB88888&CID=170025CD268266620EA12FF027156771&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 06 Mar 2017 18:05:05 GMT
[...]
