---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5F9C97E4778643FEAD002F97D788600E
      X-Msedge-Clientid:
      - '04026963DB256B212DA562EFDA8A6A57'
      X-Msapi-Userstate:
      - '5912'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=04C37BDAA4A04C74BDCBD47F58CEF399&CID=04026963DB256B212DA562EFDA8A6A57&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=04C37BDAA4A04C74BDCBD47F58CEF399&CID=04026963DB256B212DA562EFDA8A6A57&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5556.1", "totalEstimatedMatches": 111000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Jobs and Career Information | USAGov", "url": "https:\/\/www.usa.gov\/jobs-careers",
        "urlPingSuffix": "DevEx,5092.1", "displayUrl": "https:\/\/www.usa.gov\/jobs-careers",
        "snippet": "Jobs and Career Information. Find information about different
        career fields. Animal Care and Science. Find career information about animal
        science and care.", "dateLastCrawled": "2018-01-29T19:12:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Find a Federal
        Government Job | USAGov", "url": "https:\/\/www.usa.gov\/government-jobs",
        "urlPingSuffix": "DevEx,5112.1", "displayUrl": "https:\/\/www.usa.gov\/government-jobs",
        "snippet": "Postal service jobs may require an exam, but it is a scam if
        any company guarantees that any training or tips that they provide including
        booklets, ...",[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jazz%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
   [...]
