---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hello%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8A173AC1252043D09668FBE31F252797
      X-Msedge-Clientid:
      - 0B9F229878BD6F6E3DB028A5792A6ED5
      X-Msapi-Userstate:
      - f1ac
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=68806C08AC7C4A4595143784EA44B75C&CID=0B9F229878BD6F6E3DB028A5792A6ED5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=68806C08AC7C4A4595143784EA44B75C&CID=0B9F229878BD6F6E3DB028A5792A6ED5&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hello+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5441.1", "totalEstimatedMatches": 128000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "HELLO my name is...", "url": "http:\/\/www.census.gov\/library\/visualizations\/2016\/comm\/cb16-tps154_surnames_top15.html",
        "urlPingSuffix": "DevEx,5076.1", "displayUrl": "www.census.gov\/library\/visualizations\/2016\/comm\/cb16-tps154...",
        "snippet": "HELLO my name is... Library. Menu . Audio Infographics & Visualizations
        Photos Publications Reference Visit This Page Additional Pages: North American
        Industry ...", "dateLastCrawled": "2017-03-01T06:37:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Hello La Nina
        | National Oceanic and Atmospheric ...", "url": "http:\/\/www.noaa.gov\/news\/hello-la-nina",
        "urlPingSuffix": "DevEx,5089.1", "displayUrl": "www.noaa.gov\/news\/hello-la-nina",
        "snippet": "November 10, 2016 La Nina has arrived and is favored to stick
        around through winter. Forecasters say the climate phenomena will likely contribute
  [...]
