---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:www.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E3623A96F198422EBA6CB4C37BE62820
      X-Msedge-Clientid:
      - 30AE38884E1F61A1176132B94F2E60D0
      X-Msapi-Userstate:
      - 68a9
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D1DAE16F91854AD9951836B4854814C3&CID=30AE38884E1F61A1176132B94F2E60D0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D1DAE16F91854AD9951836B4854814C3&CID=30AE38884E1F61A1176132B94F2E60D0&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3awww.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5498.1", "totalEstimatedMatches": 15700,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Find a Federal Government Job | USA.gov", "url": "https:\/\/www.usa.gov\/government-jobs",
        "urlPingSuffix": "DevEx,5080.1", "displayUrl": "https:\/\/www.usa.gov\/government-jobs",
        "snippet": "Federal Government Employment Finding and Applying for Federal
        Jobs. If you’re interested in a job with the federal government, visit
        USAJOBS.gov, the official one ...", "dateLastCrawled": "2017-02-12T21:32:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Looking
        for a New Job | USA.gov", "url": "https:\/\/www.usa.gov\/job-search", "urlPingSuffix":
        "DevEx,5099.1", "displayUrl": "https:\/\/www.usa.gov\/job-search", "snippet":
        "Looking for a New Job. Find out how to look for work in the private sector
        and federal government. Find a Federal Government Job. Learn how to find a
        job with the ...", "deepLinks": [{"name": "Government Jobs", "url": "https:\/\/www.usa.gov\/government-jobs",
        "urlPingSuffix": "DevEx,5095.1"}, {"name": "Find a Job", "url": "https:\/\/www.usa.gov\/find-a-job",
        "urlPingSuffix": "DevEx,5096.1"}], "dateLastCrawled": "2017-02-14T15:43:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Jobs
        and Unemployment | USA.gov", "url": "https:\/\/www.usa.gov\/jobs-and-unemployment",
        "urlPingSuffix": "DevEx,5113.1",[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 742CC1005B2A458B8D49A5EF92EFDBF6
      X-Msedge-Clientid:
      - 1AEDEF68B1B2686C1B6CE559B08369E9
      X-Msapi-Userstate:
      - 13d0
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=41989DAB7C004C8581859A9EDC9826AF&CID=1AEDEF68B1B2686C1B6CE559B08369E9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=41989DAB7C004C8581859A9EDC9826AF&CID=1AEDEF68B1B2686C1B6CE559B08369E9&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=jobs%20(site:.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5161.1", "totalEstimatedMatches": 138, "nextOffset":
        20, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=7047CBBB022DC63803C25D71F82773D87B882E2C&simid=608052488692041097",
        "webSearchUrlPingSuffix": "DevEx,5006.1", "name": "Highway sign saying, Careers,
        next exit", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.Me1fcd52bdba98e9d9106178e6c9a989eo0&pid=Api",
        "datePublished": "2010-02-06T04:22:00.0000000Z", "contentUrl": "http:\/\/www.mdt.mt.gov\/jobs\/images\/careerSign.jpg",
        "contentUrlPingSuffix": "DevEx,5008.1", "hostPageUrl": "http:\/\/www.mdt.mt.gov\/jobs\/",
        "hostPageUrlPingSuffix": "DevEx,5007.1", "contentSize": "85426 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.mdt.mt.gov\/jobs", "width": 500, "height":
        333, "thumbnail": {"width": 300, "height": 199}, "imageInsightsToken": "ccid_4fzVK9up*mid_7047CBBB022DC63803C25D71F82773D87B882E2C*simid_608052488692041097",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "7047CBBB022DC63803C25D71F82773D87B882E2C", "accentColor": "CA3A01"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=72930EC1D4AA47521077E794CF4A3E523E49D95E&simid=608052617545712605",
        "webSearchUrlPingSuffix": "DevEx,5012.1", "name": "jobs - MO.gov", "thumbnailUrl":
        "https:\/\/tse2.mm.bing.net\/th?id=OIP.M32a31b805e60a57708b0d414c89e63feH0&pid=Api",
        "datePublished": "2012-11-04T05:33:00.0000000Z", "contentUrl": "http:\/\/www.mo.gov\/wp-content\/uploads\/2011\/0[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:usasearch.howto.gov/blog)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 633C8B98AA3444F3BCF0D4C726C0C4BB
      X-Msedge-Clientid:
      - 03AE47CC843160010CAF4DFD85006159
      X-Msapi-Userstate:
      - f4b9
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=069A67702C3347C29B2BCFA05BE5D438&CID=03AE47CC843160010CAF4DFD85006159&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=069A67702C3347C29B2BCFA05BE5D438&CID=03AE47CC843160010CAF4DFD85006159&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 22 Feb 2017 21:54:21 GMT
[...]
