---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=warnings%20for%20a%20tornado%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C13CD33F299E4F1793A064A92149B665
      X-Msedge-Clientid:
      - 11B3050D77E86A0E11180F6F767F6B53
      X-Msapi-Userstate:
      - 7a9c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=3479384B797D4F179BB3CF26FA0F9899&CID=11B3050D77E86A0E11180F6F767F6B53&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=3479384B797D4F179BB3CF26FA0F9899&CID=11B3050D77E86A0E11180F6F767F6B53&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=warnings+for+a+tornado+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5478.1", "totalEstimatedMatches": 1850000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Preparing for a Tornado - StormAware Tornado Safety", "url": "https:\/\/stormaware.mo.gov\/preparing-for-a-tornado\/",
        "urlPingSuffix": "DevEx,5078.1", "displayUrl": "https:\/\/stormaware.mo.gov\/preparing-for-a-tornado",
        "snippet": "Tornado Warning means a tornado has been sighted or indicated
        by weather radar. Take shelter immediately. When a Tornado Strikes. It’s
        important to know how to stay ...", "dateLastCrawled": "2017-03-31T14:47:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Being
        Prepared (Part 1)|Tornadoes", "url": "https:\/\/www.cdc.gov\/disasters\/tornadoes\/prepared.html",
        "urlPingSuffix": "DevEx,5090.1", "displayUrl": "https:\/\/www.cdc.gov\/disasters\/tornadoes\/prepared.html",
        "snippet": "Tornado Warning. A tornado warning is issued when a tornado
        funnel is sighted or indicated by weather radar. You should [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=atlantic%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; c[...]
