---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=noaa%20(site:www.sba.gov/blogs/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - BC6878E316984F30B9F60A3AD0F11568
      X-Msedge-Clientid:
      - 12CB4351FF71623A3E8C48D7FEDE6308
      X-Msapi-Userstate:
      - 9c0e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=18615C66388B4072AB56359884566E5E&CID=12CB4351FF71623A3E8C48D7FEDE6308&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=18615C66388B4072AB56359884566E5E&CID=12CB4351FF71623A3E8C48D7FEDE6308&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=noaa+(site%3awww.sba.gov%2fblogs%2f)",
        "webSearchUrlPingSuffix": "DevEx,5234.1", "totalEstimatedMatches": 6, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Get Tips
        and Information about Hurricane Preparedness for ...", "url": "https:\/\/www.sba.gov\/blogs\/get-tips-and-information-about-hurricane-preparedness-your-business",
        "urlPingSuffix": "DevEx,5067.1", "displayUrl": "https:\/\/www.sba.gov\/blogs\/get-tips-and-information-about-hurricane...",
        "snippet": "www.nhc.noaa.gov\/prepare\/--National Hurricane Center. About
        the Author: Carol Chastang. SBA Official . More Posts in this category. Top
        10 SBA Blogs of 2017.", "dateLastCrawled": "2018-01-11T22:04:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Is Your
        Business Ready for the next Hurricane Sandy? | The ...", "url": "https:\/\/www.sba.gov\/blogs\/your-business-ready-next-hurricane-sandy",
        "urlPingSuffix": "DevEx,5085.1", "displayUrl": "https:\/\/www.sba.gov\/blogs\/your-business-ready-next-hurricane-sandy",
        "snippet": "Even before the big storm hits, small businesses start losing
        money onc[...]
