---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(noaa)%20language:en%20(site:www.sba.gov/blogs)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028noaa\u0029
        language\u003aen \u0028site\u003awww.sba.gov\u002fblogs\u0029"},"Web":{"Total":11,"Offset":0,"Results":[{"Title":"5
        Tips on Starting Your Hurricane Season Business ...","Description":"While
        weather experts NOAA are predicting a \u201cnear-normal\u201d 2012 Atlantic
        hurricane season, last year\u2019s Hurricane Irene is a reminder of the erratic
        and ...","Url":"https\u003a\u002f\u002fwww.sba.gov\u002fblogs\u002f5-tips-starting-your-hurricane-season-business-continuity-plan","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dnoaa\u0026d\u003d4520549227236574\u0026w\u003d1fZnlufxpkcHtVT3tmCeuFXIS7h_1FXh","DisplayUrl":"https\u003a\u002f\u002fwww.sba.gov\u002fblogs\u002f5-tips-starting-your-hurricane-season...","DateTime":"2016-11-27T00\u003a05\u003a00Z"},{"Title":"4
        Ways to Make Your Company Resilient Enough to Withstand ...","Description":"4
        Ways to Make Your Company Resilient Enough to Withstand Winter Weather Threats.
        ... NOAA Winter Weather Safety Ready.gov Winter Weather Preparedness. About
        the Author\u003a","Url":"http\u003a\u002f\u002fwww.sba.gov\u002fblogs\u002f4-ways-make-your-company-resilient-enough-withstand-winter-weather-threats","CacheUrl":"http\u003a\u002f\u002fc[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=noaa%20(site:www.sba.gov/blogs)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9AAC048DDD5B4AADAC1BC06C2F3849EA
      X-Msedge-Clientid:
      - 38304E2CFCD06C3B0BE84432FD476D1A
      X-Msapi-Userstate:
      - f476
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=97B71E8C7CEF4BB0BED10D63C3F0CFEF&CID=38304E2CFCD06C3B0BE84432FD476D1A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=97B71E8C7CEF4BB0BED10D63C3F0CFEF&CID=38304E2CFCD06C3B0BE84432FD476D1A&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=noaa+(site%3awww.sba.gov%2fblogs)",
        "webSearchUrlPingSuffix": "DevEx,5324.1", "totalEstimatedMatches": 13, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Get Tips
        and Information about Hurricane Preparedness for ...", "url": "https:\/\/www.sba.gov\/blogs\/get-tips-and-information-about-hurricane-preparedness-your-business",
        "urlPingSuffix": "DevEx,5069.1", "displayUrl": "https:\/\/www.sba.gov\/blogs\/get-tips-and-information-about-hurricane...",
        "snippet": "www.nhc.noaa.gov\/prepare\/--National Hurricane Center. About
        the Author: Carol Chastang. SBA Official . Comments: KimmyBurgess | 6\/1\/2015
        - 3:32 am.", "dateLastCrawled": "2016-12-06T02:29:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "U.S. Department of Commerce: Promoting Innovation through ...", "url":
        "https:\/\/www.sba.gov\/blogs\/us-department-commerce-promoting-innovation-through-small-business-innovation-research-program",
        "urlPingSuffix": "DevEx,5084.1", "displayUrl": "https:\/\/www.sba.gov\/blogs\/us-department-commerce-promoting...",
        "snippet": "NOAA’s FY 2016 solicitation is set [...]
