---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(jobs)%20language:en%20(site:www.usa.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028jobs\u0029
        language\u003aen \u0028site\u003awww.usa.gov\u0029"},"Web":{"Total":63400,"Offset":0,"Results":[{"Title":"Looking
        for a New Job \u007c USAGov","Description":"Looking for a New Job. Find out
        how to look for work in the private sector and federal government. Find a
        Federal Government Job. Learn how to find a job with the ...","Url":"https\u003a\u002f\u002fwww.usa.gov\u002fjob-search","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003djobs\u0026d\u003d4922562393212896\u0026w\u003di8JzghFZlyW-hc1UKexwO_i6eTHZSFgu","DisplayUrl":"https\u003a\u002f\u002fwww.usa.gov\u002fjob-search","DateTime":"2016-12-02T23\u003a38\u003a00Z"},{"Title":"JOBS
        \u2013 USA \u2013 FIND A JOB - USAGov","Description":"Jobs for Teens and
        Young Adults. Learn about occupations to help you plan your future \u0028for
        grades K-12\u0029. Find tips and information for teens about how to get a
        job.","Url":"https\u003a\u002f\u002fwww.usa.gov\u002ffind-a-job","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003djobs\u0026d\u003d4674064207907396\u0026w\u003dWt_HL[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&image.count=20&query=(jobs)%20language:en%20(site:.gov)&sources=Spell%20Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028jobs\u0029
        language\u003aen \u0028site\u003a.gov\u0029"},"Image":{"Total":17900,"Offset":0,"Results":[{"Title":"Rep.
        Mike Bost\u003a Working Together to grow jobs \u007c Congressman Mike Bost","MediaUrl":"https\u003a\u002f\u002fbost.house.gov\u002fsites\u002fbost.house.gov\u002ffiles\u002ffeatured_image\u002fJObs.jpg","Url":"https\u003a\u002f\u002fbost.house.gov\u002fmedia-center\u002fin-the-news\u002frep-mike-bost-working-together-grow-jobs","DisplayUrl":"https\u003a\u002f\u002fbost.house.gov\u002fmedia-center\u002fin-the-news\u002frep-mike-bost...","Width":500,"Height":375,"FileSize":68470,"ContentType":"image\u002fjpeg","Thumbnail":{"Url":"http\u003a\u002f\u002fts4.mm.bing.net\u002fth\u003fid\u003dOIP.Ma1cd2ccc4ccaa3ac73931cfc5d2e72c0o0\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":300,"Height":225,"FileSize":5179}},{"Title":"Collage
        of NOAA Employees in their different jobs","MediaUrl":"http\u003a\u002f\u002fwww.careers.noaa.gov\u002fimages\u002fjobcollage.jpg","Url":"http\u003a\u002f\u002fwww.careers.noaa.gov\u002flife_noaa.html","DisplayUrl":"www.careers.noaa.gov\u002flife_noaa.html","Width":350,"He[...]
[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(jobs)%20language:en%20(site:usasearch.howto.gov/blog)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028jobs\u0029
        language\u003aen \u0028site\u003ausasearch.howto.gov\u002fblog\u0029"},"Web":{"Total":0,"Offset":0}}}'
  recorded_at: Thu, 08 Dec 2016 23:03:14 GMT
[...]
