---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 21B3687118ED4F2F870392CCDC75F97F
      X-Msedge-Clientid:
      - 17F2FF9A363E6B511419F49237A96A3D
      X-Msapi-Userstate:
      - fcb5
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5B4131C9D7074E18A21C201E3DF9FD2F&CID=17F2FF9A363E6B511419F49237A96A3D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5B4131C9D7074E18A21C201E3DF9FD2F&CID=17F2FF9A363E6B511419F49237A96A3D&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=item+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5476.1", "totalEstimatedMatches": 33800000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Form 8-K - Official Site", "url": "https:\/\/www.sec.gov\/about\/forms\/form8-k.pdf",
        "urlPingSuffix": "DevEx,5078.1", "displayUrl": "https:\/\/www.sec.gov\/about\/forms\/form8-k.pdf",
        "snippet": "Check the appropriate box below if the Form 8-K ﬁling is intended
        to simultaneously satisfy the ﬁling obligation of the registrant under", "dateLastCrawled":
        "2017-09-16T04:13:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Arizona | Library of Congress", "url": "https:\/\/www.loc.gov\/item\/toddbib000194\/",
        "urlPingSuffix": "DevEx,5092.1", "displayUrl": "https:\/\/www.loc.gov\/item\/toddbib000194",
        "snippet": "Arizona Contributor Names ... Responsibility for making an independent
        legal assessment of an item and securing any necessary permission ultimately
        rests ...", "dateLastCrawled": "2017-09-19T14:13:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "Controlled Inventory Item Code - AF", "url": "https:\/\/afsac4.wpafb.af.mil\/WWRS\/Documents\/2014%20Controlled%20Inventory%20-%20Hazardous%20%20Item%20Codes%20V1.pdf",
        "urlPingSuffix": "DevEx,5105.1", "displayUrl": "https:\/\/afsac4.wpafb.af.mil\/WWRS\/Documents\/2014
        Controlled...", "snippet": "Controlled Inventory Item Code Data Element
        Number: 1013 Data Element Name: Controlled Inventory Item Code Abbreviation:
        CIIC Definition: A code that indicates the ...", "dateLastCrawled": "2017-09-18T03:54:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "Pay Item
        Catalog - New York State Department of Transportation", "url": "https:\/\/www.dot.ny.gov\/pic?nd=nysdot",
        "urlPingSuffix": "DevEx,5119.1", "displayUrl": "https:\/\/www.dot.ny.gov\/pic?nd=nysdot",
        "snippet[...]
[...]
