---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hillary%20rodham%20clinton%20first%20lady%20(site:whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - DB8BE246FE734876AEBBBD40CE178377
      X-Msedge-Clientid:
      - 0B4BC91CAC1D6DB22A42C25BAD8A6C8A
      X-Msapi-Userstate:
      - f526
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=4C87D4A4ADBB483C847827324F351737&CID=0B4BC91CAC1D6DB22A42C25BAD8A6C8A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=4C87D4A4ADBB483C847827324F351737&CID=0B4BC91CAC1D6DB22A42C25BAD8A6C8A&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hillary+rodham+clinton+first+lady+(site%3awhitehouse.gov)",
        "webSearchUrlPingSuffix": "DevEx,5506.1", "totalEstimatedMatches": 16, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Hillary
        Rodham Clinton | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/1600\/first-ladies\/hillaryclinton",
        "urlPingSuffix": "DevEx,5085.1", "about": [{"name": "Hillary Clinton"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/1600\/first-ladies\/hillaryclinton",
        "snippet": "Hillary Diane Rodham Clinton served as the First Lady of
        the United States to the 42nd President, Bill Clinton. She went on to become
        a U.S. Secretary of State and U ...", "deepLinks": [{"name": "Barbara Pierce
        Bush", "url": "https:\/\/www.whitehouse.gov\/1600\/first-ladies\/barbarabush",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Laura Welch Bush", "url": "https:\/\/www.whitehouse.gov\/1600\/first-ladies\/laurabush",
        "urlPingSuffix": "DevEx,5080.1"}], "dateLastCrawled": "2017-11-22T15:42:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "William
        J. Clinton | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/1600\/presidents\/williamjclinton",
        "urlPingSuffix": "DevEx,5102.1", "about": [{"name": "Bill Clinton"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/1600\/presidents\/williamjclinton", "snippet":
        "First Lady Melania Trump; ... William J. Clinton. ... Learn more about
[...]
