---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:www.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 48BF6BB99FCD4E259C637843EA304B98
      X-Msedge-Clientid:
      - 30045DB6867B63FC0F15577587EC62A1
      X-Msapi-Userstate:
      - a328
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5AF91BD61CB643C69F511A972D5B289F&CID=30045DB6867B63FC0F15577587EC62A1&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5AF91BD61CB643C69F511A972D5B289F&CID=30045DB6867B63FC0F15577587EC62A1&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3awww.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5513.1", "totalEstimatedMatches": 126000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Find a Federal Government Job | USAGov", "url": "https:\/\/www.usa.gov\/government-jobs",
        "urlPingSuffix": "DevEx,5079.1", "displayUrl": "https:\/\/www.usa.gov\/government-jobs",
        "snippet": "The federal government has job opportunities available now in
        agencies throughout the U.S. If you’re interested in a job with the federal
        government, visit USAJOBS ...", "dateLastCrawled": "2017-07-14T00:28:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Looking
        for a New Job | USAGov", "url": "https:\/\/www.usa.gov\/job-search", "urlPingSuffix":
        "DevEx,5099.1", "displayUrl": "https:\/\/www.usa.gov\/job-search", "snippet":
        "Looking for a New Job. Find out how to look for work in the private sector
        and federal government. Find a Federal Government Job. Learn how to find a
        job with the ...", "deepLinks": [{"name": "Government Jobs", "url": "https:\/\/www.usa.gov\/government-jobs",
        "urlPingSuffix": "DevEx,5094.1"}, {"name": "Find a Job", "url": "https:\/\/www.usa.gov\/find-a-job",
        "urlPingSuffix": "DevEx,5095.1"}], "dateLastCrawled": "2017-07-13T14:08:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Jobs
        and Unemployment | USAGov", "url": "https:\/\/www.usa.gov\/jobs-and-unemployment",
        "urlPingSuffix": "DevEx,5114.1", "d[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7EBA9273306F46FD9678459B615DEE57
      X-Msedge-Clientid:
      - 3F2B26F030636B4107512C3331F46A96
      X-Msapi-Userstate:
      - ee8c
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=127805414CF64CF39905DEFB8A563C20&CID=3F2B26F030636B4107512C3331F46A96&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=127805414CF64CF39905DEFB8A563C20&CID=3F2B26F030636B4107512C3331F46A96&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=jobs%20(site:.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5181.1", "totalEstimatedMatches": 138, "nextOffset":
        20, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=A44FB8E5548626891178914240F30C905C2E9C63&simid=608032268236686243",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "Department of Workforce
        Services", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.f9TFiX4NZ3R6eb4EwtqUGQEsDM&pid=Api",
        "datePublished": "2017-04-23T02:12:00.0000000Z", "contentUrl": "https:\/\/jobs.utah.gov\/images\/home\/jobs2.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "https:\/\/jobs.utah.gov\/",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "492984 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/jobs.utah.gov", "width": 2397, "height":
        1630, "thumbnail": {"width": 300, "height": 204}, "imageInsightsToken": "ccid_f9TFiX4N*mid_A44FB8E5548626891178914240F30C905C2E9C63*simid_608032268236686243",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "A44FB8E5548626891178914240F30C905C2E9C63", "accentColor": "C60E05"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=2DE1398FAA9526303BAE7C1267CD7DB4918F004D&simid=608013074039702668",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "Virginia Jobs", "thumbnailUrl":
        "https:\/\/tse3.mm.bing.net\/th?id=OIP.AIGFeteR54KszBGdtkt87wErDQ&pid=Api",
        "datePublished": "2017-06-24T11:42:00.0000000Z", "contentUrl": "http:\/\/jobs.virginia.gov\/images\/people.jpg",
        "[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:usasearch.howto.gov/blog)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5CFC2DFFBE70438896BEE42B5F151D28
      X-Msedge-Clientid:
      - 0E221483D18B65132A491E40D01C6483
      X-Msapi-Userstate:
      - '9096'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F627256D47234D86B4ADB6DD10C022D6&CID=0E221483D18B65132A491E40D01C6483&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F627256D47234D86B4ADB6DD10C022D6&CID=0E221483D18B65132A491E40D01C6483&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 18 Jul 2017 18:04:39 GMT
[...]
