---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(notes)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028notes\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":6540000,"Offset":0,"Results":[{"Title":"FBI
        \u2014 Hillary R. Clinton Part 04 of 04","Description":"HRC 4 of 4.pdf \u2014
        PDF document, 5,920 kB \u00286,062,467 bytes\u0029 Twitter \u003b Facebook
        \u003b Share Vault Links","Url":"https\u003a\u002f\u002fvault.fbi.gov\u002fhillary-r.-clinton\u002fhillary-r.-clinton-part-04-of-04\u002fview","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dnotes\u0026d\u003d4549346986099477\u0026w\u003dHKCVsNeIlsUUzZ-GvpoRrTXtccsDHxHG","DisplayUrl":"https\u003a\u002f\u002fvault.fbi.gov\u002fhillary-r.-clinton\u002fhillary-r.-clinton-part...","DateTime":"2016-12-01T18\u003a48\u003a00Z"},{"Title":"Individual
        - Treasury Notes","Description":"Treasury Notes. Treasury notes, sometimes
        called T-Notes, earn a fixed rate of interest every six months until maturity.
        Notes are issued in terms of 2, 3 ...","Url":"https\u003a\u002f\u002fwww.treasurydirect.gov\u002findiv\u002fproducts\u002fprod_tnotes_glance.htm","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dnotes\u0026d\u003d4509193338488682\u[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(emergencia)%20language:es%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=notes%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1D2A8AA476EA4A62AE9FBE153EFE96BA
      X-Msedge-Clientid:
      - 1648B7FF9A516A1413B7BDE19BC66B56
      X-Msapi-Userstate:
      - 41cc
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=6207B9F60C944A00B5399DED2C52C4CC&CID=1648B7FF9A516A1413B7BDE19BC66B56&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=6207B9F60C944A00B5399DED2C52C4CC&CID=1648B7FF9A516A1413B7BDE19BC66B56&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=notes+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5496.1", "totalEstimatedMatches": 3400000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Individual - Treasury Notes", "url": "http:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tnotes_glance.htm",
        "urlPingSuffix": "DevEx,5105.1", "displayUrl": "www.treasurydirect.gov\/indiv\/products\/prod_tnotes_glance.htm",
        "snippet": "Treasury Notes. Treasury notes, sometimes called T-Notes,
        earn a fixed rate of interest every six months until maturity. Notes are
        issued in terms of 2, 3 ...", "deepLinks": [{"name": "Treasury Notes in Depth",
        "url": "http:\/\/www.treasurydirect.gov\/indiv\/research\/indepth\/tnotes\/res_tnote.htm",
        "urlPingSuffix": "DevEx,5097.1"}, {"name": "Rates & Terms", "url": "https:\/\/www.treasurydirect.gov\/indiv\/research\/indepth\/tnotes\/res_tnote_rates.htm",
        "urlPingSuffix": "DevEx,5098.1"}, {"name": "Treasury Bonds", "url": "http:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tbonds_glance.htm",
        "urlPingSuffix": "DevEx,5099.1"}, {"name": "Treasury Bills", "url": "http:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tbills_glance.htm",
        "urlPingSuffix": "DevEx,5100.1"}, {"name": "Tips", "url": "http:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tips_glance.htm",
        "urlPingSuffix": "DevEx,5101.1"}], "dateLastCrawled": "2017-01-27T15:53:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Currency
        NOTES Currency NOTES - Bureau of...", "url": "https:\/\/www.moneyfactory.gov\/images\/Currency_notes_508.pdf",
        "urlPingSuffix": "DevEx,5115.1", "displayUrl": "https:\/\/www.moneyfactory.gov\/images\/Currency_notes_508.pdf",
        "snippet": "notes in denominations of less than $1 were issued, although
        these were never authorized by legislation. [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=emergencia%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;[...]
