---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:www.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5848FBE16002408A9193000F34EFBDE0
      X-Msedge-Clientid:
      - 0E02C5C270E369141B6BCE4E714C6839
      X-Msapi-Userstate:
      - fd6a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=4ACDAEE795284C03AED9146DA11ECA5E&CID=0E02C5C270E369141B6BCE4E714C6839&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=4ACDAEE795284C03AED9146DA11ECA5E&CID=0E02C5C270E369141B6BCE4E714C6839&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3awww.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5559.1", "totalEstimatedMatches": 139000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Jobs and Career Information | USAGov", "url": "https:\/\/www.usa.gov\/jobs-careers",
        "urlPingSuffix": "DevEx,5092.1", "displayUrl": "https:\/\/www.usa.gov\/jobs-careers",
        "snippet": "Jobs and Career Information. Find information about different
        career fields. Animal Care and Science. Find career information about animal
        science and care.", "dateLastCrawled": "2018-01-29T19:12:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Find a Federal
        Government Job | USAGov", "url": "https:\/\/www.usa.gov\/government-jobs",
        "urlPingSuffix": "DevEx,5112.1", "displayUrl": "https:\/\/www.usa.gov\/government-jobs",
        "snippet": "Postal service jobs may require an exam, but it is a scam if
        any company guarantees that any training or tips that they provide including
        booklets, ...",[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9D80535A426A4A9E87DE3F9B6C0CC866
      X-Msedge-Clientid:
      - 0C7F5E702DA5611321AF55FC2C0A60F7
      X-Msapi-Userstate:
      - 6b1c
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=6152D8E01BD04B77ADBF06A6E585131B&CID=0C7F5E702DA5611321AF55FC2C0A60F7&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=6152D8E01BD04B77ADBF06A6E585131B&CID=0C7F5E702DA5611321AF55FC2C0A60F7&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=jobs%20(site:.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5184.1", "totalEstimatedMatches": 138, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=2DE1398FAA9526303BAE7C1267CD7DB4918F004D&simid=608013074541315353",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "Virginia Jobs", "thumbnailUrl":
        "https:\/\/tse2.mm.bing.net\/th?id=OIP.AIGFeteR54KszBGdtkt87wHaFJ&pid=Api",
        "datePublished": "2018-01-13T23:26:00.0000000Z", "contentUrl": "http:\/\/jobs.virginia.gov\/images\/people.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/jobs.virginia.gov\/",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "49581 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "jobs.virginia.gov", "width": 512, "height":
        356, "thumbnail": {"width": 474, "height": 329}, "imageInsightsToken": "ccid_AIGFeteR*mid_2DE1398FAA9526303BAE7C1267CD7DB4918F004D*simid_608013074541315353",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "2DE1398FAA9526303BAE7C1267CD7DB4918F004D", "accentColor": "9B8830"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=F2A7FE5BF0ABC7D3F79E4C480B35B1CC2F7BA370&simid=608051321186877882",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "CDC - What is Total Worker
        Health? - NIOSH Total Worker Health", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.hSMP1EbzKtoRuRP4q3w0fAHaFS&pid=Api",
        "datePublished": "2018-01-07T22:00:00.0000000Z", "contentUrl": "https:\/\[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:usasearch.howto.gov/blog/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2845B536C7A5477780F9521D54F7C283
      X-Msedge-Clientid:
      - 1F17C713B22B68C227D7CC9FB3846995
      X-Msapi-Userstate:
      - aaa3
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1684AE24D16C4104B412677448B45A30&CID=1F17C713B22B68C227D7CC9FB3846995&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1684AE24D16C4104B412677448B45A30&CID=1F17C713B22B68C227D7CC9FB3846995&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Sun, 04 Feb 2018 01:35:44 GMT
[...]
