---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(noaa)%20language:en%20(site:www.sba.gov/blogs)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028noaa\u0029
        language\u003aen \u0028site\u003awww.sba.gov\u002fblogs\u0029"},"Web":{"Total":11,"Offset":0,"Results":[{"Title":"5
        Tips on Starting Your Hurricane Season Business ...","Description":"While
        weather experts NOAA are predicting a \u201cnear-normal\u201d 2012 Atlantic
        hurricane season, last year\u2019s Hurricane Irene is a reminder of the erratic
        and ...","Url":"https\u003a\u002f\u002fwww.sba.gov\u002fblogs\u002f5-tips-starting-your-hurricane-season-business-continuity-plan","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dnoaa\u0026d\u003d4520549227236574\u0026w\u003d1fZnlufxpkcHtVT3tmCeuFXIS7h_1FXh","DisplayUrl":"https\u003a\u002f\u002fwww.sba.gov\u002fblogs\u002f5-tips-starting-your-hurricane-season...","DateTime":"2016-11-27T00\u003a05\u003a00Z"},{"Title":"4
        Ways to Make Your Company Resilient Enough to Withstand ...","Description":"4
        Ways to Make Your Company Resilient Enough to Withstand Winter Weather Threats.
        ... NOAA Winter Weather Safety Ready.gov Winter Weather Preparedness. About
        the Author\u003a","Url":"http\u003a\u002f\u002fwww.sba.gov\u002fblogs\u002f4-ways-make-your-company-resilient-enough-withstand-winter-weather-threats","CacheUrl":"http\u003a\u002f\u002fc[...]
