---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hello%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 27363392EEAF409B9155DAF73D05D35B
      X-Msedge-Clientid:
      - 0CF4ED5C3B8A6E79343BE76D3ABB6F13
      X-Msapi-Userstate:
      - ed55
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B76244F938164AB8A870B43FE0AB65FC&CID=0CF4ED5C3B8A6E79343BE76D3ABB6F13&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B76244F938164AB8A870B43FE0AB65FC&CID=0CF4ED5C3B8A6E79343BE76D3ABB6F13&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hello+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5460.1", "totalEstimatedMatches": 152000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Hello La Nina | National Oceanic and Atmospheric ...", "url": "http:\/\/www.noaa.gov\/news\/hello-la-nina",
        "urlPingSuffix": "DevEx,5076.1", "displayUrl": "www.noaa.gov\/news\/hello-la-nina",
        "snippet": "November 10, 2016 La Nina has arrived and is favored to stick
        around through winter. Forecasters say the climate phenomena will likely contribute
        to drier ...", "dateLastCrawled": "2017-02-16T12:46:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "McDonald’s Recalls
        Hello Kitty Themed Whistles | CPSC.gov", "url": "https:\/\/www.cpsc.gov\/Recalls\/2015\/McDonalds-Recalls-Hello-Kitty-Themed-Whistles\/",
        "urlPingSuffix": "DevEx,5090.1", "displayUrl": "https:\/\/www.cpsc.gov\/Recalls\/2015\/McDonalds-Recalls-Hello-Kitty...",
        "snippet": "McDonald''s Recalls Hello Kitty Themed Whistles Due to Choking
  [...]
