---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:www.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E9F9DDF597CB4096AC4E12270D784E7B
      X-Msedge-Clientid:
      - 1A451BDE1D4460EB283211611CD361E4
      X-Msapi-Userstate:
      - ad3e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=FA18A87648514E28979B5A56A9ED59CD&CID=1A451BDE1D4460EB283211611CD361E4&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=FA18A87648514E28979B5A56A9ED59CD&CID=1A451BDE1D4460EB283211611CD361E4&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3awww.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5514.1", "totalEstimatedMatches": 90200,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Looking for a New Job | USAGov", "url": "https:\/\/www.usa.gov\/job-search",
        "urlPingSuffix": "DevEx,5083.1", "displayUrl": "https:\/\/www.usa.gov\/job-search",
        "snippet": "Looking for a New Job. Find out how to look for work in the
        private sector and federal government. Find a Federal Government Job. Learn
        how to find a job with the ...", "deepLinks": [{"name": "Government Jobs",
        "url": "https:\/\/www.usa.gov\/government-jobs", "urlPingSuffix": "DevEx,5077.1"},
        {"name": "Find a Job", "url": "https:\/\/www.usa.gov\/find-a-job", "urlPingSuffix":
        "DevEx,5078.1"}], "dateLastCrawled": "2017-07-06T08:31:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Find a Job
        | USAGov", "url": "https:\/\/www.usa.gov\/find-a-job", "urlPingSuffix": "DevEx,5099.1",
        "displayUrl": "https:\/\/www.usa.gov\/find-a-job", "snippet": "While some
        companies honestly want to help you find a job, ... local and nationwide
        apprenticeships as well as information about the different jobs in each
        ...", "dateLastCrawled[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 88B768C93A7D4A9DB949B9EB5ACA0AB5
      X-Msedge-Clientid:
      - 27957456C161608315C17EE9C0F661F0
      X-Msapi-Userstate:
      - bac3
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=46ED8963A86E4D68973EAAF1CC13AEF1&CID=27957456C161608315C17EE9C0F661F0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=46ED8963A86E4D68973EAAF1CC13AEF1&CID=27957456C161608315C17EE9C0F661F0&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=jobs%20(site:.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5181.1", "totalEstimatedMatches": 140, "nextOffset":
        21, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=A44FB8E5548626891178914240F30C905C2E9C63&simid=608032268236686243",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "Department of Workforce
        Services", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.f9TFiX4NZ3R6eb4EwtqUGQEsDM&pid=Api",
        "datePublished": "2017-04-23T02:12:00.0000000Z", "contentUrl": "https:\/\/jobs.utah.gov\/images\/home\/jobs2.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "https:\/\/jobs.utah.gov\/",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "492984 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/jobs.utah.gov", "width": 2397, "height":
        1630, "thumbnail": {"width": 300, "height": 204}, "imageInsightsToken": "ccid_f9TFiX4N*mid_A44FB8E5548626891178914240F30C905C2E9C63*simid_608032268236686243",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "A44FB8E5548626891178914240F30C905C2E9C63", "accentColor": "C60E05"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=2DE1398FAA9526303BAE7C1267CD7DB4918F004D&simid=608013074019582714",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "Virginia Jobs", "thumbnailUrl":
        "https:\/\/tse3.mm.bing.net\/th?id=OIP.AIGFeteR54KszBGdtkt87wErDQ&pid=Api",
        "datePublished": "2017-06-13T04:24:00.0000000Z", "contentUrl": "http:\/\/jobs.virginia.gov\/images\/people.jpg",
        "[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:usasearch.howto.gov/blog)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8C0CEE3A934A4A49AAE1F891434F0764
      X-Msedge-Clientid:
      - 3BB9634348CA6190283D69FC495D6006
      X-Msapi-Userstate:
      - f393
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8996EA9CA51D476E8075172BD74B95C2&CID=3BB9634348CA6190283D69FC495D6006&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8996EA9CA51D476E8075172BD74B95C2&CID=3BB9634348CA6190283D69FC495D6006&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Fri, 14 Jul 2017 18:06:04 GMT
[...]
