---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=jobs%20(site:www.usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 14D3A1E059B94E52935642132926FC12
      X-Msedge-Clientid:
      - 14B4CDE30B7563F01D29C1BB0A7A6296
      X-Msapi-Userstate:
      - c355
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=74A89E5572824304AC1F974A34EDF872&CID=14B4CDE30B7563F01D29C1BB0A7A6296&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=74A89E5572824304AC1F974A34EDF872&CID=14B4CDE30B7563F01D29C1BB0A7A6296&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3awww.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5443.1", "totalEstimatedMatches": 56300,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Find a Federal Government Job | USAGov", "url": "https:\/\/www.usa.gov\/government-jobs",
        "urlPingSuffix": "DevEx,5061.1", "displayUrl": "https:\/\/www.usa.gov\/government-jobs",
        "snippet": "The federal government has job opportunities available now in
        agencies throughout the U.S. If you’re interested in a job with the federal
        government, visit USAJOBS.gov, the official one-stop source for federal jobs
        and employment information. There, you can: You must create a USAJOBS profile
        to ...", "dateLastCrawled": "2018-08-19T20:10:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Research Career Fields | USAGov", "url": "https:\/\/www.usa.gov\/jobs-careers",
        "urlPingSuffix": "DevEx,5076.1", "displayUrl": "https:\/\/www.usa.gov\/jobs-careers",
        "snippet": "Find research information and videos about different career fields.
        Learn more about other jobs at the Occupational Outlook Handbook.", "dateLastCrawled":
        "2018-08-20T15:47:0[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 890E717D8D8A4DBE9D151B32331EEA66
      X-Msedge-Clientid:
      - 1949DA03966069D415BDD65B976F6833
      X-Msapi-Userstate:
      - b324
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A2F43E8747094BFDB4B3CE420510A680&CID=1949DA03966069D415BDD65B976F6833&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A2F43E8747094BFDB4B3CE420510A680&CID=1949DA03966069D415BDD65B976F6833&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=jobs%20(site:.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5186.1", "totalEstimatedMatches": 142, "nextOffset":
        20, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=A1C25B0DFE284D5FFAFC7974AFD0D5C37BE0B138&simid=608001783474620351",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "Jobs", "thumbnailUrl":
        "https:\/\/tse1.mm.bing.net\/th?id=OIP.EhO2T0yVXKihuDI07DZ6hQHaDt&pid=Api",
        "datePublished": "2018-05-21T15:54:00.0000000Z", "contentUrl": "http:\/\/hopewellva.gov\/wp-content\/uploads\/2017\/03\/jobs.png",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/hopewellva.gov\/jobs\/",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "415247 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "hopewellva.gov\/jobs", "width": 2000, "height":
        1000, "thumbnail": {"width": 474, "height": 237}, "imageInsightsToken": "ccid_EhO2T0yV*mid_A1C25B0DFE284D5FFAFC7974AFD0D5C37BE0B138*simid_608001783474620351",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "A1C25B0DFE284D5FFAFC7974AFD0D5C37BE0B138", "accentColor": "AB2023"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=32A8D8BC5FD3D924E0450C83F7EC7940D11530D2&simid=608011743529798060",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "Creating Connecticut Jobs
        | Connecticut House Democrats", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.Uu0tpbqd5FB0USrF-YRdFAHaE7&pid=Api",
        "datePublished": "2018-07-09T13:37:00.0000000Z", "contentUrl": "http:\/\/www.hou[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=jobs%20(site:search.gov/blog/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - ADA980A1747E4E82B33124200401BAB[...]
[...]
