---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=notes%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3AD9A86E67D6440E88BBE8DDAFD5A835
      X-Msedge-Clientid:
      - 0B1334C7481764FE0885389F49186516
      X-Msapi-Userstate:
      - e21d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DF9EA8C0443F4AC4A59BEAE4021B4F99&CID=0B1334C7481764FE0885389F49186516&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DF9EA8C0443F4AC4A59BEAE4021B4F99&CID=0B1334C7481764FE0885389F49186516&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=notes+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5421.1", "totalEstimatedMatches": 19800000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Individual - Treasury Notes", "url": "https:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tnotes_glance.htm",
        "urlPingSuffix": "DevEx,5060.1", "displayUrl": "https:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tnotes_glance.htm",
        "snippet": "Treasury Notes. Treasury notes, sometimes called T-Notes,
        earn a fixed rate of interest every six months until maturity. Notes are
        issued in terms of 2, 3, 5, 7, and 10 years.", "dateLastCrawled": "2018-08-17T08:05:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "TreasuryDirect
        KIDS - The Basics of Treasury Securities ...", "url": "https:\/\/www.treasurydirect.gov\/kids\/basics\/basics_notes.htm",
        "urlPingSuffix": "DevEx,5074.1", "displayUrl": "https:\/\/www.treasurydirect.gov\/kids\/basics\/basics_notes.htm",
        "snippet": "Treasury Notes. Treasury Notes Facts: Also called T-notes;
        Short to medium-term in[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=emergencia%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - AAF422F4F13545FB8C4B94[...]
