---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=hillary%20rodham%20clinton%20first%20lady%20(site:whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C5C5A7D0F83B46D19021C84D0A09D849
      X-Msedge-Clientid:
      - 2A319F5359B56434194194CD58506512
      X-Msapi-Userstate:
      - d72d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=48E4839036864709B12D65FCD06D3442&CID=2A319F5359B56434194194CD58506512&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=48E4839036864709B12D65FCD06D3442&CID=2A319F5359B56434194194CD58506512&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hillary+rodham+clinton+first+lady+(site%3awhitehouse.gov)",
        "webSearchUrlPingSuffix": "DevEx,5393.1", "totalEstimatedMatches": 16, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Hillary
        Rodham Clinton - White House", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-ladies\/hillary-rodham-clinton\/",
        "urlPingSuffix": "DevEx,5076.1", "about": [{"name": "Hillary Clinton"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/...\/first-ladies\/hillary-rodham-clinton",
        "snippet": "Hillary Diane Rodham Clinton served as the First Lady of
        the United States to the 42nd President, Bill Clinton. She went on to become
        a U.S. Secretary of State and U ...", "dateLastCrawled": "2018-02-11T00:00:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "First
        Ladies of the United States - whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-ladies\/",
        "urlPingSuffix": "DevEx,5092.1", "displayUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-ladies",
        "snippet": "Which two first ladies met their husbands through local newspapers?
        Who was the first Fi[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=hillary%20rodham%20clinton%20first%20lady%20(site:whitehouse.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
    [...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=hillary%20rodham%20clinton%20first%20lady%20(site:whitehouse.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B95EB13BF7BE4BDD90BB0A4D5D8DC906
      Bingapis-Sessionid:
      - 0DA9626A173C43B3A7005F167BF61BF1
      X-Msedge-Clientid:
      - 27FBDE9D39F968AA176BD26738B5695F
      X-Msapi-Userstate:
      - 46af
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=213,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "hillary
        rodham clinton first lady (site:whitehouse.gov)"}, "webPages": {"webSearchUrl":
        "https:\/\/www.bing.com\/search?q=hillary+rodham+clinton+first+lady+(site%3awhitehouse.gov)",
        "totalEstimatedMatches": 50, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Hillary Rodham Clinton | The White House", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-ladies\/hillary-rodham-clinton\/",
        "about": [{"name": "Hillary Clinton"}], "isFamilyFriendly": true, "displayUrl":
        "https:\/\/www.whitehouse.gov\/...\/first-ladies\/hillary-rodham-clinton",
        "snippet": "Hillary Diane Rodham Clinton served as the First Lady
        of the United States to the 42nd President, Bill Clinton. She went on to
        become a U.S. Secretary of State and U.S. Senator from New York.", "dateLastCrawled":
        "2019-01-28T22:26:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "First Ladies | The White House", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-ladies\/",
        "about": [{"name": "Nancy Reagan"}], "isFamilyFriendly": true, "displayUrl":
        "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-ladies",
        "snippet": "Which two first ladies met their husbands through local newspapers?
        Who was the fi[...]
