---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=first%20item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1653A5B3B04E466CBF0A11C199C503A0
      X-Msedge-Clientid:
      - 25BD4C1A65786BEB1C774784649D6AE5
      X-Msapi-Userstate:
      - 6bb8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=26A82FB0EF8F402B950A20F97B110338&CID=25BD4C1A65786BEB1C774784649D6AE5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=26A82FB0EF8F402B950A20F97B110338&CID=25BD4C1A65786BEB1C774784649D6AE5&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=first+item+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5457.1", "totalEstimatedMatches": 289000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Home Inventory Checklist", "url": "http:\/\/www.dfs.ny.gov\/consumer\/homeown\/home_invchklst.pdf",
        "urlPingSuffix": "DevEx,5085.1", "displayUrl": "www.dfs.ny.gov\/consumer\/homeown\/home_invchklst.pdf",
        "snippet": "HOME INVENTORY CHECKLIST Household Inventory Checklist | 2 Number
        Of Items Item Year Bought Cost Living Room Air Conditioner Window Units",
        "dateLastCrawled": "2018-02-11T20:16:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "First Aid List - Occupational Safety and Health Administration",
        "url": "https:\/\/www.osha.gov\/recordkeeping\/firstaid_list.pdf", "urlPingSuffix":
        "DevEx,5097.1", "displayUrl": "https:\/\/www.osha.gov\/recordkeeping\/firstaid_list.pdf",
        "snippet": "First Aid List 1904.7 (b)(5)(ii) What is “first aid”? For
        the purposes of Part 1904, \"first [...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=loren%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/js[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=noticia%20uno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - applic[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/jso[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/js[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=first%20item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 00EF26348B60454F8893[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=loren%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 465EB1C144C64B589A790607D2B[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=noticia%20uno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 49AAC4529B8E45BBB96[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 532CBFBC79F74921862EF9227D0E[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - FDB24C271912483E9DA7FBA6168C484F
      X-Msedge-Clientid:
      - 1325E49CBD3163222AEEE830BCE662E2
      X-Msapi-Userstate:
      - cf0b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=49F7B2E65719411990173B5B078C3406&CID=1325E49CBD3163222AEEE830BCE662E2&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=49F7B2E65719411990173B5B078C3406&CID=1325E49CBD3163222AEEE830BCE662E2&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=obama+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5423.1", "totalEstimatedMatches": 8780000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "The White House", "url": "https:\/\/www.whitehouse.gov\/", "urlPingSuffix":
        "DevEx,5058.1", "about": [{"name": "The White House"}, {"name": "whitehouse.gov"},
        {"name": "White House"}], "displayUrl": "https:\/\/www.whitehouse.gov",
        "snippet": "History of The White House. Our first president, George Washington,
        selected the site for the White House in 1791. Every president since John
        Adams has occupied the White House, and the history of ...", "dateLastCrawled":
        "2018-11-16T14:40:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages[...]
[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=first%20item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 36BA7CC03DE14B918540110C03F4199A
      Bingapis-Sessionid:
      - 904D348378654F0FB6626A2BAF57748E
      X-Msedge-Clientid:
      - 1F274DA46D0A633D3EA4415E6C46627B
      X-Msapi-Userstate:
      - c8e2
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=225,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "first
        item (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=first+item+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 836000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "First U.S. Patent Issued Today in 1790 | USPTO", "url": "https:\/\/www.uspto.gov\/about-us\/news-updates\/first-us-patent-issued-today-1790",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.uspto.gov\/about-us\/news-updates\/first-us-patent-issued...",
        "snippet": "The patent was signed by President George Washington. Hopkins
        was born in Vermont, but was living in Philadelphia, Pa. when the patent
        was granted. The first patent, as well as the more than 6 million patents
        issued since then, can be seen on the Department of Commerce''s United States
        Patent and Trademark Office website at www.uspto.gov .", "dateLastCrawled":
        "2019-01-30T06:50:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "U.S. Senate: Constitution of the United States", "url": "https:\/\/www.senate.gov\/civics\/constitution_item\/constitution.htm",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.senate.gov\/civics\/constitution_item\/constitution.htm",
        "snippet": "Written in 1787, ratified in 1788, and in operation since 1789,
        the United States Constitution is the world’s long[...]
[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=loren%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=noticia%20uno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; chars[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
[...]
[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=obama%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8[...]
[...]
