---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=%27death%20star%20r2d2%20xyz3%27%20(site:petitions.whitehouse.gov/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B859B492123E45FA93AFF62589AAADC8
      X-Msedge-Clientid:
      - 288C674DFA9A6FEC1DEF6C0AFB0D6E36
      X-Msapi-Userstate:
      - cff5
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=74DFDC93CCDC4151803C5CA2472EB689&CID=288C674DFA9A6FEC1DEF6C0AFB0D6E36&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=74DFDC93CCDC4151803C5CA2472EB689&CID=288C674DFA9A6FEC1DEF6C0AFB0D6E36&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 27 Nov 2017 22:13:39 GMT
recorded_with: VCR 3.0.3
