---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=hillary%20rodham%20clinton%20first%20lady%20(site:whitehouse.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7831C1AB815C4BCD8A39E905CF4A4286
      X-Msedge-Clientid:
      - 2BE5FB07BEDC67171726F75FBFD36689
      X-Msapi-Userstate:
      - ad20
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9B120D7B479F45A99EB1609A26B25E4D&CID=2BE5FB07BEDC67171726F75FBFD36689&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9B120D7B479F45A99EB1609A26B25E4D&CID=2BE5FB07BEDC67171726F75FBFD36689&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hillary+rodham+clinton+first+lady+(site%3awhitehouse.gov)",
        "webSearchUrlPingSuffix": "DevEx,5421.1", "totalEstimatedMatches": 55, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Hillary
        Rodham Clinton - The White House", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-ladies\/hillary-rodham-clinton\/",
        "urlPingSuffix": "DevEx,5059.1", "about": [{"name": "Hillary Clinton"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/...\/first-ladies\/hillary-rodham-clinton",
        "snippet": "Hillary Diane Rodham Clinton served as the First Lady of
        the United States to the 42nd President, Bill Clinton. She went on to become
        a U.S. Secretary of S", "dateLastCrawled": "2018-08-19T04:52:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "First
        Ladies - The White House", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-ladies\/",
        "urlPingSuffix": "DevEx,5073.1", "about": [{"name": "Nancy Reagan"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-ladies",
        "snippet": "Which two first ladies met their husbands through local newspapers?
  [...]
