---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hello%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 298B17448C12419DA3BF20847A59B373
      X-Msedge-Clientid:
      - 11F4EC15B18D693D1B6AE6D6B01A68C5
      X-Msapi-Userstate:
      - '9762'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9CC567B6E32947C5A2C7B75D40BB6608&CID=11F4EC15B18D693D1B6AE6D6B01A68C5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9CC567B6E32947C5A2C7B75D40BB6608&CID=11F4EC15B18D693D1B6AE6D6B01A68C5&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hello+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5455.1", "totalEstimatedMatches": 734000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Hello ITC, Goodbye ITS!", "url": "https:\/\/gsablogs.gsa.gov\/technology\/2017\/01\/05\/hello-itc-goodbye-its\/",
        "urlPingSuffix": "DevEx,5075.1", "displayUrl": "https:\/\/gsablogs.gsa.gov\/technology\/2017\/01\/05\/hello-itc-goodbye-its",
        "snippet": "Hello ITC, Goodbye ITS! By ... OMB created the Category Management
        Leadership Council, which approved dividing the federal marketplace into 10
        super categories (PDF).", "dateLastCrawled": "2017-07-12T12:37:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "HELLO
        my name is...", "url": "https:\/\/www.census.gov\/library\/visualizations\/2016\/comm\/cb16-tps154_surnames_top15.html",
        "urlPingSuffix": "DevEx,5089.1", "displayUrl": "https:\/\/www.census.gov\/library\/visualizations\/2016\/comm\/cb16-tps...",
        "snippet": "Top 15 Most Popular Last Names in the U.S. by Rank", "dateLastCrawled":
        "2017-07-08T12:28:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "Hello La Nina | National Oceanic and Atmospheric ...", "url": "http:\/\/www.noaa.gov\/news\/hello-la-nina",
        "urlPingSuffix": "DevEx,5104.1", "displayUrl": "www.noaa.gov\/news\/hello-la-nina",
        "snippet": "November 10, 2016 La Nina has arrived and is favored to stick
        around through winter. Forecasters say the climate phenomena will likely contribute
        to drier ...", "dateLastCrawled": "2017-07-14T01:50:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "HELLP syndrome:
        MedlinePlus Medical Encyclopedia", "url": "https:\/\/medlineplus.gov\/ency\/article\/000890.htm",
        "urlPingSuffix": "DevEx,5121.1", "about": [{"name": "HELLP syndrome"}], "displayUrl":
        "https:\/\/medlineplus.gov\/ency\/article\/000890.htm", "snippet": "Read our
        article and learn more on MedlinePlus: HELLP syndrome", "dateLastCrawled":
        "2017-07-13T07:07:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.4",
        "name": "Hello, World | whitehouse.gov", "url": "https:\/\/obamawhitehouse.archives.gov\/blog\/2015\/05\/17\/hello-world",
        "urlPingSuffix": "DevEx,5136.1", "displayUrl[...]
