---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(hippopotomonstrosesquippedaliophobia)%20language:en%20(site:nih.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028hippopotomonstrosesquippedaliophobia\u0029
        language\u003aen \u0028site\u003anih.gov\u0029"},"Web":{"Total":1,"Offset":0,"Results":[{"Title":"Age
        of onset of mental disorders\u003a a review of recent ...","Description":"1.
        Curr Opin Psychiatry. 2007 Jul\u003b20\u00284\u0029\u003a359-64. Age of onset
        of mental disorders\u003a a review of recent literature. Kessler RC\u00281\u0029,
        Amminger GP, Aguilar-Gaxiola S, Alonso ...","Url":"https\u003a\u002f\u002fwww.ncbi.nlm.nih.gov\u002fpubmed\u002f17551351","DisplayUrl":"https\u003a\u002f\u002fwww.ncbi.nlm.nih.gov\u002fpubmed\u002f17551351","DateTime":"2016-11-30T01\u003a28\u003a00Z"}]}}}'
  recorded_at: Fri, 06 Dec 2017 17:00:00 GMT
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hippopotomonstrosesquippedaliophobia%20(site:nih.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1B52FADC280B4397BF0139D064B2DBC7
      X-Msedge-Clientid:
      - 3928B5A3777760D829DCBC5C76E0615C
      X-Msapi-Userstate:
      - 0905
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=BA7509D3A1284F7EB0D14D51B02285FB&CID=3928B5A3777760D829DCBC5C76E0615C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=BA7509D3A1284F7EB0D14D51B02285FB&CID=3928B5A3777760D829DCBC5C76E0615C&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 03 Jan 2017 22:57:41 GMT
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hippopotomonstrosesquippedaliophobia%20(site:nih.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - FFAC734991F749DBA7A5D9859E28F93F
      X-Msedge-Clientid:
      - 17DE2E4FF64B6BC80C1D27B0F7DC6AAD
      X-Msapi-Userstate:
      - b268
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=821F6E321DDC421D99C2C618EE9FFEAE&CID=17DE2E4FF64B6BC80C1D27B0F7DC6AAD&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=821F6E321DDC421D99C2C618EE9FFEAE&CID=17DE2E4FF64B6BC80C1D27B0F7DC6AAD&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 03 Jan 2017 22:57:44 GMT
recorded_with: VCR 3.0.3
