---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hillary%20rodham%20clinton%20first%20lady%20(site:whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 39F6F4D1A53E472DB137E3552819B415
      X-Msedge-Clientid:
      - '043095EB3F43611C3CF59E673EEC60E4'
      X-Msapi-Userstate:
      - cf44
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=BB3F69EDDCE040F5B51652A1B811323C&CID=043095EB3F43611C3CF59E673EEC60E4&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=BB3F69EDDCE040F5B51652A1B811323C&CID=043095EB3F43611C3CF59E673EEC60E4&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hillary+rodham+clinton+first+lady+(site%3awhitehouse.gov)",
        "webSearchUrlPingSuffix": "DevEx,5380.1", "totalEstimatedMatches": 15, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Hillary
        Rodham Clinton - White House", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-ladies\/hillary-rodham-clinton\/",
        "urlPingSuffix": "DevEx,5074.1", "about": [{"name": "Hillary Clinton"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/...\/first-ladies\/hillary-rodham-clinton",
        "snippet": "Hillary Diane Rodham Clinton served as the First Lady of
        the United States to the 42nd President, Bill Clinton. She went on to become
        a U.S. Secretary of State and U ...", "dateLastCrawled": "2018-01-27T02:18:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "First
        Ladies of the United States - whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-ladies\/",
        "urlPingSuffix": "DevEx,5090.1", "displayUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-ladies",
        "snippet": "Which two first ladies met their husbands through local newspapers?
        Who was the first Fi[...]
