---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8AA330284167489CA4F185E53710AE05
      X-Msedge-Clientid:
      - 1FA4CB8EE0BF6C5223F1C1B0E1286DB9
      X-Msapi-Userstate:
      - f798
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F8940B931E864A08B34C1C5CA7A2DEFC&CID=1FA4CB8EE0BF6C5223F1C1B0E1286DB9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F8940B931E864A08B34C1C5CA7A2DEFC&CID=1FA4CB8EE0BF6C5223F1C1B0E1286DB9&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=item+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5487.1", "totalEstimatedMatches": 1970000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Form 8-K - Official Site", "url": "https:\/\/www.sec.gov\/about\/forms\/form8-k.pdf",
        "urlPingSuffix": "DevEx,5080.1", "displayUrl": "https:\/\/www.sec.gov\/about\/forms\/form8-k.pdf",
        "snippet": "If a report on Form 8-K contains disclosures under Item 2.02
        or Item 7.01, whether or not the report contains disclosures regarding other
        items, ...", "dateLastCrawled": "2017-02-28T20:47:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Bishop Arnett | Library of Congress", "url": "https:\/\/www.loc.gov\/item\/2016697726\/",
        "urlPingSuffix": "DevEx,5091.1", "displayUrl": "https:\/\/www.loc.gov\/item\/2016697726",
        "snippet": "No, the item is not digitized. Please go to #2. Do the Access
        Advisory or Call Number fields above indicate that a non-digital surrogate
        exists ...", "dateLastC[...]
[...]
