---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:www.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8799555E69D14FEDABCABD098CF5378C
      X-Msedge-Clientid:
      - 0E8EE7138C24650A3401ED718DB36489
      X-Msapi-Userstate:
      - afbc
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9305925860C44F019C6BF8F18DE96BD1&CID=0E8EE7138C24650A3401ED718DB36489&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9305925860C44F019C6BF8F18DE96BD1&CID=0E8EE7138C24650A3401ED718DB36489&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3awww.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5489.1", "totalEstimatedMatches": 32700,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Looking for a New Job | USA.gov", "url": "https:\/\/www.usa.gov\/job-search",
        "urlPingSuffix": "DevEx,5083.1", "displayUrl": "https:\/\/www.usa.gov\/job-search",
        "snippet": "Looking for a New Job. Find out how to look for work in the
        private sector and federal government. Find a Federal Government Job. Learn
        how to find a job with the ...", "deepLinks": [{"name": "Government Jobs",
        "url": "https:\/\/www.usa.gov\/government-jobs", "urlPingSuffix": "DevEx,5078.1"},
        {"name": "Find a Job", "url": "https:\/\/www.usa.gov\/find-a-job", "urlPingSuffix":
        "DevEx,5079.1"}], "dateLastCrawled": "2017-04-08T14:58:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Find a Job |
        USA.gov", "url": "https:\/\/www.usa.gov\/find-a-job", "urlPingSuffix": "DevEx,5098.1",
        "displayUrl": "https:\/\/www.usa.gov\/find-a-job", "snippet": "Jobs for
        Teens and Young Adults. Learn about occupations to help you plan your future
        (for grades K-12). Find tips and information for teens about how to get a
        job.", "dateLastCrawl[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - FDA669C8BE9A40C39660F4704032C133
      X-Msedge-Clientid:
      - 2FB2A12465B462D42200AB466423636D
      X-Msapi-Userstate:
      - 07d0
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=FEDFC56EF33E40B498ADD04C5E5382F3&CID=2FB2A12465B462D42200AB466423636D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=FEDFC56EF33E40B498ADD04C5E5382F3&CID=2FB2A12465B462D42200AB466423636D&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=jobs%20(site:.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5179.1", "totalEstimatedMatches": 138, "nextOffset":
        20, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=2DE1398FAA9526303BAE7C1267CD7DB4918F004D&simid=608013073842177315",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "Virginia Jobs", "thumbnailUrl":
        "https:\/\/tse4.mm.bing.net\/th?id=OIP.AIGFeteR54KszBGdtkt87wEsDQ&pid=Api",
        "datePublished": "2017-03-15T00:13:00.0000000Z", "contentUrl": "http:\/\/jobs.virginia.gov\/images\/people.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/jobs.virginia.gov\/",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "49581 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "jobs.virginia.gov", "width": 512, "height":
        356, "thumbnail": {"width": 300, "height": 208}, "imageInsightsToken": "ccid_AIGFeteR*mid_2DE1398FAA9526303BAE7C1267CD7DB4918F004D*simid_608013073842177315",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "2DE1398FAA9526303BAE7C1267CD7DB4918F004D", "accentColor": "9B8830"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=5A9A3807CD84C4396CA0305F36086CCFD8787860&simid=607997925484858747",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "Jobs | Exams for Jobs |
        City of New York", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.2P_LJ-m3FORkO8g3zVNHoQEsEs&pid=Api",
        "datePublished": "2013-09-29T19:25:00.0000000Z", "contentUrl": "http:\/\/www1.nyc.gov\/assets\/[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:usasearch.howto.gov/blog)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 71CC318B8AF34C19BA07AD72079E13EA
      X-Msedge-Clientid:
      - 32751B2DE64D637C38A8114FE7DA6291
      X-Msapi-Userstate:
      - '1503'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=ADF1EE9D99834C8AA3B2DD0740BE4505&CID=32751B2DE64D637C38A8114FE7DA6291&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=ADF1EE9D99834C8AA3B2DD0740BE4505&CID=32751B2DE64D637C38A8114FE7DA6291&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 12 Apr 2017 02:17:26 GMT
[...]
