---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28warnings+for+a+tornado%29+language%3Aen+%28scopeid%3Ausagovall+OR+site%3Agov+OR+site%3Amil%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028warnings
        for a tornado\u0029 language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov
        OR site\u003amil\u0029"},"Web":{"Total":2360000,"Offset":0,"Results":[{"Title":"NWS
        Tornado Watch vs Warning","Description":"What is the difference between
        a Tornado Watch and a Tornado Warning issued by the National Weather
        Service\u003f Tornado Watch\u003a Be Prepared\u0021 Tornadoes are possible
        in and ...","Url":"http\u003a\u002f\u002fwww.nws.noaa.gov\u002fom\u002fsevereweather\u002fww.shtml","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dwarnings\u002bfor\u002ba\u002btornado\u0026d\u003d4638587737408372\u0026w\u003d-b8S3yigRoI9YsgGa9BsMzjVWLsfTfwS","DisplayUrl":"www.nws.noaa.gov\u002fom\u002fsevereweather\u002fww.shtml","DateTime":"2016-05-31T18\u003a10\u003a00Z"},{"Title":"NWS
        - Watch, Warning, Advisory Display","Description":"Severe weather information
        from the Storm Prediction Center. weather ... NWS Warnings and Advisories
        on this map become ... Tornado Watch Tornado Warning\u002a","Url":"http\u003a\u002f\u002fwww.spc.noaa.gov\u002fproducts\u002fwwa\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dwarnings\u002bfor\u002ba\u002btornado\u0026d\u003d45981[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28atlantic%29+language%3Aen+%28scopeid%3Ausagovall+OR+site%3Agov+OR+site%3Amil%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    [...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(warnings%20for%20a%20tornado)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028warnings
        for a tornado\u0029 language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov
        OR site\u003amil\u0029"},"Web":{"Total":1630000,"Offset":0,"Results":[{"Title":"NWS
        Tornado Warnings - forecast.weather.gov","Description":"National Weather
        Service is your source for the most complete weather forecast [...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(atlantic)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    [...]
