---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D07ADAFE0C484BFFB3306014171FB0F9
      X-Msedge-Clientid:
      - 217777C8FF586B432ACD7D77FECF6A40
      X-Msapi-Userstate:
      - b26a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1DE4CF015C3B40B8A1C83DD6E72D05EA&CID=217777C8FF586B432ACD7D77FECF6A40&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1DE4CF015C3B40B8A1C83DD6E72D05EA&CID=217777C8FF586B432ACD7D77FECF6A40&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5519.1", "totalEstimatedMatches": 32900,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Find a Federal Government Job | USAGov", "url": "https:\/\/www.usa.gov\/government-jobs",
        "urlPingSuffix": "DevEx,5084.1", "displayUrl": "https:\/\/www.usa.gov\/government-jobs",
        "snippet": "The federal government has job opportunities available now in
        agencies throughout the U.S. If you’re interested in a job with the federal
        government, visit USAJOBS ...", "dateLastCrawled": "2017-07-10T06:06:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Looking
        for a New Job | USAGov", "url": "https:\/\/www.usa.gov\/job-search", "urlPingSuffix":
        "DevEx,5102.1", "displayUrl": "https:\/\/www.usa.gov\/job-search", "snippet":
        "Looking for a New Job. Find out how to look for work in the private sector
        and federal government. Find a Federal Government Job. Learn how to find a
        job with the ...", "deepLinks": [{"name": "Government Jobs", "url": "https:\/\/www.usa.gov\/government-jobs",
        "urlPingSuffix": "DevEx,5097.1"}, {"name": "Find a Job", "url": "https:\/\/www.usa.gov\/find-a-job",
        "urlPingSuffix": "DevEx,5098.1"}], "dateLastCrawled": "2017-07-06T08:31:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Jobs
        and Unemployment | USAGov", "url": "https:\/\/www.usa.gov\/jobs-and-unemployment",
        "urlPingSuffix": "DevEx,5119.1", "d[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jazz%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
   [...]
