---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=notes%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1A6D3BCB51224100B91119EE1DECA866
      X-Msedge-Clientid:
      - 2E715ED6F22861410A7654EBF3BF60DB
      X-Msapi-Userstate:
      - 23e8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B92B5AA3FB2A448F98D44D8774ED7518&CID=2E715ED6F22861410A7654EBF3BF60DB&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B92B5AA3FB2A448F98D44D8774ED7518&CID=2E715ED6F22861410A7654EBF3BF60DB&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=notes+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5476.1", "totalEstimatedMatches": 2850000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Individual - Treasury Notes", "url": "http:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tnotes_glance.htm",
        "urlPingSuffix": "DevEx,5084.1", "displayUrl": "www.treasurydirect.gov\/indiv\/products\/prod_tnotes_glance.htm",
        "snippet": "Treasury Notes. Treasury notes, sometimes called T-Notes,
        earn a fixed rate of interest every six months until maturity. Notes are
        issued in terms of 2, 3 ...", "deepLinks": [{"name": "Treasury Notes in Depth",
        "url": "http:\/\/www.treasurydirect.gov\/indiv\/research\/indepth\/tnotes\/res_tnote.htm",
        "urlPingSuffix": "DevEx,5076.1"}, {"name": "Rates & Terms", "url": "https:\/\/www.treasurydirect.gov\/indiv\/research\/indepth\/tnotes\/res_tnote_rates.htm",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "Treasury Bonds", "url": "http:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tbonds_glance.htm",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Treasury Bills", "url": "http:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tbills_glance.htm",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Tips", "url": "http:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tips_glance.htm",
        "urlPingSuffix": "DevEx,5080.1"}], "dateLastCrawled": "2017-03-02T16:31:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "WEBTech
        Notes - fdlp.gov", "url": "https:\/\/www.fdlp.gov\/webtech-notes", "urlPingSuffix":
        "DevEx,5096.1", "displayUrl": "https:\/\/www.fdlp.gov\/webtech-notes", "snippet":
        "WEBTech Notes; Requirements & Guidance. Legal Requirements; Guidance; Instructions;
        Collections & Databases; Promotion; GPO Web sites. U.S. Government Publishing
        Office;[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=emergencia%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;[...]
