---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=hillary%20rodham%20clinton%20first%20lady%20(site:whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C5C5A7D0F83B46D19021C84D0A09D849
      X-Msedge-Clientid:
      - 2A319F5359B56434194194CD58506512
      X-Msapi-Userstate:
      - d72d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=48E4839036864709B12D65FCD06D3442&CID=2A319F5359B56434194194CD58506512&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=48E4839036864709B12D65FCD06D3442&CID=2A319F5359B56434194194CD58506512&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hillary+rodham+clinton+first+lady+(site%3awhitehouse.gov)",
        "webSearchUrlPingSuffix": "DevEx,5393.1", "totalEstimatedMatches": 16, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Hillary
        Rodham Clinton - White House", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-ladies\/hillary-rodham-clinton\/",
        "urlPingSuffix": "DevEx,5076.1", "about": [{"name": "Hillary Clinton"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/...\/first-ladies\/hillary-rodham-clinton",
        "snippet": "Hillary Diane Rodham Clinton served as the First Lady of
        the United States to the 42nd President, Bill Clinton. She went on to become
        a U.S. Secretary of State and U ...", "dateLastCrawled": "2018-02-11T00:00:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "First
        Ladies of the United States - whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-ladies\/",
        "urlPingSuffix": "DevEx,5092.1", "displayUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-ladies",
        "snippet": "Which two first ladies met their husbands through local newspapers?
        Who was the first Fi[...]
