---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(warnings%20for%20a%20tornado)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028warnings
        for a tornado\u0029 language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov
        OR site\u003amil\u0029"},"Web":{"Total":1510000,"Offset":0,"Results":[{"Title":"NWS
        Tornado Warnings - forecast.weather.gov","Description":"National Weather
        Service is your source for the most complete weather forecast and weather
        related information on the web","Url":"http\u003a\u002f\u002fforecast.weather.gov\u002fproduct_types.php\u003fsite\u003dNWS\u003fprodtype\u003dtornado","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dwarnings\u002bfor\u002ba\u002btornado\u0026d\u003d4755702945221508\u0026w\u003djrNMVRrnP-BypPLMu-tV0Fcei0fIUhQ7","DisplayUrl":"forecast.weather.gov\u002fproduct_types.php\u003fsite\u003dNWS\u003fprodtype\u003dtornado","DateTime":"2016-12-04T17\u003a20\u003a00Z"},{"Title":"Warnings\u002fWatches
        - NOAA\u0027s National Weather Service","Description":"National Weather Service
        Home page. The starting point for official government weather forecasts, warnings,
        meteorological products for forecasting the ...","Url":"http\u003a\u002f\u002fwww.nws.noaa.gov\u002fwarnings.php","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dwarnings\u002bfor\u002ba\u002btornado\u0026d\u003d4850[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(atlantic)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    [...]
