---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=warnings%20for%20a%20tornado%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9F096B7108B34881A64876E05B613AE2
      X-Msedge-Clientid:
      - 359A0A9E53976748173806C652986601
      X-Msapi-Userstate:
      - 47c3
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E25A8ABDCCC94D49B14D77043C0B56AD&CID=359A0A9E53976748173806C652986601&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E25A8ABDCCC94D49B14D77043C0B56AD&CID=359A0A9E53976748173806C652986601&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=warnings+for+a+tornado+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5424.1", "totalEstimatedMatches": 6300000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Watch\/Warning\/Advisory Definitions", "url": "https:\/\/www.weather.gov\/lwx\/WarningsDefined",
        "urlPingSuffix": "DevEx,5059.1", "displayUrl": "https:\/\/www.weather.gov\/lwx\/WarningsDefined",
        "snippet": "National Weather Service Baltimore\/Washington - Watch\/Warning\/Advisory
        Definitions", "dateLastCrawled": "2018-08-21T16:39:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Tornadoes | Ready.gov", "url": "https:\/\/www.ready.gov\/tornadoes",
        "urlPingSuffix": "DevEx,5073.1", "about": [{"name": "Tornado"}], "displayUrl":
        "https:\/\/www.ready.gov\/tornado", "snippet": "Tornadoes can destroy
        buildings, flip cars, and create deadly flying debris. Tornadoes are violently
        rotating columns of air that extend from a thunderstorm to the ground.", "dateLastCrawled":
        "2018-08-19T00:39:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "Preparing for a Tornado - StormAware Tornado Safety", "url":
       [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=atlantic%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - FA2943B5D45340AB831F803C[...]
