---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28hello%29+language%3Aen+%28scopeid%3Ausagovall+OR+site%3Agov+OR+site%3Amil%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028hello\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":774000,"Offset":0,"Results":[{"Title":"Hello,
        World \u007c whitehouse.gov","Description":"Hello, World. May 17, 2015 at
        4\u003a52 ... From there, the next step for most people is to change the program
        to say something else, like \u201cHello, Ed,\u201d and from there ...","Url":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fblog\u002f2015\u002f05\u002f17\u002fhello-world","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhello\u0026d\u003d4569275542997164\u0026w\u003dhHeqR8-F0sgd3bBRoiQpnJAZiWDPF465","DisplayUrl":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fblog\u002f2015\u002f05\u002f17\u002fhello-world","DateTime":"2016-04-19T04\u003a48\u003a00Z"},{"Title":"Hello,
        world. \u007c Federal Trade Commission","Description":"Original Comments to
        \u201cHello, world.\u201d ... Hello, Ed. Looking forward to following
        the blog\u0021 Jim Warren March 23, 2012 at 6\u003a31 pm . Hi, Ed \u2013 Delighted
        to see this.","Url":"https\u003a\u002f\u002fwww.ftc.gov\u002fnews-events\u002fblogs\u002ftechftc\u002f2012\u002f03\u002fhello-world","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u0[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(hello)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028hello\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":608000,"Offset":0,"Results":[{"Title":"Hello
        La Nina \u007c National Oceanic and Atmospheric ...","Description":"November
        10, 2016 La Nina has arrived and is favored to stick around through winter.
        [...]
