---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=warnings%20for%20a%20tornado%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E1380A30114A4A9FBDE14CC445707F65
      X-Msedge-Clientid:
      - 2A24D18F8B506CF8170BDA098AFF6D63
      X-Msapi-Userstate:
      - 92ca
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=42EF71F96E1649CBB1E3446E896955CA&CID=2A24D18F8B506CF8170BDA098AFF6D63&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=42EF71F96E1649CBB1E3446E896955CA&CID=2A24D18F8B506CF8170BDA098AFF6D63&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=warnings+for+a+tornado+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5510.1", "totalEstimatedMatches": 17900000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Tornadoes | Ready.gov", "url": "https:\/\/www.ready.gov\/tornadoes",
        "urlPingSuffix": "DevEx,5093.1", "about": [{"name": "Tornado"}, {"name": "Tornado"}],
        "displayUrl": "https:\/\/www.ready.gov\/tornado", "snippet": "This page
        explains what actions to take when you receive a tornado watch or warning
        alert from the National Weather Service for your local area and what to do
        before ...", "dateLastCrawled": "2018-01-19T00:19:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Alerts & Warning Systems - Storm Aware", "url": "https:\/\/stormaware.mo.gov\/alerts\/",
        "urlPingSuffix": "DevEx,5110.1", "displayUrl": "https:\/\/stormaware.mo.gov\/alerts",
        "snippet": "Tornado Sirens What should I do when I hear the sirens? When
        you hear tornado sirens, go inside and tune to local media to get more information.
        Why can’t I hear ...", "deepLinks": [{"name": "Local Warning Systems", "url":
        "https:\/\/stormaware.mo.gov\/alerts\/warning-systems\/", "urlPingSuffix":
        "DevEx,5104.1"}, {"name": "Facts & History", "url": "https:\/\/stormaware.mo.gov\/tornado-facts-history\/",
        "urlPingSuffix": "DevEx,5105.1"}], "dateLastCrawled": "2018-01-19T11:26:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "National
        Weather Service Text Product Display", "url": "http:\/\/forecast.wea[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=atlantic%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; c[...]
