---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:www.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - CB3F5827B8624C84BCA4ED8034ED9EE0
      X-Msedge-Clientid:
      - 112AB6748D5F64FA271ABD338CC865FA
      X-Msapi-Userstate:
      - '9199'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=71521EFFD4A6415789FFC520B2408CE0&CID=112AB6748D5F64FA271ABD338CC865FA&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=71521EFFD4A6415789FFC520B2408CE0&CID=112AB6748D5F64FA271ABD338CC865FA&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3awww.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5532.1", "totalEstimatedMatches": 153000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Jobs and Career Information | USAGov", "url": "https:\/\/www.usa.gov\/jobs-careers",
        "urlPingSuffix": "DevEx,5093.1", "displayUrl": "https:\/\/www.usa.gov\/jobs-careers",
        "snippet": "Jobs and Career Information. Find information about different
        career fields. Animal Care and Science. Find career information about animal
        science and care.", "dateLastCrawled": "2017-11-21T21:17:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Find a Federal
        Government Job | USAGov", "url": "https:\/\/www.usa.gov\/government-jobs",
        "urlPingSuffix": "DevEx,5112.1", "displayUrl": "https:\/\/www.usa.gov\/government-jobs",
        "snippet": "The federal government has job opportunities available now in
        agencies throughout the U.S. If you’re interested in a job with the federal
        government, v[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 44AA3718E14344E5BE5ACDC8F4FA2BD6
      X-Msedge-Clientid:
      - 26BD396ED5BB618308723229D42C6065
      X-Msapi-Userstate:
      - d3fd
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D12BAA0A78BF4864B5AE63781251F80F&CID=26BD396ED5BB618308723229D42C6065&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D12BAA0A78BF4864B5AE63781251F80F&CID=26BD396ED5BB618308723229D42C6065&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=jobs%20(site:.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5182.1", "totalEstimatedMatches": 136, "nextOffset":
        20, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=2DE1398FAA9526303BAE7C1267CD7DB4918F004D&simid=608013074342675363",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "Virginia Jobs", "thumbnailUrl":
        "https:\/\/tse4.mm.bing.net\/th?id=OIP.AIGFeteR54KszBGdtkt87wEsDQ&pid=Api",
        "datePublished": "2017-11-01T22:37:00.0000000Z", "contentUrl": "http:\/\/jobs.virginia.gov\/images\/people.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/jobs.virginia.gov\/",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "49581 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "jobs.virginia.gov", "width": 512, "height":
        356, "thumbnail": {"width": 300, "height": 208}, "imageInsightsToken": "ccid_AIGFeteR*mid_2DE1398FAA9526303BAE7C1267CD7DB4918F004D*simid_608013074342675363",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "2DE1398FAA9526303BAE7C1267CD7DB4918F004D", "accentColor": "9B8830"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=E361EF5CE0D389DAF5FF10EE7E19CB266F8C1B4D&simid=608016510296721520",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "Returning Service Members
        (OEF\/OIF\/OND) Home", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.M6_jOa2h1L7UCOf7vLlhsACWBa&pid=Api",
        "datePublished": "2017-01-21T04:51:00.0000000Z", "contentUrl": "http:\/\/www.va.gov\/HEAL[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:usasearch.howto.gov/blog/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A26FA9B3A8BE4E39AF7A6FE2003A3B28
      X-Msedge-Clientid:
      - 362877A87A976B70102B7CEF7B006A0D
      X-Msapi-Userstate:
      - 4dc9
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E0564E0149F943ADA2636E1F94BC36C8&CID=362877A87A976B70102B7CEF7B006A0D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E0564E0149F943ADA2636E1F94BC36C8&CID=362877A87A976B70102B7CEF7B006A0D&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 27 Nov 2017 23:07:23 GMT
[...]
