---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=notes%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D64F2E6BBCD641BF8C61001ACBC01BFB
      X-Msedge-Clientid:
      - 0A409B223AF9652A203490BC3B1C64DD
      X-Msapi-Userstate:
      - 759b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=188B06F6A8694295946DA0AB653AA7FE&CID=0A409B223AF9652A203490BC3B1C64DD&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=188B06F6A8694295946DA0AB653AA7FE&CID=0A409B223AF9652A203490BC3B1C64DD&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=notes+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5516.1", "totalEstimatedMatches": 8770000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Individual - Treasury Notes", "url": "https:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tnotes_glance.htm",
        "urlPingSuffix": "DevEx,5099.1", "displayUrl": "https:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tnotes_glance.htm",
        "snippet": "Treasury Notes. Treasury notes, sometimes called T-Notes,
        earn a fixed rate of interest every six months until maturity. Notes are
        issued in terms of 2, 3 ...", "deepLinks": [{"name": "Treasury Bills", "url":
        "https:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tbills_glance.htm",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Treasury Bonds", "url": "https:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tbonds_glance.htm",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "Rates & Terms", "url": "https:\/\/www.treasurydirect.gov\/indiv\/research\/indepth\/tnotes\/res_tnote_rates.htm",
        "urlPingSuffix": "DevEx,5091.1"}, {"name": "Treasury Notes in Depth", "url":
        "https:\/\/www.treasurydirect.gov\/indiv\/research\/indepth\/tnotes\/res_tnote.htm",
        "urlPingSuffix": "DevEx,5092.1"}, {"name": "Tips", "url": "https:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tips_glance.htm",
        "urlPingSuffix": "DevEx,5093.1"}], "dateLastCrawled": "2018-02-10T10:56:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "The Fed
        - FEDS Notes", "url": "https:\/\/www.federalreserve.gov\/econres\/notes\/feds-notes\/default.htm",
        "urlPingSuffix": "DevEx,5114.1", "displayUrl": "https:\/\/www.federalreserve.gov\/econres\/notes\/feds-notes\/default.htm",
        "snippet": "FEDS Notes are articles in which Board economists offer their
        own views and present analysis on a range o[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=emergencia%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - applicati[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=notes%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - '001799AF6A4E43F6AA1B0E6F98[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=emergencia%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C9ABBF550A8F455B94F185[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=notes%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0BBD6269786F4AD68EAA961B435D2170
      Bingapis-Sessionid:
      - 3E668F8647B4406DB5C68C0C57B3533D
      X-Msedge-Clientid:
      - 356107D5FD5D64531FE60B2FFC1165DB
      X-Msapi-Userstate:
      - f06c
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=210,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "notes
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=notes+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 18500000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Individual - Treasury Notes", "url": "https:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tnotes_glance.htm",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.treasurydirect.gov\/indiv\/products\/prod_tnotes_glance.htm",
        "snippet": "Treasury Notes. Treasury notes, sometimes called T-Notes,
        earn a fixed rate of interest every six months until maturity. Notes are
        issued in terms of 2, 3, 5, 7, and 10 years. You can buy notes from us in
        TreasuryDirect. You also can buy them through a bank or broker.", "dateLastCrawled":
        "2019-01-29T17:51:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "References :: Definitions and Notes — The World Factbook ...", "url": "https:\/\/www.cia.gov\/library\/publications\/the-world-factbook\/docs\/notesanddefs.html",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.cia.gov\/library\/publications\/the-world-factbook\/docs\/...",
        "snippet": "An acronym is an abbreviation coined from the initial letter of
        each succe[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=emergencia%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=[...]
