---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:www.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5927BCDC10C64EF2A0FE0EC2F4D18253
      X-Msedge-Clientid:
      - 266A3FB51F1968D93F3334331EB66968
      X-Msapi-Userstate:
      - 71f0
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=450274DB222049F295D37B00089D720C&CID=266A3FB51F1968D93F3334331EB66968&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=450274DB222049F295D37B00089D720C&CID=266A3FB51F1968D93F3334331EB66968&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3awww.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5555.1", "totalEstimatedMatches": 134000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Jobs and Career Information | USAGov", "url": "https:\/\/www.usa.gov\/jobs-careers",
        "urlPingSuffix": "DevEx,5092.1", "displayUrl": "https:\/\/www.usa.gov\/jobs-careers",
        "snippet": "Jobs and Career Information. Find information about different
        career fields. Animal Care and Science. Find career information about animal
        science and care.", "dateLastCrawled": "2018-01-17T11:28:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Find a Federal
        Government Job | USAGov", "url": "https:\/\/www.usa.gov\/government-jobs",
        "urlPingSuffix": "DevEx,5113.1", "displayUrl": "https:\/\/www.usa.gov\/government-jobs",
        "snippet": "The federal government has job opportunities available now in
        agencies throughout the U.S. If you’re interested in a job with the federal
        government, v[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - FEF29F7E1E944194AA2573F8F2632CF6
      X-Msedge-Clientid:
      - 3D00111C5B536A8233DE1A9A5AFC6BB0
      X-Msapi-Userstate:
      - e8a7
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=2541BB216CAD41FCA5AA96C5AB36A557&CID=3D00111C5B536A8233DE1A9A5AFC6BB0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=2541BB216CAD41FCA5AA96C5AB36A557&CID=3D00111C5B536A8233DE1A9A5AFC6BB0&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=jobs%20(site:.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5184.1", "totalEstimatedMatches": 141, "nextOffset":
        20, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=2DE1398FAA9526303BAE7C1267CD7DB4918F004D&simid=608013074527880195",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "Virginia Jobs", "thumbnailUrl":
        "https:\/\/tse2.mm.bing.net\/th?id=OIP.AIGFeteR54KszBGdtkt87wHaFJ&pid=Api",
        "datePublished": "2017-12-22T21:44:00.0000000Z", "contentUrl": "http:\/\/jobs.virginia.gov\/images\/people.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/jobs.virginia.gov\/",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "49581 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "jobs.virginia.gov", "width": 512, "height":
        356, "thumbnail": {"width": 474, "height": 329}, "imageInsightsToken": "ccid_AIGFeteR*mid_2DE1398FAA9526303BAE7C1267CD7DB4918F004D*simid_608013074527880195",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "2DE1398FAA9526303BAE7C1267CD7DB4918F004D", "accentColor": "9B8830"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=F2A7FE5BF0ABC7D3F79E4C480B35B1CC2F7BA370&simid=608051321168792284",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "CDC - What is Total Worker
        Health? - NIOSH Total Worker Health", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.hSMP1EbzKtoRuRP4q3w0fAHaFS&pid=Api",
        "datePublished": "2018-01-07T22:00:00.0000000Z", "contentUrl": "https:\/\[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:usasearch.howto.gov/blog/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 85907DF979B445D2AE5DBA06CBE1EA52
      X-Msedge-Clientid:
      - 0F335E883ABC6B773D59550E3B136AA9
      X-Msapi-Userstate:
      - f6cf
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=177E7699381B4CB5A0B3BA16627BC7A1&CID=0F335E883ABC6B773D59550E3B136AA9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=177E7699381B4CB5A0B3BA16627BC7A1&CID=0F335E883ABC6B773D59550E3B136AA9&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 29 Jan 2018 19:47:13 GMT
[...]
