---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:www.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B9E2CD6EC5B14DC2913EEBB7F6521392
      X-Msedge-Clientid:
      - 1ADE89DAD83D689C0CA4835AD9AA69BB
      X-Msapi-Userstate:
      - '0125'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=776FFCDE051E4082A1036024472A59A9&CID=1ADE89DAD83D689C0CA4835AD9AA69BB&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=776FFCDE051E4082A1036024472A59A9&CID=1ADE89DAD83D689C0CA4835AD9AA69BB&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3awww.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5491.1", "totalEstimatedMatches": 23800,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Looking for a New Job | USA.gov", "url": "https:\/\/www.usa.gov\/job-search",
        "urlPingSuffix": "DevEx,5082.1", "displayUrl": "https:\/\/www.usa.gov\/job-search",
        "snippet": "Looking for a New Job. Find out how to look for work in the
        private sector and federal government. Find a Federal Government Job. Learn
        how to find a job with the ...", "deepLinks": [{"name": "Government Jobs",
        "url": "https:\/\/www.usa.gov\/government-jobs", "urlPingSuffix": "DevEx,5077.1"},
        {"name": "Find a Job", "url": "https:\/\/www.usa.gov\/find-a-job", "urlPingSuffix":
        "DevEx,5078.1"}], "dateLastCrawled": "2017-05-06T20:41:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Find a Job
        | USA.gov", "url": "https:\/\/www.usa.gov\/find-a-job", "urlPingSuffix":
        "DevEx,5097.1", "displayUrl": "https:\/\/www.usa.gov\/find-a-job", "snippet":
        "Jobs for Teens and Young Adults. Learn about occupations to help you plan
        your future ... Vets.gov for resources to help you explore careers, find
        a job, ...", "dateLastCrawle[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7F968A2733F946BEA90C282357747B9C
      X-Msedge-Clientid:
      - 0AD394F01CB86199239B9E701D2F605A
      X-Msapi-Userstate:
      - '9616'
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E7A8CD35F45948E295A804410B3E0AE2&CID=0AD394F01CB86199239B9E701D2F605A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E7A8CD35F45948E295A804410B3E0AE2&CID=0AD394F01CB86199239B9E701D2F605A&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=jobs%20(site:.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5179.1", "totalEstimatedMatches": 142, "nextOffset":
        20, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=2DE1398FAA9526303BAE7C1267CD7DB4918F004D&simid=608013073898997078",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "Virginia Jobs", "thumbnailUrl":
        "https:\/\/tse4.mm.bing.net\/th?id=OIP.AIGFeteR54KszBGdtkt87wEsDQ&pid=Api",
        "datePublished": "2017-04-22T22:01:00.0000000Z", "contentUrl": "http:\/\/jobs.virginia.gov\/images\/people.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/jobs.virginia.gov\/",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "49581 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "jobs.virginia.gov", "width": 512, "height":
        356, "thumbnail": {"width": 300, "height": 208}, "imageInsightsToken": "ccid_AIGFeteR*mid_2DE1398FAA9526303BAE7C1267CD7DB4918F004D*simid_608013073898997078",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "2DE1398FAA9526303BAE7C1267CD7DB4918F004D", "accentColor": "9B8830"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=5A9A3807CD84C4396CA0305F36086CCFD8787860&simid=607997925532437431",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "Jobs | Exams for Jobs |
        City of New York", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.2P_LJ-m3FORkO8g3zVNHoQEsEs&pid=Api",
        "datePublished": "2013-09-29T19:25:00.0000000Z", "contentUrl": "http:\/\/www1.nyc.gov\/assets\/[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:usasearch.howto.gov/blog)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F296AF2F5C2F4C479137085D91711520
      X-Msedge-Clientid:
      - 2B376DE8B3F162DD283A6768B2666310
      X-Msapi-Userstate:
      - 2ce4
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=52550EF386EE4EEA9BAB70B6ACF4704E&CID=2B376DE8B3F162DD283A6768B2666310&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=52550EF386EE4EEA9BAB70B6ACF4704E&CID=2B376DE8B3F162DD283A6768B2666310&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Fri, 12 May 2017 19:31:15 GMT
[...]
