---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hello%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8B68E3C27968437F9EF2C5F349DAEDA3
      X-Msedge-Clientid:
      - 197255B7752C689835CC5FD574BB69BF
      X-Msapi-Userstate:
      - aae8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1FEF1358BA504431A5EA5682F20FCE5A&CID=197255B7752C689835CC5FD574BB69BF&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1FEF1358BA504431A5EA5682F20FCE5A&CID=197255B7752C689835CC5FD574BB69BF&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hello+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5428.1", "totalEstimatedMatches": 325000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Hello,", "url": "https:\/\/www.fws.gov\/rcwrecovery\/pdfs\/swedish_ladders.pdf",
        "urlPingSuffix": "DevEx,5073.1", "displayUrl": "https:\/\/www.fws.gov\/rcwrecovery\/pdfs\/swedish_ladders.pdf",
        "snippet": "Hello, My name is Ted Brock and our company ZenithTech Industries,
        Inc is about to begin a production run of Swedish Climbing Ladders.", "dateLastCrawled":
        "2017-03-05T20:41:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Hello La Nina | National Oceanic and Atmospheric ...", "url": "http:\/\/www.noaa.gov\/news\/hello-la-nina",
        "urlPingSuffix": "DevEx,5086.1", "displayUrl": "www.noaa.gov\/news\/hello-la-nina",
        "snippet": "November 10, 2016 La Nina has arrived and is favored to stick
        around through winter. Forecasters say the climate phenomena will likely contribute
  [...]
