---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(jobs)%20language:en%20(site:www.usa.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028jobs\u0029
        language\u003aen \u0028site\u003awww.usa.gov\u0029"},"Web":{"Total":63400,"Offset":0,"Results":[{"Title":"Looking
        for a New Job \u007c USAGov","Description":"Looking for a New Job. Find out
        how to look for work in the private sector and federal government. Find a
        Federal Government Job. Learn how to find a job with the ...","Url":"https\u003a\u002f\u002fwww.usa.gov\u002fjob-search","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003djobs\u0026d\u003d4922562393212896\u0026w\u003di8JzghFZlyW-hc1UKexwO_i6eTHZSFgu","DisplayUrl":"https\u003a\u002f\u002fwww.usa.gov\u002fjob-search","DateTime":"2016-12-02T23\u003a38\u003a00Z"},{"Title":"JOBS
        \u2013 USA \u2013 FIND A JOB - USAGov","Description":"Jobs for Teens and
        Young Adults. Learn about occupations to help you plan your future \u0028for
        grades K-12\u0029. Find tips and information for teens about how to get a
        job.","Url":"https\u003a\u002f\u002fwww.usa.gov\u002ffind-a-job","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003djobs\u0026d\u003d4674064207907396\u0026w\u003dWt_HL[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&image.count=20&query=(jobs)%20language:en%20(site:.gov)&sources=Spell%20Image&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028jobs\u0029
        language\u003aen \u0028site\u003a.gov\u0029"},"Image":{"Total":17900,"Offset":0,"Results":[{"Title":"Rep.
        Mike Bost\u003a Working Together to grow jobs \u007c Congressman Mike Bost","MediaUrl":"https\u003a\u002f\u002fbost.house.gov\u002fsites\u002fbost.house.gov\u002ffiles\u002ffeatured_image\u002fJObs.jpg","Url":"https\u003a\u002f\u002fbost.house.gov\u002fmedia-center\u002fin-the-news\u002frep-mike-bost-working-together-grow-jobs","DisplayUrl":"https\u003a\u002f\u002fbost.house.gov\u002fmedia-center\u002fin-the-news\u002frep-mike-bost...","Width":500,"Height":375,"FileSize":68470,"ContentType":"image\u002fjpeg","Thumbnail":{"Url":"http\u003a\u002f\u002fts4.mm.bing.net\u002fth\u003fid\u003dOIP.Ma1cd2ccc4ccaa3ac73931cfc5d2e72c0o0\u0026pid\u003d15.1","ContentType":"image\u002fjpg","Width":300,"Height":225,"FileSize":5179}},{"Title":"Collage
        of NOAA Employees in their different jobs","MediaUrl":"http\u003a\u002f\u002fwww.careers.noaa.gov\u002fimages\u002fjobcollage.jpg","Url":"http\u003a\u002f\u002fwww.careers.noaa.gov\u002flife_noaa.html","DisplayUrl":"www.careers.noaa.gov\u002flife_noaa.html","Width":350,"He[...]
[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(jobs)%20language:en%20(site:usasearch.howto.gov/blog)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028jobs\u0029
        language\u003aen \u0028site\u003ausasearch.howto.gov\u002fblog\u0029"},"Web":{"Total":0,"Offset":0}}}'
  recorded_at: Wed, 06 Dec 2017 17:00:00 GMT
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:www.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 82C5182BC68344FE82F53CF625C13BFB
      X-Msedge-Clientid:
      - 0AAA55D95F3A6B4A21D05FC75EAD6ADC
      X-Msapi-Userstate:
      - 30d9
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C08B5BDC62754CD6981D7CD79B0AC843&CID=0AAA55D95F3A6B4A21D05FC75EAD6ADC&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C08B5BDC62754CD6981D7CD79B0AC843&CID=0AAA55D95F3A6B4A21D05FC75EAD6ADC&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3awww.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5491.1", "totalEstimatedMatches": 14000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Looking for a New Job | USA.gov", "url": "https:\/\/www.usa.gov\/job-search",
        "urlPingSuffix": "DevEx,5083.1", "displayUrl": "https:\/\/www.usa.gov\/job-search",
        "snippet": "Looking for a New Job. Find out how to look for work in the
        private sector and federal government. Find a Federal Government Job. Learn
        how to find a job with the ...", "deepLinks": [{"name": "Government Jobs",
        "url": "https:\/\/www.usa.gov\/government-jobs", "urlPingSuffix": "DevEx,5078.1"},
        {"name": "Find a Job", "url": "https:\/\/www.usa.gov\/find-a-job", "urlPingSuffix":
        "DevEx,5079.1"}], "dateLastCrawled": "2017-01-27T04:01:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Find a Job |
        USA.gov", "url": "https:\/\/www.usa.gov\/find-a-job", "urlPingSuffix": "DevEx,5098.1",
        "displayUrl": "https:\/\/www.usa.gov\/find-a-job", "snippet": "Jobs for
        Teens and Young Adults. Learn about occupations to help you plan your future
        (for grades K-12). Find tips and information for teens about how to get a
        job.", "dateLastCrawl[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 758C26EB9ED94978AC595B945CF133BC
      X-Msedge-Clientid:
      - 0A55A586377E6D6723E3AF9836E96CD4
      X-Msapi-Userstate:
      - a18b
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5B19A8EBF174423DA81A6B5585926DD9&CID=0A55A586377E6D6723E3AF9836E96CD4&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5B19A8EBF174423DA81A6B5585926DD9&CID=0A55A586377E6D6723E3AF9836E96CD4&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=jobs%20(site:.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5161.1", "totalEstimatedMatches": 133, "nextOffset":
        20, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=C59FF2417DBE4312B59DDD03FED6DB080AAD7298&simid=608026581427949475",
        "webSearchUrlPingSuffix": "DevEx,5006.1", "name": "Jobs", "thumbnailUrl":
        "https:\/\/tse1.mm.bing.net\/th?id=OIP.vNwNnviOn2F5EHQWmctciwEsEs&pid=Api",
        "datePublished": "2016-12-13T11:49:00.0000000Z", "contentUrl": "https:\/\/www1.nyc.gov\/assets\/acs\/images\/content\/youth\/jobs.jpg",
        "contentUrlPingSuffix": "DevEx,5008.1", "hostPageUrl": "https:\/\/www1.nyc.gov\/site\/acs\/youth\/youth.page",
        "hostPageUrlPingSuffix": "DevEx,5007.1", "contentSize": "57892 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www1.nyc.gov\/site\/acs\/youth\/youth.page",
        "width": 800, "height": 800, "thumbnail": {"width": 300, "height": 300}, "imageInsightsToken":
        "ccid_vNwNnviO*mid_C59FF2417DBE4312B59DDD03FED6DB080AAD7298*simid_608026581427949475",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "C59FF2417DBE4312B59DDD03FED6DB080AAD7298", "accentColor": "3A9190"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=jobs+(site%3a.gov)&id=72930EC1D4AA47521077E794CF4A3E523E49D95E&simid=608052617514189422",
        "webSearchUrlPingSuffix": "DevEx,5012.1", "name": "jobs - MO.gov", "thumbnailUrl":
        "https:\/\/tse2.mm.bing.net\/th?id=OIP.M32a31b805e60a57708b0d414c89e63feH0&pid=Api",
        "datePublished": "2012-11-04T05:33:00.0000000Z", "contentUrl": "http:\/\/www.mo.gov\/wp-content\/uploads\/2011\/0[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:usasearch.howto.gov/blog)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1185EAAA265E4A5D8382C3DF7B69FFB8
      X-Msedge-Clientid:
      - 3BA315B4FED564473D831FAAFF42654B
      X-Msapi-Userstate:
      - 5a54
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9756CAA9E649472D893BAFC46644CD5D&CID=3BA315B4FED564473D831FAAFF42654B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9756CAA9E649472D893BAFC46644CD5D&CID=3BA315B4FED564473D831FAAFF42654B&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Fri, 03 Feb 2017 23:00:51 GMT
[...]
