---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=warnings%20for%20a%20tornado%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 45DD5DD7F6D645848387BB8198404C17
      X-Msedge-Clientid:
      - 25EC88AEC98361CC0C22822EC8146016
      X-Msapi-Userstate:
      - 2e8e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=679ACA18B8A3488B8BF44CFAF92A779F&CID=25EC88AEC98361CC0C22822EC8146016&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=679ACA18B8A3488B8BF44CFAF92A779F&CID=25EC88AEC98361CC0C22822EC8146016&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=warnings+for+a+tornado+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5487.1", "totalEstimatedMatches": 1560000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Preparing for a Tornado - StormAware Tornado Safety", "url": "https:\/\/stormaware.mo.gov\/preparing-for-a-tornado\/",
        "urlPingSuffix": "DevEx,5080.1", "displayUrl": "https:\/\/stormaware.mo.gov\/preparing-for-a-tornado",
        "snippet": "Preparing for a Tornado. ... Tornado Warning means a tornado
        has been sighted or indicated by weather radar. Take shelter immediately.
        When a Tornado Strikes.", "dateLastCrawled": "2017-05-02T22:06:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Being
        Prepared (Part 1)|Tornadoes", "url": "https:\/\/www.cdc.gov\/disasters\/tornadoes\/prepared.html",
        "urlPingSuffix": "DevEx,5095.1", "displayUrl": "https:\/\/www.cdc.gov\/disasters\/tornadoes\/prepared.html",
        "snippet": "Being Prepared - Part 1; Being Prepared - Part 2; ... A tornado
        warning is issued when a tornado funnel is sighted o[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=atlantic%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; c[...]
