---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=warnings%20for%20a%20tornado%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C4CB279F8CA34EE5B2D742F2FCE1ACCC
      X-Msedge-Clientid:
      - 23BE6357812B669F176B696A80BC67AA
      X-Msapi-Userstate:
      - d7f9
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E3D7493450AD4B23BB6B3B7C74BF5E7B&CID=23BE6357812B669F176B696A80BC67AA&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E3D7493450AD4B23BB6B3B7C74BF5E7B&CID=23BE6357812B669F176B696A80BC67AA&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=warnings+for+a+tornado+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5469.1", "totalEstimatedMatches": 782000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Severe Weather 101: Tornado Basics", "url": "http:\/\/www.nssl.noaa.gov\/education\/svrwx101\/tornadoes\/",
        "urlPingSuffix": "DevEx,5085.1", "displayUrl": "www.nssl.noaa.gov\/education\/svrwx101\/tornadoes",
        "snippet": "Severe Weather 101 Tornado Basics. What we do: Read more about
        NSSL''s tornado research here. What is a tornado? A tornado is a narrow,
        violently rotating column of ...", "deepLinks": [{"name": "Types", "url":
        "http:\/\/www.nssl.noaa.gov\/education\/svrwx101\/tornadoes\/types\/", "urlPingSuffix":
        "DevEx,5077.1"}, {"name": "Forecasting", "url": "http:\/\/www.nssl.noaa.gov\/education\/svrwx101\/tornadoes\/forecasting\/",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "FAQ", "url": "http:\/\/www.nssl.noaa.gov\/education\/svrwx101\/tornadoes\/faq\/",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Detection", "url": "http:\/\/www.nssl.noaa.gov\/education\/svrwx101\/tornadoes\/detection\/",
        "urlPingSuffix": "DevEx,5080.1"}], "dateLastCrawled": "2017-03-03T00:44:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Preparing
        for a Tornado - StormAware Tornado Safety", "url": "https:\/\/stormaware.mo.gov\/preparing-for-a-tornado\/",
        "urlPingSuffix": "DevEx,5096.1", "displayUrl": "https:\/\/stormaware.mo.gov\/preparing-for-a-tornado",
        "snippet": "Tornado Warning means a tornado has been sighted or indicated
        by weather radar. Take shelter immediately. When a [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=atlantic%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; c[...]
