---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=('death%20star%20r2d2%20xyz3')%20language:en%20(site:petitions.whitehouse.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028\u0027death
        star r2d2 xyz3\u0027\u0029 language\u003aen \u0028site\u003apetitions.whitehouse.gov\u0029"},"Web":{"Total":0,"Offset":0}}}'
  recorded_at: Thu, 08 Dec 2016 23:03:04 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q='death%20star%20r2d2%20xyz3'%20(site:petitions.whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8F4AF01A422E43F39F2EB69C4092952F
      X-Msedge-Clientid:
      - 0F39384AF38165F61EA531B5F2166411
      X-Msapi-Userstate:
      - a8cd
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1D6C9E43929B4B15A2D1A95484FA1AA8&CID=0F39384AF38165F61EA531B5F2166411&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1D6C9E43929B4B15A2D1A95484FA1AA8&CID=0F39384AF38165F61EA531B5F2166411&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 03 Jan 2017 22:58:05 GMT
recorded_with: VCR 3.0.3
