---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=%27death%20star%20r2d2%20xyz3%27%20(site:petitions.whitehouse.gov/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 65B37562621144E888D0186E54C4B929
      X-Msedge-Clientid:
      - 13569AC6DD8565E534D99158DC60645E
      X-Msapi-Userstate:
      - d59a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=0D937CCD1AFB4A0DA411A659E3BD069E&CID=13569AC6DD8565E534D99158DC60645E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=0D937CCD1AFB4A0DA411A659E3BD069E&CID=13569AC6DD8565E534D99158DC60645E&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 22 Feb 2018 08:33:33 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=%27death%20star%20r2d2%20xyz3%27%20(site:petitions.whitehouse.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B486B17B74414883808036BE3887EF14
      X-Msedge-Clientid:
      - 0B353B1AC8F56B6C0CCE37B6C9226AD0
      X-Msapi-Userstate:
      - d454
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=439AC04463684940AB257D647680BEF2&CID=0B353B1AC8F56B6C0CCE37B6C9226AD0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=439AC04463684940AB257D647680BEF2&CID=0B353B1AC8F56B6C0CCE37B6C9226AD0&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 19 Nov 2018 22:40:33 GMT
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=%27death%20star%20r2d2%20xyz3%27%20(site:petitions.whitehouse.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8666450236C0483EB8C01D1EAF2511DF
      Bingapis-Sessionid:
      - CB5E12D8172241E5928BF3A4DA569158
      X-Msedge-Clientid:
      - 39A3C5F4CACC66DA2CD0C90ECB80679D
      X-Msapi-Userstate:
      - 69ce
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=160,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "''death
        star r2d2 xyz3'' (site:petitions.whitehouse.gov\/)"}, "rankingResponse": {}}'
  recorded_at: Tue, 05 Feb 2019 21:45:52 GMT
recorded_with: VCR 4.0.0
