---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=warnings%20for%20a%20tornado%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D16DE79E68D446F78C9DE7435B468EAF
      X-Msedge-Clientid:
      - 39F678246CBA6CA02676721A6D2D6DDD
      X-Msapi-Userstate:
      - 812b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=2DEAFBC816C34068B8F4BFD99C1219F9&CID=39F678246CBA6CA02676721A6D2D6DDD&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=2DEAFBC816C34068B8F4BFD99C1219F9&CID=39F678246CBA6CA02676721A6D2D6DDD&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=warnings+for+a+tornado+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5471.1", "totalEstimatedMatches": 782000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Severe Weather 101: Tornado Basics", "url": "http:\/\/www.nssl.noaa.gov\/education\/svrwx101\/tornadoes\/",
        "urlPingSuffix": "DevEx,5087.1", "displayUrl": "www.nssl.noaa.gov\/education\/svrwx101\/tornadoes",
        "snippet": "Severe Weather 101 Tornado Basics. What we do: Read more about
        NSSL''s tornado research here. What is a tornado? A tornado is a narrow,
        violently rotating column of ...", "deepLinks": [{"name": "Types", "url":
        "http:\/\/www.nssl.noaa.gov\/education\/svrwx101\/tornadoes\/types\/", "urlPingSuffix":
        "DevEx,5079.1"}, {"name": "Forecasting", "url": "http:\/\/www.nssl.noaa.gov\/education\/svrwx101\/tornadoes\/forecasting\/",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "FAQ", "url": "http:\/\/www.nssl.noaa.gov\/education\/svrwx101\/tornadoes\/faq\/",
        "urlPingSuffix": "DevEx,5081.1"}, {"name": "Detection", "url": "http:\/\/www.nssl.noaa.gov\/education\/svrwx101\/tornadoes\/detection\/",
        "urlPingSuffix": "DevEx,5082.1"}], "dateLastCrawled": "2017-03-03T00:44:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "tornado
        warning - Glossary - NOAA''s National Weather Service", "url": "http:\/\/w1.weather.gov\/glossary\/index.php?word=tornado+warning",
        "urlPingSuffix": "DevEx,5102.1", "displayUrl": "w1.weather.gov\/glossary\/index.php?word=tornado+warning",
        "snippet": "Tornado Warning This is issued when a tornado is indicated
        by the WSR-88D radar or sighted [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=atlantic%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; c[...]
