---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(notes)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028notes\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":6540000,"Offset":0,"Results":[{"Title":"FBI
        \u2014 Hillary R. Clinton Part 04 of 04","Description":"HRC 4 of 4.pdf \u2014
        PDF document, 5,920 kB \u00286,062,467 bytes\u0029 Twitter \u003b Facebook
        \u003b Share Vault Links","Url":"https\u003a\u002f\u002fvault.fbi.gov\u002fhillary-r.-clinton\u002fhillary-r.-clinton-part-04-of-04\u002fview","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dnotes\u0026d\u003d4549346986099477\u0026w\u003dHKCVsNeIlsUUzZ-GvpoRrTXtccsDHxHG","DisplayUrl":"https\u003a\u002f\u002fvault.fbi.gov\u002fhillary-r.-clinton\u002fhillary-r.-clinton-part...","DateTime":"2016-12-01T18\u003a48\u003a00Z"},{"Title":"Individual
        - Treasury Notes","Description":"Treasury Notes. Treasury notes, sometimes
        called T-Notes, earn a fixed rate of interest every six months until maturity.
        Notes are issued in terms of 2, 3 ...","Url":"https\u003a\u002f\u002fwww.treasurydirect.gov\u002findiv\u002fproducts\u002fprod_tnotes_glance.htm","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dnotes\u0026d\u003d4509193338488682\u[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(emergencia)%20language:es%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  [...]
