---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hello%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 89105D19B6DF4EE1B5D7C6F463CB1398
      X-Msedge-Clientid:
      - 20148B6E9D3463222E6080669CA36293
      X-Msapi-Userstate:
      - ecc8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=04CC2EE153D040E8A4CEB31DD0C575D2&CID=20148B6E9D3463222E6080669CA36293&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=04CC2EE153D040E8A4CEB31DD0C575D2&CID=20148B6E9D3463222E6080669CA36293&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hello+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5467.1", "totalEstimatedMatches": 973000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Hello, World | whitehouse.gov", "url": "https:\/\/obamawhitehouse.archives.gov\/blog\/2015\/05\/17\/hello-world",
        "urlPingSuffix": "DevEx,5078.1", "displayUrl": "https:\/\/obamawhitehouse.archives.gov\/blog\/2015\/05\/17\/hello-world",
        "snippet": "Though it wasn’t true for President Obama when he became the first
        president to write a line of code back in December, it’s traditional for the
        first program a ...", "dateLastCrawled": "2017-09-06T08:01:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Hello
        Sleep: NASA’s HERA XIII Crew Returns Home to Slumber", "url": "https:\/\/www.nasa.gov\/feature\/goodbye-hera-hello-sleep-nasa-s-hera-xiii-crew-returns-home-to-slumber\/",
        "urlPingSuffix": "DevEx,5092.1", "displayUrl": "https:\/\/www.nasa.gov\/feature\/goodbye-hera-hello-sleep-nasa-s-hera...",
        "snippet": "Goodbye HERA, Hello Sleep: NASA’s HERA XIII Crew Returns Home
        to Slumber", "dateLastCrawled": "2017-09-03T03:30:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/a[...]
