---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hillary%20rodham%20clinton%20first%20lady%20(site:whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F091C003EBF545ADB1A4CAA50F73C17F
      X-Msedge-Clientid:
      - 1237DA32DBE16B180901D050DA766AF2
      X-Msapi-Userstate:
      - b17e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=62994F17C2B549C9B5CEEAAD988210B6&CID=1237DA32DBE16B180901D050DA766AF2&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=62994F17C2B549C9B5CEEAAD988210B6&CID=1237DA32DBE16B180901D050DA766AF2&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hillary+rodham+clinton+first+lady+(site%3awhitehouse.gov)",
        "webSearchUrlPingSuffix": "DevEx,5466.1", "totalEstimatedMatches": 5410, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Hillary
        Rodham Clinton | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/1600\/first-ladies\/hillaryclinton",
        "urlPingSuffix": "DevEx,5081.1", "displayUrl": "https:\/\/www.whitehouse.gov\/1600\/first-ladies\/hillaryclinton",
        "snippet": "Hillary Clinton was the first First Lady elected to the U.S.
        Senate. ... Hillary Rodham Clinton observed, \"Our lives are a mixture of
        different roles.", "dateLastCrawled": "2017-04-08T12:43:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "The First Ladies
        | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/1600\/first-ladies",
        "urlPingSuffix": "DevEx,5101.1", "displayUrl": "https:\/\/www.whitehouse.gov\/1600\/first-ladies",
        "snippet": "The First Ladies . Which two first ... Who was the first
        First Lady to make regular nationwide radio broadcasts? ... Hillary Rodham
        Clinton. 21st Century.", "deepLinks": [{"name": "Michelle Obama", "url":
        "https:\/\/www.whitehouse.gov\/1600\/first-ladies\/michelleobama", "urlPingSuffix":
        "DevEx,5092.1"}, {"name": "Hillary Clinton", "url": "https:\/\/www.whitehouse.gov\/1600\/first-ladies\/hillaryclinton",
        "urlPingSuffix": "DevEx,5093.1"}, {"name": "Laura Welch Bush", "url": "https:\/\/www.whitehouse.gov\/1600\/first-ladies\/laurabush",
        "urlPingSuffix": "DevEx,5094.1"}, {"name": "Anna Eleanor Roosevelt", "url":
        "https:\/\/[...]
