---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q='death%20star%20r2d2%20xyz3'%20(site:petitions.whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E67D3AA401BF43ECB925299A017C0583
      X-Msedge-Clientid:
      - 0E1EEC84C8BF657E0997E6BAC9286409
      X-Msapi-Userstate:
      - 30f1
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=66BAFE29F598465F973B4B2D637CE4E9&CID=0E1EEC84C8BF657E0997E6BAC9286409&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=66BAFE29F598465F973B4B2D637CE4E9&CID=0E1EEC84C8BF657E0997E6BAC9286409&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 07 Mar 2017 20:12:10 GMT
recorded_with: VCR 3.0.3
