---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hillary%20rodham%20clinton%20first%20lady%20(site:whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6B02BDACA8794936B5BF21B1819C2A53
      X-Msedge-Clientid:
      - 35C297CAC6766C4903EA9D53C7E16DAA
      X-Msapi-Userstate:
      - 629d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=3E172C2D902249808FB9CAB4E649548E&CID=35C297CAC6766C4903EA9D53C7E16DAA&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=3E172C2D902249808FB9CAB4E649548E&CID=35C297CAC6766C4903EA9D53C7E16DAA&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hillary+rodham+clinton+first+lady+(site%3awhitehouse.gov)",
        "webSearchUrlPingSuffix": "DevEx,5342.1", "totalEstimatedMatches": 14, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Hillary
        Rodham Clinton | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/1600\/first-ladies\/hillaryclinton",
        "urlPingSuffix": "DevEx,5070.1", "displayUrl": "https:\/\/www.whitehouse.gov\/1600\/first-ladies\/hillaryclinton",
        "snippet": "Hillary Clinton was the first First Lady elected to the U.S.
        Senate. ... Hillary Rodham Clinton observed, \"Our lives are a mixture of
        different roles.", "dateLastCrawled": "2017-06-02T07:50:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "William J. Clinton
        | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/1600\/presidents\/williamjclinton",
        "urlPingSuffix": "DevEx,5087.1", "displayUrl": "https:\/\/www.whitehouse.gov\/1600\/presidents\/williamjclinton",
        "snippet": "William J. Clinton. ... Learn more about William J. Clinton''s
        spouse, Hillary Rodham Clinton. Did you know? ... First Lady Melania Trump;
        Mrs. Karen Pence;", "dateLastCrawled": "2017-05-31T13:14:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "The First Ladies
        | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/1600\/first-ladies",
        "urlPingSuffix": "DevEx,5111.1", "about": [{"name": "Nancy Reagan"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/1600\/first-ladies", "snippet": "The First
        Ladies . Which two first ... Who was the first First Lady to make regular
        nationwide radio broadcasts? ... Hillary Rodham Clinton. 21st Century.",
        "dateLastCrawled": "2017-05-31T22:30:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3",
        "name": "President Obama With Aung San Suu Kyi and Sec. Clinton ...", "[...]
