---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(two%20ferns)%20language:en%20(site:whitehouse.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028two
        ferns\u0029 language\u003aen \u0028site\u003awhitehouse.gov\u0029"},"Web":{"Total":33,"Offset":0,"Results":[{"Title":"Watch
        President Obama on \u0022Between Two Ferns with Zach ...","Description":"President
        Obama sits down between two ferns to talk health care, Bradley Cooper, and
        basketball with Zach Galifianakis.","Url":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fblog\u002f2014\u002f03\u002f11\u002fwatch-president-obama-between-two-ferns-zach-galifianakis","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dtwo\u002bferns\u0026d\u003d4832625811655622\u0026w\u003dJrlGLb7OjiOVn_JfVYsDm-kmgZ1QPUaK","DisplayUrl":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fblog\u002f2014\u002f03\u002f11\u002fwatch-president-obama...","DateTime":"2016-11-29T21\u003a04\u003a00Z"},{"Title":"Press
        Briefing by Press Secretary Josh Earnest, 9\u002f27\u002f16 ...","Description":"And
        the President has gone to places like Buzzfeed and even Between Two Ferns
        to make a persuasive case the young people should consider signing up for
        health care ...","Url":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fthe-press-office\u002f2016\u002f09\u002f27\u002fpress-briefing-press-secretary-josh-earnest-92716","CacheUrl":"ht[...]
