---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=warnings%20for%20a%20tornado%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - '09C6E43DE4E846EB8C8DC5B99383F51D'
      X-Msedge-Clientid:
      - 39DC0B4D83EE67633687018E8279661B
      X-Msapi-Userstate:
      - 1bf9
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5BAE32E60B9D468C8B351C7FD91BFCCE&CID=39DC0B4D83EE67633687018E8279661B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5BAE32E60B9D468C8B351C7FD91BFCCE&CID=39DC0B4D83EE67633687018E8279661B&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=warnings+for+a+tornado+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5491.1", "totalEstimatedMatches": 10700000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Preparing for a Tornado - StormAware Tornado Safety", "url": "https:\/\/stormaware.mo.gov\/preparing-for-a-tornado\/",
        "urlPingSuffix": "DevEx,5078.1", "displayUrl": "https:\/\/stormaware.mo.gov\/preparing-for-a-tornado",
        "snippet": "Quick Tornado Facts. Parents should make sure their children
        know: What a tornado is; What tornado watches and warnings are; What
        county or parish they live in ...", "dateLastCrawled": "2017-07-15T01:16:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Being
        Prepared (Part 1)|Tornadoes", "url": "https:\/\/www.cdc.gov\/disasters\/tornadoes\/prepared.html",
        "urlPingSuffix": "DevEx,5092.1", "displayUrl": "https:\/\/www.cdc.gov\/disasters\/tornadoes\/prepared.html",
        "snippet": "Stay Tuned for Storm Watches and Warnings When there are thunderstorms
        in your area, turn on your radio or TV to get the latest emergency information
        from local ...", "dateLastCrawled": "2017-07-13T22:54:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "NWS Tornado
        Safety: prepare for a Tornado", "url": "http:\/\/www.nws.noaa.gov\/om\/tornado\/prepare.shtml",
        "urlPingSuffix": "DevEx,5105.1", "displayUrl": "www.nws.noaa.gov\/om\/tornado\/prepare.shtml",
        "snippet": "Prepare! Don''t let Tornadoes Take You by Surprise. The links
        below will help you find out what you can do now to prepare for a tornado.
        Preparation is key to staying ...", "dateLastCrawled": "2017-07-15T00:47:00.0000000Z"},
        {"id": "https:\/\/www.bingapi[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=atlantic%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; c[...]
