---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - EC50B43AC1AE4B59BB24EC485601A719
      X-Msedge-Clientid:
      - 1BFA2E886FC96471150424B66E5E65B4
      X-Msapi-Userstate:
      - 2efd
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=526938E16C2C4BE8B273A75FD360F38E&CID=1BFA2E886FC96471150424B66E5E65B4&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=526938E16C2C4BE8B273A75FD360F38E&CID=1BFA2E886FC96471150424B66E5E65B4&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5501.1", "totalEstimatedMatches": 19700,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Looking for a New Job | USA.gov", "url": "https:\/\/www.usa.gov\/job-search",
        "urlPingSuffix": "DevEx,5084.1", "displayUrl": "https:\/\/www.usa.gov\/job-search",
        "snippet": "Looking for a New Job. Find out how to look for work in the
        private sector and federal government. Find a Federal Government Job. Learn
        how to find a job with the ...", "deepLinks": [{"name": "Government Jobs",
        "url": "https:\/\/www.usa.gov\/government-jobs", "urlPingSuffix": "DevEx,5079.1"},
        {"name": "Find a Job", "url": "https:\/\/www.usa.gov\/find-a-job", "urlPingSuffix":
        "DevEx,5080.1"}], "dateLastCrawled": "2017-02-26T00:51:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Find a Job |
        USA.gov", "url": "https:\/\/www.usa.gov\/find-a-job", "urlPingSuffix": "DevEx,5099.1",
        "displayUrl": "https:\/\/www.usa.gov\/find-a-job", "snippet": "Jobs for
        Teens and Young Adults. Learn about occupations to help you plan your future
        (for grades K-12). Find tips and information for teens about how to get a
        job.", "dateLastCrawl[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jazz%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
   [...]
