---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=warnings%20for%20a%20tornado%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - EE91D873FD674DC688EE3920C065A7D6
      X-Msedge-Clientid:
      - 326BC9C5E81E62392E55C25BE9FB638F
      X-Msapi-Userstate:
      - 9bce
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=113D3225014E4E3AAD3A6DBC347D41D6&CID=326BC9C5E81E62392E55C25BE9FB638F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=113D3225014E4E3AAD3A6DBC347D41D6&CID=326BC9C5E81E62392E55C25BE9FB638F&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=warnings+for+a+tornado+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5499.1", "totalEstimatedMatches": 7270000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Tornadoes | Ready.gov", "url": "https:\/\/www.ready.gov\/tornadoes",
        "urlPingSuffix": "DevEx,5092.1", "about": [{"name": "Tornado"}], "displayUrl":
        "https:\/\/www.ready.gov\/tornado", "snippet": "This page explains what
        actions to take when you receive a tornado watch or warning alert from
        the National Weather Service for your local area and what to do before ...",
        "dateLastCrawled": "2018-02-15T22:37:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Watch\/Warning\/Advisory Definitions", "url": "http:\/\/www.weather.gov\/lwx\/WarningsDefined",
        "urlPingSuffix": "DevEx,5109.1", "displayUrl": "www.weather.gov\/lwx\/WarningsDefined",
        "snippet": "Fog \/ Wind \/Severe Weather. Dense Fog Advisory. High Wind Watch.
        High Wind Warning. ... Tornado Warning. A Tornado Warning is issued
        when a torna[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=atlantic%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=warnings%20for%20a%20tornado%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 51EB[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=atlantic%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D47994F17D854F0B8725D7FD[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=warnings%20for%20a%20tornado%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6ADE1722A30F454DB8703462A74A2308
      Bingapis-Sessionid:
      - AE434F5D637A40C08DB548417BE45B9E
      X-Msedge-Clientid:
      - 175C91724EB16301049D9D884FFD6200
      X-Msapi-Userstate:
      - 3e0f
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=242,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "warnings
        for a tornado (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=warnings+for+a+tornado+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 6590000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Severe Weather Definitions - National Weather Service", "url":
        "https:\/\/www.weather.gov\/bgm\/severedefinitions", "about": [{"name": "Severe
        weather"}], "isFamilyFriendly": true, "displayUrl": "https:\/\/www.weather.gov\/bgm\/severedefinitions",
        "snippet": "Like a Tornado Warning, the Severe Thunderstorm Warning
        is issued by your National Weather Service Forecast Office (see map above).
        Severe Thunderstorm Warnings will include where the storm was located, what
        towns will be affected by the severe thunderstorm, and the primary threat
        associated with the severe thunderstorm warning.", "dateLastCrawled": "2019-01-30T17:42:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Understand Tornado Alerts - weather.gov", "url": "https:\/\/www.weather.gov\/safety\/tornado-ww",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.weather.gov\/safety\/tornado-ww",
        "snippet": "Warnings are issued by your local forecast office. Warnings
        typically encompass a much smaller area (around the size of a city or small
        county) that may be imp[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=atlantic%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ut[...]
