---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=noaa%20(site:www.sba.gov/blogs/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7F644CA8088847EDAECAE0CBF0B48057
      X-Msedge-Clientid:
      - 335434B60DA36CF4353E3FF10C346D28
      X-Msapi-Userstate:
      - 56c1
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A62C679BFFEB41BDA89ED6A9EE233AB9&CID=335434B60DA36CF4353E3FF10C346D28&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A62C679BFFEB41BDA89ED6A9EE233AB9&CID=335434B60DA36CF4353E3FF10C346D28&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=noaa+(site%3awww.sba.gov%2fblogs%2f)",
        "webSearchUrlPingSuffix": "DevEx,5205.1", "totalEstimatedMatches": 4, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "5 Tips
        on Starting Your Hurricane Season Business ...", "url": "https:\/\/www.sba.gov\/blogs\/5-tips-starting-your-hurricane-season-business-continuity-plan",
        "urlPingSuffix": "DevEx,5068.1", "displayUrl": "https:\/\/www.sba.gov\/blogs\/5-tips-starting-your-hurricane-season...",
        "snippet": "While weather experts NOAA are predicting a “near-normal” 2012
        Atlantic hurricane season, last year’s Hurricane Irene is a reminder of the
        erratic and ...", "dateLastCrawled": "2017-11-06T12:41:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Is Your Business
        Ready for the next Hurricane Sandy? | The ...", "url": "https:\/\/www.sba.gov\/blogs\/your-business-ready-next-hurricane-sandy",
        "urlPingSuffix": "DevEx,5086.1", "displayUrl": "https:\/\/www.sba.gov\/blogs\/your-business-ready-next-hurricane-sandy",
        "snippet": "Is Your Business Ready for the next Hurricane Sandy? SBA News
        and Views. [...]
