---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hello%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7999DFBA5A1948C6A837D8E39BD0F428
      X-Msedge-Clientid:
      - 11070CD1A55F65BE13CB066EA4C864F2
      X-Msapi-Userstate:
      - d7f4
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=630E1AA0E67F4037B26716E56CE76B00&CID=11070CD1A55F65BE13CB066EA4C864F2&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=630E1AA0E67F4037B26716E56CE76B00&CID=11070CD1A55F65BE13CB066EA4C864F2&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hello+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5436.1", "totalEstimatedMatches": 752000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Hello La Nina | National Oceanic and Atmospheric ...", "url": "http:\/\/www.noaa.gov\/news\/hello-la-nina",
        "urlPingSuffix": "DevEx,5077.1", "displayUrl": "www.noaa.gov\/news\/hello-la-nina",
        "snippet": "November 10, 2016 La Nina has arrived and is favored to stick
        around through winter. Forecasters say the climate phenomena will likely contribute
        to drier ...", "dateLastCrawled": "2017-07-08T08:11:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Hello,", "url":
        "https:\/\/www.cga.ct.gov\/2017\/APPdata\/Tmy\/2017HB-07027-R000221-CSDE%20-%20Family%20Resource%20Centers%20-%20Jackel,%20Niccie-TMY.PDF",
        "urlPingSuffix": "DevEx,5088.1", "displayUrl": "https:\/\/www.cga.ct.gov\/2017\/APPdata\/Tmy\/2017HB-07027-R000221-CSDE...",
        "snippet": "Hello, My name is Niccie Jackel. I am not going to stand up
       [...]
