---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28hippopotomonstrosesquippedaliophobia%29+language%3Aes+%28site%3Anih.gov%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028hippopotomonstrosesquippedaliophobia\u0029
        language\u003aes \u0028site\u003anih.gov\u0029"},"Web":{"Total":0,"Offset":0}}}'
  recorded_at: Fri, 10 Jun 2016 23:13:32 GMT
[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28hippopotomonstrosesquippedaliophobia%29+language%3Aes+%28site%3Anih.gov%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028hippopotomonstrosesquippedaliophobia\u0029
        language\u003aes \u0028site\u003anih.gov\u0029"},"Web":{"Total":0,"Offset":0}}}'
  recorded_at: Fri, 10 Jun 2016 23:13:35 GMT
recorded_with: VCR 3.0.3
