---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(warnings%20for%20a%20tornado)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028warnings
        for a tornado\u0029 language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov
        OR site\u003amil\u0029"},"Web":{"Total":1510000,"Offset":0,"Results":[{"Title":"NWS
        Tornado Warnings - forecast.weather.gov","Description":"National Weather
        Service is your source for the most complete weather forecast and weather
        related information on the web","Url":"http\u003a\u002f\u002fforecast.weather.gov\u002fproduct_types.php\u003fsite\u003dNWS\u003fprodtype\u003dtornado","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dwarnings\u002bfor\u002ba\u002btornado\u0026d\u003d4755702945221508\u0026w\u003djrNMVRrnP-BypPLMu-tV0Fcei0fIUhQ7","DisplayUrl":"forecast.weather.gov\u002fproduct_types.php\u003fsite\u003dNWS\u003fprodtype\u003dtornado","DateTime":"2016-12-04T17\u003a20\u003a00Z"},{"Title":"Warnings\u002fWatches
        - NOAA\u0027s National Weather Service","Description":"National Weather Service
        Home page. The starting point for official government weather forecasts, warnings,
        meteorological products for forecasting the ...","Url":"http\u003a\u002f\u002fwww.nws.noaa.gov\u002fwarnings.php","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dwarnings\u002bfor\u002ba\u002btornado\u0026d\u003d4850[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(atlantic)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=warnings%20for%20a%20tornado%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F7077B3C052B4062B87FCE75766BE24D
      X-Msedge-Clientid:
      - 07F71B7F724066A90370128073D7672C
      X-Msapi-Userstate:
      - 5bfd
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=999207B3662940568D43A0C87E501DD6&CID=07F71B7F724066A90370128073D7672C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=999207B3662940568D43A0C87E501DD6&CID=07F71B7F724066A90370128073D7672C&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=warnings+for+a+tornado+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5466.1", "totalEstimatedMatches": 1400000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Preparing for a Tornado - StormAware Tornado Safety", "url": "https:\/\/stormaware.mo.gov\/preparing-for-a-tornado\/",
        "urlPingSuffix": "DevEx,5100.1", "displayUrl": "https:\/\/stormaware.mo.gov\/preparing-for-a-tornado",
        "snippet": "Tornado Warning means a tornado has been sighted or indicated
        by weather radar. Take shelter immediately. When a Tornado Strikes. It’s
        important to know how to stay ...", "dateLastCrawled": "2017-01-01T09:55:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Tornadoes|CDC",
        "url": "http:\/\/www.cdc.gov\/disasters\/tornadoes\/index.html", "urlPingSuffix":
        "DevEx,5116.1", "displayUrl": "www.cdc.gov\/disasters\/tornadoes\/index.html",
        "snippet": "Information on preparing for Tornadoes and being safe after
        a Tornado. Provided by the Centers for Disease Control and Prevention (CDC).",
        "dateLastCra[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=atlantic%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; c[...]
