---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=noaa%20(site:www.sba.gov/blogs)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 98E577077A304E45A24810D283791056
      X-Msedge-Clientid:
      - 15BCC10EE9546A9814F9CBCDE8C36B13
      X-Msapi-Userstate:
      - bad2
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9193BEBAB82745E89D3EE54977B28CA0&CID=15BCC10EE9546A9814F9CBCDE8C36B13&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9193BEBAB82745E89D3EE54977B28CA0&CID=15BCC10EE9546A9814F9CBCDE8C36B13&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=noaa+(site%3awww.sba.gov%2fblogs)",
        "webSearchUrlPingSuffix": "DevEx,5355.1", "totalEstimatedMatches": 12, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Get Tips
        and Information about Hurricane Preparedness for ...", "url": "https:\/\/www.sba.gov\/blogs\/get-tips-and-information-about-hurricane-preparedness-your-business",
        "urlPingSuffix": "DevEx,5073.1", "displayUrl": "https:\/\/www.sba.gov\/blogs\/get-tips-and-information-about-hurricane...",
        "snippet": "For tips and information about hurricane preparedness, visit www.ready.gov\/hurricanes.
        ... www.nhc.noaa.gov\/prepare\/--National Hurricane Center. About the Author:",
        "dateLastCrawled": "2017-05-11T11:48:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "4 Ways to Make Your Company Resilient Enough to Withstand ...",
        "url": "https:\/\/www.sba.gov\/blogs\/4-ways-make-your-company-resilient-enough-withstand-winter-weather-threats",
        "urlPingSuffix": "DevEx,5100.1", "displayUrl": "https:\/\/www.sba.gov\/blogs\/4-ways-make-your-company-resilient...",
        "snippet": "Unusual weather patterns in the last few years have w[...]
