---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=president%20(site:whitehouse.gov%20OR%20site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 613BE5A4D1B04EF2A19C6381EF2CA6B9
      X-Msedge-Clientid:
      - 17015D08702B6F90271E569671CE6E66
      X-Msapi-Userstate:
      - '009a'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=2893A14B57B3498EBE9FB9EC080BA8B7&CID=17015D08702B6F90271E569671CE6E66&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=2893A14B57B3498EBE9FB9EC080BA8B7&CID=17015D08702B6F90271E569671CE6E66&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=president+(site%3awhitehouse.gov+OR+site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5485.1", "totalEstimatedMatches": 350000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Presidents - White House", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/presidents\/",
        "urlPingSuffix": "DevEx,5087.1", "about": [{"name": "White House"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/about-the-white-house\/presidents", "snippet":
        "Which President served as a lieutenant colonel in the Spanish-American
        war? Who was the first Democrat elected after the Civil War? Who introduced
        Social Security? If ...", "dateLastCrawled": "2018-02-13T09:23:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "President
        Donald Trump - whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/people\/donald-j-trump\/",
        "urlPingSuffix": "DevEx,5101.1", "about": [{"name": "Donald Trump"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/people\/donald-j-trump", "snippet": "Donald
        J. Trump is the 45th President of the United States. He believes the United
        [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=president%20(site:whitehouse.gov%20OR%20site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - DBFA19C7[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=president%20(site:whitehouse.gov%20OR%20site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B166ABC2C670430AA631BDF5BBD00149
      Bingapis-Sessionid:
      - 9F9826036DC347DFA7B055C3E4B51E22
      X-Msedge-Clientid:
      - 3A15936C1FF5627320379F961EB963B4
      X-Msapi-Userstate:
      - 85e7
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=207,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "president
        (site:whitehouse.gov OR site:usa.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=president+(site%3awhitehouse.gov+OR+site%3ausa.gov)",
        "totalEstimatedMatches": 1900000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Presidents | The White House", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/presidents\/",
        "about": [{"name": "White House"}], "isFamilyFriendly": true, "displayUrl":
        "https:\/\/www.whitehouse.gov\/about-the-white-house\/presidents", "snippet":
        "Which President served as a lieutenant colonel in the Spanish-American
        war? Who was the first Democrat elected after the Civil War? Who introduced
        Social Security? If you’re looking to learn ...", "dateLastCrawled": "2019-01-30T08:34:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Donald J. Trump | The White House", "url": "https:\/\/www.whitehouse.gov\/people\/donald-j-trump\/",
        "about": [{"name": "Donald Trump"}], "isFamilyFriendly": true, "displayUrl":
        "https:\/\/www.whitehouse.gov\/people\/donald-j-trump", "snippet": "Donald
        J. Trump is the 45th President of the United States. He believes the United
        States has incredible potential[...]
