---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28president%29+language%3Aen+%28site%3Awhitehouse.gov+OR+site%3Ausa.gov%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028president\u0029
        language\u003aen \u0028site\u003awhitehouse.gov OR site\u003ausa.gov\u0029"},"Web":{"Total":531000,"Offset":0,"Results":[{"Title":"The
        Presidents \u007c whitehouse.gov","Description":"Short history of the U.S.
        Presidency, along with biographical sketches and portraits of all the presidents
        to date. From the official White House site.","Url":"https\u003a\u002f\u002fwww.whitehouse.gov\u002f1600\u002fPresidents","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dpresident\u0026d\u003d4873982011769819\u0026w\u003d4TdQvRBk0ReoblETutK5H--gaJJmzJCT","DisplayUrl":"https\u003a\u002f\u002fwww.whitehouse.gov\u002f1600\u002fPresidents","DateTime":"2016-06-01T02\u003a50\u003a00Z"},{"Title":"President
        Barack Obama \u007c whitehouse.gov","Description":"Barack Obama is the 44th
        President of the United States. His story is the American story -- values
        from the heartland, a middle-class upbringing in a strong family ...","Url":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fadministration\u002fpresident-obama","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dpresident\u0026d\u003d4751592600[...]
