---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=president%20(site:whitehouse.gov%20OR%20site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1EF801A1176640E8B56D46C1CE44E7E6
      X-Msedge-Clientid:
      - 2CDFF29583B266390D5AF8568225674B
      X-Msapi-Userstate:
      - '6499'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=89E4AB9919BF4E99ADA71732131BD088&CID=2CDFF29583B266390D5AF8568225674B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=89E4AB9919BF4E99ADA71732131BD088&CID=2CDFF29583B266390D5AF8568225674B&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=president+(site%3awhitehouse.gov+OR+site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5495.1", "totalEstimatedMatches": 181000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "President Donald J. Trump | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/administration\/president-trump",
        "urlPingSuffix": "DevEx,5079.1", "about": [{"name": "Donald Trump"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/administration\/president-trump", "snippet":
        "Check out the biography of President Donald Trump.", "dateLastCrawled":
        "2017-07-10T22:24:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "The White House | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/",
        "urlPingSuffix": "DevEx,5106.1", "displayUrl": "https:\/\/www.whitehouse.gov",
        "snippet": "“Believe in yourselves. Believe in your future. And believe, once
        more, in America.” - President Donald J. Trump", "deepLinks": [{"name":
        "Contact Us", "url": "https:\/\/www.whitehouse.gov\/contact", "urlPingSuffix":
        "DevEx,5094.1"}, {"name": "Tours & Events", "url": "https:\/\/www.whitehouse.gov\/participate\/tours-and-events",
        "urlPingSuffix": "DevEx,5095.1"}, {"name": "Live Events", "url": "https:\/\/www.whitehouse.gov\/live",
        "urlPingSuffix": "DevEx,5096.1"}, {"name": "We The People Petitions", "url":
        "https:\/\/petitions.whitehouse.gov\/", "urlPingSuffix": "DevEx,5097.1"}],
 [...]
