---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=president%20(site:whitehouse.gov%20OR%20site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E6CD182D0CF7453CB0E96D9FBB92AB0E
      X-Msedge-Clientid:
      - 23A956FA163263D112BF5AA2173D6285
      X-Msapi-Userstate:
      - baeb
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=0EE48C4501024343B0C4F173C8F29E32&CID=23A956FA163263D112BF5AA2173D6285&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=0EE48C4501024343B0C4F173C8F29E32&CID=23A956FA163263D112BF5AA2173D6285&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=president+(site%3awhitehouse.gov+OR+site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5412.1", "totalEstimatedMatches": 1440000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Presidents - The White House", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/presidents\/",
        "urlPingSuffix": "DevEx,5058.1", "about": [{"name": "White House"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/about-the-white-house\/presidents", "snippet":
        "Which President served as a lieutenant colonel in the Spanish-American
        war? Who was the first Democrat elected after the Civil War? Who introduced
        Social S", "dateLastCrawled": "2018-08-17T15:52:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Donald J. Trump - The White House", "url": "https:\/\/www.whitehouse.gov\/people\/donald-j-trump\/",
        "urlPingSuffix": "DevEx,5072.1", "about": [{"name": "Donald Trump"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/people\/donald-j-trump", "snippet": "Donald
        J. Trump is the 45th President of the United States. He believes the United
        States has[...]
