---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=president%20(site:whitehouse.gov%20OR%20site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - AB9387F0DCFE4382BCDCDA3984EEF52F
      X-Msedge-Clientid:
      - 269770B8B32E69D32DBC7A89B21F6875
      X-Msapi-Userstate:
      - 092e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=6D45836073A843B5AC506F91F9F2DF38&CID=269770B8B32E69D32DBC7A89B21F6875&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=6D45836073A843B5AC506F91F9F2DF38&CID=269770B8B32E69D32DBC7A89B21F6875&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=president+(site%3awhitehouse.gov+OR+site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5501.1", "totalEstimatedMatches": 138000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "President Barack Obama | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/administration\/president-obama",
        "urlPingSuffix": "DevEx,5085.1", "about": [{"name": "Barack Obama"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/administration\/president-obama", "snippet":
        "Barack Obama is the 44th President of the United States. His story is
        the American story -- values from the heartland, a middle-class upbringing
        in a strong family ...", "deepLinks": [{"name": "Contact", "url": "https:\/\/www.whitehouse.gov\/contact",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "Write Or Call", "url": "https:\/\/www.whitehouse.gov\/contact\/write-or-call",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "First Lady Michelle Obama", "url":
        "https:\/\/www.whitehouse.gov\/administration\/first-lady-melania-trump",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Vice President Joe Biden", "url":
        "https:\/\/www.whitehouse.gov\/administration\/vice-president-pence", "urlPingSuffix":
        "DevEx,5080.1"}], "dateLastCrawled": "2017-01-18T07:46:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "The Presidents
        | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/1600\/Presidents",
        "urlPingSuffix": "DevEx,5105.1", "displayUrl": "https:\/\/www.whitehouse.gov\/1600\/Presidents",
        "snippet": "Short history of the U.S. Presidency, along with biographical
        sketches and portraits of all the presidents to date. From the official
        White [...]
