---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28president%29+language%3Aes+%28site%3Awhitehouse.gov+OR+site%3Ausa.gov%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028president\u0029
        language\u003aes \u0028site\u003awhitehouse.gov OR site\u003ausa.gov\u0029"},"Web":{"Total":2920,"Offset":0,"Results":[{"Title":"Presidente
        Barack Obama \u007c The White House","Description":"Vice President Joe Biden\u003b
        First Lady Michelle Obama\u003b Dr. Jill Biden\u003b The Cabinet\u003b Senior
        White House Leadership\u003b Executive Office of the President\u003b Other
        Advisory Boards\u003b","Url":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fespanol\u002fpresidente-obama\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dpresident\u0026d\u003d4636015042363598\u0026w\u003dEQF36AXm8QU8NxB-nMHdg2MLo9zchFFy","DisplayUrl":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fespanol\u002fpresidente-obama","DateTime":"2016-05-28T16\u003a19\u003a00Z"},{"Title":"www.whitehouse.gov","Description":"www.whitehouse.gov","Url":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fsites\u002fdefault\u002ffiles\u002fuploads\u002fPuerto_Rico_Task_Force_Report.pdf","DisplayUrl":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fsites\u002fdefault\u002ffiles\u002fuploads\u002fPuerto_Rico...","DateTime":"2016-04-28T17\u003a33\u003a00Z"},{"Title":"Comentarios
        del Presidente Barack Obama Discurso sobre el ...","Description"[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(president)%20language:es%20(site:whitehouse.gov%20OR%20site:usa.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028president\u0029
        language\u003aes \u0028site\u003awhitehouse.gov OR site\u003ausa.gov\u0029"},"Web":{"Total":2440,"Offset":0,"Results":[{"Title":"Presidente
        Barack Obama \u007c The White House","Description":"Vice President Joe Biden\u003b
        First Lady Michelle Obama\u003b Dr. Jill Biden\u003b The Cabinet\u003b Senior
    [...]
