---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=president%20(site:whitehouse.gov%20OR%20site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - EB553A4514AB4949907CAE10C0E10128
      X-Msedge-Clientid:
      - 24DF4B9236356C9F062E409A37A26D8A
      X-Msapi-Userstate:
      - '2005'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A0D5F189D42141E8A48537B0AF5A738D&CID=24DF4B9236356C9F062E409A37A26D8A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A0D5F189D42141E8A48537B0AF5A738D&CID=24DF4B9236356C9F062E409A37A26D8A&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=president+(site%3awhitehouse.gov+OR+site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5517.1", "totalEstimatedMatches": 209000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "President Donald J. Trump | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/administration\/president-trump",
        "urlPingSuffix": "DevEx,5087.1", "about": [{"name": "Donald Trump"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/administration\/president-trump", "snippet":
        "Check out the biography of President Donald Trump.", "deepLinks": [{"name":
        "Contact", "url": "https:\/\/www.whitehouse.gov\/contact", "urlPingSuffix":
        "DevEx,5076.1"}, {"name": "First Lady Michelle Obama", "url": "https:\/\/www.whitehouse.gov\/administration\/first-lady-melania-trump",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "Write Or Call", "url": "https:\/\/www.whitehouse.gov\/contact\/write-or-call",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Vice President Joe Biden", "url":
        "https:\/\/www.whitehouse.gov\/administration\/vice-president-pence", "urlPingSuffix":
        "DevEx,5079.1"}], "dateLastCrawled": "2017-09-13T16:59:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "The White House
        | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/", "urlPingSuffix":
        "DevEx,5111.1", "about": [{"name": "whitehouse.gov"}], "displayUrl": "https:\/\/www.whitehouse.gov",
        "snippet": "“Believe in yourselves. Believe in your future. And believe, once
        more, in America.” - President Donald J. Trump", "deepLinks": [{"name":
      [...]
