---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=president%20(site:whitehouse.gov%20OR%20site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3507D6B899424472BEA30025002AAAC5
      X-Msedge-Clientid:
      - 0E871077B85C6F943D1B1AF7B9CB6EB1
      X-Msapi-Userstate:
      - 89c5
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=045BF3C1B4A4462596E1D48164873461&CID=0E871077B85C6F943D1B1AF7B9CB6EB1&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=045BF3C1B4A4462596E1D48164873461&CID=0E871077B85C6F943D1B1AF7B9CB6EB1&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=president+(site%3awhitehouse.gov+OR+site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5475.1", "totalEstimatedMatches": 213000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "President Donald J. Trump | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/administration\/president-trump",
        "urlPingSuffix": "DevEx,5080.1", "about": [{"name": "Donald Trump"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/administration\/president-trump", "snippet":
        "Donald J. Trump is the 45th President of the United States. He believes
        the United States has incredible potential and will go on to exceed anything
        that it has ...", "dateLastCrawled": "2017-04-28T00:08:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Barack Obama
        | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/1600\/presidents\/barackobama",
        "urlPingSuffix": "DevEx,5094.1", "displayUrl": "https:\/\/www.whitehouse.gov\/1600\/presidents\/barackobama",
        "snippet": "Barack Obama served as the 44th President of the United States.
        His story is the American story -- values from the heart[...]
