---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=president%20(site:whitehouse.gov%20OR%20site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 62C687A6273E4AE1BAF0BBCDB9261CDE
      X-Msedge-Clientid:
      - 1EC409C10F46655B209202470EE964CC
      X-Msapi-Userstate:
      - 9a5b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A5F3D4712D6A4482B6A8285FD7E3F297&CID=1EC409C10F46655B209202470EE964CC&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A5F3D4712D6A4482B6A8285FD7E3F297&CID=1EC409C10F46655B209202470EE964CC&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=president+(site%3awhitehouse.gov+OR+site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5495.1", "totalEstimatedMatches": 787000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Presidents - White House", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/presidents\/",
        "urlPingSuffix": "DevEx,5089.1", "about": [{"name": "White House"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/about-the-white-house\/presidents", "snippet":
        "Which President served as a lieutenant colonel in the Spanish-American
        war? Who was the first Democrat elected after the Civil War? Who introduced
        Social Security? If ...", "dateLastCrawled": "2018-01-21T10:31:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "President
        Donald Trump - whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/people\/donald-j-trump\/",
        "urlPingSuffix": "DevEx,5103.1", "about": [{"name": "Donald Trump"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/people\/donald-j-trump", "snippet": "Donald
        J. Trump is the 45th President of the United States. He believes the United
        [...]
