---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='agency%20(site:.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 7e73796e-09fe-45ae-bc6e-ea112278a5a7
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027agency
        (site:.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"0194ad39-cb09-4e5f-a1d9-d72d2a4b92d2","Title":"United
        States Environmental Protection Agency | US EPA","Description":"United States
        Environmental Protection Agency. Search Search. U.S. Environmental Protection
        Agency. Share. Facebook; Twitter; Google+; Pinterest; Contact Us;","DisplayUrl":"https://www.epa.gov","Url":"https://www.epa.gov/"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027agency
        (site:.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"68868653-683e-4e78-9383-aef84c613395","Title":"Agency
        Profiles","Description":"Agency Assistance Files; Contact Us; USAspending
        \u003e Where is the Money Going \u003e Agency Profiles. Spending Map; Agency
        P[...]
