---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?%24format=JSON&%24skip=0&%24top=20&Market=%27en-US%27&Options=%27EnableHighlighting%27&Query=%27agency+%28site%3A.gov%29%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ActivityID:
      - 121d3048-344a-4b85-9b36-ad159d01ee0b
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027agency
        (site:.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"d20ed651-d8d8-4f2e-ad32-e8727bb15272","Title":"Federal
        Register | Agency List","Description":"Federal agencies publish documents
        in the Federal Register. Browse these agencies to learn more about each
        agency, view their most recently published documents, and ...","DisplayUrl":"https://www.federalregister.gov/agencies","Url":"https://www.federalregister.gov/agencies"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027agency
        (site:.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"e7e4e3a8-b6e0-4b94-8609-fb59e9ef4b13","Title":"Agency
        Information","Description":"The PUC makes extensive use of Adobe\u0027s Acrobat
        PDF format Download a free copy of the Acrobat Reader here.","Disp[...]
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='agency%20(site:.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 1969add5-91b8-44f6-a8a5-32959f861732
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027agency
        (site:.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"132056b4-ee9a-48fe-9db9-3fe267e01a44","Title":"Agency
        Profiles","Description":"USAspending.gov is a website mandated by the Federal
        Fu[...]
