---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='agency%20(site:.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 8e0a4249-7a60-4855-a741-687e5e9ef181
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027agency
        (site:.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"f3d96cee-33a1-4a2c-9ca4-57ad386f8749","Title":"Agency
        Profiles","Description":"Agency Assistance Files; Contact Us; USAspending
        \u003e Where is the Money Going \u003e Agency Profiles. Spending Map; Agency
        Profiles Currently selected. SmartPay; State ...","DisplayUrl":"https://www.usaspending.gov/transparency/Pages/AgencyProfiles.aspx","Url":"https://www.usaspending.gov/transparency/Pages/AgencyProfiles.aspx"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027agency
        (site:.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"f84e5aeb-7dae-4df8-9113-aa3966c5f17f","Title":"Agency
        Directory | DC","Description":"Agency Directory. Filter by Topic Administrative
        Hearings, Office of. Advisory Neighbor[...]
