---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='agency%20(site:.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 28cc6778-2be7-4f14-85ae-daf6f5dc176b
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027agency
        (site:.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"99abdd72-e108-4b27-8ebf-acc4ab10fc1b","Title":"CA.Gov
        : Agencies","Description":"Research crime data submitted by county and local
        law enforcement agencies. Governor’s Office. ... Find an Agency. Agency
        Search: Search. Show Filters .","DisplayUrl":"www.ca.gov/Agencies","Url":"http://www.ca.gov/Agencies"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027agency
        (site:.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"66cc6d84-de55-4b65-9b13-4055a3725a3b","Title":"Agency
        Profiles","Description":"Agency Assistance Files; Contact Us; USAspending
        \u003e Where is the Money Going \u003e Agency Profiles. Spending Map; Agency
   [...]
