---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='agency%20(site:.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 02a4ff65-474d-4c47-a335-b59ce4348db5
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027agency
        (site:.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"e5ab801c-6484-4f6f-8e6a-353217ed462b","Title":"Agency
        Profiles","Description":"Agency Assistance Files; Contact Us; USAspending
        \u003e Where is the Money Going \u003e Agency Profiles. Spending Map; Agency
        Profiles Currently selected. SmartPay; State ...","DisplayUrl":"https://www.usaspending.gov/transparency/Pages/AgencyProfiles.aspx","Url":"https://www.usaspending.gov/transparency/Pages/AgencyProfiles.aspx"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027agency
        (site:.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"363ed6ef-6a2c-4566-a22d-52e70118bbff","Title":"Agencies
        | AZ Direct","Description":"Agency Directory; Employee Directory. eBook
        (Public Directory) iBook (State of Arizona Onl[...]
