---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='agency%20(site:.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - b3e939f5-d4e2-4e4a-bb05-0fa4ed494d00
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027agency
        (site:.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"903ba235-1d05-49f8-8999-2f1a474110e6","Title":"United
        States Environmental Protection Agency | US EPA","Description":"United States
        Environmental Protection Agency. Search Search. U.S. Environmental Protection
        Agency. Share. Facebook; Twitter; Google+; Pinterest; Contact Us;","DisplayUrl":"https://www.epa.gov","Url":"https://www.epa.gov/"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027agency
        (site:.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"f5f00cdc-823f-4e6b-b914-6289fb628ecf","Title":"Home
        Page | Agency of Education","Description":"The Agency of Education can
        provide a certified true copy of your Burlington College student academic
        record as it [...]
