---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='agency%20(site:.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 475d4ea9-a2f1-4809-b50a-795674ab141f
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027agency
        (site:.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"20ed5a69-0190-4abd-8c74-c87251a36483","Title":"Agency
        Profiles","Description":"Agency Assistance Files; Contact Us; USAspending
        \u003e Where is the Money Going \u003e Agency Profiles. Spending Map; Agency
        Profiles Currently selected. SmartPay; State ...","DisplayUrl":"https://www.usaspending.gov/transparency/Pages/AgencyProfiles.aspx","Url":"https://www.usaspending.gov/transparency/Pages/AgencyProfiles.aspx"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027agency
        (site:.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"719cf028-eaa0-45c5-bb7b-4c68a74f72f6","Title":"Home
        Page | Agency of Education","Description":"The Agency of Education can
        provide a certified true copy of your Burlington [...]
