---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=%2B%2Bhealth%20it%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6A150BE04B9B4B278C32B176582B967D
      X-Msedge-Clientid:
      - 0AD87CF55FB766F538F476CB5E2067F6
      X-Msapi-Userstate:
      - 3da9
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=680C244B904F490EBA110465B81AF97A&CID=0AD87CF55FB766F538F476CB5E2067F6&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=680C244B904F490EBA110465B81AF97A&CID=0AD87CF55FB766F538F476CB5E2067F6&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%2b%2bhealth+it+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5470.1", "totalEstimatedMatches": 10900000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "National Institutes of Health - Official Site", "url": "https:\/\/www.nih.gov\/",
        "urlPingSuffix": "DevEx,5089.1", "displayUrl": "https:\/\/www.nih.gov",
        "snippet": "Official website of the National Institutes of Health (NIH).
        NIH is one of the world''s foremost medical research centers.", "deepLinks":
        [{"name": "Health Information", "url": "https:\/\/www.nih.gov\/health-information",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "MedlinePlus", "url": "https:\/\/www.nlm.nih.gov\/medlineplus\/",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Jobs at NIH", "url": "https:\/\/jobs.nih.gov\/",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Institutes at NIH", "url": "https:\/\/www.nih.gov\/institutes-nih",
        "urlPingSuffix": "DevEx,5081.1"}, {"name": "Grants", "url": "https:\/\/grants.nih.gov\/grants\/oer.htm",
        "urlPingSuffix": "DevEx,5082.1"}], "dateLastCrawled": "2017-03-03T13:51:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Home of
        the Office of Health Promotion and Disease ...", "url": "http:\/\/health.gov\/",
        "urlPingSuffix": "DevEx,5108.1", "displayUrl": "health.gov", "snippet":
        "We accomplish this by setting national health goals and objectives and
        supporting programs, services, and education activities that improve the health
        of all Americans.", "deepLink[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=OR%20us97%20central%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; chars[...]
