---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=season%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F96211E461074CAEAD452717B6AFB9A3
      X-Msedge-Clientid:
      - 0F032C4AC01F605E16AE2012C110613E
      X-Msapi-Userstate:
      - b2eb
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F92489BC5A36429486D3A11AF8B24C4A&CID=0F032C4AC01F605E16AE2012C110613E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F92489BC5A36429486D3A11AF8B24C4A&CID=0F032C4AC01F605E16AE2012C110613E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=season+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5432.1", "totalEstimatedMatches": 18700000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "2017-2018 Flu Season | Seasonal Influenza (Flu) | CDC", "url": "https:\/\/www.cdc.gov\/flu\/about\/season\/current.htm",
        "urlPingSuffix": "DevEx,5058.1", "displayUrl": "https:\/\/www.cdc.gov\/flu\/about\/season\/current.htm",
        "snippet": "Facts About the 2015-2016 Influenza Season. Get Email Updates.
        To receive weekly email updates about Seasonal Flu, enter your email address:",
        "dateLastCrawled": "2018-08-17T05:15:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "2018 Atlantic Hurricane Season - nhc.noaa.gov", "url": "https:\/\/www.nhc.noaa.gov\/data\/tcr\/index.php?season=2018",
        "urlPingSuffix": "DevEx,5070.1", "displayUrl": "https:\/\/www.nhc.noaa.gov\/data\/tcr\/index.php?season=2018",
        "snippet": "The National Hurricane Center''s Tropical Cyclone Reports contain
        comprehensive information on each tropical cyclone[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=estados%20unidos%20amiga%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7F1D5D05[...]
