---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=first%20item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4006C1001C0E46C4A0FEC10C46E0DB69
      X-Msedge-Clientid:
      - 3F9B9FFD82A860792F5495C3833F6140
      X-Msapi-Userstate:
      - '4038'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=44684C8101DB466AA84E787EBAB198DC&CID=3F9B9FFD82A860792F5495C3833F6140&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=44684C8101DB466AA84E787EBAB198DC&CID=3F9B9FFD82A860792F5495C3833F6140&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=first+item+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5446.1", "totalEstimatedMatches": 201000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "The first colored senator and representatives - in the ...", "url": "https:\/\/www.loc.gov\/item\/98501907\/",
        "urlPingSuffix": "DevEx,5077.1", "displayUrl": "https:\/\/www.loc.gov\/item\/98501907",
        "snippet": "Title The first colored senator and representatives - in the
        41st and 42nd Congress of the United States Summary Group portrait of ...",
        "dateLastCrawled": "2017-01-27T18:55:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Home Inventory Checklist - Department of Financial", "url": "http:\/\/www.dfs.ny.gov\/consumer\/homeown\/home_invchklst.pdf",
        "urlPingSuffix": "DevEx,5088.1", "displayUrl": "www.dfs.ny.gov\/consumer\/homeown\/home_invchklst.pdf",
        "snippet": "HOME INVENTORY CHECKLIST Household Inventory Checklist | 2 Number
        Of Items Item Year Bought Cost Living Room Air Con[...]
