---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=first%20item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1368456173F94D85BFC192EBBDA6C469
      X-Msedge-Clientid:
      - 0C5A9AF775176474018F907774806514
      X-Msapi-Userstate:
      - 0ac0
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1BD37324EC0A4F628A970FF4B65C0F9C&CID=0C5A9AF775176474018F907774806514&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1BD37324EC0A4F628A970FF4B65C0F9C&CID=0C5A9AF775176474018F907774806514&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=first+item+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5430.1", "totalEstimatedMatches": 250000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Home Inventory Checklist", "url": "http:\/\/www.dfs.ny.gov\/consumer\/homeown\/home_invchklst.pdf",
        "urlPingSuffix": "DevEx,5073.1", "displayUrl": "www.dfs.ny.gov\/consumer\/homeown\/home_invchklst.pdf",
        "snippet": "HOME INVENTORY CHECKLIST Household Inventory Checklist | 2
        Number Of Items Item Year Bought Cost Living Room Air Conditioner Window
        Units", "dateLastCrawled": "2017-04-29T20:08:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Item 137 (DOE\/ COO) Administrative and Support Services ...",
        "url": "https:\/\/budget.lis.virginia.gov\/item\/2017\/1\/HB1500\/Chapter\/1\/137\/",
        "urlPingSuffix": "DevEx,5086.1", "displayUrl": "https:\/\/budget.lis.virginia.gov\/item\/2017\/1\/HB1500\/Chapter\/1\/137",
        "snippet": "Item 137 First Year - FY2017 Second Year - FY2018; Administrative
       [...]
