---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=season%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - '00858549669C4AB3A5F7A91B0F08EB01'
      X-Msedge-Clientid:
      - 36A86E32EAFE63C716F46575EB696230
      X-Msapi-Userstate:
      - e1d3
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=79016B54AD8641638F2FAF0E4388D95E&CID=36A86E32EAFE63C716F46575EB696230&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=79016B54AD8641638F2FAF0E4388D95E&CID=36A86E32EAFE63C716F46575EB696230&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=season+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5537.1", "totalEstimatedMatches": 12100000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "2017-2018 Flu Season | Seasonal Influenza (Flu) | CDC", "url": "https:\/\/www.cdc.gov\/flu\/about\/season\/current.htm",
        "urlPingSuffix": "DevEx,5099.1", "displayUrl": "https:\/\/www.cdc.gov\/flu\/about\/season\/current.htm",
        "snippet": "What’s New for the 2017-2018 Flu Season? [261 KB, 2 pages] Get
        Email Updates. To receive weekly email updates about Seasonal Flu, enter your
        email address:", "deepLinks": [{"name": "Flu Activity", "url": "https:\/\/www.cdc.gov\/flu\/weekly\/fluactivitysurv.htm",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Vis", "url": "https:\/\/www.cdc.gov\/vaccines\/hcp\/vis\/vis-statements\/flu.html",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "Flu & You", "url": "https:\/\/www.cdc.gov\/flu\/prevent\/index.html",
        "urlPingSuffix": "DevEx,5091.1"}, {"name": "Health Care Professionals", "url":
        "https:\/\/www.cdc.gov\/flu\/about\/season\/health-care-professionals.htm",
        "urlPingSuffix": "DevEx,5092.1"}, {"name": "Flu Basics", "url": "https:\/\/www.cdc.gov\/flu\/about\/index.html",
        "urlPingSuffix": "DevEx,5093.1"}], "dateLastCrawled": "2017-11-22T10:09:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Frequently
        Asked Flu Questions 2017-2018 Influenza Season", "url": "https:\/\/www.cdc.gov\/flu\/about\/season\/flu-season-2017-2018.htm",
        "urlPingSuffix": "DevEx,5116.1", "displayUrl": "https:\/\/www.cdc.gov\/flu\/about\/season\/flu-season-2017-2018.htm",
        "snippet": "Note: For the 2017-2018 season, CDC recommends use of the flu
        shot (inactivated [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=estados%20unidos%20amiga%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - app[...]
