---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=noticia%20uno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8C5752C9526D4A9FA967E3546C7B6582
      X-Msedge-Clientid:
      - 1F4AD492603368AA26B0DF14619C6943
      X-Msapi-Userstate:
      - 13ad
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A18C431B038246AF8D9AE520477182B6&CID=1F4AD492603368AA26B0DF14619C6943&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A18C431B038246AF8D9AE520477182B6&CID=1F4AD492603368AA26B0DF14619C6943&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=noticia+uno+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5502.1", "totalEstimatedMatches": 351000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Helicóptero de FURA gana el Primer Lugar como uno de los ...", "url": "https:\/\/www.policia.pr.gov\/helicoptero-de-fura-gana-el-primer-lugar-como-uno-de-los-mejores-del-mundo\/",
        "urlPingSuffix": "DevEx,5089.1", "displayUrl": "https:\/\/www.policia.pr.gov\/helicoptero-de-fura-gana-el-primer...",
        "snippet": "Helicóptero de FURA gana el Primer Lugar como uno de los Mejores
        del Mundo. ... Noticias. Tags: Por motivo del “Airborne Law Enforcement
        Association Expo 2015 ...", "dateLastCrawled": "2018-01-22T08:58:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Uno
        de cada cinco estadounidenses sigue consumiendo tabaco ...", "url": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_169651.html",
        "urlPingSuffix": "DevEx,5105.1", "displayUrl": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_169651.html",
        "snippet": "Uno de cada cinco adultos de EE. UU. seguía consumiendo ...
        Las noticias son escritas y proporcionadas por HealthDay y no reflejan los
        puntos de vista de la ...", "dateLastCrawled": "2018-01-10T23:40:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Juno
        | NASA", "url": "https:\/\/www.nasa.gov\/mission_pages\/juno\/main\/index.html",
        "urlPingSuffix": "DevEx,5125.1", "about": [{"name": "Juno"}, {"name": "Juno"},
        {"name": "Juno"}], "displayUrl": "https:\/\/www.nasa.gov\/mission_pages\/juno",
        "snippet": "Juno will improve our understanding of the solar system''s beginnings
        by revealing the origin and evolution of Jupiter.", "dateLastCrawled": "2018-01-19T15:03:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "NASA
        - New NASA Online Science Resource Available for ...", "url": "https:\/\/ww[...]
