---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(season)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028season\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":5820000,"Offset":0,"Results":[{"Title":"Hunting
        Seasons \u007c MDC Hunting and Fishing","Description":"Hunting Seasons. by
        Date\u003b by Species\u003b Coyote Hunting. Dates\u003a Jan 01 2016 to Dec
        31 2016. Hours\u003a Coyotes may be taken all year. ... During fall deer season,
        ...","Url":"https\u003a\u002f\u002fhuntfish.mdc.mo.gov\u002fhunting-trapping\u002fseasons","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dseason\u0026d\u003d4522937234096636\u0026w\u003dSNV8MfrNJ4YIyxOrpEGioCga9mJXUVUU","DisplayUrl":"https\u003a\u002f\u002fhuntfish.mdc.mo.gov\u002fhunting-trapping\u002fseasons","DateTime":"2016-12-04T14\u003a09\u003a00Z"},{"Title":"Summary
        of the 2015-2016 Influenza Season \u007c Seasonal ...","Description":"What
        was the 2015-2016 flu season like\u003f Flu seasons can vary in their timing,
        severity, and duration from one season to another. The 2015-2016 flu season
        ...","Url":"http\u003a\u002f\u002fwww.cdc.gov\u002fflu\u002fabout\u002fseason\u002fflu-season-2015-2016.htm","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(estados%20unidos%20amiga)%20language:es%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; ch[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=season%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 64DA178D9F674732955B05579EEE44FE
      X-Msedge-Clientid:
      - 3DE1D58CA11B62EB1957DC73A08C63E8
      X-Msapi-Userstate:
      - af14
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=50C121F9DFAC48BAAC97D567425B5C2E&CID=3DE1D58CA11B62EB1957DC73A08C63E8&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=50C121F9DFAC48BAAC97D567425B5C2E&CID=3DE1D58CA11B62EB1957DC73A08C63E8&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=season+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5481.1", "totalEstimatedMatches": 4030000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Summary of the 2015-2016 Influenza Season | Seasonal ...", "url": "https:\/\/www.cdc.gov\/flu\/about\/season\/flu-season-2015-2016.htm",
        "urlPingSuffix": "DevEx,5102.1", "displayUrl": "https:\/\/www.cdc.gov\/flu\/about\/season\/flu-season-2015-2016.htm",
        "snippet": "What was the 2015-2016 flu season like? Flu seasons can vary
        in their timing, severity, and duration from one season to another. The
        2015-2016 flu season ...", "dateLastCrawled": "2016-12-31T20:00:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Frequently
        Asked Flu Questions 2016-2017 Influenza Season", "url": "https:\/\/www.cdc.gov\/flu\/about\/season\/flu-season-2016-2017.htm",
        "urlPingSuffix": "DevEx,5115.1", "displayUrl": "https:\/\/www.cdc.gov\/flu\/about\/season\/flu-season-2016-2017.htm",
        "snippet": "Note: For the 2016-2017 season, CDC recommends use of the flu
        shot (inactivated [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=estados%20unidos%20amiga%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - app[...]
