---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=first%20item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 22EFC3D2ACCC42D287A99CD0DC7B38BE
      X-Msedge-Clientid:
      - 314B99792B9168C01E5693442A06695E
      X-Msapi-Userstate:
      - 0378
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=81B285C9D6D344BCB268E87FBD8EDB9D&CID=314B99792B9168C01E5693442A06695E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=81B285C9D6D344BCB268E87FBD8EDB9D&CID=314B99792B9168C01E5693442A06695E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=first+item+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5433.1", "totalEstimatedMatches": 171000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Basic Disaster Supplies Kit | Ready.gov", "url": "https:\/\/www.ready.gov\/kit",
        "urlPingSuffix": "DevEx,5080.1", "displayUrl": "https:\/\/www.ready.gov\/kit",
        "snippet": "Additional Emergency Supplies. Once you have gathered the supplies
        for a basic emergency kit, you may want to consider adding the following items:",
        "deepLinks": [{"name": "Maintaining Your Kit", "url": "https:\/\/www.ready.gov\/maintaining-your-kit",
        "urlPingSuffix": "DevEx,5075.1"}, {"name": "Water", "url": "https:\/\/www.ready.gov\/water",
        "urlPingSuffix": "DevEx,5076.1"}], "dateLastCrawled": "2017-02-26T05:07:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "The first
        circus | Library of Congress", "url": "https:\/\/www.loc.gov\/item\/00694026\/",
        "urlPingSuffix": "DevEx,5094.1", "displayUrl": "https:\/\/www.loc.gov\/item\/00694026",
        "snippet": "The First Circus. United States: Rialto Productions, 1921. Video.
        Retrieved from the Library of Congress, https:\/\/www.loc.gov\/item\/00694026\/.",
  [...]
