---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=%2B%2Bhealth%20it%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 93D5C4D4F23A4851B6DC5BC0D2DF05F9
      X-Msedge-Clientid:
      - 05BD1A69F81665C43B561058F92764D7
      X-Msapi-Userstate:
      - d2dc
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A115BFB55D2C417E877473A4373036E4&CID=05BD1A69F81665C43B561058F92764D7&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A115BFB55D2C417E877473A4373036E4&CID=05BD1A69F81665C43B561058F92764D7&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%2b%2bhealth+it+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5468.1", "totalEstimatedMatches": 10700000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "New York State Department of Health - Official Site", "url": "http:\/\/www.health.ny.gov\/",
        "urlPingSuffix": "DevEx,5087.1", "about": [{"name": "New York State Department
        of Health"}], "displayUrl": "www.health.ny.gov", "snippet": "Includes
        information for consumers, doctors, researchers, and health care providers.
        Also features vital records information and forms for birth, death, marriage
        and ...", "deepLinks": [{"name": "Forms", "url": "http:\/\/www.health.ny.gov\/forms\/",
        "urlPingSuffix": "DevEx,5076.1"}, {"name": "Employment Opportunities", "url":
        "http:\/\/www.health.ny.gov\/employment\/", "urlPingSuffix": "DevEx,5077.1"},
        {"name": "Health Topics a to Z", "url": "http:\/\/www.health.ny.gov\/healthaz\/",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Laws & Regulations", "url": "http:\/\/www.health.ny.gov\/regulations\/",
        "urlPingSuffix": "DevEx,5079.1"}], "dateLastCrawled": "2017-02-16T05:38:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Health
        Information | National Institutes of Health (NIH)", "url": "https:\/\/www.nih.gov\/health-information",
        "urlPingSuffix": "DevEx,5104.1", "displayUrl": "https:\/\/www.nih.gov\/health-information",
        "snippet": "Find science-based health information on symptoms, diagnosis,
        treatments, research, clinical trials and more from NIH, the nation’s m[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=OR%20us97%20central%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; chars[...]
