---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(season)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028season\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":5820000,"Offset":0,"Results":[{"Title":"Hunting
        Seasons \u007c MDC Hunting and Fishing","Description":"Hunting Seasons. by
        Date\u003b by Species\u003b Coyote Hunting. Dates\u003a Jan 01 2016 to Dec
        31 2016. Hours\u003a Coyotes may be taken all year. ... During fall deer season,
        ...","Url":"https\u003a\u002f\u002fhuntfish.mdc.mo.gov\u002fhunting-trapping\u002fseasons","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dseason\u0026d\u003d4522937234096636\u0026w\u003dSNV8MfrNJ4YIyxOrpEGioCga9mJXUVUU","DisplayUrl":"https\u003a\u002f\u002fhuntfish.mdc.mo.gov\u002fhunting-trapping\u002fseasons","DateTime":"2016-12-04T14\u003a09\u003a00Z"},{"Title":"Summary
        of the 2015-2016 Influenza Season \u007c Seasonal ...","Description":"What
        was the 2015-2016 flu season like\u003f Flu seasons can vary in their timing,
        severity, and duration from one season to another. The 2015-2016 flu season
        ...","Url":"http\u003a\u002f\u002fwww.cdc.gov\u002fflu\u002fabout\u002fseason\u002fflu-season-2015-2016.htm","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(estados%20unidos%20amiga)%20language:es%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; ch[...]
