---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=%2B%2Bhealth%20it%20(site:.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0A9C94D6194E4A139461196FB2B76861
      X-Msedge-Clientid:
      - 26434E174476659A08ED424F45796442
      X-Msapi-Userstate:
      - 89f8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B8281173F85E4DD1B6C54DB18601FFD4&CID=26434E174476659A08ED424F45796442&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B8281173F85E4DD1B6C54DB18601FFD4&CID=26434E174476659A08ED424F45796442&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%2b%2bhealth+it+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5412.1", "totalEstimatedMatches": 33600000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "HealthCare.gov - Get 2018 health coverage. Health ...", "url": "https:\/\/www.healthcare.gov\/",
        "urlPingSuffix": "DevEx,5057.1", "about": [{"name": "HealthCare.gov"}], "displayUrl":
        "https:\/\/www.healthcare.gov", "snippet": "Official site of Affordable
        Care Act. Enroll now for 2018 coverage. See health coverage choices, ways
        to save today, how law affects you.", "dateLastCrawled": "2018-08-20T08:23:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Health
        Information | National Institutes of Health (NIH)", "url": "https:\/\/www.nih.gov\/health-information",
        "urlPingSuffix": "DevEx,5070.1", "about": [{"name": "National Institutes of
        Health"}], "displayUrl": "https:\/\/www.nih.gov\/health-information",
        "snippet": "Find science-based health information on symptoms, diagnosis,
        treatment[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=OR%20us97%20central%20(site:.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4FD80F28B5E346C5B48B8AEA1AD1[...]
