---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=noticia%20uno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 59445718BBC14CEB9C8E0ED7CF7F5468
      X-Msedge-Clientid:
      - 24ABD3AB4F7A670D11D4D8EC4EED6624
      X-Msapi-Userstate:
      - 36ea
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=7CB044F7013A4474B48CC3F6405ECEB8&CID=24ABD3AB4F7A670D11D4D8EC4EED6624&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=7CB044F7013A4474B48CC3F6405ECEB8&CID=24ABD3AB4F7A670D11D4D8EC4EED6624&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=noticia+uno+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5492.1", "totalEstimatedMatches": 246000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Tatúese hoy y arrepiéntase mañana: unos pediatras ofrecen ...", "url": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_168480.html",
        "urlPingSuffix": "DevEx,5091.1", "displayUrl": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_168480.html",
        "snippet": "Ese es uno de los consejos de un nuevo informe de la Academia
        ... Las noticias son escritas y proporcionadas por HealthDay y no reflejan
        los puntos de vista ...", "dateLastCrawled": "2017-11-22T16:48:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Los cirujanos
        tienen un papel importante en las decisiones ...", "url": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_168405.html",
        "urlPingSuffix": "DevEx,5105.1", "displayUrl": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_168405.html",
        "snippet": "Las que tienen cáncer en uno de los senos son menos propensas
        a extirparse los dos si el mé[...]
