---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=first%20item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D7553E5105394859B2FAB6516DAA6915
      X-Msedge-Clientid:
      - 1D33FCB1162069673768F6D317B768EA
      X-Msapi-Userstate:
      - 16ca
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=08DBC2B62E4F4C80B5DDD30186EEF506&CID=1D33FCB1162069673768F6D317B768EA&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=08DBC2B62E4F4C80B5DDD30186EEF506&CID=1D33FCB1162069673768F6D317B768EA&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=first+item+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5435.1", "totalEstimatedMatches": 235000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "\"The first vote\" - loc.gov", "url": "https:\/\/www.loc.gov\/pictures\/item\/00651117\/",
        "urlPingSuffix": "DevEx,5078.1", "displayUrl": "https:\/\/www.loc.gov\/pictures\/item\/00651117",
        "snippet": "\"The first vote\" About This Item; ... Title: \"The first
        vote\" \/ AW [monogram] ; drawn by A.R. Waud. Related Names: Waud, Alfred
        R ...", "dateLastCrawled": "2017-02-09T07:52:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "How to Understand and Use the Nutrition Facts Label", "url": "https:\/\/www.fda.gov\/Food\/IngredientsPackagingLabeling\/LabelingNutrition\/ucm274593.htm",
        "urlPingSuffix": "DevEx,5090.1", "displayUrl": "https:\/\/www.fda.gov\/Food\/IngredientsPackagingLabeling\/Labeling...",
        "snippet": "The first place to start when you look at the Nutrition Facts
        label is th[...]
