---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=%2B%2Bhealth%20it%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 001F3303087A4C2494F8B660E7218271
      X-Msedge-Clientid:
      - 175C9BCF493C65DA2F0391F248AB64C2
      X-Msapi-Userstate:
      - ce7c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=85D6A193CA4541098CD755AEAEFBC534&CID=175C9BCF493C65DA2F0391F248AB64C2&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=85D6A193CA4541098CD755AEAEFBC534&CID=175C9BCF493C65DA2F0391F248AB64C2&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%2b%2bhealth+it+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5472.1", "totalEstimatedMatches": 11000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Health Information | National Institutes of Health (NIH)", "url": "https:\/\/www.nih.gov\/health-information",
        "urlPingSuffix": "DevEx,5083.1", "displayUrl": "https:\/\/www.nih.gov\/health-information",
        "snippet": "Find science-based health information on symptoms, diagnosis,
        treatments, research, clinical trials and more from NIH, the nation’s medical
        research agency.", "deepLinks": [{"name": "MedlinePlus", "url": "https:\/\/www.nlm.nih.gov\/medlineplus\/",
        "urlPingSuffix": "DevEx,5076.1"}, {"name": "Clinical Trials and You", "url":
        "https:\/\/www.nih.gov\/health-information\/nih-clinical-research-trials-you",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "Community Resources", "url": "https:\/\/www.nih.gov\/health-information\/science-based-health-wellness-resources-your-community",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Health Info Lines", "url": "https:\/\/www.nih.gov\/health-information\/health-info-lines",
        "urlPingSuffix": "DevEx,5079.1"}], "dateLastCrawled": "2017-03-03T10:29:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "HealthCare.gov
        - Official Site", "url": "https:\/\/www.healthcare.gov\/", "urlPingSuffix":
        "DevEx,5107.1", "displayUrl": "https:\/\/www.healthcare.gov", "snippet":
        "Official site of Affordable Care Act. Enroll now for 2017 coverage. See health
        coverage choices, ways to save today, how law affects you.", "deepLinks":
        [{"name": "Log In", "url[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=OR%20us97%20central%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; chars[...]
