---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=%2B%2Bhealth%20it%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E0D0B64F7AEA48D7A5EB5F6E507E64AC
      X-Msedge-Clientid:
      - 387D4229200763B53E6D48EA2190626E
      X-Msapi-Userstate:
      - 0b2b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=37CB406D4993490B9C8F3AF3B89AEC60&CID=387D4229200763B53E6D48EA2190626E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=37CB406D4993490B9C8F3AF3B89AEC60&CID=387D4229200763B53E6D48EA2190626E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%2b%2bhealth+it+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5503.1", "totalEstimatedMatches": 33400000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Home of the Office of Health Promotion and Disease ...", "url": "http:\/\/health.gov\/",
        "urlPingSuffix": "DevEx,5086.1", "displayUrl": "health.gov", "snippet":
        "Health.gov is your portal for health related resources and news from
        the US government. Find prevention topics, dietary and physical activity guidelines,
        and other ...", "deepLinks": [{"name": "Dietary Guidelines", "url": "http:\/\/health.gov\/dietaryguidelines\/",
        "urlPingSuffix": "DevEx,5076.1"}, {"name": "Healthy People", "url": "http:\/\/health.gov\/our-work\/healthy-people\/",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "Healthfinder", "url": "http:\/\/health.gov\/our-work\/healthfinder\/",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "News & Media", "url": "https:\/\/health.gov\/news\/",
        "urlPingSuffix": "DevEx,5079.1"}], "dateLastCrawled": "2017-07-14T09:57:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Health
        Information | National Institutes of Health (NIH)", "url": "https:\/\/www.nih.gov\/health-information",
        "urlPingSuffix": "DevEx,5106.1", "displayUrl": "https:\/\/www.nih.gov\/health-information",
        "snippet": "Find science-based health information on symptoms, diagnosis,
        treatments, research, clinical trials and more from NIH, the nation’s m[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=OR%20us97%20central%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; chars[...]
