---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=season%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 46A93B3563A748B2AF078616B88F55F3
      X-Msedge-Clientid:
      - 3F0BEBB0F028625938ECE1D2F1BF63F2
      X-Msapi-Userstate:
      - fc47
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=58C947EDB6F34825B7D2CCCE955CF847&CID=3F0BEBB0F028625938ECE1D2F1BF63F2&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=58C947EDB6F34825B7D2CCCE955CF847&CID=3F0BEBB0F028625938ECE1D2F1BF63F2&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=season+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5462.1", "totalEstimatedMatches": 4400000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "2016-2017 Flu Season | Seasonal Influenza (Flu) | CDC", "url": "https:\/\/www.cdc.gov\/flu\/about\/season\/current.htm",
        "urlPingSuffix": "DevEx,5077.1", "displayUrl": "https:\/\/www.cdc.gov\/flu\/about\/season\/current.htm",
        "snippet": "Flu News & Spotlights. Stay up-to-date on noteworthy influenza-related
        developments, including information about the upcoming flu season. More",
        "dateLastCrawled": "2017-04-03T11:40:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "2017 Tax Filing Season Begins Jan. 23 for Nation’s ...", "url":
        "https:\/\/www.irs.gov\/uac\/2017-tax-filing-season-begins-jan-23-for-nations-taxpayers-with-tax-returns-due-april-18",
        "urlPingSuffix": "DevEx,5089.1", "displayUrl": "https:\/\/www.irs.gov\/uac\/2017-tax-filing-season-begins-jan-23-for...",
        "snippet": "WASHINGTON ― The Internal Revenue Service[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=estados%20unidos%20amiga%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - app[...]
