---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=season%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 89246F1290C34A249413299D8E7DA29F
      X-Msedge-Clientid:
      - 34EC6F09EA3469A21F0B6589EBA36854
      X-Msapi-Userstate:
      - 6bf6
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=503DC141B0984771863E5C872984A4EB&CID=34EC6F09EA3469A21F0B6589EBA36854&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=503DC141B0984771863E5C872984A4EB&CID=34EC6F09EA3469A21F0B6589EBA36854&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=season+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5474.1", "totalEstimatedMatches": 4120000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "2016-2017 Flu Season | Seasonal Influenza (Flu) | CDC", "url": "https:\/\/www.cdc.gov\/flu\/about\/season\/current.htm",
        "urlPingSuffix": "DevEx,5077.1", "displayUrl": "https:\/\/www.cdc.gov\/flu\/about\/season\/current.htm",
        "snippet": "Flu News & Spotlights. Stay up-to-date on noteworthy influenza-related
        developments, including information about the upcoming flu season. More",
        "dateLastCrawled": "2017-05-06T00:23:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "2016 MAINE HUNTING SEASONS", "url": "http:\/\/www.maine.gov\/ifw\/hunting_trapping\/pdfs\/2016huntingseasonschart_may2016.pdf",
        "urlPingSuffix": "DevEx,5088.1", "displayUrl": "www.maine.gov\/ifw\/hunting_trapping\/pdfs\/2016huntingseasonschart...",
        "snippet": "2016 MAINE HUNTING SEASONS. The following are general dates
        for the 2016 season. This informati[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=estados%20unidos%20amiga%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - app[...]
