---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=season%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B38D535E98EB441EB41C0A626AA9AD86
      X-Msedge-Clientid:
      - 2B03E1F09F386B900FD7EA769E976A9B
      X-Msapi-Userstate:
      - 9cc2
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C04E7B6F6283457EA6075E66104CDE30&CID=2B03E1F09F386B900FD7EA769E976A9B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C04E7B6F6283457EA6075E66104CDE30&CID=2B03E1F09F386B900FD7EA769E976A9B&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=season+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5504.1", "totalEstimatedMatches": 21300000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Current & Past Flu Seasons | Seasonal Influenza (Flu) | CDC", "url": "https:\/\/www.cdc.gov\/flu\/about\/season\/index.html",
        "urlPingSuffix": "DevEx,5089.1", "displayUrl": "https:\/\/www.cdc.gov\/flu\/about\/season\/index.html",
        "snippet": "Flu activity is currently widespread in most of the U.S. In the
        United States, flu season occurs in the fall and winter. The peak of flu
        season has occurred anywhere ...", "dateLastCrawled": "2018-01-20T21:54:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Hunting
        Seasons | MDC Hunting and Fishing", "url": "https:\/\/huntfish.mdc.mo.gov\/hunting-trapping\/seasons",
        "urlPingSuffix": "DevEx,5112.1", "displayUrl": "https:\/\/huntfish.mdc.mo.gov\/hunting-trapping\/seasons",
        "snippet": "Limits are set for each species and hunting or trapping season.
        Check the species and season listings for information about limits.", "deepLinks":
        [{"name": "Deer", "url": "https:\/\/huntfish.mdc.mo.gov\/hunting-trapping\/species\/deer",
        "urlPingSuffix": "DevEx,5103.1"}, {"name": "By Species", "url": "https:\/\/huntfish.mdc.mo.gov\/hunting-trapping\/seasons\/species",
        "urlPingSuffix": "DevEx,5104.1"}, {"name": "Regulations", "url": "https:\/\/huntfish.mdc.mo.gov\/hunting-trapping\/regulations",
        "urlPingSuffix": "DevEx,5105.1"}, {"name": "Waterfowl", "url": "https:\/\/huntfish.mdc.mo.gov\/hunting-trapping\/species\/waterfowl",
        "urlPingSuffix": "DevEx,5106.1"}, {"name": "Permits", "url": "https:\/\/huntfish.mdc.mo.gov\/hunting-trapping\/permits",
        "urlPingSuffix": "DevEx,5107.1"}, {"name": "Coyote", "url": "https:\/\/huntfish.mdc.mo.gov\/hunting-trapping\/species\/coyote",
        "urlPingSuffix": "DevEx,5108.1"}], "dateLastCrawled": "2018-01-18T14:03:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "The Four
        Seasons", "url": "http:\/\/www.weather.gov\/btv\/newsletter", "urlPingSuffix":
        "DevEx,5129.1", "about": [{"name": "Season"}], "displayUrl": "www.weather.gov\/btv\/newsletter",
        "snippet": "The Four Seasons is a quarterly newsletter issued by the National
        Weather Service in Burlington, VT at the beginning of each season. This
        rendition of the National ...", "dateLastCrawled": "2018-01-20T16:28:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "The Flu
        Season | Seasonal Influenza (Flu) | CDC", "url": "https:\/\/www.cdc.g[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=estados%20unidos%20amiga%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - app[...]
