---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=noticia%20uno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0FEC56479B7E49E1BC4FC9FF2A6B3352
      X-Msedge-Clientid:
      - 26238CA9F24E691F31D48697F3D9682A
      X-Msapi-Userstate:
      - ae56
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=42EF979525F74E12B32BA37C3BEAF74D&CID=26238CA9F24E691F31D48697F3D9682A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=42EF979525F74E12B32BA37C3BEAF74D&CID=26238CA9F24E691F31D48697F3D9682A&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=noticia+uno+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5435.1", "totalEstimatedMatches": 50500,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "A medida que la legalización de la marihuana gana terreno, unos ...", "url":
        "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_163841.html", "urlPingSuffix":
        "DevEx,5077.1", "displayUrl": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_163841.html",
        "snippet": "Noticia. Dirección de esta página: https:\/\/medlineplus.gov\/spanish\/news\/fullstory_163841.html.
        A medida que la legalización de la marihuana gana terreno, ... uno de los
        autores del nuevo informe de la academia ...", "dateLastCrawled": "2017-03-01T17:22:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Unos sensores
        portátiles podrían detectar la enfermedad antes del ...", "url": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_163059.html",
        "urlPingSuffix": "DevEx,5090.1", "displayUrl": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_163059.html",
        "snippet": "Cuando uno anda por el pasillo de un avión, ... Las noticias
        son escritas y propor[...]
