---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=%2B%2Bhealth%20it%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F09E99AD6BAA4E3680B24BEA47986EC2
      X-Msedge-Clientid:
      - 1174A2C2697461523FDEA84268E36026
      X-Msapi-Userstate:
      - c684
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1A17830C22DB4E2582EB91398A03BA47&CID=1174A2C2697461523FDEA84268E36026&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1A17830C22DB4E2582EB91398A03BA47&CID=1174A2C2697461523FDEA84268E36026&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%2b%2bhealth+it+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5471.1", "totalEstimatedMatches": 13700000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Home of the Office of Health Promotion and Disease ...", "url": "http:\/\/health.gov\/",
        "urlPingSuffix": "DevEx,5083.1", "displayUrl": "health.gov", "snippet":
        "Health.gov is your portal for health related resources and news from
        the US government. Find prevention topics, dietary and physical activity guidelines,
        and other ...", "deepLinks": [{"name": "Healthy People", "url": "http:\/\/health.gov\/our-work\/healthy-people\/",
        "urlPingSuffix": "DevEx,5074.1"}, {"name": "About Odphp", "url": "http:\/\/health.gov\/about-us\/",
        "urlPingSuffix": "DevEx,5075.1"}, {"name": "Dietary Guidelines", "url": "http:\/\/health.gov\/DietaryGuidelines\/",
        "urlPingSuffix": "DevEx,5076.1"}, {"name": "News & Media", "url": "https:\/\/health.gov\/news\/",
        "urlPingSuffix": "DevEx,5077.1"}], "dateLastCrawled": "2017-05-06T09:58:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "HealthCare.gov
        - Official Site", "url": "https:\/\/www.healthcare.gov\/", "urlPingSuffix":
        "DevEx,5107.1", "displayUrl": "https:\/\/www.healthcare.gov", "snippet":
        "Official site of Affordable Care Act. Enroll now for 2017 coverage. See health
        coverage choices, ways to save today, how law affects you.", "deepLinks":
        [{"name": "Log In", "url[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=OR%20us97%20central%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; chars[...]
