---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=noticia%20uno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - FE376FB546554B9487F5016EC2CB68B1
      X-Msedge-Clientid:
      - 07703BAF91AD61591C05302390026068
      X-Msapi-Userstate:
      - fe8a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8C64EBA2EDC5435A941ADEE71BD945FF&CID=07703BAF91AD61591C05302390026068&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8C64EBA2EDC5435A941ADEE71BD945FF&CID=07703BAF91AD61591C05302390026068&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=noticia+uno+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5514.1", "totalEstimatedMatches": 328000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Noticias en Español | Internal Revenue Service", "url": "https:\/\/www.irs.gov\/es\/spanish\/noticias-en-espanol",
        "urlPingSuffix": "DevEx,5086.1", "displayUrl": "https:\/\/www.irs.gov\/es\/spanish\/noticias-en-espanol",
        "snippet": "Central de Noticias en Español Skip to main content ... Como
        parte de un amplio esfuerzo para ayudar a víctimas de desastres naturales,
        ...", "dateLastCrawled": "2018-01-02T02:07:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Preguntas y Respuestas: Se extiende TPS para hondureños ...", "url":
        "https:\/\/www.uscis.gov\/es\/archivo\/preguntas-y-respuestas-se-extiende-tps-para-hondurenos-por-18-meses-mas",
        "urlPingSuffix": "DevEx,5104.1", "displayUrl": "https:\/\/www.uscis.gov\/es\/archivo\/preguntas-y-respuestas-se...",
        "snippet": "NOTICIAS . Todas las Noticias ... R11. Si un ju[...]
