---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(noticia%20uno)%20language:es%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028noticia
        uno\u0029 language\u003aes \u0028scopeid\u003ausagovall OR site\u003agov OR
        site\u003amil\u0029"},"Spell":{"Total":1,"Results":[{"Value":"noticias uno"}]},"Web":{"Total":37100,"Offset":0,"Results":[{"Title":"\u00bfQu\u00e9
        es una noticia\u003f \u007c IIP Digital","Description":"Una noticia es
        lo nuevo, ... El avi\u00f3n que se estrell\u00f3 en Chad aparecer\u00e1 en
        los titulares de todo el mundo si uno de los pasajeros era un famoso m\u00fasico
        de rock.","Url":"http\u003a\u002f\u002fiipdigital.usembassy.gov\u002fst\u002fspanish\u002fpublication\u002f2008\u002f11\u002f20081106112003pii0.664303.html","DisplayUrl":"iipdigital.usembassy.gov\u002fst\u002fspanish\u002fpublication\u002f2008\u002f11\u002f...","DateTime":"2016-12-01T19\u003a19\u003a00Z"},{"Title":"Uno
        de cada tres deportistas j\u00f3venes con una conmoci\u00f3n ...","Description":"Uno
        de cada tres deportistas j\u00f3venes con una conmoci\u00f3n vuelve a jugar
        el mismo d\u00eda Pero la recomendaci\u00f3n m\u00e9dica es dejar de jugar
        tras una lesi\u00f3n en la cabeza","Url":"https\u003a\u002f\u002fmedlineplus.gov\u002fspanish\u002fnews\u002ffullstory_161658.html","DisplayUrl":"https\u003a\u002f\u002fmedlineplus.gov\u002fspanish\u002fnews\u002ffullstory_161658.html","DateTime":"2016-11-25T22\u003a55\u003a00Z"},{"Title":"Noticias
        ordenadas por tema que comienzan con C ...","Description":"Uno de cada tres
        deportistas j\u00f3venes con una conmoci\u00f3n vuelve a jugar el mismo d\u00eda
        \u002824\u002f10\u002f2016, HealthDay\u0029 Un antidepresivo podr\u00eda prevenir
        la depresi\u00f3n tras una ...","Url":"https\u003a\u002f\u002fmedlineplus.gov\u002fspanish\u002falphanews_c.html","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dnoticia\u002buno\u0026d\u003d5058588307882164\u0026w\u003dCwYF7WfMvIP8YQMWab33vLzwFqq3XGeT","DisplayUrl":"https\u003a\u002f\u002fmedlineplus.gov\u002fspanish\u002falphanews_c.html","DateTime":"2016-12-03T00\u003a46\u003a00Z"},{"Title":"Uno
        de cada 7 adolescentes j\u00f3venes es v\u00edctima de acecho ...","Description":"MI\u00c9RCOLES,
        23 de noviembre de 2016 \u0028HealthDay News\u0029 -- Alrededor de uno de
    [...]
