---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=season%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4C0222762E7E425299A5B6D203E979B8
      X-Msedge-Clientid:
      - 2926D5B19B4161B40B0ADF8F9AD66041
      X-Msapi-Userstate:
      - 7b4e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1DE6AA4FD0034926A621D92869702B4E&CID=2926D5B19B4161B40B0ADF8F9AD66041&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1DE6AA4FD0034926A621D92869702B4E&CID=2926D5B19B4161B40B0ADF8F9AD66041&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=season+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5460.1", "totalEstimatedMatches": 2100000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Summary of the 2015-2016 Influenza Season | Seasonal ...", "url": "https:\/\/www.cdc.gov\/flu\/about\/season\/flu-season-2015-2016.htm",
        "urlPingSuffix": "DevEx,5078.1", "displayUrl": "https:\/\/www.cdc.gov\/flu\/about\/season\/flu-season-2015-2016.htm",
        "snippet": "What was the 2015-2016 flu season like? Flu seasons can vary
        in their timing, severity, and duration from one season to another. The
        2015-2016 flu season ...", "dateLastCrawled": "2017-03-05T06:32:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Hunting
        Seasons | MDC Hunting and Fishing", "url": "https:\/\/huntfish.mdc.mo.gov\/hunting-trapping\/seasons",
        "urlPingSuffix": "DevEx,5097.1", "displayUrl": "https:\/\/huntfish.mdc.mo.gov\/hunting-trapping\/seasons",
        "snippet": "During fall deer season, ... You may take only two antlered
        deer during the archery and firearms deer hunting seasons combined. Valid
        Permits. Archer''s Hunting Permit.", "deepLinks": [{"name": "Deer", "url":
        "https:\/\/huntfish.mdc.mo.gov\/hunting-trapping\/species\/deer", "urlPingSuffix":
        "DevEx,5092.1"}, {"name": "By Species", "url": "https:\/\/huntfish.mdc.mo.gov\/hunting-trapping\/seasons\/species",
        "urlPingSuffix": "DevEx,5093.1"}], "dateLastCrawled": "2017-03-06T08:34:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Take Steps
        Now for Tax Filing Season - irs.gov", "url": "https:\/\/www.irs.g[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=estados%20unidos%20amiga%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - app[...]
