---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=first%20item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D0F13DCD6A1A408582298C272E98EBD4
      X-Msedge-Clientid:
      - 190F8FB11E8769342AB083E91F886825
      X-Msapi-Userstate:
      - 60d8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=BDB4241B0B2D4D81B749FDA73ACB8192&CID=190F8FB11E8769342AB083E91F886825&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=BDB4241B0B2D4D81B749FDA73ACB8192&CID=190F8FB11E8769342AB083E91F886825&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=first+item+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5385.1", "totalEstimatedMatches": 608000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "First U.S. Patent Issued Today in 1790 | USPTO", "url": "https:\/\/www.uspto.gov\/about-us\/news-updates\/first-us-patent-issued-today-1790",
        "urlPingSuffix": "DevEx,5058.1", "displayUrl": "https:\/\/www.uspto.gov\/about-us\/news-updates\/first-us-patent-issued...",
        "snippet": "On July 31, 1790 Samuel Hopkins was issued the first patent
        for a process of making potash, an ingredient used in fertilizer.", "dateLastCrawled":
        "2018-08-20T21:24:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "List 1 HTSUS Product Description - ustr.gov", "url": "https:\/\/ustr.gov\/sites\/default\/files\/enforcement\/301Investigations\/List%201.pdf",
        "urlPingSuffix": "DevEx,5068.1", "displayUrl": "https:\/\/ustr.gov\/sites\/default\/files\/enforcement\/301Investigations...",
        "snippet": "HTSUS Subheading Product Description 8413.91.20 Parts of stock
        pumps import[...]
