---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=%2B%2Bhealth%20it%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5AA6C4B9972F45F297C047ABAA88F1F9
      X-Msedge-Clientid:
      - 0B5743A51541690C178A483B14A46892
      X-Msapi-Userstate:
      - d369
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=0CC50B69DCE94C95A957CC6A89E9931D&CID=0B5743A51541690C178A483B14A46892&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=0CC50B69DCE94C95A957CC6A89E9931D&CID=0B5743A51541690C178A483B14A46892&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%2b%2bhealth+it+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5512.1", "totalEstimatedMatches": 15600000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Health Information | National Institutes of Health (NIH)", "url": "https:\/\/www.nih.gov\/health-information",
        "urlPingSuffix": "DevEx,5095.1", "about": [{"name": "National Institutes of
        Health"}], "displayUrl": "https:\/\/www.nih.gov\/health-information",
        "snippet": "Find science-based health information on symptoms, diagnosis,
        treatments, research, clinical trials and more from NIH, the nation’s medical
        research agency.", "deepLinks": [{"name": "Health Info Lines", "url": "https:\/\/www.nih.gov\/health-information\/health-info-lines",
        "urlPingSuffix": "DevEx,5085.1"}, {"name": "NIH Clinical Trials", "url": "https:\/\/www.nih.gov\/health-information\/nih-clinical-research-trials-you",
        "urlPingSuffix": "DevEx,5086.1"}, {"name": "Community Resources", "url": "https:\/\/www.nih.gov\/health-information\/science-based-health-wellness-resources-your-community",
        "urlPingSuffix": "DevEx,5087.1"}, {"name": "Clear Health A–Z", "url": "https:\/\/www.nih.gov\/institutes-nih\/nih-office-director\/office-communications-public-liaison\/clear-communication\/clear-health-nih",
        "urlPingSuffix": "DevEx,5088.1"}], "dateLastCrawled": "2018-02-16T09:23:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "HealthIT.gov
        | the official site for Health IT information", "url": "https:\/\/www.healthit.gov\/",
        "urlPingSuffix": "DevEx,5118.1", "about": [{"name": "Office of the National
        Coordinator for Health Information Technology"}, {"name": "Office of the National
        Coordinator for Health Information Technology"}], "displayUrl": "https:\/\/www.healthit.gov",
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=OR%20us97%20central%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/jso[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=%2B%2Bhealth%20it%20(site:.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - BB0D432B7F554AA6841CFA3DA1236B[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=OR%20us97%20central%20(site:.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8AE7719A827D476CAF004A79A875[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=%2B%2Bhealth%20it%20(site:.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 48BBC9CB416B4A5C90C3F9BAADBF0F45
      Bingapis-Sessionid:
      - 215EDC7FEB97487989710A14119AC9A6
      X-Msedge-Clientid:
      - 13FC394257C4663122C135B8568867CF
      X-Msapi-Userstate:
      - cf41
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=347,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "++health
        it (site:.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%2b%2bhealth+it+(site%3a.gov)",
        "totalEstimatedMatches": 29100000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "New York State Department of Health", "url": "https:\/\/www.health.ny.gov\/",
        "about": [{"name": "Blossom Health Care Center"}, {"name": "New York State
        Department of Health"}], "isFamilyFriendly": true, "displayUrl": "https:\/\/www.health.ny.gov",
        "snippet": "Local Health Departments. Local health departments prevent
        disease, promote health and protect the public from health problems and
        hazards. Do you: Need help getting your child immunized? Need to get a rabies
        vaccine for your pet? Feel sick after eating at a restaurant? Want to learn
        about the health needs in your community?", "dateLastCrawled": "2019-02-01T04:47:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Home :: Washington State Department of Health", "url": "http:\/\/www.doh.wa.gov\/",
        "about": [{"name": "Washington State Department of Health"}, {"name": "Brookshire
        Village"}, {"name": "LakeCrest House"}], "isFamilyFriendly": true, "displayUrl":
        "www.doh.wa.gov", "snippet": "Behavioral Health Integration Mental health,
        substance use disorder and problem gamblin[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=OR%20us97%20central%20(site:.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
[...]
