---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=%2B%2Bhealth%20it%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - ABA8EEB781D24FF482CBF472255FF54E
      X-Msedge-Clientid:
      - 081961881D6F64510DFD6B371CF865C7
      X-Msapi-Userstate:
      - '7279'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C7E234DA6B17485B86542BF1ADB1734B&CID=081961881D6F64510DFD6B371CF865C7&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C7E234DA6B17485B86542BF1ADB1734B&CID=081961881D6F64510DFD6B371CF865C7&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%2b%2bhealth+it+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5496.1", "totalEstimatedMatches": 33300000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Health-e-Arizona > Home", "url": "https:\/\/www.healthearizonaplus.gov\/",
        "urlPingSuffix": "DevEx,5085.1", "displayUrl": "https:\/\/www.healthearizonaplus.gov",
        "snippet": "Between Health-e-Arizona Plus and the Federal Health Insurance
        Marketplace (www.healthcare.gov) Arizona’s residents have a wide range of
        program options.", "deepLinks": [{"name": "Begin Application", "url": "https:\/\/www.healthearizonaplus.gov\/app\/App_Program_Selection.aspx",
        "urlPingSuffix": "DevEx,5075.1"}, {"name": "Get Started", "url": "https:\/\/www.healthearizonaplus.gov\/app\/Info_Family_Individual.aspx",
        "urlPingSuffix": "DevEx,5076.1"}, {"name": "A Renewal Processes", "url": "https:\/\/www.healthearizonaplus.gov\/App\/epmplus\/MA\/MA1400\/MA1401.A_Renewal_Processes.html",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "Create Account", "url": "http:\/\/www.healthearizonaplus.gov\/App\/Admin_User_agreement.aspx",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "FAQ", "url": "https:\/\/www.healthearizonaplus.gov\/app\/faq.aspx?forms=1",
        "urlPingSuffix": "DevEx,5079.1"}], "dateLastCrawled": "2017-07-08T12:28:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Health
        Information | National Institutes of Health (NIH)", "url": "https:\/\/www.nih.gov\/health-information",
        "urlPingSuffix": "DevEx,5103.1", "displayUrl": "https:\/\/www.nih.gov\/health-information",
        "snippet": "Find science-based health information on symptoms, diagnosis,
        treatments, research, clinical trials and more from NIH, the nation’s m[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=OR%20us97%20central%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; chars[...]
