---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=noticia%20uno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5D20E19DB31D49208B43132449EDD7CA
      X-Msedge-Clientid:
      - 3FB463DF45A46868302169BD443369FF
      X-Msapi-Userstate:
      - e088
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=51DB503C59084A94B1872B11E6C7B817&CID=3FB463DF45A46868302169BD443369FF&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=51DB503C59084A94B1872B11E6C7B817&CID=3FB463DF45A46868302169BD443369FF&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=noticia+uno+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5437.1", "totalEstimatedMatches": 55100,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Un exceso de sudor puede provocar un sufrimiento emocional ...", "url": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_164540.html",
        "urlPingSuffix": "DevEx,5077.1", "displayUrl": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_164540.html",
        "snippet": "En general esto es así, pero no si se es uno de los 7 millones
        de estadounidenses ... Las noticias son escritas y proporcionadas por HealthDay
        y no reflejan ...", "dateLastCrawled": "2017-04-10T16:36:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "A medida que
        la legalización de la marihuana gana terreno ...", "url": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_163841.html",
        "urlPingSuffix": "DevEx,5090.1", "displayUrl": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_163841.html",
        "snippet": "Últimas noticias de salud → Noticia. Dirección de esta página:
        https: \/\/medlineplus.gov ... uno de los autores del nuevo informe de la
        academia. ...", "dateLastCrawled": "2017-03-31T11:05:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "¿La exposición
        al plomo en la niñez lleva a un CI más bajo ...", "url": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_164365.html",
        "urlPingSuffix": "DevEx,5103.1", "displayUrl": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_164365.html",
        "[...]
