---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28%2B%2Bhealth+it%29+language%3Aen+%28site%3A.gov%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028\u002b\u002bhealth
        it\u0029 language\u003aen \u0028site\u003a.gov\u0029"},"Web":{"Total":12900000,"Offset":0,"Results":[{"Title":"Home
        of the Office of Health Promotion and Disease ...","Description":"Health.gov
        is your portal for health related resources and news from the US government.
        Find prevention topics, dietary and physical activity guidelines, and other
        ...","Url":"http\u003a\u002f\u002fhealth.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealth\u002bit\u0026d\u003d4700117433845014\u0026w\u003dwPW2bWovPBBZXe6Rq-p2fgtFLrEHhnBn","DisplayUrl":"health.gov","DateTime":"2016-06-05T13\u003a30\u003a00Z"},{"Title":"Health
        Information \u007c National Institutes of Health \u0028NIH\u0029","Description":"Find
        science-based health information on symptoms, diagnosis, treatments, research,
        clinical trials and more from NIH, the nation\u2019s medical research agency.","Url":"https\u003a\u002f\u002fwww.nih.gov\u002fhealth-information","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealth\u002bit\u0026d\u003d506248[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28OR+us97+central%29+language%3Aen+%28site%3A.gov%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
 [...]
