---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=%2B%2Bhealth%20it%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5327CE7445414BD09B5E5DEAA23B73E4
      X-Msedge-Clientid:
      - 1C47305989926FA005083A3B88056E23
      X-Msapi-Userstate:
      - a968
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DBF0B4058FA94E3EB0D510675DCAE108&CID=1C47305989926FA005083A3B88056E23&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DBF0B4058FA94E3EB0D510675DCAE108&CID=1C47305989926FA005083A3B88056E23&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%2b%2bhealth+it+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5475.1", "totalEstimatedMatches": 14000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Home of the Office of Health Promotion and Disease ...", "url": "http:\/\/health.gov\/",
        "urlPingSuffix": "DevEx,5085.1", "displayUrl": "health.gov", "snippet":
        "We accomplish this by setting national health goals and objectives and
        supporting programs, services, and education activities that improve the health
        of all Americans.", "deepLinks": [{"name": "Healthy People", "url": "http:\/\/health.gov\/our-work\/healthy-people\/",
        "urlPingSuffix": "DevEx,5076.1"}, {"name": "About Odphp", "url": "http:\/\/health.gov\/about-us\/",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "Dietary Guidelines", "url": "http:\/\/health.gov\/DietaryGuidelines\/",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "News & Media", "url": "https:\/\/health.gov\/news\/",
        "urlPingSuffix": "DevEx,5079.1"}], "dateLastCrawled": "2017-04-02T15:54:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Health
        Information | National Institutes of Health (NIH)", "url": "https:\/\/www.nih.gov\/health-information",
        "urlPingSuffix": "DevEx,5101.1", "displayUrl": "https:\/\/www.nih.gov\/health-information",
        "snippet": "Find science-based health information on symptoms, diagnosis,
        treatments, research, clinical trials and more from NIH, the nation’s m[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=OR%20us97%20central%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; chars[...]
