---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=season%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 37B05E96F86D4499808883B106C743A3
      X-Msedge-Clientid:
      - 1F7600EA86BF65513B4C0B74875A6439
      X-Msapi-Userstate:
      - bd2f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=122A1C835DC64CCA8B2F7D5CFA11BFD9&CID=1F7600EA86BF65513B4C0B74875A6439&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=122A1C835DC64CCA8B2F7D5CFA11BFD9&CID=1F7600EA86BF65513B4C0B74875A6439&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=season+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5513.1", "totalEstimatedMatches": 9080000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Current & Past Flu Seasons | Seasonal Influenza (Flu) | CDC", "url": "https:\/\/www.cdc.gov\/flu\/about\/season\/index.html",
        "urlPingSuffix": "DevEx,5090.1", "displayUrl": "https:\/\/www.cdc.gov\/flu\/about\/season\/index.html",
        "snippet": "Flu activity is currently widespread in most of the U.S. In the
        United States, flu season occurs in the fall and winter. The peak of flu
        season has occurred anywhere ...", "dateLastCrawled": "2018-02-10T13:33:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Hunting
        Seasons | MDC Hunting and Fishing", "url": "https:\/\/huntfish.mdc.mo.gov\/hunting-trapping\/seasons",
        "urlPingSuffix": "DevEx,5113.1", "displayUrl": "https:\/\/huntfish.mdc.mo.gov\/hunting-trapping\/seasons",
        "snippet": "During fall deer season, ... You may take only two antlered
        deer during the archery and firearms deer hunting seasons combined.", "deepLinks":
        [{"name": "Deer", "url": "https:\/\/huntfish.mdc.mo.gov\/hunting-trapping\/species\/deer",
        "urlPingSuffix": "DevEx,5104.1"}, {"name": "By Species", "url": "https:\/\/huntfish.mdc.mo.gov\/hunting-trapping\/seasons\/species",
        "urlPingSuffix": "DevEx,5105.1"}, {"name": "Regulations", "url": "https:\/\/huntfish.mdc.mo.gov\/hunting-trapping\/regulations",
        "urlPingSuffix": "DevEx,5106.1"}, {"name": "Waterfowl", "url": "https:\/\/huntfish.mdc.mo.gov\/hunting-trapping\/s[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=estados%20unidos%20amiga%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
