---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=noticia%20uno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 961653C9786E4FDAB6D6841DC9271F8C
      X-Msedge-Clientid:
      - 1601FCDF2F526B6D2DE0F61C2EC56AA0
      X-Msapi-Userstate:
      - 6ebc
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=75423B1B85B64D04A04D95053F52E317&CID=1601FCDF2F526B6D2DE0F61C2EC56AA0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=75423B1B85B64D04A04D95053F52E317&CID=1601FCDF2F526B6D2DE0F61C2EC56AA0&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=noticia+uno+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5465.1", "totalEstimatedMatches": 142000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Cocinar en casa significa comer mejor y gastar menos ...", "url": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_165122.html",
        "urlPingSuffix": "DevEx,5078.1", "displayUrl": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_165122.html",
        "snippet": "Las dietas de 8 de cada 10 estadounidenses se quedan cortas, y
        comer fuera es uno de los motivos importantes, sugiere una investigación",
        "dateLastCrawled": "2017-07-13T11:20:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Trabajar demasiado podría hacer que el corazón tenga un ...", "url":
        "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_167260.html", "urlPingSuffix":
        "DevEx,5092.1", "displayUrl": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_167260.html",
        "snippet": "Noticia. Usted esta aquí ... \"este podría ser uno de los
        mecanismos que explican el riesgo [...]
