---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=%2B%2Bhealth%20it%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 54ECEB274137446F830767B697C6B110
      X-Msedge-Clientid:
      - 33E567995FB261A7076F6CDE5E25607D
      X-Msapi-Userstate:
      - '7316'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=2AAAE37BB30D4B88A56007F6F6EC42D8&CID=33E567995FB261A7076F6CDE5E25607D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=2AAAE37BB30D4B88A56007F6F6EC42D8&CID=33E567995FB261A7076F6CDE5E25607D&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%2b%2bhealth+it+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5536.1", "totalEstimatedMatches": 30200000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Health Information | National Institutes of Health (NIH)", "url": "https:\/\/www.nih.gov\/health-information",
        "urlPingSuffix": "DevEx,5097.1", "displayUrl": "https:\/\/www.nih.gov\/health-information",
        "snippet": "Find science-based health information on symptoms, diagnosis,
        treatments, research, clinical trials and more from NIH, the nation’s medical
        research agency.", "deepLinks": [{"name": "Health Info Lines", "url": "https:\/\/www.nih.gov\/health-information\/health-info-lines",
        "urlPingSuffix": "DevEx,5087.1"}, {"name": "NIH Clinical Trials", "url": "https:\/\/www.nih.gov\/health-information\/nih-clinical-research-trials-you",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "Community Resources", "url": "https:\/\/www.nih.gov\/health-information\/science-based-health-wellness-resources-your-community",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Clear Health A–Z", "url": "https:\/\/www.nih.gov\/institutes-nih\/nih-office-director\/office-communications-public-liaison\/clear-communication\/clear-health-nih",
        "urlPingSuffix": "DevEx,5090.1"}], "dateLastCrawled": "2017-11-22T04:16:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Home of
        the Office of Health Promotion and Disease ...", "url": "http:\/\/health.gov\/",
        "urlPingSuffix": "DevEx,5118.1", "displayUrl": "health.gov", "snippet":
        "Health.gov is your portal for health related resources and news from the
        US government. Find prevention topics, dietary and physical activity guidelines,
        and other ...", "deepLinks": [{"name": "Dietary Guidelines", "url": "http:\/\/health.gov\/dietaryguidelines\/",
        "urlPingSuffix": "DevEx,5109.1"}, {"name": "Healthy People", "url": "http:\/\/health.gov\/our-work\/healthy-people\/",
        "urlPingSuffix": "DevEx,5110.1"}, {"name": "Healthfinder", "url": "http:\/\/health.gov\/our-work\/healthfinder\/",
        "urlPingSuffix": "DevEx,5111.1"}, {"name": "News & Media", "url": "https:\/\/health.gov\/news",
        "urlPingSuffix": "DevEx,5112.1"}], "dateLastCrawled": "2017-11-22T14:52:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "HealthCare.gov
        - Official Site", "url": "https:\/\/www.healthcare.gov\/", "urlPingSuffix":
        "DevEx,5146.1", "about": [{"name": "HealthCare.gov"}], "displayUrl": "https:\/\/www.healthcare.gov",
        "snippet": "Official site of Affordable Care Act. Enroll now for 2018 coverage.
        See health coverage choices, ways to save today, how law affects you.", "dateLastCrawled":
        "2017-11-21T15:03:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3",
        "name": "New York State Department of Health - Official Site", "url": "https:\/\/www.health.ny.gov\/",
        "urlPingSuf[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=OR%20us97%20central%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; chars[...]
