---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(%2B%2Bhealth%20it)%20language:en%20(site:.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028\u002b\u002bhealth
        it\u0029 language\u003aen \u0028site\u003a.gov\u0029"},"Web":{"Total":12800000,"Offset":0,"Results":[{"Title":"HealthCare.gov
        - Get 2017 health coverage. Health ...","Description":"Official site of
        Affordable Care Act. Enroll now for 2017 coverage. See health coverage choices,
        ways to save today, how law affects you.","Url":"https\u003a\u002f\u002fwww.healthcare.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealth\u002bit\u0026d\u003d4902479167555288\u0026w\u003dJsQacJ58w9W1Y8VLmf9B4CPlaca6cZgs","DisplayUrl":"https\u003a\u002f\u002fwww.healthcare.gov","DateTime":"2016-12-03T22\u003a10\u003a00Z"},{"Title":"Home
        of the Office of Health Promotion and Disease ...","Description":"Health.gov
        is your portal for health related resources and news from the US government.
        Find prevention topics, dietary and physical activity guidelines, and other
        ...","Url":"http\u003a\u002f\u002fhealth.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealth\u002bit\u0026d\u003d4700117497875228\u0026w\u003d[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(OR%20us97%20central)%20language:en%20(site:.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
 [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=%2B%2Bhealth%20it%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A615709F6C9A4E9AA6E8F21059474492
      X-Msedge-Clientid:
      - 3B9FAB38AE166CE9001BA126AF816DBF
      X-Msapi-Userstate:
      - 94cf
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DD6C92CACCFF4832AD738D29E7FD2842&CID=3B9FAB38AE166CE9001BA126AF816DBF&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DD6C92CACCFF4832AD738D29E7FD2842&CID=3B9FAB38AE166CE9001BA126AF816DBF&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%2b%2bhealth+it+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5478.1", "totalEstimatedMatches": 11900000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "HealthCare.gov - Official Site", "url": "https:\/\/www.healthcare.gov\/",
        "urlPingSuffix": "DevEx,5107.1", "displayUrl": "https:\/\/www.healthcare.gov",
        "snippet": "Official site of Affordable Care Act. Enroll now for 2017 coverage.
        See health coverage choices, ways to save today, how law affects you.",
        "deepLinks": [{"name": "Log In", "url": "https:\/\/www.healthcare.gov\/login",
        "urlPingSuffix": "DevEx,5095.1"}, {"name": "Get Coverage", "url": "https:\/\/www.healthcare.gov\/get-coverage\/",
        "urlPingSuffix": "DevEx,5096.1"}, {"name": "Quick Overview", "url": "https:\/\/www.healthcare.gov\/quick-guide\/one-page-guide-to-the-marketplace\/",
        "urlPingSuffix": "DevEx,5097.1"}, {"name": "Contact Us", "url": "https:\/\/www.healthcare.gov\/contact-us\/",
        "urlPingSuffix": "DevEx,5098.1"}, {"name": "Medicaid & Chip", "url": "https:\/\/www.healthcare.gov\/medicaid-chip\/getting-medicaid-chip\/",
        "urlPingSuffix": "DevEx,5099.1"}], "dateLastCrawled": "2017-01-26T11:07:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Home of
        the Office of Health Promotion and Disease ...", "url": "http:\/\/health.gov\/",
        "urlPingSuffix": "DevEx,5126.1", "displayUrl": "health.gov", "snippet":
        "Health.gov is your portal for health related resources and news from
        the US government. Find prevention topics, dietary and physical activity guidelines,
        and other ...", "deepLinks[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=OR%20us97%20central%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; chars[...]
