---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=noticia%20uno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6ADA624C2F5340689E04114413E6383A
      X-Msedge-Clientid:
      - 0232F5589B1461A91227F9009A1B607D
      X-Msapi-Userstate:
      - 57f3
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=722364C7A5E64EE7AFFB870E49C0631F&CID=0232F5589B1461A91227F9009A1B607D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=722364C7A5E64EE7AFFB870E49C0631F&CID=0232F5589B1461A91227F9009A1B607D&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=noticia+uno+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5404.1", "totalEstimatedMatches": 68800,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "El Negociado de la Policía Logra el Arresto de uno de los ...", "url":
        "https:\/\/policia.pr.gov\/el-negociado-de-la-policia-logra-el-arresto-de-uno-de-los-mas-buscados\/",
        "urlPingSuffix": "DevEx,5057.1", "displayUrl": "https:\/\/policia.pr.gov\/el-negociado-de-la-policia-logra-el-arresto...",
        "snippet": "El Negociado de la Policía Logra el Arresto de uno de los Más
        ... 25 May 2018. Categorías: Anuncios, Noticias. Tags: El arrestado es conocido
        como Cuba y se ...", "dateLastCrawled": "2018-08-20T08:26:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Tarjeta Verde
        para Familiares Inmediatos de un Ciudadano ...", "url": "https:\/\/www.uscis.gov\/es\/tarjeta-verde\/familiar-inmediato",
        "urlPingSuffix": "DevEx,5074.1", "displayUrl": "https:\/\/www.uscis.gov\/es\/tarjeta-verde\/familiar-inmediato",
        "snippet": "Todas las Noticias ... Usted es inelegible para solicitar un
        ajuste de estatus si le aplica e[...]
