---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(first%20item)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028first
        item\u0029 language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov
        OR site\u003amil\u0029"},"Web":{"Total":2980000,"Offset":0,"Results":[{"Title":"Guidance
        for Industry\u003a A Food Labeling Guide \u00286 ...","Description":"A Food
        Labeling Guide, Chapter VI. Ingredient Lists Questions and Answers.","Url":"http\u003a\u002f\u002fwww.fda.gov\u002fFood\u002fGuidanceRegulation\u002fGuidanceDocumentsRegulatoryInformation\u002fLabelingNutrition\u002fucm064880.htm","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dfirst\u002bitem\u0026d\u003d4605834377235016\u0026w\u003dU7ovdZ7Wf08ufeOQmeLudMpHFonSzh5E","DisplayUrl":"www.fda.gov\u002fFood\u002fGuidanceRegulation\u002fGuidanceDocumentsRegulatory...","DateTime":"2016-11-30T13\u003a27\u003a00Z"},{"Title":"How
        to Understand and Use the Nutrition Facts Label","Description":"The first
        place to start when you look at the Nutrition Facts label is the serving size
        and the number of servings in the package.","Url":"http\u003a\u002f\u002fwww.fda.gov\u002fFood\u002fIngredientsPackagingLabeling\u002fLabelingNutrition\u002fucm274593.htm","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dfirst\u002bitem\u0026d\u003[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=first%20item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 48C712FEFD8C4B04993584D299AB06E7
      X-Msedge-Clientid:
      - 1136196F11456A072607137110D26BB8
      X-Msapi-Userstate:
      - b616
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=6948D8B2112A418BBE42ED81CAA394C0&CID=1136196F11456A072607137110D26BB8&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=6948D8B2112A418BBE42ED81CAA394C0&CID=1136196F11456A072607137110D26BB8&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=first+item+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5437.1", "totalEstimatedMatches": 205000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Home Inventory Checklist - Department of Financial", "url": "http:\/\/www.dfs.ny.gov\/consumer\/homeown\/home_invchklst.pdf",
        "urlPingSuffix": "DevEx,5075.1", "displayUrl": "www.dfs.ny.gov\/consumer\/homeown\/home_invchklst.pdf",
        "snippet": "HOME INVENTORY CHECKLIST Household Inventory Checklist | 2 Number
        Of Items Item Year Bought Cost Living Room Air Conditioner Window Units",
        "dateLastCrawled": "2017-01-20T09:37:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "How to Understand and Use the Nutrition Facts Label", "url": "http:\/\/www.fda.gov\/Food\/IngredientsPackagingLabeling\/LabelingNutrition\/ucm274593.htm",
        "urlPingSuffix": "DevEx,5087.1", "displayUrl": "www.fda.gov\/Food\/IngredientsPackagingLabeling\/LabelingNutrition\/...",
        "snippet": "The first place to start when you look at the Nutrition Facts
        label is th[...]
