---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=first%20item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D7A1FE5D0EC543F5A5633D339370D983
      X-Msedge-Clientid:
      - 0971D80F550C6321251ED23E543D626E
      X-Msapi-Userstate:
      - bcd4
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B60125E2E6E1488B9CCA5A25DBC84278&CID=0971D80F550C6321251ED23E543D626E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B60125E2E6E1488B9CCA5A25DBC84278&CID=0971D80F550C6321251ED23E543D626E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=first+item+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5441.1", "totalEstimatedMatches": 164000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Guidance for Industry: A Food Labeling Guide (6 ...", "url": "http:\/\/www.fda.gov\/Food\/GuidanceRegulation\/GuidanceDocumentsRegulatoryInformation\/LabelingNutrition\/ucm064880.htm",
        "urlPingSuffix": "DevEx,5077.1", "displayUrl": "www.fda.gov\/Food\/GuidanceRegulation\/GuidanceDocumentsRegulatory...",
        "snippet": "A Food Labeling Guide, Chapter VI. Ingredient Lists Questions
        and Answers.", "dateLastCrawled": "2017-02-14T04:28:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "The first colored
        senator and representatives - in the ...", "url": "https:\/\/www.loc.gov\/item\/98501907\/",
        "urlPingSuffix": "DevEx,5091.1", "displayUrl": "https:\/\/www.loc.gov\/item\/98501907",
        "snippet": "Title The first colored senator and representatives - in the
        41st and 42nd Congress of the United States Summary Group portrait of ...",
[...]
