---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(%2B%2Bhealth%20it)%20language:en%20(site:.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028\u002b\u002bhealth
        it\u0029 language\u003aen \u0028site\u003a.gov\u0029"},"Web":{"Total":12800000,"Offset":0,"Results":[{"Title":"HealthCare.gov
        - Get 2017 health coverage. Health ...","Description":"Official site of
        Affordable Care Act. Enroll now for 2017 coverage. See health coverage choices,
        ways to save today, how law affects you.","Url":"https\u003a\u002f\u002fwww.healthcare.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealth\u002bit\u0026d\u003d4902479167555288\u0026w\u003dJsQacJ58w9W1Y8VLmf9B4CPlaca6cZgs","DisplayUrl":"https\u003a\u002f\u002fwww.healthcare.gov","DateTime":"2016-12-03T22\u003a10\u003a00Z"},{"Title":"Home
        of the Office of Health Promotion and Disease ...","Description":"Health.gov
        is your portal for health related resources and news from the US government.
        Find prevention topics, dietary and physical activity guidelines, and other
        ...","Url":"http\u003a\u002f\u002fhealth.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealth\u002bit\u0026d\u003d4700117497875228\u0026w\u003d[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(OR%20us97%20central)%20language:en%20(site:.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
 [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=%2B%2Bhealth%20it%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5508D6AF5DF4424DBF740B78A22DD209
      X-Msedge-Clientid:
      - 2070C69CA5246512327DCF63A4B364E0
      X-Msapi-Userstate:
      - 8fb9
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DEAB2F398BB0414F995A88D04899496A&CID=2070C69CA5246512327DCF63A4B364E0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DEAB2F398BB0414F995A88D04899496A&CID=2070C69CA5246512327DCF63A4B364E0&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%2b%2bhealth+it+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5502.1", "totalEstimatedMatches": 12800000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Health-e-Arizona > Home", "url": "https:\/\/www.healthearizonaplus.gov\/",
        "urlPingSuffix": "DevEx,5108.1", "displayUrl": "https:\/\/www.healthearizonaplus.gov",
        "snippet": "Between Health-e-Arizona Plus and the Federal Health Insurance
        Marketplace (www.healthcare.gov) Arizona’s residents have a wide range of
        program options.", "deepLinks": [{"name": "Get Started", "url": "https:\/\/www.healthearizonaplus.gov\/app\/Info_Family_Individual.aspx",
        "urlPingSuffix": "DevEx,5099.1"}, {"name": "Begin Application", "url": "https:\/\/www.healthearizonaplus.gov\/app\/App_Program_Selection.aspx",
        "urlPingSuffix": "DevEx,5100.1"}, {"name": "Create Account", "url": "https:\/\/www.healthearizonaplus.gov\/App\/Admin_User_agreement.aspx",
        "urlPingSuffix": "DevEx,5101.1"}, {"name": "Health-E-Arizona", "url": "https:\/\/www.healthearizonaplus.gov\/Default\/Default_maintenance.aspx",
        "urlPingSuffix": "DevEx,5102.1"}], "dateLastCrawled": "2017-01-01T19:14:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "HealthCare.gov
        - Official Site", "url": "https:\/\/www.healthcare.gov\/", "urlPingSuffix":
        "DevEx,5131.1", "displayUrl": "https:\/\/www.healthcare.gov", "snippet":
        "Official site of Affordable Care Act. Enroll now for 2017 coverage. See health
        coverage choices, ways to save today, how law affects you.", "deepLinks":
        [{"name": "Log In", "url[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=OR%20us97%20central%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; chars[...]
