---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=noticia%20uno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5EA5893FF00E437F9B6EA4256AF3EC9B
      X-Msedge-Clientid:
      - 10306AD486C4680432CF61DC87536905
      X-Msapi-Userstate:
      - 4f45
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=327DEB9121B745A9A045F293A295896B&CID=10306AD486C4680432CF61DC87536905&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=327DEB9121B745A9A045F293A295896B&CID=10306AD486C4680432CF61DC87536905&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=noticia+uno+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5485.1", "totalEstimatedMatches": 223000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Tatúese hoy y arrepiéntase mañana: unos pediatras ofrecen ...", "url": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_168480.html",
        "urlPingSuffix": "DevEx,5080.1", "displayUrl": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_168480.html",
        "snippet": "Ese es uno de los consejos de un nuevo informe de la Academia
        ... Las noticias son escritas y proporcionadas por HealthDay y no reflejan
        los …", "dateLastCrawled": "2017-09-20T16:05:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Noticias del VIH\/SIDA - infosida.nih.gov", "url": "https:\/\/infosida.nih.gov\/news\/1808\/unos-medicamentos-inyectados-mensualmente-podrian-revolucionar-el-tratamiento-del-vih",
        "urlPingSuffix": "DevEx,5094.1", "displayUrl": "https:\/\/infosida.nih.gov\/news\/1808\/unos-medicamentos-inyectados...",
        "snippet": "Noticias; Unos medicamentos ... Inyectarse un medicame[...]
