---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28season%29+language%3Aen+%28scopeid%3Ausagovall+OR+site%3Agov+OR+site%3Amil%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028season\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":6240000,"Offset":0,"Results":[{"Title":"Hunting
        Seasons \u007c MDC Hunting and Fishing","Description":"Coyotes, except as
        otherwise provided in this section, may be taken by hunting, and pelts and
        carcasses may be possessed, transported, and sold in any numbers ...","Url":"http\u003a\u002f\u002fhuntfish.mdc.mo.gov\u002fhunting-trapping\u002fseasons","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dseason\u0026d\u003d4756626322030999\u0026w\u003dj5VJ5tu1YlJzECG0KLJSACalhgwAXk97","DisplayUrl":"huntfish.mdc.mo.gov\u002fhunting-trapping\u002fseasons","DateTime":"2016-06-03T04\u003a10\u003a00Z"},{"Title":"What
        You Should Know for the 2015-2016 Influenza Season ...","Description":"What
        sort of flu season are we experiencing\u003f Have new flu viruses circulated
        this season\u003f Is the United States having a flu epidemic\u003f When
        did flu activity begin\u003f","Url":"http\u003a\u002f\u002fwww.cdc.gov\u002fflu\u002fabout\u002fseason\u002fflu-season-2015-2016.htm","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fca[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28estados+unidos+amiga%29+language%3Aes+%28scopeid%3Ausagovall+OR+site%3Agov+OR+site%3Amil%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charse[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(season)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028season\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":5590000,"Offset":0,"Results":[{"Title":"2016
        MAINE HUNTING SEASONS","Description":"2016 MAINE HUNTING SEASONS The following
        are general dates for the 2016 season. This information is subject to change.
   [...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(estados%20unidos%20amiga)%20language:es%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; ch[...]
