---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=%2B%2Bhealth%20it%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7D1E1D81A79F4D748016C39696AF83F7
      X-Msedge-Clientid:
      - 07EDF0AAE32766BE3430FB26E28867AA
      X-Msapi-Userstate:
      - a32a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=FC41C56D46B548738D4504480285E6A9&CID=07EDF0AAE32766BE3430FB26E28867AA&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=FC41C56D46B548738D4504480285E6A9&CID=07EDF0AAE32766BE3430FB26E28867AA&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%2b%2bhealth+it+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5530.1", "totalEstimatedMatches": 35500000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Home of the Office of Disease Prevention and Health ...", "url": "https:\/\/health.gov\/",
        "urlPingSuffix": "DevEx,5095.1", "about": [{"name": "Physical Activity Guidelines
        for Americans"}, {"name": "Physical Activity Guidelines for Americans"}],
        "displayUrl": "https:\/\/health.gov", "snippet": "Health.gov is your portal
        for health related resources and news from the US government. Find prevention
        topics, dietary and physical activity guidelines, and other ...", "deepLinks":
        [{"name": "Dietary Guidelines", "url": "https:\/\/health.gov\/dietaryguidelines\/",
        "urlPingSuffix": "DevEx,5085.1"}, {"name": "Healthy People", "url": "https:\/\/health.gov\/our-work\/healthy-people\/",
        "urlPingSuffix": "DevEx,5086.1"}, {"name": "Healthfinder", "url": "https:\/\/health.gov\/our-work\/healthfinder\/",
        "urlPingSuffix": "DevEx,5087.1"}, {"name": "News & Media", "url": "https:\/\/health.gov\/news",
        "urlPingSuffix": "DevEx,5088.1"}], "dateLastCrawled": "2018-01-28T05:42:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Health
        Information | National Institutes of Health (NIH)", "url": "https:\/\/www.nih.gov\/health-information",
        "urlPingSuffix": "DevEx,5116.1", "about": [{"name": "National Institutes of
        Health"}, {"name": "National Institutes of Health"}], "displayUrl": "https:\/\/www.nih.gov\/health-information",
        "snippet": "Find science-based health information [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=OR%20us97%20central%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; chars[...]
