---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=noticia%20uno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7D85EF268D8E4A78B08BB097AF653D59
      X-Msedge-Clientid:
      - 04114297710D6DB43D7B48AA709A6CA4
      X-Msapi-Userstate:
      - '8553'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E4F224F6FBF64AEB9255E9D0787C657E&CID=04114297710D6DB43D7B48AA709A6CA4&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E4F224F6FBF64AEB9255E9D0787C657E&CID=04114297710D6DB43D7B48AA709A6CA4&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=noticia+uno+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5438.1", "totalEstimatedMatches": 40100,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "¿Qué es una noticia? | IIP Digital", "url": "http:\/\/iipdigital.usembassy.gov\/st\/spanish\/publication\/2008\/11\/20081106112003pii0.664303.html",
        "urlPingSuffix": "DevEx,5074.1", "displayUrl": "iipdigital.usembassy.gov\/st\/spanish\/publication\/2008\/11\/...",
        "snippet": "Una noticia es lo nuevo, ... El avión que se estrelló en Chad
        aparecerá en los titulares de todo el mundo si uno de los pasajeros era
        un famoso músico de rock.", "dateLastCrawled": "2017-02-26T18:16:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "A medida
        que la legalización de la marihuana gana terreno ...", "url": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_163841.html",
        "urlPingSuffix": "DevEx,5087.1", "displayUrl": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_163841.html",
        "snippet": "Últimas noticias de salud → Noticia. Dirección de esta página:
        https: \/\/medlineplus.gov ... uno de los autores del nuevo informe de la
        academia. ...", "dateLastCrawled": "2017-03-01T17:22:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Unos sensores
        portátiles podrían detectar la enfermedad ...", "url": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_163059.html",
        "urlPingSuffix": "DevEx,5100.1", "displayUrl": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_163059.html",
        "sni[...]
