---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=%2B%2Bhealth%20it%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8D8F893C3CFA4509BDD756E423C2A91B
      X-Msedge-Clientid:
      - 162E483ACDAA675B39664332CC3D6679
      X-Msapi-Userstate:
      - 75f4
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=243CF0054CA746B288BE224216BD5AD0&CID=162E483ACDAA675B39664332CC3D6679&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=243CF0054CA746B288BE224216BD5AD0&CID=162E483ACDAA675B39664332CC3D6679&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=%2b%2bhealth+it+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5515.1", "totalEstimatedMatches": 343000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Health-e-Arizona > Home", "url": "https:\/\/www.healthearizonaplus.gov\/",
        "urlPingSuffix": "DevEx,5087.1", "displayUrl": "https:\/\/www.healthearizonaplus.gov",
        "snippet": "Introducing Health-e-Arizona Plus. AHCCCS and DES collaborated
        to develop a new system to apply for AHCCCS Health Insurance, KidsCare, ...",
        "deepLinks": [{"name": "Begin Application", "url": "https:\/\/www.healthearizonaplus.gov\/app\/App_Program_Selection.aspx",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "Get Started", "url": "https:\/\/www.healthearizonaplus.gov\/app\/Info_Family_Individual.aspx",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Returning User Log In", "url":
        "https:\/\/www.healthearizonaplus.gov\/App\/Login.aspx", "urlPingSuffix":
        "DevEx,5079.1"}, {"name": "A Renewal Processes", "url": "https:\/\/www.healthearizonaplus.gov\/App\/epmplus\/MA\/MA1400\/MA1401.A_Renewal_Processes.html",
        "urlPingSuffix": "DevEx,5080.1"}], "dateLastCrawled": "2017-09-16T20:16:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Health
        Information | National Institutes of Health (NIH)", "url": "https:\/\/www.nih.gov\/health-information",
        "urlPingSuffix": "DevEx,5108.1", "displayUrl": "https:\/\/www.nih.gov\/health-information",
        "snippet": "Find science-based health information on symptoms, diagnosis,
        treatments, research, clinical trials and more from NIH, the nation’s med[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=OR%20us97%20central%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; chars[...]
