---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28noticia+uno%29+language%3Aes+%28scopeid%3Ausagovall+OR+site%3Agov+OR+site%3Amil%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028noticia
        uno\u0029 language\u003aes \u0028scopeid\u003ausagovall OR site\u003agov OR
        site\u003amil\u0029"},"Spell":{"Total":1,"Results":[{"Value":"noticias uno"}]},"Web":{"Total":112000,"Offset":0,"Results":[{"Title":"\u00bfQu\u00e9
        es una noticia\u003f \u007c IIP Digital","Description":"Una noticia es
        lo nuevo, ... El avi\u00f3n que se estrell\u00f3 en Chad aparecer\u00e1 en
        los titulares de todo el mundo si uno de los pasajeros era un famoso m\u00fasico
        de rock.","Url":"http\u003a\u002f\u002fiipdigital.usembassy.gov\u002fst\u002fspanish\u002fpublication\u002f2008\u002f11\u002f20081106112003pii0.664303.html","DisplayUrl":"iipdigital.usembassy.gov\u002fst\u002fspanish\u002fpublication\u002f2008\u002f11\u002f...","DateTime":"2016-05-31T03\u003a00\u003a00Z"},{"Title":"Noticias
        \u007c Bogot\u00e1, Colombia - Embajada de Los Estados ...","Description":"\u2018USS
        Am\u00e9rica\u2019, uno de los barcos militares m\u00e1s modernos del mundo,
        llega a Colombia. EL MAR CARIBE \u2013 El buque anfibio \u2018USS Am\u00e9rica\u2019
        lleg\u00f3 a aguas ...","Url":"https\u003a\u002f\u002fspanish.bogota.usembassy.gov\u002fnoticias_actuales\u002fnoticias-2014\u002fuss-amrica-uno-de-los-barcos-militares-ms-modernos-del-mundo-llega-a-colombia.html","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dnoticia\u002buno\u0026d\u003d4992235302752010\u0026w\u003dj3L-0n2zPNfeNKdTHgpPJoiaotHvgU8U","DisplayUrl":"https\u003a\u002f\u002fspanish.bogota.usembassy.gov\u002fnoticias_actuales\u002fnoticias...","DateTime":"2016-05-08T15\u003a37\u003a00Z"},{"Title":"Noticias
        2011 - Embajada de Los Estados Unidos de America","Description":"Cecilia Orozco,
        columnista de El Espectador y Directora de Noticias Uno, fue la mo[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(noticia%20uno)%20language:es%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028noticia
        uno\u0029 language\u003aes \u0028scopeid\u003ausagovall OR site\u003agov OR
        site\u003amil\u0029"},"Spell":{"Total":1,"Results":[{"Value":"noticias uno"}]},"Web":{"Total":40300,"Offset":0,"Results":[{"Title":"Uno
        de cada 6 j\u00f3venes estadounidenses quiere morir antes ...","Description":"Noticia.
        Dire[...]
