---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(noticia%20uno)%20language:es%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028noticia
        uno\u0029 language\u003aes \u0028scopeid\u003ausagovall OR site\u003agov OR
        site\u003amil\u0029"},"Spell":{"Total":1,"Results":[{"Value":"noticias uno"}]},"Web":{"Total":37100,"Offset":0,"Results":[{"Title":"\u00bfQu\u00e9
        es una noticia\u003f \u007c IIP Digital","Description":"Una noticia es
        lo nuevo, ... El avi\u00f3n que se estrell\u00f3 en Chad aparecer\u00e1 en
        los titulares de todo el mundo si uno de los pasajeros era un famoso m\u00fasico
        de rock.","Url":"http\u003a\u002f\u002fiipdigital.usembassy.gov\u002fst\u002fspanish\u002fpublication\u002f2008\u002f11\u002f20081106112003pii0.664303.html","DisplayUrl":"iipdigital.usembassy.gov\u002fst\u002fspanish\u002fpublication\u002f2008\u002f11\u002f...","DateTime":"2016-12-01T19\u003a19\u003a00Z"},{"Title":"Uno
        de cada tres deportistas j\u00f3venes con una conmoci\u00f3n ...","Description":"Uno
        de cada tres deportistas j\u00f3venes con una conmoci\u00f3n vuelve a jugar
        el mismo d\u00eda Pero la recomendaci\u00f3n m\u00e9dica es dejar de jugar
        tras una lesi\u00f3n en la cabeza","Url":"https\u003a\u002f\u002fmedlineplus.gov\u002fspanish\u002fnews\u002ffullstory_161658.html","DisplayUrl":"https\u003a\u002f\u002fmedlineplus.gov\u002fspanish\u002fnews\u002ffullstory_161658.html","DateTime":"2016-11-25T22\u003a55\u003a00Z"},{"Title":"Noticias
        ordenadas por tema que comienzan con C ...","Description":"Uno de cada tres
        deportistas j\u00f3venes con una conmoci\u00f3n vuelve a jugar el mismo d\u00eda
        \u002824\u002f10\u002f2016, HealthDay\u0029 Un antidepresivo podr\u00eda prevenir
        la depresi\u00f3n tras una ...","Url":"https\u003a\u002f\u002fmedlineplus.gov\u002fspanish\u002falphanews_c.html","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dnoticia\u002buno\u0026d\u003d5058588307882164\u0026w\u003dCwYF7WfMvIP8YQMWab33vLzwFqq3XGeT","DisplayUrl":"https\u003a\u002f\u002fmedlineplus.gov\u002fspanish\u002falphanews_c.html","DateTime":"2016-12-03T00\u003a46\u003a00Z"},{"Title":"Uno
        de cada 7 adolescentes j\u00f3venes es v\u00edctima de acecho ...","Description":"MI\u00c9RCOLES,
        23 de noviembre de 2016 \u0028HealthDay News\u0029 -- Alrededor de uno de
    [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=noticia%20uno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 897DDCE5C7164906A4DCD0EA62DD1713
      X-Msedge-Clientid:
      - 1E6A0EE313086675138B071C129F678B
      X-Msapi-Userstate:
      - 3ef4
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=288F103A864D4626B086BF6489837752&CID=1E6A0EE313086675138B071C129F678B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=288F103A864D4626B086BF6489837752&CID=1E6A0EE313086675138B071C129F678B&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=noticia+uno+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5434.1", "totalEstimatedMatches": 63900,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Unos científicos inician un proyecto para mapear todas las ...", "url": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_161537.html",
        "urlPingSuffix": "DevEx,5081.1", "displayUrl": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_161537.html",
        "snippet": "Últimas noticias de salud → Noticia. Dirección de esta página:
        https: \/\/medlineplus.gov ... uno de los organizadores de la reunión. ...",
        "dateLastCrawled": "2016-12-25T07:44:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Muchos cánceres de colon a una edad temprana se vinculan ...", "url":
        "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_162606.html", "urlPingSuffix":
        "DevEx,5094.1", "displayUrl": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_162606.html",
        "snippet": "Uno de cada 6 diagnosticados antes de los 50 años tenía al menos
        una mutación ... Las notici[...]
