---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=noticia%20uno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A4EC359060BA49E29ED744636E3F693A
      X-Msedge-Clientid:
      - 2D895BAA829169C51AB8512A83066842
      X-Msapi-Userstate:
      - 9d9f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E9E53580B57146C8BE6A19DD524919EC&CID=2D895BAA829169C51AB8512A83066842&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E9E53580B57146C8BE6A19DD524919EC&CID=2D895BAA829169C51AB8512A83066842&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=noticia+uno+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5463.1", "totalEstimatedMatches": 74000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Un exceso de sudor puede provocar un sufrimiento emocional ...", "url": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_164540.html",
        "urlPingSuffix": "DevEx,5076.1", "displayUrl": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_164540.html",
        "snippet": "Últimas noticias de salud → Noticia. Usted esta ... JUEVES,
        6 de abril de 2017 (HealthDay News) -- Sudar es bueno para uno. En general
        esto es así, ...", "dateLastCrawled": "2017-05-01T05:23:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "¿No pierde peso
        tras dar a luz? No culpe al embarazo ...", "url": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_163692.html",
        "urlPingSuffix": "DevEx,5089.1", "displayUrl": "https:\/\/medlineplus.gov\/spanish\/news\/fullstory_163692.html",
        "snippet": "\"Encontramos que uno o dos años después de dar a luz, ... otra
        buena noticia es que \"es posib[...]
