These popular search terms are not included in type-ahead suggestions because of SaytFilter settings:

<UL>
  <% @filtered_popular_terms.each do |term| %>
      <LI>
        <%= ActionController::Base.helpers.link_to term, search_url(:query => term, :filter => "off", :input_form => "advanced") %>
      </LI>
  <% end %>
</UL>