These popular search terms are not included in type-ahead suggestions because of type-ahead filters:

<UL>
  <% @filtered_popular_terms.each do |term| %>
      <LI>
        <%= ActionController::Base.helpers.link_to term, search_url(:query => term, :filter => "off", :input_form => "advanced") %>
      </LI>
  <% end %>
</UL>

Visit https://search.usa.gov/admin/sayt_filters to update filters, if needed.