---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=allofit%20%22exact%22%20-bad%20(any)%20filetype:pdf%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 32F3A3733B0345F8AFFD5FD81A0CCCAE
      X-Msedge-Clientid:
      - 30B3C251935866BA0110C83392CF6760
      X-Msapi-Userstate:
      - 92c5
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=3B8647C6931F4F6481A9B3F69EE5BE6F&CID=30B3C251935866BA0110C83392CF6760&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=3B8647C6931F4F6481A9B3F69EE5BE6F&CID=30B3C251935866BA0110C83392CF6760&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 12 Apr 2017 02:19:01 GMT
recorded_with: VCR 3.0.3
