---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=allofit%20%22exact%22%20-bad%20(any)%20filetype:pdf%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 975EE68307E54068B0A838E6D8D2AE63
      X-Msedge-Clientid:
      - 1918DCFBB7A66B8931B5D7F3B6316A53
      X-Msapi-Userstate:
      - fdf1
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8068D1C58BEA4DBF81DAD9A453CB42FE&CID=1918DCFBB7A66B8931B5D7F3B6316A53&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8068D1C58BEA4DBF81DAD9A453CB42FE&CID=1918DCFBB7A66B8931B5D7F3B6316A53&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 25 Sep 2017 17:02:20 GMT
recorded_with: VCR 3.0.3
