---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=allofit%20%22exact%22%20-bad%20(any)%20filetype:pdf%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 00BFCDB705CC4364BBEC9F393067F65B
      Bingapis-Sessionid:
      - 12F69D6BCA1948F0853BEC518EAEEFFA
      X-Msedge-Clientid:
      - 0E37E9540EF669B02E50F9FF0F286871
      X-Msapi-Userstate:
      - a465
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=166,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "allofit
        \"exact\" -bad (any) filetype:pdf (site:gov OR site:mil)"}, "rankingResponse":
        {}}'
  recorded_at: Tue, 07 Sep 2021 16:18:01 GMT
recorded_with: VCR 6.0.0
