---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=allofit%20%22exact%22%20-bad%20(any)%20filetype:pdf%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 05BF873B482148D0802CE9AB6C3D0AF9
      X-Msedge-Clientid:
      - 0A6BC9ACCE7667B31EE0C220CFD9669C
      X-Msapi-Userstate:
      - d3d6
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=115C68F434CC458494A2001071A520DC&CID=0A6BC9ACCE7667B31EE0C220CFD9669C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=115C68F434CC458494A2001071A520DC&CID=0A6BC9ACCE7667B31EE0C220CFD9669C&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Sun, 04 Feb 2018 01:36:45 GMT
recorded_with: VCR 4.0.0
