---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=allofit%20%22exact%22%20-bad%20(any)%20filetype:pdf%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6E4A552122854081BB44571104FBBB75
      X-Msedge-Clientid:
      - 1981BBC486A66CC62C55B79C87A96D33
      X-Msapi-Userstate:
      - 793e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=612137C327534E9B83568661E749ECD0&CID=1981BBC486A66CC62C55B79C87A96D33&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=612137C327534E9B83568661E749ECD0&CID=1981BBC486A66CC62C55B79C87A96D33&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 27 Aug 2018 02:09:06 GMT
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=allofit%20%22exact%22%20-bad%20(any)%20filetype:pdf%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 48649A84169F4864AC616907C1985AED
      Bingapis-Sessionid:
      - 4657251DDD724C32811BF3591C73FE06
      X-Msedge-Clientid:
      - 0B5EC48DFD83647431DBC80FFCCF65D9
      X-Msapi-Userstate:
      - 0d68
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=477,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "allofit
        \"exact\" -bad (any) filetype:pdf (site:gov OR site:mil)"}, "rankingResponse":
        {}}'
  recorded_at: Mon, 08 Oct 2018 18:21:00 GMT
recorded_with: VCR 4.0.0
