---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=allofit%20%22exact%22%20-bad%20(any)%20filetype:pdf%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B84D5AE73AF949ED87D9D449DD99B4E6
      X-Msedge-Clientid:
      - 17941AF9C5B76EA92D2C1167C4526F7A
      X-Msapi-Userstate:
      - '8178'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C7884E8817BA40C78789F234F8F9192A&CID=17941AF9C5B76EA92D2C1167C4526F7A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C7884E8817BA40C78789F234F8F9192A&CID=17941AF9C5B76EA92D2C1167C4526F7A&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 22 Feb 2018 08:37:49 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=allofit%20%22exact%22%20-bad%20(any)%20filetype:pdf%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6A2610F22D114CEF80575E9451E23DA0
      X-Msedge-Clientid:
      - '09C44E5A76C06516263242F6771764CA'
      X-Msapi-Userstate:
      - 0c6c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=6E029AC1110B485CB6CA44C2F1D4523B&CID=09C44E5A76C06516263242F6771764CA&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=6E029AC1110B485CB6CA44C2F1D4523B&CID=09C44E5A76C06516263242F6771764CA&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 19 Nov 2018 22:41:57 GMT
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=allofit%20%22exact%22%20-bad%20(any)%20filetype:pdf%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3AFB477E8F1541F09594E55B386528CE
      Bingapis-Sessionid:
      - 8CE857804E904680ABEF30066DDF439E
      X-Msedge-Clientid:
      - 152B7F65E36A6056328D73C9E22661AC
      X-Msapi-Userstate:
      - 4c97
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=122,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "allofit
        \"exact\" -bad (any) filetype:pdf (site:gov OR site:mil)"}, "rankingResponse":
        {}}'
  recorded_at: Mon, 19 Nov 2018 22:43:09 GMT
recorded_with: VCR 4.0.0
