---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=allofit%20%22exact%22%20-bad%20(any)%20filetype:pdf%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 00BFCDB705CC4364BBEC9F393067F65B
      Bingapis-Sessionid:
      - 12F69D6BCA1948F0853BEC518EAEEFFA
      X-Msedge-Clientid:
      - 0E37E9540EF669B02E50F9FF0F286871
      X-Msapi-Userstate:
      - a465
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=166,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "allofit
        \"exact\" -bad (any) filetype:pdf (site:gov OR site:mil)"}, "rankingResponse":
        {}}'
  recorded_at: Tue, 07 Sep 2021 16:18:01 GMT
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=allofit%20%22exact%22%20-bad%20(any)%20filetype:pdf%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 66356ACC235241DB96915CB0F79D1FF2
      Bingapis-Sessionid:
      - 6BA63FD9CEB34D528449ABB9E1802B40
      X-Msedge-Clientid:
      - 07BCFA2557EA68961C69EAED5617697E
      X-Msapi-Userstate:
      - '7505'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=307,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "allofit
        \"exact\" -bad (any) filetype:pdf (site:gov OR site:mil)"}, "webPages": {"webSearchUrl":
        "https:\/\/www.bing.com\/search?q=allofit+%22exact%22+-bad+(any)+filetype%3apdf+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 31300, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Rules of Statutory Construction and Interpretation", "url": "https:\/\/www.supremecourt.gov\/DocketPDF\/18\/18-9575\/102239\/20190611092122150_00000055.pdf",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.supremecourt.gov\/DocketPDF\/18\/18-9575\/102239\/20190611092122150_00000055.pdf",
        "snippet": "App. A4 11 Expressio Umus est Exclusio Alterius Rule The term
        \"includes'' is a term of limitation and not enlargement in most cases. Where
        it is used, it prescribes all of the things or classes of things to which
        the statute pertains.Al] other possible objects of the statute are, thereby
        excluded, by implication. Expressio unius est exclusw alterius.", "dateLastCrawled":
        "2021-10-04T04:06:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1", "name": "Loan
        Fact Sheet - Small Business Administration", "url": "https:\/\/www.sba.gov\/sites\/default\/files\/articles\/SBA_Loan_Fact_Sheet_0.pdf",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.sba.gov\/sites\/default\/files\/articles\/SBA_Loan_Fact_Sheet_0.pdf",
        "snippet": "The exact percentage of the guaranty depends on a variety of
        factors such as size of loa[...]
