---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=allofit%20%22exact%22%20-bad%20(any)%20filetype:pdf%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 597A8EE4AA86470A984F55A3CB5CCCAD
      X-Msedge-Clientid:
      - 3A8180D0ADCA6EA005EA8A13AC5D6F00
      X-Msapi-Userstate:
      - cf87
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=025BC7B1661D4AA18C0A3D0CC1244B07&CID=3A8180D0ADCA6EA005EA8A13AC5D6F00&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=025BC7B1661D4AA18C0A3D0CC1244B07&CID=3A8180D0ADCA6EA005EA8A13AC5D6F00&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 18 Jul 2017 18:00:42 GMT
recorded_with: VCR 3.0.3
