---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=allofit%20%22exact%22%20-bad%20(any)%20filetype:pdf%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659eb0e407da46258c04f431bbc52e40
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659eb0e407da46258c04f431bbc52e40
      Bingapis-Sessionid:
      - 96C6292C9F3247089DD8FA680A935B0C
      X-Msedge-Clientid:
      - 070BA10082F86EF025E6B50283F96F43
      X-Msapi-Userstate:
      - '1920'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=310,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "allofit
        \"exact\" -bad (any) filetype:pdf (site:gov OR site:mil)"}, "webPages": {"webSearchUrl":
        "https:\/\/www.bing.com\/search?q=allofit+%22exact%22+-bad+(any)+filetype%3apdf+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 254000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Movement Disorders Therapeutic Class Review (TCR) - Texas Health
        and ...", "url": "https:\/\/www.hhs.texas.gov\/sites\/default\/files\/documents\/jan-2024-durb-agenda-item5o.pdf",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.hhs.texas.gov\/sites\/default\/files\/documents\/jan-2024-durb-agenda-item5o.pdf",
        "snippet": "No part of this publication may be reproduced or transmitted in
        any form or by any means, electronic or mechanical, including photocopying,
        recording, digital scanning, or via any information storage or retrieval
        system without the express written consent of Magellan Rx Management. All
        requests for permission should be mailed to:", "dateLastCrawled": "2024-01-10T03:07:00.0000000Z",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Progestins for Cachexia TCR - Texas Health and Human Services", "url":
        "https:\/\/www.hhs.texas.gov\/sites\/default\/files\/documents\/jan-2024-durb-agenda-item5cc.pdf",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.hhs.texas.gov\/sites\/default\/files\/documents\/jan-2024-durb-agenda-item5cc.pdf",
        "snippet": "Cachexia is a debilitating and life-threatening syndrome characterized[...]
