---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=jobs%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 311A2DF67487456DBC82B1991B6F7B52
      Bingapis-Sessionid:
      - 900C61F1286D421E9D4710D07EB903AF
      X-Msedge-Clientid:
      - 004AA93A292A601033A8B99128CC61B8
      X-Msapi-Userstate:
      - '9895'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=239,MSDatacenter=CH1B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "jobs
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 27300000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "USAJOBS - The Federal Government''s Official Jobs Site", "url":
        "https:\/\/www.usajobs.gov\/", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usajobs.gov",
        "snippet": "USAJOBS is the Federal Government''s official one-stop source
        for Federal jobs and employment information.", "dateLastCrawled": "2021-09-05T04:21:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Jobs at TSA | Transportation Security Administration", "url":
        "https:\/\/www.tsa.gov\/about\/jobs-at-tsa", "isFamilyFriendly": true, "displayUrl":
        "https:\/\/www.tsa.gov\/about\/jobs-at-tsa", "snippet": "Jobs at TSA.
        TSA offers a wide range of career opportunities — whether you are an experienced
        business professional, recent college or high school graduate, o[...]
- request:
    method: get
    uri: https://data.usajobs.gov/api/search?Keyword=&LocationName&Organization=GS&Radius=75&ResultsPerPage=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization-Key:
      - "<JOBS_AUTHORIZATION_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hr+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"LanguageCode":"EN","SearchParameters":{},"SearchResult":{"SearchResultCount":25,"SearchResultCountAll":72,"SearchResultItems":[{"MatchedObjectId":"590685600","MatchedObjectDescriptor":{"PositionID":"21NRCA029LB-DHA","PositionTitle":"Contract
        Spec/Administrator/Negotiator, Procurement Analyst (Supvy/Non/Lead)","PositionURI":"https://www.usajobs.gov:443/GetJob/ViewDetails/590685600","ApplyURI":["https://www.usajobs.gov:443/GetJob/ViewDetails/590685600?PostingChannelID="],"PositionLocationDisplay":"Multiple
        Locations","PositionLocation":[{"LocationName":"Anchorage, Alaska","CountryCode":"United
        States","CountrySubDivisionCode":"Alaska","CityName":"Anchorage, Alaska","Longitude":-149.85774,"Latitude":61.21756},{"LocationName":"Birmingham,
        Alabama","CountryCode":"United States","CountrySubDivisionCode":"Alabama","CityName":"Birmingham,
        Alabama","Longitude":-86.8115,"Latitude":33.5203},{"LocationName":"Huntsville,
        Alabama","CountryCode":"United States","CountrySubDivisionCode":"Alabama","CityName":"Huntsville,
        Alabama","Longitude":-86.585,"Latitude":34.7291},{"LocationName":"Montgomery,
        Alabama","CountryCode":"United States","CountrySubDivisionCode":"Ala[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=jobs%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 681232B5CC024E55AF97011B144AAECD
      Bingapis-Sessionid:
      - 2D7F5002AF1D493587FCC6154D714935
      X-Msedge-Clientid:
      - 07FE9E29D3BC610014FF8EE1D24160A7
      X-Msapi-Userstate:
      - a429
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=206[...]
