---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=jobs%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - B0DFC06A21054589B27F917F410C6D20
      Bingapis-Sessionid:
      - 73C419B542394A06B30155FFEF846D20
      X-Msedge-Clientid:
      - 305166AE56466D5A235A76EB57BB6C30
      X-Msapi-Userstate:
      - dd9f
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=258,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "jobs
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 31700000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "USAJOBS - The Federal Government''s Official Jobs Site", "url":
        "https:\/\/www.usajobs.gov\/", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usajobs.gov",
        "snippet": "USAJOBS is the Federal Government''s official one-stop source
        for Federal jobs and employment information.", "dateLastCrawled": "2021-05-24T21:36:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Work for Us (U.S. National Park Service)", "url": "https:\/\/www.nps.gov\/aboutus\/workwithus.htm",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.nps.gov\/aboutus\/workwithus.htm",
        "snippet": "Jobs for 55+ The Experienced Services Program offers temporary
        employment opportunities for individuals 55 years or older to work on specific
        projects. Volunteer. D[...]
- request:
    method: get
    uri: https://data.usajobs.gov/api/search?Keyword=&LocationName&Organization=GS&Radius=75&ResultsPerPage=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization-Key:
      - "<JOBS_AUTHORIZATION_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hr+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"LanguageCode":"EN","SearchParameters":{},"SearchResult":{"SearchResultCount":25,"SearchResultCountAll":94,"SearchResultItems":[{"MatchedObjectId":"570960700","MatchedObjectDescriptor":{"PositionID":"20FASC168SVGOTR","PositionTitle":"IT
        Specialist (PLCYPLAN) (2210)","PositionURI":"https://www.usajobs.gov:443/GetJob/ViewDetails/570960700","ApplyURI":["https://www.usajobs.gov:443/GetJob/ViewDetails/570960700?PostingChannelID="],"PositionLocationDisplay":"Multiple
        Locations","PositionLocation":[{"LocationName":"San Francisco, California","CountryCode":"United
        States","CountrySubDivisionCode":"California","CityName":"San Francisco, California","Longitude":-122.4196,"Latitude":37.7771},{"LocationName":"Washington,
        District of Columbia","CountryCode":"United States","CountrySubDivisionCode":"District
        of Columbia","CityName":"Washington, District of Columbia","Longitude":-77.032,"Latitude":38.8904},{"LocationName":"Chicago,
        Illinois","CountryCode":"United States","CountrySubDivisionCode":"Illinois","CityName":"Chicago,
        Illinois","Longitude":-87.63241,"Latitude":41.88415},{"LocationName":"New
        York, New York","CountryCode":"United S[...]
