---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=gov%20(site:www.usa.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 35BB676BDFFC477C9C949B9FC9C411D3
      Bingapis-Sessionid:
      - E6BFEC9FFE2B488097FBFEEBD5288E17
      X-Msedge-Clientid:
      - 07E74ABA3EC268C132765A283F3F6943
      X-Msapi-Userstate:
      - c262
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=234,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "gov
        (site:www.usa.gov\/)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3awww.usa.gov%2f)",
        "totalEstimatedMatches": 440000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Official Guide to Government Information and ... - USA.gov", "url":
        "https:\/\/www.usa.gov\/", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usa.gov",
        "snippet": "Learn how to prepare for and recover from disasters and emergencies.
        Find government information on energy, green technology, pollution, wildlife,
        and more. Find government information on education including primary, secondary,
        and higher education. Find information for federal, state, and local government
        agencies and elected officials.", "dateLastCrawled": "2021-08-10T02:13:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Government Forms, by Agency | A | USAGov", "url": "https:\/\/www.usa.gov\/forms\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usa.gov\/forms",
        "snippet": "A .gov website belongs to an official government organization
        in the United States. Secure .gov websites use HTTPS A lock ( A locked padlock)
        or https:\/\/ means you’ve safely connected to the .g[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=gobierno%20(site:gobierno.usa.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - DA9311D918924B4D875BBF506445800C
      Bingapis-Sessionid:
      - 258B13BB597A42968923C2B454C0144C
      X-Msedge-Clientid:
      - 3E5FC991D5E06AC2031CD903D41D6B3B
      X-Msapi-Userstate:
      - f2c6
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=123,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "gobierno
        (site:gobierno.usa.gov\/)"}, "rankingResponse": {}}'
  recorded_at: Fri, 13 Aug 2021 21:31:35 GMT
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=gobierno%20(site:www.usa.gov/espanol/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=u[...]
