---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=gov%20(site:www.usa.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - A523F826200C4396896C582C94E53A9A
      Bingapis-Sessionid:
      - 4489219137AE4222BE5E8EC490A9C321
      X-Msedge-Clientid:
      - 00E3DB798F346EFA16DFCBD28ED26FAD
      X-Msapi-Userstate:
      - b37b
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=231,MSDatacenter=CH1B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "gov
        (site:www.usa.gov\/)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3awww.usa.gov%2f)",
        "totalEstimatedMatches": 488000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Official Guide to Government Information and ... - USA.gov", "url":
        "https:\/\/www.usa.gov\/", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usa.gov",
        "snippet": "Learn how to prepare for and recover from disasters and emergencies.
        Find government information on energy, green technology, pollution, wildlife,
        and more. Find government information on education including primary, secondary,
        and higher education. Find information for federal, state, and local government
        agencies and elected officials.", "dateLastCrawled": "2021-09-02T01:13:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Government Forms, by Agency | A | USAGov", "url": "https:\/\/www.usa.gov\/forms\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usa.gov\/forms",
        "snippet": "A .gov website belongs to an official government organization
        in the United States. Secure .gov websites use HTTPS A lock ( A locked padlock)
        or https:\/\/ means you’ve safely connected to the .g[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=gobierno%20(site:www.usa.gov/espanol/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=u[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=gov%20(site:www.usa.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 1C90B92D811C42CDABED11D7F944F836
      Bingapis-Sessionid:
      - 823FEC5180954E5BBA9E309E34AEC0CE
      X-Msedge-Clientid:
      - 0F88DAA728816FA30237CA6F29316E8A
      X-Msapi-Userstate:
      - 37b3
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=270[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=gobierno%20(site:www.usa.gov/espanol/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
 [...]
