---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2EC1A60F314E475DB42F19F002B43ECB
      X-Msedge-Clientid:
      - 0579FFDCF68A6621041FF5E2F71D6789
      X-Msapi-Userstate:
      - ab59
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=6E483F9CFC1C49B089BCF1DC1A04D2D8&CID=0579FFDCF68A6621041FF5E2F71D6789&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=6E483F9CFC1C49B089BCF1DC1A04D2D8&CID=0579FFDCF68A6621041FF5E2F71D6789&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=item+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5491.1", "totalEstimatedMatches": 1970000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Prohibited Items | Transportation Security Administration", "url": "https:\/\/www.tsa.gov\/travel\/security-screening\/prohibited-items",
        "urlPingSuffix": "DevEx,5089.1", "displayUrl": "https:\/\/www.tsa.gov\/travel\/security-screening\/prohibited-items",
        "snippet": "Even if an item is generally permitted, ... or poses other security
        concerns. Read about civil penalties for prohibited items. For items not
        listed here, ...", "deepLinks": [{"name": "Liquids Rule", "url": "https:\/\/www.tsa.gov\/travel\/security-screening\/liquids-rule",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Identification", "url": "https:\/\/www.tsa.gov\/travel\/security-screening\/identification",
        "urlPingSuffix": "DevEx,5081.1"}, {"name": "Travel Tips", "url": "https:\/\/www.tsa.gov\/travel\/travel-tips",
        "urlPingSuffix": "DevEx,5082.1"}, {"name": "Special Procedures", "url": "https:\/\/www.tsa.gov\/travel\/special-procedures",
        "urlPingSuffix": "DevEx,5083.1"}, {"name": "Tools", "url": "http:\/\/www.tsa.gov\/travel\/security-screening\/prohibited-items?qt-prohibited_items=4",
        "urlPingSuffix": "DevEx,5085.1"}], "dateLastCrawled": "2017-03-02T16:12:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Items",
        "url": "http:\/\/www.dol.gov\/oasam\/LearningLink\/AssigningWorkingItems.pdf",
        "urlPingSuffix": "DevEx,5101.1", "displayUrl": "www.dol.gov\/oasam\/LearningLink\/AssigningWorkingItems.pdf",
        "snippet": "Items: Main Concepts An item is an assignable unit that can
        be tracked in the SuccessFactors Learning system. It may be a learning or
     [...]
[...]
