---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gov%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 00FD94F2A5114701B0E89CA3800642BF
      X-Msedge-Clientid:
      - 183C2AB0651B6B2E39E7208E648C6A0A
      X-Msapi-Userstate:
      - 4af3
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=CDF0DFA000C045EFBFA4C008ECF40481&CID=183C2AB0651B6B2E39E7208E648C6A0A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=CDF0DFA000C045EFBFA4C008ECF40481&CID=183C2AB0651B6B2E39E7208E648C6A0A&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5497.1", "totalEstimatedMatches": 13700000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USA.gov - Official Site", "url": "https:\/\/www.usa.gov\/", "urlPingSuffix":
        "DevEx,5090.1", "displayUrl": "https:\/\/www.usa.gov", "snippet": "USA.gov
        can help you start your search for government information by topic and agency.",
        "deepLinks": [{"name": "Federal Agencies", "url": "https:\/\/www.usa.gov\/federal-agencies\/a",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Unclaimed Money", "url": "https:\/\/www.usa.gov\/unclaimed-money",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Branches of Government", "url":
        "https:\/\/www.usa.gov\/branches-of-government", "urlPingSuffix": "DevEx,5081.1"}],
        "dateLastCrawled": "2017-03-02T16:08:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Internal Revenue Service - Official Site", "url": "https:\/\/www.irs.gov\/",
        "urlPingSuffix": "DevEx,5113.1", "displayUrl": "https:\/\/www.irs.gov",
        "snippet": "Use IRS.gov for quick answers To save time and find answers
        faster, taxpayers should make IRS.gov their first stop. Evítese ajetreos
        Evite largos ...", "deepLinks": [{"name": "Forms & Pubs", "url": "https:\/\/www.irs.gov\/forms-pubs",
        "urlPingSuffix": "DevEx,5103.1"}, {"name": "Refunds", "url": "https:\/\/www.irs.gov\/refunds",
        "urlPingSuffix": "DevEx,5104.1"}, {"name": "Payments", "url": "https:\/\/www.irs.gov\/payments",
        "urlPingSuffix": "DevEx,5105.1"}, {"name": "How to Contact The IRS", "url":
        "https:\/\/www.irs.gov\/help-resources\/telephone-assistance", "urlPingSuffix":
        "DevEx,5106.1"}, {"name": "Get Transcript", "url": "https:\/\/www.irs.gov\/individuals\/get-transcript",
        "urlPingSuffix": "DevEx,5107.1"}], "dateLastCrawled": "2017-03-03T15:39:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Social
        Security Administration - Official Site", "url": "http:\/\/www.ssa.gov\/",
        "urlPingSuffix": "DevEx,5140.1", "about": [{"name": "Social Security Administration"}],
        "displayUrl": "www.ssa.gov", "snippet": "Official website of the U.S. Social
        Security Administration. Skip to content. ... Disability.gov; MyMoney.gov;
        Regulations.gov; USA.gov; Other Government Sites; Follow:", "deepLinks":
        [{"name": "My Social Security", "url": "https:\/\/www.ssa.gov\/myaccount\/",
        "urlPingSuffix": "DevEx,5126.1"}, {"name": "Get a Form", "url": "http:\/\/www.ssa.gov\/forms\/",
  [...]
[...]
