---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=gov%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E46586F7BE804AABBB2AB8D00EC90C22
      X-Msedge-Clientid:
      - 31E8A076C5C86F2F177FAC2EC4C76EA3
      X-Msapi-Userstate:
      - 14b0
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A75B4BF297BC46B1B512CA2620966ED6&CID=31E8A076C5C86F2F177FAC2EC4C76EA3&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A75B4BF297BC46B1B512CA2620966ED6&CID=31E8A076C5C86F2F177FAC2EC4C76EA3&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5420.1", "totalEstimatedMatches": 44100000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USA - Official Guide to Government Information and Services", "url": "https:\/\/www.usa.gov\/",
        "urlPingSuffix": "DevEx,5058.1", "about": [{"name": "USA.gov"}], "displayUrl":
        "https:\/\/www.usa.gov", "snippet": "USA.gov can help you start your search
        for government information by topic and agency.", "dateLastCrawled": "2018-08-21T02:14:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Internal
        Revenue Service | An official website of the ...", "url": "https:\/\/www.irs.gov\/",
        "urlPingSuffix": "DevEx,5071.1", "about": [{"name": "Internal Revenue Service"}],
        "displayUrl": "https:\/\/www.irs.gov", "snippet": "The Internal Revenue
        Service is the nation''s tax collection agency and administers the Internal
        Revenue Code enacted[...]
[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=gov%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7402429F4EED438E85A526C81A564C46
      Bingapis-Sessionid:
      - 993B480102374E5284426770E54EAEC7
      X-Msedge-Clientid:
      - 33014EB0D2506D1213874232D31C6C47
      X-Msapi-Userstate:
      - 5a39
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=229,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "gov
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 40400000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "USA - Official Guide to Government Information and Services", "url":
        "https:\/\/www.usa.gov\/", "about": [{"name": "USA.gov"}], "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.usa.gov", "snippet": "The .gov means
        it''s official. Federal government websites often end in .gov or .mil. Before
        sharing sensitive information, make sure you''re on a federal government site.",
        "dateLastCrawled": "2018-10-03T10:18:00.0000000Z", "language": "en", "isNavigational":
        false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Internal Revenue Service | An official website of the ...", "url":
        "https:\/\/www.irs.gov\/", "about": [{"name": "Internal Revenue Service"}],
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.irs.gov", "snippet":
        "The Internal Revenue Service is the nation''s tax collection agency and
        administers the Internal Revenue Code enacted by Congress.", "date[...]
[...]
