---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=gov%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - BDC18BE7B8474598ADB5F10A656570D3
      X-Msedge-Clientid:
      - 325F6554E5226A8507F66ECAE4C76B2B
      X-Msapi-Userstate:
      - bd35
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5A2F933FB9384E099067DBF6B18E2CD9&CID=325F6554E5226A8507F66ECAE4C76B2B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5A2F933FB9384E099067DBF6B18E2CD9&CID=325F6554E5226A8507F66ECAE4C76B2B&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5527.1", "totalEstimatedMatches": 25600000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USA.gov - Official Site", "url": "https:\/\/www.usa.gov\/", "urlPingSuffix":
        "DevEx,5100.1", "about": [{"name": "United States"}], "displayUrl": "https:\/\/www.usa.gov",
        "snippet": "USA.gov can help you start your search for government information
        by topic and agency.", "deepLinks": [{"name": "Federal Agencies", "url": "https:\/\/www.usa.gov\/federal-agencies\/a",
        "urlPingSuffix": "DevEx,5087.1"}, {"name": "Unclaimed Money", "url": "https:\/\/www.usa.gov\/unclaimed-money",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "Travel and Immigration", "url":
        "https:\/\/www.usa.gov\/travel-and-immigration", "urlPingSuffix": "DevEx,5089.1"}],
        "dateLastCrawled": "2018-02-13T21:43:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "IRS - Official Site", "url": "https:\/\/www.irs.gov\/", "urlPingSuffix":
        "DevEx,5123.1", "about": [{"name": "Internal Revenue Service"}], "displayUrl":
        "https:\/\/www.irs.gov", "snippet": "The Internal Revenue Service is the
        nation''s tax collection agency and administers the Internal Revenue Code
        enacted by Congress.", "deepLinks": [{"name": "Forms & [...]
[...]
