---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(gov)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028gov\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":30300000,"Offset":0,"Results":[{"Title":"USA.gov","Description":"USA.gov
        can help you start your search for government information by topic and agency.","Url":"https\u003a\u002f\u002fwww.usa.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dgov\u0026d\u003d5022647986489455\u0026w\u003dZ7i3xDPBRpfsCVZ8QKbGM7O9mXJjhpZE","DisplayUrl":"https\u003a\u002f\u002fwww.usa.gov","DateTime":"2016-12-03T02\u003a03\u003a00Z"},{"Title":"ms.gov
        Home","Description":"MS.GOV Popular Services \u0026 Help Center. Taxpayers
        Access Point \u0028TAP\u0029 State Employee Holiday Calendar. Access Channel
        For Employees. Business Services. Doing Business","Url":"https\u003a\u002f\u002fwww.ms.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dgov\u0026d\u003d4975751293896312\u0026w\u003dG58_fAFWyhrWtcGD0WuAVW7RojKPlRJy","DisplayUrl":"htt[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(gov)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20&web.offset=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=u[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gov%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5A4BC30FDADA4B53BE435051C8A077B5
      X-Msedge-Clientid:
      - 3B0291599D9868BC14699B479C0F6967
      X-Msapi-Userstate:
      - 13d6
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D55D59941F0B4B2585E9E6ED03990CF6&CID=3B0291599D9868BC14699B479C0F6967&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D55D59941F0B4B2585E9E6ED03990CF6&CID=3B0291599D9868BC14699B479C0F6967&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5513.1", "totalEstimatedMatches": 22200000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USA.gov - Official Site", "url": "https:\/\/www.usa.gov\/", "urlPingSuffix":
        "DevEx,5092.1", "about": [{"name": "Crockett County Head Start"}], "displayUrl":
        "https:\/\/www.usa.gov", "snippet": "USA.gov can help you start your search
        for government information by topic and agency.", "deepLinks": [{"name": "Federal
        Agencies", "url": "https:\/\/www.usa.gov\/federal-agencies\/a", "urlPingSuffix":
        "DevEx,5082.1"}, {"name": "Unclaimed Money", "url": "https:\/\/www.usa.gov\/unclaimed-money",
        "urlPingSuffix": "DevEx,5083.1"}, {"name": "Branches of Government", "url":
        "https:\/\/www.usa.gov\/branches-of-government", "urlPingSuffix": "DevEx,5084.1"}],
        "dateLastCrawled": "2017-01-25T21:02:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Internal Revenue Service - Official Site", "url": "https:\/\/www.irs.gov\/",
        "urlPingSuffix": "DevEx,5115.1", "displayUrl": "https:\/\/www.irs.gov",
        "snippet": "Working grandparents may be eligible for EITC IRS is gearing up
        for its annual EITC Awareness Day on Jan. 27. Abuelos trabajadores pueden
        calificar para EITC", "deepLinks": [{"name": "Forms & P[...]
[...]
