---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gov%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 172E34A6B47242DAA71AABBD819E8490
      X-Msedge-Clientid:
      - 2D1DFD8090D660D820A5F60C917961AA
      X-Msapi-Userstate:
      - c482
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=343F4DD6BD874B379F7AC6D26CD891BA&CID=2D1DFD8090D660D820A5F60C917961AA&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=343F4DD6BD874B379F7AC6D26CD891BA&CID=2D1DFD8090D660D820A5F60C917961AA&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5527.1", "totalEstimatedMatches": 61400000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USA.gov - Official Site", "url": "https:\/\/www.usa.gov\/", "urlPingSuffix":
        "DevEx,5100.1", "about": [{"name": "USA.gov"}, {"name": "Federal government
        of the United States"}], "displayUrl": "https:\/\/www.usa.gov", "snippet":
        "USA.gov can help you start your search for government information by topic
        and agency.", "deepLinks": [{"name": "Federal Agencies", "url": "https:\/\/www.usa.gov\/federal-agencies\/a",
        "urlPingSuffix": "DevEx,5087.1"}, {"name": "Find a Job", "url": "https:\/\/www.usa.gov\/job-search",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "A", "url": "https:\/\/www.usa.gov\/forms\/a",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Unclaimed Money", "url": "https:\/\/www.usa.gov\/unclaimed-money",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "Travel and Immigration", "url":
        "https:\/\/www.usa.gov\/travel-and-immigration", "urlPingSuffix": "DevEx,5091.1"}],
        "dateLastCrawled": "2018-01-28T12:00:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "IRS - Official Site", "url": "https:\/\/www.irs.gov\/", "urlPingSuffix":
        "DevEx,5123.1", "about": [{"name": "Internal Revenue Service"}, {"name": "Internal
        Revenue Service"}], "displayUrl": "https:\/\/www.irs.gov", "snippet": "The
        Internal Revenue Service is the nation''s tax collection agency and administers
        the Internal Revenue Code enacted by Congre[...]
[...]
