---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=lkssldfkjsldfkjsldkfjsldkjflsdkjflskdjfwer%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D8C4C07DB5DC4E95997E985E216CA1D1
      X-Msedge-Clientid:
      - 1C339690F1C664C33F5E9AC8F0C9659B
      X-Msapi-Userstate:
      - eac8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D71E50F8DF8A40EA96D38BAD679259D2&CID=1C339690F1C664C33F5E9AC8F0C9659B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D71E50F8DF8A40EA96D38BAD679259D2&CID=1C339690F1C664C33F5E9AC8F0C9659B&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 27 Aug 2018 02:09:15 GMT
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=lkssldfkjsldfkjsldkfjsldkjflsdkjflskdjfwer%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C771D3E9211447B585828B3EA9B0E416
      Bingapis-Sessionid:
      - 3C2B3D0D62D944B5BACADB359ACF0558
      X-Msedge-Clientid:
      - 3905AE67D2F26E1E0C02A2E5D3BE6FA5
      X-Msapi-Userstate:
      - 966d
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=158,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "lkssldfkjsldfkjsldkfjsldkjflsdkjflskdjfwer
        (site:gov OR site:mil)"}, "rankingResponse": {}}'
  recorded_at: Mon, 08 Oct 2018 18:21:08 GMT
recorded_with: VCR 4.0.0
