---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=gov%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - BDC18BE7B8474598ADB5F10A656570D3
      X-Msedge-Clientid:
      - 325F6554E5226A8507F66ECAE4C76B2B
      X-Msapi-Userstate:
      - bd35
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5A2F933FB9384E099067DBF6B18E2CD9&CID=325F6554E5226A8507F66ECAE4C76B2B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5A2F933FB9384E099067DBF6B18E2CD9&CID=325F6554E5226A8507F66ECAE4C76B2B&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5527.1", "totalEstimatedMatches": 25600000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USA.gov - Official Site", "url": "https:\/\/www.usa.gov\/", "urlPingSuffix":
        "DevEx,5100.1", "about": [{"name": "United States"}], "displayUrl": "https:\/\/www.usa.gov",
        "snippet": "USA.gov can help you start your search for government information
        by topic and agency.", "deepLinks": [{"name": "Federal Agencies", "url": "https:\/\/www.usa.gov\/federal-agencies\/a",
        "urlPingSuffix": "DevEx,5087.1"}, {"name": "Unclaimed Money", "url": "https:\/\/www.usa.gov\/unclaimed-money",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "Travel and Immigration", "url":
        "https:\/\/www.usa.gov\/travel-and-immigration", "urlPingSuffix": "DevEx,5089.1"}],
        "dateLastCrawled": "2018-02-13T21:43:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "IRS - Official Site", "url": "https:\/\/www.irs.gov\/", "urlPingSuffix":
        "DevEx,5123.1", "about": [{"name": "Internal Revenue Service"}], "displayUrl":
        "https:\/\/www.irs.gov", "snippet": "The Internal Revenue Service is the
        nation''s tax collection agency and administers the Internal Revenue Code
        enacted by Congress.", "deepLinks": [{"name": "Forms & [...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=gov%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - FA34C1D2B88A4C829E24A4F6FE674[...]
[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=gov%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - AC42AEAF32BA41E6A84E93016FF68745
      Bingapis-Sessionid:
      - 29A5E715FAFE45C6B833EE4824808AB2
      X-Msedge-Clientid:
      - 1A55D248B1E060902918DEE4B0AC6100
      X-Msapi-Userstate:
      - b102
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=187,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "gov
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 52600000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "USA - Official Guide to Government Information and Services", "url":
        "https:\/\/www.usa.gov\/", "about": [{"name": "United States"}], "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.usa.gov", "snippet": "The .gov means
        it''s official. Federal government websites often end in .gov or .mil. Before
        sharing sensitive information, make sure you''re on a federal government site.",
        "dateLastCrawled": "2018-11-16T12:07:00.0000000Z", "language": "en", "isNavigational":
        false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Internal Revenue Service | An official website of the ...", "url":
        "https:\/\/www.irs.gov\/", "about": [{"name": "Internal Revenue Service"}],
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.irs.gov", "snippet":
        "The Internal Revenue Service is the nation''s tax collection agency and
        administers the Internal Revenue Code enacted by Congress.", "date[...]
[...]
