---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=lkssldfkjsldfkjsldkfjsldkjflsdkjflskdjfwer%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6DC2B3D714264FE89C3B6F2FAF2542C7
      X-Msedge-Clientid:
      - 2AE15E8C4E8F6D45275455124F6A6C93
      X-Msapi-Userstate:
      - '6235'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9CAC4A0056C240EFAFAF5207A2EA22FB&CID=2AE15E8C4E8F6D45275455124F6A6C93&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9CAC4A0056C240EFAFAF5207A2EA22FB&CID=2AE15E8C4E8F6D45275455124F6A6C93&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 22 Feb 2018 07:18:34 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=lkssldfkjsldfkjsldkfjsldkjflsdkjflskdjfwer%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A879797497BD422791C1859588D5571B
      X-Msedge-Clientid:
      - 04C5D6A163316BC53C8CDA0D62E66AD3
      X-Msapi-Userstate:
      - 6a52
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=02502C9DB5C3450B823C5E4E88C78152&CID=04C5D6A163316BC53C8CDA0D62E66AD3&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=02502C9DB5C3450B823C5E4E88C78152&CID=04C5D6A163316BC53C8CDA0D62E66AD3&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 19 Nov 2018 22:42:04 GMT
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=lkssldfkjsldfkjsldkfjsldkjflsdkjflskdjfwer%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 984AA1024B714A46B956BEB8CF2AF317
      Bingapis-Sessionid:
      - 041A8507ECBA4010B915A2A48EDB3618
      X-Msedge-Clientid:
      - 06167A8028526C482975762C291E6D94
      X-Msapi-Userstate:
      - a506
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=148,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "lkssldfkjsldfkjsldkfjsldkjflsdkjflskdjfwer
        (site:gov OR site:mil)"}, "rankingResponse": {}}'
  recorded_at: Mon, 19 Nov 2018 22:43:17 GMT
recorded_with: VCR 4.0.0
