---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gov%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 04117EC6F77C47C38EED66AAA46A5EE7
      X-Msedge-Clientid:
      - 2A244778D93063793DD84C3FD8A76289
      X-Msapi-Userstate:
      - '5634'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=FD205A8311B447379E384CD4A91E1230&CID=2A244778D93063793DD84C3FD8A76289&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=FD205A8311B447379E384CD4A91E1230&CID=2A244778D93063793DD84C3FD8A76289&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5531.1", "totalEstimatedMatches": 40700000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USA.gov - Official Site", "url": "https:\/\/www.usa.gov\/", "urlPingSuffix":
        "DevEx,5101.1", "displayUrl": "https:\/\/www.usa.gov", "snippet": "USA.gov
        can help you start your search for government information by topic and agency.",
        "deepLinks": [{"name": "Federal Agencies", "url": "https:\/\/www.usa.gov\/federal-agencies\/a",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Unclaimed Money", "url": "https:\/\/www.usa.gov\/unclaimed-money",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "Travel and Immigration", "url":
        "https:\/\/www.usa.gov\/travel-and-immigration", "urlPingSuffix": "DevEx,5091.1"}],
        "dateLastCrawled": "2017-11-22T20:54:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "IRS - Official Site", "url": "https:\/\/www.irs.gov\/", "urlPingSuffix":
        "DevEx,5125.1", "about": [{"name": "IRS"}], "displayUrl": "https:\/\/www.irs.gov",
        "snippet": "AVOID IRS SURPRISES Pay as you go, so you won’t owe. If you have
        a part-time job, learn about your tax responsibilities and avoid surprises.
        ... USA.gov ...", "deepLinks": [{"name": "Forms & Pubs", "url": "https:\/\/www.irs.gov\/forms-instructions",
        "urlPingSuffix": "DevEx,5114.1"}, {"name": "Payment Options", "url": "https:\/\/www.irs.gov\/payments",
        "urlPingSuffix": "DevEx,5115.1"[...]
[...]
