---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=gov%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E46586F7BE804AABBB2AB8D00EC90C22
      X-Msedge-Clientid:
      - 31E8A076C5C86F2F177FAC2EC4C76EA3
      X-Msapi-Userstate:
      - 14b0
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A75B4BF297BC46B1B512CA2620966ED6&CID=31E8A076C5C86F2F177FAC2EC4C76EA3&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A75B4BF297BC46B1B512CA2620966ED6&CID=31E8A076C5C86F2F177FAC2EC4C76EA3&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5420.1", "totalEstimatedMatches": 44100000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USA - Official Guide to Government Information and Services", "url": "https:\/\/www.usa.gov\/",
        "urlPingSuffix": "DevEx,5058.1", "about": [{"name": "USA.gov"}], "displayUrl":
        "https:\/\/www.usa.gov", "snippet": "USA.gov can help you start your search
        for government information by topic and agency.", "dateLastCrawled": "2018-08-21T02:14:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Internal
        Revenue Service | An official website of the ...", "url": "https:\/\/www.irs.gov\/",
        "urlPingSuffix": "DevEx,5071.1", "about": [{"name": "Internal Revenue Service"}],
        "displayUrl": "https:\/\/www.irs.gov", "snippet": "The Internal Revenue
        Service is the nation''s tax collection agency and administers the Internal
        Revenue Code enacted[...]
[...]
