---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=lkssldfkjsldfkjsldkfjsldkjflsdkjflskdjfwer%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D8C4C07DB5DC4E95997E985E216CA1D1
      X-Msedge-Clientid:
      - 1C339690F1C664C33F5E9AC8F0C9659B
      X-Msapi-Userstate:
      - eac8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D71E50F8DF8A40EA96D38BAD679259D2&CID=1C339690F1C664C33F5E9AC8F0C9659B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D71E50F8DF8A40EA96D38BAD679259D2&CID=1C339690F1C664C33F5E9AC8F0C9659B&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 27 Aug 2018 02:09:15 GMT
recorded_with: VCR 4.0.0
