---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=gov%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659eb0e8b37a473e9a62f044b5ba21ac
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659eb0e8b37a473e9a62f044b5ba21ac
      Bingapis-Sessionid:
      - D3248EE744174E5BA6738C9696F5B210
      X-Msedge-Clientid:
      - 063C9B0CC7ED636035E08F0EC6616273
      X-Msapi-Userstate:
      - 9fdc
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=263,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "gov
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 68500000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Making government services easier to find | USAGov", "url": "https:\/\/www.usa.gov\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usa.gov", "snippet":
        "Voting and elections. Find answers to common questions about voting in the
        United States. Top. Find government benefits, services, agencies, and information
        at USA.gov. Contact elected officials. Learn about passports, Social Security,
        taxes, and more.", "dateLastCrawled": "2024-01-10T07:13:00.0000000Z", "cachedPageUrl":
        "http:\/\/cc.bingj.com\/cache.aspx?q=gov+(site%3agov+OR+site%3amil)&d=5022646634414247&mkt=en-US&setlang=en-US&w=vatIQ0UjRHjsCVZ8QKbGM7O9mXJjhpZE",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Search.gov | USAGov", "url": "https:\/\/www.usa.gov\/search-gov",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usa.gov\/search-gov",
        "snippet": "Search.gov makes it easier for people to find the information
        they need from federal websites. As the search engine used by more than 2,000
        federal websites, Search.gov supports more than 300 million searches a year.
 [...]
[...]
