---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gov%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 04B0E6E3FC2E4C4996EEFB4B7240A7F6
      X-Msedge-Clientid:
      - 3B30910D28AB69AF14829BCE293C6894
      X-Msapi-Userstate:
      - 2d11
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=36099C9E4D7D42F987FF00CAB8EF9554&CID=3B30910D28AB69AF14829BCE293C6894&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=36099C9E4D7D42F987FF00CAB8EF9554&CID=3B30910D28AB69AF14829BCE293C6894&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5509.1", "totalEstimatedMatches": 83600000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USA.gov - Official Site", "url": "https:\/\/www.usa.gov\/", "urlPingSuffix":
        "DevEx,5090.1", "about": [{"name": "United States"}, {"name": "Federal government
        of the United States"}], "displayUrl": "https:\/\/www.usa.gov", "snippet":
        "USA.gov can help you start your search for government information by topic
        and agency.", "deepLinks": [{"name": "Unclaimed Money", "url": "https:\/\/www.usa.gov\/unclaimed-money",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Federal Agencies", "url": "https:\/\/www.usa.gov\/federal-agencies\/a",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Benefits and Grants", "url": "https:\/\/www.usa.gov\/benefits-grants-loans",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Government Agencies", "url": "https:\/\/www.usa.gov\/agencies",
        "urlPingSuffix": "DevEx,5081.1"}], "dateLastCrawled": "2017-07-14T04:24:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Indiana
        - Official Site", "url": "http:\/\/in.gov\/", "urlPingSuffix": "DevEx,5113.1",
        "about": [{"name": "Indiana"}], "displayUrl": "in.gov", "snippet": "Government,
        lifestyle, demographics, elected officials, education, social security, and
        other information from the State of Indiana.", "deepLinks": [{"name": "My
        In", "url": "https:\/\/my.in.[...]
[...]
