---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=gov%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 465F20A6032249C59C5A92B5C4B3A1AC
      Bingapis-Sessionid:
      - 34728F3D28424117951BE4BA7AC4A5A4
      X-Msedge-Clientid:
      - 25CFA08AC6436C030049B021C7366D70
      X-Msapi-Userstate:
      - 2cd8
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=252,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "gov
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 80400000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Official Guide to Government Information and ... - USA.gov", "url":
        "https:\/\/www.usa.gov\/", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usa.gov",
        "snippet": "Learn how to prepare for and recover from disasters and emergencies.
        Find government information on energy, green technology, pollution, wildlife,
        and more. Find government information on education including primary, secondary,
        and higher education. Find information for federal, state, and local government
        agencies and elected officials.", "dateLastCrawled": "2021-09-02T01:13:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "The United States Social Security Administration", "url": "http:\/\/www.ssa.gov\/",
        "isFamilyFriendly": true, "displayUrl": "www.ssa.gov", "snippet": "Official
        website of the U.S. Social Security Administration. Did you recently get
        a new cell phone number or email address? If you did, you will need to update
        your personal my Social Security account to reflect the[...]
[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=gov%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 4BAC67CBEE1B46C1A9883273CD2E8CDD
      Bingapis-Sessionid:
      - A21CF59C5BD94859BD2C9851418B6770
      X-Msedge-Clientid:
      - 13A3E3B5C141669733D1F37DC03467B9
      X-Msapi-Userstate:
      - e36d
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=243[...]
[...]
