---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=lkssldfkjsldfkjsldkfjsldkjflsdkjflskdjfwer%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7CF23BEAA9AC433B95C0D681C40AC603
      X-Msedge-Clientid:
      - 2FC40BD33B4B6D942D2801EE3ADC6CB2
      X-Msapi-Userstate:
      - 1bab
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=2B823A40CAE64D5BAFAE5B5EFC22953E&CID=2FC40BD33B4B6D942D2801EE3ADC6CB2&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=2B823A40CAE64D5BAFAE5B5EFC22953E&CID=2FC40BD33B4B6D942D2801EE3ADC6CB2&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 06 Mar 2017 18:06:44 GMT
recorded_with: VCR 3.0.3
