---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 10D9AE2A618346A7B6CA5BABF6D9E2E6
      X-Msedge-Clientid:
      - 345055869751654B00235E0A96FE64AD
      X-Msapi-Userstate:
      - cc5e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A5D7654E0C844B53AA74C2D0072DF582&CID=345055869751654B00235E0A96FE64AD&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A5D7654E0C844B53AA74C2D0072DF582&CID=345055869751654B00235E0A96FE64AD&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=item+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5467.1", "totalEstimatedMatches": 19400000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Form 8-K - Official Site", "url": "https:\/\/www.sec.gov\/about\/forms\/form8-k.pdf",
        "urlPingSuffix": "DevEx,5090.1", "displayUrl": "https:\/\/www.sec.gov\/about\/forms\/form8-k.pdf",
        "snippet": "If a report on Form 8-K contains disclosures under Item 2.02
        or Item 7.01, whether or not the report contains disclosures regarding other
        items, ...", "dateLastCrawled": "2018-01-28T11:07:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Taxable and Non-Taxable Items (tax)", "url": "https:\/\/files.medi-cal.ca.gov\/pubsdoco\/publications\/masters-mtp\/part2\/tax_a02a04a06p00.doc",
        "urlPingSuffix": "DevEx,5104.1", "displayUrl": "https:\/\/files.medi-cal.ca.gov\/pubsdoco\/publications\/masters-mtp\/...",
        "snippet": "Combine the item’s purchase or rental price with any applicable
        sales tax and bill the total on the same line. ... Taxable and Non-Taxable
        Items (tax) ...", "deepLinks": [{"name": "What is Taxable", "url": "http:\/\/www.taxes.ca.gov\/Sales_and_Use_Tax\/WhatsTaxable.shtml",
        "urlPingSuffix": "DevEx,5099.1"}, {"name": "Cal Tax Service", "url": "http:\/\/www.taxes.ca.gov\/Sales_and_Use_Tax\/doingbus2.shtml",
        "urlPingSuffix": "DevEx,5100.1"}], "dateLastCrawled": "2018-01-29T06:14:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Form
        10-D - SEC.gov", "url": "https:\/\/www.sec.gov\/about\/forms\/for[...]
[...]
