---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 5FC6DB4DD71B469F91910B5681A82B48
      Bingapis-Sessionid:
      - 1BFEF325507A42518580B40F5C8242D3
      X-Msedge-Clientid:
      - 21C6B5C0CCFA68431DE6A56BCD4A69D5
      X-Msapi-Userstate:
      - a22a
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=264,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "item
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=item+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 9650000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Department of Defense Guidebook for Acquiring Commercial Items",
        "url": "https:\/\/www.acq.osd.mil\/dpap\/cpic\/cp\/docs\/Guidebook_Part_A_Commercial_Item_Determination_07_10_2019.pdf",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.acq.osd.mil\/dpap\/cpic\/cp\/docs\/Guidebook_Part_A_Commercial_Item...",
        "snippet": "item meets the criteria to be deemed a commercial item. Making
        a determination for of a type items that are similar to, but not identical
        to, items that have been sold in the commercial marketplace can be particularly
        challenging. Part A of this guide is intended to assist with making timely
        CIDs. 5 .", "dateLastCrawled": "2021-09-05T12:20:00.0000000Z", "language":
        "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "How to Classify Your Item", "url": "https:\/\/www.bis.doc.gov\/index.php\/documents\/compliance-training\/export-administration-regulations-training\/247-howtoclassifyitem-pdf\/file",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.bis.doc.gov\/...\/247-howtoclassifyitem-pdf\/file",
        "snippet": "Read ECCN “Item” heading under “List of Items Controlled” Match
        parti[...]
[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 8FBB85ADD485476CAA6484AC045FA643
      Bingapis-Sessionid:
      - 7B5460FDC55C477B98C8C21501A6C7E8
      X-Msedge-Clientid:
      - 3BB5C6CE70616FA72131D606712E6E95
      X-Msapi-Userstate:
      - f1c2
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=283,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "item
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=item+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 10300000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Frame a Special Item | Library of Congress", "url": "https:\/\/www.loc.gov\/item\/webcast-9175\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.loc.gov\/item\/webcast-9175",
        "snippet": "Cite This Item Citations are generated automatically from bibliographic
        data as a convenience, and may not be complete or accurate. Chicago citation
        style:", "dateLastCrawled": "2021-05-16T16:01:00.0000000Z", "language": "en",
        "isNavigational": false}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "PAM: Section 2 - PAR Items, Lines 8 - 9", "url": "https:\/\/www.sco.ca.gov\/Files-PPSD\/pam_section_2_par_items_lines_8-9.pdf",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.sco.ca.gov\/Files-PPSD\/pam_section_2_par_items_lines_8-9.pdf",
        "snippet": "Section 2.103: ITEM 851 – ALTER[...]
[...]
