---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=lkssldfkjsldfkjsldkfjsldkjflsdkjflskdjfwer%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D77B03AF8DD34F68B701FFAC41AC2C99
      X-Msedge-Clientid:
      - 1B561C0DF2DC65CB1ADF1705F34B6405
      X-Msapi-Userstate:
      - 7c1c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=7D8328DDC9CB483DBF7D8CBBFFBBA455&CID=1B561C0DF2DC65CB1ADF1705F34B6405&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=7D8328DDC9CB483DBF7D8CBBFFBBA455&CID=1B561C0DF2DC65CB1ADF1705F34B6405&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 25 Sep 2017 17:02:27 GMT
recorded_with: VCR 3.0.3
