---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4549E0995FA4439990345C12BB7D02F8
      X-Msedge-Clientid:
      - 2A3C594D30296F6827BA551531266E2C
      X-Msapi-Userstate:
      - '6493'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1A6FE45EC37548CD83D316B6A736E151&CID=2A3C594D30296F6827BA551531266E2C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1A6FE45EC37548CD83D316B6A736E151&CID=2A3C594D30296F6827BA551531266E2C&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=item+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5387.1", "totalEstimatedMatches": 18000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "NAVSEA STANDARD ITEM NUMERICAL INDEX FY-18(CH-1) UTILIZATION", "url": "http:\/\/www.navsea.navy.mil\/Portals\/103\/Documents\/SSRAC\/NSI\/FY18\/NSI_FY18_%20CH1_package.pdf?ver=2017-03-13-105449-870",
        "urlPingSuffix": "DevEx,5057.1", "displayUrl": "www.navsea.navy.mil\/Portals\/103\/Documents\/SSRAC\/NSI\/FY18\/NSI_FY18...",
        "snippet": "1 of 8 FY-18(CH-1) NAVSEA STANDARD ITEM NUMERICAL INDEX FY-18(CH-1)
        ITEM NO. TITLE UTILIZATION CATEGORY DATE 009-01 General Criteria; accomplish
        I 18 NOV 2016", "dateLastCrawled": "2018-08-18T03:25:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "NPIS - Item
        Screen", "url": "https:\/\/www.npis.pa.gov\/Screens\/Admin\/Item", "urlPingSuffix":
        "DevEx,5069.1", "displayUrl": "https:\/\/www.npis.pa.gov\/Screens\/Admin\/Item",
        "snippet": "Item Screen : Search Items: Hint: Search using part of the name
        for best results: Item Name: Vendor Name: ISBN #: Item #: Item Eligibility
        Status:", "dateLastCrawled": "2018-08-18T15:26:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "Item Name", "url": "https:\/\/public.logisticsinformationservice.dla.mil\/H6\/NameLookup.aspx",
        "urlPingSuffix": "DevEx,5081.1", "displayUrl": "https:\/\/public.logisticsinformationservice.dla.mil\/H6\/NameLookup.aspx",
        "snippet": "This Site describes the products and services that DLA Logistics
        Information Service provides.", "dateLastC[...]
[...]
