---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=lkssldfkjsldfkjsldkfjsldkjflsdkjflskdjfwer%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C8ED2173DEEC4D9682B5EE18FA34DCEF
      X-Msedge-Clientid:
      - 2B0CD1D5AF3265A314F9DBEBAEA56478
      X-Msapi-Userstate:
      - '8330'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=198E0CD1E45C45F387764839DAF65DCA&CID=2B0CD1D5AF3265A314F9DBEBAEA56478&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=198E0CD1E45C45F387764839DAF65DCA&CID=2B0CD1D5AF3265A314F9DBEBAEA56478&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 07 Mar 2017 20:14:01 GMT
recorded_with: VCR 3.0.3
