---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=lkssldfkjsldfkjsldkfjsldkjflsdkjflskdjfwer%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 2EEC98F490EA4748AD40E40B2A4B6240
      Bingapis-Sessionid:
      - 6C2031C591AE4151BD57F1F86520EE89
      X-Msedge-Clientid:
      - 18A3806E98AE64F41C3690C5991E65B9
      X-Msapi-Userstate:
      - a6a1
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=144,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "lkssldfkjsldfkjsldkfjsldkjflsdkjflskdjfwer
        (site:gov OR site:mil)"}, "rankingResponse": {}}'
  recorded_at: Tue, 07 Sep 2021 16:18:12 GMT
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=lkssldfkjsldfkjsldkfjsldkjflsdkjflskdjfwer%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 89175669EC2745F49AA6C88E47A44063
      Bingapis-Sessionid:
      - A29AEE0900D447AD87B626433963FD42
      X-Msedge-Clientid:
      - 25D9ABDFF33661922E8FBB17F24360C6
      X-Msapi-Userstate:
      - '6578'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=157,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "lkssldfkjsldfkjsldkfjsldkjflsdkjflskdjfwer
        (site:gov OR site:mil)"}, "rankingResponse": {}}'
  recorded_at: Wed, 06 Oct 2021 05:46:05 GMT
recorded_with: VCR 6.0.0
