---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gov%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9CD52BCAAF1841279242E50F4642E13C
      X-Msedge-Clientid:
      - 3ACC7C1DA5D26DBD0FE97715A4456CFB
      X-Msapi-Userstate:
      - ced2
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=16ABC65F94C4497EB1709943813089E6&CID=3ACC7C1DA5D26DBD0FE97715A4456CFB&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=16ABC65F94C4497EB1709943813089E6&CID=3ACC7C1DA5D26DBD0FE97715A4456CFB&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5520.1", "totalEstimatedMatches": 2210000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USA.gov - Official Site", "url": "https:\/\/www.usa.gov\/", "urlPingSuffix":
        "DevEx,5090.1", "displayUrl": "https:\/\/www.usa.gov", "snippet": "USA.gov
        can help you start your search for government information by topic and agency.",
        "deepLinks": [{"name": "Federal Agencies", "url": "https:\/\/www.usa.gov\/federal-agencies\/a",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Unclaimed Money", "url": "https:\/\/www.usa.gov\/unclaimed-money",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Benefits and Grants", "url": "https:\/\/www.usa.gov\/benefits-grants-loans",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Government Agencies", "url": "https:\/\/www.usa.gov\/agencies",
        "urlPingSuffix": "DevEx,5081.1"}], "dateLastCrawled": "2017-09-21T12:54:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "State
        of Oregon : Oregon.gov Home Page : State of Oregon", "url": "http:\/\/www.oregon.gov\/",
        "urlPingSuffix": "DevEx,5111.1", "about": [{"name": "Oregon"}], "displayUrl":
        "www.oregon.gov", "snippet": "Official site for the state of Oregon. Includes
        links to county and city pages, business, government, education, and Oregon
        facts.", "deepLinks": [{"name": "Agency A-Z List", "url": "http:\/\/www.oregon.gov\/",
        "urlPingSuffix": "DevEx,5102.1"}, {"name": "Oregon Job Opportunities", "url":
        "http:\/\/www.oregon.gov\/jobs\/Pages\/index.aspx", "urlPingSuffix": "DevEx,5103.1"},
        {"name":[...]
[...]
