---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - ACF1D15162E44554A09C1A15CF57A844
      X-Msedge-Clientid:
      - 0AAABDCB009E68BA22E4B74B0109692F
      X-Msapi-Userstate:
      - 54d0
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=964595D561CE41AD90EA3FFD62B46FB6&CID=0AAABDCB009E68BA22E4B74B0109692F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=964595D561CE41AD90EA3FFD62B46FB6&CID=0AAABDCB009E68BA22E4B74B0109692F&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5461.1", "totalEstimatedMatches": 13400000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USAJOBS - The Federal Government''s Official Jobs Site", "url": "https:\/\/www.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5090.1", "about": [{"name": "USAJobs"}], "displayUrl":
        "https:\/\/www.usajobs.gov", "snippet": "USAJOBS is the Federal Government''s
        official one-stop source for Federal jobs and employment information.",
        "deepLinks": [{"name": "Sign In", "url": "http:\/\/my.usajobs.gov\/Applicant\/ProfileDashboard\/Home",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Veterans", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/veterans\/",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Students", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/students\/",
        "urlPingSuffix": "DevEx,5081.1"}, {"name": "FBI", "url": "https:\/\/fbi.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5082.1"}, {"name": "New Account", "url": "https:\/\/my.usajobs.gov\/Account\/Account",
        "urlPingSuffix": "DevEx,5083.1"}, {"name": "Help", "url": "https:\/\/www.usajobs.gov\/Help\/",
        "urlPingSuffix": "DevEx,5084.1"}], "dateLastCrawled": "2017-05-06T21:10:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Exciting
        Career Opportunities - Jobs - California Public ...", "url": "http:\/\/www.cpuc.ca.gov\/jobs\/",
        "urlPingSuffix": "DevEx,5104.1", "displayUrl": "www.cpuc.ca.gov\/jobs",
        "snippet": "Exciting Career Opportunities The CPUC is currently hiring for
        a variety of positions. We welcome qualified candidates to join our diverse
        team in imp[...]
