---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 140391DB30954BE6B42E5A02E05809BC
      X-Msedge-Clientid:
      - 111E946F6D046D5A26ED9F676C936C1A
      X-Msapi-Userstate:
      - 783e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B07587CD785D4DB29B3EF4B355D7187F&CID=111E946F6D046D5A26ED9F676C936C1A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B07587CD785D4DB29B3EF4B355D7187F&CID=111E946F6D046D5A26ED9F676C936C1A&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5502.1", "totalEstimatedMatches": 49900000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "CA Jobs", "url": "http:\/\/www.jobs.ca.gov\/", "urlPingSuffix": "DevEx,5087.1",
        "displayUrl": "www.jobs.ca.gov", "snippet": "The State of California offers
        a wide variety of careers and jobs, ranging from accounting to zoology.
        The services our employees provide are truly ...", "deepLinks": [{"name":
        "Job Vacancy Search", "url": "http:\/\/jobs.ca.gov\/CalHRPublic\/Search\/LegacyJobSearchRedirect.aspx",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Calcareer Sign In", "url": "http:\/\/www.jobs.ca.gov\/CalHRPublic\/Login.aspx",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Job Seekers", "url": "http:\/\/www.americasjobcenter.ca.gov\/Job_Seekers.aspx",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Calhr", "url": "http:\/\/www.calhr.ca.gov\/",
        "urlPingSuffix": "DevEx,5081.1"}], "dateLastCrawled": "2017-09-19T01:56:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "jobs.in.gov
        - SPD: Home", "url": "http:\/\/www.jobs.in.gov\/", "urlPingSuffix": "DevEx,5101.1",
        "displayUrl": "www.jobs.in.gov", "snippet": "Search for jobs with Indiana
        State Government; Learn more about working for the state of Indiana; View
        my current benefits summary; Ask SPD a question related to my ...", "dateLastCrawled":
        "2017-09-16T12:17:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "USAJOBS - The Federal Government''s Official Jobs Site", "url":
        "https:\/\/www.usajobs.gov\/", "urlPingSuffix": "DevEx,5128.1", "about": [{"name":
        "USAJobs"}], "displayUrl": "https:\/\/www.usajobs.gov", "snippet": "USAJOBS
        is the Federal Government''s official one-stop source for Federal jobs and
        employment information.", "dateLastCrawled": "2017-09-16T22:11:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "Jobs
        and Career Information | USAGov", "url": "https:\/\/www.usa.gov\/jobs-careers",
        "urlPingSuffix": "DevEx,5144.1", "displayUrl": "https[...]
