---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(jobs)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028jobs\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":12900000,"Offset":0,"Results":[{"Title":"USAJOBS
        - The Federal Government\u0027s Official Jobs Site","Description":"USAJOBS
        is the Federal Government\u0027s official one-stop source for Federal jobs
        and employment information.","Url":"https\u003a\u002f\u002fwww.usajobs.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003djobs\u0026d\u003d4736714927375809\u0026w\u003dZNfBqzixAI1qAjlwCnChaPWf5RLP1HPO","DisplayUrl":"https\u003a\u002f\u002fwww.usajobs.gov","DateTime":"2016-12-03T09\u003a43\u003a00Z"},{"Title":"Careers
        - Houston","Description":"City of Houston Careers . Applying for a job with
        the City of Houston. If this is the first time you are applying using our
        on-line job application, you will need to ...","Url":"http\u003a\u002f\u002fwww.houstontx.gov\u002fhr\u002fcareers.html","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003djobs\u0026d\u003d4993596850242221\u0026w\u003dwc_dO9AfjfDe0xvJfqXMgCvWYKMghddr[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 07C10081EC3444A78BEF24756C97FABE
      X-Msedge-Clientid:
      - 049629B1234E686437F0204E22D9698F
      X-Msapi-Userstate:
      - '8104'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A0599F6B17C84BE8B2E342F98113B394&CID=049629B1234E686437F0204E22D9698F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A0599F6B17C84BE8B2E342F98113B394&CID=049629B1234E686437F0204E22D9698F&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5463.1", "totalEstimatedMatches": 12500000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USAJOBS - The Federal Government''s Official Jobs Site", "url": "https:\/\/www.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5096.1", "displayUrl": "https:\/\/www.usajobs.gov",
        "snippet": "USAJOBS is the Federal Government''s official one-stop source
        for Federal jobs and employment information.", "deepLinks": [{"name": "Sign
        In", "url": "http:\/\/my.usajobs.gov\/Applicant\/ProfileDashboard\/Home",
        "urlPingSuffix": "DevEx,5085.1"}, {"name": "Sign In", "url": "https:\/\/my.usajobs.gov\/Account\/Login",
        "urlPingSuffix": "DevEx,5086.1"}, {"name": "Veterans", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/veterans\/",
        "urlPingSuffix": "DevEx,5087.1"}, {"name": "Students", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/students\/",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "Connect Toolbar Embedded", "url":
        "https:\/\/login.usajobs.gov\/", "urlPingSuffix": "DevEx,5089.1"}, {"name":
        "New Account", "url": "https:\/\/my.usajobs.gov\/Account\/Account", "urlPingSuffix":
        "DevEx,5090.1"}], "dateLastCrawled": "2017-01-01T01:34:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "jobs.ca.gov
        - CalCareer Login", "url": "http:\/\/www.jobs.ca.gov\/", "urlPingSuffix":
        "DevEx,5112.1", "displayUrl": "www.jobs.ca.gov", "snippet": "What’s New
        on the California Jobs website: Getting a job with the State of California
        is now simpler than ever. Start by creating a CalCareer account.", "deepLinks":
        [{"name": "State Applications",[...]
