---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B1AB2B3EA5FA4553A72792228A811437
      X-Msedge-Clientid:
      - 2837ABA41FB269962961A0E31E256856
      X-Msapi-Userstate:
      - '5156'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B4E7F66D22A0491FA932D4D77F6E4B70&CID=2837ABA41FB269962961A0E31E256856&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B4E7F66D22A0491FA932D4D77F6E4B70&CID=2837ABA41FB269962961A0E31E256856&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5514.1", "totalEstimatedMatches": 28800000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "CA Jobs", "url": "http:\/\/www.jobs.ca.gov\/", "urlPingSuffix": "DevEx,5099.1",
        "displayUrl": "www.jobs.ca.gov", "snippet": "The State of California offers
        a wide variety of careers and jobs, ranging from accounting to zoology.
        The services our employees provide are truly ...", "deepLinks": [{"name":
        "Job Vacancy Search", "url": "http:\/\/jobs.ca.gov\/CalHRPublic\/Search\/LegacyJobSearchRedirect.aspx",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "Calcareer Sign In", "url": "http:\/\/www.jobs.ca.gov\/CalHRPublic\/Login.aspx",
        "urlPingSuffix": "DevEx,5091.1"}, {"name": "Job Seekers", "url": "http:\/\/www.americasjobcenter.ca.gov\/Job_Seekers.aspx",
        "urlPingSuffix": "DevEx,5092.1"}, {"name": "Calhr", "url": "http:\/\/www.calhr.ca.gov\/",
        "urlPingSuffix": "DevEx,5093.1"}], "dateLastCrawled": "2017-11-20T23:10:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "SPD:
        Home", "url": "http:\/\/www.jobs.in.gov\/", "urlPingSuffix": "DevEx,5114.1",
        "displayUrl": "www.jobs.in.gov", "snippet": "Search for jobs with Indiana
        State Government; Learn more about working for the state of Indiana; View
        my current benefits summary; Ask SPD a question related to my ...", "dateLastCrawled":
        "2017-11-22T07:32:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "USAJOBS - The Federal Government''s Official Jobs Site", "url":
        "https:\/\/www.usajobs.gov\/", "urlPingSuffix": "DevEx,5141.1", "about": [{"name":
        "USAJobs"}], "displayUrl": "https:\/\/www.usajobs.gov", "snippet": "USAJOBS
        is the Federal Government''s official one-stop source for Federal jobs and
        employment information.", "dateLastCrawled": "2017-11-21T05:24:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "Employment",
        "url": "http:\/\/nv.gov\/employment\/", "urlPingSuffix": "DevEx,5155.1", "displayUrl":
        "nv.gov\/employment", "snippet": "Abou[...]
