---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/search?count=20&mkt=en-US&offset=0&q=white%20house%20(site:whitehouse.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5C137F802598421D910F90164D26F11D
      X-Msedge-Clientid:
      - 31BA622DD4B368680CEC6EAFD5FF6928
      X-Msapi-Userstate:
      - e56f
      X-Search-Responseinfo:
      - InternalResponseTime=239,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "images\/search?q=white house (site:whitehouse.gov)", "webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?q=white house (site:whitehouse.gov)&FORM=OIIARP",
        "totalEstimatedMatches": 108, "nextOffset": 24, "value": [{"webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=6D2D34DDA3F04CE3C814637ACBFF850188969934&simid=608025616309420301",
        "name": "About The White House | The White House", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.vWpSQJSzVJ9lks69e2kbpAHaCx&pid=Api",
        "datePublished": "2017-12-14T22:10:00.0000000Z", "contentUrl": "https:\/\/www.whitehouse.gov\/wp-content\/uploads\/2017\/12\/P20170614JB-0303-2-1920x720.jpg",
        "hostPageUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house\/", "contentSize":
        "357656 B", "encodingFormat": "jpeg", "hostPageDisplayUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house",
        "width": 1920, "height": 720, "thumbnail": {"width": 474, "height": 177},
        "imageInsightsToken": "ccid_vWpSQJSz*mid_6D2D34DDA3F04CE3C814637ACBFF850188969934*simid_608025616309420301*thid_OIP.vWpSQJSzVJ9lks69e2kbpAHaCx",
        "insightsMetadata": {"recipeSourcesCount": 0, "bestRepresentativeQuery": {"text":
        "White House", "displayText": "White House", "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=White+House&id=6D2D34DDA3F04CE3C814637ACBFF850188969934&FORM=IDBQDM"},
        "pagesIncludingCount": 17, "availableSizesCount": 7}, "imageId": "6D2D34DDA3F04CE3C814637ACBFF850188969934",
        "accentColor": "B11A26"}, {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=white+house+(site%3awhitehouse.gov)&id=C842520FBAAE820695E2E9DF39D29FAA113C1E30&simid=608052361083226840",
        "name": "President Trump Hosts Faith Leaders at the White House | whitehouse.gov",
        "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.ciJSod2ej_4Kzo0FrOhIkQHaE7&pid=Api",
        "datePublished": "2017-05-04T19:20:00.0000000Z", "contentUrl": "https:\/\/www.whitehouse.gov\/sit[...]
