---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/search?count=20&mkt=en-US&offset=0&q=ebuy%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8023AE354C694E37A7E8D3D265DCF3CD
      X-Msedge-Clientid:
      - 389EA41A09346BA4227AA89808786A1E
      X-Msapi-Userstate:
      - b387
      X-Search-Responseinfo:
      - InternalResponseTime=218,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "images\/search?q=ebuy (site:gov OR site:mil)", "webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?q=ebuy (site:gov OR site:mil)&FORM=OIIARP",
        "totalEstimatedMatches": 100, "nextOffset": 21, "value": [{"webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=ebuy+(site%3agov+OR+site%3amil)&id=764085BE6AA85BD08F79EEEACA81DA18FBDE83F7&simid=608022549749305014",
        "name": "eBuy Mobile Login| A GSA Advantage!® Application", "thumbnailUrl":
        "https:\/\/tse2.mm.bing.net\/th?id=OIP.JEXGrwt87UUUt7oj_4CJmwAAAA&pid=Api",
        "datePublished": "2013-03-15T13:57:00.0000000Z", "contentUrl": "https:\/\/www.ebuy.gsa.gov\/mobile\/images\/logo.png",
        "hostPageUrl": "https:\/\/www.ebuy.gsa.gov\/mobile\/login", "contentSize":
        "2222 B", "encodingFormat": "png", "hostPageDisplayUrl": "https:\/\/www.ebuy.gsa.gov\/mobile\/login",
        "width": 112, "height": 35, "thumbnail": {"width": 112, "height": 35}, "imageInsightsToken":
        "ccid_JEXGrwt8*mid_764085BE6AA85BD08F79EEEACA81DA18FBDE83F7*simid_608022549749305014*thid_OIP.JEXGrwt87UUUt7oj!_4CJmwAAAA",
        "insightsMetadata": {"recipeSourcesCount": 0, "bestRepresentativeQuery": {"text":
        "GSA Advantage Logo", "displayText": "GSA Advantage Logo", "webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?q=GSA+Advantage+Logo&id=764085BE6AA85BD08F79EEEACA81DA18FBDE83F7&FORM=IDBQDM"},
        "pagesIncludingCount": 1, "availableSizesCount": 1}, "imageId": "764085BE6AA85BD08F79EEEACA81DA18FBDE83F7",
        "accentColor": "033365"}, {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=ebuy+(site%3agov+OR+site%3amil)&id=FBEBD860827FD0E690A5AFC9DA32F200C1A79D80&simid=608007122209276513",
        "name": "GSS Scientific Catalog Moving to eBuy Marketplace", "thumbnailUrl":
        "https:\/\/tse4.mm.bing.net\/th?id=OIP.f-YOnOpkGA1xFcb9jF7eLwAAAA&pid=Api",
        "datePublished": "2015-11-06T12:00:00.0000000Z", "contentUrl": "http:\/\/2h963i3oa54o1nc84a14ihzo.wpengine.netdna-cdn.com\/[...]
