---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 691A0745961845ED9FDB7E7CF092D7ED
      X-Msedge-Clientid:
      - 34747238230365CE2E87780522946456
      X-Msapi-Userstate:
      - '3917'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=6B44533AA99F4B1EAE914697254A5487&CID=34747238230365CE2E87780522946456&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=6B44533AA99F4B1EAE914697254A5487&CID=34747238230365CE2E87780522946456&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5456.1", "totalEstimatedMatches": 11300000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USAJOBS - The Federal Government''s Official Jobs Site", "url": "https:\/\/www.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5090.1", "about": [{"name": "USAJobs"}], "displayUrl":
        "https:\/\/www.usajobs.gov", "snippet": "USAJOBS is the Federal Government''s
        official one-stop source for Federal jobs and employment information.",
        "deepLinks": [{"name": "Sign In", "url": "https:\/\/my.usajobs.gov\/Account\/Login",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Veterans", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/veterans\/",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Students", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/students\/",
        "urlPingSuffix": "DevEx,5081.1"}, {"name": "VA JOBS", "url": "https:\/\/www.usajobs.gov\/jobsearch\/search\/getresults?OrganizationID=VA",
        "urlPingSuffix": "DevEx,5082.1"}, {"name": "Senior Executives", "url": "https:\/\/www.usajobs.gov\/SeniorExecutives",
        "urlPingSuffix": "DevEx,5083.1"}, {"name": "FBI", "url": "https:\/\/fbi.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5084.1"}], "dateLastCrawled": "2017-03-01T18:23:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "State
        of California Jobs", "url": "http:\/\/www.jobs.ca.gov\/", "urlPingSuffix":
        "DevEx,5108.1", "displayUrl": "www.jobs.ca.gov", "snippet": "Getting a job
        with the State of California is now simpler than ever. Start by creating
        a CalCareer account. With an account, you can take state civil service ...",
        "deepLinks": [{"name": "Job Vacancy [...]
- request:
    method: get
    uri: https://api.usa.gov/jobs/search.json?hl=1&query=jobs&size=10&tags=federal
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0e9d3730c75800bb927fcaac72cda282-gzip"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"usajobs:465220600","position_title":"Electronic Integrated
        System Mechanic","organization_name":"Air National Guard Units (Title 32)","rate_interval_code":"PH","minimum":38,"maximum":45,"start_date":"2017-03-03","end_date":"2017-03-17","locations":["Middle
        River, MD"],"url":"https://www.usajobs.gov/GetJob/ViewDetails/465220600"},{"id":"usajobs:465221000","position_title":"SUPERVISORY
        INTELLIGENCE SPECIALIST","organization_name":"U.S. Marine Corps","rate_interval_code":"PA","minimum":112021,"maximum":145629,"start_date":"2017-03-06","end_date":"2017-03-13","locations":["Quantico,
        VA"],"url":"https://www.usajobs.gov/GetJob/ViewDetails/465221000"},{"id":"usajobs:465221300","position_title":"Medical
        Instrument [...]
