---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 44A487E24C28406E8D11A5932D651119
      X-Msedge-Clientid:
      - 201FA3CE7BA46D0C2CA3A8C67A336CB0
      X-Msapi-Userstate:
      - '9208'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=61299E69D43E44F4965895EF1F0BC2E9&CID=201FA3CE7BA46D0C2CA3A8C67A336CB0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=61299E69D43E44F4965895EF1F0BC2E9&CID=201FA3CE7BA46D0C2CA3A8C67A336CB0&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5506.1", "totalEstimatedMatches": 49400000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "CA Jobs", "url": "http:\/\/www.jobs.ca.gov\/", "urlPingSuffix": "DevEx,5087.1",
        "displayUrl": "www.jobs.ca.gov", "snippet": "The State of California offers
        a wide variety of careers and jobs, ranging from accounting to zoology.
        The services our employees provide are truly ...", "deepLinks": [{"name":
        "Job Vacancy Search", "url": "http:\/\/jobs.ca.gov\/CalHRPublic\/Search\/LegacyJobSearchRedirect.aspx",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Calcareer Sign In", "url": "http:\/\/www.jobs.ca.gov\/CalHRPublic\/Login.aspx",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Job Seekers", "url": "http:\/\/www.americasjobcenter.ca.gov\/Job_Seekers.aspx",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Calhr", "url": "http:\/\/www.calhr.ca.gov\/",
        "urlPingSuffix": "DevEx,5081.1"}], "dateLastCrawled": "2017-09-17T17:35:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Jobs
        and Career Information | USAGov", "url": "https:\/\/www.usa.gov\/jobs-careers",
        "urlPingSuffix": "DevEx,5103.1", "displayUrl": "https:\/\/www.usa.gov\/jobs-careers",
        "snippet": "Jobs and Career Information. Find information about different
        career fields. Animal Care and Science. Find career information about animal
        science and care.", "dateLastCrawled": "2017-09-22T02:35:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "USAJOBS - The
        Federal Government''s Official Jobs Site", "url": "https:\/\/www.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5130.1", "about": [{"name": "USAJobs"}], "displayUrl":
        "https:\/\/www.usajobs.gov", "snippet": "USAJOBS is the Federal Government''s
        official one-stop source for Federal jobs and employment information.",
        "dateLastCrawled": "2017-09-16T22:11:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3",
        "name": "SPD: Home - IN.gov", "url": "http:\/\/in.gov\/jobs\/", "urlPingSuffix":
        "DevEx,5145.1", "displayUrl": "in.gov\/jobs", "snippet": "Search for [...]
- request:
    method: get
    uri: https://api.usa.gov/jobs/search.json?hl=1&query=jobs&size=10&tags=federal
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6faea98c2bf8082e12d2d1ecfe7f9874"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"usajobs:480078700","position_title":"Diagnostic Radiologic
        Technologist (CT/X-Ray)","organization_name":"Veterans Affairs, Veterans Health
        Administration","rate_interval_code":"PA","minimum":64881,"maximum":77859,"start_date":"2017-09-25","end_date":"2017-10-16","locations":["Philadelphia,
        PA"],"url":"https://www.usajobs.gov/GetJob/ViewDetails/480078700"},{"id":"usajobs:480232900","position_title":"Supervisory
        Medical Officer - DH - NIAID","organization_name":"National Institutes of
        Health","rate_interval_code":"PA","minimum":131767,"maximum":161900,"start_date":"2017-09-25","end_date":"2017-09-29","locations":["Montgomery
        County, MD"],"url":"https://www.usajobs.gov/GetJob/ViewDetails/480232900"},{"id":"usajobs:480273300","position_t[...]
