---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 77952876B0DF4D0A992B9AB7EC496048
      X-Msedge-Clientid:
      - 1FB4F631719265A80E2FFC8E700564B0
      X-Msapi-Userstate:
      - cd33
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E151195DE19F494F8ED79F53CA9A89B2&CID=1FB4F631719265A80E2FFC8E700564B0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E151195DE19F494F8ED79F53CA9A89B2&CID=1FB4F631719265A80E2FFC8E700564B0&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5475.1", "totalEstimatedMatches": 31300000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USAJOBS - The Federal Government''s Official Jobs Site", "url": "https:\/\/www.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5090.1", "about": [{"name": "USAJobs"}], "displayUrl":
        "https:\/\/www.usajobs.gov", "snippet": "USAJOBS is the Federal Government''s
        official one-stop source for Federal jobs and employment information.",
        "deepLinks": [{"name": "Sign In", "url": "http:\/\/my.usajobs.gov\/Applicant\/ProfileDashboard\/Home",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Veterans", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/veterans\/",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Search Jobs", "url": "http:\/\/jobsearch.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Students", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/students\/",
        "urlPingSuffix": "DevEx,5081.1"}, {"name": "Help", "url": "https:\/\/www.usajobs.gov\/Help\/",
        "urlPingSuffix": "DevEx,5082.1"}, {"name": "FBI", "url": "https:\/\/fbi.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5083.1"}], "dateLastCrawled": "2017-07-09T11:05:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "CA Jobs",
        "url": "http:\/\/www.jobs.ca.gov\/", "urlPingSuffix": "DevEx,5107.1", "displayUrl":
        "www.jobs.ca.gov", "snippet": "The State of California offers a wide variety
        of careers and jobs, ranging from accounting to zoology. The services our
        employees provide are truly ...", "deepLinks": [{"name": "Job Vacancy Search",
        "url": "http:\/\/j[...]
- request:
    method: get
    uri: https://api.usa.gov/jobs/search.json?hl=1&query=jobs&size=10&tags=federal
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b8968dc8cdab6817f588c3f44ea91dc3-gzip"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"usajobs:474433100","position_title":"SHEET METAL MECHANIC (ACFT)","organization_name":"Air
        National Guard Units (Title 32)","rate_interval_code":"PH","minimum":32,"maximum":38,"start_date":"2017-07-13","end_date":"2017-08-15","locations":["Andrews
        AFB, MD"],"url":"https://www.usajobs.gov/GetJob/ViewDetails/474433100"},{"id":"usajobs:474434000","position_title":"Maintenance
        Worker","organization_name":"U.S. Army Joint Munitions Command","rate_interval_code":"PH","minimum":19,"maximum":22,"start_date":"2017-07-13","end_date":"2017-07-27","locations":["McAlester,
        OK"],"url":"https://www.usajobs.gov/GetJob/ViewDetails/474434000"},{"id":"usajobs:474435600","position_title":"SUPERVISORY
        FACILITY OPERATI[...]
