---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=jobs%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 45D4DBCEC9654F539D37883208F7CB44
      X-Msedge-Clientid:
      - 0E2AB436054C64D8299BBFA804A965CF
      X-Msapi-Userstate:
      - d452
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=64B392C7471D42CEA36D5E01128733D2&CID=0E2AB436054C64D8299BBFA804A965CF&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=64B392C7471D42CEA36D5E01128733D2&CID=0E2AB436054C64D8299BBFA804A965CF&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5527.1", "totalEstimatedMatches": 15100000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USAJOBS - The Federal Government''s Official Jobs Site", "url": "https:\/\/www.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5101.1", "about": [{"name": "USAJobs"}, {"name": "USAJobs"}],
        "displayUrl": "https:\/\/www.usajobs.gov", "snippet": "USAJOBS is the Federal
        Government''s official one-stop source for Federal jobs and employment information.",
        "deepLinks": [{"name": "Sign In", "url": "http:\/\/my.usajobs.gov\/Applicant\/ProfileDashboard\/Home",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "Veterans", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/veterans\/",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Search Jobs", "url": "http:\/\/jobsearch.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "Students", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/students\/",
        "urlPingSuffix": "DevEx,5091.1"}, {"name": "Create Account", "url": "https:\/\/login.usajobs.gov\/account\/Create",
        "urlPingSuffix": "DevEx,5092.1"}, {"name": "FBI", "url": "https:\/\/fbi.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5093.1"}], "dateLastCrawled": "2018-02-15T01:46:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "SPD: Home
        - IN.gov", "url": "http:\/\/in.gov\/jobs\/", "urlPingSuffix": "DevEx,5116.1",
        "about": [{"name": "United States Department of Veterans Affairs"}], "displayUrl":
        "in.gov\/jobs", "snippet": "Search for jobs with Indiana State Government;
        Learn more about working for the state of Indiana; View my current benefits
        summary; Ask SPD[...]
- request:
    method: get
    uri: https://jobs.search.gov/jobs/search.json?hl=1&query=jobs&size=10&tags=federal
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"18eacab73d4f2b3cb9e3b0ae00de8cba"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"usajobs:491993400","position_title":"Administrative Technician
        (OA)","organization_name":"Bureau of Land Management","rate_interval_code":"PA","minimum":33394,"maximum":52893,"start_date":"2018-02-22","end_date":"2018-02-28","locations":["Bishop,
        CA"],"url":"https://www.usajobs.gov/GetJob/ViewDetails/491993400"},{"id":"usajobs:491993300","position_title":"Supervisory
        Range Technician (Fire)","organization_name":"Bureau of Land Management","rate_interval_code":"PA","minimum":36802,"maximum":53169,"start_date":"2018-02-21","end_date":"2018-03-05","locations":["Wickenburg,
        AZ"],"url":"https://www.usajobs.gov/GetJob/ViewDetails/491993300"},{"id":"usajobs:491993000","position_title":"Civil
        Engineer, G[...]
