---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=jobs%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 45D4DBCEC9654F539D37883208F7CB44
      X-Msedge-Clientid:
      - 0E2AB436054C64D8299BBFA804A965CF
      X-Msapi-Userstate:
      - d452
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=64B392C7471D42CEA36D5E01128733D2&CID=0E2AB436054C64D8299BBFA804A965CF&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=64B392C7471D42CEA36D5E01128733D2&CID=0E2AB436054C64D8299BBFA804A965CF&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5527.1", "totalEstimatedMatches": 15100000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USAJOBS - The Federal Government''s Official Jobs Site", "url": "https:\/\/www.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5101.1", "about": [{"name": "USAJobs"}, {"name": "USAJobs"}],
        "displayUrl": "https:\/\/www.usajobs.gov", "snippet": "USAJOBS is the Federal
        Government''s official one-stop source for Federal jobs and employment information.",
        "deepLinks": [{"name": "Sign In", "url": "http:\/\/my.usajobs.gov\/Applicant\/ProfileDashboard\/Home",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "Veterans", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/veterans\/",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Search Jobs", "url": "http:\/\/jobsearch.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "Students", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/students\/",
        "urlPingSuffix": "DevEx,5091.1"}, {"name": "Create Account", "url": "https:\/\/login.usajobs.gov\/account\/Create",
        "urlPingSuffix": "DevEx,5092.1"}, {"name": "FBI", "url": "https:\/\/fbi.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5093.1"}], "dateLastCrawled": "2018-02-15T01:46:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "SPD: Home
        - IN.gov", "url": "http:\/\/in.gov\/jobs\/", "urlPingSuffix": "DevEx,5116.1",
        "about": [{"name": "United States Department of Veterans Affairs"}], "displayUrl":
        "in.gov\/jobs", "snippet": "Search for jobs with Indiana State Government;
        Learn more about working for the state of Indiana; View my current benefits
        summary; Ask SPD[...]
- request:
    method: get
    uri: https://jobs.search.gov/jobs/search.json?hl=1&query=jobs&size=10&tags=federal
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"18eacab73d4f2b3cb9e3b0ae00de8cba"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"usajobs:491993400","position_title":"Administrative Technician
        (OA)","organization_name":"Bureau of Land Management","rate_interval_code":"PA","minimum":33394,"maximum":52893,"start_date":"2018-02-22","end_date":"2018-02-28","locations":["Bishop,
        CA"],"url":"https://www.usajobs.gov/GetJob/ViewDetails/491993400"},{"id":"usajobs:491993300","position_title":"Supervisory
        Range Technician (Fire)","organization_name":"Bureau of Land Management","rate_interval_code":"PA","minimum":36802,"maximum":53169,"start_date":"2018-02-21","end_date":"2018-03-05","locations":["Wickenburg,
        AZ"],"url":"https://www.usajobs.gov/GetJob/ViewDetails/491993300"},{"id":"usajobs:491993000","position_title":"Civil
        Engineer, G[...]
- request:
    method: get
    uri: https://data.usajobs.gov/api/search?Keyword=jobs&ResultsPerPage=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization-Key:
      - "<JOBS_AUTHORIZATION_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hr+json
    body:
      encoding: UTF-8
      string: '{"LanguageCode":"EN","SearchParameters":{},"SearchResult":{"SearchResultCount":10,"SearchResultCountAll":779,"SearchResultItems":[{"MatchedObjectId":"510075500","MatchedObjectDescriptor":{"PositionID":"VA-18-15717","PositionTitle":"Banquet
        Wait Staff","PositionURI":"https://www.usajobs.gov:443/GetJob/ViewDetails/510075500","ApplyURI":["https://www.usajobs.gov:443/GetJob/ViewDetails/510075500?PostingChannelID=RESTAPI"],"PositionLocationDisplay":"Naval
        Shipyard, Portsmouth, Virginia","PositionLocation":[{"LocationName":"Naval
        Shipyard, Portsmouth, Virginia","CountryCode":"United States","CountrySubDivisionCode":"Virginia","CityName":"Naval
        Shipyard, Portsmouth, Virginia","Longitude":-76.29812,"Latitude":36.8030968}],"OrganizationName":"Commander,
        Navy Installations","DepartmentName":"Department of the Navy","JobCategory":[{"Name":"Waiter","Code":"7420"}],"JobGrade":[{"Code":"NA"}],"PositionSchedule":[{"Name":"Flexible","Code":"4"}],"PositionOfferingType":[{"Name":"Permanent","Code":"15317"}],"QualificationSummary":"Specialized
        experience must demonstrate the following: Must possess working knowledge
        of sanitation practices and procedures. Knowledge of proper food handling
        techniques such as the correct sides to serve and remove from. A minimum of
        six months experience is strongly preferred. You will receive credit for all
        qualifying experience, including volunteer and part time experience. You must
        clearly identify the duties and responsibilities in each pos[...]
- request:
    method: get
    uri: https://data.usajobs.gov/api/search?Keyword=jobs&LocationName&Organization&ResultsPerPage=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization-Key:
      - "<JOBS_AUTHORIZATION_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hr+json
    body:
      encoding: UTF-8
      string: '{"LanguageCode":"EN","SearchParameters":{},"SearchResult":{"SearchResultCount":1[...]
- request:
    method: get
    uri: https://data.usajobs.gov/api/search?Keyword=&LocationName&Organization&ResultsPerPage=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization-Key:
      - "<JOBS_AUTHORIZATION_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hr+json
    body:
      encoding: UTF-8
      string: '{"LanguageCode":"EN","SearchParameters":{},"SearchResult":{"SearchResultCount":10,"S[...]
- request:
    method: get
    uri: https://data.usajobs.gov/api/search?Keyword=&LocationName&Organization&Radius=75&ResultsPerPage=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization-Key:
      - "<JOBS_AUTHORIZATION_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hr+json
    body:
      encoding: UTF-8
      string: '{"LanguageCode":"EN","SearchParameters":{},"SearchResult":{"SearchResultCo[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=jobs%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0027225B24AC40B6A295BCD622293F4F
      Bingapis-Sessionid:
      - 6EC29DA80F624B3EB677BAF8D2A2F8DC
      X-Msedge-Clientid:
      - 365C135CF6A36FAB1DAE1FA6F7EF6E8E
      X-Msapi-Userstate:
      - '6343'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=214,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "jobs
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 28000000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "USAJOBS - The Federal Government''s Official Jobs Site", "url":
        "https:\/\/www.usajobs.gov\/", "about": [{"name": "USAJOBS"}, {"name": "USAJOBS"}],
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usajobs.gov", "snippet":
        "USAJOBS is the Federal Government''s official one-stop source for Federal
        jobs and employment information.", "dateLastCrawled": "2019-01-30T21:53:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Job Search Results", "url": "https:\/\/jobs.ca.gov\/CalHRPublic\/Search\/JobSearchResults.aspx",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/jobs.ca.gov\/CalHRPublic\/Search\/JobSearchResults.aspx",
        "snippet": "Note: documents in Portable Document Format (PDF) require Adobe
        Acrobat Reader 5.0 or higher to view download Adobe Acrobat Reader.", "dateLastCrawled":
   [...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=blablah%20jobs%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 366C29F5DCD94532AA1CBF777F7DC68C
      Bingapis-Sessionid:
      - BB044E895BD04349B5F830BE4F6F08E8
      X-Msedge-Clientid:
      - 32908CF7CCB8643210D8800DCDF4652F
      X-Msapi-Userstate:
      - 2cc2
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=140,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "blablah
        jobs (site:gov OR site:mil)"}, "rankingResponse": {}}'
  recorded_at: Tue, 05 Feb 2019 21:46:56 GMT
- request:
    method: get
    uri: https://data.usajobs.gov/api/search?Keyword=blablah&LocationName&Organization&Radius=75&ResultsPerPage=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization-Key:
      - "<JOBS_AUTHORIZATION_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hr+json
    body:
      encoding: UTF-8
      string: '{"LanguageCode":"EN","SearchParameters":{},"SearchResult":{"SearchResultCount":0,"SearchResultCountAll":0,"SearchResultItems":[],"UserArea":{"NumberOfPages":"0","IsRadialSearch":false}}}'
  recorded_at: Tue, 05 Feb 2019 21:46:56 GMT
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=blablah%20trabajo%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; c[...]
- request:
    method: get
    uri: https://data.usajobs.gov/api/search?Keyword=blablah&LocationName&Organization&Radius=75&ResultsPerPage=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization-Key:
      - "<JOBS_AUTHORIZATION_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hr+json
    body:
      encoding: UTF-8
      string: '{"LanguageCode":"EN","SearchParameters":{},"SearchResult":{"SearchResultCount":0,"SearchResultCountAll":0,"SearchResultItems":[],"UserArea":{"NumberOfPages":"0","IsRadialSearch":false}}}'
  recorded_at: Tue, 05 Feb 2019 21:46:57 GMT
recorded_with: VCR 4.0.0
