---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - EDFAB4ACD60E4F9DA3774916C39BD65A
      X-Msedge-Clientid:
      - 0AAEF0545FAD671504A1FB135E3A6699
      X-Msapi-Userstate:
      - '2131'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B4447264C77D44709005663A82150263&CID=0AAEF0545FAD671504A1FB135E3A6699&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B4447264C77D44709005663A82150263&CID=0AAEF0545FAD671504A1FB135E3A6699&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5513.1", "totalEstimatedMatches": 28800000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "CA Jobs", "url": "http:\/\/www.jobs.ca.gov\/", "urlPingSuffix": "DevEx,5098.1",
        "displayUrl": "www.jobs.ca.gov", "snippet": "The State of California offers
        a wide variety of careers and jobs, ranging from accounting to zoology.
        The services our employees provide are truly ...", "deepLinks": [{"name":
        "Job Vacancy Search", "url": "http:\/\/jobs.ca.gov\/CalHRPublic\/Search\/LegacyJobSearchRedirect.aspx",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Calcareer Sign In", "url": "http:\/\/www.jobs.ca.gov\/CalHRPublic\/Login.aspx",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "Job Seekers", "url": "http:\/\/www.americasjobcenter.ca.gov\/Job_Seekers.aspx",
        "urlPingSuffix": "DevEx,5091.1"}, {"name": "Calhr", "url": "http:\/\/www.calhr.ca.gov\/",
        "urlPingSuffix": "DevEx,5092.1"}], "dateLastCrawled": "2017-11-20T23:10:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "SPD:
        Home", "url": "http:\/\/www.jobs.in.gov\/", "urlPingSuffix": "DevEx,5113.1",
        "displayUrl": "www.jobs.in.gov", "snippet": "Search for jobs with Indiana
        State Government; Learn more about working for the state of Indiana; View
        my current benefits summary; Ask SPD a question related to my ...", "dateLastCrawled":
        "2017-11-22T07:32:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "USAJOBS - The Federal Government''s Official Jobs Site", "url":
        "https:\/\/www.usajobs.gov\/", "urlPingSuffix": "DevEx,5140.1", "about": [{"name":
        "USAJobs"}], "displayUrl": "https:\/\/www.usajobs.gov", "snippet": "USAJOBS
        is the Federal Government''s official one-stop source for Federal jobs and
        employment information.", "dateLastCrawled": "2017-11-21T05:24:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "Employment",
        "url": "http:\/\/nv.gov\/employment\/", "urlPingSuffix": "DevEx,5154.1", "displayUrl":
        "nv.gov\/employment", "snippet": "Abou[...]
- request:
    method: get
    uri: https://api.usa.gov/jobs/search.json?hl=1&query=jobs&size=10&tags=federal
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8bcb0bdb7b149bb74dcc7fd62e69a1eb"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"usajobs:485188600","position_title":"Staff Nurse (Nurse Educator)","organization_name":"Veterans
        Affairs, Veterans Health Administration","rate_interval_code":"PA","minimum":71969,"maximum":123100,"start_date":"2017-11-27","end_date":"2017-12-11","locations":["Long
        Beach, CA"],"url":"https://www.usajobs.gov/GetJob/ViewDetails/485188600"},{"id":"usajobs:485188700","position_title":"Lead
        Visitor Services Information Assistant","organization_name":"Forest Service","rate_interval_code":"PH","minimum":17,"maximum":17,"start_date":"2017-11-27","end_date":"2017-11-29","locations":["Challis,
        ID"],"url":"https://www.usajobs.gov/GetJob/ViewDetails/485188700"},{"id":"usajobs:485188800","position_title":"Forestry
        Technician","org[...]
