---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 51B934F1F2874D8DAD4F07281DBD1FAC
      X-Msedge-Clientid:
      - 3346B2F2CF3F668407FBB8CCCEA86763
      X-Msapi-Userstate:
      - 71d2
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C1716C8D3CFE4A1094D9C4C5D60AD10A&CID=3346B2F2CF3F668407FBB8CCCEA86763&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C1716C8D3CFE4A1094D9C4C5D60AD10A&CID=3346B2F2CF3F668407FBB8CCCEA86763&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5477.1", "totalEstimatedMatches": 11300000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USAJOBS - The Federal Government''s Official Jobs Site", "url": "https:\/\/www.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5090.1", "about": [{"name": "USAJobs"}], "displayUrl":
        "https:\/\/www.usajobs.gov", "snippet": "USAJOBS is the Federal Government''s
        official one-stop source for Federal jobs and employment information.",
        "deepLinks": [{"name": "Sign In", "url": "https:\/\/my.usajobs.gov\/Account\/Login",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Veterans", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/veterans\/",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Students", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/students\/",
        "urlPingSuffix": "DevEx,5081.1"}, {"name": "VA JOBS", "url": "https:\/\/www.usajobs.gov\/jobsearch\/search\/getresults?OrganizationID=VA",
        "urlPingSuffix": "DevEx,5082.1"}, {"name": "Senior Executives", "url": "https:\/\/www.usajobs.gov\/SeniorExecutives",
        "urlPingSuffix": "DevEx,5083.1"}, {"name": "FBI", "url": "https:\/\/fbi.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5084.1"}], "dateLastCrawled": "2017-03-03T22:54:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "jobs.ca.gov
        - CalCareer Login", "url": "http:\/\/www.jobs.ca.gov\/", "urlPingSuffix":
        "DevEx,5107.1", "displayUrl": "www.jobs.ca.gov", "snippet": "Search and
        Apply for Jobs For more information on the hiring process. What’s New on
        the California Jobs website: Getting a job with the State of ...", "deepLinks":
        [{"name": "Job Vacancy Search",[...]
- request:
    method: get
    uri: https://api.usa.gov/jobs/search.json?hl=1&query=jobs&size=10&tags=federal
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"69a5b39298ba46e0c1242227d305dede-gzip"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"usajobs:465334200","position_title":"Facilities Manager","organization_name":"Commander,
        Navy Installations","rate_interval_code":"PA","minimum":85000,"maximum":105000,"start_date":"2017-03-06","end_date":"2017-03-13","locations":["Washington
        Navy Yard, DC","Millington, TN"],"url":"https://www.usajobs.gov/GetJob/ViewDetails/465334200"},{"id":"usajobs:465334600","position_title":"CYP
        Training and Curriculum Specialist","organization_name":"Commander, Navy Installations","rate_interval_code":"PH","minimum":25,"maximum":27,"start_date":"2017-03-06","end_date":"2017-03-20","locations":["Naval
        Air Station Whidbey Island, WA"],"url":"https://www.usajobs.gov/GetJob/ViewDetails/465334600"},{"id":"usajobs:[...]
