---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3093089110AD4C37937D4F2A2E6CE6CA
      X-Msedge-Clientid:
      - 2F623BA8C9116800245C31CAC8866904
      X-Msapi-Userstate:
      - '7904'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=92017FD9959E40D192AA002E1CB50D3E&CID=2F623BA8C9116800245C31CAC8866904&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=92017FD9959E40D192AA002E1CB50D3E&CID=2F623BA8C9116800245C31CAC8866904&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5476.1", "totalEstimatedMatches": 13800000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USAJOBS - The Federal Government''s Official Jobs Site", "url": "https:\/\/www.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5092.1", "about": [{"name": "USAJobs"}], "displayUrl":
        "https:\/\/www.usajobs.gov", "snippet": "USAJOBS is the Federal Government''s
        official one-stop source for Federal jobs and employment information.",
        "deepLinks": [{"name": "Sign In", "url": "https:\/\/my.usajobs.gov\/Account\/Login",
        "urlPingSuffix": "DevEx,5081.1"}, {"name": "Veterans", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/veterans\/",
        "urlPingSuffix": "DevEx,5082.1"}, {"name": "Students", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/students\/",
        "urlPingSuffix": "DevEx,5083.1"}, {"name": "VA JOBS", "url": "https:\/\/www.usajobs.gov\/jobsearch\/search\/getresults?OrganizationID=VA",
        "urlPingSuffix": "DevEx,5084.1"}, {"name": "Senior Executives", "url": "https:\/\/www.usajobs.gov\/SeniorExecutives",
        "urlPingSuffix": "DevEx,5085.1"}, {"name": "FBI", "url": "https:\/\/fbi.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5086.1"}], "dateLastCrawled": "2017-04-08T00:41:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "State
        of California Jobs", "url": "https:\/\/jobs.ca.gov\/", "urlPingSuffix":
        "DevEx,5107.1", "displayUrl": "https:\/\/jobs.ca.gov", "snippet": "The new
        version of the jobs.ca.gov website has been operating alongside the existing
        website for more than a month. On Tuesday, April 4th 2017, we will take ...",
        "deepLinks": [{"name": "Job Seeker[...]
- request:
    method: get
    uri: https://api.usa.gov/jobs/search.json?hl=1&query=jobs&size=10&tags=federal
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"766d9388d9cc70dc7f880ea464e7bb8f-gzip"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"usajobs:467501800","position_title":"Cook NA 7404 04","organization_name":"Army
        Installation Management Command","rate_interval_code":"PH","minimum":9,"maximum":11,"start_date":"2017-04-11","end_date":"2017-04-21","locations":["Fort
        Hood, TX"],"url":"https://www.usajobs.gov/GetJob/ViewDetails/467501800"},{"id":"usajobs:467502000","position_title":"Foreign
        Language Teacher Korean","organization_name":"U.S. Army Training and Doctrine
        Command","rate_interval_code":"PA","minimum":28545,"maximum":94185,"start_date":"2017-04-12","end_date":"2017-04-26","locations":["Monterey,
        CA"],"url":"https://www.usajobs.gov/GetJob/ViewDetails/467502000"},{"id":"usajobs:467502400","position_title":"Consum[...]
