---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=jobs%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 3D50648E59A84A4BA839ABA0D56AC834
      Bingapis-Sessionid:
      - FD9C5DFD0C8C4FB484A4F74378B33EF4
      X-Msedge-Clientid:
      - 383A381D37B567B7304528B6364866A5
      X-Msapi-Userstate:
      - c845
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=250,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "jobs
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 29600000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "USAJOBS - The Federal Government''s Official Jobs Site", "url":
        "https:\/\/www.usajobs.gov\/", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usajobs.gov",
        "snippet": "USAJOBS is the Federal Government''s official one-stop source
        for Federal jobs and employment information.", "dateLastCrawled": "2021-09-05T04:21:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "NC.gov: Jobs", "url": "https:\/\/www.nc.gov\/jobs", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.nc.gov\/jobs", "snippet": "Careers within
        the State of North Carolina include public safety, education, transportation,
        and health care. State employees located in each one of the 100 counties in
        North Carolina. We also have listings for jobs in the local sch[...]
- request:
    method: get
    uri: https://data.usajobs.gov/api/search?Keyword=&LocationName&Organization&Radius=75&ResultsPerPage=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization-Key:
      - "<JOBS_AUTHORIZATION_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hr+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"LanguageCode":"EN","SearchParameters":{},"SearchResult":{"SearchResultCount":25,"SearchResultCountAll":10000,"SearchResultItems":[{"MatchedObjectId":"451842500","MatchedObjectDescriptor":{"PositionID":"OARMAV1","PositionTitle":"Attorney
        and Assistant United States Attorney","PositionURI":"https://www.usajobs.gov:443/GetJob/ViewDetails/451842500","ApplyURI":["https://www.usajobs.gov:443/GetJob/ViewDetails/451842500?PostingChannelID="],"PositionLocationDisplay":"Washington,
        District of Columbia","PositionLocation":[{"LocationName":"Washington, District
        of Columbia","CountryCode":"United States","CountrySubDivisionCode":"District
        of Columbia","CityName":"Washington, District of Columbia","Longitude":-77.032,"Latitude":38.8904}],"OrganizationName":"Offices,
        Boards and Divisions","DepartmentName":"Department of Justice","JobCategory":[{"Name":"Attorney","Code":"0905"}],"JobGrade":[{"Code":"GS"}],"PositionSchedule":[{"Name":"Full
        Time","Code":"1"}],"PositionOfferingType":[{"Name":"Multiple Appointment Types","Code":"15327"}],"QualificationSummary":"Given
        the scope of Justice''s legal practice (see component practice areas at http://www.justice.gov/legal-careers/attorneys-vacancies
        ) the needs of each organization and section are defined by its respective
        mission, areas of practice, and the specific skills needed at the time of
        the vacancy. Generally, as the \"Nation''s Litigator,\" Justice seeks attorneys
        with some litigation experience; however, opportunities also exist for attorneys
        with other types of experience, such as legislative review, policy formulation,
        and legal advising.To review the specific requirements, please review the
        vacancy announcements listed on the Department''s web page, http://www.justice.gov/legal-careers/attorneys-vacanciesTECHNICAL
        QUALIFICATIONS:Any attorney who is an active member of the bar of any U.S.
        jurisdiction and has at least one year post-J.D. legal or other relevant experience
        is eligible to apply for any experienced attorney position.Please review the
        information listed in each vacancy announcement. The list of attorney vacancies
        is available at, [http://www.justice.gov/careers/legal/attvancies.html","PositionRemuneration":[{"MinimumRange":"55204.0","MaximumRange":"142180.0","RateIntervalCode":"Per
        Year"}],"PositionStartDate":"12/3/2020","PositionEndDate":"12/02/2021","PublicationStartDate":"12/3/2020","ApplicationCloseDate":"12/02/2021","PositionFormattedDescription":[{"Label":"Dynamic
        Teaser","LabelDescription":"Hit highlighting for keyword searches."}],"UserArea":{"Details":{"JobSummary":"DOJ
        offers a range of opportunities for experienced attorneys to work on significant
        and complex issues facing our nation. The effectiveness of the Department''s
        law enforcement and legal responsibilities depends upon the continued recruitment
        and hiring of excellent and diverse legal talent. We recognize the need for
        attorneys of varied backgrounds and skills, and offer an inclusive environment
        that relies on diverse perspectives to ensure that we effectively serve the
        American people.","WhoMayApply":{"Name":"","Code":""},"LowGrade":"11","HighGrade":"15","OrganizationCodes":"DJ/DJ01","Relocation":"False","HiringPath":["public"],"TotalOpenings":"Many","AgencyMarketingStatement":"","TravelCode":"0","ApplyOnlineUrl":"https://www.avuecentral.com/casting/aiportal/control/toVacancy","DetailStatusUrl":"https://www.avuecentral.com/casting/aiportal/control/toVacancy","MajorDuties":["Experienced
        attorney hiring is decentralized and each office, including the United States
        Attorneys'' Offices, conducts its own recruitment for experienced attorneys.
        Attorney applicants must apply separately to specific vacancy announcements
        listed on the Department''s web page at http://www.justice.gov/legal-careers/attorneys-vacancies.
        For more information about working at the Department and about a particular
        organization within the Department, please consult the Legal Careers web page
        at http://www.justice.gov/legal-careers/attorneys-vacancies. The Department
        of Justice is firmly committed to satisfying its affirmative obligations under
        the Rehabilitation Act of 1973, to ensure that persons with disabilities have
        equal opportunity to be hired and advanced on the basis of merit.If you are
        applying for a position within Justice and meet the eligibility requirements
        for persons with targeted disabilities under 5 C.F.R. 213.3102(u), commonly
        referred to as Schedule A, you may apply to an advertised position through
        the normal channels, or you may also contact the Disability Point of Contact
        (DPOC) http://www.justice.gov/careers/legal/disability-poc.html for component
        or office in which you have an interest for additional assistance."],"Education":"EDUCATION:Any
        attorney who is an active member of the bar of any U.S. jurisdiction and has
        at least one year post-J.D. legal or other relevant experience is eligible
        to apply for any experienced attorney position.","Requirements":"SPECIAL REQUIREMENTS:Please
        review the information listed in each vacancy announcement. The list of attorney
        vacancies is available at, http://www.justice.gov/legal-careers/attorneys-vacancies","Evaluations":"Please
        review the information listed in each vacancy announcement. The list of attorney
        vacancies is available at, http://www.justice.gov/legal-careers/attorneys-vacancies","HowToApply":"PLEASE
        APPLY BY FOLLOWING THE INSTRUCTIONS PROVIDED IN THE VACANCY ANNOUNCEMENTS
        LISTED AT http://www.justice.gov/legal-careers/attorneys-vacancies","WhatToExpectNext":"Applicants
        will be notified if they are selected for an interview.","RequiredDocuments":"Please
        review the information listed in each vacancy announcement. The list of attorney
        vacancies is available at,http://www.justice.gov/legal-careers/attorneys-vacancies","Benefits":"Please
        see the Department''s web page at http://www.justice.gov/legal-careers/attorneys-vacancies","BenefitsUrl":"https://www.avuecentral.com/casting/aiportal/control/viewVacancyStatement?referenceCode=AAAHG&statement=BENEFITS","OtherInformation":"The
        Department of Justice places a high value on diversity of experiences and
        perspectives and encourages applications from all qualified individuals from
        all ethnic and racial backgrounds, veterans, LGBT individuals, and persons
        with disabilities.Some attorney positions, including, Assistant U.S. Attorneys,
        use the AD pay plan. Salary range above does not include locality pay.","KeyRequirements":["http://www.justice.gov/legal-careers/opportunities-experienced-attorneys"],"WithinArea":"False","CommuteDistance":"0","ServiceType":"02","AnnouncementClosingType":"01","AgencyContactEmail":"askoarm@usdoj.gov","AgencyContactPhone":"2025143396","SecurityClearance":"Not
        Required","DrugTestRequired":"True","AdjudicationType":[],"TeleworkEligible":true},"IsRadialSearch":false}},"RelevanceRank":0},{"MatchedObjectId":"463469600","MatchedObjectDescriptor":{"PositionID":"TI-FBIJOBS1627023-17","PositionTitle":"Special
        Agent - Law Enforcement or Military Veteran Background","PositionURI":"https://www.usajobs.gov:443/GetJob/ViewDetails/463469600","ApplyURI":["https://www.usajobs.gov:443/GetJob/ViewDetails/463469600?PostingChannelID="],"PositionLocationDisplay":"Location
        Negotiable After Selection, United States","PositionLocation":[{"LocationName":"Salt
        Lake City, Uta[...]
