---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E7C8EEA5DE5E4C24877F91EB652F74DE
      X-Msedge-Clientid:
      - 1729C3818E536DE61389C9428FC46C24
      X-Msapi-Userstate:
      - ec13
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=64381A4574744607B21DDC3B78BD148B&CID=1729C3818E536DE61389C9428FC46C24&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=64381A4574744607B21DDC3B78BD148B&CID=1729C3818E536DE61389C9428FC46C24&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5482.1", "totalEstimatedMatches": 31000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USAJOBS - The Federal Government''s Official Jobs Site", "url": "https:\/\/www.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5090.1", "about": [{"name": "USAJobs"}], "displayUrl":
        "https:\/\/www.usajobs.gov", "snippet": "USAJOBS is the Federal Government''s
        official one-stop source for Federal jobs and employment information.",
        "deepLinks": [{"name": "Sign In", "url": "http:\/\/my.usajobs.gov\/Applicant\/ProfileDashboard\/Home",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Veterans", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/veterans\/",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Students", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/students\/",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "FBI", "url": "https:\/\/fbi.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5081.1"}, {"name": "New Account", "url": "https:\/\/my.usajobs.gov\/Account\/Account",
        "urlPingSuffix": "DevEx,5082.1"}, {"name": "Help", "url": "https:\/\/www.usajobs.gov\/Help\/",
        "urlPingSuffix": "DevEx,5083.1"}], "dateLastCrawled": "2017-07-14T04:28:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Careers
        at CDC | Jobs | CDC", "url": "https:\/\/jobs.cdc.gov\/", "urlPingSuffix":
        "DevEx,5109.1", "displayUrl": "https:\/\/jobs.cdc.gov", "snippet": "Looking
        to pursue a career in Health Science or Public Health? At CDC, help protect
        the world from health and safety threats, including HIV\/AIDS and E", "deepLinks":
        [{"name": "Career Fields", "u[...]
- request:
    method: get
    uri: https://api.usa.gov/jobs/search.json?hl=1&query=jobs&size=10&tags=federal
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2162f7aea632e4957b3f92aafaf90b7d-gzip"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"usajobs:458183200","position_title":"Registered Nurse - Medical/Surgical","organization_name":"Veterans
        Affairs, Veterans Health Administration","rate_interval_code":"PA","minimum":57858,"maximum":91787,"start_date":"2016-12-02","end_date":"2017-09-29","locations":["Saint
        Louis, MO"],"url":"https://www.usajobs.gov/GetJob/ViewDetails/458183200"},{"id":"usajobs:458809400","position_title":"Registered
        Nurse   ICU","organization_name":"Veterans Affairs, Veterans Health Administration","rate_interval_code":"PA","minimum":57286,"maximum":90884,"start_date":"2016-12-07","end_date":"2017-09-29","locations":["Saint
        Louis, MO"],"url":"https://www.usajobs.gov/GetJob/ViewDetails/458809400"},{"id":"usajobs:459666900","position_title":"Registere[...]
