---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(jobs)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028jobs\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":12900000,"Offset":0,"Results":[{"Title":"USAJOBS
        - The Federal Government\u0027s Official Jobs Site","Description":"USAJOBS
        is the Federal Government\u0027s official one-stop source for Federal jobs
        and employment information.","Url":"https\u003a\u002f\u002fwww.usajobs.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003djobs\u0026d\u003d4736714927375809\u0026w\u003dZNfBqzixAI1qAjlwCnChaPWf5RLP1HPO","DisplayUrl":"https\u003a\u002f\u002fwww.usajobs.gov","DateTime":"2016-12-03T09\u003a43\u003a00Z"},{"Title":"Careers
        - Houston","Description":"City of Houston Careers . Applying for a job with
        the City of Houston. If this is the first time you are applying using our
        on-line job application, you will need to ...","Url":"http\u003a\u002f\u002fwww.houstontx.gov\u002fhr\u002fcareers.html","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003djobs\u0026d\u003d4993596850242221\u0026w\u003dwc_dO9AfjfDe0xvJfqXMgCvWYKMghddr[...]
- request:
    method: get
    uri: http://api.usa.gov/jobs/search.json?hl=1&query=jobs&size=10&tags=federal
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"94c8610c3f060ce49fc94bb22dc558bf-gzip"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"usajobs:458911300","position_title":"Supervisory Inclusive
        Markets Specialist","organization_name":"U.S. Agency for International Development","rate_interval_code":"PA","minimum":128082,"maximum":160300,"start_date":"2016-12-07","end_date":"2016-12-15","locations":["Washington,
        DC"],"url":"https://www.usajobs.gov/GetJob/ViewDetails/458911300"},{"id":"usajobs:458911500","position_title":"Registered
        Nurse: Endoscopy","organization_name":"Veterans Affairs, Veterans Health Administration","rate_interval_code":"PA","minimum":49223,"maximum":99372,"start_date":"2016-12-08","end_date":"2016-12-19","locations":["Albany,
        NY"],"url":"https://www.usajobs.gov/GetJob/ViewDetails/458911500"},{"id":"usajobs:458911700","position_title":"Registered
        Nurse: Endoscopy","organization_name":"Veterans Affairs, Veterans Health Administration","rate_interval_code":"PA","minimum":49223,"maximum":99372,"s[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D18CDAA0914D4976AFB5C1B50B1B070F
      X-Msedge-Clientid:
      - 3CCF8208744A678210D8883E75DD66DA
      X-Msapi-Userstate:
      - dd68
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=0CCDF8285C134B259D451C9737BAAB70&CID=3CCF8208744A678210D8883E75DD66DA&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=0CCDF8285C134B259D451C9737BAAB70&CID=3CCF8208744A678210D8883E75DD66DA&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5457.1", "totalEstimatedMatches": 11400000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USAJOBS - The Federal Government''s Official Jobs Site", "url": "https:\/\/www.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5090.1", "about": [{"name": "USAJobs"}], "displayUrl":
        "https:\/\/www.usajobs.gov", "snippet": "USAJOBS is the Federal Government''s
        official one-stop source for Federal jobs and employment information.",
        "deepLinks": [{"name": "Sign In", "url": "https:\/\/my.usajobs.gov\/Account\/Login",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Veterans", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/veterans\/",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Students", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/students\/",
        "urlPingSuffix": "DevEx,5081.1"}, {"name": "VA JOBS", "url": "https:\/\/www.usajobs.gov\/jobsearch\/search\/getresults?OrganizationID=VA",
        "urlPingSuffix": "DevEx,5082.1"}, {"name": "Senior Executives", "url": "https:\/\/www.usajobs.gov\/SeniorExecutives",
        "urlPingSuffix": "DevEx,5083.1"}, {"name": "FBI", "url": "https:\/\/fbi.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5084.1"}], "dateLastCrawled": "2017-02-21T20:14:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "State
        of California Jobs", "url": "http:\/\/www.jobs.ca.gov\/", "urlPingSuffix":
        "DevEx,5108.1", "displayUrl": "www.jobs.ca.gov", "snippet": "Getting a job
        with the State of California is now simpler than ever. Start by creating
        a CalCareer account. With an account, you can take state civil service ...",
        "deepLinks": [{"name": "Job Vacancy [...]
- request:
    method: get
    uri: https://api.usa.gov/jobs/search.json?hl=1&query=jobs&size=10&tags=federal
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"000e0525e7fd2e1589515c3363ef7014-gzip"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"usajobs:453224000","position_title":"Legal Assis[...]
