---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - DA4C0DCB816446EEA414FAB23A2962CD
      X-Msedge-Clientid:
      - 072B869CC423616F18AE8D10C58C6098
      X-Msapi-Userstate:
      - '4648'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9DE437EF32D2485CBE4443732609A87B&CID=072B869CC423616F18AE8D10C58C6098&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9DE437EF32D2485CBE4443732609A87B&CID=072B869CC423616F18AE8D10C58C6098&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5502.1", "totalEstimatedMatches": 34600000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USAJOBS - The Federal Government''s Official Jobs Site", "url": "https:\/\/www.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5098.1", "about": [{"name": "USAJobs"}, {"name": "USAJobs"},
        {"name": "USAJobs"}], "displayUrl": "https:\/\/www.usajobs.gov", "snippet":
        "USAJOBS is the Federal Government''s official one-stop source for Federal
        jobs and employment information.", "deepLinks": [{"name": "Sign In", "url":
        "http:\/\/my.usajobs.gov\/Applicant\/ProfileDashboard\/Home", "urlPingSuffix":
        "DevEx,5086.1"}, {"name": "Veterans", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/veterans\/",
        "urlPingSuffix": "DevEx,5087.1"}, {"name": "Search Jobs", "url": "http:\/\/jobsearch.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "Students", "url": "https:\/\/www.usajobs.gov\/Help\/working-in-government\/unique-hiring-paths\/students\/",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Create Account", "url": "https:\/\/login.usajobs.gov\/account\/Create",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "FBI", "url": "https:\/\/fbi.usajobs.gov\/",
        "urlPingSuffix": "DevEx,5091.1"}], "dateLastCrawled": "2018-01-27T14:07:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "SPD: Home
        - IN.gov", "url": "http:\/\/in.gov\/jobs\/", "urlPingSuffix": "DevEx,5113.1",
        "displayUrl": "in.gov\/jobs", "snippet": "Search for jobs with Indiana
        State Government; Learn more about working for the state of Indiana; View
        my current benefits summary; Ask SPD a question related to my ...", "dateLastCrawled":
        "2018-01-20T22:07:[...]
- request:
    method: get
    uri: https://jobs.search.gov/jobs/search.json?hl=1&query=jobs&size=10&tags=federal
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9d9afc1e03d64f9a27b81c1df17dda59"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"usajobs:490456300","position_title":"Recreation Assistant,
        Beach Lifeguard","organization_name":"Commander, Navy Installations","rate_interval_code":"PA","minimum":30574,"maximum":30574,"start_date":"2018-02-02","end_date":"2018-02-16","locations":["Pearl
        Harbor Naval Base, HI"],"url":"https://www.usajobs.gov/GetJob/ViewDetails/490456300"},{"id":"usajobs:490456100","position_title":"Assistant
        Hotel Manager NF-03","organization_name":"HQDA Field Operating Agencies and
        Staff Support Agencies","rate_interval_code":"PA","minimum":48000,"maximum":65000,"start_date":"2018-02-02","end_date":"2018-02-09","locations":["Honolulu,
        HI"],"url":"https://www.usajobs.gov/GetJob/ViewDetails/490456100"},{"id":"usajobs:490455[...]
