---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(jobs)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028jobs\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":12900000,"Offset":0,"Results":[{"Title":"USAJOBS
        - The Federal Government\u0027s Official Jobs Site","Description":"USAJOBS
        is the Federal Government\u0027s official one-stop source for Federal jobs
        and employment information.","Url":"https\u003a\u002f\u002fwww.usajobs.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003djobs\u0026d\u003d4736714927375809\u0026w\u003dZNfBqzixAI1qAjlwCnChaPWf5RLP1HPO","DisplayUrl":"https\u003a\u002f\u002fwww.usajobs.gov","DateTime":"2016-12-03T09\u003a43\u003a00Z"},{"Title":"Careers
        - Houston","Description":"City of Houston Careers . Applying for a job with
        the City of Houston. If this is the first time you are applying using our
        on-line job application, you will need to ...","Url":"http\u003a\u002f\u002fwww.houstontx.gov\u002fhr\u002fcareers.html","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003djobs\u0026d\u003d4993596850242221\u0026w\u003dwc_dO9AfjfDe0xvJfqXMgCvWYKMghddr[...]
- request:
    method: get
    uri: http://api.usa.gov/jobs/search.json?hl=1&query=jobs&size=10&tags=federal
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"94c8610c3f060ce49fc94bb22dc558bf-gzip"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"usajobs:458911300","position_title":"Supervisory Inclusive
        Markets Specialist","organization_name":"U.S. Agency for International Development","rate_interval_code":"PA","minimum":128082,"maximum":160300,"start_date":"2016-12-07","end_date":"2016-12-15","locations":["Washington,
        DC"],"url":"https://www.usajobs.gov/GetJob/ViewDetails/458911300"},{"id":"usajobs:458911500","position_title":"Registered
        Nurse: Endoscopy","organization_name":"Veterans Affairs, Veterans Health Administration","rate_interval_code":"PA","minimum":49223,"maximum":99372,"start_date":"2016-12-08","end_date":"2016-12-19","locations":["Albany,
        NY"],"url":"https://www.usajobs.gov/GetJob/ViewDetails/458911500"},{"id":"usajobs:458911700","position_title":"Registered
        Nurse: Endoscopy","organization_name":"Veterans Affairs, Veterans Health Administration","rate_interval_code":"PA","minimum":49223,"maximum":99372,"s[...]
