---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=jobs%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2ED86C898A5240F08DE2D1FF58D12322
      X-Msedge-Clientid:
      - 06E255F39190697F24A25E75903F68A2
      X-Msapi-Userstate:
      - '9629'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E9914693931E4C56A28F14CB4963F219&CID=06E255F39190697F24A25E75903F68A2&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E9914693931E4C56A28F14CB4963F219&CID=06E255F39190697F24A25E75903F68A2&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5512.1", "totalEstimatedMatches": 34100000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "State of California Jobs - CalCareers", "url": "http:\/\/www.jobs.ca.gov\/",
        "urlPingSuffix": "DevEx,5098.1", "about": [{"name": "California"}], "displayUrl":
        "www.jobs.ca.gov", "snippet": "The State of California offers a wide variety
        of careers and jobs, ranging from accounting to zoology. The services our
        employees provide are truly ...", "deepLinks": [{"name": "Log in", "url":
        "https:\/\/jobs.ca.gov\/CalHRPublic\/Login.aspx", "urlPingSuffix": "DevEx,5088.1"},
        {"name": "Advanced Job Search", "url": "https:\/\/jobs.ca.gov\/CalHRPublic\/Search\/AdvancedJobSearch.aspx",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Geographic Job Search", "url":
        "https:\/\/jobs.ca.gov\/CalHRPublic\/Search\/GeographicalJobSearch.aspx",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "Exam \/ Assessment Search", "url":
        "https:\/\/jobs.ca.gov\/CalHRPublic\/Search\/ExamSearch.aspx", "urlPingSuffix":
        "DevEx,5091.1"}], "dateLastCrawled": "2018-01-22T02:27:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "SPD: Home - IN.gov",
        "url": "http:\/\/in.gov\/jobs\/", "urlPingSuffix": "DevEx,5113.1", "displayUrl":
        "in.gov\/jobs", "snippet": "Search for jobs with Indiana State Government;
        Learn more about working for the state of Indiana; View my current benefits
        summary; Ask SPD a question related to my ...", "dateLastCrawled": "2018-01-20T22:07:00.00000[...]
- request:
    method: get
    uri: https://jobs.search.gov/jobs/search.json?hl=1&query=jobs&size=10&tags=federal
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"87eafb2efdca469dc366ab12f291e86b"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"id":"usajobs:489767200","position_title":"Program Impact Specialist","organization_name":"Corporation
        for National and Community Service","rate_interval_code":"PA","minimum":68039,"maximum":93000,"start_date":"2018-01-28","end_date":"2018-02-12","locations":["Washington,
        DC"],"url":"https://www.usajobs.gov/GetJob/ViewDetails/489767200"},{"id":"usajobs:489766500","position_title":"HR
        ASST (MILITARY)","organization_name":"Army National Guard Units (Title 32/Title
        5)","rate_interval_code":"PA","minimum":37223,"maximum":48385,"start_date":"2018-01-28","end_date":"2018-02-12","locations":["Jackson,
        MS"],"url":"https://www.usajobs.gov/GetJob/ViewDetails/489766500"},{"id":"usajobs:489766400","position_title":"Advanced
     [...]
