---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=alcohol%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5B9EF3F3102F4A20AB161E848A967461
      X-Msedge-Clientid:
      - 3BDA99825C7E6774072593E05DE96651
      X-Msapi-Userstate:
      - cbd8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D29633890222484DB5D9B0F7A38591C5&CID=3BDA99825C7E6774072593E05DE96651&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D29633890222484DB5D9B0F7A38591C5&CID=3BDA99825C7E6774072593E05DE96651&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=alcohol+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5479.1", "totalEstimatedMatches": 5810000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "CDC - Frequently Asked Questions - Alcohol", "url": "https:\/\/www.cdc.gov\/alcohol\/faqs.htm",
        "urlPingSuffix": "DevEx,5079.1", "displayUrl": "https:\/\/www.cdc.gov\/alcohol\/faqs.htm",
        "snippet": "Ethyl alcohol, or ethanol, is an intoxicating ingredient found
        in beer, wine, and liquor. Alcohol is produced by the fermentation of yeast,
        sugars, and starches ...", "dateLastCrawled": "2017-04-08T12:53:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Alcohol''s
        Effects on the Body | National Institute on ...", "url": "https:\/\/niaaa.nih.gov\/alcohol-health\/alcohols-effects-body",
        "urlPingSuffix": "DevEx,5096.1", "displayUrl": "https:\/\/niaaa.nih.gov\/alcohol-health\/alcohols-effects-body",
        "snippet": "Drinking too much – on a single occasion or over time – can take
        a serious toll on your health. Here’s how alcohol can affect your body:",
        "deepLinks": [{"name": "Alcohol Consumption", "url": "https:\/\/niaaa.nih.gov\/alcohol-health\/overview-alcohol-consumption",
        "urlPingSuffix": "DevEx,5092.1"}, {"name": "Alcohol Use Disorder", "url":
        "http:\/\/niaaa.nih.gov\/alcohol-health\/overview-alcohol-consumption\/alcohol-use-disorders",
        "urlPingSuffix": "DevEx,5093.1"}], "dateLastCrawled": "2017-04-09T14:47:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Alcohol
        | National [...]
[...]
