---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(gobierno)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028gobierno\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":355000,"Offset":0,"Results":[{"Title":"USA
        - Official Guide to Government Information and Services","Description":"USA.gov
        can help you start your search for government information by topic and agency.","Url":"https\u003a\u002f\u002fwww.usa.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dgobierno\u0026d\u003d5022647986489455\u0026w\u003dZ7i3xDPBRpfsCVZ8QKbGM7O9mXJjhpZE","DisplayUrl":"https\u003a\u002f\u002fwww.usa.gov","DateTime":"2016-12-03T02\u003a03\u003a00Z"},{"Title":"Gobierno
        - Houston","Description":"\u003e Ciudad de Houston \u003e Gobierno. Ciudad
        de Houston Gobierno . Sylvester Turner Alcalde 832.393.1000. sylvester.turner\u0040houstontx.gov
        ... Gobierno\u003b InfoHouston\u003b Residentes\u003b","Url":"http\u003a\u002f\u002fwww.houstontx.gov\u002fespanol\u002fgobierno\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dgobierno\u0026d\u003d47310498616[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(gobierno)%20language:es%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gobierno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 879CD91005794265A3065192CD45190B
      X-Msedge-Clientid:
      - 26FF50F2DB8A661C22D9590DDA1D6705
      X-Msapi-Userstate:
      - 740d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D9488A35CEA34BF7A5B53FC6320CC653&CID=26FF50F2DB8A661C22D9590DDA1D6705&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D9488A35CEA34BF7A5B53FC6320CC653&CID=26FF50F2DB8A661C22D9590DDA1D6705&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gobierno+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5473.1", "totalEstimatedMatches": 408000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Trabajo y desempleo | USAGov - gobierno.usa.gov", "url": "https:\/\/gobierno.usa.gov\/trabajo-y-desempleo",
        "urlPingSuffix": "DevEx,5084.1", "displayUrl": "https:\/\/gobierno.usa.gov\/trabajo-y-desempleo",
        "snippet": "Ayuda del Gobierno para recibir los beneficios de desempleo
        e información sobre las obligaciones tributarias. Empleo y capacitación laboral.",
        "dateLastCrawled": "2016-12-21T12:05:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Portal Oficial del Gobierno de Puerto Rico - pr.gov", "url": "http:\/\/www2.pr.gov\/Pages\/default.aspx",
        "urlPingSuffix": "DevEx,5104.1", "displayUrl": "www2.pr.gov\/Pages\/default.aspx",
        "snippet": "Gobierno Federal; Tercer Sector; Directorios. Directorio de
        Agencias; Directorio de Municipios de Puerto Rico; La Fortaleza; Líneas de
        Ayuda para Emergencias;", "deepLinks": [{"name": "Servicios En Línea", "url":
        "http:\/\/www2.pr.gov\/Pages\/search.aspx", "urlPingSuffix": "DevEx,5096.1"},
        {"name": "Directorio De Agencias", "url": "http:\/\/www2.pr.gov\/Directorios\/Pages\/DirectoriodeAgencias.aspx",
        "urlPingSuffix": "DevEx,5097.1"}, {"name": "Empleos", "url": "http:\/\/www2.pr.gov\/Pages\/empleos.aspx",
        "urlPingSuffix": "DevEx,5098.1"}, {"name": "Certificados", "url": "http:\/\/www2.pr.gov\/Pages\/Certificados.aspx?type=ciudadano",
[...]
[...]
