---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(alcohol)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028alcohol\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":6350000,"Offset":0,"Results":[{"Title":"CDC
        - Frequently Asked Questions - Alcohol","Description":"Ethyl alcohol,
        or ethanol, is an intoxicating ingredient found in beer, wine, and liquor.
        Alcohol is produced by the fermentation of yeast, sugars, and starches ...","Url":"http\u003a\u002f\u002fwww.cdc.gov\u002falcohol\u002ffaqs.htm","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dalcohol\u0026d\u003d4693009327391795\u0026w\u003d-BI0c1hjznpWIjUppwjTe2MKycCStX6V","DisplayUrl":"www.cdc.gov\u002falcohol\u002ffaqs.htm","DateTime":"2016-12-01T02\u003a12\u003a00Z"},{"Title":"Alcohol
        \u007c National Institute on Drug Abuse \u0028NIDA\u0029","Description":"Brief
        Description People drink to socialize, celebrate, and relax. Alcohol often
        has a strong effect on people\u2014and throughout history, people have struggled
        to ...","Url":"https\u003a\u002f\u002fwww.drugabuse.gov\u002fdrugs-abuse\u002falcohol","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dalcohol\u0026d\[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(alcohol)%20language:es%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    b[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=alcohol%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1F6BD444E3D94329A48D2FB6F4D9B695
      X-Msedge-Clientid:
      - 01D46BB95E096AB3089D62465F9E6BC3
      X-Msapi-Userstate:
      - 333d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=2D7E14BDEFAC44649AB4954269DDBEA8&CID=01D46BB95E096AB3089D62465F9E6BC3&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=2D7E14BDEFAC44649AB4954269DDBEA8&CID=01D46BB95E096AB3089D62465F9E6BC3&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=alcohol+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5443.1", "totalEstimatedMatches": 5500000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Alcohol | National Institute on Drug Abuse (NIDA)", "url": "https:\/\/www.drugabuse.gov\/drugs-abuse\/alcohol",
        "urlPingSuffix": "DevEx,5083.1", "displayUrl": "https:\/\/www.drugabuse.gov\/drugs-abuse\/alcohol",
        "snippet": "Brief Description People drink to socialize, celebrate, and relax.
        Alcohol often has a strong effect on people—and throughout history, people
        have struggled to ...", "dateLastCrawled": "2017-01-01T13:55:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Alcohol:
        MedlinePlus", "url": "https:\/\/medlineplus.gov\/alcohol.html", "urlPingSuffix":
        "DevEx,5097.1", "displayUrl": "https:\/\/medlineplus.gov\/alcohol.html",
        "snippet": "Moderate drinking may have a positive effect on your health. But
        drinking can also cause problems. Learn about alcohol effects and benefits.",
        "dateLastCrawled": "2016-1[...]
[...]
