---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=first%20item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 4EA47733A84244FB89100EF7A89FC713
      Bingapis-Sessionid:
      - FD91F197A49F4C4193F0955F8B9F39DB
      X-Msedge-Clientid:
      - 20AAF55584516FD50129E5FE85246ED6
      X-Msapi-Userstate:
      - b12f
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=253,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "first
        item (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=first+item+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 1000000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "NFIRS INCIDENT CODE GUIDE - Oregon", "url": "https:\/\/www.oregon.gov\/osp\/Docs\/NFIRSCodePocketGuide.pdf",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.oregon.gov\/osp\/Docs\/NFIRSCodePocketGuide.pdf",
        "snippet": "The Item First Ignited should be 72 ‐ Light vegeta on (not
        crop), which includes grass, needles, leaves, chaﬀ, mulch, and compost. Provided
        the barkdust (or mulch) is not ar ﬁcial, which most is not, the Material First
        Ignited should be 61 ‐ Wood chips, sawdust, wood shavings.", "dateLastCrawled":
        "2021-09-04T01:48:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "Subpart 9.3—First Article Testing and Approval", "url": "https:\/\/www.acquisition.gov\/sites\/default\/files\/current\/far\/html\/Subpart%209_3.html",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.acquisition.gov\/sites\/default\/files\/current\/far\/html\/Subpart
        9_3.html", "snippet": "The notice shall include the first article shipment
        number, when avail[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=noticia%20uno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; chars[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=first%20item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 436F166433BC4939B8DCEE0E7DC2D714
      Bingapis-Sessionid:
      - 90BBE8CA46FD48C5B651EF889748BD3E
      X-Msedge-Clientid:
      - 14B08590DA9660A815199558DB26612D
      X-Msapi-Userstate:
      - 05ce
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=288[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=noticia%20uno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf[...]
