---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28collection%29+language%3Aen+%28site%3Anoaa.gov%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028collection\u0029
        language\u003aen \u0028site\u003anoaa.gov\u0029"},"Web":{"Total":302000,"Offset":0,"Results":[{"Title":"Collections
        \u007c NOAA Central Library","Description":"Rich collection of digital historical
        documents and maps. ... NOAA Central Library Special Collections features
        prominent authors in the history of ...","Url":"http\u003a\u002f\u002fwww.lib.noaa.gov\u002fcollections.html","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dcollection\u0026d\u003d4778766876544198\u0026w\u003dzdsZ8eHoxu59IdLZveo_60FZo-euOmUg","DisplayUrl":"www.lib.noaa.gov\u002fcollections.html","DateTime":"2016-05-29T09\u003a07\u003a00Z"},{"Title":"NOAA
        200th Collections","Description":"Collections. The history of NOAA is
        more than names and dates\u003a it is about the people, places, and events
        that have helped to shape NOAA into the agency that it is today.","Url":"http\u003a\u002f\u002fcelebrating200years.noaa.gov\u002fcollections.html","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dcollection\u0026d\u003d4859091358327079\u0026w\u003djmDw[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28tuna%29+language%3Aen+%28site%3Anoaa.gov%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      st[...]
