---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(collection)%20language:en%20(site:noaa.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028collection\u0029
        language\u003aen \u0028site\u003anoaa.gov\u0029"},"Web":{"Total":267000,"Offset":0,"Results":[{"Title":"Collections
        \u007c NOAA Central Library","Description":"Rich collection of digital historical
        documents and maps. ... NOAA Central Library Special Collections features
        prominent authors in the history of ...","Url":"http\u003a\u002f\u002fwww.lib.noaa.gov\u002fcollections.html","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dcollection\u0026d\u003d4778766940440626\u0026w\u003drOLleuyD5q99IdLZveo_60FZo-euOmUg","DisplayUrl":"www.lib.noaa.gov\u002fcollections.html","DateTime":"2016-12-02T08\u003a43\u003a00Z"},{"Title":"Digital
        Coast Data Collection","Description":"A data repository created by NOAA
        Office for Coastal Managment for map services, data downloads and creating
        custom maps using data provided by various authoritative ...","Url":"https\u003a\u002f\u002fcoast.noaa.gov\u002fdataregistry\u002fsearch\u002fcollection\u0023\u0021","DisplayUrl":"https\u003a\u002f\u002fcoast.noaa.gov\u002fdataregistry\u002fsearch\u002fcollection","DateT[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(tuna)%20language:en%20(site:noaa.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string[...]
