---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gobierno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - ED176B93496E48C5968D174B186C3F5C
      X-Msedge-Clientid:
      - 256DA1FC82D96F522006AABB834E6EF4
      X-Msapi-Userstate:
      - bae7
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=AE250CF2B5AC42F29D7699640E7A8D3F&CID=256DA1FC82D96F522006AABB834E6EF4&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=AE250CF2B5AC42F29D7699640E7A8D3F&CID=256DA1FC82D96F522006AABB834E6EF4&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gobierno+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5503.1", "totalEstimatedMatches": 1690000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "PR.gov - Portal Oficial del Estado Libre Asociado de ...", "url": "http:\/\/pr.gov\/",
        "urlPingSuffix": "DevEx,5101.1", "about": [{"name": "Puerto Rico"}], "displayUrl":
        "pr.gov", "snippet": "Es el medio oficial de avisos de subastas de todas las
        agencias de la Rama Ejecutiva y las corporaciones públicas del Gobierno
        del Estado Libre Asociado de Puerto ...", "deepLinks": [{"name": "Directorio
        De Agencias", "url": "http:\/\/www2.pr.gov\/directorios\/pages\/directoriodeagencias.aspx",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Empleos", "url": "http:\/\/www2.pr.gov\/Pages\/empleos.aspx",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "Asume", "url": "http:\/\/www.asume.pr.gov\/",
        "urlPingSuffix": "DevEx,5091.1"}, {"name": "Certificados", "url": "http:\/\/www2.pr.gov\/pages\/servicefilter.aspx?cat=certificados&type=ciudadano",
        "urlPingSuffix": "DevEx,5092.1"}, {"name": "Inicio", "url": "http:\/\/www2.pr.gov\/Pages\/default.aspx",
        "urlPingSuffix": "DevEx,5093.1"}], "dateLastCrawled": "2017-11-21T00:52:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Guía oficial
        de información y servicios del Gobierno | USAGov", "url": "https:\/\/gobierno.usa.gov\/",
        "urlPingSuffix": "DevEx,5120.1", "about": [{"name": "GobiernoUSA.gov"}], "displayUrl":
        "https:\/\/gobierno.usa.gov", "snippet": "Página principal de GobiernoUSA.gov,
        el portal oficial del Gobierno de Estados Unidos en español.", "deepLinks":
       [...]
[...]
