---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=collection%20(site:noaa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0F8A64F10ADE4537A7D00622A64CBEC9
      X-Msedge-Clientid:
      - 05723246155760670BF0387B14C061F5
      X-Msapi-Userstate:
      - 22ac
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=99BF685D36B2460180D7D720198BCC97&CID=05723246155760670BF0387B14C061F5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=99BF685D36B2460180D7D720198BCC97&CID=05723246155760670BF0387B14C061F5&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=collection+(site%3anoaa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5527.1", "totalEstimatedMatches": 78400,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Collections | NOAA Central Library", "url": "http:\/\/www.lib.noaa.gov\/collections.html",
        "urlPingSuffix": "DevEx,5079.1", "displayUrl": "www.lib.noaa.gov\/collections.html",
        "snippet": "NOAA Central Library Special Collections features prominent
        ... The NOAA Historical Polar Research Collection home page has been prepared
        to ...", "dateLastCrawled": "2017-03-02T15:51:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Deepwater Horizon Support at NODC", "url": "https:\/\/www.nodc.noaa.gov\/deepwaterhorizon\/specialcollections.html",
        "urlPingSuffix": "DevEx,5092.1", "displayUrl": "https:\/\/www.nodc.noaa.gov\/deepwaterhorizon\/specialcollections.html",
        "snippet": "Data collection efforts for the Deepwater Horizon Oil Spill
        Response were performed by numerous organiza[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=tuna%20(site:noaa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
  [...]
