---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=collection%20(site:noaa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 865D871D6FE646959E5FCAC320FB36D6
      X-Msedge-Clientid:
      - 1BEAB0C02E576E671FB9BB872FC06F76
      X-Msapi-Userstate:
      - 686c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9044FB210A6D441EAB3869298D1B4112&CID=1BEAB0C02E576E671FB9BB872FC06F76&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9044FB210A6D441EAB3869298D1B4112&CID=1BEAB0C02E576E671FB9BB872FC06F76&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=collection+(site%3anoaa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5521.1", "totalEstimatedMatches": 423000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Collections | NOAA Central Library", "url": "http:\/\/www.lib.noaa.gov\/collections.html",
        "urlPingSuffix": "DevEx,5090.1", "displayUrl": "www.lib.noaa.gov\/collections.html",
        "snippet": "Rich collection of digital historical documents and maps. ...
        NOAA Central Library Special Collections features prominent authors in the
        history of ...", "dateLastCrawled": "2017-11-15T21:02:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Digital Coast
        Data", "url": "https:\/\/coast.noaa.gov\/dataregistry\/search\/collection",
        "urlPingSuffix": "DevEx,5108.1", "displayUrl": "https:\/\/coast.noaa.gov\/dataregistry\/search\/collection",
        "snippet": "The Digital Coast was developed to meet the unique needs of the
        coastal management community. The website provides coastal data, and the tools,
        training ...", "dateLastCrawled": "2017-11-18T16:41:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "NOAA 200th: Collections:
        Theodolites", "url": "https:\/\/celebrating200years.noaa.gov\/theodolites\/welcome.html",
        "urlPingSuffix": "DevEx,5124.1", "displayUrl": "https:\/\/celebrating200years.noaa.gov\/theodolites\/welcome.html",
        "snippet": "Used to measure horizontal and vertical angles, the theodolite
        remained the backbone of geodetic surveys from the 1800s until the early 1980s.
        This collection of ...", "dateLastCrawled": "2017-11-21T17:16:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "NOAA 200th:
        Collections - USS Monitor", "url": "https:\/\/celebrating200years.noaa.gov\/monitor\/welcome.html",
        "urlPingSuffix": "DevEx,5140.1", "about": [{"name": "Monitor National Marine
        Sanctuary"}, {"name": "USS Monitor"}], "displayUrl": "https:\/\/celebrating200years.noaa.gov\/monitor\/welcome.html",
        "snippet": "This collection showcases artifacts collected from the Civil
        War ironclad USS Monitor. These artifacts illustrate the technological advancements
        of the Monitor and ...", "dateLastCrawled": "2017-11-20T11:59:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.4", "name":[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=tuna%20(site:noaa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
  [...]
