---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=gobierno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D01588BFB5384AA0A6FEB43766A4E85F
      X-Msedge-Clientid:
      - 0C5F2C9DDC17699022BC20C5DD186836
      X-Msapi-Userstate:
      - 4b70
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=AC36F68CCA9E45AFBD01ACE49BB8A516&CID=0C5F2C9DDC17699022BC20C5DD186836&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=AC36F68CCA9E45AFBD01ACE49BB8A516&CID=0C5F2C9DDC17699022BC20C5DD186836&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gobierno+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5396.1", "totalEstimatedMatches": 2900000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "PR.gov - Portal Oficial del Estado Libre Asociado de ...", "url": "http:\/\/pr.gov\/",
        "urlPingSuffix": "DevEx,5056.1", "about": [{"name": "South Carolina State
        Guard"}, {"name": "Puerto Rico"}], "displayUrl": "pr.gov", "snippet": "Es
        el medio oficial de avisos de subastas de todas las agencias de la Rama Ejecutiva
        y las corporaciones públicas del Gobierno del Estado Libre Asociado de Puerto
        ...", "dateLastCrawled": "2018-08-20T19:49:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Guía oficial de información y servicios del Gobierno | USAGov",
        "url": "https:\/\/gobierno.usa.gov\/", "urlPingSuffix": "DevEx,5068.1", "about":
        [{"name": "GobiernoUSA.gov"}], "displayUrl": "https:\/\/gobierno.usa.gov",
        "snippet": "Página principal de GobiernoUSA.gov, el portal oficial del Gobierno
        de Estados Unidos en español.", "dateLastCrawled": "[...]
[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=gobierno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 70BDEAA6EB7E4011A498A83B249DB313
      Bingapis-Sessionid:
      - 90D48F7CD6464730A915123544727347
      X-Msedge-Clientid:
      - 3B92B1509DB96D8C0390BDD29CF56CBF
      X-Msapi-Userstate:
      - ef45
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=231,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "gobierno
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gobierno+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 3140000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "PR.gov - Portal Oficial del Estado Libre Asociado de ...", "url":
        "http:\/\/www2.pr.gov\/Pages\/default.aspx\/", "about": [{"name": "Puerto
        Rico Ports Authority"}, {"name": "Puerto Rico"}], "isFamilyFriendly": true,
        "displayUrl": "www2.pr.gov\/Pages\/default.aspx", "snippet": "Es el medio
        oficial de avisos de subastas de todas las agencias de la Rama Ejecutiva y
        las corporaciones públicas del Gobierno del Estado Libre Asociado de Puerto
        Rico, según la Ley Núm 205-2012. Ayúdanos a tener un país más seguro", "dateLastCrawled":
        "2018-10-02T07:51:00.0000000Z", "language": "es", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "Guía oficial de información y servicios del Gobierno | USAGov", "url":
        "https:\/\/gobierno.usa.gov\/", "about": [{"name": "GobiernoUSA.gov"}], "isFamilyFriendly":
        true, "displayUrl": "https:\/\/gobierno.usa.gov", "snippet": "Página principal
        de GobiernoUSA.gov, el portal oficial del Gobierno de Estados Unidos en
        español.", "dateLastCrawled": "2018-10-04T09[...]
[...]
