---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=collection%20(site:noaa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - CDF7B3E4694943B9B855075654A7DFD5
      X-Msedge-Clientid:
      - 30AEF02619CA6CB91B79FBAA18656DFF
      X-Msapi-Userstate:
      - b176
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=4782CCA989844A0A8DAB60BA6234B668&CID=30AEF02619CA6CB91B79FBAA18656DFF&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=4782CCA989844A0A8DAB60BA6234B668&CID=30AEF02619CA6CB91B79FBAA18656DFF&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=collection+(site%3anoaa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5495.1", "totalEstimatedMatches": 539000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Water cycle | National Oceanic and Atmospheric Administration", "url":
        "http:\/\/www.noaa.gov\/resource-collections\/water-cycle", "urlPingSuffix":
        "DevEx,5089.1", "about": [{"name": "Water cycle"}, {"name": "Water cycle"}],
        "displayUrl": "www.noaa.gov\/resource-collections\/water-cycle", "snippet":
        "The basic water cycle is relatively simple and is taught as early as ...
        The resources in this Collection can help teachers guide students beyond
        the ...", "dateLastCrawled": "2018-01-28T06:52:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "NOAA Photo Library - Navigating the Collection", "url": "http:\/\/www.photolib.noaa.gov\/collections.html",
        "urlPingSuffix": "DevEx,5107.1", "displayUrl": "www.photolib.noaa.gov\/collections.html",
        "snippet": "National Severe Storms Laboratory (NSSL) Collection - Images
        of tornadoes, other severe storms, and scientific equipment from the NOAA''s
        NS[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=tuna%20(site:noaa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
  [...]
