---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=collection%20(site:noaa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - A1448676FBAB4B09A929B09B8B39FD8E
      Bingapis-Sessionid:
      - 73F5B395414940BEA4252876DC5198B6
      X-Msedge-Clientid:
      - 123EC58478766EBD139AD52F79646F9B
      X-Msapi-Userstate:
      - '2400'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=227,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "collection
        (site:noaa.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=collection+(site%3anoaa.gov)",
        "totalEstimatedMatches": 324000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Collections | NOAA Central Library", "url": "https:\/\/library.noaa.gov\/Collections",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/library.noaa.gov\/Collections",
        "snippet": "Collections. Government Documents & Maps Online Collection
        Federal and congressional publications on oceanography, atmospheric sciences,
        meteorology, coastal zone management, fisheries, satellites, minerals management
        and environmental sciences. Weather and Climate Collections Digital Collection
        Collection of digital weather and climate ...", "dateLastCrawled": "2021-09-02T21:29:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "NOAA Collections | NOAA Central Library", "url": "https:\/\/www.library.noaa.gov\/Collections\/Digital-Docs\/NOAA-Collections",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.library.noaa.gov\/Collections\/Digital-Docs\/NOAA-Collections",
        "snippet": "The collection includes land sketches, Civil War battle maps,
        aeronautical charting from the 1930s to the 1950s[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=tuna%20(site:noaa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=collection%20(site:noaa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 449210AE6AFF4F36973B78EA7F779C3A
      Bingapis-Sessionid:
      - AA58492EAE6641A6B13E60F0CE4580D7
      X-Msedge-Clientid:
      - 0D1E3C95073A65C31BD52C5D06C764DE
      X-Msapi-Userstate:
      - '2699'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=2[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=tuna%20(site:noaa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routi[...]
