---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=collection%20(site:noaa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9E3F2470D1B3457AB8AA261E2444D7F5
      X-Msedge-Clientid:
      - '09EF57F2B6ED655D20895C6CB7086498'
      X-Msapi-Userstate:
      - f335
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=4BC7F2CE80894DB8A59B2A13D942818E&CID=09EF57F2B6ED655D20895C6CB7086498&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=4BC7F2CE80894DB8A59B2A13D942818E&CID=09EF57F2B6ED655D20895C6CB7086498&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=collection+(site%3anoaa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5492.1", "totalEstimatedMatches": 210000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Water cycle | National Oceanic and Atmospheric Administration", "url":
        "http:\/\/www.noaa.gov\/resource-collections\/water-cycle", "urlPingSuffix":
        "DevEx,5088.1", "about": [{"name": "Water cycle"}], "displayUrl": "www.noaa.gov\/resource-collections\/water-cycle",
        "snippet": "The basic water cycle is relatively simple and is taught as early
        as ... The resources in this Collection can help teachers guide students
        beyond the ...", "dateLastCrawled": "2018-02-14T07:44:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "2018 Science
        Olympiad: Meteorology | National Oceanic and ...", "url": "http:\/\/www.noaa.gov\/resource-collections\/2018-science-olympiad-meteorology",
        "urlPingSuffix": "DevEx,5102.1", "displayUrl": "www.noaa.gov\/resource-collections\/2018-science-olympiad-meteorology",
        "snippet": "2018 Science Olympiad: Meteorology. ... NOAA has compiled resources
        from across the agency into one climate-focused collection. Topics include
        the carbon cycle, ...", "dateLastCrawled": "2018-02[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=tuna%20(site:noaa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=collection%20(site:noaa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8616AD20C15740E3A6367251ED31E69C
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=tuna%20(site:noaa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7326163592DE4DB081F3C0AB861CDA60
      [...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=collection%20(site:noaa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 969C02317A224E9AA070F7551E14740C
      Bingapis-Sessionid:
      - 90DC2F6D353841B08C667627F92F7F6B
      X-Msedge-Clientid:
      - 3A7A56CCABB468F11BA55A60AAF86965
      X-Msapi-Userstate:
      - 10e0
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=156,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "collection
        (site:noaa.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=collection+(site%3anoaa.gov)",
        "totalEstimatedMatches": 507000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Collections | NOAA Central Library", "url": "https:\/\/library.noaa.gov\/Collections",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/library.noaa.gov\/Collections",
        "snippet": "TIROS & Satellite Meteorology Digital Collection This collection
        features resources on meteorological satellites and satellite meteorology
        and was initiall created to mark and the celebration of the 50th Anniversary
        of the launch of TIROS I, the first meteorological satellite, in April 1,
        1960.", "dateLastCrawled": "2018-11-09T06:45:00.0000000Z", "language": "en",
        "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "A Collection of Sounds from the Sea - oceanexplorer.noaa.gov",
        "url": "https:\/\/oceanexplorer.noaa.gov\/explorations\/sound01\/background\/seasounds\/seasounds.html",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/oceanexplorer.noaa.gov\/explorations\/sound01\/background\/sea...",
        "snippet": "Spectrograms are a means of visualizing the energy and pitch of
        a p[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=tuna%20(site:noaa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Binga[...]
