---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=collection%20(site:noaa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7F96AFE12CEE49CFBDFE725F47A94BFD
      X-Msedge-Clientid:
      - 0702C02789AD614413E5CB2F883A6036
      X-Msapi-Userstate:
      - 3fba
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=16F3BFA98AF04293A56A1F827C6FAB06&CID=0702C02789AD614413E5CB2F883A6036&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=16F3BFA98AF04293A56A1F827C6FAB06&CID=0702C02789AD614413E5CB2F883A6036&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=collection+(site%3anoaa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5487.1", "totalEstimatedMatches": 114000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "NOAA Seattle Library > Collections", "url": "https:\/\/www.wrclib.noaa.gov\/collections\/collections.html",
        "urlPingSuffix": "DevEx,5076.1", "displayUrl": "https:\/\/www.wrclib.noaa.gov\/collections\/collections.html",
        "snippet": "Special collections in the Library include comprehensive holdings
        on Puget Sound\/Northwest ... The collection contains ...", "dateLastCrawled":
        "2017-09-11T07:56:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Collections | NOAA Central Library", "url": "http:\/\/www.lib.noaa.gov\/collections.html",
        "urlPingSuffix": "DevEx,5091.1", "displayUrl": "www.lib.noaa.gov\/collections.html",
        "snippet": "NOAA Central Library Special Collections features prominent authors
        in ... The NOAA Photo collection spans centuries of time and much of the
        natural world[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=tuna%20(site:noaa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
  [...]
