---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=first%20item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8800F454640A47C7B5F4C62E87CE9A2C
      X-Msedge-Clientid:
      - '0836750CF27563960D2F7E8AF3DA62E9'
      X-Msapi-Userstate:
      - '4657'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=382FA5A37F194FA580208749BFA40BD7&CID=0836750CF27563960D2F7E8AF3DA62E9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=382FA5A37F194FA580208749BFA40BD7&CID=0836750CF27563960D2F7E8AF3DA62E9&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=first+item+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5460.1", "totalEstimatedMatches": 633000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "First-aid Kits (Mandatory). - 1910.266 App A ...", "url": "https:\/\/www.osha.gov\/pls\/oshaweb\/owadisp.show_document?p_table=STANDARDS&p_id=9863",
        "urlPingSuffix": "DevEx,5087.1", "displayUrl": "https:\/\/www.osha.gov\/pls\/oshaweb\/owadisp.show_document?p_table=...",
        "snippet": "The following list sets forth the minimally acceptable number
        and type of first-aid supplies for first-aid kits required under paragraph
        (d)(2) of the logging ...", "dateLastCrawled": "2018-01-21T14:29:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Location
        Agency First Item Last Item Closed File RC ...", "url": "https:\/\/maine.gov\/sos\/arc\/records\/state\/transmittalpart2.pdf",
        "urlPingSuffix": "DevEx,5099.1", "displayUrl": "https:\/\/maine.gov\/sos\/arc\/records\/state\/transmittalpart2.pdf",
        "snippet": "First Item Last Item Closed File Dates RC Retention & (leave
        blank for RM use) FI[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=noticia%20uno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/js[...]
