---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=collection%20(site:noaa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 055C7A12D8AE45678D0C6F219821A01E
      X-Msedge-Clientid:
      - 2DC596FBDCB06F1E20039D7DDD1F6EAF
      X-Msapi-Userstate:
      - c24a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=664ECBA180B84A78811913CB59B2E111&CID=2DC596FBDCB06F1E20039D7DDD1F6EAF&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=664ECBA180B84A78811913CB59B2E111&CID=2DC596FBDCB06F1E20039D7DDD1F6EAF&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=collection+(site%3anoaa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5495.1", "totalEstimatedMatches": 528000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Water cycle | National Oceanic and Atmospheric Administration", "url":
        "http:\/\/www.noaa.gov\/resource-collections\/water-cycle", "urlPingSuffix":
        "DevEx,5088.1", "about": [{"name": "Water cycle"}, {"name": "Water cycle"}],
        "displayUrl": "www.noaa.gov\/resource-collections\/water-cycle", "snippet":
        "The basic water cycle is relatively simple and is taught as early as ...
        The resources in this Collection can help teachers guide students beyond
        the ...", "dateLastCrawled": "2018-01-21T14:30:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Coast Survey''s Historical Map & Chart Collection", "url": "https:\/\/historicalcharts.noaa.gov\/collections.html",
        "urlPingSuffix": "DevEx,5103.1", "displayUrl": "https:\/\/historicalcharts.noaa.gov\/collections.html",
        "snippet": "This page of the Historical Map and Chart Collection is dedicated
        to highlighting a series of maps and\/or charts on a rotatio[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=tuna%20(site:noaa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
  [...]
