---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=alcohol%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 26E10C82AF3A40F7B997420D1D4CDBE3
      X-Msedge-Clientid:
      - 2D99E1F6A0E0622E06DBEA70A14F6372
      X-Msapi-Userstate:
      - 47b2
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B9887E3407C14E37B0218058A0016743&CID=2D99E1F6A0E0622E06DBEA70A14F6372&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B9887E3407C14E37B0218058A0016743&CID=2D99E1F6A0E0622E06DBEA70A14F6372&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=alcohol+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5533.1", "totalEstimatedMatches": 23300000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "CDC - Fact Sheets-Alcohol Use And Health - Alcohol", "url": "https:\/\/www.cdc.gov\/alcohol\/fact-sheets\/alcohol-use.htm",
        "urlPingSuffix": "DevEx,5096.1", "about": [{"name": "Alcohol"}, {"name": "Alcohol"}],
        "displayUrl": "https:\/\/www.cdc.gov\/alcohol\/fact-sheets\/alcohol-use.htm",
        "snippet": "Excessive alcohol use can lead to increased risk of health problems
        such as injuries, violence, liver diseases, and cancer.The CDC Alcohol Program
        works to strengthen ...", "deepLinks": [{"name": "Binge Drinking", "url":
        "https:\/\/www.cdc.gov\/alcohol\/fact-sheets\/binge-drinking.htm", "urlPingSuffix":
        "DevEx,5087.1"}, {"name": "Underage Drinking", "url": "https:\/\/www.cdc.gov\/alcohol\/fact-sheets\/underage-drinking.htm",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "Legal Drinking Age", "url": "https:\/\/www.cdc.gov\/alcohol\/fact-sheets\/minimum-legal-drinking-age.htm",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Caffeine and Alcohol", "url":
        "https:\/\/www.cdc.gov\/alcohol\/fact-sheets\/caffeine-and-alcohol.htm", "urlPingSuffix":
        "DevEx,5090.1"}], "dateLastCrawled": "2018-01-21T09:17:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Alcohol | National
        Institute on Drug Abuse (NIDA)", "url": "https:\/\/www.drugabuse.gov\/drugs-abuse\/alcohol",
        "urlPingSuffix": "DevEx,5114.1", "about": [{"name": "Alcohol"}], "displayUrl":
        "https:\/\/www.drugabuse.gov\/drugs-abuse\/alcohol", "snippet": "Brief
        Description People drink to socialize, celebrate, and relax. Alcohol often
        has[...]
[...]
