---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=alcohol%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9AEDC08A677E4897B32DFC190C3C3B98
      X-Msedge-Clientid:
      - 22E2039383466E9011C2089B82D16FF0
      X-Msapi-Userstate:
      - 92d8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A5EF228C104C453CBFAFF310ACEC63BB&CID=22E2039383466E9011C2089B82D16FF0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A5EF228C104C453CBFAFF310ACEC63BB&CID=22E2039383466E9011C2089B82D16FF0&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=alcohol+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5536.1", "totalEstimatedMatches": 56900000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Alcohol | National Institute on Drug Abuse (NIDA)", "url": "https:\/\/www.drugabuse.gov\/drugs-abuse\/alcohol",
        "urlPingSuffix": "DevEx,5081.1", "displayUrl": "https:\/\/www.drugabuse.gov\/drugs-abuse\/alcohol",
        "snippet": "Brief Description People drink to socialize, celebrate, and relax.
        Alcohol often has a strong effect on people—and throughout history, people
        have struggled to ...", "dateLastCrawled": "2017-09-18T04:06:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "CDC -
        Fact Sheets-Alcohol Use And Health - Alcohol", "url": "https:\/\/www.cdc.gov\/alcohol\/fact-sheets\/alcohol-use.htm",
        "urlPingSuffix": "DevEx,5103.1", "displayUrl": "https:\/\/www.cdc.gov\/alcohol\/fact-sheets\/alcohol-use.htm",
        "snippet": "Excessive alcohol use can lead to increased risk of health problems
        such as injuries, violence, liver diseases, and cancer.The CDC Alcohol Program
        works to strengthen ...", "deepLinks": [{"name": "Binge Drinking", "url":
        "https:\/\/www.cdc.gov\/alcohol\/fact-sheets\/binge-drinking.htm", "urlPingSuffix":
        "DevEx,5095.1"}, {"name": "Underage Drinking", "url": "https:\/\/www.cdc.gov\/alcohol\/fact-sheets\/underage-drinking.htm",
        "urlPingSuffix": "DevEx,5096.1"}, {"name": "Legal Drinking Age", "url": "https:\/\/www.cdc.gov\/alcohol\/fact-sheets\/minimum-legal-drinking-age.htm",
        "urlPingSuffix": "DevEx,5097.1"}, {"name": "Caffeine and Alcohol", "url":[...]
[...]
