---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=alcohol%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 64604B33F82F43C187601A10169FA755
      X-Msedge-Clientid:
      - 030E7D08C564627F2FA677B7C4F363A9
      X-Msapi-Userstate:
      - a199
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9198BDC1CCBD415C9563CA672FE38914&CID=030E7D08C564627F2FA677B7C4F363A9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9198BDC1CCBD415C9563CA672FE38914&CID=030E7D08C564627F2FA677B7C4F363A9&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=alcohol+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5508.1", "totalEstimatedMatches": 14300000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Alcohol''s Effects on the Body | National Institute on ...", "url": "https:\/\/niaaa.nih.gov\/alcohol-health\/alcohols-effects-body",
        "urlPingSuffix": "DevEx,5084.1", "displayUrl": "https:\/\/niaaa.nih.gov\/alcohol-health\/alcohols-effects-body",
        "snippet": "Drinking too much – on a single occasion or over time – can take
        a serious toll on your health. Here’s how alcohol can affect your body:",
        "deepLinks": [{"name": "Alcohol Consumption", "url": "https:\/\/niaaa.nih.gov\/alcohol-health\/overview-alcohol-consumption",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "Moderate & Binge Drinking", "url":
        "https:\/\/www.niaaa.nih.gov\/alcohol-health\/overview-alcohol-consumption\/moderate-binge-drinking",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Alcohol Use Disorder", "url":
        "https:\/\/niaaa.nih.gov\/alcohol-health\/overview-alcohol-consumption\/alcohol-use-disorders",
        "urlPingSuffix": "DevEx,5079.1"}], "dateLastCrawled": "2017-07-06T09:21:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Alcohol
        | National Institute on Drug Abuse (NIDA)", "url": "https:\/\/www.drugabuse.gov\/drugs-abuse\/alcohol",
        "urlPingSuffix": "DevEx,5101.1", "displayUrl": "https:\/\/www.drugabuse.gov\/drugs-abuse\/alcohol",
        "snippet": "Brief Description People drink to socialize, celebrate, and relax.
        Alcohol often has a strong effect on people—and throughou[...]
[...]
