---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=gobierno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659eb0da3929499b96eac900e0b8c5db
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659eb0da3929499b96eac900e0b8c5db
      Bingapis-Sessionid:
      - 2883249655B24681B9668EBCC72A3036
      X-Msedge-Clientid:
      - 381B8BF6E5566208298A9FF4E457633C
      X-Msapi-Userstate:
      - 90e2
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=259,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "gobierno
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gobierno+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 5820000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "La Fortaleza", "url": "https:\/\/www.fortaleza.pr.gov\/comunicados\/gobernador-pierluisi-somete-varios-nombramientos-para-evaluacion-en-la-nueva-sesion-legislativa",
        "datePublished": "2024-01-08T00:00:00.0000000", "datePublishedFreshnessText":
        "2 days ago", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.fortaleza.pr.gov\/comunicados\/gobernador-pierluisi-somete-varios-nombramie...",
        "snippet": "Gobierno de Excelencia. ‍ (8 de enero de 2024)- El gobernador
        de Puerto Rico, Pedro R. Pierluisi, anunció hoy 36 nombramientos que sometió
        a la Asamblea Legislativa para su consideración durante el inicio de la Séptima
        Sesión Ordinaria 2021-2024. Entre los nombramientos sometidos, hay 23 que
        no fueron atendidos en la pasada sesión ...", "dateLastCrawled": "2024-01-09T21:52:00.0000000Z",
        "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=gobierno+(site%3agov+OR+site%3amil)&d=1495287438474&mkt=en-US&setlang=en-US&w=U-6VEBNOtGddrwniU2wTFwuoob5Gazxe",
        "language": "es", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Jenniffer González pide al gobierno y a la Junta hablar claro sobre
        el ...", "url": "https:\/\/gonzalez-colon.house.gov\/media\/press-releases\/jenniffer-gonzalez-pide-al-gobierno-y-la-junta-hablar-claro-sobre-el-aumento",
        "datePublished": "2024-01-03T00:00:00.0000000", "datePublishedDisplayText":
        "Jan 3, 2024", "isFamilyFriendly": true, "displayUrl": "https:\/\/gonzalez-colon.house.gov\/media\/press-releases\/jenniffer-gonzalez-pide-al...",
        "snippet": "San Juan, Puerto Rico- La comisionada residente, Jenniffer González
        Colón, reclamó tanto a la Junta de Supervisión y Administración Financiera
        como al gobierno de Puerto Rico, a que presenten de manera clara lo que
        envuelve el cambio en el cargo adicional por el pago de la deuda que aumentará
    [...]
[...]
