---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=alcohol%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C7D391C053034E6AA62BE404DB25DF42
      X-Msedge-Clientid:
      - 2FFBDE2F643E65901D4ED277653164BA
      X-Msapi-Userstate:
      - 15bd
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E080404A88F64093BFCDAE246FCC8CE9&CID=2FFBDE2F643E65901D4ED277653164BA&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E080404A88F64093BFCDAE246FCC8CE9&CID=2FFBDE2F643E65901D4ED277653164BA&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=alcohol+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5444.1", "totalEstimatedMatches": 23100000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Alcohol''s Effects on the Body | National Institute on ...", "url": "https:\/\/www.niaaa.nih.gov\/alcohol-health\/alcohols-effects-body",
        "urlPingSuffix": "DevEx,5061.1", "about": [{"name": "Alcohol"}], "displayUrl":
        "https:\/\/www.niaaa.nih.gov\/alcohol-health\/alcohols-effects-body",
        "snippet": "Drinking too much – on a single occasion or over time – can take
        a serious toll on your health. Here’s how alcohol can affect your body:
        Brain: Alcohol interferes with the brain’s communication pathways, and can
        affect the way the brain looks and works.", "dateLastCrawled": "2018-08-16T22:24:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Alcohol
        | National Institute on Drug Abuse (NIDA)", "url": "https:\/\/www.drugabuse.gov\/drugs-abuse\/alcohol",
        "urlPingSuffix": "DevEx,5077.1", "about": [{"name": "Alcohol"}], "displayUrl":
        "https:\/\/www.drugabuse.gov\/drugs-abuse\/alcohol", "snippet": "Brief
        Description People drink to socialize, celebrate, and relax. Alcohol often
        has[...]
[...]
