---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gobierno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 51C50459A60747F4AE050177D646C6B0
      X-Msedge-Clientid:
      - 00331C8A220E617A185F16B723996032
      X-Msapi-Userstate:
      - 4ac5
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=29697BA1BDBC4197BCD3C94D084F07D4&CID=00331C8A220E617A185F16B723996032&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=29697BA1BDBC4197BCD3C94D084F07D4&CID=00331C8A220E617A185F16B723996032&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gobierno+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5462.1", "totalEstimatedMatches": 179000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Portal Oficial del Gobierno de Puerto Rico - pr.gov", "url": "http:\/\/www2.pr.gov\/Pages\/default.aspx",
        "urlPingSuffix": "DevEx,5086.1", "displayUrl": "www2.pr.gov\/Pages\/default.aspx",
        "snippet": "Gobierno de Puerto Rico. Inicio Currently selected. Sobre Puerto
        Rico. Datos generales; Constitución de Puerto Rico; Himnos Nacionales; Banderas;
        Escudo; Directorios.", "deepLinks": [{"name": "Directorio De Agencias", "url":
        "http:\/\/www2.pr.gov\/Directorios\/Pages\/DirectoriodeAgencias.aspx", "urlPingSuffix":
        "DevEx,5077.1"}, {"name": "Empleos", "url": "http:\/\/www2.pr.gov\/Pages\/empleos.aspx",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Directorios", "url": "http:\/\/www2.pr.gov\/Directorios\/Pages\/Directorios.aspx",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Gobierno a Gobierno", "url": "http:\/\/www2.pr.gov\/GobiernoAGobierno\/Pages\/default.aspx",
        "urlPingSuffix": "DevEx,5080.1"}], "dateLastCrawled": "2017-03-02T16:27:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Guía oficial
        de información y servicios del Gobierno ...", "url": "https:\/\/gobierno.usa.gov\/",
        "urlPingSuffix": "DevEx,5104.1", "displayUrl": "https:\/\/gobierno.usa.gov",
        "snippet": "Página principal de GobiernoUSA.gov, el portal oficial del Gobierno
        de Estados Unidos en español..", "deepLinks": [{"name": "Trabajo Y Desempleo",
        "url": "ht[...]
[...]
