---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=gov%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 6672B4AAAE0B40E8853D72EF93EDDDB9
      Bingapis-Sessionid:
      - AA37878D6C2A461BBF4EE3D874E9ED57
      X-Msedge-Clientid:
      - 00F971B876426F20258C611377F56E57
      X-Msapi-Userstate:
      - '0819'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=255,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "gov
        (site:usa.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3ausa.gov)",
        "totalEstimatedMatches": 223000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Official Guide to Government Information and ... - USA.gov", "url":
        "https:\/\/www.usa.gov\/", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usa.gov",
        "snippet": "Learn how to prepare for and recover from disasters and emergencies.
        Find government information on energy, green technology, pollution, wildlife,
        and more. Find government information on education including primary, secondary,
        and higher education. Find information for federal, state, and local government
        agencies and elected officials.", "dateLastCrawled": "2021-09-02T01:13:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Government Forms, by Agency | A | USAGov", "url": "https:\/\/www.usa.gov\/forms\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usa.gov\/forms",
        "snippet": "A .gov website belongs to an official government organization
        in the United States. Secure .gov websites use HTTPS A lock ( A locked padlock)
        or https:\/\/ means you’ve safely connected to the .g[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=gov%20(site:.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Rout[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=gov%20(site:search.gov/blog/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    [...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=gobierno%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=gobierno%20(site:.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=gov%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - C39BF3E60F75405F9721B3C8EDE70537
      Bingapis-Sessionid:
      - 0BAEE389456746488FD45BA5EC5A9A23
      X-Msedge-Clientid:
      - 110CD67FD2D968133FA6C6B7D3246954
      X-Msapi-Userstate:
      - e65e
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=267[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=gov%20(site:.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
 [...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=gov%20(site:search.gov/blog/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sn[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=gobierno%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Ro[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=gobierno%20(site:.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routi[...]
