---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gov%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6B6D444E71F34240A4347782EEA85539
      X-Msedge-Clientid:
      - 117947746EDD629535294D4A6F4A6349
      X-Msapi-Userstate:
      - '8504'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5EB5EB7FE766438FA75C607950713A98&CID=117947746EDD629535294D4A6F4A6349&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5EB5EB7FE766438FA75C607950713A98&CID=117947746EDD629535294D4A6F4A6349&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5490.1", "totalEstimatedMatches": 79000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USA.gov - Official Site", "url": "https:\/\/www.usa.gov\/", "urlPingSuffix":
        "DevEx,5090.1", "displayUrl": "https:\/\/www.usa.gov", "snippet": "USA.gov
        is your online guide to government information and services. Learn what you
        can do on this site", "deepLinks": [{"name": "Federal Agencies", "url": "https:\/\/www.usa.gov\/federal-agencies\/a",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Unclaimed Money", "url": "https:\/\/www.usa.gov\/unclaimed-money",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Branches of Government", "url":
        "https:\/\/www.usa.gov\/branches-of-government", "urlPingSuffix": "DevEx,5081.1"}],
        "dateLastCrawled": "2017-03-02T16:08:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Government Agencies and Elected Officials | USA.gov", "url":
        "https:\/\/www.usa.gov\/agencies", "urlPingSuffix": "DevEx,5108.1", "displayUrl":
        "https:\/\/www.usa.gov\/agencies", "snippet": "Find contact information
        for federal, state, and local government agencies; government-related programs;
        and elected officials. A-Z Index of U.S. Government Age[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gov%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 07B1CB1EEDD84826A15826EA3661E5E4
      X-Msedge-Clientid:
      - 2E5AE330A8496E09067EE90EA9DE6F39
      X-Msapi-Userstate:
      - 8cc0
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=BFA6EADA7ABC4ED2B877397CF9AF4BB8&CID=2E5AE330A8496E09067EE90EA9DE6F39&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=BFA6EADA7ABC4ED2B877397CF9AF4BB8&CID=2E5AE330A8496E09067EE90EA9DE6F39&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5489.1", "totalEstimatedMatches": 13700000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USA.gov - Official Site", "url": "https:\/\/www.usa.gov\/", "urlPingSuffix":
        "DevEx,5092.1", "about": [{"name": "Crockett County Head Start"}], "displayUrl":
        "https:\/\/www.usa.gov", "snippet": "USA.gov can help you start your search
        for government information by topic and agency. Skip to main content. An official
        website of the United States government. Here''s how you know. The .gov
        means it''s official ...", "deepLinks": [{"name": "Federal Agencies", "url":
        "https:\/\/www.usa.gov\/federal-agencies\/a", "urlPingSuffix": "DevEx,5081.1"},
        {"[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gobierno%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gobierno%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
  [...]
