---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gobierno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C5A84E1C2CB44FB6A95275EBC922FA79
      X-Msedge-Clientid:
      - 3B30C942B0816BFB2B82C24AB1166A80
      X-Msapi-Userstate:
      - bd54
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A83D4745C4D54F6EA8A3D24531AE7606&CID=3B30C942B0816BFB2B82C24AB1166A80&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A83D4745C4D54F6EA8A3D24531AE7606&CID=3B30C942B0816BFB2B82C24AB1166A80&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gobierno+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5491.1", "totalEstimatedMatches": 1440000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "PR.gov - Portal Oficial del Estado Libre Asociado de ...", "url": "http:\/\/pr.gov\/",
        "urlPingSuffix": "DevEx,5089.1", "about": [{"name": "Puerto Rico"}], "displayUrl":
        "pr.gov", "snippet": "Es el medio oficial de avisos de subastas de todas las
        agencias de la Rama Ejecutiva y las corporaciones públicas del Gobierno
        del Estado Libre Asociado de Puerto ...", "deepLinks": [{"name": "Directorio
        De Agencias", "url": "http:\/\/www2.pr.gov\/Directorios\/Pages\/DirectoriodeAgencias.aspx",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "Empleos", "url": "http:\/\/www2.pr.gov\/Pages\/empleos.aspx",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Asume", "url": "http:\/\/www.asume.pr.gov\/",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Certificados", "url": "http:\/\/www2.pr.gov\/pages\/servicefilter.aspx?cat=certificados&type=ciudadano",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Inicio", "url": "http:\/\/www2.pr.gov\/Pages\/default.aspx",
        "urlPingSuffix": "DevEx,5081.1"}], "dateLastCrawled": "2017-09-17T14:22:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Guía oficial
        de información y servicios del Gobierno | USAGov", "url": "https:\/\/gobierno.usa.gov\/",
        "urlPingSuffix": "DevEx,5108.1", "displayUrl": "https:\/\/gobierno.usa.gov",
        "snippet": "Página principal de GobiernoUSA.gov, el portal oficial del Gobierno
        de Estados Unidos en español.", "deepLinks": [{"name": "Inmigración Y Ciudadania",
        "[...]
[...]
