---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28alcohol%29+language%3Aen+%28scopeid%3Ausagovall+OR+site%3Agov+OR+site%3Amil%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028alcohol\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":7030000,"Offset":0,"Results":[{"Title":"Alcohol
        \u007c National Institute on Drug Abuse \u0028NIDA\u0029","Description":"Brief
        Description Ethyl alcohol, or ethanol, is an intoxicating ingredient found
        in beer, wine, and liquor. Alcohol is produced by the fermentation of yeast,
        sugars ...","Url":"https\u003a\u002f\u002fwww.drugabuse.gov\u002fdrugs-abuse\u002falcohol","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dalcohol\u0026d\u003d4762523299021608\u0026w\u003dIV5U102yqzJ1vr-R8pWwFZkJ_vpbyesv","DisplayUrl":"https\u003a\u002f\u002fwww.drugabuse.gov\u002fdrugs-abuse\u002falcohol","DateTime":"2016-05-30T00\u003a14\u003a00Z"},{"Title":"CDC
        - Fact Sheets-Alcohol Use And Health - Alcohol","Description":"Excessive
        alcohol use can lead to increased risk of health problems such as injuries,
        violence, liver diseases, and cancer.The CDC Alcohol Program works to strengthen
        ...","Url":"http\u003a\u002f\u002fwww.cdc.gov\u002falcohol\u002ffact-sheets\u002falcohol-use.htm","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dalcohol\u[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28alcohol%29+language%3Aes+%28scopeid%3Ausagovall+OR+site%3Agov+OR+site%3Amil%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    b[...]
