---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gobierno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1BF23093C2994DA79AFC39F779CFA3B9
      X-Msedge-Clientid:
      - 11F00D5AF88A6E8721F20764F91D6F75
      X-Msapi-Userstate:
      - e16b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8605B3B1EEEF4FE389DCF4AF4B238D9E&CID=11F00D5AF88A6E8721F20764F91D6F75&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8605B3B1EEEF4FE389DCF4AF4B238D9E&CID=11F00D5AF88A6E8721F20764F91D6F75&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gobierno+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5468.1", "totalEstimatedMatches": 179000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Attack Detected", "url": "http:\/\/www.pr.gov\/", "urlPingSuffix": "DevEx,5090.1",
        "displayUrl": "www.pr.gov", "snippet": "An attack was detected, originating
        from your system. Please contact the system administrator.", "deepLinks":
        [{"name": "Certificados", "url": "http:\/\/www2.pr.gov\/Pages\/Certificados.aspx?type=ciudadano",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Licencias", "url": "http:\/\/www2.pr.gov\/Pages\/Licencias.aspx?type=ciudadano",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Directorio De Agencias", "url":
        "http:\/\/www2.pr.gov\/Directorios\/Pages\/DirectoriodeAgencias.aspx", "urlPingSuffix":
        "DevEx,5081.1"}, {"name": "Asume", "url": "http:\/\/www.asume.pr.gov\/", "urlPingSuffix":
        "DevEx,5082.1"}, {"name": "Empleos", "url": "http:\/\/www2.pr.gov\/Pages\/empleos.aspx",
        "urlPingSuffix": "DevEx,5083.1"}], "dateLastCrawled": "2017-03-03T08:01:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Guía oficial
        de información y servicios del Gobierno ...", "url": "https:\/\/gobierno.usa.gov\/",
        "urlPingSuffix": "DevEx,5109.1", "displayUrl": "https:\/\/gobierno.usa.gov",
        "snippet": "Página principal de GobiernoUSA.gov, el portal oficial del Gobierno
        de Estados Unidos en español..", "deepLinks": [{"name": "Trabajo Y Desempleo",
        "url": "ht[...]
[...]
