---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=gobierno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 5918E7062BD14A44A7DF222C0D054152
      Bingapis-Sessionid:
      - 41643A3F8E8D4865B22D3F26BDF1E4A3
      X-Msedge-Clientid:
      - 1B242F13D6FA630C10ED3FB8D78F62CA
      X-Msapi-Userstate:
      - 5ba6
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=260,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "gobierno
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gobierno+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 4090000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "PR.GOV - Inicio", "url": "https:\/\/pr.gov\/", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/pr.gov", "snippet": "Encuentre Información
        sobre Programas y Servicios del Gobierno de Puerto Rico. Números de Emergencia
        (Emergency Numbers ) Aquí encontrará la guía de números de emergencia (temporada
        de huracanes 2018). Here you will find the emergency numbers guide (hurricane
        season 2018). ...", "dateLastCrawled": "2021-09-04T05:18:00.0000000Z", "language":
        "es", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Guía oficial de información y servicios del Gobierno | USAGov",
        "url": "https:\/\/www.usa.gov\/Espanol\/", "isFamilyFriendly": true, "displayUrl":
        "https:\/\/www.usa.gov\/Espanol", "snippet": "Servicios e información del
        Gobierno. Información general sobre Estados Unidos, incluyendo historia,
        Gobierno, estructura política, etc. Información sobre ayuda federal pa[...]
[...]
