---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=collection%20(site:noaa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 95BCF82FE94B44D7AED609EE251BA030
      X-Msedge-Clientid:
      - 2F5098E38F2E63030D3092208EB96206
      X-Msapi-Userstate:
      - a3bb
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=09AED589D452485689AE54CB2A128BA7&CID=2F5098E38F2E63030D3092208EB96206&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=09AED589D452485689AE54CB2A128BA7&CID=2F5098E38F2E63030D3092208EB96206&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=collection+(site%3anoaa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5474.1", "totalEstimatedMatches": 136000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "About the education resource collections | National ...", "url": "http:\/\/www.noaa.gov\/about-education-resource-collections",
        "urlPingSuffix": "DevEx,5076.1", "displayUrl": "www.noaa.gov\/about-education-resource-collections",
        "snippet": "Types of content Lesson plans & activities. Lesson and activity
        plans which outline how to teach concepts related to the Collection topic.
        May also include specific ...", "dateLastCrawled": "2017-07-15T06:01:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Collections
        | NOAA Central Library", "url": "http:\/\/www.lib.noaa.gov\/collections.html",
        "urlPingSuffix": "DevEx,5091.1", "displayUrl": "www.lib.noaa.gov\/collections.html",
        "snippet": "Rich collection of digital historical documents and maps. ...
        NOAA Central Library Special Collections features prominent authors in the
        history of ..."[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=tuna%20(site:noaa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
  [...]
