---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=collection%20(site:noaa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - BB916084DA7048A1A6341DB032256DDA
      X-Msedge-Clientid:
      - 127EE79637A462941B8FED163633636F
      X-Msapi-Userstate:
      - cb8b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5EBA25E5AF774DF4B5AA6E3E75BBC51B&CID=127EE79637A462941B8FED163633636F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5EBA25E5AF774DF4B5AA6E3E75BBC51B&CID=127EE79637A462941B8FED163633636F&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=collection+(site%3anoaa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5447.1", "totalEstimatedMatches": 140000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "NOAA 200th Collections", "url": "http:\/\/celebrating200years.noaa.gov\/collections.html",
        "urlPingSuffix": "DevEx,5074.1", "displayUrl": "celebrating200years.noaa.gov\/collections.html",
        "snippet": "Collections. The history of NOAA is more than names and dates:
        it is about the people, places, and events that have helped to shape NOAA
        into the agency that it is today.", "dateLastCrawled": "2017-04-30T03:05:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Collections
        | NOAA Central Library", "url": "http:\/\/www.lib.noaa.gov\/collections.html",
        "urlPingSuffix": "DevEx,5088.1", "displayUrl": "www.lib.noaa.gov\/collections.html",
        "snippet": "NOAA Central Library Special Collections features prominent
        ... The NOAA Historical Polar Research Collection home page has been prepared
        to ...", "date[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=tuna%20(site:noaa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
  [...]
