---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gobierno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - BC4C39EF500844328BC4F16EC0C3A807
      X-Msedge-Clientid:
      - 3455ADC39D816C910F77A7A19C166DE7
      X-Msapi-Userstate:
      - '2640'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A6FF34E8B2394FDE9F8CFFACD155D4EB&CID=3455ADC39D816C910F77A7A19C166DE7&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A6FF34E8B2394FDE9F8CFFACD155D4EB&CID=3455ADC39D816C910F77A7A19C166DE7&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gobierno+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5457.1", "totalEstimatedMatches": 569000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Portal Oficial del Gobierno de Puerto Rico - pr.gov", "url": "http:\/\/www2.pr.gov\/Pages\/default.aspx",
        "urlPingSuffix": "DevEx,5085.1", "displayUrl": "www2.pr.gov\/Pages\/default.aspx",
        "snippet": "Gobierno de Puerto Rico. Inicio Currently selected. Sobre Puerto
        Rico. Datos generales; Constitución de Puerto Rico; Himnos Nacionales; Banderas;
        Escudo; Directorios.", "deepLinks": [{"name": "Directorio De Agencias", "url":
        "http:\/\/www2.pr.gov\/Directorios\/Pages\/DirectoriodeAgencias.aspx", "urlPingSuffix":
        "DevEx,5076.1"}, {"name": "Empleos", "url": "http:\/\/www2.pr.gov\/Pages\/empleos.aspx",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "Directorios", "url": "http:\/\/www2.pr.gov\/Directorios\/Pages\/Directorios.aspx",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Gobierno a Gobierno", "url": "http:\/\/www2.pr.gov\/GobiernoAGobierno\/Pages\/default.aspx",
        "urlPingSuffix": "DevEx,5079.1"}], "dateLastCrawled": "2017-04-04T10:56:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Trabajo
        y desempleo | GobiernoUSA.gov", "url": "https:\/\/gobierno.usa.gov\/trabajo-y-desempleo",
        "urlPingSuffix": "DevEx,5097.1", "displayUrl": "https:\/\/gobierno.usa.gov\/trabajo-y-desempleo",
        "snippet": "Ayuda del Gobierno para recibir los beneficios de desempleo
        e información sobre las obligaciones tributarias. Empleo y capacitación laboral.",
   [...]
[...]
