---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=alcohol%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F2F52832C33B4118B33BD0891B112BC2
      X-Msedge-Clientid:
      - 0ACE354E1E1D649D12B73EC21FB265ED
      X-Msapi-Userstate:
      - a8ec
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9A53635A16D74816B5EB0F3A4E526605&CID=0ACE354E1E1D649D12B73EC21FB265ED&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9A53635A16D74816B5EB0F3A4E526605&CID=0ACE354E1E1D649D12B73EC21FB265ED&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=alcohol+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5521.1", "totalEstimatedMatches": 22800000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "CDC - Fact Sheets-Alcohol Use And Health - Alcohol", "url": "https:\/\/www.cdc.gov\/alcohol\/fact-sheets\/alcohol-use.htm",
        "urlPingSuffix": "DevEx,5093.1", "displayUrl": "https:\/\/www.cdc.gov\/alcohol\/fact-sheets\/alcohol-use.htm",
        "snippet": "Excessive alcohol use can lead to increased risk of health problems
        such as injuries, violence, liver diseases, and cancer.The CDC Alcohol Program
        works to strengthen ...", "deepLinks": [{"name": "Binge Drinking", "url":
        "https:\/\/www.cdc.gov\/alcohol\/fact-sheets\/binge-drinking.htm", "urlPingSuffix":
        "DevEx,5084.1"}, {"name": "Underage Drinking", "url": "https:\/\/www.cdc.gov\/alcohol\/fact-sheets\/underage-drinking.htm",
        "urlPingSuffix": "DevEx,5085.1"}, {"name": "Legal Drinking Age", "url": "https:\/\/www.cdc.gov\/alcohol\/fact-sheets\/minimum-legal-drinking-age.htm",
        "urlPingSuffix": "DevEx,5086.1"}, {"name": "Caffeine and Alcohol", "url":
        "https:\/\/www.cdc.gov\/alcohol\/fact-sheets\/caffeine-and-alcohol.htm", "urlPingSuffix":
        "DevEx,5087.1"}], "dateLastCrawled": "2018-02-03T05:54:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Alcohol | National
        Institute on Drug Abuse (NIDA)", "url": "https:\/\/www.drugabuse.gov\/drugs-abuse\/alcohol",
        "urlPingSuffix": "DevEx,5111.1", "about": [{"name": "Alcohol"}], "displayUrl":
        "https:\/\/www.drugabuse.gov\/drugs-abuse\/alcohol", "snippet": "Brief
        Description People drink to socialize, celebrate, and relax. Alcohol often
        has a strong effect on people—and throughout history, people have struggled
        to ...", "dateLastCrawled": "2018-01-29T16:16:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "Alcohol''s Effects on the Body | National Institute on ...", "u[...]
[...]
