---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gov%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 75C94640213240CB950A7B564889CCFF
      X-Msedge-Clientid:
      - 23308BD053166B8E176380D852816ACD
      X-Msapi-Userstate:
      - b641
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=0BC749B3BF3E428C9FE0A7C62BF1773F&CID=23308BD053166B8E176380D852816ACD&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=0BC749B3BF3E428C9FE0A7C62BF1773F&CID=23308BD053166B8E176380D852816ACD&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5521.1", "totalEstimatedMatches": 55500,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USA.gov - Official Site", "url": "https:\/\/www.usa.gov\/", "urlPingSuffix":
        "DevEx,5089.1", "displayUrl": "https:\/\/www.usa.gov", "snippet": "USA.gov
        can help you start your search for government information by topic and agency.",
        "deepLinks": [{"name": "Federal Agencies", "url": "https:\/\/www.usa.gov\/federal-agencies\/a",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "Unclaimed Money", "url": "https:\/\/www.usa.gov\/unclaimed-money",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Travel and Immigration", "url":
        "https:\/\/www.usa.gov\/travel-and-immigration", "urlPingSuffix": "DevEx,5079.1"}],
        "dateLastCrawled": "2017-09-21T12:54:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Government Agencies and Elected Officials | USAGov", "url": "https:\/\/www.usa.gov\/agencies",
        "urlPingSuffix": "DevEx,5106.1", "displayUrl": "https:\/\/www.usa.gov\/agencies",
        "snippet": "The .gov means it''s official. Federal government websites often
        end in .gov or .mil. Before sharing sensitive information, make sure you''re
        on a federal govern[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gov%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      B[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gobierno%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gobierno%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
  [...]
