---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28gobierno%29+language%3Aen+%28scopeid%3Ausagovall+OR+site%3Agov+OR+site%3Amil%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028gobierno\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":972000,"Offset":0,"Results":[{"Title":"Gobierno
        - Houston","Description":"\u003e Ciudad de Houston \u003e Gobierno. Ciudad
        de Houston Gobierno . Sylvester Turner Alcalde 832.393.1000. sylvester.turner\u0040houstontx.gov
        ... Gobierno\u003b InfoHouston\u003b Residentes\u003b","Url":"http\u003a\u002f\u002fwww.houstontx.gov\u002fespanol\u002fgobierno\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dgobierno\u0026d\u003d4731049802925458\u0026w\u003dnt3GHpyBqURnbvc7gM4AVErwPgqRKuFg","DisplayUrl":"www.houstontx.gov\u002fespanol\u002fgobierno","DateTime":"2016-05-25T02\u003a14\u003a00Z"},{"Title":"E
        \u2013 Gobierno del Programa","Description":"OHS \u2013 PC \u2013 E \u2013
        002 \u00bfPueden las personas servir como miembros votantes tanto de la junta
        de gobierno como del Consejo de Pol\u00edticas\u003f Los programas tienen
        ...","Url":"https\u003a\u002f\u002feclkc.ohs.acf.hhs.gov\u002fhslc\u002fEspanol\u002fSpanish\u002520PCs\u002fEGobiernodel.htm","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28gobierno%29+language%3Aes+%28scopeid%3Ausagovall+OR+site%3Agov+OR+site%3Amil%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    [...]
