---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=alcohol%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C7D391C053034E6AA62BE404DB25DF42
      X-Msedge-Clientid:
      - 2FFBDE2F643E65901D4ED277653164BA
      X-Msapi-Userstate:
      - 15bd
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E080404A88F64093BFCDAE246FCC8CE9&CID=2FFBDE2F643E65901D4ED277653164BA&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E080404A88F64093BFCDAE246FCC8CE9&CID=2FFBDE2F643E65901D4ED277653164BA&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=alcohol+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5444.1", "totalEstimatedMatches": 23100000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Alcohol''s Effects on the Body | National Institute on ...", "url": "https:\/\/www.niaaa.nih.gov\/alcohol-health\/alcohols-effects-body",
        "urlPingSuffix": "DevEx,5061.1", "about": [{"name": "Alcohol"}], "displayUrl":
        "https:\/\/www.niaaa.nih.gov\/alcohol-health\/alcohols-effects-body",
        "snippet": "Drinking too much – on a single occasion or over time – can take
        a serious toll on your health. Here’s how alcohol can affect your body:
        Brain: Alcohol interferes with the brain’s communication pathways, and can
        affect the way the brain looks and works.", "dateLastCrawled": "2018-08-16T22:24:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Alcohol
        | National Institute on Drug Abuse (NIDA)", "url": "https:\/\/www.drugabuse.gov\/drugs-abuse\/alcohol",
        "urlPingSuffix": "DevEx,5077.1", "about": [{"name": "Alcohol"}], "displayUrl":
        "https:\/\/www.drugabuse.gov\/drugs-abuse\/alcohol", "snippet": "Brief
        Description People drink to socialize, celebrate, and relax. Alcohol often
        has[...]
[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=alcohol%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F071911896BB4532997C7BC45CB1C867
      Bingapis-Sessionid:
      - 7C9C31F38A4D4B22A001A0A3C7DD9EF3
      X-Msedge-Clientid:
      - 1F95D1BD29086DDE23F5DD3F28446CE8
      X-Msapi-Userstate:
      - a559
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=234,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "alcohol
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=alcohol+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 19900000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Alcohol''s Effects on the Body | National Institute on ...", "url":
        "https:\/\/www.niaaa.nih.gov\/alcohol-health\/alcohols-effects-body", "about":
        [{"name": "Alcohol"}], "isFamilyFriendly": true, "displayUrl": "https:\/\/www.niaaa.nih.gov\/alcohol-health\/alcohols-effects-body",
        "snippet": "Alcohol interferes with the brain’s communication pathways,
        and can affect the way the brain looks and works. These disruptions can change
        mood and behavior, and make it harder to think clearly and move with coordination.
        ...", "dateLastCrawled": "2018-10-04T22:27:00.0000000Z", "language": "en",
        "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Alcohol | National Institute on Drug Abuse (NIDA)", "url": "https:\/\/www.drugabuse.gov\/drugs-abuse\/alcohol",
        "about": [{"name": "Alcohol"}], "isFamilyFriendly": true, "displayUrl": "https:\/\/www.drugabuse.gov\/drugs-abuse\/alcohol",
        "snippet": "Brief Description. People drink to socialize, celebrate, and relax.
        Alcohol often has a strong effect on people—and throu[...]
[...]
