---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=gobierno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D01588BFB5384AA0A6FEB43766A4E85F
      X-Msedge-Clientid:
      - 0C5F2C9DDC17699022BC20C5DD186836
      X-Msapi-Userstate:
      - 4b70
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=AC36F68CCA9E45AFBD01ACE49BB8A516&CID=0C5F2C9DDC17699022BC20C5DD186836&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=AC36F68CCA9E45AFBD01ACE49BB8A516&CID=0C5F2C9DDC17699022BC20C5DD186836&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gobierno+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5396.1", "totalEstimatedMatches": 2900000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "PR.gov - Portal Oficial del Estado Libre Asociado de ...", "url": "http:\/\/pr.gov\/",
        "urlPingSuffix": "DevEx,5056.1", "about": [{"name": "South Carolina State
        Guard"}, {"name": "Puerto Rico"}], "displayUrl": "pr.gov", "snippet": "Es
        el medio oficial de avisos de subastas de todas las agencias de la Rama Ejecutiva
        y las corporaciones públicas del Gobierno del Estado Libre Asociado de Puerto
        ...", "dateLastCrawled": "2018-08-20T19:49:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Guía oficial de información y servicios del Gobierno | USAGov",
        "url": "https:\/\/gobierno.usa.gov\/", "urlPingSuffix": "DevEx,5068.1", "about":
        [{"name": "GobiernoUSA.gov"}], "displayUrl": "https:\/\/gobierno.usa.gov",
        "snippet": "Página principal de GobiernoUSA.gov, el portal oficial del Gobierno
        de Estados Unidos en español.", "dateLastCrawled": "[...]
[...]
