---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=collection%20(site:noaa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9E3F2470D1B3457AB8AA261E2444D7F5
      X-Msedge-Clientid:
      - '09EF57F2B6ED655D20895C6CB7086498'
      X-Msapi-Userstate:
      - f335
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=4BC7F2CE80894DB8A59B2A13D942818E&CID=09EF57F2B6ED655D20895C6CB7086498&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=4BC7F2CE80894DB8A59B2A13D942818E&CID=09EF57F2B6ED655D20895C6CB7086498&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=collection+(site%3anoaa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5492.1", "totalEstimatedMatches": 210000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Water cycle | National Oceanic and Atmospheric Administration", "url":
        "http:\/\/www.noaa.gov\/resource-collections\/water-cycle", "urlPingSuffix":
        "DevEx,5088.1", "about": [{"name": "Water cycle"}], "displayUrl": "www.noaa.gov\/resource-collections\/water-cycle",
        "snippet": "The basic water cycle is relatively simple and is taught as early
        as ... The resources in this Collection can help teachers guide students
        beyond the ...", "dateLastCrawled": "2018-02-14T07:44:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "2018 Science
        Olympiad: Meteorology | National Oceanic and ...", "url": "http:\/\/www.noaa.gov\/resource-collections\/2018-science-olympiad-meteorology",
        "urlPingSuffix": "DevEx,5102.1", "displayUrl": "www.noaa.gov\/resource-collections\/2018-science-olympiad-meteorology",
        "snippet": "2018 Science Olympiad: Meteorology. ... NOAA has compiled resources
        from across the agency into one climate-focused collection. Topics include
        the carbon cycle, ...", "dateLastCrawled": "2018-02[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=tuna%20(site:noaa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=[...]
