---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=collection%20(site:noaa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 68AE4177238A4DA7A94C125F5E6824FD
      X-Msedge-Clientid:
      - 160D3D9A3C84691E2BA231C23D8B68BC
      X-Msapi-Userstate:
      - a32d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=093B2DE3E99C45FE804C4CF0D7CB793E&CID=160D3D9A3C84691E2BA231C23D8B68BC&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=093B2DE3E99C45FE804C4CF0D7CB793E&CID=160D3D9A3C84691E2BA231C23D8B68BC&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=collection+(site%3anoaa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5430.1", "totalEstimatedMatches": 374000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "NOAA 200th Collections", "url": "https:\/\/celebrating200years.noaa.gov\/collections.html",
        "urlPingSuffix": "DevEx,5059.1", "displayUrl": "https:\/\/celebrating200years.noaa.gov\/collections.html",
        "snippet": "The NOAA 200th anniversary Collections featured here are simple
        presentations of five to 20 objects that have significance in marine history,
        research, human\/sea interactions, or human understanding of the sea.", "dateLastCrawled":
        "2018-07-01T07:12:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "About the education resource collections | National ...", "url":
        "http:\/\/www.noaa.gov\/about-education-resource-collections", "urlPingSuffix":
        "DevEx,5073.1", "displayUrl": "www.noaa.gov\/about-education-resource-collections",
        "snippet": "Types of content Lesson plans & activities. Lesson and activity
        plans which outline how to teach concep[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=tuna%20(site:noaa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B4089A1408344A1A9A3DF4B91B2092C6
      X-Msedge-Clientid:
      - 24924AFC87F56E61343B46A486FA6F14
      X-Msapi-Userstate:
      - eca8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=60E759E6283C407882DBB501BD892EEA&CID=24924AFC87F56E61343B46A486FA6F14&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=60E759E6283C407882DBB501BD892EEA&CID=24924AFC87F56E61343B46A486FA6F14&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=tuna+(site%3anoaa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5411.1", "totalEstimatedMatches": 96500,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "NMFS Permit Shop", "url": "https:\/\/hmspermits.noaa.gov\/default.asp", "urlPingSuffix":
        "DevEx,5057.1", "about": [{"name": "National Marine Fisheries Service"}],
        "displayUrl": "https:\/\/hmspermits.noaa.gov\/default.asp", "snippet": "Welcome
        to the National Marine Fisheries Service Permit Shop where you can currently
        buy initial and renewal permits for Atlantic tunas and Atlantic Highly Migratory
        Species (HMS), update permit information, and report recreational landings
        of bluefin tuna, blue marlin, white marlin, sailfish, and swordfish.", "dateLastCrawled":
   [...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=collection%20(site:noaa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 408F77747BFC46338B6F3B8064D9AF7B
      Bingapis-Sessionid:
      - 9E0DB02160A24D499DFF5CF62D25AC9C
      X-Msedge-Clientid:
      - 2BEB967CDFD36CAA12029AFEDE9F6D44
      X-Msapi-Userstate:
      - f83e
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=198,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "collection
        (site:noaa.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=collection+(site%3anoaa.gov)",
        "totalEstimatedMatches": 391000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "NOAA 200th Collections", "url": "https:\/\/celebrating200years.noaa.gov\/collections.html",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/celebrating200years.noaa.gov\/collections.html",
        "snippet": "The NOAA 200th anniversary Collections featured here are simple
        presentations of five to 20 objects that have significance in marine history,
        research, human\/sea interactions, or human understanding of the sea. Each
        collection illustrates an underlying theme or principle, such as the evolution
        of technology, which ties all the objects in the collection together.",
        "dateLastCrawled": "2018-09-28T02:46:00.0000000Z", "language": "en", "isNavigational":
        false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Digital Collections | NOAA Central Library", "url": "https:\/\/library.noaa.gov\/Collections\/Digital-Docs",
        "about": [{"name": "NOAA Central Library"}], "isFamilyFriendly": true, "displayUrl":
        "https:\/\/library.noaa.gov\/Collections\/Digital-Docs", "snippet": "This
        collection provides access to historical daily synoptic weather maps for
        the northern hemi[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=tuna%20(site:noaa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Binga[...]
