---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=first%20item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659eb0d624834eddaeabe1acc1c26b66
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659eb0d624834eddaeabe1acc1c26b66
      Bingapis-Sessionid:
      - F54F7B649495411ABC8B9674C5D98B81
      X-Msedge-Clientid:
      - 0C514FCF898F656330215BCD881B64D0
      X-Msapi-Userstate:
      - '7292'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=296,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "first
        item (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=first+item+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 3800000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Psychological distress and resilience in first responders and
        health ...", "url": "https:\/\/www.ncbi.nlm.nih.gov\/pmc\/articles\/PMC8420470\/",
        "datePublished": "2021-08-13T00:00:00.0000000", "datePublishedDisplayText":
        "Aug 13, 2021", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.ncbi.nlm.nih.gov\/pmc\/articles\/PMC8420470",
        "snippet": "The second resilience measure was an adaptation of the first
        item from the Brief Resilience Scale (BRS; Smith et␣al., 2008). Using a sliding
        scale (0 = ‘not at all’ to 10 = ‘completely’) participants indicated the extent
        to which they felt that ‘Overall, I tend to bounce back quickly after difficult
        times’.", "dateLastCrawled": "2023-12-23T09:00:00.0000000Z", "language": "en",
        "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Must-Haves for Your First-Aid Kit | Blogs | CDC", "url": "https:\/\/blogs.cdc.gov\/publichealthmatters\/2021\/05\/first-aid-kits\/",
        "datePublished": "2021-05-13T00:00:00.0000000", "datePublishedDisplayText":
        "May 13, 2021", "isFamilyFriendly": true, "displayUrl": "https:\/\/blogs.cdc.gov\/publichealthmatters\/2021\/05\/first-aid-kits",
        "snippet": "The American Red Cross suggests that a first-aid kit for a family
        of four include the following items: A first-aid guide. 2 absorbent compress
        dressings (5 x 9 inches) 25 adhesive bandages (assorted sizes) 1 adhesive
        cloth tape (10 yards x 1 inch) 5 antibiotic ointment packets. 5 antiseptic
        wipe packets.", "dateLastCrawled": "2024-01-09T03:21:00.0000000Z", "cachedPageUrl":
        "http:\/\/cc.bingj.com\/cache.aspx?q=first+item+(site%3agov+OR+site%3amil)&d=4569553494294755&mkt=en-US&setlang=en-US&w=wRTzE_bHPDwd_iAiAstSCURfMxedb1Bb",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.2",
        "name": "DOD''s Logistics Agency Touches American Lives", "url": "https:\/\/www.defense.gov\/News\/Feature-Stories\/Story\/Article\/2825305\/dods-logistics-agency-touches-american-lives\/",
   [...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=noticia%20uno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf[...]
