---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(collection)%20language:en%20(site:noaa.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028collection\u0029
        language\u003aen \u0028site\u003anoaa.gov\u0029"},"Web":{"Total":267000,"Offset":0,"Results":[{"Title":"Collections
        \u007c NOAA Central Library","Description":"Rich collection of digital historical
        documents and maps. ... NOAA Central Library Special Collections features
        prominent authors in the history of ...","Url":"http\u003a\u002f\u002fwww.lib.noaa.gov\u002fcollections.html","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dcollection\u0026d\u003d4778766940440626\u0026w\u003drOLleuyD5q99IdLZveo_60FZo-euOmUg","DisplayUrl":"www.lib.noaa.gov\u002fcollections.html","DateTime":"2016-12-02T08\u003a43\u003a00Z"},{"Title":"Digital
        Coast Data Collection","Description":"A data repository created by NOAA
        Office for Coastal Managment for map services, data downloads and creating
        custom maps using data provided by various authoritative ...","Url":"https\u003a\u002f\u002fcoast.noaa.gov\u002fdataregistry\u002fsearch\u002fcollection\u0023\u0021","DisplayUrl":"https\u003a\u002f\u002fcoast.noaa.gov\u002fdataregistry\u002fsearch\u002fcollection","DateT[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(tuna)%20language:en%20(site:noaa.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=collection%20(site:noaa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 771E886865F8468DA117166619D64B47
      X-Msedge-Clientid:
      - 1E583F96B7AA68E32E793588B63D69EA
      X-Msapi-Userstate:
      - 1bb9
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B1F042E22FC941B681027C1CBB222D09&CID=1E583F96B7AA68E32E793588B63D69EA&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B1F042E22FC941B681027C1CBB222D09&CID=1E583F96B7AA68E32E793588B63D69EA&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=collection+(site%3anoaa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5461.1", "totalEstimatedMatches": 126000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "NOAA''s Office of Coast Survey - Civil War Collections", "url": "https:\/\/www.nauticalcharts.noaa.gov\/history\/CivilWar\/",
        "urlPingSuffix": "DevEx,5094.1", "displayUrl": "https:\/\/www.nauticalcharts.noaa.gov\/history\/CivilWar",
        "snippet": "Office of Coast Survey''s Historical Map and Chart Collection
        contains over 20,000 images from the late 1700s to present day.", "dateLastCrawled":
        "2017-01-24T17:17:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Collections | NOAA Central Library", "url": "http:\/\/www.lib.noaa.gov\/collections.html",
        "urlPingSuffix": "DevEx,5108.1", "displayUrl": "www.lib.noaa.gov\/collections.html",
        "snippet": "NOAA Central Library Special Collections features prominent
        ... The NOAA Historical Polar Research Collection home page has been prepared
        to ...", "dateLastCrawled": "2017-01-24T03:55:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "NOAA 200th: Collections - USS Monitor", "url": "http:\/\/celebrating200years.noaa.gov\/monitor\/welcome.html",
        "urlPingSuffix": "DevEx,5121.1", "about": [{"name": "Monitor National Marine
        Sanctuary"}, {"name": "USS Monitor"}], "displayUrl": "celebrating200years.noaa.gov\/monitor\/welcome.html",
        "snippet": "Artifacts from the USS Monitor Collection: Monitor National
        Marine Sanctuary. This collection showcases artifacts collected from the
        Civil War ironclad USS Monitor.", "dateLastCrawled": "2017-01-21T00:06:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "Digital
  [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=tuna%20(site:noaa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
  [...]
