---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=collection%20(site:noaa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E2951E58421943DF93973C003B00F6D6
      X-Msedge-Clientid:
      - 20B8025ED4EF625E1F780860D57863C5
      X-Msapi-Userstate:
      - f1aa
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8746561B565546E3803261E2C1324A99&CID=20B8025ED4EF625E1F780860D57863C5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8746561B565546E3803261E2C1324A99&CID=20B8025ED4EF625E1F780860D57863C5&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=collection+(site%3anoaa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5531.1", "totalEstimatedMatches": 78300,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "NOAA''s Office of Coast Survey - Civil War Collections", "url": "https:\/\/www.nauticalcharts.noaa.gov\/history\/CivilWar\/",
        "urlPingSuffix": "DevEx,5077.1", "displayUrl": "https:\/\/www.nauticalcharts.noaa.gov\/history\/CivilWar",
        "snippet": "Office of Coast Survey''s Historical Map and Chart Collection
        contains over 20,000 images from the late 1700s to present day.", "dateLastCrawled":
        "2017-02-27T16:04:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Digital Coast Data Collection", "url": "https:\/\/coast.noaa.gov\/dataregistry\/search\/collection#!",
        "urlPingSuffix": "DevEx,5089.1", "displayUrl": "https:\/\/coast.noaa.gov\/dataregistry\/search\/collection",
        "snippet": "A data repository created by NOAA Office for Coastal Managment
        for map services, data downloads and creating custom maps using data provided
        by various authoritative ...", "dateLastCrawled": "2017-02-28T20:29:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Collections
        | NOAA Central Library", "url": "http:\/\/www.lib.noaa.gov\/collections.html",
        "urlPingSuffix": "DevEx,5102.1", "displayUrl": "www.lib.noaa.gov\/collections.html",
        "snippet": "NOAA Central Library Special Collections features prominent
        ... The NOAA Historical Polar Research Collection home page has been prepared
        to ...", "dateLastCrawled": "2017-03-02T15:51:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3",
        "name": "NOAA 200th: Collections - USS Monitor", "url": "http:\/\/celebrating200years.noaa.gov\/monitor\/welcome.html",
        "urlPingSuffix": "DevEx,5116.1", "about": [{"name": "Monitor National Marine
        Sanctuary"}, {"name": "USS Monitor"}], "displayUrl": "celebrating200years.noaa.gov\/monitor\/welcome.html",
        "snippet": "Artifacts from the USS Monitor Collection: Monitor National
        Marine Sanctuary. This collection showcases artifacts collected from the
        Civil War ironclad USS Monitor.", "dateLastCrawled": "2017-02-27T20:12:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.4", "name": "MONITOR
 [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=tuna%20(site:noaa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
  [...]
