---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=collection%20(site:noaa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659eb0dfbc394186bc79d15829ac0bbd
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659eb0dfbc394186bc79d15829ac0bbd
      Bingapis-Sessionid:
      - 8EBF2BC94EC84D918EC9AF6F711F6E88
      X-Msedge-Clientid:
      - 248F4E8B94196BBB0C4D5A8995186AD9
      X-Msapi-Userstate:
      - 4c3b
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=329,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "collection
        (site:noaa.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=collection+(site%3anoaa.gov)",
        "totalEstimatedMatches": 3830000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Weather and atmosphere data resources | National Oceanic and ...",
        "url": "https:\/\/www.noaa.gov\/education\/resource-collections\/data\/weather-atmosphere",
        "datePublished": "2018-09-01T00:00:00.0000000", "datePublishedDisplayText":
        "Sep 1, 2018", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.noaa.gov\/education\/resource-collections\/data\/weather-atmosphere",
        "snippet": "This collection uses real-time environmental data in self-directed
        student activities exploring the natural world. Students learn about carbon
        cycling, ocean acidification, and other phenomena related to climate change.
        These modules are designed with a three-dimensional approach to teaching in
        mind and use a data literacy framework.", "dateLastCrawled": "2024-01-09T07:28:00.0000000Z",
        "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=collection+(site%3anoaa.gov)&d=4686780184986437&mkt=en-US&setlang=en-US&w=5FHXnt1gT3JTTVhBWlLUX-U5kDQsOfdM",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Water cycle | National Oceanic and Atmospheric Administration",
        "url": "https:\/\/www.noaa.gov\/education\/resource-collections\/freshwater\/water-cycle",
        "datePublished": "2019-02-01T00:00:00.0000000", "datePublishedDisplayText":
        "Feb 1, 2019", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.noaa.gov\/education\/resource-collections\/freshwater\/water-cycle",
        "sn[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=tuna%20(site:noaa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
[...]
