---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=gobierno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5FD4001E8ED6436FAF3AA81DCC54AFF1
      X-Msedge-Clientid:
      - 2547D7FE616E61130111DC60608B609D
      X-Msapi-Userstate:
      - 190e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=672BBF0DB2E4408FAEAA53ED0E953EA2&CID=2547D7FE616E61130111DC60608B609D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=672BBF0DB2E4408FAEAA53ED0E953EA2&CID=2547D7FE616E61130111DC60608B609D&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gobierno+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5499.1", "totalEstimatedMatches": 1690000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "PR.gov - Portal Oficial del Estado Libre Asociado de ...", "url": "http:\/\/pr.gov\/",
        "urlPingSuffix": "DevEx,5098.1", "about": [{"name": "Puerto Rico"}, {"name":
        "North Carolina"}, {"name": "Flag of North Carolina"}], "displayUrl": "pr.gov",
        "snippet": "Es el medio oficial de avisos de subastas de todas las agencias
        de la Rama Ejecutiva y las corporaciones públicas del Gobierno del Estado
        Libre Asociado de Puerto ...", "deepLinks": [{"name": "Empleos", "url": "http:\/\/www2.pr.gov\/Pages\/empleos.aspx",
        "urlPingSuffix": "DevEx,5086.1"}, {"name": "Asume", "url": "http:\/\/www.asume.pr.gov\/",
        "urlPingSuffix": "DevEx,5087.1"}, {"name": "Certificados", "url": "http:\/\/www2.pr.gov\/pages\/servicefilter.aspx?cat=certificados&type=ciudadano",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "Inicio", "url": "http:\/\/www2.pr.gov\/Pages\/default.aspx",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Policía De Puerto Rico", "url":
        "https:\/\/www.policia.pr.gov\/", "urlPingSuffix": "DevEx,5090.1"}, {"name":
        "Directorios", "url": "http:\/\/www2.pr.gov\/Directorios\/Pages\/Directorios.aspx",
        "urlPingSuffix": "DevEx,5091.1"}], "dateLastCrawled": "2018-02-13T08:02:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Guía oficial
        de información y servicios del Gobierno | USAGov", "url": "https:\/\/gobierno.usa.gov\/",
        "urlPingSuffix": "DevEx,5118.1", "about": [{"name": "GobiernoUSA.gov"}], "displayUrl":
        "https:\/\/gobierno.usa.gov", "snippet": "Página principal de GobiernoUSA.gov,
        el portal oficial del Gobierno de Estados Unidos en español.", "deepLinks":
       [...]
[...]
