---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gobierno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 618011EA8F9F438BA35B34BBBD6077D7
      X-Msedge-Clientid:
      - 22CFEA4275DC692001E8E081744B6887
      X-Msapi-Userstate:
      - 75af
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=3367F5D707774FAFBD32E776768503D2&CID=22CFEA4275DC692001E8E081744B6887&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=3367F5D707774FAFBD32E776768503D2&CID=22CFEA4275DC692001E8E081744B6887&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gobierno+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5480.1", "totalEstimatedMatches": 1190000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "PR.gov - Portal Oficial del Estado Libre Asociado de ...", "url": "http:\/\/www.pr.gov\/",
        "urlPingSuffix": "DevEx,5088.1", "about": [{"name": "Puerto Rico"}], "displayUrl":
        "www.pr.gov", "snippet": "Es el medio oficial de avisos de subastas de todas
        las agencias de la Rama Ejecutiva y las corporaciones públicas del Gobierno
        del Estado Libre Asociado de Puerto ...", "deepLinks": [{"name": "Certificados",
        "url": "http:\/\/www2.pr.gov\/Pages\/Certificados.aspx?type=ciudadano", "urlPingSuffix":
        "DevEx,5076.1"}, {"name": "Licencias", "url": "http:\/\/www2.pr.gov\/Pages\/Licencias.aspx?type=ciudadano",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "Directorio De Agencias", "url":
        "http:\/\/www2.pr.gov\/Directorios\/Pages\/DirectoriodeAgencias.aspx", "urlPingSuffix":
        "DevEx,5078.1"}, {"name": "Asume", "url": "http:\/\/www.asume.pr.gov\/", "urlPingSuffix":
        "DevEx,5079.1"}, {"name": "Empleos", "url": "http:\/\/www2.pr.gov\/Pages\/empleos.aspx",
        "urlPingSuffix": "DevEx,5080.1"}], "dateLastCrawled": "2017-07-14T08:48:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Guía oficial
        de información y servicios del Gobierno | USAGov", "url": "https:\/\/gobierno.usa.gov\/",
        "urlPingSuffix": "DevEx,5107.1", "displayUrl": "https:\/\/gobierno.usa.gov",
        "snippet": "Página principal de GobiernoUSA.gov, el portal oficial del Gobierno
        de Estados Unidos en español..", "deepLinks": [{"name": "Trabajo Y Desempleo",
        "url"[...]
[...]
