---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28fannie+mae%29+language%3Aen+%28site%3Awww.sec.gov%2Farchives%2Fedgar%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028fannie
        mae\u0029 language\u003aen \u0028site\u003awww.sec.gov\u002farchives\u002fedgar\u0029"},"Web":{"Total":2770,"Offset":0,"Results":[{"Title":"FannieMae
        2014 10K Press Release - SEC.gov","Description":"Fannie Mae paid a total
        of \u002420.6 billion in dividends to Treasury in 2014. The company expects
        to pay Treasury \u00241.9 billion in dividends in March 2015.","Url":"http\u003a\u002f\u002fwww.sec.gov\u002fArchives\u002fedgar\u002fdata\u002f310522\u002f000031052215000082\u002ffanniemae201410kpressrelea.htm","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dfannie\u002bmae\u0026d\u003d4625724301639909\u0026w\u003dWNICTlwcbn43iQeDCDwnl2mLnHOGm8uz","DisplayUrl":"www.sec.gov\u002f...\u002f000031052215000082\u002ffanniemae201410kpressrelea.htm","DateTime":"2016-05-26T19\u003a58\u003a00Z"},{"Title":"Master
        Custodial Agreement for Custody of Single Family ...","Description":"3 RECITALS.
        This Custodial Agreement is executed by, and delivered to, each of Fannie
        Mae, Custodian, and Lender, as of the effective date, all as indicated on
        the ...","Url":"http\u003a\u002f\u002fwww.sec.gov\u002fArchives\u002fedgar\u002fdata\u002f1518715\u002f000119312511144488\u002fdex1026.htm","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28fannie+mae%29+language%3Aen+%28site%3Awww.sec.gov%2Fnews%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28fannie+mae%29+language%3Aen+%28site%3Asec.gov%2Farchives%2Fedgar%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      [...]
