---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(fannie%20mae)%20language:en%20(site:www.sec.gov/archives/edgar)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028fannie
        mae\u0029 language\u003aen \u0028site\u003awww.sec.gov\u002farchives\u002fedgar\u0029"},"Web":{"Total":9710,"Offset":0,"Results":[{"Title":"Document
        - sec.gov","Description":"Fannie Mae provides reliable, large-scale access
        to affordable mortgage credit and indirectly enables families to buy, refinance
        or rent homes.","Url":"https\u003a\u002f\u002fwww.sec.gov\u002fArchives\u002fedgar\u002fdata\u002f310522\u002f000031052216000569\u002ffanniemaeq20630201610q.htm","DisplayUrl":"https\u003a\u002f\u002fwww.sec.gov\u002f...\u002f000031052216000569\u002ffanniemaeq20630201610q.htm","DateTime":"2016-12-03T07\u003a41\u003a00Z"},{"Title":"exv10w30
        - sec.gov","Description":"This ASAP Plus Agreement is made pursuant to, and
        shall be deemed to be a part of, the Mortgage Selling and Servicing Contract
        between Fannie Mae and the Lender and ...","Url":"https\u003a\u002f\u002fwww.sec.gov\u002fArchives\u002fedgar\u002fdata\u002f1520566\u002f000095012312001025\u002fy04863a2exv10w30.htm","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dfannie\u002bmae\u0026d\u003d4681473055266324\u0026w\u003dDTTi5sdLOqlQ43j30rfHh6NX-Hm1L9Ed","DisplayUrl":"https\u003a\u002f\u002fwww.sec.gov\u002fArchives\u002fedgar\u002fdata\u002f1520566\u002f000095012312001025\u002f...","DateTime":"2016-11-25T02\u003a58\u003a00Z"},{"Title":"Fannie
        Mae As Soon As Pooled Agreement - sec.gov","Description":"WHEREAS, Lender
        seeks to deliver certain residential mortgage loans \u0028[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(fannie%20mae)%20language:en%20(site:www.sec.gov/news)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UT[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(fannie%20mae)%20language:en%20(site:sec.gov/archives/edgar)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encodi[...]
