---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=fannie%20mae%20(site:www.sec.gov/archives/edgar)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B78A022AF26B46869E1F2D1CB4A0E889
      X-Msedge-Clientid:
      - 0D5923E4EC396AAA15D929D9EDAE6BB4
      X-Msapi-Userstate:
      - f777
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=FD0D39119EE046C8843CA5BEBD1FF4A5&CID=0D5923E4EC396AAA15D929D9EDAE6BB4&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=FD0D39119EE046C8843CA5BEBD1FF4A5&CID=0D5923E4EC396AAA15D929D9EDAE6BB4&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=fannie+mae+(site%3awww.sec.gov%2farchives%2fedgar)",
        "webSearchUrlPingSuffix": "DevEx,5423.1", "totalEstimatedMatches": 6570, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Document",
        "url": "https:\/\/www.sec.gov\/Archives\/edgar\/data\/310522\/000031052216000569\/fanniemaeq20630201610q.htm",
        "urlPingSuffix": "DevEx,5074.1", "displayUrl": "https:\/\/www.sec.gov\/...\/000031052216000569\/fanniemaeq20630201610q.htm",
        "snippet": "Fannie Mae provides reliable, large-scale access to affordable
        mortgage credit and indirectly enables families to buy, refinance or rent
        homes.", "dateLastCrawled": "2017-03-03T07:13:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "exv10w30", "url": "https:\/\/www.sec.gov\/Archives\/edgar\/data\/1520566\/000095012312001025\/y04863a2exv10w30.htm",
        "urlPingSuffix": "DevEx,5085.1", "displayUrl": "https:\/\/www.sec.gov\/Archives\/edgar\/data\/1520566\/000095012312001025\/...",
        "snippet": "This ASAP Plus Agreement is made pursuant to, and shall be deemed
        to be a part of, the Mortgage Selling an[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=fannie%20mae%20(site:www.sec.gov/news)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=fannie%20mae%20(site:sec.gov/archives/edgar)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/[...]
