---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=fannie%20mae%20(site:www.sec.gov/archives/edgar)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C70B4309E9B6495A848E2AC25B8F5647
      X-Msedge-Clientid:
      - 1924496E31FA685719E24229306D69D8
      X-Msapi-Userstate:
      - '4509'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=AE97C08292184662BB54D19E36E1D3E5&CID=1924496E31FA685719E24229306D69D8&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=AE97C08292184662BB54D19E36E1D3E5&CID=1924496E31FA685719E24229306D69D8&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=fannie+mae+(site%3awww.sec.gov%2farchives%2fedgar)",
        "webSearchUrlPingSuffix": "DevEx,5448.1", "totalEstimatedMatches": 6850, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Form
        10-K - SEC.gov | HOME", "url": "https:\/\/www.sec.gov\/Archives\/edgar\/data\/310522\/000119312512087297\/d282546d10k.htm",
        "urlPingSuffix": "DevEx,5088.1", "displayUrl": "https:\/\/www.sec.gov\/Archives\/edgar\/data\/310522\/000119312512087297\/...",
        "snippet": "Form 10-K . ANNUAL REPORT ... the holders of our equity or debt
        securities or the holders of Fannie Mae MBS unless specifically directed
        to do so by the conservator.", "dateLastCrawled": "2017-11-21T17:17:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "exv10w3
        - SEC.gov", "url": "https:\/\/www.sec.gov\/Archives\/edgar\/containers\/fix390\/1508015\/000095012311010492\/y04304a1exv10w3.htm",
        "urlPingSuffix": "DevEx,5103.1", "displayUrl": "https:\/\/www.sec.gov\/Archives\/edgar\/containers\/fix390\/1508015\/...",
        "snippet": "Subservicer shall provide Fannie Mae and its designated service
        providers with[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=fannie%20mae%20(site:www.sec.gov/news)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=fannie%20mae%20(site:sec.gov/archives/edgar/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application[...]
