---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(fannie%20mae)%20language:en%20(site:www.sec.gov/archives/edgar)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028fannie
        mae\u0029 language\u003aen \u0028site\u003awww.sec.gov\u002farchives\u002fedgar\u0029"},"Web":{"Total":9710,"Offset":0,"Results":[{"Title":"Document
        - sec.gov","Description":"Fannie Mae provides reliable, large-scale access
        to affordable mortgage credit and indirectly enables families to buy, refinance
        or rent homes.","Url":"https\u003a\u002f\u002fwww.sec.gov\u002fArchives\u002fedgar\u002fdata\u002f310522\u002f000031052216000569\u002ffanniemaeq20630201610q.htm","DisplayUrl":"https\u003a\u002f\u002fwww.sec.gov\u002f...\u002f000031052216000569\u002ffanniemaeq20630201610q.htm","DateTime":"2016-12-03T07\u003a41\u003a00Z"},{"Title":"exv10w30
        - sec.gov","Description":"This ASAP Plus Agreement is made pursuant to, and
        shall be deemed to be a part of, the Mortgage Selling and Servicing Contract
        between Fannie Mae and the Lender and ...","Url":"https\u003a\u002f\u002fwww.sec.gov\u002fArchives\u002fedgar\u002fdata\u002f1520566\u002f000095012312001025\u002fy04863a2exv10w30.htm","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dfannie\u002bmae\u0026d\u003d4681473055266324\u0026w\u003dDTTi5sdLOqlQ43j30rfHh6NX-Hm1L9Ed","DisplayUrl":"https\u003a\u002f\u002fwww.sec.gov\u002fArchives\u002fedgar\u002fdata\u002f1520566\u002f000095012312001025\u002f...","DateTime":"2016-11-25T02\u003a58\u003a00Z"},{"Title":"Fannie
        Mae As Soon As Pooled Agreement - sec.gov","Description":"WHEREAS, Lender
        seeks to deliver certain residential mortgage loans \u0028[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(fannie%20mae)%20language:en%20(site:www.sec.gov/news)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UT[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(fannie%20mae)%20language:en%20(site:sec.gov/archives/edgar)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encodi[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=fannie%20mae%20(site:www.sec.gov/archives/edgar)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - FEEDB93088B04228BD56B0D18A14DC31
      X-Msedge-Clientid:
      - 1633EAE86AED6FB90177E0F66B7A6E0F
      X-Msapi-Userstate:
      - c7e6
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9C0269BFF3CE4EE5883C6B79B032622E&CID=1633EAE86AED6FB90177E0F66B7A6E0F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9C0269BFF3CE4EE5883C6B79B032622E&CID=1633EAE86AED6FB90177E0F66B7A6E0F&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=fannie+mae+(site%3awww.sec.gov%2farchives%2fedgar)",
        "webSearchUrlPingSuffix": "DevEx,5444.1", "totalEstimatedMatches": 5460, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Document",
        "url": "https:\/\/www.sec.gov\/Archives\/edgar\/data\/310522\/000031052216000569\/fanniemaeq20630201610q.htm",
        "urlPingSuffix": "DevEx,5095.1", "displayUrl": "https:\/\/www.sec.gov\/...\/000031052216000569\/fanniemaeq20630201610q.htm",
        "snippet": "Fannie Mae provides reliable, large-scale access to affordable
        mortgage credit and indirectly enables families to buy, refinance or rent
        homes.", "dateLastCrawled": "2017-01-26T20:01:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "exv10w30", "url": "https:\/\/www.sec.gov\/Archives\/edgar\/data\/1520566\/000095012312001025\/y04863a2exv10w30.htm",
        "urlPingSuffix": "DevEx,5108.1", "displayUrl": "https:\/\/www.sec.gov\/Archives\/edgar\/data\/1520566\/000095012312001025\/...",
        "snippet": "This ASAP Plus Agreement is made pursuant to, and shall be deemed
        to be a part of, the Mortgage Selling an[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=fannie%20mae%20(site:www.sec.gov/news)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=fannie%20mae%20(site:sec.gov/archives/edgar)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/[...]
