---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(news)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028news\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":13000000,"Offset":0,"Results":[{"Title":"News
        - USGS","Description":"News Dive into the world of science\u0021 Read these
        storiesand narratives to learn about news items, hottopics, expeditions
        underway, and much more. Get Our News","Url":"https\u003a\u002f\u002fwww.usgs.gov\u002fnews","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dnews\u0026d\u003d4708363818175045\u0026w\u003dco0-BXUn9tRdHecxvN1Trf126xl5Be_k","DisplayUrl":"https\u003a\u002f\u002fwww.usgs.gov\u002fnews","DateTime":"2016-12-02T04\u003a27\u003a00Z"},{"Title":"News
        \u0026 Updates \u007c USPTO","Description":"News \u0026 Updates\u003b Organizational
        Offices. Office of Policy and International Affairs\u003b Office of the Chief
        Administrative Officer\u003b Office of the Chief Communications ...","Url":"https\u003a\u002f\u002fwww.uspto.gov\u002fabout-us\u002fnews-updates","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dnews\u0026d\u003d4821703692716982\u0026[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(news)%20language:en%20(site:apps.usa.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      st[...]
