---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 4C0BA9F0885D4141BA5B2A57E49824E4
      Bingapis-Sessionid:
      - 31ADBCCDD336453AB27316A75599E333
      X-Msedge-Clientid:
      - 24FED8BDE2B06CFA0DE8C816E34D6D52
      X-Msapi-Userstate:
      - '8698'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=221,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "news
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=news+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 31200000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Newsroom", "url": "https:\/\/www.defense.gov\/Newsroom\/", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.defense.gov\/Newsroom", "snippet":
        "The Department of Defense and the Office of Military Commissions will allocate
        seats for news media aboard a military-chartered aircraft for travel from
        Joint Base Andrews in Maryland to Naval ...", "dateLastCrawled": "2021-09-04T15:15:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "U.S. Visas News - United States Department of State", "url":
        "https:\/\/travel.state.gov\/content\/travel\/en\/News\/visas-news.html",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/travel.state.gov\/content\/travel\/en\/News\/visas-news.html",
        "snippet": "U.S. Visas News. Sep 1, 2021 Update on Visa Processing at U.S.
        Embassy Kabul. Aug 30, 2021 Immigran[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=news%20(site:blog.usa.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      [...]
[...]
