---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 50C86FF54E5448149C2A46C8DBA48910
      X-Msedge-Clientid:
      - 23A01E4E383E66F6057214F139A967AD
      X-Msapi-Userstate:
      - '8044'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=50765142FBE54A8CACB2C5901BFBF297&CID=23A01E4E383E66F6057214F139A967AD&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=50765142FBE54A8CACB2C5901BFBF297&CID=23A01E4E383E66F6057214F139A967AD&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=news+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5518.1", "totalEstimatedMatches": 45000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "HHS Media - Official Site", "url": "https:\/\/www.hhs.gov\/about\/news\/index.html",
        "urlPingSuffix": "DevEx,5081.1", "displayUrl": "https:\/\/www.hhs.gov\/about\/news",
        "snippet": "News. Public Affairs Contacts. Visit our Public Affairs Contacts
        page to access HHS media information as well as press office contact information
        for ASPA and HHS ...", "dateLastCrawled": "2017-07-09T22:58:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "News
        | NSF - National Science Foundation", "url": "https:\/\/nsf.gov\/news\/",
        "urlPingSuffix": "DevEx,5103.1", "displayUrl": "https:\/\/nsf.gov\/news",
        "snippet": "NSF''s mission is to advance the progress of science, a mission
        accomplished by funding proposals for research and education made by scientists,
        engineers, and ...", "deepLinks": [{"name": "News Releases", "url": "https:\/\/www.nsf.gov\/news\/news_list.cfm?nt=2",
        "urlPingSuffix": "DevEx,5094.1"}, {"name": "Human Water Cycle", "url": "https:\/\/www.nsf.gov\/news\/special_reports\/human_water_cycle\/index.jsp",
        "urlPingSuffix": "DevEx,5095.1"}, {"name": "Holotype Spiny Slug", "url": "https:\/\/nsf.gov\/news\/news_summ.jsp?cntn_id=191032&org=NSF&from=news",
        "urlPingSuffix": "DevEx,5096.1"}, {"name": "Student and Teacher", "url": "https:\/\/www.nsf.g[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=news%20(site:blog.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-[...]
[...]
