---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gov%20(site:www.usa.gov/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0D6A6ACFA9F545B598A82E37A2652BE2
      X-Msedge-Clientid:
      - 1326BB5003656B240D8BB01702F26AD5
      X-Msapi-Userstate:
      - edbb
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=278B7CB4B47A408E984BDA0B77B35069&CID=1326BB5003656B240D8BB01702F26AD5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=278B7CB4B47A408E984BDA0B77B35069&CID=1326BB5003656B240D8BB01702F26AD5&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3awww.usa.gov%2f)",
        "webSearchUrlPingSuffix": "DevEx,5534.1", "totalEstimatedMatches": 153000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USA.gov - Official Site", "url": "https:\/\/www.usa.gov\/", "urlPingSuffix":
        "DevEx,5102.1", "displayUrl": "https:\/\/www.usa.gov", "snippet": "USA.gov
        can help you start your search for government information by topic and agency.",
        "deepLinks": [{"name": "Federal Agencies", "url": "https:\/\/www.usa.gov\/federal-agencies\/a",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "Unclaimed Money", "url": "https:\/\/www.usa.gov\/unclaimed-money",
        "urlPingSuffix": "DevEx,5091.1"}, {"name": "Travel and Immigration", "url":
        "https:\/\/www.usa.gov\/travel-and-immigration", "urlPingSuffix": "DevEx,5092.1"}],
        "dateLastCrawled": "2017-11-22T20:54:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Government Agencies and Elected Officials | USAGov", "url": "https:\/\/www.usa.gov\/agencies",
        "urlPingSuffix": "DevEx,5119.1", "displayUrl": "https:\/\/www.usa.gov\/agencies",
        "snippet": "The .gov means it''s official. Federal government websites often
        end in .gov or .mil. Before sharing sensitive information, make sure you''re
        on a federal govern[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gobierno%20(site:gobierno.usa.gov/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; cha[...]
