---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 67C8942E0C2E4CDB9B0BC635DFF87E83
      X-Msedge-Clientid:
      - 0DBF5283E64C69AC1572590FE7E368B9
      X-Msapi-Userstate:
      - 48f3
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1FEEC34A6C92413F8C5300EAB88D28E3&CID=0DBF5283E64C69AC1572590FE7E368B9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1FEEC34A6C92413F8C5300EAB88D28E3&CID=0DBF5283E64C69AC1572590FE7E368B9&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=news+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5516.1", "totalEstimatedMatches": 37100000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "News | NSF - National Science Foundation", "url": "https:\/\/nsf.gov\/news\/",
        "urlPingSuffix": "DevEx,5097.1", "about": [{"name": "National Science Foundation"}],
        "displayUrl": "https:\/\/nsf.gov\/news", "snippet": "NSF''s mission is to
        advance the progress of science, a mission accomplished by funding proposals
        for research and education made by scientists, engineers, and ...", "deepLinks":
        [{"name": "Human Water Cycle", "url": "https:\/\/www.nsf.gov\/news\/special_reports\/human_water_cycle\/index.jsp",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "Biology", "url": "https:\/\/www.nsf.gov\/news\/index.jsp?prio_area=3",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Newsroom", "url": "https:\/\/www.nsf.gov\/news\/newsroom.jsp",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "Special Reports", "url": "https:\/\/www.nsf.gov\/news\/special_reports\/",
        "urlPingSuffix": "DevEx,5091.1"}, {"name": "U.S.", "url": "https:\/\/www.nsf.gov\/news\/news_summ.jsp?cntn_id=138177",
        "urlPingSuffix": "DevEx,5092.1"}], "dateLastCrawled": "2018-01-29T09:12:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "News
        - usgs.gov", "url": "https:\/\/www.usgs.gov\/news", "urlPingSuffix": "DevEx,5112.1",
        "displayUrl": "https:\/\/www.usgs.gov\/news", "snippet": "News Dive
        into the world of science! Read these stories and narratives to learn about
        news items, hot topics, expeditions underway, and much more.", "deepLinks":
        [{"name": "News Releases", "[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=news%20(site:blog.usa.gov/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf[...]
[...]
