---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E742788936FC439AA19C5302C87A31E8
      X-Msedge-Clientid:
      - 3E2C76F7554666B710877AAF5449676A
      X-Msapi-Userstate:
      - 99b1
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=75A764FA17264EE78438DCCE6D615BA6&CID=3E2C76F7554666B710877AAF5449676A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=75A764FA17264EE78438DCCE6D615BA6&CID=3E2C76F7554666B710877AAF5449676A&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=news+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5414.1", "totalEstimatedMatches": 31300000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "News | USCIS", "url": "https:\/\/www.uscis.gov\/news", "urlPingSuffix":
        "DevEx,5058.1", "displayUrl": "https:\/\/www.uscis.gov\/news", "snippet":
        "Here we have the latest news within the immigration benefit world, handled
        by U.S. Citizenship and Immigration Services (USCIS). Both news media
        and general public can find important information about", "dateLastCrawled":
        "2018-08-20T20:00:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "News | Governor Andrew M. Cuomo", "url": "https:\/\/www.governor.ny.gov\/news",
        "urlPingSuffix": "DevEx,5072.1", "about": [{"name": "Andrew Cuomo"}], "displayUrl":
        "https:\/\/www.governor.ny.gov\/news", "snippet": "The official website
        of the 56th Governor of New York State, Andrew M. Cuomo. Find information
        about the administration, issues, & news that affects you.", "dateLastCrawled":
        "2018-08-20T00:42:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "News | NSF - National Science Foundation", "url": "https:\/\/nsf.gov\/news\/",
   [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=news%20(site:www.data.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5E8B4F8ACE8D4C16A70BE6F7015EDCDC
 [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=app%20(site:www.data.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E071C982602247CB826F15C2C7F6D12E
  [...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 695A6A029F1045F0B35653B8EBD66AF6
      Bingapis-Sessionid:
      - 4E6D2EF1F7FA43E3AD7543E0218F9CD2
      X-Msedge-Clientid:
      - 367CEB68916F60691EFDE7EA9023613A
      X-Msapi-Userstate:
      - 97c0
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=112,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "news
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=news+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 29000000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "News | The White House", "url": "https:\/\/www.whitehouse.gov\/news\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.whitehouse.gov\/news",
        "snippet": "Follow the latest updates from the Trump Administration, including
        briefings and statements, Presidential actions, and news articles.", "dateLastCrawled":
        "2018-10-05T06:35:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "News | USCIS", "url": "https:\/\/www.uscis.gov\/news", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.uscis.gov\/news", "snippet": "Here
        we have the latest news within the immigration benefit world, handled by
        U.S. Citizenship and Immigration Services (USCIS). Both news media and
        general public can find important information about", "dateLa[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=news%20(site:www.data.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      [...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=app%20(site:www.data.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      B[...]
