---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3439F4B46D4B4F5BB6573E021D8C6AB4
      X-Msedge-Clientid:
      - 1F48231ABB786B93015429A5BAEF6AE2
      X-Msapi-Userstate:
      - d00a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=27D23688097F4CB99A4B5D076465A4DF&CID=1F48231ABB786B93015429A5BAEF6AE2&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=27D23688097F4CB99A4B5D076465A4DF&CID=1F48231ABB786B93015429A5BAEF6AE2&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=news+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5519.1", "totalEstimatedMatches": 45000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "HHS Media - Official Site", "url": "https:\/\/www.hhs.gov\/about\/news\/index.html",
        "urlPingSuffix": "DevEx,5081.1", "displayUrl": "https:\/\/www.hhs.gov\/about\/news",
        "snippet": "News. Public Affairs Contacts. Visit our Public Affairs Contacts
        page to access HHS media information as well as press office contact information
        for ASPA and HHS ...", "dateLastCrawled": "2017-07-09T22:58:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "News
        | NSF - National Science Foundation", "url": "https:\/\/nsf.gov\/news\/",
        "urlPingSuffix": "DevEx,5101.1", "displayUrl": "https:\/\/nsf.gov\/news",
        "snippet": "NSF''s mission is to advance the progress of science, a mission
        accomplished by funding proposals for research and education made by scientists,
        engineers, and ...", "deepLinks": [{"name": "News Releases", "url": "https:\/\/www.nsf.gov\/news\/news_list.cfm?nt=2",
        "urlPingSuffix": "DevEx,5094.1"}, {"name": "Search News", "url": "https:\/\/www.nsf.gov\/news\/search.jsp",
        "urlPingSuffix": "DevEx,5095.1"}, {"name": "Generation Nano Challenge", "url":
        "https:\/\/www.nsf.gov\/news\/special_reports\/gennano\/", "urlPingSuffix":
        "DevEx,5096.1"}, {"name": "Molecular Orientation", "url": "https:\/\/www.nsf.gov\/news\/news_summ.jsp?cntn_id=189962&or[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=news%20(site:apps.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 40CCE8B485A74BD7A25DD42E5D8E8C35
      X-Msedge-Clientid:
      - 15C55BC2069C68A40B76517D070B697C
      X-Msapi-Userstate:
      - 63a9
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9BE7F3FA7168471CB182F1FF86BB6ECE&CID=15C55BC2069C68A40B76517D070B697C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9BE7F3FA7168471CB182F1FF86BB6ECE&CID=15C55BC2069C68A40B76517D070B697C&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Fri, 14 Jul 2017 18:16:43 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=app%20(site:apps.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8[...]
