---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(gov)%20language:en%20(site:www.usa.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028gov\u0029
        language\u003aen \u0028site\u003awww.usa.gov\u0029"},"Web":{"Total":63500,"Offset":0,"Results":[{"Title":"USA.gov","Description":"USA.gov
        can help you start your search for government information by topic and agency.","Url":"https\u003a\u002f\u002fwww.usa.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dgov\u0026d\u003d5022647986489455\u0026w\u003dZ7i3xDPBRpfsCVZ8QKbGM7O9mXJjhpZE","DisplayUrl":"https\u003a\u002f\u002fwww.usa.gov","DateTime":"2016-12-03T02\u003a03\u003a00Z"},{"Title":"U.S.
        Government Services and Information \u007c USAGov","Description":"U.S. Government
        Services and Information. Find government information and services by topic.
        About the U.S. Learn where to find answers to the most requested facts ...","Url":"https\u003a\u002f\u002fwww.usa.gov\u002ftopics","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dgov\u0026d\u003d4708277930166918\u0026w\u003dbJxMDzHXhGVdE-dH0[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(gobierno)%20language:es%20(site:gobierno.usa.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gov%20(site:www.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E03E063346D24FA0A4BA58AF628B1EDB
      X-Msedge-Clientid:
      - 339693FD59FF6EEB1CB199E358686FCA
      X-Msapi-Userstate:
      - 6bbd
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5A9AAAFC6EE547E9A29D9BB9AB25A0E4&CID=339693FD59FF6EEB1CB199E358686FCA&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5A9AAAFC6EE547E9A29D9BB9AB25A0E4&CID=339693FD59FF6EEB1CB199E358686FCA&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3awww.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5505.1", "totalEstimatedMatches": 13900,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USA.gov - Official Site", "url": "https:\/\/www.usa.gov\/", "urlPingSuffix":
        "DevEx,5111.1", "about": [{"name": "Crockett County Head Start"}], "displayUrl":
        "https:\/\/www.usa.gov", "snippet": "USA.gov can help you start your search
        for government information by topic and agency.", "deepLinks": [{"name": "Federal
        Agencies", "url": "https:\/\/www.usa.gov\/federal-agencies\/a", "urlPingSuffix":
        "DevEx,5100.1"}, {"name": "Unclaimed Money", "url": "https:\/\/www.usa.gov\/unclaimed-money",
        "urlPingSuffix": "DevEx,5101.1"}, {"name": "Branches of Government", "url":
        "https:\/\/www.usa.gov\/branches-of-government", "urlPingSuffix": "DevEx,5102.1"}],
        "dateLastCrawled": "2017-01-25T21:02:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Government Agencies and Elected Officials | USA.gov", "url":
        "https:\/\/www.usa.gov\/agencies", "urlPingSuffix": "DevEx,5128.1", "displayUrl":
        "https:\/\/www.usa.gov\/agencies", "snippet": "Find contact information
        for federal, state, and local government agencies; government-related programs;
        and elected officials. A-Z Index of U.S. Government Age[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gobierno%20(site:gobierno.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; char[...]
