---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=gov%20(site:www.usa.gov/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 23E0CF1E301240C7A21D1EA4CB2EBB74
      X-Msedge-Clientid:
      - 312D5163C0F461A91A615AFDC111607E
      X-Msapi-Userstate:
      - da2c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=6875BC04C54B4DBAB3789EE30409B5E7&CID=312D5163C0F461A91A615AFDC111607E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=6875BC04C54B4DBAB3789EE30409B5E7&CID=312D5163C0F461A91A615AFDC111607E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3awww.usa.gov%2f)",
        "webSearchUrlPingSuffix": "DevEx,5547.1", "totalEstimatedMatches": 99900,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USA.gov - Official Site", "url": "https:\/\/www.usa.gov\/", "urlPingSuffix":
        "DevEx,5099.1", "about": [{"name": "United States"}], "displayUrl": "https:\/\/www.usa.gov",
        "snippet": "USA.gov can help you start your search for government information
        by topic and agency.", "deepLinks": [{"name": "Federal Agencies", "url": "https:\/\/www.usa.gov\/federal-agencies\/a",
        "urlPingSuffix": "DevEx,5086.1"}, {"name": "Unclaimed Money", "url": "https:\/\/www.usa.gov\/unclaimed-money",
        "urlPingSuffix": "DevEx,5087.1"}, {"name": "Travel and Immigration", "url":
        "https:\/\/www.usa.gov\/travel-and-immigration", "urlPingSuffix": "DevEx,5088.1"}],
        "dateLastCrawled": "2018-02-13T21:43:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Government Agencies and Elected Officials | USAGov", "url": "https:\/\/www.usa.gov\/agencies",
        "urlPingSuffix": "DevEx,5117.1", "displayUrl": "https:\/\/www.usa.gov\/agencies",
        "snippet": "The .gov means it''s official. Federal government websites often
        end in .gov or .mil. Before sharing sensitive information, make sure you''re
        on a federal govern[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=gobierno%20(site:gobierno.usa.gov/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/j[...]
