---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gov%20(site:www.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 22E778B938914467A8A02EBC19F32049
      X-Msedge-Clientid:
      - 15860164179A6F6C06B80A6C160D6EE5
      X-Msapi-Userstate:
      - 06f6
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D75F42BD383248C7913E04584AC56FD5&CID=15860164179A6F6C06B80A6C160D6EE5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D75F42BD383248C7913E04584AC56FD5&CID=15860164179A6F6C06B80A6C160D6EE5&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=gov+(site%3awww.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5522.1", "totalEstimatedMatches": 120000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "USA.gov - Official Site", "url": "https:\/\/www.usa.gov\/", "urlPingSuffix":
        "DevEx,5089.1", "displayUrl": "https:\/\/www.usa.gov", "snippet": "USA.gov
        can help you start your search for government information by topic and agency.",
        "deepLinks": [{"name": "Federal Agencies", "url": "https:\/\/www.usa.gov\/federal-agencies\/a",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "Unclaimed Money", "url": "https:\/\/www.usa.gov\/unclaimed-money",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Travel and Immigration", "url":
        "https:\/\/www.usa.gov\/travel-and-immigration", "urlPingSuffix": "DevEx,5079.1"}],
        "dateLastCrawled": "2017-09-21T12:54:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Jobs and Unemployment | USAGov", "url": "https:\/\/www.usa.gov\/jobs-and-unemployment",
        "urlPingSuffix": "DevEx,5107.1", "displayUrl": "https:\/\/www.usa.gov\/jobs-and-unemployment",
        "snippet": "The .gov means it''s official. Federal government websites often
        end in .gov or .mil. Before sharing sensitive information, make sure you''re
        on a federa[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=gobierno%20(site:gobierno.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; char[...]
