---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(news)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028news\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":13000000,"Offset":0,"Results":[{"Title":"News
        \u0026 Updates \u007c USPTO","Description":"News \u0026 Updates\u003b Organizational
        Offices. Office of Policy and International Affairs\u003b Office of the Chief
        Administrative Officer\u003b Office of the Chief Communications ...","Url":"https\u003a\u002f\u002fwww.uspto.gov\u002fabout-us\u002fnews-updates","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dnews\u0026d\u003d4821703692716982\u0026w\u003db8xNyth3e52QqHNX32WAtAGhJWImJb28","DisplayUrl":"https\u003a\u002f\u002fwww.uspto.gov\u002fabout-us\u002fnews-updates","DateTime":"2016-12-04T16\u003a13\u003a00Z"},{"Title":"News
        \u007c HHS.gov","Description":"2015 News Releases ... Public Affairs Contacts.
        Visit our Public Affairs Contacts page to access HHS media information as
        well as press office contact information for ...","Url":"http\u003a\u002f\u002fwww.hhs.gov\u002fabout\u002fnews\u002findex.html","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dnews\u0026d\u003d4894580743538782\u0026w\u003dHS0zOX0bRsSxzFLpzXrk[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(news)%20language:en%20(site:blog.usa.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      st[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0148DD329B4346B19EB682575B4FC32E
      X-Msedge-Clientid:
      - 2993984AF23E688C1EDC9254F3A96985
      X-Msapi-Userstate:
      - '4708'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5C6AB38C903444FB80192F7C689B4135&CID=2993984AF23E688C1EDC9254F3A96985&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5C6AB38C903444FB80192F7C689B4135&CID=2993984AF23E688C1EDC9254F3A96985&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=news+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5501.1", "totalEstimatedMatches": 12100000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "HHS Media - Official Site", "url": "https:\/\/www.hhs.gov\/about\/news\/index.html",
        "urlPingSuffix": "DevEx,5100.1", "displayUrl": "https:\/\/www.hhs.gov\/about\/news",
        "snippet": "News Release Archives. Search 2012 - 1991 News Releases. Recent
        Blog Posts. #CoverageMatters: Finding Health Care in a Gig Economy. #CoverageMatters:
        Getting Good ...", "dateLastCrawled": "2017-01-25T07:26:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "News | NSF
        - National Science Foundation", "url": "https:\/\/nsf.gov\/news\/", "urlPingSuffix":
        "DevEx,5119.1", "displayUrl": "https:\/\/nsf.gov\/news", "snippet": "NSF''s
        mission is to advance the progress of science, a mission accomplished by funding
        proposals for research and education made by scientists, engineers, and ...",
        "deepLinks": [{"name": "News Releases", "url": "https:\/\/www.nsf.gov\/news\/news_list.cfm?nt=2",
        "urlPingSuffix": "DevEx,5113.1"}, {"name": "Search News", "url": "https:\/\/www.nsf.gov\/news\/search.jsp",
        "urlPingSuffix": "DevEx,5114.1"}, {"name": "Generation Nano Challenge", "url":
        "https:\/\/www.nsf.gov\/news\/special_reports\/gennano\/", "urlPingSuffix":
        "DevEx,5115.1"}, {"name": "Molecular Orientation", "url": "https:\/\/www.nsf.gov\/news\/news_summ.jsp?cntn_id=189962&or[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=news%20(site:blog.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-[...]
[...]
