---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - EAFDD3BD80A249F1933F0F71A2861E53
      X-Msedge-Clientid:
      - 2E7F61E2AB9864D52F136DBAAA97659B
      X-Msapi-Userstate:
      - bc18
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=747CA14D44CC4C81A99494E2EA182898&CID=2E7F61E2AB9864D52F136DBAAA97659B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=747CA14D44CC4C81A99494E2EA182898&CID=2E7F61E2AB9864D52F136DBAAA97659B&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=news+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5415.1", "totalEstimatedMatches": 31300000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "News | USCIS", "url": "https:\/\/www.uscis.gov\/news", "urlPingSuffix":
        "DevEx,5058.1", "displayUrl": "https:\/\/www.uscis.gov\/news", "snippet":
        "Here we have the latest news within the immigration benefit world, handled
        by U.S. Citizenship and Immigration Services (USCIS). Both news media
        and general public can find important information about", "dateLastCrawled":
        "2018-08-20T20:00:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "News | Governor Andrew M. Cuomo", "url": "https:\/\/www.governor.ny.gov\/news",
        "urlPingSuffix": "DevEx,5072.1", "about": [{"name": "Andrew Cuomo"}], "displayUrl":
        "https:\/\/www.governor.ny.gov\/news", "snippet": "The official website
        of the 56th Governor of New York State, Andrew M. Cuomo. Find information
        about the administration, issues, & news that affects you.", "dateLastCrawled":
        "2018-08-20T00:42:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "News | NSF - National Science Foundation", "url": "https:\/\/nsf.gov\/news\/",
   [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=news%20(site:blog.usa.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1647A89761A04A6E99DE8B0E477CCBDF
 [...]
[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E768EE86C0304CC1A7AB44B2A5A92B4C
      Bingapis-Sessionid:
      - 34F1C3A886B94D0D918AD749FEBCB30C
      X-Msedge-Clientid:
      - 35B0D29F9E0E647E1D39DE1D9F42650F
      X-Msapi-Userstate:
      - 37df
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=219,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "news
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=news+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 29000000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "News | The White House", "url": "https:\/\/www.whitehouse.gov\/news\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.whitehouse.gov\/news",
        "snippet": "Follow the latest updates from the Trump Administration, including
        briefings and statements, Presidential actions, and news articles.", "dateLastCrawled":
        "2018-10-05T06:35:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "News | USCIS", "url": "https:\/\/www.uscis.gov\/news", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.uscis.gov\/news", "snippet": "Here
        we have the latest news within the immigration benefit world, handled by
        U.S. Citizenship and Immigration Services (USCIS). Both news media and
        general public can find important information about", "dateLa[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=news%20(site:blog.usa.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      [...]
[...]
