---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8BE04E11103040F98921FBE0D3F1E997
      X-Msedge-Clientid:
      - 2D74E0DC40656BEF0BC2EABE41F26AD2
      X-Msapi-Userstate:
      - 959f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=386E3078942741ADB5D4B239C9834319&CID=2D74E0DC40656BEF0BC2EABE41F26AD2&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=386E3078942741ADB5D4B239C9834319&CID=2D74E0DC40656BEF0BC2EABE41F26AD2&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=news+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5494.1", "totalEstimatedMatches": 14000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "HHS Media - Official Site", "url": "https:\/\/www.hhs.gov\/about\/news\/index.html",
        "urlPingSuffix": "DevEx,5081.1", "displayUrl": "https:\/\/www.hhs.gov\/about\/news",
        "snippet": "News. Public Affairs Contacts. Visit our Public Affairs Contacts
        page to access HHS media information as well as press office contact information
        for ASPA and HHS ...", "dateLastCrawled": "2017-04-01T21:12:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "News
        | NSF - National Science Foundation", "url": "https:\/\/nsf.gov\/news\/",
        "urlPingSuffix": "DevEx,5099.1", "displayUrl": "https:\/\/nsf.gov\/news",
        "snippet": "NSF''s mission is to advance the progress of science, a mission
        accomplished by funding proposals for research and education made by scientists,
        engineers, and ...", "deepLinks": [{"name": "News Releases", "url": "https:\/\/www.nsf.gov\/news\/news_list.cfm?nt=2",
        "urlPingSuffix": "DevEx,5093.1"}, {"name": "Search News", "url": "https:\/\/www.nsf.gov\/news\/search.jsp",
        "urlPingSuffix": "DevEx,5094.1"}, {"name": "Generation Nano Challenge", "url":
        "https:\/\/www.nsf.gov\/news\/special_reports\/gennano\/", "urlPingSuffix":
        "DevEx,5095.1"}, {"name": "Molecular Orientation", "url": "https:\/\/www.nsf.gov\/news\/news_summ.jsp?cntn_id=189962&org=NSF&from=news",
        "urlPingSuffix": "DevEx,5096.1"}], "dateLastCrawled": "2017-04-08T10:43:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "News
        & Blog | Department of Energy", "url": "https:\/\/energy.gov\/news-blog",
        "urlPingSuffix": "DevEx,5110.1", "displayUrl": "https:\/\/energy.gov\/news-blog",
        "snippet": "News & Blog Home; Blog Archive; News Archive; Media Advisories;
        Speeches; Photos; Videos; Maps; Data; Web Policies. Web Policies Home; Social
        Media; Article Guidance ...", "dateLastCrawled": "2017-04-02T04:31:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "National
        Weather Service - Official Site", "url": "http:\/\/www.weather.gov\/", "urlPingSuffix":
        "DevEx,5123.1", "about": [{"name": "National Weather Service"}], "displayUrl":
        "www.weather.gov", "snippet": "Official U.S. weather, marine, fire and aviation
        forecasts, warnings, meteorological products, climate forecasts and information
        about meteorology.", "dateLastCrawled": "2017-04-09T05:19:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.4", "name": "news release
        - USGS", "url": "https:\/\/www.usgs.gov\/news", "urlPingSuffix": "DevEx,5134.1",
      [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=news%20(site:blog.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-[...]
[...]
