---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - FD13AA1B1EC1489B9D026C083DFDFEDA
      X-Msedge-Clientid:
      - '085AF7E64E7E6EBB042FFD254FE96FA0'
      X-Msapi-Userstate:
      - 78e0
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D3CA0465CFD941708531AEEFDBEB2F3A&CID=085AF7E64E7E6EBB042FFD254FE96FA0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D3CA0465CFD941708531AEEFDBEB2F3A&CID=085AF7E64E7E6EBB042FFD254FE96FA0&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=news+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5515.1", "totalEstimatedMatches": 43600000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "HHS Media - Official Site", "url": "https:\/\/www.hhs.gov\/about\/news\/index.html",
        "urlPingSuffix": "DevEx,5082.1", "displayUrl": "https:\/\/www.hhs.gov\/about\/news",
        "snippet": "Latest News Releases ... Public Affairs Contacts. Visit our
        Public Affairs Contacts page to access HHS media information as well as press
        office contact information ...", "dateLastCrawled": "2017-07-14T17:29:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "News
        | USCIS", "url": "https:\/\/www.uscis.gov\/news", "urlPingSuffix": "DevEx,5103.1",
        "displayUrl": "https:\/\/www.uscis.gov\/news", "snippet": "Here we have
        the latest news within the immigration benefit world, handled by U.S. Citizenship
        and Immigration Services (USCIS). Both news media and general public ...",
        "deepLinks": [{"name": "News Releases", "url": "https:\/\/www.uscis.gov\/news-releases",
        "urlPingSuffix": "DevEx,5094.1"}, {"name": "Alerts", "url": "https:\/\/www.uscis.gov\/news\/alerts",
        "urlPingSuffix": "DevEx,5095.1"}, {"name": "Forms", "url": "https:\/\/www.uscis.gov\/forms",
        "urlPingSuffix": "DevEx,5096.1"}, {"name": "Case Status", "url": "https:\/\/egov.uscis.gov\/",
        "urlPingSuffix": "DevEx,5097.1"}, {"name": "Media Contacts", "url": "https:\/\/www.uscis.gov\/news\/me[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=news%20(site:blog.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-[...]
[...]
