---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(news)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028news\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":13000000,"Offset":0,"Results":[{"Title":"News
        - USGS","Description":"News Dive into the world of science\u0021 Read these
        storiesand narratives to learn about news items, hottopics, expeditions
        underway, and much more. Get Our News","Url":"https\u003a\u002f\u002fwww.usgs.gov\u002fnews","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dnews\u0026d\u003d4708363818175045\u0026w\u003dco0-BXUn9tRdHecxvN1Trf126xl5Be_k","DisplayUrl":"https\u003a\u002f\u002fwww.usgs.gov\u002fnews","DateTime":"2016-12-02T04\u003a27\u003a00Z"},{"Title":"News
        \u0026 Updates \u007c USPTO","Description":"News \u0026 Updates\u003b Organizational
        Offices. Office of Policy and International Affairs\u003b Office of the Chief
        Administrative Officer\u003b Office of the Chief Communications ...","Url":"https\u003a\u002f\u002fwww.uspto.gov\u002fabout-us\u002fnews-updates","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dnews\u0026d\u003d4821703692716982\u0026[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(news)%20language:en%20(site:apps.usa.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      st[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=app%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 25C21E5D927A460DA0572A393FF3F2CB
      X-Msedge-Clientid:
      - 382A18A98F626374068A11568EF5621E
      X-Msapi-Userstate:
      - d8b7
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A36B6EC11EEF4DB386E84C4EA1CC7A84&CID=382A18A98F626374068A11568EF5621E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A36B6EC11EEF4DB386E84C4EA1CC7A84&CID=382A18A98F626374068A11568EF5621E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=app+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5457.1", "totalEstimatedMatches": 9150000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Mobile Apps Directory | USAGov", "url": "https:\/\/www.usa.gov\/mobile-apps",
        "urlPingSuffix": "DevEx,5080.1", "displayUrl": "https:\/\/www.usa.gov\/mobile-apps",
        "snippet": "Looking for government information and services optimized for
        your smart phone? Find government native apps, hybrid apps, responsive sites,
        and mobile websites that ...", "dateLastCrawled": "2017-01-01T12:55:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Smokefree
        Apps | Smokefree.gov", "url": "https:\/\/smokefree.gov\/tools-tips\/apps",
        "urlPingSuffix": "DevEx,5093.1", "displayUrl": "https:\/\/smokefree.gov\/tools-tips\/apps",
        "snippet": "Get 24\/7 help with a Smokefree app for your smartphone. These
        free apps give you the support and skills you need to get ready to quit and
        stay smokefree.", [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; chars[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=news%20(site:apps.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 15372E33BBB04F5886B02AEA8E90F110
      X-Msedge-Clientid:
      - 0A705BCE6F9D61AC21C651C86E0A60EA
      X-Msapi-Userstate:
      - 0b22
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A445C88D3EEF4E08845EBCC12371C463&CID=0A705BCE6F9D61AC21C651C86E0A60EA&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A445C88D3EEF4E08845EBCC12371C463&CID=0A705BCE6F9D61AC21C651C86E0A60EA&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 10 Jan 2017 17:06:24 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=app%20(site:apps.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8[...]
