---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(news)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028news\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":13000000,"Offset":0,"Results":[{"Title":"News
        \u0026 Updates \u007c USPTO","Description":"News \u0026 Updates\u003b Organizational
        Offices. Office of Policy and International Affairs\u003b Office of the Chief
        Administrative Officer\u003b Office of the Chief Communications ...","Url":"https\u003a\u002f\u002fwww.uspto.gov\u002fabout-us\u002fnews-updates","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dnews\u0026d\u003d4821703692716982\u0026w\u003db8xNyth3e52QqHNX32WAtAGhJWImJb28","DisplayUrl":"https\u003a\u002f\u002fwww.uspto.gov\u002fabout-us\u002fnews-updates","DateTime":"2016-12-04T16\u003a13\u003a00Z"},{"Title":"News
        \u007c HHS.gov","Description":"2015 News Releases ... Public Affairs Contacts.
        Visit our Public Affairs Contacts page to access HHS media information as
        well as press office contact information for ...","Url":"http\u003a\u002f\u002fwww.hhs.gov\u002fabout\u002fnews\u002findex.html","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dnews\u0026d\u003d4894580743538782\u0026w\u003dHS0zOX0bRsSxzFLpzXrk[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(news)%20language:en%20(site:blog.usa.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      st[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=news%20(site:blog.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 905F9D445A914F62974E626138A50E92
      X-Msedge-Clientid:
      - 2C8AFF93FE136F14322EF66CFF846E2B
      X-Msapi-Userstate:
      - '8934'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=2267281259A64437A5D346F55531F752&CID=2C8AFF93FE136F14322EF66CFF846E2B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=2267281259A64437A5D346F55531F752&CID=2C8AFF93FE136F14322EF66CFF846E2B&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=news+(site%3ablog.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5240.1", "totalEstimatedMatches": 7, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Blog
        | Blog.USA.gov", "url": "https:\/\/blog.usa.gov\/", "urlPingSuffix": "DevEx,5074.1",
        "displayUrl": "https:\/\/blog.usa.gov", "snippet": "USAGov is working to
        create the digital front door for the United States government. Follow our
        progress and help us learn as we go.", "deepLinks": [{"name": "Marketing",
        "url": "https:\/\/blog.usa.gov\/marketing", "urlPingSuffix": "DevEx,5066.1"},
        {"name": "Design and Development", "url": "https:\/\/blog.usa.gov\/design-and-development",
        "urlPingSuffix": "DevEx,5067.1"}, {"name": "Performance and Analytics", "url":
        "https:\/\/blog.usa.gov\/performance-and-analytics", "urlPingSuffix": "DevEx,5068.1"},
        {"name": "Multilingual", "url": "https:\/\/blog.usa.gov\/multilingual", "urlPingSuffix":
        "DevEx,5069.1"}], "dateLastCrawled": "2016-12-25T11:43:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Developing a
        Consumer Resource Guide ... - blog.usa.gov", "url": "https:\/\/blog.usa.gov\/developing-a-consumer-resource-guide-planning-strategies-and-process",
        "urlPingSuffix": "DevEx,5086.1", "displayUrl": "https:\/\/blog.usa.gov\/developing-a-consumer-resource-guide-planning...",
        "snippet": "We also read hundreds of news stories, about consumers facing
  [...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; chars[...]
