---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C6D4DBE108B947C188C490C0B3A7E393
      X-Msedge-Clientid:
      - 21C74472F6696C2A0F8F4EF2F7FE6D06
      X-Msapi-Userstate:
      - 3c06
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=85607DC7C31D43CEAF9D5F6CE4EB2C4A&CID=21C74472F6696C2A0F8F4EF2F7FE6D06&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=85607DC7C31D43CEAF9D5F6CE4EB2C4A&CID=21C74472F6696C2A0F8F4EF2F7FE6D06&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=news+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5501.1", "totalEstimatedMatches": 13700000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "News & Events : USDA ARS", "url": "https:\/\/www.ars.usda.gov\/news-events\/",
        "urlPingSuffix": "DevEx,5078.1", "displayUrl": "https:\/\/www.ars.usda.gov\/news-events",
        "snippet": "Latest News ARS chemist Dr. Allene Rosalind Jeanes will posthumously
        become the newest member of the National Inventors Hall of Fame tonight during
        ceremonies in ...", "dateLastCrawled": "2017-05-06T06:32:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "News - USGS",
        "url": "https:\/\/www.usgs.gov\/news", "urlPingSuffix": "DevEx,5094.1", "displayUrl":
        "https:\/\/www.usgs.gov\/news", "snippet": "News Dive into the world
        of science! Read these storiesand narratives to learn about news items,
        hottopics, expeditions underway, and much more. Get Our News", "dateLastCrawled":
        "2017-05-06T2[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=news%20(site:blog.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-[...]
[...]
