---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - EAFDD3BD80A249F1933F0F71A2861E53
      X-Msedge-Clientid:
      - 2E7F61E2AB9864D52F136DBAAA97659B
      X-Msapi-Userstate:
      - bc18
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=747CA14D44CC4C81A99494E2EA182898&CID=2E7F61E2AB9864D52F136DBAAA97659B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=747CA14D44CC4C81A99494E2EA182898&CID=2E7F61E2AB9864D52F136DBAAA97659B&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=news+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5415.1", "totalEstimatedMatches": 31300000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "News | USCIS", "url": "https:\/\/www.uscis.gov\/news", "urlPingSuffix":
        "DevEx,5058.1", "displayUrl": "https:\/\/www.uscis.gov\/news", "snippet":
        "Here we have the latest news within the immigration benefit world, handled
        by U.S. Citizenship and Immigration Services (USCIS). Both news media
        and general public can find important information about", "dateLastCrawled":
        "2018-08-20T20:00:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "News | Governor Andrew M. Cuomo", "url": "https:\/\/www.governor.ny.gov\/news",
        "urlPingSuffix": "DevEx,5072.1", "about": [{"name": "Andrew Cuomo"}], "displayUrl":
        "https:\/\/www.governor.ny.gov\/news", "snippet": "The official website
        of the 56th Governor of New York State, Andrew M. Cuomo. Find information
        about the administration, issues, & news that affects you.", "dateLastCrawled":
        "2018-08-20T00:42:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "News | NSF - National Science Foundation", "url": "https:\/\/nsf.gov\/news\/",
   [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=news%20(site:blog.usa.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1647A89761A04A6E99DE8B0E477CCBDF
 [...]
[...]
