---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28news%29+language%3Aen+%28scopeid%3Ausagovall+OR+site%3Agov+OR+site%3Amil%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028news\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":13100000,"Offset":0,"Results":[{"Title":"National
        Weather Service","Description":"NOAA National Weather Service National Weather
        Service. HOME. FORECAST. Local\u003b Graphical\u003b Aviation\u003b Marine\u003b
        ... NEWS. NWS News\u003b Events\u003b Social Media\u003b Pubs\u002fBrochures
        ...","Url":"http\u003a\u002f\u002fwww.weather.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dnews\u0026d\u003d4611271763821136\u0026w\u003dvVKBUhzPkYIw9rN1w6sUZ7z30GAhIrvK","DisplayUrl":"www.weather.gov","DateTime":"2016-05-30T21\u003a25\u003a00Z"},{"Title":"News
        \u007c USCIS","Description":"Here we have the latest news within the immigration
        benefit world, handled by U.S. Citizenship and Immigration Services \u0028USCIS\u0029.
        Both news media and general public ...","Url":"https\u003a\u002f\u002fwww.uscis.gov\u002fnews","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dnews\u0026d\u003d4929133679215631\u0026w\u003dEBtj3OJsWCnBgtUmiEYx9PqZ7FPsASaO","Di[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28news%29+language%3Aen+%28site%3Ablog.usa.gov%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
    [...]
[...]
