---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=news%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A658F7071FCA451EA07B0DC847C13DFD
      X-Msedge-Clientid:
      - 39C20AEA713F62053D03008870A863D5
      X-Msapi-Userstate:
      - efa4
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=55876F5E2AB94D80BCE13FF371C20452&CID=39C20AEA713F62053D03008870A863D5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=55876F5E2AB94D80BCE13FF371C20452&CID=39C20AEA713F62053D03008870A863D5&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=news+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5512.1", "totalEstimatedMatches": 14200000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "HHS Media - Official Site", "url": "https:\/\/www.hhs.gov\/about\/news\/index.html",
        "urlPingSuffix": "DevEx,5082.1", "displayUrl": "https:\/\/www.hhs.gov\/about\/news",
        "snippet": "News. Public Affairs Contacts. Visit our Public Affairs Contacts
        page to access HHS media information as well as press office contact information
        for ASPA and HHS ...", "dateLastCrawled": "2017-04-09T07:38:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "News
        & Blog | Department of Energy", "url": "https:\/\/energy.gov\/news-blog",
        "urlPingSuffix": "DevEx,5093.1", "displayUrl": "https:\/\/energy.gov\/news-blog",
        "snippet": "News & Blog Home; Blog Archive; News Archive; Media Advisories;
        Speeches; Photos; Videos; Maps; Data; Web Policies. Web Policies Home; Social
        Media; Article Guidance ...", "dateLastCrawled": "2017-04-02T04:31:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "National
        Weather Service - Official Site", "url": "http:\/\/www.weather.gov\/", "urlPingSuffix":
        "DevEx,5119.1", "about": [{"name": "National Weather Service"}], "displayUrl":
        "www.weather.gov", "snippet": "Official U.S. weather, marine, fire and aviation
        forecasts, warnings, meteorological products, climate forecasts and information
        about meteorology.", "deepLinks": [{"name": "Radar", "url": "https:\/\/radar.weather.gov\/",
        "urlPingSuffix": "DevEx,5106.1"}, {"name": "Forecast Maps", "url": "http:\/\/www.weather.gov\/forecastmaps",
        "urlPingSuffix": "DevEx,5107.1"}, {"name": "Local", "url": "http:\/\/www.weather.gov\/srh\/",
        "urlPingSuffix": "DevEx,5111.1"}], "dateLastCrawled": "2017-04-09T05:19:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "news
        release - USGS", "url": "https:\/\/[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=news%20(site:apps.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=app%20(site:apps.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8[...]
