---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/search?count=20&mkt=en-US&offset=0&q=barcelona%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 96DBAEF0FC0F44CCB0B63D0D775A41E5
      X-Msedge-Clientid:
      - 0ECEB687C5B76CD3268ABA05C4FB6DCF
      X-Msapi-Userstate:
      - 48a8
      X-Search-Responseinfo:
      - InternalResponseTime=211,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "images\/search?q=barcelona (site:gov OR site:mil)", "webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?q=barcelona (site:gov OR site:mil)&FORM=OIIARP",
        "totalEstimatedMatches": 100, "nextOffset": 22, "value": [{"webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=753DD79C6E6ECFA35CD168DB7F57D99CB81BC5C8&simid=608029833980346945",
        "name": "Multipurpose Complex to host FC Barcelona for youth soccer training
        program - City of Round Rock", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.jsNLG85IRlhmD2eLnbN7YAHaE8&pid=Api",
        "datePublished": "2018-09-01T00:09:00.0000000Z", "contentUrl": "https:\/\/www.roundrocktexas.gov\/wp-content\/uploads\/2017\/03\/2016FCBEscolaCamp-CharlotteRound2-June202016-15-1948x1300.jpg",
        "hostPageUrl": "https:\/\/www.roundrocktexas.gov\/news\/official-fc-barcelona-soccer-school-opening-round-rock-austin\/",
        "contentSize": "198990 B", "encodingFormat": "jpeg", "hostPageDisplayUrl":
        "https:\/\/www.roundrocktexas.gov\/news\/official-fc-barcelona-soccer...",
        "width": 1948, "height": 1300, "thumbnail": {"width": 474, "height": 316},
        "imageInsightsToken": "ccid_jsNLG85I*mid_753DD79C6E6ECFA35CD168DB7F57D99CB81BC5C8*simid_608029833980346945*thid_OIP.jsNLG85IRlhmD2eLnbN7YAHaE8",
        "insightsMetadata": {"recipeSourcesCount": 0, "bestRepresentativeQuery": {"text":
        "Barcelona Youth Soccer Club", "displayText": "Barcelona Youth Soccer Club",
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=Barcelona+Youth+Soccer+Club&id=753DD79C6E6ECFA35CD168DB7F57D99CB81BC5C8&FORM=IDBQDM"},
        "pagesIncludingCount": 12, "availableSizesCount": 7}, "imageId": "753DD79C6E6ECFA35CD168DB7F57D99CB81BC5C8",
        "accentColor": "B91228"}, {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=barcelona+(site%3agov+OR+site%3amil)&id=9A7AFB70D6F872011900A7EF144EB87866F40B7A&simid=608037616485269912",
        "name": "Huitième", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.NAtt1FGsznDDMYfla25phwHaFj&pid=Api",
        "datePublished": "2018-07-09T07:32:00.0000000Z", "contentUrl": "http:\/\/math.nist.gov\/~JBernal\/ramblas.jpg",
        "hostPageUrl": "http:\/\/math.nist.gov\/~JBerna[...]
