---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=video%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C358F502D4C84D2D8A67BB6DB0ABBFE4
      X-Msedge-Clientid:
      - 18DCCA24F3A56B6E3BD2C12CF2326A5E
      X-Msapi-Userstate:
      - 5e2e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DDA84AA18DDF4C009EB49DC3B0D22F6A&CID=18DCCA24F3A56B6E3BD2C12CF2326A5E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DDA84AA18DDF4C009EB49DC3B0D22F6A&CID=18DCCA24F3A56B6E3BD2C12CF2326A5E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=video+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5521.1", "totalEstimatedMatches": 56600000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "NASA Video Gallery | NASA", "url": "https:\/\/www.nasa.gov\/multimedia\/videogallery\/index.html",
        "urlPingSuffix": "DevEx,5078.1", "displayUrl": "https:\/\/www.nasa.gov\/multimedia\/videogallery",
        "snippet": "Watch or download the latest launch videos, mission updates, animations,
        This Week @NASA, ScienceCast and more.", "dateLastCrawled": "2017-09-20T06:35:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Video
        - Jet Propulsion Laboratory", "url": "https:\/\/www.jpl.nasa.gov\/video\/",
        "urlPingSuffix": "DevEx,5093.1", "displayUrl": "https:\/\/www.jpl.nasa.gov\/video",
        "snippet": "Engineers at NASA''s Jet Propulsion Laboratory, awaited the final
        transmission from the Cassini spacecraft as it plunged into Saturn''s atmosphere
        ending its 20-yea[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=video%20usgovernment_channel_id%205%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
[...]
[...]
