---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(video)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028video\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":12300000,"Offset":0,"Results":[{"Title":"NASA
        Video Gallery \u007c NASA","Description":"Watch or download the latest launch
        videos, mission updates, animations, This Week \u0040NASA, ScienceCast and
        more.","Url":"https\u003a\u002f\u002fwww.nasa.gov\u002fmultimedia\u002fvideogallery\u002findex.html","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dvideo\u0026d\u003d4851188661880232\u0026w\u003dfjVda5qjkSqeELgOia1qyt_nkWrdz7Xz","DisplayUrl":"https\u003a\u002f\u002fwww.nasa.gov\u002fmultimedia\u002fvideogallery\u002findex.html","DateTime":"2016-12-02T23\u003a23\u003a00Z"},{"Title":"Videos
        \u007c DOJ \u007c Department of Justice","Description":"Videos. Videos . Keywords
        . Items per page . Attorney General Lynch\u2019s Video Statement on Hate
        Crimes in America. November 18, 2016. Attorney ...","Url":"https\u003a\u002f\u002fwww.justice.gov\u002fvideos","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dvideo\u0026d\u003d4641959353843907\u0026w\u003d0VRJzuXvoBg-6wep2KMVDOOV-BqiHOV4","[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(video%20usgovernment_channel_id%205)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028video
        usgovernment_channel_id 5\u0029 language\u003aen \u0028scopeid\u003ausagovall
        OR site\u003agov OR site\u003amil\u0029"},"Spell":{"Total":1,"Results":[{"Value":"video
        us government_channel_id 5"}]},"Web":{"Total":0,"Offset":0}}}'
  recorded_at: Wed, 06 Dec 2017 17:00:00 GMT
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(video)%20language:es%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    bod[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=video%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2CDB42F45FDB4DE0A6E5292E4201EF6B
      X-Msedge-Clientid:
      - 06AB0F19391D6E2E2D170507388A6F5D
      X-Msapi-Userstate:
      - '9349'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9E58BA7FA9594DBAA6B4CCCBAF9BD2BE&CID=06AB0F19391D6E2E2D170507388A6F5D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9E58BA7FA9594DBAA6B4CCCBAF9BD2BE&CID=06AB0F19391D6E2E2D170507388A6F5D&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=video+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5499.1", "totalEstimatedMatches": 10200000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Live Traffic Cameras - Caltrans Live Streaming Traffic Video", "url":
        "http:\/\/video.dot.ca.gov\/", "urlPingSuffix": "DevEx,5105.1", "displayUrl":
        "video.dot.ca.gov", "snippet": "Live Traffic Cameras by Area. Northwestern
        California Traffic Camera Map Live traffic cams covering Del Norte, Humboldt,
        Lake and Mendocino counties.", "deepLinks": [{"name": "Quickmap", "url": "http:\/\/quickmap.dot.ca.gov\/",
        "urlPingSuffix": "DevEx,5100.1"}, {"name": "CHP Traffic", "url": "http:\/\/cad.chp.ca.gov\/",
        "urlPingSuffix": "DevEx,5101.1"}, {"name": "FAQ Page", "url": "http:\/\/video.dot.ca.gov\/faq.htm",
        "urlPingSuffix": "DevEx,5102.1"}], "dateLastCrawled": "2017-01-25T10:01:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Videos
        | DOJ | Department of Justice", "url": "https:\/\/www.justice.gov\/videos",
        "urlPingSuffix": "DevEx,5121.1", "displayUrl": "https:\/\/www.justice.gov\/videos",
        "snippet": "Videos. Videos . Keywords . Items per page . Bakersfield Man
        Guilty of Hate Crime. December ... Attorney General Lynch’s Video Statement
        on Hate Crimes in Am[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=video%20usgovernment_channel_id%205%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
[...]
[...]
