---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=video%20usgovernment_channel_id%205%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - FDBF0D11E1CB4B4A99BAB11C892EDDE8
      X-Msedge-Clientid:
      - 20040D1510A5610B250F068B1140600C
      X-Msapi-Userstate:
      - 157c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DED6F78274F34460A94BA7F1D74E9FD7&CID=20040D1510A5610B250F068B1140600C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DED6F78274F34460A94BA7F1D74E9FD7&CID=20040D1510A5610B250F068B1140600C&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=video+usgovernment_channel_id+5+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5502.1", "totalEstimatedMatches": 20, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "FM Query
        Broadcast Station Search | Federal Communications ...", "url": "https:\/\/www.fcc.gov\/media\/radio\/fm-query",
        "urlPingSuffix": "DevEx,5086.1", "displayUrl": "https:\/\/www.fcc.gov\/media\/radio\/fm-query",
        "snippet": "Please refer any comments or suggestions on the FM Query to Dale
        Bickel, ... For more information on Television broadcasting, please visit
        the Video Division website.", "deepLinks": [{"name": "Am Query", "url":
        "https:\/\/www.fcc.gov\/media\/radio\/am-query", "urlPingSuffix": "DevEx,5078.1"},
        {"name": "TV Query", "url": "https:\/\/www.fcc.gov\/media\/television\/tv-query",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "FM Station Classes", "url": "https:\/\/www.fcc.gov\/media\/radio\/fm-station-classes",
        "urlPingSuffix": "DevEx,5080.1"}], "dateLastCrawled": "2018-02-12T00:58:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "October
        13, 2006 FEMA Emergency Management Higher ...", "url": "https:\/\/training.fema.gov\/hiedu\/arrpt\/2006\/october\/oct%2013,%2006.doc",
        "urlPingSuffix": "DevEx,5099.1", "displayUrl": "https:\/\/training.fema.gov\/hiedu\/arrpt\/2006\/october\/oct
        13, 06.doc", "snippet": "And this time around, it is a video abusing the
        man who epitomised all that [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=video%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/js[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=video%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - BB2FB958E73248FEA4984E77F9BBF8F1
      X-Msedge-Clientid:
      - 309AEA8A192664481BCBE62618F1657E
      X-Msapi-Userstate:
      - 806a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=4293CF9F1AF54FB6B60B8E96F1F0C57E&CID=309AEA8A192664481BCBE62618F1657E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=4293CF9F1AF54FB6B60B8E96F1F0C57E&CID=309AEA8A192664481BCBE62618F1657E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=video+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5429.1", "totalEstimatedMatches": 28500000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "NASA Video Gallery | NASA", "url": "https:\/\/www.nasa.gov\/multimedia\/videogallery\/index.html",
        "urlPingSuffix": "DevEx,5058.1", "about": [{"name": "NASA"}], "displayUrl":
        "https:\/\/www.nasa.gov\/multimedia\/videogallery", "snippet": "Watch
        or download the latest launch videos, mission updates, animations, This Week
        @NASA, ScienceCast and more.", "dateLastCrawled": "2018-11-16T02:08:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Videos
        | Idaho Fish and Game", "url": "https:\/\/idfg.idaho.gov\/media\/video", "urlPingSuffix":
        "DevEx,5072.1"[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=video%20usgovernment_channel_id%205%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
     [...]
[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=video%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 74BB989A27FC4DDC9D7C5498D2F02E3C
      Bingapis-Sessionid:
      - 2179F26531F84A25AD9CF85677EFC2D9
      X-Msedge-Clientid:
      - 363E6B1CA287613029EF67B0A3CB609B
      X-Msapi-Userstate:
      - c97c
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=228,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "video
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=video+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 28500000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "NASA Video Gallery | NASA", "url": "https:\/\/www.nasa.gov\/multimedia\/videogallery\/index.html",
        "about": [{"name": "NASA"}], "isFamilyFriendly": true, "displayUrl": "https:\/\/www.nasa.gov\/multimedia\/videogallery",
        "snippet": "Watch or download the latest launch videos, mission updates, animations,
        This Week @NASA, ScienceCast and more.", "dateLastCrawled": "2018-11-16T02:08:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Videos | Idaho Fish and Game", "url": "https:\/\/idfg.idaho.gov\/media\/video",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/idfg.idaho.gov\/media\/video",
        "snippet": "Fish and Game Video Playlists | Fish & Game Video Loading
        Video... Loading Video Playlist... Fish and Game Video Playlists. Skip
        to main content. Idaho » Department of Fish and Game. B[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=video%20usgovernment_channel_id%205%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - a[...]
[...]
