---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28video%29+language%3Aen+%28scopeid%3Ausagovall+OR+site%3Agov+OR+site%3Amil%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028video\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":12400000,"Offset":0,"Results":[{"Title":"NASA
        Video Gallery \u007c NASA","Description":"Watch or download the latest launch
        videos, mission updates, animations, This Week \u0040NASA, ScienceCast and
        more.","Url":"http\u003a\u002f\u002fwww.nasa.gov\u002fmultimedia\u002fvideogallery\u002findex.html","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dvideo\u0026d\u003d4625569685570474\u0026w\u003dF9bPgoBr66o3d03yMBun9ceVuZmPQOBF","DisplayUrl":"www.nasa.gov\u002fmultimedia\u002fvideogallery","DateTime":"2016-05-28T01\u003a20\u003a00Z"},{"Title":"Video
        \u007c Newsroom \u007c Office of Inspector General \u007c U.S ...","Description":"The
        Office of Inspector General developed these short video and audio presentations-averaging
        about four minutes each-for health care providers on top compliance topics.","Url":"https\u003a\u002f\u002fwww.oig.hhs.gov\u002fnewsroom\u002fvideo\u002findex.asp","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dvideo\u[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28video+usgovernment_channel_id+5%29+language%3Aen+%28scopeid%3Ausagovall+OR+site%3Agov+OR+site%3Amil%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028video
        usgovernment_channel_id 5\u0029 language\u003aen \u0028scopeid\u003ausagovall
        OR site\u003agov OR site\u003amil\u0029"},"Spell":{"Total":1,"Results":[{"Value":"video
        us government_channel_id 5"}]},"Web":{"Total":5,"Offset":0,"Results":[{"Title":"October
        13, 2006 FEMA Emergency Management Higher ...","Description":"October 13,
        2006 FEMA Emergency Management Higher Education Project Activity Report \u00281\u0029
        ... it is a video abusing the man who epitomised all that is best in mankind\u003a
        ...","Url":"http\u003a\u002f\u002ftraining.fema.gov\u002fhiedu\u002farrpt\u002f2006\u002foctober\u002foct\u00252013,\u00[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28video%29+language%3Aes+%28scopeid%3Ausagovall+OR+site%3Agov+OR+site%3Amil%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    bod[...]
