---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=video%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7F38447B238E43F4BE04380F1A706C86
      X-Msedge-Clientid:
      - 0BF1222EA93A6BA00FE92810A8AD6A97
      X-Msapi-Userstate:
      - '5259'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=FBC40FCFAA9148FCAA31436CAE04B859&CID=0BF1222EA93A6BA00FE92810A8AD6A97&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=FBC40FCFAA9148FCAA31436CAE04B859&CID=0BF1222EA93A6BA00FE92810A8AD6A97&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=video+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5473.1", "totalEstimatedMatches": 8800000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "video.dot.ca.gov - Caltrans Live Streaming Traffic Video", "url": "http:\/\/video.dot.ca.gov\/",
        "urlPingSuffix": "DevEx,5085.1", "displayUrl": "video.dot.ca.gov", "snippet":
        "Live traffic cams covering Del Norte, Humboldt, Lake and Mendocino counties.
        Northeastern California Traffic Camera Map Live traffic cams covering Lassen,
        Modoc ...", "deepLinks": [{"name": "Quickmap", "url": "http:\/\/quickmap.dot.ca.gov\/",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "CHP Traffic", "url": "http:\/\/cad.chp.ca.gov\/",
        "urlPingSuffix": "DevEx,5081.1"}, {"name": "FAQ Page", "url": "http:\/\/video.dot.ca.gov\/faq.htm",
        "urlPingSuffix": "DevEx,5082.1"}], "dateLastCrawled": "2017-03-02T20:02:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Videos
        — FBI", "url": "https:\/\/www.fbi.gov\/news\/videos", "urlPingSuffix": "DevEx,5109.1",
        "displayUrl": "https:\/\/www.fbi.gov\/news\/videos", "snippet": "A webpage
        compiling the various videos pertaining to the stories, press releases,
        and wanted person information on FBI.gov.", "dateLastCrawled": "2017-03-04T02:36:00.0000000Z"},
        {[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=video%20usgovernment_channel_id%205%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
[...]
[...]
