---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=video%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B3163842D3B7432E8B0073B64A85DE72
      X-Msedge-Clientid:
      - 32D1629246A86FD619456ECA47A76E88
      X-Msapi-Userstate:
      - bb96
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F0724823881D449F82D2B5DA47E59DAD&CID=32D1629246A86FD619456ECA47A76E88&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F0724823881D449F82D2B5DA47E59DAD&CID=32D1629246A86FD619456ECA47A76E88&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=video+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5435.1", "totalEstimatedMatches": 29400000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "NASA Video Gallery | NASA", "url": "https:\/\/www.nasa.gov\/multimedia\/videogallery\/index.html",
        "urlPingSuffix": "DevEx,5058.1", "about": [{"name": "NASA"}], "displayUrl":
        "https:\/\/www.nasa.gov\/multimedia\/videogallery\/index.html", "snippet":
        "Watch or download the latest launch videos, mission updates, animations,
        This Week @NASA, ScienceCast and more.", "dateLastCrawled": "2018-08-19T00:08:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Youtube
        Videos - California", "url": "http:\/\/www.opa.ca.gov\/Pages\/YoutubeVideos.aspx",
        "urlPingSuffix": "DevEx,5072.1", "displayUrl": "www.opa.ca.gov\/Pages\/YoutubeVideos.aspx",
        "snippet": "Videos. To add a link to any of the short videos below to
        your website, please open the video in YouTube and copy and paste the embeded
        code into[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=video%20usgovernment_channel_id%205%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
     [...]
[...]
