---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=video%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - BD5A7A87DAE44C6DB9F5D2F82C7BC0CC
      X-Msedge-Clientid:
      - 0515DEF651216E37004FD570508E6F91
      X-Msapi-Userstate:
      - 07ce
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=09EFCCFA8EB14C18AB662C98AA50BCC5&CID=0515DEF651216E37004FD570508E6F91&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=09EFCCFA8EB14C18AB662C98AA50BCC5&CID=0515DEF651216E37004FD570508E6F91&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=video+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5517.1", "totalEstimatedMatches": 31800000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "NASA Video Gallery | NASA", "url": "https:\/\/www.nasa.gov\/multimedia\/videogallery\/index.html",
        "urlPingSuffix": "DevEx,5088.1", "about": [{"name": "NASA"}, {"name": "NASA"}],
        "displayUrl": "https:\/\/www.nasa.gov\/multimedia\/videogallery\/index.html",
        "snippet": "Watch or download the latest launch videos, mission updates, animations,
        This Week @NASA, ScienceCast and more.", "dateLastCrawled": "2018-01-19T14:53:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "JPL Video
        Archive - Jet Propulsion Laboratory", "url": "https:\/\/www.jpl.nasa.gov\/video\/",
        "urlPingSuffix": "DevEx,5102.1", "displayUrl": "https:\/\/www.jpl.nasa.gov\/video",
        "snippet": "Sit back and enjoy the view from the Voyagers'' epic journey through
        the solar system. See iconic images of planets and moons, set to music.",
        "dateLast[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=video%20usgovernment_channel_id%205%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
[...]
[...]
