---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=video%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - BF689793AB3D4CF099140B362ABD0635
      X-Msedge-Clientid:
      - 1A6FDC6B91CA6C591EA8D6A8905D6D78
      X-Msapi-Userstate:
      - 061f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F7D0EE92C4BF419898E4EF397AAE2CC5&CID=1A6FDC6B91CA6C591EA8D6A8905D6D78&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F7D0EE92C4BF419898E4EF397AAE2CC5&CID=1A6FDC6B91CA6C591EA8D6A8905D6D78&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=video+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5517.1", "totalEstimatedMatches": 19100000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "NASA Video Gallery | NASA", "url": "https:\/\/www.nasa.gov\/multimedia\/videogallery\/index.html",
        "urlPingSuffix": "DevEx,5081.1", "displayUrl": "https:\/\/www.nasa.gov\/multimedia\/videogallery\/index.html",
        "snippet": "Watch or download the latest launch videos, mission updates, animations,
        This Week @NASA, ScienceCast and more.", "dateLastCrawled": "2017-07-11T05:33:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Video
        | Newsroom | Office of Inspector General | U.S ...", "url": "https:\/\/www.oig.hhs.gov\/newsroom\/video\/index.asp",
        "urlPingSuffix": "DevEx,5097.1", "displayUrl": "https:\/\/www.oig.hhs.gov\/newsroom\/video\/index.asp",
        "snippet": "Video Eye on Oversight: Abuse in Nursing Homes June 8, 2017.
        Millions of elderly Americans live in nursing faci[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=video%20usgovernment_channel_id%205%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
[...]
[...]
