---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=video%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C88B489F3B50404DB946963ABE470394
      X-Msedge-Clientid:
      - 041135766E9A61CC0FD03FF66F0D6028
      X-Msapi-Userstate:
      - 7e0a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=FFB7E9D55105489296C32D3B3F1FEEC5&CID=041135766E9A61CC0FD03FF66F0D6028&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=FFB7E9D55105489296C32D3B3F1FEEC5&CID=041135766E9A61CC0FD03FF66F0D6028&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=video+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5506.1", "totalEstimatedMatches": 12400000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "NASA Video Gallery | NASA", "url": "https:\/\/www.nasa.gov\/multimedia\/videogallery\/index.html",
        "urlPingSuffix": "DevEx,5082.1", "displayUrl": "https:\/\/www.nasa.gov\/multimedia\/videogallery",
        "snippet": "Watch or download the latest launch videos, mission updates, animations,
        This Week @NASA, ScienceCast and more.", "dateLastCrawled": "2017-04-29T17:30:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Videos
        — FBI", "url": "https:\/\/www.fbi.gov\/news\/videos", "urlPingSuffix": "DevEx,5106.1",
        "displayUrl": "https:\/\/www.fbi.gov\/news\/videos", "snippet": "A webpage
        compiling the various videos pertaining to the stories, press releases,
        and wanted person information on FBI.gov.", "dateLastCrawled": "2017-05-07T01:01:00.0000000Z"},
        {"i[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=video%20usgovernment_channel_id%205%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
[...]
[...]
