---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(video)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028video\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":12300000,"Offset":0,"Results":[{"Title":"NASA
        Video Gallery \u007c NASA","Description":"Watch or download the latest launch
        videos, mission updates, animations, This Week \u0040NASA, ScienceCast and
        more.","Url":"https\u003a\u002f\u002fwww.nasa.gov\u002fmultimedia\u002fvideogallery\u002findex.html","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dvideo\u0026d\u003d4851188661880232\u0026w\u003dfjVda5qjkSqeELgOia1qyt_nkWrdz7Xz","DisplayUrl":"https\u003a\u002f\u002fwww.nasa.gov\u002fmultimedia\u002fvideogallery\u002findex.html","DateTime":"2016-12-02T23\u003a23\u003a00Z"},{"Title":"Videos
        \u007c DOJ \u007c Department of Justice","Description":"Videos. Videos . Keywords
        . Items per page . Attorney General Lynch\u2019s Video Statement on Hate
        Crimes in America. November 18, 2016. Attorney ...","Url":"https\u003a\u002f\u002fwww.justice.gov\u002fvideos","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dvideo\u0026d\u003d4641959353843907\u0026w\u003d0VRJzuXvoBg-6wep2KMVDOOV-BqiHOV4","[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(video%20usgovernment_channel_id%205)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028video
        usgovernment_channel_id 5\u0029 language\u003aen \u0028scopeid\u003ausagovall
        OR site\u003agov OR site\u003amil\u0029"},"Spell":{"Total":1,"Results":[{"Value":"video
        us government_channel_id 5"}]},"Web":{"Total":0,"Offset":0}}}'
  recorded_at: Thu, 08 Dec 2016 23:04:08 GMT
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(video)%20language:es%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    bod[...]
