---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=video%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - BEED51D986424CC29E99A74DCDF99E95
      Bingapis-Sessionid:
      - E82B10A100764AA29967B1016D15C02D
      X-Msedge-Clientid:
      - 0A2ABA28BF7A61022814AA83BE9C60B7
      X-Msapi-Userstate:
      - bf88
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=247,MSDatacenter=CH1B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "video
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=video+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 20800000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Video", "url": "https:\/\/www.defense.gov\/Watch\/Video\/videoid\/812144\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.defense.gov\/Watch\/Video\/videoid\/812144",
        "snippet": "Top Defense, Military Leaders Hold Briefing. Defense.gov. Sept.
        1, 2021 | 30:18. Secretary of Defense Lloyd J. Austin III and Army Gen. Mark
        A. Milley, chairman of the Joint Chiefs of Staff, speak ...", "dateLastCrawled":
        "2021-09-06T17:52:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "VA Video Connect | VA Mobile", "url": "https:\/\/mobile.va.gov\/app\/va-video-connect",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/mobile.va.gov\/app\/va-video-connect",
        "snippet": "VA can help you get set up or troubleshoot technical problems.
        Call the Office of Connected Care Help Desk at (866) 651-3180 24 hours a day,
        7 days a week. Test your devi[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=video%20usgovernment_channel_id%205%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - a[...]
[...]
