---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=president%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B31D6A8E819F49928E17D54B072DA12E
      X-Msedge-Clientid:
      - 05F48419793F65271EC38EDA78A864B5
      X-Msapi-Userstate:
      - fa85
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=CF2D0D6330AB4E3789B15E5799E24B91&CID=05F48419793F65271EC38EDA78A864B5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=CF2D0D6330AB4E3789B15E5799E24B91&CID=05F48419793F65271EC38EDA78A864B5&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=president+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5506.1", "totalEstimatedMatches": 12700000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "President Donald J. Trump | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/administration\/president-trump",
        "urlPingSuffix": "DevEx,5080.1", "about": [{"name": "Donald Trump"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/administration\/president-trump", "snippet":
        "Check out the biography of President Donald Trump.", "dateLastCrawled":
        "2017-07-10T22:24:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "The White House | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/",
        "urlPingSuffix": "DevEx,5107.1", "displayUrl": "https:\/\/www.whitehouse.gov",
        "snippet": "“Believe in yourselves. Believe in your future. And believe, once
        more, in America.” - President Donald J. Trump", "deepLinks": [{"name":
        "Contact Us", "url": "https:\/\/www.whitehouse.gov\/contact", "urlPingSuffix":
        "DevEx,5095.1"}, {"name": "Tours & Events", "url": "https:\/\/www.whitehouse.gov\/participate\/tours-and-events",
        "urlPingSuffix": "DevEx,5096.1"}, {"name": "Live Events", "url": "https:\/\/www.whitehouse.gov\/live",
        "urlPingSuffix": "DevEx,5097.1"}, {"name": "We The People Petitions", "url":
        "https:\/\/petitions.whitehouse.gov\/", "urlPingSuffix": "DevEx,5098.1"}],
        "dateLastCrawled": "2017-07-14T06:55:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "President George W. Bush - Whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/1600\/presidents\/georgewbush",
        "urlPingSuffix": "DevEx,5123.1", "about": [{"name": "George W. Bush"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/1600\/presidents\/georgewbush", "snippet":
        "The terrorist attacks on September 11, 2001, transformed George W. Bush
        into a wartime President. Read his biography.", "dateLastCrawled": "2017-07-10T18:02:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "President
        Barack Obama - The White House | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/1600\/presidents\/barackobama",
        "urlPingSuffix": "DevEx,5139.1", "thumbnailUrl": "https:\/\/www.bing.com\/th?id=OIP.aG0TZL5mYu7l8KPSj0gG8wEsCp&pid=Api",
        "about": [{"name": "Barack Obama"}], "displayUrl": "https:\/\/www.whitehouse.gov\/1600\/presidents\/barackobama",
        "snippet": "Barack Obama served as the 44th President of the United States.
        His story is the American story -- values from the heartland, a middle-class
        upbringing …", "dateLastCrawled": "2017-07-14T10:43:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=presidente%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hippopotamus%20(site:hippo.whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C0EC85D94B43459EA8A1E20752B5AA30
      X-Msedge-Clientid:
      - 0A12A13B899D6BEC1127ABF8880A6AC7
      X-Msapi-Userstate:
      - a05b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=BAFF0790551D4E1889ACD69045B2F818&CID=0A12A13B899D6BEC1127ABF8880A6AC7&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=BAFF0790551D4E1889ACD69045B2F818&CID=0A12A13B899D6BEC1127ABF8880A6AC7&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 18 Jul 2017 18:02:58 GMT
recorded_with: VCR 3.0.3
