---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(president)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028president\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":7410000,"Offset":0,"Results":[{"Title":"The
        Presidents \u007c whitehouse.gov","Description":"Short history of the U.S.
        Presidency, along with biographical sketches and portraits of all the presidents
        to date. From the official White House site.","Url":"https\u003a\u002f\u002fwww.whitehouse.gov\u002f1600\u002fPresidents","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dpresident\u0026d\u003d4873982073636903\u0026w\u003dPNvhTg8jsUioblETutK5H--gaJJmzJCT","DisplayUrl":"https\u003a\u002f\u002fwww.whitehouse.gov\u002f1600\u002fPresidents","DateTime":"2016-12-01T21\u003a45\u003a00Z"},{"Title":"President
        Barack Obama \u007c whitehouse.gov","Description":"Barack Obama is the 44th
        President of the United States. His story is the American story -- values
        from the heartland, a middle-class upbringing in a strong family ...","Url":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fadministration\u002fpresident-obama","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dpresident\u0026d\u003d4751592666[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(president)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20&web.offset=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; cha[...]
[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(presidente)%20language:es%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  [...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(hippopotamus)%20language:en%20(site:hippo.whitehouse.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028hippopotamus\u0029
        language\u003aen \u0028site\u003ahippo.whitehouse.gov\u0029"},"Web":{"Total":0,"Offset":0}}}'
  recorded_at: Wed, 06 Dec 2017 17:00:00 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=president%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 68830D3D373B454F83E1A23B38351012
      X-Msedge-Clientid:
      - 0467FA2CD8576A2C1F9AF032D9C06B03
      X-Msapi-Userstate:
      - 1e7e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9DF93CBADA3E442D96F68BDF464E3374&CID=0467FA2CD8576A2C1F9AF032D9C06B03&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9DF93CBADA3E442D96F68BDF464E3374&CID=0467FA2CD8576A2C1F9AF032D9C06B03&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=president+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5522.1", "totalEstimatedMatches": 4880000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "The Presidents | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/1600\/Presidents",
        "urlPingSuffix": "DevEx,5106.1", "displayUrl": "https:\/\/www.whitehouse.gov\/1600\/Presidents",
        "snippet": "Short history of the U.S. Presidency, along with biographical
        sketches and portraits of all the presidents to date. From the official
        White House site.", "deepLinks": [{"name": "Barack Obama", "url": "https:\/\/www.whitehouse.gov\/1600\/presidents\/barackobama",
        "urlPingSuffix": "DevEx,5096.1"}, {"name": "George Washington", "url": "https:\/\/www.whitehouse.gov\/1600\/presidents\/georgewashington",
        "urlPingSuffix": "DevEx,5097.1"}, {"name": "Richard M. Nixon", "url": "https:\/\/www.whitehouse.gov\/1600\/presidents\/richardnixon",
        "urlPingSuffix": "DevEx,5098.1"}, {"name": "First Ladies", "url": "https:\/\/www.whitehouse.gov\/1600\/first-ladies",
        "urlPingSuffix": "DevEx,5099.1"}], "dateLastCrawled": "2017-01-01T07:01:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "President
        Barack Obama | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/administration\/president-obama",
        "urlPingSuffix": "DevEx,5125.1", "about": [{"name": "Barack Obama"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/administration\/president-obama", "snippet":
        "Barack Obama is the 44th President of the United States. His story is
        the American story -- values from the heartland, a middle-class upbringing
        in a strong family ...", "deepLinks": [{"name": "Contact", "url": "https:\/\/www.whitehouse.gov\/contact",
        "urlPingSuffix": "DevEx,5117.1"}, {"name": "Write Or Call", "url": "https:\/\/ww[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=presidente%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hippopotamus%20(site:hippo.whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9D98F42A485242CC97BBB67FCF95EDC0
      X-Msedge-Clientid:
      - 0ED3736CBDD2640435177972BC456573
      X-Msapi-Userstate:
      - 43dd
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=40DFBF75BB81486480126F4A15946D24&CID=0ED3736CBDD2640435177972BC456573&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=40DFBF75BB81486480126F4A15946D24&CID=0ED3736CBDD2640435177972BC456573&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Fri, 03 Feb 2017 23:01:49 GMT
recorded_with: VCR 3.0.3
