---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 7B40E2825166464D9395C2B462C214FC
      Bingapis-Sessionid:
      - CDB9DE33A1AA4A06ABB13B08CF7949BB
      X-Msedge-Clientid:
      - 0FF48661AEF6693A1B0396CAAF466893
      X-Msapi-Userstate:
      - 43d8
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=270,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "agency
        (site:.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=agency+(site%3a.gov)",
        "totalEstimatedMatches": 24400000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "A-Z Index of U.S. Government Departments and Agencies | A ...",
        "url": "https:\/\/www.usa.gov\/federal-agencies\/", "isFamilyFriendly": true,
        "displayUrl": "https:\/\/www.usa.gov\/federal-agencies", "snippet": "Agency
        for International Development (USAID) Agency for Toxic Substances and Disease
        Registry. Agricultural Marketing Service (AMS) Agricultural Research Service.
        Agriculture Department (USDA) Agriculture Library. Air Force. Air Force Reserve.
        Alcohol and Tobacco Tax and Trade Bureau.", "dateLastCrawled": "2021-09-05T07:04:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Agencies | USDA", "url": "https:\/\/www.usda.gov\/our-agency\/agencies",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usda.gov\/our-agency\/agencies",
        "snippet": "The agency improves agricultural productivity and competitiveness
        and contributes to the national economy and the public health. Economic Research
        Service (ERS) ERS is USDA''s principal[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=agency%20(site:www.usa.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
     [...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - F42DECF77CAA4F909FD9EFC08DF39E8F
      Bingapis-Sessionid:
      - 96DE48AF024D47EDAC707E26C8DB6729
      X-Msedge-Clientid:
      - 0D615147D01661700A5F418FD159605B
      X-Msapi-Userstate:
      - 5d80
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=303[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=agency%20(site:www.usa.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr[...]
