---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 42EA78A240CC4686903B7ED9F7491FE5
      X-Msedge-Clientid:
      - 11B6EE081214602500ABE4CB138361D9
      X-Msapi-Userstate:
      - c21f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E6516BE25FB94C36BE881F36F8413C5B&CID=11B6EE081214602500ABE4CB138361D9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E6516BE25FB94C36BE881F36F8413C5B&CID=11B6EE081214602500ABE4CB138361D9&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=agency+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5525.1", "totalEstimatedMatches": 29600000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "CA.Gov : Agencies", "url": "http:\/\/www.ca.gov\/Agencies?page=1", "urlPingSuffix":
        "DevEx,5085.1", "displayUrl": "www.ca.gov\/Agencies?page=1", "snippet":
        "Agency Area: Agency Authority Board Branch of Government Bureau Commission
        Committee Council Department Legislature Office Program University. Categories:",
        "deepLinks": [{"name": "Office of Administrative Law", "url": "http:\/\/ca.gov\/Agencies\/Administrative-Law-Office-of",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "California State Assembly", "url":
        "http:\/\/ca.gov\/Agencies\/Assembly-California-State", "urlPingSuffix": "DevEx,5078.1"}],
        "dateLastCrawled": "2017-07-10T19:07:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Find an Agency | IN.gov", "url": "http:\/\/www.in.gov\/core\/find_agency.html",
        "urlPingSuffix": "DevEx,5097.1", "displayUrl": "www.in.gov\/core\/find_agency.html",
        "snippet": "Index of the various state government agencies in Indiana.", "dateLastCrawled":
        "2017-07-13T04:05:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:www.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf[...]
