---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=president%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F264790D52CF4AAF985452BE0651F8F3
      X-Msedge-Clientid:
      - 00CEC618363A611F3165CD1037AD603B
      X-Msapi-Userstate:
      - '7432'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=82A2509875D9411A8C01D550B793183D&CID=00CEC618363A611F3165CD1037AD603B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=82A2509875D9411A8C01D550B793183D&CID=00CEC618363A611F3165CD1037AD603B&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=president+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5509.1", "totalEstimatedMatches": 19800000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "President Donald J. Trump | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/administration\/president-trump",
        "urlPingSuffix": "DevEx,5087.1", "about": [{"name": "Donald Trump"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/administration\/president-trump", "snippet":
        "Check out the biography of President Donald Trump.", "deepLinks": [{"name":
        "Contact", "url": "https:\/\/www.whitehouse.gov\/contact", "urlPingSuffix":
        "DevEx,5076.1"}, {"name": "First Lady Michelle Obama", "url": "https:\/\/www.whitehouse.gov\/administration\/first-lady-melania-trump",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "Write Or Call", "url": "https:\/\/www.whitehouse.gov\/contact\/write-or-call",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Vice President Joe Biden", "url":
        "https:\/\/www.whitehouse.gov\/administration\/vice-president-pence", "urlPingSuffix":
        "DevEx,5079.1"}], "dateLastCrawled": "2017-09-13T16:59:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "The White House
        | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/", "urlPingSuffix":
        "DevEx,5111.1", "about": [{"name": "whitehouse.gov"}], "displayUrl": "https:\/\/www.whitehouse.gov",
        "snippet": "“Believe in yourselves. Believe in your future. And believe, once
        more, in America.” - President Donald J. Trump", "deepLinks": [{"name":
      [...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=presidente%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hippopotamus%20(site:hippo.whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A55D28A96C0E4343B99CB3ECE0394502
      X-Msedge-Clientid:
      - 1C40B668A6CE6F0A1D16BD60A7596E60
      X-Msapi-Userstate:
      - 55f9
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B25D610357B3427A9EA62F1F37EC8D9C&CID=1C40B668A6CE6F0A1D16BD60A7596E60&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B25D610357B3427A9EA62F1F37EC8D9C&CID=1C40B668A6CE6F0A1D16BD60A7596E60&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 25 Sep 2017 17:01:32 GMT
recorded_with: VCR 3.0.3
