---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - DD8CB33FECF64051BD6304E78546D7C7
      X-Msedge-Clientid:
      - 22DD10050E9B61902D201B9B0F7E60DA
      X-Msapi-Userstate:
      - c79b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=270A462214FB4CB58CC64355A5311523&CID=22DD10050E9B61902D201B9B0F7E60DA&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=270A462214FB4CB58CC64355A5311523&CID=22DD10050E9B61902D201B9B0F7E60DA&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=agency+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5552.1", "totalEstimatedMatches": 14700000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "CA.Gov : Agencies", "url": "http:\/\/www.ca.gov\/Agencies", "urlPingSuffix":
        "DevEx,5097.1", "about": [{"name": "California"}], "displayUrl": "www.ca.gov\/Agencies",
        "snippet": "Research crime data submitted by county and local law enforcement
        agencies. ... Search California State Agency Directory. Find More. Search;
        Find an Agency. Agency ...", "dateLastCrawled": "2018-02-15T08:14:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Agencies
        | USDA", "url": "https:\/\/www.usda.gov\/our-agency\/agencies", "urlPingSuffix":
        "DevEx,5113.1", "about": [{"name": "United States Department of Agriculture"}],
        "displayUrl": "https:\/\/www.usda.gov\/our-agency\/agencies", "snippet":
        "USDA is broken down into several different agencies and offices under the
        USDA umbrella.", "[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=agency%20(site:www.usa.gov/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; ch[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 29C8B5332F3C48D0A94CEDE4219565B6
      X-[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=agency%20(site:www.usa.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E95B8EACFCDD4A39A82B70205713C0C2
[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2DD6646E9606421CBD5B6965E67F1255
      Bingapis-Sessionid:
      - 39CA308E4D59460DB429DCA005A6D06D
      X-Msedge-Clientid:
      - 0ADB43F1E238639C16CB4F5DE37462F8
      X-Msapi-Userstate:
      - d2a8
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=181,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "agency
        (site:.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=agency+(site%3a.gov)",
        "totalEstimatedMatches": 29800000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Agency - post.ca.gov", "url": "https:\/\/post.ca.gov\/agency",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/post.ca.gov\/agency",
        "snippet": "With a PASS account, you can use one password to access POST''s
        online services - including your POST Profile, Continuing Professional Training
        (CPT) status, and news customized for your location and occupation", "dateLastCrawled":
        "2018-11-15T10:00:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "CA.Gov : Agencies", "url": "http:\/\/www.ca.gov\/Agencies", "about": [{"name":
        "North Carolina"}], "isFamilyFriendly": true, "displayUrl": "www.ca.gov\/Agencies",
        "snippet": "Search for adult inmates currently in a California Department
        of Corrections and Rehabilitation institution. Find a State Job Access state
        civil service examinations, apply for vacanc[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=agency%20(site:www.usa.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
     [...]
