---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D18C50CB79ED4DC19A2875FF69332AA8
      X-Msedge-Clientid:
      - 096153E6EFA7660D07BA5959EE3067FA
      X-Msapi-Userstate:
      - b477
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1512536CB61240D3A69D28AE454F1E4A&CID=096153E6EFA7660D07BA5959EE3067FA&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1512536CB61240D3A69D28AE454F1E4A&CID=096153E6EFA7660D07BA5959EE3067FA&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=agency+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5539.1", "totalEstimatedMatches": 30000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "CA.Gov : Agencies", "url": "http:\/\/www.ca.gov\/Agencies?page=1", "urlPingSuffix":
        "DevEx,5088.1", "displayUrl": "www.ca.gov\/Agencies?page=1", "snippet":
        "Agency Area: Agency Authority Board Branch of Government Bureau Commission
        Committee Council Department Legislature Office Program University. Categories:",
        "deepLinks": [{"name": "Office of Administrative Law", "url": "http:\/\/ca.gov\/Agencies\/Administrative-Law-Office-of",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "California State Assembly", "url":
        "http:\/\/ca.gov\/Agencies\/Assembly-California-State", "urlPingSuffix": "DevEx,5081.1"}],
        "dateLastCrawled": "2017-07-05T21:06:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Agencies | The State of New York", "url": "https:\/\/www.ny.gov\/agencies",
        "urlPingSuffix": "DevEx,5109.1", "displayUrl": "https:\/\/www.ny.gov\/agencies",
        "snippet": "The official website of the State of New York. Find information
        about state government agencies and learn more about our programs and services.",
        "deepLinks": [{"name": "Department of[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:www.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf[...]
