---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 47CF78908D5A4E1B865AB65F4B93FAA9
      X-Msedge-Clientid:
      - 0331505F591F6CAD1FBF5C0758106D3E
      X-Msapi-Userstate:
      - 5bba
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D781E2362BE347A4B1C16DE92DAC8F84&CID=0331505F591F6CAD1FBF5C0758106D3E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D781E2362BE347A4B1C16DE92DAC8F84&CID=0331505F591F6CAD1FBF5C0758106D3E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=agency+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5421.1", "totalEstimatedMatches": 30100000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "CA.Gov : Agencies", "url": "http:\/\/www.ca.gov\/Agencies", "urlPingSuffix":
        "DevEx,5059.1", "about": [{"name": "North Carolina"}], "displayUrl": "www.ca.gov\/Agencies",
        "snippet": "The vast majority of cases in the California courts begin in
        one of the 58 superior, or ... Search California State Agency Directory.
        Find More. Search; Find an Agency.", "dateLastCrawled": "2018-08-20T20:27:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "A-Z Index
        of U.S. Government Departments and Agencies", "url": "https:\/\/www.usa.gov\/federal-agencies\/a",
        "urlPingSuffix": "DevEx,5074.1", "about": [{"name": "Federal government of
        the United States"}], "displayUrl": "https:\/\/www.usa.gov\/federal-agencies",
        "snippet": "Directory listing for federal agencies and departments: A", "dateLastCrawled":
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=agency%20(site:www.usa.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6CCFF064ACD74FFAB801A897A6F76521
[...]
