---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(agency)%20language:en%20(site:.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028agency\u0029
        language\u003aen \u0028site\u003a.gov\u0029"},"Web":{"Total":12700000,"Offset":0,"Results":[{"Title":"CA.Gov
        \u003a Agencies","Description":"Research crime data submitted by county and
        local law enforcement agencies. Governor\u2019s Office. ... Find an Agency.
        Agency Search\u003a Search. Show Filters .","Url":"http\u003a\u002f\u002fwww.ca.gov\u002fAgencies","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dagency\u0026d\u003d4941507478882685\u0026w\u003dYY98djFKpczHI1s7ZYs9VFpXXz1tlatJ","DisplayUrl":"www.ca.gov\u002fAgencies","DateTime":"2016-11-28T14\u003a35\u003a00Z"},{"Title":"Agency
        Profiles","Description":"USAspending.gov is a website mandated by the Federal
        Funding Accountability and Transparency Act of 2006 to give the American public
        access to information on how ...","Url":"https\u003a\u002f\u002fwww.usaspending.gov\u002ftransparency\u002fPages\u002fAgencyProfiles.aspx","DisplayUrl":"https\u003a\u002f\u002fwww.usaspending.gov\u002ftransparency\u002fPages\u002fAgencyProfiles.aspx","DateTime"[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(agency)%20language:en%20(site:www.usa.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      s[...]
