---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4CFB022FCF234AD5B079EF4A5EADE27D
      X-Msedge-Clientid:
      - 16E6F64013A462240112FCC0123363B9
      X-Msapi-Userstate:
      - 079e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9A05E2F9B1E64F71A87745BD7A0A2069&CID=16E6F64013A462240112FCC0123363B9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9A05E2F9B1E64F71A87745BD7A0A2069&CID=16E6F64013A462240112FCC0123363B9&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=agency+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5514.1", "totalEstimatedMatches": 13300000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "CA.Gov : Agencies", "url": "http:\/\/www.ca.gov\/Agencies?page=1", "urlPingSuffix":
        "DevEx,5086.1", "displayUrl": "www.ca.gov\/Agencies?page=1", "snippet":
        "Agency Area: Agency Authority Board Branch of Government Bureau Commission
        Committee Council Department Legislature Office Program University. Categories:",
        "deepLinks": [{"name": "Office of Administrative Law", "url": "http:\/\/ca.gov\/Agencies\/Administrative-Law-Office-of",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "California State Assembly", "url":
        "http:\/\/ca.gov\/Agencies\/Assembly-California-State", "urlPingSuffix": "DevEx,5081.1"}],
        "dateLastCrawled": "2017-04-27T05:03:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Agencies | AZ Direct", "url": "https:\/\/azdirect.az.gov\/agencies",
        "urlPingSuffix": "DevEx,5102.1", "displayUrl": "https:\/\/azdirect.az.gov\/agencies",
        "snippet": "Locate State Agencies & Key Contacts . Search. Main menu. Home;
        Agency Directory; Employee Directory. eBook (Public Directory) ... Search
        by Agency or Board Name", "dateLastCrawle[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:www.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf[...]
