---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - CCD41A26F70D498DBCC6D661BD9A2EAB
      X-Msedge-Clientid:
      - 34C37B58302E6AA31F40705031B96B2C
      X-Msapi-Userstate:
      - 1dc7
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=09E7B5BF1B9C4BFC8DE988A739000FEF&CID=34C37B58302E6AA31F40705031B96B2C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=09E7B5BF1B9C4BFC8DE988A739000FEF&CID=34C37B58302E6AA31F40705031B96B2C&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=agency+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5523.1", "totalEstimatedMatches": 48200000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "CA.Gov : Agencies", "url": "http:\/\/www.ca.gov\/Agencies?page=1", "urlPingSuffix":
        "DevEx,5085.1", "displayUrl": "www.ca.gov\/Agencies?page=1", "snippet":
        "Agency Area: Agency Authority Board Branch of Government Bureau Commission
        Committee Council Department Legislature Office Program University. Categories:",
        "dateLastCrawled": "2017-09-17T21:32:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Agency Telephone Listings - Montana''s Official State Website",
        "url": "http:\/\/directory.mt.gov\/govt\/state-dir\/agency\/default", "urlPingSuffix":
        "DevEx,5099.1", "displayUrl": "directory.mt.gov\/govt\/state-dir\/agency\/default",
        "snippet": "Agency Telephone Listings. Find key state employees in these
        agency listings by clicking on the agen[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:www.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf[...]
