---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - AA71ADE02A4F4C168710432DB37825F8
      X-Msedge-Clientid:
      - 17BA96A4D1046DD0218C9CC6D0936C5E
      X-Msapi-Userstate:
      - bbdc
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=05A8FB9698FC4CFC84078E303A34AAF2&CID=17BA96A4D1046DD0218C9CC6D0936C5E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=05A8FB9698FC4CFC84078E303A34AAF2&CID=17BA96A4D1046DD0218C9CC6D0936C5E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=agency+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5502.1", "totalEstimatedMatches": 13500000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Illinois Historic Preservation Agency", "url": "https:\/\/www2.illinois.gov\/ihpa\/Pages\/default.aspx",
        "urlPingSuffix": "DevEx,5079.1", "about": [{"name": "Carl Sandburg State Historic
        Site"}, {"name": "Old State Capitol"}, {"name": "Fort de Chartres"}], "displayUrl":
        "https:\/\/www2.illinois.gov\/ihpa", "snippet": "Illinois Historic Preservation
        Agency 1 Old State Capitol Plaza Springfield, IL 62701-1507 Telephone: (217)
        785-7930. Webmaster ...", "dateLastCrawled": "2017-04-05T17:43:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Home Page
        | Agency of Education", "url": "http:\/\/education.vermont.gov\/home",
        "urlPingSuffix": "DevEx,5092.1", "displayUrl": "education.vermont.gov\/home",
        "snippet": "The Agency of Education can provide a certified true copy of
        your Burlington College student academic record as it existed at the closing
        of the college.", "dateLastCraw[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:www.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf[...]
