---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2028E1F3309E41DAB831A95F280B4690
      X-Msedge-Clientid:
      - 151B24DDE2BA625E32242F9AE32D6380
      X-Msapi-Userstate:
      - 5b0f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C8A0AE8091814337AC9DE933A42F5115&CID=151B24DDE2BA625E32242F9AE32D6380&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C8A0AE8091814337AC9DE933A42F5115&CID=151B24DDE2BA625E32242F9AE32D6380&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=agency+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5552.1", "totalEstimatedMatches": 28100000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "CA.Gov : Agencies", "url": "http:\/\/www.ca.gov\/Agencies", "urlPingSuffix":
        "DevEx,5097.1", "displayUrl": "www.ca.gov\/Agencies", "snippet": "Research
        crime data submitted by county and local law enforcement agencies. ... Search
        California State Agency Directory. Find More. Search; Find an Agency.
        Agency ...", "dateLastCrawled": "2017-11-18T20:50:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Agency Profiles",
        "url": "https:\/\/www.usaspending.gov\/transparency\/Pages\/AgencyProfiles.aspx",
        "urlPingSuffix": "DevEx,5112.1", "displayUrl": "https:\/\/www.usaspending.gov\/transparency\/Pages\/AgencyProfiles.aspx",
        "snippet": "USAspending.gov is a website mandated by the Federal Funding Accountability
        and Transparency Act of 2006 to give the A[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:www.usa.gov/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ut[...]
