---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28agency%29+language%3Aen+%28site%3A.gov%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028agency\u0029
        language\u003aen \u0028site\u003a.gov\u0029"},"Web":{"Total":12800000,"Offset":0,"Results":[{"Title":"Agency
        \u007c Department of Insurance, SC - Official Website","Description":"The
        agency must have at least one South Carolina licensed producer, the agency
        can then submit the following documentation to the South Carolina Department
        of Insurance\u003a","Url":"http\u003a\u002f\u002fdoi.sc.gov\u002f364\u002fAgency","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dagency\u0026d\u003d4861599596806731\u0026w\u003dpnVoXRN65-yizK_4V0ngQpXvFyzdJKJL","DisplayUrl":"doi.sc.gov\u002f364","DateTime":"2016-06-02T15\u003a20\u003a00Z"},{"Title":"Agency
        - Home DODD","Description":"An agency provider is a person employed by an
        entity for the purpose of providing services to people with developmental
        disabilities. Agency Providers must be ...","Url":"http\u003a\u002f\u002fdodd.ohio.gov\u002fProviders\u002fBecomeAProvider\u002fPages\u002fAgency.aspx","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dagency\u0026d\u003d4650381672645112\u0026w\u[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28agency%29+language%3Aen+%28site%3Awww.usa.gov%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
   [...]
