---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659eb0f297ee44698470c18cd3511d66
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659eb0f297ee44698470c18cd3511d66
      Bingapis-Sessionid:
      - AE4ADD686E4F43D5AECBB84E38F1E53E
      X-Msedge-Clientid:
      - 065B7FEB72786A9117A76BE973EC6BF8
      X-Msapi-Userstate:
      - aafe
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=297,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "agency
        (site:.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=agency+(site%3a.gov)",
        "totalEstimatedMatches": 794000000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "A-Z index of U.S. government departments and agencies", "url": "https:\/\/www.usa.gov\/agency-index",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usa.gov\/agency-index",
        "snippet": "Arthritis, Musculoskeletal and Skin Diseases, National Institute
        of. Ask a real person any government-related question for free. They will
        get you the answer or let you know where to find it. Find contact information
        for U.S. federal government departments and agencies including websites, emails,
        phone numbers, addresses, and more.", "dateLastCrawled": "2024-01-09T14:18:00.0000000Z",
        "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=agency+(site%3a.gov)&d=4780028225323138&mkt=en-US&setlang=en-US&w=fCNvW5b2sgd9tJsiK8x4nV0JEtgkdGK3",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Federal Register :: Agencies", "url": "https:\/\/www.federalregister.gov\/agencies",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.federalregister.gov\/agencies",
        "snippet": "Utah Reclamation Mitigation and Conservation Commission. Valles
        Caldera Trust. Veterans Affairs Department. Women''s Business Enterprise Interagency
        Committee. Women''s Progress Commemoration[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=agency%20(site:www.usa.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eve[...]
