---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 077C40C619844BB39B012A4E91176787
      X-Msedge-Clientid:
      - 1D18AB0DBBAF62C636C5A130BA3863A1
      X-Msapi-Userstate:
      - d4d0
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=AD81EDD25C794BC4A9233EB2321D3D3E&CID=1D18AB0DBBAF62C636C5A130BA3863A1&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=AD81EDD25C794BC4A9233EB2321D3D3E&CID=1D18AB0DBBAF62C636C5A130BA3863A1&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=agency+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5517.1", "totalEstimatedMatches": 10100000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "U.S. Environmental Protection Agency - Official Site", "url": "https:\/\/www.epa.gov\/",
        "urlPingSuffix": "DevEx,5092.1", "displayUrl": "https:\/\/www.epa.gov",
        "snippet": "United States Environmental Protection Agency. Search Search.
        U.S. Environmental Protection Agency. Share. Facebook; Twitter; Google+;
        Pinterest; Contact Us;", "deepLinks": [{"name": "Laws & Regulations", "url":
        "https:\/\/www.epa.gov\/laws-regulations", "urlPingSuffix": "DevEx,5081.1"},
        {"name": "Careers", "url": "https:\/\/www.epa.gov\/careers", "urlPingSuffix":
        "DevEx,5082.1"}, {"name": "Contact EPA", "url": "https:\/\/www.epa.gov\/home\/forms\/contact-epa",
        "urlPingSuffix": "DevEx,5083.1"}, {"name": "Lead", "url": "https:\/\/www.epa.gov\/lead",
        "urlPingSuffix": "DevEx,5084.1"}, {"name": "About EPA", "url": "https:\/\/www2.epa.gov\/aboutepa",
        "urlPingSuffix": "DevEx,5085.1"}, {"name": "Pesticides", "url": "https:\/\/www.epa.gov\/pesticides",
        "urlPingSuffix": "DevEx,5086.1"}], "dateLastCrawled": "2017-03-06T16:47:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "A | Agency
        for Healthcare Research & Quality", "url": "https:\/\/www.ahrq.gov\/topics\/index.html",
        "urlPingSuffix": "DevEx,5104.1", "displayUrl": "https:\/\/www.ahrq.gov\/topics",
        "snippet": "Agency for Healthcare Research and Quality 5600 Fishers Lane
        Rockville, MD 20857 Telephone: (301) 427-1364", "dateLastCrawled": "2017-03-02T21:29:00.0000000Z"}[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:www.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf[...]
