---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=president%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 25158052CEAA46F1B6C0EAAB6B1E5ACD
      X-Msedge-Clientid:
      - 026067E37B09668E1D256DDE7A9E67E6
      X-Msapi-Userstate:
      - 7ae7
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9AF4FCBD09584755B4C7302D8F5DD381&CID=026067E37B09668E1D256DDE7A9E67E6&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9AF4FCBD09584755B4C7302D8F5DD381&CID=026067E37B09668E1D256DDE7A9E67E6&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=president+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5490.1", "totalEstimatedMatches": 4340000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "The Presidents | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/1600\/Presidents",
        "urlPingSuffix": "DevEx,5087.1", "displayUrl": "https:\/\/www.whitehouse.gov\/1600\/Presidents",
        "snippet": "Short history of the U.S. Presidency, along with biographical
        sketches and portraits of all the presidents to date. From the official
        White House site.", "deepLinks": [{"name": "Barack Obama", "url": "https:\/\/www.whitehouse.gov\/1600\/presidents\/barackobama",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "George Washington", "url": "https:\/\/www.whitehouse.gov\/1600\/presidents\/georgewashington",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Richard M. Nixon", "url": "https:\/\/www.whitehouse.gov\/1600\/presidents\/richardnixon",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "First Ladies", "url": "https:\/\/www.whitehouse.gov\/1600\/first-ladies",
        "urlPingSuffix": "DevEx,5080.1"}], "dateLastCrawled": "2017-02-14T11:48:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "President
        Barack Obama | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/administration\/president-obama",
        "urlPingSuffix": "DevEx,5105.1", "about": [{"name": "Barack Obama"}], "displayUrl":
        "https:\/\/www.whitehouse.gov\/administration\/president-obama", "snippet":
        "Barack Obama is the 44th President of the United States. His story is
        the American story -- values from the heartland, a middle-class upbringing
        in a strong family ...", "deepLinks": [{"name": "Contact", "url": "https:\/\/www.whitehouse.gov\/contact",
        "urlPingSuffix": "DevEx,5098.1"}, {"name": "Write Or Call", "url": "https:\/\/ww[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=presidente%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hippopotamus%20(site:hippo.whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F8117654CF054737BE6BCF6B138FFF14
      X-Msedge-Clientid:
      - 32EB4B90F02662C9082841ADF1B163DF
      X-Msapi-Userstate:
      - 65dc
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B769A6FD43AF4AF3BCE4532E14B97E9B&CID=32EB4B90F02662C9082841ADF1B163DF&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B769A6FD43AF4AF3BCE4532E14B97E9B&CID=32EB4B90F02662C9082841ADF1B163DF&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 06 Mar 2017 18:05:37 GMT
recorded_with: VCR 3.0.3
