---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 50353D1D18F44A0CB17BDF20D401CBCA
      X-Msedge-Clientid:
      - 24649AF3C6036EE72FEF9175C7AC6FEC
      X-Msapi-Userstate:
      - aeab
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1CFA9C7A190F4DACBF2AD7878965E2C2&CID=24649AF3C6036EE72FEF9175C7AC6FEC&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1CFA9C7A190F4DACBF2AD7878965E2C2&CID=24649AF3C6036EE72FEF9175C7AC6FEC&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=agency+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5553.1", "totalEstimatedMatches": 33400000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "CA.Gov : Agencies", "url": "http:\/\/www.ca.gov\/Agencies", "urlPingSuffix":
        "DevEx,5096.1", "about": [{"name": "California"}], "displayUrl": "www.ca.gov\/Agencies",
        "snippet": "Research crime data submitted by county and local law enforcement
        agencies. ... Search California State Agency Directory. Find More. Search;
        Find an Agency. Agency ...", "dateLastCrawled": "2018-01-20T17:21:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "A-Z Index
        of U.S. Government Departments and Agencies", "url": "https:\/\/www.usa.gov\/federal-agencies\/a",
        "urlPingSuffix": "DevEx,5119.1", "displayUrl": "https:\/\/www.usa.gov\/federal-agencies\/a",
        "snippet": "Directory listing for federal agencies and departments: A", "deepLinks":
        [{"name": "Government Agencies", "url": "https:\/\/www.usa.gov\/agencies",
        "urlPingSuffix": "DevEx,5109.1"}, {"name": "U.S. Air Force", "url": "https:\/\/www.usa.gov\/federal-agencies\/u-s-air-force",
        "urlPingSuffix": "DevEx,5110.1"}, {"name": "U.S. Army", "url": "https:\/\/www.usa.gov\/federal-agencies\/u-s-army",
        "urlPingSuffix": "DevEx,5111.1"}, {"name": "Explore Topics", "url": "https:\/\/www.usa.gov\/topics",
        "urlPingSuffix": "DevEx,5112.1"}], "dateL[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:www.usa.gov/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ut[...]
