---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(president)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028president\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":7410000,"Offset":0,"Results":[{"Title":"The
        Presidents \u007c whitehouse.gov","Description":"Short history of the U.S.
        Presidency, along with biographical sketches and portraits of all the presidents
        to date. From the official White House site.","Url":"https\u003a\u002f\u002fwww.whitehouse.gov\u002f1600\u002fPresidents","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dpresident\u0026d\u003d4873982073636903\u0026w\u003dPNvhTg8jsUioblETutK5H--gaJJmzJCT","DisplayUrl":"https\u003a\u002f\u002fwww.whitehouse.gov\u002f1600\u002fPresidents","DateTime":"2016-12-01T21\u003a45\u003a00Z"},{"Title":"President
        Barack Obama \u007c whitehouse.gov","Description":"Barack Obama is the 44th
        President of the United States. His story is the American story -- values
        from the heartland, a middle-class upbringing in a strong family ...","Url":"https\u003a\u002f\u002fwww.whitehouse.gov\u002fadministration\u002fpresident-obama","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dpresident\u0026d\u003d4751592666[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(president)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20&web.offset=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; cha[...]
[...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(presidente)%20language:es%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  [...]
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(hippopotamus)%20language:en%20(site:hippo.whitehouse.gov)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028hippopotamus\u0029
        language\u003aen \u0028site\u003ahippo.whitehouse.gov\u0029"},"Web":{"Total":0,"Offset":0}}}'
  recorded_at: Thu, 08 Dec 2016 23:03:48 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=president%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A150F2DE569D408CBEED6DB7A6D9280D
      X-Msedge-Clientid:
      - 3DA6561B1CCF61580CC65FE41D586072
      X-Msapi-Userstate:
      - ea5e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=3587C442C4764F038333784495D530B5&CID=3DA6561B1CCF61580CC65FE41D586072&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=3587C442C4764F038333784495D530B5&CID=3DA6561B1CCF61580CC65FE41D586072&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=president+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5502.1", "totalEstimatedMatches": 5470000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "The Presidents | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/1600\/Presidents",
        "urlPingSuffix": "DevEx,5093.1", "displayUrl": "https:\/\/www.whitehouse.gov\/1600\/Presidents",
        "snippet": "Which President served as a lieutenant colonel in the Spanish-American
        war? Who was the first Democrat elected after the Civil War? Who introduced
        Social Security?", "deepLinks": [{"name": "Barack Obama", "url": "https:\/\/www.whitehouse.gov\/1600\/presidents\/barackobama",
        "urlPingSuffix": "DevEx,5083.1"}, {"name": "Richard M. Nixon", "url": "https:\/\/www.whitehouse.gov\/1600\/presidents\/richardnixon",
        "urlPingSuffix": "DevEx,5084.1"}, {"name": "Abraham Lincoln", "url": "https:\/\/www.whitehouse.gov\/1600\/presidents\/abrahamlincoln",
        "urlPingSuffix": "DevEx,5085.1"}, {"name": "Martin Van Buren", "url": "https:\/\/www.whitehouse.gov\/1600\/presidents\/martinvanburen",
        "urlPingSuffix": "DevEx,5086.1"}], "dateLastCrawled": "2017-01-01T07:01:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "President
        Barack Obama | whitehouse.gov", "url": "https:\/\/www.whitehouse.gov\/administration\/president-obama",
        "urlPingSuffix": "DevEx,5112.1", "displayUrl": "https:\/\/www.whitehouse.gov\/administration\/president-obama",
        "snippet": "President Obama and his wife, Michelle, are the proud parents
        of two daughters, Malia and Sasha. Learn more ab[...]
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=presidente%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=hippopotamus%20(site:hippo.whitehouse.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 41DB3A438BDB42B0B6EA9ED1C4BA40C6
      X-Msedge-Clientid:
      - 3B7DF2D4C18A6614369DFB2BC01D67C5
      X-Msapi-Userstate:
      - e4f1
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=43C01AD5ECB54FDF8D6B0C6D2628CBF2&CID=3B7DF2D4C18A6614369DFB2BC01D67C5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=43C01AD5ECB54FDF8D6B0C6D2628CBF2&CID=3B7DF2D4C18A6614369DFB2BC01D67C5&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 03 Jan 2017 22:39:24 GMT
recorded_with: VCR 3.0.3
