---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 03EC3F68069D4D139E5ACE3CAAD12CCD
      X-Msedge-Clientid:
      - 168302972ED96E601842091B2F766F7E
      X-Msapi-Userstate:
      - 465d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=92BDBD9E82374AE594B4E3AC2DAE201D&CID=168302972ED96E601842091B2F766F7E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=92BDBD9E82374AE594B4E3AC2DAE201D&CID=168302972ED96E601842091B2F766F7E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=agency+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5551.1", "totalEstimatedMatches": 35600000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "A-Z Index of U.S. Government Departments and Agencies", "url": "https:\/\/www.usa.gov\/federal-agencies\/a",
        "urlPingSuffix": "DevEx,5102.1", "displayUrl": "https:\/\/www.usa.gov\/federal-agencies\/a",
        "snippet": "Directory listing for federal agencies and departments: A", "deepLinks":
        [{"name": "Government Agencies", "url": "https:\/\/www.usa.gov\/agencies",
        "urlPingSuffix": "DevEx,5091.1"}, {"name": "U.S. Air Force", "url": "https:\/\/www.usa.gov\/federal-agencies\/u-s-air-force",
        "urlPingSuffix": "DevEx,5092.1"}, {"name": "U.S. Army", "url": "https:\/\/www.usa.gov\/federal-agencies\/u-s-army",
        "urlPingSuffix": "DevEx,5093.1"}, {"name": "Explore Topics", "url": "https:\/\/www.usa.gov\/topics",
        "urlPingSuffix": "DevEx,5094.1"}], "dateLastCrawled": "2018-01-28T19:02:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Agency
        | California Natural Resources Agency", "url": "http:\/\/resources.ca.gov\/agency\/",
        "urlPingSuffix": "DevEx,5117.1", "displayUrl": "resources.ca.gov\/agency",
        "snippet": "The California Natural Resources Agency leads and coordinates
        both the administration''s climate adaptation policy and its natural resources
        climate policy.", "dateLastCrawled": "2018-01-24T02:57:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "CA.Gov : Agencies",
        "url": "http:\/\/www.ca.gov\/Agencies?page=1", "urlPingSuffix": "DevEx,5134.1",
        "about": [{"name": "California"}], "displayUrl": "www.ca.gov\/Agencies?page=1",
        "snippet": "Agency Area: Agency Authority Board Branch of Government Bureau
        Commission Committee Council Department Legislature Office Program University.
        Categories:", "dateLastCrawled": "2018-01-24T02:10:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3",
        "name": "Agency Profiles", "url": "https:\/\/www.usaspending.gov\/transparency\/Pages\/AgencyProfiles.aspx",
        "urlPingSuffix": "DevEx,5149.1", "displayUrl": "https:\/\/www.usaspending.gov\/transparency\/Pages\/AgencyProfiles.aspx",
        "snippet": "USAspending.gov is a website mandated by the Federal Funding Accountability
        and Transparency Act of 2006 [...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:www.usa.gov/)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ut[...]
