---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 00D46558EDE943A68CB918366B2B9542
      X-Msedge-Clientid:
      - 03859580A22566270DD89FBEA3B2671A
      X-Msapi-Userstate:
      - dc5c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8453D8AC2A93468C8A0F1AB583C76887&CID=03859580A22566270DD89FBEA3B2671A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8453D8AC2A93468C8A0F1AB583C76887&CID=03859580A22566270DD89FBEA3B2671A&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=agency+(site%3a.gov)",
        "webSearchUrlPingSuffix": "DevEx,5513.1", "totalEstimatedMatches": 10100000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "A | Agency for Healthcare Research & Quality", "url": "https:\/\/www.ahrq.gov\/topics\/index.html",
        "urlPingSuffix": "DevEx,5081.1", "displayUrl": "https:\/\/www.ahrq.gov\/topics\/index.html",
        "snippet": "Agency for Healthcare Research and Quality 5600 Fishers Lane
        Rockville, MD 20857 Telephone: (301) 427-1364", "dateLastCrawled": "2017-03-03T22:39:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Agency
        Directory | DC", "url": "http:\/\/dc.gov\/directory", "urlPingSuffix": "DevEx,5096.1",
        "displayUrl": "dc.gov\/directory", "snippet": "Agency Directory. Filter
        by Topic Administrative Hearings, Office of. Advisory Neighborhood Commissions,
        Office of. African Affairs, Mayor''s Office on. Aging, Office ...", "dateLastCrawled":
        "2017-0[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=agency%20(site:www.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf[...]
