---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=bar%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4269DBD9A91942E0BBE50D51E4EF8FEA
      X-Msedge-Clientid:
      - 3A650C396A2B65DB042606076BBC64C0
      X-Msapi-Userstate:
      - d74f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E4F29A082E4D4BE28AABA0C8C022F08F&CID=3A650C396A2B65DB042606076BBC64C0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E4F29A082E4D4BE28AABA0C8C022F08F&CID=3A650C396A2B65DB042606076BBC64C0&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=bar+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5478.1", "totalEstimatedMatches": 4820000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "California Bureau of Automotive Repair - Official Site", "url": "http:\/\/www.bar.ca.gov\/",
        "urlPingSuffix": "DevEx,5090.1", "about": [{"name": "California Bureau of
        Automotive Repair"}], "displayUrl": "www.bar.ca.gov", "snippet": "Bureau
        of Automotive Repair home page. Skip to Main Content ; Consumer. Consumer
        Programs; Complaints; Smog Check Help; Vehicle Maintenance and Repair; Diesel
        ...", "deepLinks": [{"name": "Vehicle Test History", "url": "http:\/\/www.bar.ca.gov\/pubwebquery\/Vehicle\/PubTstQry.aspx",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "STAR Program", "url": "http:\/\/www.bar.ca.gov\/Industry\/STAR_Program\/index.html",
        "urlPingSuffix": "DevEx,5080.1"}, {"name": "Forms and Publications", "url":
        "http:\/\/www.bar.ca.gov\/FormsPubs\/index.html", "urlPingSuffix": "DevEx,5081.1"},
        {"name": "Verify a License", "url": "http:\/\/www.bar.ca.gov\/Consumer\/Verify_License.html",
        "urlPingSuffix": "DevEx,5082.1"}], "dateLastCrawled": "2017-03-02T01:04:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Vehicle
        Test History - bar.ca.gov", "url": "http:\/\/www.bar.ca.gov\/pubwebquery\/Vehicle\/PubTstQry.aspx",
        "urlPingSuffix": "DevEx,5102.1", "displayUrl": "www.bar.ca.gov\/pubwebquery\/Vehicle\/PubTstQry.aspx",
        "snippet": "Bureau of Automotive Repair Vehicle Test History Page. Skip
        to Main Content. Statewide search: Search this site: This Site Califo[...]
