---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=bar%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7C9FD94C0BB5450F94475A47E4AFBD7B
      X-Msedge-Clientid:
      - 29B335C93FA6602D0A7F3E4F3E096150
      X-Msapi-Userstate:
      - 672d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=2F01CDD19D4D4CDF81B4698D080E0E5B&CID=29B335C93FA6602D0A7F3E4F3E096150&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=2F01CDD19D4D4CDF81B4698D080E0E5B&CID=29B335C93FA6602D0A7F3E4F3E096150&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=bar+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5509.1", "totalEstimatedMatches": 27900000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "California Bureau of Automotive Repair - Official Site", "url": "http:\/\/www.bar.ca.gov\/",
        "urlPingSuffix": "DevEx,5100.1", "about": [{"name": "California Bureau of
        Automotive Repair"}, {"name": "California Bureau of Automotive Repair"}, {"name":
        "California Bureau of Automotive Repair"}], "displayUrl": "www.bar.ca.gov",
        "snippet": "The Bureau of Automotive Repair protects the health and interests
        of California consumers by administering an effective vehicle emissions reduction
        program and ...", "deepLinks": [{"name": "Vehicle Test History", "url": "https:\/\/www.bar.ca.gov\/pubwebquery\/Vehicle\/PubTstQry.aspx",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "Verify a License", "url": "http:\/\/www.bar.ca.gov\/Consumer\/Verify_License.html",
        "urlPingSuffix": "DevEx,5089.1"}, {"name": "Industry", "url": "http:\/\/www.bar.ca.gov\/Industry\/index.html",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "Forms and Publications", "url":
        "http:\/\/www.bar.ca.gov\/FormsPubs\/index.html", "urlPingSuffix": "DevEx,5091.1"}],
        "dateLastCrawled": "2018-01-22T13:42:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Industry - Bureau of Automotive Repair, State of ...", "url":
        "https:\/\/www.bar.ca.gov\/Industry\/index.html", "urlPingSuffix": "DevEx,5121.1",
        "about": [{"name": "Industry"}], "displayUrl": "https:\/\/www.bar.ca.gov\/Industry\/index.html",
        "snippet": "NOTE: BAR is now accepting individual taxpayer identification
        numbers (ITINs) for an individua[...]
