---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=bar%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 227CDFBCAF1D4A438EB8B05E29C869F8
      X-Msedge-Clientid:
      - 30AEF9F21F496E910885F3901EDE6F09
      X-Msapi-Userstate:
      - b902
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=3CE45D57399F4C878EFCDFA084692318&CID=30AEF9F21F496E910885F3901EDE6F09&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=3CE45D57399F4C878EFCDFA084692318&CID=30AEF9F21F496E910885F3901EDE6F09&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=bar+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5473.1", "totalEstimatedMatches": 8450000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "California Bureau of Automotive Repair - Official Site", "url": "http:\/\/www.bar.ca.gov\/",
        "urlPingSuffix": "DevEx,5089.1", "about": [{"name": "California Bureau of
        Automotive Repair"}], "displayUrl": "www.bar.ca.gov", "snippet": "Bureau
        of Automotive Repair home page. Skip to Main Content ; Consumer. Consumer
        Programs; Complaints; Smog Check Help; Vehicle Maintenance and Repair; Diesel
        ...", "deepLinks": [{"name": "Vehicle Test History", "url": "http:\/\/www.bar.ca.gov\/pubwebquery\/Vehicle\/PubTstQry.aspx",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "STAR Program", "url": "http:\/\/www.bar.ca.gov\/Industry\/STAR_Program\/index.html",
        "urlPingSuffix": "DevEx,5079.1"}, {"name": "Forms and Publications", "url":
        "http:\/\/www.bar.ca.gov\/FormsPubs\/index.html", "urlPingSuffix": "DevEx,5080.1"},
        {"name": "Verify a License", "url": "http:\/\/www.bar.ca.gov\/Consumer\/Verify_License.html",
        "urlPingSuffix": "DevEx,5081.1"}], "dateLastCrawled": "2017-04-02T08:54:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Find a
        Station\/License Status", "url": "https:\/\/www.bar.ca.gov\/Consumer\/Verify_License.html",
        "urlPingSuffix": "DevEx,5105.1", "displayUrl": "https:\/\/www.bar.ca.gov\/Consumer\/Verify_License.html",
        "snippet": "License Search. Select from the options below to find license
        and discipline information for stations and licensees registered or license[...]
