---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=bar%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E8C8239F91504613A415161234FD435C
      X-Msedge-Clientid:
      - 1B683645183968481B403DDB19DC69FF
      X-Msapi-Userstate:
      - 0a72
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F1BBD2A7248B46F4BE2945C0AF756E3B&CID=1B683645183968481B403DDB19DC69FF&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F1BBD2A7248B46F4BE2945C0AF756E3B&CID=1B683645183968481B403DDB19DC69FF&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=bar+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5515.1", "totalEstimatedMatches": 12200000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "California Bureau of Automotive Repair - Official Site", "url": "http:\/\/www.bar.ca.gov\/",
        "urlPingSuffix": "DevEx,5098.1", "about": [{"name": "California Bureau of
        Automotive Repair"}, {"name": "California Bureau of Automotive Repair"}],
        "displayUrl": "www.bar.ca.gov", "snippet": "The Bureau of Automotive
        Repair protects the health and interests of California consumers by administering
        an effective vehicle emissions reduction program and ...", "deepLinks": [{"name":
        "Vehicle Test History", "url": "https:\/\/www.bar.ca.gov\/pubwebquery\/Vehicle\/PubTstQry.aspx",
        "urlPingSuffix": "DevEx,5086.1"}, {"name": "Verify a License", "url": "http:\/\/www.bar.ca.gov\/Consumer\/Verify_License.html",
        "urlPingSuffix": "DevEx,5087.1"}, {"name": "Industry", "url": "http:\/\/www.bar.ca.gov\/Industry\/index.html",
        "urlPingSuffix": "DevEx,5088.1"}, {"name": "Forms and Publications", "url":
        "http:\/\/www.bar.ca.gov\/FormsPubs\/index.html", "urlPingSuffix": "DevEx,5089.1"}],
        "dateLastCrawled": "2018-02-16T12:36:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Consumer Assistance Program - Bureau of Automotive Repair ...",
        "url": "https:\/\/www.bar.ca.gov\/Consumer\/Consumer_Assistance_Program\/index.html",
        "urlPingSuffix": "DevEx,5115.1", "displayUrl": "https:\/\/www.bar.ca.gov\/Consumer\/Consumer_Assistance_Program\/index.html",
        "snippet": "The Consumer Assistance Program (CAP) is administered by the Bureau
[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=bar%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 65D1A14D38E14E229BE95A9FDAFEE[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=bar%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 369239B21A29422784DC52AB9E6D5339
      Bingapis-Sessionid:
      - 83C7A38411A94675B276D2D65DC8C036
      X-Msedge-Clientid:
      - 2A13F50B0BCC669E1F6CF9A70A80674C
      X-Msapi-Userstate:
      - ee6e
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=174,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "bar
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=bar+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 22300000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Bureau of Automotive Repair, State of California, Dept. of ...",
        "url": "https:\/\/www.bar.ca.gov\/", "about": [{"name": "California Bureau
        of Automotive Repair"}, {"name": "California Bureau of Automotive Repair"}],
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.bar.ca.gov", "snippet":
        "Bureau of Automotive Repair home page. BAR''s website is experiencing
        technical difficulties. Access to certain services, including Find a Station
        and the Consumer Assistance Program application, may be temporarily unavailable.",
        "dateLastCrawled": "2018-11-15T06:00:00.0000000Z", "language": "en", "isNavigational":
        false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Contact Us - California Bureau of Automotive Repair", "url":
        "https:\/\/www.bar.ca.gov\/About_BAR\/Contact_Us.html", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.bar.ca.gov\/About_BAR\/Contact_Us.html",
        "snippet": "BAR''s website is experiencing technical difficulties. Access
        to certain services, including Find a Station and the Consumer As[...]
