---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=%28bar%29+language%3Aen+%28scopeid%3Ausagovall+OR+site%3Agov+OR+site%3Amil%29&sources=Spell+Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028bar\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":9510000,"Offset":0,"Results":[{"Title":"Bureau
        of Automotive Repair, State of California, Dept. of ...","Description":"Bureau
        of Automotive Repair home page ... This Google translation feature is provided
        for informational purposes only as DCA is unable to guarantee the accuracy
        of ...","Url":"http\u003a\u002f\u002fwww.bar.ca.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dbar\u0026d\u003d4667686139854886\u0026w\u003dN1qVk9AqfDlKngOSasckIAehaNdYkMrB","DisplayUrl":"www.bar.ca.gov","DateTime":"2016-06-03T15\u003a29\u003a00Z"},{"Title":"The
        State Bar of California","Description":"Official bar association responsible
        for lawyers practicing law and investigation of professional misconduct. Features
        services for members and a public database of ...","Url":"http\u003a\u002f\u002fcalbar.ca.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dbar\u0026d\u003d4985350500451056\u0026w\u003dKV9CcrpIjTfbEzv-yD0KwywauusXWCWw","DisplayUr[...]
