---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(bar)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028bar\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":8540000,"Offset":0,"Results":[{"Title":"Bureau
        of Automotive Repair, State of California, Dept. of ...","Description":"Bureau
        of Automotive Repair home page ... This Google translation feature is provided
        for informational purposes only as DCA is unable to guarantee the accuracy
        of ...","Url":"http\u003a\u002f\u002fwww.bar.ca.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dbar\u0026d\u003d4667686205915223\u0026w\u003dcrLqPBoW-lNKngOSasckIAehaNdYkMrB","DisplayUrl":"www.bar.ca.gov","DateTime":"2016-12-03T11\u003a14\u003a00Z"},{"Title":"Vehicle
        Test History - bar.ca.gov","Description":"Bureau of Automotive Repair
        Vehicle Test History Page. Skip to Main Content. Statewide search\u003a Search
        this site\u003a This Site California Consumer ...","Url":"http\u003a\u002f\u002fwww.bar.ca.gov\u002fpubwebquery\u002fVehicle\u002fPubTstQry.aspx","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dbar\u0026d\u003d4535581597893201\u0026w\u003duc4Lf[...]
