---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=bar%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B03D78B4C7A845E2A91617ECA881DF2F
      X-Msedge-Clientid:
      - 33004891729D63772786422E730A6286
      X-Msapi-Userstate:
      - 97b6
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1A1DC522A90A4E399472E41E79A41A08&CID=33004891729D63772786422E730A6286&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1A1DC522A90A4E399472E41E79A41A08&CID=33004891729D63772786422E730A6286&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=bar+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5486.1", "totalEstimatedMatches": 15300000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "California Bureau of Automotive Repair - Official Site", "url": "http:\/\/www.bar.ca.gov\/",
        "urlPingSuffix": "DevEx,5088.1", "about": [{"name": "California Bureau of
        Automotive Repair"}], "displayUrl": "www.bar.ca.gov", "snippet": "The Bureau
        of Automotive Repair protects the health and interests of California consumers
        by administering an effective vehicle emissions reduction program and ...",
        "deepLinks": [{"name": "Vehicle Test History", "url": "http:\/\/www.bar.ca.gov\/pubwebquery\/Vehicle\/PubTstQry.aspx",
        "urlPingSuffix": "DevEx,5076.1"}, {"name": "Industry", "url": "http:\/\/www.bar.ca.gov\/Industry\/index.html",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "Verify a License", "url": "http:\/\/www.bar.ca.gov\/Consumer\/Verify_License.html",
        "urlPingSuffix": "DevEx,5078.1"}, {"name": "Forms and Publications", "url":
        "http:\/\/www.bar.ca.gov\/FormsPubs\/index.html", "urlPingSuffix": "DevEx,5079.1"}],
        "dateLastCrawled": "2017-07-10T03:21:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "CA BAR Vehicle Test History - bar.ca.gov", "url": "http:\/\/www.bar.ca.gov\/pubwebquery\/Vehicle\/PubTstQry.aspx",
        "urlPingSuffix": "DevEx,5101.1", "displayUrl": "www.bar.ca.gov\/pubwebquery\/Vehicle\/PubTstQry.aspx",
        "snippet": "Bureau of Automotive Repair Vehicle Test History Page", "dateLastCrawled":
        "2017-07-06T12:28:00.0000000Z"}, {"id": "https:\/\/ww[...]
