---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=bar%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8BC458FE455D447683CA68AFB3A87F65
      X-Msedge-Clientid:
      - 34D2C2367D9662021FF3CE6E7C996334
      X-Msapi-Userstate:
      - f3b8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DFE168AFA36844B9A09D65E77EBC2798&CID=34D2C2367D9662021FF3CE6E7C996334&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DFE168AFA36844B9A09D65E77EBC2798&CID=34D2C2367D9662021FF3CE6E7C996334&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=bar+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5420.1", "totalEstimatedMatches": 26200000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Bureau of Automotive Repair, State of California, Dept. of ...", "url":
        "https:\/\/www.bar.ca.gov\/", "urlPingSuffix": "DevEx,5057.1", "about": [{"name":
        "California Bureau of Automotive Repair"}, {"name": "California Bureau of
        Automotive Repair"}], "displayUrl": "https:\/\/www.bar.ca.gov", "snippet":
        "The Bureau of Automotive Repair serves Californians through effective regulation
        of the automotive repair and Smog Check industry.", "dateLastCrawled": "2018-08-19T13:18:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Find a
        Station\/License Status", "url": "https:\/\/www.bar.ca.gov\/Consumer\/Verify_License.html",
        "urlPingSuffix": "DevEx,5071.1", "displayUrl": "https:\/\/www.bar.ca.gov\/Consumer\/Verify_License.html",
        "snippet": "License Search. Select from the options below to find license
        and discipline information for businesses and individuals licensed by the
 [...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=bar%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1A8B26ECD79444649CDEB754230EF4E0
      Bingapis-Sessionid:
      - CF9ADF142DF04CBF9C8ADC519DB16695
      X-Msedge-Clientid:
      - 2A4BABC3405A620D0036A74141166362
      X-Msapi-Userstate:
      - 5c0f
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=222,MSDatacenter=CO4
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "bar
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=bar+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 23500000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Bureau of Automotive Repair, State of California, Dept. of ...",
        "url": "http:\/\/www.bar.ca.gov\/", "about": [{"name": "California Bureau
        of Automotive Repair"}, {"name": "California Bureau of Automotive Repair"}],
        "isFamilyFriendly": true, "displayUrl": "www.bar.ca.gov", "snippet": "Bureau
        of Automotive Repair home page. This Google translation feature is provided
        for informational purposes only as DCA is unable to guarantee the accuracy
        of this translation.", "dateLastCrawled": "2018-10-04T14:46:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Consumer Assistance Program - Bureau of Automotive Repair ...",
        "url": "https:\/\/www.bar.ca.gov\/Consumer\/Consumer_Assistance_Program\/index.html",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.bar.ca.gov\/Consumer\/Consumer_Assistance_Program\/index.html",
        "snippet": "The Consumer Assistance Program (CAP) is administered by the
        Bureau of Automotiv[...]
