---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(bar)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test&web.count=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028bar\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":8540000,"Offset":0,"Results":[{"Title":"Bureau
        of Automotive Repair, State of California, Dept. of ...","Description":"Bureau
        of Automotive Repair home page ... This Google translation feature is provided
        for informational purposes only as DCA is unable to guarantee the accuracy
        of ...","Url":"http\u003a\u002f\u002fwww.bar.ca.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dbar\u0026d\u003d4667686205915223\u0026w\u003dcrLqPBoW-lNKngOSasckIAehaNdYkMrB","DisplayUrl":"www.bar.ca.gov","DateTime":"2016-12-03T11\u003a14\u003a00Z"},{"Title":"Vehicle
        Test History - bar.ca.gov","Description":"Bureau of Automotive Repair
        Vehicle Test History Page. Skip to Main Content. Statewide search\u003a Search
        this site\u003a This Site California Consumer ...","Url":"http\u003a\u002f\u002fwww.bar.ca.gov\u002fpubwebquery\u002fVehicle\u002fPubTstQry.aspx","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dbar\u0026d\u003d4535581597893201\u0026w\u003duc4Lf[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=bar%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2ADA8BB7413045379EA4A1D72D7DBD9D
      X-Msedge-Clientid:
      - 38A6D218185E630D3335DBE719C962E0
      X-Msapi-Userstate:
      - 56c6
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=24D778CD22E14A33BEB8AA0577A49B5A&CID=38A6D218185E630D3335DBE719C962E0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=24D778CD22E14A33BEB8AA0577A49B5A&CID=38A6D218185E630D3335DBE719C962E0&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=bar+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5493.1", "totalEstimatedMatches": 6820000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "California Bureau of Automotive Repair - Official Site", "url": "http:\/\/www.bar.ca.gov\/",
        "urlPingSuffix": "DevEx,5114.1", "displayUrl": "www.bar.ca.gov", "snippet":
        "Bureau of Automotive Repair home page. Skip to Main Content ; Consumer.
        Consumer Programs; Complaints; Smog Check Help; Vehicle Maintenance and Repair;
        Diesel ...", "deepLinks": [{"name": "Vehicle Test History", "url": "http:\/\/www.bar.ca.gov\/pubwebquery\/Vehicle\/PubTstQry.aspx",
        "urlPingSuffix": "DevEx,5103.1"}, {"name": "STAR Program", "url": "http:\/\/www.bar.ca.gov\/Industry\/STAR_Program\/index.html",
        "urlPingSuffix": "DevEx,5104.1"}, {"name": "Industry", "url": "http:\/\/www.bar.ca.gov\/Industry\/index.html",
        "urlPingSuffix": "DevEx,5105.1"}, {"name": "Verify a License", "url": "http:\/\/www.bar.ca.gov\/Consumer\/Verify_License.html",
        "urlPingSuffix": "DevEx,5106.1"}, {"name": "Station List", "url": "http:\/\/www.bar.ca.gov\/pubwebquery\/station\/stationlist.aspx",
        "urlPingSuffix": "DevEx,5107.1"}], "dateLastCrawled": "2016-12-31T02:53:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "See Vehicle
        Test History - bar.ca.gov", "url": "http:\/\/www.bar.ca.gov\/pubwebquery\/Vehicle\/PubTstQry.aspx",
        "urlPingSuffix": "DevEx,5126.1", "displayUrl": "www.bar.ca.gov\/pubwebquery\/Vehicle\/PubTstQry.aspx",
        "snippet": "Bureau of Automotive Repair Vehicle Test History Page. Skip
        to Main Content. Statewide search: Search this site: This Site Ca[...]
