---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=bar%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8BC458FE455D447683CA68AFB3A87F65
      X-Msedge-Clientid:
      - 34D2C2367D9662021FF3CE6E7C996334
      X-Msapi-Userstate:
      - f3b8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DFE168AFA36844B9A09D65E77EBC2798&CID=34D2C2367D9662021FF3CE6E7C996334&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DFE168AFA36844B9A09D65E77EBC2798&CID=34D2C2367D9662021FF3CE6E7C996334&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=bar+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5420.1", "totalEstimatedMatches": 26200000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Bureau of Automotive Repair, State of California, Dept. of ...", "url":
        "https:\/\/www.bar.ca.gov\/", "urlPingSuffix": "DevEx,5057.1", "about": [{"name":
        "California Bureau of Automotive Repair"}, {"name": "California Bureau of
        Automotive Repair"}], "displayUrl": "https:\/\/www.bar.ca.gov", "snippet":
        "The Bureau of Automotive Repair serves Californians through effective regulation
        of the automotive repair and Smog Check industry.", "dateLastCrawled": "2018-08-19T13:18:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Find a
        Station\/License Status", "url": "https:\/\/www.bar.ca.gov\/Consumer\/Verify_License.html",
        "urlPingSuffix": "DevEx,5071.1", "displayUrl": "https:\/\/www.bar.ca.gov\/Consumer\/Verify_License.html",
        "snippet": "License Search. Select from the options below to find license
        and discipline information for businesses and individuals licensed by the
 [...]
