= render_site_flash_message
= form.error_messages class: 'alert alert-error', header_tag: 'h3'
= form.label :domain, 'Domain', class: 'required'
= form.text_field :domain, class: 'required input-primary'
