!!! 5
%html
  %head
    %title Type-ahead Search Demo - USASearch
  %body
    %iframe{ width: '100%', height: '300px', src:"#{demo_affiliate_type_ahead_search_index_path(@affiliate, :page => 1)}" }
    %iframe{ width: '100%', height: '300px', src:"#{demo_affiliate_type_ahead_search_index_path(@affiliate, :page => 2)}" }
    %iframe{ width: '100%', height: '300px', src:"#{demo_affiliate_type_ahead_search_index_path(@affiliate, :page => 3)}" }

