---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=888&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='nutrition%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 78235147-4e80-4cbd-a3cd-047d9ac55f91
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027nutrition
        (site:usa.gov)\u0027&$skip=888&$top=1","type":"WebResult"},"ID":"acf2ace1-74b8-4c45-aa56-609d4d4cf4a8","Title":"Advisory
        Board Council- Florida SBDC | BusinessUSA","Description":"The Advisory Board
        Council is a next-level, business support service, assisting established Orange
        County businesses by matching them with experienced business ...","DisplayUrl":"origin-business.usa.gov/program/advisory-board-council-florida-sbdc","Url":"http://origin-business.usa.gov/program/advisory-board-council-florida-sbdc"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027nutrition
        (site:usa.gov)\u0027&$skip=889&$top=1","type":"WebResult"},"ID":"54b27b13-29af-480a-aa21-1b773d6d74d3","Title":"Purchase
        of Market Sales Data and Item Rankings ...","Description":"Start a Business
        Access Financing Explore Exp[...]
