---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='casa%20blanca%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 3e9725fc-344d-4404-9c76-d7d40966781e
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027casa
        blanca (site:usa.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"1881d8e5-cf1a-4467-938e-2276ae2c5bfc","Title":"La
        Casa Blanca | GobiernoUSA.gov","Description":"La Casa Blanca. La Casa
        Blanca es el lugar donde vive el Presidente de Estados Unidos durante su
        mandato. El Presidente es el líder de la nación y el Comandante de ...","DisplayUrl":"https://gobierno.usa.gov/agencias-federales/la-casa-blanca","Url":"https://gobierno.usa.gov/agencias-federales/la-casa-blanca"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027casa
        blanca (site:usa.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"5367fca1-0fa6-42fe-8288-019136a96b11","Title":"L
        | Agencias y Departamentos del Gobierno Federal ...","Description":"La Casa
        Blanca; Ley para Estadounidenses con Discapacidad[...]
