---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=ubama%20(site:nonsense.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F90E698BD58B4B599F2A1776F4C5E393
      X-Msedge-Clientid:
      - 0AF54B8B33D3617018E447D332DC6034
      X-Msapi-Userstate:
      - 79ac
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=6FF8DBFEE1364FF7899E676D0F810B0C&CID=0AF54B8B33D3617018E447D332DC6034&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=6FF8DBFEE1364FF7899E676D0F810B0C&CID=0AF54B8B33D3617018E447D332DC6034&Type=Event.CPT&DATA=0"},
        "value": [], "queryExpansions": [{"text": "Michelle Obama", "displayText":
        "Michelle", "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=Michelle+Obama&tq=%7b%22pq%22%3a%22ubama+(site%3anonsense.gov)%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22ubama+(site%3anonsense.gov)%22%2c%22pv%22%3a%22ubama+(site%3anonsense.gov)%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Michelle%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC",
        "webSearchUrlPingSuffix": "DevEx,5066.1", "searchLink": "https:\/\/www.bingapis.com\/api\/v6\/images\/search?q=Michelle+Obama&tq=%7b%22pq%22%3a%22ubama+(site%3anonsense.gov)%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22ubama+(site%3anonsense.gov)%22%2c%22pv%22%3a%22ubama+(site%3anonsense.gov)%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Michelle%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d",
        "thumbnail": {"thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?q=Michelle+Obama&pid=Api&mkt=en-US&adlt=moderate&t=1"}},
        {"text": "Sasha Obama", "displayText": "Sasha", "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=Sasha+Obama&tq=%7b%22pq%22%3a%22ubama+(site%3anonsense.gov)%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22ubama+(site%3anonsense.gov)%22%2c%22pv%22%3a%22ubama+(site%3anonsense.gov)%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Sasha%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%[...]
