---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=ubama%20(site:nonsense.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5A35DEDF09E74F2A870D54BEAC75C74E
      X-Msedge-Clientid:
      - 298952FCF83268A01AA958C5F9A569C1
      X-Msapi-Userstate:
      - 1d71
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=298BFF93A64648BC8780B1BEC7A6410D&CID=298952FCF83268A01AA958C5F9A569C1&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=298BFF93A64648BC8780B1BEC7A6410D&CID=298952FCF83268A01AA958C5F9A569C1&Type=Event.CPT&DATA=0"},
        "value": [], "queryExpansions": [{"text": "Ubama Spells Obama", "displayText":
        "Spells Obama", "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=Ubama+Spells+Obama&tq=%7b%22pq%22%3a%22ubama+(site%3anonsense.gov)%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22ubama%22%2c%22pv%22%3a%22ubama%22%2c%22hps%22%3afalse%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22(site%3anonsense.gov)%22%2c%22pv%22%3a%22(site%3anonsense.gov)%22%2c%22hps%22%3afalse%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Spells+Obama%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC",
        "webSearchUrlPingSuffix": "DevEx,5053.1", "searchLink": "https:\/\/www.bingapis.com\/api\/v6\/images\/search?q=Ubama+Spells+Obama&tq=%7b%22pq%22%3a%22ubama+(site%3anonsense.gov)%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22ubama%22%2c%22pv%22%3a%22ubama%22%2c%22hps%22%3afalse%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22(site%3anonsense.gov)%22%2c%22pv%22%3a%22(site%3anonsense.gov)%22%2c%22hps%22%3afalse%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Spells+Obama%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d",
        "thumbnail": {"thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?q=Ubama+Spells+Obama&pid=Api&mkt=en-US&adlt=moderate&t=1"}},
        {"text": "Ubama Barkc Spoderman", "displayText": "Barkc Spoderman", "webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?q=Ubama+Barkc+Spoderman&tq=%7b%22pq%22%3a%22ubama+(site%3anonsense.gov)%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22ubama%22%2c%22pv%22%3a%22ubama%22%2c%22hps%22%3afalse%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22(site%3anonsense.gov)%22%2c%22pv%22%3a%22(site%3anonsense.gov)[...]
