---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=ubama%20(site:nonsense.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C8C739B59B024A64AA79BF524AACBE5A
      X-Msedge-Clientid:
      - 2A6225CB5F5B6803117E2E4D5EF46939
      X-Msapi-Userstate:
      - be96
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=76ADFFF50EB241D795686DA1D153E672&CID=2A6225CB5F5B6803117E2E4D5EF46939&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=76ADFFF50EB241D795686DA1D153E672&CID=2A6225CB5F5B6803117E2E4D5EF46939&Type=Event.CPT&DATA=0"},
        "value": [], "queryExpansions": [{"text": "Barack Ubama", "displayText": "Barack",
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=Barack+Ubama&tq=%7b%22pq%22%3a%22ubama+(site%3anonsense.gov)%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22ubama%22%2c%22pv%22%3a%22ubama%22%2c%22hps%22%3afalse%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22(site%3anonsense.gov)%22%2c%22pv%22%3a%22(site%3anonsense.gov)%22%2c%22hps%22%3afalse%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Barack%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC",
        "webSearchUrlPingSuffix": "DevEx,5062.1", "searchLink": "https:\/\/www.bingapis.com\/api\/v6\/images\/search?q=Barack+Ubama&tq=%7b%22pq%22%3a%22ubama+(site%3anonsense.gov)%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22ubama%22%2c%22pv%22%3a%22ubama%22%2c%22hps%22%3afalse%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22(site%3anonsense.gov)%22%2c%22pv%22%3a%22(site%3anonsense.gov)%22%2c%22hps%22%3afalse%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Barack%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d",
        "thumbnail": {"thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?q=Barack+Ubama&pid=Api&mkt=en-US&adlt=moderate&t=1"}},
        {"text": "Ubama Barrack", "displayText": "Barrack", "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=Ubama+Barrack&tq=%7b%22pq%22%3a%22ubama+(site%3anonsense.gov)%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22ubama%22%2c%22pv%22%3a%22ubama%22%2c%22hps%22%3afalse%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22(site%3anonsense.gov)%22%2c%22pv%22%3a%22(site%3anonsense.gov)%22%2c%22hps%22%3afalse%2c%22iqp%22%3a[...]
