---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=20&$top&ImageFilters='Aspect:Square'&Market='en-US'&Query='agncy%20(site:nasa.gov)'&Sources='image%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Activityid:
      - 582b27cf-1bd8-49b1-aaf0-e75d34228b9e
    body:
      encoding: UTF-8
      string: 'Parameter: $top was not recognized'
  recorded_at: Wed, 08 Mar 2017 18:58:07 GMT
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/Search/v1/Composite?$format=JSON&$skip=0&$top=10&ImageFilters='Aspect:Square'&Market='en-US'&Query='agncy%20(site:nasa.gov)'&Sources='image%2Bspell'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 3df63d5d-7304-4975-b3bf-a8580bb26ff6
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/Composite?ImageFilters=\u0027Aspect:Square\u0027&Market=\u0027en-US\u0027&Query=\u0027agncy
        (site:nasa.gov)\u0027&Sources=\u0027image+spell\u0027&$skip=0&$top=1","type":"ExpandableSearchResult"},"ID":"de1ab0de-999f-4a05-b3b1-b9d007d9de62","WebTotal":"","WebOffset":"","ImageTotal":"3020","ImageOffset":"0","VideoTotal":"","VideoOffset":"","NewsTotal":"","NewsOffset":"","SpellingSuggestionsTotal":"1","AlteredQuery":"","AlterationOverrideQuery":"","Web":[],"Image":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027de1ab0de-999f-4a05-b3b1-b9d007d9de62\u0027)/Image?$skip=0&$top=1","type":"ImageResult"},"ID":"beaa10af-9333-4b31-9611-35453c62300e","Title":"This
        image of comet 67P/Churyumov-Gerasimenko was obtained on October ...","MediaUrl":"http://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19040_ip.jpg","SourceUrl":"http://www.jpl.nasa.gov/spaceimages/details.php?id=PIA19040","DisplayUrl":"www.jpl.nasa.gov/spaceimages/details.php?id=PIA19040","Width":"600","Height":"600","FileSize":"194431","ContentType":"image/jpeg","Thumbnail":{"__metadata":{"type":"Bing.Thumbnail"},"MediaUrl":"http://ts2.mm.bing.net/th?id=OIP.GvGiNVjUNgwTUhmSAg10ZgEsEs&pid=15.1","ContentType":"image/jpg","Width":"300","Height":"300","FileSize":"14321"}},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/Search/v1/ExpandableSearchResultSet(guid\u0027de1ab0de-999f-4a05-b3b1-b9d007d9de62\u0027)/Image?$skip=1&$top=1","type":"ImageResult"},"ID":"5eddfea9-b153-436f-8672-5776b90df4b9","Title":"...
        of the European Space Agency/NASA[...]
[...]
