.result-meta-grid-wrapper {
  padding: 0.5rem;
}

.result-meta-grid-wrapper:focus {
  outline: .25rem solid #4A77B4;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px #fff;
}

.result-meta-grid-wrapper:hover {
  background-color: #EFF6FB;
  cursor: pointer;
}

.result-meta-grid-wrapper:hover .result-title-label {
  text-decoration: underline;
}

.search-result-item-wrapper {
  margin-top: 1.5rem;
}

.search-result-item {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.result-thumbnail .result-image {
  border: 1px solid #eee;
}

.search-result-image-item .result-thumbnail .result-image {
  height: 150px;
  width: 100%;
}

.search-result-item .published-date {
  color: #565c65;
  font-size: 0.95rem;
  line-height: 19px;
}

.search-result-item .result-title-link {
  text-decoration: none;
  /* font-size: 1.375rem;
  font-weight: 400;
  margin-bottom: 0.35rem;
  margin-top: 0.35rem; */
}

.search-result-item .result-title-label {
  color: #0b4778;
  font-size: 1.375rem;
  font-weight: 400;
  margin-bottom: 0.35rem;
  margin-top: 0.35rem;
}

.search-result-item .result-title-label .result-title-link:visited {
  color: #54278f;
}

.search-result-item .result-desc p {
  color: #1b1b1b;
  font-size: 1rem;
  letter-spacing: 0.25px;
  line-height: 26px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  word-wrap: break-word;
}

.search-result-item .result-desc .result-url-text {
  color: #216E1F;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
}

.filetype-label {
  border: 1px solid #b6b6b6;
  border-radius: 2px;
  color: #71767a;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 300;
  margin-left: 10px;
  margin-top: 4px;
  padding: 1px 8px;
  vertical-align: top;
}

/* Best bet - text/graphics */
.results-best-bets-wrapper {
  margin-top: 2rem;
}

.results-best-bets-wrapper > .grid-row {
  margin-left: 0;
  margin-right: 0;
}

.results-best-bets-wrapper > .grid-row > .grid-col {
  border-radius: 8px;
  padding: 1.5rem 0 1.5rem 0;
}

.results-best-bets-wrapper .search-result-item {
  margin-top: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.results-best-bets-wrapper .search-result-item:nth-child(2) {
  margin-top: 1.75rem;
}

.results-best-bets-wrapper .search-result-item .result-desc .result-url-text {
  color: #216E1F;
}

.best-bets-title {
  color: #565c65;
  font-size: 1rem;
  font-weight: 600;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.text-best-bets {
  background: #eff6fc;
  border-radius: 8px;
  padding: 25px;
}

.graphics-best-bets-title {
  color: #3d4551;
  font-size: 1.15rem;
  line-height: 19px;
}

.graphics-best-bets-link-wrapper {
  margin-top: 0.75rem;
}

.graphics-best-bets-link-wrapper a {
  color: #005ea2;
  text-decoration: none;
}

.search-news-item-wrapper .search-result-item:nth-child(2),
.fed-register-item-wrapper .search-result-item:nth-child(2),
.related-searches-item-wrapper .search-result-item:nth-child(2) {
  margin-top: 1rem;
}

.related-searches-item-wrapper .result-divider {
  margin-top: 2rem;
}

.news-title-wrapper,
.fed-register-wrapper,
.jobs-title-wrapper,
.related-searches-wrapper {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.news-title-wrapper-label,
.fed-register-label,
.jobs-title-wrapper-label,
.related-searches-label {
  color: #565c65;
  font-size: 1.375rem;
  font-weight: 500;
  margin-top: 0;
}

.result-divider .grid-row {
  border-bottom: 1px solid #a9aeb1;
  margin-bottom: 3rem;
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}

.row-mobile-divider {
  border-top: 1px solid #dfe1e2;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  visibility: hidden;
}

.health-topic-wrapper {
  margin-bottom: 2.5rem;
}

.health-topic-wrapper > .grid-row {
  margin-left: 0;
  margin-right: 0;
}

.health-topic-wrapper > .grid-row > .grid-col {
  background: rgb(239, 246, 252);
  border-radius: 8px;
  padding: 0 0 1.5rem 0;
}

.health-topic-wrapper .health-topic-title {
  background: #1a4480;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 1.375rem;
  font-weight: 400;
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  text-decoration: underline;
}

.health-topic-wrapper .health-topic-title a {
  color: #fff;
}

.health-topic-wrapper .health-med-topic-title {
  display: none;
}

.health-topic-wrapper .health-topic-data {
  margin-top: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.health-topic-wrapper .health-topic-desc p {
  color: #1b1b1b;
  font-size: 1rem;
  letter-spacing: 0.25px;
  line-height: 150%;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.health-topic-wrapper .related-topics,
.health-topic-wrapper .clinical-studies {
  color: #565c65;
  font-size: 0.875rem;
  letter-spacing: 0.5px;
  line-height: 150%;
}

.pages-count {
  color: #71767a;
  letter-spacing: 0.5px;
  line-height: normal;
}

.comment-period {
  color: #216E1F;
  line-height: 162%;
  margin-top: 0.5rem;
}

.comment-period-ended {
  color: #71767a;
  line-height: 162%;
  margin-top: 0.5rem;
}

.more-fed-register-link {
  color: #005ea2;
  text-decoration: none;
}

.jobs-logo-wrapper {
  text-align: right;
}

.result-title-label .more-title-link {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.fed-register-item-wrapper .search-result-item .result-desc p {
  color: #1b1b1b;
}

.usa-navbar .usa-footer__logo {
  align-items: center;
}

.filter-tags-wrapper {
  margin-top: 1.15rem;
  margin-bottom: 0.35rem;
}

.filter-tags-wrapper .filter-tag {
  background: #f0f0f0;
  border-radius: 2px;
  font-size: 0.85rem;
  margin-right: 0.5rem;
  padding: 3px 8px;
}

/* Media Queries */
@media (max-width: 767.98px) {
  .search-result-item {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .news-title-wrapper,
  .fed-register-wrapper,
  .jobs-title-wrapper,
  .related-searches-wrapper {
    padding-left: 1rem;
  }

  .jobs-title-wrapper .grid-row {
    flex-direction: column-reverse;
  }

  .jobs-logo-wrapper {
    margin-bottom: 1rem;
    text-align: left;
  }

  .row-mobile-divider {
    visibility: visible;
  }

  .search-item-wrapper
    .search-result-item:nth-last-child(2)
    .row-mobile-divider {
    margin-top: 0.5rem;
    visibility: hidden;
  }

  .search-item-wrapper .result-divider .grid-row {
    margin-bottom: 2rem;
  }
}

@media (min-width: 30em) {
  .graphics-best-bets .result-thumbnail {
    width: 21%;
  }
}

@media (max-width: 767px) {
  .result-meta-grid-wrapper:active {
    outline: 0.25rem solid #2491ff;
  }

  .search-result-item .result-title-link {
    pointer-events: none;
  }
}
