.search-result-item-wrapper{
  margin-top: 2rem;
}

.search-result-item{
  /* margin-top: 3rem; */
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.result-thumbnail .result-image{
  border: 1px solid #eee;
}

.search-result-item .published-date{
  color: #565C65;
  font-size: 0.95rem;
  line-height: 19px;
}

.search-result-item .result-title-link{
  text-decoration: none;
}

.search-result-item .result-title-label{
  color: #1A4480;
  font-size: 1.375rem;
  font-weight: 400;
  margin-bottom: 0.35rem;
  margin-top: 0.35rem;
}

.search-result-item .result-desc p{
  color: #3D4551;
  font-size: 1rem;
  letter-spacing: 0.25px;
  line-height: 26px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.search-result-item .result-desc .result-url-text{
  color: #4D8055;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
}

.filetype-label{
  border: 1px solid #B6B6B6;
  border-radius: 2px;
  color: #71767A;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 300;
  margin-left: 10px;
  margin-top: 4px;
  padding: 1px 8px;
  vertical-align: top;
}

/* Best bet - text/graphics */
.results-best-bets-wrapper{
  margin-top: 2rem;
}

.results-best-bets-wrapper > .grid-row{
  margin-left: 0;
  margin-right: 0;
}

.results-best-bets-wrapper > .grid-row > .grid-col{
  background: rgb(239, 246, 252);
  border-radius: 8px;
  padding: 1.5rem 0 1.5rem 0;
}

.results-best-bets-wrapper .search-result-item{
  margin-top: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.results-best-bets-wrapper .search-result-item:nth-child(2){
  margin-top: 1.75rem;
}

.results-best-bets-wrapper .search-result-item .result-desc .result-url-text{
  color: #565C65;
}

.best-bets-title{
  color: #565C65;
  font-size: 1rem;
  font-weight: 600;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.text-best-bets{
  background: #EFF6FC;
  border-radius: 8px;
  padding: 25px;
}

.results-best-bets-wrapper .graphics-best-bets{
  margin-top: 3.5rem;
}

.graphics-best-bets-title{
  color: #3D4551;
  font-size: 1.15rem;
  line-height: 19px;
}

.graphics-best-bets-link-wrapper{
  margin-top: 0.75rem;
}

.graphics-best-bets-link-wrapper a{
  color: #005EA2;
  text-decoration: none;
}

.video-duration{
  position: absolute;
  right: 0;
  bottom: 0;
  background: black;
  color: #fff;
  padding: 5px 7px 3px 10px;
  margin-right: 0.75rem;
  margin-bottom: 0.5rem;
}

.tri-icon{
  border-style: solid;
  border-width: 7px 0 7px 12px;
  border-color: transparent transparent transparent #fff;
  display: inline-block;
  margin-right: 7px;
}

.search-news-item-wrapper .search-result-item:nth-child(2){
  margin-top: 1rem;
}

.news-title-wrapper,
.fed-register-wrapper{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.news-title-wrapper-label,
.fed-register-label{
  margin-top: 0;
  color: #565C65;
  font-size: 1.375rem;
  font-weight: 500;
}

.result-divider .grid-row.grid-gap-md{
  border-bottom: 1px solid #A9AEB1;
  margin-bottom: 3rem;
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}

.row-mobile-divider{
  visibility: hidden;
  border-top: 1px solid #DFE1E2;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.health-topic-wrapper{
  margin-bottom: 2.5rem;
}

.health-topic-wrapper > .grid-row{
  margin-left: 0;
  margin-right: 0;
}

.health-topic-wrapper > .grid-row > .grid-col{
  background: rgb(239, 246, 252);
  border-radius: 8px;
  padding: 0 0 1.5rem 0;
}

.health-topic-wrapper .health-topic-title{
  background: #1A4480;
  color: #fff;
  font-size: 1.375rem;
  font-weight: 400;
  text-decoration: underline;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.health-topic-wrapper .health-topic-title img{
  margin-left: 0.5rem;
}

.health-topic-wrapper .health-topic-data{
  margin-top: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.health-topic-wrapper .health-topic-desc p{
  color: #1B1B1B;
  font-size: 1rem;
  letter-spacing: 0.25px;
  line-height: 150%;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.health-topic-wrapper .related-topics,
.health-topic-wrapper .clinical-studies{
  font-size: 0.875rem;
  letter-spacing: 0.5px;
  color: #565C65;
  line-height: 150%;
}

.pages-count{
  color: #71767A;
  line-height: normal;
  letter-spacing: 0.5px;
}

.comment-period{
  color: #446443;
  line-height: 162%;
  margin-top: 0.5rem;
}

.comment-period-ended{
  color: #71767A;
  line-height: 162%;
  margin-top: 0.5rem;
}

.more-fed-register-link{
  color: #1A4480;
  text-decoration: none;
}

/* Media Queries */
@media (max-width: 767.98px) {
  .search-result-item{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .news-title-wrapper,
  .fed-register-wrapper{
    padding-left: 1rem;
  }

  .row-mobile-divider{
    visibility: visible;
  }

  .search-item-wrapper .search-result-item:nth-last-child(2) .row-mobile-divider{
    visibility: hidden;
    margin-top: 0.5rem;
  }

  .search-item-wrapper .result-divider .grid-row.grid-gap-md{
    margin-bottom: 2rem;
  }
}
