.search-result-item {
    margin-top: 2rem;
    margin-bottom: 3.5rem;
}

.result-thumbnail .result-image{
  border: 1px solid #eee;
}

.search-result-item .published-date{
  color: #979797;
  font-size: 0.95rem;
  line-height: 19px;
}

.search-result-item .result-title a{
  text-decoration: none;
}

.search-result-item .result-title h2{
  color: #1A4480;
  font-size: 1.375rem;
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;
  font-weight: 400;
}

.search-result-item .result-desc p{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #3D4551;
  line-height: 26px;
  letter-spacing: 0.25px;
}

.search-result-item .result-desc .result-url-text{
  color: #4D8055;
}

.text-best-bet{
  padding: 25px;
  border-radius: 8px;
  background: #EFF6FC;
}

