---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_es&q=casa%20blanca%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"W18CoImQKYKeZ22usPfNI43IHMc/FyUJxuz7clhtDr7McXtl7WlJYYI"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - casa blanca site:usa.gov",
            "totalResults": "170",
            "searchTerms": "casa blanca site:usa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_es",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - casa blanca site:usa.gov",
            "totalResults": "170",
            "searchTerms": "casa blanca site:usa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_es",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.355044,
          "formattedSearchTime": "0.36",
          "totalResults": "170",
          "formattedTotalResults": "170"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "La Casa Blanca | USAGov",
           "htmlTitle": "La \u003cb\u003eCasa Blanca\u003c/b\u003e | USAGov",
           "link": "https://gobierno.usa.gov/agencias-federales/la-casa-blanca",
           "displayLink": "gobierno.usa.gov",
           "snippet": "La Casa Blanca es el lugar donde vive el Presidente de Estados Unidos durante \nsu mandato. El Presidente es el líder de la nación y el Comandante de las \nFuerzas Militares. Como tal, recibe apoyo del Vicepresidente y el Gabinete. El \nPresidente tiene la capacidad de vetar los proyectos de ley aprobados por el \nCongreso.",
           "htmlSnippet": "La \u003cb\u003eCasa Blanca\u003c/b\u003e es el lugar donde vive el Presidente de Estados Unidos durante \u003cbr\u003e\nsu mandato. El Presidente es el líder de la nación y el Comandante de las \u003cbr\u003e\nFuerzas Militares. Como tal, recibe apoyo del Vicepresidente y el Gabinete. El \u003cbr\u003e\nPresidente tiene la capacidad de vetar los proyectos de ley aprobados por el \u003cbr\u003e\nCongreso.",
           "cacheId": "rHADUI3nEZkJ",
           "formattedUrl": "https://gobierno.usa.gov/agencias-federales/la-casa-blanca",
           "htmlFormattedUrl": "https://gobierno.usa.gov/agencias-federales/la-\u003cb\u003ecasa\u003c/b\u003e-\u003cb\u003eblanca\u003c/b\u003e",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "310",
              "height": "163",
              "src": "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQd-pTbY8nWVWtJ8WXAlOmMp7fMJSQg6HTfS-TPbFv4u05NGxliyz2ZzSTv"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1.0",
              "og:url": "https://gobierno.usa.gov/agencias-federales/la-casa-blanca",
              "og:type": "website",
              "og:title": "La Casa Blanca | USAGov",
              "og:image": "https://gobierno.usa.gov/sites/all/themes/usa/images/Logo_GobiernoUSA_fb.png",
              "og:image:height": "630",
              "og:image:width": "1200"
             }
            ],
            "hcard": [
             {
              "name": "Contacto:"
             },
             {
              "name": "Dirección:"
             },
             {
              "name": "Teléfono:"
             },
             {
              "name": "TTY:"
             },
             {
              "name": "Agencia en inglés:"
             }
            ],
            "breadcrumb": [
             {
              "url": "Agencias del Gobierno",
              "title": "Agencias del Gobierno"
             },
             {
              "title": "Agencias federales"
             }
            ],
            "cse_image": [
             {
              "src": "https://gobierno.usa.gov/sites/all/themes/usa/images/Logo_GobiernoUSA_fb.png"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Proclamación Presidencial -- Mes de la Herencia Hispana, 2016 ...",
           "htmlTitle": "Proclamación Presidencial -- Mes de la Herencia Hispana, 2016 ...",
           "link": "https://go.usa.gov/xKbqz",
           "displayLink": "go.usa.gov",
    [...]
