---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=my_cx&key=my_api_key&lr=lang_en&q=ira%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "usageLimits",
            "reason": "keyInvalid",
            "message": "Bad Request"
           }
          ],
          "code": 400,
          "message": "Bad Request"
         }
        }
  recorded_at: Fri, 10 Jun 2016 21:20:27 GMT
recorded_with: VCR 3.0.3
