---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=electro%20coagulation%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/FSegYm1Bi2EXc4lnMm3noXtQxRs"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - electro coagulation site:usa.gov",
            "totalResults": "7",
            "searchTerms": "electro coagulation site:usa.gov",
            "count": 7,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.129539,
          "formattedSearchTime": "0.13",
          "totalResults": "7",
          "formattedTotalResults": "7"
         },
         "spelling": {
          "correctedQuery": "electrocoagulation site:usa.gov",
          "htmlCorrectedQuery": "\u003cb\u003e\u003ci\u003eelectrocoagulation\u003c/i\u003e\u003c/b\u003e site:usa.gov"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Esophageal Cancer Treatment (PDQ®)—Patient Version - National ...",
           "htmlTitle": "Esophageal Cancer Treatment (PDQ®)—Patient Version - National ...",
           "link": "http://1.usa.gov/11Wqk3m",
           "displayLink": "1.usa.gov",
           "snippet": "Jul 19, 2016 ... Surgery; Radiation therapy; Chemotherapy; Chemoradiation therapy; Laser \ntherapy; Electrocoagulation. New types of treatment are being ...",
           "htmlSnippet": "Jul 19, 2016 \u003cb\u003e...\u003c/b\u003e Surgery; Radiation therapy; Chemotherapy; Chemoradiation therapy; Laser \u003cbr\u003e\ntherapy; \u003cb\u003eElectrocoagulation\u003c/b\u003e. New types of treatment are being&nbsp;...",
           "cacheId": "U4ENvs7WbFkJ",
           "formattedUrl": "1.usa.gov/11Wqk3m",
           "htmlFormattedUrl": "1.usa.gov/11Wqk3m",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "192",
              "height": "262",
              "src": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4FZ8aIe_VFhpYjySOuZrWbfYGzHkUxNfpfPWv10pnrTS9jCTpp42jcXY3"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, shrink-to-fit=no",
              "apple-mobile-web-app-title": "Cancer.gov",
              "application-name": "Cancer.gov",
              "msapplication-config": "/publishedcontent/images/images/design-elements/icons/favicons/browserconfig.xml?v=oLa52veKe8",
              "theme-color": "#ffffff",
              "content-language": "en",
              "english-linking-policy": "/policies/linking",
              "espanol-linking-policy": "/espanol/politicas/enlaces",
              "dcterms.type": "pdqCancerInfoSummary",
              "og:title": "Esophageal Cancer Treatment",
              "og:description": "Expert-reviewed information summary about the treatment of esophageal cancer.",
              "og:type": "Website",
              "og:site_name": "National Cancer Institute",
              "og:url": "https://www.cancer.gov/types/esophageal/patient/esophageal-treatment-pdq",
              "og:image": "https://www.cancer.gov",
              "twitter:card": "summary"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.cancer.gov/images/cdr/live/CDR428446-750.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Home | Blood Disorders | NCBDDD | CDC",
           "htmlTitle": "Home | Blood Disorders | NCBDDD | CDC",
           "link": "http://1.usa.gov/1iyMIR6",
           "displayLink": "1.usa.gov",
           "snippet": "Jun 6, 2017 ... The Centers for Disease Control and Prevention (CDC) is working toward \ndeveloping a comprehensive public health agenda to promote and ...",
           "htmlSnippet": "Jun 6, 2017 \u003cb\u003e...\u003c/b\u003e The Centers for Disease Control and Prevention (CDC) is working toward \u003cbr\u003e\ndeveloping a comprehensive public health agenda to promote and&nbsp;...",
           "cacheId": "K8ywXwzwv2EJ",
           "formattedUrl": "1.usa.gov/1iyMIR6",
           "htmlFormattedUrl": "1.usa.gov/1iyMIR6",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "414",
              "height": "122",
              "src": "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRtRnHmXheJEerHE8JNm724ZqirhKE61oU_6UtCVITKuZ_ngltnXcLijQ"
             }
            ],
            "organization": [
             {
              "url": "Division of Blood Disorders, National Center on Birth Defects and Developmental Disabilities, Centers for Disease Control and Prevention"
             },
             {
              "telephone": "800-CDC-INFO (800-232-4636)"
             }
            ],
            "postaladdress": [
             {
              "streetaddress": "1600 Clifton Road",
              "addresslocality": "Atlanta",
              "addressregion": "GA",
              "postalcode": "30329-4027",
              "addresscountry": "USA"
             }
            ],
            "contactpoint": [
             {
              "url": "Email CDC-INFO"
             },
             {
              "url": "U.S. Department of Health & Human Services"
             },
             {
              "url": "HHS/Open"
             },
             {
              "url": "USA.gov"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1",
              "cdc:template_version": "3.0",
              "cdc:content_id": "25669",
              "cdc:wcms_build": "4.2.1 - b.16",
              "application-name": "CDC.gov",
              "msapplication-tilecolor": "#0061aa",
              "msapplication-square70x70logo": "/TemplatePackage/3.0/images/Win8_tile_70x70.png",
              "msapplication-square150x150logo": "/TemplatePackage/3.0/images/Win8_tile_150x150.png",
              "msapplication-wide310x150logo": "/TemplatePackage/3.0/images/Win8_tile_310x150.png",
              "msapplication-square310x310logo": "/TemplatePackage/3.0/images/Win8_tile_310x310.png",
              "og:title": "National Center on Birth Defects and Developmental Disabilities (NCBDDD) | CDC",
              "og:type": "article",
              "og:url": "https://www.cdc.gov/ncbddd/index.html",
              "og:image": "https://www.cdc.gov/ncbddd/spinabifida/features/images/feature-babies-spina-bifida-1185px.jpg",
              "og:description": "The mission of CDC’s National Center on Birth Defects and Developmental Disabilities (NCBDDD) is to save babies by studying and addressing the causes of birth defects; help children reach their potential by understanding developmental disabilities; reduce complications of blood disorders; and improve the health of people living with disabilities.",
              "og:site_name": "National Center on Birth Defects and Developmental Disabilities Home | NCBDDD | CDC"
             }
            ],
            "webpage": [
             {
              "lastreviewed": "June 6, 2017",
              "datemodified": "June 6, 2017"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.cdc.gov/ncbddd/spinabifida/features/images/feature-babies-spina-bifida-1185px.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Esophageal Cancer Treatment (PDQ®)—Health Professional ...",
           "htmlTitle": "Esophageal Cancer Treatment (PDQ®)—Health Professional ...",
           "link":[...]
