---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=005675969675701682971:usi2bmqvnp8&key=***REMOVED***&lr=lang_en&q=ira%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/QSxZp6lWmevuj9FczxJg6z13K-c"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - ira site:usa.gov",
            "totalResults": "1070",
            "searchTerms": "ira site:usa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - ira site:usa.gov",
            "totalResults": "1070",
            "searchTerms": "ira site:usa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "005675969675701682971:usi2bmqvnp8"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search"
         },
         "searchInformation": {
          "searchTime": 0.357671,
          "formattedSearchTime": "0.36",
          "totalResults": "1070",
          "formattedTotalResults": "1,070"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Individual Retirement Arrangements (IRAs)",
           "htmlTitle": "Individual Retirement Arrangements (\u003cb\u003eIRAs\u003c/b\u003e)",
           "link": "http://go.usa.gov/3C2zG",
           "displayLink": "go.usa.gov",
           "snippet": "Aug 25, 2016 ... Learn about saving for retirement using Traditional and Roth IRAs. ... How much \nof your IRA contributions can you deduct on your taxes?",
           "htmlSnippet": "Aug 25, 2016 \u003cb\u003e...\u003c/b\u003e Learn about saving for retirement using Traditional and Roth \u003cb\u003eIRAs\u003c/b\u003e. ... How much \u003cbr\u003e\nof your \u003cb\u003eIRA\u003c/b\u003e contributions can you deduct on your taxes?",
           "cacheId": "5Mb1U_YPpYkJ",
           "formattedUrl": "go.usa.gov/3C2zG",
           "htmlFormattedUrl": "go.usa.gov/3C2zG",
           "pagemap": {
            "metatags": [
             {
              "newurl": "https://www.irs.gov/retirement-plans/individual-retirement-arrangements-iras-1",
              "oldurl": "https://www.irs.gov/Retirement-Plans/Individual-Retirement-Arrangements-IRAs-1",
              "content-type": "Standard",
              "irsstandard-type": "st_other",
              "language": "en",
              "modified": "2016-08-25",
              "uniqueid": "226255"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Retirement Topics - IRA Contribution Limits",
           "htmlTitle": "Retirement Topics - \u003cb\u003eIRA\u003c/b\u003e Contribution Limits",
           "link": "http://go.usa.gov/zMpV",
           "displayLink": "go.usa.gov",
           "snippet": "Your traditional IRA contributions may be tax-deductible. The deduction may be \nlimited if you or your spouse is covered by a retirement plan at work and your ...",
           "htmlSnippet": "Your traditional \u003cb\u003eIRA\u003c/b\u003e contributions may be tax-deductible. The deduction may be \u003cbr\u003e\nlimited if you or your spouse is covered by a retirement plan at work and your&nbsp;...",
           "cacheId": "p4r4UaBEpI0J",
           "formattedUrl": "go.usa.gov/zMpV",
           "htmlFormattedUrl": "go.usa.gov/zMpV",
           "pagemap": {
            "metatags": [
             {
              "newurl": "https://www.irs.gov/retirement-plans/plan-participant-employee/retirement-topics-ira-contribution-limits",
              "oldurl": "https://www.irs.gov/Retirement-Plans/Plan-Participant,-Employee/Retirement-Topics-IRA-Contribution-Limits",
              "audience": "a_plan_sponsor_employer,a_retirement_plans_community,a_benefits_practitioner,a_plan_participant_employee",
              "content-type": "Standard",
              "irsstandard-type": "st_other",
              "language": "en",
              "modified": "2016-11-21",
              "uniqueid": "211358"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "IRA Deduction Limits",
           "htmlTitle": "\u003cb\u003eIRA\u[...]
