---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=***REMOVED***&key=***REMOVED***&lr=lang_en&q=electro%20coagulation%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5Zlg0hddrJE62d4cVfAnWQWbWFk/WY-Va2BiGvqr-a9dHy36UJ51ytQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - electro coagulation site:usa.gov",
            "totalResults": "24",
            "searchTerms": "electro coagulation site:usa.gov",
            "count": 10,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - electro coagulation site:usa.gov",
            "totalResults": "24",
            "searchTerms": "electro coagulation site:usa.gov",
            "count": 10,
            "startIndex": 11,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "***REMOVED***"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.383485,
          "formattedSearchTime": "0.38",
          "totalResults": "24",
          "formattedTotalResults": "24"
         },
         "spelling": {
          "correctedQuery": "electrocoagulation site:usa.gov",
          "htmlCorrectedQuery": "\u003cb\u003e\u003ci\u003eelectrocoagulation\u003c/i\u003e\u003c/b\u003e site:usa.gov"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Fatal colonic explosion during colonoscopic polypectomy.",
           "htmlTitle": "Fatal colonic explosion during colonoscopic polypectomy.",
           "link": "http://1.usa.gov/P9604S",
           "displayLink": "1.usa.gov",
           "snippet": "Aged; Colon/injuries*; Colonic Neoplasms/surgery*; Electrocoagulation/adverse \neffects*; Explosions*; Gases; Humans; Intestinal Polyps/surgery*; Intraoperative ...",
           "htmlSnippet": "Aged; Colon/injuries*; Colonic Neoplasms/surgery*; \u003cb\u003eElectrocoagulation\u003c/b\u003e/adverse \u003cbr\u003e\neffects*; Explosions*; Gases; Humans; Intestinal Polyps/surgery*; Intraoperative&nbsp;...",
           "formattedUrl": "1.usa.gov/P9604S",
           "htmlFormattedUrl": "1.usa.gov/P9604S",
           "pagemap": {
            "metatags": [
             {
              "citation_title": "Fatal colonic explosion during colonoscopic polypectomy.",
              "citation_authors": "Bigard MA; Gaucher P; Lassalle C",
              "citation_date": "12/1979",
              "citation_publisher": "Gastroenterology",
              "citation_journal_title": "Gastroenterology",
              "citation_pmid": "499716",
              "citation_abstract_html_url": "http://www.ncbi.nlm.nih.gov/pubmed/499716",
              "citation_volume": "77",
              "citation_issue": "6",
              "citation_firstpage": "1307",
              "citation_issn": "0016-5085"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Esophageal Cancer Treatment (PDQ®)—Patient Version - National ...",
           "htmlTitle": "Esophageal Cancer Treatment (PDQ®)—Patient Version - National ...",
           "link": "http://1.usa.gov/11Wqk3m",
           "displayLink": "1.usa.gov",
           "snippet": "Jul 19, 2016 ... Surgery; Radiation therapy; Chemotherapy; Chemoradiation therapy; Laser \ntherapy; Electrocoagulation. New types of treatment are being ...",
           "htmlSnippet": "Jul 19, 2016 \u003cb\u003e...\u003c/b\u003e Surgery; Radiation therapy; Chemotherapy; Chemoradiation therapy; Laser \u003cbr\u003e\ntherapy; \u003cb\u003eElectrocoagulation\u003c/b\u003e. New types of treatment are being&nbsp;...",
           "cacheId": "U4ENvs7WbFkJ",
           "formattedUrl": "1.usa.gov/11Wqk3m",
           "htmlFormattedUrl": "1.usa.gov/11Wqk3m",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "192",
              "height": "262",
              "src": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4FZ8aIe_VFhpYjySOuZrWbfYGzHkUxNfpfPWv10pnrTS9jCTpp42jcXY3"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, shrink-to-fit=no",
              "apple-mobile-web-app-title": "Cancer.gov",
              "application-name": "Cancer.gov",
              "msapplication-config": "/publishedcontent/images/images/design-elements/icons/favicons/browserconfig.xml?v=oLa52veKe8",
              "theme-color": "#ffffff",
              "content-language": "en",
              "english-linking-policy": "/policies/linking",
              "espanol-linking-policy": "/espanol/politicas/enlaces",
              "dcterms.type": "pdqCancerInfoSummary",
              "og:title": "Esophageal Cancer Treatment",
              "og:description": "Expert-reviewed information summary about the treatment of esophageal cancer.",
              "og:type": "Website",
              "og:site_name": "National Cancer Institute",
              "og:url": "https://www.cancer.gov/types/esophageal/patient/esophageal-treatment-pdq",
              "og:image": "https://www.cancer.gov",
              "twitter:card": "summary"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.cancer.gov/images/cdr/live/CDR428446-750.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "The pathology of visible blood vessels on the nasal septum in ...",
           "htmlTitle": "The pathology of visible blood vessels on the nasal septum in ...",
           "link": "http://1.usa.gov/mC6eyA",
           "displayLink": "1.usa.gov",
           "snippet": "Jun[...]
