---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=<GOOGLE_SEARCH_CX>&key=<GOOGLE_API_KEY>&lr=lang_en&q=electro%20coagulation%20site:usa.gov&quotaUser=USASearch&safe=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"W18CoImQKYKeZ22usPfNI43IHMc/gC80lNqinHjrVBXOs1Ksag9H42c"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - electro coagulation site:usa.gov",
            "totalResults": "6",
            "searchTerms": "electro coagulation site:usa.gov",
            "count": 6,
            "startIndex": 1,
            "language": "lang_en",
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "medium",
            "cx": "<GOOGLE_SEARCH_CX>"
           }
          ]
         },
         "context": {
          "title": "DigitalGov Search 2017"
         },
         "searchInformation": {
          "searchTime": 0.208113,
          "formattedSearchTime": "0.21",
          "totalResults": "6",
          "formattedTotalResults": "6"
         },
         "spelling": {
          "correctedQuery": "electrocoagulation site:usa.gov",
          "htmlCorrectedQuery": "\u003cb\u003e\u003ci\u003eelectrocoagulation\u003c/i\u003e\u003c/b\u003e site:usa.gov"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Esophageal Cancer Treatment (PDQ®)—Patient Version - National ...",
           "htmlTitle": "Esophageal Cancer Treatment (PDQ®)—Patient Version - National ...",
           "link": "http://1.usa.gov/11Wqk3m",
           "displayLink": "1.usa.gov",
           "snippet": "Dec 7, 2017 ... Surgery; Radiation therapy; Chemotherapy; Chemoradiation therapy; Laser \ntherapy; Electrocoagulation. New types of treatment are being tested in clinical \ntrials. Targeted therapy. Treatment for esophageal cancer may cause side effects. \nPatients may want to think about taking part in a clinical trial. Patients ...",
           "htmlSnippet": "Dec 7, 2017 \u003cb\u003e...\u003c/b\u003e Surgery; Radiation therapy; Chemotherapy; Chemoradiation therapy; Laser \u003cbr\u003e\ntherapy; \u003cb\u003eElectrocoagulation\u003c/b\u003e. New types of treatment are being tested in clinical \u003cbr\u003e\ntrials. Targeted therapy. Treatment for esophageal cancer may cause side effects. \u003cbr\u003e\nPatients may want to think about taking part in a clinical trial. Patients&nbsp;...",
           "cacheId": "U4ENvs7WbFkJ",
           "formattedUrl": "1.usa.gov/11Wqk3m",
           "htmlFormattedUrl": "1.usa.gov/11Wqk3m",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "192",
              "height": "262",
              "src": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4FZ8aIe_VFhpYjySOuZrWbfYGzHkUxNfpfPWv10pnrTS9jCTpp42jcXY3"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, shrink-to-fit=no",
              "apple-mobile-web-app-title": "Cancer.gov",
              "application-name": "Cancer.gov",
              "msapplication-config": "/publishedcontent/images/images/design-elements/icons/favicons/browserconfig.xml?v=oLa52veKe8",
              "theme-color": "#ffffff",
              "content-language": "en",
              "english-linking-policy": "/policies/linking",
              "espanol-linking-policy": "/espanol/politicas/enlaces",
              "dcterms.type": "pdqCancerInfoSummary",
              "og:title": "Esophageal Cancer Treatment",
              "og:description": "Expert-reviewed information summary about the treatment of esophageal cancer.",
              "og:type": "Website",
              "og:site_name": "National Cancer Institute",
              "og:url": "https://www.cancer.gov/types/esophageal/patient/esophageal-treatment-pdq",
              "twitter:card": "summary"
             }
            ],
            "cse_image": [
             {
              "src": "https://www.cancer.gov/images/cdr/live/CDR428446-750.jpg"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Import Alert 89-08",
           "htmlTitle": "Import Alert 89-08",
           "link": "http://1.usa.gov/ZBU1iV",
           "displayLink": "1.usa.gov",
           "snippet": "NOTE: The revision of this Import Alert dated 09/28/2017, Updates the  \nGuidance  section. Changes are bracketed by asterisks (***). Note: Foreign firms \npreviously subject to detention without physical examination under Import Alert #\n73-03 are now listed on this alert. FDA believes these devices are Class 3 and \nneed a ...",
           "htmlSnippet": "NOTE: The revision of this Import Alert dated 09/28/2017, Updates the  \u003cbr\u003e\nGuidance  section. Changes are bracketed by asterisks (***). Note: Foreign firms \u003cbr\u003e\npreviously subject to detention without physical examination under Import Alert #\u003cbr\u003e\n73-03 are now listed on this alert. FDA believes these devices are Class 3 and \u003cbr\u003e\nneed a&nbsp;...",
           "formattedUrl": "1.usa.gov/ZBU1iV",
           "htmlFormattedUrl": "1.usa.gov/ZBU1iV",
           "pagemap": {
            "metatags": [
             {
              "dc.title": "Import Alert 89-08",
              "viewport": "width=device-width, initial-scale=1.0",
              "apple-mobile-web-app-title": "FDA",
              "apple-mobile-web-app-capable": "yes"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "PRAXBIND (idarucizumab) injection, for intravenous use",
           "htmlTitle": "PRAXBIND (idarucizumab) injection, for intravenous use",
           "link": "http://1.usa.gov/1QL4TG7",
           "displayLink": "1.usa.gov",
           "snippet": "coagulation parameters and reappearance of clinically relevant bleeding ... This \nindication is approved under accelerated approval based on a reduction in \nunbound dabigatran and normalization of coagulation parameters in healthy .... \nUsing an electro-chemiluminescence (ECL) based assay, plasma samples from \n283.",
           "htmlSnippet": "\u003cb\u003ecoagulation\u003c/b\u003e parameters and reappearance of clinically relevant bleeding ... This \u003cbr\u003e\nindication is approved under accelerated approval based on a reduction in \u003cbr\u003e\nunbound dabigatran and normalization of \u003cb\u003ecoagulation\u003c/b\u003e parameters in healthy .... \u003cbr\u003e\nUsing an \u003cb\u003eelectro\u003c/b\u003e-chemiluminescence (ECL) based assay, plasma samples from \u003cbr\u003e\n283.",
           "cacheId": "LC7egxIRtAQJ",
           "mime": "application/pdf",
           "fileFormat": "PDF/Adobe Acrobat",
           "formattedUrl": "1.usa.gov/1QL4TG7",
           "htmlFormattedUrl": "1.usa.gov/1QL4TG7",
           "pagemap": {
            "metatags": [
             {
              "author": "FDA",
              "creationdate": "D:20151016131421-04'00'",
              "moddate": "D:20151016131644-04'00'",
              "producer": "iText 2.1.7 by 1T3XT",
              "title": "PRAXBIND (idarucizumab) injection, for intravenous use"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Anogenital Warts - 2015 STD Treatment Guidelines",
           "htmlTitle": "Anogenital Warts - 2015 STD Treatment Guidelines",
           "link": "https://go.usa.gov/xZWnR",
           "displayLink": "go.usa.gov",
           "snippet": "Jun 4, 2015 ... ... ventilation (e.g., a smoke evacuator) (777(https://www.cdc.gov/std/tg2015/\nreferences.htm#777)) (https://www.cdc.gov/niosh/docs/hazardcontrol/hc11.html). \nTrichloroacetic acid (TCA) and bichloroacetic acid (BCA) are provider-applied \ncaustic agents that destroy warts by chemical coagulation of proteins.",
           "htmlSnippet": "Jun 4, 2015 \u003cb\u003e...\u003c/b\u003e ... ventilation (e.g., a smoke evacuator) (777(https://www.cdc.gov/std/tg2015/\u003cbr\u003e\nreferences.htm#777)) (https://www.cdc.gov/niosh/docs/hazardcontrol/hc11.html). \u003cbr\u003e\nTrichloroacetic acid (TCA) and bichloroacetic acid (BCA) are provider-applied \u003cbr\u003e\ncaustic agents that destroy warts by chemical \u003cb\u003ecoagulation\u003c/b\u003e of proteins.",
           "cacheId": "ZlfPX39DKPEJ",
           "formattedUrl": "https://go.usa.gov/xZWnR",
           "htmlFormattedUrl": "https://go.usa.gov/xZWnR",
           "pagemap": {
            "postaladdress": [
             {
              "streetaddress": "1600 Clifton Road",
              "addresslocality": "Atlanta",
              "addressregion": "GA",
              "postalcode": "30329-4027",
              "addresscountry": "USA"
             }
            ],
            "contactpoint": [
             {
              "url": "Email CDC-INFO"
             },
             {
              "url": "U.S. Department of Health & Human Services"
             },
             {
              "url": "HHS/Open"
             },
             {
              "url": "USA.gov"
             }
            ],
            "metatags": [
             {
              "viewport": "width=device-width, initial-scale=1",
              "cdc:template_version": "3.0",
              "cdc:content-id": "710499",
              "cdc:revision-id": "2",
              "application-name": "CDC.gov",
              "msapplication-tilecolor": "#0061aa",
              "msapplication-square70x70logo": "/TemplatePackage/3.0/images/Win8_tile_70x70.png",
              "msapplication-square150x150logo": "/TemplatePackage/3.0/images/Win8_tile_150x150.png",
              "msapplication-wide310x150logo": "/TemplatePackage/3.0/images/Win8_tile_310x150.png",
              "msapplication-square310x310logo": "/TemplatePackage/3.0/images/Win8_tile_310x310.png"
             }
            ],
            "organization": [
             {
              "url": "Division of STD Prevention"
             },
             {
              "telephone": "800-CDC-INFO (800-232-4636)"
             }
            ],
            "webpage": [
             {
              "lastreviewed": "June 4, 2015",
              "datemodified": "June 4, 2015"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Esophageal Cancer Treatment (PDQ®)—Health Professional ...",
           "htmlTitle": "Esophageal Cancer Treatment (PDQ®)—Health Professional ...",
           "link": "http://1.usa.gov/UgWNer",
           "displayLink": "1.usa.gov",
           "snippet": "Feb 6, 2018 ... Nd:YAG endoluminal tumor destruction or electrocoagulation. Endoscopic-\nplaced ste[...]
