* html .active-scaffold-header, .active-scaffold li.form-element, .active-scaffold li.sub-section {
  zoom: 1;
}

* html .active-scaffold td .messages-container {
  border-top: 1px solid #daffcd;
}

* html .active-scaffold-header div.actions a.show_search {
  filter: progid:DXImageTransform. Microsoft. AlphaImageLoader(src= "/assets/active_scaffold/magnifier-475a6335fb52c21b5fa732518e89408f4277779bf5b015391358b047602b8aff.png", sizingMethod= "crop");
  background-image: none;
}

* html .active-scaffold .sub-form .association-record a.destroy {
  filter: progid:DXImageTransform. Microsoft. AlphaImageLoader(src= "/assets/active_scaffold/cross-d04ecfc93ff86c44f6fc39e35945e3d8a7648ba8fcd97a2635920df2e88893b3.png", sizingMethod= "crop");
  background-image: none;
}

* html .active-scaffold-header div.actions a.new, * html .active-scaffold-header div.actions a.new_existing {
  filter: progid:DXImageTransform. Microsoft. AlphaImageLoader(src= "/assets/active_scaffold/add-e1facc6f96a51e281f4fdfcdc0a648a6ff84cb2526523459343d8a4f6196a1da.png", sizingMethod= "crop");
  background-image: none;
}

* html .active-scaffold-header th.asc a, * html .active-scaffold-header th.asc a:hover {
  filter: progid:DXImageTransform. Microsoft. AlphaImageLoader(src= "/assets/active_scaffold/arrow_up-902b6a3d1d4f9fd06547827d4150786308b8560a83ee5dbdc9c344e615044dfe.png", sizingMethod= "crop");
  background-image: none;
}

* html .active-scaffold-header th.desc a, * html .active-scaffold-header th.desc a:hover {
  filter: progid:DXImageTransform. Microsoft. AlphaImageLoader(src= "/assets/active_scaffold/arrow_down-a0bdbd02cb50bef676c06220a05f4cecd0fa7708ce1abfc9387536dfc36a1d74.png", sizingMethod= "crop");
  background-image: none;
}

* html .active-scaffold-header a.inline-adapter-close {
  filter: progid:DXImageTransform. Microsoft. AlphaImageLoader(src= "/assets/active_scaffold/close-37f05b17a34211c668917ca9b4c6990995e3339f84b99942432fc4139038c06e.png", sizingMethod= "crop");
  background-image: none;
}

.active-scaffold-header div.actions a.disabled {
  filter: alpha(opacity= 50);
}

.active-scaffold .show-view dd, .active-scaffold li.form-element dd {
  float: none;
}

.active-scaffold li.form-element dt {
  padding: 4px 0;
}

.as-slider.ui-state-disabled {
  filter: alpha(Opacity= 100);
}

.active-scaffold-header div.actions a.export {
  filter: progid:DXImageTransform. Microsoft. AlphaImageLoader(src= "../images/active_scaffold/default/export.png", sizingMethod= "crop");
  background-image: none;
}
