/*
 *= require legacy_sass/main
 *= require legacy_sass/new_main
 *= require legacy_sass/system_warnings
 *= require active_scaffold
 *= require legacy_sass/active_scaffold_overrides
 *= require admin/multi-select
 */

script {
  /*
   * https://jquery.com/upgrade-guide/3.0/#effects
   * .show() in jQuery3 causes script tag to be shown
  */
  display: none !important;
}
