.health-topic-wrapper .health-med-topic-image {
  background-color: transparent;
  background-position: right center;
  background-repeat: no-repeat;
  height: 16px;
  margin-left: 5px;
  position: absolute;
  top: 17px;
  width: 16px;
}

.health-topic-wrapper .logo-es .health-med-topic-image {
  background-image: image-url('legacy/medline.es.png');
}

.health-topic-wrapper .logo-en .health-med-topic-image {
  background-image: image-url('legacy/medline.en.png');
}
