.fa {
  display: inline-block;
};

.fa-calendar-black {
  padding: 2px;
  background-clip: padding-box;
}

.fa-reorder-black {
  padding: 3px;
  background-clip: padding-box;
  vertical-align: middle;
}
