.fa {
  display: inline-block;
}

.fa-calendar-black {
  background-clip: padding-box;
  padding: 2px;
}

.fa-reorder-black {
  background-clip: padding-box;
  padding: 3px;
  vertical-align: middle;
}
