%tbody
  %tr.column-header
    %th Name
    %th Actions
  - unless @document_collections.blank?
    - @document_collections.each do |document_collection|
      %tr.row-item
        %td= link_to document_collection.name.truncate(35, :separator => " "), [@affiliate, document_collection]
        %td.actions
          = link_to("Edit", edit_affiliate_document_collection_path(@affiliate, document_collection))
          = button_to("Delete", [@affiliate, document_collection], :method => :delete, :confirm => "Are you sure you want to delete this Collection?")
  - else
    %tr
      %td.empty{ :colspan => 2 } Site #{@affiliate.display_name} has no Collections
