---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7B3C364B275B49DB8396C7FAE11D68AE
      X-Msedge-Clientid:
      - 26D56F649F8E602D106864239E19614B
      X-Msapi-Userstate:
      - cc4a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=21F1345E3DDE4994B35A5D39AD3AB3DE&CID=26D56F649F8E602D106864239E19614B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=21F1345E3DDE4994B35A5D39AD3AB3DE&CID=26D56F649F8E602D106864239E19614B&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=item+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5493.1", "totalEstimatedMatches": 9750000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Form 8-K - Official Site", "url": "https:\/\/www.sec.gov\/about\/forms\/form8-k.pdf",
        "urlPingSuffix": "DevEx,5090.1", "displayUrl": "https:\/\/www.sec.gov\/about\/forms\/form8-k.pdf",
        "snippet": "Check the appropriate box below if the Form 8-K ﬁling is intended
        to simultaneously satisfy the ﬁling obligation of the registrant under", "dateLastCrawled":
        "2017-11-18T21:46:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "<item> Item - Encoded Archival Description Tag Library ...",
        "url": "http:\/\/www.loc.gov\/ead\/tglib\/elements\/item.html", "urlPingSuffix":
        "DevEx,5104.1", "displayUrl": "www.loc.gov\/ead\/tglib\/elements\/item.html",
        "snippet": "Encoded Archival Description Tag Library, Version 2002 EAD Elements
        <item> Item Description: A formattin[...]
