---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D6AF0F1283A64235838F0293DCAA9379
      X-Msedge-Clientid:
      - 3ED1DF798D9F6CAC2B18D4FF8C306D67
      X-Msapi-Userstate:
      - 0f4d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=59CA3729ED10418385B4099639BE3A68&CID=3ED1DF798D9F6CAC2B18D4FF8C306D67&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=59CA3729ED10418385B4099639BE3A68&CID=3ED1DF798D9F6CAC2B18D4FF8C306D67&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=item+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5480.1", "totalEstimatedMatches": 19100000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "CARE Item Set and B-CARE - Centers for Medicare & Medicaid ...", "url":
        "https:\/\/www.cms.gov\/Medicare\/Quality-Initiatives-Patient-Assessment-Instruments\/Post-Acute-Care-Quality-Initiatives\/CARE-Item-Set-and-B-CARE.html",
        "urlPingSuffix": "DevEx,5094.1", "displayUrl": "https:\/\/www.cms.gov\/...\/CARE-Item-Set-and-B-CARE.html",
        "snippet": "The Development and Testing of the Continuity Assessment Record
        and Evaluation (CARE) Item Set: Final Report on the Development of the CARE
        Item Set.", "dateLastCrawled": "2018-01-15T05:28:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Form 8-K - Official Site", "url": "https:\/\/www.sec.gov\/about\/forms\/form8-k.pdf",
        "urlPingSuffix": "DevEx,5108.1", "displayUrl": "https:\/\/www.sec.gov\/about\/forms\/form8-k.pdf",
        "snippet": "If a report on Form 8-K contains disclosures under Item 2.02
        or Item 7.01, whether or not the report contains disclosures regarding other
        items, ...", "dateLastCrawled": "2018-01-19T23:17:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "Required Items - DOB", "url": "http:\/\/www1.nyc.gov\/site\/buildings\/industry\/required-items.page",
        "urlPingSuffix": "DevEx,5122.1", "displayUrl": "www1.nyc.gov\/site\/buildings\/industry\/required-items.page",
        "snippet": "Required Items . Required Items indicate what requirements apply
        to a specific job, and when they must be satisfied. Every job filing is unique.",
        "dateLastCrawled": "2018-01-21T11:17:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3",
        "name": "Item 402 of Regulation S-K - Executive Compensation", "url":
        "https:\/\/www.sec.gov\/divisions\/corpfin\/guidance\/execcomp402interp.htm",
        "urlPingSuffix": "DevEx,5137.1", "about": [{"name": "Regulation S-K"}], "displayUrl":
        "https:\/\/www.sec.gov\/divisions\/corpfin\/guidance\/execcomp402interp.htm",
        "snippet": "Item 402 of Regulation S-K — Executive Compensation Last Update:
        August 8, 2007. The bracketed date following each interpretation is the latest
        date of publication ...", "dateLastCrawled": "2018-01-19T02:30:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.4", "name": "Item
        Materials Accep[...]
