---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=white%20house%20(site:gov%20OR%20site:mil)%20-site:whitehouse.gov&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8E5C9B4202334A92A685A442AC725498
      X-Msedge-Clientid:
      - 2DDC4390187B66191B1449BB19EC67A3
      X-Msapi-Userstate:
      - b8b1
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=FC103F15E51C464782E3BFF008836913&CID=2DDC4390187B66191B1449BB19EC67A3&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=FC103F15E51C464782E3BFF008836913&CID=2DDC4390187B66191B1449BB19EC67A3&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=white+house+(site%3agov+OR+site%3amil)+-site%3awhitehouse.gov",
        "webSearchUrlPingSuffix": "DevEx,5448.1", "totalEstimatedMatches": 448000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Statement by the President on Cuban Immigration Policy ...", "url": "https:\/\/obamawhitehouse.archives.gov\/the-press-office\/2017\/01\/12\/statement-president-cuban-immigration-policy",
        "urlPingSuffix": "DevEx,5079.1", "displayUrl": "https:\/\/obamawhitehouse.archives.gov\/the-press-office\/2017\/01\/12\/...",
        "snippet": "The White House. Office of the Press Secretary. January 12,
        2017. Statement by the President on Cuban Immigration Policy.", "dateLastCrawled":
        "2017-02-12T21:42:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "The White House | whitehouse.gov", "url": "https:\/\/obamawhitehouse.archives.gov\/",
        "urlPingSuffix": "DevEx,5094.1", "displayUrl": "https:\/\/obamawhitehouse.archives.gov",
        "snippet": "See the President''s daily schedule, explore behind-the-scenes
        photos from inside the White House, and find out all the ways you can engage
        with the most interactive ...", "deepLinks": [{"name": "How The Presidential
        Transition", "url": "https:\/\/obamawhitehouse.archives.gov\/blog\/2016\/10\/31\/digital-transition-how-presidential-transition-works-social-media-age",
        "urlPingSuffix": "DevEx,5089.1", "snippet": "The White House mobilizes government
        officials to respond to every petition that receives at least 100,000 signatures.
        Over the years, ..."}, {"name": "A Nation of Makers", "url": "https:\/\/obamawhitehouse.archives.gov\/nation-of-make[...]
