---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=888&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 839D9CF36D8441D3AD6F87C98334AC84
      X-Msedge-Clientid:
      - 29961535BC566F6E31411E3DBDC16EFD
      X-Msapi-Userstate:
      - '9728'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=7D5A02A3041B436493371DCE94DA5E8D&CID=29961535BC566F6E31411E3DBDC16EFD&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=7D5A02A3041B436493371DCE94DA5E8D&CID=29961535BC566F6E31411E3DBDC16EFD&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5215.1", "totalEstimatedMatches": 304, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "The Third
        & Final Round of Promise Zone Designations", "url": "https:\/\/communitysolutions.sites.usa.gov\/2016\/06\/06\/obama-administration-announces-final-round-of-promise-zone-designations-to-expand-access-to-opportunity-in-urban-rural-and-tribal-communities\/",
        "urlPingSuffix": "DevEx,5054.1", "displayUrl": "https:\/\/communitysolutions.sites.usa.gov\/2016\/06\/06\/obama...",
        "snippet": "The Third & Final Round of Promise Zone Designations. ... Much
        of the area is a food desert and services like health ... insufficient access
        to healthy foods, ...", "dateLastCrawled": "2017-09-22T18:28:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "publications.usa.gov",
        "url": "https:\/\/publications.usa.gov\/USAFileDnld.php?PubType=E&PubID=6092&httpGetPubID=0",
        "urlPingSuffix": "DevEx,5067.1", "displayUrl": "https:\/\/publications.usa.gov\/USAFileDnld.php?PubType=E&PubID=6092&...",
        "snippet": "Think about how you will pay for food, ... Unfortunately, no
        one can be healthy all the time, and [...]
