---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B8FA6B8ECB4445D6BF3EA64868FF68D4
      X-Msedge-Clientid:
      - 0E85F6AFE534651819BFFC96E4A364E3
      X-Msapi-Userstate:
      - '7683'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=77BA0C65212C4FC489E69F2BD3BB7EAA&CID=0E85F6AFE534651819BFFC96E4A364E3&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=77BA0C65212C4FC489E69F2BD3BB7EAA&CID=0E85F6AFE534651819BFFC96E4A364E3&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 02 Mar 2017 19:50:43 GMT
recorded_with: VCR 3.0.3
