---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)%20(-site:www.usa.gov%20AND%20-site:kids.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7A8E30F6EC48486093C7EBDFE7E33614
      X-Msedge-Clientid:
      - 1C9EA0BAF30E69370F83AB3CF2A16810
      X-Msapi-Userstate:
      - 01fc
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=199F0F57CB45432A8C0B026A53B3B653&CID=1C9EA0BAF30E69370F83AB3CF2A16810&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=199F0F57CB45432A8C0B026A53B3B653&CID=1C9EA0BAF30E69370F83AB3CF2A16810&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)+(-site%3awww.usa.gov+AND+-site%3akids.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5173.1", "totalEstimatedMatches": 3, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "USA
        Health - USAGov", "url": "https:\/\/www.usa.gov\/health", "urlPingSuffix":
        "DevEx,5064.1", "displayUrl": "https:\/\/www.usa.gov\/health", "snippet":
        "An official website of the United States government. ... Health Information
        from the Government. ... About USA.gov; About Us and Site Notices;", "dateLastCrawled":
        "2018-01-20T06:14:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Food Assistance | USAGov", "url": "https:\/\/www.usa.gov\/food-help",
        "urlPingSuffix": "DevEx,5081.1", "displayUrl": "https:\/\/www.usa.gov\/food-help",
        "snippet": "An official website of the United States government. ... Food
        Assistance. ... Call USA.gov; Chat with USA.gov;", "dateLastCrawled":
        "2018-01-18T21:09:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "USA.Gov Subscription Page", "url": "https:\/\/connect.usa.gov\/publications",
        "urlPingSuffix": "DevEx,5094.1", "about": [{"name": "USA.gov"}], "displayUrl":
        "https:\/\/connect.usa.gov\/publications", "snippet": "Thank you for being
        a loyal visitor to the site! After six years of serving the American public
        and consumers, the Publications.USA.gov website has been discontinued.",
        "dateLastCrawled": "2018-01-22T04:22:00.0000000Z"}]}, "rankingResponse": {"mainline":
        {"items": [{"answerType": "WebPages", "resultIndex": 0, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0"}},
        {"answerType": "WebPages", "resultIndex": 1, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1"}},
        {"answerType": "WebPages", "resultIndex": 2, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2"}}]}}}'
  recorded_at: Mon, 29 Jan 2018 19:02:18 GMT
recorded_with: VCR 3.0.3
