---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 923A1C86CEEA4B7982EA5BADC05831D3
      X-Msedge-Clientid:
      - 3C1FBEFD27B86D482267B520262F6C89
      X-Msapi-Userstate:
      - '5057'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=0CF56FB56A09429F9A868C371D862CE5&CID=3C1FBEFD27B86D482267B520262F6C89&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=0CF56FB56A09429F9A868C371D862CE5&CID=3C1FBEFD27B86D482267B520262F6C89&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5347.1", "totalEstimatedMatches": 247, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Health
        | USAGov", "url": "https:\/\/www.usa.gov\/health", "urlPingSuffix": "DevEx,5083.1",
        "displayUrl": "https:\/\/www.usa.gov\/health", "snippet": "Find health resources
        from the government. The .gov means it''s official. Federal government websites
        often end in .gov or .mil.", "dateLastCrawled": "2018-04-23T02:14:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Food Assistance
        | USAGov", "url": "https:\/\/www.usa.gov\/food-help", "urlPingSuffix": "DevEx,5102.1",
        "displayUrl": "https:\/\/www.usa.gov\/food-help", "snippet": "Food Assistance.
        Find out how to get food in case of an emergency, ... These programs can help
        you get healthy food for your children at their school, ...", "dateLastCrawled":
        "2018-04-[...]
