---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)%20(-site:www.usa.gov%20AND%20-site:kids.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0F645B16C5AA4F22BC88B2A9493555FA
      X-Msedge-Clientid:
      - 3352C75C020060512779CCC203E5617B
      X-Msapi-Userstate:
      - c9a0
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=6C4156BD1F3041EEB1BD08E1B1AFB2E5&CID=3352C75C020060512779CCC203E5617B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=6C4156BD1F3041EEB1BD08E1B1AFB2E5&CID=3352C75C020060512779CCC203E5617B&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)+(-site%3awww.usa.gov+AND+-site%3akids.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5152.1", "totalEstimatedMatches": 2, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Food
        Assistance | USAGov", "url": "https:\/\/www.usa.gov\/food-help", "urlPingSuffix":
        "DevEx,5061.1", "displayUrl": "https:\/\/www.usa.gov\/food-help", "snippet":
        "An official website of the United States government. ... Food Assistance.
        ... Call USA.gov; Chat with USA.gov;", "dateLastCrawled": "2018-02-10T00:18:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "USA.Gov
        Subscription Page", "url": "https:\/\/connect.usa.gov\/publications", "urlPingSuffix":
        "DevEx,5075.1", "about": [{"name": "USA.gov"}], "displayUrl": "https:\/\/connect.usa.gov\/publications",
        "snippet": "Thank you for being a loyal visitor to the site! After six years
        of serving the American public and consumers, the Publications.USA.gov website
        has been discontinued.", "dateLastCrawled": "2018-02-11T08:18:00.0000000Z"}]},
        "rankingResponse": {"mainline": {"items": [{"answerType": "WebPages", "resultIndex":
        0, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0"}}, {"answerType":
        "WebPages", "resultIndex": 1, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1"}}]}}}'
  recorded_at: Thu, 22 Feb 2018 07:05:49 GMT
recorded_with: VCR 4.0.0
