---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)%20(-site:www.usa.gov%20AND%20-site:kids.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8CCFA8CEB38646528A5EBD7789DE787E
      X-Msedge-Clientid:
      - 03F6275F3BE46F3931882D3D3A736EC2
      X-Msapi-Userstate:
      - 74bc
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=0AAE9B1161D646168800FC102C8F99F2&CID=03F6275F3BE46F3931882D3D3A736EC2&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=0AAE9B1161D646168800FC102C8F99F2&CID=03F6275F3BE46F3931882D3D3A736EC2&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)+(-site%3awww.usa.gov+AND+-site%3akids.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5168.1", "totalEstimatedMatches": 3, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "What
        You Can Do To Stay Healthy - Publications.USA.gov ...", "url": "http:\/\/publications.usa.gov\/epublications\/healthy50plus\/50what.htm",
        "urlPingSuffix": "DevEx,5059.1", "displayUrl": "publications.usa.gov\/epublications\/healthy50plus\/50what.htm",
        "snippet": "Return to Publications.USA.gov. ... the leading causes of death
        in the United States, such as heart ... good habits that can help you stay
        healthy.", "dateLastCrawled": "2017-04-06T15:29:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Revealing Trans Fats - publications.usa.gov", "url": "https:\/\/publications.usa.gov\/epublications\/reveal-fats\/reveal-fats.htm",
        "urlPingSuffix": "DevEx,5070.1", "displayUrl": "https:\/\/publications.usa.gov\/epublications\/reveal-fats\/reveal-fats.htm",
        "snippet": "Return to Publications.USA.gov. ... That makes CHD one of the
        leading causes of death in the United States. ... snack foods, and other
        foods made with or fried in ...", "dateLastCrawled": "2017-03-25T11:15:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Classic
        American Recipes from USA - usa.gov", "url": "http:\/\/www.usa.gov\/Citizen\/Topics\/Health\/Recipes.shtml",
        "urlPingSuffix": "DevEx,5082.1", "displayUrl": "www.usa.gov\/Citizen\/Topics\/Health\/Recipes.shtml",
        "snippet": "301 Moved Permanently. nginx", "dateLastCrawled": "2017-04-09T08:36:00.0000000Z"}]},
        "rankingResponse": {"mainline": {"items": [{"answerType": "WebPages", "resultIndex":
        0, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0"}}, {"answerType":
        "WebPages", "resultIndex": 1, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1"}},
        {"answerType": "WebPages", "resultIndex": 2, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2"}}]}}}'
  recorded_at: Wed, 12 Apr 2017 20:40:10 GMT
recorded_with: VCR 3.0.3
