---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 86F5CC11E25C4C60982233D26221CC10
      X-Msedge-Clientid:
      - 0F00EF2CAC7760FD185CE516ADE06107
      X-Msapi-Userstate:
      - 5bae
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=7EB6DB65E3544E2B91BF145AF4289C85&CID=0F00EF2CAC7760FD185CE516ADE06107&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=7EB6DB65E3544E2B91BF145AF4289C85&CID=0F00EF2CAC7760FD185CE516ADE06107&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Fri, 03 Mar 2017 23:43:56 GMT
recorded_with: VCR 3.0.3
