---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)%20(-site:www.usa.gov%20AND%20-site:kids.usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 72516864E08741D1A6B71893DAE7AC43
      X-Msedge-Clientid:
      - 21CE1F0ECBA3610A0FF413D7CA746011
      X-Msapi-Userstate:
      - 512a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=57EA2D809B534948AAE428A5EA041D31&CID=21CE1F0ECBA3610A0FF413D7CA746011&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=57EA2D809B534948AAE428A5EA041D31&CID=21CE1F0ECBA3610A0FF413D7CA746011&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 03 Jan 2019 18:31:14 GMT
recorded_with: VCR 4.0.0
