---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(healthy%20snack)%20language:en%20(site:usa.gov)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028healthy
        snack\u0029 language\u003aen \u0028site\u003ausa.gov\u0029"},"Web":{"Total":30,"Offset":0,"Results":[{"Title":"Peanut
        Butter and Apple Wrap \u007c Video \u007c Kids.gov \u007c USAGov","Description":"Video
        Description\u003a Ingredients and steps to prepare the \u0022Peanut Butter
        and Apple Wrap\u0022 snack. Ingredients\u003a Whole-wheat tortilla Peanut
        butter, sunflower seed butter ...","Url":"https\u003a\u002f\u002fkids.usa.gov\u002fwatch-videos\u002fexercise-and-eating-healthy\u002fpeanut-butter-apple-wrap\u002findex.shtml","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealthy\u002bsnack\u0026d\u003d4542307531622255\u0026w\u003dtq0GfiFGxd4Rmi6fqaEmp11CF9kA4DgI","DisplayUrl":"https\u003a\u002f\u002fkids.usa.gov\u002fwatch-videos\u002fexercise-and-eating-healthy\u002f...","DateTime":"2016-11-24T09\u003a51\u003a00Z"},{"Title":"Healthy
        Snack \u00232\u003a Charger Wrap - USA.gov","Description":"Ingredients
        and steps to prepare a chicken veggie wrap snack.","Url":"https\u003a\u002f\u002fkids.usa.gov\u002fwatch-videos\u002fexercise-and-eating-healthy\u002fchicken-veggie-wrap\u002findex.shtml","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealthy\u002bsnack\u0026d\u003d4728155024132967\u0026w\u003d6XBwKhDwGudmHcSPIimNgTq4JcGJ5VRt[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9A98C4B4B641470ABF36099A78C863C4
      X-Msedge-Clientid:
      - 1F9E478DD39F6B5800724DBBD2086AF2
      X-Msapi-Userstate:
      - d191
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1E3810F995AA4E62B777D42887E302A0&CID=1F9E478DD39F6B5800724DBBD2086AF2&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1E3810F995AA4E62B777D42887E302A0&CID=1F9E478DD39F6B5800724DBBD2086AF2&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5314.1", "totalEstimatedMatches": 22100,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Peanut Butter and Apple Wrap | Video | Kids.gov | USAGov", "url": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/peanut-butter-apple-wrap\/index.shtml",
        "urlPingSuffix": "DevEx,5069.1", "displayUrl": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/...",
        "snippet": "Video Description: Ingredients and steps to prepare the \"Peanut
        Butter and Apple Wrap\" snack. Ingredients: Whole-wheat tortilla Peanut
        butter, sunflower seed butter ...", "dateLastCrawled": "2017-02-16T14:27:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Healthy
        Snack #2: Charger Wrap - USA.gov", "url": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/chicken-veggie-wrap\/index.shtml",
        "urlPingSuffix": "DevEx,5085.1", "displayUrl": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/...",
        "snippet": "Ingredients and steps to prepare a chicken veggie wrap snack.",
    [...]
