---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F7EE0AAC14524F4EA5794AD02683FBEB
      X-Msedge-Clientid:
      - 033F3504E4DA615D20363E43E54D6053
      X-Msapi-Userstate:
      - a386
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F73A4905F3174988B01ADEC7E6A47947&CID=033F3504E4DA615D20363E43E54D6053&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F73A4905F3174988B01ADEC7E6A47947&CID=033F3504E4DA615D20363E43E54D6053&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5332.1", "totalEstimatedMatches": 75300,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Publications.USA.gov Main Page", "url": "http:\/\/publications.usa.gov\/USAPubs.php?PubID=211",
        "urlPingSuffix": "DevEx,5080.1", "displayUrl": "publications.usa.gov\/USAPubs.php?PubID=211",
        "snippet": "Order FREE and low cost federal consumer publications from the
        Federal Citizen Information Center at GSA from Publications.USA ... to keep
        food safe will help ...", "dateLastCrawled": "2017-11-20T11:31:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Heart
        Healthy Home Cooking African American Style - With ...", "url": "https:\/\/publications.usa.gov\/USAPubs.php?PubID=214",
        "urlPingSuffix": "DevEx,5099.1", "displayUrl": "https:\/\/publications.usa.gov\/USAPubs.php?PubID=214",
        "snippet": "Also covers heart healthy food substitutions and food safety.
        ... Heart Healthy Home Cooking African American Style - With Every Heartbeat
        is Life.", "deepLinks": [{"name": "Español Publications", "url": "https:\/\/publications.usa.gov\/USAPubs.php?NavCode=XA&CatID=13",
        "urlPingSuffix": "DevEx,5094.1"}, {"name": "Money Publications", "url": "https:\/\/publications.usa.gov\/usapubs.php?navcode=xa&catid=9",
        "urlPingSuffix": "DevEx,5095.1"}], "dateLastCrawled": "2017-11-07T06:46:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Health
        | USAGov", "url": "https:\/\/www.usa.gov\/health", "urlPing[...]
