---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)%20(-site:www.usa.gov%20AND%20-site:kids.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6FD76F51BB194557969C8C13F3943C92
      X-Msedge-Clientid:
      - 194DC0DD4854615C2483CB9A49C3600E
      X-Msapi-Userstate:
      - 974d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=647DDFDDC5F248F382DE45E9DCC62755&CID=194DC0DD4854615C2483CB9A49C3600E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=647DDFDDC5F248F382DE45E9DCC62755&CID=194DC0DD4854615C2483CB9A49C3600E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)+(-site%3awww.usa.gov+AND+-site%3akids.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5219.1", "totalEstimatedMatches": 5, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "USA
        Health - USAGov", "url": "https:\/\/www.usa.gov\/health", "urlPingSuffix":
        "DevEx,5067.1", "displayUrl": "https:\/\/www.usa.gov\/health", "snippet":
        "An official website of the United States government. ... Learn about health
        insurance, ... About USA.gov; About Us and Site Notices;", "dateLastCrawled":
        "2017-11-22T10:53:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Food Assistance | USAGov", "url": "https:\/\/www.usa.gov\/food-help",
        "urlPingSuffix": "DevEx,5085.1", "displayUrl": "https:\/\/www.usa.gov\/food-help",
        "snippet": "An official website of the United States government. ... You
        may qualify for other food assistance programs including SNAP and the Food
        ... Call USA.gov; Chat with ...", "date[...]
