---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=888&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - FACCCECEB6044EDEA183EE49B37A8FA6
      X-Msedge-Clientid:
      - 1E1E00A6DF9965A1290C1002DE6464FD
      X-Msapi-Userstate:
      - fae0
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F2DD49D0C9EB403D99874AA70DECE750&CID=1E1E00A6DF9965A1290C1002DE6464FD&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F2DD49D0C9EB403D99874AA70DECE750&CID=1E1E00A6DF9965A1290C1002DE6464FD&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5382.1", "totalEstimatedMatches": 39, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Publications.USA.gov",
        "url": "https:\/\/connect.usa.gov\/publications", "urlPingSuffix": "DevEx,5053.1",
        "displayUrl": "https:\/\/connect.usa.gov\/publications", "snippet": "Thank
        you for being a loyal visitor to the site! After six years of serving the
        American public and consumers, the Publications.USA.gov website has been
        discontinued.", "dateLastCrawled": "2021-08-27T23:09:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Links | Go.USA.gov",
        "url": "https:\/\/go.usa.gov\/shorturl\/user\/22", "urlPingSuffix": "DevEx,5066.1",
        "displayUrl": "https:\/\/go.usa.gov\/shorturl\/user\/22", "snippet": "Sitio
        Oficial del Gobierno de EE. UU. Descargue formularios gratis. Aprenda cómo
        radicar. Obtenga información sobre ciudadanía, tarjeta verde, visas de trabajo,
        E-Verify[...]
