---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C3DB8C0280AB4E5997B5D616281FF2A6
      X-Msedge-Clientid:
      - 1AC03FE5C961636333493438C8F66242
      X-Msapi-Userstate:
      - c3c3
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=28A261182E3044319C3CAED351BAFEB7&CID=1AC03FE5C961636333493438C8F66242&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=28A261182E3044319C3CAED351BAFEB7&CID=1AC03FE5C961636333493438C8F66242&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5344.1", "totalEstimatedMatches": 247, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Health
        | USAGov", "url": "https:\/\/www.usa.gov\/health", "urlPingSuffix": "DevEx,5082.1",
        "displayUrl": "https:\/\/www.usa.gov\/health", "snippet": "Find health
        resources from the government. The .gov means it''s official. Federal government
        websites often end in .gov or .mil.", "dateLastCrawled": "2018-04-23T02:14:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Food
        Assistance | USAGov", "url": "https:\/\/www.usa.gov\/food-help", "urlPingSuffix":
        "DevEx,5101.1", "displayUrl": "https:\/\/www.usa.gov\/food-help", "snippet":
        "Food Assistance. Find out how to get food in case of an emergency, ...
        These programs can help you get healthy food for your children at their
        school, ...", "dateLastCrawled[...]
