---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&fdtrace=1&query=(healthy%20snack)%20language:en%20(site:usa.gov)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028healthy
        snack\u0029 language\u003aen \u0028site\u003ausa.gov\u0029"},"Web":{"Total":70,"Offset":0,"Results":[{"Title":"Peanut
        Butter and Apple Wrap \u007c Video \u007c Kids.gov \u007c USAGov","Description":"Video
        Description\u003a Ingredients and steps to prepare the \u0022Peanut Butter
        and Apple Wrap\u0022 snack. Ingredients\u003a Whole-wheat tortilla Peanut
        butter, sunflower seed butter ...","Url":"https\u003a\u002f\u002fkids.usa.gov\u002fwatch-videos\u002fexercise-and-eating-healthy\u002fpeanut-butter-apple-wrap\u002findex.shtml","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealthy\u002bsnack\u0026d\u003d4542307481159431\u0026w\u003d9wqvXrJ5RXkRmi6fqaEmp11CF9kA4DgI","DisplayUrl":"https\u003a\u002f\u002fkids.usa.gov\u002fwatch-videos\u002fexercise-and-eating-healthy\u002f...","DateTime":"2016-07-05T20\u003a57\u003a00Z"},{"Title":"Healthy
        Snack \u00235\u003a Frozen Fruit Cups \u007c Videos \u007c Kids.gov ...","Description":"Healthy
        Snack \u00235\u003a Frozen Fruit Cups ... And for more about eating healthy,
        visit Kids.gov. Original Recipe. Note\u003a This recipe has not been standardized
        by USDA.","Url":"https\u003a\u002f\u002fkids.usa.gov\u002fwatch-videos\u002fexercise-and-eating-healthy\u002ffruit-cups\u002findex.shtml","CacheUrl":"http\u003a\[...]
