---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=educaci%C3%B3n%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - '0119EAD179044CCCB726BE94B13CFF26'
      X-Msedge-Clientid:
      - 2DA19260FF276B9F16499927FEB06A61
      X-Msapi-Userstate:
      - f8bb
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E4942DBFE87543539FC114C84C7C2504&CID=2DA19260FF276B9F16499927FEB06A61&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E4942DBFE87543539FC114C84C7C2504&CID=2DA19260FF276B9F16499927FEB06A61&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=educaci%c3%b3n+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5322.1", "totalEstimatedMatches": 26500,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Recursos para la educación | USAGov", "url": "https:\/\/gobierno.usa.gov\/educacion",
        "urlPingSuffix": "DevEx,5077.1", "displayUrl": "https:\/\/gobierno.usa.gov\/educacion",
        "snippet": "Información del Gobierno sobre ayuda para estudiantes y personas
        que quieren aprender inglés.", "dateLastCrawled": "2017-11-19T01:41:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Ayuda
        financiera para estudiantes | USAGov", "url": "https:\/\/gobierno.usa.gov\/ayuda-financiera-para-estudiantes",
        "urlPingSuffix": "DevEx,5092.1", "displayUrl": "https:\/\/gobierno.usa.gov\/ayuda-financiera-para-estudiantes",
        "snippet": "Becas, productos financieros y programas del Gobierno para la
        educación superior.", "dateLastCrawled": "2017-11-1[...]
