---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 483946714B704DCB9E2468425322322E
      X-Msedge-Clientid:
      - 2456898B8FA168E51F4C992F8ED4696E
      X-Msapi-Userstate:
      - 7c13
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=03D6FCFAE8284BC2897C0416476C233C&CID=2456898B8FA168E51F4C992F8ED4696E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=03D6FCFAE8284BC2897C0416476C233C&CID=2456898B8FA168E51F4C992F8ED4696E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5394.1", "totalEstimatedMatches": 37, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Food
        Assistance | USAGov", "url": "https:\/\/www.usa.gov\/food-help", "urlPingSuffix":
        "DevEx,5055.1", "displayUrl": "https:\/\/www.usa.gov\/food-help", "snippet":
        "Get information about government food programs including SNAP, D-SNAP,
        WIC, supplemental food for seniors, and free or reduced-price school lunch
        and breakfast. Learn how food programs can provide emergency help during
        the COVID-19 pandemic.", "dateLastCrawled": "2021-08-27T23:45:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "U.S. Department
        of Agriculture | USAGov", "url": "https:\/\/www.usa.gov\/federal-agencies\/u-s-department-of-agriculture",
        "urlPingSuffix": "DevEx,5068.1", "displayUrl": "https:\/\/www.usa.gov\/federal-agencies\/u-s-department-of-agriculture",
        "snippet": "Food Stamps\/SNAP Information . How to Apply for Food Stamps\/SNAP
        . Food and Nutrition . [...]
