---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=888&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2811ECBBA9514209B7F55BF876399F43
      X-Msedge-Clientid:
      - 05FBA4EBE97D684D3673AF75E89869B8
      X-Msapi-Userstate:
      - 65f3
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E32642C8E35A47FCACD202CAB56C25A3&CID=05FBA4EBE97D684D3673AF75E89869B8&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E32642C8E35A47FCACD202CAB56C25A3&CID=05FBA4EBE97D684D3673AF75E89869B8&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5234.1", "totalEstimatedMatches": 141, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Links
        | Go.USA.gov", "url": "https:\/\/go.usa.gov\/shorturl\/user\/32?page=22&sort=asc&order=Clicks",
        "urlPingSuffix": "DevEx,5054.1", "displayUrl": "https:\/\/go.usa.gov\/shorturl\/user\/32?page=22&sort=asc&order=Clicks",
        "snippet": "Consumer Focus: Sports Health and Safety - Sports are a good way
        to exercise and stay healthy and fit. To make sure you can enjoy sports
        for a long time, you need to ...", "dateLastCrawled": "2018-01-31T19:43:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Features
        | USAGov", "url": "https:\/\/www.usa.gov\/features\/preparation-for-tomorrow-begins-today?%20Grants%20and%20Loans",
        "urlPingSuffix": "DevEx,5070.1", "displayUrl": "https:\/\/www.usa.gov\/features\/preparation-for-tomorrow-begins-today...",
        "snippet": "Food Assistance; Social Security Questions; ... Even healthy
        people can get very sick from [...]
