---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6F644AC4677B47A5AA70F0553A398EF3
      X-Msedge-Clientid:
      - 1848346BD889647C0C6E3FEDD92665C0
      X-Msapi-Userstate:
      - b916
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8D13BA19F8A74945BF2FD1D1F115C137&CID=1848346BD889647C0C6E3FEDD92665C0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8D13BA19F8A74945BF2FD1D1F115C137&CID=1848346BD889647C0C6E3FEDD92665C0&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5496.1", "totalEstimatedMatches": 85600,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Health | USAGov", "url": "https:\/\/www.usa.gov\/health", "urlPingSuffix":
        "DevEx,5091.1", "displayUrl": "https:\/\/www.usa.gov\/health", "snippet":
        "Food Assistance; Social Security Questions; ... Health Information from
        the Government. Learn more about the best ways to find health information
        from the government.", "dateLastCrawled": "2018-01-20T06:14:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Food
        Assistance | USAGov", "url": "https:\/\/www.usa.gov\/food-help", "urlPingSuffix":
        "DevEx,5109.1", "displayUrl": "https:\/\/www.usa.gov\/food-help", "snippet":
        "Food Assistance. Find out how to get ... These programs can help you get
        healthy food for your children at their school, child care center, or after-school
        program ...", "date[...]
