---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - CFD3F0655FF84B2AA34F3CDEA35971A8
      X-Msedge-Clientid:
      - 266BBDC93FA0600602CDB6423E0F616B
      X-Msapi-Userstate:
      - fd2c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=97D9E26B079941B99D1B03E40B980FEC&CID=266BBDC93FA0600602CDB6423E0F616B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=97D9E26B079941B99D1B03E40B980FEC&CID=266BBDC93FA0600602CDB6423E0F616B&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5323.1", "totalEstimatedMatches": 96300,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Health | USAGov", "url": "https:\/\/www.usa.gov\/health", "urlPingSuffix":
        "DevEx,5081.1", "displayUrl": "https:\/\/www.usa.gov\/health", "snippet":
        "Food Assistance; Social Security Questions; ... Health Information from
        the Government. Learn more about the best ways to find health information
        from the government.", "dateLastCrawled": "2018-01-26T13:45:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Food
        Assistance | USAGov", "url": "https:\/\/www.usa.gov\/food-help", "urlPingSuffix":
        "DevEx,5099.1", "displayUrl": "https:\/\/www.usa.gov\/food-help", "snippet":
        "Food Assistance. Find out how to get ... These programs can help you get
        healthy food for your children at their school, child care center, or after-school
        program ...", "da[...]
