---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(healthy%20snack)%20language:en%20(site:usa.gov)&sources=Spell%20Web&traffictype=test&web.offset=888
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028healthy
        snack\u0029 language\u003aen \u0028site\u003ausa.gov\u0029"},"Web":{"Total":30,"Offset":20,"Results":[{"Title":"March
        \u007c Calendar \u007c Teachers \u007c Kids.gov \u007c USAGov","Description":"Find
        lesson activities on March Teacher\u0027s Calendar including Women\u0027s
        History Month, ... Video\u003a Healthy Snack\u003a Peanut Butter and Apple
        Wrap\u003b Video\u003a ...","Url":"https\u003a\u002f\u002fkids.usa.gov\u002fteachers\u002fcalendar\u002fmarch\u002findex.shtml","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealthy\u002bsnack\u0026d\u003d4532746932847002\u0026w\u003dS47-uQiwaO0NQQtISkBgInleAmsrSDAJ","DisplayUrl":"https\u003a\u002f\u002fkids.usa.gov\u002fteachers\u002fcalendar\u002fmarch\u002findex.shtml","DateTime":"2016-11-20T17\u003a41\u003a00Z"},{"Title":"Publications.USA.gov
        Main Page","Description":"Order FREE and low cost federal consumer publications
        from the Federal Citizen Information Center at GSA from Publications.USA.gov","Url":"http\u003a\u002f\u002fpublications.usa.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealthy\u002bsnack\u0026d\u003d4929769382347797\u0026w\u003dEoqCxDliednBzKjsplKQ60jsyAMoPA4Z","DisplayUrl":"publications.usa[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=888&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4E98A1590E1F4752B1EDD34296D5E643
      X-Msedge-Clientid:
      - 377ECBBEFBD66DD801C0C188FA416CF9
      X-Msapi-Userstate:
      - fa50
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=0D1CCD5C267948BCAEF38777F77D2B83&CID=377ECBBEFBD66DD801C0C188FA416CF9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=0D1CCD5C267948BCAEF38777F77D2B83&CID=377ECBBEFBD66DD801C0C188FA416CF9&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5315.1", "totalEstimatedMatches": 345, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "| Publications.USA.gov",
        "url": "http:\/\/publications.usa.gov\/USAPubs.php?PubID=2380", "urlPingSuffix":
        "DevEx,5058.1", "displayUrl": "publications.usa.gov\/USAPubs.php?PubID=2380",
        "snippet": "Order FREE and low cost federal consumer publications from the
        Federal Citizen Information Center at GSA from Publications.USA.gov", "dateLastCrawled":
        "2017-02-06T15:47:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Obama Administration Announces Final Round of Promise Zone ...",
        "url": "https:\/\/communitysolutions.sites.usa.gov\/2016\/06\/06\/obama-administration-announces-final-round-of-promise-zone-designations-to-expand-access-to-opportunity-in-urban-rural-and-tribal-communities\/",
        "urlPingSuffix": "DevEx,5071.1", "displayUrl": "https:\/\/communitysolutions.sites.usa.g[...]
