---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)%20(-site:www.usa.gov%20AND%20-site:kids.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1D14E3B6F4B94E16BD5D45E7D396A25B
      X-Msedge-Clientid:
      - 0FC4841E188C67BF36888EA1191B6699
      X-Msapi-Userstate:
      - '5785'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=2E446207300749E0B636E82F90D6E17F&CID=0FC4841E188C67BF36888EA1191B6699&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=2E446207300749E0B636E82F90D6E17F&CID=0FC4841E188C67BF36888EA1191B6699&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)+(-site%3awww.usa.gov+AND+-site%3akids.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5179.1", "totalEstimatedMatches": 3, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Health
        | USAGov", "url": "https:\/\/www.usa.gov\/health", "urlPingSuffix": "DevEx,5062.1",
        "displayUrl": "https:\/\/www.usa.gov\/health", "snippet": "An official
        website of the United States government. ... Learn about health insurance,
        ... About USA.gov; About Us and Site Notices;", "dateLastCrawled": "2017-07-06T10:11:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Revealing
        Trans Fats - Publications.USA.gov Main Page", "url": "https:\/\/publications.usa.gov\/epublications\/reveal-fats\/reveal-fats.htm",
        "urlPingSuffix": "DevEx,5075.1", "displayUrl": "https:\/\/publications.usa.gov\/epublications\/reveal-fats\/reveal-fats.htm",
        "snippet": "Revealing Trans Fats. ... That makes CHD one of the leading
        causes of death in the United States. ... some margarines, crackers, cookies,
        snack foods, ...", "dateLastCrawled": "2017-06-29T12:23:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Publications.USA.gov
        Main Page", "url": "http:\/\/publications.usa.gov\/", "urlPingSuffix": "DevEx,5093.1",
        "displayUrl": "publications.usa.gov", "snippet": "Order FREE and low cost
        federal consumer publications from the Federal Citizen Information Center
        at GSA from Publications.USA.gov", "dateLastCrawled": "2017-07-06T07:42:00.0000000Z"}]},
        "rankingResponse": {"mainline": {"items": [{"answerType": "WebPages", "resultIndex":
        0, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0"}}, {"answerType":
        "WebPages", "resultIndex": 1, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1"}},
        {"answerType": "WebPages", "resultIndex": 2, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2"}}]}}}'
  recorded_at: Fri, 14 Jul 2017 16:20:35 GMT
recorded_with: VCR 3.0.3
