---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=educaci%C3%B3n%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 56F89E435936440887893E668D81E29B
      X-Msedge-Clientid:
      - 0FCCCD0E81A566CD2784C688800A670C
      X-Msapi-Userstate:
      - 0bad
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=044AA03693EB45CC8137CD091D80D428&CID=0FCCCD0E81A566CD2784C688800A670C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=044AA03693EB45CC8137CD091D80D428&CID=0FCCCD0E81A566CD2784C688800A670C&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=educaci%c3%b3n+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5326.1", "totalEstimatedMatches": 43400,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Recursos para la educación | USAGov", "url": "https:\/\/gobierno.usa.gov\/educacion",
        "urlPingSuffix": "DevEx,5076.1", "displayUrl": "https:\/\/gobierno.usa.gov\/educacion",
        "snippet": "Información del Gobierno sobre ayuda para estudiantes y personas
        que quieren aprender inglés.", "dateLastCrawled": "2018-01-22T01:32:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Ayuda
        financiera para estudiantes | USAGov", "url": "https:\/\/gobierno.usa.gov\/ayuda-financiera-para-estudiantes",
        "urlPingSuffix": "DevEx,5092.1", "displayUrl": "https:\/\/gobierno.usa.gov\/ayuda-financiera-para-estudiantes",
        "snippet": "Becas, productos financieros y programas del Gobierno para la
        educación superior.", "dateLastCrawled": "2018-01-2[...]
