---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 732CE87EF7DA4B3B97772E5E5D2C347C
      X-Msedge-Clientid:
      - 37006EC13BA36575102E65C03A34646D
      X-Msapi-Userstate:
      - 80dc
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F57D44B303B441BD9AEFE9D823EBE00B&CID=37006EC13BA36575102E65C03A34646D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F57D44B303B441BD9AEFE9D823EBE00B&CID=37006EC13BA36575102E65C03A34646D&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5485.1", "totalEstimatedMatches": 23600,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Healthy Snack #5: Frozen Fruit Cups (Accessible Version ...", "url":
        "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/fruit-cups-accessible\/index.shtml",
        "urlPingSuffix": "DevEx,5080.1", "displayUrl": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/...",
        "snippet": "Video Description: Ingredients and steps to make this fun frozen
        treat to keep you cool this summer. Ingredients: 3 bananas 3-8 oz. cartons
        yogurt, non-fat strawberry", "dateLastCrawled": "2017-09-08T07:11:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Healthy
        Snack #2: Charger Wrap (Accessible Version) - USA", "url": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/chicken-veggie-wrap-accessible\/index.shtml",
        "urlPingSuffix": "DevEx,5099.1", "displayUrl": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/...",
        "snippet": "Video description: Ingredients and steps to [...]
