---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5D4C43DB823A4CBE8927CB3F6E953A1D
      X-Msedge-Clientid:
      - 0F5FD673B37064EA036EDC4AB2E765AB
      X-Msapi-Userstate:
      - d9f7
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1E49F382B1BC4FA8BBF2998109560DD9&CID=0F5FD673B37064EA036EDC4AB2E765AB&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1E49F382B1BC4FA8BBF2998109560DD9&CID=0F5FD673B37064EA036EDC4AB2E765AB&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5492.1", "totalEstimatedMatches": 19400,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Peanut Butter and Apple Wrap | Video | Kids.gov | USAGov", "url": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/peanut-butter-apple-wrap\/index.shtml",
        "urlPingSuffix": "DevEx,5079.1", "displayUrl": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/...",
        "snippet": "Video Description: Ingredients and steps to prepare the \"Peanut
        Butter and Apple Wrap\" snack. Ingredients: Whole-wheat tortilla Peanut
        butter, sunflower seed butter ...", "dateLastCrawled": "2017-02-28T06:55:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Healthy
        Snack #2: Charger Wrap - USA.gov", "url": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/chicken-veggie-wrap\/index.shtml",
        "urlPingSuffix": "DevEx,5095.1", "displayUrl": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/...",
        "snippet": "Ingredients and steps to prepare a chicken veggie wrap snack.",
    [...]
