---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)%20(-site:www.usa.gov%20AND%20-site:kids.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1FEC00584DC54EF99187A0DCB73ECAF2
      X-Msedge-Clientid:
      - '09661EE51E476D0703F115ED1FD06C9F'
      X-Msapi-Userstate:
      - 433f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=289A163CC3A54C65ACC1331B3C9FC9F2&CID=09661EE51E476D0703F115ED1FD06C9F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=289A163CC3A54C65ACC1331B3C9FC9F2&CID=09661EE51E476D0703F115ED1FD06C9F&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)+(-site%3awww.usa.gov+AND+-site%3akids.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5227.1", "totalEstimatedMatches": 5, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Health
        | USAGov", "url": "https:\/\/www.usa.gov\/health", "urlPingSuffix": "DevEx,5067.1",
        "displayUrl": "https:\/\/www.usa.gov\/health", "snippet": "An official
        website of the United States government. ... Health Information from the
        Government. ... About USA.gov; About Us and Site Notices;", "dateLastCrawled":
        "2017-09-17T12:12:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Lesson Plans | USAGov", "url": "https:\/\/www.usa.gov\/lesson-plans",
        "urlPingSuffix": "DevEx,5084.1", "displayUrl": "https:\/\/www.usa.gov\/lesson-plans",
        "snippet": "Teach students about the concept of sales tax, state income tax,
        property tax. Field Trip to the Money Factory Lesson Plan Teach students about
        the where money is ...", "dateLast[...]
