---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=888&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 138E065958C545CA849A867BA1B14FE1
      X-Msedge-Clientid:
      - 336CD9D0E6E46F930BB0D25BE74B6EFC
      X-Msapi-Userstate:
      - 547b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=FF89083C59EC4D89B0A6B50BC6939708&CID=336CD9D0E6E46F930BB0D25BE74B6EFC&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=FF89083C59EC4D89B0A6B50BC6939708&CID=336CD9D0E6E46F930BB0D25BE74B6EFC&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5464.1", "totalEstimatedMatches": 193, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Issue
        719 | Bureau of Land Management California | Page 2", "url": "https:\/\/blmca.sites.usa.gov\/category\/issue-719\/page\/2\/",
        "urlPingSuffix": "DevEx,5075.1", "displayUrl": "https:\/\/blmca.sites.usa.gov\/category\/issue-719\/page\/2",
        "snippet": "Category Archives: Issue 719. ... Bureau of Land Management,
        Bureau of Reclamation, ... Keeping them public supports a healthy planet.",
        "dateLastCrawled": "2017-10-31T19:41:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "HIA Final PrinterSpreads", "url": "https:\/\/publications.usa.gov\/USAFileDnld.php?PubType=P&PubID=5588&httpGetPubID=0",
        "urlPingSuffix": "DevEx,5088.1", "displayUrl": "https:\/\/publications.usa.gov\/USAFileDnld.php?PubType=P&PubID=5588&...",
        "snippet": "Healthy Indoor Air for America''s Homes website: www.healthyindoorair.org
        ... es, pillows, carpets, etc. Cockroaches are attracted to areas where food
        and", "dateLastCrawled": "2018-01-11T20:49:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "White House | Community Solutions", "url": "https:\/\/communitysolutions.sites.usa.gov\/tag\/white-house\/",
        "urlPingSuffix": "DevEx,5102.1", "displayUrl": "https:\/\/communitysolutions.sites.usa.gov\/tag\/white-house",
        "snippet": "Claudette discussed that the 20% of the population living in rural
        communities provides the food, ... White House Domestic Policy ... Creating
        Safe and Healthy ...", "dateLastCrawled": "2018-01-17T00:43:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "Innovation
        Exchange: Urban Waters Initiative | Community ...", "url": "https:\/\/communitysolutions.sites.usa.gov\/2017\/03\/14\/innovation-exchange-urban-waters-initiative\/",
        "urlPingSuffix": "DevEx,5118.1", "displayUrl": "https:\/\/communitysolutions.sites.usa.gov\/2017\/03\/14\/innovation...",
        "snippet": "Innovation Exchange: Urban Waters Initiative. By ashogren; ...
        food and nutrition, employment opportunities, etc. that factor into healthy
        communities.", "dateLastCrawl[...]
