---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(healthy%20snack)%20language:en%20(-site:www.usa.gov%20AND%20-site:kids.usa.gov)%20(site:usa.gov)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028healthy
        snack\u0029 language\u003aen \u0028-site\u003awww.usa.gov AND -site\u003akids.usa.gov\u0029
        \u0028site\u003ausa.gov\u0029"},"Spell":{"Total":1,"Results":[{"Value":"\u0028healthy
        snack\u0029 language\u003aen \u0028-site\u003awww.usa.gov AND -site\u003akids.usa.gov\u0029
        \u0028site\u003ausa.gov\u0029"}]},"Web":{"Total":3,"Offset":0,"Results":[{"Title":"What
        You Can Do To Stay Healthy - Publications.USA.gov ...","Description":"What
        is a healthy weight for me\u003f What are some ways I can control my weight\u003f
        Keep track of your weight. Use your personal prevention chart. Physical Activity.","Url":"http\u003a\u002f\u002fpublications.usa.gov\u002fepublications\u002fhealthy50plus\u002f50what.htm","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealthy\u002bsnack\u0026d\u003d4891393859914280\u0026w\u003d377Apq8hmZqwWWbgqKsuKcsHXeuoNi8p","DisplayUrl":"publications.usa.gov\u002fepublications\u002fhealthy50plus\u002f50what.htm","DateTime":"2016-11-27T00\u003a10\u003a00Z"},{"Title":"Revealing
        Trans Fats - Publications.USA.gov Main Page","Description":"Revealing Trans
        Fats. ... snack foods, and other foods made with or fried in partially hydrogenated
        ... How Can You Use the Label to Make Heart-Healthy Food Choices\u003f","Url":"http\u003a\u002f\u002fpublications.usa.gov\u002fepublications\u002freveal-fats\u002freveal-fats.htm","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealthy\u002bsnack\u0026d\u003d4597871547516070\u0026w\u003dbkkYWH6v1kIq3rCscDxPow6lzaN5Cv6q","DisplayUrl":"publications.usa.gov\u002fepublications\u002freveal-fats\u002freveal-fats.htm","DateTime":"2016-11-26T20\u003a38\u003a00Z"},{"Title":"Publications.USA.gov
        Main Page","Description":"Order FREE and low cost federal consumer publications
        from the Federal Citizen Information Center at GSA from Publications.USA.gov","Url":"http\u003a\u002f\u002fpublications.usa.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealthy\u002bsnack\u0026d\u003d4929769382347797\u0026w\u003dEoqCxDliednBzKjsplKQ60jsyAMoPA4Z","DisplayUrl":"publications.usa.gov","DateTime":"2016-11-27T22\u003a18\u003a00Z"}]}}}'
  recorded_at: Wed, 06 Dec 2017 17:00:00 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)%20(-site:www.usa.gov%20AND%20-site:kids.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 02CF2F4C2F924A1CBA1C9DFC7580AD2E
      X-Msedge-Clientid:
      - 1C17E09D389E6A0C3D59EA9439096B1B
      X-Msapi-Userstate:
      - '9949'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=25662E3C8024428099179CDB7B65D367&CID=1C17E09D389E6A0C3D59EA9439096B1B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=25662E3C8024428099179CDB7B65D367&CID=1C17E09D389E6A0C3D59EA9439096B1B&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)+(-site%3awww.usa.gov+AND+-site%3akids.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5192.1", "totalEstimatedMatches": 4, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "This
        Content Has Been Discontinued | USAGov", "url": "https:\/\/www.usa.gov\/food-and-nutrition",
        "urlPingSuffix": "DevEx,5065.1", "displayUrl": "https:\/\/www.usa.gov\/food-and-nutrition",
        "snippet": "1-844-USA-GOV1; Government Agencies and Elected Officials. ...
        About USA.gov; About Us and Site Notices; For the Media; For Developers;
        Site Index; Our Partner Websites;", "dateLastCrawled": "2017-01-07T01:11:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "What You
        Can Do To Stay Healthy - Publications.USA.gov ...", "url": "http:\/\/publications.usa.gov\/epublications\/healthy50plus\/50what.htm",
        "urlPingSuffix": "DevEx,5078.1", "displayUrl": "publications.usa.gov\/epublications\/healthy50plus\/50what.htm",
        "snippet": "Return to Publications.USA.gov. ... the leading causes of death
        in the United S[...]
