---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - CA91EBF2FC8E48F69AE24BAA426C6E16
      X-Msedge-Clientid:
      - 0ED8A7D2058F65A51E31ADEB04186477
      X-Msapi-Userstate:
      - 7e28
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A2006E17CF6B4E0F82CE9F9650D8C7B0&CID=0ED8A7D2058F65A51E31ADEB04186477&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A2006E17CF6B4E0F82CE9F9650D8C7B0&CID=0ED8A7D2058F65A51E31ADEB04186477&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 02 Mar 2017 19:50:44 GMT
recorded_with: VCR 3.0.3
