---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - E569D5D3A1E14708B60C5A4282D638A2
      X-Msedge-Clientid:
      - 2FBAB8F057D469300479A85456A1685E
      X-Msapi-Userstate:
      - f92c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=4A3ABB408C0C4F628F6261F75E89D55C&CID=2FBAB8F057D469300479A85456A1685E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=4A3ABB408C0C4F628F6261F75E89D55C&CID=2FBAB8F057D469300479A85456A1685E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5250.1", "totalEstimatedMatches": 37, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Food
        Assistance | USAGov", "url": "https:\/\/www.usa.gov\/food-help", "urlPingSuffix":
        "DevEx,5054.1", "displayUrl": "https:\/\/www.usa.gov\/food-help", "snippet":
        "Get information about government food programs including SNAP, D-SNAP, WIC,
        supplemental food for seniors, and free or reduced-price school lunch and
        breakfast. Learn how food programs can provide emergency help during the COVID-19
        pandemic.", "dateLastCrawled": "2021-08-27T23:45:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "U.S. Department of Agriculture | USAGov", "url": "https:\/\/www.usa.gov\/federal-agencies\/u-s-department-of-agriculture",
        "urlPingSuffix": "DevEx,5067.1", "displayUrl": "https:\/\/www.usa.gov\/federal-agencies\/u-s-department-of-agriculture",
        "snippet": "Food Stamps\/SNAP Information . How to Apply for Food Stamps\/SNAP
        . Food and Nutrition . USDA Food and Food S[...]
