---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(educaci%C3%B3n)%20language:es%20(site:usa.gov)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028educaci\u00f3n\u0029
        language\u003aes \u0028site\u003ausa.gov\u0029"},"Web":{"Total":75,"Offset":0,"Results":[{"Title":"Recursos
        para la educaci\u00f3n \u007c USAGov","Description":"Becas, productos financieros
        y programas del Gobierno para la educaci\u00f3n superior. Recursos educativos.
        Informaci\u00f3n sobre programas o materiales para estudiar.","Url":"https\u003a\u002f\u002fgobierno.usa.gov\u002feducacion","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003deducaci\u0025c3\u0025b3n\u0026d\u003d4621034276394161\u0026w\u003dvP3CwQlm7eM1Z3TIKCc1wlXg8g668W47","DisplayUrl":"https\u003a\u002f\u002fgobierno.usa.gov\u002feducacion","DateTime":"2016-10-24T16\u003a19\u003a00Z"},{"Title":"Recursos
        educativos \u007c USAGov","Description":"Consulte el sitio web del Departamento
        de Educaci\u00f3n para ver todos los recursos educativos disponibles en
        espa\u00f1ol. Volver al inicio \u00bfNecesita ayuda\u003f","Url":"https\u003a\u002f\u002fgobierno.usa.gov\u002frecursos-educativos","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003deducaci\u0025c3\u0025b3n\u0026d\u003d4647804773204731\u0026w\u[...]
