---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F8572783293242A596B395235DBDC5D0
      X-Msedge-Clientid:
      - 3AB8025698536B622AD008FE99556A56
      X-Msapi-Userstate:
      - 52aa
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=66FE90FFB4C345CCAAE158DD69D1DD7D&CID=3AB8025698536B622AD008FE99556A56&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=66FE90FFB4C345CCAAE158DD69D1DD7D&CID=3AB8025698536B622AD008FE99556A56&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 21 Jun 2017 16:07:25 GMT
recorded_with: VCR 3.0.3
