---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=888&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - DAA185020AA14BA8B51BFCAD65DA1931
      X-Msedge-Clientid:
      - 22AD6982D35A6E4906EB62C5D2CD6FBA
      X-Msapi-Userstate:
      - '0960'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5AC0CD492C8C4E7F940012AE985B72E0&CID=22AD6982D35A6E4906EB62C5D2CD6FBA&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5AC0CD492C8C4E7F940012AE985B72E0&CID=22AD6982D35A6E4906EB62C5D2CD6FBA&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5469.1", "totalEstimatedMatches": 258, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Search
        Results", "url": "http:\/\/publications.usa.gov\/USAPubs.php?NavCode=R&PageButton=Next&PageCatID=0&PageCatName=&BegPub=840&selPubFormatID=0&LanguageID=0&searchText=&QueryType=search",
        "urlPingSuffix": "DevEx,5072.1", "displayUrl": "publications.usa.gov\/USAPubs.php?NavCode=R&PageButton=Next&...",
        "snippet": "Food > Going Green > Health > History > Housing > Money > Small
        Business > Travel > Español. ... Use this information to help you stay healthy
        at ages 50 and above.", "dateLastCrawled": "2017-11-06T19:55:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Protect
        You Family From Lead in Your Home", "url": "https:\/\/publications.usa.gov\/epublications\/finlead\/leadhelp.html",
        "urlPingSuffix": "DevEx,5085.1", "displayUrl": "https:\/\/publications.usa.gov\/epublications\/finlead\/leadhelp.html",
        "snippet": "Are You Planning To Buy, Rent, or Renovate a Home Built Before
        1978? Many houses and apartments [...]
