---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)%20(-site:www.usa.gov%20AND%20-site:kids.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3EDE6560FC4A4584AA6088AEBD5A1E51
      X-Msedge-Clientid:
      - 14D2D09206546425093EDAA807C36534
      X-Msapi-Userstate:
      - ac22
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=2F423F3C04EF4E8A8945FCE93CCAAF1E&CID=14D2D09206546425093EDAA807C36534&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=2F423F3C04EF4E8A8945FCE93CCAAF1E&CID=14D2D09206546425093EDAA807C36534&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)+(-site%3awww.usa.gov+AND+-site%3akids.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5174.1", "totalEstimatedMatches": 3, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "What
        You Can Do To Stay Healthy - Publications.USA.gov ...", "url": "http:\/\/publications.usa.gov\/epublications\/healthy50plus\/50what.htm",
        "urlPingSuffix": "DevEx,5059.1", "displayUrl": "publications.usa.gov\/epublications\/healthy50plus\/50what.htm",
        "snippet": "Return to Publications.USA.gov. ... the leading causes of death
        in the United States, such as heart ... good habits that can help you stay
        healthy.", "dateLastCrawled": "2017-02-26T23:35:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Publications.USA.gov Main Page", "url": "http:\/\/publications.usa.gov\/",
        "urlPingSuffix": "DevEx,5077.1", "displayUrl": "publications.usa.gov", "snippet":
        "Order FREE and low cost federal consumer publications from the Federal Citizen
        Information Center at GSA from Publications.USA.gov", "deepLinks": [{"name":
        "Select Publications", "url": "http:\/\/publications.usa.gov\/USAPubs.php?NavCode=Q",
        "urlPingSuffix": "DevEx,5071.1"}, {"name": "Money Publications", "url": "http:\/\/publications.usa.gov\/USAPubs.php?NavCode=XA&CatID=9",
        "urlPingSuffix": "DevEx,5072.1"}, {"name": "Education Publications", "url":
        "http:\/\/publications.usa.gov\/USAPubs.php?NavCode=XA&CatID=2", "urlPingSuffix":
        "DevEx,5073.1"}], "dateLastCrawled": "2017-02-28T09:39:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Revealing Trans
        Fats - publications.usa.gov", "url": "https:\/\/publications.usa.gov\/epublications\/reveal-fats\/reveal-fats.htm",
        "urlPingSuffix": "DevEx,5088.1", "displayUrl": "https:\/\/publications.usa.gov\/epublications\/reveal-fats\/reveal-fats.htm",
        "snippet": "Return to Publications.USA.gov. ... That makes CHD one of the
        leading causes of death in the United States. ... snack foods, and other
        foods made with or fried in ...", "dateLastCrawled": "2017-02-01T07:23:00.0000000Z"}]},
        "rankingResponse": {"mainline": {"items": [{"answerType": "WebPages", "resultIndex":
        0, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0"}}, {"answerType":
        "WebPages", "resultIndex": 1, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1"}},
        {"answerType": "WebPages", "resultIndex": 2, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2"}}]}}}'
  recorded_at: Fri, 03 Mar 2017 23:43:55 GMT
recorded_with: VCR 3.0.3
