---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 1F2E0624C98A4A2191024C9D60D1E225
      X-Msedge-Clientid:
      - '061691E68A616D17314C9A608BCE6CC2'
      X-Msapi-Userstate:
      - e487
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E2EE4D88E14A47ED8CF9C9062373C105&CID=061691E68A616D17314C9A608BCE6CC2&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E2EE4D88E14A47ED8CF9C9062373C105&CID=061691E68A616D17314C9A608BCE6CC2&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 29 Jan 2018 19:02:19 GMT
recorded_with: VCR 3.0.3
