---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(healthy%20snack)%20language:en%20(site:usa.gov)&sources=Spell%20Web&traffictype=test&web.offset=888
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028healthy
        snack\u0029 language\u003aen \u0028site\u003ausa.gov\u0029"},"Web":{"Total":68,"Offset":60,"Results":[{"Title":"The
        National Restaurant Association restaurant, Hotel ...","Description":"The
        National Restaurant Association Restaurant, Hotel-Motel Show \u0028NRA Show\u0029
        is the Western Hemisphere\u0027s largest foodservice and hospitality event.
        NRA Show attracts ...","Url":"http\u003a\u002f\u002forigin-business.usa.gov\u002fevents\u002fnational-restaurant-association-restaurant-hotel-motel-show-nra-2016","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealthy\u002bsnack\u0026d\u003d4927076355737885\u0026w\u003de0J0J_yPuivAk0kPY3Mu4y7_IKpNC6J4","DisplayUrl":"origin-business.usa.gov\u002fevents\u002fnational-restaurant-association...","DateTime":"2016-04-16T17\u003a49\u003a00Z"},{"Title":"Events
        \u007c BusinessUSA","Description":"Learn About New Health Care Changes Help
        with Hiring Employees Seek Disaster Assistance Find Regulations Understanding
        Intellectual Property Find Green Opportunities ...","Url":"http\u003a\u002f\u002fbusiness.usa.gov\u002fevents-search\u002fevents\u002fevents\u002fsmall-business-development-center-training-428","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003d[...]
