---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)%20(-site:www.usa.gov%20AND%20-site:kids.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 96B52BB622944B4F87AC4B67F52D768F
      X-Msedge-Clientid:
      - 20CD995075C56DB63148925174526CD8
      X-Msapi-Userstate:
      - c778
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=69735FC5E487464D8F3DC5CDC92930FF&CID=20CD995075C56DB63148925174526CD8&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=69735FC5E487464D8F3DC5CDC92930FF&CID=20CD995075C56DB63148925174526CD8&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)+(-site%3awww.usa.gov+AND+-site%3akids.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5215.1", "totalEstimatedMatches": 5, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Health
        | USAGov", "url": "https:\/\/www.usa.gov\/health", "urlPingSuffix": "DevEx,5065.1",
        "displayUrl": "https:\/\/www.usa.gov\/health", "snippet": "An official
        website of the United States government. ... Health Information from the
        Government. ... About USA.gov; About Us and Site Notices;", "dateLastCrawled":
        "2017-09-12T01:53:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Publications.USA.gov Main Page", "url": "http:\/\/publications.usa.gov\/",
        "urlPingSuffix": "DevEx,5083.1", "displayUrl": "publications.usa.gov", "snippet":
        "Order FREE and low cost federal consumer publications from the Federal Citizen
        Information Center at GSA from Publications.USA.gov", "deepLinks": [{"name":
        "Select Publications", "url": "http:\/\/publications.usa.gov\/USAPubs.php?NavCode=Q",
        "urlPingSuffix": "DevEx,5076.1"}, {"name": "Health Publications", "url": "https:\/\/publications.usa.gov\/USAPubs.php?NavCode=XA&CatID=7",
        "urlPingSuffix": "DevEx,5077.1"}, {"name": "Education Publications", "url":
        "https:\/\/publications.usa.gov\/USAPubs.php?NavCode=XA&CatID=2", "urlPingSuffix":
        "DevEx,5078.1"}], "dateLastCrawled": "2017-09-15T05:08:00.0000000[...]
