---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(healthy%20snack)%20language:en%20(site:usa.gov)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028healthy
        snack\u0029 language\u003aen \u0028site\u003ausa.gov\u0029"},"Web":{"Total":30,"Offset":0,"Results":[{"Title":"Peanut
        Butter and Apple Wrap \u007c Video \u007c Kids.gov \u007c USAGov","Description":"Video
        Description\u003a Ingredients and steps to prepare the \u0022Peanut Butter
        and Apple Wrap\u0022 snack. Ingredients\u003a Whole-wheat tortilla Peanut
        butter, sunflower seed butter ...","Url":"https\u003a\u002f\u002fkids.usa.gov\u002fwatch-videos\u002fexercise-and-eating-healthy\u002fpeanut-butter-apple-wrap\u002findex.shtml","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealthy\u002bsnack\u0026d\u003d4542307531622255\u0026w\u003dtq0GfiFGxd4Rmi6fqaEmp11CF9kA4DgI","DisplayUrl":"https\u003a\u002f\u002fkids.usa.gov\u002fwatch-videos\u002fexercise-and-eating-healthy\u002f...","DateTime":"2016-11-24T09\u003a51\u003a00Z"},{"Title":"Healthy
        Snack \u00232\u003a Charger Wrap - USA.gov","Description":"Ingredients
        and steps to prepare a chicken veggie wrap snack.","Url":"https\u003a\u002f\u002fkids.usa.gov\u002fwatch-videos\u002fexercise-and-eating-healthy\u002fchicken-veggie-wrap\u002findex.shtml","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealthy\u002bsnack\u0026d\u003d4728155024132967\u0026w\u003d6XBwKhDwGudmHcSPIimNgTq4JcGJ5VRt[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - CD994C7D333246159F196A7C5C99494C
      X-Msedge-Clientid:
      - 02026038DC40699E38366A31DDD76847
      X-Msapi-Userstate:
      - 6bfc
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F8F8FAC9615948369253E571B4D5B3BA&CID=02026038DC40699E38366A31DDD76847&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F8F8FAC9615948369253E571B4D5B3BA&CID=02026038DC40699E38366A31DDD76847&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5317.1", "totalEstimatedMatches": 21500,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Healthy Snack #5: Frozen Fruit Cups | Videos | Kids.gov ...", "url": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/fruit-cups\/index.shtml",
        "urlPingSuffix": "DevEx,5072.1", "displayUrl": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/...",
        "snippet": "Healthy Snack #5: Frozen Fruit Cups ... A School Food Authority
        is responsible for verifying information for this recipe. Page last updated:
        Dec 6th, 2016", "dateLastCrawled": "2017-01-07T07:34:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Healthy Snack
        #2: Charger Wrap - USA.gov", "url": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/chicken-veggie-wrap\/index.shtml",
        "urlPingSuffix": "DevEx,5088.1", "displayUrl": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/...",
        "snippet": "Ingredients and steps to prepare a chicken veggie wrap snack.",
    [...]
