---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 32CC65C9F48A40D2A571E6948C3B6305
      X-Msedge-Clientid:
      - 14DE0B9E0C2E6426241301360D286530
      X-Msapi-Userstate:
      - e1f2
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=370CEB05C8184FA5A8842FBD32045B14&CID=14DE0B9E0C2E6426241301360D286530&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=370CEB05C8184FA5A8842FBD32045B14&CID=14DE0B9E0C2E6426241301360D286530&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 21 Jun 2017 16:07:25 GMT
recorded_with: VCR 3.0.3
