---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)%20(-site:www.usa.gov%20AND%20-site:kids.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0CD5D79CC30A4A4F93AC67DA6ED51A9D
      X-Msedge-Clientid:
      - 2488A64FE32E656B1E24ACD6E2B964CF
      X-Msapi-Userstate:
      - '8456'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=40B43333DB404D14A3273DB9C655F27E&CID=2488A64FE32E656B1E24ACD6E2B964CF&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=40B43333DB404D14A3273DB9C655F27E&CID=2488A64FE32E656B1E24ACD6E2B964CF&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)+(-site%3awww.usa.gov+AND+-site%3akids.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5191.1", "totalEstimatedMatches": 4, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Health
        | USAGov", "url": "https:\/\/www.usa.gov\/health", "urlPingSuffix": "DevEx,5062.1",
        "displayUrl": "https:\/\/www.usa.gov\/health", "snippet": "An official
        website of the United States government. ... Learn about health insurance,
        ... About USA.gov; About Us and Site Notices;", "dateLastCrawled": "2017-06-02T12:23:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Revealing
        Trans Fats - Publications.USA.gov Main Page", "url": "https:\/\/publications.usa.gov\/epublications\/reveal-fats\/reveal-fats.htm",
        "urlPingSuffix": "DevEx,5074.1", "displayUrl": "https:\/\/publications.usa.gov\/epublications\/reveal-fats\/reveal-fats.htm",
        "snippet": "Revealing Trans Fats. ... That makes CHD one of the leading
        causes of [...]
