---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - EE8F9A6A62374F6E980C1BB19518D494
      X-Msedge-Clientid:
      - 0C32A2408C666C7F0F40A9DE8D836D7D
      X-Msapi-Userstate:
      - 982f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=196D90CDE7EF46AAA9B799F54A492B32&CID=0C32A2408C666C7F0F40A9DE8D836D7D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=196D90CDE7EF46AAA9B799F54A492B32&CID=0C32A2408C666C7F0F40A9DE8D836D7D&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5323.1", "totalEstimatedMatches": 59100,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Health | USAGov", "url": "https:\/\/www.usa.gov\/health", "urlPingSuffix":
        "DevEx,5081.1", "displayUrl": "https:\/\/www.usa.gov\/health", "snippet":
        "Food Assistance; Social Security Questions; ... Health Information from the
        Government. Learn more about the best ways to find health information from
        the government.", "dateLastCrawled": "2018-02-16T22:57:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Food Assistance
        | USAGov", "url": "https:\/\/www.usa.gov\/food-help", "urlPingSuffix": "DevEx,5099.1",
        "displayUrl": "https:\/\/www.usa.gov\/food-help", "snippet": "Food Assistance.
        Find out how to get ... These programs can help you get healthy food for your
        children at their school, child care center, or after-school program ...",
        "dateLastCrawle[...]
