---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)%20(-site:www.usa.gov%20AND%20-site:kids.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 07E25B0D96014EDC9267C39A4C9E826E
      X-Msedge-Clientid:
      - 2321CF85492C621F3FA4C45848BB63AF
      X-Msapi-Userstate:
      - '0645'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=3EC8A1DC5F4C473080E76EB390957F38&CID=2321CF85492C621F3FA4C45848BB63AF&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=3EC8A1DC5F4C473080E76EB390957F38&CID=2321CF85492C621F3FA4C45848BB63AF&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)+(-site%3awww.usa.gov+AND+-site%3akids.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5198.1", "totalEstimatedMatches": 4, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Health
        | USAGov", "url": "https:\/\/www.usa.gov\/health", "urlPingSuffix": "DevEx,5068.1",
        "displayUrl": "https:\/\/www.usa.gov\/health", "snippet": "An official
        website of the United States government. ... Health Information from the
        Government. ... About USA.gov; About Us and Site Notices;", "dateLastCrawled":
        "2018-04-23T02:14:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Food Assistance | USAGov", "url": "https:\/\/www.usa.gov\/food-help",
        "urlPingSuffix": "DevEx,5086.1", "displayUrl": "https:\/\/www.usa.gov\/food-help",
        "snippet": "An official website of the United States government. ... Food
        Assistance. ... Call USA.gov; Chat with USA.gov;", "dateLastCrawled":
        "2018-04-21T14:43:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "USA.Gov Subscription Page", "url": "https:\/\/connect.usa.gov\/publications",
        "urlPingSuffix": "DevEx,5102.1", "about": [{"name": "USAGov"}], "displayUrl":
        "https:\/\/connect.usa.gov\/publications", "snippet": "Thank you for being
        a loyal visitor to the site! After six years of serving the American public
        and consumers, the Publications.USA.gov website has been discontinued.",
        "dateLastCrawled": "2018-04-23T02:23:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3",
        "name": "Lesson Plans | USAGov", "url": "https:\/\/www.usa.gov\/lesson-plans?source=kids",
        "urlPingSuffix": "DevEx,5118.1", "displayUrl": "https:\/\/www.usa.gov\/lesson-plans?source=kids",
        "snippet": "An official website of the United States government. Here''s
        how you know. ... Ask USA.gov a Question; Call 1-844-USAGOV1 (1-844-872-4681)
        Email Us; Chat with Us;", "dateLastCrawled": "2018-04-22T01:00:00.0000000Z"}]},
        "rankingResponse": {"mainline": {"items": [{"answerType": "WebPages", "resultIndex":
        0, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0"}}, {"answerType":
        "WebPages", "resultIndex": 1, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1"}},
        {"answerType": "WebPages", "resultIndex": 2, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2"}},
        {"answerType": "WebPages", "resultIndex": 3, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3"}}]}}}'
  recorded_at: Thu, 26 Apr 2018 23:53:46 GMT
recorded_with: VCR 4.0.0
