---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=888&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 4FDC925FB8CB4AC286E1FA80E71EF42E
      X-Msedge-Clientid:
      - 027FAAB4650063551E23A00B64976283
      X-Msapi-Userstate:
      - '6388'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F394200EFF0346769EAF43642B6897DC&CID=027FAAB4650063551E23A00B64976283&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F394200EFF0346769EAF43642B6897DC&CID=027FAAB4650063551E23A00B64976283&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5265.1", "totalEstimatedMatches": 273, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Search
        Results", "url": "https:\/\/publications.usa.gov\/USAPubs.php?NavCode=R&PageButton=56&PageCatID=0&PageCatName=&BegPub=530&selPubFormatID=0&LanguageID=0&searchText=&QueryType=search",
        "urlPingSuffix": "DevEx,5052.1", "displayUrl": "https:\/\/publications.usa.gov\/USAPubs.php?NavCode=R&PageButton=56&...",
        "snippet": "Food > Going Green > Health > History > Housing > Money > Small
        Business > Travel > Español. To order Federal Publications in print; visit.
        Home > Search Results ...", "dateLastCrawled": "2017-06-13T11:12:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Infrastructure
        | Community Solutions", "url": "https:\/\/communitysolutions.sites.usa.gov\/tag\/infrastructure\/",
        "urlPingSuffix": "DevEx,5066.1", "displayUrl": "https:\/\/communitysolutions.sites.usa.gov\/tag\/infrastructure",
        "snippet": "infrastructure. Single; Double; Triple; ARCHIVE: ... food
        and nutrition, employment opportunities, etc. tha[...]
