---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D2A884AB48084CD1A2A73519E8E99E7E
      X-Msedge-Clientid:
      - '0658F7EAA08260970B9EFC61A12D61E5'
      X-Msapi-Userstate:
      - '5124'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D8625351E9B545E5872EB0AB2CD02AAC&CID=0658F7EAA08260970B9EFC61A12D61E5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D8625351E9B545E5872EB0AB2CD02AAC&CID=0658F7EAA08260970B9EFC61A12D61E5&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5311.1", "totalEstimatedMatches": 83500,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Health | USAGov", "url": "https:\/\/www.usa.gov\/health", "urlPingSuffix":
        "DevEx,5080.1", "displayUrl": "https:\/\/www.usa.gov\/health", "snippet":
        "Food Assistance; Social Security Questions; ... Health Information from
        the Government. Learn more about the best ways to find health information
        from the government.", "dateLastCrawled": "2018-01-26T13:45:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Publications.USA.gov
        Main Page", "url": "http:\/\/publications.usa.gov\/USAPubs.php?PubID=211",
        "urlPingSuffix": "DevEx,5095.1", "displayUrl": "publications.usa.gov\/USAPubs.php?PubID=211",
        "snippet": "Order FREE and low cost federal consumer publications from the
        Federal Citizen Information Center at GSA from Publications.USA ... to keep
        food[...]
