---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=888&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8ED001CAFD80454DAB74A4BE95F3D6AE
      X-Msedge-Clientid:
      - 30AF66F3F3D26F9306E76A2AF2056EA8
      X-Msapi-Userstate:
      - b2eb
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=64C5238E1B1748E880EE2375DED2BAEA&CID=30AF66F3F3D26F9306E76A2AF2056EA8&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=64C5238E1B1748E880EE2375DED2BAEA&CID=30AF66F3F3D26F9306E76A2AF2056EA8&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5397.1", "totalEstimatedMatches": 66, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Links
        | Go.USA.gov", "url": "https:\/\/go.usa.gov\/shorturl\/user\/6?page=11",
        "urlPingSuffix": "DevEx,5057.1", "displayUrl": "https:\/\/go.usa.gov\/shorturl\/user\/6?page=11",
        "snippet": "Water is the foundation for life. Learn more about the tap water
        you use every day and why investing in our public water systems is essential
        to the future of safe drinking water.", "dateLastCrawled": "2018-12-22T19:54:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Official
        Guide to Government Information and Services | USAGov", "url": "https:\/\/www.usa.gov\/?db=www-fed-all&st=AS&ms0=should&mt0=all&rn=2&parsed=true&mw0=Healthy+People+2010",
        "urlPingSuffix": "DevEx,5069.1", "displayUrl": "https:\/\/www.usa.gov\/?db=www-fed-all&st=AS&ms0=should&mt0=all&rn=2&...",
        "snippet": "The .gov means it’s official. Federal government [...]
