---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B5AB1320778A4C90ACD16C895CC6A737
      X-Msedge-Clientid:
      - 06F16A6F985761952C7366B69980608A
      X-Msapi-Userstate:
      - 3ba8
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=3BC704C75D1647BFA4BABA29F94C8022&CID=06F16A6F985761952C7366B69980608A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=3BC704C75D1647BFA4BABA29F94C8022&CID=06F16A6F985761952C7366B69980608A&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 03 Jan 2019 18:31:14 GMT
recorded_with: VCR 4.0.0
