---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=888&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6CE977673CF44DFCBED64F7E62D54924
      X-Msedge-Clientid:
      - 16FFAEB13B4C69922ABBA4803A7D6876
      X-Msapi-Userstate:
      - fae4
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D0EF170E674B43E1B9A7885A7FDA79A2&CID=16FFAEB13B4C69922ABBA4803A7D6876&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D0EF170E674B43E1B9A7885A7FDA79A2&CID=16FFAEB13B4C69922ABBA4803A7D6876&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5147.1", "totalEstimatedMatches": 333, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Liposuction
        - Federal Citizen Information Center", "url": "http:\/\/publications.usa.gov\/pdfs\/pdf5966.pdf",
        "urlPingSuffix": "DevEx,5044.1", "displayUrl": "publications.usa.gov\/pdfs\/pdf5966.pdf",
        "snippet": "Liposuction Lots of people want ... If you eat a healthy diet
        and exercise, it might not. If you eat more or exercise less than you ...
        Food and Drug Administration (FDA)", "dateLastCrawled": "2017-02-13T06:14:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "analytics.usa.gov",
        "url": "https:\/\/analytics.usa.gov\/data\/live\/all-pages-realtime.csv",
        "urlPingSuffix": "DevEx,5053.1", "displayUrl": "https:\/\/analytics.usa.gov\/data\/live\/all-pages-realtime.csv",
        "snippet": "page,page_title,active_visitors irs.gov\/refunds,\"Where''s My
        Refund? - It''s Quick, Easy and Secure.\",6708 irs.gov\/,Internal Revenue
        Service,1124 weather.gov\/,National ...", "dateLastCrawled": "2017-02-12T18:44:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "Plant
        Science for Kids | Grades K - 5 | Kids.gov | USAGov", "url": "https:\/\/kids.usa.gov\/science\/plants\/index.shtml",
        "urlPingSuffix": "DevEx,5067.1", "displayUrl": "https:\/\/kids.usa.gov\/science\/plants",
        "snippet": "You are here Kids.gov Home > Science > Plants. ... Learn to
        Grow Your Own Food - Work with your mom or dad and you can grow your own
        fruits and vegetables at home.", "dateLastCrawled": "2017-02-11T09:28:00.0000000Z"}]},
        "rankingResponse": {"mainline": {"items": [{"answerType": "WebPages", "resultIndex":
        0, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0"}}, {"answerType":
        "WebPages", "resultIndex": 1, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1"}},
        {"answerType": "WebPages", "resultIndex": 2, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2"}}]}}}'
  recorded_at: Wed, 22 Feb 2017 21:43:15 GMT
recorded_with: VCR 3.0.3
