---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7A42FF4021A54176B1C967D3703D8862
      X-Msedge-Clientid:
      - 22C70303762465C32C94093277156443
      X-Msapi-Userstate:
      - 906d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=BD0F5AA0E13D425FB3E1432D6A4508A0&CID=22C70303762465C32C94093277156443&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=BD0F5AA0E13D425FB3E1432D6A4508A0&CID=22C70303762465C32C94093277156443&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5311.1", "totalEstimatedMatches": 22100,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Healthy Snack #5: Frozen Fruit Cups | Videos | Kids.gov ...", "url": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/fruit-cups\/index.shtml",
        "urlPingSuffix": "DevEx,5068.1", "displayUrl": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/...",
        "snippet": "Healthy Snack #5: Frozen Fruit Cups ... A School Food Authority
        is responsible for verifying information for this recipe. Page last updated:
        Dec 6th, 2016", "dateLastCrawled": "2017-02-03T04:21:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Peanut Butter
        and Apple Wrap | Video | Kids.gov | USAGov", "url": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/peanut-butter-apple-wrap\/index.shtml",
        "urlPingSuffix": "DevEx,5084.1", "displayUrl": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/...",
        "snippet": "Video Description: Ingredients and steps to prepare[...]
