---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)%20(-site:www.usa.gov%20AND%20-site:kids.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 19E7CFEEE7F5489AB79E674535ADA13D
      X-Msedge-Clientid:
      - 2AC17852359F645C15C77291340865A8
      X-Msapi-Userstate:
      - 479a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A91066477E484798B2F881C589FC5688&CID=2AC17852359F645C15C77291340865A8&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A91066477E484798B2F881C589FC5688&CID=2AC17852359F645C15C77291340865A8&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)+(-site%3awww.usa.gov+AND+-site%3akids.usa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5157.1", "totalEstimatedMatches": 2, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Health
        | USAGov", "url": "https:\/\/www.usa.gov\/health", "urlPingSuffix": "DevEx,5060.1",
        "displayUrl": "https:\/\/www.usa.gov\/health", "snippet": "An official
        website of the United States government. ... Health Information from the
        Government. ... About USA.gov; About Us and Site Notices;", "dateLastCrawled":
        "2017-07-12T03:27:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Revealing Trans Fats - Publications.USA.gov Main Page", "url":
        "https:\/\/publications.usa.gov\/epublications\/reveal-fats\/reveal-fats.htm",
        "urlPingSuffix": "DevEx,5073.1", "displayUrl": "https:\/\/publications.usa.gov\/epublications\/reveal-fats\/reveal-fats.htm",
        "snippet": "Revealing Trans Fats. ... That makes CHD one of the leading
        causes of death in the United States. ... some margarines, crackers, cookies,
        snack foods, ...", "dateLastCrawled": "2017-06-29T12:23:00.0000000Z"}]},
        "rankingResponse": {"mainline": {"items": [{"answerType": "WebPages", "resultIndex":
        0, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0"}}, {"answerType":
        "WebPages", "resultIndex": 1, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1"}}]}}}'
  recorded_at: Tue, 18 Jul 2017 17:46:42 GMT
recorded_with: VCR 3.0.3
