---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=888&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7AED74B128FE47F793A1E2AB270A85A0
      X-Msedge-Clientid:
      - 343572104C3D6BE11AD179114DAA6A96
      X-Msapi-Userstate:
      - '3702'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=7480DAC91A134C15AFA9D964FBB0DA7B&CID=343572104C3D6BE11AD179114DAA6A96&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=7480DAC91A134C15AFA9D964FBB0DA7B&CID=343572104C3D6BE11AD179114DAA6A96&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5243.1", "totalEstimatedMatches": 272, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Search
        Results", "url": "https:\/\/publications.usa.gov\/USAPubs.php?NavCode=R&PageButton=Next&PageCatID=7&PageCatName=&BegPub=250&selPubFormatID=0&LanguageID=0&searchText=&QueryType=search",
        "urlPingSuffix": "DevEx,5051.1", "displayUrl": "https:\/\/publications.usa.gov\/USAPubs.php?NavCode=R&PageButton=Next&...",
        "snippet": "Order FREE and low cost federal consumer publications from the
        Federal Citizen Information Center at GSA from Publications.USA.gov", "dateLastCrawled":
        "2017-08-13T04:26:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Extreme Heat | BusinessUSA", "url": "https:\/\/business.usa.gov\/program\/extreme-heat",
        "urlPingSuffix": "DevEx,5066.1", "displayUrl": "https:\/\/business.usa.gov\/program\/extreme-heat",
        "snippet": "Extreme Heat. Share ... hot weather can help you remain safe
        and healthy. ... opportunity for exhibitors to reach decision-makers from
        the [...]
