---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=888&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - BFD6E3D43C9A4F36BC29B24B2E138014
      X-Msedge-Clientid:
      - 2EE8FA3F840569E80646F0FC8592688D
      X-Msapi-Userstate:
      - '1136'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=BB030AFEA5054E6ABB8B7D98A91E7202&CID=2EE8FA3F840569E80646F0FC8592688D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=BB030AFEA5054E6ABB8B7D98A91E7202&CID=2EE8FA3F840569E80646F0FC8592688D&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5193.1", "totalEstimatedMatches": 303, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Housing
        Publications - Federal Citizen Information Center", "url": "http:\/\/publications.usa.gov\/USAPubs.php?NavCode=R&PageButton=5&PageCatID=8&PageCatName=Housing&BegPub=30&selPubFormatID=0&LanguageID=0&searchText=&QueryType=category",
        "urlPingSuffix": "DevEx,5049.1", "displayUrl": "publications.usa.gov\/USAPubs.php?NavCode=R&PageButton=5&PageCatID=...",
        "snippet": "Housing Publications. Browse information on financing and sales,
        insurance, home modifications and maintenance, improving energy efficiency,
        gardening and more.", "dateLastCrawled": "2017-07-08T02:10:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Adoption,
        Foster Care, and Other Child Related Issues | USAGov", "url": "https:\/\/www.usa.gov\/child-care",
        "urlPingSuffix": "DevEx,5064.1", "displayUrl": "https:\/\/www.usa.gov\/child-care",
        "snippet": "Children''s healthy development depends on safe and positive
        experiences starting at an early age throughout ... from food and housing
        to c[...]
