---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 63D50BB0DEFE42AFB1D093DD21884798
      X-Msedge-Clientid:
      - 13F412345B5C63BD0B1119BF5AF362D5
      X-Msapi-Userstate:
      - 22ea
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A023CB63BC4249FD8218F000DF428A2F&CID=13F412345B5C63BD0B1119BF5AF362D5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A023CB63BC4249FD8218F000DF428A2F&CID=13F412345B5C63BD0B1119BF5AF362D5&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5496.1", "totalEstimatedMatches": 96300,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Select Publications", "url": "https:\/\/publications.usa.gov\/USAPubs.php?NavCode=R&PageButton=Next&PageCatID=6&PageCatName=Food&BegPub=0&selPubFormatID=0&LanguageID=0&searchText=&QueryType=category",
        "urlPingSuffix": "DevEx,5088.1", "displayUrl": "https:\/\/publications.usa.gov\/USAPubs.php?NavCode=R&PageButton=Next&...",
        "snippet": "Food Publications. Learn more about making healthy food choices
        and nutrition for better health, safe food handling practices and preparation,
        and healthy food recipes.", "dateLastCrawled": "2018-01-14T12:19:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Health
        | USAGov", "url": "https:\/\/www.usa.gov\/health", "urlPingSuffix": "DevEx,5106.1",
        "displayUrl": "https:\/\/www.usa.gov\/health", "snippet": "Food Assistance;
        Social Security Questions; ... Health Information from the Government. Learn
        more about the best ways to find health information from the government.",
        "dateLastCrawled": "201[...]
