---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9ED2EF1311B64EC68E7AFB1042370956
      X-Msedge-Clientid:
      - 2C62CE48519B62A01E22C291504C6362
      X-Msapi-Userstate:
      - bca7
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D730AD771B9E473787E33D2A260FEF68&CID=2C62CE48519B62A01E22C291504C6362&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D730AD771B9E473787E33D2A260FEF68&CID=2C62CE48519B62A01E22C291504C6362&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5403.1", "totalEstimatedMatches": 144, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Health
        | USAGov", "url": "https:\/\/www.usa.gov\/health", "urlPingSuffix": "DevEx,5058.1",
        "displayUrl": "https:\/\/www.usa.gov\/health", "snippet": "Health Information
        from the Government. Learn more about the best ways to find health information
        from the government. Health Insurance. Learn about health insurance, including
        Medicaid and Medicare. Medications. Get answers to common questions about
        buying and using medicine and medical products. Mental Health and Substance
        Abuse", "dateLastCrawled": "2018-12-27T17:34:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Food Assistance | USAGov", "url": "https:\/\/www.usa.gov\/food-help",
        "urlPingSuffix": "DevEx,5071.1", "displayUrl": "https:\/\/www.usa.gov\/food-help",
        "snippet": "Food Assistance. Find out how to get food in case of an emergency,
        apply for food stamps and what free or low-cost food programs are available
        for infants, children and seniors. .[...]
