---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - EFADE58AB91F407B941BE855F19FBDC0
      X-Msedge-Clientid:
      - 01B903BE8D4F68AA1103097D8CD86933
      X-Msapi-Userstate:
      - 912b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F1AAEC746C3547889D6BBF92001CB135&CID=01B903BE8D4F68AA1103097D8CD86933&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F1AAEC746C3547889D6BBF92001CB135&CID=01B903BE8D4F68AA1103097D8CD86933&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 18 Jul 2017 17:46:43 GMT
recorded_with: VCR 3.0.3
