---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=888&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - EE6E7145A7904BD9AE86860B9A0D6DE6
      X-Msedge-Clientid:
      - 3000F4D9B33A68D7075BFEBBB2AD6917
      X-Msapi-Userstate:
      - c8c1
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C7F52299D5034C089A3134C570F30171&CID=3000F4D9B33A68D7075BFEBBB2AD6917&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C7F52299D5034C089A3134C570F30171&CID=3000F4D9B33A68D7075BFEBBB2AD6917&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5424.1", "totalEstimatedMatches": 330, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "National
        School Lunch Program and School Breakfast Program ...", "url": "https:\/\/business.usa.gov\/content\/national-school-lunch-program-and-school-breakfast-program-eliminating-applications-throug-0",
        "urlPingSuffix": "DevEx,5065.1", "displayUrl": "https:\/\/business.usa.gov\/content\/national-school-lunch-program-and...",
        "snippet": "The proposed rule will codify section 104(a) of the Healthy,
        Hunger-Free Kids Act of 2010 (Pub. L. 111-296; ... Food and Nutrition Service.
        Agency Contact Info. James.", "dateLastCrawled": "2017-01-03T11:23:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Family
        Publications", "url": "https:\/\/publications.usa.gov\/USAPubs.php?NavCode=XB&Sub2ID=155&CatID=4",
        "urlPingSuffix": "DevEx,5076.1", "displayUrl": "https:\/\/publications.usa.gov\/USAPubs.php?NavCode=XB&Sub2ID=155&CatID=4",
        "snippet": "Food > Going Green > Health > History > Housing > Money > Small
        Business > Travel > ... you can assure a safe an[...]
