---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 62F53CA191C346FE9C089E33A0C5D173
      X-Msedge-Clientid:
      - 285447050E416C813FB94C9B0FA46D19
      X-Msapi-Userstate:
      - 5a4e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=CEBFCCC90B844D7794EB9C86580EDF80&CID=285447050E416C813FB94C9B0FA46D19&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=CEBFCCC90B844D7794EB9C86580EDF80&CID=285447050E416C813FB94C9B0FA46D19&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5511.1", "totalEstimatedMatches": 59100,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Health | USAGov", "url": "https:\/\/www.usa.gov\/health", "urlPingSuffix":
        "DevEx,5091.1", "displayUrl": "https:\/\/www.usa.gov\/health", "snippet":
        "Food Assistance; Social Security Questions; ... Health Information from
        the Government. Learn more about the best ways to find health information
        from the government.", "dateLastCrawled": "2018-02-16T22:57:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Food
        Assistance | USAGov", "url": "https:\/\/www.usa.gov\/food-help", "urlPingSuffix":
        "DevEx,5109.1", "displayUrl": "https:\/\/www.usa.gov\/food-help", "snippet":
        "Food Assistance. Find out how to get ... These programs can help you get
        healthy food for your children at their school, child care center, or after-school
        program ...", "date[...]
