---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - AC0A69A79E904B1B93D0AC9830341484
      X-Msedge-Clientid:
      - 0AA31F20350D68FF2E0914BE34E8690C
      X-Msapi-Userstate:
      - e33a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=12A64D08D64A4BF7B8CF1CDA007FA848&CID=0AA31F20350D68FF2E0914BE34E8690C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=12A64D08D64A4BF7B8CF1CDA007FA848&CID=0AA31F20350D68FF2E0914BE34E8690C&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 22 Feb 2018 06:57:18 GMT
recorded_with: VCR 4.0.0
