---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(educaci%C3%B3n)%20language:es%20(site:usa.gov)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028educaci\u00f3n\u0029
        language\u003aes \u0028site\u003ausa.gov\u0029"},"Web":{"Total":13100,"Offset":0,"Results":[{"Title":"Recursos
        para la educaci\u00f3n \u007c USAGov","Description":"Becas, productos financieros
        y programas del Gobierno para la educaci\u00f3n superior. Recursos educativos.
        Informaci\u00f3n sobre programas o materiales para estudiar.","Url":"https\u003a\u002f\u002fgobierno.usa.gov\u002feducacion","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003deducaci\u0025c3\u0025b3n\u0026d\u003d4621034286814133\u0026w\u003dTQ-WB4qfk7E1Z3TIKCc1wlXg8g668W47","DisplayUrl":"https\u003a\u002f\u002fgobierno.usa.gov\u002feducacion","DateTime":"2016-11-20T08\u003a55\u003a00Z"},{"Title":"Ayuda
        financiera para estudiantes \u007c USAGov","Description":"Ayuda financiera
        para estudiantes. Becas, productos financieros y programas del Gobierno para
        la educaci\u00f3n superior.","Url":"https\u003a\u002f\u002fgobierno.usa.gov\u002fayuda-financiera-para-estudiantes","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003deducaci\u0025c3\u0025b3n\u0026d\u003d4939179638784598\u0026w\u003dH53E2oB_xLDGFBk[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=educaci%C3%B3n%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 07E30F9810B24E1CA0FD8F7DDE8131E7
      X-Msedge-Clientid:
      - 25E683FDD36969CA20B58A17D25868B2
      X-Msapi-Userstate:
      - d413
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=510B287A2658497A86B8F2A662DE8523&CID=25E683FDD36969CA20B58A17D25868B2&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=510B287A2658497A86B8F2A662DE8523&CID=25E683FDD36969CA20B58A17D25868B2&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=educaci%c3%b3n+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5320.1", "totalEstimatedMatches": 14200,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Recursos para la educación | USAGov", "url": "https:\/\/gobierno.usa.gov\/educacion",
        "urlPingSuffix": "DevEx,5087.1", "displayUrl": "https:\/\/gobierno.usa.gov\/educacion",
        "snippet": "Becas, productos financieros y programas del Gobierno para la
        educación superior. Recursos educativos. Información sobre programas o materiales
        para estudiar.", "dateLastCrawled": "2016-12-07T13:01:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Ayuda financiera
        para estudiantes | USAGov", "url": "https:\/\/gobierno.usa.gov\/ayuda-financiera-para-estudiantes",
        "urlPingSuffix": "DevEx,5101.1", "displayUrl": "https:\/\/gobierno.usa.gov\/ayuda-financiera-para-estudiantes",
        "snippet": "Ayuda financiera para estudiantes. Becas, productos financieros
        y programas del Gobierno para la educación superi[...]
