---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8ACB408DEBB74600BD38D5779989FC08
      X-Msedge-Clientid:
      - 367BA0BF0A48684E1622AA260BDF6983
      X-Msapi-Userstate:
      - dd90
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=3D1C68A65D554BEC883D6526F5E26242&CID=367BA0BF0A48684E1622AA260BDF6983&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=3D1C68A65D554BEC883D6526F5E26242&CID=367BA0BF0A48684E1622AA260BDF6983&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5509.1", "totalEstimatedMatches": 44600,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Peanut Butter and Apple Wrap | Video | Kids.gov | USAGov", "url": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/peanut-butter-apple-wrap\/index.shtml",
        "urlPingSuffix": "DevEx,5079.1", "displayUrl": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/...",
        "snippet": "Video Description: Ingredients and steps to prepare the \"Peanut
        Butter and Apple Wrap\" snack. Ingredients: Whole-wheat tortilla Peanut
        butter, sunflower seed butter ...", "dateLastCrawled": "2017-06-01T16:24:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Healthy
        Snack #2: Charger Wrap - USA.gov", "url": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/chicken-veggie-wrap\/index.shtml",
        "urlPingSuffix": "DevEx,5096.1", "displayUrl": "https:\/\/kids.usa.gov\/watch-videos\/exercise-and-eating-healthy\/...",
        "snippet": "Ingredients and steps to prepare a chicken veggie wrap snack.",
    [...]
