---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 638C93F067D448DD92E63B8E40FD56E1
      X-Msedge-Clientid:
      - 38AE657448196DD1393B75D049A96C8B
      X-Msapi-Userstate:
      - a287
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=38CC4F71D2F440398049C325143DC1F2&CID=38AE657448196DD1393B75D049A96C8B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=38CC4F71D2F440398049C325143DC1F2&CID=38AE657448196DD1393B75D049A96C8B&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5262.1", "totalEstimatedMatches": 41, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Food
        Assistance | USAGov", "url": "https:\/\/www.usa.gov\/food-help", "urlPingSuffix":
        "DevEx,5053.1", "displayUrl": "https:\/\/www.usa.gov\/food-help", "snippet":
        "Get information about government food programs including SNAP, D-SNAP, WIC,
        supplemental food for seniors, and free or reduced-price school lunch and
        breakfast. Learn how food programs can provide emergency help during the COVID-19
        pandemic.", "dateLastCrawled": "2021-08-27T23:45:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Government Benefits | USAGov", "url": "https:\/\/www.usa.gov\/benefits",
        "urlPingSuffix": "DevEx,5068.1", "displayUrl": "https:\/\/www.usa.gov\/benefits",
        "snippet": "Food. Supplemental Nutrition Assistance Program (SNAP, or food
        stamps) provides eligible people with benefits cards, used like debit cards,
        to buy food at authorized grocery stores and farmer[...]
