---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)%20-site:www.usa.gov%20-site:kids.usa.gov&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 796506CE76C44640A4B2C35D671AE93B
      X-Msedge-Clientid:
      - 1FC92EA94D1B6F27206724904C8C6EA1
      X-Msapi-Userstate:
      - b2e3
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B66FD8C15D054906828603AE5935F8F4&CID=1FC92EA94D1B6F27206724904C8C6EA1&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B66FD8C15D054906828603AE5935F8F4&CID=1FC92EA94D1B6F27206724904C8C6EA1&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 02 Mar 2017 19:50:42 GMT
recorded_with: VCR 3.0.3
