---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=888&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - DD2AD485EF374D48B85F721A82704CB5
      X-Msedge-Clientid:
      - 2A75183C7B76660E3CE312067AE167EF
      X-Msapi-Userstate:
      - fe6e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B4DA3AFDDCFE4A50B29400EB7B6B1AC6&CID=2A75183C7B76660E3CE312067AE167EF&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B4DA3AFDDCFE4A50B29400EB7B6B1AC6&CID=2A75183C7B76660E3CE312067AE167EF&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5407.1", "totalEstimatedMatches": 354, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Events
        | BusinessUSA", "url": "https:\/\/business.usa.gov\/events-search\/events\/south-seattle-export-seminar-wineries-breweries-cider-makers-distilleries-value-added-food",
        "urlPingSuffix": "DevEx,5062.1", "displayUrl": "https:\/\/business.usa.gov\/events-search\/events\/south-seattle-export...",
        "snippet": "Start a Business Access Financing Explore Exporting Grow Your
        Business Explore Government Contracting Learn About New Health Care Changes
        Browse Resources for ...", "dateLastCrawled": "2017-02-13T18:18:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Best Business
        Books from the U.S. Federal Government ...", "url": "https:\/\/business.usa.gov\/article\/best-business-books-us-federal-government",
        "urlPingSuffix": "DevEx,5075.1", "displayUrl": "https:\/\/business.usa.gov\/article\/best-business-books-us-federal...",
        "snippet": "... and your community safe and healthy—while you stay ... These
        two book[...]
