---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=888&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - F19C10AFCC8A4DFB83E4E06F68E17E67
      X-Msedge-Clientid:
      - 1B8D7D3AA8446A2323DA76E7A9D36BCB
      X-Msapi-Userstate:
      - f32e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=ED2C037215164C629D399EF7D8DC3E67&CID=1B8D7D3AA8446A2323DA76E7A9D36BCB&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=ED2C037215164C629D399EF7D8DC3E67&CID=1B8D7D3AA8446A2323DA76E7A9D36BCB&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5511.1", "totalEstimatedMatches": 99, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "For Media
        and Partners | USAGov", "url": "https:\/\/www.usa.gov\/media", "urlPingSuffix":
        "DevEx,5080.1", "displayUrl": "https:\/\/www.usa.gov\/media", "snippet":
        "For Media and Partners. Partnering with us is easy. Find all the ways
        we can work together. Features. You''re invited to read and use our bilingual
        articles covering trusted, timely, and valuable government information.",
        "dateLastCrawled": "2018-04-18T01:13:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Official Guide to Government Information and Services | USAGov",
        "url": "https:\/\/www.usa.gov\/?PARTITION_ID=1&COUNTRY=us&CONFIGURATION=1012&CMD=VIEW_ARTICLE&ARTICLE_ID=2711",
        "urlPingSuffix": "DevEx,5095.1", "displayUrl": "https:\/\/www.usa.gov\/?PARTITION_ID=1&COUNTRY=us&CONFIGURATION=1012&...",
        "snippet": "A Healthy Prescription For a Healthy Home Feelin[...]
