---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(healthy%20snack)%20language:en%20(site:usa.gov)&sources=Spell%20Web&traffictype=test&web.offset=888
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028healthy
        snack\u0029 language\u003aen \u0028site\u003ausa.gov\u0029"},"Web":{"Total":30,"Offset":20,"Results":[{"Title":"March
        \u007c Calendar \u007c Teachers \u007c Kids.gov \u007c USAGov","Description":"Find
        lesson activities on March Teacher\u0027s Calendar including Women\u0027s
        History Month, ... Video\u003a Healthy Snack\u003a Peanut Butter and Apple
        Wrap\u003b Video\u003a ...","Url":"https\u003a\u002f\u002fkids.usa.gov\u002fteachers\u002fcalendar\u002fmarch\u002findex.shtml","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealthy\u002bsnack\u0026d\u003d4532746932847002\u0026w\u003dS47-uQiwaO0NQQtISkBgInleAmsrSDAJ","DisplayUrl":"https\u003a\u002f\u002fkids.usa.gov\u002fteachers\u002fcalendar\u002fmarch\u002findex.shtml","DateTime":"2016-11-20T17\u003a41\u003a00Z"},{"Title":"Publications.USA.gov
        Main Page","Description":"Order FREE and low cost federal consumer publications
        from the Federal Citizen Information Center at GSA from Publications.USA.gov","Url":"http\u003a\u002f\u002fpublications.usa.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealthy\u002bsnack\u0026d\u003d4929769382347797\u0026w\u003dEoqCxDliednBzKjsplKQ60jsyAMoPA4Z","DisplayUrl":"publications.usa[...]
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=888&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7726E821CA1D47EFA2A4211A4ED22FBA
      X-Msedge-Clientid:
      - 1192662168AD63F53E506FCB699C625B
      X-Msapi-Userstate:
      - c1c5
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8B8DB259B5B44DB8A630F15060AA21C4&CID=1192662168AD63F53E506FCB699C625B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8B8DB259B5B44DB8A630F15060AA21C4&CID=1192662168AD63F53E506FCB699C625B&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5373.1", "totalEstimatedMatches": 358, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Search
        Results - Publications.USA.gov Main Page", "url": "http:\/\/publications.usa.gov\/USAPubs.php?NavCode=R&PageButton=Next&PageCatID=0&PageCatName=&BegPub=60&selPubFormatID=0&LanguageID=0&searchText=&QueryType=search",
        "urlPingSuffix": "DevEx,5065.1", "displayUrl": "publications.usa.gov\/USAPubs.php?NavCode=R&PageButton=Next&...",
        "snippet": "Search Results. To order a publication, click on the publication
        title to display that publication''s ordering information. We found 1336 publications
        that match your ...", "dateLastCrawled": "2016-09-01T08:44:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Search
        Results - Publications.USA.gov Main Page", "url": "http:\/\/publications.usa.gov\/USAPubs.php?NavCode=R&PageButton=Next&PageCatID=7&PageCatName=&BegPub=280&selPubFormatID=0&LanguageID=0&searchText=&QueryType=search",
        "urlPingSuffix": "DevEx,5076.1", "displayUrl": "publications.usa.gov\/USAPubs.php?NavCode=R&PageButton=Next&...",
        "snippet": "Search Re[...]
