---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(healthy%20snack)%20language:en%20(-site:www.usa.gov%20AND%20-site:kids.usa.gov)%20(site:usa.gov)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028healthy
        snack\u0029 language\u003aen \u0028-site\u003awww.usa.gov AND -site\u003akids.usa.gov\u0029
        \u0028site\u003ausa.gov\u0029"},"Spell":{"Total":1,"Results":[{"Value":"\u0028healthy
        snack\u0029 language\u003aen \u0028-site\u003awww.usa.gov and -site\u003akids.usa.gov\u0029
        \u0028site\u003ausa.gov\u0029"}]},"Web":{"Total":4,"Offset":0,"Results":[{"Title":"No
        Better Time Like Summer for Cool Snacks","Description":"Find Healthy Snack
        Videos for the Whole Family\u0021 Watching sports on TV can be fun but try
        and limit the junk food. Try snacking on veggies with this easy to make
        ...","Url":"http\u003a\u002f\u002fconnect.usa.gov\u002fno-better-time-like-summer-for-cool-snacks","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealthy\u002bsnack\u0026d\u003d4860908149216809\u0026w\u003dfdfDSHXadP6ifD6WYZAsMb0J9yKIGkNi","DisplayUrl":"connect.usa.gov\u002fno-better-time-like-summer-for-cool-snacks","DateTime":"2016-07-03T23\u003a55\u003a00Z"},{"Title":"Publications.USA.gov
        Main Page","Description":"Order FREE and low cost federal consumer publications
        from the Federal Citizen Information Center at GSA from Publications.USA.gov","Url":"http\u003a\u002f\u002fpublications.usa.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealthy\u002bsnack\u0026d\u003d4929769329656284\u0026w\u003d0rXwfSIcHxzBzKjsplKQ60jsyAMoPA4Z","DisplayUrl":"publications.usa[...]
