---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 2FB5F76E560E4699A62F77C7F413FDD3
      X-Msedge-Clientid:
      - 0E5FD6C43E016CA7271DC6603FB16D8D
      X-Msapi-Userstate:
      - 26bc
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5B119735ED534E569DAEA4E2ED32B319&CID=0E5FD6C43E016CA7271DC6603FB16D8D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5B119735ED534E569DAEA4E2ED32B319&CID=0E5FD6C43E016CA7271DC6603FB16D8D&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5257.1", "totalEstimatedMatches": 29, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Food
        Assistance | USAGov", "url": "https:\/\/www.usa.gov\/food-help", "urlPingSuffix":
        "DevEx,5053.1", "displayUrl": "https:\/\/www.usa.gov\/food-help", "snippet":
        "Get information about government food programs including SNAP, D-SNAP,
        WIC, supplemental food for seniors, and free or reduced-price school lunch
        and breakfast. Learn how food programs can provide emergency help during
        the COVID-19 pandemic.", "dateLastCrawled": "2021-08-27T23:45:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Government
        Benefits | USAGov", "url": "https:\/\/www.usa.gov\/benefits", "urlPingSuffix":
        "DevEx,5068.1", "displayUrl": "https:\/\/www.usa.gov\/benefits", "snippet":
        "Food. Supplemental Nutrition Assistance Program (SNAP, or food stamps)
        provides eligible people with benefits cards, used like debit cards, to buy
        food at authorized grocery[...]
