---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=888&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - E37D8D6013C64CC0A50F717E44A91116
      X-Msedge-Clientid:
      - 0D4DF5807EF062D319B9FF197F676365
      X-Msapi-Userstate:
      - e4b9
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=88B6F338A32D410DB16FE8A844755B2B&CID=0D4DF5807EF062D319B9FF197F676365&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=88B6F338A32D410DB16FE8A844755B2B&CID=0D4DF5807EF062D319B9FF197F676365&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5414.1", "totalEstimatedMatches": 285, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Care
        For Your Air: A Guide to Indoor Air Quality ...", "url": "https:\/\/publications.usa.gov\/USAPubs.php?PubID=365",
        "urlPingSuffix": "DevEx,5061.1", "displayUrl": "https:\/\/publications.usa.gov\/USAPubs.php?PubID=365",
        "snippet": "Food > Going Green > Health > History > Housing > ... Home >
        Selected Publication. Care For Your Air: A Guide to Indoor Air Quality.
        ... Healthy Indoor Painting Practices", "dateLastCrawled": "2017-05-07T17:38:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Layout
        1 (Page 1)", "url": "https:\/\/business.usa.gov\/export-portal?italy\/static\/zoomark05_Latest_eg_it_026274.pdf",
        "urlPingSuffix": "DevEx,5072.1", "displayUrl": "https:\/\/business.usa.gov\/export-portal?italy\/static\/zoomark05...",
        "snippet": "Specialty healthy foods for dogs with food allergies. Introducing
        travel meal bars for dogs on the [...]
