---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=educaci%C3%B3n%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 16F0E69162F44DECB1F40A22B2AEFFA5
      X-Msedge-Clientid:
      - 1F634C0CB7A467DA06CB5CA8B6D166B8
      X-Msapi-Userstate:
      - 8dc5
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=82825D48C6D542948A6A4ABCC128FD72&CID=1F634C0CB7A467DA06CB5CA8B6D166B8&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=82825D48C6D542948A6A4ABCC128FD72&CID=1F634C0CB7A467DA06CB5CA8B6D166B8&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=educaci%C3%B3n+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5253.1", "totalEstimatedMatches": 60500,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Education | USAGov", "url": "https:\/\/www.usa.gov\/education", "urlPingSuffix":
        "DevEx,5052.1", "displayUrl": "https:\/\/www.usa.gov\/education", "snippet":
        "Find government information on education including primary, secondary, and
        higher education.", "dateLastCrawled": "2021-08-29T05:12:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Recursos para
        la educación | USAGov", "url": "https:\/\/www.usa.gov\/espanol\/educacion",
        "urlPingSuffix": "DevEx,5066.1", "displayUrl": "https:\/\/www.usa.gov\/espanol\/educacion",
        "snippet": "Información del Gobierno sobre ayuda para estudiantes y personas
        que quieren aprender inglés. Ayuda financiera para estudiantes. Becas, productos
        financ[...]
