---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=888&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9D9F5E485ED2489DB2DDEE8A8AA7DEEB
      X-Msedge-Clientid:
      - 2161846390586E7E20F58E5A91CF6FD0
      X-Msapi-Userstate:
      - '6629'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=057620C9851C4D76BEF496142D1988E8&CID=2161846390586E7E20F58E5A91CF6FD0&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=057620C9851C4D76BEF496142D1988E8&CID=2161846390586E7E20F58E5A91CF6FD0&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5154.1", "totalEstimatedMatches": 367, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Search
        Results", "url": "http:\/\/publications.usa.gov\/USAPubs.php?NavCode=R&PageButton=Next&PageCatID=0&PageCatName=&BegPub=400&selPubFormatID=0&LanguageID=0&searchText=&QueryType=search",
        "urlPingSuffix": "DevEx,5045.1", "displayUrl": "publications.usa.gov\/USAPubs.php?NavCode=R&PageButton=Next&...",
        "snippet": "Food > Going Green > Health > History > Housing > Money > Small
        Business > Travel > Español. To order Federal Publications in print; visit.
        Home > Search Results ...", "dateLastCrawled": "2017-02-18T12:18:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "17 Contact
        Lens Care - publications.usa.gov", "url": "http:\/\/publications.usa.gov\/pdfs\/pdf5872.pdf",
        "urlPingSuffix": "DevEx,5055.1", "displayUrl": "publications.usa.gov\/pdfs\/pdf5872.pdf",
        "snippet": "OVER 2007 Contact Lens Care Keep your eyes safe! Take time to
        care for your contact lenses. Here are some tips for keeping your eyes healthy
[...]
