---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(healthy%20snack)%20language:en%20(-site:www.usa.gov%20AND%20-site:kids.usa.gov)%20(site:usa.gov)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028healthy
        snack\u0029 language\u003aen \u0028-site\u003awww.usa.gov AND -site\u003akids.usa.gov\u0029
        \u0028site\u003ausa.gov\u0029"},"Spell":{"Total":1,"Results":[{"Value":"\u0028healthy
        snack\u0029 language\u003aen \u0028-site\u003awww.usa.gov and -site\u003akids.usa.gov\u0029
        \u0028site\u003ausa.gov\u0029"}]},"Web":{"Total":3,"Offset":0,"Results":[{"Title":"What
        You Can Do To Stay Healthy - Publications.USA.gov ...","Description":"What
        is a healthy weight for me\u003f What are some ways I can control my weight\u003f
        Keep track of your weight. Use your personal prevention chart. Physical Activity.","Url":"http\u003a\u002f\u002fpublications.usa.gov\u002fepublications\u002fhealthy50plus\u002f50what.htm","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealthy\u002bsnack\u0026d\u003d4891393850606969\u0026w\u003dGS9Tay5BANuwWWbgqKsuKcsHXeuoNi8p","DisplayUrl":"publications.usa.gov\u002fepublications\u002fhealthy50plus\u002f50what.htm","DateTime":"2016-10-26T02\u003a09\u003a00Z"},{"Title":"Revealing
        Trans Fats - Publications.USA.gov Main Page","Description":"Revealing Trans
        Fats. ... snack foods, and other foods made with or fried in partially hydrogenated
        ... How Can You Use the Label to Make Heart-Healthy Food Choices\u003f","Url":"http\u003a\u002f\u002fpublications.usa.gov\u002fepublications\u002freveal-fats\u002freveal-fats.htm","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealthy\u002bsnack\u0026d\u003d4597871536244853\u0026w\u003dtjAU8KAjl7Mq3rCscDxPow6lzaN5Cv6q","DisplayUrl":"publications.usa.gov\u002fepublications\u002freveal-fats\u002freveal-fats.htm","DateTime":"2016-10-21T04\u003a28\u003a00Z"},{"Title":"Publications.USA.gov
        Main Page","Description":"Order FREE and low cost federal consumer publications
        from the Federal Citizen Information Center at GSA from Publications.USA.gov","Url":"http\u003a\u002f\u002fpublications.usa.gov\u002f","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003dhealthy\u002bsnack\u0026d\u003d4929769371402791\u0026w\u003d11i8_zdY91nBzKjsplKQ60jsyAMoPA4Z","DisplayUrl":"publications.usa.gov","DateTime":"2016-10-28T19\u003a41\u003a00Z"}]}}}'
  recorded_at: Fri, 04 Nov 2016 20:21:10 GMT
recorded_with: VCR 3.0.3
