---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 98C23B073BF24710A34B5C0A1827E81E
      X-Msedge-Clientid:
      - 2499A06B71C8641E2C66B0CF70356523
      X-Msapi-Userstate:
      - 3f15
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=5244DABFB48748F080F89405D26FADFE&CID=2499A06B71C8641E2C66B0CF70356523&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=5244DABFB48748F080F89405D26FADFE&CID=2499A06B71C8641E2C66B0CF70356523&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5251.1", "totalEstimatedMatches": 40, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Food
        Assistance | USAGov", "url": "https:\/\/www.usa.gov\/food-help", "urlPingSuffix":
        "DevEx,5054.1", "displayUrl": "https:\/\/www.usa.gov\/food-help", "snippet":
        "Get information about government food programs including SNAP, D-SNAP, WIC,
        supplemental food for seniors, and free or reduced-price school lunch and
        breakfast. Learn how food programs can provide emergency help during the COVID-19
        pandemic.", "dateLastCrawled": "2021-08-27T23:45:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Health Information from the Government | USAGov", "url": "https:\/\/www.usa.gov\/health-resources",
        "urlPingSuffix": "DevEx,5068.1", "displayUrl": "https:\/\/www.usa.gov\/health-resources",
        "snippet": "Health Resources and Information. There is a wealth of government
        resources and websites for health information, whether you’re researching
        a particular ill[...]
