---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 435E4CC403664D9580E0B5230212F6E3
      X-Msedge-Clientid:
      - 0CC20B2B8EFB694D15771B8F8F066889
      X-Msapi-Userstate:
      - 9d82
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F943C8A32725446DB6502B26D6B34F5F&CID=0CC20B2B8EFB694D15771B8F8F066889&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F943C8A32725446DB6502B26D6B34F5F&CID=0CC20B2B8EFB694D15771B8F8F066889&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5249.1", "totalEstimatedMatches": 38, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "Government
        Benefits | USAGov", "url": "https:\/\/www.usa.gov\/benefits", "urlPingSuffix":
        "DevEx,5054.1", "displayUrl": "https:\/\/www.usa.gov\/benefits", "snippet":
        "Food. Supplemental Nutrition Assistance Program (SNAP, or food stamps)
        provides eligible people with benefits cards, used like debit cards, to buy
        food at authorized grocery stores and farmers markets. Other food aid
        programs offer: Healthy foods to pregnant women, new moms, and kids under
        age 5", "dateLastCrawled": "2021-08-28T08:39:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "Health | USAGov", "url": "https:\/\/www.usa.gov\/health", "urlPingSuffix":
        "DevEx,5067.1", "displayUrl": "https:\/\/www.usa.gov\/health", "snippet":
        "Find tools to locate doctors, hospitals, care facilities, and other medical
        facilities. Learn more about the best ways to find health information from
        the government. Learn about health insurance, i[...]
