---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - DFC69D8C129E4A4C81C32923DF09E4AD
      X-Msedge-Clientid:
      - 3ECE43724C776B64235748F44DD86A2F
      X-Msapi-Userstate:
      - bfa9
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E86F90D8045946B1ADB20E502E077418&CID=3ECE43724C776B64235748F44DD86A2F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E86F90D8045946B1ADB20E502E077418&CID=3ECE43724C776B64235748F44DD86A2F&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5316.1", "totalEstimatedMatches": 85600,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Health | USAGov", "url": "https:\/\/www.usa.gov\/health", "urlPingSuffix":
        "DevEx,5081.1", "displayUrl": "https:\/\/www.usa.gov\/health", "snippet":
        "Food Assistance; Social Security Questions; ... Health Information from the
        Government. Learn more about the best ways to find health information from
        the government.", "dateLastCrawled": "2018-01-20T06:14:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Food Assistance
        | USAGov", "url": "https:\/\/www.usa.gov\/food-help", "urlPingSuffix": "DevEx,5099.1",
        "displayUrl": "https:\/\/www.usa.gov\/food-help", "snippet": "Food Assistance.
        Find out how to get ... These programs can help you get healthy food for your
        children at their school, child care center, or after-school program ...",
        "dateLastCrawle[...]
