---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=888&q=healthy%20snack%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6CB88054D39B4A059AEBF00446E94D41
      X-Msedge-Clientid:
      - 01E7C89E5C5260DE1541C3185DFD61E8
      X-Msapi-Userstate:
      - a4a7
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B4776BF4E96F4C219CDFB20864FBD829&CID=01E7C89E5C5260DE1541C3185DFD61E8&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B4776BF4E96F4C219CDFB20864FBD829&CID=01E7C89E5C5260DE1541C3185DFD61E8&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=healthy+snack+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5138.1", "totalEstimatedMatches": 266, "value":
        [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name": "analytics.usa.gov",
        "url": "https:\/\/analytics.usa.gov\/data\/live\/all-pages-realtime.json",
        "urlPingSuffix": "DevEx,5049.1", "displayUrl": "https:\/\/analytics.usa.gov\/data\/live\/all-pages-realtime.json",
        "snippet": "{ \"name\": \"all-pages-realtime\", \"sampling\": {}, \"query\":
        { \"dimensions\": \"rt:pagePath,rt:pageTitle\", \"metrics\": [ \"rt:activeUsers\"
        ], \"sort\": [ \"-rt:activeUsers ...", "dateLastCrawled": "2018-01-10T07:34:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "analytics.usa.gov",
        "url": "https:\/\/analytics.usa.gov\/data\/live\/all-pages-realtime.csv",
        "urlPingSuffix": "DevEx,5061.1", "displayUrl": "https:\/\/analytics.usa.gov\/data\/live\/all-pages-realtime.csv",
        "snippet": "page,page_title,active_visitors opm.gov\/policy-data-oversight\/snow-dismissal-procedures\/current-status\/,Current
        Status,3684 opm.gov\/,OPM.gov,1816 weather.gov ...", "dateLastCrawled": "2018-01-05T10:47:00.0000000Z"}]},
        "rankingResponse": {"mainline": {"items": [{"answerType": "WebPages", "resultIndex":
        0, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0"}}, {"answerType":
        "WebPages", "resultIndex": 1, "value": {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1"}}]}}}'
  recorded_at: Mon, 29 Jan 2018 19:02:15 GMT
recorded_with: VCR 3.0.3
