---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=0&q=educaci%C3%B3n%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 80728E3F71B54BAD9B9863FC7E8267D6
      X-Msedge-Clientid:
      - 02B67B8CF90669731F137115F89168EB
      X-Msapi-Userstate:
      - 8e54
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=F99EEA11FCA94333A638C3C44F7A3996&CID=02B67B8CF90669731F137115F89168EB&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=F99EEA11FCA94333A638C3C44F7A3996&CID=02B67B8CF90669731F137115F89168EB&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=educaci%c3%b3n+(site%3ausa.gov)",
        "webSearchUrlPingSuffix": "DevEx,5300.1", "totalEstimatedMatches": 10000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Recursos para la educación | USAGov", "url": "https:\/\/gobierno.usa.gov\/educacion",
        "urlPingSuffix": "DevEx,5064.1", "displayUrl": "https:\/\/gobierno.usa.gov\/educacion",
        "snippet": "Becas, productos financieros y programas del Gobierno para la
        educación superior. Recursos educativos. Información sobre programas o materiales
        para estudiar.", "dateLastCrawled": "2017-06-01T15:37:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Departamento
        de Educación | USAGov", "url": "https:\/\/www.usa.gov\/federal-agencies\/departamento-de-educacion",
        "urlPingSuffix": "DevEx,5078.1", "displayUrl": "https:\/\/www.usa.gov\/federal-agencies\/departamento-de-educacion",
        "snippet": "La misión del Departamento de Educación de Estados Unidos es
        garantizar la igualdad de acceso a la educación[...]
