---
http_interactions:
- request:
    method: get
    uri: https://search.gov/robots.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Last-Modified:
      - Wed, 19 Oct 2022 13:33:15 GMT
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Server:
      - Cloud.gov Pages
      X-Vcap-Request-Id:
      - 6e245df9-a58e-48c8-5251-36061783d425
      Etag:
      - '"b9347c90f141171fb96e83110e2e6c2c"'
    body:
      encoding: UTF-8
      string: 'Sitemap: https://search.gov/sitemap.xml

        '
  recorded_at: Mon, 08 Jan 2024 19:18:41 GMT
- request:
    method: get
    uri: https://search.gov/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Last-Modified:
      - Wed, 13 Dec 2023 13:26:12 GMT
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Server:
      - Cloud.gov Pages
      X-Vcap-Request-Id:
      - f329c8a6-987b-42be-72e3-f11e34178c7b
      Etag:
      - W/"7244006b7fe55da6e7bf6e105654e33e"
    body:
      encoding: UTF-8
      string: "\n\n<!DOCTYPE html>\n<html lang=\"en\">\n\n\n\n<head>\n  <!-- Basic
        Page Needs\n    ================================================== -->\n  <meta
        charset=\"utf-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n
        \ \n  <!-- Mobile Specific Metas\n    ==================================================
        -->\n  <meta name=\"HandheldFriendly\" content=\"True\">\n  <meta name=\"MobileOptimized\"
        content=\"320\">\n  <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0\">\n\n  <!-- Favicons\n    ==================================================
        -->\n  <link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"https://search.gov/assets/img/favicons/apple-touch-icon.png\">\n
        \ <link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"https://search.gov/assets/img/favicons/favicon-32x32.png\">\n
        \ <link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"https://search.gov/assets/img/favicon-16x16.png\">\n
        \ <link rel=\"manifest\" href=\"https://search.gov/assets/img/favicons/site.webmanifest\">\n
        \ <link rel=\"mask-icon\" href=\"https://search.gov/assets/img/favicons/safari-pinned-tab.svg\"
        color=\"#5bbad5\">\n  <link rel=\"shortcut icon\" href=\"https://search.gov/assets/img/favicons/favicon.ico\">\n
        \ <meta name=\"msapplication-TileColor\" content=\"#da532c\">\n  <meta name=\"msapplication-config\"
        content=\"https://search.gov/assets/img/favicons/browserconfig.xml\">\n  <meta
        name=\"theme-color\" content=\"#ffffff\">\n  <!-- CSS\n    ==================================================
        -->\n  <link type=\"text/css\" href=\"/assets/css/styles.css\" rel=\"stylesheet\"
        />\n\n  <!-- Google Tag Manager -->\n    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\n
        \     new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\n
        \     j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n
        \     'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\n
        \     })(window,document,'script','dataLayer','GTM-N56JXGD');</script>\n  <!--
        End Google Tag Manager -->\n  <!-- Begin Jekyll SEO tag v2.8.0 -->\n<title>Search.gov
        Home | Search.gov</title>\n<meta name=\"generator\" content=\"Jekyll v4.3.2\"
        />\n<meta property=\"og:title\" content=\"Search.gov Home\" />\n<meta property=\"og:locale\"
        content=\"en_US\" />\n<meta name=\"description\" content=\"Search.gov powers
        thousands of federal government search boxes. Use it to improve the public’s
        search experience on your agency’s site.\" />\n<meta property=\"og:description\"
        content=\"Search.gov powers thousands of federal government search boxes.
        Use it to improve the public’s search experience on your agency’s site.\"
        />\n<link rel=\"canonical\" href=\"https://search.gov/\" />\n<meta property=\"og:url\"
        content=\"https://search.gov/\" />\n<meta property=\"og:site_name\" content=\"Search.gov\"
        />\n<meta property=\"og:type\" content=\"website\" />\n<meta name=\"twitter:card\"
        content=\"summary\" />\n<meta property=\"twitter:title\" content=\"Search.gov
        Home\" />\n<script type=\"application/ld+json\">\n{\"@context\":\"https://schema.org\",\"@type\":\"WebSite\",\"description\":\"Search.gov
        powers thousands of federal government search boxes. Use it to improve the
        public’s search experience on your agency’s site.\",\"headline\":\"Search.gov
        Home\",\"name\":\"Search.gov\",\"url\":\"https://search.gov/\"}</script>\n<!--
        End Jekyll SEO tag -->\n\n\n  <!-- Custom Fields -->\n  \n  \n  \n  <!-- End
        Custom Fields -->\n\n</head>\n\n\n<body>\n  \n\n<!-- Google Tag Manager (noscript)
        -->\n<noscript><iframe sandbox src=\"https://www.googletagmanager.com/ns.html?id=GTM-N56JXGD\"\n
        \ height=\"0\" width=\"0\" style=\"display:none;visibility:hidden\"></iframe></noscript>\n<!--
        End Google Tag Manager (noscript) -->\n\n<a class=\"usa-skipnav\" href=\"#main-content\">Skip
        to main content</a>\n<div class=\"usa-banner\">\n  <div class=\"usa-accordion\">\n
        \   <section\n      id=\"gov-banner-header-section\"\n      aria-label=\"USA
        Gov banner section header\"\n      class=\"usa-banner__header\"\n    >\n      <div
        class=\"usa-banner__inner\">\n        <div class=\"grid-col-auto\">\n          <img
        src=\"/assets/uswds/img/us_flag_small.png\" class=\"usa-banner__header-flag\"
        alt=\"U.S. flag\" />\n        </div>\n        <div class=\"grid-col-fill tablet:grid-col-auto\">\n
        \         <p class=\"usa-banner__header-text\">\n            An official website
        of the United States government\n          </p>\n          <p class=\"usa-banner__header-action\"
        aria-hidden=\"true\">\n            Here’s how you know\n          </p>\n        </div>\n
        \       <button\n          class=\"usa-accordion__button usa-banner__button\"\n
        \         aria-expanded=\"<DATADOG_API_ENABLED>\"\n          aria-controls=\"gov-banner\"\n
        \       >\n          <span class=\"usa-banner__button-text\">Here's how you
        know</span>\n        </button>\n      </div>\n    </section>\n    <div class=\"usa-banner__content
        usa-accordion__content\" id=\"gov-banner\">\n      <div class=\"grid-row grid-gap-lg\">\n
        \       <div class=\"usa-banner__guidance tablet:grid-col-6\">\n          <img
        src=\"/assets/uswds/img/icon-dot-gov.svg\" class=\"usa-banner__icon usa-media-block__img\"
        alt=\"Dot gov\" />\n          <div class=\"usa-media-block__body\">\n            <p>\n
        \             <strong>Official websites use .gov</strong><br />A\n              <strong>.gov</strong>
        website belongs to an official government\n              organization in the
        United States.\n            </p>\n          </div>\n        </div>\n        <div
        class=\"usa-banner__guidance tablet:grid-col-6\">\n          <img src=\"/assets/uswds/img/icon-https.svg\"
        class=\"usa-banner__icon usa-media-block__img\" alt=\"Https\" />\n          <div
        class=\"usa-media-block__body\">\n            <p>\n              <strong>Secure
        .gov websites use HTTPS</strong><br />A\n              <strong>lock</strong>
        (\n              <span class=\"icon-lock\"\n                ><svg\n                  xmlns=\"http://www.w3.org/2000/svg\"\n
        \                 width=\"52\"\n                  height=[...]
- request:
    method: get
    uri: https://www.medicare.gov/robots.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Drupal-Dynamic-Cache:
      - MISS
      Content-Language:
      - en
      Last-Modified:
      - Tue, 02 Jan 2024 20:44:48 GMT
      Etag:
      - '"1704228288"'
      X-Generator:
      - Drupal 10 (https://www.drupal.org)
      X-Ah-Environment:
      - prod
      X-Age:
      - '152651'
    body:
      encoding: UTF-8
      string: "#\r\n# robots.txt\r\n#\r\n# This file is to prevent the crawling and
        indexing of certain parts\r\n# of your site by web crawlers and spiders run
        by sites like Yahoo!\r\n# and Google. By telling these \"robots\" where not
        to go on your site,\r\n# you save bandwidth and server resources.\r\n#\r\n#
        This file will be ignored unless it is at the root of your host:\r\n# Used:
        \   http://example.com[...]
- request:
    method: get
    uri: https://www.medicare.gov/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Drupal-Dynamic-Cache:
      - MISS
      X-Age:
      - '355137'
      X-Ah-Environment:
      - prod
      X-Generator:
      - Drupal 10 (https://www.drupal.org)
      Etag:
      - '"1704383399"'
      Content-Language:
      - en
      X-Akamai-Transformed:
      - 9l 137861 0 pmb=mTOE,1
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\" dir=\"ltr\">\n  <head>\n    <meta
        charset=\"utf-8\" /><script type=\"text/javascript\" src=\"https://www.medicare.gov/static/b8e2d9e93353354994b8f762fa69d172d6750013ed7077\"
        \ ></script><script type=\"text/javascript\">(window.NREUM||(NREUM={})).init={privacy:{cookies_enabled:true},ajax:{deny_list:[\"gov-bam.nr-data.net\"]},distributed_tracing:{enabled:true}};(window.[...]
- request:
    method: get
    uri: https://www.whitehouse.gov/robots.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Build-Back-Better:
      - https://usds.gov/
      X-Rq:
      - dca6 96 184 443
    body:
      encoding: UTF-8
      string: |
        User-agent: *
        Disallow:

        Sitemap: https://www.whitehouse.gov/sitemap_index.xml
        Sitemap: https://www.whitehouse.gov/es/sitemap_index.xml
  recorded_at: Mon, 08 Jan 2024 19:18:42 GMT
- request:
    method: get
    uri: https://www.whitehouse.gov/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Build-Back-Better:
      - https://usds.gov/
      X-Rq:
      - dca6 96 184 443
    body:
      encoding: UTF-8
      string: "<!doctype html>\n<html class=\"no-js alert__has-cookie\" lang=\"en-US\">\n<head>\n\t<meta
        charset=\"utf-8\[...]
- request:
    method: get
    uri: https://www.consumerfinance.gov/robots.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Etag:
      - '"abdb9195edff59f3d7588eb4cc21f46d"'
    body:
      encoding: UTF-8
      string: |-
        User-agent: *
        Disallow: /save-hud-counselors-list
        Disallow: /about-us/the-bureau/leadership-calendar/pdf
        Disallow: /es/obtener-respuestas/*.imprimir.html
        Disallow: /external-site
        Disallow: /*?success
        Disallow: *form-id=*
        Disallow: /?page=
        Disallow: /hud-api-replace
        Disallow: /yourstory
        Disallow: /ask-cfpb/search/
        Disallow: /ask-cfpb/search-by-tag/
        Disallow: /askcfpb/search/
        Disallow: /es/obtener-respuestas/buscar/
        Disallow: /es/obtener-respuestas/buscar-por-etiqueta/
        Disallow: /consumer-tools/educator-tools/youth-financial-education/curriculum-review/tool/*
        Disallow: /paying-for-college2/*

        sitemap: https://www.consumerfinance.gov/sitemap.xml
  recorded_at: Mon, 08 Jan 2024 19:18:43 GMT
- request:
    method: get
    uri: https://www.consumerfinance.gov/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - '"d4edba59a14a3b445cc1d4bdfcf8eb7b"'
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n\n<html lang=\"en\" class=\"no-js\">\n\n<head prefix=\"og:
        http://ogp.me/ns# fb: http://ogp.me/ns/fb# \">\n\n\n\n    <meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge\">\n    <meta charset=\"utf-8\"><script type=\"text/javascript\">(window.NREUM||(NREUM={})).init={ajax:{deny_list:[\"gov-bam.nr-data.net\"]}};(window.NREUM||(NREUM={})).loader_config={xpid:\"UgEHVFBRGwIHUFBaAAYF\",licenseKey:\"c656a7b008\",applicationID:\"17418772\"};;/*!
        For license information please see nr-loader-full-1.249.0.min.js.LICENSE.txt
        */\n(()=>{var e,t,[...]
