---
http_interactions:
- request:
    method: get
    uri: http://www.medicare.gov/robots.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.medicare.gov/robots.txt
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 28 Sep 2022 18:26:52 GMT
- request:
    method: get
    uri: https://www.medicare.gov/robots.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      X-Drupal-Dynamic-Cache:
      - MISS
      Content-Language:
      - en
      Last-Modified:
      - Tue, 27 Sep 2022 20:03:13 GMT
      Etag:
      - '"1664308993"'
      X-Generator:
      - Drupal 9 (https://www.drupal.org)
      X-Ah-Environment:
      - prod
      X-Age:
      - '217'
    body:
      encoding: UTF-8
      string: "#\r\n# robots.txt\r\n#\r\n# This file is to prevent the crawling and
        indexing of certain parts\r\n# of your site by web crawlers and spiders run
        by sites like Yahoo!\r\n# and Google. By telling these \"robots\" where not
        to go on your site,\r\n# you save bandwidth and server resources.\r\n#\r\n#
        This file will be ignored unless it is at the root of your host:\r\n# Used:
        \   http://example.com/ro[...]
- request:
    method: get
    uri: http://www.medicare.gov/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.medicare.gov/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 28 Sep 2022 18:26:53 GMT
- request:
    method: get
    uri: https://www.medicare.gov/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Drupal-Dynamic-Cache:
      - MISS
      X-Age:
      - '5'
      X-Ah-Environment:
      - prod
      X-Generator:
      - Drupal 9 (https://www.drupal.org)
      Etag:
      - '"1664389159"'
      Content-Language:
      - en
      X-Akamai-Transformed:
      - 9 62451 0 pmb=mTOE,1
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\" dir=\"ltr\" prefix=\"content: http://purl.org/rss/1.0/modules/content/
        \ dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#
        \ rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/
        \ sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos:
        http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema#
        \">\n  <head>\n    <meta charset=\"utf-8\" /><script type=\"text/javascript\">(window.NREUM||(NREUM={})).init={privacy:{cookies_enabled:true},ajax:{deny_list:[\"gov-bam.nr-data.net\"]},distributed_tracing:{enabled:true}};(window.NREUM||(NREUM={})).loader_config={agentID:\"1134242368\",accountID:\"1928905\",trustKey:\"39033\",xpid:\"VQ8FWV9TDRAJUVhbDgMHUVA=\",licenseKey:\"04d273ebc4\",applicationID:\"959992074\"};window.NREUM||(NREUM={}),__nr_require=function(t,e,n){function
        r(n){if(!e[n]){var o=e[n]={exports:{}};t[n][0].call(o.exports,func[...]
- request:
    method: get
    uri: http://www.consumerfinance.gov/robots.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.consumerfinance.gov/robots.txt
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 28 Sep 2022 18:26:53 GMT
- request:
    method: get
    uri: https://www.consumerfinance.gov/robots.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Etag:
      - '"abdb9195edff59f3d7588eb4cc21f46d"'
    body:
      encoding: UTF-8
      string: |-
        User-agent: *
        Disallow: /save-hud-counselors-list
        Disallow: /about-us/the-bureau/leadership-calendar/pdf
        Disallow: /es/obtener-respuestas/*.imprimir.html
        Disallow: /external-site
        Disallow: /*?success
        Disallow: *form-id=*
        Disallow: /?page=
        Disallow: /hud-api-replace
        Disallow: /yourstory
        Disallow: /ask-cfpb/search/
        Disallow: /ask-cfpb/search-by-tag/
        Disallow: /askcfpb/search/
        Disallow: /es/obtener-respuestas/buscar/
        Disallow: /es/obtener-respuestas/buscar-por-etiqueta/
        Disallow: /consumer-tools/educator-tools/youth-financial-education/curriculum-review/tool/*
        Disallow: /paying-for-college2/*

        sitemap: https://www.consumerfinance.gov/sitemap.xml
  recorded_at: Wed, 28 Sep 2022 18:26:53 GMT
- request:
    method: get
    uri: http://www.consumerfinance.gov/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.consumerfinance.gov/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 28 Sep 2022 18:26:53 GMT
- request:
    method: get
    uri: https://www.consumerfinance.gov/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - '"a690ebb77be0b896ac54b50953cbe9d7"'
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n\n<html lang=\"en\" class=\"no-js\">\n\n<head prefix=\"og:
        http://ogp.me/ns# fb: http://ogp.me/ns/fb# \">\n\n\n\n   [...]
