---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=20&q=agncy%20(site:nasa.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D5C7AD20C4A443FA8BB20443105E8DBF
      X-Msedge-Clientid:
      - 27A82E6A499268F839DE252D480569D9
      X-Msapi-Userstate:
      - a823
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=03F2BB35B604495B8CBD938D660E5EF4&CID=27A82E6A499268F839DE252D480569D9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=03F2BB35B604495B8CBD938D660E5EF4&CID=27A82E6A499268F839DE252D480569D9&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=agncy%20(site:nasa.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5124.1", "totalEstimatedMatches": 102, "nextOffset":
        30, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=861FB5496FF061277EED61DD376C8FFA2DC5471E&simid=608000352651906136",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "Space Images | Clumps of
        Cold Stuff Across the Sky", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.kHe2ligYCAk4felsSgn3TQEsCY&pid=Api",
        "datePublished": "2017-06-30T18:02:00.0000000Z", "contentUrl": "http:\/\/www.jpl.nasa.gov\/spaceimages\/images\/largesize\/PIA13779_hires.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/www.jpl.nasa.gov\/spaceimages\/details.php?id=PIA13779",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "189697 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.jpl.nasa.gov\/spaceimages\/details.php?id=PIA13779",
        "width": 2012, "height": 1024, "thumbnail": {"width": 300, "height": 152},
        "imageInsightsToken": "ccid_kHe2ligY*mid_861FB5496FF061277EED61DD376C8FFA2DC5471E*simid_608000352651906136",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "861FB5496FF061277EED61DD376C8FFA2DC5471E", "accentColor": "0CAEBF"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=6BC5B6EE4DD13E70579259149D685570928AF492&simid=608031473979032196",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "JSC Features - Unleash
        your inner innovator Nov. 1 to 2 - https:\/\/jscfeatures.jsc.nasa.gov\/pages
        ...", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.RzRBiecJBBbSAL6heIdxZwFBDC&pid=Api",
        "datePublished": "2[...]
