---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=20&q=agncy%20(site:nasa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 06D35BB554B44272849D4B46AA892CE6
      X-Msedge-Clientid:
      - 2458A0BA5DE564952D27ACED5CEA6598
      X-Msapi-Userstate:
      - '3550'
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=603D25FB1A324C39ABB17D1C3E868C4D&CID=2458A0BA5DE564952D27ACED5CEA6598&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=603D25FB1A324C39ABB17D1C3E868C4D&CID=2458A0BA5DE564952D27ACED5CEA6598&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=agncy%20(site:nasa.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5126.1", "totalEstimatedMatches": 121, "nextOffset":
        30, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=684444DEFD0E6E0910881D307C93C8912AD59EF6&simid=608024894699013819",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "Measuring Earth’s Magnetism
        : Image of the Day", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.n9VLx6ZvZsm261TMfHqoRgHaF7&pid=Api",
        "datePublished": "2017-01-28T01:08:00.0000000Z", "contentUrl": "http:\/\/eoimages.gsfc.nasa.gov\/images\/imagerecords\/84000\/84266\/magneticfieldchange_swa_201401-06_lrg.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/earthobservatory.nasa.gov\/IOTD\/view.php?id=84266",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "2770723 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "earthobservatory.nasa.gov\/IOTD\/view.php?id=84266",
        "width": 6000, "height": 4800, "thumbnail": {"width": 474, "height": 379},
        "imageInsightsToken": "ccid_n9VLx6Zv*mid_684444DEFD0E6E0910881D307C93C8912AD59EF6*simid_608024894699013819",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "684444DEFD0E6E0910881D307C93C8912AD59EF6", "accentColor": "C70428"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=E821B39EE448CFB2F969476451643B9F5A2F4D66&simid=608039652233251852",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "NASA and Korean Space Agency
        Discuss Space Cooperation | NASA", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.A6eut9uz-gJKfltrMSzf5AHaDt&pid=Api",
        "datePublished": "2013-07-29T16:00:00.0000000Z", "contentUrl": "http:[...]
