---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=20&q=agncy%20(site:nasa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 1C2E575C9B544307B8C9D4839D639390
      X-Msedge-Clientid:
      - 2CB01CF5EEA36FF120E40C51EF5E6E00
      X-Msapi-Userstate:
      - 922b
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=AFC2E06F793A455EAECE083CE1597064&CID=2CB01CF5EEA36FF120E40C51EF5E6E00&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=AFC2E06F793A455EAECE083CE1597064&CID=2CB01CF5EEA36FF120E40C51EF5E6E00&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=agncy%20(site:nasa.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5142.1", "totalEstimatedMatches": 200, "nextOffset":
        30, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=59F69CC4801CC2570A23EB7E4ED20FBC1DC007BD&simid=608028177949276033",
        "webSearchUrlPingSuffix": "DevEx,5026.1", "name": "European Space Agency astronaut
        Luca Parmitano | NASA", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.KIdhIXMDPgSQa1jUSgUl-gHaLJ&pid=Api",
        "datePublished": "2021-03-01T15:03:00.0000000Z", "contentUrl": "http:\/\/www.nasa.gov\/sites\/default\/files\/iss037e004496.jpg",
        "contentUrlPingSuffix": "DevEx,5028.1", "hostPageUrl": "https:\/\/www.nasa.gov\/content\/european-space-agency-astronaut-luca-parmitano-20\/",
        "hostPageUrlPingSuffix": "DevEx,5027.1", "contentSize": "1845642 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.nasa.gov\/content\/european-space-agency-astronaut-luca-parmitano-20",
        "width": 2848, "height": 4288, "thumbnail": {"width": 474, "height": 713},
        "imageInsightsToken": "ccid_KIdhIXMD*mid_59F69CC4801CC2570A23EB7E4ED20FBC1DC007BD*simid_608028177949276033",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "59F69CC4801CC2570A23EB7E4ED20FBC1DC007BD", "accentColor": "048DC8"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=97C172426C9046B82DAAA1F2DCD2816F969ECD42&simid=608049742980270728",
        "webSearchUrlPingSuffix": "DevEx,5057.1", "name": "European Space Agency astronaut
        Luca Parmitano | NASA", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.rgj6_l7rhHxL0zGTqzX01gHaE6&pid=Api",
        "datePublished": "2018-11-07T05:44:00.0000000Z", "contentUrl": "http:\/\/www.[...]
