---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=20&q=agncy%20(site:nasa.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A264DA3BB7EA4D40B598F84D6C7B0E7E
      X-Msedge-Clientid:
      - 3A9DA249841862D1099BA82B858F631E
      X-Msapi-Userstate:
      - 6fd8
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=CA11443940C94A10A8BB2032DE20DD88&CID=3A9DA249841862D1099BA82B858F631E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=CA11443940C94A10A8BB2032DE20DD88&CID=3A9DA249841862D1099BA82B858F631E&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=agncy%20(site:nasa.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5119.1", "totalEstimatedMatches": 116, "nextOffset":
        31, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=BAFD3BC439DBB08076BF3A0F958B4E1E68E7F553&simid=607988536692051927",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "Agency Business Services
        - NASA Shared Services", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.XgL-u0yLSU0ZUIeMSGKDrwEsB1&pid=Api",
        "datePublished": "2013-12-31T23:15:00.0000000Z", "contentUrl": "https:\/\/www.nssc.nasa.gov\/documents\/10179\/13831\/ABS_Banner.png\/c443013e-2377-4b87-a21d-13adaec6e647?t=1367860088620?t=1367860088620?t=1365623788163?t=1365623788162",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "https:\/\/www.nssc.nasa.gov\/abs",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "266324 B", "encodingFormat":
        "png", "hostPageDisplayUrl": "https:\/\/www.nssc.nasa.gov\/abs", "width":
        705, "height": 277, "thumbnail": {"width": 300, "height": 117}, "imageInsightsToken":
        "ccid_XgL+u0yL*mid_BAFD3BC439DBB08076BF3A0F958B4E1E68E7F553*simid_607988536692051927",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "BAFD3BC439DBB08076BF3A0F958B4E1E68E7F553", "accentColor": "0066B2"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=56F9C685D7F3F323155BE53E4C819FC131AFF123&simid=608042515841878606",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "40 Soyuz Commander Maxim
        Suraev, of the Russian Federal Space Agency ...", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.f9HsZzssFZqNzjI7rqu6kQEsDa&pid=Api",
        "datePublished": "2014-05-28T16:00:00.0000000Z", "contentU[...]
