---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - b1rd1sth3p4ssw0rd
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 50F762499DD043B5ACDD040A7D1933CC
      X-Msedge-Clientid:
      - 07D7C410CCF367823570C84CCD2466F6
      X-Msapi-Userstate:
      - 11f0
    body:
      encoding: UTF-8
      string: '{"_type": "ErrorResponse", "instrumentation": {}, "errors": [{"code":
        "RequestParameterMissing", "message": "Required parameter is missing.", "parameter":
        "q"}]}'
  recorded_at: Fri, 31 Aug 2018 21:46:11 GMT
recorded_with: VCR 4.0.0
