---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=20&q=agncy%20(site:nasa.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9522BEA81C3345A58343AF5B3CB6E342
      X-Msedge-Clientid:
      - '091C6FF24E4466181A6A64794FEB677E'
      X-Msapi-Userstate:
      - 050c
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=42D3C36F52A44AF89580BE408D3AACD7&CID=091C6FF24E4466181A6A64794FEB677E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=42D3C36F52A44AF89580BE408D3AACD7&CID=091C6FF24E4466181A6A64794FEB677E&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=agncy%20(site:nasa.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5126.1", "totalEstimatedMatches": 110, "nextOffset":
        30, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=C0B830263D250A6ABBB6436173C6589A8B578C93&simid=608011193298256350",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "Mars Links | Mars Climate
        Modeling Group", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.ZM1dbiMopdPgVX7KmN_iIQAAAA&pid=Api",
        "datePublished": "2017-07-13T21:35:00.0000000Z", "contentUrl": "http:\/\/spacescience.arc.nasa.gov\/mars-climate-modeling-group\/images\/mars-links\/esa.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "http:\/\/spacescience.arc.nasa.gov\/mars-climate-modeling-group\/mars-links.html",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "10205 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "spacescience.arc.nasa.gov\/mars-climate-modeling-group\/mars-links.html",
        "width": 140, "height": 200, "thumbnail": {"width": 140, "height": 200}, "imageInsightsToken":
        "ccid_ZM1dbiMo*mid_C0B830263D250A6ABBB6436173C6589A8B578C93*simid_608011193298256350",
        "imageId": "C0B830263D250A6ABBB6436173C6589A8B578C93", "accentColor": "193C69"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=9A562B4FA3F998FE4A75458CC8F64CCF789ED44E&simid=608011867610284146",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "Touchdown! Rosetta''s Philae
        Probe Lands on Comet | Rosetta", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.Hbwkbeb1NTU7g-kh6ePGvgHaEK&pid=Api",
        "datePublished": "2017-07-05T10:39:00.0000000Z", "contentUrl": "http:\/\/rosetta.jpl.nasa.gov\/sites\/default\/files\/Philae_touchdown.jpg",
        "contentUrlPingSuffix": "DevEx,5033.1", "hostPageUrl": "http:\/\/rosetta.jpl.nasa.gov\/news\/touchdown-rosettas-philae-probe-lands-comet",
        "hostPageUrlPingSuffix": "DevEx,5032.1", "contentSize": "59375 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "rosetta.jpl.nasa.gov\/news\/touchdown-rosettas-philae-probe-lands-comet",
        "width": 700, "height": 394, "thumbnail": {"width": 474, "height": 266}, "imageInsightsToken":
        "ccid_Hbwkbeb1*mid_9A562B4FA3F998FE4A75458CC8F64CCF789ED44E*simid_608011867610284146",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "9A562B4FA3F998FE4A75458CC8F64CCF789ED44E", "accentColor": "675E46"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=5FDFC2E4BCFF81F81040C895A80E21E0AD148DFF&simid=607989426370709363",
        "webSearchUrlPingSuffix": "DevEx,5037.1", "name": "Photo-iss037e028162", "thumbnailUrl":
        "https:\/\/tse2.mm.bing.net\/th?id=OIP.g68o44Y1ZeYTNRqeS53ghAHaE6&pid=Api",
        "datePublished": "2017-07-08T[...]
