---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=20&q=agncy%20(site:nasa.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B2064D33F3AF4F3C849D5746FEABEDEE
      X-Msedge-Clientid:
      - '038E0756EEDB663E10C00B77EF0C67FC'
      X-Msapi-Userstate:
      - 52e2
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B56B9D2FF84A4A4DB90E794D58A7D72D&CID=038E0756EEDB663E10C00B77EF0C67FC&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B56B9D2FF84A4A4DB90E794D58A7D72D&CID=038E0756EEDB663E10C00B77EF0C67FC&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=agncy%20(site:nasa.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5126.1", "totalEstimatedMatches": 110, "nextOffset":
        31, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=714622A44D92987B0C0126D943BB969116A2F981&simid=608033145204376838",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "Ka-Band Represents the
        Future of Space Communications | NASA", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.M-5rVWMdLr4tpS8SyiOouwHaE6&pid=Api",
        "datePublished": "2018-02-09T23:02:00.0000000Z", "contentUrl": "http:\/\/www.nasa.gov\/sites\/default\/files\/akihiko.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "https:\/\/www.nasa.gov\/mission_pages\/station\/research\/news\/ka_band",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "1559733 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/www.nasa.gov\/mission_pages\/station\/research\/news\/ka_band",
        "width": 4288, "height": 2848, "thumbnail": {"width": 474, "height": 314},
        "imageInsightsToken": "ccid_M+5rVWMd*mid_714622A44D92987B0C0126D943BB969116A2F981*simid_608033145204376838",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "714622A44D92987B0C0126D943BB969116A2F981", "accentColor": "9F752C"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=5218DACE0AADBB9BE232E995A97F162A841C99C9&simid=608036529637753763",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "NASA Television to Provide
        Coverage of European Mission Comet Landing | NASA", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.q4Lqp5DlUFTGq1e_3WmtSQHaEK&pid=Api",
        "datePublished": "2014-11-07T12:00:00.0000000Z", "cont[...]
