---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=<BING_V6_APP_ID>&count=10&mkt=en-US&offset=20&q=agncy%20(site:nasa.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 50A73EF100AB415BA3C257A6229DEB23
      X-Msedge-Clientid:
      - 34A4CA957F7C681A365EC10B7E99695A
      X-Msapi-Userstate:
      - ca83
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=EF9BE6935C1840329A835185DFA326BC&CID=34A4CA957F7C681A365EC10B7E99695A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=EF9BE6935C1840329A835185DFA326BC&CID=34A4CA957F7C681A365EC10B7E99695A&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=agncy%20(site:nasa.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5126.1", "totalEstimatedMatches": 101, "nextOffset":
        30, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=318F09834C05E6D84D8C79D6222BCA1B1BAAEE3A&simid=608012997303536736",
        "webSearchUrlPingSuffix": "DevEx,5025.1", "name": "NASA Seeking BIG Ideas
        for Solar Power on Mars | Space ...", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.Bfqd10hvrBLnafj27MUJgwHaEo&pid=Api",
        "datePublished": "2017-07-27T11:47:00.0000000Z", "contentUrl": "https:\/\/gameon.nasa.gov\/files\/2017\/07\/181286main_image_feature_857_ys_full-1024x641.jpg",
        "contentUrlPingSuffix": "DevEx,5027.1", "hostPageUrl": "https:\/\/gameon.nasa.gov\/2017\/07\/26\/nasa-seeking-big-ideas-for-solar-power-on-mars\/",
        "hostPageUrlPingSuffix": "DevEx,5026.1", "contentSize": "138550 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "https:\/\/gameon.nasa.gov\/2017\/07\/26\/nasa-seeking-big-ideas-for-solar...",
        "width": 1024, "height": 641, "thumbnail": {"width": 474, "height": 296},
        "imageInsightsToken": "ccid_Bfqd10hv*mid_318F09834C05E6D84D8C79D6222BCA1B1BAAEE3A*simid_608012997303536736",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "318F09834C05E6D84D8C79D6222BCA1B1BAAEE3A", "accentColor": "AC761F"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=C7F26EFA4AAAE5EB650AFED73A8ECDA8F1C767C7&simid=608055654824936054",
        "webSearchUrlPingSuffix": "DevEx,5031.1", "name": "NASA - NASA''s NEPA Program
        and the Environmental ...", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.nq2zXyebmen2s9fkM1Bh8QHaFl&pid=Api",
        "datePublished": "2011-04-29T10:08:00.0000000Z", "contentUrl": "http:\/\/www.[...]
