---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=20&q=agncy%20(site:nasa.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D71E77D8DE3C40A9B7B56A28726BD1C9
      X-Msedge-Clientid:
      - 218E6068A6596F362BFF6AF1A7CE6EE4
      X-Msapi-Userstate:
      - 14a4
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C153DA5F2BC74496A086DEC55404F232&CID=218E6068A6596F362BFF6AF1A7CE6EE4&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C153DA5F2BC74496A086DEC55404F232&CID=218E6068A6596F362BFF6AF1A7CE6EE4&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=agncy%20(site:nasa.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5119.1", "totalEstimatedMatches": 110, "nextOffset":
        30, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=51ED1A93D04B03066A685BF4FF264AC0355B737E&simid=608034991155907545",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "European Space Agency astronaut
        Alexander Gerst | NASA", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.Z3t7KfgLcLUMVcl95MSXngDHEs&pid=Api",
        "datePublished": "2013-12-01T07:31:00.0000000Z", "contentUrl": "http:\/\/www.nasa.gov\/sites\/default\/files\/styles\/946xvariable_height\/public\/jsc2013e088112.jpg?itok=rYSCOrx6",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/www.nasa.gov\/content\/european-space-agency-astronaut-alexander-gerst-1\/",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "1065115 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.nasa.gov\/content\/european-space-agency-astronaut-alexander-gerst-1",
        "width": 946, "height": 1421, "thumbnail": {"width": 199, "height": 300},
        "imageInsightsToken": "ccid_Z3t7KfgL*mid_51ED1A93D04B03066A685BF4FF264AC0355B737E*simid_608034991155907545",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "51ED1A93D04B03066A685BF4FF264AC0355B737E", "accentColor": "093E68"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=02913F37DD0D2E6A5ADA339592D0F12C96BD052F&simid=608019439055930776",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "fig 1: Dawn Team at the
        German Aerospace Agency, Berlin, 2014", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.efTKTbe1rK4BGf3PnLpQaQEsCH&pid=Api",
        "datePublished": "2014-05-29T12:00:00.0000000Z", "contentUrl": "http:[...]
