---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/images/search?AppId=***REMOVED***&count=10&mkt=en-US&offset=20&q=agncy%20(site:nasa.gov)&safeSearch=moderate&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D68BDB0211D644028C6EB1086D04B1EB
      X-Msedge-Clientid:
      - 3443DD844344691C1305D7BB42D3682F
      X-Msapi-Userstate:
      - f97d
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E665C1A9C5174FF6B3CF7471255EF2BC&CID=3443DD844344691C1305D7BB42D3682F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E665C1A9C5174FF6B3CF7471255EF2BC&CID=3443DD844344691C1305D7BB42D3682F&Type=Event.CPT&DATA=0"},
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=agncy%20(site:nasa.gov)&FORM=OIIARP",
        "webSearchUrlPingSuffix": "DevEx,5117.1", "totalEstimatedMatches": 105, "nextOffset":
        31, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=94FEFFD7E2D2654DB76CBFF8CD1905913E108FFD&simid=608017403132512025",
        "webSearchUrlPingSuffix": "DevEx,5022.1", "name": "European Space Agency astronaut
        Alexander Gerst (left), Russian ...", "thumbnailUrl": "https:\/\/tse1.mm.bing.net\/th?id=OIP.ei4HcoKuCHYIdGL72fc3SwEsC2&pid=Api",
        "datePublished": "2014-11-09T12:00:00.0000000Z", "contentUrl": "http:\/\/www.nasa.gov\/sites\/default\/files\/14-309a.jpg",
        "contentUrlPingSuffix": "DevEx,5024.1", "hostPageUrl": "http:\/\/www.nasa.gov\/press\/2014\/november\/space-station-crew-returns-to-earth-lands-safely-in-kazakhstan\/",
        "hostPageUrlPingSuffix": "DevEx,5023.1", "contentSize": "2068358 B", "encodingFormat":
        "jpeg", "hostPageDisplayUrl": "www.nasa.gov\/press\/2014\/november\/space-station-crew-returns-to...",
        "width": 1862, "height": 1134, "thumbnail": {"width": 300, "height": 182},
        "imageInsightsToken": "ccid_ei4HcoKu*mid_94FEFFD7E2D2654DB76CBFF8CD1905913E108FFD*simid_608017403132512025",
        "insightsMetadata": {"shoppingSourcesCount": 0, "recipeSourcesCount": 0},
        "imageId": "94FEFFD7E2D2654DB76CBFF8CD1905913E108FFD", "accentColor": "70604B"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=agncy+(site%3anasa.gov)&id=2989400A4F928DF699D4312AFBEC0D4011107895&simid=608025975883893074",
        "webSearchUrlPingSuffix": "DevEx,5028.1", "name": "NASA - Ames Agency Alignment
        | NASA", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.-PdpWBLH1MOa0gRTJo92MQEsCM&pid=Api",
        "datePublished": "2017-01-11T23:32:00.0000000Z", "contentUrl": "https:\/\/www.nasa.gov\/sites\/[...]
