---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=english%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 300ED6DC50D64335A2AC6A8D0C85402A
      X-Msedge-Clientid:
      - 24DCFBCF61E1621A32DDF05160046335
      X-Msapi-Userstate:
      - 5f21
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=6B5C5DAB50B442C0BCCD6D5DBF0E2B63&CID=24DCFBCF61E1621A32DDF05160046335&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=6B5C5DAB50B442C0BCCD6D5DBF0E2B63&CID=24DCFBCF61E1621A32DDF05160046335&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5497.1", "totalEstimatedMatches": 11700000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "American English | For English Language Teachers Around ...", "url": "https:\/\/americanenglish.state.gov\/",
        "urlPingSuffix": "DevEx,5091.1", "displayUrl": "https:\/\/americanenglish.state.gov",
        "snippet": "American English is a website for teachers and learners of English
        as a foreign language abroad.", "dateLastCrawled": "2018-02-05T18:58:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "VDOE ::
        English Standards of Learning Resources", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/standards_docs\/english\/index.shtml",
        "urlPingSuffix": "DevEx,5117.1", "about": [{"name": "Standards of Learning"}],
        "displayUrl": "www.doe.virginia.gov\/testing\/sol\/standards_docs\/english\/index.shtml",
        "snippet": "Standards of Learning Documents for English . The Standards of
        Learning and Curriculum Framework comprise the English language arts content
        that teachers in Virginia ...", "deepLinks": [{"name": "Released Sol Tests",
        "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/released_tests\/index.shtml",
        "urlPingSuffix": "DevEx,5105.1"}, {"name": "Mathematics", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/standards_docs\/mathematics\/index.shtml",
        "urlPingSuffix": "DevEx,5106.1"}, {"name": "Practice Items", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/practice_items\/testnav8.shtml",
        "urlPingSuffix": "DevEx,5107.1"}, {"name": "History[...]
