---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - B259C24768E04383BEBD95E04A2168DD
      X-Msedge-Clientid:
      - 243D43E7E9076D2521CB497EE8906C61
      X-Msapi-Userstate:
      - 05e5
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=BD063BB6607C40DC8802B0F62DD10D39&CID=243D43E7E9076D2521CB497EE8906C61&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=BD063BB6607C40DC8802B0F62DD10D39&CID=243D43E7E9076D2521CB497EE8906C61&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5475.1", "totalEstimatedMatches": 3690000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "Draft Standards for English Language Arts | New York State ...", "url": "http:\/\/www.nysed.gov\/teachers\/draft-standards-english-language-arts",
        "urlPingSuffix": "DevEx,5080.1", "displayUrl": "www.nysed.gov\/teachers\/draft-standards-english-language-arts",
        "snippet": "The new draft learning standards for English language arts are
        available, by grade level, at the links below. Prekindergarten. Prekindergarten
        Standards; Kindergarten.", "dateLastCrawled": "2017-05-31T12:10:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "English
        Camp - San Juan Island National Historical Park (U ...", "url": "https:\/\/www.nps.gov\/sajh\/learn\/historyculture\/english-camp.htm",
        "urlPingSuffix": "DevEx,5093.1", "displayUrl": "https:\/\/www.nps.gov\/sajh\/learn\/historyculture\/english-camp.htm",
        "snippet": "English Camp. This artist''s depiction shows the Royal Marine
        Camp at its apex with[...]
