---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 155E28C0713C48FE8CB1573F64330E8D
      X-Msedge-Clientid:
      - 3300B07125BE683F1D69BB7024296925
      X-Msapi-Userstate:
      - '08a7'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=595538142C9B499C90888E08A3E2381C&CID=3300B07125BE683F1D69BB7024296925&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=595538142C9B499C90888E08A3E2381C&CID=3300B07125BE683F1D69BB7024296925&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5490.1", "totalEstimatedMatches": 184000000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "American English | For English Language Teachers Around ...", "url": "https:\/\/americanenglish.state.gov\/",
        "urlPingSuffix": "DevEx,5079.1", "about": [{"name": "American English Education"}],
        "displayUrl": "https:\/\/americanenglish.state.gov", "snippet": "American
        English is a website for teachers and learners of English as a foreign language
        abroad.", "dateLastCrawled": "2017-09-08T17:13:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "FAQ - English", "url": "http:\/\/www.sbe.wa.gov\/faq\/english.php",
        "urlPingSuffix": "DevEx,5094.1", "displayUrl": "www.sbe.wa.gov\/faq\/english.php",
        "snippet": "English Graduation Requirement Frequently Asked Questions. Updated:
        January 2013. What is the State Board of Education’s role in graduation requirements?",
        "dateLastCrawled": "2017-09-05T15:52:00[...]
