---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7F5FB02E4713491B8131D7079CE679EB
      X-Msedge-Clientid:
      - 2461D13774916C662EB6DB0675A06DD5
      X-Msapi-Userstate:
      - 7b75
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DF0EB788BD84448C8DF637A7C9F26A67&CID=2461D13774916C662EB6DB0675A06DD5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DF0EB788BD84448C8DF637A7C9F26A67&CID=2461D13774916C662EB6DB0675A06DD5&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5465.1", "totalEstimatedMatches": 4910000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "VDOE :: English Standards of Learning Resources", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/standards_docs\/english\/",
        "urlPingSuffix": "DevEx,5082.1", "displayUrl": "www.doe.virginia.gov\/testing\/sol\/standards_docs\/english",
        "snippet": "On January 26, 2017, the Board of Education approved the 2017
        English Standards of Learning. The Virginia Department of Education was authorized
        to proceed with the ...", "dateLastCrawled": "2017-02-15T23:38:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "Get Covered
        Illinois - Official Site", "url": "https:\/\/getcovered.illinois.gov\/", "urlPingSuffix":
        "DevEx,5094.1", "displayUrl": "https:\/\/getcovered.illinois.gov", "snippet":
        "English (United States) ... Get the latest news from the Illinois Department
        of Insurance here. Stay informed. Please enter a valid email address.", "dateLastCrawled":
        "[...]
