---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(english)%20language:en%20(scopeid:usagovall%20OR%20site:gov%20OR%20site:mil)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028english\u0029
        language\u003aen \u0028scopeid\u003ausagovall OR site\u003agov OR site\u003amil\u0029"},"Web":{"Total":7890000,"Offset":0,"Results":[{"Title":"English
        CT Voter Registration Form \u0028pdf\u0029","Description":"Created Date\u003a
        12\u002f7\u002f2015 9\u003a44\u003a45 AM","Url":"http\u003a\u002f\u002fwww.sots.ct.gov\u002fsots\u002flib\u002fsots\u002felectionservices\u002felectforms\u002felectforms\u002fvoter_reg_card_english_2015.pdf","DisplayUrl":"www.sots.ct.gov\u002f...\u002felectforms\u002fvoter_reg_card_english_2015.pdf","DateTime":"2016-10-25T20\u003a00\u003a00Z"},{"Title":"Draft
        Standards for English Language Arts \u007c New York State ...","Description":"The
        New York State Education Department \u0028NYSED\u0029 has released new draft
        P-12 English Language Arts and Mathematics Learning Standards for public
        comment.","Url":"http\u003a\u002f\u002fwww.nysed.gov\u002fdraft-standards-english-language-arts","CacheUrl":"http\u003a\u002f\u002fcc.bingj.com\u002fcache.aspx\u003fq\u003denglish\u0026d\u003d4698678675309144\u0026w\u003dkEIh38z_D1hYti4pRstIr7UdcS05YQXz","DisplayUrl":"www.nysed.gov\u002fdraft-standards-english-language-arts","DateTime":"2016-10-27T20\u003a53\u003a00Z"},{"Title":"LEP.gov
        - Limited English Proficiency \u0028LEP\u0029\u003a A federal ...","Description":"LEP.gov
        promotes a positive and cooperative understanding of the importance of language
        access to federal pr[...]
