---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=english%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 43F7209DB4A348619DC649D24197757F
      X-Msedge-Clientid:
      - 1C15385917AE61D52353340116A16062
      X-Msapi-Userstate:
      - 3fb5
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A764B383915F49009A544AD6DC3BF77F&CID=1C15385917AE61D52353340116A16062&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A764B383915F49009A544AD6DC3BF77F&CID=1C15385917AE61D52353340116A16062&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5392.1", "totalEstimatedMatches": 25500000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "VDOE :: English Standards of Learning Resources", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/standards_docs\/english\/index.shtml",
        "urlPingSuffix": "DevEx,5058.1", "displayUrl": "www.doe.virginia.gov\/testing\/sol\/standards_docs\/english\/index.shtml",
        "snippet": "Standards of Learning Documents for English . The Standards of
        Learning and Curriculum Framework comprise the English language arts content
        that teachers in Virginia are expected to teach and students are expected
        to learn.", "dateLastCrawled": "2018-08-20T03:57:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1",
        "name": "American English | For English Language Teachers Around ...", "url":
        "https:\/\/americanenglish.state.gov\/", "urlPingSuffix": "DevEx,5069.1",
        "displayUrl": "https:\/\/americanenglish.state.gov", "snippet": "American
        English is a website for teachers and learners of English as a foreign language
        abroad.", "dateLastCrawled": "2018-08-18T15:22:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2",
        "name": "Study Materials for the English Test | USCIS", "url": "https:\/\/www.uscis.gov\/citizenship\/learners\/study-test\/study-materials-english-test",
        "urlPingSuffix": "DevEx,5087.1", "displayUrl": "https:\/\/www.uscis.gov\/...\/study-test\/study-materials-english-test",
        "snippet": "The English test has three components: reading, writing, and speaking.
        Your ability to speak English will be determined by a USCIS Officer during
        your eligibility interview on Form N-400, Application for Naturalization.",
        "dateLastCrawled": "2018-08-19T09:58:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3",
        "name": "MedlinePlus - Health Information from the National Library ...",
        "url": "https:\/\/medlineplus.gov\/", "urlPingSuffix": "DevEx,5101.1", "about":
        [{"name": "MedlinePlus"}], "displayUrl": "https:\/\/medlineplus.gov", "snippet":
        "Find information on health conditions, wellness issues, and more in easy-to-read
        language on MedlinePlus, the up-to-date, trusted health information site from
        the NIH and the National Library of Medicine.", "dateLastCrawled": "2018-08-19T19:56:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.4", "name": "English
        Language Arts | Ohio Department of[...]
