---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C4A5ADF9867248C1A22DC20649CFD116
      X-Msedge-Clientid:
      - 0056B71641686F180C11BC1E40FF6E4A
      X-Msapi-Userstate:
      - 69bf
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=22ADDDC7B9AF404FA85C5BD2AA14D54E&CID=0056B71641686F180C11BC1E40FF6E4A&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=22ADDDC7B9AF404FA85C5BD2AA14D54E&CID=0056B71641686F180C11BC1E40FF6E4A&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5485.1", "totalEstimatedMatches": 69600000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "www.in.gov", "url": "http:\/\/www.in.gov\/dol\/files\/English_IOSHA_Poster.pdf",
        "urlPingSuffix": "DevEx,5076.1", "displayUrl": "www.in.gov\/dol\/files\/English_IOSHA_Poster.pdf",
        "snippet": "www.in.gov", "dateLastCrawled": "2017-09-10T20:31:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "VDOE ::
        English Standards of Learning Resources", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/standards_docs\/english\/index.shtml",
        "urlPingSuffix": "DevEx,5099.1", "displayUrl": "www.doe.virginia.gov\/testing\/sol\/standards_docs\/english\/index.shtml",
        "snippet": "Standards of Learning Documents for English . The Standards of
        Learning and Curriculum Framework comprise the English language arts content
        that teachers in Virginia ...", "deepLinks": [{"name": "Released Sol Tests",
        "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/released_tests\/index.shtml",
        "urlPingSuffix": "DevEx,5090.1"}, {"name": "Mathematics", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/standards_docs\/mathematics\/index.shtml",
        "urlPingSuffix": "DevEx,5091.1"}, {"name": "Practice Items", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/practice_items\/testnav8.shtml",
        "urlPingSuffix": "DevEx,5092.1"}, {"name": "History & Social Science", "url":
        "http:\/\/www.doe.virginia.gov\/testing\/sol\/standards_docs\/history_socialscience\/index.shtml",
        "urlPingSuffix": "DevEx,5093.1"}], "dateLastCrawled": "2017-09-23T00:15:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "FAQ -
        English", "url": "http:\/\/www.sbe.wa.gov\/faq\/english.php", "urlPingSuffix":
        "DevEx,5114.1", "displayUrl": "www.sbe.wa.gov\/faq\/english.php", "snippet":
        "English Graduation Requirement Frequently Asked Questions. Updated: January
        2013. What is the State Board of Education’s role in graduation requirements?",
        "dateLastCrawled": "2017-09-17T01:47:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3",
        "name": "American English | For English Language Teachers Around ...", "url":
        "https:\/\/americanenglish.state.gov\/", "urlPingSuffix": "DevEx,5126.1",
        "about": [{"name": "American English Education"}], "displayUrl": "https:\/\/americanenglish.state.gov",
        "snippet": "American English is a website for teachers and learners of English
        as a foreign language abroad.", "dateLastCrawled": "2017-09-08T17:13:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.4", "name": "English
        - Spanish Glossary", "url": "https:\/\/www.ssa.gov\/agency\/glossary\/english-spanish-glossary.html",
        "urlPingSuffix": "DevEx[...]
