---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 114F582E3A974FF2A763448B84A22B07
      X-Msedge-Clientid:
      - 1633EB0AAB7D68210D37E1C9AAEA6955
      X-Msapi-Userstate:
      - 9b8d
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=AFAE6EB88D4D46CA8530EB8A6B8BF10E&CID=1633EB0AAB7D68210D37E1C9AAEA6955&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=AFAE6EB88D4D46CA8530EB8A6B8BF10E&CID=1633EB0AAB7D68210D37E1C9AAEA6955&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5474.1", "totalEstimatedMatches": 16400000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "English Language and Literature Teachers, Postsecondary", "url": "https:\/\/www.bls.gov\/oes\/current\/oes251123.htm",
        "urlPingSuffix": "DevEx,5079.1", "displayUrl": "https:\/\/www.bls.gov\/oes\/current\/oes251123.htm",
        "snippet": "Occupational Employment and Wages, May 2016 25-1123 English Language
        and Literature Teachers, Postsecondary. Teach courses in English language
        and literature ...", "dateLastCrawled": "2017-06-28T12:58:00.0000000Z"}, {"id":
        "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "English-Language
        Development Standards for California ...", "url": "http:\/\/www.cde.ca.gov\/be\/st\/ss\/documents\/englangdevstnd.pdf",
        "urlPingSuffix": "DevEx,5093.1", "displayUrl": "www.cde.ca.gov\/be\/st\/ss\/documents\/englangdevstnd.pdf",
        "snippet": "Publishing Information . When the English-Language Development
        Standards for California Public Schools, Kindergarten Through Grade Twelve
        was adopted by the California", "dateLastCrawled": "2017-07-14T08:09:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.2", "name": "VDOE ::
        English Standards of Learning Resources", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/standards_docs\/english\/index.shtml",
        "urlPingSuffix": "DevEx,5110.1", "displayUrl": "www.doe.virginia.gov\/testing\/sol\/standards_docs\/english\/index.shtml",
        "snippet": "Standards of Learning Documents for English . The Standards of
        Learning and Curriculum Framework comprise the English language arts content
        that teachers in Virginia ...", "dateLastCrawled": "2017-07-14T21:56:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.3", "name": "American
        English | For English Language Teachers Around ...", "url": "https:\/\/americanenglish.state.gov\/",
        "urlPingSuffix": "DevEx,5122.1", "about": [{"name": "American English Education"}],
        "displayUrl": "https:\/\/americanenglish.state.gov", "snippet": "American
        English is a website for teachers and learners of English as a foreign language
        abroad.", "dateLastCrawled": "2017-06-21T22:58:00.0000000Z"}, {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.4",
        "name": "Trees of Ohio: English Oak", "url": "http:\/\/forestry.ohiodnr.gov\/englishoak",
        "urlPingSuffix": "DevEx,5139.1", "displayUrl": "fore[...]
