---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8BB4FB66443E4D1AA3D0C2376EBEEC57
      X-Msedge-Clientid:
      - 3371CAE128D467372257C08329436612
      X-Msapi-Userstate:
      - 248c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=8B6BBDD404E649198DF6A9F86E18D925&CID=3371CAE128D467372257C08329436612&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=8B6BBDD404E649198DF6A9F86E18D925&CID=3371CAE128D467372257C08329436612&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5470.1", "totalEstimatedMatches": 8140000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "VDOE :: English Standards of Learning Resources", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/standards_docs\/english\/index.shtml",
        "urlPingSuffix": "DevEx,5087.1", "displayUrl": "www.doe.virginia.gov\/testing\/sol\/standards_docs\/english\/index.shtml",
        "snippet": "Standards of Learning Documents for English – Adopted 2010. The
        Standards of Learning and Curriculum Framework comprise the English language
        arts content that ...", "deepLinks": [{"name": "Released Sol Tests", "url":
        "http:\/\/www.doe.virginia.gov\/testing\/sol\/released_tests\/index.shtml",
        "urlPingSuffix": "DevEx,5083.1"}, {"name": "Mathematics", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/standards_docs\/mathematics\/index.shtml",
        "urlPingSuffix": "DevEx,5084.1"}], "dateLastCrawled": "2017-04-06T03:44:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "FAQ -
        English", "url": "http:\/\/www.sbe.wa.gov\/faq\/english.php", "urlPingSuffix":
        "DevEx,5100.1", "displayUrl": "www.sbe.wa.gov\/faq\/english.php", "snippet":
        "English Graduation Requirement Frequently Asked Questions. Updated: January
        2013. What is the State Board of Education’s role in graduation requirements?",
        "dateLastCrawled": "2017-04-06T[...]
