---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:gov%20OR%20site:mil)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8EA568382ACC47BFA0DEBE43FC927BDC
      X-Msedge-Clientid:
      - 38CC87BA30DF67D20F3A8C3C3170662E
      X-Msapi-Userstate:
      - 43ec
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=D0FD808B7AFA4CB39B132BBC0AC0774F&CID=38CC87BA30DF67D20F3A8C3C3170662E&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=D0FD808B7AFA4CB39B132BBC0AC0774F&CID=38CC87BA30DF67D20F3A8C3C3170662E&Type=Event.CPT&DATA=0"},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=english+(site%3agov+OR+site%3amil)",
        "webSearchUrlPingSuffix": "DevEx,5504.1", "totalEstimatedMatches": 27600000,
        "value": [{"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.0", "name":
        "ENGLISH (Literature Emphasis)", "url": "https:\/\/highered.colorado.gov\/Academics\/Transfers\/Agreements\/STAA_ENGLISH_Final.pdf",
        "urlPingSuffix": "DevEx,5087.1", "displayUrl": "https:\/\/highered.colorado.gov\/...\/Agreements\/STAA_ENGLISH_Final.pdf",
        "snippet": "FINAL Statewide Transfer Articulation Agreement ENGLISH (Literature
        Emphasis) Revised: May 2017 Page 2 of 5", "dateLastCrawled": "2018-01-22T04:35:00.0000000Z"},
        {"id": "https:\/\/www.bingapis.com\/api\/v6\/#WebPages.1", "name": "VDOE ::
        English Standards of Learning Resources", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/standards_docs\/english\/index.shtml",
        "urlPingSuffix": "DevEx,5114.1", "about": [{"name": "Standards of Learning"}],
        "displayUrl": "www.doe.virginia.gov\/testing\/sol\/standards_docs\/english\/index.shtml",
        "snippet": "Standards of Learning Documents for English . The Standards of
        Learning and Curriculum Framework comprise the English language arts content
        that teachers in Virginia ...", "deepLinks": [{"name": "Released Sol Tests",
        "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/released_tests\/index.shtml",
        "urlPingSuffix": "DevEx,5102.1"}, {"name": "Mathematics", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/standards_docs\/mathematics\/index.shtml",
        "urlPingSuffix": "DevEx,5103.1"}, {"name": "Practice Items", "url": "http:\/\/www.doe.virginia.gov\/testing\/sol\/practice_items\/testnav8.shtml",
        "urlPingSuffix": "DevEx,5104.1"}, {"name": "History[...]
