---
http_interactions:
- request:
    method: get
    uri: https://www.gsa.gov/_rssfeed/gsablogs.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rss+xml; charset=utf-8
      Content-Language:
      - en
      X-Drupal-Cache:
      - UNCACHEABLE (no cacheability)
      Public-Key-Pins:
      - pin-sha256="1xL8YPVTZM6qofJqJj181/eAOOUQzgWi4Jw+gE8xQ8M="; max-age=3600;
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n<rss version=\"2.0\">\n    <channel>\n        <title>GSA
        Blog Articles</title>\n        <description>GSA Blog Articles</description>\n
        \         <item>\n              <description>GSA is committed to the ongoing
        modernization of the Multiple Award Schedule (MAS) program, focusing on delivering
        value and upholding fiscal responsibility. Moving forward, newly awarded MAS
        contractors will automatically be onboarded to GSA&#x2019;s FAS Catalog Platform
        (FCP) to upload and manage their&#x2026;</description>\n              <guid><![CDATA[https://www.gsa.gov/blog/2025/11/21/gsas-fas-catalog-platform-now-available-for-new-mas-awardees]]></guid>\n
        \             <link><![CDATA[https://www.gsa.gov/blog/2025/11/21/gsas-fas-catalog-platform-now-available-for-new-mas-awardees]]></link>\n
        \             <pubDate><![CDATA[Fri, 21 Nov 2025 11:46:07  EDT]]></pubDate>\n
        \             <title><![CDATA[GSA's FAS Catalog Platform Now Available for
        New MAS Awardees]]></title>\n          </item>\n        \n          <item>\n
        \             <description>GSA&#x2019;s Public Buildings Service (PBS) supports
        federal agencies by delivering safe, modern and efficient workspaces that
        enable us to best serve the American people.Over the past several months,
        the Public Buildi[...]
