- css_property_hash = site.css_property_hash
#legacy-preview-font-colors.serp-preview{ preview_page_css_hash(css_property_hash) }
  .serp-content{ preview_content_class_hash(site), preview_content_css_hash(site) }
    .serp-search-box
      .btn-search{ preview_search_button_css_hash(css_property_hash) }
      .serp-input-wrapper
        %input{ type: 'text', disabled: true }
    .serp-results-wrapper{ preview_results_css_hash(css_property_hash) }
      .serp-sidebar
        .serp-nav-item-active{ preview_active_sidebar_item_css_hash(css_property_hash) } Sidebar 1
        .serp-sidebar-item{ preview_result_title_css_hash(css_property_hash) } Sidebar 2
      .serp-results
        .serp-result
          .serp-result-title{ preview_result_title_css_hash(css_property_hash) }
            Result Title
          .serp-result-url{ preview_result_url_css_hash(css_property_hash) }
            www.agency.gov
          .serp-result-description{ preview_description_css_hash(css_property_hash) }
            Result Description
        .serp-result
          .serp-result-title-visited{ preview_visited_result_title_css_hash(css_property_hash) }
            Visited Title
          .serp-result-url{ preview_result_url_css_hash(css_property_hash) }
            news.agency.gov
          .serp-result-description{ preview_description_css_hash(css_property_hash) }
            Result Description
    .serp-footer-button{ style_hash(css_property_hash, search_button_background_color: 'background-color') }
      %span.caret{ style_hash(css_property_hash, search_button_text_color: 'border-top-color') }
