#preview-font-colors.serp-preview{ style_hash(css_property_hash, page_background_color: 'background-color') }
  .serp-header-tagline-wrapper{ style_hash(css_property_hash, header_tagline_background_color: 'background-color') }
    .serp-header-tagline{ style_hash(css_property_hash, header_tagline_color: 'color') }
      Tagline
  .serp-header{ style_hash(css_property_hash, header_background_color: 'background-color') }
    .serp-nav-button
      - 3.times do
        %span.hamburger{ style_hash(css_property_hash, search_button_background_color: 'background-color') }
  .serp-content
    .serp-search-box
      .btn-search{ preview_search_button_css_hash(css_property_hash) }
      .serp-input-wrapper
        %input{ type: 'text', disabled: true }
  .serp-content
    .serp-nav{ style_hash(css_property_hash, navigation_background_color: 'background-color') }
      .serp-nav-item.serp-nav-item-active{ style_hash(css_property_hash, left_tab_text_color: 'color') } Active Nav
      .serp-nav-item.serp-nav-item-link{ style_hash(css_property_hash, navigation_link_color: 'color') } Nav Link
  .serp-content
    .serp-results-wrapper
      .serp-results
        .serp-result
          .serp-result-title{ style_hash(css_property_hash, title_link_color: 'color') }
            Result Title
          .serp-result-url{ style_hash(css_property_hash, url_link_color: 'color') }
            www.agency.gov
          .serp-result-description{ style_hash(css_property_hash, description_text_color: 'color') }
            Result Description
        .serp-result
          .serp-result-title-visited{ style_hash(css_property_hash, visited_title_link_color: 'color') }
            Visited Title
          .serp-result-url{ style_hash(css_property_hash, url_link_color: 'color') }
            news.agency.gov
          .serp-result-description{ style_hash(css_property_hash, description_text_color: 'color') }
            Result Description
  .serp-footer{ style_hash(css_property_hash, footer_background_color: 'background-color') }
    .serp-nav-item.serp-nav-item-link{ style_hash(css_property_hash, navigation_link_color: 'color') } Footer Link
