---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=jobs%20(site:epa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659eacaa95f446cca36b969d2ef2a649
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659eacaa95f446cca36b969d2ef2a649
      Bingapis-Sessionid:
      - 91FF013F728E4C98A1B36FB472B8A48E
      X-Msedge-Clientid:
      - 063F332F399166EF3B47272D383B67D2
      X-Msapi-Userstate:
      - ba34
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=238,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "jobs
        (site:epa.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3aepa.gov)",
        "totalEstimatedMatches": 3890000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Careers | US EPA - U.S. Environmental Protection Agency", "url":
        "https:\/\/www.epa.gov\/careers", "datePublished": "2023-12-12T00:00:00.0000000",
        "datePublishedDisplayText": "Dec 12, 2023", "isFamilyFriendly": true, "displayUrl":
        "https:\/\/www.epa.gov\/careers", "snippet": "The health, safety, and
        wellbeing of all people is at the core of our mission. A career with EPA provides
        a clear pathway that enables you to grow and move across opportunities with
        the Agency. Information about Salaries & Benefits at EPA.", "dateLastCrawled":
        "2024-01-10T03:04:00.0000000Z", "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=jobs+(site%3aepa.gov)&d=4910625433322117&mkt=en-US&setlang=en-US&w=iaR9gKM-kAS5GCmH-ADsYCb5_e5aIdb-",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "EPA Job Openings | US EPA", "url": "https:\/\/www.epa.gov\/careers\/epa-job-openings",
        "datePublished": "2024-01-04T00:00:00.0000000", "datePublishedFreshnessText":
        "6 days ago", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.epa.gov\/careers\/epa-job-openings",
        "snippet": "Learn more about job openings at the EPA. Our work at EPA has
        purpose and impact. Our mission is to protect human health and safeguard the
        environment - the air, water, and land upon which life depends.", "dateLastCrawled":
        "2024-01-08T05:24:00.0000000Z", "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=jobs+(site%3aepa.gov)&d=45637[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=jobs%20(site:cdc.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
 [...]
