---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=jobs%20(site:epa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5551BFC469374E8C8080F1D63252809E
      Bingapis-Sessionid:
      - AF65100AF3224E86903D87B83E2853C8
      X-Msedge-Clientid:
      - 2AF83B3636F4645E246C2B3A37BB65D0
      X-Msapi-Userstate:
      - f2e0
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=198,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "jobs
        (site:epa.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3aepa.gov)",
        "totalEstimatedMatches": 8640000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Careers | US EPA", "url": "https:\/\/www.epa.gov\/careers", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.epa.gov\/careers", "snippet": "Information
        about why work at EPA, how to get a job, science jobs, legal jobs, opportunities
        for veterans and students.", "dateLastCrawled": "2021-03-25T04:04:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Legal Careers at EPA | Careers | US EPA", "url": "https:\/\/www.epa.gov\/careers\/legal-careers-epa",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.epa.gov\/careers\/legal-careers-epa",
        "snippet": "Unlike almost all other EPA jobs, there is no requirement for
        attorney jobs announcements to be published on USAJobs.gov. While most offices
        that hire atto[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=jobs%20(site:cdc.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingap[...]
