---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=jobs%20(site:epa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - C6D896B0558549429537BAA0AEB84F51
      Bingapis-Sessionid:
      - 9E8A718F08C14A0093801DAC1238F2F0
      X-Msedge-Clientid:
      - 2A7C7BD1D3DF620B397A6B7AD22263EF
      X-Msapi-Userstate:
      - 1c4c
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=217,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "jobs
        (site:epa.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3aepa.gov)",
        "totalEstimatedMatches": 1600000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Careers | US EPA", "url": "https:\/\/www.epa.gov\/careers", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.epa.gov\/careers", "snippet": "Search
        Current Job Openings on USAJobs.gov. View EPA jobs currently open. Search
        EPA jobs by keyword, salary, job title, location and\/or other options.",
        "dateLastCrawled": "2021-09-04T20:29:00.0000000Z", "language": "en", "isNavigational":
        false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Science Careers at EPA | US EPA", "url": "https:\/\/www.epa.gov\/careers\/science-careers-epa",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.epa.gov\/careers\/science-careers-epa",
        "snippet": "Career Opportunities: Overview. All science jobs at EPA are
        listed on USAJobs.gov. Job categories\/occupational series include Environmental
        Health Scienti[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=jobs%20(site:cdc.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-[...]
