---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659eac7c220842799a65f49619818201
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659eac7c220842799a65f49619818201
      Bingapis-Sessionid:
      - 964A734E38B14B14B0C6B3B6854D518A
      X-Msedge-Clientid:
      - 275C277AF2CA60E904C33378F3606144
      X-Msapi-Userstate:
      - '8373'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=259,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "item
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=item+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 13900000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "LINE ITEM GUIDE - Under Secretary of Defense for Acquisition and
        ...", "url": "https:\/\/www.acq.osd.mil\/asda\/dpc\/ce\/p2p\/docs\/transparency\/DoD%20Line%20Item%20Guide%20April%202023.pdf",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.acq.osd.mil\/asda\/dpc\/ce\/p2p\/docs\/transparency\/DoD
        Line Item Guide April...", "snippet": "Item No. Supplies\/Services Quantity
        Unit Unit Price Amount 0013 Bookshelf, wall mount, 36” wide x 72” tall x 12”
        deep, five shelves Part Number: JN6438 . FFP : PSC: XXXX . ACRN: AA 200 Kit
        $88.18 $17,636.00 001301 Top Rail 36” 1 per kit 200 Each 001302 Vertical rails
        72” (2 per ...", "dateLastCrawled": "2024-01-09T04:23:00.0000000Z", "language":
        "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Commercial Item Group - DCMA", "url": "https:\/\/www.dcma.mil\/Commercial-Item-Group\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.dcma.mil\/Commercial-Item-Group",
        "snippet": "Commercial Item Group (CIG) The Commercial Item Group (CIG)
        serves as the Department of Defense’s (DoD’s) centralized commercial acquisition
        subject matter experts (SMEs) for commercial acquisitions, and directly interfaces
        with Industry to identify\/overcome barriers and enable the DoD to streamline
        the commercial acquisition cycle.", "dateLastCrawled": "2024-01-09T23:04:00.0000000Z",
        "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=item+(site%3agov+OR+site%3amil)&d=4701864252488082&mkt=en-US&setlang=en-US&w=KfqQHFBzLEdaKTCy4EhfliW-j9pm9-zM",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.2",
        "name": "LINE ITEM GUIDE - Under Secretary of Defense for Acquisition and
        ...", "url": "https:\/\/www.acq.osd.mil\/asda\/dpc\/ce\/p2p\/docs\/transparency\/DoD%20Line%20Item%20Guide%20Updated%20May%20[...]
