---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 48D0CB8CBF994800A09EF6A23145DEAD
      Bingapis-Sessionid:
      - 7008283E9D264307BD36AB7F9AEFA634
      X-Msedge-Clientid:
      - '039C3DAAEE13607B211A2DBAEF6661DA'
      X-Msapi-Userstate:
      - '6582'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=204,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "item
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=item+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 43200000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "H6 Home - Defense Logistics Agency", "url": "https:\/\/www.dla.mil\/HQ\/LogisticsOperations\/Services\/FIC\/H6\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.dla.mil\/HQ\/LogisticsOperations\/Services\/FIC\/H6",
        "snippet": "H6 Item Name Directory provides search capability of Item
        Names based on Federal Supply Class (FSC), keyword search, Item Name Code
        (INC), and Item Identification Guide (IIG).", "dateLastCrawled": "2021-04-01T22:27:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "ITEM UNIQUE IDENTIFICATION (IUID)", "url": "https:\/\/www.acq.osd.mil\/dpap\/pdi\/uid\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.acq.osd.mil\/dpap\/pdi\/uid",
        "snippet": "Item: Description: DoD Instructions: DoDI 4140.01: DoD Supply
        Chain Materiel Management Policy Requires unique item level traceability
        for all DoD serially managed items tha[...]
