---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659eac7fedac4056a5633b58f84b88c5
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659eac7fedac4056a5633b58f84b88c5
      Bingapis-Sessionid:
      - A5C7F50FFDF64977AFA5CA967649E510
      X-Msedge-Clientid:
      - 0FB87F7608F46BAE0F046B7409C96A4C
      X-Msapi-Userstate:
      - d390
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=247,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "item
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=item+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 13900000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Defense Finance Accounting Service (DFAS)", "url": "https:\/\/www.dfas.mil\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.dfas.mil", "snippet":
        "You have a new customer contact number! - All Department of the Air Force
        service members who have military pay related questions may call the Total
        Force Service Center (1 800 525-0102 or DSN 312 665-0102) for assistance or
        submit a m yFSS ticket. The DFAS Customer Care Center no longer handles these
        calls. REPORT THE DEATH OF A RETIREE ONLINE.", "dateLastCrawled": "2024-01-09T06:24:00.0000000Z",
        "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=item+(site%3agov+OR+site%3amil)&d=4862161029911525&mkt=en-US&setlang=en-US&w=ljmX-P9BHomjDkzTe_3XaFjnrfkhUw6y",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "LINE ITEM GUIDE - Under Secretary of Defense for Acquisition and
        ...", "url": "https:\/\/www.acq.osd.mil\/asda\/dpc\/ce\/p2p\/docs\/transparency\/DoD%20Line%20Item%20Guide%20April%202023.pdf",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.acq.osd.mil\/asda\/dpc\/ce\/p2p\/docs\/transparency\/DoD
        Line Item Guide April...", "snippet": "Item No. Supplies\/Services Quantity
  [...]
