---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=hello%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659eaca5ba5b44548c5e400d205d2408
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659eaca5ba5b44548c5e400d205d2408
      Bingapis-Sessionid:
      - BFECDECE753B4DCFBC1D4569BB06E826
      X-Msedge-Clientid:
      - 18BBF5FC19776C3D1FB9E1FE18DD6DF5
      X-Msapi-Userstate:
      - d8d2
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=278,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "hello
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hello+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 4880000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Employee Vigilance - Power of Hello | CISA", "url": "https:\/\/www.cisa.gov\/topics\/physical-security\/non-confrontational-techniques\/power-hello",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.cisa.gov\/topics\/physical-security\/non-confrontational-techniques\/power-hello",
        "snippet": "The power is in the employee, citizen, patron, or any person who
        can observe and report. Used effectively, the right words can be a powerful
        tool. Simply saying “Hello” can prompt a casual conversation with unknown
        individuals and help you determine why they are there. The OHNO approach –
        Observe, Initiate a Hello, Navigate the Risk, and ...", "dateLastCrawled":
        "2024-01-05T12:06:00.0000000Z", "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=hello+(site%3agov+OR+site%3amil)&d=4960468536328258&mkt=en-US&setlang=en-US&w=71mslEHm-ufPwoRpvDFSZWoFMgKWRMzW",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "GET STARTED - Veterans Affairs", "url": "https:\/\/www.va.gov\/getstarted\/",
        "datePublished": "2020-07-21T00:00:00.0000000", "datePublishedDisplayText":
        "Jul 21, 2020", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.va.gov\/getstarted",
        "snippet": "Download. For a complete listing of phone numbers and websites
        of VA services, see p. 2 of Federal Benefits booklet. Page last updated on
        July 21, 2020. Welcome to VA get started.", "dateLastCrawled": "2024-01-09T22:29:00.0000000Z",
        "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=hello+(site%3agov+OR+site%3amil)&d=4818760242692219&mkt=en-US&[...]
