---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=hillary%20rodham%20clinton%20first%20lady%20(site:whitehouse.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659eac792bbb4b29ba9ad988d0d9121b
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659eac792bbb4b29ba9ad988d0d9121b
      Bingapis-Sessionid:
      - AD2F697322D343A8B6DC4A14C5BE26A1
      X-Msedge-Clientid:
      - 1A71003A65E167BD30E5143864DC66FF
      X-Msapi-Userstate:
      - '5206'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=293,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "hillary
        rodham clinton first lady (site:whitehouse.gov)"}, "webPages": {"webSearchUrl":
        "https:\/\/www.bing.com\/search?q=hillary+rodham+clinton+first+lady+(site%3awhitehouse.gov)",
        "totalEstimatedMatches": 50, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Hillary Rodham Clinton | The White House", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-families\/hillary-rodham-clinton\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-families\/hillary-rodham-clinton",
        "snippet": "About The White House First Families Hillary Diane Rodham
        Clinton served as the First Lady of the United States to the 42nd President,
        Bill Clinton. She went on to become a U.S....", "dateLastCrawled": "2024-01-08T16:33:00.0000000Z",
        "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=hillary+rodham+clinton+first+lady+(site%3awhitehouse.gov)&d=4973585359200981&mkt=en-US&setlang=en-US&w=jT39_N6DK1nVue0bEom4XfAMZ7NL11qH",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "First Families | The White House", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-families\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-families",
        "snippet": "We''ll be in touch with the latest information on how President
        Biden and his administration are working for the American people, as well
     [...]
