---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=sba%20(site:www.sba.gov/blogs/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 7B433563200845F9AAC3E88B149D17F2
      Bingapis-Sessionid:
      - FD6797E4440E45A78EFF475C8F1C3BB4
      X-Msedge-Clientid:
      - 266BC11E331B6AE23EE3D1B5326E6B3E
      X-Msapi-Userstate:
      - d65f
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=227,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "sba
        (site:www.sba.gov\/blogs\/)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sba+(site%3awww.sba.gov%2fblogs%2f)",
        "totalEstimatedMatches": 8450, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Franchise Fees: Why Do You Pay Them And How Much Are They?", "url":
        "https:\/\/www.sba.gov\/blogs\/franchise-fees-why-do-you-pay-them-and-how-much-are-they",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.sba.gov\/blogs\/franchise-fees-why-do-you-pay-them-and-how-much-are-they",
        "snippet": "SBA Blog Contributor. Joel Libava, The Franchise King®, is the
        author of Become a Franchise Owner! and is a franchise ownership advisor.
        <p>The Franchise King®,&nbsp;Joel&nbsp;Libava, is an author and a franchise
        ownership advisor. He teaches people how to find, choose, research, and buy
        a franchise in the safest way possible.", "dateLastCrawled": "2021-08-31T00:12:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Basic Information About Operating Agreements", "url": "https:\/\/www.sba.gov\/blogs\/basic-information-about-operating-agreements",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.sba.gov\/blogs\/basic-information-about-operating-agreements",
        "snippet": "An operating agreement is a key document used by LLCs because
        it outlines the business'' financial and functional decisions including rules,
        regulations and provisions. The purpose of the document is to govern the internal
        operations of the business in a way that suits the specific needs of the business
        owners. Once the document is signed by the ...", "dateLastCrawled": "2021-09-03T21:52:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.2",
        "name": "5 reasons you need a business plan - SBA", "url": "https:\/\/www.sba.gov\/blogs\/5-reasons-you-need-business-plan",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.sba.gov\/blogs\/5-reasons-you-need-business-plan",
        "snippet": "By U.S. Small Business Administration on December 10, 2018.
        Category: SBA News and Views. If you are starting a small business, there
        is no shortage of advice on the steps you should take: registering your business
        name, getting a Tax ID, deciding on a business structure and applying for
        the needed permits and licenses.", "dateLastCrawled": "2021-08-13T01:17:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.3",
        "name": "How to Establish Business Cre[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=sba%20(site:www.sba.gov/blogs/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 4AE3BC033E02493CBD9612F3B35C895D
      Bingapis-Sessionid:
      - 8FB6082926FA498AB033CFBFBB460AB2
      X-Msedge-Clientid:
      - 0C114A14FE656ACB09F35ADCFF986B1A
      X-Msapi-Userstate:
      - 40b3
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=258[...]
