---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=warnings%20for%20a%20tornado%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 401
      message: PermissionDenied
    headers:
    body:
      encoding: UTF-8
      string: '{"error":{"code":"401","message":"Access denied due to invalid subscription
        key or wrong API endpoint. Make sure to provide a valid key for an active
        subscription and use a correct regional API endpoint for your resource."}}'
  recorded_at: Tue, 30 Mar 2021 17:18:01 GMT
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=atlantic%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 0F8F7EF699F24C72A58145810B89C86D
      Bingapis-Sessionid:
      - 1F23E06628BE4F3880D41A94515CECB7
      X-Msedge-Clientid:
      - 0DE24DF1AE0366FE05665DE0AF1167FD
      X-Msapi-Userstate:
      - 7d31
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=243,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "atlantic
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=atlantic+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 38200000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "NIWC Atlantic Wins Big in Joint Artificial Intelligence ...", "url":
        "https:\/\/www.navy.mil\/Press-Office\/News-Stories\/Article\/2561638\/niwc-atlantic-wins-big-in-joint-artificial-intelligence-robotics-competition\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.navy.mil\/Press-Office\/News-Stories\/Article\/2561638\/niwc-atlantic-wins-big...",
        "snippet": "“NIWC Atlantic is committed to being a leader in data, analytics
        and AI workforce for the Department of the Navy,” said Senior Science and
        Technology Manager Robert Keisler, who is responsible ...", "dateLastCrawled":
        "2021-04-06T15:11:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "EWTGLANT - United States Navy", "url": "https:\/\/www.csg4.usff.navy.mil\/ewtglant\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.csg4.usff.navy.mil\/ewtglant",
        "snippet": "Expeditionary Warfare Training Group, Atlantic (EWTGLANT) conducts
        world-class expeditionary warrior training and instruction in the doctrine,
        tactics and techniques of naval ex[...]
