---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=death%20star%20r2d2%20xyz3%20(site:petitions.whitehouse.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 83A46DDFA671490E90017780EBFAF6E5
      Bingapis-Sessionid:
      - 23916C51480144AFAC28D60B315E0A93
      X-Msedge-Clientid:
      - 35B109B5952666B30C52191E949667B2
      X-Msapi-Userstate:
      - '8071'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=191,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "death
        star r2d2 xyz3 (site:petitions.whitehouse.gov\/)"}, "rankingResponse": {}}'
  recorded_at: Tue, 07 Sep 2021 16:19:18 GMT
recorded_with: VCR 6.0.0
