---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=hillary%20rodham%20clinton%20first%20lady%20(site:whitehouse.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 2DC2346C105D4427A110105B295A3D38
      Bingapis-Sessionid:
      - 5F295500854947A1BBA1A69797777E5D
      X-Msedge-Clientid:
      - 18B6E8A2CBB96D14204CF8AECACC6C36
      X-Msapi-Userstate:
      - 1c23
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=198,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "hillary
        rodham clinton first lady (site:whitehouse.gov)"}, "webPages": {"webSearchUrl":
        "https:\/\/www.bing.com\/search?q=hillary+rodham+clinton+first+lady+(site%3awhitehouse.gov)",
        "totalEstimatedMatches": 244, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Hillary Rodham Clinton | The White House", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-families\/hillary-rodham-clinton\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-families\/hillary-rodham-clinton",
        "snippet": "Hillary Diane Rodham Clinton served as the First Lady
        of the United States to the 42nd President, Bill Clinton. She went on to
        become a U.S. Secretary of State and U.S. Senator from New York. In ...",
        "dateLastCrawled": "2021-03-29T08:48:00.0000000Z", "language": "en", "isNavigational":
        false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Martha Dandridge Custis Washington | The White House", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-families\/martha-dandridge-custis-washington\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-families\/martha-dandridge...",
        "snippet": "Hillary Rodham Clinton Laura Welch Bush ... As the [...]
