---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=hello%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0FF90B5C9A2744B8A8B6A5AFAD9851C4
      Bingapis-Sessionid:
      - 3947F3C25F2A4690B644B3B261B02CB1
      X-Msedge-Clientid:
      - 3DEFB3BC357E6A54134EA3B034836BA2
      X-Msapi-Userstate:
      - b53a
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=247,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "hello
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hello+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 6740000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Hello®", "url": "https:\/\/dailymed.nlm.nih.gov\/dailymed\/fda\/fdaDrugXsl.cfm?setid=5e4197ed-2ed5-41cc-817e-8e9213dc780a",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/dailymed.nlm.nih.gov\/dailymed\/fda\/fdaDrugXsl.cfm?setid=5e4197ed-2ed5-41cc-817e...",
        "snippet": "HELLO- sodium fluoride paste, dentifrice Hello Products LLC.
        Disclaimer: Most OTC drugs are not reviewed and approved by FDA, however they
        may be marketed if they comply with applicable regulations and policies. FDA
        has not evaluated whether this product complies.-----", "dateLastCrawled":
        "2021-03-29T00:54:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "Hello® Naturally Fresh™ Antiseptic", "url": "https:\/\/dailymed.nlm.nih.gov\/dailymed\/fda\/fdaDrugXsl.cfm?setid=3c7faad7-9c02-ddec-9d86-9b6218ff8ce7",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/dailymed.nlm.nih.gov\/dailymed\/fda\/fdaDrugXsl.cfm?setid=3c7faad7-9c02-ddec-9d86...",
        "snippet": "HELLO NATURALLY FRESH ANTISEPTIC- menthol, unspecified form
        mout[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/search?count=20&mkt=en-US&offset=0&q=hello%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - AC4C0C233B71466E8239E4782000504F
      X-Msedge-Clientid:
      - 3A1EF463630A6E790DF8E46F62F76F42
      X-Msapi-Userstate:
      - f966
      X-Search-Responseinfo:
      - InternalResponseTime=286,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "images\/search?q=hello (site:gov OR site:mil)", "webSearchUrl":
        "https:\/\/www.bing.com\/images\/search?q=hello (site:gov OR site:mil)&FORM=OIIARP",
        "queryContext": {"originalQuery": "hello (site:gov OR site:mil)", "alterationDisplayQuery":
        "hello", "alterationOverrideQuery": "+hello (site:gov OR site:mil)", "alterationMethod":
        "AM_JustChangeIt", "alterationType": "CombinedAlterationsChained"}, "totalEstimatedMatches":
        124, "nextOffset": 21, "currentOffset": 0, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=hello+(site%3agov+OR+site%3amil)&id=B0350F1C1C2319543EEAC706B898BDB9F28BA3F2&simid=607986426522905449",
        "name": "Hello | U.S. Embassy & Consulate in Thailand", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.E1dH0qI_xGmymWVVN5JubwHaHa&pid=Api",
        "datePublished": "2021-02-08T04:22:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "https:\/\/d2v9ipibika81v.cloudfront.net\/uploads\/sites\/90\/Hello-1.jpg",
        "hostPageUrl": "https:\/\/th.usembassy.gov\/us-consulate-chiang-mai-line-graphics\/hello-2\/",
        "contentSize": "902191 B", "encodingFormat": "jpeg", "hostPageDisplayUrl":
        "https:\/\/th.usembassy.gov\/us-consulate-chiang-mai-line-graphics\/hello-2",
        "width": 1500, "height": 1500, "hostPageFavIconUrl": "https:\/\/www.bing.com\/th?id=ODF.IlL-sVtodSa7MQpdXTBmYg&pid=Api",
        "hostPageDomainFriendlyName": "U.S", "hostPageDiscoveredDate": "2020-02-07T00:00:00.0000000Z",
        "thumbnail": {"width": 474, "height": 474}, "imageInsightsToken": "ccid_E1dH0qI\/*cp_F80624EB5DBE7E8243F5F11B30F67FE7*mid_B0350F1C1C2319543EEAC706B898BDB9F28BA3F2*simid_607986426522905449*thid_OIP.E1dH0qI!_xGmymWVVN5JubwHaHa",
        "insightsMetadata": {"pagesIncludingCount": 2, "availableSizesCount": 1},
        "imageId": "B0350F1C1C2319543EEAC706B898BDB9F28BA3F2", "accentColor": "008CCC"},
        {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=hello+(site%3agov+OR+site%3amil)&id=18603F0A4703F775FFB7E72760354A736208ADB2&simid=607998525432358886",
        "name": "Mayor''s Office for Adult Literacy", "thumbnailUrl": "https:\/\/tse3.explicit.bing.net\/th?id=OIP.wxwLRg7KfLfuf1ECrmGVjQAAAA&pid=Api",
        "datePublished": "2021-03-05T01:08:00.0000000Z", "isFamilyFriendly": false,
        "contentUrl": "https:\/\/www.houstontx.gov\/adu[...]
