---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=sba%20(site:www.sba.gov/blogs/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 53416C1521E5467C9707E4457BFEF4EB
      Bingapis-Sessionid:
      - 4F10D2D71D3A4D5EA3213522BADF8587
      X-Msedge-Clientid:
      - 39C52567C2606B193408356BC3156A84
      X-Msapi-Userstate:
      - 224f
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=159,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "sba
        (site:www.sba.gov\/blogs\/)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sba+(site%3awww.sba.gov%2fblogs%2f)",
        "totalEstimatedMatches": 27900, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "How to Market for Small Business Saturday", "url": "https:\/\/www.sba.gov\/blogs\/how-market-small-business-saturday",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.sba.gov\/blogs\/how-market-small-business-saturday",
        "snippet": "Small Business Saturday is bigger than ever—and despite what you
        may think, it’s not just for retailers or even just for brick-and-mortar businesses.
        Here’s what you need to know and how to take advantage of small business’s
        big day.", "dateLastCrawled": "2021-03-03T06:12:00.0000000Z", "language":
        "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "The SBA Can Help You Reach Your Small Business Milestones", "url":
        "https:\/\/www.sba.gov\/blogs\/sba-can-help-you-reach-your-small-business-milestones",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.sba.gov\/blogs\/sba-can-help-you-reach-your-small-business-milestones",
        "snippet": "If you’re a small business owner just starting out or you’ve been
        in busi[...]
