---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=notes%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659eacb0327a4ca89174a0d20d95918b
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659eacb0327a4ca89174a0d20d95918b
      Bingapis-Sessionid:
      - '058EF14F3DB14C09BA3FE4E3F1B66761'
      X-Msedge-Clientid:
      - '0815B00B44306A6F33B7A409459A6BAB'
      X-Msapi-Userstate:
      - c003
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=261,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "notes
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=notes+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 11500000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "31 USC 3103: Notes", "url": "https:\/\/uscode.house.gov\/view.xhtml?req=granuleid:USC-2000-title31-section3103&num=0&edition=2000",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/uscode.house.gov\/view.xhtml?req=granuleid:USC-2000-title31-section3103&num=0&...",
        "snippet": "§3103. Notes (a) With the approval of the President, the Secretary
        of the Treasury may borrow on the credit of the United States Government amounts
        necessary for expenditures authorized by law and may issue notes of the
        Government for the amounts borrowed and may buy, redeem, and make refunds
        under section 3111 of this title.The Secretary may prescribe conditions under
        section 3121 of this title.", "dateLastCrawled": "2024-01-10T07:48:00.0000000Z",
        "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=notes+(site%3agov+OR+site%3amil)&d=807994558051&mkt=en-US&setlang=en-US&w=lXf11DgiyBztT577PMrWDbzsnJkJTRtO",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Bulletin Notes — LEB", "url": "https:\/\/leb.fbi.gov\/bulletin-highlights\/bulletin-notes\/bulletin-notes-01092024",
        "datePublished": "2024-01-10T00:00:00.0000000", "datePublishedFreshnessText":
        "14 hours ago", "isFamilyFriendly": true, "displayUrl": "https:\/\/leb.fbi.gov\/bulletin-highlights\/bulletin-notes\/bulletin-notes-01092024",
        "snippet": "Lieutenant Corey Brooks. Nominations for the Bulletin Notes
        should be based on either the rescue of one or more citizens or an arrest
        (s) made at unusual risk to an officer’s safety. Submissions should include
        a short write-up, a separate photograph of each nominee, and a letter from
        the d[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=emergencia%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
[...]
