---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=jobs%20(site:www.usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - BEB27201713B4EF6957769BC920A90B5
      Bingapis-Sessionid:
      - 8D425548627D4616B3E33F314795A846
      X-Msedge-Clientid:
      - 3D4DA5DF9B476EAF2901B5CE9ABA6F22
      X-Msapi-Userstate:
      - b6a1
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=245,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "jobs
        (site:www.usa.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3awww.usa.gov)",
        "totalEstimatedMatches": 2670000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Find a Job | USAGov", "url": "https:\/\/www.usa.gov\/find-a-job",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usa.gov\/find-a-job",
        "snippet": "Finding and getting a job can be a challenging process. Knowing
        more about job search methods and application techniques can help. To begin
        looking for jobs in your area, search by job title at CareerOneStop. Or,
        post your resume and register your job search with your state job bank. State
        Job Banks ...", "dateLastCrawled": "2021-04-04T17:11:00.0000000Z", "language":
        "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Looking for a New Job | USAGov", "url": "https:\/\/www.usa.gov\/job-search",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usa.gov\/job-search",
        "snippet": "Looking for a New Job. Find out how to look for work in the private
        sector and federal government. Find a Federal Government Job. Learn how to
        find a job with the federal government.", "dateLastCrawled": [...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=jobs%20(site:search.gov/blog/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
   [...]
