---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=jobs%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 59A3B5D0DA514D5F8002406A7A698010
      Bingapis-Sessionid:
      - 1BE0CCE7439B4E35B4C389B1E54D17B3
      X-Msedge-Clientid:
      - 16AA6EA30E8F68273ADF7E080F72697F
      X-Msapi-Userstate:
      - 87e9
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=233,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "jobs
        (site:usa.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3ausa.gov)",
        "totalEstimatedMatches": 560000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Find a Job | USAGov", "url": "https:\/\/www.usa.gov\/find-a-job",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usa.gov\/find-a-job",
        "snippet": "Federal Government Employment walks you through the steps to apply
        for a job on USAJOBS. USAJOBS is the federal government''s jobs portal.
        Veterans'' Preference Advisor offers guidance on veterans'' preference in
        federal hiring. If you plan to go to college or a vocational school, learn
        about your educational benefits.", "dateLastCrawled": "2021-09-05T06:13:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Find a Federal Government Job | USAGov", "url": "https:\/\/www.usa.gov\/government-jobs",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usa.gov\/government-jobs",
        "snippet": "Many jobs open to people with disabilities use only that process.
        Finding and Applying for Federal Jobs. You can search for most jobs on
        the government’s job site, USAJOBS.gov.[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=jazz%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-[...]
