---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=hippopotomonstrosesquippedaliophobia%20(site:nih.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659eac8d4c4049e6acee483f2919798e
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659eac8d4c4049e6acee483f2919798e
      Bingapis-Sessionid:
      - 668D725CE7064E4B84ABAEC4E19852C5
      X-Msedge-Clientid:
      - 243C760C91F86058001D620E90526172
      X-Msapi-Userstate:
      - 34b5
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=219,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "hippopotomonstrosesquippedaliophobia
        (site:nih.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hippopotomonstrosesquippedaliophobia+(site%3anih.gov)",
        "totalEstimatedMatches": 4800, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Specific Phobia - StatPearls - NCBI Bookshelf", "url": "https:\/\/www.ncbi.nlm.nih.gov\/books\/NBK499923\/",
        "datePublished": "2023-05-01T00:00:00.0000000", "datePublishedDisplayText":
        "May 1, 2023", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.ncbi.nlm.nih.gov\/books\/NBK499923",
        "snippet": "Patients with a specific phobia experience high levels of anxiety
        along with excessive and unreasonable fear due to either exposure to a phobic
        stimulus, the anticipation of exposure to a phobic stimulus, and even speaking
        about the feared stimulus. As a result, these patients will try to avoid the
        anxiety-provoking stimulus to any extent possible. Many patients have a strong
        family history of ...", "dateLastCrawled": "2024-01-05T21:05:00.0000000Z",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Specific phobias - PMC - National Center for Biotechnology Information",
        "url": "https:\/\/www.ncbi.nlm.nih.gov\/pmc\/articles\/PMC7233312\/", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.ncbi.nlm.nih.gov\/pmc\/articles\/PMC7233312",
        "snippet": "Specific phobias are irrational and persistent fears of certain
        objects or situations that pose little or no actual danger. T[...]
[...]
