---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=warnings%20for%20a%20tornado%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - '0973CF9787AE4E4A8604FDB9E5D14121'
      Bingapis-Sessionid:
      - F3531BDFC0014BFCAB87F3F3B34EAA8D
      X-Msedge-Clientid:
      - 35A812289F2A66193DE502839E38679A
      X-Msapi-Userstate:
      - '08ac'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=266,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "warnings
        for a tornado (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=warnings+for+a+tornado+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 11700000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Tornado | Alerts and Warnings - FEMA", "url": "https:\/\/community.fema.gov\/ProtectiveActions\/s\/article\/Tornado-Alerts-and-Warnings",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/community.fema.gov\/ProtectiveActions\/s\/article\/Tornado-Alerts-and-Warnings",
        "snippet": "Tornado Warning – The NWS issues a Tornado Warning when
        a tornado has been sighted or indicated by weather radar. Take shelter IMMEDIATELY.
        Warning times vary in the range of 10 to 15 minutes. Occasionally, tornadoes
        develop without detection, and no official warnings can be made before touchdown.
        [1]", "dateLastCrawled": "2021-09-04T04:25:00.0000000Z", "language": "en",
        "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Understand Tornado Alerts - National Weather Service", "url":
        "https:\/\/www.weather.gov\/safety\/tornado-ww", "isFamilyFriendly": true,
        "displayUrl": "https:\/\/www.weather.gov\/safety\/tornado-ww", "snippet":
        "Warnings are issued by your local forecast office. Warnings typically
        encompass a much smaller area (around the size of a city or small county)
  [...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=atlantic%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ut[...]
