---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=popular%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6385174cb6084b76bb8722632c634983
      Bingapis-Sessionid:
      - BC3327C5113E4C679FBD9E3EAADAB57F
      X-Msedge-Clientid:
      - 299EF0CA5EBD6E821244E2A05F6D6F6D
      X-Msapi-Userstate:
      - fd36
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=252,MSDatacenter=CH1B
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "popular
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=popular+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 2980000000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "POPULAR NAME TOOL - House", "url": "https:\/\/uscode.house.gov\/popularnames\/popularnames.htm",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/uscode.house.gov\/popularnames\/popularnames.htm",
        "snippet": "The Popular Name Tool enables you to search or browse the United
        States Code Table of Acts Cited by Popular Name. For printing purposes,
        the PDF file is recommended. A detailed explanation of the Table is located
        here. _____Act of_____ Pub. L. 111-226, Aug. 10, 2010,124 Stat. 2389. Short
        title ...", "dateLastCrawled": "2022-11-25T07:27:00.0000000Z", "language":
        "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Popular Baby Names by Decade - Social Security Administration",
        "url": "https:\/\/www.ssa.gov\/oact\/babynames\/decades\/", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.ssa.gov\/oact\/babynames\/decades", "snippet":
        "Select Decade. Popular names by decade are determined the same way we determine
        the popularity of a name during a single year. We count the number o[...]
[...]
