---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=hillary%20rodham%20clinton%20first%20lady%20(site:whitehouse.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 299B65B4A5FE40A789017E62CD17F0FF
      Bingapis-Sessionid:
      - 2FF43E376FA24E708F423D7470293B83
      X-Msedge-Clientid:
      - 27FE6AF1E9BD69D63B3A7A5AE8406829
      X-Msapi-Userstate:
      - '7982'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=239,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "hillary
        rodham clinton first lady (site:whitehouse.gov)"}, "webPages": {"webSearchUrl":
        "https:\/\/www.bing.com\/search?q=hillary+rodham+clinton+first+lady+(site%3awhitehouse.gov)",
        "totalEstimatedMatches": 53, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Hillary Rodham Clinton | The White House", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-families\/hillary-rodham-clinton\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-families\/hillary-rodham-clinton",
        "snippet": "Hillary Diane Rodham Clinton served as the First Lady
        of the United States to the 42nd President, Bill Clinton. She went on to
        become a U.S. Secretary of State and U.S. Senator from New York. In ...",
        "dateLastCrawled": "2021-09-03T07:18:00.0000000Z", "language": "en", "isNavigational":
        false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Martha Dandridge Custis Washington | The White House", "url":
        "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-families\/martha-dandridge-custis-washington\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house\/first-families\/martha-dandridge...",
        "snippet": "Hillary Rodham Clinton Laura Welch Bush .[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=hillary%20rodham%20clinton%20first%20lady%20(site:whitehouse.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 71D58174F929480AAB53918A2E3D8D6F
      Bingapis-Sessionid:
      - 1490601194424311BB800946D3EF1611
      X-Msedge-Clientid:
      - 2DB5C984646E685637ACD94C6593699F
      X-Msapi-Userstate:
      - 7e00
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=272[...]
