---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=qeury%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - BA818BBC12AA44CD87E46FBCF3AC8BB4
      Bingapis-Sessionid:
      - 347D0D6C13934664935FAC5F8CA62B84
      X-Msedge-Clientid:
      - 2A9BFD569E506DFB1925EC7C9FAD6C62
      X-Msapi-Userstate:
      - 4af4
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=538,MSDatacenter=BN2B
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "qeury
        (site:usa.gov)", "alteredQuery": "query", "alterationDisplayQuery": "query",
        "alterationOverrideQuery": "+qeury (site:usa.gov)", "adultIntent": false},
        "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=qeury+(site%3ausa.gov)",
        "totalEstimatedMatches": 79, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "www.search.usa.gov", "url": "https:\/\/www.search.usa.gov\/search?query=CPEP&affiliate=dc_dmh&emb=1",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.search.usa.gov\/search?query=CPEP&affiliate=dc_dmh&emb=1",
        "snippet": "www.search.usa.gov", "dateLastCrawled": "2021-12-22T11:05:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Search.gov", "url": "https:\/\/search.usa.gov\/search?utf8=%E2%9C%93&affiliate=ed.gov&query=Culturally+Responsive+",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/search.usa.gov\/search?utf8=%E2%9C%93&affiliate=ed.gov&query=Culturally+Responsive+",
        "snippet": "We''ve detected an unusually high number of searches coming from
        your location. Are you a real person, or a robot?"[...]
