---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=jobs%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659eaca7f5fc4e3bbc255801ef71c1e2
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659eaca7f5fc4e3bbc255801ef71c1e2
      Bingapis-Sessionid:
      - CF66DFDE1DB34290AB4D1AFC1E365CB5
      X-Msedge-Clientid:
      - 208A8B5466986DDB3C249F5667326C80
      X-Msapi-Userstate:
      - '4514'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=242,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "jobs
        (site:usa.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jobs+(site%3ausa.gov)",
        "totalEstimatedMatches": 12800, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "How to find a job | USAGov", "url": "https:\/\/www.usa.gov\/job-help",
        "datePublished": "2023-12-11T00:00:00.0000000", "datePublishedDisplayText":
        "Dec 11, 2023", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usa.gov\/job-help",
        "snippet": "Search for jobs in your local newspaper and its website; Visit
        a public library to get in-person help with job searches and more; Search
        for a government job Federal government jobs. USAJOBS is the central place
        to find and apply for federal jobs at U.S. government agencies around the
        world. Search USAJOBS. Federal jobs for special groups", "dateLastCrawled":
        "2024-01-10T05:09:00.0000000Z", "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=jobs+(site%3ausa.gov)&d=4867959229190985&mkt=en-US&setlang=en-US&w=RFb7ItZUR4ylsUoj0y5RF1p5TLgmWwve",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "How to find jobs and free training | USAGov", "url": "https:\/\/www.usa.gov\/job-search",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usa.gov\/job-search",
        "snippet": "How to find free job training. Learn about government job training
        programs that can give you new skills to reach your career goals. Find job
        training programs that can help you learn new work skills.[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=jazz%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
 [...]
