---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=death%20star%20r2d2%20xyz3%20(site:petitions.whitehouse.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 6FB4511E6E724C23823D5B4693262078
      Bingapis-Sessionid:
      - 02CC2D43B9404CA8BFF53EBE91F78BD4
      X-Msedge-Clientid:
      - 37C2ED5A45476A210EA8FDC544086BDB
      X-Msapi-Userstate:
      - 928a
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=201,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "death
        star r2d2 xyz3 (site:petitions.whitehouse.gov\/)"}, "rankingResponse": {}}'
  recorded_at: Thu, 26 Aug 2021 16:49:42 GMT
recorded_with: VCR 4.0.0
