---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=foobarbazbiz%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 5857C5E359EC4D6E92E28C0001C6AB86
      Bingapis-Sessionid:
      - B91E4C9072D549AB95EA9FD05B354CF2
      X-Msedge-Clientid:
      - 154D41753F3D6B7F031951DE3E8D6A2A
      X-Msapi-Userstate:
      - 58b6
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=149,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "foobarbazbiz
        (site:gov OR site:mil)"}, "rankingResponse": {}}'
  recorded_at: Tue, 07 Sep 2021 16:18:28 GMT
recorded_with: VCR 6.0.0
