---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=jobs%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 401
      message: PermissionDenied
    headers:
    body:
      encoding: UTF-8
      string: '{"error":{"code":"401","message":"Access denied due to invalid subscription
        key or wrong API endpoint. Make sure to provide a valid key for an active
        subscription and use a correct regional API endpoint for your resource."}}'
  recorded_at: Tue, 30 Mar 2021 17:17:39 GMT
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=jazz%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - C3D7F3C9E9574EB1938FBEA769BB7F7D
      Bingapis-Sessionid:
      - 21E93057B83641A9BE5083269E5B7F87
      X-Msedge-Clientid:
      - 00C3AA5A5CBD68FD3DD8BA4D5DA26918
      X-Msapi-Userstate:
      - 88a2
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=181,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "jazz
        (site:usa.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=jazz+(site%3ausa.gov)",
        "totalEstimatedMatches": 1, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Copyright Office | USAGov", "url": "https:\/\/www.usa.gov\/federal-agencies\/copyright-office",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usa.gov\/federal-agencies\/copyright-office",
        "snippet": "A locked padlock) or https:\/\/ means you’ve safely connected
        to the .gov website.Share sensitive information only on official, secure websites.",
        "dateLastCrawled": "2021-04-10T00:53:00.0000000Z", "language": "en", "isNavigational":
        false}]}, "rankingResponse": {"mainline": {"items": [{"answerType": "WebPages",
        "resultIndex": 0, "value": {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0"}}]}}}'
  recorded_at: Mon, 12 Apr 2021 15:55:07 GMT
recorded_with: VCR 4.0.0
