---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=hello%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 3972A6A3A3C041CDBF5F38EC07827305
      Bingapis-Sessionid:
      - 14740F9586704C478692B28D47E48B3D
      X-Msedge-Clientid:
      - 2B3E101A39B36F610C7B00B138FC6EA6
      X-Msapi-Userstate:
      - 2b34
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=268,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "hello
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hello+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 2040000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Employee Vigilance - Power of Hello | CISA", "url": "https:\/\/www.cisa.gov\/employee-vigilance-power-hello",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.cisa.gov\/employee-vigilance-power-hello",
        "snippet": "Employee Vigilance - Power of Hello. Industries face a variety
        of threats, both internal and external, from hostile governments, terrorist
        groups, disgruntled employees and malicious introducers. Alert employees can
        spot suspicious activity and report it. The power is in the employee, citizen,
        patron, or any person who can observe and report.", "dateLastCrawled": "2021-09-05T03:14:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Power of Hello Resources | CISA", "url": "https:\/\/www.cisa.gov\/publication\/power-hello-resources",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.cisa.gov\/publication\/power-hello-resources",
        "snippet": "The CISA Power of Hello Slick-sheet and CISA Power of Hello
        Placemat provides stakeholders with information to assist in identifying and
        effectivel[...]
