---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=death%20star%20r2d2%20xyz3%20(site:petitions.whitehouse.gov/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - D54CB9D983F34FECA2EAA0F09CC49F76
      Bingapis-Sessionid:
      - 956531CD06E94656A7FCA31DDA8E73E2
      X-Msedge-Clientid:
      - 3AD1DC99D34B62C52624CC95D2B66334
      X-Msapi-Userstate:
      - 959d
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=181,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "death
        star r2d2 xyz3 (site:petitions.whitehouse.gov\/)"}, "rankingResponse": {}}'
  recorded_at: Thu, 01 Apr 2021 21:11:10 GMT
recorded_with: VCR 4.0.0
