---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=warnings%20for%20a%20tornado%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659eacadac134e2eb0631c4654d6c8bc
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659eacadac134e2eb0631c4654d6c8bc
      Bingapis-Sessionid:
      - E5B97130168B46BDAF2314DFFD74C3E0
      X-Msedge-Clientid:
      - 0FC737F0902862560E5E23F29182639F
      X-Msapi-Userstate:
      - 83d8
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=257,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "warnings
        for a tornado (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=warnings+for+a+tornado+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 4730000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Understand Tornado Alerts - National Weather Service", "url":
        "https:\/\/www.weather.gov\/safety\/tornado-ww", "isFamilyFriendly": true,
        "displayUrl": "https:\/\/www.weather.gov\/safety\/tornado-ww", "snippet":
        "Tornadoes are possible in and near the watch area. Review and discuss your
        emergency plans and check supplies and your safe room. Be ready to act quickly
        if a warning is issued or you suspect a tornado is approaching. Acting
        early helps to save lives! Watches are issued by the Storm Prediction Center
        for counties where tornadoes may occur.", "dateLastCrawled": "2024-01-07T06:11:00.0000000Z",
        "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=warnings+for+a+tornado+(site%3agov+OR+site%3amil)&d=4545097949597428&mkt=en-US&setlang=en-US&w=RBg11hKp9cQS31jrEjTycJqDHBTo0VJV",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Active Alerts - National Weather Service", "url": "https:\/\/www.weather.gov\/alerts",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.weather.gov\/alerts",
        "snippet": "Weather.gov > Active Alerts. Warnings By State. Excessive
        Rainfall and Winter Weather Forecasts. National River Flooding. Latest Warnings.
        Thunderstorm\/Tornado Outlook. Hurricanes. Fire Weather Outlooks. UV Alerts.",
        "dateLastCrawled": "2024-01-08T15:31:00.0000000Z", "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=warnings+for+a+tornado+(site%3agov+OR+site%3amil)&d=4570343766491288&mkt=en-US&setlang=en-US&w=fTEzaSak-wYeWgytOgzZVHjxLSIVuAGj",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.2",
        "name": "Tornadoes | Ready.gov", "url": "https:\/\/www.ready.gov\/tornadoes",
        "datePublished": "2022-02-18T00:00:00.0000000", "datePublishedDisplayText":
        "Feb 18, 2022", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.ready.gov\/tornado",
        "snippet": "Learn what to do if you are under a tornado warning and how
        to stay safe when a tornado threatens. Prepare for Tornadoes Stay Safe
        During Stay Safe After Associated Content Tornadoes are violently rotating
        columns of air that extend from a thunderstorm to the ground. Tornadoes
        can destroy buildings, flip cars, and create deadly flying debris. A tornado
        can:", "dateLastCrawled": "2024-01-10T05:19:00.0000000Z", "cachedPageUrl":
        "http:\/\/cc.bingj.com\/cache.aspx?q=warnings+for+a+tornado+(site%3agov+OR+site%3amil)&d=4876987252681968&mkt=en-US&setlang=en-US&w=trzKxL3McXWpzFhvtlnS_sMDN4u19JcB",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.3",
        "name": "Stay Safe During a Tornado | Tornadoes | CDC", "url": "https:\/\/www.cdc.gov\/disasters\/tornadoes\/[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=atlantic%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
  [...]
