---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=sba%20(site:www.sba.gov/blogs/)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659eaca257a64098a9e26ccbf68f3ed3
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659eaca257a64098a9e26ccbf68f3ed3
      Bingapis-Sessionid:
      - 5C1C0B15A6EC4C459027DFF506DB6D6A
      X-Msedge-Clientid:
      - 0FFD8C5E009262562AE7985C01386317
      X-Msapi-Userstate:
      - '2372'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=173,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "sba
        (site:www.sba.gov\/blogs\/)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=sba+(site%3awww.sba.gov%2fblogs%2f)",
        "totalEstimatedMatches": 3, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Redirecting to https:\/\/www.sba.gov\/blogs\/", "url": "https:\/\/www.sba.gov\/blogs\/sba-loans-explained-101-small-business-owners",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.sba.gov\/blogs\/sba-loans-explained-101-small-business-owners",
        "snippet": "Redirecting to https:\/\/www.sba.gov\/blogs\/.", "dateLastCrawled":
        "2023-10-20T10:22:00.0000000Z", "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=sba+(site%3awww.sba.gov%2fblogs%2f)&d=4973100029576661&mkt=en-US&setlang=en-US&w=r_ofulBhAgbVgRTp9oB7yP9i8OHKMflC",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Small Business Administration", "url": "https:\/\/www.sba.gov\/blogs\/national-mentoring-month-and-small-businesses\/?JanuaryMentorCampaignGOVD",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.sba.gov\/blogs\/national-mentoring-month-and-small-businesses\/?JanuaryMentor...",
        "snippet": "Small Business Administration", "dateLastCrawled": "2023-12-27T17:25:00.0000000Z",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}]}, "rankingResponse":
        {"mainline": {"items": [{"answerType": "WebPages", "resultIndex": 0, "value":
        {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0"}}, {"answerType":
        "WebPages", "resultIndex": 1, "value": {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1"}}]}}}'
  recorded_at: Wed, 10 Jan 2024 14:41:38 GMT
recorded_with: VCR 6.2.0
