---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=hippopotomonstrosesquippedaliophobia%20(site:nih.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - EBE3528D5D0A4C948BE7B8F48E75420F
      Bingapis-Sessionid:
      - 07EB9D0DDAE64DC3B3AC2E65E24E1E43
      X-Msedge-Clientid:
      - 13DB495E777160B62C4259F5763E61C1
      X-Msapi-Userstate:
      - ec33
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=186,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "hippopotomonstrosesquippedaliophobia
        (site:nih.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=hippopotomonstrosesquippedaliophobia+(site%3anih.gov)",
        "totalEstimatedMatches": 2, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Age of onset of mental disorders: a review of recent ...", "url":
        "https:\/\/pubmed.ncbi.nlm.nih.gov\/17551351\/", "isFamilyFriendly": true,
        "displayUrl": "https:\/\/pubmed.ncbi.nlm.nih.gov\/17551351", "snippet":
        "Purpose of review: The aim of this article is to review recent epidemiological
        research on age-of-onset of mental disorders, focusing on the WHO World Mental
        Health surveys. Recent findings: Median and inter-quartile range (IQR; 25th-75th
        percentiles) of age-of-onset is much earlier for phobias (7-14, IQR 4-20)
        and impulse-control disorders (7-15; IQR 4-35) than other anxiety disorders
        (25-53 ...", "dateLastCrawled": "2021-08-31T19:38:00.0000000Z", "language":
        "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Pseudopseudohypoparathyroidism | Genetic and Rare Diseases ...",
        "url": "https:\/\/rarediseases.info.nih.gov\/diseases\/7860\/pseudopseudohypoparathyroidism",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/rarediseases.info.nih.gov\/diseases\/7860\/pseudopseudohypoparathyroidism",
        "snippet": "Pseudopseudohypoparathyroidism (PPHP) is an inherited condition
        that causes short stature, round face, and short hand bones. PPHP causes joints
        and other soft tissues in the body to harden. It also affects how bones are
        formed. As a result, PPHP can cause bone, joint, and nerve damage, and this
        damage can cause lasting pain. Some people with PPHP (10%) also have learning
        disability.", "dateLastCrawled": "2021-09-03T12:07:00.0000000Z", "language":
        "en", "isNavigational": false}]}, "rankingResponse": {"mainline": {"items":
        [{"answerType": "WebPages", "resultIndex": 0, "value": {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0"}},
        {"answerType": "WebPages", "resultIndex": 1, "value": {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1"}}]}}}'
  recorded_at: Tue, 07 Sep 2021 16:18:52 GMT
[...]
