---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=president%20(site:whitehouse.gov%20OR%20site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659eac85243a4b66afbcfe590e8e4820
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659eac85243a4b66afbcfe590e8e4820
      Bingapis-Sessionid:
      - AE766F806DEF43AD9E51CD5600FA73F8
      X-Msedge-Clientid:
      - 26C507E9EE5C665D316D13EBEF6167A1
      X-Msapi-Userstate:
      - 1ff0
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=263,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "president
        (site:whitehouse.gov OR site:usa.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=president+(site%3awhitehouse.gov+OR+site%3ausa.gov)",
        "totalEstimatedMatches": 77100, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Presidents | The White House", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/presidents\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house\/presidents",
        "snippet": "Learn more about the Presidents of the United States from WhiteHouse.gov.",
        "dateLastCrawled": "2024-01-08T21:03:00.0000000Z", "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=president+(site%3awhitehouse.gov+OR+site%3ausa.gov)&d=4950499911417626&mkt=en-US&setlang=en-US&w=nTkqDHeiK4_LOnLvkQtw3Qp9bp0lJwoL",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Joe Biden: The President | The White House", "url": "https:\/\/www.whitehouse.gov\/administration\/president-biden\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.whitehouse.gov\/administration\/president-biden",
        "snippet": "President Biden represented Delaware for 36 years in the U.S.
        Senate before becoming the 47th Vice President of the United States. As
        President, Biden will restore America’s leadership and build ...", "dateLastCrawled":
        "2024-01-08T10:06:00.0000000Z", "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=president+(site%3awhitehouse.gov+OR+site%3ausa.gov)&d=4543474451163781&mkt=en-US&setlang=en-US&w=dO8DXeXkj_ESIiYYliuBhxKE29ffPmtS",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.2",
        "name": "Presidents, vice presidents, and first ladies | USAGov", "url":
        "https:\/\/www.usa.gov\/presidents", "datePublished": "2023-12-06T00:00:00.0000000",
        "datePublishedDisplayText": "Dec 6, 2023", "isFamilyFriendly": true, "displayUrl":
        "https:\/\/www.usa.gov\/presidents", "snippet": "The president of the
        United States is the: U.S. head of state; Chief executive of the federal government;
        Commander-in-Chief of the armed forces; Current president. The 46th and
        current president of the United States is Joseph R. Biden, Jr. He was sworn
        into office on January 20, 2021. Former U.S. presidents. The United States
        has had 45 former ...", "dateLastCrawled": "2024-01-05T19:25:00.0000000Z",
        "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=president+(site%3awhitehouse.gov+OR+site%3ausa.gov)&d=4769771984326495&mkt=en-US&setlang=en-US&w=DDBoPlfhk2V5Cq7r1mEygAHccVyBTDYi",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.3",
        "name": "President Biden Names Forty-Fourth Round of Judicial Nominees",
        "url": "https:\/\/www.whitehouse.gov\/briefing-room\/presidential-actions\/2024\/01\/10\/president-biden-names-forty-fourth-round-of-judicial-nominees\/",
        "datePublished": "2024-01-10T00:00:00.0000000", "datePublishedFreshnessText":
        "14 hours ago", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.whitehouse.gov\/briefing-room\/presidential-actions\/2024\/01\/10\/president...",
        "snippet": "This will be President Biden’s forty-fourth round of nominees
        for federal judicial positions, bringing the number of announced federal judicial
        nominees to 215. Amir H. Ali: Nominee for the ...", "dateLastCrawled": "2024-01-10T14:01:00.0000000Z",
        "cachedPageUrl": "http:\/\/cc.bingj.com[...]
