---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=president%20(site:whitehouse.gov%20OR%20site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - AE7C7B18CB6640D3B3F6E3F3B6FEC6BD
      Bingapis-Sessionid:
      - 2DBA8FD7EA6F4247AA66999620357FA3
      X-Msedge-Clientid:
      - 147D661E5DF460AA314D76B55C1261C2
      X-Msapi-Userstate:
      - fc46
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=257,MSDatacenter=CH1B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "president
        (site:whitehouse.gov OR site:usa.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=president+(site%3awhitehouse.gov+OR+site%3ausa.gov)",
        "totalEstimatedMatches": 1260000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Joe Biden: The President | The White House", "url": "https:\/\/www.whitehouse.gov\/administration\/president-biden\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.whitehouse.gov\/administration\/president-biden",
        "snippet": "As President, Biden will restore America’s leadership and build
        our communities back better. Joseph Robinette Biden, Jr. was born in Scranton,
        Pennsylvania, the first of four children of ...", "dateLastCrawled": "2021-09-05T06:05:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Presidents | The White House", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/presidents\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house\/presidents",
        "snippet": "The 27th President of the United States William Howard Taft
        Woodrow Wilson The 28th President of the United States Woodrow Wilson Warren
   [...]
