---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=president%20(site:whitehouse.gov%20OR%20site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A468E131C0FB464EABEDF14345B0B4CF
      Bingapis-Sessionid:
      - 4C2B3FBAAC2247F6A2B7EABB14F8DA03
      X-Msedge-Clientid:
      - 2A1B2DE3DBCC6D6F0B563DE8DA316C0F
      X-Msapi-Userstate:
      - f35b
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=262,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "president
        (site:whitehouse.gov OR site:usa.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=president+(site%3awhitehouse.gov+OR+site%3ausa.gov)",
        "totalEstimatedMatches": 2990000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Presidents | The White House", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/presidents\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house\/presidents",
        "snippet": "The 27th President of the United States William Howard Taft
        Woodrow Wilson The 28th President of the United States Woodrow Wilson Warren
        G. Harding The 29th President of the United States ...", "dateLastCrawled":
        "2021-03-29T03:03:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "Joe Biden: The President | The White House", "url": "https:\/\/www.whitehouse.gov\/administration\/president-biden\/",
        "thumbnailUrl": "https:\/\/www.bing.com\/th?id=OIP.YP7hFV7pAnFLsI5515sP9wHaEc&pid=Api",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.whitehouse.gov\/administration\/president-biden",
        "snippet": "President Biden represented Delaware for 36 years in the U.S.
        Senate before becoming the 47th Vice President of the United States. As
        President, Biden will restore America’s leadership and build ...", "dateLastCrawled":
        "2021-03-30T00:06:00.0000000Z", "languag[...]
