---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=president%20(site:whitehouse.gov%20OR%20site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8AB0E33DA03B4F459C64C0A30F3E5863
      Bingapis-Sessionid:
      - 2FE4D64A3C33413EB189C2CD9D0BBAFF
      X-Msedge-Clientid:
      - 318743F2D1426E17088253F9D00D6F38
      X-Msapi-Userstate:
      - c8e2
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=198,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "president
        (site:whitehouse.gov OR site:usa.gov)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=president+(site%3awhitehouse.gov+OR+site%3ausa.gov)",
        "totalEstimatedMatches": 3020000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Presidents | The White House", "url": "https:\/\/www.whitehouse.gov\/about-the-white-house\/presidents\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.whitehouse.gov\/about-the-white-house\/presidents",
        "snippet": "The 27th President of the United States William Howard Taft
        Woodrow Wilson The 28th President of the United States Woodrow Wilson Warren
        G. Harding The 29th President of the United States ...", "dateLastCrawled":
        "2021-03-29T03:03:00.0000000Z", "language": "en", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "Joe Biden: The President | The White House", "url": "https:\/\/www.whitehouse.gov\/administration\/president-biden\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.whitehouse.gov\/administration\/president-biden",
        "snippet": "President Biden represented Delaware for 36 years in the U.S.
        Senate before becoming the 47th Vice President of the United S[...]
[...]
