---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=season%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 401
      message: PermissionDenied
    headers:
    body:
      encoding: UTF-8
      string: '{"error":{"code":"401","message":"Access denied due to invalid subscription
        key or wrong API endpoint. Make sure to provide a valid key for an active
        subscription and use a correct regional API endpoint for your resource."}}'
  recorded_at: Tue, 30 Mar 2021 17:17:17 GMT
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=estados%20unidos%20amiga%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5D75FE2945B04B5CAA1FBE1B83F14AAD
      Bingapis-Sessionid:
      - 79FA2B15910C4FE79105DF43E6ADA80C
      X-Msedge-Clientid:
      - 30FB6E5D1B8366922FE47E501A7E6774
      X-Msapi-Userstate:
      - f542
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=268,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "estados
        unidos amiga (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=estados+unidos+amiga+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 97100, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Residencia permanente o \"Green Card\" | USAGov", "url": "https:\/\/www.usa.gov\/espanol\/residencia-permanente",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.usa.gov\/espanol\/residencia-permanente",
        "snippet": "Solicitar, renovar o reemplazar su residencia permanente. La residencia
        permanente es el estatus que se les concede a los inmigrantes para vivir y
        trabajar permanentemente en Estados Unidos.. En la mayoría de casos, un
        patrocinador (empleador o familiar) es el que solicita la residencia permanente
        o \"Green Card\" (tarjeta verde) en favor de otra persona.", "dateLastCrawled":
        "2021-03-29T00:19:00.0000000Z", "language": "es", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "Declaración conjunta del Grupo de Amigos del Proceso de ...", "url": "https:\/\/co.usembassy.gov\/es\/declaracion-conjunta-del-grupo-de-amigos-del-proceso-de-quito\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/co.usembassy.gov\/es\/declaracion-conjunta-del-grupo-de-amigos-del-proceso-de-quito",
        "snippet": "El Grupo de Amigos del Proceso de Quito alaba la decisión[...]
