---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=noticia%20uno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - D79BFC5981B2437BB59F7920CF811ACA
      Bingapis-Sessionid:
      - 9670E4E7DAE040698A6BD15399502287
      X-Msedge-Clientid:
      - 16BE05E042D668A3146215F443616934
      X-Msapi-Userstate:
      - da2b
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=262,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "noticia
        uno (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=noticia+uno+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 204000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Entendiendo sus cartas o avisos del IRS | Internal Revenue ...",
        "url": "https:\/\/www.irs.gov\/es\/individuals\/understanding-your-irs-notice-or-letter",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.irs.gov\/es\/individuals\/understanding-your-irs-notice-or-letter",
        "snippet": "Su carta o aviso le explicará la razón del comunicado y le brindará
        instrucciones sobre cómo manejar el asunto. Si usted está de acuerdo con la
        información, no hay necesidad de que se comunique con nosotros. Ingrese el
        número de su carta o aviso arriba para obtener más información sobre cartas
        y avisos del IRS, junto con respuestas a muchas de las preguntas asociadas
        a éstas.", "dateLastCrawled": "2021-04-06T06:15:00.0000000Z", "language":
        "es", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "La introspección en una época de “noticias falsas ...", "url":
        "https:\/\/ylai.state.gov\/enfrentando-el-sesgo-cognitivo\/", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/ylai.state.gov\/enfrentando-el-sesgo-cognitivo",
        "snippet": "Todos actuamos bajo la influencia de uno o más sesgos cognitivos.
        Por eso, al buscar y leer noticias (u otra información), es imp[...]
