---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=noticia%20uno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659eac9d1652441aa7338271462b264e
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659eac9d1652441aa7338271462b264e
      Bingapis-Sessionid:
      - 840377EDEDDB44CC8A4782278D757C84
      X-Msedge-Clientid:
      - 2B72EE743796699C17CBFA76363C6814
      X-Msapi-Userstate:
      - 533b
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=246,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "noticia
        uno (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=noticia+uno+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 255000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "El tratamiento residencial de las adicciones para adolescentes es
        ...", "url": "https:\/\/nida.nih.gov\/es\/news-events\/news-releases\/2024\/01\/el-tratamiento-residencial-de-las-adicciones-para-adolescentes-es-escaso-y-caro",
        "datePublished": "2024-01-08T00:00:00.0000000", "datePublishedFreshnessText":
        "2 days ago", "isFamilyFriendly": true, "displayUrl": "https:\/\/nida.nih.gov\/es\/news-events\/news-releases\/2024\/01\/el-tratamiento-residencial...",
        "snippet": "Según un nuevo estudio (en inglés) apoyado por los Institutos
        Nacionales de Salud (NIH, por su sigla en inglés), el acceso a los centros
        residenciales de tratamiento de adicciones que atienden a adolescentes menores
        de 18 años en Estados Unidos es limitado y costoso. Los investigadores descubrieron
        que sólo cerca de la mitad (54%) de los centros residenciales de tratamiento
        de adicciones ...", "dateLastCrawled": "2024-01-10T07:08:00.0000000Z", "cachedPageUrl":
        "http:\/\/cc.bingj.com\/cache.aspx?q=noticia+uno+(site%3agov+OR+site%3amil)&d=1426505637244&mkt=en-US&setlang=en-US&w=RSvpDKX9UrnSZFIOv0XMPvOHRHh8KD4K",
        "language": "es", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "FEMA Approves Over $3.5 Million to Hogar CREA", "url": "https:\/\/www.fema.gov\/es\/press-release\/20240108\/fema-approves-over-35-million-hogar-crea",
        "datePublished": "2024-01-08T00:00:00.0000000", "datePublishedFreshnessText":
        "2 days ago", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.fema.gov\/es\/press-release\/20240108\/fema-approves-over-35-million-hogar-crea",
        "snippet[...]
