---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=noticia%20uno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 8D0127733D204BC8B455EDA19EEC8255
      Bingapis-Sessionid:
      - 2226C21E84D44FB3AEB4505177E59509
      X-Msedge-Clientid:
      - 249848B134A760740532581A35E8614F
      X-Msapi-Userstate:
      - beeb
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=224,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "noticia
        uno (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=noticia+uno+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 69100, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Bioterrorismo | El ántrax | CDC", "url": "https:\/\/www.cdc.gov\/anthrax\/es\/bioterrorismo\/bioterrorismo.html",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.cdc.gov\/anthrax\/es\/bioterrorismo\/bioterrorismo.html",
        "snippet": "Bioterrorismo. Un ataque biológico, o bioterrorismo, es la
        liberación intencional de virus, bacterias u otros gérmenes que pueden infectar
        o matar a las personas, los ganados o los cultivos. Bacillus anthracis, la
        bacteria que causa el ántrax (o carbunco), es uno de los agentes que se
        utilizaría con más probabilidad en un ataque biológico.", "dateLastCrawled":
        "2021-09-03T23:12:00.0000000Z", "language": "es", "isNavigational": false},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1", "name":
        "Comunicados de Prensa | Oficina de Prensa | Administración ...", "url":
        "https:\/\/www.ssa.gov\/espanol\/noticias\/prensa\/comunicados\/2020\/", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.ssa.gov\/espanol\/noticias\/prensa\/comunicados\/2020",
        "snippet": "Cada uno de los proveedores de servicios seleccionados puede
        darle servicio hasta 20[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=noticia%20uno%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - BAC4F515E04746758951BD3069CD1735
      Bingapis-Sessionid:
      - AAC1E3CCEEC44299964DDB131AA9216A
      X-Msedge-Clientid:
      - 356E783906A965E5251A68F10754644D
      X-Msapi-Userstate:
      - 3cef
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=240[...]
