---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=first%20item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 659eac9a5c2846fab5bee938feccf35a
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 659eac9a5c2846fab5bee938feccf35a
      Bingapis-Sessionid:
      - '0983072604854E3793A534F7E696530B'
      X-Msedge-Clientid:
      - 38220406E252649112091004E351656C
      X-Msapi-Userstate:
      - 8b8e
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=339,MSDatacenter=BNZE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "first
        item (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=first+item+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 3810000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Must-Haves for Your First-Aid Kit | Blogs | CDC", "url": "https:\/\/blogs.cdc.gov\/publichealthmatters\/2021\/05\/first-aid-kits\/",
        "datePublished": "2021-05-13T00:00:00.0000000", "datePublishedDisplayText":
        "May 13, 2021", "isFamilyFriendly": true, "displayUrl": "https:\/\/blogs.cdc.gov\/publichealthmatters\/2021\/05\/first-aid-kits",
        "snippet": "The American Red Cross suggests that a first-aid kit for a family
        of four include the following items: A first-aid guide. 2 absorbent compress
        dressings (5 x 9 inches) 25 adhesive bandages (assorted sizes) 1 adhesive
        cloth tape (10 yards x 1 inch) 5 antibiotic ointment packets. 5 antiseptic
        wipe packets.", "dateLastCrawled": "2024-01-09T03:21:00.0000000Z", "cachedPageUrl":
        "http:\/\/cc.bingj.com\/cache.aspx?q=first+item+(site%3agov+OR+site%3amil)&d=4569553493754554&mkt=en-US&setlang=en-US&w=RrpBdsVFHuId_iAiAstSCURfMxedb1Bb",
        "language": "en", "isNavigational": <DATADOG_API_ENABLED>}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Psychological distress and resilience in first responders and
        health ...", "url": "https:\/\/www.ncbi.nlm.nih.gov\/pmc\/articles\/PMC8420470\/",
        "datePublished": "2021-08-13T00:00:00.0000000", "datePublishedDisplayText":
        "Aug 13, 2021", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.ncbi.nlm.nih.gov\/pmc\/articles\/PMC8420470",
        "snippet": "The second resilience measu[...]
