---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=season%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - DD64D34DA5D5445AB86ED2DC6890CF3E
      Bingapis-Sessionid:
      - CDF33FB438B34348846E12560B62ADE7
      X-Msedge-Clientid:
      - 04307A863B896BD512D76A2D3A746A3A
      X-Msapi-Userstate:
      - 88af
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=265,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "season
        (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=season+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 10500000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "2020-2021 Flu Season Summary | CDC", "url": "https:\/\/www.cdc.gov\/flu\/season\/faq-flu-season-2020-2021.htm",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.cdc.gov\/flu\/season\/faq-flu-season-2020-2021.htm",
        "snippet": "During the 2020-2021 flu season, there was very low circulation
        of seasonal flu viruses. During September 27, 2020–May 22, 2021 in the United
        States, 1,899 (0.2%) of 1,081,671 clinical samples tested were positive for
        an influenza virus (713 [37.5%] influenza A and 1,186 [62.5%] influenza B).
        During that same period, public health ...", "dateLastCrawled": "2021-09-05T04:22:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Frequently Asked Influenza (Flu) Questions: 2021-2022 Season",
        "url": "https:\/\/www.cdc.gov\/flu\/season\/faq-flu-season-2021-2022.htm",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.cdc.gov\/flu\/season\/faq-flu-season-2021-2022.htm",
        "snippet": "What’s New for 2021-2022. A few things are different for the 2021-2022
        influenza (flu) season, including[...]
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=estados%20unidos%20amiga%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/[...]
