---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=first%20item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 66014E07470748559B8E889C310804A0
      Bingapis-Sessionid:
      - 51FB6D4938C34425B2F654F6F2AD62E1
      X-Msedge-Clientid:
      - 22E3C806CAF36B183630D812CB436AC8
      X-Msapi-Userstate:
      - 86de
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=244,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "first
        item (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=first+item+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 2300000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "The first items I will discuss are the five points of ...", "url":
        "https:\/\/home.army.mil\/bragg\/index.php\/download_file\/390\/437", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/home.army.mil\/bragg\/index.php\/download_file\/390\/437",
        "snippet": "The first items I will discuss are the five points of performance.
        The first point of performance is proper exit, check body position, and
        count. Jumpers hit it. Upon exiting the aircraft, snap into a good tight body
        position. Keep your eyes open, chin on your chest, elbows tight into your
        sides, hands on the ends of", "dateLastCrawled": "2021-04-04T19:01:00.0000000Z",
        "language": "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "1.WN GO 2. MASK OR RESPIRATOR 3. GOGGLES OR FACE SHIELD", "url":
        "https:\/\/www.cdc.gov\/hai\/pdfs\/ppe\/PPE-Sequence.pdf", "isFamilyFriendly":
        true, "displayUrl": "https:\/\/www.cdc.gov\/hai\/pdfs\/ppe\/PPE-Sequence.pdf",
        "snippet": "• If the item is reusable, place in designated receptacle for
        reprocessing. Otherwise, discard in a waste container. 3.WN GO • Gown f[...]
