---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=first%20item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 58E82684824A4CFCAAA3ED9AD6FD310D
      Bingapis-Sessionid:
      - D44621B8C3AD4DD692EDB6486891EB65
      X-Msedge-Clientid:
      - 2190F2E182CC6C9F00ABE24A832A6D43
      X-Msapi-Userstate:
      - c378
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=250,MSDatacenter=CH1B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "first
        item (site:gov OR site:mil)"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=first+item+(site%3agov+OR+site%3amil)",
        "totalEstimatedMatches": 999000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Must-Haves for Your First-Aid Kit | Blogs | CDC", "url": "https:\/\/blogs.cdc.gov\/publichealthmatters\/2021\/05\/first-aid-kits\/",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/blogs.cdc.gov\/publichealthmatters\/2021\/05\/first-aid-kits",
        "snippet": "The American Red Cross suggests that a first-aid kit for a family
        of four include the following items: A first-aid guide. 2 absorbent compress
        dressings (5 x 9 inches) 25 adhesive bandages (assorted sizes) 1 adhesive
        cloth tape (10 yards x 1 inch) 5 antibiotic ointment packets. 5 antiseptic
        wipe packets.", "dateLastCrawled": "2021-09-05T10:17:00.0000000Z", "language":
        "en", "isNavigational": false}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Subpart 9.3—First Article Testing and Approval", "url": "https:\/\/www.acquisition.gov\/sites\/default\/files\/current\/far\/html\/Subpart%209_3.html",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.acquisition.gov\/sites\/default\/files\/current\/far\/html\/Subpart
        9_3.html", "snippet": "The notice shall include the first article shipment
        number, when available, an[...]
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=first%20item%20(site:gov%20OR%20site:mil)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 28EB016676CA437A842FA63EE5BB05E2
      Bingapis-Sessionid:
      - C29D78257DC5469F9356BD211B828C59
      X-Msedge-Clientid:
      - 2411C259512F6CE02C44D29150D26DB0
      X-Msapi-Userstate:
      - 9e4f
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=232[...]
