#javascript-not-loaded
  %h2 Uh-oh! You're not seeing everything you could (and should) be seeing.
  %p
    Unfortunately, your browser isn't running JavaScript. Please allow Javascript to run or try another browser.
  %p
    If you're on a government-issued computer and can't make changes, email us at
    = mail_to SUPPORT_EMAIL_ADDRESS
    so we can help troubleshoot the issue and get your search mojo back ASAP.
