---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V6_APP_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A3E80C837ACB462692EB9CD1512E67CE
      X-Msedge-Clientid:
      - 2EC7D77BDFAA661E279EDB5BDE7D67A5
      X-Msapi-Userstate:
      - fb22
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=DA1248CE34F8485186BF148D33A3C5E0&CID=2EC7D77BDFAA661E279EDB5BDE7D67A5&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=DA1248CE34F8485186BF148D33A3C5E0&CID=2EC7D77BDFAA661E279EDB5BDE7D67A5&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 02 Jul 2018 21:49:20 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 296A86B2379C4060A9F37ABA2C0A2405
      X-Msedge-Clientid:
      - 1E66F4A55FE161931572F8FD5EEE6076
      X-Msapi-Userstate:
      - 9cd4
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=6CC5DD15B1CA4C938E86D4A360466569&CID=1E66F4A55FE161931572F8FD5EEE6076&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=6CC5DD15B1CA4C938E86D4A360466569&CID=1E66F4A55FE161931572F8FD5EEE6076&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 27 Aug 2018 00:01:01 GMT
recorded_with: VCR 4.0.0
