---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=mango%20smoothie%20(site:usa.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=true&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 59410DDE192E44299BC73E867B050A73
      X-Msedge-Clientid:
      - 35CFD289C44A69E51505DE69C59D688F
      X-Msapi-Userstate:
      - 0e21
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=7F7DBFC9165A42D5BFD8EF1FEB033254&CID=35CFD289C44A69E51505DE69C59D688F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=7F7DBFC9165A42D5BFD8EF1FEB033254&CID=35CFD289C44A69E51505DE69C59D688F&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 10 Jan 2019 19:57:20 GMT
recorded_with: VCR 4.0.0
