= content_for_site_page_title @site, 'Header & Footer'
.sub-nav-heading
  %h2 Header & Footer (Coming Soon)

%p
  Coming soon! You can update your Header & Footer
  = link_to 'here', edit_header_footer_affiliate_path(@site), { 'data-no-turbolink' => true }
