= analytics_center_breadcrumbs 'Query Timeline'
= render :partial => 'analytics/shared/timeline', :locals => {:url_for_timeline => make_query_timeline_path(@query, params[:grouped]), :timeline_options => {:width => 940, :height => 300}}
