<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="robots" content="noindex,nofollow"/>
<title><%= @page_title %></title>

<style type="text/css">
body {
font: 0.8em Arial, Helvetica, Sans-Serif;
margin: 0;
padding: 0;
font-size: small;
}

img {
border: 0px;
}

div.searchresult {
margin-bottom: 1em;
}
div.searchresult  h2 {
font-size: 125%;
font-weight: normal;
margin: 0;
}
div.searchresult   h2  a, a:visited {
color: #2200CC;
}
div.searchresult  h2  a:hover {
color: #900;
}
div.searchresult  h3 {
font-size: 1.0em;
font-weight: normal;
margin: 0;
}
div.searchresult  h3  a, a:visited, a:hover {
color: #008000;
}

div.pagination {
margin-left: 200px;
margin-bottom: 1em
}
div.pagination   a, a:visited {
color: #2200CC;
}

span.beta a, a:visited {
text-decoration: underline;
font-weight: bold;
color: red;
font-style: italic;
}

.disabled { color: white; }
.footer { margin-top: 2em; }

div.results {
display: block     ;
overflow: hidden   ;
padding-left: 20em ;
padding-right: 5em ;
padding-top:   1em ;
}

#boosted {
border: 1px lightgray solid;
margin-top: 1em;
padding: 1em 0.5em 0 1.0em;
background: #FFFFFF url(/images/bg.png) repeat-x scroll 0 -153px;
}

</style>
</head>
<body class="body">
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="background: #fff;" id="container">
<tr><td colspan="2">

<%= yield %>

</td></tr> </table>
<%= render :partial => 'shared/webtrends_affiliates' %>
</body>
</html>
