!!!strict
%html
  %head
    %title= t :site_title
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    = stylesheet_link_tag 'mobile.css'
    - if is_device? 'iphone'
      %meta{:name => "viewport", :content => "initial-scale = 1.0, user-scalable = no"}
      %meta{:name => "apple-touch-fullscreen", :content => "YES"}
  %body
    = yield
