---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - AFD5B89063544B0E9885BC39D09F4CEA
      X-Msedge-Clientid:
      - 1C3BDC5144FE6D612A73D66845696C8F
      X-Msapi-Userstate:
      - 687e
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=B68A1D6E53364421AEAE2E68FA40D753&CID=1C3BDC5144FE6D612A73D66845696C8F&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=B68A1D6E53364421AEAE2E68FA40D753&CID=1C3BDC5144FE6D612A73D66845696C8F&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Thu, 02 Mar 2017 19:53:55 GMT
recorded_with: VCR 3.0.3
