---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=<BING_V6_APP_ID>&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - my_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 572F8F56DFE04D609BC04A662A990A1F
      X-Msedge-Clientid:
      - 18B6B549B4A1656939C3B911B5AE6493
      X-Msapi-Userstate:
      - 0c1f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=700E1FDEE39D4BDABDB0A4A30C9CB4E7&CID=18B6B549B4A1656939C3B911B5AE6493&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=700E1FDEE39D4BDABDB0A4A30C9CB4E7&CID=18B6B549B4A1656939C3B911B5AE6493&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 27 Aug 2018 00:04:44 GMT
recorded_with: VCR 4.0.0
