---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 0DD1FE4F96DD420DAF1DAEEDB688A230
      X-Msedge-Clientid:
      - 1B45A4D8740F6116271EAF5E75A060B9
      X-Msapi-Userstate:
      - 2ed2
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=759D252B4BAE41D3935A3E8744D895A3&CID=1B45A4D8740F6116271EAF5E75A060B9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=759D252B4BAE41D3935A3E8744D895A3&CID=1B45A4D8740F6116271EAF5E75A060B9&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 29 Jan 2018 19:42:21 GMT
recorded_with: VCR 3.0.3
