---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - F5A7B716BEB74F22892DD2A295ABDE02
      Bingapis-Sessionid:
      - 4A9FD30B958647E88454C567B1B02E48
      X-Msedge-Clientid:
      - 11366B645F8A698A0EE27BC05E3A68C1
      X-Msapi-Userstate:
      - 5ef1
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=120,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "english
        (site:nonsense.gov)"}, "rankingResponse": {}}'
  recorded_at: Tue, 31 Aug 2021 20:30:46 GMT
recorded_with: VCR 4.0.0
