---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 61D989E1F80C4F5C9D2754F0B46B5DA9
      X-Msedge-Clientid:
      - 05BA6A2A5AF762EA3D05612B5B606366
      X-Msapi-Userstate:
      - '9328'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=1C49C2F4B6014D1AA96388CF2696D995&CID=05BA6A2A5AF762EA3D05612B5B606366&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=1C49C2F4B6014D1AA96388CF2696D995&CID=05BA6A2A5AF762EA3D05612B5B606366&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 18 Sep 2017 19:52:10 GMT
recorded_with: VCR 3.0.3
