---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - DE500563BB6E449E9506EECA49A59660
      X-Msedge-Clientid:
      - 1D6B3A9E16066EA7233330FC17916F8B
      X-Msapi-Userstate:
      - 0f7c
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=BAE50DF9FBC946A096AAAF9DAD50BD6D&CID=1D6B3A9E16066EA7233330FC17916F8B&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=BAE50DF9FBC946A096AAAF9DAD50BD6D&CID=1D6B3A9E16066EA7233330FC17916F8B&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 12 Apr 2017 20:43:13 GMT
recorded_with: VCR 3.0.3
