---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 4CD014CB80A049ADB28B44061A991A50
      Bingapis-Sessionid:
      - E9767CA0E2B34F7B846732F13744B8B0
      X-Msedge-Clientid:
      - 3AD92B9F791668AB2EBD3B3B78596957
      X-Msapi-Userstate:
      - '5987'
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=126,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "english
        (site:nonsense.gov)"}, "rankingResponse": {}}'
  recorded_at: Tue, 31 Aug 2021 20:30:45 GMT
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages&safeSearch=moderate&textDecorations=false&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_V7_WEB_SUBSCRIPTION_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Snr-Routing:
      - '1'
      Bingapis-Traceid:
      - 83C9C2C578D14820AEF92C729150A4B2
      Bingapis-Sessionid:
      - 61935FEE0ADC4E6B983E0C24C2F68A61
      X-Msedge-Clientid:
      - 200535520F516FDD302D259A0EAC6EBA
      X-Msapi-Userstate:
      - 372d
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=105,MSDatacenter=BN2B
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "english
        (site:nonsense.gov)"}, "rankingResponse": {}}'
  recorded_at: Wed, 06 Oct 2021 04:35:58 GMT
recorded_with: VCR 6.0.0
