---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6FD5477FFD8D490AB7DC6C21D0B2ADED
      X-Msedge-Clientid:
      - 1D664B606F9D6BA10E2740E66E326A7D
      X-Msapi-Userstate:
      - '5485'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9073E3F439434A55AFE93A915B28F92E&CID=1D664B606F9D6BA10E2740E66E326A7D&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9073E3F439434A55AFE93A915B28F92E&CID=1D664B606F9D6BA10E2740E66E326A7D&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 29 Jan 2018 19:04:29 GMT
recorded_with: VCR 3.0.3
