---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9F040C09391E4D71A132D0F376CE06AD
      X-Msedge-Clientid:
      - 037E1636E12662DC1A611D71E0B163E9
      X-Msapi-Userstate:
      - 236b
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=E834DE4B8F5D4D39B93F9EDC6601D656&CID=037E1636E12662DC1A611D71E0B163E9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=E834DE4B8F5D4D39B93F9EDC6601D656&CID=037E1636E12662DC1A611D71E0B163E9&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Mon, 27 Nov 2017 17:53:10 GMT
recorded_with: VCR 3.0.3
