---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - FC7FA3169B084997B96E051DD4B57550
      X-Msedge-Clientid:
      - 05D0D934F1B7618120ECD3ADF0206088
      X-Msapi-Userstate:
      - ebf3
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=95D94AF1CD63438891B53DBD9C59975C&CID=05D0D934F1B7618120ECD3ADF0206088&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=95D94AF1CD63438891B53DBD9C59975C&CID=05D0D934F1B7618120ECD3ADF0206088&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 06 Jun 2017 23:01:07 GMT
recorded_with: VCR 3.0.3
