---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 31F339E7A2EC4DC3B5B71B717AE89C51
      X-Msedge-Clientid:
      - 1BAAAAA3F13066E63D39A0C1F0A767DB
      X-Msapi-Userstate:
      - 04a7
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=11B7CA9EDCB147D79F0C21B8075BE873&CID=1BAAAAA3F13066E63D39A0C1F0A767DB&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=11B7CA9EDCB147D79F0C21B8075BE873&CID=1BAAAAA3F13066E63D39A0C1F0A767DB&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 12 Apr 2017 20:43:12 GMT
recorded_with: VCR 3.0.3
