---
http_interactions:
- request:
    method: get
    uri: http://api.bing.net/json.aspx?Adult=moderate&AppId=A4C32FAE6F3DB386FC32ED1C4F3024742ED30906&Options=EnableHighlighting&fdtrace=1&query=(english)%20language:en%20(site:nonsense.gov)&sources=Spell%20Web&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SearchResponse":{"Version":"2.2","Query":{"SearchTerms":"\u0028english\u0029
        language\u003aen \u0028site\u003anonsense.gov\u0029"},"Web":{"Total":0,"Offset":0}}}'
  recorded_at: Mon, 05 Dec 2016 23:38:04 GMT
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6CC7F77D609B47DAB293C6C021681A6D
      X-Msedge-Clientid:
      - 180FD082464C60C31A56D968477D616C
      X-Msapi-Userstate:
      - 45c4
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=C80BD65C327046CC8339C7A422E14E31&CID=180FD082464C60C31A56D968477D616C&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=C80BD65C327046CC8339C7A422E14E31&CID=180FD082464C60C31A56D968477D616C&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 13 Dec 2016 17:55:58 GMT
recorded_with: VCR 3.0.3
