---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 332E225C130748C2AA4CD8474E7DAF35
      X-Msedge-Clientid:
      - 1CED16B5E6CE6BC924411C8FE7596AB4
      X-Msapi-Userstate:
      - df18
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=A87FBA0E45DD4C2BB46DC08BF841F551&CID=1CED16B5E6CE6BC924411C8FE7596AB4&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=A87FBA0E45DD4C2BB46DC08BF841F551&CID=1CED16B5E6CE6BC924411C8FE7596AB4&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Fri, 03 Mar 2017 23:47:09 GMT
recorded_with: VCR 3.0.3
