---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 8A0277A0D9C0418796DDB000980B4990
      X-Msedge-Clientid:
      - 05D333CAD558654F0CA13909D4CF64D8
      X-Msapi-Userstate:
      - c330
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=9D24A6DE390247C3BBCCDFB709905088&CID=05D333CAD558654F0CA13909D4CF64D8&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=9D24A6DE390247C3BBCCDFB709905088&CID=05D333CAD558654F0CA13909D4CF64D8&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Tue, 18 Jul 2017 17:49:01 GMT
recorded_with: VCR 3.0.3
