---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9F51A727A335422A90768E5AD27D089B
      X-Msedge-Clientid:
      - 0AA265F4CA9364AF1BF56FC5CBA265E4
      X-Msapi-Userstate:
      - 9b28
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=786CA4290D094862A47920D00C57D38B&CID=0AA265F4CA9364AF1BF56FC5CBA265E4&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=786CA4290D094862A47920D00C57D38B&CID=0AA265F4CA9364AF1BF56FC5CBA265E4&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 22 Feb 2017 21:46:20 GMT
recorded_with: VCR 3.0.3
