---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 99A59C5409A142B7844750CE567600E6
      X-Msedge-Clientid:
      - 19A82498ED9B6314315A2F13EC3462C9
      X-Msapi-Userstate:
      - '0347'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=EE48D71B85844163AB95A95A39C86F7A&CID=19A82498ED9B6314315A2F13EC3462C9&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=EE48D71B85844163AB95A95A39C86F7A&CID=19A82498ED9B6314315A2F13EC3462C9&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Sat, 03 Feb 2018 23:31:27 GMT
recorded_with: VCR 4.0.0
