---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 201A14CBF895444B80335B031B7DB499
      X-Msedge-Clientid:
      - 09CAF075DBAA61E901BAFA44DA9B6004
      X-Msapi-Userstate:
      - 5b03
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=0699829905EB460FB90E5573D85FB13F&CID=09CAF075DBAA61E901BAFA44DA9B6004&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=0699829905EB460FB90E5573D85FB13F&CID=09CAF075DBAA61E901BAFA44DA9B6004&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Wed, 22 Feb 2017 21:46:19 GMT
recorded_with: VCR 3.0.3
