---
http_interactions:
- request:
    method: get
    uri: https://www.bingapis.com/api/v6/search?AppId=***REMOVED***&count=20&mkt=en-US&offset=0&q=english%20(site:nonsense.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=moderate&textDecorations&traffictype=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 779767E646474E43B324B11D81F9BEEE
      X-Msedge-Clientid:
      - 2DF96AC8C7D2629316C960F2C64563BD
      X-Msapi-Userstate:
      - d125
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "instrumentation": {"pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=945EDCF545CA4FEFBBCA7D9668813C46&CID=2DF96AC8C7D2629316C960F2C64563BD&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=945EDCF545CA4FEFBBCA7D9668813C46&CID=2DF96AC8C7D2629316C960F2C64563BD&Type=Event.CPT&DATA=0"},
        "rankingResponse": {}}'
  recorded_at: Fri, 03 Mar 2017 23:47:08 GMT
recorded_with: VCR 3.0.3
