---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=666&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='government%20agency%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 5163c57c-18bf-415a-91d8-9dea64b111d6
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027government
        agency (site:usa.gov)\u0027&$skip=666&$top=1","type":"WebResult"},"ID":"637ec4bf-106e-412a-981f-4bd33958e7a0","Title":"Building
        a Better Credit Report | Publications.USA.gov","Description":"Learn how
        to improve your credit score, deal with debt, and spot credit scams. (Previous
        item number: 311W)","DisplayUrl":"publications.usa.gov/USAPubs.php?PubID=3116","Url":"http://publications.usa.gov/USAPubs.php?PubID=3116"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027government
        agency (site:usa.gov)\u0027&$skip=667&$top=1","type":"WebResult"},"ID":"163c1d7f-fc18-42d6-8a3c-ebf08975612f","Title":"FCIC:
        Handbook on Child Support Enforcement","Description":"... families receive
        their post-assistance arrears before the state c[...]
