---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?count=20&mkt=en-US&offset=0&q=government%20agency%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=Moderate&textDecorations=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 7C64AD7F9D48467697D80E981EF7BBF9
      X-Msedge-Clientid:
      - 17B31C94AE776B6A313B1696AF466A0B
      X-Msapi-Userstate:
      - 612a
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/cr?IG=DB96052187D1400CBA191E858AF2FC81&CID=17B31C94AE776B6A313B1696AF466A0B&rd=1&h=hwtYFG6NZgYh9vGZx5ecS2qDHeBOxdeO8zEsRbydilM&v=1&r=https%3a%2f%2fwww.bing.com%2fsearch%3fq%3dgovernment%2bagency%2b(site%253ausa.gov)&p=DevEx,5477.1",
        "totalEstimatedMatches": 53800, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.0",
        "name": "Government Agencies and Elected Officials | USAGov", "url": "https:\/\/www.bing.com\/cr?IG=DB96052187D1400CBA191E858AF2FC81&CID=17B31C94AE776B6A313B1696AF466A0B&rd=1&h=fb-4YXN_DLtXaJfWKLsZq7wJkmgvMIEZh3Pjufj1w0c&v=1&r=https%3a%2f%2fwww.usa.gov%2fagencies&p=DevEx,5099.1",
        "displayUrl": "https:\/\/www.usa.gov\/agencies", "snippet": "Government
        Agencies and Elected Officials. Find contact information for federal, state,
        and local government agencies; government-related programs; and elected
        officials.", "deepLinks": [{"name": "Federal Agencies", "url": "https:\/\/www.bing.com\/cr?IG=DB96052187D1400CBA191E858AF2FC81&CID=17B31C94AE776B6A313B1696AF466A0B&rd=1&h=g6MPzLGxnIcsKno_Hh4zefmz7caGFde-55nfG8ht4Gw&v=1&r=https%3a%2f%2fwww.usa.gov%2ffederal-agencies%2fa&p=DevEx,5093.1"},
        {"name": "Contact Elected Officials", "url": "https:\/\/www.bing.com\/cr?IG=DB96052187D1400CBA191E858AF2FC81&CID=17B31C94AE776B6A313B1696AF466A0B&rd=1&h=gn7LMHVQKadC9JH0JA--ppm_ewM8sSzXemzvGm7MKfg&v=1&r=https%3a%2f%2fwww.usa.gov%2felected-officials%2f&p=DevEx,5094.1"},
        {"name": "Branches of Government", "url": "https:\/\/www.bing.com\/cr?IG=DB96052187D1400CBA191E858AF2FC81&CID=17B31C94AE776B6A313B1696AF466A0B&rd=1&h=qVzFIdRMsZ8IDSgotC7OQ7MAtjg2lZGoi6R4sC6xTEc&v=1&r=https%3a%2f%2fwww.usa.gov%2fbranches-of-government&p=DevEx,5095.1"}],
        "dateLastCrawled": "2017-01-03T08:28:00"}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.1",
        "name": "A-Z Index of U.S. Government Departments and Agencies", "url":
        "https:\/\/www.bing.com\/cr?IG=DB96052187D1400CBA191E858AF2FC81&CID=17B31C94AE776B6A313B1696AF466A0B&rd=1&h=g6MPzLGxnIcsKno_Hh4zefmz7caGFde-55nfG8ht4Gw&v=1&r=https%3a%2f%2fwww.usa.gov%2ffederal-agencies%2fa&p=DevEx,5114.1",
        "displayUrl": "https:\/\/www.usa.gov\/federal-agencies\/a", "snippet":
      [...]
