---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?count=20&mkt=en-US&offset=0&q=azure%20no%20next%20(site:usa.gov)%20(-site:www.usa.gov%20AND%20-site:kids.usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=Moderate&textDecorations=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 9BA0AC8D7FE240B3B7B43D3FFB04C059
      X-Msedge-Clientid:
      - 03F5FD3952826E580434F71853B36FB6
      X-Msapi-Userstate:
      - fa97
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/cr?IG=EC14C130970E429197FAC7F164C691AC&CID=03F5FD3952826E580434F71853B36FB6&rd=1&h=PxbfdITEDVWuhov_iwWfK5-TFmd9-eHv0CfLJySSUwg&v=1&r=https%3a%2f%2fwww.bing.com%2fsearch%3fq%3dazure%2bno%2bnext%2b(site%253ausa.gov)%2b(-site%253awww.usa.gov%2bAND%2b-site%253akids.usa.gov)&p=DevEx,5129.1",
        "totalEstimatedMatches": 2, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.0",
        "name": "Azure Power: OPIC loans fund India''s first large-scale ...", "url":
        "https:\/\/www.bing.com\/cr?IG=EC14C130970E429197FAC7F164C691AC&CID=03F5FD3952826E580434F71853B36FB6&rd=1&h=yNENUrTNK6msZxOnquT3oUfVv_CVDqcNep6y77xmulw&v=1&r=https%3a%2f%2fbusiness.usa.gov%2fsuccess-story%2fazure-power-opic-loans-fund-indias-first-large-scale-solar-power-plants&p=DevEx,5056.1",
        "displayUrl": "https:\/\/business.usa.gov\/success-story\/azure-power-opic-loans-fund...",
        "snippet": "... An initial loan of $6.2 million to Azure Power ... 2011
        and is targeting a total capacity of 100 megawatts in the next three ...
        USA.gov is an official website of ...", "dateLastCrawled": "2017-01-25T03:06:00"},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.1", "name":
        "Blue Ribbon Panel Presentation to the Commission on Care", "url": "https:\/\/www.bing.com\/cr?IG=EC14C130970E429197FAC7F164C691AC&CID=03F5FD3952826E580434F71853B36FB6&rd=1&h=SOQFj757gHMgSL4AnLuRLMBoI4v8qmxPQN2pSOGzzbM&v=1&r=https%3a%2f%2fcommissiononcare.sites.usa.gov%2ffiles%2f2015%2f12%2f20151019-10-VACAA_Sec201_Independent_Assessment_Panel_Presentation_19OCT15.pdf&p=DevEx,5066.1",
        "displayUrl": "https:\/\/commissiononcare.sites.usa.gov\/files\/2015\/12\/20151019-10...",
        "snippet": "Brett P. Giroir, M.D. Panel Chair Blue Ribbon Panel Presentation
        to the Commission on Care October 19, 2015 Veterans Access, Choice, and Accountability",
        "dateLastCrawled": "2017-01-16T09:23:00"}]}, "rankingResponse": {"mainline":
        {"items": [{"answerType": "WebPages", "resultIndex": 0, "value": {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.0"}},
        {"answerType": "WebPages", "resultIndex": 1, "value": {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.1"}}]}}}'
  recorded_at: Mon, 06 Feb 2017 23:43:55 GMT
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?count=20&mkt=en-US&offset=0&q=azure%20no%20next%20(site:usa.gov)%20-site:www.usa.gov%20-site:kids.usa.gov&responseFilter=WebPages,SpellSuggestions&safeSearch=Moderate&textDecorations=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - DAA6888BA84C47BB90FB839B24595CE7
      X-Msedge-Clientid:
      - 053F25265A69660E23212F105B586773
      X-Msapi-Userstate:
      - a3b9
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "rankingResponse": {}}'
  recorded_at: Mon, 27 Feb 2017 19:00:14 GMT
recorded_with: VCR 3.0.3
