---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=666&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='government%20agency%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 011458b1-c68a-412c-9e4e-be3265b66644
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027government
        agency (site:usa.gov)\u0027&$skip=666&$top=1","type":"WebResult"},"ID":"c75741d4-4e4b-41f1-b207-b033189eaf89","Title":"Confirm
        | BusinessUSA","Description":"Start a Business Access Financing Explore Exporting
        Grow Your Business Explore Government Contracting Learn About Taxes and
        Credits Browse Resources for Veterans ...","DisplayUrl":"https://business.usa.gov/export-portal?tcc/related_links/foreign...","Url":"https://business.usa.gov/export-portal?tcc/related_links/foreign_government_procurement_opportunities.asp"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027government
        agency (site:usa.gov)\u0027&$skip=667&$top=1","type":"WebResult"},"ID":"5d504dad-20b3-4a68-81e9-f45249413428","Title":"2016
        filing requirements - IRS - search.usa.gov","Description":"Our Agency.
  [...]
