---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?count=20&mkt=es-US&offset=0&q=educaci%C3%B3n%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=Moderate&textDecorations=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 5A7818DC7440465C9B90E6BE76C4B45E
      X-Msedge-Clientid:
      - 33061EC6018D692D2EFE14E700BC6899
      X-Msapi-Userstate:
      - '2273'
      Bingapis-Market:
      - es-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/cr?IG=024E6C6B353E4A21A9617C8A02B995C8&CID=33061EC6018D692D2EFE14E700BC6899&rd=1&h=YmAa_MqH_C_oA9HhqgMGN1Z3S2iVP4euksM8J9_Filk&v=1&r=https%3a%2f%2fwww.bing.com%2fsearch%3fq%3deducaci%25c3%25b3n%2b(site%253ausa.gov)&p=DevEx,5466.1",
        "totalEstimatedMatches": 35800, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.0",
        "name": "Recursos para la educación | GobiernoUSA.gov", "url": "https:\/\/www.bing.com\/cr?IG=024E6C6B353E4A21A9617C8A02B995C8&CID=33061EC6018D692D2EFE14E700BC6899&rd=1&h=ujozBEpTDZLYgh9per8lV0XI4WrrveA-oCsFlscWJVM&v=1&r=https%3a%2f%2fgobierno.usa.gov%2feducacion&p=DevEx,5069.1",
        "displayUrl": "https:\/\/gobierno.usa.gov\/educacion", "snippet": "Educación.
        Información del Gobierno sobre ayuda para estudiantes y personas que quieren
        aprender inglés. Ayuda financiera para estudiantes. Becas, productos ...",
        "dateLastCrawled": "2017-01-30T14:38:00"}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.1",
        "name": "Ayuda financiera para estudiantes | GobiernoUSA.gov", "url": "https:\/\/www.bing.com\/cr?IG=024E6C6B353E4A21A9617C8A02B995C8&CID=33061EC6018D692D2EFE14E700BC6899&rd=1&h=8td0bBNIRZb7IkUEuk_54IZncd5KqC9jG6uDAOXAfTw&v=1&r=https%3a%2f%2fgobierno.usa.gov%2fayuda-financiera-para-estudiantes&p=DevEx,5083.1",
        "displayUrl": "https:\/\/gobierno.usa.gov\/ayuda-financiera-para-estudiante[...]
