---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?count=20&mkt=en-US&offset=666&q=government%20agency%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=Moderate&textDecorations=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - CB3AF43706F54971A0242E8B746F3DD5
      X-Msedge-Clientid:
      - 06A8D75D1E726E75120CDD7C1F436F1E
      X-Msapi-Userstate:
      - '0111'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/cr?IG=861741A3F4EA49C6BF13A1366152C8DB&CID=06A8D75D1E726E75120CDD7C1F436F1E&rd=1&h=hwtYFG6NZgYh9vGZx5ecS2qDHeBOxdeO8zEsRbydilM&v=1&r=https%3a%2f%2fwww.bing.com%2fsearch%3fq%3dgovernment%2bagency%2b(site%253ausa.gov)&p=DevEx,5375.1",
        "totalEstimatedMatches": 480, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.0",
        "name": "| Publications.USA.gov", "url": "https:\/\/www.bing.com\/cr?IG=861741A3F4EA49C6BF13A1366152C8DB&CID=06A8D75D1E726E75120CDD7C1F436F1E&rd=1&h=Qy4A-37Uh9v5hMfKxxtHr2klcJY1qM6ZiDxPmL3lA-0&v=1&r=https%3a%2f%2fpublications.usa.gov%2fUSAPubs.php%3fPubID%3d6206&p=DevEx,5060.1",
        "displayUrl": "https:\/\/publications.usa.gov\/USAPubs.php?PubID=6206",
        "snippet": "This guide helps family members and others in Virginia understand
        their role when a government agency names them to manage someone else''s
        benefit payment or pension."}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.1",
        "name": "| Publications.USA.gov", "url": "https:\/\/www.bing.com\/cr?IG=861741A3F4EA49C6BF13A1366152C8DB&CID=06A8D75D1E726E75120CDD7C1F436F1E&rd=1&h=fFhCawlcDshr_bJaQu0VXI3oDnyxVaR9TcUvYh5wmWA&v=1&r=https%3a%2f%2fpublications.usa.[...]
