---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?count=20&mkt=en-US&offset=0&q=government%20agency%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=Moderate&textDecorations=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - A98153057F234193B88559066C223512
      X-Msedge-Clientid:
      - 0681B667FCF96DA71C13BC5EFDC86C68
      X-Msapi-Userstate:
      - 324f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/cr?IG=B2B04FB61D9343DAAD1E4957F5A99A44&CID=0681B667FCF96DA71C13BC5EFDC86C68&rd=1&h=hwtYFG6NZgYh9vGZx5ecS2qDHeBOxdeO8zEsRbydilM&v=1&r=https%3a%2f%2fwww.bing.com%2fsearch%3fq%3dgovernment%2bagency%2b(site%253ausa.gov)&p=DevEx,5513.1",
        "totalEstimatedMatches": 48700, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.0",
        "name": "Government Agencies and Elected Officials | USA.gov", "url": "https:\/\/www.bing.com\/cr?IG=B2B04FB61D9343DAAD1E4957F5A99A44&CID=0681B667FCF96DA71C13BC5EFDC86C68&rd=1&h=fb-4YXN_DLtXaJfWKLsZq7wJkmgvMIEZh3Pjufj1w0c&v=1&r=https%3a%2f%2fwww.usa.gov%2fagencies&p=DevEx,5087.1",
        "displayUrl": "https:\/\/www.usa.gov\/agencies", "snippet": "Government Agencies
        and Elected Officials. Find contact information for federal, state, and local
        government agencies; government-related programs; and elected officials.",
        "deepLinks": [{"name": "Federal Agencies", "url": "https:\/\/www.bing.com\/cr?IG=B2B04FB61D9343DAAD1E4957F5A99A44&CID=0681B667FCF96DA71C13BC5EFDC86C68&rd=1&h=g6MPzLGxnIcsKno_Hh4zefmz7caGFde-55nfG8ht4Gw&v=1&r=https%3a%2f%2fwww.usa.gov%2ffederal-agencies%2fa&p=DevEx,5080.1"},
        {"name": "Branches of Government", "url": "https:\/\/www.bing.com\/cr?IG=B2B04FB61D9343DAAD1E4957F5A99A44&CID=0681B667FCF96DA71C13BC5EFDC86C68&rd=1&h=qVzFIdRMsZ8IDSgotC7OQ7MAtjg2lZGoi6R4sC6xTEc&v=1&r=https%3a%2f%2fwww.usa.gov%2fbranches-of-government&p=DevEx,5081.1"},
        {"name": "Elected Officials", "url": "https:\/\/www.bing.com\/cr?IG=B2B04FB61D9343DAAD1E4957F5A99A44&CID=0681B667FCF96DA71C13BC5EFDC86C68&rd=1&h=gn7LMHVQKadC9JH0JA--ppm_ewM8sSzXemzvGm7MKfg&v=1&r=https%3a%2f%2fwww.usa.gov%2felected-officials%2f&p=DevEx,5082.1"},
        {"name": "By Topic", "url": "https:\/\/www.bing.com\/cr?IG=B2B04FB61D9343DAAD1E4957F5A99A44&CID=0681B667FCF96DA71C13BC5EFDC86C68&rd=1&h=QhaiQII6_yIx2YJJDR8ShFdkjJi_5y1-3m66h6xgwB0&v=1&r=https%3a%2f%2fwww.usa.gov%2fcontact-by-topic&p=DevEx,5083.1"}],
        "dateLastCrawled": "2017-02-26T06:10:00"}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.1",
        "name": "A | A-Z Index of U.S. Government Departments and Agencies ...", "url":
        "https:\/\/www.bing.com\/cr?IG=B2B04FB61D9343DAAD1E4957F5A99A44&CID=0681B667FCF96DA71C13BC5EFDC86C68&rd=1&h=g6MPzLGxnIcsKno_Hh4zefmz7caGFde-55nfG8ht4Gw&v=1&r=https%3a%2f%2fwww.usa.gov%2ffederal-agencies%2fa&p=DevEx,5100.1",
        "displayUrl": "https:\/\/www.usa.gov\/federal-agencies\/a", "snippet": "Directory
        listing for federal agencies and departments: A", "dateLastCrawled": "2017-02-20T15:26:00"},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.2", "name":
        "USA.gov - Official Site", "url": "https:\/\/www.bing.com\/cr?IG=B2B04FB61D9343DAAD1E4957F5A99A44&CID=0681B667FCF96DA71C13BC5EFDC86C68&rd=1&h=wkElmIJqwZziutjgwIFq8qNbb9Si8IJFSReh5Eg6EpU&v=1&r=https%3a%2f%2fwww.usa.gov%2f&p=DevEx,5127.1",
        "about": [{"name": "Crockett County Head Start"}], "displayUrl": "https:\/\/www.usa.gov",
        "snippet": "USA.gov can help you start your search for government information
        by topic and agency.", "deepLinks": [{"name": "Federal Agencies", "url": "https:\/\/www.bing.com\/cr?IG=B2B04FB61D9343DAAD1E4957F5A99A44&CID=0681B667FCF96DA71C13BC5EFDC86C68&rd=1&h=g6MPzLGxnIcsKno_Hh4zefmz7caGFde-55nfG8ht4Gw&v=1&r=https%3a%2f%2fwww.usa.gov%2ffederal-agencies%2fa&p=DevEx,5113.1"},
        {"name": "Branches[...]
