---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='es-US'&Options='EnableHighlighting'&Query='educaci%C3%B3n%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 4833a06b-941a-45d5-91de-a1300fd94e65
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027es-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027educación
        (site:usa.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"8e0ffdeb-b7f3-4a85-b116-223d4209a2f7","Title":"Recursos
        para la educación | GobiernoUSA.gov","Description":"Educación. Información
        del Gobierno sobre ayuda para estudiantes y personas que quieren aprender
        inglés. Ayuda financiera para estudiantes. Becas, productos ...","DisplayUrl":"https://gobierno.usa.gov/educacion","Url":"https://gobierno.usa.gov/educacion"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027es-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027educación
        (site:usa.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"3f198f99-9fa0-4cdf-a1dc-8f53a6c37366","Title":"Ayuda
        financiera para estudiantes | GobiernoUSA.gov","Description":"Ayuda financiera
        para estudiantes. Becas, productos financieros y programas del Gobiern[...]
