---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=666&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='government%20agency%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - b55ec563-17f4-410f-b772-5f6eeeae1899
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027government
        agency (site:usa.gov)\u0027&$skip=666&$top=1","type":"WebResult"},"ID":"c945fc42-b84c-4193-80e3-c49046509b4b","Title":"Learning
        How to Build a Better \"Front Door\" for the ...","Description":"Part one
        in a series about how we can build a better \"front door\" to the federal
        government by building new digital services and enhancing existing ones.","DisplayUrl":"https://blog.usa.gov/learning-how-to-build-a-better-front-door-for...","Url":"https://blog.usa.gov/learning-how-to-build-a-better-front-door-for-the-federal-government"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027government
        agency (site:usa.gov)\u0027&$skip=667&$top=1","type":"WebResult"},"ID":"a4fb26e3-841a-42c8-aa72-771bec370706","Title":"Selling
        to the Government | BusinessUSA","Description":"Marketing your products
        and serv[...]
