---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=666&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='government%20agency%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 58efb8a8-7cef-4aa2-851b-27e748d7c26b
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027government
        agency (site:usa.gov)\u0027&$skip=666&$top=1","type":"WebResult"},"ID":"f0297d2a-0222-46ad-b21b-d59ce0e20298","Title":"How
        to Enter the United States | USA.gov","Description":"How to Enter the United
        States. ... or another international nonprofit volunteer agency. ... Ask
        us any question about the U.S. government for free.","DisplayUrl":"https://www.usa.gov/enter-us","Url":"https://www.usa.gov/enter-us"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027government
        agency (site:usa.gov)\u0027&$skip=667&$top=1","type":"WebResult"},"ID":"327717db-af40-4fba-b710-2a6f7ec0f048","Title":"Health
        Information from the Government | USA.gov","Description":"Health Information
        from the Government. Learn more about the best ways to find h[...]
