---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?count=20&mkt=es-US&offset=0&q=educaci%C3%B3n%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=Moderate&textDecorations=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3F06701928FA475FABCB96E62C47D99E
      X-Msedge-Clientid:
      - 13E50E192B1B693D177B07F82A2A68F7
      X-Msapi-Userstate:
      - 55b5
      Bingapis-Market:
      - es-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/cr?IG=89A0A89BF78940AAB00D51AD1D51D879&CID=13E50E192B1B693D177B07F82A2A68F7&rd=1&h=YmAa_MqH_C_oA9HhqgMGN1Z3S2iVP4euksM8J9_Filk&v=1&r=https%3a%2f%2fwww.bing.com%2fsearch%3fq%3deducaci%25c3%25b3n%2b(site%253ausa.gov)&p=DevEx,5482.1",
        "totalEstimatedMatches": 4410000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.0",
        "name": "Recursos para la educación | USAGov", "url": "https:\/\/www.bing.com\/cr?IG=89A0A89BF78940AAB00D51AD1D51D879&CID=13E50E192B1B693D177B07F82A2A68F7&rd=1&h=ujozBEpTDZLYgh9per8lV0XI4WrrveA-oCsFlscWJVM&v=1&r=https%3a%2f%2fgobierno.usa.gov%2feducacion&p=DevEx,5093.1",
        "displayUrl": "https:\/\/gobierno.usa.gov\/educacion", "snippet": "Educación.
        Información del Gobierno sobre ayuda para estudiantes y personas que quieren
        aprender inglés. Ayuda financiera para estudiantes. Becas, productos ...",
        "dateLastCrawled": "2016-11-20T08:55:00"}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.1",
        "name": "Ayuda financiera para estudiantes | USAGov", "url": "https:\/\/www.bing.com\/cr?IG=89A0A89BF78940AAB00D51AD1D51D879&CID=13E50E192B1B693D177B07F82A2A68F7&rd=1&h=8td0bBNIRZb7IkUEuk_54IZncd5KqC9jG6uDAOXAfTw&v=1&r=https%3a%2f%2fgobierno.usa.gov%2fayuda-financiera-para-estudiantes&p=DevEx,5107.1",
        "displayUrl": "https:\/\/gobierno.usa.gov\/ayuda-financiera-para-estudiantes",
     [...]
