---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='es-US'&Options='EnableHighlighting'&Query='educaci%C3%B3n%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 73e571a6-860a-4626-976c-d3c1c1633d5c
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027es-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027educación
        (site:usa.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"319a4e98-b172-4487-9fe3-4177a54abc13","Title":"Recursos
        para la educación | USAGov","Description":"Educación. Información del
        Gobierno sobre ayuda para estudiantes y personas que quieren aprender inglés.
        Ayuda financiera para estudiantes. Becas, productos ...","DisplayUrl":"https://gobierno.usa.gov/educacion","Url":"https://gobierno.usa.gov/educacion"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027es-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027educación
        (site:usa.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"92642126-5a69-4bda-9d2e-fcf468fdbbb8","Title":"Ayuda
        financiera para estudiantes | USAGov","Description":"Ayuda financiera para
        estudiantes. Becas, productos financieros y programas del Gobierno para la[...]
