---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?count=20&mkt=en-US&offset=0&q=government%20agency%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=Moderate&textDecorations=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 102F0643F1084E09994DCE007E9A7401
      X-Msedge-Clientid:
      - 3403284CEE5768972E3F21ADEF6669F5
      X-Msapi-Userstate:
      - fca0
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/cr?IG=9684F76FCC2343FF87F3C68A1FA81BA2&CID=3403284CEE5768972E3F21ADEF6669F5&rd=1&h=hwtYFG6NZgYh9vGZx5ecS2qDHeBOxdeO8zEsRbydilM&v=1&r=https%3a%2f%2fwww.bing.com%2fsearch%3fq%3dgovernment%2bagency%2b(site%253ausa.gov)&p=DevEx,5513.1",
        "totalEstimatedMatches": 105000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.0",
        "name": "A-Z Index of U.S. Government Departments and Agencies", "url":
        "https:\/\/www.bing.com\/cr?IG=9684F76FCC2343FF87F3C68A1FA81BA2&CID=3403284CEE5768972E3F21ADEF6669F5&rd=1&h=g6MPzLGxnIcsKno_Hh4zefmz7caGFde-55nfG8ht4Gw&v=1&r=https%3a%2f%2fwww.usa.gov%2ffederal-agencies%2fa&p=DevEx,5103.1",
        "displayUrl": "https:\/\/www.usa.gov\/federal-agencies\/a", "snippet":
        "Directory listing for federal agencies and departments: A", "deepLinks":
        [{"name": "Departments and Agencies", "url": "https:\/\/www.bing.com\/cr?IG=9684F76FCC2343FF87F3C68A1FA81BA2&CID=3403284CEE5768972E3F21ADEF6669F5&rd=1&h=7pmxyeTjZzpSPlfzCVSSjIunbXrTaMTuX16vXzOrh7I&v=1&r=https%3a%2f%2fwww.usa.gov%2ffederal-agencies%2fi&p=DevEx,5094.1"},
        {"name": "Government''s", "url": "https:\/\/www.bing.com\/cr?IG=9684F76FCC2343FF87F3C68A1FA81BA2&CID=3403284CEE5768972E3F21ADEF6669F5&rd=1&h=3GUVela1pni2Cw-ASMrXWEQ4CFnHDuvPeQ8RoKeNxOA&v=1&r=https%3a%2f%2fwww.usa.gov%2ffederal-agencies%2fb&p=DevEx,5095.1"},
        {"name": "Federal Agencies", "url": "https:\/\/www.bing.com\/cr?IG=9684F76FCC2343FF87F3C68A1FA81BA2&CID=3403284CEE5768972E3F21ADEF6669F5&rd=1&h=wgNuYSyAwU1U1yO9WUaUR2ZbJm7CkdLQtJrqn6QW-n0&v=1&r=https%3a%2f%2fwww.usa.gov%2ffederal-agencies%2fn&p=DevEx,5096.1"},
        {"name": "Government Agencies", "url": "https:\/\/www.bing.com\/cr?IG=9684F76FCC2343FF87F3C68A1FA81BA2&CID=3403284CEE5768972E3F21ADEF6669F5&rd=1&h=fb-4YXN_DLtXaJfWKLsZq7wJkmgvMIEZh3Pjufj1w0c&v=1&r=https%3a%2f%2fwww.usa.gov%2fagencies&p=DevEx,5097.1",
        "snippet": "Government Agencies and Elected Officials. Find contact
        information for federal, state, and local government agencies; government-related
        programs; and elected officials."}], "dateLastCrawled": "2016-11-30T08:05:00"},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.1", "name":
        "Government Agencies and Elected Officials | USAGov", "url": "https:\/\/www.bing.com\/cr?IG=9684F76FCC2343FF87F3C68A1FA81BA2&CID=3403284CEE5768972E3F21ADEF6669F5&rd=1&h=fb-4YXN_DLtXaJfWKLsZq7wJkmgvMIEZh3Pjufj1w0c&v=1&r=https%3a%2f%2fwww.usa.gov%2fagencies&p=DevEx,5122.1",
        "displayUrl": "https:\/\/www.usa.gov\/agencies", "snippet": "Government
        Agencies[...]
