---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?count=20&mkt=en-US&offset=666&q=government%20agency%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=Moderate&textDecorations=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 155ABD10E3EE401BB113EEE0383A6DB6
      X-Msedge-Clientid:
      - 3F1E17345598683015831ED554A96921
      X-Msapi-Userstate:
      - '7113'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/cr?IG=89A945A3FE02473BA6ADEBC2C08B7B86&CID=3F1E17345598683015831ED554A96921&rd=1&h=hwtYFG6NZgYh9vGZx5ecS2qDHeBOxdeO8zEsRbydilM&v=1&r=https%3a%2f%2fwww.bing.com%2fsearch%3fq%3dgovernment%2bagency%2b(site%253ausa.gov)&p=DevEx,5473.1",
        "totalEstimatedMatches": 110000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.0",
        "name": "Western Area Power Administration | USAGov", "url": "https:\/\/www.bing.com\/cr?IG=89A945A3FE02473BA6ADEBC2C08B7B86&CID=3F1E17345598683015831ED554A96921&rd=1&h=ZVX2e2GjL7vFy_Hs33mzKWI8ytV5jp6sO--To9NI_eI&v=1&r=https%3a%2f%2fwww.usa.gov%2ffederal-agencies%2fwestern-area-power-administration&p=DevEx,5069.1",
        "displayUrl": "https:\/\/www.usa.gov\/federal-agencies\/western-area-power-administration",
        "snippet": "Western Area Power Administration. The Western Area Power Administration
        markets hydroelectric power generated by federal dams and associated services
        to public ...", "dateLastCrawled": "2016-11-25T11:07:00"}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.1",
        "name": "Government of Georgia | USAGov", "url": "https:\/\/www.bing.com\/cr?IG=89A945A3FE02473BA6ADEBC2C08B7B86&CID=3F1E17345598683015831ED554A96921&rd=1&h=5rUxfAaSAVNLe_t4Pc_45aLVq4TirHzeuuziR3WRl3o&v=1&r=https%3a%2f%2fwww.usa.gov%2fstate-government%2fgeorgia&p=DevEx,5084.1",
        "displayUrl": "https:\/\/www.usa.gov\/state-government\/georgia", "snippet":
        "Georgia. Pri[...]
