---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?count=20&mkt=en-US&offset=0&q=government%20agency%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=Moderate&textDecorations=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - C21814CF63BB48A59D22DD9ACE5F0A96
      X-Msedge-Clientid:
      - 1F3F1F259B27640512A7151C9A1665ED
      X-Msapi-Userstate:
      - 95e9
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/cr?IG=284DDDFC566540B5B29322881FCDC3F3&CID=1F3F1F259B27640512A7151C9A1665ED&rd=1&h=hwtYFG6NZgYh9vGZx5ecS2qDHeBOxdeO8zEsRbydilM&v=1&r=https%3a%2f%2fwww.bing.com%2fsearch%3fq%3dgovernment%2bagency%2b(site%253ausa.gov)&p=DevEx,5510.1",
        "totalEstimatedMatches": 46200, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.0",
        "name": "A | A-Z Index of U.S. Government Departments and Agencies ...",
        "url": "https:\/\/www.bing.com\/cr?IG=284DDDFC566540B5B29322881FCDC3F3&CID=1F3F1F259B27640512A7151C9A1665ED&rd=1&h=g6MPzLGxnIcsKno_Hh4zefmz7caGFde-55nfG8ht4Gw&v=1&r=https%3a%2f%2fwww.usa.gov%2ffederal-agencies%2fa&p=DevEx,5083.1",
        "displayUrl": "https:\/\/www.usa.gov\/federal-agencies\/a", "snippet":
        "Directory listing for federal agencies and departments: A", "dateLastCrawled":
        "2017-02-20T15:26:00"}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.1",
        "name": "USA.gov - Official Site", "url": "https:\/\/www.bing.com\/cr?IG=284DDDFC566540B5B29322881FCDC3F3&CID=1F3F1F259B27640512A7151C9A1665ED&rd=1&h=wkElmIJqwZziutjgwIFq8qNbb9Si8IJFSReh5Eg6EpU&v=1&r=https%3a%2f%2fwww.usa.gov%2f&p=DevEx,5106.1",
        "about": [{"name": "Crockett County Head Start"}], "displayUrl": "https:\/\/www.usa.gov",
        "snippet": "USA.gov can help you start your search for government information
        by topic and agency.", "deepLinks": [{"name": "Federal Agencies", "url":
        "https:\/\/www.bing.com\/cr?IG=284DDDFC566540B5B29322881FCDC3F3&CID=1F3F1F259B27640512A7151C9A1665ED&rd=1&h=g6MPzLGxnIcsKno_Hh4zefmz7caGFde-55nfG8ht4Gw&v=1&r=https%3a%2f%2fwww.usa.gov%2ffederal-agencies%2fa&p=DevEx,5096.1"},
        {"name": "Unclaimed Money", "url": "https:\/\/www.bing.com\/cr?IG=284DDDFC566540B5B29322881FCDC3F3&CID=1F3F1F259B27640512A7151C9A1665ED&rd=1&h=3ReE3jimqrQ2UA1MGVLYnYRNEdY_nJITCrTpdr52ASk&v=1&r=https%3a%2f%2fwww.usa.gov%2f[...]
