---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='government%20agency%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 20cf3f66-5670-46ea-83f5-2652c96b7b59
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027government
        agency (site:usa.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"e997e1ef-76ad-42fd-83fc-b22c64ffb19e","Title":"Government
        Agencies and Elected Officials | USA.gov","Description":"Find contact information
        for federal, state, and local government agencies and elected officials.","DisplayUrl":"https://www.usa.gov/agencies","Url":"https://www.usa.gov/agencies"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027government
        agency (site:usa.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"8202e8fe-7718-4612-a10b-9c9e1e454fa2","Title":"A
        | A-Z Index of U.S. Government Departments and Agencies ...","Description":"Directory
        listing for federal agencies and departments: A ... Official Gu[...]
