---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?count=20&mkt=en-US&offset=666&q=government%20agency%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=Moderate&textDecorations=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 792ECA7D866D48E6B0275FB614416567
      X-Msedge-Clientid:
      - 37A39DB478466A921C4A97B679776BAA
      X-Msapi-Userstate:
      - '5037'
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/cr?IG=F4CB2C3752DA4157B4869F09CB1CD295&CID=37A39DB478466A921C4A97B679776BAA&rd=1&h=hwtYFG6NZgYh9vGZx5ecS2qDHeBOxdeO8zEsRbydilM&v=1&r=https%3a%2f%2fwww.bing.com%2fsearch%3fq%3dgovernment%2bagency%2b(site%253ausa.gov)&p=DevEx,5332.1",
        "totalEstimatedMatches": 497, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.0",
        "name": "Sites | Government Sites Made Easy", "url": "https:\/\/www.bing.com\/cr?IG=F4CB2C3752DA4157B4869F09CB1CD295&CID=37A39DB478466A921C4A97B679776BAA&rd=1&h=joprxyR5nuJifDE29GyufWjqK6KLe4DKWQ_lZ1rh9_c&v=1&r=https%3a%2f%2fsites.usa.gov%2f&p=DevEx,5063.1",
        "displayUrl": "https:\/\/sites.usa.gov", "snippet": "Sites is a hosted service
        designed to enable the rapid deployment of government websites for the purpose
        of ... (e.g. blog.agency.gov, history.agency.gov), there ...", "dateLastCrawled":
        "2016-12-24T17:03:00"}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.1",
        "name": "| Publications.USA.gov", "url": "https:\/\/www.bing.com\/cr?IG=F4CB2C3752DA4157B4869F09CB1CD295&CID=37A39DB478466A921C4A97B679776BAA&rd=1&h=zV60Lh-EcA-xtVABvo6cZnXikLERjTU6TEoBPcwbAoM&v=1&r=https%3a%2f%2fpublications.usa.gov%2fUSAPubs.php%3fPubID%3d6211&p=DevEx,5073.1",
        "displayUrl": "https:\/\/publications.usa.gov\/USAPubs.php?PubID=6211",
        "snippet": "This [...]
