---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=666&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='government%20agency%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 72b7125e-3278-46e7-882f-83b6d5b10275
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027government
        agency (site:usa.gov)\u0027&$skip=666&$top=1","type":"WebResult"},"ID":"51540b2e-d3cc-4ca4-8864-fd00923c348b","Title":"Learning
        How to Build a Better \"Front Door\" for the ...","Description":"Part one
        in a series about how we can build a better \"front door\" to the federal
        government by building new digital services and enhancing existing ones.","DisplayUrl":"https://blog.usa.gov/learning-how-to-build-a-better-front-door-for...","Url":"https://blog.usa.gov/learning-how-to-build-a-better-front-door-for-the-federal-government"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027government
        agency (site:usa.gov)\u0027&$skip=667&$top=1","type":"WebResult"},"ID":"08a3e679-0676-4019-b10c-828308d4816e","Title":"Resources
        & Standards | FedStats","Description":"Find policy & standards, references,
        data[...]
