---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?count=20&mkt=es-US&offset=0&q=educaci%C3%B3n%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=Moderate&textDecorations=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 3264F130889144B9AF1F77CE7157F32E
      X-Msedge-Clientid:
      - 1AECEE37D5A36A0F3DD9E435D4926BB8
      X-Msapi-Userstate:
      - 15cc
      Bingapis-Market:
      - es-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/cr?IG=DA1FAB52FD894DA7B1282E5D9FE442A7&CID=1AECEE37D5A36A0F3DD9E435D4926BB8&rd=1&h=YmAa_MqH_C_oA9HhqgMGN1Z3S2iVP4euksM8J9_Filk&v=1&r=https%3a%2f%2fwww.bing.com%2fsearch%3fq%3deducaci%25c3%25b3n%2b(site%253ausa.gov)&p=DevEx,5473.1",
        "totalEstimatedMatches": 36000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.0",
        "name": "Recursos para la educación | USAGov", "url": "https:\/\/www.bing.com\/cr?IG=DA1FAB52FD894DA7B1282E5D9FE442A7&CID=1AECEE37D5A36A0F3DD9E435D4926BB8&rd=1&h=ujozBEpTDZLYgh9per8lV0XI4WrrveA-oCsFlscWJVM&v=1&r=https%3a%2f%2fgobierno.usa.gov%2feducacion&p=DevEx,5092.1",
        "displayUrl": "https:\/\/gobierno.usa.gov\/educacion", "snippet": "Educación.
        Información del Gobierno sobre ayuda para estudiantes y personas que quieren
        aprender inglés. Ayuda financiera para estudiantes. Becas, productos ...",
        "dateLastCrawled": "2017-01-01T10:15:00"}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.1",
        "name": "Departamento de Educación | USAGov", "url": "https:\/\/www.bing.com\/cr?IG=DA1FAB52FD894DA7B1282E5D9FE442A7&CID=1AECEE37D5A36A0F3DD9E435D4926BB8&rd=1&h=wuztFqaJYxv_MKLQAi3Spxom5Q7vjo-HKqmuZfS9QpM&v=1&r=https%3a%2f%2fgobierno.usa.gov%2fagencias-federales%2fdepartamento-de-educacion&p=DevEx,5106.1",
        "displayUrl": "https:\/\/gobierno.usa.gov\/agencias-federales\/departamento-d[...]
