---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Bing/SearchWeb/v1/Web?$format=JSON&$skip=0&$top=20&Market='en-US'&Options='EnableHighlighting'&Query='government%20agency%20(site:usa.gov)'
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OnQyd2Z1SmRTQUJPY1AzSDhpcXJOSldoWGc2Zmh0WEFFSnIzbXFBWHcrVGM9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Activityid:
      - 5185ce94-11f4-4fc5-a481-980348d9b653
    body:
      encoding: UTF-8
      string: '{"d":{"results":[{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027government
        agency (site:usa.gov)\u0027&$skip=0&$top=1","type":"WebResult"},"ID":"0551fad9-6600-49d5-8c19-10364b6a37c0","Title":"Government
        Agencies and Elected Officials | USAGov","Description":"Government Agencies
        and Elected Officials. Find contact information for federal, state, and local
        government agencies; government-related programs; and elected officials.","DisplayUrl":"https://www.usa.gov/agencies","Url":"https://www.usa.gov/agencies"},{"__metadata":{"uri":"https://api.datamarket.azure.com/Data.ashx/Bing/SearchWeb/v1/Web?Market=\u0027en-US\u0027&Options=\u0027EnableHighlighting\u0027&Query=\u0027government
        agency (site:usa.gov)\u0027&$skip=1&$top=1","type":"WebResult"},"ID":"456ec5f4-0603-44b6-bdf3-6925d66430ef","Title":"A-Z
        Index of U.S. Government Departments and Agencies","Description":"Directory
        listing for federal agencies and departments: A ... Official Guide to [...]
