---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?count=20&mkt=es-US&offset=0&q=educaci%C3%B3n%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=Moderate&textDecorations=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 135D3D7F1D3B4A49957C3FEEA543DCA1
      X-Msedge-Clientid:
      - 2200258F9CEB686F2AA42FB59DDA6938
      X-Msapi-Userstate:
      - 340b
      Bingapis-Market:
      - es-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/cr?IG=BA713DE193BF4E10B6ED992ECC76AFCB&CID=2200258F9CEB686F2AA42FB59DDA6938&rd=1&h=YmAa_MqH_C_oA9HhqgMGN1Z3S2iVP4euksM8J9_Filk&v=1&r=https%3a%2f%2fwww.bing.com%2fsearch%3fq%3deducaci%25c3%25b3n%2b(site%253ausa.gov)&p=DevEx,5465.1",
        "totalEstimatedMatches": 27100, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.0",
        "name": "Recursos para la educación | GobiernoUSA.gov", "url": "https:\/\/www.bing.com\/cr?IG=BA713DE193BF4E10B6ED992ECC76AFCB&CID=2200258F9CEB686F2AA42FB59DDA6938&rd=1&h=ujozBEpTDZLYgh9per8lV0XI4WrrveA-oCsFlscWJVM&v=1&r=https%3a%2f%2fgobierno.usa.gov%2feducacion&p=DevEx,5069.1",
        "displayUrl": "https:\/\/gobierno.usa.gov\/educacion", "snippet": "Educación.
        Información del Gobierno sobre ayuda para estudiantes y personas que quieren
        aprender inglés. Ayuda financiera para estudiantes. Becas, productos ...",
        "dateLastCrawled": "2017-02-28T04:23:00"}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.1",
        "name": "Recursos educativos | GobiernoUSA.gov", "url": "https:\/\/www.bing.com\/cr?IG=BA713DE193BF4E10B6ED992ECC76AFCB&CID=2200258F9CEB686F2AA42FB59DDA6938&rd=1&h=Bzh9nk8sQIf4CmV9NMmEOFrqiwQOdbVYg1X_GuJvkdM&v=1&r=https%3a%2f%2fgobierno.usa.gov%2frecursos-educativos&p=DevEx,5083.1",
        "displayUrl": "https:\/\/gobierno.usa.gov\/recursos-educativos", "snippet":
        "Consulte el sitio [...]
