---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?count=20&mkt=en-US&offset=0&q=government%20agency%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=Moderate&textDecorations=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 26A90B9A10764AD0AB3D985E232C13AF
      X-Msedge-Clientid:
      - 16795A0EC0EC6611235153EFC1DD6785
      X-Msapi-Userstate:
      - 8a4f
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/cr?IG=BA5DF354244448CDB67BCA52F4EE906A&CID=16795A0EC0EC6611235153EFC1DD6785&rd=1&h=hwtYFG6NZgYh9vGZx5ecS2qDHeBOxdeO8zEsRbydilM&v=1&r=https%3a%2f%2fwww.bing.com%2fsearch%3fq%3dgovernment%2bagency%2b(site%253ausa.gov)&p=DevEx,5524.1",
        "totalEstimatedMatches": 102000, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.0",
        "name": "A-Z Index of U.S. Government Departments and Agencies", "url":
        "https:\/\/www.bing.com\/cr?IG=BA5DF354244448CDB67BCA52F4EE906A&CID=16795A0EC0EC6611235153EFC1DD6785&rd=1&h=g6MPzLGxnIcsKno_Hh4zefmz7caGFde-55nfG8ht4Gw&v=1&r=https%3a%2f%2fwww.usa.gov%2ffederal-agencies%2fa&p=DevEx,5105.1",
        "displayUrl": "https:\/\/www.usa.gov\/federal-agencies\/a", "snippet":
        "Directory listing for federal agencies and departments: A", "deepLinks":
        [{"name": "Departments and Agencies", "url": "https:\/\/www.bing.com\/cr?IG=BA5DF354244448CDB67BCA52F4EE906A&CID=16795A0EC0EC6611235153EFC1DD6785&rd=1&h=7pmxyeTjZzpSPlfzCVSSjIunbXrTaMTuX16vXzOrh7I&v=1&r=https%3a%2f%2fwww.usa.gov%2ffederal-agencies%2fi&p=DevEx,5096.1"},
        {"name": "Government''s", "url": "https:\/\/www.bing.com\/cr?IG=BA5DF354244448CDB67BCA52F4EE906A&CID=16795A0EC0EC6611235153EFC1DD6785&rd=1&h=3GUVela1pni2Cw-ASMrXWEQ4CFnHDuvPeQ8RoKeNxOA&v=1&r=https%3a%2f%2fwww.usa.gov%2ffederal-agencies%2fb&p=DevEx,5097.1"},
        {"name": "Federal Agencies", "url": "https:\/\/www.bing.com\/cr?IG=BA5DF354244448CDB67BCA52F4EE906A&CID=16795A0EC0EC6611235153EFC1DD6785&rd=1&h=wgNuYSyAwU1U1yO9WUaUR2ZbJm7CkdLQtJrqn6QW-n0&v=1&r=https%3a%2f%2fwww.usa.gov%2ffederal-agencies%2fn&p=DevEx,5098.1"},
        {"name": "Government Agencies", "url": "https:\/\/www.bing.com\/cr?IG=BA5DF354244448CDB67BCA52F4EE906A&CID=16795A0EC0EC6611235153EFC1DD6785&rd=1&h=fb-4YXN_DLtXaJfWKLsZq7wJkmgvMIEZh3Pjufj1w0c&v=1&r=https%3a%2f%2fwww.usa.gov%2fagencies&p=DevEx,5099.1",
        "snippet": "Government Agencies and Elected Officials. Find contact
        information for federal, state, and local government agencies; government-related
        programs; and elected officials."}], "dateLastCrawled": "2016-11-27T03:41:00"},
        {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.1", "name":
        "USA.gov - Official Site", "url": "https:\/\/www.bing.com\/cr?IG=BA5DF354244448CDB67BCA52F4EE906A&CID=16795A0EC0EC6611235153EFC1DD6785&rd=1&h=wkElmIJqwZziutjgwIFq8qNbb9Si8IJFSReh5Eg6EpU&v=1&r=https%3a%2f%2fwww.usa.gov%2f&p=DevEx,5128.1",
        "about": [{"name": "United States"}], "displayUrl": "https:\/\/www.usa.gov",
        "snippet": "USA.gov can help you start your search for government information
        by topic and agency.", "deepLinks": [{"name": "Unclaimed Money", "url":
        "https:\/\/www.bing.com\/cr?IG=BA5DF354244448CDB67BCA52F4EE906A&CID=16795A0EC0EC6611235153EFC1DD6785&rd=1&h=3ReE3jimqrQ2UA1MGVLYnYRNEdY_nJITCrTpdr52ASk&v=1&r=https%3a%2f%2fwww.usa.gov%2funclaimed-money&p=DevEx,5118.1"},
        {"name": "Federal Age[...]
