---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?count=20&mkt=en-US&offset=666&q=government%20agency%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=Moderate&textDecorations=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - ECDD47E82A9547C7924619E9046396B8
      X-Msedge-Clientid:
      - 0BAAB17A923E69F303EEBB40930F683C
      X-Msapi-Userstate:
      - eaa5
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/cr?IG=B18BD14C4BF1422C8305E4C80666F1D6&CID=0BAAB17A923E69F303EEBB40930F683C&rd=1&h=hwtYFG6NZgYh9vGZx5ecS2qDHeBOxdeO8zEsRbydilM&v=1&r=https%3a%2f%2fwww.bing.com%2fsearch%3fq%3dgovernment%2bagency%2b(site%253ausa.gov)&p=DevEx,5462.1",
        "totalEstimatedMatches": 49900, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.0",
        "name": "feedback.usa.gov", "url": "https:\/\/www.bing.com\/cr?IG=B18BD14C4BF1422C8305E4C80666F1D6&CID=0BAAB17A923E69F303EEBB40930F683C&rd=1&h=pt_qaP9o6DS-ix13kHbZk5N26keb8-VqlmY0NjgNKNc&v=1&r=https%3a%2f%2ffeedback.usa.gov%2f&p=DevEx,5065.1",
        "displayUrl": "https:\/\/feedback.usa.gov", "snippet": "feedback.usa.gov;
        RSS Feed; ... Improving customer service is a cross-agency priority (CAP)
        goal. ... An official website of the US Government.", "dateLastCrawled":
        "2017-02-24T16:02:00"}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.1",
        "name": "State and Local Consumer Agencies in Connecticut | USA.gov",
        "url": "https:\/\/www.bing.com\/cr?IG=B18BD14C4BF1422C8305E4C80666F1D6&CID=0BAAB17A923E69F303EEBB40930F683C&rd=1&h=JcbD3rYul4XvzvdgHl_cMK3rhe-IEnaXr87AvrpD5x4&v=1&r=https%3a%2f%2fwww.usa.gov%2fstate-consumer%2fconnecticut&p=DevEx,5080.1",
        "displayUrl": "https:\/\/www.usa.gov\/state-consumer\/conn[...]
