---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v5.0/search?count=20&mkt=en-US&offset=666&q=government%20agency%20(site:usa.gov)&responseFilter=WebPages,SpellSuggestions&safeSearch=Moderate&textDecorations=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - AC915E7F70F4442A99AE6E727019BEF1
      X-Msedge-Clientid:
      - 35A948E4F56E6837223B42DDF45F691C
      X-Msapi-Userstate:
      - b186
      Bingapis-Market:
      - en-US
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/cr?IG=A45B6C2BC1C94E4AAC9A940402EBA6B6&CID=35A948E4F56E6837223B42DDF45F691C&rd=1&h=hwtYFG6NZgYh9vGZx5ecS2qDHeBOxdeO8zEsRbydilM&v=1&r=https%3a%2f%2fwww.bing.com%2fsearch%3fq%3dgovernment%2bagency%2b(site%253ausa.gov)&p=DevEx,5456.1",
        "totalEstimatedMatches": 49400, "value": [{"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.0",
        "name": "State and Local Consumer Agencies in Wisconsin | USA.gov", "url":
        "https:\/\/www.bing.com\/cr?IG=A45B6C2BC1C94E4AAC9A940402EBA6B6&CID=35A948E4F56E6837223B42DDF45F691C&rd=1&h=6OFNGyx2aXFjBf4sOI7IykokotHLJZ38LdW8B4j9PHs&v=1&r=https%3a%2f%2fwww.usa.gov%2fstate-consumer%2fwisconsin&p=DevEx,5065.1",
        "displayUrl": "https:\/\/www.usa.gov\/state-consumer\/wisconsin", "snippet":
        "State and local consumer agencies in Wisconsin. Get advice, help with complaints,
        and more.", "dateLastCrawled": "2017-02-26T13:01:00"}, {"id": "https:\/\/api.cognitive.microsoft.com\/api\/v5\/#WebPages.1",
        "name": "Surface Transportation Board | USA.gov", "url": "https:\/\/www.bing.com\/cr?IG=A45B6C2BC1C94E4AAC9A940402EBA6B6&CID=35A948E4F56E6837223B42DDF45F691C&rd=1&h=tsAL7sgMXqUS9b5X_H9kQ_vXgqy79BEO7LXC-8Z8knY&v=1&r=https%3a%2f%2fwww.usa.gov%2ffederal-agencies%2fsurface-transportation-board&p=DevEx,5080.1",
        "displayUrl": "https:\/\/www.usa.gov\/federal-agencies\/surface-transpor[...]
